[2018-04-29 12:38] sd1998 commented on #2315
@zulipbot claim

[2018-04-29 16:45] borisyankov commented on #2416
This looks like the normal behavior of the phone's keyboard.

[2018-04-29 16:45] #2416 closed

[2018-04-30 17:06] lukasIO opened #2433 "Muted stream doesn't reflect in UI [iOS]"
When muting a stream on the iOS app, it gets muted, but on return to the settings the muted toggle displays as inactive, but the stream is still (displayed as) muted
![grafik](https://user-images.githubusercontent.com/12997837/39439861-54b88dc6-4ca9-11e8-8b86-ac82b4b787f6.png)

[2018-04-30 18:53] gnprice opened #2434 "Chinese and Japanese input don't work on iOS (blocked on RN v0.57)"
The normal input methods for users to write in Chinese or in Japanese don't work in our app, on iOS.

You don't need to know any Chinese or Japanese to work on this issue; I've described how to reproduce it below. Ask me here or in chat if something is confusing.

Steps to reproduce:
* In iOS settings, go to "General -> Keyboard -> Keyboards -> Add New Keyboard...". Select "Chinese (Simplified) ->

[2018-04-30 19:04] borisyankov commented on #2434
This is related:
https://github.com/facebook/react-native/issues/18403

[2018-05-02 16:04] timabbott commented on #2419
We fixed https://github.com/zulip/zulip/issues/9251, which I'll deploy to chat.zulip.org shortly.  We should make sure that the result actually looks good on the device (whether it does sorta depends on whether newlines get displayed properly).

[2018-05-02 19:43] jpellman commented on #1463
I'm able to replicate the auth issue on version 12.4.84 of the mobile app on Android.  My Zulip host is configured to use LDAP where the username is not an e-mail address and stored within LDAP according to scenario C [here|https://github.com/zulip/zulip/blob/9a0fdf5b8dca376570bc182428ba6148fdba52c1/zproject/prod_settings_template.py#L366-L394].  When I try to log in with just the LDAP username an

[2018-05-02 20:00] timabbott commented on #1463
@borisyankov @gnprice the original LDAP issue should be straightforward to verify in the code: If `server_settings` returns `require_email_format_usernames=False` in the response, we should not include "email address" validation in the field and label the field appropriately as a username, not an email.

[2018-05-02 20:09] borisyankov commented on #1463
@timabbott There were two other cases where we needed the `server_settings`, I am adding persistence for that setting next. Can we not get this via the `register` call?

[2018-05-02 20:12] timabbott commented on #1463
This is on the login screen, and thus always before `register`.  The whole point of `server_settings` is that it's the thing you can do without any credentials.

[2018-05-02 20:14] borisyankov commented on #1463
Yeah, for that call sure, we already request it there, I was considering the other cases too.

[2018-05-03 01:18] gnprice opened #2447 "Bundle a font in the app and use it consistently"
There are a lot of spots in the app where our layout is affected by nuances of the font used.
* An extreme example is #2365 -- a component we get from one of our dependencies comes out completely broken with the default font on certain devices.
* A more subtle example was uncovered in chat at [#mobile > input height discrepancy](https://chat.zulip.org/#narrow/stream/48-mobile/subject/input.20heigh

[2018-05-05 20:25] jhurwitz commented on #2339
Just updated to 13.2.86 (1) via Testflight. My pointer is still stuck at
the same location in March.

On Fri, Apr 27, 2018 at 8:29 AM Boris Yankov <notifications@github.com>
wrote:

--
Jacob
@gmail

[2018-05-07 08:48] borisyankov opened #2459 "TypeError: undefined is not an object (evaluating 'e[r].email')"
https://sentry.io/zulip/zulip-mobile/issues/549426087/

[code]

[2018-05-07 08:59] borisyankov commented on #2274
Closing as fixed.

[2018-05-07 08:59] #2274 closed

[2018-05-07 17:08] borisyankov opened #2463 "Remove emoji replacement in favor of server-side processing"
We now support server-side emoticon replacement in message content.
There is no need to do that on the client anymore.

[2018-05-07 21:32] Yoshi8765 commented on #2413
I still get a form of this in my android version (also similar to #2287). My current version is v12.4.84 .
I just started talking to a user on mobile via PM, and every single message I wrote would not show up. only when they respond, and I click the notification that comes up, will my sent messages (along with their new message) show up.
This user isn't someone I just started talking to, there's a

[2018-05-07 22:03] borisyankov commented on #2274
You are right. The fix we implemented only refers to the messages in the message list.
On some servers the zoomed-in view does not yet show them. We will be working on this next.

[2018-05-07 22:27] Yoshi8765 commented on #2413
strangely enough, no issue when I sent a PM to a different person. https://streamable.com/zoqyd

[2018-05-07 23:47] borisyankov commented on #2413
@Yoshi8765 I think I know one case where this will be happening and will be fixing it next.
Hope it is only this single case needed fixing.

[2018-05-08 00:27] borisyankov commented on #2139
The original issue is now fixed. Closing.

[2018-05-08 00:27] #2139 closed

[2018-05-08 09:01] #2463 closed

[2018-05-08 15:38] #2433 closed

[2018-05-08 17:14] jainkuniya opened #2475 "Messages are not marked as read in some topic narrow."
For some unread topics, the messages were not marked read after scrolling through the list... This didn't occur for all topics consistently
screencast: https://drive.google.com/open?id=1hivF-AcBCHMhadjUeJdqpWjlCt8DEOFc
app version : 13.2.86
platform: iOS 11.2.6

https://chat.zulip.org/#narrow/stream/48-mobile/topic/unread.20topic.20messages

@zulipbot claim

[2018-05-08 19:25] borisyankov commented on #2475
@jainkuniya I have a fix for that.

[2018-05-09 10:56] #1744 closed

[2018-05-09 12:11] #2475 closed

[2018-05-09 14:18] borisyankov commented on #2277
I confirm the original issue has been fixed.

[2018-05-09 14:18] #2277 closed

[2018-05-09 14:26] borisyankov commented on #2413
@Yoshi8765 I did test extensively and what I expected might be the cause is working. So I am not sure how to reproduce.

The red bug you are getting might be something related to message encoding (a wild educated guess) but I have no idea what is going on.

[2018-05-09 14:28] borisyankov commented on #2106
Closing as fixed.

[2018-05-09 14:28] #2106 closed

[2018-05-09 14:29] borisyankov commented on #1952
Closing as fixed.

[2018-05-09 14:29] #1952 closed

[2018-05-09 14:29] borisyankov commented on #1854
Closing as fixed.

[2018-05-09 14:29] #1854 closed

[2018-05-09 14:30] borisyankov commented on #1813
Closing as fixed.

[2018-05-09 14:30] #1813 closed

[2018-05-09 14:30] borisyankov commented on #322
No longer relevant.

[2018-05-09 14:30] #322 closed

[2018-05-09 14:31] borisyankov commented on #359
We are doing this as an ongoing task. No need to keep this open.

[2018-05-09 14:31] #359 closed

[2018-05-09 14:32] borisyankov commented on #456
Closing as done.

[2018-05-09 14:32] #456 closed

[2018-05-09 14:33] borisyankov commented on #510
No longer relevant.

[2018-05-09 14:33] #510 closed

[2018-05-09 14:34] #517 closed

[2018-05-09 14:34] borisyankov commented on #1197
Closing as implemented.

[2018-05-09 14:34] #1197 closed

[2018-05-09 14:35] borisyankov commented on #1471
Closing as 'stale'.

[2018-05-09 14:35] #1471 closed

[2018-05-09 14:36] borisyankov commented on #2039
Closing as implemented.

[2018-05-09 14:36] #2039 closed

[2018-05-09 14:37] borisyankov commented on #1473
We may implement some 'refreshing' but it will not likely be the refresh behavior explained.

[2018-05-09 14:37] #1473 closed

[2018-05-09 14:51] Yoshi8765 commented on #2413
@borisyankov ok, if that's the case I'll closely watch the app and try to report with as much info as possible if it happens again.

[2018-05-09 15:03] borisyankov commented on #2459
Closing as fixed by this line:
[code]

[2018-05-09 15:03] #2459 closed

[2018-05-09 15:04] borisyankov commented on #2413
Thanks. 👍
I hope it never appears, but if it does and we can reproduce, this will be a very high priority fix.

[2018-05-09 16:53] timabbott opened #2483 "Visual jerkiness/rerendering of the message view after sending a message"
More than half the time, if I send a message to a topic narrow I'm caught up on, the mobile app has the following sequence:
* I hit send, we hide compose, and the message appears (with a loading indicator in the timestamp slot)
* The message finishes sending, and the loading indicator disappears
* We get the message from the server, and it does a jerky, very visual rerender, that seems to bounce t

[2018-05-09 16:58] borisyankov commented on #2483
Yeah, I've noticed that for sure. It might be unavoidable in some cases (a difference between client and server rendering), but I think in the majority of cases it should be avoidable.

I think now that the loading and positioning issues are mostly resolved, this is important enough to tackle next?

[2018-05-09 17:11] timabbott commented on #2483
Yeah, I think there's two things we can do with this:
* You can just compare the content between client and server and only do a rerender if they're different; that's 90% of what we do in the webapp
* We could get smarter about the way we execute the rerendering, to avoid having the scroll position bounce around.  The Zulip webapp certainly does this every time something is edited without a visual

[2018-05-09 17:13] borisyankov commented on #2483
@timabbott this is our 'outbox' feature where we render the message when you send it vs the message got from the server. I think the spinner might also be changing the widths. Might not be too complicated to fix.

[2018-05-09 17:15] timabbott commented on #2483
Yeah, we do the exact same thing in the webapp (it's called "local echo" there; tons of code in `echo.js` for it).

[2018-05-10 08:34] agzuniverse commented on #2065
@zulipbot claim --force

[2018-05-10 10:56] stiobhan opened #2488 "Log in with username (LDAP) not possible"
With version 13.2.86 on Android

**Actual Behaviour**

I start the app and enter our organization's URL, then I see two buttons labeled "Log in with password". If I select the first one, a dialog shows up to enter email and password. If I press the second one a dialog shows up to enter username and password. In *both* dialogs the Log in button is greyed out until I enter a password and something t

[2018-05-10 14:19] borisyankov commented on #2488
Thanks for the detailed bug report.
I'll work on this next and this will be fixed soon.

[2018-05-10 16:58] #2488 closed

[2018-05-10 19:36] timabbott opened #2493 "Check zulip-mobile for doing gravatar URL case properly"
See https://github.com/zulip/zulip/commit/4abbfe91541933683034b27e85bf80ce7c77f0ec for an issue we just fixed on web that seems likely is broken on mobile too.

[2018-05-10 20:41] gnprice opened #2494 "Update Android target API level to 26"
Google Play now gives me the following warning when I upload a new release for Android:

So we have a deadline of November -- but this is a bit of housekeeping it'd be good to do anytime. Updating means we'll adapt our app to use certain new APIs when on newer Android versions, in order to make friendlier use of system-level resources like permissions, notifications, and background execution. (Thi

[2018-05-11 14:33] #2493 closed

[2018-05-12 23:09] timabbott opened #2502 "Double-sending bug in mobile app"
We seem to have a double-sending bug in the mobile app that I've seen a few times recently.  Here's a case where it happened to me:

https://chat.zulip.org/#narrow/stream/31-production-help/subject/Git.20upgrade.20fails.20at.20yarn.20install/near/578549

Fundamentally, this seems like the kind of thing that happens when you have buggy "error retry" logic that retries even for some non-error cases,

[2018-05-13 13:02] borisyankov commented on #2502
I am bundling this with the 'sending visual jerkiness' and 'sending code refactoring' and will work on this next.

[2018-05-14 08:00] borisyankov opened #2505 ""SyntaxError: Unexpected identifier" in webview"
https://sentry.io/zulip/zulip-mobile/issues/554709208/

[code]

[2018-05-14 10:26] simoneOnFhir commented on #1789
I am still having this issue with Android: Tapping a notification just opens the app but doesn't narrow to the stream / conversation. Is that still an open issue?

[2018-05-14 10:36] kunall17 commented on #1789
@simoneOnFhir was it a stream message, private or a group message?

[2018-05-14 11:18] borisyankov commented on #1789
@simoneOnFhir it should work and it does in most cases. We need to figure it out, it is a bug.
Are you sure you are on the latest version? Latest one is `13.2.86`

[2018-05-14 11:29] timabbott commented on #1789
I saw something similar on the latest version as well.

[2018-05-14 11:34] simoneOnFhir commented on #1789
Oh! I just realized that apparently I had a retired version of the app. I installed the new one and will let you know

[2018-05-14 11:47] simoneOnFhir commented on #1789
Huh. That did the trick. When I went to the Play Store to figure out which version I am using, I realized that Zulip showed up as "not installed", so I did, then I had two apps and the new one works correctly.

[2018-05-14 13:31] simoneOnFhir commented on #1789
yes, I guess that's what happened

[2018-05-14 13:36] borisyankov commented on #1789
Cool! Thanks for clarifying.

I am closing this issue as we are tracking the remaining sub-tasks in other issues.

[2018-05-14 13:36] #1789 closed

[2018-05-14 15:00] jmandel commented on #1304
It sure looks like one. In any case, it'd be a helpful feature on mobile!

[2018-05-14 21:32] jmandel opened #2512 "Allow message responses from within Adroid notification bar"
Viewing messages from notification bar ais great. It's also extremely convenient to be able to respond directly inline. I find myself using this behaviour in Hangouts/Slack/WhatsApp all the time.

[2018-05-14 23:14] borisyankov commented on #2512
Do you mean that they have a "Reply" button in the notifications?
Can you share a screenshot?
What device are you on? Some vendors have UI customizations and you might be seeing one of these...

[2018-05-15 05:27] jmandel commented on #2512
It's standard android feature that I just learned is called "Direct Reply". Overview at https://segunfamisa.com/posts/notifications-direct-reply-android-nougat.

[2018-05-15 07:39] kunall17 commented on #2295
@zulipbot claim

[2018-05-17 08:19] agzuniverse opened #2521 "Show bot conversations"
When there are no conversations (As in the case of this empty realm)
![screenshot_20180517-134148](https://user-images.githubusercontent.com/22353313/40164913-6d07ed86-59d8-11e8-97aa-0becdfea992b.png)

The "No recent conversations" text does not come up, and it just displays an empty screen, because there is a default conversation from welcome-bot that is not being shown.

[2018-05-18 22:02] borisyankov commented on #1083
Closing as fixed. (long time ago)

[2018-05-18 22:02] #1083 closed

[2018-05-18 22:03] borisyankov commented on #186
Not totally relevant with webview / not sure we need to do it now.

[2018-05-18 22:03] #186 closed

[2018-05-18 22:04] borisyankov commented on #472
Original issue resolved long-time ago. Closing.

[2018-05-18 22:04] #472 closed

[2018-05-18 22:05] borisyankov commented on #1081
This is an old issue with multiple fixes and improvements since then.
Considering it fixed.

[2018-05-18 22:05] #1081 closed

[2018-05-18 22:07] borisyankov commented on #1404
Closing as fixed.

[2018-05-18 22:07] #1404 closed

[2018-05-18 22:12] borisyankov commented on #1927
We had made several improvements in this area.
I confirm the app no longer crashes in this case.

[2018-05-18 22:12] #1927 closed

[2018-05-18 23:10] borisyankov commented on #2502
Closing this issue in favor of the duplicate #2374
Will be working on this next.

[2018-05-18 23:10] #2502 closed

[2018-05-18 23:10] borisyankov commented on #2521
This can be reframed as 'show bot conversations'

[2018-05-18 23:14] borisyankov commented on #2126
Closing as fixed.

[2018-05-18 23:16] borisyankov commented on #1974
I removed the 'bug' label as currently, this functionality is working as intended.
We can rethink the behavior though.

[2018-05-18 23:17] borisyankov commented on #1934
Closing as implemented.

[2018-05-18 23:17] #1934 closed

[2018-05-18 23:19] borisyankov commented on #1880
This is working well, closing the issue.

[2018-05-18 23:19] #1880 closed

[2018-05-18 23:26] #1187 closed

[2018-05-18 23:26] #1185 closed

[2018-05-18 23:32] #1716 closed

[2018-05-19 07:44] agzuniverse opened #2534 "Crash when viewing account details that doesn't show timezone"
When viewing account details of anyone that doesn't make their timezone visible, the app crashes.
This is the crash screen:
![screenshot_20180518-234838](https://user-images.githubusercontent.com/22353313/40266307-8dcf4174-5b66-11e8-865a-01fd9f7a9b0c.png)

[2018-05-19 08:27] agzuniverse commented on #2534
@zulipbot claim

[2018-05-19 11:17] borisyankov commented on #2534
Fixed by #2535

[2018-05-19 11:17] #2534 closed

[2018-05-19 13:08] borisyankov commented on #409
We have achieved a reasonably good state of implementing this. Further work is always ongoing.

[2018-05-19 13:08] #409 closed

[2018-05-19 13:11] borisyankov commented on #2146
Two bug fixes merged into `master` since this issue (last one not yet released to app stores).
It is no longer reproducible. Closing.

[2018-05-19 13:11] #2146 closed

[2018-05-19 13:12] borisyankov commented on #2076
The original issue was fixed a long time ago.

[2018-05-19 13:12] #2076 closed

[2018-05-19 13:13] #1965 closed

[2018-05-19 13:14] #1834 closed

[2018-05-19 13:18] borisyankov commented on #1667
We have made improvements in this area.
Further work to make the UI more flexible is always welcome.
We no longer need to track that explicitly.

[2018-05-19 13:18] #1667 closed

[2018-05-19 13:32] borisyankov commented on #1463
We now take into account `require_email_format_usernames` and this will work with the next release.

[2018-05-19 13:32] #1463 closed

[2018-05-20 23:37] borisyankov opened #2538 "Fix rare exception in webview on Android"
Rendering some messages (very rarely, but consistently) throw an error on Android.

[2018-05-20 23:51] borisyankov opened #2539 "Sent messages not shown after narrowing from a notification"
@rishig and @timabbott reported an issue where after narrowing to a PM conversation from a notification, sent messages were not displayed.

I was not able to reproduce the issue trying it in several different configurations and states, but it remains high-priority.

[2018-05-21 01:04] borisyankov opened #2540 "Webview throws exception on Android 4.4"
The `Element.matches` function is not supported on Android 4.4 causing many interactions inside the webview to throw an exception.

[2018-05-21 09:18] #2540 closed

[2018-05-23 12:07] borisyankov opened #2554 "Messages not marked as read if too few messages in narrow"
Since no scroll can happen, no scroll event is sent.

[2018-05-23 15:48] borisyankov opened #2555 "Password and LDAP enabled as auth methods result in duplicate Login buttons"

[2018-05-23 16:48] #2555 closed

[2018-05-23 17:32] borisyankov commented on #2538
It seems the error happens when we send some html messages to the phone (when transitioning from 'loading' to 'some messages loaded' state).
When the messages already exist, they are rendered properly.

[2018-05-23 22:06] gnprice opened #2558 "SyntaxError on invalid token in webview"
This looks a lot like #2505 , but the specific syntax error is different.

See https://sentry.io/zulip/zulip-mobile/issues/554709208/events/20750069553/ :

We also [got a report](https://chat.zulip.org/#narrow/stream/48-mobile/subject/illegal.20token/near/583456) from a user on 13.2.86, with a message that's worded differently but seems to mean the same thing, and the same line and column numbers:

[2018-05-23 22:13] gnprice commented on #2538
@borisyankov says this issue may be related to #2505 and #2558.

[2018-05-24 00:55] gnprice commented on #1304
Closing in favor of #303.

[2018-05-24 00:55] #1304 closed

[2018-05-24 00:56] gnprice commented on #303
There's a bit more discussion on #1304 , which was a dupe of this.

[2018-05-24 00:57] gnprice commented on #586
The linked issues are all closed, and the app has been out in public for some time. Closing; we have plenty of specific threads for specific issues in the iOS app.

[2018-05-24 00:57] #586 closed

[2018-05-24 01:00] gnprice commented on #1322
We dealt with this some time ago on an interim basis by just clearing the counts to zero. Accurately tracking them would be great, and requires some care and help from the server; we can track that in its own thread.

[2018-05-24 01:00] #1322 closed

[2018-05-24 01:03] gnprice commented on #605
I believe there's nothing actionable remaining in this item, so closing it. If there's a followup still outstanding, let's open a specific issue for that.

[2018-05-24 01:03] #605 closed

[2018-05-24 01:05] gnprice commented on #1102
I believe this was a dupe of #117 (after sorting out the confusingness of our legacy app) -- closing in favor of that issue.

[2018-05-24 01:05] #1102 closed

[2018-05-24 01:06] gnprice commented on #1351
Closing in favor of #117.

[2018-05-24 01:06] #1351 closed

[2018-05-24 01:06] timabbott commented on #2415
@gnprice I think we probably need to do something with Zulipbot configuration to not mention the wrong folks... worth chatting with @synicalsyntax in PMs about how to configure it right.

[2018-05-24 01:07] gnprice commented on #117
Some later discussion in #1102 and #1351.

[2018-05-24 01:12] gnprice commented on #444
I happened to try changing the system text size on iOS the other day while the app was running. On the message list screen (where I was), the text in the app bar correctly responded. So something we've done in the past 14 months probably fixed this issue.

I'll open a separate issue for the message text, as that's probably unrelated to whatever made this not work in general when this issue was ori

[2018-05-24 01:12] #444 closed

[2018-05-24 01:16] gnprice opened #2559 "iOS: message list doesn't respect system text size"
On my iPhone 6 running iOS 10, I had the Zulip app open to the message list screen, then went over to system settings and changed the text size. The text in the app bar responded appropriately, but the message list didn't change.

This would make most of the app's functionality totally unusable for someone with a visual impairment who needs a large text size.

Compare #444, where a version of the

[2018-05-24 01:18] gnprice commented on #528
I think there's no longer anything specifically actionable on this, so closing.

[2018-05-24 01:18] #528 closed

[2018-05-24 01:19] gnprice commented on #430
We have a retry loop which has gone through several iterations since this was filed. Closing this issue, in favor of specific threads for any specific issues we identify with it.

[2018-05-24 01:19] #430 closed

[2018-05-24 01:32] gnprice commented on #2415
Ha, gosh, I didn't even realize zulipbot was set up to try to @-mention teams on this repo. I'll follow up.

[2018-05-24 14:15] agzuniverse commented on #2521
Resolved by #2562 , thanks @borisyankov !

[2018-05-24 14:15] #2521 closed

[2018-05-24 15:32] borisyankov commented on #2539
There was a significant bug fix related to this 4-5 weeks ago, but this is on a newer version.
I have a good guess for a specific behavior that I do not consider a bug as we intended it to work that way, but might result in this.
Surprisingly, testing on several different configurations and states I was not able to reproduce.

The reason a user might not be seeing message updates is that he is not

[2018-05-24 17:42] gnprice commented on #2539
​When I observed this, I had the latest messages in the thread.

If a user didn't but we made it look like they did (they're at the end, and
there's no indication that anything is loading, even if they wait a moment
or attempt to overscroll), that'd be a bug in itself, and we've had bugs
like that. But that's not what happened when I observed this bug.

These were PM threads with just a couple of

[2018-05-24 17:52] gnprice commented on #2559
​Just to be clear: this is definitely not the appropriate behavior for our
app. The user doesn't know or care that we've used a webview to implement
the message list -- they just want the text size to be the way they've
configured it.

If you'd like to work up a fix (by making the text in the webview scale in
tandem with the rest of the app), that'd be great. I agree, this is an area
where changes

[2018-05-24 19:39] timabbott commented on #1888
We should definitely narrow to the first unread message.  And we should communicate clearly what's going on -- that we took you to the start of the relevant conversation.  E.g. in the spot where we have the "15 unread messages" banner, we could say something like "15 unread messages; you are mentioned 5 messages below".

[2018-05-25 10:06] roberthoenig commented on #2287
@zulipbot claim

[2018-05-25 20:32] borisyankov commented on #2287
@roberthoenig not sure how involved would be to implement this... or more correctly I suspect it will require a lot of rethinking and reworking.
Still, not a bad idea to examine the issue and share your thoughts.

[2018-05-25 22:41] gnprice opened #2572 "Message list jerks when compose menu is expanded"
Reported by @jainkuniya in #2565. See screen captures:
https://chat.zulip.org/user_uploads/2/a1/E2ni2cyBSY-NbdOHLysj4OjF/before-self-narrow.mov
https://chat.zulip.org/user_uploads/2/d7/thaZMo_sTidyhDIxWOBQgONh/before-pm-narrow.mov

[2018-05-25 22:42] gnprice commented on #2572
And copying my thoughts from there on ways to address this:

Playing with Facebook Messenger as one comparison, since they also have a compose box with a similarly-styled expanding menu, I see they do at least two things differently from us that would help -- in fact either of these would prevent the jerks in the videos:

* When the compose box shrinks to get out of the way of the menu, there's no

[2018-05-26 17:07] borisyankov commented on #2572
We should not be switching the Input from multi-line to one-line. Implementation-wise it is a property change for us but a new native component is recreated, and there are some consistency issues that (losing focus I think it was last time) that make it more complicated/buggy.

[2018-05-26 17:08] borisyankov commented on #2572
As a reality-check... this is a minor issue that does not deserve huge efforts, versus other parts of the app these efforts can be better spent.

[2018-05-26 19:09] timabbott commented on #2572
I think that this sort of jerkiness is pretty important to how the app feels.

[2018-05-29 21:28] borisyankov opened #2584 "ReferenceError: Can't find variable: message"
https://sentry.io/zulip/zulip-mobile/issues/564882865/

[code]

[2018-05-29 21:41] borisyankov opened #2585 "TypeError: TypeError: undefined is not an object (evaluating 'e.name.toLowerCase')"
https://sentry.io/zulip/zulip-mobile/issues/562779649/

[code]

[2018-05-30 09:56] borisyankov commented on #2584
@kunall17 do you have an idea what is the exact issue?
Is it in `zulip-markdown` or the `chjj/marked` project?
What can we do to prevent this?

[2018-05-30 10:01] borisyankov commented on #1481
Closing as no longer relevant.

[2018-05-30 10:01] #1481 closed

[2018-05-30 10:13] borisyankov opened #2589 "Text input gets very slow on some Android devices"
On some Android devices, in some specific cases, the 'compose' input responds very slowly to a point of being unusable.
Reported here:
https://chat.zulip.org/#narrow/stream/48-mobile/topic/speed

The issue was reproduced on Pixel 2, so it is not a purely performance problem.

Very likely, it is related to:
https://github.com/facebook/react-native/issues/19126

The fix then seems to be to make our

[2018-05-30 10:13] #1007 closed

[2018-05-30 10:16] #995 closed

[2018-05-30 13:35] borisyankov opened #2591 "Pressing a notification narrows to 'All messages'"
Pressing a notification sometimes shows 'All messages' narrow, instead of the correct one.

[2018-05-30 14:22] borisyankov commented on #1055
Closing as no longer relevant.

[2018-05-30 14:22] #1055 closed

[2018-05-30 15:35] timabbott commented on #2374
Yes, we've confirmed this particular message was sent with the ZulipMobile client.

[2018-05-30 17:12] borisyankov opened #2596 "Add user groups to autocomplete list"
Trying to at-mention a user group does not work as we do not support user groups.
We now have the data for user groups in store, so adding this is straightforward.

[2018-05-31 00:37] #2591 closed

[2018-05-31 17:54] kunall17 commented on #2584
`Please report this to https://github.com/chjj/marked.` I have seen this when the parsing is failed.
Here we see at this point https://github.com/zulip/zulip-mobile/blob/6d3109d54315aede36cd78530fa31f69e42149ee/src/compose/ComposeBox.js#L167 the `message` is undefined as suggested by the error logs, which is weird.

[2018-05-31 21:09] borisyankov commented on #2584
Maybe related to #1248

[2018-05-31 23:17] gnprice opened #2601 "Fold proper container components into their children's modules"
There's a pattern that is very often helpful in React and which we use in a number of places, which many people call "container components" (notably [the Relay post](https://reactjs.org/blog/2015/03/19/building-the-facebook-news-feed-with-relay.html)). (Other sources, notably [this Dan Abramov post](https://medium.com/@dan_abramov/smart-and-dumb-components-7ca2f9a7c7d0), use that term with a much

[2018-06-01 02:53] gnprice opened #2603 "Autocomplete for @-mentions should prioritize users I interact with"
For example, if on chat.zulip.org I type `@tim`, I get 5 suggestions for users I've never heard of -- more than enough to fill the visible list -- before I see Tim Abbott. Similarly if I type `@tab` (the start of the localpart/username of his email address), or `@abb`.

We should follow the same logic the web app has for this. See `typeahead_helper.js`, particularly [`sort_for_at_mentioning`](http

[2018-06-01 03:07] gnprice commented on #2596
Implemented in #2602 .

[2018-06-01 03:07] #2596 closed

[2018-06-01 03:17] #2572 closed

[2018-06-01 04:33] jainkuniya commented on #2603
Hmm, I have worked on this logic few months back. That seems be only useful only for smaller realm.

@zulipbot claim

[2018-06-01 10:38] borisyankov opened #2604 "Add support for `EVENT_STREAM_OCCUPY` in streamReducers"
This is a server event we process and fire an action for.
But we do not process it in any way.

[2018-06-01 15:42] lukasIO opened #2606 "Open OS call menu when clicking a number"
Right now when I click a number in a message (only tested private messages) which is formatted like
 +xx xxx xxxxx or similar, zulip tries to open a website and gives me 404 error.
Would it make sense to open the call menu of the OS in that case instead of linking it to a url?

[2018-06-01 19:51] jackrzhang opened #2607 "Show space for empty lines between paragraphs within the same message."
To demonstrate -

Here's a message in the web app:
![image](https://user-images.githubusercontent.com/12771126/40860434-577452de-65b3-11e8-8805-24ec6dff178b.png)

And here's the same message in mobile:
![image](https://user-images.githubusercontent.com/12771126/40860478-77f990a0-65b3-11e8-85e3-41c0d7dbe0ad.png)

There should be some space between the sentence that ends with '... Jan 8.' and the ne

[2018-06-01 19:52] jackrzhang commented on #2607
@zulipbot claim

[2018-06-01 20:00] jackrzhang commented on #2607
@zulipbot label 'area:layout'

[2018-06-01 20:06] jackrzhang commented on #2607
oops :)

@zulipbot add "area: layout"

[2018-06-01 20:31] jackrzhang opened #2608 "Align emoji reactions across multiple rows."
To demonstrate:

![image](https://user-images.githubusercontent.com/12771126/40862046-399df746-65b9-11e8-9887-171bd79e0361.png)

@zulipbot claim
@zulipbot add "area: layout"

[2018-06-01 20:49] gnprice opened #2609 "Group PMs detail screen has redundant subheader"
When you tap the "info"-icon button from a group PM thread, the screen you get looks like this:
![image](https://user-images.githubusercontent.com/28173/40862518-a070518e-65a1-11e8-9959-61d9f2b70246.png)

The information it's presenting is a simple uniform list, but we have a somewhat generic title in the app bar and then use a subheader to get more specific.

Instead, we should just use an approp

[2018-06-01 21:22] #2065 closed

[2018-06-01 21:27] gnprice commented on #2065
Recording here for the sake of cross-reference -- in addition to the workaround I just merged from @agzuniverse which fixes this issue for us, there's this PR which @jainkuniya sent to one of the upstreams involved: https://github.com/react-native-community/react-native-tab-view/pull/519

[2018-06-01 21:42] jackrzhang opened #2610 "settings: Use the same height for selected and unselected languages."
The height of the row containing the selected language, 'Catalan', is greater than the heights of the rows containing all other unselected languages.

![image](https://user-images.githubusercontent.com/12771126/40864592-71bb8f5e-65c2-11e8-887b-b907ea40f0b5.png)

This isn't really an issue of usability, I just think it would feel a bit more polished if the heights of the rows remained consistent.

[2018-06-02 00:44] gnprice commented on #2603
Great, thanks!

I think this may be what you mean already, but just to be explicit: I think the logic we need and don't yet have, which the web app has, gets more and more necessary as a Zulip org (realm) grows. Our existing logic is potentially enough for small realms, but users of chat.zulip.org, and I think a lot of mid-size realms much smaller than that one, will be glad to see this implemente

[2018-06-02 01:02] timabbott commented on #2603
One thing worth mentioning is that the logic of `sort_for_at_mentioning` is based on the `recent_senders` data structure, which comes from data for the most recent 1200 messages that we fetch in the webapp.

We don't do the same fetch in mobile, so while we can probably use a similar algorithm, I'm not sure we have the data stored effectively in the app currently to do this that same way.

[2018-06-02 01:22] gnprice commented on #2610
Yeah, agreed on all counts. Thanks for raising this!

This isn't a particularly great UI for this task, but it looks like its design is trying to imitate an iOS style found in some settings, like the example with checkmarks in the right-hand screenshot at the top of [this iOS HIG page](https://developer.apple.com/ios/human-interface-guidelines/views/tables/).

It'd be good to fix the layout here s

[2018-06-02 01:38] gnprice opened #2611 "settings: Build a better UI for choosing language"
This will be a bit complex to build, and I think right now we have a number of equally complex areas of UI work to do that will be higher-value. (Most users will only ever touch this screen either zero or one times.) But I'm getting down some thoughts now, since I was looking into this thanks to #2610.

Our screen for choosing the UI language looks like this:
![image](https://user-images.githubuse

[2018-06-02 01:43] gnprice opened #2612 "Default to the system UI language"
I haven't gone and confirmed this empirically (it's a bit annoying to test because it involves uninstalling the app), but from studying our code it looks like we always start out with English for the UI when the app is installed.

We should instead look at the user's language preferences they've set in the system settings, and respect those.

Once we've first installed, we can remember the languag

[2018-06-02 01:47] gnprice commented on #2603
Sure. There are a lot of elements of that algorithm that should be useful independently of each other -- so I'd like to first merge all the ones we can do without additional data.

After that, we can problem-solve how best to do the rest. (For example, there might be appropriate summaries the server could provide us -- potentially even some which would improve ranking quality for the web app beyon

[2018-06-02 01:51] gnprice commented on #2606
Hmm, interesting -- I'm not actually reproducing the behavior where we even try to open it as a link! When I send test messages formatted like phone numbers like that, I only see plain text that doesn't have any special behavior.

Can you post a screenshot of an example, or more details on how you elicit this behavior?

[2018-06-02 08:08] lukasIO commented on #2606
![grafik](https://user-images.githubusercontent.com/12997837/40872321-932007a8-664c-11e8-860a-5cb2331fc2a0.png)

hmm... I’m on iOS, maybe that’s happening on the is level?! (I noticed a short delay between opening the messages and the number turning from plain text to the blue link) The url that opened was in the form of „my.zulip.server/tel:+xxxxxxxxxxx“

[2018-06-02 16:04] borisyankov commented on #2606
We are not doing anything special for this, but we should probably do what you are suggesting.

[2018-06-02 18:32] shubhsherl commented on #2612
Hey, I would like to work on this issue? Can you guide me with this?

[2018-06-03 12:05] shubhsherl commented on #2512
Hey, I would like to work on this, can you guide me through this.

[2018-06-03 12:54] jainkuniya commented on #2512
hi @shubhsherl Thanks for your interest.
This issue itself is a project in it.
Let's discuss it in [mobile stream](https://chat.zulip.org/#narrow/stream/48-mobile) on chat.zulip.org. :)

[2018-06-03 13:21] borisyankov commented on #2512
@shubhsherl this might not be a simple task. Make sure you have an idea first if your skills match what needs to be done.

First steps:
 * see if a React Native component supporting this feature exists
 * read Android SDK's documentation on this feature

If no React Native component exists, be prepared to write both native Java code and JavaScript.

[2018-06-03 17:32] jackrzhang opened #2617 "compose: Hide software keyboard on drag down."
When a user begins composing a message, the operating system software keyboard slides up below the compose box.

In most other chat applications, a user can easily hide the keyboard by dragging down directly above the message input box.

For example, in iOS Messages:

![hide-software-keyboard-imessage](https://user-images.githubusercontent.com/12771126/40882378-1c93b60e-66ae-11e8-9046-24e484b7870f

[2018-06-03 17:51] shubhsherl commented on #2512
Oh, then as a newbie, I would like to tackle easy one first. :stuck_out_tongue_winking_eye:

[2018-06-03 18:00] gnprice opened #2618 "Download from lightbox fails to authenticate"
Steps to reproduce:
* Log into an org on zulipchat.com, or any other server running a recent release and on Xenial. (Not chat.zulip.org, which is on Trusty.)
* Find a conversation with a user-uploaded image in it. (Or just upload one.)
* Tap the image, bringing up the lightbox.
* Tap the ellipsis in the lower right to bring up a menu; select "Download file".
* The download fails. It should succeed

[2018-06-03 18:04] gnprice commented on #2618
Relatedly, a user on iOS reported they were unable to open attachments. This comment is a note to myself to file a proper issue for that, which will probably be a followup to this one.

[2018-06-03 21:59] borisyankov commented on #2617
Nice that you caught that. 👍
This is not available on Android as it has a special button to dismiss the keyboard.
On iOS we need to use a `ScrollView` with `keyboardDismissMode="interactive"`

[2018-06-03 23:50] adambirds opened #2622 "Two login with password options when creating a new account."
## Issue Summary
When creating a new account I am being presented with two login with a password options.
## Screenshot of Issue
![screenshot_20180604-003526](https://user-images.githubusercontent.com/13500254/40892580-0279e912-6791-11e8-88c2-8229dc11d26f.png)
## Version Info
Zulip Mobile: v13.4.88
Phone: Samsung Galaxy S7 Edge

[2018-06-04 00:12] borisyankov commented on #2622
Thanks for reporting this.
This happens when you have both LDAP and 'login with password' enabled.

We have fixed this issue and this will be working in the next release.
(CC @gnprice this is fixed in https://github.com/zulip/zulip-mobile/commit/f2ee751a8e431fd58f38325cea97080d9f19d4f9#diff-4482bccc9bdb5288e5d20df47ff1c595)

[2018-06-04 00:29] adambirds commented on #2622
Had a feeling it was due to that, good to know it will be fixed in the next release!

[2018-06-04 02:43] jackrzhang commented on #2617
@zulipbot add "area: iOS"
@zulipbot add "area: layout"

[2018-06-04 06:52] gnprice opened #2623 "Replace "Share" with "Copy link to message""
When I'm looking at a Zulip message and want to share it with someone, sometimes I want to send them a copy of the message's contents; and sometimes I want to send them a link so they can read the whole conversation around it, when I know they have access to see it.

Currently we don't provide the "link to this message" feature. We should add it to the long-press menu. The simple way to do this is

[2018-06-04 15:32] borisyankov commented on #2618
Also, the issue could be the auth headers which we can not provide with this API - `CameraRoll.saveToCameraRoll` accepts a `string`, not a resource.

[2018-06-04 15:33] borisyankov commented on #2622
I am closing this as fixed in `master`.

[2018-06-04 15:33] #2622 closed

[2018-06-04 20:21] gnprice opened #2627 "message list: Show when a message is starred"
In the message list, we should display an indication of whether a message has been starred. For consistency and ease of understanding, it should look a lot like what we do in the webapp, which is a "star" icon in the upper-right of the message.

This will fill in a significant UX gap in the interaction of starring a message, which is that there's basically no feedback to confirm to the user that i

[2018-06-04 20:54] gnprice commented on #2606
Got it, thanks for the extra detail! I just tried this on an iPhone (running iOS 10), and I reproduce the same behavior you're seeing, including the delay between opening the messages and the number being turned into a link.

It looks like this is a default, but optional, behavior of iOS's webviews -- see [WKWebView docs](https://developer.apple.com/documentation/webkit/wkwebview), and [this Phone

[2018-06-04 21:29] gnprice opened #2628 "Use standard Redux dispatch to replace most `connectWithActions`"
Our `connectWithActions` helper is a small wrapper around Redux's `bindActionCreators`, and we apply it to lots of our components and then make a call like
[code]
to cause an action to be dispatched.

This works, but it isn't the standard Redux pattern; it adds additional layers of indirection that have to be worked through to understand what's causing what to run when, layers that aren't found in

[2018-06-04 22:57] lukasIO commented on #2606
Ah, thanksgiving for the insight! I would vote in favor for a fix that enables that feature to work properly of course :)
Still interesting that the webview seems to interpret it as a relative link in this case....

[2018-06-05 00:09] #2609 closed

[2018-06-05 13:14] lukasIO opened #2634 "[Android] Clear notifications when messages are read on desktop/web"
When I have my phone enabled to receive push notifications even if online, I receive the notifications without a problem, my issue is, that they stay on the lockscreen even if I read them on the desktop app. Other messenging apps somehow retroactively remove those push notifications once the corresponding message has been read on another app... Would this be feasible for the zulip-way of doing it?

[2018-06-05 13:21] lukasIO commented on #2606
maybe related:
https://stackoverflow.com/questions/4299403/how-to-handle-app-urls-in-a-uiwebview

[2018-06-05 13:42] dmarconi opened #2635 "Logfiles timestamp inconsistency"
When restarting the server I see there is a conflict with the timestamps used in the logfiles. Apparently some services use the server timezone and some others the UTC. Is there the possibility to synchronize this in one single timezone?

Below is the an example while restarting the server. The server is UTC+2 (Central European Summer Time)

[2018-06-05 13:45] #2635 closed

[2018-06-05 17:34] SouvikBan commented on #2494
Hi! I am a newbie and I would like to work on this.

[2018-06-05 19:14] jackrzhang commented on #2627
I'd be interested in trying to implement this.

@gnprice Can I claim this?

[2018-06-05 19:32] gnprice commented on #2627
@jackrzhang Sure! You should be able to do it with zulipbot.

[2018-06-05 19:47] borisyankov commented on #2627
We do support that actually. It is shown as a `starred` text at the bottom of the message.
Possibly an actual star will be an improvement.

[2018-06-05 19:53] borisyankov commented on #2627
@jackrzhang The relevant file is:
https://github.com/zulip/zulip-mobile/blob/master/src/webview/html/messageTagsAsHtml.js

Another argument in favor of using an actual star - we are not currently translating this.

[2018-06-05 20:02] gnprice commented on #2627
I just tried this to make sure I wasn't imagining things, and I don't see it. So there's some other bug, then.

In any case, I think an actual star will be clearer. Good to know about that bit of code, though!

[2018-06-05 20:15] jackrzhang commented on #2627
I see the `starred` tags, but they seem to be really unresponsive. When I star/unstar a message in the application, the menu that pops up shows the correct action - either 'Star message' or 'Unstar message' - but the message tag itself doesn't update.

Agreed, I think a visual star would be more intuitive - so for now, I'll just remove the `starred` tag.

@zulipbot claim
@zulipbot add "area: layou

[2018-06-05 20:31] jackrzhang commented on #2610
@zulipbot claim

[2018-06-05 23:01] borisyankov commented on #2415
Addressed by #2638

[2018-06-06 05:51] adambirds opened #2640 "Uncaught Syntax Error"
## Issue Summary
Just got the below when using the mobile app on chat.zulip.org.
Thought it would be worth raising.
## Issue Screenshot
![screenshot_20180606-063013](https://user-images.githubusercontent.com/13500254/41019248-bbd81dd2-6955-11e8-9258-bc3500f0220b.png)
## Versions
Zulip Mobile Version: v13.4.88
OS: Android
Phone: Samsung Galaxy S7 Edge
## Extra Information
Let me know if you need an

[2018-06-06 07:29] gnprice opened #2641 "Replace SPACING and HALF_SPACING constants with numbers"
After looking and thinking about how these show up in our code (prompted by reviewing #2614), I'd like to eliminate `SPACING` and `HALF_SPACING` from our codebase. Instead, I'd like to simply write 16 and 8 respectively where appropriate.

My reasoning is:

* These are never going to change. They're simply small multiples of the 4px grid that is fundamental to Material Design. Even in a future whe

[2018-06-06 07:59] gnprice opened #2642 "Replace legacy 5px-grid dimensions with Material dimensions"
A lot of components in the app are styled with dimensions that are a multiple of 5px, like `padding: 10` or `height: 20`. Meanwhile, in newer code we've been moving toward [Material Design's guidelines](https://material.io/design/), which provide a systematic framework that can help us make consistent and well-designed choices across the app; and that comes with a 4px grid, so we have a lot of dim

[2018-06-06 09:41] an3l opened #2643 "Cannot add emoji reaction on the phone as a client (chrome tested)"
Emoji reaction when writing private message is enabled and works.
Emoji reaction on someone's message is enabled, but when it is pressed gui appears for 1 second and disappears.

[2018-06-06 11:20] borisyankov commented on #2643
Hey @an3l, are you referring to using the website version in a Chrome browser on a phone?
If so, please direct this issue to https://github.com/zulip/zulip/issues

[2018-06-06 11:27] an3l commented on #2643
Hi @borisyankov yes.
I specified this issue there, but issue was closed and they told me to put it here, so it's done  :).

[2018-06-06 11:29] borisyankov commented on #2643
Haha, maybe they misunderstood you :)
This repo is only for the native app, which I encourage you to use and give feedback on (though the adding of a reaction is a feature we are yet to add)

[2018-06-06 11:33] an3l commented on #2643
Added again there, let see where issue will end :). Will definitely try and will let you know if I find something interesting to point out.

[2018-06-06 11:47] roberthoenig commented on #2287
I've done some heavier debugging on this. Here are the results:

## TL;DR:

To load the data, our code call the React Native  `fetch` API to make a GET request to the Zulip server. If the user disconnected and reconnected, this request never makes it out of the RN app. The issue probably lies within RN itself, specifically its networking code. To further debug this, we will need to get a source co

[2018-06-06 12:22] akashnimare commented on #2287
I'm running `v13.4.88` on my iPhone and couldn't reproduce this issue.

Maybe first check how it behaves in other RN based chat apps. This works fine for me in other apps.

[2018-06-06 12:27] roberthoenig commented on #2287
Interesting! This actually brings facebook/react-native#6679 close to attention; users there report that it works on Android but not iOS.

[2018-06-06 12:29] roberthoenig commented on #2287
Also, I should have made it more clear that all the debugging I've done was on an Android emulator.

[2018-06-06 16:29] agzuniverse commented on #2641
@zulipbot claim

[2018-06-06 16:32] agzuniverse commented on #2642
@zulipbot claim

[2018-06-06 20:48] jackrzhang commented on #2607
Following discussion in [M2632](https://github.com/zulip/zulip-mobile/pull/2632#issuecomment-394876922) and [9687](https://github.com/zulip/zulip/issues/9687) - this is identifying a different bug in which for blank lines between paragraphs in markdown, we should be generating a `<p>` tag and showing space.

[2018-06-06 20:57] borisyankov commented on #2607
Is there a `<p>` rendered by the backend but we are rendering it at `0` width?

If you want to target an element with no children:
https://developer.mozilla.org/en-US/docs/Web/CSS/:empty

[2018-06-06 21:01] jackrzhang commented on #2607
Not sure. Thanks for the CSS cue :)

[2018-06-06 21:38] jackrzhang commented on #2627
As discussed with @gnprice, I think it would be good to debug the behavior of the message tags first before moving forward with this. Will open a separate issue for that investigation.

[2018-06-06 22:56] gnprice commented on #2607
There's a tip in our dev docs which can be helpful for studying message-rendering issues like this:
https://github.com/zulip/zulip-mobile/blob/master/docs/debugging.md#message-rendering

[2018-06-06 23:00] gnprice commented on #2643
Thanks @an3l for reporting this issue! Closing here, because it sounds like your report is about the web app on mobile.

For reference, our issue for this feature on the mobile app is #303.

[2018-06-06 23:00] #2643 closed

[2018-06-06 23:01] gnprice commented on #2640
Thanks @adambirds for the report! Folding this into #2505, which appears to be the same issue.

[2018-06-06 23:01] #2640 closed

[2018-06-06 23:02] gnprice commented on #2505
More details in #2640 from @adambirds, who ran into an instance of this issue.

[2018-06-06 23:08] gnprice commented on #438
For cross-reference: the server-side issue for this is https://github.com/zulip/zulip/issues/7459 .

[2018-06-06 23:12] gnprice commented on #2634
Thanks @lukasIO for bringing this up!

I definitely agree it would be good to do this, and I don't think there's any fundamental reason it'd be harder for us than for other chat apps -- we just haven't implemented it yet. The server side of our push notifications is currently pretty fire-and-forget.

I think the main work to do this will be the machinery on the Zulip server to track what messages

[2018-06-06 23:35] gnprice commented on #2601
This is done, after #2637 and #2631. Thanks @jackrzhang !

[2018-06-06 23:35] #2601 closed

[2018-06-07 00:33] adambirds opened #2647 "[Feature Request] Seperate Notification Settings Per Server"
I would like the ability to be able to have seperate notifications settings/preferences per server.

The main reason being I have both my own production server in there as well as chat.zulip.org.

Now I'd like to enable stream notifications for my production server but have them disabled for chat.zulip.org. Currently this doesn't seem to be possible.

[2018-06-07 05:06] kunall17 commented on #2647
I'm assuming this is related to the push notifications. The stream notifications can be disabled in the settings of either the web or the mobile.

[2018-06-07 05:50] adambirds commented on #2647
It's this bit I'm on about. You may able to shed some more light.

![screenshot_20180607-064628](https://user-images.githubusercontent.com/13500254/41080544-f6a82ce4-6a1e-11e8-91d0-39b7511c3f9c.png)

I'd ideally want these settings to be per server on the app rather than global for the app.

[2018-06-07 17:58] kunall17 commented on #2647
So these notification settings is with respect to any realm, as in if you're logged in for chat.zulip.org then change the notification settings, then it would be reflected for only this realm and not other ones, so disable the stream notif for the chat.zulip.org and enable for the rest of the servers.

If something ain't working please report it here!

[2018-06-07 18:49] adambirds commented on #2647
@kunall17 so that is how I would want it to work. Bur unfortunately, it doesn't seem to. If I disable in one realm, it disables in the other as well.

[2018-06-07 19:28] gnprice opened #2651 "Notifications not playing sound"
Two iOS users reported that when they get a notification from Zulip, it's silent. They haven't muted their phones, and they've enabled sounds (and all other options) in the system's notification settings for Zulip. ([original report](https://chat.zulip.org/#narrow/stream/48-mobile/subject/ios/near/596087))

[2018-06-07 19:53] gnprice opened #2652 "Can't send messages to mobile-created streams"
A user reports:

Here's a screenshot of that spinning wheel:

![](https://chat.zulip.org/user_uploads/2/d8/zWTlMNj2VGqVhf2eJORgumUH/IMG_5086.PNG)

The earlier message with no spinner was sent from desktop.

If the app is restarted, the messages with spinners disappear:

![](https://chat.zulip.org/user_uploads/2/82/Ncv67pc1eWkaT6vVap8ILDIb/IMG_5087.PNG)

Note the matrix here: the issue apparently a

[2018-06-07 20:39] timabbott commented on #2652
I bet the issue has to do with how we're handling the `stream` and `subscription` event types.

When a new public stream is created, we would send a `stream` event type when a stream is created (letting the app know that a new stream exists, relevant for the "subscribe" UI) and a "subscrption" event if a user is added to a stream that already existed.

A common bug we used to have for this sort of

[2018-06-07 21:33] borisyankov commented on #2652
Thanks for the context @timabbott

I will examine two issues here:
 * why are the messages not sent
 * why after refresh they are gone, we should be caching them and resending them on restart

[2018-06-07 23:01] borisyankov commented on #2652
I tried creating from an Android, creating from iOS, then sending from Android or iOS and can not reproduce.

[2018-06-08 00:29] jackrzhang commented on #2607
Thank you, that's really useful :)

[2018-06-08 00:32] gnprice opened #2654 "Lightbox on iOS fails to show uploaded images"
This is similar to #2618 , but affects an additional part of the UI, and only on iOS.

To reproduce:
* On iOS, log into an org on zulipchat.com, or possibly any other server running a recent release and on Xenial. (Not chat.zulip.org, which is on Trusty.)
* Find a conversation with a user-uploaded image in it. (Or just upload one.)
* Tap the image, bringing up the lightbox.
* The image doesn't app

[2018-06-08 13:23] borisyankov commented on #2607
Also, test both on Chrome (matching Android rendering) and Safari (matching iOS).

[2018-06-08 16:02] jainkuniya opened #2658 "Make empty view consistent across the app."
Text font size and position, styling and all.
Before are the screenshots of empty view of unread screen and conversation screen.
Which currently have different styling.

<img width="308" alt="screen shot 2018-06-04 at 10 38 09 pm" src="https://user-images.githubusercontent.com/18511177/41168299-2d9e6f70-6b63-11e8-87df-437ee5bde6e1.png">
<img width="332" alt="screen shot 2018-06-04 at 10 38 15 pm"

[2018-06-08 16:17] jainkuniya commented on #2623
Instead of replacing it with `Share`, can we add `Copy link to message`.
Many time we need to share message to others via other app or save that message (mostly when that message is most probably context free like it contains imp link or something). So in such situations `Share` will be useful.
Just checked in Slack, they provide three options `Copy Message`, `Copy Link to message` and `Share`.

B

[2018-06-08 19:54] gnprice commented on #2178
@jainkuniya points out this project which aims to be a library we could use on the server: https://github.com/monostream/tifig

It's currently "in early alpha", so I wouldn't want to rely on it now. Given reports about the patent situation, I'm also skeptical that it can succeed. If at some point in the future it does and the patent situation seems to be OK, we might start using it on the server a

[2018-06-09 03:35] tientranphuoc opened #2659 "Voice input via ios app just receive first word instead of full phrase"
Hello Zulip team,

This is a critical bug I think so, it's very funny and I can not understand how this bug can exist.

This bug just exist in ios app only.

Thanks.

[2018-06-09 04:32] gnprice commented on #2589
An update: a couple of days ago (2018-06-06) we released a fix for this to all users through the Play Store, as version 13.5.89.

That version is in this repo (as a tag, and on a stable branch) but not merged to master; it's a preliminary version of #2595 which solves this Android-only problem (working around an Android-only bug in React Native) nicely, but in turn triggers a different, iOS-only b

[2018-06-10 20:21] borisyankov commented on #2659
Thanks for reporting this issue. I am not sure how actively are we using the voice dictation feature ourselves, I guess not often.

I have tested on an iPhone and I confirm the bug is reproducible 100% of the time.

The issue causing this lies in React Native and is reported here:
https://github.com/facebook/react-native/issues/18890

We have done some work on improving the compose box that might

[2018-06-10 23:33] Yoshi8765 opened #2660 "LaTeX Support in mobile"
The Zulip app currently does not render LaTeX formatting correctly.

A simple example from a user in my realm:
* Correctly rendering visual of post in desktop app:
![image](https://user-images.githubusercontent.com/11256209/41207541-c6b40994-6ccc-11e8-8e68-2ec61e22c905.png)

* Incorrect render on Android:
![image](https://user-images.githubusercontent.com/11256209/41207532-bb44ec68-6ccc-11e8-86a6-

[2018-06-11 18:59] agzuniverse commented on #2658
@zulipbot claim

[2018-06-11 21:46] gnprice commented on #2628
For the work so far on this (in more compact form than the commit history), see #2648 and before that #2633 .

[2018-06-11 23:48] gnprice commented on #2415
Fixed by #2638 . Thanks @timlassiter11 for the report!

[2018-06-12 00:22] #2641 closed

[2018-06-12 01:53] jackrzhang commented on #2607
I've misinterpreted Tim's explanation in [9687](https://github.com/zulip/zulip/issues/9687), and as it turns out - the markdown that the mobile app and web app are using is correct according to our spec. So the fix that I'll push up will (as I had originally thought 😓) just add margin between two adjacent `p` tags within the same message.

[2018-06-12 17:57] #2628 closed

[2018-06-12 18:18] #2607 closed

[2018-06-12 18:26] gnprice opened #2671 "Fix layout of <ul> in messages"
Here's what a message with an unordered list looks like, in my emulator for a Pixel 2 XL running Android 8.1:
![image](https://user-images.githubusercontent.com/28173/41309108-a0b54aa2-6e32-11e8-9018-a0e45b0e4f3d.png)

There are two issues here:
* The bullet glyphs are clipped at the left.
* There's excess space between the preceding graf and the first list item.

For comparison, here's the webapp

[2018-06-13 17:42] jackrzhang opened #2676 "A `starred` tag does not appear after starring a message in a stream."
To reproduce:

1. Star any message in any stream via long-press.
2. A tag containing `starred` text should appear below the message, but doesn't.

The same message does become marked within the web app, however. Also, if you long-press the same message again, the correct option 'Unstar message' is toggled.

This is on both Android and iOS.

[2018-06-13 17:55] jackrzhang opened #2677 "Newly starred messages do not appear in the starred list."
To reproduce:

1. Star any message in any stream via long-press.
2. Navigate directly to the list of starred messages; the recently starred message does not appear.

This is likely connected to #2676.

[2018-06-13 17:56] jackrzhang commented on #2627
Opened #2676 / #2677.

[2018-06-13 17:57] jackrzhang commented on #2677
@zulipbot claim

[2018-06-13 17:57] jackrzhang commented on #2676
@zulipbot claim

[2018-06-14 09:37] roberthoenig commented on #2287
^^ see the above issue report on React Native.

[2018-06-14 11:20] roberthoenig commented on #2310
Hmm, this issue seems to involve two bugs: One bug is the RN `fetch() `bug that causes #2287. But even if that bug was resolved, I think this issue would still be valid, since it is about narrowing to a topic *while* the device is offline and coming back online afterwards. Right now, I don't think we resend requests that have been made while offline. In any case, we probably have to wait until htt

[2018-06-14 15:49] roberthoenig opened #2682 "Double tap on Narrow narrows twice."
### Issue

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/7950151/41422618-8b1d0ce8-6ff9-11e8-8f64-17fa41803c2b.gif)
This was recorded on an iOS device. I experience the same behavior in an Android emulator.
There is a issue for this: https://github.com/react-navigation/rfcs/issues/16
The developers seem unsure whether this is a bug or a feature, but they point to some ways to

[2018-06-14 15:52] roberthoenig commented on #2682
Stepping back, I think there are two questions here:

* What do we want to do when a narrow action is dispatched while another narrow is going on?

* What do we want to do when a narrow action is dispatched that narrows to the same narrow we are currently in?

[2018-06-14 19:01] gnprice commented on #2292
I just ran across this old (closed) thread -- in retrospect it seems this was clearly an early report of #2589.

Most likely, the version the original report was tested against was already using RN 0.55, while the version in the Play Store was on 0.54.

[2018-06-14 19:02] jainkuniya opened #2683 "Handle stream creation with type as private with shared history (newly added)."
https://github.com/zulip/zulip-mobile/pull/2653#issuecomment-397339966

Not a priority.
(Just opening this issue to track it.)

[2018-06-14 21:38] gnprice commented on #2209
This wasn't fixed. Here's a screenshot from master:

![image](https://user-images.githubusercontent.com/28173/41439637-6bcddfe8-6fe0-11e8-8255-e1a36aa60733.png)

It looks like the last release of the library was just before @jainkuniya 's PR was merged.

[2018-06-14 22:01] #2608 closed

[2018-06-14 23:57] gnprice commented on #2683
(This is a recent feature on the server side.)

[2018-06-15 07:18] gnprice opened #2684 "Image upload: Show progress feedback"
When uploading an image, the upload might take several seconds or more, particularly if the image is large or the connection is slow.

We should give some visual feedback, like a progress bar, to indicate that the upload is happening.

[2018-06-16 00:29] jackrzhang commented on #2671
(just a note) The bullet glyphs are similarly cut off in iOS.

[2018-06-16 07:30] jainkuniya opened #2688 "Update state.narrows on topic/stream edits"
(new description written 2021-07 by @gnprice)

When a message gets edited, we reflect the edit in `state.messages`, but not in other data structures that know about the message. In particular `state.unread` (that's #4840), and `state.narrows`.

This means that if a message has its topic and/or stream change, then if you've already seen that message in a message list (so that we have an entry in `s

[2018-06-17 08:11] agzuniverse commented on #2684
I'll attempt to solve this, but not claiming since I'm not sure if I will get a solution up fast enough.

[2018-06-18 16:26] gnprice opened #2691 "notifs: Use Android's fancy "notification group" feature"
Android has a handy feature we should use to make all our notifications a "group", with one for each conversation.

Upstream [tutorial docs here](https://developer.android.com/training/notify-user/group). An illustration from that doc, to help make clear what feature I'm referring to:
![image](https://user-images.githubusercontent.com/28173/41548988-4e5286b6-72d9-11e8-996a-851f02894ff5.png)

One k

[2018-06-18 23:43] gnprice opened #2693 "Emoji cut off at bottom"
A user reported that it "seems iOS app emoji are being cut off at the bottom", providing the following screenshot:

![](https://chat.zulip.org/user_uploads/2/e/jxuYnpeMdQaBZDGbPndSYV49/IMG_0054.PNG)

Looks like this is a message containing only an emoji, as the last message shown. Not sure exactly what range of conditions lead to the bug, but it shouldn't be hard to reproduce and play with.

[2018-06-18 23:59] gnprice opened #2694 "Fix misleading uses of "group""
As touched on in #2609, discussing where we used to say "Members" above a list of the other people in a group PM thread:

We fixed that screen, but we have a few other places that sound like that model. One is "Create group", on the PMs screen of the main nav; for a new user, this is likely to look like what they want when they're actually looking for how to create a stream, because in those other

[2018-06-19 06:33] jackrzhang commented on #2693
Hm, the bug is not present in the generated HTML/CSS from `MessageListWeb`, which makes me think this has to be specific to iOS.

[2018-06-19 07:31] jackrzhang opened #2696 "webview: Sender name cut off at the bottom"
I've noticed that the text for sender names is cut off - for example, see the letter 'g' from 'Jack Zhang':

![image](https://user-images.githubusercontent.com/12771126/41582964-e4883756-7357-11e8-88b4-7046f34d4f65.png)

The bug seems similar to #2693 (at least on a surface level).

[2018-06-19 07:45] jackrzhang commented on #2696
A bit of quick investigation shows that the text is being cut off by the `overflow: hidden` CSS declaration. We don't want to remove the declaration, since it's used along with `white-space: nowrap` and `text-overflow: ellipsis` to truncate long sender names. Increasing the line-height of the text would fix this.

@zulipbot claim
@zulipbot add "area: layout"

[2018-06-19 18:47] borisyankov commented on #2696
@jackrzhang we did add the `overflow: hidden` to ensure some weird html don't overflow, but since then we have improved the sizing css. Maybe we no longer need that? Worth investigating.

[2018-06-19 18:49] borisyankov opened #2699 "Narrow to message sometimes lands in the past"
This is Android-specific. Can be reproduced reliably both on iOS and Android.

This happens only if:
* the app is run from a notification (if already running, not reproducible)
* there are already some messages loaded

[2018-06-19 21:35] borisyankov commented on #2696
Some types of text would make the message container width too wide. For example `averylonguninterruptedword' or some other uncommon things.

[2018-06-19 21:58] #2610 closed

[2018-06-19 22:43] jackrzhang commented on #2696
I think the `overflow: hidden` is part of what's constraining the width of the message containers for unusually long text. (unless I'm understanding you incorrectly)

[2018-06-19 23:05] borisyankov commented on #2696
It really depends on how we've specified the styles of the containers.
`overflow: hidden` will not prevent the overflow, but will prevent the message from becoming scrollable.

While hiding parts of the message is not optimal, making it scrollable is even worse ;)

It is worth exploring how our current styling behaves without this `overflow`.

[2018-06-19 23:27] jackrzhang commented on #2696
I mean we should continue utilizing the strategy of truncating into an ellipsis for the `.username` rule-set, which is the use of `overflow: hidden` here. Otherwise, entering a really long name results in this behavior:

![image](https://user-images.githubusercontent.com/12771126/41629191-0f8f52a6-73dd-11e8-9813-0e5e3fb0a479.png)

[2018-06-19 23:58] borisyankov commented on #2696
I have a test realm full of these long crazy names ;)

BTW, try with `overflow-x: hidden;`

[2018-06-20 18:41] armaanahluwalia commented on #2693
Sorry for not being more descriptive. This was a private message inbox with one other user ( hence the blacking out by me ). The emoji was the last message received from the other user.

[2018-06-20 20:30] gnprice opened #2704 "Re-align lint and prettier"
We have a spot now where `yarn run prettier` leaves things in a place that the ESLint in `yarn run test` doesn't like.

`eslint --fix` can fix it just fine -- so this just means we need to move the relevant ESLint config rule into the config file that we use in `yarn run prettier`.

[2018-06-20 22:15] gnprice opened #2705 "Let release and debug builds coexist on Android device"
For some kinds of debugging, it's helpful to install the debug build on your own device, where you may also have the release build installed from the Play Store.

(The same thing is true on iOS, but I think the mechanisms to do it will be different and I don't know the exact situation; so that's for a separate issue.)

Currently this isn't possible. The main obstacle is that we're using the same a

[2018-06-20 22:30] jackrzhang commented on #2696
`overflow-x: hidden` does not fix the bug :p

[2018-06-22 02:09] #2699 closed

[2018-06-22 03:10] gnprice commented on #2699
Also cherry-picked the fix to stable-14; so this fix will be in the next 14.x release.

[2018-06-22 11:45] agzuniverse opened #2709 "Floating action button positioning makes it difficult to create group chat"
The `FloatingActionButton` in `UserPickerCard` is positioned to be on the bottom right of the list which expands with the number of users instead of being fixed on the bottom right of the screen.

This makes the button appear out of position when the list is small:
![screenshot_20180622-163309](https://user-images.githubusercontent.com/22353313/41774967-802f7a40-763f-11e8-82e8-3a1d2cc5b039.png)

B

[2018-06-22 11:46] agzuniverse commented on #2709
@zulipbot claim

[2018-06-22 16:43] roberthoenig opened #2711 "Sending message to an admin-send-only stream doesn't fail properly."
![bug1](https://user-images.githubusercontent.com/7950151/41788477-f8e0b07e-764b-11e8-88b6-7cdf60cafed2.gif)
Here, #announce is a stream where only admins may post. Instead of trying to send the message, the app should tell the user it's not possible.
Here is how the server handles this:
![image](https://user-images.githubusercontent.com/7950151/41788537-2c42fb3e-764c-11e8-9230-a87e29fad194.png)

[2018-06-22 17:49] gnprice opened #2712 "Pull-to-refresh on unreads screen and streams/PMs screens"
We often have bugs with the symptom that the app doesn't update its view of what messages the user has gotten. This can be frustrating, but as a user what really makes it frustrating rather than mildly annoying is that there's nothing you can do about it, short of force-closing the app and reopening. This has been a recurring complaint from our most active users for basically as long as the app ha

[2018-06-22 17:50] gnprice opened #2713 "Pull-to-refresh on message list"
We should provide the user with the pull-to-refresh gesture on the message list; similar to Gmail, Twitter, and many other apps with feeds of messages.

See #2712 for more detailed background and rationale.

[2018-06-22 23:28] borisyankov opened #2714 "Incorrectly shown 'no messages' after opening from a notification"
When opening the app from a notification sometimes the following incorrect behavior happens:
 1.  'No messages' notice is shown
 2. In few seconds, the text disappears and the loaded messages are shown.

Expected behavior:
1. Loading indicator is shown
2. Messages loaded are shown

This happens if:
* app is started from a notification
* no messages were currently loaded for the narrow

[2018-06-22 23:41] gnprice commented on #2704
Fixed in 71e2fe082.

[2018-06-22 23:41] #2704 closed

[2018-06-23 17:56] agzuniverse opened #2716 "Back button from settings screen should return to HomeTab"
Back button currently closes the app if it's used from the settings screen as it is part of the tab navigator. This is however a rather unexpected behaviour.

Tried fixing it by #2710 which set the `backBehavior` to `initalRoute` (which is default for React Navigation's tab navigator), but it caused an issue where the tab navigator would take precedence over the stack navigator when the back butto

[2018-06-23 23:03] jainkuniya commented on #2716
This is a kinda complex issue, few months back I tried to fix it via https://github.com/zulip/zulip-mobile/pull/2135/files, which resulted in too complicated solution.

I thinks we should wait for #2702 (Upgrade to React Navigation v2), before reworking on #2135.

[2018-06-24 11:14] prateek3255 commented on #2705
Can I work on this issue?

[2018-06-25 12:35] lukasIO commented on #1316
Due to the fact that a mention triggers "new zulip mentions and private messages from.." there is not even enough space on the screen to show who sent the message/notification.
i think, the fact that it's a "zulip" mention is redundant, because you can already see that the notification came form Zulip.

Not sure if the notification-design has been discussed in another issue already, but I would vo

[2018-06-25 17:46] roberthoenig opened #2721 "Misleading information when starting app while offline."
This is me starting the app while offline:
![bug2](https://user-images.githubusercontent.com/7950151/41866015-331cf7ec-78af-11e8-8833-ce537cc9285a.gif)

A couple bugs here:
* No `Not connected to the internet` banner is shown.
* The topic list is displayed, but clicking on a topic does nothing. I'd either expect the app to not allow me to click on topics, or aloow me to click on them and show the

[2018-06-25 18:40] borisyankov commented on #2721
Thanks for that investigation and bug report.
It is very important to do more testing of the app's behavior when offline as this will be a frequent occurrence in real-life mobile use.

Each `<li>` you listed is likely a separate bug. I think two of them are trivial to fix and I am doing it right now.

[2018-06-25 18:42] roberthoenig commented on #2721
@borisyankov just to get in sync, I'm currently trying the `Not connected to the internet` banner on my own.

[2018-06-25 18:44] roberthoenig commented on #2721
Let me know if you wanna go ahead and fix this, but I'd appreciate the opportunity to try this and get some feedback :)
My approach is to move the `<OfflineNotice />` tag to a prominent position in the app:
[code]

Is this the right direction?

[2018-06-25 18:49] borisyankov commented on #2721
Go ahead, I am investigating the other issues :)

One issue might be that the state might not be initialized correctly if starting from the offline state.

Also, on the `OfflineNotice` being moved up the chain that looks reasonable, but I think it will show above our top navigation UI which wouldn't look good. Not a bad idea to try it.

[2018-06-25 19:28] gnprice opened #2722 "Group PM shows up on PMs screen with blank name, just commas"
On a user's screen when they were showing me something else in the app, I saw the PMs screen in the main nav. Out of several conversations, one of them was labeled just ", ," -- comma, space, comma -- where the names of the other people should go. It looked like what you might get with a group PM thread with 3 other people, if their names were all the empty string.

I've seen this symptom myself i

[2018-06-25 19:36] roberthoenig commented on #2721
![untitled](https://user-images.githubusercontent.com/7950151/41871594-afbd0700-78bf-11e8-97bb-9627bc11ff38.gif)

This is what I have now. I don't think it looks good, but it doesn't look bad either. One advantage this top display has that it doesn't change position over different screens.

I tried to animate it on appearance and disappearance, without success so far.

[2018-06-25 22:20] gnprice opened #2724 "Fix Flow interaction with `createSelector`"
Many of our selector definitions don't have effective type-checking, because Flow isn't doing the necessary inference for some reason.

This seems to happen basically any time we take a selector created with Reselect's `createSelector`, and pass that selector in turn as the input to another `createSelector`. For example, look in `unreadSelectors` at `getUnreadStreamTotal`:
[code]

If you open this

[2018-06-25 22:55] gnprice commented on #2722
Here's the plan I'd suggest for how to do this:

First, some cleanups to help make this part of the code easier to understand and work with. This will make the later steps easier, and will also help us out every time we come back to this code in the future.
* Put an appropriate type annotation on the `conversations` prop on the various components here -- `Object[]` isn't very helpful.
* Conversati

[2018-06-25 23:19] borisyankov opened #2725 "Conversation list should use cache if no connection"
If there is data for the conversation list, but trying to load users a loading indicator is shown.
Instead, it should show the previously loaded data.

[2018-06-25 23:59] borisyankov commented on #2722
This is not caused by gaps in the users state. (in very rare cases this can be true, but for this to happen a user should have just been created and for some reason the data not updated)

It is caused by us having the list of conversations before we have loaded the users data at boot time.
Thus, no need to update the 'users' state which is being reloaded anyways, just the 'conversations'

[2018-06-26 08:17] gnprice commented on #2722
Interesting. Can you explain why you believe this is the right diagnosis?

FWIW, I have never seen this go away while I'm looking at it. When I saw it the other day, it was on the screen for several seconds; and we went to other screens and back to that one over a period of at least a minute, and the symptom didn't change.

I don't understand what this means. Can you elaborate? (Just use which dat

[2018-06-26 13:17] borisyankov commented on #2722
For more context about what data is available:

We only intentionally do have gaps in the `messages` state.
For any other data like 'users', 'subscriptions', 'unread' etc. we expect to have all the information at all times.

There are two cases where we don't:
* on startup or account switching - have no data about some or all of these entries
* on disconnect or when data is cached - we have data t

[2018-06-27 03:30] gnprice commented on #2722
Got it, thanks.

My hypothesis is there's a bug which causes us to be missing something in the `users` state. That wouldn't be very surprising.

The cases you describe sound like they'd lead to something different from this aspect of the observed behavior:

But maybe I'm not imagining those cases right. How would you expect it to look in those cases?

In any case, regardless of the cause (these tw

[2018-06-27 03:44] gnprice commented on #2722
One other detail, which is touched on in my OP above but to make it more explicit: When I saw this symptom on a user's screen the other day on the PMs screen, there were several other PM conversations there (I think all of them 1:1 PMs) where the names displayed just fine.

Looking at `ConversationList.js`, it looks like we get the names for 1:1 PMs from the `users` state (via the `usersByEmail` p

[2018-06-27 16:58] borisyankov commented on #2724
Flow-typed includes a rather crazy amount of definitions for the `createSelector`.
Any issue should likely be reported (or is already reported) here:
https://github.com/flowtype/flow-typed/issues

Typing all the selectors is probably the last big outstanding not-Flow covered areas of the code.

[2018-06-27 17:52] roberthoenig commented on #2711
@zulipbot claim

[2018-06-27 18:04] borisyankov opened #2737 "Group notification bug on Android"
Incorrect grup notification message shown on Android.

***State is:***
* Unread group chat with `X` & `Y`
* Read chat with `X`
* Read chat with `A`

***Event:***
2 messages incoming from `B`

***Incorrect notification text:***
3 messages in 2 conversations
Messages from `A`, `B`

[2018-06-28 06:15] jainkuniya commented on #2705
Ya! sure go for it @prateek3255.

Let me know if you face any problem either here or on https://chat.zulip.org/#narrow/stream/243-mobile-team

Claim this issue by commenting `@zulipbot claim` on this.

[2018-06-28 06:18] prateek3255 commented on #2705
Ok I will start working on it soon.

[2018-06-28 06:18] prateek3255 commented on #2705
@zulipbot claim

[2018-06-28 06:20] prateek3255 commented on #2705
@jainkuniya So can I work on it or not?

[2018-06-28 20:34] gnprice commented on #2115
This is likely related to #2618 .

[2018-06-28 23:39] #2714 closed

[2018-06-29 20:15] prateek3255 commented on #2705
@jainkuniya please review my PR #2743 for this issue.

[2018-06-29 21:40] borisyankov commented on #2722
That would be surprising to me though. Our user data handling is quite simple. While this does not rule out bugs... two things:
 * I have never encountered such a but
 * I am not sure what case would produce a lot of missing data, in the way we process it currenly (we mostly load all users or update them when a new user arrives)

[2018-06-29 21:47] borisyankov commented on #2722
My assumption is that all the user data was missing and you might have been mistaken that there were 1:1 PMs shown. If that is the case - we have no 'partial data' issue. If that is not the case, we should definitely reproduce the issue and fix with priority.

Separately... I don't think filling the data is optimal, as we don't have all the data for a user, just a bit of it, so we will need to int

[2018-06-30 01:49] #2589 closed

[2018-07-01 10:16] jainkuniya opened #2746 "Pass data using navigation props instead of getting from global state/selectors."
Currently we are using selector to get data (stream, account & topic) from global state according to the route. Which is causing some problem and also not following good pattern:

Let's take an example of `StreamEditScreen`, currently we are getting current stream data via selector
https://github.com/zulip/zulip-mobile/blob/1f9ad56f197896533ca8cf519fee44f0ca73504f/src/subscriptions/subscriptionSel

[2018-07-01 20:30] borisyankov opened #2749 "Downsample images before uploading them"
If an image uploaded to the server is larger than some predetermined dimensions, downsample to that size. (we might want to offer an option to not downsample)

Considerations:
 * Instagram uses 1024x1024 images. This seems to work quite well in the majority of cases.
 * Phone pictures and screenshots can be 10-20x as big in pixel count / byte zie.
 * We can dramatically reduce upload and download

[2018-07-01 20:57] borisyankov opened #2750 "Topic list always requested from server on topic input focus"
**Context:**
We request a topic list for the current stream when a user focuses on a topic input.
This is done so we can offer auto-complete.

**Issue:**
We do a new request every time a user focuses even if we already have the data.

**Expected:**
We should do a server request only if we don't have the data.

[2018-07-02 11:19] borisyankov opened #2751 "Type error in webview's getMessageIdFromNode"
Webview throws an exception: `msgNode.getAttribute` is not a function.

This happens both on Android and iOS (the only other known issue is Android-specific)

[2018-07-03 04:31] jainkuniya opened #2754 "Delay in switching realm/accounts."
**Issue**
When user clicks on account item, there is some delay before UI reacts to that action (I mean loading screen pops in)

Related chat: https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/realm.20switching.20delay

Related issue: #2720

@zulipbot claim

[2018-07-03 12:32] borisyankov commented on #2754
We can be calling the `navigateToLoading` first and remove the `ACCOUNT_SWITCH` handler from `navReducers`. (can be contined in @agzuniverse PR) This will ensure that we switch immediately.

A completely separate issue can be improving the speed of handling the switching.

[2018-07-03 14:59] Shayan-To opened #2755 "Add support for right-to-left messages"
Add support for messages to be right to left. For ex

[2018-07-03 16:38] Shayan-To commented on #2755
@zulipbot claim

[2018-07-03 17:23] prateek3255 opened #2756 "Add splash screen for before React has started up"
When the app loads it displays a white screen which seems a bit odd, so I guess you guys should add a splash screen. I would be happy do it for the android (since I don't have a mac) part using [this](https://medium.com/handlebar-labs/how-to-add-a-splash-screen-to-a-react-native-app-ios-and-android-30a3cec835ae) blog, because I have done it once before.

[2018-07-03 20:44] borisyankov commented on #2756
That is true. A splash screen would look exactly as our current loading screen but without the spinning progress indicator. So a green screen with a centered Zulip logo.

[2018-07-04 12:57] Shayan-To opened #2757 "Cannot cancel editing a message"
You cannot get out of editing mode once started editing a message (unless you really edit the message!).

![zulipmobileedit](https://user-images.githubusercontent.com/12458563/42278248-5fee34a0-7faf-11e8-9785-1f40dbde4a77.gif)

[2018-07-04 19:10] prateek3255 commented on #2756
Ok, so I would get started with the android part.

[2018-07-04 19:11] prateek3255 commented on #2756
@zulipbot claim

[2018-07-04 19:17] prateek3255 commented on #2756
@borisyankov I have already solved that issue #2705 and submitted a pull request #2743 for the same and I think that it's ready to be merged.

[2018-07-05 12:15] probabilistic opened #2759 "jump to most recent message"
Regarding the iOS app. Is there any way to make it jump to the most recent message? I know there is the little arrow at the bottom, but that only jumps to the most recent message that is loaded -- which is a problem if you're like me and only use the app once every few weeks or so.

[2018-07-05 18:08] gnprice opened #2760 "Internal links to streams and narrows don't work"
Reported in chat [here](https://chat.zulip.org/#narrow/stream/48-mobile/subject/Hyperlinks.20within.20stream.20view.20don.E2.80.99t.20work/near/608487) and previously [here](https://chat.zulip.org/#narrow/stream/48-mobile/subject/Navigating.20Streams/near/559780).

We actually have logic that attempts to do this, but it's too narrow in the forms of URLs it handles, and in particular it doesn't han

[2018-07-05 18:09] gnprice commented on #2312
GitHub unfortunately clutters up this thread with tons of references to the commit that mentions it, making it hard to read. Filed a fresh version as #2760 .

[2018-07-05 18:09] #2312 closed

[2018-07-05 18:10] gnprice commented on #2760
Copying a comment by @borisyankov on the previous thread, which is otherwise in danger of being lost amidst the noise GitHub makes out of commit references:

[2018-07-05 19:58] gnprice opened #2761 "Google login doesn't offer to use second Google account"
If you're logged into your phone (at least iPhone?) with one Google account, but you want to use a different one to log into a Zulip org, the app refuses and gives you a strange error message.

Here's how I reproduced this issue:
1. I have an account on a Zulip org as greg@zulipchat.com. I also have a personal Google account, gnprice@gmail.com.
2. I tried logging in through the app -- entered the

[2018-07-05 20:03] borisyankov commented on #2761
Ironically, GSoC also does not support that.

[2018-07-06 01:01] teneresa opened #2763 "Logo design proposal"
Hi, my name is Valeria. I'm a graphic designer and I'd like to collaborate on your open source project and propose free logo/icon design for your app. If it's something you're interested in, please, let me know!
Best,
Valeria

[2018-07-06 21:04] hmr-it-jr opened #2765 "Timeformat settings of user are being ignored"
In the Web- and ElectronApp you can set an option to use 24 hours system instead of 12 am/pm system.

It should be possible to do this in the MobileApp, too.

[2018-07-06 21:15] j0hannesr0th opened #2766 "[Feature Request] Add option to edit pic before sending"
If you send a pic in WhatsApp you can edit it before sending.

WhatsApp offers:
- text (with color picker)
- pencil (with color picker)
- emojis
- rotating pic
- cropping pic

I think besides emojis all are useful and this feature would make it a lot easier for all of us.

[2018-07-06 22:10] zivarg opened #2767 "I'm not working with notifications."
Your mobile device does not have notifications for Android.

[2018-07-07 07:15] timabbott commented on #2765
This should be relatively simple; we should be respecting the `twenty_four_hour_time` setting.

[2018-07-09 07:25] YagoGG opened #2770 "Make the user log back in when the credentials aren't valid anymore"
If a user regenerates their API token, the server will reply with an HTTP 401 error whenever the app asks for data. However, no feedback is provided to the user, which results confusing.

# Steps to reproduce

1. Log in as any user in the mobile app.
2. Go to the user settings in the web client, and generate a new API key (under *Your account*).
3. Try to interact with the mobile app by going to a

[2018-07-09 08:37] jainkuniya commented on #2770
Will be fixed by #2118.
Updating #2118. 👍

@zulipbot claim

[2018-07-09 08:48] borisyankov commented on #2767
@zivarg Are you hosting Zulip yourself?
There is a chance you have not configured your server for notifications.

[2018-07-09 08:54] borisyankov commented on #2770
I also expect this is the behavior if you change your password.

[2018-07-09 08:59] YagoGG commented on #2770
I did a quick test in my dev env and apparently changing your password doesn't affect your API key, so it shouldn't be a problem if the user changes the password once they've already logged in.

[2018-07-09 09:11] borisyankov commented on #2770
This is good for us since fewer cases currently break the app.
But I think we might consider this a bug and we **should** change the key on password change.
Do you want to check with the `zulip/zulip` guys about that?

[2018-07-09 09:17] borisyankov opened #2772 "Handle Android 8 Autofill"
We need to do some basic configuration of the app with `Autofill Framework`

A high-level overview of what the feature is:
https://www.pcworld.com/article/3229844/android/android-8-0-oreo-autofill-api.html

Documentation:
https://developer.android.com/preview/features/autofill

This will ideally, be handled by React Native, and we should expect that to happen in near future. Until then, we want to

[2018-07-09 09:32] borisyankov opened #2773 "fix: Autofill gives phone number suggestions in compose box"
On Android 8 and newer, if a user has Autofill enabled (and possibly other information added in Settings -> Autofill Service) the app offers annoyingly incorrect suggestions (like phone numbers for the message input)

That can be fixed by a basic implementation of #2772

[2018-07-09 09:46] zivarg commented on #2767
In the administration panel, everything is configured, on the mobile phone too.
![2018-07-09_122020](https://user-images.githubusercontent.com/40515137/42443420-1709b622-8376-11e8-9efb-b894c6efb822.jpg)

[2018-07-09 10:00] borisyankov commented on #2767
Unfortunately, it takes a bit more configuring to make it work.
We have detailed instructions on what needs to be done here:
https://zulip.readthedocs.io/en/stable/production/mobile-push-notifications.html#

[2018-07-09 16:57] hmr-it-jr opened #2776 "[Feature Request] Add possibility to direct share Screenshot/File to Zulip"
A cool feature for Zulip would be if you take a screen shot and then you can share it directly to Zulip.

WhatsApp offers this and after sharing it to WhatsApp you can choose a group or a contact you want to share it to.
In Zulip there should be a select for channels and for private chats to share the screenshot/file with.

In this Video you see that some apps offer already direct sharing and you

[2018-07-09 17:16] jainkuniya commented on #2776
Thanks @hmr-it-jr for the feedback!
We prioritise features according to the feedback.
We are tracking this down in #117. And will be soon in the app.

[2018-07-09 17:55] #2776 closed

[2018-07-09 17:59] jainkuniya opened #2778 "Improve re-login flow."
Do not navigate to realm screen if realm url is already present. (Basically when user taps on account item in account pick screen). As the server url is already validated. If url is found invalid pop back to realm screen.

@zulipbot claim

[2018-07-09 19:35] jainkuniya opened #2779 "Layout issue on Debug scree."

[2018-07-09 19:36] jainkuniya commented on #2779
@agzuniverse you might be interested in this :)

[2018-07-09 19:53] jainkuniya opened #2780 "User list lags in create group screen."
If user list is long (like as of chat.zulip.org) on clicking user list there is a lag in the UI feedback. Now filter the user list, and the lag is also reduced proportionally.

@zulipbot claim

[2018-07-09 19:56] jainkuniya opened #2781 "[iOS] Navigation to Lightbox hangs in the between."
On iOS when image in the message list is clicked, navigations hangs in the between (half screen is pushed & has screen is occupied by chat screen).

Most prob this is due to `PhotoView` component we are using from `react-native-photo-view`.

[2018-07-09 20:11] zivarg commented on #2767
Everything worked, many thanks for the help, you have a very cool product, just the best.

[2018-07-09 22:05] gnprice commented on #2767
Great -- thanks @zivarg for reporting here, and for confirming it worked! Closing.

We should make the experience in the app in this situation clearer; #1507 is tracking that.

[2018-07-09 22:05] #2767 closed

[2018-07-10 05:13] agzuniverse commented on #2779
Will do!
@zulipbot claim

[2018-07-10 05:18] kunall17 commented on #2647
Hey, @adambirds I tried to reproduce it and couldn't to do so, any steps to do so?

[2018-07-10 05:28] borisyankov commented on #2781
This looks like the issue:
https://github.com/alwx/react-native-photo-view/issues/141

[2018-07-10 06:10] borisyankov opened #2782 "Renaming a stream makes it appear as 'unsubscribed'"
If someone renames a stream, we correctly handle the name change itself, but we then fail to correctly consider it 'subscribed'.

[2018-07-10 07:03] agzuniverse opened #2784 "Unable to remove emoji reaction when just added"
(edited by @gnprice after discussion below)

Tapping an emoji reaction you've made should remove it. But:

* It doesn't work if I just added the reaction here (the most common case in practice, I'm pretty sure).
* Also doesn't work if I just added it through the webapp.
* It *does* work if I previously added it, and only then went and loaded these messages.

---
(original report:)

Tapping on a re

[2018-07-10 07:21] borisyankov commented on #2784
Hmm, I cannot reproduce. For me, it worked.
What I encountered though is that if you create a reaction on the web and you are looking at the message on your phone, the reaction it does not appear.
This might be related and is worth investigating.

[2018-07-10 07:28] hmr-it-jr opened #2785 "[Feature Request] Add possibility to set group icon"
At the moment a picture is generated of the initial letters of the group members. I would prefer it to upload a custom image as a group icon.
<a href="https://ibb.co/jn0j7T"><img src="https://preview.ibb.co/hVq6Mo/Screenshot_20180710_082426.jpg" alt="Screenshot_20180710_082426" border="0"></a>

I think it's useful to have the possibility to change the group icon if you have many groups where the f

[2018-07-10 07:46] jainkuniya commented on #2785
Hi @hmr-it-jr, thanks for the feedback.
For uploading group icon, we will be requiring backend support.
But ya we do have plans for improving current icon #482

[2018-07-10 08:52] #2785 closed

[2018-07-10 18:04] swallitsch opened #2786 "/me doesn't render correctly on mobile"
![image](https://user-images.githubusercontent.com/32879218/42528357-0b8793ea-8430-11e8-9f4b-69f55db3aa4e.png)

Zulip 13.5.89
Android 8.0.0

[2018-07-11 04:11] timabbott commented on #2786
/me is entirely implemented client-side in Zulip (it has to be, since it structurally changes how the message headers are displayed so you don't repeat the name of the person twice).  So the correct fix is to just extend the mobile HTML templating to handle these.  `git grep is_me_message` in the webapp is a way to see how it's implemented (there's some JS code one can borrow).

[2018-07-11 04:58] jainkuniya commented on #2786
Yes this will be on client side. Will be easy to do.

@zulipbot claim

On Wed, Jul 11, 2018, 9:41 AM Tim Abbott <notifications@github.com> wrote:

[2018-07-11 11:04] lukasIO commented on #2634
Just as a feedback about this issue: in our evaluating process of zulip basically everyone in the team complained about this...

[2018-07-11 13:25] borisyankov opened #2787 "Typing certain emoji crashes the app"
This happens if using `Gboard - the Google Keyboard`.
This is reported as being the fix:
https://github.com/facebook/react-native/commit/41975f75d96ef4b606b4618461bf24d5db063b77

The commit is included in React Native 0.56

[2018-07-11 13:35] gnprice commented on #2787
Sweet -- glad this is already fixed upstream!

Looks like https://github.com/facebook/react-native/issues/18405#issuecomment-373624413 is the RN issue report. (Followed a link from the commit message on the commit mentioned above; and the repro steps look like a perfect match.)

Though... hmm. That issue is still open.

... OK, but the linked commit (which came from https://github.com/facebook/rea

[2018-07-11 13:39] gnprice commented on #2787
BTW that upstream issue thread helps clarify what the conditions are that trigger the issue: it looks like it's not specific to Gboard, but it happens on Android when you use any keyboard to type... actually any character outside [the Unicode BMP](https://en.wikipedia.org/wiki/Plane_(Unicode)#Basic_Multilingual_Plane), i.e. a character that doesn't fit into one Java `char`. In practice that mostly

[2018-07-11 13:45] gnprice opened #2788 "Upgrade to RN 0.56"
React Native got a new release out last week! We should upgrade.

Release notes: https://github.com/facebook/react-native/releases/tag/v0.56.0

One concrete benefit we'll get is this should fix #2787 (crash on typing an emoji).

The release also includes my fix for the RN issue underlying #2589 (compose box gets very slow), though we've already resolved that issue for ourselves by switching to an

[2018-07-11 13:49] gnprice commented on #2787
Unassigning because I believe there isn't any ongoing work to do on this issue; it should just get fixed when we upgrade RN. (Though part of doing that upgrade is we should confirm that.) Thanks again @borisyankov for writing up the issue and for the research!

I just filed #2788 to track the RN upgrade. If you want to take that, please do :)

[2018-07-12 09:19] jainkuniya opened #2791 "Autocompletes pop up splashes for a moment just after typing prefix (@, #, :) if prefix is after some text in the input box."
**Steps to reproduce**
* Enter some text in the compose box.
* Enter prefix (Either `@`, `:` or `#`).
* Observe carefully that just after typing prefix, autocomplete pop is visible for very small time period.
It is only reproducible if prefix is after some text.

[Autocomplete-splashes.mov](https://chat.zulip.org/user_uploads/2/37/TGA9eEmFLzO8gxDx0dMTa09-/Autocomplete-splashes.mov)

@zulipbot clai

[2018-07-12 09:21] jainkuniya opened #2792 "Do not show edit message option in message action sheet if edit time is passed or message edit is not allowed on that realm."
This will fix issues like

https://chat.zulip.org/#narrow/stream/48-mobile/topic/Inability.20to.20edit.20a.20message.20right.20after.20posting

@zulipbot claim

[2018-07-12 09:58] jainkuniya opened #2793 "Do not show delete message option in message action sheet if delete time is passed or message delete is not allowed on that realm."
Similiar to #2792.

@zulipbot claim

[2018-07-12 10:08] roberthoenig opened #2794 "Add visual feedback on stream/topic button press."
Currently, when pressing on either a topic of a stream,  there is little to none visual feedback that this specific topic/stream was pressed:
![ezgif com-optimize](https://user-images.githubusercontent.com/7950151/42626771-6bee0664-85cb-11e8-91e3-2db2417871e4.gif)

Either there is only a quick green flash, or (when the narrow is fast enough) there is no feedback at all.

This makes it hard to be c

[2018-07-12 10:12] roberthoenig commented on #2794
@agzuniverse FYI.

[2018-07-12 10:14] borisyankov commented on #2793
We might want to keep the option but show an error.
Hidden options are usually very opaque to users, they might even report the missing item as a bug.

[2018-07-12 10:18] jainkuniya commented on #2793
ya May be disabled option, with little bit of info , why it is disabled?

[2018-07-12 11:44] borisyankov opened #2795 "Consider using FluidTransitions for React Native"
[FluidTransitions](https://github.com/fram-x/FluidTransitions) provides improved transitions for React Native.

[2018-07-12 11:52] borisyankov commented on #2794
There is a Touchable so the feedback should show.
A very likely solution to this problem (depending on the actual cause, this is an educated guess):
Add a [`setTimeout`](https://developer.mozilla.org/ro/docs/Web/API/window.setTimeout) when doing the new narrow. This will allow the UI thread to respond to the touch before performing the actual transition. (delay of 0 makes sense)

[2018-07-12 12:06] gnprice commented on #2787
Also: thanks @adnrs96 for originally reporting this issue!

[2018-07-12 12:19] agzuniverse commented on #2794
@zulipbot claim

Will look into this.

[2018-07-12 12:37] jainkuniya opened #2797 "Nav bar color changes to white on going back to stream/topic narrow from stream/topic info screen."

[2018-07-12 12:37] jainkuniya commented on #2797
Just checked will be fixed by #2748.

@zulipbot claim

[2018-07-12 12:59] jainkuniya commented on #2797
Like this after coming back from info screen or topic list screen, color has became white
![screenshot_20180712-182535 2](https://user-images.githubusercontent.com/18511177/42634694-85303e36-8601-11e8-8086-34ded53b0b56.png)

[2018-07-12 15:17] gnprice opened #2800 "Unread counts on unreads screen stop updating"
This is a symptom I've been seeing occasionally for the past few weeks. When I started seeing it, I heard from other users who said they'd been seeing it for a long time.

Symptom: I open the app, after it's been in the background for a while. The unreads screen looks like a nice list of lots of unread messages... but I look closer and it's basically from sometime in the past. It has messages that

[2018-07-13 05:28] borisyankov opened #2801 "Consider clearing messages in narrow early if anchor outside the list"
When doing a narrow and providing an anchor, if the anchor is not in the list, we do replace the whole data with an incoming `fetchMessagesAroundAnchor` data.

While the behavior is correct and what we want, people are complaining that visually it is confusing - first they see old data and then the list refreshes completely.

Possibly a better idea is to clear the message list early so the users a

[2018-07-13 08:42] borisyankov commented on #2684
Showing a progress would be quite involved (and ideally a cancel 'X' button)
But we can improve upon the current state with a much smaller feature.
We can initially just show placeholder with an indefinite spinner inside.

Showing the actual progress involves this:
* using some other lib to upload, since we are not getting any progress feedback from the basic `fetch` API
* a way to track all activ

[2018-07-13 08:43] borisyankov commented on #2684
The message prerender happens in
https://github.com/kunall17/zulip-markdown-parser
which might also require changes.

[2018-07-13 18:39] lukasIO commented on #1316
just opened a seperate issue with a suggestion for the titles
https://github.com/zulip/zulip/issues/9949

[2018-07-14 05:13] jainkuniya opened #2806 "reaction: Adding/removing reactions not working in message list."
API is responding with status 400.

<img width="616" alt="screen shot 2018-07-14 at 10 46 02 am" src="https://user-images.githubusercontent.com/18511177/42721154-2de3d09a-8753-11e8-9f00-ec987b5bf023.png">

@zulipbot claim

[2018-07-14 05:15] jainkuniya commented on #2806
It is not working on chat.zulip.org, but working on realms at `zulipchat.com`. Might be due to recent changes on server.

cc @timabbott @HarshitOnGitHub

[2018-07-14 06:01] jainkuniya opened #2808 "Topics are not rendered even after they are fetched & stored in state."
<img width="1227" alt="screen shot 2018-07-14 at 11 28 11 am" src="https://user-images.githubusercontent.com/18511177/42721510-5b0ecdd0-8759-11e8-9116-73b1acc42289.png">

In the screenshot, `INIT_TOPICS` event got fired but still topics screen is showing loading screen.

@zulipbot claim

[2018-07-14 06:09] jainkuniya commented on #2797
Got the confirm reproduction:
Steps: (Make sure you are debugging in chrome, I mean inspector is open)
* Open stream/topic narrow.
* Click on any info button.
* Wait until any event is arrived, it can be `INIT_TOPIC`, `presence` event any event which changes state.
* Press back button (I mean go back).
* Observe that BG color has changed to white and text color has also changed.

On the other side

[2018-07-14 06:29] HarshitOnGitHub commented on #2806
@jainkuniya I think simply updating the mapping you have checked in mobile repo and trying again should fix this.

[2018-07-14 07:22] #2765 closed

[2018-07-14 07:39] jainkuniya opened #2811 "Remove all instances of NavigationScreenProp type."
Currently it is present in `ChatScreen`, `LightboxScreen`, `AuthScreen`, `RealmScreen`.

I just tested changing type to

[code]

and accessing like this:

[code]

**Expected behaviour**: Flow should give error because type specify email but I am accessing realm.
But it didn't.

[code]

So this is just adding reductions and we are confirm that we are right but not. SO better to remove all this redu

[2018-07-14 07:44] borisyankov commented on #2811
It is the `<*>` that throws Flow off.

[2018-07-14 07:44] gnprice opened #2812 "Simplify how we translate strings outside components"
For user-facing text whose source code is in the code of a component, `Label` and friends give us a nice convenient way to pass the text through translation.

When the code is in a function elsewhere, we have this way of doing it:
[code]
and then pass `getString` down the stack. We only do this in `MessageList` and its helpers, though -- everywhere else, we just don't translate. #1538 and #1539 co

[2018-07-14 07:47] gnprice commented on #2812
See also https://github.com/zulip/zulip-mobile/issues/1481#issuecomment-348678750 and subsequent comments for some previous discussion.

[2018-07-14 07:52] borisyankov commented on #2812
I agree with the use of `context` for this vs what was used in the PRs. That is the reason I didn't merge earlier.

We need to figure out a more systemic approach to get everything translated. Would @kunall17 want to work on all the other related translation tasks?

[2018-07-14 07:53] gnprice commented on #1507
After discussing this with @kunall17 today (following his prototype #1933), we have a bit more specific of a plan:
* We'll show this as a warning banner, similar to the "No internet connection" banner seen in #2729 . This one will be dismissable (with an X-shaped "close" icon at the right?), and have a link like "Learn more".
* I'll try to wordsmith the text down to one line, but if it overflows t

[2018-07-14 07:55] jainkuniya commented on #2811
Tried with only
[code]
Then also it is not throwing error.

[2018-07-14 08:00] borisyankov commented on #1507
FYI: I will be working on caching the `serverSettings` somewhere for all accounts, for purposes like this and the realm icons. We would not need to do a `getServerSettings` but just to access the store.

[2018-07-14 08:01] gnprice opened #2813 "Rename and move `getChatScreenParams` and friends"
The selector `getChatScreenParams` is the last survivor of its kind after the others were eliminated by #2746. But the one way we actually use it is quite different from the bad pattern described in that issue, and is good, so it's sticking around.

The name doesn't really match what it does, though. Also it and most of the rest of the selectors in that file belong under `nav`, and the one excepti

[2018-07-14 08:03] gnprice commented on #2746
Fixed in #2748 . There's one remaining selector that looks like an example of this bug but isn't; I filed #2813 for a small followup to clean it up. Thanks again @jainkuniya !

[2018-07-14 08:03] #2746 closed

[2018-07-14 15:40] jainkuniya opened #2814 "Show button in PasswordInput is aligned at bottom instead of right on Android API 28 only (checked on lower Android API & iOS, it works fine)."
<img width="273" alt="screen shot 2018-07-14 at 9 03 47 pm" src="https://user-images.githubusercontent.com/18511177/42725929-d24ad006-87a9-11e8-9d64-7a4eab90d1fa.png">

@zulipbot claim

[2018-07-15 12:13] timabbott commented on #2806
@jainkuniya a couple notes:
* It looks like your API request isn't setting `reaction_type` properly?
* If you're upvoting an existing emoji reaction, ideally you'd be just passing the same `emoji_name` and `emoji_code` that are present in the existing reaction; if you do that, this sort of error should never happen even if the server and app have different versions of the emoji data.  This is impo

[2018-07-15 12:20] jainkuniya commented on #2806
Ok! Will check it out.

On Sun, Jul 15, 2018, 5:43 PM Tim Abbott <notifications@github.com> wrote:

[2018-07-16 06:16] j0hannesr0th opened #2816 "Enhancement: Add inline preview for different media types."
EDITED by Chris Bobbe: This is now the mobile counterpart to https://github.com/zulip/zulip/issues/9081; see https://github.com/zulip/zulip-mobile/issues/2816#issuecomment-590648171.

At the moment if you send a video, file, etc. via pm or to a channel it's shown as a link. If you click the link your browser opens and you have to login, then you can download the video/file the the smartphone and w

[2018-07-16 06:35] sai713 commented on #438
my app doesn't providing any notifications but even though it is showing some notification count badge on app icon. please help me out

[2018-07-16 17:11] lukasIO commented on #2816
the issue in zulip discussing this, not sure if the markdown processing on mobile would need extra care...
https://github.com/zulip/zulip/issues/9081

[2018-07-19 20:16] zingmars commented on #2816
Previews would be nice, but what would be the behaviour for non-text/video files? At the very least there should be a button to download the file directly because the whole 'download through the browser' routine is fairly annoying.

[2018-07-19 21:35] lukasIO commented on #2816
For the case of video files this would already be solved with the standard browser controls of a preview window as they show a download button in the control bar

[2018-07-19 21:40] zingmars commented on #2816
Oh, I meant non(text|video), as in neither text nor video (nor pictures I
suppose). Woops.

On Fri, Jul 20, 2018, 00:35 lukasIO <notifications@github.com> wrote:

[2018-07-20 03:31] #2711 closed

[2018-07-20 22:04] gnprice commented on #2722
No, I'm quite sure there were other conversations shown on the screen in addition to this broken one. It's right there in my original report:

I don't know the cause, but that was the observed behavior and it doesn't do any good to deny it.

[2018-07-20 22:15] gnprice commented on #2800
Update: after I wrote up this issue last week, @borisyankov suggested a possible cause, and we studied the code together and spotted a bug that would cause this.

Specifically: when we come online after being in the background for a while and then try to ask the server what's happened in the interval, we'll get a response saying that queue doesn't exist, because the server timed out (by default, a

[2018-07-20 22:17] gnprice commented on #2539
Given our diagnosis of #2800 , it strikes me that this might be a symptom of the same underlying bug: we lose our event queue and don't realize it, so although our initial fetch for the narrow works fine, we never see new messages come in thereafter.

[2018-07-20 22:33] gnprice commented on #2722
One possible cause for having incomplete data on users: the bug we diagnosed as the likely cause of #2800, where we don't notice that we've lost our event queue on the server. If that happened and then another user showed up, we wouldn't learn about them.

Another possible cause: we don't seem to handle `EVENT_USER_UPDATE` actions. So if a user changes their email address, we won't learn about tha

[2018-07-22 13:05] hjiang commented on #2434
I ran into this problem with the latest iOS app too. This is a video that shows the problem:
http://dropshare.47590191.mtmss.com/1Uh9o3wBA0.mov

All non-latin languages are probably broken.

[2018-07-23 19:50] #2800 closed

[2018-07-25 08:41] gnprice opened #2834 "Fix bogus year-1970 timestamp in how we aggregate user presence"
See `getAggregatedPresence`:
https://github.com/zulip/zulip-mobile/blob/1baf7aec1/src/utils/presence.js#L16

As the comment there says, this should have the same behavior that the webapp implements in `status_from_timestamp`.

Comparing those two functions, there are two differences in behavior where we should adjust to match:
* When a user doesn't have any presence info more recent than OFFLINE_T

[2018-07-26 00:17] #2794 closed

[2018-07-26 01:15] gnprice opened #2837 "Avoid blocking UI in onPress handlers"
With #2799, we fixed a longstanding annoying issue in the app's UI: pressing a stream or topic in the unreads screen, the basic routine navigation move in the app, wouldn't give visual feedback on what you'd pressed. The cause was that in the onPress handler we were doing the navigation synchronously, so the animation didn't get to run until it was complete; the fix is to insert a `setTimeout` to

[2018-07-26 01:16] gnprice commented on #2794
Thanks again @roberthoenig for this writeup, and thanks @agzuniverse for the fix!

I've just filed a followup issue #2837 , for the long tail of less-central places in the app that show similar symptoms.

[2018-07-26 01:51] jainkuniya commented on #2837
Let's try out this version 😅

@zulipbot claim

[2018-07-26 03:16] jainkuniya opened #2840 "Add subscribers button in stream screen is only visible to Admin."
Just checked on web app. Anyone can add anybody in the stream visible to him.

[2018-07-26 03:16] jainkuniya commented on #2840
@zulipbot claim

[2018-07-27 17:21] borisyankov opened #2844 "After failed login, switching back to other account hangs"
We are not handling well failed account switches (and possibly failed logins on startup as the flow is almost identical)

One reported issue (though other causes for the same behavior likely exist):

[2018-07-27 19:06] gnprice opened #2845 "Search result highlights in topic headers render as literal HTML"
In search results, we highlight the terms that matched the query. This works great in the message body; but when the match is in the topic, we show a literal `<span class="highlight">` and `</span>`, instead of highlighting the match as intended.

![image](https://user-images.githubusercontent.com/28173/43341373-23e7eaae-9194-11e8-91a0-1c7a558546f3.png)

This was probably broken by my 994145383 "w

[2018-07-27 19:17] gnprice commented on #2844
More details on the reported behavior:

Note the issue is apparently when switching *away* from a realm/org that isn't accesible, not to it.

[2018-07-28 00:39] gnprice opened #2846 "Realm emoji don't work in autocomplete or reactions"
If you're composing a message and start typing an emoji's name, like `:smi`, we show a nice autocomplete popup with possibilities like `:smile:`.

If the emoji you have in mind is a realm emoji, though (or a Zulip extra emoji -- i.e. `:zulip:`, though in principle there could be more in the future), it won't appear. Also, if people have reacted to a message with a realm emoji or a/the Zulip extra

[2018-07-28 07:42] #303 closed

[2018-07-28 07:49] borisyankov commented on #1888
This commit https://github.com/zulip/zulip-mobile/commit/92e6aa66f0916634a5ec9a6d4b9ffe2baeb71fea#diff-06351a9da378628b00f8bed3fc871ace
makes the narrowing from a notification consistent and work as 'focus on first unread'.

[2018-07-28 07:50] gnprice commented on #2129
An update: this bug is at least a bit milder now, in that instead of "undefined" the emoji comes out just missing; there's a box there for the reaction, and it has the count but not the actual emoji.

I've filed #2846 with a description of the underlying problem.

[2018-07-28 17:06] borisyankov commented on #2770
@synicalsyntax reported the same issue caused by different actions:
Changing user's email also causes the stored authentication information to be invalid resulting in failed login attempt.

[2018-07-29 16:22] agzuniverse commented on #2846
@zulipbot claim

[2018-07-30 04:33] jainkuniya commented on #2846
@agzuniverse on which part are you planning to work 🤔. There is already PR for this #2307

[2018-07-30 04:44] gnprice commented on #1888
Closing because this is now done. Thanks @borisyankov for closing the loop!

[2018-07-30 04:44] #1888 closed

[2018-07-30 04:46] gnprice commented on #2651
Reported again yesterday by @synicalsyntax , who adds a screenshot of the notification settings for Zulip:

![image](https://user-images.githubusercontent.com/28173/43377996-cd5a10ae-9378-11e8-8e52-8bc4f24f6a91.png)

[2018-07-30 05:18] jainkuniya commented on #2770
Will rebase #2560, tonight 👍

[2018-07-30 10:49] #2705 closed

[2018-07-30 14:20] agzuniverse commented on #2846
Modifying the realm emoji selectors as I did in #2775 fixes the problem of realm emoji not showing up the app at all. This is the simplest fix to this problem as all the code in the app is already set up to work with a specific structure of the `relmEmoji` object, it's just that this is not the structure returned by the selector right now.

The commit with this modification was not merged in that

[2018-07-30 18:45] gnprice commented on #2676
#2843 is a good fix which we should do (and it will put us ahead of the web app! see zulip/zulip#10111); but when the user did the starring/unstarring right here in this app in front of them, it will inevitably have too much latency for many (most?) users to feel responsive because it only gets to act when the server tells it about the event.

So we should also do a local echo of this state. The w

[2018-07-30 18:47] gnprice commented on #2676
I just played a bit with reactions in FB Messenger, as one point of comparison to help gauge what our standards should be here. :wink: (Wait no, that's not on the FB "reaction" list. Maybe :open_mouth: ?) They did seem to be doing something, but it isn't great:
* I opened a thread, then went into airplane mode.
* Tried reacting to a message. The reaction appeared immediately. ... After I scrolled

[2018-07-30 18:54] gnprice commented on #2676
Here's one proposal for a still-pretty-simpleminded approach that may be good enough:
* When the user tries to star a message, we update our own state before firing a request to the server, just like the webapp does in `message_flags.toggle_starred`.
* Except: first we check if `getSession(state).isOnline` -- the same flag relied on by our "No Internet connection" banner in `OfflineNotice`. If we'

[2018-07-30 21:43] gnprice commented on #2539
I'd be very interested to hear from anyone seeing this symptom on 15.0.92 (which went out to all Android users yesterday, and into Apple's review process to get it to iOS users), which has the fix for #2800. That bug definitely would cause this behavior, so I'm hoping it was *the* cause.

[2018-08-01 04:52] jackrzhang opened #2852 "Add local echo for starring a message."
If a user is on a slow network or just geographically distant (i.e. on a different continent) from a server, we should optimistically update for starring a message.

For relevant discussion, see [#2843](https://github.com/zulip/zulip-mobile/pull/2843#discussion_r206269559) and [#2676](https://github.com/zulip/zulip-mobile/issues/2676#issuecomment-408969257).

@gnprice

[2018-08-01 04:52] jackrzhang commented on #2852
@zulipbot claim

[2018-08-01 07:02] jackrzhang commented on #2676
Hm, that scrolling behavior sounds fascinating. I'm observing nothing of the sort on my iPhone in airplane mode.

[2018-08-01 08:46] roberthoenig opened #2853 "diagnostics screen: Take compression into account when calculating storage size."
Currently, the diagnostics screen for our storage still shows the uncompressed size the data stored for each key, even though we compress it on storage.

Both uncompressed and compressed metrics are useful data, so we should provide a way to see both.

[2018-08-01 08:50] gnprice commented on #2852
(It turns out that until recently, this was the *only* way the webapp had to display that you'd just starred a message -- there was a bug (zulip/zulip#10111) so that when it got an `update_message_flags` event for starring a message, it would drop it! But that was fine, because by then it had long since rendered the change with a local echo / optimistic update.)

[2018-08-01 16:55] gnprice commented on #2806
The [original report](https://chat.zulip.org/#narrow/stream/48-mobile/subject/reactions.20bug/near/612890) of this issue adds:

The user was on v14.1.91 on Android.

[2018-08-01 17:07] gnprice commented on #2806
FWIW, this works fine for me, on 16.0.93 (the new alpha) on Android. I'm not aware of anything recent that would have fixed this, though I'm not sure I recall everything since 14.1.91.

@jainkuniya , it sounds like you reproduced this issue -- what did you do that reproduced it?

[2018-08-02 06:41] #2840 closed

[2018-08-02 08:43] #2505 closed

[2018-08-02 15:25] lukasIO opened #2856 "Topic link in mentions doesn't lead to the mention-message"
Behaviour:
When navigating to the mentions area and clicking on the topic link, next to a message that I was mentioned in, I am directed to the most recent messages of that topic.
Expected Behaviour (as in Desktop/Web):
When I click on the topic name of the mention-message I get redirected to the message I was mentioned in within the topic, to be able to see the context of the message

[2018-08-03 10:23] gnprice opened #2857 "Crash in topic autocomplete due to parsing as regexp"
To reproduce:
* Narrow to a stream.
* Open the compose box.
* Focus the topic input, and type a `(`.
* The app crashes.

Learned about this from a Sentry crash report ([link](https://sentry.io/zulip/zulip-mobile/issues/629372472/)). Here's the traceback:
[code]

That was 15.0.92 on iOS. I reproduce on 16.1.94 on Android.

It looks like we're taking the text the user entered, and trying to parse it

[2018-08-03 10:44] gnprice opened #2858 "Crash when misconfigured server sends HTML for server_settings"
We got the following crash [from Sentry](https://sentry.io/zulip/zulip-mobile/issues/629367821/):
[code]

The placement in `ZulipSwitch` is baffling, but there's one place we look at a `realm_name` property; it's in AuthScreen, looking in the returned data from `/server_settings`.

The Sentry page shows a fetch just before that to `/server_settings` on a particular server... and `curl -i` finds th

[2018-08-03 10:58] #2858 closed

[2018-08-03 11:26] gnprice opened #2859 "given action "REALM_INIT", reducer "userGroups" returns undefined"
Sentry [shows this error](https://sentry.io/zulip/zulip-mobile/issues/626034816/) hitting a bunch of users, ever since 15.0.92 came out:

(That is an admirably clear error message. Thanks, Redux!)

Here's the relevant code:
[code]

Seems like that field isn't included in the response we got from the server.

I suspect these are older servers that just don't have this feature. Checked one at random

[2018-08-03 12:06] armaanahluwalia opened #2860 "Loading spinner while uploading attached Image"
While on slower connections the user flow for attaching an Image to a message is sub-optimal. Often what happens if you've typed in text and then attached an Image to the message. The text shows up as sent but the image takes a few seconds to upload. A couple of times now I've actually re-uploaded the image and sent another message only to have the post then duplicated.

To solve this I think we s

[2018-08-03 12:13] armaanahluwalia commented on #303
@gnprice Is anyone currently working on this?

[2018-08-03 13:50] gnprice commented on #2113
The results of some debugging on this are in #2246 , but that PR was never finished.

I described a plan for how to fix this bug in this comment: https://github.com/zulip/zulip-mobile/pull/2246#issuecomment-380640640 with some additional details in the comment just after it.

[2018-08-03 14:00] borisyankov commented on #2859
Started working on this. It seems we are not consistent in how we handle this. I'll rework all reducers to do the same reasonable thing in this case.

[2018-08-03 15:08] agzuniverse commented on #2760
@zulipbot claim

[2018-08-03 15:10] agzuniverse commented on #303
@armaanahluwalia this has been solved in #2775 , which has been merged into the master branch.

[2018-08-03 17:03] zingmars opened #2861 "Auto refresh in chat view loses the content of the message box"
When an app has been closed (or switched away from) for a while with chat open and then re-opened the app will then refresh the whole chat view in order to get the latest messages. Sadly, if anything has been typed in the message box before the refresh (sometimes the refresh takes a few seconds to actually happen, in which case you already would've had enough time to write parts of your message) w

[2018-08-04 00:12] gnprice opened #2862 "Can't send a message with a URL in it"
I saw this today on 16.1.94 (the current alpha) on Android, and it reproduces reliably. I think I saw something similar yesterday that I didn't pin down; but otherwise I don't think I've ever seen this before, so it may be a recent regression.

To reproduce:
* Go to a narrow and open the compose box.
* Type something like `blah http:` .
* Hit the send button. Nothing happens.

It stops reproducing

[2018-08-04 01:03] gnprice opened #2863 "Give the Android debug build a different icon for notifications, too"
Following #2743 and #2745 , I am quite happy to have a debug build of the app installed on my phone alongside the release build. (It doesn't really work most of the time, as it needs the phone to be connected by e.g. USB to my computer where I'm running Metro with `react-native start`... but it's very handy for testing some things.)

One small annoyance is that when I get a notification, I get two

[2018-08-04 01:38] gnprice commented on #2374
We had a rather spectacular demonstration of this bug today, provided by @armaanahluwalia :

![image](https://user-images.githubusercontent.com/28173/43671293-fb5347d8-974b-11e8-989a-68e7a3d02f1f.png)

An hour earlier @armaanahluwalia had reported being on 15.0.92 (the current latest prod release) on iOS, so that's presumably the environment where that happened.

[2018-08-04 03:32] timabbott commented on #2862
I'd look at whether the local echo code in the app is throwing an exception that isn't being caught properly...

[2018-08-04 05:10] jainkuniya commented on #2857
@punchagan
Nice to see, you have already submitted PR #2864. ❤️
Also I would suggest to claim issue, so that we can track the progress 😄

[2018-08-04 09:43] punchagan commented on #2857
@zulipbot claim

[2018-08-04 14:33] jainkuniya opened #2865 "Sometimes sorting of unread stream in unread screen is not correct."
How checkin is before than announce. 🤔
<img width="323" alt="screen shot 2018-08-04 at 7 57 31 pm" src="https://user-images.githubusercontent.com/18511177/43677516-c84842b4-9820-11e8-8ba6-aee71df321f8.png">

@zulipbot claim

[2018-08-04 14:53] borisyankov commented on #2865
Is #checkins pinned?

[2018-08-04 14:58] jainkuniya commented on #2865
#checkins & #announce, both are pinned.

[2018-08-04 18:13] jainkuniya opened #2866 "Show a separator in the unread list, between pinned streams and other streams same as in subscribed stream tab."
@zulipbot claim

[2018-08-04 18:41] jainkuniya opened #2867 "Floating button is not visible on inviteUserScreen and groupScreen."
Also selected users list (horizontal avatar list is not pinned/floats on top on scroll)

There is already PR for this issue. #2307

(Just opening issue to track this down)

@zulipbot claim

[2018-08-04 19:11] jainkuniya commented on #2867
(oh! there was already issue #2709)

[2018-08-04 19:19] jainkuniya opened #2868 "Emoji in message list don't render if names have changed."
<img width="292" alt="screen shot 2018-08-05 at 12 41 50 am" src="https://user-images.githubusercontent.com/18511177/43679803-6bf01acc-9849-11e8-8720-1100e42e023b.png">

@zulipbot claim

[2018-08-04 21:08] jainkuniya commented on #2806
Yup! I got the reproduction.

Problem is: we are not sending complete data to server.

For this, correct (updated) emoji name is `8_ball`. Will be fixed by #2869.

I am also getting some other issue, on upvoting an existing emoji reaction.
<img width="706" alt="screen shot 2018-08-05 at 2 36 47 am" src="https://user-images.githubusercontent.com/18511177/43680441-831fdf7a-9858-11e8-81b7-33934e5a5f4

[2018-08-05 13:37] jainkuniya opened #2870 "Error is not shown in alert when message edit is failed."
There is already outdated PR for this #2560.

@zulipbot claim

[2018-08-06 07:24] frg-tarasov opened #2873 "Nothing happens when select image to upload"
Android 7.1.1
Smartphone Sony Z5 Compact.

Zulip self-hosted installation.

Photo with camera also nothing not send to chat.

Thanks.

[2018-08-06 07:30] frg-tarasov commented on #2873
**@zulipbot** claim

[2018-08-06 13:58] Serkan-devel commented on #1270
Any updates on this?

[2018-08-06 14:26] borisyankov opened #2876 "Don't break `/thumbnail` images in message list"
Our app does not show images in WebView using the new thumbnailing coming in 1.9
We should fix that ASAP.

[2018-08-07 02:47] gnprice opened #2877 "Replace notifications library with using platform APIs directly, on Android"
After some time studying how we're doing notifications, I think the wix/react-native-notifications library isn't doing us a great deal of good, and on Android in particular it's getting in our way more than it's being useful.

Specifically, it's all a bunch of pretty thin wrappers around the underlying Android and GCM APIs. Which could have value, if it meant we got to write JS code that was the s

[2018-08-07 05:52] #2857 closed

[2018-08-07 06:05] gnprice commented on #2873
Hmm interesting. Thanks for the report!

I don't think we've seen reports of symptoms like these before, and uploading images is a pretty frequently-used feature; so I suspect there's something different about your server that is part of what's happening here. If so and if we can identify that, then we'll be in good shape to figure out how the app should handle it.

It sounds like you're intereste

[2018-08-07 22:31] timabbott opened #2879 "Keyboard pops up when following a push notification"
On my device (Samsung Galaxy S9+), after I click a push notification, it takes me the PM view with that user, and opens the keyboard ... but doesn't focus the text area.  So typing on the keyboard doesn't work.

This has been annoying me a lot over the last few days, and I don't remember having noticed it before that; hard to tell whether this is because I was unable to sit at a keyboard yesterday

[2018-08-10 08:44] gnprice commented on #2877
Since I've just spent some more time studying this code in the course of reviewing #2874, here's a more detailed plan:
1 Replace the use of the library's `ProxyService` for our "Clear" action on the notification. Instead, just have our own little service.
  * First, just add the new service, declare it in the manifest, and have the `dismissIntent` point to it instead -- but change as little as pos

[2018-08-12 08:14] hjiang commented on #2434
Seems the upstream issue had been closed. Is there plan to making a new release soon? The current version is unusable for CJK users.

[2018-08-12 10:17] borisyankov commented on #2434
The fix for the issue is in this commit:
https://github.com/facebook/react-native/commit/892212bad2daadd373f4be241e4cd9889b0a1005

It has not yet landed in a released version of React Native.
That should be included in 0.57 (but this is a blocker for its release https://github.com/facebook/react-native/issues/20567)

The fix itself is only related to controlled inputs which we are moving away from

[2018-08-12 17:53] kunall17 commented on #2651
Opened PR for this https://github.com/zulip/zulip/pull/10286

[2018-08-13 14:28] AmitJoki commented on #438
Is this issue still open? I'd like to look at it.

[2018-08-13 18:48] borisyankov commented on #438
@AmitJoki yeah, no one is currently working on that.
Feel free to explore the issue and let us know if any back-end changes are required to make this work.

[2018-08-13 19:00] timabbott commented on #438
@borisyankov I believe this is actually in progress, and mostly complete; see https://github.com/zulip/zulip/issues/7459.

[2018-08-13 20:51] borisyankov commented on #2879
@timabbott is this continuing to happen?

I did some testing and out of the 3 apps tested (FB Messenger, Skype, Viber) they all did the same - not have the keyboard focused, but also didn't pop it visible. It seems we should do the same.

In fact, this is what is happening on my phone (Samsung S8+) - the keyboard does not pop. @gnprice what happens on your phone?

[2018-08-13 21:05] timabbott commented on #2879
Yes, this happens every time I click a push notification and try to reply.

[2018-08-14 00:25] AmitJoki commented on #2879
@timabbott @borisyankov I am looking for a good first PR to get started contributing to this repo. This sounds interesting and not much of a work. Can you just give me a broad hint as to which files I've to be looked at? I'd be interested in solving this issue.

[2018-08-14 19:11] borisyankov commented on #2879
@AmitJoki that might be a good first PR. I am not certain as the cause of the issue is unknown. Often that is how it goes.

The majority of the task will consist of trying to reliably reproduce the issue and finding other people that already have the issue.

Currently, we know:
 * it happens only sometimes
 * it happens on `Samsung Galaxy S9+` consistently (but not on Samsung Galaxy S8+ which is s

[2018-08-15 04:50] AmitJoki commented on #2879
@borisyankov that's sad! It seems the error/anomaly is highly specific and irregular. And I don't happen to own Samsung Galaxy S9+, so there's no way to test.

I'd appreciate if you could point me to some other issues that could be a good first PR, as most of them are a work in progress or those which have been solved but just not closed yet.

[2018-08-15 05:51] gnprice commented on #2879
Just tested on my Pixel 2 XL (with Android 8.1.0). Same behavior as Boris reported above:

Which I agree seems like pretty reasonable behavior, and in fact that was Tim's preference in the OP so I guess we all agree on that. So this is a bug specific to certain phones, in particular Tim's Samsung Galaxy S9+.

@timabbott , what keyboard are you using? This should be in system settings; on stock And

[2018-08-15 14:52] sstangl opened #2888 "Images not shown in image viewer on iOS"
Filing an issue on behalf a non-technical member of our organization. We're investigating moving to Zulip from Slack.

On the most recent version of the iOS app (installed yesterday), the user claims that images display in-line, but when he touches them to make them full-screen in the image viewer, only a black screen is shown, and the screen remains black even after waiting for a long time. This

[2018-08-15 16:51] borisyankov opened #2889 "Subscribe / ubsubscribe self from streams does not work"
The latest published app (and `master`) is not able to subscribe/unsubscribe the user from streams.

[2018-08-15 17:27] TrystanOakley commented on #2888
"non-techical" member here. I have witnessed a few more bugs if you would like me to file issues for them.

[2018-08-15 22:11] TrystanOakley opened #2891 "Here are a few issues I have experienced on iOS"
Hello all! My name is Trystan Oakley and our team at www.OpenPowerlifting.org have recently transitioned over to Zulip from Slack as your project is more in line with our views and practices. I just wanted to stop in and let you know of a few bugs and issues I have experienced on the iOS app.

1. On the "Streams" tab there is "subscribed" and "all streams". When a new stream is made and I go to "a

[2018-08-16 00:54] TrystanOakley commented on #2888
I also can not download and/or save the image to my phone.

[2018-08-16 08:08] gnprice commented on #2434
For everyone's enjoyment/education: that upstream commit https://github.com/facebook/react-native/commit/892212bad has a very nice explanation of the diagnosis and the fix.

[2018-08-16 20:27] jpellman commented on #2888
We're encountering something similar with YouTube videos- videos will appear as expected when the preview is clicked on in the browser, but on the Desktop and Android/iOS apps the video does not appear (i.e., we just get a black screen).

[2018-08-16 20:40] jpellman opened #2894 "Uncaught SyntaxError: Unexpected Identifier in 15.0.92"
One of our users seemingly randomly gets the following error while logged into a realm on our self-hosted Zulip server:

![zulip_uncaught_syntaxerror](https://user-images.githubusercontent.com/5000591/44233612-59d0cd00-a172-11e8-85df-4df9132ae63b.jpg)

Aforementioned user is using v.15.0.92 of the Zulip mobile app on a Galaxy S7 running Android 8.0- any ideas what might be causing this?

[2018-08-16 20:41] timabbott commented on #2888
@jpellman adding a separate issue for YouTube videos would be good; for those, we have some custom code in the webapp that I expect will need to be ported to the mobile apps.

[2018-08-16 20:51] jpellman opened #2895 "Embedded YouTube Videos Do Not Display When Clicked"
Embedded YouTube videos do not appear as expected when users click on the video preview in the Desktop and Android/iOS apps (i.e., users just get a black screen).  This occurs in version 2.3.3 of the Desktop app and version 15.0.92 of the mobile app.  This issue does not occur when logged in via web browser.

[2018-08-16 20:56] timabbott commented on #2879
I have "Samsung Keyboard" as the default keyboard.

[2018-08-16 20:58] timabbott commented on #2895
We have explicit code in the webapp for Youtube videos that involves reading `data-id` from an image with the `youtube-video` class on it in the `static/js/lightbox.js` code, so probably we need to replicate that in the app.

[2018-08-16 21:29] borisyankov commented on #2879
That is weird. I have Samsung Keyboard 3.0.23.63
@timabbott could it be a bug related to an older keyboard version?

[2018-08-16 21:42] timabbott commented on #2879
No idea; there doesn't seem to be a way for me to upgrade the keyboard version.

[2018-08-17 07:50] gnprice commented on #2538
Fixed in 787c4a53b (from #2854) a couple of weeks ago, along with #2505 and #2558.

[2018-08-17 07:50] #2538 closed

[2018-08-17 07:50] gnprice commented on #2558
Fixed in 787c4a53b (from #2854) a couple of weeks ago, along with #2505 and #2538.

[2018-08-17 07:50] #2558 closed

[2018-08-17 07:55] gnprice commented on #2894
Thanks for the detailed report!

This looks like a case of #2505. The issue was fixed in 787c4a53b (from #2854) a couple of weeks ago in master; the fix is in version 16.2.96, which went to beta this week and will go out to everyone next week if all is well.

(Meanwhile, if you're interested in giving early feedback on beta versions, we'd be [glad to have you join](https://github.com/zulip/zulip-m

[2018-08-17 07:55] #2894 closed

[2018-08-17 08:00] gnprice commented on #2895
Thanks for the report!

(It looks like the desktop side of this is https://github.com/zulip/zulip-electron/issues/537 , which they believe is fixed in master.)

[2018-08-17 08:07] gnprice commented on #2888
Thanks @sstangl and @TrystanOakley for the reports!

The failure to load on iOS (but only in the lightbox, and working fine inline in the message list) is actually a known issue: #2654 . I agree it's an annoying one.

Hmm, good thought. This wouldn't really be an improvement when there really isn't a download happening (i.e. the bug on iOS), but it'd be good for the case when the connection is jus

[2018-08-17 08:10] gnprice opened #2896 "Show a spinner in lightbox when slow to load"
As @sstangl suggested in #2888, when the image in the lightbox takes a while to load,

This'll be somewhat less common in the medium term as we roll out server-side thumbnailing, but still a fairly common case when people are on slow network connections.

This is a polish feature that would be nice to add.

[2018-08-17 13:07] jainkuniya opened #2898 "Do not include debug build launcher app icon in release APK/package."
Currently there is no logic which says, `ic_debug_launcher` is only used in debug build, so it is also present in release build. We can save few space (but very less). But for future this might be helpful, when we have more build based resources.

For reference:
https://stackoverflow.com/questions/33760518/android-gradle-have-both-debug-and-release-resources-in-different-flavors

[2018-08-17 13:08] jainkuniya commented on #2898
@zulipbot label "good first issue"

[2018-08-17 14:48] borisyankov commented on #2888
I was considering showing a low-rez thumbnail while the high-rez one loads, now that we support thumbnailing.

[2018-08-17 18:12] timabbott commented on #2660
What's the status on this?  I just got a report about it from a friend.

[2018-08-17 18:34] timabbott opened #2900 "Add support for displaying custom profile field data"
We recently added support for custom profile fields in the Zulip server and webapp, and we should probably plan to add support for that on mobile as well.

I don't think we need to care about editing custom profile fields on mobile (it's a lot of work for not that much benefit), but we should probably have a way to see them when you get full-screen data about another user (where we show name/email

[2018-08-18 14:43] punchagan commented on #2862
@gnprice Is this still an issue?  I'm unable to reproduce it on `v16.2.96` or the latest master.

[2018-08-18 17:34] sstangl opened #2901 "Tapping on a message should begin a Reply."
On the Android client, in the "All Messages" view, tapping on a message has no effect.

In order to reply to a message, you have to long-hold on the message, then a modal dialog pops up, and then you need to select "Reply."

This has been confusing to people -- the default reaction seems to be to assume that the app isn't working, or that it's loading in the background, or something like that. We'

[2018-08-18 17:49] sstangl opened #2902 "Editing a message outside of the valid edit window should show a helpful message."
Our organization is on zulipchat.com with a 10-minute edit window.

In the app, if a user attempts to edit a message that is outside of this window, a modal dialog pops up with just the text `API`. The user didn't know that they couldn't edit the message due to policy reasons -- they then thought that there was an error in the app or with the server.

Two options:
1. The "Edit" button should be gr

[2018-08-18 17:54] sstangl commented on #2902
Screenshot of what it looks like now: https://imgur.com/a/b6zNkhg

[2018-08-18 17:58] jainkuniya commented on #2902
hi @sstangl Thanks for the feedback.
for

We are tracking this under #2792

for

Will be fixed by #2871

[2018-08-19 14:40] borisyankov opened #2903 "Failing to parse message for local echo should not fail message sending"
When sending a message we try to parse the markdown so we can show an HTML preview.
This is done via this project:
https://github.com/zulip/zulip-markdown-parser

Sometimes parsing fails, throwing an exception.
While it is good to figure out why the exception is thrown and if possible fix and produce the HTML, we can and should do something else:
Regardless if the preview generation failed, we sho

[2018-08-20 03:57] punchagan commented on #2862
@gnprice I was trying to reproduce this on an emulated device, and I see that the Emoji picker flashes and goes away as I'm typing the `:` in the URL. I wonder if the input is being captured into the emoji picker somehow, and the message typed after the `:` gets lost.

[2018-08-20 10:44] borisyankov opened #2905 "Uncaught TypeeError: Array.from is not a function"
`Uncaught TypeeError: Array.from is not a function` exception is sometimes thrown inside WebView.

[2018-08-21 02:35] rishig opened #2908 "Had a hard time exiting message editing"
I couldn't figure out how to exit message editing (I was in a PM). The up button (left arrow) took me to the previous screen. (I forget now what else I tried.)

Opening as per https://chat.zulip.org/#narrow/stream/48-mobile/topic/exiting.20message.20edit. Let me know if more info would be useful.

[2018-08-21 06:37] omi10859 commented on #2512
I don't find any react-native library that could help us with this feature.
so, we may have to write native code for this

[2018-08-21 13:35] a-b commented on #2654
This problem is still present in the latest iOS 12.
Unable to enlarge images from the chat is a major issue for our organization. Any guess when this could be fixed?

[2018-08-21 13:37] a-b commented on #2888
Thanks for update @borisyankov Any guess when the corresponding fix could be released?

[2018-08-21 18:07] nmagerko opened #2909 "Cannot connect to self-hosted organization"
When I try to connect to my organization's self-hosted chat server during onboarding on Android, the application shows the error "Cannot connect to server".

The only related issue I found to this is #1191. I don't think this is related to an SSL error since our server is not using a self-signed certificate (as is much of the focus of that issue) but it's hard to say. For reference, the organizati

[2018-08-21 18:58] timabbott commented on #2909
@gnprice this one is interesting; their server is on the public Internet and SSL seems correct.

[2018-08-21 23:41] #2889 closed

[2018-08-22 13:00] jainkuniya commented on #2365
@zulipbot claim

[2018-08-23 07:30] jainkuniya commented on #2908
Submitted #2911

[2018-08-23 15:57] prateek3255 commented on #2898
@zulipbot claim

[2018-08-23 15:58] prateek3255 commented on #2898
I want to work on this issue.

[2018-08-24 09:02] lukasIO opened #2914 "[iOS] white screen visible when switching views in dark mode"
When I have dark mode activated and click on either of the home, starred or mentioned buttons,I can briefly see a white flash from what seems to be the opened view having a white background md then switching colors to the drk mode colors

[2018-08-24 10:27] #2903 closed

[2018-08-25 11:09] prateek3255 commented on #2898
@jainkuniya can you review my PR #2916 for this issue.

[2018-08-25 13:05] lukasIO commented on #1854
I'm still seeing this behaviour occasionally on iOS, not sure about a specific pattern. but from the unread screen clicking on the stream name instead of the topic name seems to be the action that shows this behaviour the most. for me it's the behaviour that the new messages simply don't load. I see the old messages, but the new ones are not being loaded.
Version 16.2.96

[2018-08-25 14:29] borisyankov opened #2917 "Autocomplete popup behaves erraticly"
A recent regression leads to visual issues in the autocomplete popup.
The actual issue is hard to describe but manifests in appearing/disappearing or varying heights of the item list.

[2018-08-25 15:55] borisyankov commented on #1854
@lukasIO do they not load even if you scroll to the bottom and wait for a few seconds?

[2018-08-25 18:32] lukasIO commented on #1854
Yes.
The expected behaviour I observe is, the messages load in chunks and I press the down arrow multiple times to get to the newest ones.
But in this case they simply don’t show, the workaround for me is to open the topic narrow instead of the stream, then the behaviour is as expected (loading dynamically in chunks).
(Maybe this only applies to new topics, not sure)

[2018-08-25 19:30] borisyankov opened #2918 "New messages sometimes might not load"
Issue reported on 16.2.96 / iOS.

Reported as:

But in this case they simply don’t show, the workaround for me is to open the topic narrow instead of the stream, then the behaviour is as expected (loading dynamically in chunks).

[2018-08-25 19:31] borisyankov commented on #1854
Thanks for reporting this @lukasIO
It does not sound to be the same issue as this one so I did file this as a new issue #2918

This was currently not known. I will try to reproduce and fix.

[2018-08-27 15:32] borisyankov opened #2921 "Draft saving does not always work"
The way we save the drafts does not guarantee their storage. This is apparent from looking at the code and was reported as a bug. (though it seems to not be too likely, it can definitely happen)

[2018-08-28 09:09] lukasIO commented on #2918
Hm. In the last days since filing this issue, the symptoms have disappeared for me.

[2018-08-28 19:44] nmagerko commented on #2909
Is there anything I can do to help debug this? Not too familiar with this codebase, but perhaps I could help come up with a solution.

[2018-08-28 19:45] armaanahluwalia opened #2925 "Emoji Reaction Picker: Lag while scrolling"
I'm experiencing major lag aka [_jank_](http://jankfree.org/). This is on Testflight on the latest beta ( 16.2.96).

After some cursory exploration as to what the causes might be I found a couple of resources that may be useful --

https://github.com/facebook/react-native/issues/13413

My conjecture is its being caused because of rendering icons within a very long list. We may be able to improve p

[2018-08-28 19:50] armaanahluwalia opened #2926 "Emoji Reaction Picker: Frozen state / Can't delete reaction"
This happened to me once so I'm assuming its possible it could happen to other users too and is indeed a bug that needs to be squashed. While scrolling through reactions the lag ( issue #2925 ) caused me to accidentally select an emoji. After this point I tried clicking the emoji in the message but it would not let me remove the emoji for some reason. I tried clicking the emoji icon several times

[2018-08-28 19:53] armaanahluwalia opened #2927 "Emoji Reaction Picker: List commonly used emoji"
I feel like the emoji reaction picker should include a compact row of the 10 most frequently used emoji by the user ( this could be local but ideally would be across all zulip clients ).

For the most part I don't see users using more than say 5-10 reactions on a regular basis and having to type out names or scrolling a list can be tedious/frustrating.

For reference this feature can be seen on th

[2018-08-28 22:47] borisyankov commented on #2909
@nmagerko I did some digging.
I was surprised that iOS worked but Android did not.

When stripped from our app, using directly the `HttpOk` library, the error is:
[code]

[2018-08-28 23:04] borisyankov commented on #2909
Testing with another utility on Android, completely unrelated to our code returns:
[code]

[2018-08-28 23:08] borisyankov commented on #2925
What device are you running the app on? What iOS version?

I can not reproduce this on the Simulator, nor on a physical iOS device (or for that matter Android)

[2018-08-29 01:54] armaanahluwalia commented on #2925
IPhoneX running 16.2.96 installed via TestFlight.

It’s very noticeable when you first open up the picker. The picker drawer opening animation itself as janky and as it adds new rows the list scrolling is janky.

Note: if you scroll back up to rows already rendered the jank disappears.

[2018-08-29 04:06] jedbrown opened #2929 "Math rendering mangled on Android"
Math displays fine in the browser, but renders poorly in the Android app. This with version 16.2.96 on Android 9:

![Example](https://user-images.githubusercontent.com/3303/44764756-8e4b6e00-ab0e-11e8-9cd7-85bf5b038e7c.png)

[2018-08-29 12:27] agzuniverse commented on #2927
@zulipbot claim

[2018-08-29 12:30] agzuniverse commented on #2926
Issue already reported in #2784

[2018-08-30 00:12] borisyankov commented on #2929
Thanks for reporting this issue.
It will be resolved when we merge this PR #2690

[2018-08-30 16:36] angrave opened #2932 "cant login to zulipchat when not on X.zulipchat.com (blahdeblah.zulipchat.blah.blah.edu)"
For student privacy (FERPA) purposes we're running zulipchat on our own VM at a university-

https://blahblah.zulipchat.blah.blah.edu
which when opened in a web browser redirects to
https://blahblah.zulipchat.blah.blah.edu/login

(blah is a placeholder - the exact name of the server is hidden for privacy)

However the Android app always reports that it cannot connect to the server.
We've tried inc

[2018-08-30 17:56] borisyankov commented on #2932
@angrave there is a possibility you have problems with your SSL certificate. This is the most common reason for the app not being able to connect on Android.

If you want to check if that is the case, either PM me on https://chat.zulip.org with the actual realm URL, or use an app on Android like DevNetworkTool.

[2018-08-30 17:56] borisyankov commented on #2932
Can you elaborate on the copy-paste issues you are having? I tested this now and it works.

[2018-08-31 11:07] jainkuniya commented on #2917
Most probably it is introduced in b4cd7c829a7d17888902f5468d4ea0a0f1084c42.

[2018-08-31 13:49] angrave commented on #2932
Update: US Universities use https://www.incommon.org/certificates/ to create https cert; these certs cannot be validated by Android because incommon intermediate certs are not included yet  in Java/Android cert stores (but they are included in common web browsers).
Thus this bug could be a 'wont fix' or -
- add common intermediate certs to the application.
- Another recommendation would be in the

[2018-08-31 18:29] timabbott commented on #2932
@angrave have you tried concatenating the appropriate intermediate certs between you and an Android-trusted CA together into an appropriate `nginx` certificate bundle?  Or is what you're saying that incommon.org isn't signed by any other CA present in Android?  http://nginx.org/en/docs/http/configuring_https_servers.html#chains may help.

[2018-08-31 18:49] angrave commented on #2932
Thanks Tim, yes that turned out to be the issue - IT had not properly configured the certificate bundle on the server. This was discovered using

https://www.ssllabs.com/ssltest/

(It is interesting that all of the regular web browsers, Chrome,Firefox,Safari were silent on this). Fixing the bundle made the whole problem go away. i.e Now the certificate and intermediate cert on the server is proper

[2018-08-31 18:49] #2932 closed

[2018-08-31 19:03] timabbott commented on #2932
Should we add a link to https://www.ssllabs.com/ssltest/ on https://zulip.readthedocs.io/en/latest/production/ssl-certificates.html#manual-install ?  That might help a lot for other folks doing a custom SSL cert.

[2018-08-31 22:29] timabbott commented on #2932
Can you explain that idea in more detail?

[2018-09-04 02:42] nmagerko commented on #2909
Problem was caused by issues with intermediate certificates. Thanks for the guidance!

[2018-09-04 02:42] #2909 closed

[2018-09-04 22:48] #2696 closed

[2018-09-04 23:50] gnprice opened #2937 "Act on "long timeout" warning, re-enable "yellow box" to show warnings"
We have the following line in `ZulipMobile.js`:
[code]

This silences a useful mechanism RN offers for showing warnings when in debug mode, i.e. in development. We should turn this mechanism back on.

There are two warnings we currently get regularly that would make this noisy. Here they are as shown in `adb logcat *:S ReactNativeJS:V` (on Android; for iOS, use Xcode to see logs). One is about isM

[2018-09-04 23:52] gnprice commented on #2937
Not needed for fixing this issue, but notes which may be handy for subsequent steps if we try to further improve our warnings in development:

[Example code](https://github.com/facebook/react-native/issues/4045#issuecomment-386408388) for customizing the handling of unhandled promise rejections.

[Background](https://github.com/then/promise/pull/116/files#diff-1e290ac8433d555bce009b162cb869d0) on

[2018-09-05 00:21] scottrus opened #2938 "stuck typing in all caps"
This is reproduced on iOS iPhone 8.

1. On mobile app, compose a reply to this thread but do not yet hit the send button. I used the phrase "This is a test."
2. Be sure you space after the final period so that the keyboard is showing it will auto cap the start of the next sentence.
3. Using 3D Touch, move the insertion point back to "is a" and start typing again. Initially the newly entered text w

[2018-09-05 05:02] gnprice opened #2939 "Support attaching video"
There doesn't seem to be a way to attach a video.

This probably belongs inside the image-picker flow -- just enter the flow the same way you'd attach a still photo, and find the video in the camera roll there. If you try that in the current app, any videos you have just don't appear in the picker.

This is probably a natural follow-on to #2887 . That PR switches to a new library for the image pic

[2018-09-05 14:21] borisyankov opened #2940 "Message position is sometimes incorrect"
It was reported that on our latest release we sometimes incorrectly calculate the message position.
One specific case is on apps startup the position would match message that was last read on the phone but not the actually latest read messages.

[2018-09-05 15:46] jvasile opened #2941 "Organization URL must end in zulip.com"
I have a user on Android Pixel 2 who installed the most recent version of Zulip mobile.  He reports that he cannot enter the organization url we use because the field is pre-populated with ".zulip.com" and he cannot edit that portion of the field.  Another user also reports this problem, though I don't know what platform she is on.

Is there another way to specify the URL?  Or is this a UI bug?

T

[2018-09-05 15:59] borisyankov commented on #2941
Hey @jvasile

We do support arbitrary URLs (non zulip.com/zulipchat.com)

We used to have this issue a few versions ago. Ask the user to check if they have the latest version (16.2.96) and if not to update.

Once updated, ask the user to just write the whole URL, once they type a dot we will not auto-add the domain.

[2018-09-05 16:00] borisyankov commented on #2941
I am curious to know what happened. It would be great if they were on an older version.
If the input was just confusing, we need to address that.

[2018-09-05 17:04] jvasile commented on #2941
The version is indeed 16.2.96 and it isn't actually buggy.  We got it to work after mass confusion.  It wasn't until the fifth person tried to enter it that we figured it out.

The confusion was that the field is pre-populated, and you can't edit the end of it.  You also can't paste into it.  If you type the URL, when you get to the 'dot', it will remove the 'zulip.com' part of the field, but all

[2018-09-07 09:37] jainkuniya opened #2943 "Animation on autocomplete popup are not visible."
We are using `AnimatedScaleComponent` to animate autocomplete popup, but there seems to be some issue in it. Animation is not visible.

@zulipbot claim

[2018-09-08 22:38] jainkuniya opened #2949 "Unread cards: Unread PM/GM is not shown if there are no unread stream messages."
<img width="339" alt="image" src="https://user-images.githubusercontent.com/18511177/45259263-030f8980-b3e6-11e8-9276-cde6c83047cd.png">

[2018-09-10 06:23] brettcannon opened #2953 "Subscribe button not working on Android in v16.2.96"
The Material Design press action is visible, but it never subscribes me. Happening on Android app trying to subscribe to the core/sprint channel for Python.zulipchat.com .

[2018-09-10 11:36] borisyankov commented on #2953
Thanks for the report @brettcannon
We did fix this bug a week or so ago.
Expect the next release to include the fix!

[2018-09-11 00:23] #2953 closed, assigned to nobody

[2018-09-11 11:09] borisyankov opened #2954 "Support 2FA authentication"
If a user does enable the 2-factor authentication option in the web app, when logging in through the browser, they are asked for a 6-digit code in addition to their password.

In the mobile app, we do not support that.  A user is let in after only entering the password, completely ignoring the 2nd authentication.

[2018-09-11 22:31] timabbott commented on #2954
Note that 2FA is not actually available in production with Zulip right now (the feature is unfinished there).  That said, part of the reason we haven't made it a documented feature is that we haven't done the mobile work for it.

[2018-09-11 23:12] gnprice commented on #2688
I just merged @roberthoenig 's #2842 , which, by normalizing the "narrows" state as distinct from "messages", makes this code a lot more straightforward! I think this issue is now ripe to work on.

[2018-09-12 13:37] frg-tarasov commented on #2873
@gnprice I will be try debug this problem, thanks.

[2018-09-12 14:34] borisyankov commented on #2954
Good to know. I was concerned that we might have shipped a feature (or be about to do so) that we haven't implemented support for.

[2018-09-12 18:53] jainkuniya opened #2956 "Fetch emoji code/codepoints from server and store under realm and use it instead of using static codes."
Related discussion: https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Emoji.20sync

@zulipbot claim

[2018-09-14 19:54] zbenjamin commented on #2178
https://github.com/react-community/react-native-image-picker/issues/872#issuecomment-404439605 (and https://github.com/ivpusic/react-native-image-crop-picker/issues/611) seem to imply that react-native-image-picker does provide a jpg. You just need to use `response.uri` instead of `response.fileName`. If I upload an HEIC file from the Zulip mobile app and then download it to my desktop, I see:

[c

[2018-09-16 03:39] #2808 closed

[2018-09-16 04:44] gnprice commented on #2867
#2709 is earlier, so let's consolidate there.

[2018-09-16 04:44] #2867 closed

[2018-09-16 04:50] #2709 closed

[2018-09-16 04:50] gnprice commented on #2709
Thanks @agzuniverse for reporting this! Now fixed. :smile:

[2018-09-17 23:05] jackrzhang opened #2962 "There's no top margin for the iOS status bar in landscape orientation."
Here's a screenshot from my iPhone 7 in landscape orientation:

<img alt="iOS status bar in landscape orientation" src="https://user-images.githubusercontent.com/12771126/45654391-4629c680-ba90-11e8-8110-59dea9cf1d56.jpg"  height="350px" />

Here's that same screen from my iPhone 7 in portrait orientation. The status bar is given space above the rest of UI:

<img alt="iOS status bar in portrait or

[2018-09-17 23:05] jackrzhang commented on #2962
@zulipbot add "area: iOS"
@zulipbot add "area: layout"

[2018-09-18 00:06] jackrzhang commented on #2962
test

[2018-09-18 00:08] jackrzhang commented on #2962
@zulipbot add "area: iOS"
@zulipbot add "area: layout"

[2018-09-18 01:14] jackrzhang commented on #2962
This behavior is not present on an `Pixel_2_XL_API_28` Android Virtual Device, running Android 6.0.

[2018-09-18 09:50] jackrzhang opened #2965 "iOS: Message font size increases after switching to landscape orientation while viewing the webview."
To reproduce:

1. Use the portrait orientation.
2. Go to any message list in the iOS app.
3. Rotate the screen 90 degrees in either direction to switch to landscape orientation.

Here's a screen recording of this on the simulator:

![ios-webview-message-font-size-increases-after-switching-to-landscape](https://user-images.githubusercontent.com/12771126/45679159-e31a4d00-baec-11e8-96e6-f51268dd7cea

[2018-09-18 11:07] borisyankov commented on #2965
That is quite interesting and puzzling.

[2018-09-18 18:31] jainkuniya opened #2967 "layout: Selected style is not applied even if user is selected for new group/invite."
Current:
<img width="358" alt="screen shot 2018-09-18 at 11 56 53 pm" src="https://user-images.githubusercontent.com/18511177/45708384-eff77900-bb9e-11e8-8ecd-e804a43b87f7.png">

Expected:
<img width="358" alt="image" src="https://user-images.githubusercontent.com/18511177/45708435-14ebec00-bb9f-11e8-90a5-4e610f4c9529.png">

@zulipbot claim

[2018-09-18 18:47] gnprice opened #2969 "@-all causes "send" to just swallow message"
It's impossible to send a message with `@all` in it. Moreover, when you try, the message just vanishes when you hit the send button.

1. Go to a topic narrow. (Or stream narrow too?)
2. Compose a message, like `@all important announcement!`
   * The autocomplete popup shows up as you type the `@all`, and looks right, so that's good.
3. Hit send.
4. Result: the message is cleared from the compose b

[2018-09-18 19:07] gnprice commented on #2539
Haven't seen or heard of this after that release; so it looks like this was indeed caused by #2800 and is now fixed.

[2018-09-18 19:07] #2539 closed

[2018-09-18 20:10] gnprice commented on #2969
Ah, this is likely a symptom of #2903, so fixed in master.

[2018-09-18 20:15] gnprice commented on #2969
OK, this repros reliably on 16.2.96 in an environment where it works reliably on master; considering that diagnosis confirmed.

So this will be fixed in the next release.

[2018-09-18 20:15] #2969 closed

[2018-09-18 20:22] gnprice opened #2971 "Cover selectors with types, using `Selector`"
A large chunk of our remaining code that isn't covered with Flow types (#2052) is because most of our selectors don't have appropriate types.

Most of them, it seems like Flow ought to have the information to infer (see #2724 for details). That's likely a problem in Flow, but we can make it not be *our* problem; we're probably best off writing down explicit types on most of the selectors anyway, f

[2018-09-19 00:45] jackrzhang opened #2973 "iOS: camera image not sent if permissions are requested"
Copying over the description from #2972:

The iOS Camera access setting is binary, and the iOS Photos access setting has 3 options - 'Never', 'Add Photos Only', and 'Read and Write'.

[2018-09-19 01:03] jackrzhang commented on #2178
I'm claiming this. (@zulipbot is disabled for this repository at the moment)

[2018-09-19 02:08] gnprice commented on #2873
We just fixed in 3529c3155 a bug that, at least on iOS, was causing the "use camera within app" part of these symptoms. It's possible the same bug was the cause of those symptoms here, but I was never able to reproduce the issue on Android (only on iOS, 100% of the time there), so I'm not sure.

The "select image to upload" part of these symptoms shouldn't be affected by that fix, though, so there

[2018-09-19 02:09] gnprice commented on #2873
(that commit was from #2972, for cross-reference)

[2018-09-19 06:38] frg-tarasov commented on #2873
@gnprice When will be release in to Google Play?

[2018-09-19 19:41] jainkuniya opened #2976 "layout: Improve styles of ZulipButton."
Currently when Button is disabled, and on default theme, button text is not visible clearly. It's too light. Although, button is disabled, but I expected to know what is written on this component.

[2018-09-19 19:42] jainkuniya commented on #2976
On current master
![screenshot_20180920-011022](https://user-images.githubusercontent.com/18511177/45776991-2d790680-bc72-11e8-953f-30db918dc4c0.jpg)

[2018-09-19 19:55] jackrzhang commented on #2178
A note on how to reproduce a bug for this:
1. On iOS, go to any message list.
2. Upload an image taken from within the Camera application - not from launching the camera from within Zulip. That image should be in the HEIC format.
3. A new message should be sent, and text for the image name with an extension for the HEIC format should appear. The photo itself isn't viewable within the message list.

[2018-09-19 20:26] jainkuniya opened #2979 "layout: weird green lines in the lower-left corner in the compose box (between menu expand button and input)."
First reported here https://chat.zulip.org/#narrow/stream/48-mobile/subject/testflight/near/466844

Got fixed in https://github.com/zulip/zulip-mobile/pull/1810/files

But again, in some refactoring it got introduced.

@zulipbot claim

[2018-09-19 23:52] #2178 closed

[2018-09-20 13:30] a-b commented on #2659
Very often! This is a valid bug and let's check why text input is breaking voice dictation.

[2018-09-20 13:42] borisyankov commented on #2659
We have a fix for that. It needs several PRs merged before that, but it should be coming soon. Few weeks I think.

[2018-09-20 18:21] jainkuniya opened #2981 "[debug build][Android] layout: Screen content is not scrollable when keyboards pops."
[**Note**: This issue has only been seen on debug builds of the app, which makes it a low priority. If you see it on a release build, please comment!]

---------------

Example: In realmScreen, on medium size phone. When url input is focused, input doesn't move to top making space for keyboard. So just after entering url, one need to press back button to hide keyboard and then then he can see `Ent

[2018-09-20 18:33] jainkuniya commented on #2981
I can only reproduce it on Emulator (Google pixel, API 26), but can't on my physical device (One plus 6, API 26).

Also on the emulator on current master I can reproduce
<img width="490" alt="image" src="https://user-images.githubusercontent.com/18511177/45839321-ad19da80-bd31-11e8-830a-c21aaa285564.png">

[2018-09-20 18:56] jainkuniya opened #2982 "[Android] layout: Styles of account item is not consistent across Android & iOS."
on iOS
<img width="368" alt="image" src="https://user-images.githubusercontent.com/18511177/45840466-a04ab600-bd34-11e8-89e5-fbc0c880b70f.png">

on Android

![](https://chat.zulip.org/user_uploads/2/57/uyn-zqh6Nr531e3mW_uDSEZi/Screenshot_20180921-002434.jpg)

Notice the space between different account cards.

[2018-09-20 18:58] borisyankov commented on #2982
Yeah, that is part of the annoying Android 8.x layout issues.

[2018-09-20 18:59] borisyankov commented on #2982
Try my RN 0.57 PR and see if this issue is not magically fixed by two versions of React Native.
Also would be a good signal if there are more issues to work on.

[2018-09-20 21:42] borisyankov commented on #2981
I'd suggest again to test on RN 0.57 :)

[2018-09-20 23:13] gnprice commented on #2896
@borisyankov added, in a comment on #2888:

Both steps would be good.

[2018-09-20 23:16] gnprice commented on #2888
For cross-reference: the videos issue became #2895 (thanks @jpellman !), and I filed @sstangl 's suggestion of a loading spinner as #2896.

The central issue, that on iOS the lightbox doesn't show images at all, is a serious one; we're tracking it in #2654. Closing this issue in favor of tracking it there.

[2018-09-20 23:16] #2888 closed

[2018-09-20 23:27] jackrzhang commented on #2654
I'm claiming this.

(@zulipbot is disabled for this repository at the moment)

[2018-09-20 23:48] jackrzhang commented on #2781
I notice that before the screen hangs, the Lightbox background is black, and afterwards, the photo is shown in the Lightbox.

![lightbox-halfway-delay](https://user-images.githubusercontent.com/12771126/45852465-e3853480-bcf4-11e8-9cdf-2287b14c2e40.gif)

The delay seems to occur while, in some sense, the image data is being loaded.

[2018-09-21 04:42] jainkuniya commented on #2926
Got the reproduction, submitting PR soon 👍

Thanks @armaanahluwalia for the report.

@zulipbot claim

[2018-09-21 04:42] jainkuniya commented on #2784
Got the reproduction, submitting PR soon 👍

Thanks @agzuniverse  for the report.

@zulipbot claim

[2018-09-21 22:40] #2654 closed

[2018-09-21 22:49] gnprice commented on #2654
Cross-referencing here what we learned in d873e22fc, which fixed this: the underlying issue here was
https://github.com/alwx/react-native-photo-view/issues/101 , in the library we use for displaying the image. It was fixed upstream in April, but upstream hasn't made a release since last year; we fixed by upgrading to the version from Git that has the fix.

[2018-09-21 23:33] jackrzhang opened #2985 "Tapping notifications from realms other than that of the current state breaks any further data fetching or loading."
To reproduce (these instructions are on iOS):

- (Note the current realm of the application: in my case, a test realm I set up, jrz-test-1.zulipchat.com)
- Close the Zulip application.
- In the Notification Center, tap on a notification from Zulip from *another realm* - in my case, chat.zulip.org.

On iOS, the application opens to a message list without any stream-associated color or messages.

<p

[2018-09-22 00:09] Karenott53 opened #2986 "Help"
I have no idea what I’m doing / I just want to know how to hack messenger. Is this for me? I’m no computer wiz

[2018-09-22 00:27] gnprice opened #2987 "Whole app seems to freeze after typing a colon in compose"
To reproduce:
1. Go to a narrow and focus the compose box.
2. Type a message with a colon in it, like "Here:". (The colon has to either end the message, or be followed by a space.)
3. Try hitting the "send" button. Nothing happens.

In this state, you can hit "send" a few more times and get no response; or give up and try to navigate away from the screen, and again nothing happens. The text input

[2018-09-22 00:49] #2987 closed

[2018-09-22 17:10] jainkuniya opened #2988 "webView: Messages are not mark as read if there are few messages in the list, i.e list is not scrollable."
Steps to reproduce:
* Narrow to such a topic/stream/pm, where messages are very less (2-3).
* Now as the list is not completely covering screen, it is not scrollable and there is no way to mark messages as read except manually using mark as read button.
* Ideally it should mark those messages as read.

I have worked on this issue and submitted #2579, will be updating that PR/submitting new PR next

[2018-09-22 20:03] jainkuniya opened #2992 "refactor code: Rename `chatReducer` to `narrowReducer`."
Currently we have `chatReducers` and  `messageReducers`. Firstly I got confused, why they are different, mostly both deals with message events. But then it became clear that: `messageReducer` is responsible for `message` state in global state and `chatReducer` is responsible for `narrow` in the global state. Thus then I was wondering we should rename `chatReducer` to something else (may be `narrow

[2018-09-24 20:16] gnprice commented on #2873
@frg-tarasov I've just sent a version with this fix (17.1.98) to all Google Play users!

When you get a chance, please try that version out and see if either or both of these symptoms ("select image to upload" not working, and "photo with camera" not working) are resolved for you.

[2018-09-24 22:16] gnprice commented on #1897
(We've had this for a while now.)

[2018-09-24 22:16] #1897 closed

[2018-09-24 22:18] gnprice commented on #1587
We have code formatting (since #1823, looks like). There's a more specific issue #2660 for LaTeX/TeX support; closing this one in favor of that.

[2018-09-24 22:18] #1587 closed

[2018-09-24 22:35] gnprice opened #2997 "Autocomplete popup is huge and doesn't scroll"
When I type into the compose box something like `:s`, or `@g`, there are a lot of possible completions. That's fine; we should display a reasonable scrolling view of them.

Instead, as of 17.1.98 (and some recent versions before it), the autocomplete popup seems to extend way beyond the top of the screen, and doesn't scroll. This looks broken, and makes it impossible to select any but the last few

[2018-09-24 22:36] gnprice commented on #2917
I just filed #2997 to describe more specifically an aspect of this that I see. Between that and #2791 , @borisyankov , do those cover what you had in mind here?

If not, let's get another issue filed with a more specific description; then let's close this one in favor of the more concrete issues.

[2018-09-24 22:38] gnprice commented on #2917
Maybe also #2943 ? Though I don't 100% understand what #2943 is saying.

[2018-09-24 22:39] gnprice commented on #2997
#2919 is one PR aiming to address this. I think #2944 may also be intended to do something related. (@jainkuniya , is that right?)

[2018-09-24 22:54] gnprice commented on #1936
Closing in favor of #2252 .

[2018-09-24 22:54] #1936 closed

[2018-09-24 22:58] gnprice commented on #2116
WFM now. I think we fixed this a long time ago and just didn't close this issue.

[2018-09-24 22:58] #2116 closed

[2018-09-24 23:02] gnprice commented on #2494
This will come along as part of upgrading to RN v0.56 (#2789).

[2018-09-24 23:03] gnprice commented on #2554
Duplicated by #2988; there's more detail there, so closing this one.

[2018-09-24 23:03] #2554 closed

[2018-09-24 23:05] gnprice commented on #2618
Still repro's on 17.1.98 on Android.

[2018-09-24 23:11] gnprice commented on #2868
This looks to me like a case of #2846. Does that fit what you're seeing?

[2018-09-24 23:13] gnprice commented on #2929
Thanks for the report!

I believe this is a duplicate of #2660; closing in favor of discussion continuing there.

[2018-09-24 23:13] #2929 closed

[2018-09-24 23:19] gnprice commented on #2660
There's some work in #2690 on the underlying infrastructure in the app to enable us to support this. It's a bit tricky, and it's been stalled for a while; I expect we'll return to it after we complete some other significant upgrades like #2788 .

[2018-09-25 00:27] gnprice commented on #2988
If I understand your two PRs #2990 and #2991 correctly, your diagnosis is that the reason this is happening is that
* we are in fact calling `sendScrollMessage`, but
* `getStartAndEndNodes` is failing to find a message at the end, so we're sending `endMessageId: 0`.

Is that right?

Let's focus the PRs on that, then: make `getStartAndEndNodes` work reliably.

Your #2988 approaches one side of this

[2018-09-25 06:33] frg-tarasov commented on #2873
@gnprice Thanks, i now will be test this issues.

[2018-09-25 06:47] frg-tarasov commented on #2873
@gnprice I'm sorry. Now i try send photos and problem stay.
After i check nginx log and see that nginx return error for upload request with exceed body size limit.

Change nginx setting client_max_body_size resolve both this issues.

I close this issue, thanks.

[2018-09-25 06:47] #2873 closed

[2018-09-25 10:45] mafuz commented on #2494
does it mean existing app bellow target 26 will be band?

[2018-09-25 13:11] armaanahluwalia commented on #2801
Am I correct in assuming what this actually means for a user is that if they are reading a narrow and a new message comes in, the message list actually scrolls up and we see a green arrow. I was going to report this bug but it seems this is the same issue?

[2018-09-25 16:49] omnibs opened #2999 "@-ing in messages makes them get stuck"
#### What

Typing `@` on a message brifly brings up a names autocomplete, which fades out in a few milliseconds, and after that I can't submit a message.

#### Hardware / software

Galaxy Note 9 on Zulip 17.1.98

#### Repro video

https://drive.google.com/file/d/1daRA7DQ-0ZrtulYRoc0BX4Ex_sFcaU--/view

Let me know if yall want any more info to help figuring this out

[2018-09-25 17:35] #2677 closed

[2018-09-25 19:31] timabbott commented on #2997
Yeah, the mentions issue here is quite annoying and makes it impossible to mention some users.

[2018-09-26 06:41] aero31aero opened #3000 "Create extended user mention syntax when needed."
Recently, in zulip/zulip#10243 we merged support for the following mention syntax to zulip/zulip:

`@**Full Name|1234(id)**`

This is to allow us to mention users with the same full name, and is optional. The web app intelligently adds the new syntax only when the users have the same full name, and uses the simpler syntax for others.

Example: https://chat.zulip.org/#narrow/stream/7-test-here/topi

[2018-09-26 11:56] borisyankov commented on #2494
Targeting a higher API version simply means that we can take advantage of new stuff offered in it.
We do not have any immediate plans to reduce the Android versions we support (currently 4.4 and newer)

[2018-09-26 15:27] flowkraD commented on #2052
Hello, I would like to contribute to your organisation starting here. Can i work on this issue?

[2018-09-26 16:00] borisyankov commented on #2052
@flowkraD sure. This is a good area to work on as a first contribution.

[2018-09-27 00:09] #2676 closed

[2018-09-27 01:52] #2967 closed

[2018-09-27 06:33] jainkuniya opened #3003 "layout: Improve style and position of option icon (3 dot icon) in Lightbox screen."
* Currently it is not aligned properly.

![](https://chat.zulip.org/user_uploads/2/1e/nbdVa_DaFCVLW-FrbcaDOsfY/IMG_4525.PNG)

* Find better alternative for icon.

Related discussion https://chat.zulip.org/#narrow/stream/48-mobile/subject/UI/near/646695

[2018-09-27 22:03] #2791 closed

[2018-09-28 05:47] gnprice opened #3007 "Autocomplete popup auto-scrolls for a long time when many options"
When you go to the compose box and type something like `@p` , we'll show an autocomplete popup for @-mentioning a user whose name starts with "p". In a large org, there may be a ton of users this could be. Our current behavior in this situation is that we'll spend seconds and seconds adding more and more matching users to the list, as previous candidates scroll off the top of the screen.

This is

[2018-09-29 02:12] gnprice commented on #2953
Following up: 17.1.98 went out to all users early this week, and had the fix for this bug. Thanks again @brettcannon for the report!

(See also #2889 , which was a previous report of this bug.)

[2018-09-29 02:14] gnprice commented on #2654
Following up for @a-b and anyone else watching this thread: the fix went out to all users a few days ago in 17.1.98.

[2018-09-29 02:16] gnprice commented on #2178
@faxe78 Thanks again for this detailed report! You, and others following this thread, may be glad to hear that version 17.1.98 went out to all users early this week, and has the fix.

[2018-09-29 02:18] gnprice commented on #2888
@sstangl @TrystanOakley @a-b and others following this: the fix for this issue went out in version 17.1.98 to all users early this week. Thanks again for the reports!

[2018-09-29 02:33] gnprice commented on #2997
@armaanahluwalia reports an additional, fascinating wrinkle:

I don't reproduce this on my device (17.1.98 on Android 9); IIRC Armaan uses iOS, so this may be OS-dependent. For me, it's just stuck at the bottom of the list and I'm unable to scroll at all, even by experimenting with multiple fingers.

This wrinkle isn't really an independent or additional problem relative to the issue described in

[2018-09-29 08:51] armaanahluwalia commented on #2997
Yes I’m on iOS 17.1.98. Let me know when fixed so I can retest.

[2018-09-29 13:37] jainkuniya commented on #2988
Yup! 👍

I have confusion on this
find first child and last child using `document.getElementsByClassName('message')` or `document.getElementById("documentBody").firstChild` ?

got it 👍

Yup! sure :)

[2018-09-29 13:53] jainkuniya commented on #2999
This issue is same as #2791 which got fixed by 0baca8f, and will be released out next week.

Thanks @omnibs for the report!

Now this issue can be closed,
cc @gnprice @borisyankov

[2018-09-29 14:00] jainkuniya commented on #2868
#2846 if for realm emoji right?

But this issue is for unicode emoji. :)

[2018-09-29 14:08] jainkuniya commented on #2981
I tested on #2955, still can reproduce on Pixel 2 emulator and this time on my Android physical device too.

![](https://user-images.githubusercontent.com/18511177/45839321-ad19da80-bd31-11e8-830a-c21aaa285564.png)

[2018-09-29 14:12] jainkuniya opened #3010 "[Android] layout: Whole screen is pushed, when keyboard pops."
The app bar is gone; plus the input is partially obscured by the keyboard.

Tested on Pixel 2 emulator with Android 8 and One plus six with Android 9.0

![](https://user-images.githubusercontent.com/18511177/45839321-ad19da80-bd31-11e8-830a-c21aaa285564.png)

![](https://user-images.githubusercontent.com/28173/45979654-9e1e7b00-c004-11e8-8694-14b06604ce50.png)

[2018-09-29 23:22] borisyankov opened #3011 "Sent messages sometimes don't scroll in view"
Sometimes messages send by the user don't scroll into view.

This is possibly related to the 'messages disappear when sent for a moment'.

[2018-10-01 15:56] armaanahluwalia commented on #2988
I believe this also applies to private messages as when I read a new private message that is really short it doesn't get marked as read. Not sure if its the same bug. If not I can create a new issue.

[2018-10-01 21:07] gnprice opened #3015 "Fix caching in "for narrow" selectors"
When we want to pass an argument to a selector, like `props.narrow` to `getRenderedMessages`, we currently do so in a way that totally defeats Reselect's caching. We should fix this.

See [discussion in chat](https://chat.zulip.org/#narrow/stream/48-mobile/subject/Excessive.20Rendering.20Bug/near/649036). In particular, on what to do instead:

https://github.com/reduxjs/reselect#accessing-react-pr

[2018-10-02 00:38] #2895 closed

[2018-10-02 01:06] jackrzhang opened #3016 "Rename `*Reducers.js` files (plural) to `*Reducer.js` (singular)."
While each reducer file does have multiple functions that fit the signature of a 'reducer', which is `(state, action) => state`, each file only exports one function that's utilized elsewhere and invoked in unit tests.

[2018-10-02 04:35] gnprice opened #3017 "Make ComposeBox uncontrolled on iOS too, and dedupe code"
We duplicated this code as a temporary expedient in cb2589e2a (from #2738), because we needed to make the message and topic inputs uncontrolled on Android but leave them controlled on iOS, in order to simultaneously avoid two different React Native bugs that affected the two platforms respectively. See the above-mentioned commit and PR for details.

As we've known since then, we should de-duplicat

[2018-10-02 04:37] gnprice opened #3018 "Combine separate *.{android,ios}.js files"
We have 8 pairs of files named `foo.ios.js` / `foo.android.js`. These make use of an RN feature where when building for each platform, only the one file is included.

We should stop using this feature. As I explained [here](https://github.com/zulip/zulip-mobile/pull/2753#discussion_r200527067) a little while ago, there are a couple of quite concrete costs to it, and the fact that it's a problem fi

[2018-10-02 04:44] gnprice commented on #2618
@jackrzhang FYI: I just filed #3018 discussing why it'd be good to combine our `.android.js`/`.ios.js` file pairs. I noticed today there seems to be one of them involved here; in a PR addressing this issue it'd probably be helpful to go ahead and combine that pair, up front at the start of the branch.

[2018-10-02 04:48] gnprice commented on #2997
Updating back here with discussion from #2919: fixing this properly will be tricky (details on that thread), and we'll come back and do that after we lay some groundwork, namely #3017 and the work that it in turn depends on.

In the meantime we'll do a quick fix, like a fixed max height. @jackrzhang is planning to do that.

[2018-10-02 13:57] borisyankov commented on #3018
I'll take on the `src/api/*` ones, as part of the API PR.

[2018-10-03 18:09] gnprice commented on #2861
I just hit this issue running 18.0.99 (a version I sent to our alpha channel yesterday), which has #2931. So apparently that didn't fix it as we'd hoped. :-/ Reopening this issue.

The specific sequence I happened to see today is a bit different from the OP:
* I'd been using the app, and started writing a reply message in a narrow.
* Then I got to my desk, and put down my phone for a while. (> 10

[2018-10-03 18:50] jainkuniya opened #3022 "Add event queue info and current polling status in `diagnostics` tab."
Currently if event queue breaks, or polling stops then there is no way to identity and confirm it except by human interpretation. Add some logging in the `diagnostics` tabs so that is becomes easier to confirm such cases.

Related chat: https://chat.zulip.org/#narrow/stream/243-mobile-team/subject/Event.20queue.20bug/near/649554

@zulipbot claim

[2018-10-03 19:05] gnprice commented on #2365
The root issue here appears to be facebook/react-native#15114 .

Still not clear to me if this is the fault of RN, or of those fonts, or what.

[2018-10-03 19:07] #2365 closed

[2018-10-03 19:34] borisyankov commented on #3022
Expose the whole `session` state key.

[2018-10-03 19:48] #2898 closed

[2018-10-03 20:06] #2863 closed

[2018-10-03 20:43] gnprice commented on #2988
@armaanahluwalia Yep, same issue, thanks! The OP mentions the PM case, though pretty tersely.

[2018-10-03 21:42] jackrzhang commented on #3016
@borisyankov Yeah, that's exactly what I've acknowledged in the first comment :)

To elaborate a bit more -

Staying with `flagsReducers`; `messageFetchComplete`, `eventNewMessage`, `eventUpdateMessageFlags`, and `markMessagesRead` are specific to *actions*, and I think it makes more sense to think of entire `flagsReducers` module in terms of its specific piece of state.

And that fits with the fa

[2018-10-04 00:06] mbuotidem commented on #2052
Hi @borisyankov We're doing a class where we need to work on Open Source software and help them fix issues and my group thought this issue was approachable enough. We're trying to get setup and following the Windows guide but its a bit confusing for complete beginners. We'd be happy to work with you to figure it out and then do a PR to update the documentation. Is there an IRC where we can talk wi

[2018-10-04 04:54] flowkraD commented on #2052
The official chat is chat.zulip.org as mentioned [here](https://zulip.readthedocs.io/en/latest/contributing/chat-zulip-org.html). I wouldn't recommend pinging the devs cause you might wake them up in middle of night if they are on the other side of the world.

[2018-10-04 11:04] armaanahluwalia opened #3023 "Wrap around swipe gesture"
I think the fact that the swipe gesture stops when you reach the first screen causes me to accidentally click on of the streams listed there. Instead the gesture should wrap around so swiping at either end takes you to the first / last screen.

[2018-10-04 11:07] armaanahluwalia commented on #2860
Will be fixed by #2887

[2018-10-04 11:36] borisyankov commented on #3023
I am not sure about that...
This swiping gesture might even go away completely when we upgrade to React Navigation 2.

I tested several apps - YouTube and Twitter do not swipe at all between the bottom navigation icons, but do swipe between tabs, and don't swipe around.

Facebook does swipe between screens but when you are at the end you are there and don't go to the first one.

[2018-10-04 11:40] borisyankov commented on #3016
I don't think we ever follow the mantra `the name says what we export'. I think you just invented that to strengthen your case :) For example, the file `reducers.js`, exports a single root reducer, but contains **reducers**.

[2018-10-04 11:42] borisyankov commented on #2052
As @flowkraD says you are welcome to share your thoughts or ask any questions in [#mobile](https://chat.zulip.org/#narrow/stream/48-mobile)

[2018-10-04 17:40] armaanahluwalia commented on #3023
I find the swiping gestures really nice once they are discovered. Saves a lot of effort during navigation. I think the main problem that needs to be solved here is the accidental click of the stream icons. I'm not sure of a good solution but its happened to me more than 10 times during the course of my use which is why I bring it up.

[2018-10-04 19:51] gnprice opened #3025 "Loading indicator on unreads screen"
After the app launches, it takes us too long to get to showing up-to-date information on the unreads screen (the home screen of the nav). After the spinner completes and the unreads screen shows up, it at first shows stale data from when we last ran, while asking the server for newer data; the update to newer data takes ~2s for me on a good connection, often 3-5s, and for some users longer.

The f

[2018-10-04 19:52] gnprice commented on #3025
The title just says "unreads screen" for brevity, but I'm pretty sure we want it on at least the PMs and streams screens too for similar reasons.

[2018-10-04 19:56] armaanahluwalia commented on #3025
@gnprice I’d like to work on this. @zulipbot claim.

[2018-10-05 06:45] jackrzhang commented on #3016
The idea of a module as an interface isn't new.

[2018-10-05 10:27] borisyankov commented on #3016
Here is my view:
 * calling something `flagsReducer` is correct, as it exports a combined single reducer
 * calling the same thing `flagsReducers` is also correct, as it contains reducers on `flags` state
 * renaming from one to the other is not correct, as it adds complexity to tracking history and non-zero effort for no real benefit

[2018-10-06 17:59] sstangl commented on #3025
Instinctively, if I know that the screen is out of date, I usually attempt swiping up, to scroll down "past the end" of the screen, which in many native applications induces refresh behavior.

The app does not support scrolling past the end -- normally, apps will let you do that, and then give a little flick up back to the locked scroll position. Secondly, that action doesn't do anything.

Even if

[2018-10-08 04:07] armaanahluwalia opened #3026 "Images not cached in WebView"
I did a bit of digging and it turns out we are re-rendering the WebView on any change to messages. This causes a re-request for all images within a thread anytime the state of messages is changed. This is expensive both in terms, of performance as well as bandwidth usage.  A thread with more than a few images will cause a lot of wasted data.

2 possible solutions I can think of are -
1) Do not re-

[2018-10-09 22:06] gnprice commented on #3025
@sstangl Yeah, I agree. I forgot to cross-reference when I filed this issue: #2712 and #2713 call for pull-to-refresh behavior like you describe.

I think even if we already had pull-to-refresh, this loading indicator would still be important. In particular for the path from "load the app for the first time in a while" -> "see up-to-date conversations, and be confident they're up to date", which i

[2018-10-09 22:19] gnprice opened #3031 "Lightbox doesn't show embedded Dropbox images"
This is an issue whose symptoms look a lot like #2654, but the cause is a very close cousin of #2895.

To reproduce:
* Paste into a message a Dropbox shared link that happens to be to (something with the filename extension of) an image, say `.png`.
* In the mobile app, touch the image.
* We show a blank lightbox.

What's happening is that the HTML for one of these looks like this (edited slightly

[2018-10-09 23:05] jainkuniya opened #3032 "travis: Build android build."
It's better to build Android build on Travis. This will helps us in tracking builds, and let us know when somethings fails (on some code change or dependency change).

I am able to build it. Will submit PR soon. https://travis-ci.org/jainkuniya/zulip-mobile/builds/439519182
@zulipbot claim

[2018-10-10 03:10] x007007007 opened #3033 "I can not input chinese on ios"
I can not input chinese on ios

[2018-10-10 10:30] jainkuniya opened #3035 "travis: Check if generatedEs3.js is consistent with latest js.js or not."
`generatedEs3.js` is used by webView. We write js in the `js.js` and use babel to convert it to `generatedEs3.js`, so that it is compatible with mobile phones webView. But many times it is noticed that `js.js` is updated in the commit, but we forgot to update `generatedEs3.js`. Which will result in old js been executing, and we are thinking that new js is executing. To avoid such situations, there

[2018-10-10 17:02] borisyankov commented on #3035
A potentially better option is to generate the file itself automatically when the project starts (depends on whether this is now supported the Metro bundler).

[2018-10-10 17:53] jainkuniya commented on #3035
Yup! in future it's better option.
But for now I guess this is sufficient and necessary test, at least for now. We can definitely improve in future :).

[2018-10-11 09:28] steffenabel commented on #2909
I face the same problem with a ProxyPass Installation. IOS works, Android not.
@nmagerko do you know how your IT deparement fixed the problem?

[2018-10-11 15:34] #2905 closed

[2018-10-11 16:04] gnprice commented on #2982
After #3013 , is this fixed now?

[2018-10-11 16:09] #2992 closed

[2018-10-11 16:44] gnprice commented on #3016
I agree with @jackrzhang that these modules each feel like they're really about the single reducer that it exports, and that maintains a certain subtree of the state. The helper functions like `eventNewMessage` feel like implementation details, and not the point of the module. Which has caused the plurals in the names to not feel right to me.

I'd actually go further -- I don't think those helper

[2018-10-11 16:55] borisyankov commented on #2982
Yes.

[2018-10-11 17:07] gnprice commented on #3033
Thanks @x007007007 for the report!

We've been tracking this issue as #2434 ; see there for details on the causes and an upcoming solution. Closing this issue in favor of that one.

[2018-10-11 17:07] #3033 closed

[2018-10-11 17:19] gnprice commented on #2999
Thanks for the report! This sounds like another aspect of the same issue as #2987 , which was fixed in 18.0.99.

(Also #2791 as @jainkuniya points out, but I think the brief popup is not the most annoying symptom here :slightly_smiling_face: )

Closing; please reopen if you find it isn't fixed for you by 18.0.99.

[2018-10-11 17:19] #2999 closed

[2018-10-11 17:20] gnprice commented on #2986
@Karenott53 Hi! I'm not sure I understand your question, but it sounds like one that this tracker isn't the right medium for. Try finding us [in chat](https://github.com/zulip/zulip-mobile#discussion)?

[2018-10-11 17:20] #2986 closed

[2018-10-11 17:21] #2982 closed

[2018-10-11 17:49] armaanahluwalia commented on #2868
Can confirm. Have a look at https://chat.zulip.org/#narrow/stream/179-Testing/topic/test.20topic on mobile 18.0.99

[2018-10-11 17:50] armaanahluwalia commented on #2868
Additionally trying "Add a reaction" with ```umbrella_on_ground`` doesn't work at all.

[2018-10-11 17:59] gnprice commented on #2868
Fixed in #2869 / c8f4d0030 .