[2017-04-27 15:16] vishwesh3 opened #536 "Improve AccountPickScreen"
- [ ] When user logout from let's say x realm, then that AccountItem (realm x) should have Signed out tag, instead of tick button.

- [ ] When user wants to switch for account then in the AccountList it will be better to show Signed out tag for all those realm where again sign in should be performed.

![untitled-1](https://cloud.githubusercontent.com/assets/18511177/25489018/3cc2da04-2b86-11e7-828

[2017-04-27 15:17] vishwesh3 commented on #536
@zulipbot claim

[2017-04-27 15:31] borisyankov commented on #536
For the first point, I think we can achieve this by showing a different icon in place of the check mark, instead of adding a third line.

For the second point, I am not sure what you mean. Can you explain more?

[2017-04-27 17:04] vishwesh3 commented on #536
I was thinking to show cross icon (as usual shown for other realm), which will be useful to remove/delete that realm.

![screenshot_1493311444](https://cloud.githubusercontent.com/assets/18511177/25494889/d19b59a0-2b98-11e7-8975-b8ceac5c50b1.png)
In the Pick Account screen, account list contains two types of account; first which have valid API key (user can select that realm without re-logging in

[2017-04-28 07:46] #349 closed

[2017-04-29 18:36] borisyankov opened #540 "Take into account muted streams and topics when counting unread messages"

[2017-04-29 18:38] borisyankov commented on #536
Yeah, you are right, if we show an icon for logged out, we can't remove an account.
But does it really matter if we don't show which account is logged out?

[2017-04-29 23:34] vishwesh3 commented on #536
It will just be more informative. (nothing else)
User clicks on logout button => redirected to Pick account screen => user can easily notice that he/she successfully logged off by tag. and some info is cached to easily login again.

yup! by adding the third line will make item long.

Another option can be, dividing list into two
- first which have valid API key (user can select that realm without

[2017-04-30 10:32] #540 closed

[2017-04-30 10:34] borisyankov commented on #536
I am not sure how long will the list become. If it is typically just one or two accounts, splitting the list into two lists is definitely an overkill.

There is another option: we are still not showing stream icons, but when we do, we can make the logged-out ones black and white.

[2017-05-01 10:09] #212 closed

[2017-05-01 10:09] #30 closed

[2017-05-01 10:10] borisyankov opened #544 "Android 4.1-4.4 support"
We are targeting Android 4.4 as a minimally supported platform version.
React Native supports > 4.1, if easy we should support it too.
Test, identify and fix any issues that are specific to that version.

[2017-05-01 20:05] borisyankov opened #546 "Create a group chat screen"
A modal screen that allows easily to create a group chat.

* can select multiple users
* suggest the most likely recipients

[2017-05-01 20:18] vishwesh3 commented on #546
@zulipbot claim

[2017-05-01 20:21] borisyankov commented on #546
@vishwesh3 let's let this issue sit for a while, I am not entirely sure how it will look yet ;)
There are a few other things that are more important. Will post in the zulip chat now.

[2017-05-01 22:19] vishwesh3 opened #548 "Unexpected behaviour when device is rotated."
![18254374_788806757979801_600287718_n](https://cloud.githubusercontent.com/assets/18511177/25597010/f0f0fa0e-2ee9-11e7-9d94-d861461cd897.gif)

I think it is due to the drawers. Will try by using native drawer and react navigation drawer, still it persists or not.

[2017-05-01 22:35] vishwesh3 opened #549 "Better handling of "New unread messages" tag/label"
- [ ]  In the topic narrow, I reached at bottom (verified from web https://chat.zulip.org/#narrow/stream/announce/topic/Streams) but still label was showing (I thinks it was showing for the homeView) but due to this composing new message becomes difficult.
![18296930_788803594646784_271448107_o](https://cloud.githubusercontent.com/assets/18511177/25597223/36c631b0-2eeb-11e7-9683-d181db2418f3.jpg)

[2017-05-01 22:36] vishwesh3 commented on #549
@zulipbot claim

[2017-05-02 04:33] nashvail commented on #549
@vishwesh3 You can change the `position` prop for `UnreadNotice` component in Chat.js to `top` for narrows. The second one looks to me as an android specific issue.

The PR was quick one so there might be some issues still, thanks for reporting. A number of things are planned for the new messages indicator which I'll be working on after my exams :)

[2017-05-02 05:26] borisyankov commented on #549
@vishwesh3 Have you pulled the latest `master`?
The initial release did not account for 'muted' streams and topics. I fixed that very recently.

[2017-05-02 05:35] vishwesh3 commented on #549
I have downloaded from play store. ok will test on latest `master`

[2017-05-03 11:00] #512 closed

[2017-05-03 12:02] sapkra opened #552 "Reason for TaggedView and AnchorScrollView"
What's the specific reason to use native components for the scroll view?
The native components are TaggedView and AnchorScrollView.

[2017-05-03 12:09] borisyankov commented on #552
There are few features that the standard ScrollView did not support.
AnchorScrollView is based on ScrollView, but allows us to keep the scroll position as we update the contents. TaggedView allows us to assign some data to these Views.

It is possible that we switch to the new components FlatList and ScrollList, if they fit our requirements better, or if it is easy to modify them to fit the requir

[2017-05-03 12:23] #552 closed

[2017-05-03 14:33] sapkra commented on #552
I will try to replace it if these reasons are the only reasons.

[2017-05-03 14:38] borisyankov commented on #552
I have prototyped it with a SectionList but it still seems not polished enough.
Replacing it is not a simple task and is also not urgent.
There are many other interesting things one can work on. Have a look at all the issues that are not assigned to anyone.

[2017-05-03 15:00] sapkra commented on #552
I'm working on something special. For this I need to remove all Native Components. I'll show you the result when it's done. :)

[2017-05-03 15:04] borisyankov commented on #552
Have fun. Just consider that the more a thing is special, the less likely it is to be a good idea 🍡

[2017-05-03 15:13] sapkra commented on #552
Yeah right, that's mostly true. ^^
Twitter also works on the same special thing. It's pretty crazy, but a good idea. ;)

[2017-05-03 20:06] vishwesh3 opened #555 "Error while narrowing to stream from message list when stream is not subscribed"
![screenshot_1493840810](https://cloud.githubusercontent.com/assets/18511177/25678524/9d6e141e-3067-11e7-8fae-d9a34d44c424.png)

**Steps to reproduce**
Narrow to stream which is not subscribed by clicking on its name in the messages.

I was thinking to do a usual narrow and show a message & button to subscribe like in web.
![screenshot from 2017-05-04 01-33-02](https://cloud.githubusercontent.com/

[2017-05-03 20:08] vishwesh3 commented on #555
@zulipbot claim

[2017-05-03 20:35] timabbott commented on #555
Yep, that plan sounds good!

[2017-05-03 21:23] Sam1301 commented on #555
right, so I believe we could also show messages for the unsubscribed streams as well (similar to zulip-android). We would also need to maintain a [list of streams](https://github.com/zulip/zulip-mobile/blob/master/src/streamlist/streamsReducers.js#L16) through events. (to avoid this error for newly created streams).
Thanks for reporting @vishwesh3 .

[2017-05-03 21:42] vishwesh3 commented on #536
Created https://github.com/zulip/zulip-mobile/pull/556 for the first one.

Did you mean realm icons (instead of stream icons) (https://github.com/zulip/zulip-mobile/issues/392).

[2017-05-03 22:05] borisyankov commented on #536
Yeah, realm icons.

[2017-05-03 22:10] borisyankov commented on #555
Yeah, we maintain the stream list too... though if you have a look at the `streamsReducers.js` there are some event handlers missing.

[2017-05-03 22:18] borisyankov commented on #392
@timabbott can we get the `/favicon.png` type of alias?

[2017-05-03 22:25] timabbott commented on #392
yeah I can work on that next.

[2017-05-03 22:52] timabbott commented on #392
Actually, thinking about this a bit more, I'm not entirely sure that there's a purpose in creating that alias.  We need to cache several pieces of data about each realm:
* The server URL
* The realm icon URL
* The realm icon image itself (at least if we want to avoid needing Internet access to access the switcher)
* The email address and API key
* If we want to enhance the login screens the way we

[2017-05-03 23:03] vishwesh3 commented on #536
Something like this
![e13b55a8-5343-4325-9319-aefe9f7a833e](https://cloud.githubusercontent.com/assets/18511177/25685055/71bb6fd6-3082-11e7-84cc-fdea16ecf3d1.jpg)

current account => prospero
other logged in account (apiKey is present) => hamlet
logged out account (needs relogin) => iago

[2017-05-03 23:44] timabbott commented on #392
Chatted with Boris briefly, and I think we're agreed to go with this approach.

I've implemented it as `GET /api/v1/server_settings`, soon to be merged and deployed to chat.zulip.org.

An important detail is that there are 2 cases here:
* (1) The realm is known based on the URL, e.g. on a single-realm server (chat.zulip.org) or on a subdomains server (example.zulipchat.com)
* (2) The realm is not

[2017-05-03 23:47] timabbott commented on #392
(This means that clients such as the mobile apps will need to do something reasonable in the event that no name/description/icon are available).  I guess the alternative approach we could take is providing some default values from the server in that case; I think it's reasonable to change to that model if desired since nothing is using the new endpoint yet.

@akashnimare @geeeeeeeeek FYI, since yo

[2017-05-03 23:48] timabbott commented on #392
Backend feature merged as 51260b7536d0d7fffc9c4583f04d1a0ccc473ecb; I'll deploy this to chat.zulip.org shortly.

I guess one advantage for using the old `/get_auth_backends` endpoint rather than a new endpoint name is that old one is guaranteed to exist even on older servers, so we'd need to write less client code.  It'd be easy enough to add the new data to `get_auth_backends` for now if we wante

[2017-05-04 15:07] borisyankov commented on #536
I don't think it is that obvious that the styling means.
We are also yet not supporting being signed in, into multiple accounts at once (though we will at some point - it is not trivial).

[2017-05-04 15:09] borisyankov commented on #392
Looks pretty good.
Backwards compatibility is always a bummer, good that you mentioned it.

[2017-05-05 13:53] borisyankov opened #558 "Feature parity with the native Android app"
- [x] notification support
- [x] starring messages #706
- [ ] message editing #402
- [ ] lightbox for viewing images #473
- [ ] create a group chat functionality #546

[2017-05-05 14:57] kunall17 commented on #510
@vishwesh3 are you working on this one?

[2017-05-05 15:06] borisyankov commented on #510
I am not sure if this feature made it in RN 0.44
If not, we can not implement. If yes, the issue is auto-resolved when we upgrade to 0.44

Also, we might just use FlatList/SectionList for the MessageList soon.

[2017-05-07 08:00] #491 closed

[2017-05-08 16:47] timabbott opened #562 "local echo when sending messages"
I've gotten some feedback from users that they find it frustrating when on a poor network that they can't start typing a new message while a previous message is waiting to send.

We should probably implement some sort of more advance setup for handling outgoing messages.

We have a local echo mechanism from the webapp codebase that we can use for doing a lot of the book-keeping here.  I can imagin

[2017-05-08 17:03] borisyankov commented on #562
(1) is a must, I agree. Skype has a rather sophisticated implementation of that part. If a message fails there is a button to retry, though maybe we should just be retrying ourselves. Also while a message is being sent a small spinner is shown for each unsent message.

(2) even if implemented is going to be a half measure anyways, as I expect many things like site preview and other features to cau

[2017-05-09 04:56] timabbott commented on #562
Yep, agreed.  https://zulip.readthedocs.io/en/latest/markdown.html is relevant BTW.

[2017-05-09 05:26] vishwesh3 opened #568 "Disable switch in Subscription screen when stream is not subscribed and stream is invite only."
Currently switch is enabled. So on switching on, it sends request to server and it fails (obvious) but it is shown subscribed in the UI.

[2017-05-09 05:26] vishwesh3 commented on #568
@zulipbot claim

[2017-05-11 17:10] saketkumar95 commented on #261
@vishwesh3 This issue can be closed now.

[2017-05-11 17:21] vishwesh3 commented on #261
yup! :+1:

[2017-05-11 17:21] #261 closed

[2017-05-11 18:06] borisyankov opened #573 "Unread messages notice does not hide sometimes"
**The notice itself should be above the compose box, and not over it!**

This happens only sometimes, and the cause can be one of these:
* incorrectly counting some message as unread (it used to happen when we didn't take into account hidden
* possibly our pointer to what messages are currently on screen is not very precise
* something else?

[2017-05-11 18:09] borisyankov commented on #446
That was likely fixed a few weeks ago. If anyone sees it again, please reopen.

[2017-05-11 18:09] #446 closed

[2017-05-11 20:15] borisyankov opened #576 "If user appends a `/` to the realm url, the app does not handle it correctly"

[2017-05-11 21:48] timabbott opened #578 "Consider replacing the hamburger menu with the realm icon for the menu"
This is a discussion that came up with @borisyankov while writing the iOS app store description.  It might make sense to replace the hamburger with something cooler, and a good choice might be the icon for the realm (might want to improve the defaults for those, but we want to do that anyway...).

There's precedent for that UI approach in Slack's Android app, and it'd be a nice way to simplify.

[2017-05-12 03:18] nashvail commented on #573
On it!

[2017-05-12 05:09] kunall17 opened #579 "Auto complete suggestions are not being displayed outside the compose box for Android"
Android : (checked on current master as well)
<img width="487" alt="screen shot 2017-05-12 at 10 35 31 am" src="https://cloud.githubusercontent.com/assets/12700799/25983022/37f3b186-36ff-11e7-9bf4-ff8ec57d4834.png">

Expected (iOS):
![simulator screen shot 12-may-2017 10 36 40 am](https://cloud.githubusercontent.com/assets/12700799/25983021/37ef6a0e-36ff-11e7-9dc9-d4de7eafa3bb.png)

[2017-05-12 11:03] vishwesh3 commented on #579
on it!
I tried current master, auto complete are not shown on Android.
https://drive.google.com/file/d/0BxdL5qgQdmMHbHJ0NF9SN053YlU/view

[2017-05-12 11:37] vishwesh3 commented on #558
one more: - update read status (mark message as read). As of now on scroll, we are returning.
https://github.com/zulip/zulip-mobile/blob/master/src/chat/Chat.js#L19

[2017-05-12 12:04] borisyankov opened #581 "On sending a new message, message list should scroll to bottom"

[2017-05-12 14:21] #573 closed

[2017-05-12 15:09] borisyankov opened #583 "Switching narrows should anchor message list to first unread message"

[2017-05-12 19:48] timabbott commented on #581
We probably don't want to do it if it'll mark messages as read, or if you're scrolled up more than a few screens (in which case you're probably there for a reason).  Obviously should also be conditional on sending messages that will appear in the current narrow.

But if you're close to the bottom and caught up, yeah, this should scroll you to see the thing you just sent.

[2017-05-12 20:45] borisyankov opened #584 "New messages arriving don't show in narrows"
Also when responded to someone the message sometimes never shows up

Note: may be related to PMs.

[2017-05-12 22:10] timabbott commented on #584
https://github.com/zulip/zulip/blob/master/static/js/filter.js#L47 may be useful :)

[2017-05-13 11:25] borisyankov opened #586 "iOS Public Release"
- [ ] New messages arriving don't show in narrows #584
- [ ] When keyboard pops up, anchor message list bottom #592
- [ ] Switching narrows should anchor message list to first unread message #583
- [ ] Unread Messages flashes for a bit for self sent messages #588
- [x] Sometimes numbers in emoji reactions are not aligned correctly #589
- [x] Sometimes the emoji reactions don't work/do anything whe

[2017-05-13 11:29] borisyankov opened #587 "Android Performance Issues"
- [x] Large images in the message list kill scrolling speed
- [x] Drawers are not animating smoothly (will be fixed with #521)
- [x] Drawers buttons sometimes don't work or appear laggy (likely message list updates)

The release Android build exhibits performance issues.
The causes might be one or several.
This is a public release blocking issue.

[2017-05-13 11:33] #576 closed

[2017-05-13 11:40] borisyankov opened #588 "Unread Notice flashes for a bit for self sent messages"

[2017-05-13 11:41] borisyankov opened #589 "Sometimes numbers in emoji reactions are not aligned correctly"
This can be observed both on Android and iOS but not always.

[2017-05-13 11:42] borisyankov opened #590 "Sometimes the emoji reactions don't work/do anything when clicked on."

[2017-05-13 11:44] borisyankov opened #591 "App Store Requirements"
We might need to implement some or all of these:

* Require that users agree to terms (EULA) and these terms must make it clear that there is no tolerance for objectionable content or abusive users
* A method for filtering objectionable content
* A mechanism for users to flag objectionable content
* A mechanism for users to block abusive users
* The developer must act on objectionable content repo

[2017-05-13 11:53] borisyankov opened #592 "When keyboard pops up, anchor message list bottom"
When keyboard pops up the message list becomes smaller; it should be anchored to the bottom position.

[2017-05-13 12:03] nashvail commented on #589
On it!

[2017-05-13 12:04] nashvail commented on #590
Could the optimistic reaction PR be a fix for this?

[2017-05-13 12:05] borisyankov commented on #590
I am not sure. This was reported by @brockwhittaker but I haven't reproduced.
First step is to find out the cause ;)

[2017-05-13 12:13] nashvail commented on #590
Looking into it. Noticed this  2 or 3 times when my internet connection was super laggy

[2017-05-13 12:40] borisyankov commented on #590
We would likely want to work exclusively for some time on issues when the connection is bad.
But that is likely not the cause.

[2017-05-13 13:38] borisyankov opened #594 "Smart placeholder for compose input"
Slack has a rather smart and helpful placeholder text for their compose input. We should do the same:

* if PM to a person 'Message @thisperson'
* if PM to self 'Jot down something'
* if narrowed to a stream 'Message #streamname'
* if group PM => we should decide

[2017-05-13 13:39] borisyankov opened #595 "Better Compose Box"
- [ ] Keyboard shown in compose box should push stream content up #180
- [x] Compose box should allow choosing of topic #163
- [x] Smart placeholder for compose input #594
- [x] Auto complete suggestions are not being displayed outside the compose box for Android #579
- [ ] Thumbs up button when no text in compose box #517 (to discuss)

[2017-05-13 14:25] nashvail opened #597 "Misaligned reaction rows."
When second row of reaction starts getting filled, the second row misaligns on first reaction.
iPhone 5
![](https://puu.sh/vOIlu/3fc7449abe.png)
iPhone 6
![](https://puu.sh/vOImK/39e6cde274.png)

[2017-05-13 14:26] borisyankov commented on #590
This will be fixed by https://github.com/zulip/zulip-mobile/pull/572 but need someone else testing it at least briefly :) (it can be you!)

[2017-05-13 14:34] nashvail commented on #597
@zulipbot claim

[2017-05-13 14:46] nashvail commented on #590
Pulling the PR to test if it resolves this issue

[2017-05-13 15:41] #597 closed

[2017-05-13 17:26] vishwesh3 commented on #594
on it!
@zulipbot claim

[2017-05-14 03:50] gnprice opened #600 "Show when a message has been edited"
On the web app, we indicate when a message has been edited from its original version, by putting the text "(EDITED)" in light text next to the sender's name.

On mobile, I don't see such an indicator. This is sometimes confusing when following a conversation, because other people have replied to the original version of the message and their replies no longer make sense in context.

I think the sam

[2017-05-14 05:33] timabbott commented on #591
I don't think other group chat tools like Slack have these mechanisms, which makes me think that probably we're not being processed correctly by Apple.

[2017-05-14 07:49] borisyankov commented on #591
@timabbott Maybe we can argue for most of these that the administration functionality in the backend serves this purpose?

[2017-05-14 12:32] nashvail commented on #590
Couldn't reproduce the bug since #572 got merged :) Would be helpful if more people tested it. @vishwesh3 @Sam1301 @kunall17 can you confirm?

[2017-05-15 10:57] borisyankov opened #603 "Support new server emojis"
Currently shown as :emoji:

[2017-05-15 10:57] borisyankov opened #604 "Emoji"
- [ ] Sometimes the emoji reactions don't work/do anything when clicked on. #590
- [ ] Sometimes numbers in emoji reactions are not aligned correctly #589
- [ ] Automatically replace common emoji shortcuts to actual emojis #516
- [ ] Show placeholder when custom emoji unavailable #186
- [ ] Support new server emojis #603
- [ ] Get custom emojis from realm #607

[2017-05-16 17:24] borisyankov opened #605 "Features that need back-end changes"
- [ ] Large images in the message list kill scrolling speed on Android (and wastes bandwidth on both iOS and Android)
- [ ] Simpler and limited HTML/CSS message generation by back-end - no 'float', more focus on 'flex-box' styling
- [x] Unread message count API call

[2017-05-16 18:59] gnprice opened #606 "Crash on PM narrows with cross realm bot users like notification bot"
Repro:
* I open the app (on iOS)
* Choose "Private messages" from the drawer
* Tap a recent message from "Notification Bot" to narrow to PMs with that user
* *crash*

Not sure how far this generalizes, but it's happened 2/2 times for me so far.

Does the app have automatic crash reporting? Or is there something I can do to get you a backtrace?

[2017-05-16 19:03] gnprice commented on #584
This can make it pretty awkward to have a PM conversation; just now I was attempting one, and had to alternate between narrowing to the conversation (in order to get the compose box) and un-narrowing to PMs in general (to see the other person's replies, or if they'd replied), because neither my new messages nor theirs would show up on the narrow.

[2017-05-16 19:04] timabbott commented on #584
Yeah, this should definitely be a top priority issue.

[2017-05-16 19:06] timabbott commented on #606
I bet that has to do with "Notification Bot" being secretly not a member of the realm.

See the code for `cross_realm_bots` in zerver/views/home.py and in `static/js/people.js`.

I think probably the right fix for this is to replace the "Notification Bot" singleton with one-per-realm server side, but that may be enough work we should do a workaround in the meantime.

[2017-05-16 19:38] timabbott commented on #16
The server-side work for this was completed (will be in the Zulip 1.6 release), so one should be able to develop this against chat.zulip.org today.  Similarly for GCM.

I think it makes sense to prioritize this effort.

One note on testing this: Use the "always push notify" notification setting to make sure one gets these notices unconditionally; then you can trigger them by just sending yourself

[2017-05-16 21:25] borisyankov opened #607 "Get custom emojis from realm"
Get via `realm_emoji` register data.

[2017-05-16 21:35] gnprice commented on #584
Another quirk which might be related (or maybe not and I should file
another issue): when I tap on a PM to narrow to that conversation, all the
messages *from* that person disappear! I only see my messages to them. That
includes messages from days and weeks ago.

I don't remember seeing that earlier today, but I could have just not
noticed because I wasn't really replying to the old messages anywa

[2017-05-17 03:26] timabbott commented on #606
https://github.com/zulip/zulip/commit/850519b314957017d1f6e92ee4e7382a90c0600a should make it possible to access these in `register_ret` assuming that `realm_user` is in `fetch_event_types`.  Note that since that didn't exist in previous versions of the server, we'll need to check if the key exists in the response, and do nothing if it isn't there.

That said, since Zulip 1.6 is needed for a lot o

[2017-05-18 15:44] huyanhh commented on #310
@zulipbot abandon

[2017-05-19 03:01] stanzheng opened #609 "[React Int] not available on Android 7.1 Nouget"
I just built from master to local from `ab19d1ba4b8174b447a5c33a07ce21941285d191` and was wondering if this was related to this reactive-native error.

rolling back to the previous commit (`08c0cbd287904969a2361baa8c8c959e247b80ba`) before internationalization removes the error .

Bug Preview
https://cloud.githubusercontent.com/assets/3683993/26231536/f1d88dba-3c1d-11e7-8768-39ac253dc7f7.png

Andr

[2017-05-19 06:35] #609 closed

[2017-05-21 21:13] borisyankov commented on #606
Absolutely. Will fix next.
@gnprice we do have error reporting installed via Crashlytics, but we also have to check if it works.

[2017-05-21 21:29] #533 closed

[2017-05-21 21:31] #418 closed

[2017-05-22 21:59] #474 closed

[2017-05-22 22:15] borisyankov opened #616 "Implement End-to-End testing"
- [ ] Use Appium
- [ ] Tests are written in JS with Jest
- [ ] Use nice API to select elements (do we need another library?)
- [ ] Test basic login flow
- [ ] Test switching of accounts
- [ ] Plan other tests
- [ ] Consider using Saucelabs or AWS Device Farm for compatibility testing

[2017-05-22 22:56] #579 closed

[2017-05-23 05:19] vishwesh3 opened #621 "When there is no items in a # stream suggestion, then there is a line coming up we might want to prevent that"
![1548ed22-68bb-47df-9a4d-ed792af14173](https://cloud.githubusercontent.com/assets/18511177/26339430/71a118e8-3fa5-11e7-9b7f-ff6de68d7acf.jpg)

[2017-05-23 05:23] vishwesh3 commented on #621
@zulipbot claim

[2017-05-23 05:54] vishwesh3 opened #623 "Can't find all options in autocomplete suggestions"
Can't find
- Boris Yankov
- vishwesh3
- Saket Kumar
- Saumya Bhatnagar
etc

![ezgif com-video-to-gif-3](https://cloud.githubusercontent.com/assets/18511177/26340033/b1a4fd20-3fa9-11e7-89bc-1633cd173af3.gif)

[2017-05-23 05:55] vishwesh3 commented on #623
@zulipbot claim

[2017-05-23 14:53] borisyankov opened #626 "Big-picture goals for PyCon sprints"
- [ ] Fix bug where some (many) messages are missing when PM-ing @borisyankov
- [ ] Can PM bots @borisyankov
- [ ] Merge as many open PRs as possible (get them down to 10-15 at most)
- [ ] Upgrade to 0.44 (solve the VirtualList and Navigation issues)
- [ ] VirtualList used inside MessageList @neerajwahi
- [ ] Push Notifications @neerajwahi
- [ ] React Navigation is complete @borisyankov
- [ ] Unre

[2017-05-23 15:10] borisyankov commented on #588
@nashvail this is very high priority. Please try to work on this after we merge the auto-hiding PR.

[2017-05-23 17:35] vishwesh3 opened #628 "No option to clear search query in Android."
as `clearbuttonmode` is only available for iOS.
https://facebook.github.io/react-native/docs/textinput.html#clearbuttonmode

iOS
![14fb8a52-bb2f-4762-9ca9-e684221a52f4-2](https://cloud.githubusercontent.com/assets/18511177/26367437/381ed026-400c-11e7-8882-46207500e568.jpg)

Android
![14fb8a52-bb2f-4762-9ca9-e684221a52f4](https://cloud.githubusercontent.com/assets/18511177/26367438/3836b4d4-400c-11

[2017-05-23 17:36] neerajwahi commented on #588
I've noticed this behavior as well but for any new messages (not just messages sent to self). In addition, there's a bug where unread messages further up in the stream are sometimes counted and result in the unread notice being displayed

[2017-05-23 17:39] vishwesh3 commented on #628
@zulipbot claim

[2017-05-23 19:09] #267 closed

[2017-05-23 19:28] #626 closed

[2017-05-23 19:45] #621 closed

[2017-05-24 14:22] vishwesh3 opened #632 "Not able to login, showing error on pressing back button. (Android)"
Here is short video
https://drive.google.com/open?id=0BwZ3hknwHurYUEFKSDRhSWNzRTQ

Steps
1) fetch current master
2) `react-native run-android`

on pressing back button it is showing
![45fb613b-03c9-427f-af1a-90429f8a8491](https://cloud.githubusercontent.com/assets/18511177/26408041/60f66de8-40ba-11e7-8ebf-85110af69371.jpg)

Sometimes it also shows
![f76ad5f6-b478-4a20-bdaa-dbc9ee6c3f42](https://cl

[2017-05-24 18:24] neerajwahi commented on #632
Thanks @vishwesh3 . At least part of this issue is incorrectly checking the OS when deciding whether to show OAuth login options (the second screenshot). Can you determine the line of code that is causing the first error?

[2017-05-24 19:52] vishwesh3 opened #633 "Insufficient padding for ComposeBox when keyboard pop's up on iOS"
current master ([with ActionSheetProvider as parent in `Chat.js`](https://github.com/zulip/zulip-mobile/blob/master/src/chat/Chat.js#L48))

So when input becomes multi line (as height increases) some part of the compose box becomes visible.
![ezgif com-video-to-gif-4](https://cloud.githubusercontent.com/assets/18511177/26422587/1bfa69fa-40e8-11e7-8b78-09f8c9d42dc2.gif)

without ActionSheetProvider

[2017-05-24 20:18] vishwesh3 commented on #632
For the first screenshot (steps to reproduce)
- Enter a valid server URL (which we are sure that it is working) but it will show error "Could not connect".
- Then press back button.

Here is the complete message.

[code]

[2017-05-25 01:26] borisyankov commented on #632
Very good catch, @vishwesh3
We will need to test more thoroughly the Back button behavior.
I will test that in the upcoming React Navigation PR which has this implemented differently.

[2017-05-25 10:19] saketkumar95 opened #635 "Android : App closes on clicking back button from streams or messages"
The app always closes on clicking back button instead it should move to the Home screen.

[2017-05-25 10:20] saketkumar95 commented on #635
@zulipbot claim

[2017-05-25 16:02] #532 closed

[2017-05-25 17:32] saketkumar95 commented on #393
@zulipbot claim

[2017-05-25 17:40] #633 closed

[2017-05-26 09:06] vishwesh3 opened #638 "Links and #streams in messages are not clickable."

[2017-05-26 09:07] vishwesh3 commented on #638
@zulipbot claim

[2017-05-27 07:32] #638 closed

[2017-05-27 09:37] vishwesh3 opened #642 "Some styles are not applied in messages."
This might be due to some recent merge.

- [ ] **bold**

- [ ] *italic*

- [ ] links

- [ ] text color on Android (not black)

![de27b2c0-cfb9-498d-bef7-40e8c1532716](https://cloud.githubusercontent.com/assets/18511177/26520338/038779dc-42ee-11e7-95dd-5c54618d2287.jpg)

- [ ] more such

**Observed**
![d9a0d629-f4a6-41ac-b1ff-be780a1db6c2](https://cloud.githubusercontent.com/assets/18511177/2652029

[2017-05-27 09:37] vishwesh3 commented on #642
@zulipbot claim

[2017-05-28 20:26] vishwesh3 commented on #600
@zulipbot claim

[2017-05-30 18:48] saketkumar95 opened #648 "Error on start of the app"
Steps :

- fetch current master

- react-native run-android

Here is the screenshots :

![screenshot_20170531-000956](https://cloud.githubusercontent.com/assets/21558765/26599557/93dfb3a0-4596-11e7-9d50-4905a8a7dfc5.png)

And sometimes

![screenshot_20170531-000908](https://cloud.githubusercontent.com/assets/21558765/26599556/93dfee06-4596-11e7-9632-59cbcbf89233.png)

[2017-05-30 19:00] saketkumar95 opened #649 "Features to be Implemented in Settings Screen"
- [x]  About Option

- [x]  Notification settings (whether to receive the push notifications or not ON/OFF State)

- [x] 24-hour format or AM/PM

- [x] Display emoji’s as text or as emoticons ( To allow the user to display the emoji as :100 : instead of :100:

Any other suggestions?
@borisyankov @neerajwahi @timabbott

[2017-05-30 19:04] timabbott commented on #649
I would start with settings that are important on mobile, e.g. namely the push notification settings (and we may find we need to add sound/vibrate/etc. controls for that too).  Most other things are going to be low priority in comparison.  But keep it simple: do 1 setting first (probably "receive mobile push notifications").

One question for the group is whether we want to have both global settin

[2017-05-30 19:27] vishwesh3 commented on #648
I think some translations string are missing for Hindi language. @saketkumar95  Can you please check by switching languages (to English or any other) in Setting page.

[2017-05-30 19:29] saketkumar95 commented on #648
Yeah already did that. But can't find any. Maybe i missed out something?

[2017-05-30 19:37] saketkumar95 commented on #517
On it ! :)
@zulipbot claim

[2017-05-31 04:31] borisyankov commented on #517
@saketkumar95 I am not sure we have decided to forward with this feature.

[2017-05-31 04:34] borisyankov commented on #649
We do not need to add the notification settings to our Settings screen.
They are controlled by the OS.

[2017-05-31 04:37] timabbott commented on #649
OK, so what remains is probably just the couple mobile-related items from https://chat.zulip.org/#settings/notifications ?

[2017-05-31 07:43] saketkumar95 commented on #517
@borisyankov Cool.  No problem. :+1:

[2017-05-31 14:11] vishwesh3 opened #651 "Improvement in Actionsheet (pops on message long press)"
- When Narrow to conversation is selected for a PM (not group, self and one other person), it handles it like group.
**Expected**
It should do a private narrow.
![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/18511177/26635573/d6e46244-4637-11e7-96a1-887c7e96a00c.gif)

- If user is already at bottom most narrow (private or topic narrow) then there is no need of Narrow to conve

[2017-05-31 14:12] vishwesh3 commented on #651
@zulipbot claim

[2017-05-31 17:41] borisyankov commented on #10
I will close that issue since it is already implemented by @neerajwahi for iOS.
i will open an Android specific one that I will take on myself.

[2017-05-31 17:41] #10 closed

[2017-05-31 17:42] borisyankov opened #652 "OAuth support for Android"

[2017-05-31 17:55] borisyankov commented on #635
This one should be a part of the whole Navigation rework.

[2017-05-31 18:45] Sam1301 commented on #603
@zulipbot claim

[2017-06-01 13:08] geeeeeeeeek commented on #392
@timabbott Will change server validation in Zulip-Electron using this api.

[2017-06-01 13:10] geeeeeeeeek commented on #392
@timabbott Plus, does previous versions of Zulip have this endpoint?

[2017-06-01 17:14] vishwesh3 opened #653 "Getting error on long pressing messages in SearchMessageScreen."
<img width="380" alt="screen shot 2017-06-01 at 10 18 24 pm" src="https://cloud.githubusercontent.com/assets/18511177/26691712/c8dea300-471b-11e7-8e9f-5f2243171cf1.png">

[2017-06-01 17:15] vishwesh3 commented on #653
@zulipbot claim

[2017-06-01 17:42] borisyankov commented on #392
I think it was introduced in 1.5
There definitely are versions that do not support this, not sure if we want to handle it.

[2017-06-01 17:55] borisyankov commented on #653
I think the simplest solution is to not support that for the search results, which is also reasonable.

[2017-06-01 18:05] vishwesh3 commented on #653
Got the problem :) it is because `ActionSheetProvider` is not present as parent of `MessageList` in `SearchMessageScreen.js`.

It will helpful to narrow to whole conversation using some searched keywords (through Narrow to conversation option). (Most of the time I do this)

[2017-06-01 18:14] borisyankov commented on #651
Good ideas 👍

[2017-06-01 18:48] timabbott commented on #392
Introduced in 1.6, which isn't even released yet.

[2017-06-01 19:05] geeeeeeeeek commented on #392
You mean the who server settings API is new? Seems that I should handle the
case if it's not there.

On Fri, Jun 2, 2017, 2:48 AM Tim Abbott <notifications@github.com> wrote:

[2017-06-01 20:47] timabbott commented on #392
Yes, exactly, the /server_settings API endpoint is new.

[2017-06-02 00:38] #603 closed

[2017-06-02 04:10] #653 closed

[2017-06-03 17:24] #589 closed

[2017-06-03 17:47] #623 closed

[2017-06-06 11:27] borisyankov opened #664 "Issue when message topic is edited"
When someone edits a topic of a message, the message shows up with body: 'undefined' in the app.

[2017-06-06 12:20] borisyankov commented on #648
@saketkumar95 is this fixed in latest `master`?

[2017-06-06 12:29] #664 closed

[2017-06-07 11:33] vishwesh3 opened #669 "Use custom tabs to open links on Android (like FB messenger, FB, twitter etc)."
iOS already have better implementation (which looks like custom tabs).

https://developer.chrome.com/multidevice/android/customtabs

[2017-06-07 11:33] vishwesh3 commented on #669
@zulipbot claim

[2017-06-07 13:01] vishwesh3 commented on #117
@zulipbot claim

[2017-06-07 17:30] #669 closed

[2017-06-08 03:19] vishwesh3 commented on #240
https://hackernoon.com/how-to-animate-the-items-of-a-react-native-flatlist-32c8cbf7ea3d

[2017-06-09 07:23] borisyankov opened #676 "Android O: Support notification dots"
Not a priority, but a nice thing to have in near future:
https://developer.android.com/preview/features/notification-badges.html

[2017-06-09 14:06] saketkumar95 commented on #648
@borisyankov No. I still got this error.

[2017-06-11 01:45] borisyankov opened #677 "Flow typings check & review"
After @TomaszKolek is done with all the typing and they are merged, me and one more person should go over the code base and review and improve on anything that might be missed or overlooked.

[2017-06-11 01:49] borisyankov commented on #591
Closing, since app got accepted.

[2017-06-11 01:49] #591 closed

[2017-06-11 03:02] vishwesh3 commented on #677
I would like to explore more on this. :)

[2017-06-11 06:45] borisyankov commented on #677
Cool, have a look at the almost ready to merge PR #672 it is nice to learn a bit.

[2017-06-11 06:50] #642 closed

[2017-06-11 07:28] #600 closed

[2017-06-11 12:24] #648 closed

[2017-06-11 13:11] vishwesh3 opened #680 "Improve reply option in messageActionSheet"
**Observed Behaviour**
on [current master](https://github.com/zulip/zulip-mobile/tree/01b4467b2d81af2bd4381ee652bc50b13db7a707) selecting **reply** only do narrow.

**Expected behaviour**
On selecting reply option (I think this is same as **Quote and reply** on web) it should
- do narrow (already does)
- quote that message.
- pops up keyboard.

mockup
<img width="667" alt="screen shot 2017-06-11 a

[2017-06-11 13:11] vishwesh3 commented on #680
@zulipbot claim

[2017-06-11 18:16] borisyankov commented on #79
Closing as implemented.

[2017-06-11 18:16] #79 closed

[2017-06-12 18:01] borisyankov opened #683 "Split users and presence in Redux state"
Split users and presence in Redux state for performance reasons.
Message list depends on 'users' but not on 'presence'.
Currently, presence updates cause message list updates.

[2017-06-13 12:22] vishwesh3 commented on #475
This needs to be reopened. (it is for all buttons so title should be edited)
<img width="153" alt="screen shot 2017-06-13 at 5 46 08 pm" src="https://user-images.githubusercontent.com/18511177/27081943-5c0bf874-5060-11e7-9d8e-749e92c033a8.png">

Only text is selectable/touchable/clickable on Android 7.1.0 API 25.
I just replaced `TouchableNativeFeedback` with `TouchableOpacity` and whole area beco

[2017-06-13 12:54] borisyankov commented on #548
I think the Drawer component had something to do with it.

[2017-06-14 03:52] saketkumar95 commented on #635
@borisyankov can we use https://github.com/igormatyushkin014/android-back-button module ?

[2017-06-14 06:23] borisyankov commented on #680
@vishwesh3 I don't think that quote is expected at all.
Focusing on the input box though is.

[2017-06-14 08:38] saketkumar95 commented on #531
@zulipbot Totally forgot about this. Now working on this. 👍

[2017-06-14 08:40] saketkumar95 commented on #459
@zulipbot claim

[2017-06-14 08:41] saketkumar95 commented on #459
@zulipbot label "Android"

[2017-06-14 08:41] saketkumar95 commented on #459
@zulipbot label "enhancement"

[2017-06-14 08:43] saketkumar95 commented on #459
@synicalsyntax Does this labels are not supported or Is this a bug in zulipbot?

[2017-06-14 09:48] saketkumar95 opened #688 "Lists of Login Improvements"
Todo List for Login Improvements as told by @timabbott  :

- [x] A splash screen (Both Android and iOS)

- [ ] The "which login method do you want to use" screen, which might offer Google and email/password (and maybe more). This could probably share the underwater bus stop from the previous screen. If we offer account sign up, that probably belongs here, but it's probably not a priority, so I thi

[2017-06-14 09:49] saketkumar95 commented on #688
@zulipbot claim

[2017-06-14 09:51] saketkumar95 commented on #688
@vaidap @knitinjain I need your help in making the designs. 😆

[2017-06-14 09:58] knitinjain commented on #688
Yes @saketkumar95  tell me what are your current needs?

[2017-06-14 10:09] saketkumar95 commented on #688
Lets discuss  on zulip chat.

[2017-06-14 15:27] #594 closed

[2017-06-14 22:29] gnprice opened #691 "Add option to take or upload a photo"
In other chat or messaging apps I often find it pretty handy to be able to send a photo or screenshot I've just taken, or to take a photo right there and send it. This is one of the key things a phone is valuable for, even when I have my laptop nearby. We should have this feature too.

I see in #372 a mention of something like this being in the works, but wanted to have an issue to track this feat

[2017-06-14 22:36] saketkumar95 commented on #691
Thanks for reporting @gnprice
This is being worked on a bit slowly because of many other bugs and features too. :)

[2017-06-14 22:37] saketkumar95 commented on #691
@zulipbot claim

[2017-06-15 14:57] saketkumar95 commented on #688
@borisyankov Let me know on what feature should i work next on. :)

[2017-06-15 17:34] borisyankov commented on #40
Closing as 'complete'.

[2017-06-15 17:34] #40 closed

[2017-06-15 17:35] borisyankov commented on #44
There are other tasks that track this in more details. Closing this issue.

[2017-06-15 17:35] #44 closed

[2017-06-15 17:36] borisyankov commented on #116
Hey @nashvail assigning this to you 💯

[2017-06-15 17:37] borisyankov commented on #163
Implemented by @kunall17  and merged.

[2017-06-15 17:37] #163 closed

[2017-06-15 17:38] borisyankov commented on #595
Closing as mostly accomplished. Will track the list in other ways.

[2017-06-15 17:38] #595 closed

[2017-06-15 17:38] borisyankov commented on #173
Long press was merged few weeks ago.

[2017-06-15 17:38] #173 closed

[2017-06-15 17:47] borisyankov commented on #372
This is implemented.

[2017-06-15 17:47] #372 closed

[2017-06-15 18:14] borisyankov commented on #269
Fixed long time ago.

[2017-06-15 18:14] #269 closed

[2017-06-15 18:16] borisyankov commented on #206
Fixed.

[2017-06-15 18:16] #206 closed

[2017-06-15 18:19] borisyankov commented on #304
This is completed.
In future, we will want to make the request payload even smaller.

[2017-06-15 18:19] #304 closed

[2017-06-15 18:20] borisyankov commented on #429
Implmented.

[2017-06-15 18:20] #429 closed

[2017-06-15 18:22] borisyankov commented on #489
Done.

[2017-06-15 18:22] #489 closed

[2017-06-15 18:23] borisyankov commented on #503
Was implemented a month ago.

[2017-06-15 18:23] #503 closed

[2017-06-15 18:35] borisyankov commented on #628
Implemented and merged.

[2017-06-15 18:35] #628 closed

[2017-06-15 18:36] borisyankov opened #698 "[Android] Mark messages as read while scrolling the mssage list"

[2017-06-16 01:15] wilsonandusa commented on #578
Hi, could you give more description about "the icon for the realm"? Are you talking about changing the vertical layout into something like a grid?  Maybe I misunderstand it, but I see no major difference between the current menu and the menu in Slack's Android app.

[2017-06-16 02:43] saketkumar95 commented on #517
@borisyankov What should we do with this? I really liked the feature and want to have it in the app.

[2017-06-16 06:23] vishwesh3 opened #701 "Message not rendered properly when there is <br> in the content"
When user have used `enter` to compose message.
`content:  "<p>line 1<br>line 2<br>line 3<br>line 4<br>line 5</p>"`

on mobile
![f94057d9-1f43-4fde-b8b1-040378480064-2](https://user-images.githubusercontent.com/18511177/27214469-4ed42cf4-528a-11e7-876e-b710a82a8299.jpg)

on web
![f94057d9-1f43-4fde-b8b1-040378480064](https://user-images.githubusercontent.com/18511177/27214471-4f873c4a-528a-11e7-80

[2017-06-16 12:21] saketkumar95 commented on #701
@zulipbot claim

[2017-06-16 12:50] borisyankov opened #704 "[Android] App startup is too slow"
Tested on a real device, starting the app took about 10-12 seconds.

[2017-06-16 12:51] vishwesh3 opened #705 "Improve Auto complete suggestions pop up"
- [x] Search by initials.

- [ ] Highlight filtered text in suggestions row.

- [ ] Show (in relatively small font size) and search in email as well.

- [ ] Move suggestions to outside Compose Box (above Topic field, i.e StreamBox). As input changes, size to list changes and topic field floats, which doesn't look good.

<img width="374" alt="screen shot 2017-06-16 at 4 12 51 pm" src="https://user-

[2017-06-16 12:52] vishwesh3 commented on #705
@zulipbot claim

[2017-06-16 13:08] borisyankov opened #706 "Star/Unstar a message"
Add a 'Star' or 'Unstar' to the long press message menu.

[2017-06-16 13:12] borisyankov opened #707 "[Android] Compose box position is messed up"
Not super-ideal for iOS but is working correctly.

[2017-06-16 13:22] vishwesh3 commented on #706
@zulipbot claim

[2017-06-16 13:40] borisyankov commented on #705
I don't think this is needed.

[2017-06-18 09:49] vishwesh3 commented on #607
@zulipbot claim

[2017-06-19 10:55] nashvail opened #716 "Improvements to Subscription Search Screen"
- [x] Needs an empty state message.
- [x] Showing Search Butcon even when in search state is unnecessary. (Can be replaced with "cancel" to get back to initial state)
- [x] Handle when search input field is blurred with good/bad input.

[2017-06-19 10:55] nashvail commented on #716
@zulipbot claim

[2017-06-20 09:20] #706 closed

[2017-06-20 10:01] borisyankov commented on #716
I don't think this is high-priority right now.
Looks fine, but focus on other things first?

[2017-06-20 10:15] nashvail commented on #716
@borisyankov yes, makes sense. Was working on something like this..
![](https://puu.sh/wphaf/36bff29625.gif)
Will pause for the moment and work on tasks with higher priority.

[2017-06-20 18:35] nashvail commented on #475
@zulipbot claim

[2017-06-21 13:47] borisyankov commented on #716
Looks fun, but not sure it is better than the default behavior:
 * why hide the back arrow?
 * we also have an 'X' to clear the inputs

(we can discuss later though ;) )

[2017-06-21 13:57] #475 closed

[2017-06-22 07:23] #607 closed

[2017-06-22 17:30] #558 closed

[2017-06-22 19:36] borisyankov opened #729 "Create a new stream and edit exiting ones"

[2017-06-22 19:37] borisyankov commented on #583
Hey @Sam1301, looks like a bug fix for you? 😸

[2017-06-22 19:39] borisyankov commented on #590
I can't either. We can reopen if someone does.

[2017-06-22 19:39] #590 closed

[2017-06-23 02:51] vishwesh3 commented on #729
@zulipbot claim

[2017-06-23 13:24] borisyankov commented on #729
We will work on this later, maybe after few weeks :)
Focusing on anything that is Android-related is better (either new feature or a bug)
https://github.com/zulip/zulip-mobile/projects/5

[2017-06-23 18:40] borisyankov commented on #549
@vishwesh3 do you think this issue is still relevant?

[2017-06-23 18:41] borisyankov commented on #523
Closing as fixed and merged.

[2017-06-23 18:41] #523 closed

[2017-06-23 23:41] saketkumar95 commented on #587
@zulipbot claim

[2017-06-25 14:52] borisyankov opened #741 "Better code formatting in MessageList"
* Render new entries inside `<pre>` on the same line
* Do render new lines
* Add more css styles for code coloring

[2017-06-25 15:02] vishwesh3 commented on #549
@borisyankov we can close this. :)

[2017-06-25 15:02] #549 closed

[2017-06-25 15:29] vishwesh3 commented on #701
This can be closed now. Fixed by https://github.com/zulip/zulip-mobile/commit/8898fd8e1e9c4e4e2cabd5d214c995f385a2850e

[2017-06-25 15:29] #701 closed

[2017-06-26 12:54] kunall17 opened #751 "Full screen markdown editor"
Full screen something like the github markdown writer, will be very handy to people who are new to markdown and don't know much about the formatting and also for the lazy users who don't do much formatting, this would help them to write better formatted message.

<img src="https://user-images.githubusercontent.com/12700799/27540064-6845c764-5a9c-11e7-81cd-40be13aef903.jpg" width="40%" />
(Mockup f

[2017-06-26 12:55] kunall17 commented on #751
@zulipbot claim

[2017-06-26 14:42] borisyankov commented on #751
Yeah, not a priority, don't forget :)
... but we should try to mix this with a 'picker to send to another narrow' thing when we have a go ;)

[2017-06-27 16:17] borisyankov opened #756 "Autocomplete prioritizes name match and 'starts with' in name"
Now, autocomplete matches too many results.
Looking for 'Bo' for example gives hundreds of results.
It should prioritize 'Boris' first, then anyone with 'bo' in the name, and only after that 'bo' in the email.

[2017-06-27 22:05] #698 closed

[2017-06-28 15:05] #683 closed

[2017-06-28 16:57] saketkumar95 commented on #528
@zulipbot claim

[2017-06-28 23:27] saketkumar95 commented on #264
@borisyankov This should be closed!

[2017-06-28 23:31] saketkumar95 commented on #116
@borisyankov Can i also work on this?

[2017-06-29 09:44] borisyankov opened #765 "Autocomplete for topic input"
This will be based off of the currently work-in-progress PR to have a better compose box.

[2017-06-29 11:45] saketkumar95 commented on #528
@borisyankov Do we need a Tablet layout?

[2017-06-29 13:11] borisyankov commented on #528
Yep, but not high priority.

[2017-06-29 13:11] borisyankov commented on #116
Sure. Just make sure to create smaller commits.

[2017-06-29 13:12] borisyankov commented on #264
Closing as implemented.

[2017-06-29 13:12] #264 closed

[2017-06-29 13:19] borisyankov opened #766 "Menu for long press on an app icon"
Long pressing on icons in Android can show a menu with options. (maybe something like that is possible for iOS on force touch?)

Apps like Hangouts, Allo and Telegram have these, like people who you conversed with last etc.

[2017-06-29 13:43] #756 closed

[2017-06-29 14:07] saketkumar95 commented on #116
Sure.
@zulipbot claim

[2017-06-29 14:12] saketkumar95 commented on #528
okay! The fonts seems a bit smaller on iPad air or any tablet devices. Can I change the fontsize and maintain a balance between small devices and large ?

[2017-06-29 15:37] saketkumar95 commented on #528
Yeah that would be better!

[2017-06-29 23:04] saketkumar95 opened #769 "[Android] Statusbar background color"
Background color of status bar should be according to the theme

![screenshot_20170629-040203](https://user-images.githubusercontent.com/21558765/27714222-39e58ae0-5d4d-11e7-9090-50818c2d62f9.png)
![screenshot_20170629-040217](https://user-images.githubusercontent.com/21558765/27714223-39e98910-5d4d-11e7-97b7-50f30e472afe.png)

[2017-06-29 23:04] saketkumar95 commented on #769
@zulipbot claim

[2017-06-30 00:07] saketkumar95 opened #771 "Landscape mode of lightbox"
In landscape mode of light box , the "Shared with you" option is not visible.

Portrait Mode:

![screenshot_20170630-053143](https://user-images.githubusercontent.com/21558765/27715577-d811eb8e-5d55-11e7-9ea5-a1e1895d5693.png)

Landscape Mode :

![screenshot_20170630-053152](https://user-images.githubusercontent.com/21558765/27715578-d823d09c-5d55-11e7-9d6e-7b18a1890f26.png)

cc: @borisyankov @Sam

[2017-06-30 00:07] saketkumar95 commented on #771
@zulipbot claim

[2017-06-30 06:43] Sam1301 commented on #771
Good catch! I missed to test in land orientation. After going though a couple of competitor apps, I find that the apps which provide full land support tend to be orientation agnostic and provide all features in both orientations (if feasible). So probably we should provide the lightbox header and footer (with limited details - to account for the change in dimensions between orientations) and let t

[2017-06-30 09:32] saketkumar95 commented on #771
@Sam1301 I just started with adding a landscape orientation support. No worries, you can go ahead. 👍

[2017-06-30 09:32] saketkumar95 commented on #771
@zulipbot abandon

[2017-06-30 09:43] saketkumar95 commented on #771
bdw , Try testing on small iOS devices. It worked on tablet. Only small devices were having this issue.

[2017-06-30 15:28] Sam1301 opened #773 "[Android] Anchor position not maintained on first message list load"
The anchor position is not maintained whenever the message list is loaded for the first time.

[2017-06-30 15:29] Sam1301 commented on #773
@zulipbot claim

[2017-06-30 18:08] borisyankov commented on #773
Not sure if related, but when switching narrows the position tends to not be correct. This is Android specific.

Another tangentially related issue is that the message read events that you worked on, again specifically for Android, seem to be working but off by a bit - when I scroll through a whole stream narrow, most messages are marked as read, but not all. This works correctly on iOS.

[2017-06-30 23:08] Sam1301 commented on #773
Thanks for these details! 👍

verified this is related to this issue, which doesn't seem to be a regression.

should be fixed by #775, verified all visibleIds are sent.

[2017-07-01 07:10] saketkumar95 opened #777 "[Android] Landscape mode issue in modal"
Cancel Button is not visible in the landscape mode of modal

Portrait :

<img width="419" alt="screen shot 2017-07-01 at 12 39 25 pm" src="https://user-images.githubusercontent.com/21558765/27759986-825dfa1a-5e5a-11e7-8c63-ba1566986f5c.png">

Landscape :

<img width="655" alt="screen shot 2017-07-01 at 12 30 27 pm" src="https://user-images.githubusercontent.com/21558765/27759950-a39e6ac6-5e59-11e7

[2017-07-01 07:11] saketkumar95 commented on #777
@zulipbot claim

[2017-07-01 09:43] saketkumar95 opened #778 "[Android] Error on adding reaction"
Got an error while adding reaction.

<img width="420" alt="screen shot 2017-07-01 at 2 58 24 pm" src="https://user-images.githubusercontent.com/21558765/27760881-96683da8-5e6f-11e7-9c84-8fcb2ba329d0.png">

[2017-07-01 09:43] saketkumar95 commented on #778
@zulipbot claim

[2017-07-01 19:57] saketkumar95 opened #784 "Add forgot password options"
Currently we don't have forgot password  options.
Better to have a option that opens the link  on web.

[2017-07-01 19:57] saketkumar95 commented on #784
@zulipbot claim

[2017-07-01 20:52] saketkumar95 commented on #498
@zulipbot claim

[2017-07-01 21:58] saketkumar95 opened #787 "Scrolling issue"
Faced some issues in landscape mode.
Some Screens are filled up and on landscape it doesn't scroll.

Solution can be adding a Scrollview as parent View.

[2017-07-01 21:59] saketkumar95 commented on #787
@zulipbot claim

[2017-07-02 08:54] vishwesh3 commented on #787
I think better solution would be creating different layouts for landscape like we have done in Account screen (splitting content left and right). Adding Scrollview can be a temporary solution.

[2017-07-04 13:24] #773 closed

[2017-07-04 15:24] borisyankov opened #800 "Use Detox for E2E"
Detox is an end-to-end testing framework for React Native, that is quickly being adopted by the main players in the React Native ecosystem. We should evaluate it, as an alternative to Appium.

https://github.com/wix/detox#about
https://medium.com/@bogomolnyelad/how-to-test-your-react-native-app-like-a-real-user-ecfc72e9b6bc
https://github.com/wix/DetoxInstruments

[2017-07-04 16:07] kunall17 commented on #800
This library seems nice, https://www.youtube.com/watch?v=Ndof_lgJmx8 Also a good video to get a brief info.

[2017-07-04 20:26] #769 closed

[2017-07-05 02:28] kunall17 commented on #649
Any more settings to be implemented?

[2017-07-05 08:24] borisyankov commented on #649
I don't think there are any right now.
I'll close it, and we can add more as they come.

[2017-07-05 08:24] #649 closed

[2017-07-05 12:15] kunall17 commented on #800
Update: Used Detox https://github.com/kunall17/zulip-mobile/commit/c754c0ffc6c74b45093670328064cf408b2c28bd
Its much better than appium

- Very fast test's than appium
- Has less installation (appium took a lot more time and downloading to setup)
- The documentation has made it work with mocha, but I used jest in the branch
- Easier to be deployed on a CI
- Library mostly built for RN hence will b

[2017-07-05 13:30] kunall17 opened #804 "Translate the strings of message action sheet"
https://github.com/zulip/zulip-mobile/blob/4815abf1113d431080dc1cbccf9848269509040c/src/message/messageActionSheet.js#L126

[2017-07-05 15:49] borisyankov commented on #800
Great. I also got the same impression.
Testing the iOS is likely enough for now versus the unreliable Appium.

You can consider this one of the high-value tasks to work on this phase, just make sure to do it in smaller commits.

[2017-07-05 15:51] #771 closed

[2017-07-05 16:16] Sam1301 commented on #587
I probably found a reliable way to reproduce this bug. It happens when new data is fetched in the message list (on both platforms). Also *during the load*, all touchables didn't seem to respond.

[2017-07-05 16:40] borisyankov commented on #587
Maybe it is during the actual render phase since I don't think the fetching should be a blocking action.
But your hunch sounds reliable, maybe test a bit more?
A suggestion on how to test: edit the `config.js` file and change `messagesPerRequest: 50,` to something much larger. Add console.log on start fetch and end fetch and see if fetching is the issue or rendering.

[2017-07-05 16:42] saketkumar95 commented on #587
@borisyankov I think everyone should do that on other Android Versions.

[2017-07-05 16:43] Sam1301 commented on #587
👍  its probably the render phase, I profiled this before and found expensive component update calls.

great, will also try this next

[2017-07-05 16:50] saketkumar95 commented on #784
Closed via https://github.com/zulip/zulip-mobile/pull/785

[2017-07-05 16:50] #784 closed

[2017-07-05 22:51] saketkumar95 opened #810 "[Android] Issues in clear button"
I got some issues with clear button in dark theme.

Dark theme :
![picsart_07-06-04 08 35](https://user-images.githubusercontent.com/21558765/27888155-372a6ca8-6202-11e7-80ce-02c07ab84055.jpg)

Light Theme :
![picsart_07-06-04 14 39](https://user-images.githubusercontent.com/21558765/27888156-3731a8d8-6202-11e7-906a-1553ffdbf773.jpg)

Dark Theme :

![picsart_07-06-04 08 56](https://user-images.git

[2017-07-05 22:51] saketkumar95 commented on #810
@zulipbot claim

[2017-07-06 11:53] nashvail commented on #810
While you're at it, just noticed the ClearButton in iOS could use a little right margin. Please consider doing that too :)

![](https://puu.sh/wCXZl/ef38e62c8e.png)

[2017-07-06 13:50] borisyankov opened #813 "Evaluate WebView for MessageList"
To consider:

- [ ] `position: sticky` for headers
- [ ] running React inside the view?
- [ ] proper updates and positioning

[2017-07-06 13:52] borisyankov opened #814 "Evaluate FlatList/SectionList for MessageList"
To consider:

- [ ] Infinite list - can add items to both sides
- [ ] Positioning within the list

[2017-07-06 17:02] kunall17 commented on #800
So there's one problem now,

After debugging a lot, I finally found why the detox wasn't working in the main chat screen, its because our event fetching infinite loop.

This cannot be bypassed in anyway as the detox has to wait for the events to be completed for computing the state of the app and proceed further,

[code]
I tested without the event loop and it worked fine,
The network activity indi

[2017-07-06 17:19] timabbott commented on #800
One approach that one can use is to disable the event loop in the tests but then manually trigger that code path when you want to test what happens when a given event arrives.

[2017-07-06 17:48] kunall17 commented on #800
Yeah, I was thinking for this 👍

[2017-07-06 22:42] borisyankov opened #819 "Have null object constants"
We should have a nullObjects.js file which exports constants of empty objects that are returned on 'not found' conditions.

Benefits:
 * consolidating logic
 * do not create a new object on each failure but reuse
 * does not cause repaint

[2017-07-06 22:47] borisyankov commented on #800
I also think this is the way to go 👍

[2017-07-07 04:09] vishwesh3 commented on #819
@zulipbot claim

[2017-07-07 16:43] jrowan opened #823 "@mention suggestions disappear after typing a space"
(nevermind, the issue I was having was on the android app not the react app, I posted this on the wrong repository, sorry)

[2017-07-07 16:54] Sam1301 commented on #823
@jrowan Thanks for the bug report. From the screenshots I infer this is the native java android app. Would be great if you could file this bug there (https://github.com/zulip/zulip-android).
Thanks!

[2017-07-07 17:51] timabbott commented on #823
@Sam1301 is the issue present in the mention typeahead on mobile here, though?  If so, we may want to fix anyway.

[2017-07-07 17:58] Sam1301 commented on #823
Oops, this issue seems to be in RN app too.
Linking the android issue for further details https://github.com/zulip/zulip-android/issues/511.

[2017-07-07 19:46] borisyankov commented on #823
Fun stuff ;)
@vishwesh3 did some improvements in that area, maybe he wants to do this fix too?

[2017-07-08 12:22] keithw opened #830 "White rectangle reproducably appears after hamburger menu > home"
Hello,

I'm using the 1.0.13 version of the app on a Google Pixel running Android 7.1.2.

If I start composing a message and then choose the hamburget menu (in the top left) and then "home," I am getting an opaque white rectangle left on the screen that obscures the messages behind it. It's usually at the bottom of the screen (screenshot 1) but sometimes elsewhere (screenshot 2) with other vestigi

[2017-07-08 12:43] keithw opened #831 "Message times seem to be in Moscow timezone"
Hello,

I'm using the 1.0.13 version of the app on a Google Pixel running Android 7.1.2. The inbound timestamps seem to be in UTC+3 (Moscow time). My device is set to U.S. Pacific time and the Play Store version of the Zulip app behaves correctly.

[2017-07-08 12:44] keithw commented on #830
Here is another example of screen corruption:

![image](https://user-images.githubusercontent.com/208955/27985491-7ff1fc04-63a0-11e7-9248-6433655a80a8.png)

[2017-07-08 13:46] borisyankov opened #832 "[Refactoring] BoundActions merge an `action` object"

[2017-07-08 13:47] borisyankov opened #833 "[Refactoring] Any action that accepts an auth object should retrieve that data from the store and not get it as a parameter"

[2017-07-08 14:25] vishwesh3 commented on #741
@zulipbot claim

[2017-07-08 15:14] borisyankov opened #835 "[Refactoring] Create more Container components to decrease the amount of deeply passed props"

[2017-07-08 15:24] borisyankov commented on #831
Thanks for reporting that.
I have observed a similar issue when I traveled to the US.
We have not hard-coded the time so that is a bit weird.
On the other hand, I am in the same UTC +3 time zone so that might be one reason why I don't encounter this often. 😄

@vishwesh3 do you want to have a look at this?

[2017-07-08 16:06] vishwesh3 commented on #831
Yup! will look into this 👍
@zulipbot claim

[2017-07-08 16:17] jhurwitz opened #837 "App crashes immediately upon opening"
See https://chat.zulip.org/#narrow/stream/mobile/subject/crashes/near/246097

I (and at least one other person) can't use the iOS testflight app because it crashes immediately upon opening. Clearing app storage hasn't helped, and uninstalling/reinstalling also hasn't.

Additionally, there are no errors in Crashlytics, and no crashes in device logs when I connect my phone to Xcode.

[2017-07-08 18:58] borisyankov commented on #830
I have seen that too. I find it to be super-annoying too and will be fixed in the next Beta.

[2017-07-08 19:00] borisyankov commented on #705
@vishwesh3 should we close?

[2017-07-08 22:10] Sam1301 commented on #835
@zulipbot claim

[2017-07-09 06:06] vishwesh3 commented on #705
yes 👍

[2017-07-09 06:06] #705 closed

[2017-07-09 07:21] Sam1301 commented on #833
@zulipbot claim

[2017-07-09 08:22] vishwesh3 commented on #651
Closing this as completed

[2017-07-09 08:22] #651 closed

[2017-07-09 08:27] vishwesh3 commented on #555
Closing this. https://github.com/zulip/zulip-mobile/pull/736 fixes this.

[2017-07-09 08:27] #555 closed

[2017-07-09 16:58] borisyankov commented on #835
Maybe we should discuss that, or just do it in small steps?

[2017-07-09 21:34] borisyankov commented on #823
Closing as fixed.

[2017-07-09 21:34] #823 closed

[2017-07-09 21:36] #778 closed

[2017-07-10 04:22] Sam1301 commented on #835
sure, lets discuss it 👍

[2017-07-10 16:36] trbabb opened #842 "Layout issues on iOS mobile"
Not sure if this is appearing in other platforms, but in iOS the layout will often screw up and overlap itself:

![img_2082](https://user-images.githubusercontent.com/5055969/28028958-5658e5d8-656c-11e7-966a-9ab9069f4ae2.PNG)

[2017-07-10 17:19] borisyankov commented on #842
Thanks for reporting this issue. It is the first time I see it.
Will investigate!

[2017-07-10 17:29] #677 closed

[2017-07-10 17:32] borisyankov commented on #583
@Sam1301 did we fix that?

[2017-07-10 19:36] Sam1301 commented on #583
@borisyankov not yet, will work on this soon (probably after performance).

[2017-07-11 04:22] jhurwitz commented on #837
Today's TestFlight update did not resolve the issue

cc @timabbott

[2017-07-11 04:49] borisyankov commented on #819
@vishwesh3 I did some initial work here:
https://github.com/zulip/zulip-mobile/commit/263b10ccd6219fd8168be47b9e6a663fe50dc53f

There is more work that can be done though, so continue on it.

[2017-07-11 07:45] kunall17 commented on #411
@zulipbot claim

[2017-07-11 17:29] #819 closed

[2017-07-11 19:02] borisyankov opened #855 "Use much less {...this.props} in favor of concrete props and deeper 'connect' calls"
Good option to explore first is the component `Avatar`. It always needs the `realm` property to retrieve the full url.

[2017-07-11 19:07] Sam1301 commented on #855
actually this could also be implemented with #835 (in fact did something similar in #845)

[2017-07-11 19:29] #833 closed

[2017-07-11 19:37] borisyankov commented on #855
Good thinking. I was actually questioning already if we need to use the state realm since in future we might want to show avatars from two realms at once.
if we have Avatar and AvatarContainer, we can use the first for multiple realms.

[2017-07-12 18:44] kunall17 commented on #411
Can be closed now!

[2017-07-12 18:47] #411 closed

[2017-07-13 00:28] saketkumar95 opened #864 "Forgot password align issue in Android"
Forgot password align left in the Android where as right in the iOS.

On current master :

iOS :

<img width="373" alt="screen shot 2017-07-11 at 3 22 18 am" src="https://user-images.githubusercontent.com/21558765/28042334-6ab97ce4-65ea-11e7-9f41-0e2d614c59b3.png">

Android :

![screenshot_20170711-032243](https://user-images.githubusercontent.com/21558765/28042393-a3602f7a-65ea-11e7-94ce-42504547

[2017-07-13 00:41] saketkumar95 opened #865 "Crash in Android"
Got a crash on android .
Something related to Crashlytics.

I commented out this [line](https://github.com/zulip/zulip-mobile/blob/master/android/app/src/main/java/com/zulipmobile/MainApplication.java#L75)  and the crash was gone.

[2017-07-13 03:39] vishwesh3 opened #867 "[Android] Error on message long press."
Tested on 4.4.4, 4.1.1, 7.1.0

<img width="455" alt="screen shot 2017-07-13 at 9 06 54 am" src="https://user-images.githubusercontent.com/18511177/28149381-d004bd68-67aa-11e7-9f2b-2d436f25d5e8.png">

[2017-07-13 03:40] vishwesh3 commented on #867
this may be auto resolved once we upgrade to react-native 0.44.0
https://stackoverflow.com/a/44100312/5612089

[2017-07-13 05:34] vishwesh3 commented on #688
@saketkumar95 can you please add one more in this
- Several apps, including the Web Browser and the Contacts app, replace the "Enter" key on the on-screen keyboard with a "Next" key that gives focus to the next data entry view.

like https://androidcookbook.com/Recipe.seam?recipeId=422

[2017-07-13 09:45] borisyankov commented on #867
Yeah, I guess we can either downgrade the ActionSheet library or upgrade React Navigation.

[2017-07-13 10:09] vishwesh3 commented on #867
@zulipbot claim

[2017-07-13 13:13] #867 closed

[2017-07-13 22:38] borisyankov commented on #865
@vishwesh3 make sure to remove any trace of Fabric/Crashlytics from the Sentry PR 🥇

[2017-07-14 23:33] #810 closed

[2017-07-14 23:40] #864 closed

[2017-07-16 00:37] saketkumar95 opened #879 "Messages are sent even when input field has white space"
<img width="374" alt="screen shot 2017-07-16 at 6 00 42 am" src="https://user-images.githubusercontent.com/21558765/28243570-04825b4c-69ed-11e7-90e6-f99aac830095.png">

@zulipbot claim

[2017-07-16 10:57] #879 closed

[2017-07-16 11:58] saketkumar95 opened #883 "Delete sent messages option"
Currently it is handled by editing the message but the editing message cannot be empty to send the message.
I was thinking of adding an option of Delete message and using updateMessage api to delete the message same as it is done on web.

After deleting the message will be show `(deleted)`

@borisyankov Thoughts?

[2017-07-16 11:58] saketkumar95 commented on #883
@zulipbot claim

[2017-07-16 12:42] borisyankov commented on #883
Yeah, sounds like a good idea.

[2017-07-16 13:46] vishwesh3 commented on #865
We can close this now as Sentry is in. I forgot to mention this issue in commit message.

[2017-07-16 13:49] #865 closed

[2017-07-16 13:51] vishwesh3 commented on #296
We can close this now as done in https://github.com/zulip/zulip-mobile/pull/821

[2017-07-16 16:31] #296 closed

[2017-07-17 13:22] #568 closed

[2017-07-17 22:23] gnprice commented on #372
Exciting! @borisyankov, can you mention what PR or commit this feature landed in? That will help me follow it on its path to a release I can use on my phone :)

[2017-07-17 22:25] borisyankov commented on #372
It is already on TestFlight, that is failing for some ;)
Next release (within 1-2 days) will have Sentry installed so we will debug the issue, and should push to App Store.

[2017-07-17 22:35] gnprice commented on #372
Ah, I'm one of the people that release is consistently crashing for, so I can't tell. :) Thanks -- looking forward to seeing it!

[2017-07-17 22:47] timabbott commented on #372
I do have a concern that the current design for choosing a topic makes the topic way too visible when it's the same as the current topic narrow...

[2017-07-18 00:42] borisyankov commented on #372
I had the same concern, I have a WIP rework that makes it a bit less, and is also a fix for Android inconsistent behavior of the compose box. Hopefully, I'll complete it in 1-2 days and we can have it too in the next TestFlight.

[2017-07-18 09:25] fragm3 opened #892 "Error when translated to other language"
When I translate to Hindi or any language other then English, I get the following error:

<img width="395" alt="screen shot 2017-07-18 at 2 51 39 pm" src="https://user-images.githubusercontent.com/18073126/28310077-e91abab0-6bc8-11e7-845d-73836bd01de9.png">

[2017-07-18 11:58] borisyankov commented on #892
Thanks for letting us know about this. I'll update the translations.

[2017-07-18 13:57] borisyankov opened #893 "Add unread counts to account view"

[2017-07-18 15:38] borisyankov commented on #704
After refactoring the order of requests and what we wait for, this is resolved.
We can still work on further speed optimizations if we see there are more low-hanging fruits, but for now it looks much better.

[2017-07-18 15:38] #704 closed

[2017-07-18 15:43] borisyankov commented on #544
Closing as confirmed we are compatible with Android 4.1-4.4

[2017-07-18 15:43] #544 closed

[2017-07-18 18:22] nashvail commented on #893
@zulipbot claim

[2017-07-18 18:57] borisyankov commented on #893
That is likely not implementable yet.

[2017-07-18 18:58] borisyankov commented on #893
Or is implementable, but needs a significant code refactor to support multiple accounts logged at once.

[2017-07-18 19:33] nashvail commented on #893
Ok, will leave this one for later

[2017-07-18 19:33] nashvail commented on #893
@zulipbot abandon

[2017-07-18 21:55] borisyankov opened #895 "Detect crash on app loading startup data and reset state"

[2017-07-19 07:32] rotemmiz commented on #800
The best way to overcome situations of long polling or open websocket connections is to put this certain URL in a blacklist, so EarlGrey won't synchronize on inflight network requests to that endpoint.

[code]

https://github.com/wix/detox/blob/master/docs/APIRef.DeviceObjectAPI.md#deviceseturlblacklisturls

[2017-07-19 08:56] kunall17 commented on #800
@rotemmiz Thanks, for the suggestion, I came across this method some point after my above comment, and I used it and indeed it was ignoring the the `localhost:9991/api/v1/events?` but there was another one (AFAIR it was related to animation) for which the sync was waiting for, it's in my TODO list to avoid using `disableSynchronization()`

[2017-07-19 21:38] sapkra opened #906 "Android back button not working after React Navigation implementation"
I think the title says everything.

[2017-07-19 22:12] borisyankov commented on #906
Yeah, the title is clear! Thanks for reporting it.

[2017-07-19 22:17] sapkra opened #907 "Both drawers can be opened at the same time"
You can open the the second drawer by sliding your finger from the screen edge while one drawer is already opened.
Tested on android.

[2017-07-20 10:42] SudoPlz commented on #30
What did you guys end up doing after all?

[2017-07-20 11:14] borisyankov commented on #30
@SudoPlz  We are still using ScrollView, but are strongly considering two alternatives as superior: FlatList/SectionList or a WebView.

We have prototypes for both here:
https://github.com/zulip/zulip-mobile/blob/master/src/message/MessageListFlatList.js
https://github.com/zulip/zulip-mobile/blob/master/src/message/MessageListWeb.js

[2017-07-20 11:21] SudoPlz commented on #30
Hmm interesting, and why would you consider FlatList as a superior solution than a list that recycles its children, such as a https://github.com/wix/BindingListView

[2017-07-21 00:33] #883 closed

[2017-07-21 10:11] fragm3 opened #916 "Enhancing getting started doc"
The getting started document: https://github.com/zulip/zulip-mobile/blob/master/docs/getting-started.md does not have react-native run-ios command. I would like to edit it and add more information about.

[2017-07-21 10:12] fragm3 commented on #916
@zulipbot claim

[2017-07-22 08:02] #916 closed

[2017-07-23 02:36] saketkumar95 opened #920 "Animations"
I thought of adding slide in and out animations for few screens like in

- Custom tabs,
- Realm screen to Password Auth screen,
- When logging out , then Slide out animation.

And many more where required.

@borisyankov Thoughts?
@zulipbot claim Currently for Custom tabs because I think it's required there because iOS have something similar builtin animation while opening links.

[2017-07-23 03:42] saketkumar95 commented on #297
@zulipbot claim

[2017-07-23 03:43] saketkumar95 commented on #297
@borisyankov I thought to add the links for both on Realm Screen.

[2017-07-23 07:59] fragm3 opened #922 "Build failed error"
OS: macOS sierra 10.12.5

On running react-native run-ios, I get the following error:

[2017-07-23 14:14] borisyankov commented on #920
@saketkumar95 the custom tabs animation PR is merged.
Thanks for it.
Have a look at open issues with tags 'bug' or any issues that make the app break or crash.
Until we have even one of these, they are a higher priority than animations and polish.

[2017-07-23 14:14] #920 closed

[2017-07-23 19:36] borisyankov opened #924 "Starred/Favored Streams, Topics, Huddles and People"
In new Navigation UI, add a new screen/tab (or another UI element).
It will be the same feature that exists in Slack and Skype - being able to pick your favorite people or streams.

[2017-07-24 09:33] borisyankov commented on #922
@Sam1301 is this related to the issues we saw with 'build phases'?

[2017-07-24 10:02] saketkumar95 commented on #922
@fragm3 Can you try `react-native upgrade` ? Maybe it will solve your's too.

[2017-07-24 13:11] vishwesh3 opened #927 "Only active status is shown in UserStatusIndicator."
- Currently only active status is shown (green). But for users who are idle nothing is shown.
- If someone status changes , app still shows previous status unless it is reopened.

[2017-07-24 13:11] vishwesh3 commented on #927
@zulipbot claim

[2017-07-24 13:13] borisyankov commented on #927
Is it a minor bug or something more complicated?
I was thinking of splitting the users and the presences (I think we are somewhat split right now) and rely on selectors.

[2017-07-24 13:42] vishwesh3 commented on #927
Yeah we have done with splitting users and presence, and use selectors to get status.
But the problem is status for all users present in `state.presence` is active because currently only there is one way to add/edit/update `state.presence` which is through `EVENT_PRESENCE` (sent from the server). And server only sends events when someone becomes active. There are no events when someone becomes idl

[2017-07-24 13:43] Sam1301 commented on #922
yes this is because Build Phases dir was removed. @fragm3 this worked for me; open project in xcode (https://github.com/zulip/zulip-mobile/blob/master/docs/developer-guide.md#running-on-an-ios-device), go to root of project -> build phases -> Copy Bundled resources and remove Build Phases from there or alternatively create  empty `Build Phases` dir in `ios/`.

[2017-07-25 11:49] saketkumar95 commented on #393
@zulipbot claim

[2017-07-25 11:51] saketkumar95 commented on #393
@borisyankov @neerajwahi  Should we also add "What's new in this version?" in About screen?

[2017-07-25 11:58] saketkumar95 commented on #777
This is the actionsheet issue. I reported it here https://github.com/expo/react-native-action-sheet/issues/53
There is already a PR open for this.

[2017-07-25 12:02] saketkumar95 commented on #498
@borisyankov Just a thought, Can we just disable the send button , whenever there is "No internet connection"

[2017-07-25 12:59] borisyankov commented on #498
We can, but that is suboptimal. Why would you want to do that?

[2017-07-25 13:00] borisyankov commented on #393
@saketkumar95 There will be a separate feature for this.
I don't think this issue is a priority over the other functional issues and missing features that we have currently.

[2017-07-25 17:43] timabbott commented on #498
For markdown formatting, I'd recommend just borrowing `static/third/js/marked.js` and `static/js/markdown.js` from the Zulip server repo.  You may need to stub some modules where it tries to access data from other parts of the codebase, that but that's a correct implementation of our markdown system, and is going to be a lot less work than working on a new markdown processor.

[2017-07-25 18:11] kunall17 commented on #498
Also I'll be using these formatting code for the preview tab in the Full screen markdown editor!

[2017-07-25 18:39] borisyankov commented on #498
We should consider extracting some of the common and rarely changed code to a library published via npm.

[2017-07-25 18:39] borisyankov commented on #498
This, or a mono repo :)

[2017-07-26 09:12] kunall17 commented on #922
@saketkumar95 Can you please upload the code changes of the changes as it would help in #915 ?

[2017-07-26 13:40] kunall17 opened #934 "Play zulip.mp3 on Android push notifications"
@zulipbot claim

[2017-07-26 17:47] jhurwitz opened #936 "Skipped messages on mobile"
Here's what happened:

* I left home at around ~2:20pm, so presumably this is where my pointer was last set (by the desktop app)
* At 9:49pm (this is the time shown on my phone in the screenshot), I opened the mobile app -- this was my first time using Zulip on any platform since ~2:20pm
* Initially, the app showed a message from 2:21pm as my most recent message, with a spinning/loading indicator

[2017-07-29 08:52] #934 closed

[2017-07-29 19:27] danielmwai opened #946 "WARNING: linker: libvc1dec_sa.ca7.so has text relocations. This is wasting memory and is a security risk. Please fix."
Running  the  command  react-native run-android
I get the error
   error: closed
Could not run adb reverse: Command failed: /apps/DEV_TOOLS/android-sdk-linux/platform-tools/adb -s PBUGUG65U4G6SS5D reverse tcp:8081 tcp:8081
Starting the app on PBUGUG65U4G6SS5D (/home/nzaniela/apps/DEV_TOOLS/android-sdk-linux/platform-tools/adb -s PBUGUG65U4G6SS5D shell am start -n com.zulipmobile/com.zulipmobile.Ma

[2017-07-30 03:47] kunall17 commented on #922
Can be closed after #940 merged!

[2017-07-30 11:38] Sam1301 commented on #946
I couldn't repro this error; @danielmwai maybe its because ANDROID_HOME environment var is not set correctly. Maybe verify this by running adb command alone?

[2017-07-30 15:33] borisyankov commented on #922
Closing, as #940 is merged.

[2017-07-30 15:33] #922 closed

[2017-07-31 11:17] borisyankov commented on #855
Closing as implemented.

[2017-07-31 11:17] #855 closed

[2017-07-31 11:18] borisyankov commented on #842
Closing as fixed.

[2017-07-31 11:18] #842 closed

[2017-07-31 11:18] borisyankov commented on #832
Closing as implemented.

[2017-07-31 11:18] #832 closed

[2017-08-01 04:35] jhurwitz commented on #936
This just happened again, so it's not a one-off issue for me.

[2017-08-01 07:26] borisyankov commented on #831
@vishwesh3 any update on this?

[2017-08-01 07:31] borisyankov commented on #635
This will be resolved with Nash's work. No need to keep as a separate issue.

[2017-08-01 07:31] #635 closed

[2017-08-01 07:36] borisyankov commented on #96
Closing as implemented.

[2017-08-01 07:39] borisyankov commented on #73
Closing as implemented.

[2017-08-01 07:39] #73 closed

[2017-08-01 07:53] borisyankov commented on #716
Closing as implemented.

[2017-08-01 07:53] #716 closed

[2017-08-01 10:38] vishwesh3 commented on #831
Can't reproduce it. Tried by changing timezones in my physical device, messages timestamp is changing according.

[2017-08-01 13:29] borisyankov commented on #831
Interesting. I have seen that one myself though.
@kunall17 @Sam1301 have you encountered this bug yourselves soon?

[2017-08-01 13:34] borisyankov commented on #496
Closing as partially implemented.

[2017-08-01 13:34] #496 closed

[2017-08-01 13:37] borisyankov commented on #837
@jhurwitz have you tested the latest TestFlight?
We have made lots of fixes, but even more importantly we now have a really good Sentry bug reporting, even if it still crashes for you, we'll catch it and rush a fix.

[2017-08-01 13:39] borisyankov commented on #616
@kunall17 do not forget this one. It is the highest priority, together with notifications.

[2017-08-01 13:40] kunall17 commented on #616
Already pushed changes to https://github.com/zulip/zulip-mobile/pull/915 waiting for CI!

[2017-08-01 17:10] jhurwitz commented on #837
I stopped being able to repro the crash on July 14; you should ask someone who (as of recently) still could.

cc @gnprice

[2017-08-01 17:18] jhurwitz opened #960 ""Could not connect to server" error"
I just updated to 1.0.15 and cleared app data, requiring me to log in again. For both servers I tried logging into (including chat.zulip.org), the following happened:

* I entered the server URL
* I received an error "Could not connect to server"
* Without editing or modifying the URL in any way, I tried clicking the "Enter" button again -- this time it worked

[2017-08-01 21:55] gnprice commented on #837
The 1.0.4 (1) on my phone still crashes on startup. Updating now to 1.0.15 (1)...

... and it seems to work! Cool.

Took about 6s on first startup before it showed any messages, sitting at the screen with a bunch of grayed-out-message-like placeholders.

On second startup, more like 3-4s and it shows a Zulip-green spinner instead of the placeholders.

Kind of laggy -- often goes unresponsive for a

[2017-08-01 22:01] gnprice opened #961 "Scrolling is often laggy"
On iOS, when in the message view (narrowed to a stream), if I scroll around a bit, the app often doesn't respond to some of my swipes. That is: I touch and swipe to scroll, it starts moving normally; then I touch again and try to swipe either to scroll further or to stop scrolling; and nothing happens, just as if I hadn't touched the screen at all.

This behavior is very unusual in my experience a

[2017-08-01 22:02] gnprice commented on #961
(I'm on 1.0.15 (1), the build recently uploaded to TestFlight.)

[2017-08-01 22:11] gnprice opened #962 ""Message {stream}" text under compose box is cut off"
See screenshot:
![Image](http://i.imgur.com/hCFCK7E.jpg)

[2017-08-01 22:13] gnprice commented on #962
(Filed that issue right from my phone -- whee! The "CodeHub" app on iOS seems to work reasonably well.)

[2017-08-01 22:21] gnprice commented on #936
I just observed some behavior that might be the same issue.

I installed the new TestFlight release (1.0.15 (1)), and started using the mobile app for the first time in some weeks. In the left drawer, the shiny new unread count for #mobile (on chat.zulip.org) read something like 31, and I tapped that line to narrow to that stream. That's a few days' worth of messages, having not caught up on that

[2017-08-01 23:15] timabbott commented on #837
I was able to get a crash on login by typing the wrong thing, but nothing on startup.  So we probably accidentally fixed the startup issue.  See https://chat.zulip.org/#narrow/stream/mobile/subject/crash.20on.20login/near/260922 for the login issue.

[2017-08-02 02:21] borisyankov commented on #837
I was also crashing on my device. It wasn't with me to test, but getting home in few hours and will test. If it works for me too, then it really is fixed.

@gnprice there are things we can do to optimize the startup a bit still, so we will be working on this too (pinging @Sam1301 )

[2017-08-02 04:38] Sam1301 commented on #831
The timestamp is changing with timezone, though a reload of app is required for this.

[2017-08-02 07:02] timabbott opened #964 "Change sort order of streams list to match Zulip's standards"
Zulip stream names are case-insensitive, so we should sort the streams alphabetically case-insensitive, rather than having all the ones starting with a capital letter at the top.

[2017-08-02 07:03] timabbott opened #965 "Unread counts are invisible on selected stream"
If you select a stream with unread messages, the whole row is a green bar afterwards, and there's no way to see whether or not there are unread messages there.

[2017-08-02 07:05] timabbott opened #966 "Unread counts for muted streams should be shown muted"
Currently, I'm totally caught up on chat.zulip.org, but the 3 streams that I have muted with some unread messages show up super bold in the app's unread messages listing, because they have unread counts.

Probably we should use a much fainter style for indicating unread messages on muted streams (and/or put them in a separate list at the bottom).

[2017-08-02 12:58] vishwesh3 commented on #964
@zulipbot claim

[2017-08-02 13:59] #964 closed

[2017-08-02 14:11] borisyankov commented on #960
@jhurwitz it was a bug we introduced. It is fixed now, and will release with next version. Maybe that can be one of the tests on our E2E suite @kunall17

[2017-08-02 14:16] borisyankov commented on #961
Your speculation is likely on point. Me and @Sam1301 will improve this further.
Message rendering is for sure part of the problem and possibly the only problem. We need to make sure we confirm where the CPU cycles go (just a note to Saumya, it is often the case we are over confident we know what the reason for some slow down is, and when we fix the cause, the problem does not go away, so we just n

[2017-08-02 14:20] borisyankov commented on #960
Actually, I'll close the issue as the bug is merged to `master`

[2017-08-02 14:20] #960 closed

[2017-08-02 14:22] borisyankov commented on #962
This issue, together with the better topic input will get fixed next.

[2017-08-02 14:43] borisyankov commented on #831
That means it is a relatively low priority.
@vishwesh3 if you want to take on it, passing the settings as a key in one of the Providers, it will cause an app reload. But again, there are probably things that are more important at the moment.

[2017-08-02 21:53] brockwhittaker opened #971 "Night mode is broken on latest build."
The night mode is broken and displays what are presumably day mode colors and night mode text, making it very difficult to read any text on the screen.

![img_1253](https://user-images.githubusercontent.com/10321399/28896674-49f2b5d4-7792-11e7-95e0-8789c793ca80.PNG)

[2017-08-02 21:56] brockwhittaker opened #972 "Message input box is broken in latest build."
Input is broken on the message compose box where text only shows up in a small sliver.
![img_1254](https://user-images.githubusercontent.com/10321399/28896812-ce0d7610-7792-11e7-9452-033cb75c76c1.PNG)

[2017-08-03 00:41] gnprice commented on #961
Makes sense -- sounds like a good plan!

[2017-08-03 08:55] borisyankov commented on #965
Closing as fixed.

[2017-08-03 08:55] #965 closed

[2017-08-03 08:58] borisyankov commented on #907
Thanks for reporting this. This is one of these bugs that are hard to fix and not show-stoppers.
We will also replace the drawers soon, so closing this as 'Will not fix'.

[2017-08-03 08:58] #907 closed

[2017-08-03 20:15] borisyankov commented on #972
Something in the latest React Native version broke it.
We are replacing it with a better one anyways.

[2017-08-03 23:32] borisyankov commented on #971
Closing as fixed.

[2017-08-03 23:33] #971 closed

[2017-08-05 11:50] borisyankov commented on #972
Fixed in latest `master` by merging the new compose box design.

[2017-08-05 11:50] #972 closed

[2017-08-05 12:56] borisyankov commented on #587
Closing as fixed.

[2017-08-05 12:56] #587 closed

[2017-08-05 12:58] borisyankov commented on #962
Fixed with new compose box design.

[2017-08-05 12:58] #962 closed

[2017-08-05 12:59] borisyankov commented on #946
Closing as not-reproducable.

[2017-08-05 12:59] #946 closed

[2017-08-05 18:03] timabbott commented on #180
I just got feedback from some users who use the mobile app a good amount, and this came up as particularly important (basically, that what you're looking at is hidden by keyboard).  We should prioritize this issue.

[2017-08-05 20:20] borisyankov commented on #966
Closing as implemented.

[2017-08-05 20:20] #966 closed

[2017-08-05 20:53] borisyankov opened #991 "Toggle visible topic/preview/tools in compose box"

[2017-08-06 15:44] borisyankov opened #995 "Consider using Lotte"
https://github.com/airbnb/lottie-react-native

[2017-08-06 18:38] synicalsyntax commented on #459
@saketkumar95 Sorry for late reply, but the enhancement label doesn't exist in the repository. See [here](https://github.com/zulip/zulip-mobile/labels)

[2017-08-09 03:20] synicalsyntax commented on #240
@borisyankov Noticed that you've been deleting a lot of inactivity comments from issues marked as inactive on this repository. Are you interested in keeping zulipbot's inactivity checks? I can disable them if necessary.

[2017-08-09 10:12] borisyankov commented on #240
@synicalsyntax Not sure. Need to think about it :) Definitely prefer a more 'cleaner' history.

[2017-08-09 10:49] borisyankov opened #1007 "Use background blur in some places"
https://github.com/react-native-community/react-native-blur

[2017-08-11 06:28] vishwesh3 commented on #741
We can close this now, fixed by https://github.com/zulip/zulip-mobile/commit/fda37545332f572f28890248bf9bf3be5a0613bb

[2017-08-11 06:48] #741 closed

[2017-08-12 16:10] borisyankov commented on #546
Closing as implemented.

[2017-08-12 16:10] #546 closed

[2017-08-12 18:22] borisyankov commented on #180
@vishwesh3 if you want, you can have this issue.

[2017-08-13 09:18] #927 closed

[2017-08-13 23:11] borisyankov commented on #100
Closing as complete.

[2017-08-13 23:11] #100 closed

[2017-08-14 03:24] borisyankov commented on #498
@kunall17 has almost implemented this.
Final things:
* show mini progress for message not yet received by the server
* show error icon for a message that fails to send
* test thoroughly if the behavior is correct when there is no network

[2017-08-14 03:25] borisyankov commented on #391
Closing as complete.

[2017-08-14 03:25] #391 closed

[2017-08-14 09:35] kunall17 opened #1027 "Pinned Subscriptions should be displayed at the top"
`pin_to_top` https://github.com/zulip/zulip-mobile/blob/d1793a715fb2d3e63a9b5bfa29bd51d6416fd306/src/nullObjects.js#L56 should be used

[2017-08-14 09:36] kunall17 opened #1028 "All streams tab should not display the switches by default"

[2017-08-14 09:37] kunall17 opened #1029 "Unread streams should not be expanded by default in unread tab in left drawer"
Atleast the muted streams should not expanded

[2017-08-14 09:39] kunall17 opened #1030 "Compose box text input not correctly placed in android"
The Input seems to be below (not completely) from the compose box

[2017-08-14 09:41] kunall17 opened #1031 "Narrowing conversation from drawer shows only sender messages"
Noticed only when narrowing to a private chat not a group chat

[2017-08-14 10:51] borisyankov commented on #562
Closing as implemented.

[2017-08-14 10:51] #562 closed

[2017-08-14 10:51] borisyankov commented on #201
Closing as implemented.

[2017-08-14 10:51] #201 closed

[2017-08-14 10:58] borisyankov opened #1032 "Outbox items do not group correctly"
When you send a message, it gets a temporary subheader in the message list, and once it is sent the subheader disappears. This subheader should not appear at all!

[2017-08-14 10:59] borisyankov commented on #1031
Does it happen always for you? I can not reproduce. @Sam1301 have you noticed this?

[2017-08-14 11:01] borisyankov commented on #1029
Not having collapsible streams is intentional for now.
No further action on this, until we hear feedback from real users.

[2017-08-14 11:03] borisyankov commented on #1028
What do you mean?

[2017-08-14 11:05] Sam1301 commented on #1031
Me neither, tried on current master with different private conversations. @kunall17 any particular steps to repro this bug?

[2017-08-14 11:09] borisyankov commented on #1031
I have heard this being reported, but have not experienced it.
@kunall17 if you can reproduce consistently, please try and fix it.

[2017-08-14 12:14] kunall17 commented on #1028
It would be better if these switches are not displayed on switching to this tab instead there should be a button to toggle their visibility

<img src="https://user-images.githubusercontent.com/12700799/29271146-bc4059be-8117-11e7-9eb4-ab129235670f.png" width="40%" />

[2017-08-14 12:18] kunall17 commented on #1031
No specific steps, I'll try to fix this one!

[2017-08-14 12:57] borisyankov commented on #1028
Why would it be better though?

[2017-08-14 13:31] kunall17 commented on #1028
* Generally a list controls are not shown by default
* It looks little filled up

The only problem I see if the control's are hidden by default is it will look a lot like the subscribed list!

[2017-08-14 13:54] kunall17 commented on #1031
Some more info:
It happens only when conversations are grouped like this
<img src="https://user-images.githubusercontent.com/12700799/29274167-7cbad686-8124-11e7-85c8-f7909d8dc0a8.png" width="40%" />

Cannot reproduce on master though!

[2017-08-14 16:27] borisyankov commented on #1031
These should not even be grouped like that :)

[2017-08-14 16:28] borisyankov commented on #1028
Exactly. My point was that this can be improved for sure, but also we might think of something better later, and I wouldn't consider it an issue for now.

[2017-08-14 16:31] timabbott commented on #1028
Yeah, I'm not sure I see an obvious improvement we can make here.

[2017-08-14 16:33] timabbott commented on #1029
Should unread messages on muted streams appear in this view at all?

[2017-08-14 16:48] borisyankov commented on #1029
Good point. For now, they show quite dimmed (which I implemented after your feedback).
Let's wait and see how it does in practice? Maybe the backend will omit these even if we see people don't like them.

[2017-08-14 17:00] timabbott commented on #1029
Yeah, getting feedback sounds good.  I can also imagine sorting them to the bottom under a "Muted streams" heading or something.

[2017-08-14 17:47] borisyankov commented on #991
Closing as implemented.

[2017-08-14 17:47] #991 closed

[2017-08-14 18:04] borisyankov commented on #1029
@timabbott after latest discussion, I actually think not showing them at all is the best option and we should try it (will push this soon)

[2017-08-14 18:13] #1028 closed

[2017-08-14 21:18] brockwhittaker opened #1035 "Testflight v1.0.16 blocks all UI actions for ~10 seconds on load."
When the app gets past the phase of the spinner and loads you into whatever narrow you are in, clicking on the sidebar buttons will not do anything for around ~10 seconds on my phone (iPhone 6s), and then finally all actions will happen at once (as the queue is suddenly able to process events).

This also leads to interesting states such as both sidebars being open at the same time because all the

[2017-08-14 21:20] brockwhittaker opened #1036 "Change left sidebar stream background coloring to something more subtle."
The current scheme for coloring which involves the background color of the streams becoming the color of the stream does not feel like the right approach to me, and is visually heavy. Perhaps take the strategy in the second tab where there is a white/black hash inside of a colored square with rounded edges, or just color the hash?
![img_1359](https://user-images.githubusercontent.com/10321399/2929

[2017-08-14 21:23] borisyankov commented on #1035
I saw the exact same thing, so this is reproducible (and super annoying).
@Sam1301 already did a fix that helps with this, I am looking into what else is happening to cause this.
Definitely a new version with these fixes coming in 1-2 days. This is not OK.

[2017-08-14 21:25] borisyankov commented on #1036
I agree. I did the background mostly because the stream being a section header had to have some background (so the other items don't show behind them)

[2017-08-14 23:11] borisyankov commented on #1029
Closing as implemented the hiding of muted streams & topics.

[2017-08-14 23:11] #1029 closed

[2017-08-16 03:15] keithw commented on #831
This issue appears to be fixed in version 1.0.16 of the Android app, running on a Google Pixel with Android 7.1.2.

[2017-08-16 03:15] #831 closed

[2017-08-16 03:21] keithw commented on #1030
Am also encountering this -- here is a screen shot (app version 1.0.16 on Android 7.1.2 on a Google Pixel):

![screenshot_20170815-200900](https://user-images.githubusercontent.com/208955/29345993-3cb06a8c-81f7-11e7-93d0-cc217ca75724.png)

[2017-08-16 04:46] vishwesh3 commented on #548
Fixed by react-navigation and new drawers.

[2017-08-16 04:46] #548 closed

[2017-08-16 10:49] borisyankov commented on #1035
@brockwhittaker try the latest TestFlight. It is more of an intermediary/quick fix, that hmmm, behaves inconsistently. In fact, on the test iPhone 5 it does behave badly, but works pretty well in my Simulator on the Macbook.

[2017-08-16 10:55] borisyankov commented on #1032
@kunall17 this one is not resolved correctly.
This will likely improve with the selector approach we discussed.

[2017-08-16 17:51] kunall17 commented on #1032
Yeah, I did this purposely as I thought it will be better if the outbox messages could be easily noticed if they have the header, but now realized that in a topic narrow (and in general too) it doesn't look good

[2017-08-16 20:41] timabbott opened #1052 "IllegalArgumentException: unexpected url: /api/v1/users/me/presence"
This exception seems pretty common; it seems like we're somehow passing in a relative URL?

https://sentry.io/zulip/zulip-mobile/issues/319501790/

[code]

[2017-08-16 21:42] borisyankov commented on #1052
We had an issue in a previous Beta, that we did a faulty check for the realm format, did not append the `https://` and allowed white-space, which caused several issues to be reported. This is likely related.

[2017-08-17 19:25] borisyankov commented on #240
This is partially implemented, and is too vague. Closing.

[2017-08-17 19:25] #240 closed

[2017-08-18 17:23] borisyankov opened #1055 "Positioning of list when changing narrow"
- [ ] If you enter a narrow by clicking on a message group's recipient bar (stream/topic or private message recipient list at the top of a group of messages), Zulip will select the message you clicked on.

- [ ] If you instead narrow by clicking on something in the left sidebar or typing some terms into the search box, Zulip will instead select the first unread message matching that narrow, or if

[2017-08-18 17:31] Sam1301 commented on #1055
@zulipbot claim

[2017-08-19 14:41] vishwesh3 opened #1061 "Message contents is overlapping on scroll."
<img width="377" alt="screen shot 2017-08-19 at 8 07 08 pm" src="https://user-images.githubusercontent.com/18511177/29487646-9917216e-851a-11e7-9d4c-b3272de922b4.png">
<img width="374" alt="screen shot 2017-08-19 at 8 07 28 pm" src="https://user-images.githubusercontent.com/18511177/29487647-9986a0ac-851a-11e7-996c-2cec6903e121.png">

[2017-08-19 14:50] Sam1301 commented on #1061
yeah I am also getting this error on current master
with this warning
[code]

[2017-08-19 14:54] borisyankov commented on #1061
Get the latest `master` for the bug @Sam1301 is referring to.

[2017-08-19 14:54] borisyankov commented on #1061
The other bug, I guess i am calculating incorrectly the MessageHeader index. Will try to fix.

[2017-08-20 06:09] kunall17 opened #1067 "Master build is failing"
- [ ] `TypeError: (0 , _narrow.specialNarrow) is not a function`
- [ ]  Flow errors the Avatar bugs which is maybe due to usage of defaultProps (seems to be a library bug but we need to have a workaround)

If you have leads how to solve these, do post a PR or send them here!

[2017-08-20 06:41] borisyankov commented on #1067
The Flow errors appear and disappear depending on the commit. Really looks weird ;)

[2017-08-20 22:18] Sam1301 opened #1072 "Continuous fetching of messages for some narrows"
When I tried to reload and switch to narrows with limited messages, I sometimes get the following warning.

[code]

short video: https://drive.google.com/open?id=0Bx5B8iZLs6VBMkpkSnhZaHNnUzg

[2017-08-20 23:50] borisyankov commented on #1072
I have had that with quite an older version. Test or rebase branch to the very latest `master` and see if it happens.
Also just test the latest master to see if any issues.

[2017-08-21 00:21] Sam1301 commented on #1072
yeah, the latest commit fixed this error me 👍 , I could repro the error on previous commit 2baf53a761ca939eb985eb6f683b9c74eefb7fcb

[2017-08-21 00:21] #1072 closed

[2017-08-21 00:28] Sam1301 opened #1074 "Recently sent messages always show loading indicator"
Also the markdown doesn't seem to be applied to recently sent messages from the app.

<img width="372" alt="screen shot 2017-08-21 at 5 54 08 am" src="https://user-images.githubusercontent.com/14239866/29499747-cb405d42-8635-11e7-9e1f-58005bf2dfa5.png">

I also get the following warning on sending new messages

[code]

[2017-08-21 00:31] Sam1301 commented on #1061
this is fixed for me on latest master

[2017-08-21 06:45] #1061 closed

[2017-08-21 09:35] borisyankov commented on #1035
Closing, as significantly improved (or fixed).
Will be in next TestFlight.

[2017-08-21 09:35] #1035 closed

[2017-08-21 09:52] borisyankov commented on #588
@nashvail do not forget to fix the UnreadNotice itself in addition to addressing this issue.

[2017-08-21 09:54] borisyankov commented on #837
This particular bug seems to be resolved.

[2017-08-21 09:54] #837 closed

[2017-08-21 10:39] vishwesh3 commented on #1061
fixed for me too. 👍

[2017-08-21 17:12] borisyankov commented on #1067
Closing as fixed.

[2017-08-21 17:12] #1067 closed

[2017-08-21 23:25] vishwesh3 opened #1077 "Messages are sent multiple times."
Something is going wrong while sending messages. (may be with outbox). Sometimes it is sending multiple times and still indicator is showing.
<img width="376" alt="screen shot 2017-08-22 at 4 49 15 am" src="https://user-images.githubusercontent.com/18511177/29542024-d7d061c2-86f5-11e7-83f2-ac716cfc2cf7.png">

https://chat.zulip.org/#narrow/stream/test.20here/topic/v1.2E0.2E18.20.E2.9D.A4.EF.B8.8F

[2017-08-22 00:45] borisyankov commented on #1077
Maybe @kunall17 has any idea?

[2017-08-22 00:50] vishwesh3 commented on #1077
And incorrect selection of message component (messageFull or
![screenshot_20170822-061551](https://user-images.githubusercontent.com/18511177/29543863-e9beb422-8701-11e7-8ed8-b549dfd99144.jpg)
 messageBreif)

[2017-08-22 03:53] kunall17 commented on #1077
Hmm, never saw this on local dev :(
@timabbott Is it safe to assume that the message is sent and can be removed from the outbox state if I receive a success on POST request of a send message ('api/v1/message') call?

As this seems to be a problem here, the app attempts to send a message and waits for the message fetch event which has the local message id?

[2017-08-22 18:19] timabbott commented on #1077
Yes, you can actually assume the message is sent if it receives a success on the POST request, OR you receive it back from the event queue.

https://github.com/zulip/zulip/blob/master/static/js/sent_messages.js and its callers sorta implement such a protocol in the webapp (though we're not altogether happy with how some of the details work).

[2017-08-22 19:29] kunall17 commented on #1077
Ok thanks, will be sending a PR soon for this! 👍

[2017-08-23 07:41] #1077 closed

[2017-08-23 07:46] kunall17 commented on #1074
Thanks for reporting this, can be closed now!

[2017-08-23 07:57] #1074 closed

[2017-08-23 09:41] kunall17 commented on #1032
Fixed, can be closed now!

[2017-08-23 09:42] kunall17 commented on #1030
Fixed in #1046

[2017-08-23 09:42] #1030 closed

[2017-08-23 10:09] #1032 closed

[2017-08-23 17:38] timabbott opened #1080 ""Unread" view should say something if there's nothing in it for a reason"
When I have no unread messages, the "unread" view appears blank, which is pretty confusing and makes one think that's it's still loading something.

[2017-08-23 17:40] timabbott opened #1081 "Unread counts not updating as new messages come in"
On version 1.0.18, the app seems to not update to add new unread message counts after the app is loaded?  At least, I just got into a state where the "Unread" tab was blank, and then some messages were sent to a stream I'm on (showing up as unread in the webapp) , and neither the "Unread" tab not the "Subscribed" tab showed those messages as unread, even though the webapp did.

[2017-08-23 17:46] borisyankov commented on #1080
Do you have any suggestion?
I think a nice icon and some text saying that you have nothing unread is good enough?
Google Inbox shows a sun, because 'inbox zero' is cool:

https://s-media-cache-ak0.pinimg.com/originals/67/c9/16/67c91622bd0cb7a54c396600d7a9ac90.jpg

[2017-08-23 17:46] zulipbot-test commented on #1080
**ERROR:** This issue has been assigned but is not labeled as being in progress.

[2017-08-23 18:03] timabbott commented on #1080
Yeah, I think a nice icon and some text is fine.

One question, BTW: does the current "unread" view include PM threads or just stream/topics?  I feel like it probably should.

[2017-08-23 18:04] timabbott commented on #1081
Actually this seems like a potentially deeper issue; I closed and restarted the app, and that view is still blank.  Maybe worth checking Sentry to see if my phone is throwing exceptions.

[2017-08-23 19:09] borisyankov commented on #1080
It does not. Currently, our left drawer is about streams, and the right drawer is about users/huddles.
I think once we join both, it might make sense (also in Nash's cards it will be like this)

[2017-08-23 22:03] hdorothea opened #1083 "Unsubscribing from a stream with unread messages doesn't remove it from unread tab"
If you Unsubscribe from a Stream with unread Messages the Stream still shows up in Unread Tab but as a gray Hash Mark
<img width="376" alt="screen shot 2017-08-23 at 5 56 21 pm" src="https://user-images.githubusercontent.com/4699570/29640335-7b205f76-882c-11e7-906f-fc5231e15843.png">
<img width="374" alt="screen shot 2017-08-23 at 5 57 44 pm" src="https://user-images.githubusercontent.com/4699570/

[2017-08-23 22:03] hdorothea commented on #1083
**@zulipbot** claim

[2017-08-24 05:31] borisyankov opened #1085 "NoSuchMethodError: android.app.Notification$Builder.addAction"
https://sentry.io/zulip/zulip-mobile/issues/334182140/

[code]

[2017-08-24 13:39] #1085 closed

[2017-08-24 22:54] #680 closed

[2017-08-27 18:02] borisyankov commented on #906
This was fixed some time ago. Closing.

[2017-08-27 18:02] #906 closed

[2017-08-27 18:20] borisyankov commented on #180
Assigning this to @Sam1301 as this is likely related to her Message List work.

[2017-08-27 18:20] borisyankov commented on #498
Implemented by Kunal's outbox work. Closing as done.

[2017-08-27 18:20] #498 closed

[2017-08-28 21:05] marboxvel opened #1102 "Sharing through Zulip Android mobile App"
Hi guys,

My team usually uses Zulip Android mobile app as a way to share their work or links. We all like the mobile app and like the good work you guys are putting into this project. We are wondering if we can have Zulip disappear after the share action completes. For example, if we are on a browser and want to share a website, we would get a list of apps to choose from. We would then select Zul

[2017-08-29 03:24] kunall17 commented on #1102
@marboxvel Thanks for reporting this, You're talking about the other android app we have
This one https://github.com/zulip/zulip-android | https://play.google.com/store/apps/details?id=com.zulip.android, right?

And this feature is not available in this app.

Terminating the app on a message send would not be a good idea, maybe we could have a close button on the top or somewhere.
Anyways that pro

[2017-08-29 06:38] kunall17 commented on #256
Its done, can be closed now!

[2017-08-29 20:23] #256 closed

[2017-08-29 20:31] borisyankov commented on #1102
I am not sure what the zulip-android project had exactly... is it something like what @vishwesh3 had done (that I'll try to work with him to merge soon) https://github.com/zulip/zulip-mobile/pull/674

[2017-08-29 23:25] marboxvel commented on #1102
@kunall17 Thanks for the quick reply. I'm talking about the one I got when I clicked the google store link you provided, the one that says "Native Android app for the Zulip open source group chat software".
Of course I didn't mean that whenever you hit send the app should exit.  I'm talking about a scenario where you are on a different app, flipboard for example, and you want to share an article w

[2017-08-30 09:03] borisyankov commented on #1102
@marboxvel this is an improvement made in our new Android + iOS app (that will very soon replace the one you are using).

Actually, this might be a good time to ask you to have a look at the one that says 'Unreleased'. Any comments or issues you might have, we want to address them before the release.

[2017-08-30 15:00] vishwesh3 opened #1107 "[Android] Buttons are too much rounded on lower API devices"
<img width="402" alt="screen shot 2017-08-30 at 7 46 41 pm" src="https://user-images.githubusercontent.com/18511177/29879118-d1f78c6c-8dc1-11e7-9d19-cef1570029cc.png">

[2017-08-31 06:26] marboxvel commented on #1102
@borisyankov Sure. I would love to give you a hand. I already installed it. It looks more sleek than the official one, but it doesn't show up in the share list at all.

[2017-08-31 09:10] borisyankov commented on #1102
Yeah, this PR is not yet merged. We would like to actually replace the current app with this one in the app store, so before we do that we need to make sure any feature that existed is at least as good or better than before. Any feedback in that regards of our current users is welcome 👍

[2017-08-31 09:47] borisyankov commented on #1107
@vishwesh3 confirm if fixed with latest `master`.

[2017-08-31 11:35] vishwesh3 commented on #1107
yup! it is fixed.

[2017-08-31 11:35] #1107 closed

[2017-09-02 08:58] borisyankov commented on #297
Closing as implemented.

[2017-09-02 08:58] #297 closed

[2017-09-03 08:54] borisyankov commented on #1052
I think it is fixed now.

[2017-09-03 08:56] borisyankov commented on #1027
Not sure if we will implement it or if we do, if it will be like this.

[2017-09-03 08:56] borisyankov commented on #892
Closing as fixed.

[2017-09-03 08:56] #892 closed

[2017-09-03 08:57] borisyankov commented on #800
Closing as implemented.

[2017-09-03 08:57] #800 closed

[2017-09-04 09:03] borisyankov opened #1120 "Message List component should not issue extra onStartReached & onEndReached"
On startup, and on changing narrows, the MessageList issues onStartReached and onEndReached events, thus we request some messages. This results in 3 getMessage requests on startup (one at the anchor, one before, and one after). We want to have just one request.

[2017-09-06 21:00] strugee opened #1133 "Set a different icon compared to the "released" version"
I have both the original zulip-android and this app installed via the Google Play Store. While this is convenient for various reasons it makes it hard to know which one I'm opening. It'd be nice if this one's icon had a beta badge on it or something, at least until release, to make it easier to differentiate.

[2017-09-07 15:52] borisyankov opened #1138 "Performance Improvement of Redux Reducers"
Slowest (message @ reducer):
- [x] MESSAGE_FETCH_SUCCESS @ flags
- [x] PRESENCE_RESPONSE @ presence

Possibly slow:
- [ ] EVENT_PRESENCE @ precence
- [ ] EVENT_PRESENCE @ users

[2017-09-07 22:19] geekdave opened #1142 "Disappearing messages on iOS"
Hey all - On the latest testflight `1.0.21 (1)` I'm experiencing the following:
1. Create a new topic/message on iOS app
2. Hit send
3. See the message in the channel for 1/2 second
4. Message disappears from iOS app
5. Switch to desktop app.
6. The message I sent in step 2 is visible on desktop

[2017-09-08 16:19] Chiamaka commented on #459
Hello @saketkumar95, if this issue is still under consideration and isn't being worked on already then I'd love to take it up. Any instructions or design strategies moving forward? I'm participating in Outreachy and looking forward to an internship with Zulip.

[2017-09-08 17:00] saketkumar95 commented on #459
Hi @Chiamaka , Actually I don't think this feature is High priority right now as told by @borisyankov
@borisyankov  Let me know if I can work on this?

[2017-09-09 19:05] zingmars opened #1144 "Share a picture directly from stream view"
Not really an issue as much is a suggestion to make the UI better.

Right now when you press and hold on a picture in a message the area the message is in has this lighting up animation, but nothing really happens. In rocket.chat it would let you share pictures (and I don't mean a link to the picture which is something the current share feature gives you - it took the downloaded copy of the pictur

[2017-09-09 21:22] borisyankov commented on #1144
Good suggestion, thanks.
We will definitely look to implement it.

[2017-09-10 01:12] borisyankov commented on #1138
Closing as implemented.

[2017-09-10 01:12] #1138 closed

[2017-09-10 01:20] borisyankov opened #1146 "Optimize Redux Storage"
- [ ] Do not store too many messages. Use https://github.com/rt2zz/redux-persist-transform-compress
- [ ] Potentially compress the store if that is faster (compression is faster than storing more data?) Use https://github.com/edy/redux-persist-transform-filter

[2017-09-10 01:22] borisyankov commented on #459
Yes, indeed this is low priority.

[2017-09-10 05:43] vishwesh3 commented on #435
Closing as implemented.

[2017-09-10 05:43] #435 closed

[2017-09-12 21:51] borisyankov opened #1159 "Consider some of MS's 'Fluent Design' principles"
Use parallax:
https://github.com/jaysoo/react-native-parallax-scroll-view

[2017-09-14 04:46] kunall17 opened #1161 "[Untested] Realm screen button not showing properly in iPad"
Conversation going on here https://chat.zulip.org/#narrow/stream/mobile/subject/iPad/near/280803

[2017-09-14 13:42] borisyankov commented on #1161
Tested on iPad, and the latest release works.

[2017-09-14 13:42] #1161 closed

[2017-09-14 19:43] andyesp commented on #800
@kunall17 How did you solve this problem? `WXAnimatedDisplayLinkIdlingResource: undefined` I have the same issue while using Detox to test a React Native app.

[2017-09-15 10:09] kunall17 commented on #800
@andyesp This was being thrown in the chat screen, which is not covered till now.
But AFAIR in our project after disabling some animation components (maybe the activity indicator as well, not sure though) I was able to solve this.

[2017-09-16 11:55] kunall17 commented on #1031
This is fixed, can be closed now!

[2017-09-16 11:55] #1031 closed

[2017-09-17 05:30] vishwesh3 commented on #1144
@zulipbot claim

[2017-09-17 14:52] kunall17 opened #1171 "Use sentry for logging errors/warnings"
Currently we are doing `console.log/error/warn` for events, these should be reported in the sentry!

[2017-09-17 14:53] kunall17 commented on #1171
@zulipbot claim

[2017-09-17 15:29] kunall17 opened #1173 "Server URL TextInput in the realm screen is huge"
![simulator screen shot 17-sep-2017 8 58 41 pm](https://user-images.githubusercontent.com/12700799/30522273-ffce236c-9bea-11e7-8b86-0deee1d95531.png)

[2017-09-17 15:32] kunall17 opened #1174 "Text(Unread, Subscribed, All Streams) not visible in drawer 1st tab"
![simulator screen shot 17-sep-2017 9 00 33 pm](https://user-images.githubusercontent.com/12700799/30522297-6f366e26-9beb-11e7-9c6b-635e02d054b8.png)

[2017-09-17 15:38] kunall17 opened #1175 "Quote markdown rendering not correct"
Mobile:
<img width="377" alt="screen shot 2017-09-17 at 9 05 50 pm" src="https://user-images.githubusercontent.com/12700799/30522341-38884f56-9bec-11e7-9302-90b2b6d39edc.png">

Web:
<img width="820" alt="screen shot 2017-09-17 at 9 07 36 pm" src="https://user-images.githubusercontent.com/12700799/30522344-41d2a340-9bec-11e7-87ff-a0da38debed7.png">

Markdown:
<pre>
I am she whose language is sweete

[2017-09-17 18:49] borisyankov commented on #1173
Fixed. Pull the latest `master`.

[2017-09-17 18:49] #1173 closed

[2017-09-17 21:05] #1174 closed

[2017-09-17 21:17] #1175 closed

[2017-09-18 10:13] kunall17 opened #1184 "Unexpected rendering of markdown"
Web:
<img width="814" alt="screen shot 2017-09-18 at 3 39 10 pm" src="https://user-images.githubusercontent.com/12700799/30537519-9852d71c-9c87-11e7-9625-24fab3dc85a4.png">

Mobile:
<img width="374" alt="screen shot 2017-09-18 at 3 38 56 pm" src="https://user-images.githubusercontent.com/12700799/30537527-9b8c094e-9c87-11e7-9102-e40aa5b8111b.png">

Markdown:
<pre>
We emphasize that we will not abl

[2017-09-18 10:29] kunall17 commented on #1027
@borisyankov All this means is we should sectionize the streams list and display the pinned streams at top, maybe using SectionList.
I'll work on this after your confirmation?

[2017-09-18 10:31] kunall17 commented on #830
Have not noticed this in many releases, can be closed now!

[2017-09-18 10:34] kunall17 commented on #707
Fixed, can be closed now!

[2017-09-18 10:35] kunall17 commented on #581
Done, this can be closed now!

[2017-09-18 10:36] kunall17 commented on #531
Done, this can be closed now!

[2017-09-18 10:37] kunall17 commented on #462
Done, this can be closed now!

[2017-09-18 10:38] kunall17 commented on #161
@borisyankov Would the settings tab be the perfect component to show this information?

[2017-09-18 10:43] kunall17 opened #1185 "[iOS] Status bar not showing up when in landscape"
Padding is there instead of the status bar
![simulator screen shot 18-sep-2017 4 10 48 pm](https://user-images.githubusercontent.com/12700799/30538563-2d8c8efa-9c8c-11e7-8a74-535a470374f3.png)

Works fine on android!

[2017-09-18 10:44] kunall17 commented on #1185
Btw tried this on simulator, not sure if this is the problem of simulator!

[2017-09-18 10:45] kunall17 commented on #16
Both ios & android now support the remote notifications, can be closed now!

[2017-09-18 11:40] #16 closed

[2017-09-18 11:41] borisyankov commented on #161
Not really. We should just make the account list more prominent or something.

[2017-09-18 11:41] #462 closed

[2017-09-18 11:43] borisyankov commented on #1027
Nope. We will not implement this for now. Maybe never.
It certainly isn't working well for a lot of cases on the web app and it might be reworked.
Closing it for now. We can always reconsider later (we might have a 'favorite' tab with pinned Streams, Users etc.)

[2017-09-18 11:43] #1027 closed

[2017-09-18 11:43] #707 closed

[2017-09-18 11:44] #531 closed

[2017-09-18 11:45] borisyankov commented on #830
Yeah. I fixed it.

[2017-09-18 11:45] #830 closed

[2017-09-18 11:45] #581 closed

[2017-09-18 20:19] borisyankov opened #1187 "Slimmer nav bar in landscape mode"
When in landscape mode, make the navigation bar slimmer and hide the statusbar.

[2017-09-19 00:17] gnprice opened #1190 "Encrypt push notifications end-to-end from Zulip server"
Currently the private data in a Zulip push notification (sender, stream name, message body) is encrypted over the wire, but handled in plaintext within the Zulip notification forwarder and the Apple or Google notification service.

This is consistent with standard practice until at least last year; but last October Apple introduced in iOS 10 a way to have the app's code run to adjust a received no

[2017-09-19 00:25] gnprice commented on #1190
Quick supplement:

* iOS 10 is now on 89% of iOS devices known to the App Store: https://developer.apple.com/support/app-store/ So almost all iOS devices will be able to enjoy this feature. We'll need to make sure to behave robustly where it's absent, which we might accomplish at the same time as handling the case of old versions of the app.

* A couple of SO threads as small cautionary tales wher

[2017-09-19 14:05] borisyankov commented on #1185
I think the simulator is flaky about this. But I tested several other apps, and we will make this the official behavior (it can be configured).

[2017-09-19 14:07] borisyankov commented on #835
This can be considered implemented for now (as the majority of needed work is done). We can always do more work towards this.

[2017-09-19 14:07] #835 closed

[2017-09-19 14:09] borisyankov commented on #787
Fixed by making the Screens a ScrollView by default.
In case more cases are found, we should open more concrete issues.

[2017-09-19 14:09] #787 closed

[2017-09-19 14:10] borisyankov commented on #688
We have other issues that track the relevant sub-tasks. Closing.

[2017-09-19 14:10] #688 closed

[2017-09-19 14:10] borisyankov commented on #632
This is fixed.

[2017-09-19 14:10] #632 closed

[2017-09-19 14:12] borisyankov commented on #504
Implemented.

[2017-09-19 14:12] #504 closed

[2017-09-19 14:13] borisyankov commented on #493
Implemented.

[2017-09-19 14:13] #493 closed

[2017-09-19 15:01] borisyankov opened #1191 "Detect servers with self-signing certificates"
If a user tries to connect to a server that uses a self-signing certificate:
* be able to detect that and give a reasonable error (instead of generic one)
* optionally, offer to connect anyways

React Native does not allow us to differentiate or to override this.
We can modify the native code (and/or fork RN).

[2017-09-19 15:03] borisyankov commented on #1190
I did create a 'Security' project to group all related issues.
This should be a priority area for us, as an open-source project, and as an organization proud of our technology.

[2017-09-20 09:10] borisyankov opened #1193 "Add setting for stream notifications"
Related backed issue: https://github.com/zulip/zulip/pull/6199

[2017-09-20 15:26] kunall17 opened #1194 "Show the notification from streams (non-mentions) with changed title on android"
Currently they are showing if someone has mentioned
![screenshot_20170920-205231](https://user-images.githubusercontent.com/12700799/30652465-167c5fd6-9e46-11e7-9f73-5d2d6905a6d5.png)

https://chat.zulip.org/#narrow/stream/test.20here/subject/notification.20test/near/284792
@zulipbot claim

[2017-09-20 17:39] jainkuniya opened #1195 "Typing notifications aren't timeout properly."
https://chat.zulip.org/#narrow/stream/mobile/topic/typing.20notifications

[2017-09-20 17:39] vishwesh3 commented on #1195
@zulipbot claim

[2017-09-20 18:06] borisyankov commented on #1195
Another useful link is:
https://github.com/zulip/zulip/blob/master/static/js/typing_events.js

[2017-09-20 21:24] borisyankov opened #1197 "Rework UI to fix on iPhone X"
- [ ] smarter StatusBar height detection
- [ ] take into account round corners cutting into UI elements

[2017-09-20 21:39] borisyankov commented on #1197
While not super-urgent as the shipping of iPhone X starts November 3rd.

[2017-09-21 05:25] kunall17 opened #1199 "Travis not configured properly to parallelize test's"
https://docs.travis-ci.com/user/speeding-up-the-build/#Parallelizing-your-builds-across-virtual-machines

[2017-09-21 11:48] Chiamaka commented on #995
Where would you like us to use Lottie. I have experience using it

[2017-09-21 16:31] borisyankov commented on #995
Cool!

I guess it is more of a general idea, so I had no specific use case in mind ;)

Maybe on loading, on some actions, maybe some buttons when interacted, some animation during a new introduction page.

[2017-09-21 16:48] borisyankov commented on #1199
Since setup and booting up the VM for executing tests seems to take the majority of time, I think the current implementation of just parallelizing the runs on a single machine is likely good enough.

[2017-09-22 00:49] borisyankov opened #1202 "Consider using react-native-orientation"
Consider using https://github.com/yamill/react-native-orientation for orientation detection, as our current implementation gets confused by keyboard popping up.

[2017-09-22 09:50] kunall17 commented on #1199
The E2E test's are not running currently in the CI

[2017-09-22 10:00] kunall17 commented on #1194
This is the JSON received by the GCM on the phone _(content modified for privacy)_
[code]

@timabbott In both cases (stream message/Mention) GCM receives `recipient_type` as stream so should we have it as `stream-mention` from the server or I can also use the alert which says `New stream message`/`New mention from` to different b/w these two messages?

[2017-09-22 10:43] kunall17 opened #1206 "Realm icon URL should check the URL before adding the realm url as prefix"
For dev environment, URL is taken as `http://localhost:9991https://secure.gravatar.com/avatar/62429d594b6ffc712f54aee976a18b44?d=identicon`

@zulipbot claim

[2017-09-22 13:19] timabbott commented on #1194
`recipient_type` is just whether it's a stream or private message in general.  I think we should probably include a "trigger" attribute in these, that tells you what caused the notice.  I wouldn't want to be checking the text of the alert, since with i18n that might vary depending on what language the user has selected.

[2017-09-22 15:47] borisyankov commented on #1199
Yup, but it in CI they were taking more than 6 hours before, consistently.
If we can't make them work within some reasonable time limit, we can't enable them and need to run them manually or something.

[2017-09-22 17:43] kunall17 commented on #1199
6 hours?
Mostly it took 20-25 mins AFAIR
https://travis-ci.org/zulip/zulip-mobile/builds/268723075?utm_source=github_status&utm_medium=notification

[2017-09-22 18:21] borisyankov commented on #1199
It might be the time it takes Travis to start or something. It always took lots and lots of hours between the commit hitting Github and Travis giving it an OK or a Fail.

[2017-09-22 19:07] borisyankov opened #1210 "Add support for GitHub OAuth"

[2017-09-22 19:07] borisyankov commented on #652
Closing as implemented.

[2017-09-22 19:07] #652 closed

[2017-09-22 22:26] timabbott commented on #1199
That sort of outcome is usually because of queuing; if it takes 20-25min for each build, and you're pushing 10/hour (or whatever), it gets backlogged.  They have a fixed number of workers available to each project.

[2017-09-22 23:41] borisyankov commented on #1199
@kunall17 actually configured a rather special machine they run the tests on, I was surprised Travis even had XCode prepared configurations that can reliably run our E2E tests.

I am not sure if they have very limited number of these machines or if there is some very extended setup process that they undergo, but while our test run times was low, and we weren't pushing many PRs, they still were tak

[2017-09-23 01:47] borisyankov commented on #961
@gnprice wanna try the latest version? Should be smoother now.

[2017-09-23 17:12] kunall17 commented on #1194
@timabbott Yeah, adding a new attribute seems better, but what about compatibility with old servers or the old app?

[2017-09-24 11:50] timabbott commented on #1194
Well, old versions of the app will display whatever they're displaying ignoring that field, so that's fine.  And for older servers, they don't support push notifications to streams aside from in the case of mentions, so the existing logic of just checking `recipient_type` should work as a fallback if the `trigger` field isn't there.

[2017-09-24 13:16] kunall17 commented on #1194
True, will be working on it very soon (server side as well) 👍

[2017-09-24 23:01] Chiamaka commented on #1133
can I work on this? @borisyankov

[2017-09-24 23:29] borisyankov commented on #1133
I am not sure it is a task that can be worked on, as in the solution might not be via source code :)
Maybe the only way to do it is to do it manually... but you can research that, I might be wrong.

[2017-09-25 06:07] kunall17 commented on #1199
This could also be because of the high number of PR's in the GSOC time period & many force pushes, but anyways after better E2E test's I would take this up!

[2017-09-25 06:35] kunall17 commented on #1194
Sent PR for server https://github.com/zulip/zulip/pull/6659

[2017-09-25 06:36] kunall17 commented on #1206
Closed  via f4e3fade278e82715ff7abff2a8f4cf240c9b283

[2017-09-25 06:36] #1206 closed

[2017-09-25 06:42] kunall17 opened #1219 "Pressing back button on a narrowed view exits the app"
We had a recent implementation on this, but is this a know issue, or developed like this?

[2017-09-25 08:48] borisyankov commented on #1199
That was happening consistently even last week before the change.
You can easily test it, by renaming the .travis-e2e.yml to .travis.yml and doing a PR.

[2017-09-25 18:54] gnprice commented on #961
Indeed -- much smoother! I just installed 1.0.29 from TestFlight and played around with it some. Very nice.

There is still an occasional hiccup, which I imagine has a different cause so maybe this issue should be closed and a new one opened. Specifically, it looks like when the app gets a new batch of old history, the UI freezes briefly (like 400ms). One symptom is that any scrolling stops (and d

[2017-09-26 21:23] rspier opened #1221 "Android @mention notifications render as @**person**"
Android notifications look like

@Robert some text

instead of

@Robert some text

![image](https://user-images.githubusercontent.com/43223/30881840-f890ba60-a2bb-11e7-8e93-8dd25dadf9c1.png)

[2017-09-26 23:38] borisyankov commented on #1221
@rspier did you mean that `@**Robert**` should be `@Robert`?

This change should be done on the backend. Pinging @kunall17 @timabbott

[2017-09-26 23:43] timabbott commented on #1221
@borisyankov it's not a backend bug.  Here's the message in question: https://chat.zulip.org/#narrow/stream/mobile/subject/catch-up/near/287614

[2017-09-26 23:52] timabbott commented on #1221
@rspier just to confirm, which Android app is this?

[2017-09-26 23:53] timabbott commented on #1221
(It might be the older app that we're deprecating)

[2017-09-27 00:21] rspier commented on #1221
AFAIK, it's the new app. Zulip (Beta)  Version 2.0.32

@borisyankov Yes.  If you see the image in the first comment, it's obvious that it's wrong.

(Possibly related, when you autocomplete on the web, you end up with @**Robert** in the composition box.)

[2017-09-27 00:32] borisyankov commented on #1221
I suspect it is the same on both apps, as the app does not reformat anything itself and just displays the text pushed by the server.

[2017-09-27 05:12] kunall17 commented on #1221
This doesn't seem to be an easy fix, as we receive the markdown and to render the messages in Java (old app) we used a parser which parsed from html to View.

So either we parse the content to html from the server, then send perhaps? @timabbott

[2017-09-27 05:33] timabbott commented on #1221
I feel like we're not discussing this systematically, so I'll try to be clear.

The message was sent from the webapp, and thus rendered by the backend before being delivered to the mobile app.  Thus, the mobile app should be receiving HTML, not raw markdown, and should be using its local rendering logic to replace that HTML with the appropriate native components for the view to look good.

So eith

[2017-09-27 05:34] kunall17 opened #1223 "Debugging: RawText "" must be wrapped in an explicit <Text> component issues"
Currently its hard to track these issues down, and we have 6 issues from 2 users in the sentry (https://sentry.io/zulip/zulip-mobile/issues/355390348/) currently and they have server name as localhost
I tried to reproduce this on the latest master of the server (https://github.com/zulip/zulip/commit/f0f0176517f7db447c77d80db92aa813553ce30f) but no error's I found, so using sentry we can send the m

[2017-09-27 05:43] timabbott commented on #1223
We try to avoid having any message content going into logs/error reports/etc.  One thing we do in the backend that could be helpful here is removing the content from the message but still reporting the structure.  E.g. for our markdown processor, we'll record in the logs the error-inducing code with all alphanumeric characters replaced with `x`s as the balance between debugging and privacy.  It mi

[2017-09-27 05:44] kunall17 commented on #1221
So for testing, I sent a PM with this markdown
<pre>
@**Kunal Gupta** :100: #**checkins** [Zulip website](https://zulip.org)

</pre>

And I received this markdown as content field in the GCM message resulting in this notification
![screenshot_20170927-111143](https://user-images.githubusercontent.com/12700799/30897600-cd35577c-a374-11e7-843e-41729c8c53ad.png)

[2017-09-27 05:49] kunall17 commented on #1223
I'll send a PR to log the markdown with replacing the alphanumeric as * as you said 👍

[2017-09-27 15:27] timabbott commented on #1221
Ahh, that would make sense; we use `apply_markdown` in the `get_messages` and `get_events` code paths, but don't do something equivalent in the GCM code path?

[2017-09-27 15:35] timabbott commented on #1221
Having now read the code in question, the problem here is that `get_gcm_payload` and `get_apns_payload` (which generate the content in the backend) send down the first 200 bytes of `message.content` (to provide a short, truncated version).  We should be interacting with `message.rendered_content`, AKA the HTML version, and then potentially dropping HTML tags where unavailable in the markup languag

[2017-09-27 16:42] borisyankov commented on #1221
Not sure if html content is allowed, but the other important point is that we do not handle the notifications in a common JS code. Meaning, we better preprocess it on the server, or we'll have to reimplement that in Java and Objective-C/Swift. @kunall17 can you confirm this is correct?

[2017-09-28 19:14] timabbott opened #1227 "Notifications icon isn't cleared properly when messages get read"
I just got this report from a new user to the RN app:

"a day later, the app icon still thinks I have 1 notification to view (this is clearly not true)"

We should do a careful audit on the code for handling this and make sure the algorithm is correct.  Presumably we want the notification cleared whether the message is read in the app or on the web... we may want to use the `unread_msgs` data stru

[2017-09-28 20:34] borisyankov commented on #1227
I would have asked if this is Android or iOS, but I think we are completely missing the dismissal code, so it should be the same solution for both. @kunall17 what do you think about this?

[2017-09-28 20:41] borisyankov commented on #96
Closing as implemented.

[2017-09-28 20:41] #96 closed

[2017-09-28 22:32] mfc opened #1229 "explain or remove device info / ID permission"
curious why Zulip needs the device ID permission since it doesn't use phone numbers for user ID (unlike Signal for example). probably worth explaining the permissions requested on the Google Play page.

[2017-09-28 23:35] timabbott opened #1230 ""No messages on server" flashes when first logging in"
I just logged out and in again on chat.zulip.org after reinstalling the app, and there's a brief flicker of "No messages on server" before the app finishes fetching from the server.

We should treat the state of "doing initial fetch" different from "nothing here" in the UI.

[2017-09-29 00:20] borisyankov commented on #1229
Good question. We are not using it, so we should not request it.

I've found the likely related cause discussed here:
https://github.com/facebook/react-native/issues/5886

@vishwesh3 do you want to work on this issue?

[2017-09-29 00:22] borisyankov commented on #1230
Indeed. Will fix next, should be a quickie.

[2017-09-29 13:03] vishwesh3 opened #1233 "Remove "All streams" button from All Stream tab."
<img width="299" alt="screen shot 2017-09-29 at 5 13 10 pm" src="https://user-images.githubusercontent.com/18511177/31016985-8f736722-a544-11e7-8c53-e72f2a663291.png">

[2017-09-29 13:04] vishwesh3 commented on #1233
@zulipbot label "bite size"

[2017-09-29 13:05] vishwesh3 commented on #1233
@zulipbot label "newcomers" "Hacktoberfest"

[2017-09-29 13:08] vishwesh3 opened #1234 "Some text & icons are not visible in night theme."
Text in DevAuthScreen and icons in SettingOptions are not visible is night theme.

<img width="377" alt="screen shot 2017-09-29 at 5 14 20 pm" src="https://user-images.githubusercontent.com/18511177/31017140-2d25a804-a545-11e7-99c3-1a5308198970.png">
<img width="303" alt="screen shot 2017-09-29 at 5 16 55 pm" src="https://user-images.githubusercontent.com/18511177/31017147-334cf048-a545-11e7-8715-

[2017-09-29 13:09] vishwesh3 commented on #1234
@zulipbot label "bite size" "newcomers" "Hacktoberfest"

[2017-09-29 17:32] mfc commented on #1229
good sleuthing! i would just add that the mass storage permission is also asked by Zulip, and seems also because of this react bug. So if it is not needed by Zulip i would also remove that.

[2017-09-29 18:51] borisyankov commented on #1234
Using our custom `Label` component instead of the generic `Text` will solve this issue.

[2017-09-30 20:41] borisyankov commented on #1230
@timabbott are you sure you have seen this on a recent build? We used to have this issue few versions ago and was fixed (or at least improved). I can not reproduce now.

[2017-10-01 17:09] timabbott commented on #1230
Yep saw it just after reinstalling the same day I reported it.

-Tim Abbott (mobile)

On Sep 30, 2017 13:41, "Boris Yankov" <notifications@github.com> wrote:

@timabbott <https://github.com/timabbott> are you sure you have seen this
on a recent build? We used to have this issue few versions ago and was
fixed (or at least improved). I can not reproduce now.

—
You are receiving this because you wer

[2017-10-02 06:50] kunall17 commented on #1171
Fixed via #1172

[2017-10-02 06:50] #1171 closed

[2017-10-02 06:52] kunall17 commented on #1227
Works fine on android, but on iOS it will constantly show 1 message even if several messages are received!

[2017-10-02 15:58] jainkuniya opened #1246 "Add search bar in create group screen."
Currently it's quite difficult to scroll till end and select user.

[2017-10-02 18:05] borisyankov commented on #1246
@vishwesh3 there is another PR that is WIP that combines the conversations and all users list and it has a search included.

[2017-10-02 19:50] timabbott opened #1248 "Sometimes sends null bytes in message content"
We've been getting some exceptions in production in the send_message code path of this form:

`ValueError: A string literal cannot contain NUL (0x00) characters.`

I'm going to fix this in the server to be a 400 type error, since it's an invalid request from the client, not a 500, but these are definitely being sent by the mobile app.

I'm not sure how the app generates a message body that contain

[2017-10-02 20:11] borisyankov commented on #1248
I will try to figure out it out.
Having the user-agent string would be useful though to detect platform and version.
We haven't fixed any issue like this, so likely this exists in the latest version too.

[2017-10-02 22:07] timabbott commented on #1248
Yeah, the part of the error email reporting that would have the app version are currently broken, so I can't get that, but we'll get it if it keeps happening after we fix that.

[2017-10-02 23:36] borisyankov opened #1249 "Missing translation should not cause error"
This is a peculiarity of 'react-intl' that we must fix.

[2017-10-03 03:10] vishwesh3 commented on #1246
Okay 👍

[2017-10-03 15:33] toshism opened #1252 "Unable to log in on iPhone. JSON Parse error"
I am unable to log in to our private hosted zulip server after the most recent app update. After entering our server URL and hitting enter I get the message. `JSON Parse error: Unrecognized token '<'`.

iOS 11.0.1
zulip app 2.0.32

If there is any other info I can provide please let me know.

[2017-10-03 15:35] timabbott commented on #1252
@toshism what version of Zulip are you running?  And can you check /var/log/zulip/errors.log?

The mobile apps require 1.6 at this point.

[2017-10-03 15:38] toshism commented on #1252
Ah, I wasn't aware of the version requirement. I don't know the version (I'm just a user) but I will see if I can find out.

[2017-10-03 15:44] toshism commented on #1252
Zulip version is 1.5.1 so it would appear that is the problem. Thanks and sorry for the noise.

[2017-10-03 15:51] #1252 closed

[2017-10-03 17:44] borisyankov commented on #1252
Thanks for the report. Definitely not noise ;)
I feel like we should be giving you a better error message.

[2017-10-04 09:44] kunall17 opened #1254 "Show error message if the apiFetch returns 500"
My dev server crashed, and I get yellow box warnings which can be correctly displayed as error messages using response.text() which returns`Internal server error:↵[Errno 111] Connection refused`

[2017-10-04 14:54] toshism commented on #1252
Yeah, an error message about version requirements would be helpful. I also don't see the minimum server version specified anywhere for the iPhone app. This has caught our entire team at work off guard.

[2017-10-05 20:11] borisyankov opened #1260 "Fix messages stopped from loading by new messages"
If messages after the current pointer are not loaded and new messages are updated from the server, fetching newer messages becomes impossible.

- [x] Do not add incoming messages to cache if not caught up
- [x] Do not show outbox if not caught up
- [ ] Should we ignore flags state or leave as is?

[2017-10-06 11:36] borisyankov commented on #1260
Closing as implemented.

[2017-10-06 11:36] #1260 closed

[2017-10-07 05:14] vishwesh3 commented on #1229
Should we close this now. In latest beta 2.1.33
![screenshot_20171007-081754](https://user-images.githubusercontent.com/18511177/31304962-32dad0aa-ab4c-11e7-807d-19bd1479af53.jpg)

we will be requiring storage permission as we have feature to download photos.

[2017-10-07 10:39] kunall17 commented on #1221
Can be closed now as fixed

Sent -
<pre>**bold** @**Kunal Gupta** :laughing:</pre>

Received -
![screenshot_20171007-134255](https://user-images.githubusercontent.com/12700799/31307046-df97b4e8-ab79-11e7-8d53-78f462c54951.png)

[2017-10-07 11:56] kunall17 opened #1267 "Crash in AnchorScrollView from Android (7.1.1)"
[code]

To reproduce: after switching narrow while the messages are being loaded and I guess about to be rendered this crashes some times
Not sure about the exact reason though
And on the current master 6dbb58746d65df2633236d392dff6904be030eeb

[2017-10-07 12:48] #1221 closed

[2017-10-07 13:07] borisyankov commented on #1229
Great!
Yeah, we will add photo/file upload soon.

[2017-10-07 13:07] #1229 closed

[2017-10-07 13:11] borisyankov commented on #1267
How often does this happen? We better fix it.

[2017-10-07 13:50] kunall17 commented on #1267
1 out of 7-8 times maybe, mostly it was on narrowing
This is also in sentry https://sentry.io/zulip/zulip-mobile/issues/363450265/

[2017-10-07 14:30] borisyankov commented on #1267
Not sure, pinging @vishwesh3 as he did some changes to the Java side. Maybe related or is a general bug in ScrollView?

[2017-10-07 15:46] marmistrz opened #1270 "Upload the application to F-Droid"

[2017-10-07 16:39] borisyankov commented on #1270
Thanks for the suggestion, Marcin. I am not familiar with F-Droid.
Do we need to register or can anyone submit it?

We are providing APK files with each release here:
https://github.com/zulip/zulip-mobile/releases

[2017-10-08 14:39] vishwesh3 commented on #1267
Sure! will look into it.

[2017-10-08 14:44] vishwesh3 commented on #1210
Can we close this now?

[2017-10-08 15:31] borisyankov commented on #1210
Yep.

[2017-10-08 15:31] #1210 closed

[2017-10-08 16:19] borisyankov commented on #1267
@kunall17 confirm the commit by @vishwesh3 fixes this.

[2017-10-08 16:22] kunall17 commented on #1267
Yup tested for some good 5 minutes no crashes, just the only problem is that log statement will cause a little performance slowdown as the frequency is very fast it generated 8400 statements From 21:46:21.704 to 21:49:29.387 (nearly 3 mins), do comment out the statements when you're doing a release & update in the master as well!
[logs.txt](https://github.com/zulip/zulip-mobile/files/1367019/logs.

[2017-10-08 16:23] #1267 closed

[2017-10-08 16:40] kunall17 opened #1273 "Tapping on a message in the topic narrow will load the message topic into compose box"
I find the old native app very usable because of this thing as currently if someone sends a new message in a topic view it will go into (no topic) which is quite confusing if they haven't used the toggle compose tools, on tapping on message it would also toggle the topic view so people might understand it more.

I know we'll be doing a re work of compose box soon, but let's start from here!

Let's

[2017-10-08 16:47] borisyankov commented on #1267
I don't see any point in logging anything?

[2017-10-08 16:54] kunall17 commented on #1267
Yup we should remove the log statement!

[2017-10-08 19:11] timabbott commented on #1273
Yeah, if you're in a topic narrow, we should definitely definitely set the topic to the current topic.

[2017-10-10 05:12] jainkuniya opened #1283 "[Android]Text input box doesn't scroll properly with five lines of input"
Just the top 4 are shown.
https://chat.zulip.org/user_uploads/2/8f/0Ce9DMtPEoAUi8g5cz0o_lD2/Screenshot_20171009-202724.png

[2017-10-10 05:13] vishwesh3 commented on #1283
@zulipbot claim

[2017-10-10 15:22] borisyankov commented on #1283
Might be related to fixes or bugs that React Native do in Yoga - the layout engine. (just to be clear, we intentionally want this limited to that hight, but correctly scrollable)

[2017-10-11 05:14] vishwesh3 commented on #1283
I don't think there are bugs in RN or something to do with Yoga (or might be :)).
Because I tried simple `TextInput` and it is working as per our requirement.
https://snack.expo.io/HkZlOXi3-

[2017-10-11 05:48] vishwesh3 commented on #1283
https://github.com/facebook/react-native/issues/12799

[2017-10-11 17:25] kunall17 opened #1290 "Mark all as read button not working"

[2017-10-11 17:30] kunall17 opened #1291 "Unread notice stuck at 1 unread message"
After scrolling at the bottom of the home narrow as well

[2017-10-11 22:42] borisyankov commented on #1291
Maybe we have issue with the message ids that ScrollView reports? Is this Android? If yes, maybe @vishwesh3 can have a look at?

[2017-10-12 05:04] kunall17 opened #1294 "Cannot scroll in the message view"
It happens often, and cannot scroll in either direction

![ezgif-4-7e9bc798ee](https://user-images.githubusercontent.com/12700799/31479966-9c7e1c16-af38-11e7-8bdf-3abdac52e24f.gif)

To reproduce: After opening the app, sometimes it happens

[2017-10-12 23:55] timabbott opened #1297 "gsoc.zulipchat.com doesn't offer GitHub auth on Android"
I thought we added this feature recently; is it just disabled on Android?

[2017-10-12 23:58] timabbott commented on #1230
I saw this again just now on the current production build (to be clear: not beta)

[2017-10-12 23:58] timabbott opened #1298 "Weird performance issue with the hamburger menu"
One of things I often experience as a performance issue in the app is that right after opening the app, I often want to open the hamburger menu/drawer widget.  Hitting the hamburger menu usually seems to do nothing though, for several seconds, even on my home 200mbps network.

However, oddly, sliding out the the drawer works fine for several seconds before the hamburger menu works (I even tried op

[2017-10-13 02:55] vishwesh3 commented on #1297
On current master, GitHub auth is available.
<img width="395" alt="screen shot 2017-10-13 at 8 20 41 am" src="https://user-images.githubusercontent.com/18511177/31528301-0eecb854-aff0-11e7-9c43-7437b2f35cec.png">

Our last public release was `2.0.32` and we added GitHub auth in `2.0.33` (https://github.com/zulip/zulip-mobile/releases/tag/2.1.33) . So no public release after adding it. Github auth

[2017-10-13 03:44] timabbott commented on #1297
OK, makes sense.  We should get a release out.

[2017-10-13 03:50] #1297 closed

[2017-10-13 04:54] vishwesh3 commented on #1185
is this fixed now? On simulator I am getting
<img width="673" alt="screen shot 2017-10-13 at 10 22 58 am" src="https://user-images.githubusercontent.com/18511177/31530826-b03cd120-b000-11e7-8c0e-4f2fa52d1ad1.png">

[2017-10-13 04:55] vishwesh3 commented on #1202
@zulipbot claim

[2017-10-13 10:13] borisyankov commented on #1185
I think it is a setting we can set. Actually, we likely want it hidden.

[2017-10-13 20:33] brainwane commented on #1184
@borisyankov could you elaborate on that a little? Is it a problem with the Markdown spec itself, or the emoji library we use, or something else?

[2017-10-13 20:38] jasonaowen commented on #1227
I'm experiencing the same issue on Android: on a thread that is more than one screen long, even if I scroll all the way to the top and all the way to the bottom, the thread still shows one unread message in the topic list.

(Android Zulip app, version 2.0.32)

[2017-10-13 20:55] kunall17 commented on #1227
@jasonaowen Thanks for report, you're talking about the UnreadNotice which shows "1 Unread message" and a button to `mark all as read` which is already reported here https://github.com/zulip/zulip-mobile/issues/1291

This issue was related to badge count always set to 1 in the app drawer of iOS.
And is temporarily fixed and can be closed!

[2017-10-13 21:04] borisyankov commented on #1227
I'll fix the #1291 next. Closing this.

[2017-10-13 21:04] #1227 closed

[2017-10-13 22:21] borisyankov commented on #1184
@brainwane and mentioning @timabbott as he is likely interested why this happens.

The problem is how the native components work, and the fact that we often have to render complex HTML. If we would render simple text with some links, some images etc. we would be able to render correctly 100% of it.

There are two components in React Native (and generally in the native platforms too) - one is 'View

[2017-10-13 22:28] timabbott opened #1304 "Add support for adding a first emoji reaction"
I got a request for this at the Google Summer of code mentor summit.  I assume it'd just be a new UI widget in the long-press menu on a message.

[2017-10-13 22:35] borisyankov commented on #1184
@timabbott I totally forgot about this... but the WebView is still a viable option, not only with helping us show 100% html render, but also these tricky positioning issues and sticky headers.

@vishwesh3 I am curious, how good are you with HTML/CSS (if we go for WebView, I can do it alone, but would be nice if you can help ;) )

[2017-10-13 22:48] borisyankov commented on #1304
I assumed we will do a full emoji-picker thing, though on mobile it is much more heavy-handed.
An emoji-picker will definitely take full screen and doing a search via the keyboard will be an unpopular option.

I just tested FB Messenger and Skype - both use a small popup consisting of what we have as the 'most popular reactions'.

[2017-10-14 10:17] vishwesh3 commented on #1291
I was experiencing this few versions back. But can't reproduce on current master.
To have an better experience with unread count (and messages) I am thinking to have model something like outbox. Once message is read (I mean visible's ids is sent from scrollView then count it as read irrespective of it is present in `unread`).

When I am connected to slow internet it's takes some time (even 5-6 sec

[2017-10-14 10:21] vishwesh3 commented on #1291
One such case on Android is:- if last message of the list contains reaction (in my case there was only one reaction) then that message is not mark as read. Most probably this is because of visible id's in out `AnchorScrollView`

[2017-10-14 10:50] vishwesh3 commented on #1184
yea! I have a good knowledge of HTML/CSS (have done some web projects :)) . Would love to work with you :) 😄

Major problem here is how blocks are separated (line break and all) natively. I have spent lots of hours on this in GSoC time.
Today finally I got a way to handle such cases (why not to create a separate block for each one 🤔 ) , how its looks now
![image](https://user-images.githubusercont

[2017-10-14 11:01] vishwesh3 commented on #1184
PR https://github.com/zulip/zulip-mobile/pull/1308 :)

[2017-10-14 13:16] kunall17 commented on #1291
I still can reproduce this bug on the latest update, and no reaction was there on the last message

![screenshot_20171014-184026](https://user-images.githubusercontent.com/12700799/31575972-60c6ef3a-b10f-11e7-94f6-7026645574ec.png)

I highly agree on this point, and I have faced the similar problem.
The priority should be not to display the user that it's unread, maybe have a queue buffer like str

[2017-10-14 13:20] kunall17 commented on #1184
Awesome work going on @vishwesh3

I just wanted to ask what's the problem with directly using the web view, AFAIR it was working nicely when I tried it long back?

[2017-10-14 13:26] vishwesh3 commented on #1291
Okay! Cool Working on it :+1:

On 14-Oct-2017 6:46 PM, "Kunal Gupta" <notifications@github.com> wrote:

I still can reproduce this bug on the latest update, and no reaction was
there on the last message

[image: screenshot_20171014-184026]
<https://user-images.githubusercontent.com/12700799/31575972-60c6ef3a-b10f-11e7-94f6-7026645574ec.png>

I am thinking to have model something like outbox. Once

[2017-10-14 13:36] vishwesh3 commented on #1184
I really like native components over webview, so working hard to behave it
as per our requirement. :)

most people only use apps over site in browser because of the native
feeling (and I am one among them :))

so if we really got stuck and can't find a way then webview will be nice. :)

On 14-Oct-2017 6:50 PM, "Kunal Gupta" <notifications@github.com> wrote:

[2017-10-14 15:40] kunall17 commented on #1184
Yeah, me too prefer the native components, but I do wonder the noticeable changes using WebView vs the current implementation.

(I'll check the old after my exams get over, tuesday)

[2017-10-15 13:41] #1291 closed

[2017-10-15 23:28] adambirds opened #1313 "Add the ability to create a new stream"
The ability to add a new stream from the app would be great rather than having to use the web client.

I currently use slack and one of best things about that is the ability to do most things like creating channels in the app itself. Useful for those predominantly on a mobile device.

[2017-10-16 17:08] borisyankov commented on #1313
Thanks for the suggestion. We were thinking about this, but now that you requested it, I'll bump it up in our to-do list. 👍

[2017-10-16 19:40] tthoma24 opened #1314 "iOS: Push notifications sent for muted streams"
The UI claims that push notifications will not be sent for muted streams unless you are mentioned, but that doesn't seem to be the case. I've been receiving notifications for a muted stream even when I am not mentioned.

[2017-10-16 19:57] borisyankov commented on #1314
@kunall17 do you know anything about that?
Also, likely this needs to be handled on the backend, so pinging @timabbott and @showell

[2017-10-17 00:04] tthoma24 opened #1315 "iOS: Push notification does not bring you to message or stream in question upon clicking"
I’m not sure if this is a bug or not, but tapping on the push notification doesn’t bring you to the message or stream in question. This makes them much less useful

[2017-10-17 00:07] tthoma24 opened #1316 "iOS: Push notification title and contents"
The current Push notification sends something along the lines of “New Zulip mentions or private messages from (sender)” as the title, regardless of whether or not it’s a stream message, mention, or private message. It should be more specific based on the kind of message (private, mention, or stream message), as well as include the stream the message was sent to.

This, #1314, and #1315 make iOS pu

[2017-10-17 00:12] tthoma24 commented on #936
I’m seeing the same behavior after not checking my messages since August, except I can’t even get recent messages in my home stream. If I narrow to an individual stream, it doesn’t seem to be an issue

[2017-10-17 00:16] timabbott commented on #1314
If this were an issue, it would be on the backend, not the mobile app.

[2017-10-17 02:27] tthoma24 commented on #1314
I’m not sure what you mean by if it’s an issue. It’s definitely an issue for me. Should I file a bug on the server repo? Provide more info? Something else?

[2017-10-17 04:46] timabbott commented on #1314
@tthoma24 sorry I was in a hurry and attempting primarily to communicate with @borisyankov here.  What I mean is just that the server is where the logic is that decides whether a push notification is triggered or not, so whatever the issue is here is almost certainly in the server code.  We'll move the issue if needed once we know more exactly what it is.

@tthoma24 can you check your settings for

[2017-10-17 08:47] borisyankov commented on #936
We did fix the original issue.

@tthoma24 this might be something else. Would you elaborate, so I can pinpoint the issue?
Do you not get any messges? Or you get old ones but when you scroll you don't get the latest ones?

[2017-10-17 08:49] borisyankov commented on #1316
Is this a private server? My guess is that you need to upgrade to the latest version, as this is how the notifications looked initially but we did improve this recently.

[2017-10-17 13:18] tthoma24 commented on #1316
No, this is hosted via zulipchat.com

@timabbott, is the MIT instance running an old version of the codebase
without the new push notifications logic? This would explain a lot.
<http://zulipchat.com>
On Tue, Oct 17, 2017 at 4:49 AM Boris Yankov <notifications@github.com>
wrote:

--
Sent from my iPhone

[2017-10-17 13:19] tthoma24 commented on #936
I do see some messages from August, but don’t get the latest ones. Marking
the old messages as read from desktop does get me to the latest messages on
mobile.
On Tue, Oct 17, 2017 at 4:47 AM Boris Yankov <notifications@github.com>
wrote:

--
Sent from my iPhone

[2017-10-17 15:54] Be-ing opened #1318 "publish on F-Droid"
[F-Droid](https://f-droid.org/) is an alternative to the Google Play Store with only free software. It would be convenient if users could get the Zulip Android app through F-Droid.

[2017-10-17 16:31] timabbott commented on #1316
No, zulipchat.com is running a current version.  But I think what could be going on is that we group together several push notifications under the same banner in the notifications area, and of course there's only one title for the group...

[2017-10-17 17:42] jhurwitz commented on #936
@borisyankov:

When and in what commit? I do not believe the original issue was ever fixed for me.

[2017-10-17 19:07] Be-ing commented on #1318
duplicate of #1270

[2017-10-17 19:07] #1318 closed

[2017-10-17 19:08] Be-ing commented on #1270
I have opened a request for this on [F-Droid's tracker](https://gitlab.com/fdroid/rfp/issues/386).

[2017-10-17 19:11] Be-ing commented on #1270
The Android app is quite laggy for me on LineageOS without GApps. I don't know if this is an issue with the app in general or if the lack of GCM push notifications is slowing it down.

[2017-10-17 19:13] marmistrz commented on #1270
You need to make a merge request to the following repository: https://gitlab.com/fdroid/fdroiddata
The application must not used closed-source dependencies. You may want to ask the F-Droid people at the IRC channel #fdroid on Freenode or on the F-Droid forum for more details on the process.

[2017-10-17 19:19] Be-ing commented on #1270
F-Droid has an [FAQ for app developers](https://f-droid.org/en/docs/FAQ_-_App_Developers/) and [a guide for contributing](https://gitlab.com/fdroid/fdroiddata/blob/master/CONTRIBUTING.md).

[2017-10-17 19:32] tthoma24 commented on #1314
Yes, that setting is checked (but greyed out since the stream is muted)

[2017-10-17 19:37] tthoma24 commented on #1316
That shouldn't matter, you should be able to set an arbitrary title on the notification. I can see the code for this in the server repo (https://github.com/zulip/zulip/blob/master/zerver/lib/push_notifications.py, at line 385 to 401) It's as if that code is failing to get evaluated properly, or something about the data it's getting is causing it to choose the else case, which prints the unspecific

[2017-10-17 20:13] borisyankov commented on #1270
@vishwesh3 do you want to have a look at the perf issues on LineageOS? I am curious what is going on.

[2017-10-17 20:31] borisyankov commented on #936
@jhurwitz Oh, yeah, we should have confirmed with you....

The fix is definitely published. Let me explain the issue that we fixed:
If you haven't loaded the latest messages in a given narrow, but new messages came, we still appended the new messages, and when you requested more messages, we were asking for new messages after the new ones, which of course there were none.

This one issue is fixed;

[2017-10-17 22:11] jhurwitz commented on #936
Ah, looks like you're correct. I hadn't used the mobile app in a while, but testing it now, this bug seems fixed.

However, I did find a new bug: upon opening the mobile app, there were no skipped messages, but the selected message was 7 newer than my last read message on desktop.

So there appear to be three bugs here:

1. The bug that this issue was opened for - now fixed, so this issue should b

[2017-10-17 22:20] waozixyz opened #1321 "Add quick organization switcher"
In the desktop app you have the convenient sidebar to switch between organization.
maybe having a menu option?

another idea would be to use the same idea as in rocket.chat, they use a two finger swipe up to change the server when the app is starting

[2017-10-18 03:54] kunall17 commented on #1315
Yup, is definitely a bug, Thanks for reporting! 👍

[2017-10-18 04:01] kunall17 commented on #1290
Fixed via ec5162a91b509070d4f75241282d2bd5f329bdc2

[2017-10-18 04:01] #1290 closed

[2017-10-18 05:35] timabbott opened #1322 "Android app sometimes doesn't clear push notification count"
I've seen states where there are like 37 messages shown in the orange circle on the phone's home screen, but nothing actually unread.

[2017-10-18 05:43] timabbott commented on #1314
This is actually a backend bug; I'll take care of it.

[2017-10-18 05:50] #1314 closed

[2017-10-18 05:50] timabbott commented on #1314
Fixed in master, thanks for the report @tthoma24!

[2017-10-18 06:13] kunall17 commented on #1322
Currently, the app is clearing the notifications on start, so if messages have been read on the web, it wouldn't clear.
Is it after opening the app as well?

[2017-10-18 06:14] kunall17 commented on #1322
On my phone (Oneplus) launcher doesn't support showing the counts so I have not been able to test on it!

[2017-10-18 07:54] kunall17 commented on #804
Fixed via 352d69a00a50f6cb4013cc6df1fb124b8cc95e99

[2017-10-18 07:54] #804 closed

[2017-10-18 07:55] kunall17 commented on #1321
We don't have the gesture detection atm, but the switch works from the drawer -> settings!

Thanks for the suggestion 👍

[2017-10-18 12:06] borisyankov commented on #1322
Yeah, the default Google launcher does not show any notification counts... which is surprising, considering it seems to be a standard feature and not something custom.

On the latest Android Oreo, there is a notification dot, that does not have a count but is more of on/off. OneNote I think was the vanilla Android experience too?

@kunall17 do you know if it is possible to install Samsung's launch

[2017-10-18 16:08] timabbott commented on #1321
@kunall17 while there is a switcher, I think ideally we'd want it to be faster than it is and allow you to receive push notifications for multiple Zulip realms at the same time.

[2017-10-18 16:37] borisyankov commented on #1321
Yeah, we will want to store the server icon's urls and make the picker more easily accessible.
Assigning this to me, as I have a decent idea how to do that, but we'll focus on the big issues we discussed with Tim, until all of them are resolved before doing this.

[2017-10-18 16:47] borisyankov opened #1325 "Mark messages as unread"
Allow to mark something as unread so you read it on the web (for when you have a long reply you need to write).

[2017-10-18 19:11] kunall17 commented on #1322
Notification dot, I'll implement after fixing the bugs.

OnePlus has the Oxygen OS so no stock android.

AFAIK installing Samsung UI on other phones will be a pain, but there are plenty of other launchers which do support these counts.
I basically used this https://github.com/leolin310148/ShortcutBadger library for showing the counts in different launchers.

[2017-10-19 05:05] timabbott commented on #1316
@kunall17 FYI since he's working on this.

[2017-10-19 05:10] kunall17 commented on #1316
The trigger is being re-worked and this issue will be fixed in that!

[2017-10-20 12:04] borisyankov commented on #961
I am closing this, as we made most (or all) of the perf optimizations related to scrolling.
We can open another issue if another optimization is needed.

[2017-10-20 12:04] #961 closed

[2017-10-20 12:33] borisyankov commented on #584
We have fixed the original issue. Closing this.

@gnprice I have never been able to reproduce the issue you mentioned. Have you seen it again?

[2017-10-20 12:33] #584 closed

[2017-10-20 18:35] timabbott opened #1335 "Scrolling down in the home view never reaches the latest messages"
I got a report from a user about this, and was able to confirm it: If you open the home view and happen to get placed 100+ messages above the latest (which happens to me all the time and is probably its own bug needing attention!  We should be placing you with the first unread message at the middle of the screen, or at the bottom), and then scroll down, at first it loads new messages.

But after l

[2017-10-20 18:41] timabbott opened #1336 "It's really hard to figure out the date of the messages you're looking at"
When you're looking at a set of messages, it can be really hard to figure out what date they were sent at.  While I think this problem is much more annoying because of our scroll position issues which can often lead to looking at messages from a few days ago seemingly randomly, I think it's still relevant regardless.

I wonder if we should in the mobile app, start displaying timestamps in the send

[2017-10-20 18:43] timabbott opened #1337 "Scroll position doesn't take you to the latest unread messages"
We've talked about this a lot, but I think it's worth having an issue to track this, since I think it's by a large margin our most important bug at this point.  At least on Android, every time I go to a view via the UI, it feels like it takes me to a place about 20-30 messages above where one would expect.  The correct algorithm is detailed in http://zulip.readthedocs.io/en/latest/pointer.html , b

[2017-10-20 18:51] timabbott opened #1338 "Add app store links to README.md for this repo"
This should be a super quick task, but we might as well provide direct links in README.md.  Mostly useful to avoid confusion with the legacy apps.

[2017-10-20 21:44] gnprice commented on #584
Haven't seen it lately -- hope it's gone! Easy to reopen if it ever shows
up again.​

[2017-10-20 22:15] borisyankov commented on #1338
Added.

[2017-10-20 22:15] #1338 closed

[2017-10-20 22:39] borisyankov commented on #1336
I'll think about this... but we never had the date in the sticky headers.

[2017-10-20 23:02] timabbott commented on #1336
OK; I didn't remember, but that's the other obvious place to put it.

[2017-10-20 23:10] borisyankov commented on #1335
There are two parts to this issue.
The positioning and the 'not loading'.
I am investigating the second part, as I think I encountered it at least once.

The first part, about positioning it too early - we need to improve that somehow.
We are just doing an 'anchor' get, so the result is backend-dependent.
It is either a bug on the backend or correct behavior that we might want to rework?
Also, are

[2017-10-20 23:16] timabbott commented on #1335
@borisyankov the way we do positioning on the web frontend is that we get back the messages via the `GET` with `use_first_unread_anchro`, and then in JS we scan through the result to find the first unread message (through looking at the `flags` on the result), and set the scroll position to have that be about 1/3 of the way down the screen (or scroll to end if there no unread messages).

[2017-10-20 23:24] borisyankov commented on #1335
Hmmm, we use `use_first_unread_anchor` in the same fashion.
That is weird that we might load old messages this way.

[2017-10-21 00:01] timabbott commented on #1335
So, to be clear, in the home view, it can load messages from a few days old, but I assume that's a different code path in the app.  (Are you using `pointer` for this?).  So might be a separate but related bug.

For narrows, my experience is that the app loads only a few dozen messages back, which makes me think the issue is solely about setting the scroll position after correctly fetching the most

[2017-10-21 21:47] borisyankov commented on #1298
Closing as resolved.
We should keep improving the performance and keep an eye on any regressions.

[2017-10-21 21:47] #1298 closed

[2017-10-23 17:33] cdikibo commented on #1234
I want to take this issue.

[2017-10-23 17:36] cdikibo opened #1351 "Sharing links directly to the app"
Our competitors show up when it's time to share a link. We should also be able to share links from outside sources without having to copy and paste.

[2017-10-23 17:47] kunall17 commented on #1234
@cdikibo Cool, go ahead and comment `@zulip bot claim` without the space b/w zulip & bot to claim and assign it to you!

[2017-10-23 17:53] cdikibo commented on #1234
@zulipbot claim

[2017-10-23 18:28] borisyankov commented on #1351
I fully agree. @vishwesh3 is working on this in #674
We should prioritize it more I think. @timabbott what do you think about this?

[2017-10-23 19:22] timabbott commented on #1351
Yeah, agreed, this deserves priority attention.

[2017-10-24 03:13] jainkuniya opened #1354 "New message doesn't add to the list."
One case is:-
If the messages in narrow are few (one or two), i.e full screen is not occupied, then new messages is not appended at the bottom. (tested in topic narrow)

Also in Android if message list doesn't occupy full list then list's scrolling is not enables, thus only way to get new message is via re narrowing.

on iOS scrolling is enabled even if message list have one message, so one can sc

[2017-10-24 09:14] #1184 closed

[2017-10-24 23:30] adambirds commented on #1313
Excellent, thanks @borisyankov

[2017-10-25 00:26] borisyankov commented on #1354
I can confirm this issue. It is even more prominent when tested on a tablet, as the screen is larger.
Have you been able to fix it? If not, I'll tackle this before releasing the next Beta?

[2017-10-25 00:28] borisyankov commented on #1337
The next release should fix this.
In order to make debugging this issue easier in production, I have added a feature in 'Settings -> Diagnostics -> Debug' called 'Distinguish unread messages'. It is a temporary configuration that does reset on restart (so no one leaves it on by mistake). It will color the unread messages in a vivid pink.

[2017-10-25 02:00] jainkuniya opened #1362 "[Android] Sometimes top loading indicator is not visible."
<img width="398" alt="screen shot 2017-10-25 at 7 28 48 am" src="https://user-images.githubusercontent.com/18511177/31976646-3f19c00c-b956-11e7-9bbe-5e337dee2407.png">

[2017-10-25 04:32] borisyankov commented on #1362
Sometimes it happens for the bottom one too.

[2017-10-25 04:33] borisyankov commented on #1335
Closing as fixed.

[2017-10-25 04:33] #1335 closed

[2017-10-25 05:33] vishwesh3 commented on #1354
Found one more case. Fixed by #1363. It might have introduced scrolling issues. Added more descriptive comment https://github.com/zulip/zulip-mobile/pull/1363#issuecomment-339217800.
Ya! we need to fix in next beta 👍

[2017-10-25 17:42] borisyankov commented on #1337
A definitive fix is merged. Closing the issue.

[2017-10-25 17:42] #1337 closed

[2017-10-27 15:21] jasonaowen commented on #1184
I see that this issue is closed, but I'm still experiencing the behavior described.

I appreciate the quick turnaround on this issue -- and on all the work you are doing on Zulip! I think this issue needs more work before it's done.

Specifically, #1308 added a debug option, which is a useful step, and mentioned that it needed performance testing. How does performance testing work on the zulip-mob

[2017-10-27 16:05] timabbott commented on #1184
@jasonaowen you should certainly still be experiencing the behavior, since we haven't done a release with the fix yet.

[2017-10-27 16:31] jasonaowen commented on #1184
@timabbott Right! I understand that. If there were a release today, though, I don't think the markdown rendering issue would be addressed - what we have right now, as I understand it, is an option in a debug screen. @borisyankov wants performance testing on the new behavior before enabling it by default, which makes sense to me. I suggest that this issue is the natural place to track that performa

[2017-10-29 17:47] #1234 closed

[2017-10-30 14:03] cdikibo commented on #1233
How do I replicate your picture? I currently don't see it on iOS... Thanks in advance

[2017-10-30 18:22] borisyankov commented on #1233
Maybe this happens when you first create a Realms and no streams exist?
I doubt this issue is worth addressing.

[2017-10-30 18:30] timabbott commented on #1233
You can get a state with no streams with the (totally broken) "simple" realm in the dev environment.  Very unlikely for anyone in reality, I think.

[2017-10-30 22:09] borisyankov commented on #1052
Reopening, as it is happening again.
My guess will be that `focusPing` is being called when logged out, thus `realm` is `''`

[2017-10-30 22:22] borisyankov commented on #1233
Then we shouldn't bother with this issue, which isn't severe anyways ;)
I'll close it.

[2017-10-30 22:22] #1233 closed

[2017-10-31 16:45] Katee opened #1377 "Crashes related to server URL"
My Android keyboard mangled "recurse.zulipchat.com" to "recurse. zulipchat. com" which caused the Zulip Android app available on Play to crash when I clicked "Enter". Android can also be crashed by entering an invalid server URL, backgrounding the app, then foregrounding it. Both of these methods show the same okhttp stacktrace.

[code]

Apologies if this has already been fixed. I tried to build t

[2017-10-31 17:02] kunall17 commented on #1377
Thanks for the report @Katee
I never encountered this error `more than one library with package name 'com.wix.reactnativenotifications'.` Can you please send the full stacktrace/compile error?

Basically, we assume the URL will have no space ATM, but can definitely be fixed, if you would like to solve this error, go ahead! 👍

[2017-10-31 17:30] Katee commented on #1377
@kunall17 here are some details about my system and what happens when I run `npm run reinstall` and `react-native run-android`: https://gist.github.com/Katee/89b50acbb6d6cf97ba93ab6c176277fd

[2017-10-31 18:23] kunall17 commented on #1377
Ok, thanks for detailed gists, I have reproduced this issue and will fix it soon!

[2017-10-31 18:37] cdikibo commented on #583
What exactly is going on here? Is a narrow something specific within the codebase?

[2017-10-31 19:27] cdikibo commented on #311
I'm going to give this a try.

[2017-10-31 19:49] timabbott commented on #583
@cdikibo zulip.readthedocs.io/en/latest/pointer.html is helpful reading :)

[2017-10-31 19:52] borisyankov commented on #1120
Closing as fixed.

[2017-10-31 19:52] #1120 closed

[2017-10-31 19:52] borisyankov commented on #588
Closing as fixed.

[2017-10-31 19:52] #588 closed

[2017-10-31 20:23] #1052 closed

[2017-10-31 20:26] borisyankov commented on #583
@cdikibo this is an issue that is hard to fix and is unlikely for you to fix as one of the first tasks you tackle.

Still, it is quite good to try to figure out thee:
 * what a narrow is
 * what is an anchor
 * where do we store the active narrow
 * where do we switch narrows

[2017-10-31 20:51] borisyankov commented on #1377
We can pre-check the URL for validity by using one of these URLs:
https://mathiasbynens.be/demo/url-regex

I tend to pick a simpler one, like `stephenhay`.

[2017-10-31 21:00] Katee commented on #1377
@borisyankov I'm not super familiar with react-native applications so maybe this isn't easy/possible but wouldn't it be better to respond to the okhttp exception? Any other approach will duplicate effort (your code and the okhttp code will be checking the URL) and will still fail if there are URLs you allow that okhttp balks at.

[2017-11-01 17:58] vishwesh3 opened #1381 "Some icons are not visible (? is shown instead)"
icons such as

- [ ] Google icon in AuthScreen

- [ ] Cross Icon in AvatarList in CreateGroupScreen

- [ ] Cross Icon in Switch Account Screen.

This might be a bite-size (haven't followed last few commits, so not sure),
But will be a great learning for new comers :)

[2017-11-01 23:12] borisyankov commented on #1381
Hmm, have you pulled the latest `master`?
I think I've fixed at least two of these yesterday.

[2017-11-01 23:22] cdikibo commented on #1381
@borisyankov I just pulled the latest master branch I'll see if I get question marks.

[2017-11-02 00:45] borisyankov commented on #1377
`okhttp` is the native Java networking code that fails on incorrect input, that is on Android. For iOS it would be different. If we were to handle the network failure, we would handle it via an exception handler in our JS code.

Catching incorrect realm urls is both faster from user's perspective and simpler from our side.

[2017-11-02 00:45] cdikibo commented on #1381
Update: I didn't get those problems you mentioned @vishwesh3
![simulator screen shot - iphone 5s - 2017-11-01 at 19 25 36](https://user-images.githubusercontent.com/8525347/32304424-1c2984b4-bf3d-11e7-9a9b-1456a3065adb.png)

[2017-11-02 02:45] borisyankov commented on #691
Closing as implemented.

[2017-11-02 02:45] #691 closed

[2017-11-03 13:27] vishwesh3 commented on #1381
yes! it got fixed :+1:

[2017-11-03 13:27] #1381 closed

[2017-11-04 15:38] borisyankov opened #1393 "HTML rendering feature parity with current implementation"
Parity match:
- [x] match message rendering to web version
- [x] info tags
- [x] tables
- [x] reactions
- [x] message id provided for press/long press
- [x] loading indicators
- [ ] long press opens action sheets
- [ ] emojis
- [ ] anchoring
- [ ] append data incrementally

[2017-11-04 21:02] cdikibo opened #1396 "Flexbox glitch -subscribed"
This is the third time this happened on the iOS app for me while using the simulator. I don't know if this is mirrored for everyone else. The first time clicking on subscribed from starting up the app it appears like below

![simulator screen shot - iphone 5s - 2017-11-04 at 12 40 17](https://user-images.githubusercontent.com/8525347/32407901-95ad7e54-c15d-11e7-8259-6869807184b6.png)

[2017-11-04 23:25] borisyankov commented on #1396
Yes, I do have the same issue.
It is a bug in `react-navigation` or in the `react-native-tab-view` component that they use.

[2017-11-05 09:54] #1144 closed

[2017-11-05 18:53] borisyankov opened #1400 "Messages in group are not updated when a user sends his"
* existing group PM with two people
* user has not yet participated
* user sends messages to this group and his messaged does not appear
* happens on mobile, but not on the web

[2017-11-07 09:18] mrijke commented on #1219
https://github.com/zulip/zulip-mobile/pull/1367 got merged not too long ago, and should be in the current version. However, I'm still seeing this behavior. Is this intended?

[2017-11-08 08:49] thelamb opened #1404 "Messages containing @all or @everyone are not sent"
**Reproduce**
Try to send a message containing `@all ` or `@everyone`

**Expected**
- Confirmation is asked like in the web version (?)
- Message is sent and everybody is @-mentioned

**Actual**
- The message disappears from the input field, and is not sent to the stream
- No error is displayed

**Additional notes**
- 'all' and 'everyone' are not among the suggested autocomplete entries after typi

[2017-11-08 14:22] vishwesh3 commented on #1404
@zulipbot claim

[2017-11-08 18:22] borisyankov opened #1408 "Use componentDidCatch during message render"

[2017-11-09 00:06] cdikibo commented on #105
@borisyankov What exactly needs to be done for each subtopic?

[2017-11-09 04:36] vishwesh3 opened #1410 "Added option to add new line in message (via enter button in keyboard)"
https://chat.zulip.org/#narrow/stream/mobile/subject/currently.20published.20Android.20app/near/316002

@zulipbot claim

[2017-11-09 04:40] jainkuniya opened #1411 "Improve account switch experience"
- Sometimes some data is not cleared and reflected in other account.

- Show error instead of infinite loading when switched account is not reachable.

https://chat.zulip.org/#narrow/stream/mobile/subject/currently.20published.20Android.20app/near/316004

Mostly related to debugging.

[2017-11-09 06:51] jainkuniya opened #1412 "App crashes when first message is sent."
When there are no messages in current narrow and first message is sent.

Almost done, will create PR by tonight.

@zulipbot claim

[2017-11-09 16:18] borisyankov commented on #105
This is no longer relevant. Closing.

[2017-11-09 16:18] #105 closed

[2017-11-10 06:05] borisyankov commented on #1410
This is the cause:
https://gist.github.com/catchin/47afe706256604959c13dc25e7bb9383

I prefer not to use the custom code, but to help React Native to implement the fix in the code itself.

[2017-11-11 16:11] borisyankov commented on #1408
Closing as implemented

[2017-11-11 16:11] #1408 closed

[2017-11-13 19:52] vishwesh3 commented on #180
@zulipbot claim

[2017-11-13 19:53] timabbott opened #1423 "Integrate support for team alerts"
This is basically the JS side implementation of this feature for the webapp:

https://github.com/zulip/zulip/pull/6660

We should try to quickly integrate the display part; typeahead is less important but probably also a good idea.  I expect we'll have a UI for creating these in a few weeks.

[2017-11-16 04:32] jhurwitz commented on #936
I reproed the error tonight in Zulip version 1.0.29

[2017-11-16 13:21] borisyankov commented on #936
Hmm, @jhurwitz this is an old version. Any reason why you are using it? :)

[2017-11-16 16:04] jhurwitz commented on #936
Because you told me to keep using the TestFlight release (rather than the App Store release), and this is the latest version on TestFlight.

Should I switch to the App Store release?

[2017-11-17 00:57] borisyankov commented on #936
Sorry about that, Jacob. I was a bit confused at what versions are available in TestFlight (I thought it is newer).
You can keep using the TestFlight version, and I'll make sure it is always up-to-date from now on.

[2017-11-17 00:57] borisyankov commented on #936
I am also curious how you find the new version. Thanks.

[2017-11-18 18:17] #1396 closed

[2017-11-19 04:16] vishwesh3 commented on #1404
Can we close this now?
Fixed by https://github.com/zulip/zulip-mobile/commit/4ea72e8d12314bf7c70b5c7ec4fa862d2ed907ec

[2017-11-19 06:27] vishwesh3 commented on #1400
@zulipbot claim

[2017-11-20 16:01] vishwesh3 commented on #180
fixed by https://github.com/zulip/zulip-mobile/commit/ce44d788013f56d138fe427aa1ab5c25cea03030
can be closed now

[2017-11-20 16:08] vishwesh3 commented on #117
@zulipbot claim
will resume work on https://github.com/zulip/zulip-mobile/pull/674

[2017-11-20 16:20] vishwesh3 commented on #227
Now we have **Mark stream as read**,   **Mark topic as read**,  **Mark all as read**.
But I thinks scroll position is remaining (after marking move to latest message)
So can we close this and open another issue or edit this one?

[2017-11-20 16:30] vishwesh3 commented on #289
Tested on current master, now we have **Sign in with dev account** button.
Can be closed now
<img width="288" alt="screen shot 2017-11-20 at 9 59 22 pm" src="https://user-images.githubusercontent.com/18511177/33029280-2df77ff6-ce3e-11e7-8f60-174fe28b5158.png">

[2017-11-20 16:33] vishwesh3 commented on #310
Duplicate of https://github.com/zulip/zulip-mobile/issues/116
can be closed

[2017-11-20 16:36] vishwesh3 commented on #161
Might be duplicate of https://github.com/zulip/zulip-mobile/issues/392

[2017-11-20 16:38] vishwesh3 commented on #417
we have started respect :)
Can be closed now

[2017-11-20 16:39] vishwesh3 commented on #443
I thinks this is fixed now.

[2017-11-20 16:41] vishwesh3 commented on #447
Now list is scrollable. Can be closed now :)
We can open another issue with more details about new UI :)

[2017-11-20 16:42] vishwesh3 commented on #454
Can't reproduce on current master.

[2017-11-20 16:46] vishwesh3 commented on #495
#457,  #587, #504,  #544 got merged/closed/fixed. And Android release is public. We can close this too :)

[2017-11-20 16:48] vishwesh3 commented on #516
this got implemented. Can be closed now

[2017-11-20 16:50] vishwesh3 commented on #536
Closing this.
(outdated now)

[2017-11-20 16:50] #536 closed

[2017-11-20 16:52] vishwesh3 commented on #583
Now we have some nice improvements in scrolling stuff :)
Can we close this now?

[2017-11-20 16:53] vishwesh3 commented on #592
This is fixed now by https://github.com/zulip/zulip-mobile/commit/ce44d788013f56d138fe427aa1ab5c25cea03030

now we are moving content up when keyboard pops

[2017-11-20 16:54] vishwesh3 commented on #604
Can be closed now
only #186 is remaining

[2017-11-20 16:55] vishwesh3 commented on #186
@zulipbot claim

[2017-11-20 16:55] vishwesh3 commented on #275
@zulipbot claim

[2017-11-20 16:59] vishwesh3 commented on #606
Now we have removed bots from users list and tested on current mater it doesn't crash.
But crashes on sending first message in narrow (will be fixed by https://github.com/zulip/zulip-mobile/pull/1413)

[2017-11-20 17:00] vishwesh3 commented on #765
Implemented by https://github.com/zulip/zulip-mobile/commit/538034b9ea920d4f024dbeb5f789d7796511028d
can be closed now

[2017-11-20 17:01] vishwesh3 commented on #895
This is fixed now

[2017-11-20 17:04] vishwesh3 commented on #1055
First one is remaining.
Will be working on it next
@zulipbot claim

[2017-11-20 17:08] vishwesh3 commented on #1080
fixed via https://github.com/zulip/zulip-mobile/commit/b1068d86ce610df64e637b0532cfd179715b02be

We can improve it (by adding image etc) in UI2.0 Project :) 👍 https://github.com/zulip/zulip-mobile/projects/9?

[2017-11-20 17:14] vishwesh3 commented on #1202
Implemented by https://github.com/zulip/zulip-mobile/pull/1300
Good time to close this now :)

[2017-11-20 17:50] #417 closed

[2017-11-20 18:38] borisyankov opened #1440 "Use images for empty slate screens"
Use images for empty screens like:

![](http://cdn2.ubergizmo.com/wp-content/uploads/2015/03/inbox_reminder-640x566.jpg)

[2017-11-20 18:39] borisyankov commented on #1080
Closing this as implemented.
Opening #1440 to improve the screens with images at later time.

[2017-11-20 18:39] #1080 closed

[2017-11-20 18:39] borisyankov commented on #1202
Closing as implemented.

[2017-11-20 18:39] #1202 closed

[2017-11-20 19:01] borisyankov commented on #765
Closing as implemented.

[2017-11-20 19:01] #765 closed

[2017-11-20 19:24] borisyankov commented on #895
Closing as fixed.

[2017-11-20 19:24] #895 closed

[2017-11-20 19:32] borisyankov commented on #186
@vishwesh3 I am not sure when this can happen? Maybe we are already showing a `?` in place?

[2017-11-20 19:33] borisyankov commented on #275
To be honest, I don't think this is worth doing.
We better focus on high-value tasks.
(if you've already implemented it, we can merge)

[2017-11-20 19:33] #275 closed

[2017-11-20 19:39] borisyankov commented on #443
Yeah, fixed. Closing.

[2017-11-20 20:22] borisyankov commented on #583
Fixed, but we should keep testing if it works reliably.

[2017-11-20 20:22] #583 closed

[2017-11-21 05:41] #310 closed

[2017-11-21 05:41] borisyankov commented on #116
Closing as 'now good enough'

[2017-11-21 05:41] #116 closed

[2017-11-21 16:48] borisyankov commented on #604
Closing as complete.

[2017-11-21 16:48] #604 closed

[2017-11-21 16:48] borisyankov commented on #592
Closing as implemented.

[2017-11-21 16:48] #592 closed

[2017-11-21 16:50] borisyankov commented on #516
Closing as implemented.

[2017-11-21 16:50] #516 closed

[2017-11-21 16:52] borisyankov commented on #495
:) Closing as done.

[2017-11-21 16:52] #495 closed

[2017-11-21 16:53] borisyankov commented on #180
Closing as implemented.

[2017-11-21 16:53] #180 closed

[2017-11-21 16:54] borisyankov commented on #227
We will also have more 'mark as read' options with the improved upcoming unread messages card UI.
Closing this.

[2017-11-21 16:54] #227 closed

[2017-11-21 16:55] borisyankov commented on #289
Closing as implemented.

[2017-11-21 16:55] #289 closed

[2017-11-21 16:56] borisyankov commented on #447
Indeed. Closing.

[2017-11-21 16:56] #447 closed

[2017-11-21 16:56] borisyankov commented on #454
Closing as fixed.

[2017-11-21 16:56] #454 closed

[2017-11-21 16:58] borisyankov commented on #36
I think the current approach (without CodePush) is effective.
Closing for now (we can reconsider this later, of course)

[2017-11-21 16:58] #36 closed

[2017-11-21 16:59] borisyankov commented on #459
We will consider some onboarding later, but closing this for now.

[2017-11-21 16:59] #459 closed

[2017-11-22 06:17] jainkuniya opened #1445 "Image upload."
- [x] Topic of uploaded image is always '(No topic)' irrespective of text present in topic field.

- [x] image quality https://chat.zulip.org/#narrow/stream/mobile/topic/Sending.20a.20picture.3A.20image.20quality

- [x] Not able to view image in light box just after uploading
https://chat.zulip.org/#narrow/stream/mobile/topic/Viewing.20a.20picture

[2017-11-22 06:17] jainkuniya commented on #1445
@zulipbot label "list"

[2017-11-22 07:18] jainkuniya commented on #275
I was going to implement this today :)
hmm.. this is not that much important :) lets focus of high value tasks 👍

[2017-11-22 07:45] jainkuniya commented on #186
For reactions we are showing `copyright` ©  (I thinks same as web), if reaction url is not valid.
But currently for images in messages (image or inline emoji), if url is not valid, blank space is shown.

[2017-11-23 19:32] Lyla-Fischer opened #1453 "No compose box for private messages"
There is no compose box for private messages, either replying to a PM or initiating a new PM.

[2017-11-24 08:25] borisyankov commented on #1453
Thanks for reporting this issue.
This is the first time I hear about it and I can not reproduce it.
Can you tell me what platform is this? Are you running the app from the app stores or compiling from the repo?

[2017-11-24 10:14] borisyankov commented on #1325
Closing as implemented.
The unread cards UI will provide an additional way to do this.

[2017-11-24 10:14] #1325 closed

[2017-11-24 18:45] jainkuniya opened #1455 "Compare message rendering on web and mobile app."
* Download app from [Play Store](https://play.google.com/store/apps/details?id=com.zulipmobile&hl=en) or [App Store](https://itunes.apple.com/us/app/zulip/id1203036395?mt=8).
* Open Setting tab in drawer and enable Split Message Text
 `Setting -> Diagnostics -> Debug -> Split Message Text`
* Come back to home, and scroll several message and compare rendering on messages on web and mobile app
* Rep

[2017-11-24 18:45] jainkuniya commented on #1455
@zulipbot label "gci"

[2017-11-24 19:03] jainkuniya opened #1456 "Try to find when back button does not work."
Sometimes on pressing back button on Android nothing happens. One need to press it multiple times. So this issues is to find is there any specific case/steps of reproduce it.

* Download app from [Play Store](https://play.google.com/store/apps/details?id=com.zulipmobile&hl=en) or [App Store](https://itunes.apple.com/us/app/zulip/id1203036395?mt=8).
* Play with app, switch between different screens

[2017-11-25 00:18] cdikibo commented on #1455
@zulipbot label "gci task"

[2017-11-25 00:19] cdikibo commented on #1455
@zulipbot "GCI task"

[2017-11-25 00:20] cdikibo commented on #1455
@zulipbot label "GCI task"

[2017-11-25 00:21] cdikibo commented on #1456
@zulipbot label "GCI task"

[2017-11-25 10:26] borisyankov commented on #1456
Hint: this is likely related to React Navigation and the fact that we have several navigations inside each other (Stack, Tabs, Drawer)

[2017-11-26 07:28] cdikibo commented on #1187
This seems like is a flexbox only issue. Could this possibly be an advanced GCI task? @timabbott

[2017-11-26 08:17] borisyankov commented on #1187
Yeah, it could. Adding the tag.

[2017-11-26 21:18] borisyankov commented on #1445
Closing as improved/fixed.

[2017-11-26 21:18] #1445 closed

[2017-11-27 11:14] vladimirzyulyaev opened #1463 "Authorization via LDAP in the mobile app Zulip"
Hello!
Please add authorization by login in your application (we use LDAP). Zulip server is installed locally.

You answer:
 Zulip 24 ноября 2017 г.
LDAP auth for the mobile app should just work (just use the password login form). If that's not working for you, can you report a bug at https://github.com/zulip/zulip-mobile/issues/new or chat with us on #mobile on chat.zulip.org so we can debug your

[2017-11-27 11:52] borisyankov commented on #1463
What happens if you enter the `cn` in the email field?
We should make the label not say only 'email' but I suspect it should work.

Also pinging @timabbott and @showell who know about the server-side part.

[2017-11-27 12:44] vladimirzyulyaev commented on #1463
When you enter cn goes "Enter a valid email address"

[2017-11-27 13:13] borisyankov commented on #1463
Oh, ooooh. Good point, this is not intentional.
We have considered the functionality, but we need to remove the validation from the field.
I was just preparing a new Beta with a subsequent Public release, so a fix for this will ship very soon.

[2017-11-27 14:51] Lyla-Fischer commented on #1453
It's on android, and I'm getting it from the Play Store.

[2017-11-27 14:54] Lyla-Fischer opened #1465 "Sometimes the app doesn't pick up messages"
Intermittently, on the Android app from the Play Store, I will check the messages in a particular stream, but I will only actually be able to see 0-8 of 8 reported unread messages (for example). It varies widely how many I am able to see, and there is nothing that I seem to be able to do in order to make it refresh and try to fetch the messages again.

[2017-11-27 14:57] Lyla-Fischer commented on #1453
Yep. It's the new one. And I'm on Android 7.0 Nougat

[2017-11-28 11:12] #1412 closed

[2017-11-29 02:24] yukiisbored opened #1469 "Message options cropped when using Android's split screen feature"
When using Android's split screen feature, the message options box cropped which makes it impossible to choose some of the options.

Screenshot:
![a](https://my.mixtape.moe/fmtztp.png)

Additional information:
Phone: Pixel XL (Marlin)
Android version: 8.0.0

[2017-11-29 02:27] yukiisbored opened #1470 "Merge Unreads/Subscribed/All streams"
It's a nuisance to have them separated, having just one panel that lists all of the streams in the order of streams with unreads, streams that you're subscribing, streams that you're not subscribing would be way better and more clear to the user.

[2017-11-29 02:30] yukiisbored opened #1471 "Build artifacts on CI"
By continuously building artifacts, developers and enthusiasts can test and use the latest "bleeding edge master" version right away. Which will make it easier to use each revisions of the application and give feedback.

An example of this would be something like Chromium Canary.

[2017-11-29 02:36] yukiisbored opened #1472 "Highlight messages on press"
It's confusing to know which messages you're pressing when you want to open the message options. A highlight when you're pressing them would be really helpful.

[2017-11-29 02:40] yukiisbored opened #1473 "Refresh on scroll off-shooting"
Having the option to refresh by scroll off-shooting would be really helpful. In case you're confused by what I mean on scroll off-shooting, On the Twitter app to refresh you purposely scroll downwards to refresh.