[2017-11-29 12:31] borisyankov commented on #1469
Fixing that issue, depends on this component:
https://github.com/expo/react-native-action-sheet

[2017-11-29 14:29] borisyankov commented on #1471
I agree nightly builds will be cool, but I was assuming it will be non-trivial to implement.
Do you have any idea what service supports mobile continuous delivery?

[2017-11-29 18:19] borisyankov commented on #1463
Hey Vladimir,
We just released a Beta version that fixes this issue (and I also pushed the same version to go public within few hours)
When you see version `3.3.43` available for you, give it a try and let me know if it works for you.

[2017-11-30 03:51] yukiisbored commented on #1471
@borisyankov The roughest way we can achieve this is by building it on Travis-CI and deploy the artifact to GitHub releases.
https://docs.travis-ci.com/user/deployment/releases/

[2017-11-30 05:46] kunall17 commented on #1315
This is fixed and can be closed!

[2017-11-30 06:56] vladimirzyulyaev commented on #1463
Awesome! I can now login using cn but there's a new problem. After login I can't see anything (users, symbols chat.) Instead, gray squares

[2017-11-30 07:13] timabbott commented on #1463
@vladimirzyulyaev can you post a screenshot easily?  That sorta sounds like some sort of network error connecting to your server after login.

[2017-11-30 07:29] vladimirzyulyaev commented on #1463
![1](https://user-images.githubusercontent.com/34025842/33418944-56f48df4-d5b9-11e7-9ba0-e14c88d750bf.jpg)
![2](https://user-images.githubusercontent.com/34025842/33418947-59bc554e-d5b9-11e7-97d1-6cfbd62f1437.jpg)

[2017-11-30 13:54] tthoma24 commented on #1315
In what commit was this fixed?
On Thu, Nov 30, 2017 at 12:46 AM Kunal Gupta <notifications@github.com>
wrote:

--
Sent from my iPhone

[2017-11-30 14:06] kunall17 commented on #1315
https://github.com/zulip/zulip-mobile/commit/427cf00267b3157693470ab0579be578841dafca

[2017-11-30 18:15] borisyankov commented on #1463
Hey, I just published a new version to the Play Store.
I could not reproduce your particular issue, though there is some chance that we fixed this (we fixed other things though).

If the issue still persists, we should try to debug it somehow.

[2017-12-01 05:36] kunall17 commented on #1294
Fixed, can be closed now!

[2017-12-01 06:42] vladimirzyulyaev commented on #1463
Unfortunately, not fixed. On the desktop version are all displayed.

[2017-12-01 07:24] thejwzhang opened #1481 "Language translations incorrect"
I'm not completely proficient at Spanish, but when I switch to the Spanish language, there are words that are definitely either wrong or not translated. See the screenshot below. "Yesterday" is not translated, and the word "memsaje" should be "mensaje" for "message". (@YagoGG If you have time, simply change this line: https://github.com/zulip/zulip-mobile/blob/55ab0bf94e82d04eb708b1066ccc8b0fa99ca

[2017-12-01 21:37] borisyankov commented on #1294
@kunall17 really? I am not sure it is yet?

[2017-12-02 09:02] roberthoenig commented on #1481
Thank you for the detailed report, @thejwzhang! A couple things:

* I don't consider "memsaje" -> "mensaje" an actual a bug in the software, but it's still a nice find! Mentioning @YagoGG, if he has time to update this :)

* if Spanish word for "message" is translated, but the Chinese word isn't, it means that the word is correctly tagged, but simply has not been translated yet. That's annoying, b

[2017-12-02 12:23] YagoGG commented on #1481
As Robert said, thank you for such a nice report @thejwzhang!

- I have just fixed the "memsaje" typo, good catch! It should appear correctly in the next release of the app.
- Regarding the strings that aren't translated, it's mostly what @roberthoenig mentioned: due to some technical difficulties, about a 30% of the mobile app strings aren't translated (I'm only talking about Spanish, don't know

[2017-12-02 12:52] borisyankov commented on #1481
Thanks, @roberthoenig @YagoGG
Apart from missing translations and occasional incorrect translations, there are two other issues that we can do more on the development side. So pinging @jainkuniya and @kunall17 to help too ;)

The first is easy: just missed strings to translate. I think there aren't many but will be great to find and fix them.

The second is more tricky: the stuff that is 'calculat

[2017-12-02 13:25] kunall17 commented on #1294
Haven't really noticed this one and I use android!

[2017-12-02 17:43] sniok commented on #1470
Definitely agree. Having one list for streams makes sense. Unreads should be just an indicator.

[2017-12-04 21:28] Ivche1337 opened #1494 "App crashes when trying to sign in with Github/Google"
## Reproduce the bug

- Enter server URL
![image](https://user-images.githubusercontent.com/19243015/33575793-163f9cbc-d93e-11e7-9665-56202061343f.png)
- Try to sign in with Google/Github
![image](https://user-images.githubusercontent.com/19243015/33575836-354ee518-d93e-11e7-9b84-cab549c25041.png)
- Crash
![image](https://user-images.githubusercontent.com/19243015/33575848-3e3c54a8-d93e-11e7-9731-

[2017-12-05 09:13] borisyankov commented on #1494
Thanks for the report.
This likely has something to do with the Android version, we rarely test on 4.x (though we support it)

[2017-12-06 05:55] kunall17 commented on #1470
The advantage of splitting them is the unread tab shows all the **unmuted** streams and **unmuted** topics with unreads
Subscribed shows all the streams (muted or unmuted) with unreads of streams which are subscribed
And All streams shows all the streams even if not subscribed, with the option of creating new stream.

If we merge all these tabs together there will be a lot of data to display in on

[2017-12-06 13:16] #1494 closed

[2017-12-06 14:10] yukiisbored commented on #1470
@kunall17 Honestly, it doesn't make any sense. It just adds more confusion. For example, why can't I open the stream on All streams?
I doubt I need a dedicated section just for the streams that I haven't subscribed with big switches.
It's more of a UX problem since most people used to applications like Mattermost and Slack where everything is merged and categorized neatly instead of separating the

[2017-12-06 14:10] yukiisbored commented on #1470
I don't mind if there's an option to switch between the two styles. I personally find it annoying and confusing to use.

[2017-12-06 18:04] kunall17 opened #1505 "Support editing the sent message's topic"
@zulipbot claim

[2017-12-06 18:06] borisyankov commented on #1470
@yukiisbored I think it really depends on how many of each you have.
For example, having 100 streams will be a bit unwieldy to list them all.
Merging read and unread makes a bit more sense, but leaving 'all' separate also does.
Rest assured, we agree that switching is suboptimal, but we are not yet sure what is the best solution (we actually have another cool thing that will soon be merged that wi

[2017-12-06 19:31] gnprice opened #1507 "Warn when server isn't set up for push notifications"
Many people installing a mobile app for a messaging service will assume that it'll get them push notifications -- they may see that as the main reason to install the mobile app.

Zulip does, of course, but only if the Zulip server they use has set up to [send push notifications through the bouncer](https://zulip.readthedocs.io/en/latest/production/mobile-push-notifications.html). And many servers

[2017-12-06 19:34] borisyankov commented on #1507
I am also not aware if there is a way to detect notification support.
Getting the information via `server_settings` makes a lot of sense.

[2017-12-07 19:09] anirudhjain75 opened #1511 "Dark Mode - Colour recommendation"
![screenshot_20171208-002827](https://user-images.githubusercontent.com/14249589/33733656-5bc09c54-dbb0-11e7-8440-9589bc141e68.png)
It would be better if the colour used would be White instead of Grey, So it would be much more visible.

Nexus 6
Android 7.1.1
Zulip Beta -> From App Store

[2017-12-07 19:21] anirudhjain75 opened #1512 "Startup Misbehaviour"
The App loading screen is Misbehaving on Startup
![giphy](https://user-images.githubusercontent.com/14249589/33734514-9d9cb304-dbb2-11e7-97e0-341e2ef5df6d.gif)

Device Information:
NEXUS 6
Android 7.1.1

[2017-12-07 20:42] borisyankov commented on #1512
@jainkuniya would you have a look at this? I think the latest React Native version changed something with border-radius styling.

[2017-12-07 20:51] jainkuniya commented on #1512
cool! will look into it.

[2017-12-07 20:51] jainkuniya commented on #1512
@zulipbot claim

[2017-12-09 15:22] #1512 closed

[2017-12-10 16:17] borisyankov commented on #1400
Closing as fixed.

[2017-12-10 16:17] #1400 closed

[2017-12-10 16:17] borisyankov commented on #936
Closing as resolved.
Feel free to reopen if you see it again.

[2017-12-10 16:17] #936 closed

[2017-12-10 16:30] Lyla-Fischer commented on #1453
I just discovered that you seem to be able to get to private messages in two different ways, and one of them has a compose box and the other one does not. If you go to the top messages mode, you don't get a compose box, and if you go to the bottom one, you do.
![tempfileforshare_20171210-112800](https://user-images.githubusercontent.com/549661/33806947-730a8bf6-dd9d-11e7-8c39-c1a945b2a32f.jpg)

[2017-12-10 21:47] borisyankov commented on #1453
Great that you added a screenshot! I think I know what is happening now ;)

When you click the 'private' messages on top, you get a list of private messages.
When you click the 'conversation' button on the bottom, you get a list of conversations you've had (but not the messages). If you click on any of these, you will narrow to that conversation and there will be the compose box.

Does that make s

[2017-12-10 23:05] timabbott commented on #1507
It would be easy to add the data to `server_settings`; just check whether `settings.PUSH_NOTIFICATION_BOUNCER_URL` is set.  Though the other approach to consider would be to have the response to the "register for push notifications" request sent to the local Zulip server return the state; I think that would be better, since it would correctly handle cases where the app was connected to a server an

[2017-12-12 12:31] borisyankov opened #1529 "Translate remaining text"
- [ ] Messages calculated change time ('10 days ago' etc.)
- [ ] LightboxActionSheet.js & other action sheets
- [ ] showToast & showErrorAlert

More?

[2017-12-12 14:04] jainkuniya opened #1531 "Create & Edit stream not working."
actions are attached to container but are called in screen.

Is someone working on this? or should I include them in https://github.com/zulip/zulip-mobile/pull/1519

[2017-12-12 17:30] borisyankov commented on #1531
It is pending another PR merge from me that will fix that.

[2017-12-13 04:58] kunall17 commented on #1529
@zulipbot claim

[2017-12-13 04:59] kunall17 commented on #1505
Fixed via aea2e46e7b52904fbbb8e81f6f5188e9672186a5

[2017-12-13 04:59] #1505 closed

[2017-12-13 07:27] aniketsingh03 opened #1540 "[BUG] Text overlap in sign in screen"
The text "Zulip Community" overlaps with the toolbar in the sign in screen.

![zulip](https://user-images.githubusercontent.com/22763626/33926677-13fdd572-e005-11e7-81bd-0aba4fe25353.png)

[2017-12-13 07:28] aniketsingh03 commented on #1540
@borisyankov can I work on this?

[2017-12-13 09:50] jainkuniya commented on #1540
Sure! Claim it via commenting `@zulipbot claim`

[2017-12-13 10:35] borisyankov commented on #1531
Closing as fixed.

[2017-12-13 10:35] #1531 closed

[2017-12-13 17:01] kunall17 commented on #1507
Let's do this in steps,

1. Store the result of `users/me/apns_device_token|android_gcm_reg_id` (API for registering push from app) if successful let's show the result in the notification settings page that the device is registered for the notifications

If not successful

1. Determine if server is configured for the push bouncer
1. If the server is configured then show a retry button otherwise sh

[2017-12-13 19:45] thejwzhang commented on #1455
@zulipbot claim

[2017-12-14 01:05] thejwzhang commented on #1455
Here are the issues I have discovered so far:
1. Links on the Android app are all split with one word per line:
https://chat.zulip.org/#narrow/stream/GCI.20tasks/subject/monkeytest.2Eio.20bot/near/373883
Desktop: ![image](https://user-images.githubusercontent.com/12479968/33970268-02573a58-e027-11e7-8526-dff2d4c10de5.png)
Mobile: ![image](https://user-images.githubusercontent.com/12479968/33970282

[2017-12-14 18:45] aniketsingh03 commented on #1540
@zulipbot claim

[2017-12-15 00:48] gnprice opened #1545 "Narrow to stream sometimes lands far in the past"
On 5.0.46 (yesterday's TestFlight release), I tried narrowing just now to the `#test here` stream on chat.zulip.org. I was completely caught up -- no unread messages either in that stream, or in any unmuted other stream. So I expected to see the latest messages in the stream.

Instead, I got this:

![](https://chat.zulip.org/user_uploads/2/83/JML91W52b-WszWq6p-Un6rbc/IMG_1671.PNG)

The messages ar

[2017-12-15 00:52] gnprice opened #1546 "Spinners don't spin, just freeze"
I've played with 5.0.46 for about an hour and a half today, and I think I've never seen one of our spinners spin. Instead I've seen them appear, then hang out in a frozen state. I remember spinners working nicely in the past, so this is a regression.

Here's a typical example, in the midst of scrolling up through messages:

![](https://chat.zulip.org/user_uploads/2/99/JU-06ShK_5eO-JgoLOWWkwUq/IMG_

[2017-12-15 00:56] gnprice opened #1547 "Keyboard stays open while trying to use nav drawer"
On 5.0.46 on iOS, I found myself in this state:

![](https://chat.zulip.org/user_uploads/2/2d/rY3hAhRRtQvpAkERblipVisb/IMG_1662.PNG)

The drawer is open and I'm trying to use it to navigate, but lots of it is covered up by the keyboard.

Even when I tap on different tabs at the top of the drawer, the drawer responds normally but the keyboard stays around.

I think I'd just composed a message when

[2017-12-15 01:00] gnprice opened #1548 "Message view suddenly jumps forward"
I was catching up (in 5.0.46 on iOS), and suddenly the message view was far forward of where I'd been.

If I remember right (this was about an hour ago), what actually first happened is that it blanked out, like this:
![](https://chat.zulip.org/user_uploads/2/ee/BB1bD6CPWMI8y0Oga6BglvSx/IMG_1665.PNG)
Then when I touched the screen to scroll slightly, it reappeared, and I was here:
![](https://chat

[2017-12-15 01:02] gnprice opened #1549 "Message view often blanks after sending a message"
On 5.0.46 on iOS, when I send a message, often the message view goes blank. It looks like this:
![](https://chat.zulip.org/user_uploads/2/f3/Ush7KkGxR7ikhq-2jDKL-uZV/IMG_1663.PNG)
When I touch and scroll slightly, the messages reappear.

[2017-12-15 02:56] gnprice commented on #1545
Just now I opened the same stream, after the app had started up again from scratch.

I got a screen with an "Apr 21" date-divider in it.

A few seconds later (after some more loading happened?), the view jumped, and the messages now in view turned out to be from May 1.

So it's not any fixed time in the past. I didn't go read any other messages from that era, so it also doesn't seem to be based on

[2017-12-15 06:11] Vamshi99 opened #1553 "Mention @username pops up while typing email address"
**Reproduce:**

- Try to type an email address like `testuser@gmail.com`, after you type `@`  you get related usernames.

**Expected:**

- It should not show any related usernames while typing email address.

**Actual**

- It shows related usernames while typing email address.

**App details:**

- Android 5.0.46

[2017-12-15 06:26] Vamshi99 opened #1554 "Usernames or full names aren't displayed properly"
Letter descendants in usernames or full names are not displayed properly. Can't see letters `y, g, j, q, p` completely, down part of those is missing.

![screenshot_2017-12-14-23-39-39-599_com zulipmobile](https://user-images.githubusercontent.com/20969586/34029364-29afd520-e18e-11e7-8910-2f101ab76cf4.png)

**App details:**
Android 5.0.46

[2017-12-15 06:33] Vamshi99 opened #1555 "Can't add emoji and see markers of emoji to a message."
Can't add emoji to a message until someone has already added emoji to the message, we can just increment count. Also, we can't see who added emoji to a message.

**App Details:**
Android 5.0.46

[2017-12-15 06:37] Vamshi99 opened #1556 "Show who is currently online"
This feature is already in zulip desktop application. This is a missing feature in mobile app.

**App Details**
Android 5.0.46

[2017-12-15 06:42] Vamshi99 opened #1557 "Can't delete draft messages"
Can't delete draft message until we send some message in that stream.

**App details**
Android 5.0.46

[2017-12-15 06:49] Vamshi99 opened #1558 "Can't get available topics in a stream."
**Reproduce:**
Move to subscribed streams tab.

**Expected:**

- Shows available topics in each stream.
- Option to move to a particular stream.

**Actual:**

- Doesn't shows available topics in each stream.

**App Details:**
Android 5.0.46

[2017-12-15 14:05] kunall17 commented on #1557
To delete it basically you can delete the message from the stream narrow, but it can be a pain!

Do you recommend some kind of settings screen of draft lists, or maybe to disable the drafts, or some other suggestion?

[2017-12-15 15:26] borisyankov commented on #1555
For the first part, we need to implement an emoji picker.
The second part, I suspect is not as important. We also need to figure out what the UI will look like.

[2017-12-15 15:34] borisyankov commented on #1557
Reproduced and working on it.

[2017-12-15 16:08] kunall17 commented on #1558
PR for this lying around here, https://github.com/zulip/zulip-mobile/pull/1398

Maybe we can do that if we all agree what do we exactly need to do to solve this?

[2017-12-15 22:22] borisyankov commented on #1549
@jainkuniya this might be related to the keyboard + scroll code you wrote. Could you have a look?

[2017-12-15 22:30] borisyankov commented on #1548
@jainkuniya this might also be related to the scroll code you wrote. But not sure.

[2017-12-15 23:09] #1557 closed

[2017-12-16 02:29] gnprice commented on #1315
I just tried this out on 5.0.46 (this week's TestFlight release), with some notifications I got today on chat.zulip.org (which has been running a version of the server with #7080 merged for a couple of days.)

It didn't work -- the app opened, but always in the same stream I'd been narrowed to before, never in the stream (or topic) or the PM conversation where the notification was from.

This was

[2017-12-16 04:14] borisyankov commented on #1315
@kunall17 I am going to release a new Beta on Monday. If you have time during the weekend to improve upon this, that would be the ideal case.
Also, while testing, feel free to create an issue tracking what needs to be done for this to work in all cases.

[2017-12-16 04:28] borisyankov commented on #1545
@gnprice I suspect this issue has nothing to do with the ScrollView-based message list that we discussed.

This is likely to persist and we better reproduce and determine the cause.

If you go to "Options => Debug => Distinguish unread messages" end enable it, you will notice visually what messages the app thinks are unread. (they will have pinkish background)

[2017-12-16 04:33] #1547 closed

[2017-12-16 04:53] borisyankov commented on #1557
Closing as fixed.

[2017-12-16 05:23] borisyankov commented on #1546
Message rendering blocks the spinners. (sad, these spinners are cool)
Keeping it open for now, will be mostly irrelevant when we merge the WebView message list.

[2017-12-16 14:25] jainkuniya opened #1568 "[Webview] Load more messages above & below on Scroll"
done with almost ~60% of work.

Will submit PR soon. :)

@zulipbot claim

[2017-12-16 14:55] jainkuniya commented on #1549
Main issue is, scrolling a list from JS. May be bug in react-native `scrollToEnd`/`scrollTo` methods (not completely sure, but yea) (or might be due to our custom scrollView native code is not updated).

The issue is, scrollView is scrolled but its views are not updated. Resulted in white screen (no child views are displayed). Then when little scroll is performed, re-calcuation takes place and chi

[2017-12-16 14:56] jainkuniya commented on #1549
This will be automatically solved once we are done with `WebView`

[2017-12-16 14:56] jainkuniya commented on #1549
@zulipbot claim

[2017-12-16 15:04] jainkuniya commented on #1548
One cause is, sometimes `keyboardWillShow` is called (unnecessary) with wrong keyboard height, which is then passed to scrolledView. As scroll value is not correct, scrollView interpret it as `0` and scrolls to top.

This will be automatically solved once we are done with `WebView` :)

will fix it @zulipbot claim

[2017-12-16 23:05] borisyankov commented on #1548
@jainkuniya make a judgment call on these issues.
If it is a simple fix, we will want to have it in the next release, that is due in 1-2 days.
If it is not a short job, we will indeed fix via the new implementation.

[2017-12-17 05:51] aswinmohanme commented on #1553
@zulipbot claim

[2017-12-17 08:02] kunall17 commented on #1507
PR sent https://github.com/zulip/zulip/pull/7810 for including if push bouncer supported in server_settings API

[2017-12-17 09:16] WYSIATI opened #1575 "The ios app is generally slow"
All are from ios app

1. When I open the app, it takes more than 10 seconds to fetch the latest messages, the message section stays blank until messages are rendered. Although the unread notification on the home page is instantly display.

2. If I have unread messages when I open the app, I would click the banner, but no response or sometimes super slow.

3. After a few clicks on different buttons

[2017-12-17 09:20] aswinmohanme commented on #1553
Should I edit the tests to reflect this change. Currently one test fails which expects the filter to return for for email address.

[2017-12-17 17:09] borisyankov commented on #1575
This is definitely not the usual behavior of the app. Please, help us identify your issue.

What iOS device are you using? (if it is old, maybe it is a performance issue we need to tackle)

And what server are you connecting to? (if it is your custom server, maybe the server just responds slowly?)

Any chance you are connecting via very slow network?

As a comparison, I just tested the app on a 3-

[2017-12-17 18:57] borisyankov commented on #1575
I have also tested on an iPhone 5, which is the slowest device we support, it was still 2-3 seconds boot. We need to figure out what is causing your particular slowdowns.

[2017-12-18 03:42] kunall17 commented on #1575
I tested the latest app on TestFlight on an iPhone **4s** today and the results were fine, under 4 seconds it loaded into the Chat screen.
Maybe this timing diagnostics in the settings screen screenshot would be a little help for this issue?

[2017-12-18 07:44] jainkuniya commented on #1548
Submitted #M1582.

[2017-12-18 11:29] jainkuniya opened #1583 "Make JS executable (postMessage working) on lower Android version."
- [ ] Android 8.0.0 (just check if it works)

- [x] Android 7.1.0 #1584

- [ ] Android 6.0.1 JS is executing but postMessage is not working.

- [ ] Android 4.4.4

- [ ] Android 4.3

- [ ] Android 4.2.2

- [ ] Android 4.1.1

[2017-12-18 11:43] jainkuniya opened #1586 "[WebView] Improve layout on lower Android versions."
- [ ] Android 4.1.1

- [ ] Android 4.2.2

- [ ] Android 4.1.1
<img width="474" alt="screen shot 2017-12-18 at 2 54 41 pm" src="https://user-images.githubusercontent.com/18511177/34104286-d32e3cb6-e415-11e7-9812-7eb9bea2ca94.png">

- [ ] Android 4.2.2
<img width="459" alt="screen shot 2017-12-18 at 5 10 25 pm" src="https://user-images.githubusercontent.com/18511177/34104439-767051c0-e416-11e7-8843-

[2017-12-18 14:19] borisyankov commented on #1586
It is good to keep this in mind, but don't focus on this for now.
We need to make sure the message list works perfectly on recent hardware before tackling these.

[2017-12-18 14:58] borisyankov opened #1587 "Support for extra renderings (by adding the appropriate CSS)"
- [ ] Code fromatting
- [ ] TeX (via Katex)
- [ ] More?

[2017-12-18 15:12] borisyankov opened #1588 "Instant and animated positioning in the web message list"

[2017-12-18 15:17] borisyankov opened #1589 "Emoji support for web message list"
- [x] inside messages rendered
- [x] inside reactions

[2017-12-18 15:18] borisyankov commented on #1589
@jainkuniya you might be interested in this one? :)

[2017-12-18 15:18] borisyankov opened #1590 "Long press for web message list"

[2017-12-18 15:22] jainkuniya commented on #1589
yea! sure

@zulipbot claim

[2017-12-18 15:24] borisyankov opened #1591 "Update data inside web view"
- [x] replace completely
- [x] update messages on changed data
- [x] preserve position on loading previous
- [x] ensure correct anchoring

[2017-12-18 15:38] jainkuniya commented on #1591
There are some issues with completely replacing webView data. So can we split checkbox for Android & iOS.

(Somewhere I have read that on Android webView will not update if it content contains `#` )
https://github.com/facebook/react-native/issues/13574

[2017-12-18 22:26] borisyankov commented on #1393
Closing that in favor of separately opened issues.

[2017-12-18 22:26] #1393 closed

[2017-12-19 00:11] gnprice commented on #1507
It's actually a bit more complicated than this:
* That setting is actually unset (left at the default of None) on a Zulip server that itself serves as the bouncer -- notably, zulipchat.com. So to do this "is there any configuration" check, we'd want to also look for the APNs and GCM settings.
* Even with the most complete check we can do from looking at settings, I worry a bit about a server admin

[2017-12-20 11:30] borisyankov opened #1600 "[Android] WebView message list sends multiple messages"

[2017-12-20 11:48] borisyankov opened #1601 "Navigate to narrows via narrow links inside Message List Web"

[2017-12-20 13:17] jainkuniya commented on #1601
@zulipbot claim

[2017-12-20 18:13] borisyankov commented on #1589
@jainkuniya have you started on this? Because if not, I researched it and am starting on it.

[2017-12-20 18:22] borisyankov opened #1605 "Send 'messages read' event for web message list"

[2017-12-20 19:15] jainkuniya opened #1608 "webView: Improve fetch older & fetch newer logic."
Make it more flexible and call them on reaching near to top or bottom.

For future aspect, not on a top priority.

[2017-12-20 20:02] #1608 closed

[2017-12-20 20:16] borisyankov opened #1611 "Implement a more slick 'pull to refresh' behavior for the loading spinner"

[2017-12-21 22:58] borisyankov commented on #1294
To be fixed via WebMessageList.

[2017-12-21 22:59] borisyankov commented on #1315
@kunall17 do add details on what is working already and what needs to be done.

[2017-12-21 23:00] borisyankov commented on #1313
Closing as implemented and shipped.

[2017-12-21 23:00] #1313 closed

[2017-12-21 23:01] borisyankov commented on #729
Closing as implemented and shipped.

[2017-12-21 23:01] #729 closed

[2017-12-21 23:01] borisyankov commented on #606
Closing as fixed.

[2017-12-21 23:01] #606 closed

[2017-12-22 00:02] cdikibo commented on #616
What has changed since August?
- What type of API and what elements need to be selected?

I'll probably have more questions later...

[2017-12-22 01:34] borisyankov commented on #1589
Closing as implemented.

[2017-12-22 01:34] #1589 closed

[2017-12-22 02:56] kunall17 commented on #616
These test's got removed from the travis CI because we are not covering the main the chat screen for now and welcome, realm, authentication screens are tested from it (which also needs update)

[2017-12-22 06:52] borisyankov commented on #1611
Closing, as even Facebook Messenger does not have this. Super-low priority.

[2017-12-22 06:52] #1611 closed

[2017-12-22 13:59] jainkuniya opened #1623 "webView: render realm emojis in reactions."
@zulipbot claim

[2017-12-23 16:17] borisyankov commented on #1600
Looks to be fixed now.

[2017-12-23 16:17] #1600 closed

[2017-12-24 23:47] thejwzhang commented on #1456
@zulipbot claim

[2017-12-25 00:00] thejwzhang commented on #1456
I've noticed a few areas where the back button does not work as expected on the Android app:

1. This isn't exactly related to the original issue, but hitting the navigation bar back button in any stream/topic exits the app and goes into the home screen. Instead, I think it should go back to the last screen you visited. For example, if you start the app in a stream and then you click the "Starred"

[2017-12-25 06:06] thejwzhang opened #1629 "Rename Sign in to Log in"
Match with the Zulip web app (https://github.com/zulip/zulip/issues/7884).
Rename all instances of sign in (and related words) to log in.
Also rename "Register" to "Sign up"

[2017-12-25 09:20] jainkuniya commented on #1456
nice finds @thejwzhang.
First one is a feature request :) Second & third are good finds 👍
I am not able to get what you mean in fourth one. Can you please explain it a bit more (or even share a video/GIF of it)?

[2017-12-25 12:38] MadElf1337 opened #1631 "[BUG] Stream Side-Menu closes itself while typing in the search box(Mobile Web)."
* Whenever a person tries to search for a stream in the search box provided in the streams' side menu in
   mobile version of chat.zulip.org, the menu closes itself.

## Instructions For Reproduction:-
1. Go to https://chat.zulip.org from the mobile browser.
2. Login with valid credentials.
3. Open the side-menu of streams.
4. Tap on the search box to enable keyboard.

* After following these step

[2017-12-25 16:50] tommyip commented on #1631
Hey @MadElf1337 this repo is for the react native app. What you are showing is the webapp in a mobile browser, can you move this to the zulip/zulip repo?

[2017-12-25 17:23] thejwzhang commented on #1456
Thanks!
For the fourth one, I've created a video to hopefully demonstrate what is going on.
In this video, I try the task twice with my taps shown. I hold down a message, then a menu comes up with a "Share" option. After tapping the "Share" option, the Android share menu comes up. When I tap the back button to exit that menu, it goes back to the message screen (it goes back 2 layers). It should si

[2017-12-25 19:23] borisyankov commented on #1629
That is a good point. We need the terminology to match.
I did some analysis of what Google and Facebook are using to come up with these, but we can change them or change the ones in the web app. @rishig what do you think?

[2017-12-25 19:31] jainkuniya commented on #1456
Not sure. if this is a bug or not. BTW I am in favour of current behaviour.

[2017-12-25 19:42] rishig commented on #1629
There was a long discussion at https://chat.zulip.org/#narrow/stream/design/topic/.22register.22

It was inconclusive on Log in vs Sign in, but coming back now to our webapp registration page at least, I think "Log in" is a good choice.

[2017-12-26 00:38] MadElf1337 commented on #1631
This issue was moved to zulip/zulip#7896

[2017-12-26 00:38] #1631 closed

[2017-12-26 03:57] borisyankov opened #1634 "Render 'Typing users' in the web message list"

[2017-12-26 04:22] borisyankov opened #1635 "Night mode support in web message list"

[2017-12-26 04:24] borisyankov commented on #1601
Closing as implemented.

[2017-12-26 04:24] #1601 closed

[2017-12-26 22:45] borisyankov commented on #1456
I consider these more or less as bugs.
For point 1 we already have a thing ready that will be finished up and merged in few weeks (#1312)
For points 2 and 3 - I think it is either a bug in React Navigation or something similar (I did update it in the last release, but it is still there)
Point 4 - yeah, I would expect it to work exactly as you describe it, not sure what we can do about it.

@jainku

[2017-12-26 23:03] borisyankov commented on #1588
Closing as implemented.

[2017-12-26 23:03] #1588 closed

[2017-12-27 04:37] borisyankov opened #1641 "Animate scrolling, appearing and other transitions"

[2017-12-27 05:05] borisyankov commented on #1634
Closing as implemented.

[2017-12-27 05:05] #1634 closed

[2017-12-27 05:07] borisyankov opened #1642 "Keyboard offsets the web message list"

[2017-12-27 17:19] jainkuniya opened #1645 "[webView] Clicking on headers in stream narrow doesn't narrow to topic."

[2017-12-27 17:19] jainkuniya commented on #1645
@zulipbot claim

[2017-12-27 17:58] jainkuniya opened #1647 "Misalignment of stream icon, name in Stream Title."
<img width="396" alt="screen shot 2017-12-27 at 11 23 57 pm" src="https://user-images.githubusercontent.com/18511177/34389043-54c8f556-eb5d-11e7-9421-2c287148d0d2.png">
<img width="396" alt="screen shot 2017-12-27 at 11 24 13 pm" src="https://user-images.githubusercontent.com/18511177/34389044-5513923c-eb5d-11e7-8eb2-9d938d6e2996.png">
<img width="396" alt="screen shot 2017-12-27 at 11 24 24 pm" s

[2017-12-27 17:58] jainkuniya commented on #1647
@zulipbot claim

[2017-12-27 18:39] jainkuniya opened #1649 "webView: Links are opened in webView instead of browser/custom tabs."
<img width="397" alt="screen shot 2017-12-27 at 11 41 01 pm" src="https://user-images.githubusercontent.com/18511177/34389991-e3d4574a-eb62-11e7-9ae7-adb8ffeda4d4.png">

[2017-12-27 18:41] jainkuniya commented on #1649
@zulipbot claim

[2017-12-27 21:52] #1647 closed

[2017-12-27 22:16] #1645 closed

[2017-12-27 22:18] #1553 closed

[2017-12-27 22:30] #1649 closed

[2017-12-28 14:50] jainkuniya commented on #1587
@zulipbot claim

[2017-12-28 17:08] yashovardhanagrawal commented on #1629
I want to work on this issue

can I get it assigned?

[2017-12-28 17:11] kunall17 commented on #1629
@yashovardhanagrawal sure, comment to get it assigned

(without the space in Zulip and bot)

[2017-12-28 17:13] synicalsyntax commented on #1629
@kunall17 For future reference you can reference commands in codeblocks (inline or multi), like `@zulipbot claim` 👍

[2017-12-29 19:40] jainkuniya commented on #1456
@zulipbot claim

[2017-12-29 20:00] jainkuniya commented on #1456
Gone through `react-navigation` library & finally found the cause of #M1456 & submitted PR #M1657 :)

[2017-12-29 23:51] #1456 closed

[2017-12-30 09:22] borisyankov commented on #1642
@jainkuniya consider this high priority.

[2017-12-30 09:23] borisyankov opened #1660 "Clicking at a link a member posted zulip app crashes. Clicking on message and trying to reply again the app crashes."
Clicking on a link a member posted zulip app crashes. Clicking on message and trying to reply again the app crashes.
(Reported on Huawei Mate 8, Android 7.x, possibly happens on any version and device)

[2017-12-30 19:53] jainkuniya opened #1665 "Crash when opening images."
https://chat.zulip.org/#narrow/stream/mobile/topic/Crash.20when.20opening.20images

[2017-12-30 19:53] jainkuniya commented on #1665
@zulipbot claim

[2017-12-30 20:16] jainkuniya opened #1666 "Text is not completely visible in ActionSheet"
![screenshot_20171231-013926](https://user-images.githubusercontent.com/18511177/34457080-5b9e1e1c-edcc-11e7-85bb-b95242f3b078.jpg)

[2017-12-30 20:31] jainkuniya opened #1667 "Make app layout compatible with split screen use."
Current behaviour:
![screenshot_20171230-120713](https://user-images.githubusercontent.com/18511177/34457156-652afe76-edce-11e7-8bbd-665e9af7d937.png)

https://chat.zulip.org/#narrow/stream/mobile/subject/Crash.20when.20opening.20images/near/417963

[2017-12-30 21:01] jainkuniya commented on #1590
@zulipbot claim

[2017-12-30 21:02] pulkonet commented on #1666
@zulipbot claim

[2017-12-30 21:11] pulkonet commented on #1666
@zulipbot claim

[2017-12-30 23:48] #1665 closed

[2017-12-30 23:54] pulkonet commented on #1666
@zulipbot claim

[2017-12-31 06:49] borisyankov commented on #1635
Closing as implemented by #1670

[2017-12-31 06:49] #1635 closed

[2017-12-31 16:10] jainkuniya opened #1672 "webView: make text un-selectable."
Current
<img width="399" alt="screen shot 2017-12-31 at 9 36 36 pm" src="https://user-images.githubusercontent.com/18511177/34462879-29685cc6-ee73-11e7-8af0-3cfee9af9a87.png">
<img width="291" alt="screen shot 2017-12-31 at 9 38 38 pm" src="https://user-images.githubusercontent.com/18511177/34462880-2a09c21e-ee73-11e7-9987-786215a9ef5e.png">

[2017-12-31 16:11] jainkuniya commented on #1672
@zulipbot claim

[2017-12-31 16:33] gauthamzz opened #1674 "Ios app unread messages not updating"
In ios unread messages don't come. Everytime i need to go to home to see the unread messages.

[2018-01-01 04:32] borisyankov commented on #1674
Hey, are you using the app from the App Store or are you a Beta tester?

[2018-01-01 04:39] #1642 closed

[2018-01-01 04:48] #1672 closed

[2018-01-01 06:06] gauthamzz commented on #1674
App store.

The app crashes also when I click on reply to any.
iOS 11 iPhone 6

[2018-01-01 07:41] borisyankov commented on #1674
Thanks for reporting it. Sounds quite serious.
We will make sure to resolve this quickly.

[2018-01-01 07:52] #443 closed

[2018-01-01 07:53] borisyankov commented on #232
Closing as not relevant with web view rendering.

[2018-01-01 07:53] #232 closed

[2018-01-01 08:04] borisyankov commented on #1660
@jainkuniya was this the one you fixed?

[2018-01-01 23:06] Be-ing commented on #1270
Until this happens, it would be nice if https://zulipchat.com/apps/android mentioned that the APK files can be downloaded from https://github.com/zulip/zulip-mobile/releases

[2018-01-03 10:38] ViRu-ThE-ViRuS opened #1684 "Android App: Unresponsive app when clicking on `mark topic as read`."
When I open the app and click on the top banner saying `mark all as read`, the app comes to a halt. I often have to reopen the app.

Platform: Android 6.0.1 Marshmallow
Phone: Moto G Turbo Edition
Network: 4g Mobile Data (~16-20 mbps usually)

[2018-01-03 10:41] ViRu-ThE-ViRuS opened #1685 "UI Bug in Android App: Misalignment of Hashtag and Topic Label"
![a](https://user-images.githubusercontent.com/16427330/34517298-acfa3086-f0a4-11e7-8327-9211f67d4fbd.png)
The hashtag and the topic label are not horizontally level. This is a very minor thing, but it gives the user the feeling of lack of finesse.

[2018-01-03 10:43] ViRu-ThE-ViRuS opened #1686 "UI Bug in Android App: Logo Overlap."
![b](https://user-images.githubusercontent.com/16427330/34517376-f5a9477c-f0a4-11e7-828f-722e2d8042e4.png)
The Zulip log is overlapping with text (near the top of the screenshot) as seen. The UI bug can be easily reproduced when the topic is just a few messages (one scroll) long. You can also see this bug when you scroll to the top of the topic (above the first message).

[2018-01-03 10:46] ViRu-ThE-ViRuS opened #1687 "Android App: Non Intuitive Flow when sending emoji reactions to a message."
I have been using the app for quite a while now. I still haven't been able to figure out how to send emoji reactions to a message. I am only able to do so when someone has already sent one. The most intuitive way to do this would have been to just long click on the message and see the option pop up. This is not really a bug, but making this change will surely improve the new user's experience.

[2018-01-03 12:53] jainkuniya commented on #1687
Nice find @ViRu-ThE-ViRuS
But this is possibly duplicate of https://github.com/zulip/zulip-mobile/issues/1555
Soon we will he having emoji picker 👍 (I have done some work on it https://github.com/zulip/zulip-mobile/pull/646, but is quite outdated. Will rework soon)

[2018-01-03 12:55] ViRu-ThE-ViRuS commented on #1687
@jainkuniya Thanks for the response. Closing here.

[2018-01-03 12:55] #1687 closed

[2018-01-03 12:56] jainkuniya commented on #1686
Seems to a regressions. Thanks for the report 👍
(will be automatically fixed in our new webView rendering)

[2018-01-03 12:57] ViRu-ThE-ViRuS commented on #1686
@jainkuniya Good to know!

[2018-01-03 12:58] jainkuniya commented on #1684
@ViRu-ThE-ViRuS Thanks for the report.
Just curious to know whether ANR or crash dialog is show or not?

[2018-01-03 13:01] jainkuniya commented on #1685
Good find @ViRu-ThE-ViRuS, it is issue in our current release.
Also it got fixed by https://github.com/zulip/zulip-mobile/pull/1648, so we can solve this one :)

[2018-01-03 13:20] ViRu-ThE-ViRuS commented on #1684
no. It just stopped responding.

[2018-01-03 13:43] #1685 closed

[2018-01-03 14:02] borisyankov commented on #1684
Did you have a lot of messages that were marked as read?
It is possible that this is some performance issue, though I haven't encountered it myself.

[2018-01-03 14:18] borisyankov opened #1689 "Message loading state for webview"

[2018-01-03 14:31] ViRu-ThE-ViRuS commented on #1684
28 new messages. The network is fast and the phone is also mid-spec. Just google chrome (1 tab) was running in the background.

[2018-01-03 14:51] borisyankov commented on #1684
Thanks. It is something else then. We'll need to reproduce first, but will likely not be hard to fix.

[2018-01-03 18:10] borisyankov commented on #1689
Closing as implemented.

[2018-01-03 18:10] #1689 closed

[2018-01-05 11:27] jainkuniya opened #1697 "webView: white space is visible when no message are unread."
@zulipbot claim

[2018-01-05 11:28] jainkuniya commented on #1697
<img width="301" alt="screen shot 2018-01-05 at 4 57 20 pm" src="https://user-images.githubusercontent.com/18511177/34607439-9f7b521e-f239-11e7-9eeb-8f9a4f400616.png">

[2018-01-05 18:39] jainkuniya opened #1699 "webView: Limit avatar touchable area."
@zulipbot claim

[2018-01-05 18:41] jainkuniya opened #1700 "webView: Do not render empty avatar for brief message."
<img width="391" alt="screen shot 2018-01-06 at 12 10 26 am" src="https://user-images.githubusercontent.com/18511177/34623177-2c79ba84-f276-11e7-9c88-cc17808d57b5.png">

@zulipbot claim

[2018-01-05 18:42] jainkuniya commented on #1699
<img width="392" alt="screen shot 2018-01-06 at 12 08 58 am" src="https://user-images.githubusercontent.com/18511177/34623211-41605a66-f276-11e7-936a-f57985330929.png">

[2018-01-05 19:02] borisyankov commented on #1700
Why not? Definitely not a priority.

[2018-01-06 14:02] #1697 closed

[2018-01-06 14:10] S2606 commented on #1629
Can somebody please guide me how to claim this issue in zulip?I am kinda new to this

[2018-01-06 14:17] yashovardhanagrawal commented on #1629
I saw the zulip chat regarding this issue... it still seems unclear whether this issue needs to be implemented or not :confused:
otherwise I would have claimed it

[2018-01-06 16:24] borisyankov opened #1707 "Use webview in search results"

[2018-01-06 17:20] jainkuniya commented on #1707
@zulipbot claim

[2018-01-06 17:28] borisyankov commented on #1453
Closing as resolved/not a bug.

[2018-01-06 17:28] #1453 closed

[2018-01-06 18:02] jainkuniya opened #1709 "Change server URL input label/hint on RealmScreen."
We should make the wording here similar to the electron app.
Something like:
"Register or log in to a Zulip organization to get started"

"URL of Zulip organization"
[input box with placeholder of: acme.zulipchat.com or chat.acme.com], this should accept with or without http, with or without /register or /login at the end.

Or [create a new organization on zulipchat.com] (link goes to zulipchat.co

[2018-01-06 18:08] hackerkid commented on #1709
@zulipbot label "GCI task"

[2018-01-06 19:16] skunkmb commented on #1709
@zulipbot claim

[2018-01-07 15:21] Chua19 opened #1712 "The "Settings Page" Link from the Welcome Bot crashes the app"
Whenever you try to open the "Settings page" from the link the Welcome Bot sends you, the entire app crashes. The other links that the bot gives seem to work fine, it's just the Settings link causing trouble.

![home](https://user-images.githubusercontent.com/17691779/34650767-45023ba2-f394-11e7-9899-47ca3dd2b0d9.png)

[2018-01-07 18:02] #1700 closed

[2018-01-07 19:12] borisyankov commented on #1712
Thank you for reporting this issue.
I did fix it and the next release of the app will work correctly.

[2018-01-07 19:17] #1712 closed

[2018-01-08 08:34] kunall17 commented on #1558
@jainkuniya @borisyankov We can show the topics in the stream info screen from the toolbar as well?

[2018-01-08 11:05] borisyankov opened #1716 "Consider using WKWebView"
Using `WKWebView` instead of `UIWebView` on iOS would be a big improvement.

We should either wait for this to be merged or try using it before that:
https://github.com/facebook/react-native/pull/16792

[2018-01-08 11:11] #1699 closed

[2018-01-11 09:13] pranay414 opened #1732 "Splash screen spinner not spinning"
I opened the Zulip app and found that splash screen spinner is not spinning.
![zulip](https://user-images.githubusercontent.com/16045021/34817370-be9f3acc-f6dd-11e7-970d-b8ebfdfe2b29.jpeg)

[2018-01-12 02:09] julian-weinert commented on #1190
Thanks for the hint to this in your mail, Greg!

Reading through your original proposal I see the current idea would be to add a notification extension. This is indeed a nice solution, but I think it could be done much more simple by loading the data from the on-premise server directly.

There would be no need for an extension or further de-/encryption. When the server sends a "content-available"

[2018-01-12 08:51] borisyankov commented on #1591
Closing as implemented.

[2018-01-12 08:51] #1591 closed

[2018-01-12 10:11] borisyankov commented on #1190
@julian-weinert this needs to work on Android too. (and older versions of iOS and older Android).
Do you know if this would work everywhere?

[2018-01-13 14:39] kunall17 opened #1744 "Some emojis which are not updated results in undefined"
This is an example of `clinking_glasses` emoji name

<img width="229" alt="screen shot 2018-01-13 at 8 08 42 pm" src="https://user-images.githubusercontent.com/12700799/34906990-94d9d438-f89d-11e7-9a2f-3363b339dcf7.png">

[2018-01-13 17:10] borisyankov commented on #1744
This will be resolved with #1698

[2018-01-14 02:57] infinitelooped opened #1746 "iOS: colored emojis sent as the base emoji with a color icon next to it"
Currently, there is no support for sending actual colored emojis. If you send a colored emoji, it will be displayed as the base emoji, and then a color, and then a male/female gender icon (if the emoji has a gender). See the screenshot below:

![](https://user-images.githubusercontent.com/24468110/34912302-8282bf2a-f910-11e7-968b-182410deeb53.jpg)

I don't know if this is intended or not, but I th

[2018-01-14 17:29] kunall17 commented on #1744
Nope, `clinking_glasses` is not a realm emoji!

[2018-01-14 19:24] borisyankov commented on #1744
Then I am not sure what you mean.
This is the updated list of supported emojis:
https://github.com/zulip/zulip/blob/master/tools/setup/emoji/emoji_map.json
and it isn't there too.

[2018-01-14 21:33] julian-weinert commented on #1190
@borisyankov For older versions of iOS yes.
The original proposal would work from iOS10 upwards, my solution should run down to 8.
Probably not down to the oldest versions, but without pushing new features, we would still be using parallel printer ports.

Unfortunately, I don't know, how Android works.
But if it's not possible on Android, then the original approach wouldn't work either.
Actually I

[2018-01-15 20:26] timabbott commented on #1744
@borisyankov we have a new emoji system using data from iamcal ( see details http://zulip.readthedocs.io/en/latest/subsystems/emoji.html#tooling) -- the old `emoji_map.json` is not well-maintained upstream and thus doesn't have newer emoji names.  @HarshitOnGitHub can provide details but I think you want to be downloading copies of the `static/generated/emoji/emoji_codes.js` file from `static/gene

[2018-01-15 20:27] timabbott commented on #1746
Web does not support this yet, though there's an open issue.

[2018-01-15 21:25] borisyankov commented on #1746
I suspect it might be an issue adding this, since the sprite sheet will need to contain a lot more images?

[2018-01-15 21:42] borisyankov commented on #1744
Oh, I knew about the iamcal ones, but didn't know the `emoji_map` was the old data.
Shouldn't be hard to upgrade this.

[2018-01-16 16:34] timabbott commented on #1746
I think the standard sprite sheets we're using on web have images for all the skin colors, but I'm not totally sure, so we'll need to look.  Shouldn't be a big problem on mobile, at least, since we can just include all the images in the app distribution.

(BTW, another related feature we have on web that's supported in large part by the iamcal data set and we should eventually port to mobile is di

[2018-01-16 22:31] borisyankov commented on #1746
@timabbott This is a recent discussion, that you might have not seen:
https://chat.zulip.org/#narrow/stream/design/topic/emoji.20rendering

It seems we have the different skin color images, so it is a matter of supporting them.

[2018-01-16 23:56] timabbott commented on #1746
Great, glad that's confirmed.  Read that discussion just now: sounds like someone dealt with opening an issue for switching to the 64x64 version of the sprite sheets.  https://github.com/zulip/zulip/issues/992 is the issue for this feature on web; one of our older open ones :)

[2018-01-17 03:39] gnprice commented on #1190
Thanks @julian-weinert ! The reason I think I'd prefer to include the details with the notification payload is that it allows the notification to render without any additional network requests. That might not be a big deal when on a fast, reliable Internet connection; but a lot of places a phone can go don't always have a good connection, and I think it's important to design apps to work gracefull

[2018-01-17 09:54] borisyankov commented on #1190
@gnprice I have discussed this with Tim before, the percentage game is dangerous.
Looking at 92% support is low, if you think about it. That means 8% of people can not use the app. This is not 8% of teams, but of individual users. And a team is comprised of multiple users.
That might mean almost every organization having several people with incompatible devices.

[2018-01-17 18:54] borisyankov commented on #1190
Cool. I agree with you too. So something like 'to take advantage fully of our security features, use iOS 10+ and Android 7+' sounds reasonable.

[2018-01-17 19:14] dhruvdutt commented on #1629
@zulipbot claim

[2018-01-17 19:25] yashovardhanagrawal commented on #393
@zulipbot claim

[2018-01-17 19:28] yashovardhanagrawal commented on #528
@zulipbot claim

[2018-01-17 19:32] dhruvdutt commented on #1732
Hey, @pranay414
Can you be a little specific about your iOS version and the medium you used to install Zulip mobile app?
Is this happening at the time of initial loading?

[2018-01-17 19:42] dhruvdutt commented on #1554
I think we can close this as it should be fixed in web view.
(Based on the discussion in [#1560](https://github.com/zulip/zulip-mobile/pull/1560))

[2018-01-17 21:16] borisyankov commented on #1554
Indeed, it will soon be fixed.
@Vamshi99 thanks for reporting it though. Do not hesitate to report more bugs you find. 👍

[2018-01-17 21:17] #1554 closed

[2018-01-17 21:28] borisyankov commented on #1732
The latest public version contains a new spinner that stops spinning if the UI thread is blocked.
I did rework the spinner, fixing that, and it is in `master` (but not deployed yet).
Closing as resolved.

[2018-01-17 21:28] #1732 closed

[2018-01-17 21:29] borisyankov commented on #393
@yashovardhanagrawal with the recent additions of the Diagnostics screen, I think this issue is no longer relevant. Closing it.

[2018-01-17 21:29] #393 closed

[2018-01-17 21:29] gnprice opened #1761 "SyntaxError on home view at first install"
On setting up the app (on a fresh phone) and logging in for the first time, I get this screen:
![](https://chat.zulip.org/user_uploads/2/8e/fokL8gs8ecPGsH2SvAMoZvua/Screenshot_20180117-132316.png)
The error message is "Uncaught SyntaxError: Unexpected identifier".

Going to a stream works normally; after doing that and sending a message I returned to the home view, and it loaded fine.

This is on

[2018-01-18 08:00] dhruvdutt commented on #1146
@zulipbot claim

[2018-01-18 08:00] dhruvdutt commented on #1146
@borisyankov Any update to keep in mind while working on this?

[2018-01-18 10:17] borisyankov commented on #1146
Treat these as two separate tasks.

The compression idea might work or it might not work.
Make sure to compare the timings in the Diagnostics screen before and after.

[2018-01-19 20:41] borisyankov commented on #1605
Closing as implemented.

[2018-01-19 20:49] #1605 closed

[2018-01-19 21:04] borisyankov commented on #1583
Before releasing, we should test on older Androids, but with the `es3.js` file I suspect some of the issues will be resolved automatically.

[2018-01-19 21:21] timabbott commented on #1190
Just wanted to add that I'm 100% on board with that plan as well.

[2018-01-19 22:34] borisyankov commented on #1761
I found a couple of issues that are potentially causing this.
The fix will be released with next Beta version (tomorrow likely).

[2018-01-20 14:26] saikat041 commented on #1556
I want to take this issue

[2018-01-20 17:02] borisyankov commented on #1556
I think this was a bug that got fixed.
@Vamshi99 if you had something else in mind, please elaborate.
For now, closing this issue.

[2018-01-20 17:02] #1556 closed

[2018-01-21 06:02] Vamshi99 commented on #1556
@borisyankov I don't think it is fixed, I can't see who is online in the server from mobile app.
![zulip](https://user-images.githubusercontent.com/20969586/35191337-b4fd1a02-fe9e-11e7-9084-889f1c58ae51.PNG)
I want ^ this type of option.

[2018-01-21 12:02] #1629 closed

[2018-01-21 12:53] borisyankov commented on #1556
Hey, we are showing a small dot next to the user's avatar.
This was done just for the 'all users' list though (in Search people), and not for the conversation list (the first one).
I just added it in #1771 and it will be available in the next release.

Thanks for the help with this!

[2018-01-21 13:35] dhruvdutt opened #1772 "Application starts and exits"
I'm trying to set up the app locally for development with an Android emulator. I ran the following command, the app starts and exits with following error:

`yarn run android-max` or `react-native run-android`

![image](https://user-images.githubusercontent.com/5961873/35194679-09a7f9da-fedd-11e7-9c06-d367e714e952.png)

I'm also running, `yarn start` or `react-native start` in a separate terminal t

[2018-01-21 14:24] #1772 closed

[2018-01-21 17:08] Vamshi99 opened #1773 "/me command doesn't work in mobile app"
**App Version:**
Android 6.1.48

[2018-01-21 17:30] borisyankov commented on #1773
TBH I am not even sure what this command does ;)

[2018-01-21 19:23] borisyankov commented on #1707
Closing as implemented.

[2018-01-21 19:23] #1707 closed

[2018-01-21 19:41] harshitbansal05 commented on #1540
@zulipbot claim

[2018-01-22 00:26] timabbott commented on #1773
@borisyankov it just changes the formatting.  Try sending `/me loves chocolate" on web, and see how the sender name appears differently.

[2018-01-22 20:15] leksyib commented on #1686
Noticed this too.

[2018-01-22 23:17] #1195 closed

[2018-01-23 05:56] dhruvdutt commented on #1773
Can I do this?

[2018-01-23 06:00] umairwaheed commented on #1190
Let me add a v2 (version 2) endpoint for registering a device. Any device registered through this endpoint will be expected to work with encrypted notifications, while any device registered through v1 endpoint will continue to work as before. I think this is the only thing left in https://github.com/zulip/zulip/pull/8076 for a seamless transition.

[2018-01-23 06:59] dhruvdutt commented on #1773
@zulipbot claim.

[2018-01-23 08:28] gauthamzz commented on #1674
@borisyankov this issue is solved, there are some app crashes when you click reply to a message other than that the problem of messages not refreshing is solved.

[2018-01-23 09:52] borisyankov commented on #1674
OK, closing it then. I'll have a look at the crashes when replying.

[2018-01-23 09:52] #1674 closed

[2018-01-23 20:22] jainkuniya opened #1779 "Lightbox doesn't load tweets images."
On clicking images in twitter (twitter avatar & tweet inline image), nothing is loaded in the Lightbox.

Here we have two options:-

1. Fix this & load images in the Lightbox. (for both avatar & inline image)

2. Open tweet in browser (custom tabs & safariView)

Thoughts?

@zulipbot claim

[2018-01-23 22:15] jainkuniya commented on #1283
Closing as fixed by https://github.com/facebook/react-native/commit/0bef872

[2018-01-23 22:15] #1283 closed

[2018-01-24 07:19] matthiasrambow opened #1785 "openid authentification not working"
When trying to connect to a Zulip server authenticating via an OpenID Connect service, the user is not forwarded to the service's login page. Instead just the server name and logo is shown in the the login screen. Consequently a log in to this server is impossible. In the browser and in the desktop app everything is working as expected.

[2018-01-24 08:44] aedorado opened #1787 "Unable to receive push notifications on mobile"
We are using [zulip](https://systemsiiita.zulipchat.com/) for communication and coordination of our lab activities in college. We have the following apps installed on our phones:

[Zulip Mobile](https://play.google.com/store/apps/details?id=com.zulipmobile)

[Zulip Legacy](https://play.google.com/store/apps/details?id=com.zulip.android)

However some of the phones (specifically, Redmi Note 4 and L

[2018-01-24 12:02] borisyankov commented on #1787
Can you confirm if both Zulip Mobile and Zulip Legacy do not get notifications, and these phones are getting notifications from all other apps?

[2018-01-24 13:34] borisyankov commented on #1785
@timabbott @gnprice do you have any idea how this would differ from our current Google and Github login? I haven't tested anything else.

[2018-01-24 14:05] matthiasrambow commented on #1785
I guess the redirect url to the identity provider must be defined somewhere in the server settings. I am no js developer, but as far as I can see, those urls seem to be hard coded in src/start/AuthScreen.js for Google and Github.

[2018-01-24 14:25] borisyankov commented on #1785
Ah, I now understand your point. You are never even giving the option to login to this server. I understand why.
Would you mind giving me the address to this server (if publicly accessible)? I wouldn't need an account to test.

[2018-01-24 14:29] borisyankov opened #1789 "Tapping a notification should bring you to the related message in the app"
- [x] Switch narrow to stream / topic / PM / group
- [x] Anchor to the first unread in narrow
- [x] Load messages around anchored message if not already loaded
- [x] For all use cases handle both app not started and already running
- [ ] Anchor to the message ID (I suspect this is better than first unread)
- [ ] Switch realm if not on the same realm
- [ ] Ask for login information if not logged in

[2018-01-24 14:30] borisyankov commented on #1315
Closing in favor of #1789

[2018-01-24 14:30] #1315 closed

[2018-01-24 15:02] matthiasrambow commented on #1785
@borisyankov I need to ask the the server owner first. I'll let you know.

[2018-01-24 16:01] matthiasrambow commented on #1785
@borisyankov I sent you the server address via twitter.

[2018-01-24 17:27] borisyankov commented on #1785
Great! Got it.

[2018-01-24 18:05] borisyankov opened #1791 "Topic input issues"
- [ ] Sending a message appears to clear the topic (but doesn't actually)
- [ ] The topic auto-complete frequently pops up with no way to dismiss it when the topic is a substring of the autocompleted topics

[2018-01-24 18:09] borisyankov opened #1792 "Emoji Picker"
- [ ] show a new screen with emojis to pick from.
- [ ] can be shown from keyboard input or from drop-down for reactions
- [ ] implement all the functionality the emoji picker in the web version has

[2018-01-24 18:10] borisyankov commented on #305
This has been implemented and waiting as an open Pull Request for a couple of months now.
We need to test it and improve some related UI features before merging. But code-wise I consider it complete.

[2018-01-24 18:41] timabbott commented on #1785
@borisyankov I have some context from talking to other users who are using our "Apache REMOTE_USER SSO" auth backend and are interested in getting mobile working on this front.  I don't quite understand how @matthiasrambow's auth setup works (more detail on that would help!) but I think we might need to add a little backend code to support the `mobile_flow_otp` model with other auth methods to mak

[2018-01-24 18:42] borisyankov commented on #1249
@jainkuniya @kunall17 help test this. If this does not cause a crash/error we will close the issue.
If it does, it becomes a high priority to fix.

[2018-01-24 19:23] borisyankov commented on #1785
@timabbott We are intercepting the return url via the `zulip://` protocol.

@matthiasrambow I connected to the server to see how the app handles this.
We do not return any entry for this in our server `authentication_methods` setting.

[2018-01-24 23:36] #1791 closed

[2018-01-25 07:04] matthiasrambow commented on #1785
Information on our specific identity provider can be found [here](https://login.mitro.dkfz.de/). But I think the solution should be generic to any OpenID Connect/OAuth2 service.

[2018-01-25 09:28] dhruvdutt opened #1795 "Scrolling issue with emoji"
Currently when scrolling messages, if a message text contains emoji, it gets on top of the stream topic section.

![screenshot_2018-01-25-14-52-24-1980699006_01_01_01](https://user-images.githubusercontent.com/5961873/35380665-fc18fd7c-01df-11e8-9aa6-044395a1d7a7.png)

This behaviour doesn't happen in emojis reactions.

![screenshot_2018-01-25-14-55-24-1883523868_01_01](https://user-images.githubu

[2018-01-25 09:42] matthiasrambow commented on #1785
@timabbott I just received the info from the server owner, that in the zulip/apache server settings  [libapache2-mod-auth-openidc](https://github.com/zmartzone/mod_auth_openidc) is used.
In `etc/zulip/settings.py` `zproject.backends.ZulipRemoteUserBackend` is the only option for `AUTHENTICATION_BACKENDS` and in `/etc/zulip/zulip.conf`:
`puppet_classes = zulip::voyager, zulip::apache_sso`
I hope th

[2018-01-25 10:21] jainkuniya commented on #1795
@zulipbot claim

[2018-01-25 10:27] jainkuniya opened #1796 "[webView] iOS: message which contains emoji are not fixed, they are floating on dragging. iPhone 6 - 11.2"
<img width="327" alt="screen shot 2018-01-25 at 3 54 41 pm" src="https://user-images.githubusercontent.com/18511177/35383434-4c447328-01e8-11e8-98d5-c30718dae945.png">
<img width="329" alt="screen shot 2018-01-25 at 3 54 54 pm" src="https://user-images.githubusercontent.com/18511177/35383436-4c88a0a2-01e8-11e8-9e72-3d00822ed6bc.png">

[2018-01-25 10:27] jainkuniya commented on #1796
@zulipbot claim

[2018-01-25 11:36] #1623 closed

[2018-01-25 19:00] gnprice commented on #1761
I saw the same thing last night (on a new phone replacing the one from a week ago), on installing 6.6.53. So I don't think this is fixed.

(I didn't capture a screenshot, unfortunately; but it was the same symptom of a red error banner in that spot, and no messages.)

[2018-01-25 19:14] cdikibo opened #1797 "Clicking on the search button crashes the app."
# Clicking on the search button crashes the app.

Everytime I press the search button that's right next to the mention button the app consistently crashes each time.

I'm on a One Plus Three running 6.0.1 version of Android.

[2018-01-25 19:18] borisyankov commented on #1797
This is fixed in `master`. Not yet released. Will do later today.

[2018-01-25 19:18] #1797 closed

[2018-01-25 19:34] gnprice opened #1800 "Half-rendered and blank messages, after scrolling through many messages"
On the latest Android beta, I opened up `#test here` on chat.zulip.org. Just like described in #1545 , the app first showed me messages from way back in the past, in mid-May of last year; then I scrolled down, mostly as quickly as I could. Partly to be able to see recent messages, and partly to see if it would work. :-)

And the app didn't crash! :tada: Score one for the new WebView-based message

[2018-01-25 19:54] borisyankov commented on #1800
Good news is part of this is likely fixed in `master`.
Will examine the whole `test here` stream.

[2018-01-25 20:06] gnprice commented on #1761
Here's a screenshot:
![](https://chat.zulip.org/user_uploads/2/8a/TLYtJUEp7xX0x8MMUH-RvCmj/Screenshot_20180125-120521.png)

This is from opening the app just now, after using other apps for a bit.

[2018-01-25 20:14] #1795 closed

[2018-01-25 20:18] gnprice commented on #1761
One other bit of data: I get the same error if I scroll way up in my "Private messages" feed. No screenshots, but I'll describe.

Eventually I can't scroll up anymore, and instead this banner appears with the same message, except the last number in the "Line: 1:123456" line. (The messages I've already loaded don't go away; they stay there and still look perfectly normal, as if I'd simply reached t

[2018-01-25 20:27] borisyankov commented on #1761
Glad you mentioned the line number. I am now sure this is addressed in `master`.
In fact I did a refactor (putting the JS on top of the embedded file) so the lines make a bit more sense.

[2018-01-25 21:04] #1796 closed

[2018-01-25 22:02] borisyankov commented on #1590
Closing as implemented.

[2018-01-25 22:02] #1590 closed

[2018-01-26 06:00] kunall17 opened #1804 "Do not fetch all users on application start, fetch only updates"
Currently, we are fetching all the users from the server on the realm init, which is called on every application cold start.

I tested this out (in a local server) and the user addition works fine if the app is in the background or in the running but if the app is killed and a user registers on the server then this user info is not fetched.

Ideally, we could only pull the updates and can save a l

[2018-01-26 13:58] borisyankov commented on #1804
How do you propose we fetch only the updates? There is no API call for that.

[2018-01-27 02:44] borisyankov commented on #1294
Closing as no longer relevant.

[2018-01-27 02:44] #1294 closed

[2018-01-27 03:07] borisyankov opened #1813 "Messages from bots are missing from the conversation list"

[2018-01-27 11:37] jainkuniya commented on #1568
Closing as implemented

[2018-01-27 11:37] #1568 closed

[2018-01-27 15:06] borisyankov opened #1815 "Android app crashes when opened through notification"
Notification to narrow generally seems to work if the app is already running.
If it is not, opening it via notification crashes it!

[2018-01-27 15:13] borisyankov opened #1816 "On Android sometimes the message list is empty / disappears"
Happened after opening the image viewer.
Switching narrows did not fix that.

[2018-01-27 15:15] borisyankov opened #1817 "Long press should not fire any other events"
Long-press fires a long press on the webview.
It also fires the click event on an element.

[2018-01-27 16:11] borisyankov commented on #1816
Closing as fixed.

[2018-01-27 16:11] #1816 closed

[2018-01-27 21:21] jainkuniya opened #1826 "[SearchView] Load more messages on top/bottom on scrolling."
@zulipbot claim

[2018-01-28 14:10] borisyankov opened #1829 "Can not get older messages in `Home` narrow"

[2018-01-28 17:22] borisyankov commented on #1230
Can not reproduce in latest `master`.

[2018-01-28 17:22] #1230 closed

[2018-01-28 17:25] borisyankov commented on #1249
Confirmed to not crash the app.

[2018-01-28 17:25] #1249 closed

[2018-01-29 14:02] borisyankov commented on #1817
I can reproduce only on iOS.
Test long pressing on `a` and `img` and test if any other long press is conflicting with the `click` event.

[2018-01-29 14:07] borisyankov commented on #1815
Bug is present in latest `master` that is released as Beta.

[2018-01-29 16:58] kunall17 commented on #1815
Hmmm, I tried on the master it's working fine for me I did a production release and tried on the phone works fine.
But is crashing on the beta release with the old error as here https://github.com/zulip/zulip-mobile/pull/1827#issue-292178809 and I think it should not throw this, as the function `tryInitialNotification` is being called after all the streams get initialized and all the API calls hav

[2018-01-29 18:48] borisyankov commented on #1815
What is the reason you used the `setTimeout` still? Describe in detail, that was one thing I doubt is a good idea.

[2018-01-29 19:50] borisyankov opened #1834 "Improve Android device support"
- [ ] Compare `AndroidManifest.xml` of `zulip-android` and `zulip-mobile`
- [ ] Make sure any permissions that we do not require are... not required
- [ ] Make sure we support Chromebooks

[2018-01-30 02:00] borisyankov commented on #1829
Closing as fixed.

[2018-01-30 02:00] #1829 closed

[2018-01-30 03:11] borisyankov opened #1835 "Sometimes the compose box is not fully cleared"
This seems to be Android-specific issue.
When sending a message, focusing on the compose box sometimes preserves the last part of the message.

[2018-01-30 03:13] borisyankov commented on #1817
Closing as 'fixed well enough'. If you find any other cases that conflict with the long press, feel free to prioritize fixing them.

[2018-01-30 03:13] #1817 closed

[2018-01-30 03:30] kunall17 commented on #1815
That setTeimout was still there so as to make sure we have loaded the streams and the other data correctly, and It shouldn't do any negative impact right?

I tried having the console.log statements in the doNarrowAtAnchor and using react-native log-android to check from the release build and again found it's working!

The error suggests the dispatching is not going right, as the doNarrowAtAnchor i

[2018-01-30 04:22] borisyankov commented on #1815
#1836 This either fixes it or is a step in that direction.

[2018-01-30 12:56] borisyankov commented on #1815
Now it is not crashing, but is not narrowing either ;)
Which is better, so I released this version.
In the next few days, we need to make sure the narrowing works perfectly.

[2018-01-30 13:00] borisyankov commented on #1583
Closing as implemented.

[2018-01-30 13:00] #1583 closed

[2018-01-30 16:27] jmandel commented on #1219
Just want to comment that this is still an issue and it is my number one problem trying to use zulip on Android.

[2018-01-30 16:29] jmandel commented on #1684
I am experiencing the same issue on a Pixel 2 running the latest Android OS. Happy to help with debugging if you can provide instructions!

The net effect of this issue is that zulip will not remember where I am or what I have done, and I have to scroll way down every time I open the app.

[2018-01-30 17:55] dhruvdutt commented on #74
@zulipbot claim

[2018-01-30 17:57] dhruvdutt commented on #74
@timabbott Do we have any specific endpoint for fetching the list of topics in a particular stream?
I can't find anything [here in docs](https://chat.zulip.org/api/get-all-streams).

[2018-01-30 18:11] kunall17 commented on #74
Yup @dhruvdutt we have the endpoint, look at the Tim's comment above!

Anyways a PR of mine is already lying around https://github.com/zulip/zulip-mobile/pull/1398 but we decided to not to show in this fashion!

[2018-01-30 18:17] dhruvdutt commented on #74
@kunall17 Ah! Thanks for the heads-up.

Have we still not decided how to show it?

[2018-01-30 18:18] jmandel commented on #1219
Thought I was already in the beta, but evidently not -- just joined! Thanks.

[2018-01-30 19:02] borisyankov commented on #74
@dhruvdutt I'll close this issue, as it gives the impression we have decided on a solution.
Mostly we will think of a better UI, the coding part is relatively straightforward.
I expect we tackle this next month.

[2018-01-30 19:02] #74 closed

[2018-01-30 19:03] borisyankov opened #1841 "New UI to select topics in a stream"
We have not yet decided on the concrete UI; this task is not ready to be started.

[2018-01-30 19:14] jmandel commented on #1219
Beta program membership went through. @borisyankov let me know when to update. Thanks!

[2018-01-30 19:32] jmandel commented on #1684
With 7.6.60 I see the same: I see "99+ unread messages", and clicking on "mark all as read" gives a quick button tap animation (which is rectangular in shape, despites the fact that the button itself is a rounded rectangle) and then nothing appears to happen. Is the "unread issues" text supposed to disappear? Is the view supposed to scroll down to the latest message?

[2018-01-30 20:22] borisyankov commented on #1684
Are you in 'Home' when you are narrowing or are you in a Stream / Topic?

[2018-01-30 20:25] jmandel commented on #1684
I was in "Home" just now.

[2018-01-30 20:39] borisyankov commented on #1684
Cool. I reproduced it. Will look into fixing next.

[2018-01-30 20:48] borisyankov opened #1842 "Alignment / sizing issues on Android"
Fix these Android-specific issues:
- [x] contents of `AccountItem` are not aligned vertically
- [x] compose box has some spacing on top (it shouldn't have it)

[2018-01-30 22:20] borisyankov commented on #1219
@jmandel update the Beta to the latest version and give it a try.
The drawer becomes the 'root' view and all narrows open a new screen.
Going from one narrow to the next preserves the history like a browser.
You can go back by pressing the Back button.

[2018-01-30 23:07] jmandel commented on #1219
Whoa -- cool! Thanks for the rapid turnaround. This is a big help already -- though I miss being able to slide the drawer out over the main app area; because now if I go back, I can't go "forward" again.

[2018-01-31 00:51] borisyankov commented on #1219
We've been cooking this for a while. I just released it as a Beta :)
I am not sure if the next Betas and Public releases will contain this, but I am intent on including it soon.
Depends on feedback. Use it for a day or two and please share if you like it more than before.
We are definitely going to add several features that will make the navigation even more natural.

[2018-01-31 08:23] Vamshi99 commented on #1841
I would say just merge unread messages and subscribed streams tab, and show all or recent topics when clicked on a particular stream.

[2018-01-31 11:48] ViRu-ThE-ViRuS opened #1844 "UI Issue: Text Unreadable in Dark Mode."
The Stream name is often unreadable in the dark mode due to its lack of contrast from the stream color.
The dark grey text is very hard to see when the stream has say yellow color.

![screenshot_20180131-131651](https://user-images.githubusercontent.com/16427330/35630385-499c4a40-06c7-11e8-82d2-6a78d95c2c5a.png)

[2018-01-31 15:12] ViRu-ThE-ViRuS commented on #1684
![screenshot_20180131-131513](https://user-images.githubusercontent.com/16427330/35630329-27c41aba-06c7-11e8-826e-6f87b775c104.png)
This is what i get in the latest release from google play store.

[2018-01-31 17:05] borisyankov commented on #1684
Closing as 'fixed'. The fix will be available in the next release.

[2018-01-31 17:05] #1684 closed

[2018-01-31 18:12] borisyankov commented on #1815
Closing this as we no longer crash, but we still need to implement it to completion!

[2018-01-31 18:12] #1815 closed

[2018-01-31 18:15] borisyankov commented on #1800
After doing several fixes (and releasing publicly) I can not reproduce this.
Closing as likely fixed, but please do reopen if you encounter it again.

[2018-01-31 18:15] #1800 closed

[2018-01-31 18:36] borisyankov commented on #1660
Closing as fixed.

[2018-01-31 18:36] #1660 closed

[2018-01-31 18:38] borisyankov commented on #1575
@WYSIATI we have released a version that is much faster than before. Give it a try.

[2018-01-31 18:38] #1575 closed

[2018-01-31 19:18] borisyankov opened #1849 "Fix incorrect message positioning"
Most likely cause is a stale cache.

[2018-01-31 20:01] akashnimare commented on #1540
I think this is fixed in master.

![image](https://user-images.githubusercontent.com/2263909/35644597-5ca9adc6-06ef-11e8-8db0-5b777276aa77.png)

[2018-01-31 21:14] borisyankov commented on #1540
Not if you popup the keyboard open :)
Seeing you are using the iOS simulator... are you looking into contributing to the project?

[2018-01-31 21:22] borisyankov opened #1850 "Issues with compose box"
* mention is not working (not bringing names)
* when I reply the post doesn't show until I return to the main subject
[Android 7 Huawei mate 8]

[2018-01-31 22:38] timabbott commented on #1850
I think this might be what I was seeing with blank screens, actually.

[2018-02-01 00:14] gnprice commented on #1761
See also [reports today](https://chat.zulip.org/#narrow/stream/mobile/subject/Syntax.20Error/near/474370). (I'm on 7.6.60, and others say they're updated.) Hard to tell as a user if this is the same bug or just a similar one.

[2018-02-01 00:21] gnprice commented on #1761
Oh hey, there's already a new version. :-)

On 8.1.62, it took some more doing. But after I scrolled way up in `#test here`, then way back down, and scrolled up some more looking for repros of #1800 -- eventually I saw it again:

![](https://chat.zulip.org/user_uploads/2/17/kLlPHpNbaaPYuBIDZITeARhc/Screenshot_20180131-161919.png)

[2018-02-01 00:23] gnprice commented on #1800
Tried with 8.1.62, and I can't reproduce this now either! :sparkles: Excellent.

[2018-02-01 00:25] gnprice commented on #1800
(The message with the skeleton anigif does show #1744 -- there's a `:skull_and_crossbones:` reaction.)

[2018-02-01 01:02] gnprice commented on #1761
(Maybe the SyntaxError after scrolling a lot is a separate issue from the SyntaxError at startup -- feel free to make a separate issue for it and close this one.)

[2018-02-01 01:22] borisyankov commented on #1850
@timabbott the good news is that the blank screen is present only in the Beta.
The public release which is one day older does not have this.
Will push a new Beta with this and likely other fixes tomorrow.

[2018-02-01 02:11] gnprice commented on #1545
Saw this today on 8.1.62, on a variety of streams; including unmuted streams where I'm fully caught up.

Usually not so ancient as in my original example, but e.g. I opened `#production help`, and the screen I got spanned the "Jan 19" date bar -- so it was about 12 days, and roughly 50 messages, in the past. (6 screenfuls, on my giant screen with small text.)

I just went and turned on that "Disti

[2018-02-01 09:04] akashnimare commented on #1540
@borisyankov just playing with the app 😅

Oh yes, can reproduce.

Would love to. For now, I have started learning react and RN in general. What're the ideal steps I should follow to get comfortable with the project?

[2018-02-01 18:36] gnprice opened #1854 "New messages often don't load"
This morning I tried to catch up using the mobile app, 8.1.62 on Android. I basically couldn't, because in multiple streams and topics, either the new messages never loaded, or most of them didn't load. In each case, I was tapping on an item in the "Unreads" tab of the nav screen (the drawer, except in 8.1.62 it's not a drawer.)

Here's one where no messages loaded -- this was the usual case:
![](

[2018-02-02 02:52] borisyankov commented on #1540
Awesome!
General knowledge of React Navigation is definitely a good first step :)
Maybe learn a bit about Redux and look into our use of it and the data models.
Reading tests may be helpful, if not boring. ;)

[2018-02-02 13:48] borisyankov opened #1861 "Jump to last button"
Add a button like Hangouts or WhatsApp to scroll to the bottom of the message list.

[2018-02-03 16:15] borisyankov commented on #1545
Potentially fixed in the latest Beta. (at least one fix is in, but maybe there are other causes for the same issue, so cannot confirm 100% that it is resolved)
Waiting on feedback. ;)

[2018-02-03 16:16] borisyankov commented on #1849
Closing as fixed.

[2018-02-03 16:16] #1849 closed

[2018-02-03 16:17] borisyankov commented on #1850
A new Beta released, reverting the navigation, thus fixing the 2nd issue.
The first issue with autocomplete is Android-specific and will be fixed tomorrow.

[2018-02-03 16:26] borisyankov commented on #1842
Closing as fixed.

[2018-02-03 16:26] #1842 closed

[2018-02-03 17:05] borisyankov opened #1866 "Improved Navigation UI elements"
- [ ] Combine recent conversations with all users and the search bar
- [ ] Can go back to the previous narrow. Back button on Android is usable
- [ ] Can see a list of all topics of a stream (read and unread)
- [ ] Can easily navigate to streams, topics, conversations
- [ ] Can go to 'parent narrow', for example from topic to the stream this topic is

[2018-02-06 01:37] borisyankov commented on #1545
I am now pretty sure the original issue has been fixed (and 1-2 more).
Closing this for now, and if another related issue appears we will treat it as a different issue (as the cause will be different)

[2018-02-06 01:37] #1545 closed

[2018-02-06 21:20] martinlablans commented on #1785
I can reproduce this problem and managed to narrow it down:

The Zulip mobile client calls `/api/v1/server_settings?` The server responds as follows:

[code]

Note that `authentication_methods` are all `false` -- even though Web UI shows `RemoteUser` as enabled and `settings.py` shows

[code]

Understandably, the Android client does not know what to do. The server implementing OpenID (Apache on po

[2018-02-06 22:03] timabbott commented on #1785
The problem here is that the RemoteUserBackend doesn't support the mobile app; changes are needed server-side to allow this.  I'm going to read a bit of code to estimate the work involved, since obviously this should be supported and I'd like to see it resolved quickly.

[2018-02-06 22:13] timabbott commented on #1785
I opened https://github.com/zulip/zulip/issues/8291 for the issue on the backend.

@borisyankov I suspect we'll need to make some changes to the app as well; to support that, I guess I'll plan to quickly setup a small test server using the code resolving #8291 that you can test against.  Basically, if REMOTE_USER_BACKEND is enabled (which we can add to the `/server_settings` response), we'll need

[2018-02-06 22:44] timabbott commented on #1785
The answer seems to be that this is very little work.  I've opened https://github.com/zulip/zulip/pull/8294.  I'll deploy that on a fresh VM (should be a good opportunity for me to QA the new installer), setup REMOTE_USER_BACKEND, and then give @borisyankov the details so that we can verify the mobile side implementations.

[2018-02-06 23:39] borisyankov opened #1880 "Reevaluate and improve the APP_REFRESH action"
The `APP_REFRESH` action is fired when our event polling gets interrupted.
It works reasonably well as it is.

Several areas we can improve:
 - [ ] consider using this the connectivity change events (`APP_ONLINE` action)
 - [ ] consider reworking some of the `APP_REFRESH` action handlers to better invalidate the states
 - [ ] find out if we are missing any reducer that should handle this action

[2018-02-07 01:38] borisyankov commented on #1850
Closing as fixed.

[2018-02-07 01:38] #1850 closed

[2018-02-07 03:24] gnprice commented on #1854
Since updating yesterday, I haven't seen this issue! (I'm on 8.3.64 now, but I think that might have been a further update and I was on ...63 then.)

So there could still be bugs that happen occasionally, but whatever was causing it to happen like half the time definitely seems to be fixed :). Closing this.

[2018-02-07 11:35] borisyankov commented on #1861
Closing as implemented.

[2018-02-07 11:35] #1861 closed

[2018-02-07 11:59] borisyankov opened #1884 "New realm url input"
It will have 'placeholder-like' value of 'your-organization.zulipchat.com' and behave like Slack's mobile team input.

[2018-02-07 18:03] borisyankov opened #1886 "Scroll to bottom button not firing on iOS"

[2018-02-07 18:25] #1886 closed

[2018-02-07 18:28] borisyankov commented on #1886
Closed as fixed.

[2018-02-07 18:50] borisyankov commented on #1835
This also seems to be Samsung-specific.

[2018-02-07 18:51] kunall17 opened #1888 "Narrow to first unread message on notification click"
https://chat.zulip.org/#narrow/stream/mobile/subject/notifications/near/486940

@zulipbot claim

[2018-02-07 18:55] divyabaid16 commented on #1880
May I work on this issue ?
If yes, can you please guide me ?

[2018-02-07 18:59] borisyankov commented on #1880
@divyabaid16 sure you can. Though I think a lot of it is reading code and understanding the current behavior. The actual implementation might be just few lines of code.

I'd say just dive in, examine all reducers that have `case APP_REFRESH:`. Think if their behavior makes sense. Look at the other reducers that don't have this. Consider if maybe we should have it.

And if you have questions ask he

[2018-02-07 23:10] borisyankov commented on #1835
Closing as fixed by #1889

[2018-02-07 23:10] #1835 closed

[2018-02-08 09:39] borisyankov commented on #1888
I don't think we want that behavior.
I understand what Greg meant - sometimes you want to start at the beginning of the conversation, but we might want to do that just for PMs. If I got mentioned in a stream, it makes no sense to be put at the first unread message which might not be related at all.

[2018-02-08 17:29] timabbott commented on #1888
You'll be taken to the first unread message in the topic, which is where you want to be if you need to read 10 messages of context before understanding what's going on.

More importantly, the whole Zulip model is built around keeping track of what you have read (or chosen to skip reading), and if we take you directly to the message that mentions you, we're destroying that state.  Some of our most

[2018-02-08 19:52] borisyankov commented on #1888
It absolutely makes sense. I am not sure the user will understand why we are not focusing on the message though!

I also don't consider changing the text on top to be a great solution, as it will be unlikely that users notice that it had changed its text, and I would expect the text to be some somewhere near the bottom.

We also have cases where we focus on a specific message, so we either need to

[2018-02-08 19:53] jainkuniya opened #1893 "Upgrade to newer version of API for adding/removing reactions."
Current one: `/messages/127/emoji_reactions/heart`
Newer one: `/messages/127/reactions`

@zulipbot claim

[2018-02-08 19:57] borisyankov commented on #1888
To make my argument more clear, we are discussing which of the two behaviors (with their own pros and cons) are better:

 * pro: you are focused on the exact message that you expect. con: sometimes people are confused why messages are marked read
 * pro: you are never reading between unread messages, more clear understanding what is read. con: the middle of the unread messages list is **impenetrab

[2018-02-09 21:06] borisyankov opened #1897 "Add 'Invite people to stream' feature"

[2018-02-09 22:00] borisyankov commented on #1453
Implemented with #1898

[2018-02-11 04:05] anirudhjain75 commented on #1880
@borisyankov Is anyone working on this ?
I'd like to work on this as I can't find any unassigned issue other than this 😓

[2018-02-11 04:26] Vamshi99 opened #1903 "Improve uploading images"
I can't upload images along with messages, when I select the image, it just gets uploaded without even showing preview. It would be good to show image preview, option to edit the image, upload along with message.

[2018-02-11 18:53] ajayns opened #1905 "Errors in executing steps as per Getting Started Documentation"
Getting started guide (https://github.com/zulip/zulip-mobile/blob/master/docs/getting-started.md) states that the command for running the Android version is `react-native run-android` but this seems to return an error.

I believe the steps to be followed is:
`npm run android-min` or  `npm run android-max`

[2018-02-11 18:54] ajayns commented on #1905
If this is a valid issue I'd like to work on it!

[2018-02-11 19:58] borisyankov commented on #1905
Both `android-min` and `android-max` are actually equal to `react-native run-android` as you will see in `package.json`.

It is a bit tricky to reimplement this as we do it for ios, as you need to have the virtual machines already created.

If you think you can improve this somehow, feel free to work on it 👍

[2018-02-12 03:00] ajayns commented on #1905
I noticed that in package.json. But the thing is, the command won't execute unless you have react-native installed globally.
So the command `react-native run-android` throws `react-native: command not found` in a general scenario. I feel the method should be generalized rather than like this. I'll submit a PR?

[2018-02-12 03:56] #1905 closed

[2018-02-12 22:44] gnprice commented on #1507
I've just merged a commit that supplies this boolean in `server_settings`, as ecbc72b85. I believe this is unblocked now; please lmk if there's anything else from the server that would help!

[2018-02-13 00:15] borisyankov commented on #1507
Where do you think we should we put this warning?

[2018-02-13 04:51] timabbott commented on #1507
One possible place would be whatever screen one configures push notification settings?

[2018-02-13 05:23] borisyankov commented on #1507
Of course, that makes too much sense ;)

[2018-02-13 08:16] sd1998 opened #1914 "App crashes when given no input for Server URL"
The app crashes when the user has not entered a Server URL (Text Field for the Server URL input is empty) and pressed enter button. Which should not happen. Instead an error message should be shown. I would like to work on this issue.

[2018-02-13 08:29] borisyankov commented on #1914
Good catch!
The intended behavior is that the button is disabled.
Feel free to work on this!

[2018-02-13 09:36] sd1998 commented on #1914
@borisyankov I will send a PR in some time.
And I just wanted to know the procedure for sending proposal for GSOC 2018 for this project? Thanks.

[2018-02-13 15:39] borisyankov commented on #1914
According to the timeline here https://developers.google.com/open-source/gsoc/timeline you have about a month before you can send a proposal.
The most successful students in the past did contribute several PRs before doing the proposal.
Not only was their proposal on-point, but we also were assured the student is motivated and skilled.

[2018-02-13 15:46] sd1998 commented on #1914
@borisyankov Thanks.

[2018-02-13 19:15] AakarSharma commented on #1914
**@zulipbot** claim

[2018-02-13 19:42] tabshaikh commented on #1914
@zulipbot claim

[2018-02-13 19:44] tabshaikh commented on #1914
@zulipbot abandon

[2018-02-13 19:44] tabshaikh commented on #1914
@zulipbot claim --force

[2018-02-14 07:57] AakarSharma commented on #1844
**@zulipbot** claim

[2018-02-14 07:58] AakarSharma commented on #1844
**@zulipbot** claim --force

[2018-02-14 07:58] kunall17 opened #1920 "Make switch background colors better"
![screenshot_2018-02-14-01-31-34](https://user-images.githubusercontent.com/12700799/36193062-61423146-118a-11e8-8ed9-cab12f1bfeb1.png)

These can be improved, make sure to do with both dark and light themes

More conversation going on here https://chat.zulip.org/#narrow/stream/mobile/subject/Error.20in.20App/near/497730

@zulipbot label "good first issue"

[2018-02-14 08:02] AakarSharma commented on #1844
**@zulipbot** claim

[2018-02-14 08:02] AakarSharma commented on #1844
**@zulipbot** claim --force

[2018-02-14 08:15] AakarSharma commented on #1920
**@zulipbot** claim

[2018-02-14 08:15] AakarSharma commented on #1920
**@zulipbot** claim --force

[2018-02-14 08:30] AakarSharma commented on #1920
zulipbot not working, I am working on this issue, will send a PR soon.

[2018-02-14 09:11] borisyankov commented on #1844
This one is fixed already. Closing.

[2018-02-14 09:11] #1844 closed

[2018-02-14 11:16] AakarSharma opened #1923 "Deleted Chats should not have options."
Deleted chats should come with a changed menu when clicked. The options like Copy to Clipboard, Share or delete should be removed.
This should not happen.
![a](https://user-images.githubusercontent.com/24940795/36201569-635eda8a-11a6-11e8-9f27-c408c9f1d404.jpg)

![screenshot_1518606475](https://user-images.githubusercontent.com/24940795/36201576-6920908a-11a6-11e8-95d3-dfc804ecf267.png)

[2018-02-14 12:37] anirudhjain75 commented on #1923
@zulipbot claim

[2018-02-14 12:40] anirudhjain75 commented on #1923
I guess we should remove remove onHold action from the message if message is deleted.
Will look deeper into this issue.

[2018-02-14 12:49] AakarSharma commented on #1923
@zulipbot claim --force

[2018-02-14 12:51] AakarSharma commented on #1920
@zulipbot claim --force

[2018-02-14 12:55] anirudhjain75 commented on #1923
I am working on this @AakarSharma , Could you pick something else please

[2018-02-14 20:46] timabbott opened #1926 "Deleted messages don't have their unread counts removed"
I deleted all the messages in a certain topic (using the administrator "delete message" feature that completely removes it), and users found that the mobile app still showed a nonzero unread count for that topic, and of course clicking into the topic showed no messages.

The bug here is that the mobile app's unread tracking should remove a message from its unread data structures when it gets an ev

[2018-02-14 20:49] timabbott opened #1927 "User report: Clicking on twitter preview links from mobile crashes the app on iOS"
This should be easy to test/verify with #twitter on chat.zulip.org.

[2018-02-14 23:07] borisyankov commented on #1926
It seems we are not even handling the delete message event for the message list!
Will add this too.

[2018-02-15 08:14] borisyankov commented on #1926
@timabbott it seems that the server does not send any event on a message deletion.

[2018-02-15 10:09] borisyankov commented on #1923
I don't think not showing the menu is a good solution.
Some of the options would be still valid, and also it will be misleading.
We can hide 'Copy to clipboard' and 'Share'.

[2018-02-15 14:25] AakarSharma commented on #1923
@zulipbot abandon

[2018-02-15 14:26] AakarSharma commented on #1923
@anirudhjain75 You can now work on the issue, in case you have changed your please inform me.

[2018-02-15 14:27] AakarSharma commented on #1923
@borisyankov I think you are right so let us just keep Reply, Unstar and Cancel.

[2018-02-15 15:31] anirudhjain75 commented on #1923
@zulipbot claim --force

[2018-02-15 15:36] anirudhjain75 commented on #1923
@borisyankov @AakarSharma I guess keeping only cancel and reply option will be great.
Suggestions ?

[2018-02-15 15:42] borisyankov commented on #1923
Unstar message is also good to keep.

[2018-02-15 17:17] AakarSharma opened #1929 "Search option should be there when inviting someone to group chat."
There should be an option to search names when inviting someone to a group chat.

![screenshot_1518714765](https://user-images.githubusercontent.com/24940795/36270572-0489144c-12a2-11e8-8eb4-a0d3afdea0a3.png)

Search-bar like this should be there on the top.

![screenshot_1518714996](https://user-images.githubusercontent.com/24940795/36270622-2c0098e2-12a2-11e8-8414-329b61c66694.png)

[2018-02-16 10:43] aswinmohanme commented on #1920
@zulipbot  claim

[2018-02-16 13:23] kunall17 opened #1934 "Show pinned streams at the top in the unread tab"

[2018-02-16 13:24] kunall17 opened #1935 "In search people screen online (active) list of people is a more than the web list"

[2018-02-16 13:25] kunall17 opened #1936 "Show list of people who reacted to a message on long press"

[2018-02-16 13:47] jainkuniya commented on #1935
I have done some work on it (#1616)
will rework & reopen it shortly

@zulipbot claim

[2018-02-16 13:50] jainkuniya commented on #1936
(we might to discuss the layout, before starting code for this)

[2018-02-16 16:31] timabbott commented on #1926
Turns out the event type is `delete_message`, which you're probably not listening for.  See https://github.com/zulip/zulip/issues/8411 for a bit more detail.

[2018-02-16 20:04] borisyankov commented on #1926
Oh, sure, we aren't. Implementing this next.

[2018-02-16 23:17] borisyankov commented on #1936
This is VERY LOW PRIORITY.

[2018-02-16 23:58] timabbott commented on #1936
Very low priority is a bit stronger than I'd say (because an important part of communication at times is who the 2/5 people who reacted are), but I certainly wouldn't want significant work to go into this before other things that are a decent chunk of work (like being able to add the first reaction at something, or various bug fixes) are done.

[2018-02-17 14:47] borisyankov commented on #1936
I put it at VERY LOW, because there are several months of work at least that is more important.
Also, it requires a different UI than the one in the web app, plus research on how it is done in competing apps, thus the implementation is not as straightforward.

[2018-02-17 14:56] borisyankov commented on #1926
Closing as implemented.

[2018-02-17 14:56] #1926 closed

[2018-02-17 19:02] adishegde commented on #1929
I would like to work on this.
@zulipbot claim

[2018-02-17 19:05] AakarSharma commented on #1929
@zulipbot claim --force

[2018-02-17 19:08] AakarSharma commented on #1929
@adishegde! I am already working on this issue. Please find some other issue.

[2018-02-19 01:23] borisyankov opened #1946 "Refactor our context providers to the new context API"
React 16.3 will introduce a new official API for working with context.
When React Native migrates to this React version (likely in the next version 0.54) we can rework our contexts to use this new API.

[2018-02-19 19:32] anirudhjain75 commented on #1923
Work is being done in #1949

[2018-02-20 14:26] anurag1018 commented on #578
Hello @wilsonandusa to the extent I perceive, @timabbott is referring to replacing the hamburger menu icon with the icon of the organization to which the user is currently logged in.

[2018-02-20 17:55] borisyankov commented on #578
We no longer have a hamburger menu, so closing this as no longer relevant.

[2018-02-20 17:55] #578 closed

[2018-02-20 21:40] borisyankov opened #1952 "Images sometimes not loaded in MessageList"
Seems to be related to HTTP redirects.

[2018-02-21 11:10] akashnimare opened #1953 "Lightbox actions are not working"
Following lightbox actions are not working -
 - [ ]  Download File
-  [ ] Share image
-  [ ] Share link to image [Crashes the app]

I did a quick debugging and found out that we are not passing `URL` parameter correctly.

[code]

(This is on master + iOS Simulator)

[2018-02-21 12:59] borisyankov commented on #1953
I am working on this.
It is very weird, as I couldn't trace back looking through the code when did we break that functionality.

[2018-02-21 19:04] #1953 closed

[2018-02-22 09:43] anurag1018 commented on #1377
@zulipbot claim

[2018-02-22 09:46] anurag1018 commented on #1377
@zulipbot claim

[2018-02-22 09:46] anurag1018 commented on #1377
@zulipbot --force

[2018-02-22 09:47] anurag1018 commented on #1377
@zulipbot claim --force

[2018-02-22 16:39] #1923 closed

[2018-02-22 18:17] pulkonet commented on #1920
Is this fixed in #1922 ?

[2018-02-22 18:49] pulkonet opened #1958 "Placeholder image can be added while fetching user image"
While viewing a user profile, it takes a second to fetch the user image and the screen remains blank. A loader or a placeholder image may be added for that moment.

[2018-02-22 18:56] pulkonet commented on #1958
@zulipbot  claim

[2018-02-22 19:05] pulkonet opened #1959 "Poor use of space on settings page"
![screenshot_20180223-003306](https://user-images.githubusercontent.com/24983958/36558548-5ba01034-1831-11e8-87bd-d00fa2508ad0.jpg)

Could've been better!

[2018-02-22 19:13] pulkonet opened #1960 "Message list doesn't scroll to bottom"
Message list doesn't automatically scroll to bottom, even if there are no unread messages in the particular stream.

[2018-02-22 20:42] borisyankov commented on #1920
It will be once merged, yeah.

[2018-02-22 21:30] borisyankov commented on #1960
Please elaborate.
Does it happen always? Is it just for streams? For topics? For direct messages too?

[2018-02-23 06:12] pulkonet commented on #1960
Reproduction Steps:
1. Go to a stream where you have unread messages, quickly click on 'mark stream as read' button.
2. Scroll down to the bottom.
3. Then exit the stream.
4. Then hop in back to the stream

[2018-02-23 07:38] pulkonet commented on #299
Can we close this one?

[2018-02-23 23:07] #299 closed

[2018-02-24 00:11] timabbott commented on #299
This isn't implemented, just a low priority, right?

[2018-02-24 08:07] borisyankov commented on #299
Yeah. I'd also put it in the category 'not sure if worth implementing' as it relies on external components (that may or may not be supported long-term) and is relatively platform and platform-version dependent. Even if implemented it might easily break for future versions if not supported.

That being said, if there is a good demand for that, and someone interested in implementing this, we are ope

[2018-02-24 08:13] pulkonet opened #1963 "Clicking on a user doesn't take to private chat page"
![screenshot_20180224-134045](https://user-images.githubusercontent.com/24983958/36627428-8c9d059c-1968-11e8-9b38-8a5f69c3ccbb.jpg)

Clicking doesn't do anything!

[2018-02-24 08:42] borisyankov commented on #1963
Thanks for the report.
This is fixed in `master` but not published yet.

[2018-02-24 08:42] #1963 closed

[2018-02-24 09:07] pulkonet opened #1964 "Indentation is odd."
![screenshot_20180224-143456__01](https://user-images.githubusercontent.com/24983958/36627938-4566a162-1970-11e8-8538-f71b822acebf.jpg)

[2018-02-24 09:12] pulkonet opened #1965 "Links on settings screen have confusing design"
On the main settings screen, our links for the terms of service and privacy policy extend all the way to the left of the screen, much wider than the actual text labels.

This is confusing because what looks like empty space is actually part of the link, and tapping on it opens up the ToS or privacy policy page.

[Above reframed by @gnprice. Original report below:]

----

![screenshot_20180224-1439

[2018-02-24 09:30] pulkonet opened #1966 "Reply box looks broken in topic narrow with long name"
![screenshot_20180224-145658__01](https://user-images.githubusercontent.com/24983958/36628687-6385307a-1973-11e8-9adc-45300b91238b.jpg)

[2018-02-24 15:27] timabbott opened #1967 "Typing notifications need more styling"
Right now, the typing notifications in PM threads look really close to someone saying "is typing" in the mobile app.

We should address this by some combination of:
(1) Making the "is typing" text italicized; that's part of how we indicate
(2) Centering the text vertically in the row with the avatar (right now it's sorta aligned with the top of the avatar and I think looks less good) and/or showin

[2018-02-24 15:30] timabbott opened #1968 "Positioning is wrong for private message threads"
When clicking on a private message thread (either from a push notification or from the "unread messages" view) with a person I talk to often (in the case I saw last night, Rishi), I frequently get placed in the narrow at a random time weeks ago, and have to scroll through hundreds of messages to get to current.  Seems likely that we're either not using `use_first_unread_anchor` or have some sort o

[2018-02-24 15:31] timabbott commented on #299
Yeah, makes sense.  We have much bigger fish to fry in the core user experience.

[2018-02-24 16:42] borisyankov commented on #1968
I suspect I know what is going on. Sometimes we use the `message.flags` to determine if a message is read, but we never update this (intentionally, for performance, we should use it only during initialization)

[2018-02-24 16:43] anirudhjain75 commented on #1964
@pulkonet Could you write down the steps or instruction to reproduce this ?

[2018-02-24 16:44] anirudhjain75 commented on #1270
I use lineageOS on Nexus 6 works for me perfectly 🤔

[2018-02-24 16:52] borisyankov commented on #1964
This is easily reproducable but I don't think it is worth fixing. At least currently it is done intentionally.

[2018-02-24 16:52] #1964 closed

[2018-02-24 17:13] timabbott commented on #1785
This was just merged on the backend via https://github.com/zulip/zulip/pull/8294 and here via #1962.

Before we close this, I want to add a note on how we could make it significantly better.

@borisyankov, for SSO login, the way it works on the backend is that it'll be the only supported auth backend for the server; as a result, probably what should happen is that when you submit the "what's your

[2018-02-24 17:14] borisyankov commented on #1966
We do not have control over the Input's placeholder `ellipsizeMode`-like property.
Have a look at:
http://facebook.github.io/react-native/docs/textinput.html

The normal text usually has this property as you can see here:
https://facebook.github.io/react-native/docs/text.html

[2018-02-24 17:56] timabbott commented on #1966
Would it make sense to expand the height of the widget when the text is long?  That screenshot does look broken.

[2018-02-24 22:12] borisyankov commented on #1785
Yeah, that is exactly what I intended to do 👍
If there is only one auth option (weather SSO or some other) the login will go directly into that step.

[2018-02-25 04:54] anirudhjain75 commented on #1960
I've verified this.
The position of last read message is same as when you had the unread messages.

[2018-02-25 04:57] anirudhjain75 opened #1972 "Night mode exits settings"
Clicking on night mode switch, refreshes the app and exits the settings to home page.
I don't think this is a good idea. Suggestions please.

[2018-02-25 05:13] anirudhjain75 commented on #1959
@zulipbot claim

[2018-02-25 06:17] anirudhjain75 commented on #1959
I've made some changes in #1973

[2018-02-25 11:13] borisyankov commented on #1972
This is needed so the UI repaints with the new settings.
Remaining on the Settings page is complicated to implement and not worth doing.

[2018-02-25 11:13] #1972 closed

[2018-02-25 15:36] anirudhjain75 commented on #1968
@borisyankov are you working on this ?
Or can I try it for once ?

[2018-02-25 15:38] anirudhjain75 commented on #1903
I don't think this should be our immediate focus. am I right @borisyankov ?

[2018-02-25 15:53] Vamshi99 opened #1974 "Go to bottom isn't working properly"
When I click `go to bottom` button, it just stops at last loaded message, if there are more messages to load it stops there and after a second, new messages will be there, but it doesn't scroll down.

[2018-02-25 15:59] Vamshi99 opened #1975 "Provide a "quote and reply" option"
We have this in web app, so it would be nice to have same. And also narrowing down to the message topic when we reply isn't good, what if we want to stay in stream tab itself?

[2018-02-25 17:20] divyabaid16 commented on #1946
I would like to work on this issue. Can you plz guide me ?

[2018-02-25 19:21] timabbott commented on #1975
I think in most cases one wants to switch to the stream tab to reply.

I think adding "Quote and reply" would be reasonable.

[2018-02-25 19:23] timabbott commented on #1974
Yeah, that's definitely wrong.  In the webapp implementation we do something different since we always fetch up to current.  What we should do here is check if we have all messages in this view loaded (we should be able to know that state), and if not (1) send a request to the server to mark all messages in the view as read and then (2) re-narrow, fetching from server if required.

[2018-02-25 19:27] timabbott commented on #1903
I think this is something that's fairly valuable; in part because it's part of the flow for submitting bug reports.

[2018-02-25 21:35] borisyankov commented on #1975
@Vamshi99 when a person wants to quote and reply, it is almost always to part of a message.
When having a desktop and a mouse/touchpad, having the long message quoted they will delete the part that is not needed. On mobile, this is very cumbersome. That is the reason we don't think this will be useful.

In any case, the user can copy the message and paste it in the compose box with a `>` in front

[2018-02-25 21:36] borisyankov commented on #1903
It can be valuable, but I am not convinced we have come up with a good solution yet.

[2018-02-25 21:37] borisyankov commented on #1974
We can definitely do what Slack is doing, which is to go to bottom, load messages, go to bottom, load messages etc.

[2018-02-25 21:38] borisyankov commented on #1946
I am not yet familiar enough with the new context API :)
It is not urgent enough, so I am focusing my efforts on other areas of the app.

This issue would be interesting and appropriate for a student that wants to learn this on his own.

[2018-02-25 21:40] #1920 closed

[2018-02-25 21:41] borisyankov commented on #1968
I will be working on this in few days.
I did assign it to myself because I suspect the solution is quite complicated for new contributors.
You are welcome to see the code and try to figure what is going on if you want to.

[2018-02-25 23:00] timabbott commented on #1974
Just to understand, the Slack thing sorta does it in a loop?  That seems not super great.

[2018-02-25 23:03] timabbott commented on #1975
@borisyankov I agree deleting parts would be a pain, but because a significant portion of messages are just 1 line, I think having a UI element for quoting the whole thing and then composing a reply below would be useful.  Not a high priority compared to other issues (adding an emoji reaction is like 20x more common of a thing to want to do), and perhaps a bit tricky to do (in that I don't think o

[2018-02-25 23:11] borisyankov commented on #1975
Are you probably mistaking the error reported? It was for the text placeholder that we can not control well. The compose box itself works well as far as I know.

[2018-02-25 23:13] borisyankov commented on #1974
It is more obvious what is happening though, as visually it is scrolling.
If we just replace the messages it will be visually confusing.

Somewhat related is that we have no good way to determine how many more messages might be beyond. We could have different behavior if there are a few hundred vs many more.

[2018-02-26 15:10] Vamshi99 commented on #1975
Maybe it isn't of high priority, but it would be good to have it after sometime

[2018-02-26 17:39] borisyankov commented on #1975
It will likely need to be implemented quite differently than how we do it in the web app.
A good approach to designing new features is to have a look at how this is implemented in other mobile chat apps.

[2018-02-26 18:25] borisyankov commented on #1967
Implemented here #1977
I added animated dots exactly as in FB Messenger.
I removed the text as the dots replace the need for any text.

[2018-02-26 18:25] #1967 closed

[2018-02-26 23:01] timabbott commented on #1967
Great :)

[2018-02-28 01:37] borisyankov commented on #1841
Done. Some polish needed.

[2018-02-28 01:37] #1841 closed

[2018-03-01 18:03] borisyankov commented on #1377
Closing as fixed.

[2018-03-01 18:03] #1377 closed

[2018-03-02 10:17] zhaiduo opened #1985 "Just Found: gulp with Error in plugin 'gulp-cache'"
sorry, wrong post

[2018-03-02 10:23] #1985 closed

[2018-03-02 12:31] pulkonet commented on #1540
I think this is fixed in master and can be closed. @borisyankov

[2018-03-02 12:42] pulkonet commented on #1966
Can we not show disabled text in place of placeholder and hide it when the user starts typing or if the sting in the original text box is not empty? I guess this is just a workaround since we can't play with placeholders the way we can with normal text. @timabbott  @borisyankov

[2018-03-02 13:43] pulkonet commented on #1540
@zulipbot  claim

[2018-03-02 13:44] pulkonet commented on #1540
@zulipbot claim --force

[2018-03-02 13:50] aniketsingh03 commented on #1540
@zulipbot abandon

[2018-03-02 13:52] pulkonet commented on #1540
@zulipbot claim

[2018-03-02 14:07] jainkuniya opened #1989 "Some icons are not visible in night theme."
In the setting tabs.

<img width="303" alt="screen shot 2017-09-29 at 5 16 55 pm" src="https://user-images.githubusercontent.com/18511177/31017147-334cf048-a545-11e7-8715-1efd23c9298d.png">

[2018-03-02 18:32] pulkonet commented on #1989
Can I work on this? I can't claim any issue as of now because I have a pending PR that needs to be seen, so in the meantime maybe I could look into this.

[2018-03-02 19:12] borisyankov commented on #1540
This is reworked so is no longer relevant.

[2018-03-02 19:12] #1540 closed

[2018-03-03 02:23] borisyankov commented on #1966
We should balance the effort with the severity of the problem.
This is an unpleasant visual issue that does not prevent the user from doing their task.
An alternative solution is to submit that as a bug report to React Navigation.

[2018-03-03 03:16] aswinmohanme commented on #1440
@zulipbot  claim

[2018-03-03 03:19] aswinmohanme commented on #1440
Related #1183

[2018-03-03 03:46] pulkonet commented on #1966
Fair enough

[2018-03-03 03:54] pulkonet commented on #1666
@jainkuniya can you look at this? I don't think this is the best solution! Shall I just drop it and work on other issues?

[2018-03-03 08:50] borisyankov commented on #1785
Implemented.

[2018-03-03 08:50] #1785 closed

[2018-03-03 10:33] pulkonet commented on #1914
Hello @sd1998 are you still working on it? If not, please abandon it so that I can pick this up.

[2018-03-03 16:17] borisyankov commented on #1914
This is fixed. Closing the issue.

[2018-03-03 16:17] #1914 closed

[2018-03-04 02:31] aswinmohanme commented on #1440
<img width="612" alt="unread message" src="https://user-images.githubusercontent.com/20600674/36941484-3fa2efe8-1f82-11e8-9bfd-bf54eb8bfd78.png">

Inspired By :[https://design.tutsplus.com/tutorials/how-to-create-a-summer-sun-illustration--cms-29161]( https://design.tutsplus.com/tutorials/how-to-create-a-summer-sun-illustration--cms-29161)

[2018-03-04 02:49] aswinmohanme commented on #1440
<img width="612" alt="unread message" src="https://user-images.githubusercontent.com/20600674/36941559-49666a4e-1f84-11e8-88e1-4172f35d8a79.png">

With Noise

[2018-03-04 08:02] aswinmohanme opened #1999 "WhiteSpace is rendered when there are no Conversation Messages"
When there are no unread conversations half of the screen is empty and Stream view can only take up half the size of the screen.

Upon inspecting the Empty Conversations List takes up `flex:1` which when combined with the flex of Stream View takes up half the screen.

[2018-03-04 08:06] aswinmohanme opened #2000 "Tabs are pushed way beyond the Screen and are not visible"
The Commit https://github.com/zulip/zulip-mobile/commit/f9d93f5c8169a3d28e4a0b4d50129ce6f161776a seems to have caused the issue

[2018-03-04 08:07] aswinmohanme commented on #1999
@zulipbot claim

[2018-03-04 08:10] aswinmohanme commented on #2000
Tested on Android 6.0, on Device

[2018-03-04 10:12] jainkuniya commented on #1999
there is already a standing PR for this one #1986. :)

[2018-03-04 11:39] #777 closed

[2018-03-04 11:41] aswinmohanme commented on #1999
My Bad :grinning:

[2018-03-04 11:41] #1999 closed

[2018-03-04 16:00] xamfy commented on #1965
Can I work on this?

[2018-03-04 16:55] anirudhjain75 commented on #1965
@xamfy Yes you can... you can claim it by typing **@zulipbot claim**

[2018-03-04 16:56] anirudhjain75 commented on #1965
@zulipbot abandon

[2018-03-04 16:58] anirudhjain75 commented on #1270
@zulipbot claim

[2018-03-04 17:49] pulkonet commented on #1666
@zulipbot  abandon

[2018-03-04 18:25] #1989 closed

[2018-03-04 18:36] pulkonet commented on #1959
@jainkuniya can we make a slack inspired settings page, it shows user image, name, and community name and then what all we show? That would definitely be an improvement over the current state.

[2018-03-04 18:52] pulkonet opened #2004 "Number of unread messages on the bottom icon is wrong"
![screenshot_20180305-001614__01](https://user-images.githubusercontent.com/24983958/36949206-281dde62-200b-11e8-9964-d74ca063cb94.jpg)
Total number of unread chats must be shown in the bottom icon (as WhatsApp does) and not the total unread messages.

[2018-03-04 18:59] anirudhjain75 commented on #2004
@pulkonet That totally depends on the what zulip is targeted to show, Though I agree that this must be the total number of unread chats

[2018-03-04 19:03] pulkonet commented on #2004
In all the other community chat apps also it is done the same way. They show the number of unread chats. Also, this might seem to be trivial at this point but with communities, with a large number of direct messages, this may get to be a big number which would be unreasonable to show.

[2018-03-04 19:07] borisyankov commented on #2004
@timabbott what do you think this number should show? Do you agree?

@pulkonet to make your case stronger, give examples of how it works in Slack, FB Messenger, WhatsApp.

[2018-03-04 19:27] pulkonet commented on #2004
![point blur_mar052018_005116](https://user-images.githubusercontent.com/24983958/36949549-f60227d0-200f-11e8-87cc-3ead9d03445f.jpg)
Here's from WhatsApp. The number shown beside chats is not the total number of unread messages
I don't have screenshot from slack at this point and messenger has no such unread chats thing in app. Though on FB web app they show the number of unread chats only.

[2018-03-04 19:29] timabbott commented on #2004
I'm not sure.  That widget feels like a notification area, where it might be most appropriate to show the total number of conversations with unread messages.

That said, I'd prefer work on the PM threads part of the app go into showing PM threads at the top of in the main "Unreads" view, since I think that will be a better way to consume the information, and we might end up removing the unread cou

[2018-03-04 19:44] jainkuniya commented on #2000
@zulipbot claim

[2018-03-04 19:49] pulkonet commented on #2004
@timabbott I don't quite get your point. could you please elaborate?

[2018-03-04 19:50] pulkonet commented on #2004
Also, should I work on this or leave it as it is?

[2018-03-04 20:15] borisyankov commented on #2004
@pulkonet what @timabbott is talking about is actually being polished and going in `master` today.
Don't do anything for now, but it will be more clear what we want to do later this week :)

Sometimes discussing features is important, and also is important to not act immediately but let the thought sit for a while in people's heads ;)

But that was a great point you made and will likely lead to so

[2018-03-04 21:12] jainkuniya opened #2007 "Sometimes all messages are visible in narrowed view."
![screenshot_20180305-014959](https://user-images.githubusercontent.com/18511177/36950639-e1f7a62a-201e-11e8-8eee-912198417553.jpg)

https://chat.zulip.org/#narrow/stream/48-mobile/subject/unread.20counts.20colors/near/525933

reported by @pulkonet

[2018-03-04 21:25] xamfy commented on #1965
@zulipbot claim

[2018-03-04 21:26] xamfy commented on #1965
@zulipbot claim --force

[2018-03-04 21:29] pulkonet commented on #1472
I guess you can easily see what message you want to press before pressing and press the right one, also the Action Sheet will pop up immediately and you will have no time to see the highlighted message.
This can be safely closed IMO. @borisyankov

[2018-03-04 22:13] #2000 closed

[2018-03-04 23:58] pulkonet opened #2009 "Spacing is required for a better visual."
![screenshot_20180305-052641](https://user-images.githubusercontent.com/24983958/36952429-ef1029c4-2035-11e8-8668-dd7c9576fa5b.jpg)
There was space between the buttons before, this looks broken.

[2018-03-05 00:17] #1472 closed

[2018-03-05 00:36] borisyankov commented on #2007
I suspect the thrown error has something to do with this, but I don't think we can figure out what is going on by this information alone.

[2018-03-05 01:28] pulkonet opened #2011 "Clicking on 'goToBottom' button while it overlaps an image fires WebLink intent"
![screenshot_20180305-065519](https://user-images.githubusercontent.com/24983958/36953663-7641ffc4-2042-11e8-8572-c1e2a048fae1.jpg)
Reproduction:

1. Get such a configuration where the go to bottom button overlaps an image
2. Click, and intent is fired.

[2018-03-05 01:33] pulkonet commented on #2011
It is apparently firing every time clicking that button. Can anyone else confirm this?

[2018-03-05 04:10] xamfy commented on #2011
Works fine for me

[2018-03-05 04:17] pulkonet commented on #2011
You're on Android or iOS? I've tested this on OnePlus 3T Oreo 8.0.0

[2018-03-05 07:42] xamfy commented on #2011
Yes Android, Moto g4 plus marshmallow

[2018-03-05 07:43] xamfy commented on #2011
Can you send a similar image again?

[2018-03-05 08:04] pulkonet commented on #2011
It is happening even without the image as I stated in the title. I'll send a link to a screencast as soon as I get back to my laptop.

[2018-03-05 08:48] pulkonet commented on #2011
https://drive.google.com/file/d/1w48DjmMykUA4uaqCruRsr5OXozetNmLW/view?usp=drivesdk
check this!

On Mon, Mar 5, 2018, 13:13 xamfy <notifications@github.com> wrote:

[2018-03-05 17:34] anurag1018 opened #2016 "Crash on welcome screen with "unexpected url""
<img width="304" alt="screen shot 2018-03-05 at 10 51 25 pm" src="https://user-images.githubusercontent.com/17769227/36990043-6f6125a4-20c9-11e8-9321-fc5b5ef1fd3b.png">

I tried including special characters in the url (! and @ in the above case)
This causes an error message on the url.
If we could match submitted the url with the permitted valid urls using regular expressions and display a message

[2018-03-05 17:35] anurag1018 commented on #2016
@zulipbot claim

[2018-03-05 18:08] aswinmohanme commented on #68
Can be Closed

[2018-03-05 19:05] #68 closed

[2018-03-06 15:26] xamfy commented on #2011
Yes there is an issue

[2018-03-06 18:02] xamfy commented on #2009
@zulipbot claim

[2018-03-06 21:40] jainkuniya opened #2019 "Use particular narrow corresponding to each ChatScreen."
Currently everywhere, only latest narrow (which is at the top of stack) is used to filter messages, caught up, fetching and for other purpose.

https://github.com/zulip/zulip-mobile/blob/94063c9fdac0d0bb2555a2315e869a63ab7783fc/src/baseSelectors.js#L23

When we are on screen which is not a chat screen (like profile, Lightbox etc), then narrow becomes home, affecting all the chat screens present in

[2018-03-06 22:04] borisyankov commented on #2019
I also noticed this!
Good find. Super high priority!

[2018-03-06 22:18] timabbott commented on #2019
@gnprice @rishig FYI; I think that this might be the cause of the issue you folks mentioned with messages being marked as read when using the mobile app's back button.

[2018-03-06 22:31] borisyankov commented on #2019
@jainkuniya a potential issue to have a look at is that there is this weird time while the route transitions. Sometimes we want to treat the code as if the active route immediately changes, sometimes wait till the end of the transition. There is a Redux event that you can differentiate it.

[2018-03-07 03:38] achamaria commented on #2009
**@zulipbot** claim

[2018-03-07 04:16] achamaria commented on #2009
@zulipbot claim

[2018-03-08 07:36] harishnandan opened #2029 "Language translations are incomplete"
When I switch to Hindi: (**All Messages** should have been in Hindi)
![language1](https://user-images.githubusercontent.com/24224542/37138703-286cc63a-22d1-11e8-9b13-6c36a8465d45.png)

When I switch to Malayalam:
![language2](https://user-images.githubusercontent.com/24224542/37138766-547067e6-22d1-11e8-9d4a-b10b5469c364.png)

[2018-03-08 07:37] harishnandan commented on #2029
If its relevant, I would like to work on this issue @borisyankov .

[2018-03-08 14:26] borisyankov commented on #2029
@harishnandan there are two types of non-translated parts of the app:
 * stuff that we are not translating in-code
 * missing translations

This is the 2nd case. You can help with both though.
For this specific one, go and register with Transifex. Then there are the translations of the app:
https://www.transifex.com/zulip/zulip/messages/

[2018-03-08 14:29] harishnandan commented on #2029
@zulipbot --claim

[2018-03-08 15:33] harishnandan commented on #2029
@zulipbot claim

[2018-03-08 15:34] harishnandan commented on #2029
@zulipbot claim --force

[2018-03-09 00:23] borisyankov commented on #1884
Closing as implemented.

[2018-03-09 00:23] #1884 closed

[2018-03-09 08:06] pulkonet commented on #1336
Can I work on this? I am thinking to implement something like WhatsApp.

[2018-03-09 08:10] pulkonet commented on #2029
This issue will likely remain in progress forever.

[2018-03-09 12:37] borisyankov commented on #1336
How is it done in WhatsApp?
You can work on it, but keep in mind, when we do introduce a new feature, we do discuss it in detail (vs a fix, that you can just go ahead and implement)

[2018-03-10 15:29] jainkuniya opened #2039 "Improve ComposeBox."
- [ ] Fix height issues. Make transition smooth.
- [ ] Simplify/break down  https://github.com/zulip/zulip-mobile/blob/master/src/compose/ComposeBox.js

@zulipbot claim

[2018-03-10 19:25] jainkuniya commented on #2019
closing this as implemented in #2020 and got merged!

[2018-03-10 19:25] #2019 closed

[2018-03-10 19:28] jainkuniya commented on #2016
This is Android specific.
Good find @anurag1018 👍

[2018-03-10 19:31] jainkuniya commented on #2007
This might be related to #2019, as while updating again (on going back) it encountered some error and stuck in the home narrow itself. Resulting in all message are visible.

[2018-03-10 19:37] jainkuniya commented on #1893
Closing as implemented via #1896

[2018-03-10 19:37] #1893 closed

[2018-03-10 19:38] jainkuniya commented on #1709
Closing this as we have reworked on `RealmScreen.`

[2018-03-10 19:38] #1709 closed

[2018-03-10 19:39] jainkuniya commented on #1686
@borisyankov This can be closed now. As no longer relevant. Now we are using newer MessageList.

[2018-03-10 19:42] jainkuniya commented on #1558
@borisyankov This can be closed now, as now we have topic list screen.
(if required we open another issue for improving it)

[2018-03-10 19:45] jainkuniya commented on #1549
Now with the newer MessageList, it is no longer relevant, can be closed now.

[2018-03-10 19:45] jainkuniya commented on #1548
Now with the newer MessageList, it is no longer relevant, can be closed now.

[2018-03-10 19:47] jainkuniya commented on #1546
WebView message list got merged and we have also reworked on spinner. Can be closed now.

[2018-03-10 19:49] jainkuniya commented on #1511
This is also fixed now. Can be closed now.

[2018-03-10 19:54] jainkuniya commented on #1455
Closing as with new webView messageList, it is no longer relevant.

[2018-03-10 19:54] #1455 closed

[2018-03-10 19:55] jainkuniya commented on #1362
Closing as with new MessageList, no longer relevant.

[2018-03-10 19:55] #1362 closed

[2018-03-10 19:58] jainkuniya commented on #1354
Closing as no longer relevant.

[2018-03-10 19:58] #1354 closed

[2018-03-10 20:02] jainkuniya commented on #1223
Can be closed now, as with new `render-html` technique, it is newer reproducible.

[2018-03-10 20:03] jainkuniya commented on #1219
We have reworked on this, can be closed now.

[2018-03-10 20:30] akashnimare commented on #922
I was getting the same error. It got fixed magically after upgrading `XCODE` to `v9.2` (previously I was on v8.1) 😅

[2018-03-11 11:56] anurag1018 commented on #2016
Yeah Ios automatically rejects the promise in these special cases.
After researching a bit, I found it is not possible to solve the bug through regex validation since it is possible to create an organization with special characters in its name.
The only way is through the promise rejection embedded in the code. I tried implementing a catch block with the fetch API but it doesn't seem to have any e

[2018-03-11 15:54] borisyankov commented on #2016
An exception is not thrown as the underlying native Android code crashes and it doesn't bubble up.

[2018-03-11 16:01] #1219 closed

[2018-03-11 16:21] #1511 closed

[2018-03-11 16:21] #1223 closed

[2018-03-11 16:22] #1686 closed

[2018-03-11 16:23] borisyankov commented on #1558
Yeah, I will be improving this further, but at least it exists now :)

[2018-03-11 16:23] #1558 closed

[2018-03-11 16:23] #1549 closed

[2018-03-11 16:24] #1548 closed

[2018-03-11 16:24] #1546 closed

[2018-03-11 16:24] borisyankov commented on #2007
Yeah, I suspect it is relevant. If this happens in the new release we can reopen a new issue.

[2018-03-11 16:24] #2007 closed

[2018-03-12 05:13] timabbott commented on #1966
@borisyankov this feels pretty visible as an issue to me; perhaps we should just change the text to "reply" for now, rather than including the whole topic when you're in a narrow that completely determines where your reply will go (e.g. a topic or PM thread narrow)?  I think that'd be better than the current placeholder anyway, and would eliminate this ugly issue.

[2018-03-12 18:02] codebu5ter opened #2048 "Illegible Stream names on iOS"
![img_5672](https://user-images.githubusercontent.com/16636569/37300760-cb254a18-264c-11e8-87cf-19f35f70d8e8.jpg)
As can be seen from the above photo, some of the stream names are illegible.
I should add, I'm only seeing this on the iOS app downloaded from the App Store. I'm unable to reproduce this on Android as the stream names have a black font which is clearly legible.
So, is this a platform s

[2018-03-12 20:12] borisyankov commented on #2048
It is not platform-specific exactly. The iOS app is a version behind. This will be fixed soon (in 1-2 days)

[2018-03-13 00:07] gnprice opened #2052 "Cover our code with Flow types"
Static types [can make a big difference](http://blog.zulip.org/2016/10/13/static-types-in-python-oh-mypy/) in making it easier to understand a codebase. That's valuable because it helps us write more reliable code with fewer bugs, and making the app more reliable with fewer bugs is our top priority right now. It's also valuable because it helps people learn the codebase more quickly, and we'll lik

[2018-03-13 03:22] harishnandan commented on #2052
@gnprice I would like to work on this.

[2018-03-13 06:01] codebu5ter commented on #2048
Ah! I figured that might be the case, since the iOS app was updated over a month ago.

[2018-03-13 06:15] gnprice commented on #2052
Great -- please do!

This is a project with lots and lots of independent pieces to do, so it's
perfect for several people to work on at once. (In fact if you look in the
commit history, you'll see that both Boris and I have already been doing
some of this work.) So this is very much still open for more people to work
on too -- the more the merrier.

[2018-03-13 17:01] gokcan commented on #2052
Hello @gnprice!

I have both personal and work experience with types, flow and also TypeScript. So I would like to work on this issue as a GSoC applicant if there is a need.

[2018-03-13 18:07] borisyankov commented on #2052
@gokcan feel free to start contributing on this before the GSoC (as a means to help us evaluate you and yourself during the proposal phase).

Doing small PRs covering a single file or area is a good way to make sure the code gets merged faster and that work don't overlap with other contributors.

[2018-03-13 20:52] ayushmankd opened #2058 "Keyboard not opening up in Welcome Screen"
Whenever after I dismiss the keyboard (by using the back navigation button), I am not able to open up the keyboard (to edit the text input)

[2018-03-14 14:01] gokcan commented on #2052
**@zulipbot** claim

[2018-03-14 18:08] codebu5ter opened #2065 "Ripple effect overflows out of Tab bar"
![screenshot_20180314-232730](https://user-images.githubusercontent.com/16636569/37422059-98921d98-27e0-11e8-90d2-e23636c589b4.png)
It looks especially bad in landscape mode.
![screenshot_20180314-232750](https://user-images.githubusercontent.com/16636569/37422120-b48848e2-27e0-11e8-99ab-545b557f89d9.png)
The ripple effect should be limited to just the tab bar.
I would like to work on this.

[2018-03-14 18:09] codebu5ter commented on #2065
@zulipbot claim --force

[2018-03-14 21:25] jainkuniya commented on #2058
@zulipbot claim

[2018-03-14 22:13] borisyankov commented on #2058
@jainkuniya I did fix this, but not pushed.

[2018-03-15 02:14] aswinmohanme commented on #352
Similar to #2052

[2018-03-15 02:16] aswinmohanme commented on #1507
@zulipbot claim

[2018-03-15 03:33] jainkuniya commented on #2058
Ok! Cool

On 15-Mar-2018 3:43 AM, "Boris Yankov" <notifications@github.com> wrote:

[2018-03-15 09:17] borisyankov commented on #352
Yeah, closing this because of duplication.

[2018-03-15 09:17] #352 closed

[2018-03-15 09:27] borisyankov commented on #1507
@aswinmohanme This has been implemented in #1933

[2018-03-15 15:27] anurag1018 opened #2068 "Missing icons in the settings menu"
It is specially important for the "Language" option to have an icon for the scenario if someone switches to an unfamiliar language. The icon (something like a globe or a flag) would be helpful to navigate back to the language picker. While we are at it, it would be a good idea in perspective of design and accessibility to add icons to the other options available in the settings menu.

[2018-03-15 15:40] anurag1018 commented on #2016
<img width="387" alt="screen shot 2018-03-14 at 12 39 48 pm" src="https://user-images.githubusercontent.com/17769227/37473827-feffcae4-2894-11e8-838a-a91bc7b79cc6.png">
Turns out that subdomain accepts only letters, numbers and hyphens. The next part for validation of this was easy.

[2018-03-16 17:34] codebu5ter opened #2071 "Input fields overlap with the Nav bar in landscape orientation"
![screenshot_20180316-222709](https://user-images.githubusercontent.com/16636569/37535565-1be888b0-296e-11e8-815c-0f7f9ff572e3.png)
It becomes hard to see what the user is typing.
![screenshot_20180316-222740](https://user-images.githubusercontent.com/16636569/37535660-6ae5c1bc-296e-11e8-9a7a-52c431a3ccdf.png)

[2018-03-16 17:35] codebu5ter commented on #2071
@zulipbot claim --force

[2018-03-16 23:09] timabbott opened #2075 "Make sure we do the right thing when clicking a link to a narrow"
Since https://github.com/zulip/zulip/commit/9ea7b05cfeeb9821bf4af393479268542df61315, the webapp will now generally generate a relative link of the form `/#narrow/stream/foo/topic/bar` if you paste a link to a stream/topic pair in Zulip.  Ideally, we should make the mobile app support clicking on those links taking you to that narrow in the app.

[2018-03-17 02:52] gnprice opened #2076 "Crash after the welcome screen"
This crash is happening frequently right now, to lots and lots of users -- nearly half our total crashes on Android. The Play Console says it's new in version 74 (the latest release):
[code]

One user kindly reported details, saying:

That sounds like a really bad time to crash! So we should fix this ASAP.

---

My partial debugging:

That innermost line appears to be [this one](https://github.com

[2018-03-17 02:57] gnprice opened #2077 "Crash on trying to edit topic in compose"
This crash is happening frequently right now, to lots and lots of users -- nearly half our total crashes on Android. (Together with #2076 , these two are >90% of our crashes on Android. So fixing these two will make a big difference!)

For this one, a good handful of users have kindly reported details. Here's one such report... I'm copying from the Play Console, but actually I wrote this one mysel

[2018-03-17 02:57] aswinmohanme commented on #1507
@zulipbot abandon

[2018-03-17 12:27] #2058 closed

[2018-03-17 17:34] borisyankov commented on #2075
I added several tests and confirmed that we already handle the relative link form.

[2018-03-17 17:34] #2075 closed

[2018-03-18 01:54] borisyankov commented on #1960
Fixed by #2082

[2018-03-18 01:54] #1960 closed

[2018-03-18 10:37] HarshulSharma000 commented on #1880
Is the issue still open? I would like to give it a try.

[2018-03-18 12:43] HarshulSharma000 commented on #1667
How about we dynamically resize the components with parent view's dimensions?

[2018-03-18 13:40] borisyankov commented on #1880
Sure, this is still open, but since it is not well defined, a first step would be to evaluate if there is anything to fix, first. Then define what has to be done, discuss it, and after all that comes the code writing. 👍

[2018-03-18 14:01] borisyankov commented on #1667
How do you mean to implement that?
These issues likely exist in many screens and can be fixed one-by-one sometimes in different ways.
Feel free to work on any of the screens that exhibit this behavior.

[2018-03-18 15:57] HarshulSharma000 commented on #1880
What exactly are we looking for here? Any focus on specific improvement portions? Or at least what gains are expected?

[2018-03-18 16:12] HarshulSharma000 commented on #1667
Actually my device does not have split screen functionality, So I can't reproduce this issue here. But Dimensions component of react native does provide listeners:-
https://facebook.github.io/react-native/docs/dimensions.html#addeventlistener
Also, we get the changed dimensions of our view:-
https://facebook.github.io/react-native/docs/view.html#onlayout
These could be used to get changes and then

[2018-03-18 18:18] robgev commented on #2076
Hello there,
Can I work on this?

[2018-03-18 18:48] borisyankov commented on #2076
This is fixed in `master` already.

[2018-03-18 19:02] borisyankov commented on #2076
You can work on it for sure, but it is a critical bug and we are looking to fix it as soon as possible (maybe today). So if you do not have any idea where to start and don't have time to start on it immediately, try another task 👍

[2018-03-18 21:50] borisyankov commented on #305
There is an alternative method in the latest `master` now. When narrowed to a topic an up-arrow button is shown to the right that will move the user to this stream.

[2018-03-18 21:50] #305 closed

[2018-03-18 22:18] borisyankov commented on #1880
This might be a bit too vague of an issue to take as a newcomer to the project.
Have a look at how our `APP_REFRESH` event works - if we consider our app had interrupted connectivity with the server it will refresh certain parts of its data.

[2018-03-19 17:50] aswinmohanme commented on #2076
I can confirm on the Beta App on Android. It crashes just after the Zulip spinner

[2018-03-19 17:52] aswinmohanme commented on #2077
I can confirm this too.

Steps to Reproduce:
* Goto any Stream
* Compose a Message
* Select the Topic
* Kaboom Everything goes south (A.K.A Crash)

[2018-03-19 18:03] HarshulSharma000 commented on #311
@borisyankov Reactotron does provide it's own performance measuring utility should I use that and get to work?

[2018-03-19 19:09] borisyankov commented on #311
@HarshulSharma000 that sounds like a good general idea, but I am closing this issue as we have improved the performance a lot since this was created and we don't need to track it.

In any case, if you find something can be made faster, this will be a good thing to improve. Just focus on slow tasks. Improving 20% something that takes one second is quite preferable than making something 5 times fast

[2018-03-19 19:09] #311 closed

[2018-03-19 20:50] borisyankov commented on #2077
I confirm this as fixed. The release including the fix is already pushed to Production.

[2018-03-19 20:50] #2077 closed

[2018-03-19 22:17] anirudhjain75 commented on #2068
@anurag1018 What icon do you think will be good for a language option ? @borisyankov do you think this is to be done ?

[2018-03-19 23:32] borisyankov commented on #2076
There was another bug that was in the short-lived Beta today. Thus this should not be considered a confirmation of the bug.

[2018-03-20 03:39] ayushmankd opened #2094 "Margin in the Welcome text-Welcome screen"
There is no margin in the Welcome text of the welcome screen

[2018-03-20 03:41] ayushmankd opened #2095 "App Crashing when pressing Enter without any organisation url"
Whenever I press Enter without Entering any organisation url the app is crashing,
It needs to say something like no URL in toast

[2018-03-20 06:47] codebu5ter commented on #2095
I'd like to work on this.

[2018-03-20 14:57] HarshulSharma000 commented on #2095
I would also like to work on this..

[2018-03-20 15:05] borisyankov commented on #2095
What version of the app? What platform?

[2018-03-20 15:21] anirudhjain75 commented on #1959
@zulipbot abandon

[2018-03-20 15:27] codebu5ter commented on #2095
@borisyankov This crash is even happening on the dev version of the Android app.

[2018-03-20 15:38] ayushmankd commented on #2095
@borisyankov
It's happening in the updated release app that I downloaded from the playstore.

[2018-03-20 18:15] pulkonet commented on #2094
Can you please explain the issue a bit? It would be handy if you add steps of reproduction.

[2018-03-20 18:16] pulkonet commented on #2048
This can be closed IMO.

[2018-03-20 18:17] pulkonet commented on #2068
I think this is a good UX improvement. Any suggestions? @borisyankov  @jainkuniya

[2018-03-20 19:09] pulkonet commented on #1959
I have assigned it to myself. I'll fix this and send a PR.

[2018-03-20 19:11] jainkuniya commented on #2094
@ayushmankd It will be great if you could add some screenshots :)

[2018-03-20 19:14] jainkuniya commented on #2068
Cool!
@anurag1018 Please post icons you are thinking of.
Also guys please try other app too, how they handle such cases.

[2018-03-20 19:15] jainkuniya commented on #2048
@codebu5ter are you still facing this?

[2018-03-20 19:19] pulkonet commented on #2068
![screenshot_20180321-004822__01](https://user-images.githubusercontent.com/24983958/37677672-b697f2de-2ca1-11e8-8370-c9820e801566.jpg)
These are icons from Slack.

[2018-03-20 19:27] HarshulSharma000 opened #2098 "Android Hardware Back press required twice"
**Description**
Inside any of the streams to go to previous screen by hardware back press, it is required to be pressed twice. Thus it seems like first back key press is being ignored. And after that app navigates to first screen(home) of main tab navigator. Instead if it should keep the progress of previous tab navigator.

**Platform: Android 6**
**Steps to Reproduce:**
1) Go to the streams tab o

[2018-03-20 19:28] HarshulSharma000 commented on #2098
I would like to work over this @borisyankov  @gnprice  @jainkuniya

[2018-03-20 19:51] borisyankov commented on #2094
This is fixed by #2099

[2018-03-20 19:52] borisyankov commented on #2048
That has been fixed.

[2018-03-20 19:52] #2048 closed

[2018-03-20 20:46] borisyankov commented on #2098
Sure you can work on that. In fact, this is an important bug to fix fast.
This is likely an issue with React Navigation (though some chance it is with our code). I noticed it too.
@jainkuniya did you fix the previous similar bug?  If so, can you remind me and @HarshulSharma000  what was the issue?

[2018-03-21 02:36] ayushmankd commented on #2094
Yeah it has been fixed in the new update!

[2018-03-21 05:24] jainkuniya commented on #2098
Yup! I fixed  the previous similar bug.
My previous commit https://github.com/zulip/zulip-mobile/commit/2a3e821f1a05c73da24122285921ae22ab40fec1

Actually each `navigation` in `react-navigation` (drawer, tabs, stack navigation) have their own implementation of handling back button press. Now the question is: when you press button it should be captured by which component.

On Current master if you

[2018-03-21 05:26] HarshulSharma000 commented on #2098
@zulipbot claim

[2018-03-21 05:28] jainkuniya commented on #2098
@zulipbot label "help wanted"

[2018-03-21 05:29] jainkuniya commented on #2098
@HarshulSharma000 Now you can claim

[2018-03-21 05:29] HarshulSharma000 commented on #2098
@zulipbot claim

[2018-03-21 07:10] mayank4kathuria commented on #2052
@zulipbot claim

[2018-03-21 10:34] gokcan commented on #2052
@zulipbot claim

[2018-03-21 10:39] borisyankov commented on #2052
@gokcan feel free to work on part of this without claiming this issue as it can be broken down into many small tasks and multiple contributors can work on simultaneously.

[2018-03-21 13:40] borisyankov commented on #1959
Not sure the way this issue is defined aligns with our intentions.
Before working on more code, please do discuss what you are planning to implement, so we don't both waste efforts on something that might not get merged.

[2018-03-21 13:40] #1959 closed

[2018-03-21 13:49] borisyankov opened #2104 "TypeError: TypeError: undefined is not an object (evaluating 'e.aggregated')"
https://sentry.io/zulip/zulip-mobile/issues/499769306/

[code]

[2018-03-21 14:03] #2104 closed

[2018-03-21 14:40] HarshulSharma000 commented on #2098
@jainkuniya We can also try screen wise custom back behaviour as described in- https://reactnavigation.org/docs/custom-android-back-button-handling.html

[2018-03-21 17:30] timabbott opened #2106 "When narrowing to a private message thread from the "unreads" view, positioning wrong"
Last night on the latest app, I got placed ~20 messages above the 1 new message from someone when narrowing to view their messages.

(I also saw this with 1 random other topic, so the issue might not be constrained to private messages).

We need to figure out an automated testing system or something for this layer of the app - we should be able to get narrow positioning right 100% of the time with

[2018-03-21 17:36] borisyankov commented on #2106
Sometimes there is a difference between narrowing to a narrow and having to fetch new messages, or trying to update existing ones plus position.

I'll have a look at this, will fix and do a quick release tomorrow.

[2018-03-22 15:08] anurag1018 commented on #2068
The icons should make the function of the options obvious. Meeting with the design standards of the app material icons(https://material.io/icons/) might be suitable here. Here are the settings options and the name of the icons I found to be suitable:
Night Mode: brightness 4
Notifications: notifications
Language: language
Diagnostic: bug-report

[2018-03-22 16:28] borisyankov opened #2110 "Error: Invalid narrow operator: unknown stream core team"
https://sentry.io/zulip/zulip-mobile/issues/498391688/

[code]

[2018-03-22 16:46] pulkonet commented on #2098
It is not an issue on Android 8.0.0. Can't reproduce it.

[2018-03-22 16:49] borisyankov commented on #2098
It likely is not dependent on platform version so you probably just missed it 😄

[2018-03-22 16:51] HarshulSharma000 commented on #2098
@borisyankov  I think I have found the problem please check mobile channel.

[2018-03-22 18:26] gnprice commented on #1191
The current behavior seems to be that we give the error message "Network request failed". This doesn't give much idea that there might be an issue with the certificate -- instead it just looks like the app is broken. We regularly get people reporting this as an issue in the app; here's [one today](https://chat.zulip.org/#narrow/stream/31-production-help/subject/Android.20apk.20-.20Network.20reques

[2018-03-22 19:05] gnprice commented on #1191
Alternatively, if it really is super hard to distinguish "the server or network is down" from "the server is on the network but SSL is busted", @timabbott points out that we could make the situation a lot better even without that distinction: we just need to make the error message more verbose, explaining that it could be this issue and again linking to docs.

[2018-03-22 22:44] borisyankov commented on #1191
I will edit this issue and will suggest it as a potential task for GSoC candidates.

[2018-03-23 03:04] ebouJ opened #2111 "two buttons overlap"
There is an issue with StreamScreen at src/streams/StreamScreen. The two zulipButtons overlap caused by spacing issues

[2018-03-23 03:06] ebouJ commented on #2111
@zulipbot claim

[2018-03-23 03:07] ebouJ commented on #2111
@zulipbot label "help wanted"

[2018-03-23 03:08] ebouJ commented on #2111
@zulipbot claim

[2018-03-23 04:25] codebu5ter commented on #2111
Duplicate of #2009

[2018-03-23 07:14] robgev commented on #1946
@zulipbot claim

[2018-03-23 12:32] sergeykorablin opened #2113 "IOS: The application crashes if you try to download a file containing Cyrillic characters in the name"
In Android application everything is fine.

[2018-03-23 14:09] borisyankov commented on #2113
Hmm, interesting. This is an appropriate bug to fix for new contributors.

[2018-03-23 14:09] borisyankov opened #2114 "TypeError: TypeError: undefined is not an object (evaluating 'e.streamId')"
https://sentry.io/zulip/zulip-mobile/issues/501672232/

[code]

[2018-03-23 14:11] borisyankov opened #2115 "Error: Download manager failed to download from (a user_uploads URL)"
https://sentry.io/zulip/zulip-mobile/issues/501654438/

[code]

[2018-03-23 15:32] timabbott opened #2116 "Upvoting an emoji reaction appears to be broken on Android"
May also be on iOS, but I tried adding my vote to an emoji reaction today, and nothing happened.

I'm guessing this is a fairly shallow bug since this used to work, but who knows?

[2018-03-23 17:39] borisyankov commented on #1666
I am not sure this still exists. @sd1998 can you confirm you can reproduce?

[2018-03-23 18:00] sd1998 commented on #1666
@borisyankov the bug does not exists.

[2018-03-23 18:01] sd1998 commented on #1666
@zulipbot abandon

[2018-03-23 20:12] jainkuniya commented on #2116
@zulipbot claim

[2018-03-23 20:50] #1666 closed

[2018-03-24 00:20] borisyankov commented on #2068
We use [Feather Icons](https://feathericons.com/)
Looks like a decent idea.

[2018-03-24 03:25] anurag1018 commented on #2068
The app also has some Material Icons.
[code]
They seemed a better fit here to visually segregate the function of the menu from the bottom navigation bar.

[2018-03-24 08:20] pulkonet opened #2122 "Sharing image not working as intended"
When we share image only the name of the image is being sent as the message, but an image must be sent.

Steps to Reproduce:
1. Long press on any image
2. Click on Share
3. Choose WhatsApp or any other app where you can send images

Only text (name and comment) related to the image will appear pre-filled.

Tested on OnePlus A3003 (Android 8.0.0)

[2018-03-24 16:26] HarshulSharma000 commented on #2122
@pulkonet Image is getting uploaded and shared but it is only viewable on specifically clicking on the image in full screen image mode. In short preview of image is not avialable.

@borisyankov I would like to work on this issue.

[2018-03-24 16:33] pulkonet commented on #2122
I don't think you got the point. I'm saying the image isn't being sent in the intent to foreign apps. Have you checked it correctly according to the steps of reproduction?

[2018-03-24 16:37] HarshulSharma000 commented on #2122
@pulkonet ok got it. I guess we have a problem in our sharing module.
I am interested in working over this if I get the permission to.

[2018-03-24 16:40] pulkonet commented on #2122
Claim it if you wish to work on it. We need to solve the bugs, I don't think you need a permission to work on this.

[2018-03-24 16:45] HarshulSharma000 opened #2126 "Image after upload is not being shown as image preview in chat"
**Description**-
Uploading an image into the chat either via clicking an image from in app camera or uploading an image from gallery. Results in the image being uploaded and sent but is not viewable within the chat. The image is viewable on full screen mode.
**Platform**: Android 6
**Steps to Reproduce**:-

- Go to any chat upload any image or click one within zulip.
- Image preview is not viewabl

[2018-03-24 16:45] HarshulSharma000 commented on #2126
@borisyankov  @jainkuniya  I would like to work on this. I guess we might be having a problem with image styling or rendering.

[2018-03-24 16:48] pulkonet commented on #2126
I am not sure what you are talking about. I tried to upload an image and it got rendered in a second or so. Can you please elaborate the steps of reproduction?

[2018-03-24 16:53] pulkonet opened #2127 "Image preview doesn't exit on clicking back button (physical)"
Once you open image preview, it doesn't exit on clicking the back button. Although the there is a button specifically for exiting the preview but the default behaviour of the back button must also serve the same function. Also, clicking the physical back button twice (not in quick succession) exits the app.

[2018-03-24 17:02] HarshulSharma000 commented on #2126
![screenshot_20180324-222826](https://user-images.githubusercontent.com/25546227/37866616-21441b30-2fb3-11e8-8117-53a1300816d7.jpg)
@pulkonet After uploading getting this.

[2018-03-24 17:04] pulkonet commented on #2126
I am not getting this, maybe this is because of your network speed.
My image is uploading properly.

Please check with others also.

On Sat, Mar 24, 2018, 22:32 HarshulSharma000 <notifications@github.com>
wrote:

[2018-03-24 17:10] HarshulSharma000 commented on #2126
Tried uploading three images images are viewable if you click over them. Basically on fully screen image mode they act normally. As for the internet speed tried wifi and mobile data. Both result in same.

[2018-03-24 21:03] timabbott opened #2128 "Some mobile clients repeatedly registering for push notifications in same second"
I saw some server-side exceptions because we had 2 requests for a single push ID to register for push notification in the same second (this resulted in an exception because the timestamp was the same, and so our `token.save(update_fields=['last_updated'])` was failing).  Checking server logs more generally shows a pretty consistent pattern of clients trying to register for push notifications many

[2018-03-24 23:29] borisyankov commented on #2128
Do you have any idea if this is something new or we just have not noticed until now?

[2018-03-24 23:55] timabbott commented on #2128
The exception in question was first seen March 9 but has only happened like 5 times.  The blocks of repeated requests goes back at least to March 5 (probably even further).

[2018-03-25 12:18] yorickvP commented on #2126
Also happens for me. It works when you click it but doesn't show in the short preview, even after an app restart.

[2018-03-25 12:25] yorickvP opened #2129 "Realm emoji reactions showing as "undefined""
I'm running on v11.8.79 (android 7.1.1). This should have #1698 merged, right?.
My realm emoji's aren't showing in the app. What's going on?
![screenshot](https://pub.yori.cc/zulip-app-emoji.png)

[2018-03-25 13:36] jainkuniya commented on #2129
I am working on #2116, also #1698 is implemented by me.
And most likely fix of this &  #2116 will be same :)
Will be fixed soon. Thanks for the report.

@zulipbot claim

[2018-03-25 14:21] HarshulSharma000 commented on #2122
@zulipbot claim

[2018-03-25 14:26] HarshulSharma000 commented on #2122
@borisyankov @jainkuniya Any help 😅

[2018-03-25 14:56] jainkuniya commented on #2122
@zulipbot will not allow to claim more than 1 issue to new contributors.
Which other issues are you working on, if it is completed, let me know I will review it :)
else its better to focus on that one and make progress in the app development. :)

[2018-03-25 15:07] jainkuniya commented on #2127
mostly  same as #2098

[2018-03-25 15:10] pulkonet commented on #2127
Yes, but my focus is not on pressing it twice, but it is on exiting the app on clicking twice.

[2018-03-25 15:15] jainkuniya commented on #2127
ya! got it.
Will take of it 👍

@zulipbot claim

[2018-03-25 17:03] yorickvP commented on #2126
Some more debugging results in:
[code]

Seems like the webview doesn't have the authorization to fetch these things.

[2018-03-25 17:56] yorickvP commented on #2126
It seems to be pretty hard to get these authorization headers into that webview (in MessageListWeb.js), react doesn't support it on Android.

[2018-03-25 21:53] pulkonet commented on #2098
@borisyankov Checked it again. It goes back in a single press. Not sure why this might be happening.

[2018-03-25 23:14] borisyankov commented on #2068
We do use these material icons only because there are no appropriate Feather icons.

[2018-03-25 23:46] #2114 closed

[2018-03-26 01:11] ebouJ commented on #1191
I can work on this.

[2018-03-26 01:12] ebouJ commented on #1191
@zulipbot claim

[2018-03-26 01:39] ebouJ commented on #1191
@borisyankov what is a self-signing certificate?

[2018-03-26 03:31] ebouJ commented on #1191
Currently, this is what I have so far. I just need to know what a self-signing certificate is

      `tryRealm = async () => {

     const { realm } = this.state;

       this.setState({
       realm,
       progress: true,
       error: undefined,
    });

    const { actions } = this.props;

    try {
      const serverSettings = await getServerSettings(realm);
      actions.realmAdd(realm);

[2018-03-26 03:48] borisyankov commented on #1191
@ebouJ read the description of the task carefully. You are missing key points of it!

[2018-03-26 03:59] ebouJ commented on #1191
Should I bridege and write a native function to ignore SSL when connecting to a URL? @borisyankov

[2018-03-26 04:19] borisyankov commented on #1191
Yes!

[2018-03-26 10:09] mkaito opened #2137 "Android: tapping a notification does not take me to the message that caused it"
As the title says, I get a notification for a new message. I tap it, expecting to be taken to read the same message along with relevant context. Instead, the app opens wherever it was when I last used it.

[2018-03-26 10:11] mkaito opened #2138 "Per-realm notification settings (formerly "Fine grained notification settings")"
At the highest level, per-ream notification settings seem like they would be pretty useful.

In a more specific use-case, per-stream or even per-topic settings would be nice. Specifically, we're looking to use Zulip as part of our alerting system for the devops team, and being able to "mute everything except this stream/topic" would help.

[2018-03-26 10:19] mkaito opened #2139 "Android: erratic scrolling"
I've found that scroll behaves erratically:

* When a new message arrives, it will either not scroll into view, or it will scroll past it (2-3 pages upwards).
* Sometimes it will scroll up when no new messages arrive too.
* Tap the scroll-to-bottom button, which does as advertised, and closes the keyboard. Tap the text entry to get keyboard back, and scroll goes back up 2-3 pages.

[2018-03-26 19:34] jainkuniya opened #2142 "Handle out of memory cases."
<img width="410" alt="screen shot 2018-03-27 at 12 56 04 am" src="https://user-images.githubusercontent.com/18511177/37928491-9f723502-315a-11e8-9131-0365e8e4fbca.png">

Not a priority but we definitely need to take care of this in future.

[2018-03-26 21:54] borisyankov commented on #2142
When does that happen?

[2018-03-27 03:32] gnprice opened #2146 "Narrow to stream lands far in the past, plus marks as read"
This is a continuation of #1545 -- essentially the same symptoms showed up again for me today, on version 79 which I believe is the latest. Opening separately because we believe we previously fixed at least one issue that could have accounted for #1545. Today's version has an additional, quite serious symptom too.

From the "unreads" view, I tapped a stream. Here's a screenshot of what I got:
![im

[2018-03-27 03:34] gnprice commented on #1854
Aha, just saw this again now. Here's a screenshot -- I tapped on a stream from the unreads view:
![image](https://user-images.githubusercontent.com/28173/37945432-0cc270d4-3135-11e8-9c65-7f3f2ccf16f2.png)

[2018-03-27 03:45] gnprice commented on #2146
Here's another example, in two screenshots. Again I tapped on a stream from the unreads view. Again, I landed far back in the past -- farther this time, just about 5 screenfuls.

This time, the new messages weren't marked as read at first; here's a screenshot right after tapping on the stream to narrow to it:
![image](https://user-images.githubusercontent.com/28173/37945681-2d4b324a-3136-11e8-91e2

[2018-03-27 15:19] codebu5ter opened #2149 "App crashes on double pressing back button on 'Topics' screen"
****Steps to reproduce:****

1. Narrow to any stream.
2. Tap the 'bullet list' icon to go to the `Topics` screen.
3. Press hardware back button twice.

![screenshot_20180327-190234](https://user-images.githubusercontent.com/16636569/37976751-d0b79f30-31ff-11e8-9045-bf0c06963d85.png)

[2018-03-27 18:01] #2095 closed

[2018-03-27 18:11] #2009 closed

[2018-03-27 18:42] #2071 closed

[2018-03-27 18:49] #2127 closed

[2018-03-27 20:47] gnprice commented on #2110
Copying the one comment in the Sentry thread: @timabbott observes,

[2018-03-27 20:54] gnprice commented on #2137
Thanks @mkaito for bringing this up! I definitely agree this is an essential feature and we need to get it working.

We have an existing issue #1789 describing the need for this, so I'm closing this one in favor of further discussion there.

[2018-03-27 20:54] #2137 closed

[2018-03-27 20:56] gnprice commented on #1789
@borisyankov , what's the current status of how much of this is expected to work at this point?

[2018-03-27 21:27] borisyankov commented on #1789
The important things:
* not narrowing on iOS besides just running the app
* on Android we should not be grouping all notifications in one but group by narrow
* not narrowing correctly when group notification (I'll fix that next)

Less important and complicated:
 * handle the case when not logged in (when logged in, narrow to the message)
 * the case when logged in to another realm - offer to switc

[2018-03-27 21:37] akashnimare commented on #1191
I have set up [this](https://akashnimare.zulipdev.org/login/ ) server for testing self-signed certs. If anyone wants then feel free to use it. PM me for the certificate.

[2018-03-27 21:47] gnprice commented on #2016
Marking as critical, because
* a crash is always pretty bad, and
* a bug that blocks the user when they're first trying to use the app is super bad, and
* we [regularly see this issue in Sentry](https://sentry.io/zulip/zulip-mobile/issues/342464306/events/latest/), so people are in fact hitting it.

@anurag1018 , unassigning you because it's been a couple of weeks; this is open for anyone to pick

[2018-03-27 21:52] gnprice commented on #1377
This was never really fixed -- one case of it was just papered over. Tracking the ongoing issue at #2016, where there's been some additional discussion.

[2018-03-27 21:52] gnprice commented on #2016
More details at the original report of this issue, #1377 .

[2018-03-27 22:20] borisyankov commented on #2016
We already check for valid URL in the API layer. Closing as no longer crashing.

[2018-03-27 22:20] #2016 closed

[2018-03-27 22:21] borisyankov commented on #1191
@ebouJ this is a cool opportunity to test if your code works. Let us know if you need help.

[2018-03-27 22:41] ebouJ commented on #1191
See the out of using his self-signed certificate. I also tried a couple of them yesterday from https://badssl.com. @borisyankov
![29634720_1975114692530318_250454613_o](https://user-images.githubusercontent.com/22877561/37998798-20610b5a-31ee-11e8-8c88-b0b924b3340b.png)

[2018-03-28 04:38] jainkuniya commented on #2142
I don't find any specific steps to reproduce. But whenever it does at that time device is hanging (very less free RAM is available). So it might be in the optimising memory utilization project in future.

[2018-03-28 10:52] borisyankov commented on #1191
Oh, https://badssl.com/ is great!
Can you distinguish between https://self-signed.badssl.com/ and any other? That is what we care about.

[2018-03-28 15:01] borisyankov commented on #2142
Does that happen on start? Running on a real device?
Do you think our app is causing the out of memory issue or is it just the device running out of memory?

[2018-03-28 17:07] borisyankov opened #2159 "TypeError: TypeError: undefined is not an object (evaluating 'e.aggregated.timestamp')"
https://sentry.io/zulip/zulip-mobile/issues/503311996/

[code]

[2018-03-28 18:27] ebouJ commented on #1191
I did that for my first implementation but had to change because of the approach I took. For now, all SSL related issues are classified as the same error. What I did before was to classify them based on the error message I get if I try to connect.  Each of the SSL problems returns a unique error message but I feel like it was hardcoded and if the error change it's going to break the code. So I can

[2018-03-28 18:49] jainkuniya commented on #2142
No it's in the middle of the playing with app.

No real device, it just crashes when such error occurs. I got this error on emulator.

Device running out of memory. Till now we haven't much in optimising memory. It's not a priority, occurs very very rare. But in long future this might be good project to consider.

[2018-03-29 15:38] jayvdb commented on #1555
Dup of https://github.com/zulip/zulip-mobile/issues/303 ?  (and I saw another issue about the UI for viewing who added emoji)

[2018-03-29 15:39] jayvdb commented on #1304
Is this a dup of https://github.com/zulip/zulip-mobile/issues/303 ?

[2018-03-30 10:30] gokcan commented on #2113
Need to debug this.
@zulipbot claim

[2018-03-30 22:16] faxe78 opened #2178 "Convert HEIC/HEIF images on upload from iOS"
(Summary by @gnprice:)

Images created by recent versions of iOS are often in the HEIF format (extension `.heic`), which is a patent-restricted Apple format. When those images are uploaded, they tend to be unreadable elsewhere.

When uploading an image on iOS that's in HEIF format, we should use platform facilities to get or create a JPEG version and upload that.

(Original report follows.)

---

[2018-03-30 22:25] faxe78 commented on #2178
if i click on my desktop chrome on the image link the image is downloaded to my mac and preview can view this image.

I tried to upload the same picture in rocket chat and it uploads a jpg file for me it looks like i choose the same file. so it looks like the app can choose which format to upload or is it converted in the app? maybe that information helps.

[2018-03-31 01:54] gnprice commented on #2142
Interesting, thanks for the report!

That allocation is >3MB -- it's a pretty sizable amount of memory it's trying to allocate right there. I suspect we're just consuming a ton of memory in total.

In general, handling out-of-memory situations is tough, and requires a lot of discipline in the code; I'm not sure it's even possible in an RN app. In any case we're not realistically going to be up to

[2018-03-31 01:54] #2142 closed

[2018-03-31 03:28] anirudhjain75 commented on #2138
Yes it will be a good improvement, @borisyankov Should I start working on this ?

[2018-03-31 03:31] anirudhjain75 commented on #2138
Though I don't think per topic notification would be good, but per stream would be nice

[2018-03-31 09:50] anirudhjain75 commented on #2178
@borisyankov I'd like to work on this

[2018-03-31 10:53] pulkonet commented on #2122
@zulipbot claim

[2018-03-31 11:06] pulkonet commented on #2122
@borisyankov Since the Share module provided by react native is only able to share text on android, shall we use another library such as [react-native-share](https://github.com/EstebanFuentealba/react-native-share) which is quite popular.

[2018-03-31 12:52] anirudhjain75 commented on #2178
@faxe78 Could you send me a pic in heic or heir format ? Upload it to Drive and send me the link.

[2018-03-31 13:21] jainkuniya commented on #2122
@pulkonet here this problem as to do nothing with share module.
Here problem is we are not considering the long press of image. We are not differentiating that whether it is a message text or image. We are always considering it as a message.
So in order to fix (I would rather say improvement) this, we need to show action sheet which is being shown in Lightbox when user long presses image in webVie

[2018-03-31 19:59] codebu5ter commented on #2149
@anirudhjain75 I'm also unable to reproduce this issue anymore. A recent commit must've fixed it.
I'm closing this issue.

[2018-03-31 20:00] #2149 closed

[2018-03-31 22:08] faxe78 commented on #2178
looked and found an example image.

http://nokiatech.github.io/heif/content/images/autumn_1440x960.heic

there are more examples.

http://nokiatech.github.io/heif/examples.html

[2018-04-01 22:59] mkaito commented on #1321
To add to the conversation here, I would like to point out that there's no way to know what the currently active realm is except going to the switcher. Would be useful to have the realm icon visible somewhere.

[2018-04-02 02:05] borisyankov commented on #1321
@mkaito as with many other things a mobile app has to have much more focused screens with way less extra details.

While we will not make the account icon always visible, we are going to make the account switcher faster to access which will be quite an improvement.

[2018-04-02 18:15] anirudhjain75 commented on #2178
We could convert the image from heic/heif to commonly used format when uploading is done, This way is followed by other sharing tools like Telegram.

[2018-04-02 20:06] gnprice commented on #2178
Thanks @faxe78 for raising this!

Yeah, we should upload a JPEG file. Unfortunately it looks like there isn't (and won't be) free software for handling HEIF images, because it's encumbered with a tangle of patents -- so we can't do the conversion on the server.

Based on some comments on https://github.com/ivpusic/react-native-image-crop-picker/issues/611 , it sounds like some tools may already pr

[2018-04-02 20:31] gnprice commented on #1854
Saw this again today, on version 81. This time it was combined with symptoms of #1545 or #2146 -- I landed far in the past, and then moreover scrolling down didn't work.

Specifically, I opened the `#test here` stream and landed on some messages from Feb 19, six weeks ago. There should be hundreds more messages to show, but it's as if these were the latest messages in the stream. Scrolling up into

[2018-04-02 21:44] gnprice opened #2206 "Narrowing to a muted topic shows no messages"
If you mute a topic, then navigate to it (via the stream narrow -> "info" icon in upper right -> Topics -> the topic), we show the "no messages" screen. Instead, we should be showing the messages in the topic.

Thanks to @Yoshi8765 for the report.

[2018-04-02 23:03] gnprice commented on #1191
Nice!

I don't think it's necessary, or even helpful, to give different error messages for different kinds of SSL errors. For most users that will be more confusing than helpful and not at all actionable; and for the server admin, they have better tools to investigate the SSL issue if they want to.

Like I said above, if we can just distinguish between
* a network failure (like the server doesn't

[2018-04-02 23:07] gnprice commented on #2016
For reference: it looks like the fix for this was commit 2c456c635.

[2018-04-03 00:09] #2068 closed

[2018-04-03 00:25] ebouJ commented on #1191
@gnprice the current  pull request is doing exactly that. The first thing I did was to check if the user has active internet connection, if not then that's the problem. Otherwise it's either SSL or the server doesn't exist. I then try to connect using the native function and ignoring all the SSL trust issues if the connection was successful then I gave a generic error message like "This server can

[2018-04-03 13:40] jainkuniya opened #2209 "Error in rendering terminal icon in dev auth screen."
<img width="285" alt="screen shot 2018-04-03 at 7 09 07 pm" src="https://user-images.githubusercontent.com/18511177/38252756-9f57307c-3772-11e8-88b0-e641f879367e.png">

submitted https://github.com/oblador/react-native-vector-icons/pull/693

[code]

[2018-04-03 15:35] ariefmunanzar opened #2211 "New Logo Proposal for Zulip"
Hi Developer :)
I'm a graphic designer and i'm willing to design an icon and a logo for your application and i need your permission before start .
 ##
Thank you.

[2018-04-03 18:43] gnprice commented on #2211
Thanks, but we're happy with our logo and have no current plans to change it.

[2018-04-03 18:43] #2211 closed

[2018-04-04 02:11] ariefmunanzar commented on #2211
Thanks for your feedback sir

[2018-04-04 04:01] jainkuniya opened #2216 "Check & request for photo/file storage permission before accessing/downloading."
https://chat.zulip.org/#narrow/stream/48-mobile/topic/Download.20File.20(iOS)

@zulipbot claim

[2018-04-04 16:49] ebouJ commented on #1007
@borisyankov can you shed more light on this?

[2018-04-04 17:36] borisyankov commented on #1007
This is not that important to do right now.

[2018-04-04 19:42] HarshulSharma000 commented on #2126
@zulipbot  claim

[2018-04-05 00:41] gnprice commented on #2004
Closing, as we don't currently plan to change this.

[2018-04-05 00:41] #2004 closed

[2018-04-05 00:43] gnprice commented on #2029
More translations are always welcome! That work will never be done (as long as the app keeps being developed), so I'm closing this issue.

If you spot a string which isn't sent to Transifex, or where the translation doesn't get applied, please open a specific issue for that.

[2018-04-05 00:43] #2029 closed

[2018-04-05 01:03] gnprice commented on #1966
I agree with Tim -- this looks really broken, and I see it pretty often. Sent a PR with the fix to just say "Reply".

[2018-04-05 01:30] gnprice commented on #1965
Here's a solution I think would work well for this:
* Replace these two links with just another `OptionButton`, labeled "Privacy & Terms", leading to another screen.
* On that screen, have one ordinary `OptionButton` for "Privacy Policy", and another for "Terms of Service".

That way we reduce the number of different competing designs for different things, and in particular resolve this issue with

[2018-04-05 04:30] #1966 closed

[2018-04-05 04:49] codebu5ter commented on #2111
@borisyankov This can be closed since #2023 fixed this issue.

[2018-04-06 05:00] anirudhjain75 opened #2239 "Issue with NavBar"
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/14249589/38404099-4cae3964-3985-11e8-80e1-a1accc223f16.gif)
Is this an wanted animation ??
I've checked issue #2176 It doesn't seem to change this.

[2018-04-06 07:29] borisyankov commented on #2239
Yeah. That is an intended behavior.

[2018-04-06 07:29] #2239 closed

[2018-04-06 19:54] #2216 closed

[2018-04-06 22:03] borisyankov opened #2242 "TypeError: TypeError: undefined is not an object (evaluating 'e.aggregated.timestamp')"
https://sentry.io/zulip/zulip-mobile/issues/515234769/

[code]

[2018-04-07 17:14] #2011 closed

[2018-04-07 21:34] pulkonet commented on #1779
This is still an issue. Are you working on it? If not, please abandon this so that I can claim this.

[2018-04-07 21:36] pulkonet commented on #2209
Will this be fixed on their end or we have to fix it on our side?

[2018-04-07 22:17] pulkonet commented on #2138
This feature can be given to a user as an option to choose from. This would be pretty sweet if implemented correctly. I would like to work on it, but I don't think this is anywhere on the priority list.

[2018-04-07 22:25] pulkonet commented on #1773
This isn't a necessity for the mobile app IMO. The mobile app must have consistent and robust views. This can be closed for now.

[2018-04-07 22:29] pulkonet commented on #2129
Related to #1744

[2018-04-07 22:32] pulkonet commented on #1270
@anirudhjain75 any success in uploading the app to fdroid?

[2018-04-07 22:35] pulkonet commented on #1246
Fixed via #2123

[2018-04-07 22:36] pulkonet commented on #1142
I think this issue is fixed with the webview. Can be closed.

[2018-04-07 22:38] pulkonet commented on #1133
Since the zulip-android app is deprecated, this is no longer needed. Can be closed.

[2018-04-07 22:41] pulkonet commented on #1102
The app still doesn't show up in the share list, what could be the reason @borisyankov ? I would like to fix that.

[2018-04-07 22:49] pulkonet commented on #766
This can be done easily on android but requires writing native java code. If this is somewhere in the priority list we can do that, but I don't think implementing this should be on our plans as of now as the longPress app shortcuts are only supported by Android 7.0.0 and above.

[2018-04-07 22:50] pulkonet commented on #813
This is implemented and can be closed.

[2018-04-07 22:53] pulkonet commented on #517
Do we want to implement this? I think this is a nice feature and could be added easily.

[2018-04-07 23:08] pulkonet opened #2249 "Support copying just a link URL, rather than whole message text"
At the moment if we long press a link and then select copy to clipboard from the actionsheet the whole message containing the link gets copied to the clipboard which IMO isn't a desirable behavior. This can be fixed by only copying the link to the clipboard.

[2018-04-08 17:54] jainkuniya commented on #1779
@pulkonet Thanks for the interest.
I am almost done with it, will push it soon.

[2018-04-08 17:56] jainkuniya commented on #1102
@pulkonet soon it will be in master. #674

[2018-04-08 18:00] jainkuniya commented on #2209
as https://github.com/oblador/react-native-vector-icons/pull/693 got merged, it will be included in their next release, we just need to update when they release and close this :)

[2018-04-08 18:04] rishig opened #2252 "feature request: See who reacted with an emoji."
Slack's implementation (long press the emoji) seems reasonable here?

[2018-04-08 18:08] jainkuniya commented on #2252
I thinks we had a open issue for this one (no matter, can't find it right now)
FB messenger also handle this nicely.

@zulipbot claim

[2018-04-09 03:00] borisyankov commented on #2252
I am adding it to 'Next' as it has already been requested several times, seems important enough.

[2018-04-09 03:01] borisyankov commented on #2209
It was released a few days ago. Closing.

[2018-04-09 03:02] borisyankov commented on #2249
Good catch. If you want, you can work on this!

[2018-04-09 03:02] borisyankov commented on #517
We haven't decided on adding it yet.

[2018-04-09 03:02] borisyankov commented on #813
Indeed :)

[2018-04-09 03:02] #813 closed

[2018-04-09 03:03] borisyankov commented on #766
I think it is so low priority that there is no need to keep it as an open issue.

[2018-04-09 03:03] #766 closed

[2018-04-09 03:04] borisyankov commented on #1133
@strugee are you still using both apps?

[2018-04-09 03:04] #1133 closed

[2018-04-09 03:04] borisyankov commented on #1142
Yeah, fixed.

[2018-04-09 03:04] #1142 closed

[2018-04-09 03:05] #1246 closed

[2018-04-09 03:05] #1929 closed

[2018-04-09 03:44] pulkonet commented on #2249
@zulipbot  claim

[2018-04-09 03:51] pulkonet commented on #2252
Requested as a part in #1555

[2018-04-10 23:58] #2242 closed

[2018-04-10 23:58] borisyankov opened #2273 "TypeError: TypeError: null is not an object (evaluating 'this.messageInput.focus')"
https://sentry.io/zulip/zulip-mobile/issues/518552243/

[code]

[2018-04-11 07:38] ababak opened #2274 "iOS and Android apps don't show images"
They show empty square placeholders and when inspecting copied image URL, I see the local path: /user_uploads/3632/66mPvbb7lbAy6HOFSySSgXIB/image.png

In the web client, everything appears correctly.

We use Zulip Cloud if this matters.

[2018-04-11 10:54] #2273 closed

[2018-04-11 12:26] ababak opened #2277 "Posting a private message to a new person doesn't show anything on my side"
It sends the message (I see the person receives it on another phone) but I can't see anything on my side. Besides, when I received a reply I couldn't see it either, only in the notification. It looked pretty weird. After some time (10 minutes maybe), some messages appeared in the phone app but not all. The person I am chatting with still not get listed in the people tab.

The web client works fine

[2018-04-11 13:28] pulkonet commented on #2249
@gnprice I followed the style used in Slack, they just copy the link to clipboard `onLongPress`. This is particularly better than showing an action sheet because the action sheet would only show actions like `Copy Link To Clipboard`, ` Open Link` and `Cancel`. These actions will be redundant if shown on an action sheet as the user can perform the same task in one step.

[2018-04-11 16:00] borisyankov commented on #2277
@ababak Thank you for reporting this.
I reproduced this. This happens when talking to a user you've never talked to before.
Short-term, restarting the app will fix that.
A proper fix will come in the next day or two. I'll ping you here when we release the app.

[2018-04-11 16:36] anirudhjain75 commented on #2274
@zulipbot claim

[2018-04-11 17:11] anirudhjain75 commented on #2274
I guess changing the fileURI from **/user_uploads/3632/66mPvbb7lbAy6HOFSySSgXIB/image.png** to  **https://orgname.zulipchat.com/user_uploads/3632/66mPvbb7lbAy6HOFSySSgXIB/image.png** will do the trick

[2018-04-11 18:05] gnprice commented on #1191
Yep, understood. (We're talking about #2145 -- linking that just because it took me a minute to find just now.) There was a comment above suggesting that we needed to make a different distinction, so I wanted to make clear that that's not needed.

[2018-04-11 18:36] pulkonet commented on #2274
How come your phones aren't displaying the images? I couldn't reproduce this. Nor I could reproduce the other issue which was opened in the same context.

[2018-04-11 18:42] timabbott commented on #2274
@pulkonet this is an issue with the more advanced file storage backends that do auth, used by just about every server other than chat.zulip.org.  You can signup for a test organization on zulipchat.com to reproduce.

[2018-04-11 19:10] pulkonet commented on #2274
Thanks @timabbott Reproduced successfully!

[2018-04-11 19:14] pulkonet commented on #2274
I guess @anirudhjain75 your solution would work!

[2018-04-11 19:18] ababak commented on #2274
Will it work for self-hosted servers as well?

[2018-04-11 19:25] HarshulSharma000 commented on #2274
@anirudhjain75 @ababak @pulkonet @timabbott A possible duplicate of #2281 #2126

[2018-04-11 19:36] HarshulSharma000 commented on #2274
@ababak @pulkonet @anirudhjain75 I tried to apply the solution and many other possible patches but none of them works right now.

[2018-04-11 20:12] HarshulSharma000 opened #2282 "Messages not viewing correctly when dynamic content is present in streams."
**Description**-
There is a little difference between streams that have images in them and the ones that don't . To be more specific:-
**Streams with no images and having only static dom elements** - These streams(Webviews actually) are simple to render and know exactly what and how to render. As a result they render the messages view in webview correctly(as per my observation, which could be limi

[2018-04-11 20:15] borisyankov commented on #2282
Confirm if fixed by #2279

[2018-04-11 20:40] HarshulSharma000 commented on #2282
@borisyankov Yes the resizing due to images seems to be resolved. But I think we should also check if any other dynamic component requires fix.

[2018-04-11 20:48] pulkonet commented on #2282
What are the other dynamic contents that popup in your mind? I can't think of anything but images.

[2018-04-11 21:42] borisyankov commented on #2282
Closing as confirmed fixed.

[2018-04-11 21:42] #2282 closed

[2018-04-11 21:46] pulkonet commented on #1965
@gnprice Do we want to retain the larger touch targets? If we do, it's easy as we just need to center align the text and it would do well. But if we want to reduce the touch target size we would have to replace the buttons with another component maybe `OptionButton` having a smaller footprint than this one.

Another approach could be the solution you put forward but replacing the other screen that

[2018-04-11 21:47] pulkonet commented on #1965
@zulipbot claim

[2018-04-11 23:13] pulkonet commented on #1470
This is fixed and can be closed. @borisyankov

[2018-04-12 00:00] #1470 closed

[2018-04-12 00:01] borisyankov commented on #1470
It was improved upon, not implemented exactly, but for now we are ok with what we have.

[2018-04-12 12:10] pulkonet opened #2287 "Data doesn't load if the network is turned on after coming to the chat view (private chat)"
Steps of reproduction:
- Turn off mobile data/ WiFi
- Navigate to a private chat screen
- Wait a second
- Turn on data
 The data to be displayed on the chat screen will never load. Not even the imageAvatar and the composebox
![screenshot_20180412-173627](https://user-images.githubusercontent.com/24983958/38676393-85460aca-3e78-11e8-9d71-3f8fb3e8b2c3.png)

[2018-04-12 12:12] pulkonet commented on #2287
Same behaviour is shown by all the chat screens.

[2018-04-12 12:17] pulkonet opened #2288 "Create new stream is broken"
Can't create a new stream. Even in the dummy org used for testing. Also, the button has the label update which is not the best word to be used here. `Create` is a better label IMO
![screenshot_20180412-174721](https://user-images.githubusercontent.com/24983958/38676733-94c76d76-3e79-11e8-95a9-e39b430263c8.png)

[2018-04-12 12:22] pulkonet opened #2289 "Options to add ourselves to a group chat must not be there"
Currently while starting a group chat, we get an option to add ourselves. This isn't desirable. This is also not followed by any other group chat platform like slack, or even in WhatsApp groups.
![screenshot_20180412-175037](https://user-images.githubusercontent.com/24983958/38676940-44b512c4-3e7a-11e8-9414-5a7a6d0bba46.png)

[2018-04-12 14:06] HarshulSharma000 commented on #2288
@pulkonet Yes I did face this issue also could be related to the issues that Lyla Fischer was mentioning. And we do have many issues related to messages not syncing etc.

[2018-04-12 15:39] jainkuniya commented on #2288
Thanks for the report. :)

@zulipbot claim

[2018-04-12 16:35] HarshulSharma000 opened #2292 "Prolonged chatting results in frame drops and chat screen hanging"
**Description-**
On a chat screen if multiple messages are sent continuously then lags are visible on chat screen.  Currently it seems like the lag intensity is proportional to number of messages previously sent. Although if the screen is changed by either changing stream or navigating to other parts of the app, the behaviour restores to normal state. It could be somewhat related to webview as dur

[2018-04-12 16:44] HarshulSharma000 commented on #2292
@zulipbot claim --force

[2018-04-12 16:58] borisyankov commented on #2287
Great find! Working on that issue is a priority.
If you want to try to figure out how to fix it, you are more than welcome!

[2018-04-12 17:36] HarshulSharma000 commented on #2292
Not further investigation required as the issue could be related to interaction between android apk and js thread. The mentioned issue is currently not being observed in play store uploaded binaries.

[2018-04-12 17:36] #2292 closed

[2018-04-12 18:03] pulkonet commented on #2287
@zulipbot claim

[2018-04-12 19:42] pulkonet opened #2295 "Opening a notification of an organisation while switched into another organisation is broken."
Reproduction steps:
- Log into two organizations
- Switch to first organization and send notification to second organisation (using another client)
-  Click on the notification that comes up
It will lead to this type of screen
![screenshot_20180412-205411](https://user-images.githubusercontent.com/24983958/38700101-997c49f2-3eb7-11e8-827c-a5c8f0a105bb.png)
Tested on OnePlus 3T : Android 8.0.0

[2018-04-12 19:43] pulkonet commented on #2295
Essentially, clicking on the notification leads to a screen but doesn't switch the organisations.

[2018-04-12 19:48] pulkonet opened #2296 "Sending very first messages to a new group chat is broken"
The messages sent to a new group chat disappear as soon as sent. This happens only until you go back once and come back. The chat performs normally after that.

Steps of Reproduction:
- Create a new group
- Send a couple of messages

Tested on Android 8.0.0 on OnePlus 3T

[2018-04-12 22:57] borisyankov commented on #2295
Yeah, known issue, but we didn't have a specific issue open to track that. Thanks.

[2018-04-12 22:58] borisyankov commented on #2296
Hmmm, I know what is going on!

[2018-04-12 23:17] borisyankov commented on #2289
I agree, great find!

[2018-04-12 23:33] borisyankov commented on #2296
Even better, this is related to a bug I was trying to reproduce 😄

[2018-04-13 04:09] pulkonet commented on #2289
@zulipbot claim

[2018-04-13 04:25] #2288 closed

[2018-04-13 05:44] #2296 closed

[2018-04-13 12:22] sergeykorablin opened #2308 "iOS: blank screen when opening a PDF file"
Hi! Here is some problem with opening pdf files, iOS shows a blank screen. If the user manages to click the "open in browser" button - the file is successfully opened in Safari, but this button disappears after a while.
![1_](https://user-images.githubusercontent.com/37698016/38734319-d12b7e42-3f2d-11e8-9c7f-e5197f121762.PNG)
![2_](https://user-images.githubusercontent.com/37698016/38734321-d333cb

[2018-04-13 13:07] gokcan commented on #2308
Hi @sergeykorablin,

Thanks for the report! -- I am **able to reproduce** the bug.

Steps:
- Try to click "loremipsum.pdf"
- It will redirect to a blank page.
- After 1 or 2 seconds, bottom-right corner icons (e.g. Open in Browser) disappear
(disabled state).
- No way to display or download that pdf without clicking those icons.

[2018-04-13 17:15] codebu5ter opened #2310 "Topics list fail to load if started from an offline state"
**Steps to reproduce:**

1. Go offline.
2. Narrow to any stream.
3. Tap the 'bullet list' icon to go to the `Topics` screen.
4. Turn on mobile data/Wi-Fi.
5. The list of Topics fail to load even after turning on mobile data.

![screenshot_20180413-223623](https://user-images.githubusercontent.com/16636569/38748607-4d3d46da-3f6c-11e8-8947-20abd0f7b31b.png)

[2018-04-14 00:24] gnprice commented on #1965
Copying my thoughts from #2283:

The solution I described above comes from what I see in some other apps -- a quick survey of Google Maps, Google Play, and FB Messenger finds them all doing this. (Google Play is a bit different in details, but still keeps it all within normal settings UI.)

An action sheet would be idiosyncratic here. Two items is a bit short for a settings screen, but three isn't

[2018-04-14 10:34] pulkonet commented on #2310
I think this is related to #2287 .

[2018-04-14 13:03] gokcan opened #2312 "Navigation to Streams from links in messages"
Related to [**this**](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Navigating.20Streams) discussion.

- Try to click inAppUrl # links (e.g. #mobile, #general) in messages.
- It does not navigate to the related stream.

The root cause is related to the stream name extraction logic from url.

[2018-04-14 13:04] gokcan commented on #2312
@zulipbot claim

[2018-04-14 14:47] codebu5ter commented on #2310
@pulkonet That issue is similar, but since this deals with the display of topics while that issue deals with the display of messages, I think both need separate issues.

[2018-04-14 14:51] pulkonet commented on #2310
You're right, but I stated the relation just so that anyone trying to fix it could take reference.

[2018-04-15 00:58] pulkonet opened #2315 "Search results load endlessly if searched from offline state"
Basically related to #2310 & #2287.
Data doesn't start loading by itself once it gets the network back.
![screenshot_20180415-062554](https://user-images.githubusercontent.com/24983958/38773909-2a2ebb6e-4076-11e8-8729-b92d076c0e72.png)

[2018-04-15 19:33] #2289 closed

[2018-04-16 13:24] #2206 closed

[2018-04-16 13:55] borisyankov commented on #2312
Keep in mind we need to support both the new and the old format.
In the new format we want to take just the ID and disregard the topic name.

[2018-04-17 06:48] borisyankov commented on #1935
Closing as fixed.

[2018-04-17 06:48] #1935 closed

[2018-04-18 05:20] jhurwitz opened #2339 "iOS pointer position does not match web pointer position"
When I open the Zulip mobile app, I'm consistently taken way back in time.

On web, I'm fully caught up and viewing the present day's messages (17 Apr).

Here's an example of what just happened to me on mobile:
- I open the app, I'm at 07 Mar 05:30
- I scroll forward to 07 Mar 07:00, and close the app
- I reopen the app, and I'm still at 07 Mar 07:00
- I scroll forward to 07 Mar 09:00, and close t

[2018-04-18 14:09] bhaskarmurthy commented on #438
Looks like Android O (API 26) adds notification badge support natively - https://developer.android.com/reference/android/app/NotificationChannel.html#setShowBadge

[2018-04-18 16:12] strugee commented on #1133
@borisyankov not really. There are a few quirks with the new one (which I should probably report bugs for...) but it's so much better than the old that I basically never use that one.

[2018-04-18 16:39] borisyankov commented on #2339
Thanks for the detailed steps.
Fixing the positioning issues is a high priority (they are fewer than before, but still exist in some cases).
This information will help a lot, and I'll look into this today.

[2018-04-18 16:43] borisyankov commented on #2159
Closing as fixed.

[2018-04-18 16:43] #2159 closed

[2018-04-18 16:47] borisyankov opened #2350 "Event polling does not handle server errors correctly"
In `eventActions` we check for server error by:

[code]

This is not i18n-compatible and also likely too simplistic.
It misses errors and results in DDOS-like bugs.

[2018-04-20 12:27] zingmars opened #2365 "[Android] Broken-looking context menus."
Context menus in some places seem to be very broken looking.

![screenshot-menu-1](https://user-images.githubusercontent.com/917126/39050687-ea4669ba-44ae-11e8-9003-ee612f5cbbdd.jpg)
![screenshot-menu-2](https://user-images.githubusercontent.com/917126/39050694-edf38976-44ae-11e8-8531-a34308d3148b.jpg)

This is on Android 8.0, OnePlus A3003. App version v12.3.83 from GitHub Releases.

[2018-04-20 12:39] zingmars opened #2366 "[Android] Multiple file selection when uploading pictures."
Right now when I try to upload a picture from within the app it will let me choose 1 picture and will instantly upload it when selected. This makes it really annoying to upload multiple pictures, since you have to do it one by one and can't add comments with the pictures like you could do with the old app.

Maybe use Android's ability to let you use other apps (like gallery apps nearly all of whic

[2018-04-20 14:46] borisyankov commented on #2365
Thanks for reporting this. I thought we fixed that, I guess not.

[2018-04-20 18:05] pulkonet commented on #2365
@borisyankov This would only be fixed via expo and couldn't be handled on our part. Expo's component do not support OnePlus Slate font very well and that's the only reason why this and other expo components used look broken on OnePlus and Oppo phones.

A little suggestion @zingmars, if you wanna overcome this -  Change your font to Roboto (it is available in settings>font). That is the only fix un

[2018-04-20 18:09] zingmars commented on #2365
Yup, the menus show up fine with Roboto. Is there an issue about this in expo's vcs that I can track?

[2018-04-20 18:13] pulkonet commented on #2365
@zingmars [Here](https://github.com/expo/expo/issues/1186) it is. It is not for action sheet but similar as this issue exists in all of the expo components.

[2018-04-20 19:29] gnprice opened #2374 "Double-posted message"
Occasionally when someone sends a message from the app, it ends up getting sent twice, creating a duplicate. Here's a recent example on chat.zulip.org:
![image](https://user-images.githubusercontent.com/28173/39069925-46c06ec0-4496-11e8-80b8-e7daf46c4f51.png)
(And the first message has a "13:01" timestamp -- so 16 minutes before the second one.)

[2018-04-21 16:59] jainkuniya opened #2377 "App crashes on opening chat screen."
<img width="318" alt="screen shot 2018-04-21 at 10 29 00 pm" src="https://user-images.githubusercontent.com/18511177/39086696-7c598d6e-45b3-11e8-8620-1e61b116a3f2.png">

@zulipbot claim

[2018-04-22 05:25] jainkuniya opened #2380 "Improve login flow."
Here are few things which are currently going on.
* Currently new account is added as soon as user enters `realm` url.
* Currently active account is decided based the index of the account list.
 * If account is at top of the list, then it is active.

Problems associated with it:
If user is in account of realm lets say A and start process of adding another account (on realm B).
Clicks `Switch Accou

[2018-04-22 12:11] armaanahluwalia commented on #1854
I just saw the same bug on the iOS app - version 10.1.70
I posted a message using the web app and navigated to all messages in the mobile app. The new messages did not appear on the mobile app. When i closed ( shut down ) the zulip mobile app reopened and scrolled to the bottom of All Messages the new messages then appeared after a brief moment.

[2018-04-22 12:13] armaanahluwalia commented on #2139
I've noticed that scrolling **upwards** on the All Messages stream causes the stream topics bar to disappear. This happens consistently on iOS app V 10.1.70

[2018-04-23 14:18] borisyankov opened #2392 "SyntaxError: JSON Parse error: Unexpected identifier "Network""
https://sentry.io/zulip/zulip-mobile/issues/533347160/

[code]

[2018-04-23 15:32] #2392 closed

[2018-04-25 13:46] #2339 closed

[2018-04-26 11:58] zingmars opened #2413 "[Android] Messages disappear after they're sent"
When I send a private message they don't appear at the bottom of the conversation view and there is no way to forcefully refresh this view. In fact, there doesn't seem to be a way to forcefully refresh anything, which was a bit annoying when I had to restart the app to get a reactivated user to show up in the users view.

Video of the messages disappearing: https://youtu.be/n1sIXJQYqRc

Using Andr

[2018-04-26 16:49] timabbott commented on #2128
This is fixed now, right?

[2018-04-26 17:04] pulkonet commented on #2413
Are you sure you're on the latest version? This bug was fixed in this version update via [08d1df](https://github.com/zulip/zulip-mobile/commit/08d1df541a48df9bc739e4ba93472e982b9c08f4) and I was also unable to reproduce this using the same environment.

[2018-04-26 17:45] zingmars commented on #2413
Yup. Reinstalled from github to test. Issue still happens.

[2018-04-26 19:02] borisyankov commented on #2413
Thanks for reporting this. I will test very thoroughly, though the issue you are reporting was fixed by the exact commit @pulkonet is mentioning.

[2018-04-26 19:48] borisyankov commented on #2128
Yes! Closing.

[2018-04-26 23:15] timlassiter11 opened #2415 "Organization URL TLD"
Seems that the Organization URL must be in the format of "subdomain.domain.com".
I am unable to add a domain in the format of "domain.com".

Pixel 2 XL
Android 8.1.0
zulip-mobile v12.4.84

[2018-04-27 02:05] dingo9 opened #2416 "Cannot select chatacter when typing"
I cannot select character when I try to type chinese when i use zulip（10.1.70） in ios（11.3）

[2018-04-27 15:29] borisyankov commented on #2339
The iOS release was more of a targeted 'patch' release. I hope we get a full release from `master` next week.

[2018-04-27 20:09] rishig opened #2419 "notifications: Don't include quoted content."
Currently the quoted material in a message appears alongside what the author of the message wrote (in the mobile notification), which is confusing. We should just not include quoted material in the notification.

[2018-04-27 21:35] timabbott commented on #2419
Opened https://github.com/zulip/zulip/issues/9251 for this issue, since this piece of push notification formatting is not under the control of the app.

[2018-04-27 21:35] #2419 closed

[2018-04-29 02:46] dingo9 commented on #2416
![now_gif](https://user-images.githubusercontent.com/3961786/39402723-3c107fb4-4b9a-11e8-9863-b8e1a54cab36.gif)
As the Image, when I want type some chinese character, key board do not pop some candidate to be selected...