[2021-01-11 21:57] gnprice commented on #4394
Another note: the old PR #2753 contains fixes for some of the items above. In particular:
* > On the PM-conversations screen, if there's a group-PM thread, the initials that we use for making up an avatar get read out. They shouldn't be.
* > when you select a stream it says something like "Test here. Five thousand seven hundred and five." (for `#test-here` with 5705 unreads.) The number should pro

[2021-01-12 00:21] #4297 closed

[2021-01-12 00:58] gnprice commented on #4297
@palakyadav1807 This issue is now fixed! If you update to master and just use our normal setup instructions, it should now work.

If you find you're still running into any trouble, please go ahead and ask on #mobile on chat.zulip.org, and we'll debug.

[2021-01-12 08:48] Aman-Maheshwari commented on #4036
@Wikunia @chrisbobbe  is this issue still active ? can i work on this for android ?

[2021-01-12 09:02] ThomasBaeuml commented on #4340
Hey,
@pratyaksh123 No zulip has every permissions.
@shaurya2612  Sorry for late response. I was on a vacation. Below you can see the video.
At first i try du choose a picture from my recordings (Bottom left picture image).
After that i try to take a picture in Zulip and send it... but both doesn't work for all Apple users...

https://user-images.githubusercontent.com/63281013/104292390-16065d00-54

[2021-01-12 09:14] Wikunia commented on #4036
Great @Aman-Maheshwari I'm looking forward to it!

[2021-01-12 11:09] Gautam-Arora24 commented on #4394
Since I have already worked on this type of issue earlier where I added accessibility labels to the send and back button. I would like to work on this issue as well

[2021-01-12 12:35] Aman-Maheshwari commented on #4036
@Wikunia @chrisbobbe  Please check the PR. Is it working fine for the issue ?

[2021-01-12 20:13] gnprice commented on #4394
@Gautam-Arora24 Sounds great -- please do!

[2021-01-13 01:19] chrisbobbe opened #4401 "Regression: Some avatars (those stored on s3 backend) don't show up."
See [discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/302.20redirect.20for.20avatar/near/1097413); filing this issue before making a PR so that we have something to refer to if we get reports, as we've recently made a (beta) release.

The symptom is that some people's avatars don't show up. This bug is only observable on realms that use the s3 backend for avatar storage, e.g

[2021-01-13 01:41] #4401 closed

[2021-01-13 03:49] Aman-Maheshwari commented on #4353
@chrisbobbe  Is this issue still active ? can I work on it ?

[2021-01-13 04:40] Aman-Maheshwari commented on #4353
@chrisbobbe Please review this PR. Thank you. :relaxed:

[2021-01-13 07:03] abhi0504 opened #4405 "AuthScreen.js UI : should use Scrollable View"
## Issue description
While working on a issue , I noticed that `AuthScreen.js`  UI is not looking good in landscape Orientation

## How to Reproduce

Step 1 : Log out from your account and then login again
Step 2 : Now you are on login screen(AuthScreen.js) and then rotate your phone in landscape orientation

And no you can see the below screen shot

![Android Emulator - Pixel_3_API_29_5554 13-01-

[2021-01-13 07:04] abhi0504 commented on #4405
I am working on this issue @gnprice @chrisbobbe plz comment and give your suggestions

[2021-01-13 18:18] abhi0504 commented on #4378
@gnprice I would to like to work on this issue as i think dhanmoni is not working on it

[2021-01-13 18:24] abhi0504 commented on #4378
@zulipbot claim

[2021-01-13 20:11] AdityaYadavalli1 commented on #4185
Hi, may I take this up?

[2021-01-14 03:31] gnprice commented on #4245
And now #4296 is complete too!

[2021-01-14 04:21] nikhilmaske-2001 opened #4407 "Black screen appears when user click on `Share` option."
**Issue Description:**
Black screen appears when user click on `Share` option. It's a bug and it is also discussed in this [thread](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Black.20screen.20on.20share).

**How to Reproduce**

Step 1 : Open **Zulip v27.157** android app.
Step 2 : Long tap on any message.
Step 3 : Choose `Share` option.

**Screenshot**
![Black screen](https://user-image

[2021-01-14 10:15] abhi0504 commented on #4407
@nikhilmaske-2001 are you working on this or can I take this?

[2021-01-14 10:42] nikhilmaske-2001 commented on #4407
No @abhi0504 I am not working on it. You can take it.

[2021-01-14 15:45] chrisbobbe commented on #4369
This was fixed in 12284502bb68df733ed1f384bd5da5944b56e7fe; see my comment at https://github.com/zulip/zulip-mobile/commit/12284502bb68df733ed1f384bd5da5944b56e7fe#commitcomment-45962457.

[2021-01-14 15:46] #4369 closed

[2021-01-14 15:50] Gautam-Arora24 commented on #4369
No worries @chrisbobbe Will start working on another issue 👍

[2021-01-14 15:58] chrisbobbe commented on #4185
Sure, thank you, @AdityaYadavalli1! I've just assigned it to you.

[2021-01-14 16:15] Gautam-Arora24 opened #4410 "Add an issue template for reporting bugs/feature"
At the moment, the Zulip Mobile repository only has no issue template. We can in fact add multiple issue templates by taking the advantage of Github's support for **multiple issue templates**

**Here is the Eslint issue template**
![Screenshot 2021-01-14 at 9 44 03 PM](https://user-images.githubusercontent.com/53913514/104617592-a1484400-56b1-11eb-9817-7a2866464ebe.png)

**Currently we can add two

[2021-01-14 16:16] Gautam-Arora24 opened #4411 "Add an issue template for reporting bugs/features"
At the moment, the Zulip Mobile repository only has no issue template. We can in fact add multiple issue templates by taking the advantage of Github's support for **multiple issue templates**

**Here is the Eslint issue template**
![Screenshot 2021-01-14 at 9 44 03 PM](https://user-images.githubusercontent.com/53913514/104617592-a1484400-56b1-11eb-9817-7a2866464ebe.png)

**Currently we can add two

[2021-01-14 16:17] #4410 closed

[2021-01-14 16:43] Gautam-Arora24 commented on #4411
Working on this!

[2021-01-14 21:12] gnprice commented on #4407
Thanks for the report!

This reproduces for me on v27.158 too, the current beta release. That was on a Pixel 4 running Android 11.

It did *not* reproduce for me when I tried it just now on iOS: specifically on v27.157, on an iPhone 7 running iOS 12.4.1. Sharing is a feature that involves some platform-specific code, so it's natural that a bug like this might exist on only one platform. I've marke

[2021-01-14 21:53] gnprice commented on #4411
Thanks for filing this!

I think the highest-value thing to do first here would actually be a template for PRs. A good model to start from would be the one we have in the zulip/zulip repo:
https://raw.githubusercontent.com/zulip/zulip/master/.github/pull_request_template.md

[2021-01-14 23:12] gnprice opened #4415 ""Switch account" can go to wrong account on chosen realm, if not logged in"
I've been seeing this recently on v27.158, the current beta version. But now that I investigate, it reproduces on v27.157 too, the current general release -- it just requires a condition I don't often have. (I haven't tested older versions; it may have been present for a long time.)

This is a high priority because showing one account when the user wanted another could be very concerning for the u

[2021-01-14 23:18] gnprice commented on #4415
A variation of that repro:
* Again, have accounts A and B on one realm and C on another.
* Again, be logged into C and A but not B.
* This time, start from the main app UI for account A.
* Again, try to switch to B.
* Again, wind up with a login form with account A's email filled in -- the one we didn't pick.

So whether A or C is the account we start from when we go to pick B, either way it's A w

[2021-01-14 23:23] gnprice commented on #4415
Different variation:
* Again, A and B on one realm and C on another.
* This time, be logged into only C, and not A nor B.
* Again, start in the main app UI for C -- which is now the only one we're logged into anyway.
* Again, try to switch to B.
* Again, wind up with a login form with account A's email filled in.

On the other hand, if we try to switch to A, we get a login form with A's email fill

[2021-01-14 23:28] gnprice commented on #4415
OK, I think this is confirmed!

I did the following to change up the situation:
* I logged out of A, and then repeated the original repro above, getting to a login form with A's email filled in even though I'd chosen B.
* I selected the email input of the form, deleted the contents, and typed B's email instead. Then entered B's password and logged in.
* That successfully got me logged in as B.
* "

[2021-01-14 23:37] gnprice commented on #4415
Yup, confirmed, this is an ancient bug. The culprit is this code in `AccountPickScreen.js`:
[code]

In the case where the chosen account isn't logged in, we completely ignore the information of what specific account it was, beyond the realm. So from that point there's nothing the subsequent code involved could do to recover appropriate behavior.

`git log -L` (e.g. `git log 565add132 -L 25,35:src/

[2021-01-14 23:40] gnprice commented on #4415
Here's a previous report of this issue: https://github.com/zulip/zulip-mobile/issues/2380#issuecomment-591196025

That issue #2380 also has some other related discussion.

[2021-01-15 00:27] gnprice opened #4416 "Track in-progress login state as local UI state, not global Redux app state"
This issue describes a plan for solving #2380 and #4415.

The root cause of both of those is that when you start to log into a Zulip account (whether at first startup, or from the "Switch account" screen), we immediately put our partial information about it into the global Redux state, in `state.accounts`, and then we use that global state to track your progress through the login flow.

Fundamenta

[2021-01-15 00:27] gnprice commented on #4415
OK -- I've filed #4416 describing a strategy for fixing this.

[2021-01-15 00:28] gnprice commented on #2380
I've filed #4416 with a more detailed version of the plan described above.

[2021-01-15 02:44] Gautam-Arora24 commented on #4411
So should I use the zulip/zulip template for this repo as well?

[2021-01-15 18:47] chrisbobbe opened #4417 "Remove most or all definitions in `navActions`."
React Navigation 5, which we've recently upgraded to (#4296), discourages the `NavigationService` strategy we've been using, as we mentioned in 140c28cc1.

From their [doc](https://reactnavigation.org/docs/5.x/navigating-without-navigation-prop) about that strategy:

And from their [doc](https://reactnavigation.org/docs/5.x/upgrading-from-4.x/#action-creators) on upgrading from v4 to v5:

We shoul

[2021-01-21 03:21] gnprice opened #4422 "Crash on attempting @-mention starting with "a" or "e""
This repro works on v27.158 (the current beta) and I believe on current master as well:
* Go to a compose box.
* Type `@a`, or `@e`.
* The app's UI disappears and the app just shows a white screen.

The culprit is the fake user-like data that our autocomplete code generates for the `@all` and `@everyone` mentions, and that data's interaction with `UserAvatarWithPresenceById`, which is passed a use

[2021-01-22 00:13] #4422 closed

[2021-01-22 01:46] #4245 closed

[2021-01-22 01:50] chrisbobbe opened #4425 "Track resolution of react-native-cameraroll/react-native-cameraroll#233, adapt when possible."
In 86e63490c5909b9176eb2f575636607f235912bc (in #4420), we pointed to the tip commit of my own PR branch for https://github.com/react-native-cameraroll/react-native-cameraroll/pull/264.

Once a version of @react-native-community/cameraroll with official RN v0.63 support (including as declared in `peerDependencies`) is released to NPM, we should go back to specifying a version range, making sure th

[2021-01-22 02:06] gnprice opened #4426 "Upgrade to RN v0.64"
The next round after #4245. This is the first time I'm opening one of these when we're already on the previous latest release, and before the new one is even out yet!

The RN community release managers are working on the next release now, and it's anticipated in the next few weeks. Details at https://github.com/react-native-community/releases/issues/214 and particularly at https://github.com/react

[2021-01-22 08:25] abhishekkumar08 opened #4427 "postinstall script doesn't works on windows"
## Description
```"postinstall": "tools/postinstall"``` in ```package.json``` this doesn't work for windows using the git bash, the readme needs to be updated according to the windows machine as by the
```"postinstall": "bash tools/postinstall"```

Assign me this I will submit a PR for the same.

### Refrence:
https://chat.zulip.org/#narrow/stream/48-mobile/topic/Setting.20up.20development.20envir

[2021-01-22 09:33] Gautam-Arora24 commented on #4209
I would like to work on this issue

[2021-01-22 19:59] chrisbobbe commented on #4353
Hi, @Aman-Maheshwari! @gnprice has left a comment about this issue on CZO, [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Back.20button.20handling.20in.20in.20MainTabs/near/1086157—let's continue the conversation there. 🙂

I've also noticed that #2716 contains more conversation about this issue; I'll make a note about that at that in that CZO thread.

[2021-01-24 19:37] Gautam-Arora24 opened #4431 "The avatar of the user doesn't show on MainTabs of iphone"
**Unexpected behavior**
The avatar of the user doesn't show up in the MainTabs of the Zulip mobile. This is a serious bug that needs to be fixed.

**Screenshot of the app on iPhone 12**
![Screenshot 2021-01-25 at 12 49 05 AM](https://user-images.githubusercontent.com/53913514/105641390-a2475580-5ea9-11eb-8b15-f3ca870343b4.png)

**Xcode Version** -> 12.3 (12C33)
**Device** -> iPhone 12
**iOS** -> 1

[2021-01-25 07:37] abhi0504 commented on #4431
@Gautam-Arora24 I think this issue is only in ios as I have tried it in my android emulator its working fine
![Android Emulator - Pixel_3_API_29_5554 25-01-2021 13_04_13](https://user-images.githubusercontent.com/56453541/105674944-495dd880-5f0e-11eb-8c57-8cda82c923c1.png)

[2021-01-25 08:34] Gautam-Arora24 commented on #4431
Yes @abhi0504 This issue is only popping up on iOS devices. I have also checked on android simulator and it works fine there

[2021-01-25 13:52] Gautam-Arora24 commented on #4224
@gnprice I would love to work on this issue. I think there are small points left in this issue that will not take much time to complete. What's your take on this?

[2021-01-25 14:05] Gautam-Arora24 commented on #4139
I would like to work on this issue

[2021-01-25 15:34] chrisbobbe commented on #4431
Hello! Thanks for the report.

So far, the bug seems consistent with #4365, which we believe was fixed just last Thursday in bcc135691, from #4420. Could you please pull the latest `master` (if you haven't already) and see if the problem persists there?

If it does, here are some questions that should help us further debug:

- What version of iOS is running in the simulator?
- Can you see any avat

[2021-01-25 16:16] Gautam-Arora24 commented on #4431
The bug still persists with the latest code.
Device -> iPhone 12
iOS Version -> 14.3

[2021-01-25 19:07] chrisbobbe commented on #4426
We'll be jumping to Flow 0.137.0, which means (among other things) that something called ["types-first"](https://flow.org/en/docs/lang/types-first/) has been both introduced and enabled by default. We can turn it off, though, by adding `types_first=false` under `[options]` in our Flow config.

The thing we'll have to do to enable it is annotate almost all the exports of our modules:

Not doing so

[2021-01-26 01:43] gnprice commented on #4426
Cool! The performance benefits of that won't be as big for us as they are for a giant codebase like Facebook's, but we should see some. I think the quality of the type errors may improve, too.

Re the codemod, we'll definitely want to check its work: making readable commits and reviewing them normally. I suspect we'll want to start by trying it on relatively self-contained swathes of code like `sr

[2021-01-26 01:46] gnprice commented on #4426
Oh also: this might be exactly the right thing to do for the RN upgrade. We'll want to do this if the types-first migration seems to be any substantial amount of work, I think.

But then we'll want to follow up by doing the types-first migration. A newer version of Flow (v0.143.0, out just this month) makes that the only available mode, so we'll presumably get that change in the *next* version of

[2021-01-26 06:43] gnprice commented on #4431
Hmm, fascinating. Thanks for the report!

Over on #4365, we found that this didn't appear when using Xcode 11. I currently use Xcode 11 for making releases, which means this doesn't yet affect most users. But... I only have the one Mac, so I can't upgrade to Xcode 12 without making this bug live for the next release, which makes this trickier because I can't reproduce the bug myself.

@Gautam-Aror

[2021-01-26 06:48] gnprice commented on #4365
Hmm, well -- we landed that RN upgrade last week (to v0.63.4), which we expected would fix this. But with #4431, we have a report of what sound like the same symptoms still appearing.

@titanous Would you try this again with a current version from master, and confirm whether it still reproduces for you?

If it does, then I wonder if something went wrong with that bugfix in RN upstream, or if we're

[2021-01-26 06:48] Gautam-Arora24 commented on #4431
Thank you @gnprice. One piece of feedback from my side is that I can see the avatars of the user only in the message list and nowhere else.

[2021-01-26 06:49] gnprice commented on #4365
Also reopening this issue -- given that report, seems safest to regard it as open until we have some confirmation that the fix seemed to work :slightly_smiling_face:

[2021-01-26 16:15] chrisbobbe commented on #4431
Linking to discussion on [CZO](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Avatar.20missing.20on.20Iphone/near/1106005); probably best to continue debugging in one place (there). 🙂

[2021-01-26 17:45] santhoshivan23 opened #4435 "Execution failed for task ':react-native-photo-view:compileDebugJavaWithJavac'"
I'm trying to set up the development environment. The build failed with an exception.

`/Users/santhoshivan/zulip-mobile/node_modules/react-native-photo-view/android/src/main/java/com/reactnative/photoview/ImageEvent.java:12: error: package android.support.annotation does not exist
import android.support.annotation.IntDef;
                                 ^
/Users/santhoshivan/zulip-mobile/node_mo

[2021-01-26 18:38] timabbott opened #4436 "Make sure the mobile app supports new notification sounds"
In https://github.com/zulip/zulip/pull/17120, we're adding a bunch of new audio files for the webapp; we should make sure the mobile app supports those.  (I'm sorta assuming the mobile app has a copy of the supported audio files, rather than downloading them from `static/` on the server, and thus will need an update of that data structure).

It could make sense to do a preparatory refactor to move

[2021-01-26 19:00] chrisbobbe commented on #4435
Thanks for the report! First, please make sure your working tree is clean; the output of `git status` should include `nothing to commit, working tree clean`.

Then, could you please try running the following commands:

1. `cd android` (to get into the `android` directory)
2. `rm -rf .gradle` (to delete the `.gradle` directory)
3. `./gradlew clean`
4. `cd ..` (to get back to the project root)
5. `y

[2021-01-27 03:35] gnprice commented on #4083
I believe this is fixed! I made these changes in some recent PRs, but I'd forgotten about having filed this issue.

There's one remaining callsite found by `rg getUsersBy`:

This behaves OK, because the self user will never be deactivated or a cross-realm bot. It'd be good to clean up this remaining call site and remove getUsersById` entirely, but only as a matter of simplicity and efficiency.

Of

[2021-01-27 03:35] #4083 closed

[2021-01-27 03:42] gnprice commented on #3367
This was fixed by #3450, back in 2019 a couple of months after it was filed.

(I never did try sending the fix upstream, partly because making it cover the full generality of `connect` would be a fair amount more work. But the problem is solved as far as we're concerned.)

[2021-01-27 03:42] #3367 closed

[2021-01-27 03:58] gnprice opened #4438 "Make "unread" model efficient at marking a message as read"
The code we have under `src/unread/`, and in particular the various "reducer" files, exists for the purpose of tracking what unread messages exist.

When we did some profiling a couple of months ago, [we learned that](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/data-structure.20performance/near/1069171) one of the really slow spots in the app is how that code handles when some mess

[2021-01-27 04:06] gnprice commented on #3949
We've continued making progress on this. I've made a checklist at the top, mostly from https://github.com/zulip/zulip-mobile/issues/3949#issuecomment-744164250, and checked off the items that are done. Still more to do!

[2021-01-27 04:10] gnprice commented on #3950
I think this is now subsumed in #3949.

We've now experimented with `Immutable.Map`, done the work to be able to use it, and started doing so in various parts of the state. That'll usually be preferable to plain JS `Map` for anything within Redux, because it lets us make updates efficiently.

[2021-01-27 04:10] #3950 closed

[2021-01-27 04:13] gnprice commented on #3934
We've now taken some fresh steps in this direction, with #4400 and #4392. See in particular 7c697fb74d312975a9df649d088f4ae712a7a381 for discussion of the current approach.

[2021-01-27 04:17] gnprice commented on #3339
An update: we're now well on our way to solving this class of problem by maintaining efficient data structures in the first place, with Immutable.js. See #3949 for detailed progress.

[2021-01-27 05:38] santhoshivan23 commented on #4435
@chrisbobbe Thanks! That worked!

[2021-01-27 05:38] #4435 closed

[2021-01-27 11:42] abhi0504 opened #4439 "Make "Share" option more useful in messageActionSheet.js"
working on #4407 I saw many issues with the `Share` option in `messageActionSheet.js` also I and @gnprice also discussed some of them in [CZO](https://chat.zulip.org/) in Mobile Stream [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Black.20screen.20appears.20when.20user.20click.20on.20.60Share.60.20option.2E/near/1106106) and mentioning some more issues that I have observed .

Also p

[2021-01-28 12:22] santhoshivan23 commented on #4439
@abhi0504 I've started working on this. The problem could be in this function: (messageActionSheet.js)

`const shareMessage = ({ message }) => {
  Share.share({
    message: message.content.replace(/<(?:.|\n)*?>/gm, ''),
  });
};`

Could you suggest a suitable patch instead of the Regex replacement? Thanks!

[2021-01-28 16:49] santhoshivan23 commented on #4439
@gnprice any thoughts?

[2021-01-29 07:57] abhi0504 commented on #4439
Hey @santhoshivan23 We are discussing this issue [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Making.20Share.20option.20more.20useful/near/1108993) also you can through [this](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Black.20screen.20appears.20when.20user.20click.20on.20.60Share.60.20option.2E/near/1106842) chat also

[2021-01-29 19:35] gnprice opened #4446 "Consistently clear old data on all ways of leaving an account"
Most of our reducers reset their state when they get one of the action types `LOGOUT` or `ACCOUNT_SWITCH`. Many of them treat `LOGIN_SUCCESS` the same way; but many others don't.

We should make a consistent pattern here, document it, and ideally refactor so that the pattern gets maintained naturally.

Here are some notes, based on https://github.com/zulip/zulip-mobile/pull/3213#issuecomment-45023

[2021-01-29 19:37] gnprice commented on #4446
See also #3822 for a related improvement we made more recently.

[2021-01-30 02:56] #4267 closed

[2021-01-30 03:23] gnprice opened #4449 "Message view gives error on malformed image URL"
Recently I've occasionally been seeing a red error banner at the top of the message list (the one that says "Oh no! Something went wrong. Try again?".) I've only seen it when looking at `#test here` on czo -- so presumably there's something exciting happening in some message there that triggers whatever bug is involved.

Then yesterday I was looking at `adb logcat` output in order to do some perfo

[2021-01-30 04:30] gnprice opened #4451 "HTMLTimeElement is not defined, says a WebView error"
Looking in Sentry at our WebView errors (while investigating #4449), I'm seeing error reports that look like [this one](https://sentry.io/organizations/zulip/discover/zulip-mobile:e9525e624b6a4774889bf8e3efeebfb8/):

The impact of an error like that is:
* A red banner shows at the top of the message list, saying "Oh no! Something went wrong. Try again?". This means the user knows that they're seei

[2021-01-30 04:36] gnprice opened #4452 "webview errors: Report browser version"
At #4451, which is about an error reported by our code inside the WebView, I wrote:

This is that issue.

The relevant code is first in `js.js` at this call:
[code]
where we'll want to include one more property in that "details" object, for the browser version. This might be just the user-agent string, or possibly there's some better-structured information we can get our hands on. Because this is

[2021-01-30 04:58] gnprice commented on #3864
Update on this:
* API errors are still by far our [most widespread "issue"](https://sentry.io/organizations/zulip/issues/?project=191284&query=is%3Aunresolved+level%3Aerror&sort=user) -- "widespread" meaning they affect the greatest number of users.
* The current omnibus "issue" they get grouped under is [here](https://sentry.io/organizations/zulip/issues/1955569961/events/fab619543c4147d7aea067cc

[2021-01-30 05:10] gnprice opened #4453 "Tried to use NavigationService before appContainerRef was set"
In our [Sentry error reports](https://sentry.io/organizations/zulip/issues/?project=191284&query=is%3Aunresolved+level%3Aerror&sort=user), the issue affecting the most users (after the "issue" that consists of all API errors returned by the server combined: #3864) is [this one](https://sentry.io/organizations/zulip/issues/2033201611/events/a7e1d4eeec0a41419a10b179082f1a84/?project=191284), thrown

[2021-01-30 07:12] abhi0504 commented on #4451
@gnprice I want to work on this issue could you assign it to me?

[2021-01-30 07:30] Gautam-Arora24 commented on #4452
@gnprice I would like to work on this issue

[2021-01-30 21:19] #4449 closed

[2021-01-31 09:08] dioraman commented on #1270
Hi all! I second the question. :)

[2021-02-01 08:27] ThomasBaeuml commented on #4340
Are there some news?

[2021-02-01 09:53] im-adithya commented on #4436
Hey @timabbott 😄
I am new to Zulip and I'm willing to contribute! Can you assign this to me?

[2021-02-01 11:59] im-adithya opened #4455 "Wrong link in README.md for mobile stream"
The #mobile hyperlink in the following lines in README doc:

and

direct to https://github.com/zulip/zulip-mobile#discussion
instead of https://chat.zulip.org/#narrow/stream/mobile

[2021-02-01 19:48] #4455 closed

[2021-02-01 20:44] chrisbobbe commented on #4340
Thanks for the report!

There's one bug we're tracking in this area: #2684. We don't yet show a loading indicator while we're waiting for the image to be uploaded. #4129 is open as a way to fix that bug; we should review and resolve that.

But I think you're saying that the image is *never* unloaded, even after waiting a reasonable amount of time, say, a few minutes. Is that right?

There have bee

[2021-02-01 22:55] gnprice commented on #4422
I'm looking through [Sentry issues that were new in v27.158](https://sentry.io/organizations/zulip/issues/?project=191284&query=is%3Aunresolved+firstRelease%3Acom.zulipmobile%4027.158%2B158&sort=user), the current beta, and the most widespread is this one:

[2021-02-01 23:16] gnprice opened #4458 ""t.get is not a function" on state.narrows at startup"
Looking at our [Sentry errors that are new in v27.158](https://sentry.io/organizations/zulip/issues/?project=191284&query=is%3Aunresolved+firstRelease%3Acom.zulipmobile%4027.158%2B158&sort=user&statsPeriod=30d), the current beta, [this one](https://sentry.io/organizations/zulip/issues/2138980382/events/oldest/?project=191284&query=is%3Aunresolved+firstRelease%3Acom.zulipmobile%4027.158%2B158&sort=

[2021-02-01 23:38] chrisbobbe commented on #4458
Ack; thanks for reporting this.

[2021-02-01 23:43] gnprice opened #4459 ""No server data found" crash on opening a notification"
One of our [more common classes of errors in Sentry](https://sentry.io/organizations/zulip/issues/?project=191284&query=is%3Aunresolved&sort=user), affecting a small fraction of our users but a significant total number of people, is [this one](https://sentry.io/organizations/zulip/issues/2032359985/events/c62de96b78a0433eb4653a019036eca0):

with stack `getOwnUserId` < `narrowToNotification` < redu

[2021-02-01 23:50] gnprice opened #4460 "Crash in getUserFromMention"
One of our more widespread issues reported by Sentry is [this one](https://sentry.io/organizations/zulip/issues/1968822455/events/4fa22161f82c49e2b6171095ccb6e67c/):

with stack
[code]
in `getUserFromMention` < `MentionWarnings`.

So it seems that `unformattedMessage` here is `undefined`. The fuller source listng is
[code]
so it looks like this would happen if `completion.split('**')` returns an a

[2021-02-02 00:02] gnprice commented on #4458
Hmmm or here's another thing it could be, other than an empty object -- it could be an object like `{ '__serializedType__': 'ImmutableMap', data: { … some data … } }`. I.e., it could be the thing that our `replacer` function in `src/boot/replaceRevive.js` returns, and that our `reviver` is supposed to turn back into an `Immutable.Map`.

That hypothesis comes to mind because of [this other error](h

[2021-02-02 00:05] gnprice commented on #4458
Yeah, in particular: if the `avatarUrl` were a string, then that would behave just the same as a plain Object that didn't have a `get` property. At least, here's what the Chrome dev console says:
[code]

OTOH if it were `null`, then there'd be a TypeError at even trying to get the property:
[code]
We're not seeing that, so the value isn't null; but it could be a string, or an unexpected type of ob

[2021-02-02 00:24] gnprice opened #4461 "Support operators in search"
The Zulip server, and the webapp, support a variety of operators in search:
https://zulip.com/help/search-for-messages

It'd be good to support these in our search interface too.

The required step here is to parse them, so that we can send the right query to the backend. The API for this between frontend and backend doesn't use the syntax the user types in the search box, but instead a different

[2021-02-02 07:01] abhas commented on #1270
It is available via the [IzzyOnDroid F-Droid Repository](https://apt.izzysoft.de/fdroid/index.php). Downloading it from there will also help you get updates. It works fine without Google Play or MicroG installed. I have used it that way in the past.

https://apt.izzysoft.de/fdroid/index/apk/com.zulipmobile

[2021-02-02 07:12] riteshsp2000 commented on #4379
@gnprice If this is not assigned to anyone, can work on this? I have some ideas to implement this. (ofcourse keeping in mind the UI/UX of the app)

[2021-02-02 13:54] ThomasBaeuml commented on #4340
Thanks for your quick reply.

We have run a few scenarios.

/etc/zulip/settings.py MAX_FILE_UPLOAD_SIZE = 5

- Android/ PC can send images with a size of 3 MB (MAX_FILE_UPLOAD_SIZE = 5). Apple cannot. But once I set MAX_FILE_UPLOAD_SIZE = 80 IOS can send 3 MB.
(Why are Apple images with the same size bigger than Android images? Looks like an Apple problem...)
- Compressed images are sent after a c

[2021-02-03 06:21] riteshsp2000 commented on #4461
@gnprice Hey I would like to work on this. Any further more insights regarding the issue?

[2021-02-04 07:44] im-adithya commented on #4460
Hey @gnprice! I have tried to reproduce this but failed to do so...
I found that the function getUserFromMention is being called because of handleMessageAutocomplete which is used whenever we type :, # or @... So when the case is @ --> `**Username**` is added by default (hence it is checking whether the lastWordPrefix is '@' or not in order to ensure the presence of **s) which is then used to spli

[2021-02-04 10:51] im-adithya commented on #4210
I can do this in adobe illustrator!
@zulipbot claim

[2021-02-04 12:44] im-adithya commented on #2766
Hey @gnprice! I like this idea very much! Can you please guide me through this by telling me your exact requirements?

[2021-02-04 14:18] Gautam-Arora24 commented on #4460
@gnprice I would like to work on this?

[2021-02-04 15:43] im-adithya commented on #4460
Hey Gautam, I'm still investigating this issue to reproduce it and will work on this once I find it...

[2021-02-04 17:06] im-adithya commented on #2766
Also, can we install external packages for this?

[2021-02-04 17:10] im-adithya commented on #2766
Also, is it necessary to install only specific packages for editing features or can we install any?

[2021-02-05 07:15] Gautam-Arora24 opened #4469 "Overlap of name with info icon in PM screen"
**About the issue**
The last few characters of the user's name overlap with ```InfoButton``` in the app bar. Though the character gets truncated, but still the truncated part overlaps with the Icon

**Steps to reproduce**
1. Go to Zulip web app.
2. Change your profile name to a considerably long name.
3. Now go to Zulip mobile app and open your profile through Search button.

**Screenshot**
![Scre

[2021-02-05 07:15] Gautam-Arora24 commented on #4469
Working on this issue.

[2021-02-05 16:05] AdityaYadavalli1 commented on #4292
@gnprice, if @abhi0504 is not taking taking this up and it is still open, I can work on it. Could you assign it to me?

[2021-02-05 23:09] gnprice commented on #3552
@punchagan @timabbott It's been a while since we last looked at this issue; what's the status of this feature at this point on the server side? That'd help us understand how to prioritize it, and also how to go about testing it.

[2021-02-09 02:32] chrisbobbe commented on #4461
There's been some [discussion](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Support.20Operators.20in.20Search/near/1115324) on CZO.

[2021-02-09 20:38] #4469 closed

[2021-02-10 16:55] chrisbobbe commented on #4340
That's odd! I'm seeing some reported issues ([here](https://github.com/react-native-image-picker/react-native-image-picker/issues/1419), [here](https://github.com/react-native-image-picker/react-native-image-picker/issues/1596)) in a library we use for interacting with the platform's media library. It looks like people suspect that library is using an artificially large file on iOS; I'm looking in

[2021-02-10 19:46] chrisbobbe commented on #4340
There's a React Native issue that I suspect might be involved: https://github.com/facebook/react-native/issues/27099.

It would be helpful to know if you're seeing artificially inflated file sizes for both JPEG and non-JPEG (e.g., PNG) images. A main symptom of that React Native issue is too-large sizes for JPEG images, but not PNG images, [reportedly](https://github.com/facebook/react-native/issu

[2021-02-12 10:09] j-perl commented on #4340
Any news yet? However small they are. We also rely on react-native-image-picker and we have the exact same problem.

[2021-02-12 17:33] chrisbobbe commented on #4340
Welcome to Zulip, @j-perl! 🙂 It sounds like you've arrived here from a different React Native project, where you've run into a problem with choosing an image from the media library on iOS and uploading it to a server.

We've been debugging at https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/JPEG.20file.20sizes/near/1116254. Feel free to follow our conversation there. Before you do so, p

[2021-02-12 17:37] chrisbobbe commented on #4340
We've found that you can get logs from the Objective-C code to the Chrome remote-debugging console (I was surprised to see them not going to Xcode) by using `RCTLog` and making this change to the `AppDelegate.m`:

[code]

[2021-02-12 17:59] j-perl commented on #4340
@chrisbobbe Hi! How rude of me! Indeed, I came from another project which relies on react-native-image-picker as well and the way I got here was from this thread you mentioned https://github.com/react-native-image-picker/react-native-image-picker/issues/1419. The issue described here resembles a lot to the issue we have. I should have instead reported this issue there. I apologize for any inconven

[2021-02-13 20:41] chrisbobbe commented on #4458
Discussion has continued [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M4458.3A.20.22t.2Eget.20is.20not.20a.20function.22.20on.20state.2Enarrows.20at.20sta.2E.2E.2E/near/1112340). We've come up with #4463 and #4472 for a couple of latent bugs, and discussed several ideas for what could be causing these symptoms, but haven't gotten to the bottom of it yet.

[2021-02-13 21:10] chrisbobbe commented on #4394
Hmm, could we revisit this a bit? I think that icon could usefully convey some important information as a selectable item. If we don't make it selectable, I'd still like to convey the information, but we'd need to find another way to do it. (Perhaps by making a single selectable item out of the parent `View` of the `StreamIcon` and the `Text` with `stream.name`, and give that a descriptive `access

[2021-02-13 22:28] chrisbobbe commented on #4394
Also, I notice that the subscribe/unsubscribe switches in the "All streams" tab are impossible to interact with, at least with VoiceOver on iOS.

[2021-02-13 22:52] #4405 closed

[2021-02-14 12:13] im-adithya commented on #2755
@zulipbot claim

[2021-02-14 20:42] Gautam-Arora24 commented on #4394
@chrisbobbe The subscribe/unsubscribe switches are impossible to interact with just because the ```Touchable``` component in ```StreamItem``` groups its children into one accessible component.

[2021-02-15 16:14] chrisbobbe commented on #2755
Hi, @im-adithya! I've assigned the issue to you. Please see Greg's comment, [above](https://github.com/zulip/zulip-mobile/issues/2755#issuecomment-450105363), about a PR that likely has a lot of useful work you can borrow from. 🙂

[2021-02-15 16:30] im-adithya commented on #2755
Thanks @chrisbobbe.

Sure!

[2021-02-15 17:18] chrisbobbe commented on #4460
@Gautam-Arora24 found, in #4474, that `unformattedMessage` is undefined for user-group mentions (like `@*mobile*`).

I notice that there's already some code for handling `unformattedMessage` being `undefined`, and it quite helpfully mentions user groups. [Here](https://github.com/zulip/zulip-mobile/blob/v27.158/src/compose/MentionWarnings.js#L52-L57):

[code]

That snippet comes from just below th

[2021-02-15 17:24] chrisbobbe commented on #4224
Sounds good! Thanks, @Gautam-Arora24.

[2021-02-15 18:27] chrisbobbe commented on #4292
Hi, @AdityaYadavalli1! Greg sent #4350 some time ago, and it helped untangle quite a bit of `isInternalLink`. It's also an excellent example of our [clear and coherent commits](https://zulip.readthedocs.io/en/latest/contributing/version-control.html) principle; he made it quite clear what functional changes, if any, were happening in each commit, and each commit passed all tests. To quote from Gre

[2021-02-15 20:11] #4460 closed

[2021-02-16 12:09] im-adithya opened #4478 "Alert words are not highlighted properly"
## Description
When there are two consecutive alert words, only the first one get highlighted.

## Screenshots

![Screenshot_20210216-171103](https://user-images.githubusercontent.com/64399555/108059248-38bb0100-707b-11eb-974e-d82bf784a034.jpg)
![Screenshot_20210216-171043](https://user-images.githubusercontent.com/64399555/108059266-3e184b80-707b-11eb-823e-10f0cc9d7fb6.jpg)

[2021-02-16 12:21] Gautam-Arora24 commented on #4458
I will work on this once I complete #4224 😀

[2021-02-16 12:22] Gautam-Arora24 commented on #4458
I would like to work on this! 😀

[2021-02-16 16:22] rajprakash00 opened #4480 "TextInput: Increase Text opacity in landscape mode in nightmode"

[2021-02-16 18:20] abhi0504 commented on #4480
@rajprakash00 are you working on this issue ?

[2021-02-16 18:40] rajprakash00 commented on #4480
@abhi0504 Yes I'm working on it

[2021-02-16 21:07] chrisbobbe commented on #4458
@Gautam-Arora24, sure! Unfortunately you don't have direct access to the Sentry events themselves, as Greg and I do, but let us know if you'd like us to check them for something. Feel free to get caught up with the discussion I mentioned above (in https://github.com/zulip/zulip-mobile/issues/4458#issuecomment-778675311), then join us there with your ideas. 🙂

[2021-02-17 01:19] sumanthvrao commented on #3884
Howdy! It's worth mentioning here that with zulip/zulip#17124, the `topic_links` format would now contain a list of objects rather than the list of URL strings. This means that the mobile code to handle this would have to be tweaked in order to support all server versions. Also, the new format benefits from having the `text` along with the `url` for each link in the topic, thus simplifying any cli

[2021-02-17 02:04] chrisbobbe commented on #3884
Great, thanks for the heads-up! 🙂

[2021-02-18 04:58] #4458 closed

[2021-02-18 05:12] hkpanchani opened #4484 "app crashes on message notification clicked"
Login to multiple account lets say account 1 and account 2
Currently account 1 is active and you receive message notification on account 2.
On click of that notification app crashes and shows blank(white) screen.
And in pre-release version 27.158 it totally crashes and goes to loop of that zulip loading splash screen.
in pre-release version it doesn't even get recovered by force closing and cleari

[2021-02-18 05:18] hkpanchani commented on #4484
This is is already in working since 2018 here [](https://github.com/zulip/zulip-mobile/issues/2295)

[2021-02-18 05:21] Gautam-Arora24 commented on #4484
@hkpanchani I have faced a similar type of issue before. I have just created a dummy account a few days ago to test the multiple account scenario in Zulip and faced this issue. May be @gnprice and @chrisbobbe can help us with it.

[2021-02-18 06:26] gnprice commented on #4407
For cross-reference: there's some later discussion in [this chat thread](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Black.20screen.20appears.20when.20user.20click.20on.20.60Share.60.20option.2E/near/1119224).

[2021-02-18 10:28] Gautam-Arora24 commented on #4154
@chrisbobbe Since with newer React version, the ```lifecycle methods``` which you mentioned above have been renamed to some other names like```componentWillReceiveProps``` has been changed to ```getDerivedStateFromProps```. I can see that our codebase is using the unsafe version of the latter in two places namely ComposeBox and AnimatedScaleComponent. So what do you think of fixing these very meth

[2021-02-19 02:46] #4453 closed

[2021-02-19 05:54] gnprice commented on #4460
Great, glad to have that repro recipe.

Having tried it out, it turns out this is not a crash -- in fact, from the user perspective, nothing at all goes wrong. That's a bit of a relief, because this bug has been around for a while and it's good that it wasn't so severe.

Looking back at the code, the reason this didn't cause any user-visible problems is:
* This is inside `handleMentionSubscriberCh

[2021-02-19 07:53] Gautam-Arora24 commented on #4460
That's the beauty of exception handling, the app continues to perform even if there is an error encountered 😀

[2021-02-20 05:55] gnprice opened #4492 "Excessive space around numbered list"
@kasperg reported the following behavior at zulip/zulip#17284:
![image](https://user-images.githubusercontent.com/28173/108585274-66fb4380-72fc-11eb-855e-d356c6587ded.png)

There are two things that are quite wrong here:
1. There's too much space between the paragraph and the following list.
2. The list items are too deeply indented.

By contrast, we have pretty reasonable behavior with a plain bu

[2021-02-20 08:29] rajprakash00 commented on #4492
@gnprice Can i work on this issue?

[2021-02-23 18:22] Kunal-2001 opened #4496 "Logout Confirmation"
While logging out the account, the app should ask confirmation from the user
There could be a dialog box displayed asking for confirmation and then fire the logout behaviour
@gnprice Can you please review this issue ?

[2021-02-24 07:00] abhi0504 commented on #4214
@chrisbobbe whats your suggestion about this issue I want to work on this issue

[2021-02-24 07:38] abhi0504 commented on #4496
Interesting I also just checked it out and I also thinks that there must be an Alert box or some confirmation message for log out @chrisbobbe Whats your suggestion about this

[2021-02-24 09:26] abhi0504 commented on #4439
@chrisbobbe whats your opinion and suggestion on this issue I want to work on this issue

[2021-02-25 02:10] chrisbobbe commented on #4309
I've just posted a few questions on [CZO](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M4309.20Opening.20a.20notification.20for.20nonexistent.20user.2Fstream.20ca/near/1123697).

[2021-02-25 08:01] gnprice commented on #4484
Thanks @hkpanchani for the report! That's a bad symptom -- this is definitely something we'll want to fix.

We have #2295 already, but the symptoms that used to have (described [here](https://github.com/zulip/zulip-mobile/issues/2295#issuecomment-548612532)) were quite a bit milder than this.

[2021-02-25 08:07] gnprice commented on #4484
@hkpanchani and @Gautam-Arora24: when you see this issue happening, do you have only those two accounts listed in the app? Or do you have some other accounts too?

There's a known issue described at https://github.com/zulip/zulip-mobile/issues/4309#issuecomment-750446007 which can have a symptom like this one if you have e.g. account 1, account 2, and account 3, and accounts 2 and 3 are on the sam

[2021-02-25 08:10] Gautam-Arora24 commented on #4484
Yes, @gnprice I face this issue only with two accounts listed in the app.

[2021-02-25 09:00] hkpanchani commented on #4484
Yes @gnprice i have tried with two accounts and 3 also same problem whrn switching accounts from notification..

[2021-02-25 13:58] Holzhaus opened #4500 "Topic not reloaded when it's split/moved"
If I'm commenting in on a topic while an admin splits off the the thread (because it went off-topic) and moved it somewhere else, the app doesn't update the view. For me, it looks like the split/move never happend and I keep replying to the wrong topic.

Noticed this using Zulip on Android v27.157.

[2021-02-26 00:10] chrisbobbe commented on #4484
@Gautam-Arora24, when you close the app and re-open it after the crash, do you have the same symptom of getting stuck on the loading screen and have to clear the app's data?

@hkpanchani, can you find out what the Zulip server version numbers are for the servers you're connecting to? For example, for chat.zulip.org, I can visit https://chat.zulip.org/api/v1/server_settings, and search for "zulip_v

[2021-02-26 02:47] hkpanchani commented on #4484
@chrisbobbe I was on zulip release version 3.3. Due to this problem i upgraded my server to git master("4.0-dev-2441-ge971cff5b8"). In both cases same happens..

And yes same case on chat.zulip.org..
I am active on chat.zulip.org and received a chat from another i open app crashes..

[2021-02-26 04:05] timabbott commented on #4333
Just adding a note that we'll want to open a zulip/zulip issue for doing the cleanup discussed here:
https://chat.zulip.org/#narrow/stream/3-backend/topic/stream.20administrators/near/1124311 (noting we need to wait 6 months before doing it) once we're no longer using the `name` field in subscription/update events.

[2021-02-27 02:22] #3961 closed

[2021-03-01 10:30] hkpanchani opened #4503 "Progress bar while uploading medias."
Add a support to show progress bar while sending medias from mobile devices.. Right now sending media in blind and not able to tell if something is being sent or not.

[2021-03-01 10:37] Gautam-Arora24 commented on #4503
Yes, I agree @hkpanchani There is no progress bar kinda thing in the mobile app right now. Maybe @chrisbobbe and @gnprice can give us better direction on how to implement a progress bar. If the mentors are ready to implement such thing in the app, I would be happy to work on this issue.😀

[2021-03-01 16:32] chrisbobbe commented on #4503
Thanks for the report! I think the issue you're describing is already in the tracker as #2684, and PR #4129 has been sent to fix it. So I'll close this, so we can better focus the conversation in those threads. 🙂

[2021-03-01 16:32] #4503 closed

[2021-03-01 16:56] Gautam-Arora24 commented on #4484
No Chris. The app starts working fine when I reopen it. Though I am seeing another issue. When I click on the notification ideally it should open another account where I got the message but instead, I am being redirected to the same account's message thread.

To explain you more clearly ->
Suppose I have A and B accounts on my Zulip app. I am currently logged into A. A sends a message to B. So a n

[2021-03-01 19:14] abhi0504 opened #4504 "Quote and reply feature like zulip's Web-app"
There is a `quote and reply` feature in zulip's web app for each message which I think is very useful and must be present in our zulip's mobile app too

https://user-images.githubusercontent.com/56453541/109546175-d8eb3e00-7aef-11eb-9db1-05c33f3b9da8.mp4

A kind of similar feature is available in our mobile-app but it seems to work differently on long press on any message a `messageActionSheet` op

[2021-03-02 10:29] arjunrkaushik commented on #4378
@gnprice I would like to work on this issue, if it's not been resolved yet!

[2021-03-03 02:25] gnprice commented on #3372
This will require #3397 and some other parts of #3408 -- when we get an update to this information from the server, we'll need to apply it.

[2021-03-03 15:28] q00d0 commented on #117
This issue is from 2016 and it's really useful in 2021. Can this issue get some higher priority?

[2021-03-03 15:29] q00d0 commented on #3205
Please make this a higher priority. Especially in times of lockdown this is very useful!

[2021-03-03 15:45] andreasoc commented on #117
yes ! i can't wait !

[2021-03-03 17:06] monnier commented on #1270
I'm glad it's available on that IzzyOnDroid repository, but it's not the same as being in *the* F-Droid repository.  Since we are talking about Free Software and installation of *binaries*, an important issue is whether that binary indeed corresponds to the Free Software we expect to install.  The F-Droid repository tries to provide that trust.  IzzyOnDroid on the other hand does not (and for good

[2021-03-04 07:25] rajprakash00 opened #4508 "MessageReactionsScreen: Overlapping of emojis tabs"
Currently if we have a bunch of emoji reactions on a message and then on visiting **See who reacted** screen
 we can see the emoji tabs are overlapping upon each other thereby making it difficult to view reaction count no. &
giving a weird view for any user.

**Screenshots/Media**:

https://user-images.githubusercontent.com/42652941/109925782-2cc07780-7ce8-11eb-952a-604171ed77c2.mp4

**Additional

[2021-03-04 15:52] chrisbobbe commented on #4333
Thanks, Tim!

I was mistaken about this; we actually don't use it, so the `name` field can be removed right away, as Greg points out in the [CZO discussion](https://chat.zulip.org/#narrow/stream/3-backend/topic/stream.20administrators/near/1126755).

[2021-03-05 16:25] andreasoc commented on #3114
any update?

[2021-03-06 02:39] chrisbobbe commented on #4074
We've just had some more recent discussion [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Notification.20on.20mobile.20app/near/1111909).

[2021-03-06 07:36] AkashDhiman commented on #117
@zulipbot claim

[2021-03-06 07:38] gnprice commented on #117
Thanks @q00d0 and @andreasoc for the feedback on this :slightly_smiling_face:

This feature is nearly there -- last summer we merged @agrawal-d's work which included the great bulk of the code needed for implementing this. We didn't quite enable the feature because there were some lingering issues with it. But the latest version of #4196 has some changes which are meant to address those. So we nee

[2021-03-06 08:08] #4452 closed

[2021-03-07 17:21] Gautam-Arora24 opened #4510 "Depreciation warning for "PushNotificationIOS" module of core React-Native."
**What is this issue for?**
The core ```PushNotificationIOS``` module has been depreciated from React-Native. We can see this error in the console window when we start the server.
This is where official RN [docs](https://reactnative.dev/docs/pushnotificationios) mention this.
![Screenshot 2021-03-06 at 2 36 35 PM](https://user-images.githubusercontent.com/53913514/110248495-81d5e500-7f97-11eb-9b91

[2021-03-07 17:21] Gautam-Arora24 commented on #4510
Working on this!

[2021-03-08 07:27] abhi0504 commented on #4504
working on this issue

[2021-03-08 16:31] chrisbobbe commented on #4510
Thanks, @Gautam-Arora24!

This deprecation warning is covered in issue #4115, which has PR #4163 open for it, so I'll go ahead and close this.

I probably could have done a better job of writing #4115, to include search terms like `PushNotificationIOS`, to make it easier for you to find; sorry about that. 🙂

[2021-03-08 16:31] #4510 closed

[2021-03-08 16:40] chrisbobbe commented on #4115
@gnprice, when you get a chance, could you please record your thoughts on the future of iOS notification-handling that we discussed on the phone the other day?

I think we'd like any solution we land on to include something like https://github.com/zulip/zulip-mobile/pull/4163/commits/15c79843f8f8117ea86a30d859d12e50a047a3dc, which addresses a problem we'll have to solve as part of #4182.

[2021-03-08 17:15] Gautam-Arora24 commented on #4009
I would like to work on this issue @chrisbobbe and @gnprice 😃

[2021-03-10 02:23] #4210 closed

[2021-03-10 07:07] #4451 closed

[2021-03-10 07:30] chrisbobbe commented on #3452
(Oops, I accidentally caused this to be closed by saying “fix #3452” when I didn’t mean that #3452 was to be fully fixed. Reopening.)

[2021-03-11 02:36] chrisbobbe commented on #3452
We'll want to fix this issue on the path to the RN v0.64 upgrade (#4426). facebook/react-native@050a7dd01 turns on `exact_by_default` with the warning that RN code might assume that projects have turned it on.

#4518 has been merged, toward this, and I've just opened #4520.

[2021-03-11 10:07] blinry opened #4521 "Display problem in the "@" icon on the home screen"
On version 27.159 of the Android app (latest version from the Play Store), and on Android 9, the "@" icon in the top bar has a display problem where the path is not filled with color where it's self-intersecting:

![](https://user-images.githubusercontent.com/81277/110769914-fdb28480-8258-11eb-9109-ae1eb1c502d5.png)

Can other people reproduce this? I've been noticing this for a while. I don't kno

[2021-03-11 10:30] Gautam-Arora24 commented on #4521
Seeing this issue on iOS as well.
My iOS version - 14.3

[2021-03-12 00:25] chrisbobbe commented on #4521
Thanks for the report, @blinry, and for confirming on iOS, @Gautam-Arora24! Good to have an issue for this in the tracker.

@WesleyAC has debugged this and filed oblador/react-native-vector-icons#1311. Once that fix lands upstream and we can take a new release with it, it should resolve.

[2021-03-12 01:48] chrisbobbe opened #4522 "Invisible character "￼" (U+FFFC) inserted at end of dictation input on iOS."
A user [reports](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Dictation.20bug.20on.20iOS/near/1130343):

*sample message* ￼

Looking around our issue tracker, it looks like we've had at least one known bug with dictation on iOS before this: #2659. The problem there was in some code in React Native, and it was solved by taking a fix in a new React Native release.

There's another bug in th

[2021-03-12 04:01] WesleyAC commented on #4521
Honestly, it might be good to just revert RNVI to the previous version until they fix this, since it's been several weeks since I filed that PR, it could be sitting there for quite a while. I don't *think* there are any cutting-edge features we need, although I haven't looked closely. Looks like `6.4.2` was the last version to not have this issue, we're on `^8.0.0`.

[2021-03-12 04:08] Gautam-Arora24 commented on #4521
But moving back to ```6.4.2``` will cut many features for us which may be important.

[2021-03-12 04:12] WesleyAC commented on #4521
Looking at the commit log for all the upgrades, I think #2209 is the only thing that would revert. And personally, I'd rather have #2209 than this, but maybe there are features that we rely on in upgrades that weren't mentioned in the commit log.

[2021-03-12 05:33] abhi0504 commented on #4053
@gnprice I want to work on this issue can you plz assign it to me ?

[2021-03-12 05:52] abhi0504 commented on #4144
@chrisbobbe I want to work on this issue can you please assign me this issue

[2021-03-12 11:28] gnprice commented on #4136
We've just heard another report of this issue, from a user by email.

[2021-03-12 13:06] fuzunspm commented on #4136
We have the same issue, if we try to open file via in app browser it won’t open with an error message of

{"result":"error","msg":"Invalid filename"}

but if we copy link and paste in to browser then it loads the file successfully. The url is different between copy and touch to open

[2021-03-12 13:23] fuzunspm opened #4523 "Files won’t open unless copy link"
When user try to open open file via touch, in app browser won’t open the file with an error message of

{"result":"error","msg":"Invalid filename"}

But if user long touch and copy the url and then paste it on device browser, it opens the file

both urls are different

non working: https://domain/user_uploads/temporary/322F63632F43777846616F71424B59725362656D5237655A79767130422F62756C75742D6865736

[2021-03-12 20:13] abhi0504 opened #4524 "Users overlapping info button on Create Group page"
When add some participants(around 6-7) then that participants overlapped by the info button and also user cant be able to see further participants I am attaching a video and a photo below for more understanding

![Android Emulator - Pixel_3_API_29_5554 13-03-2021 01_38_26](https://user-images.githubusercontent.com/56453541/110993295-20e64c80-839d-11eb-9b95-c358188d4334.png)

https://user-images.gi

[2021-03-12 20:14] abhi0504 commented on #4524
I am working on this issue @gnprice @chrisbobbe what your suggestions over this issue

[2021-03-12 20:27] chrisbobbe commented on #4426
And, v0.64 was released yesterday! Here's the blog post: https://reactnative.dev/blog/2021/03/11/version-0.64

[2021-03-13 08:59] Gautam-Arora24 commented on #4524
@abhi0504 I think the PR for this type of issue has already been added. You can check this [PR](https://github.com/zulip/zulip-mobile/pull/4513)

[2021-03-13 09:08] abhi0504 commented on #4524
oh okay

[2021-03-13 11:28] WesleyAC commented on #4349
I did some looking into this a few weeks ago. I agree that this is important, it's a major pain point when looking at images on mobile, often resulting in waiting many seconds and basically just being frustrated/unable to use the app during that time.

What's happening here is that the message in the message list view is being shown in the webview, but when it's being shown in the lightbox, it's b

[2021-03-13 11:40] WesleyAC opened #4526 ""Unread messages" causes screen to jump when appearing/disappearing"
The blue "Unread messages" bar at the top of the screen causes the message view window to noticeably jump when it appears/disappears. Instead, it should not affect the rendering of the message list at all, but smoothly appear on top of it, and then disappear again once the messages are read.

I think the fix for this will look like setting `position: absolute` on `UnreadNotice`, but I suspect it'l

[2021-03-13 11:45] WesleyAC opened #4527 "Adding reaction emoji closes spoiler tag"
If you open a spoiler tag in a message, and then add a reaction emoji, the spoiler tag closes, causing the message window to jump. Instead, the spoiler should remain open.

[2021-03-13 11:48] WesleyAC opened #4528 "Respect system 24-hour time setting"
If the user's system is set to 24-hour time, we should display the time tags on messages and the timezone widgets in 24-hour time.

How to check this: [Android](https://stackoverflow.com/questions/4392636/how-do-i-check-if-system-is-12-or-24-hour) [iOS](https://stackoverflow.com/questions/28162729/nsdateformatter-detect-24-hour-clock-in-os-x-and-ios)

Here's a RN library to do this, I have not mad

[2021-03-13 11:52] WesleyAC opened #4529 "Add way to view topic list from inside thread narrow"
If a user wants to get to the "topic list" view in a particular stream, they have no way of doing that that does not involve marking some messages as read. This is OK in the case when they want to look at a thread that they have unreads in, since they can view the thread from the home screen, but in the case where they're trying to get to an old thread, it can be frustrating.

A incomplete, but us

[2021-03-13 11:57] WesleyAC opened #4530 "Markdown tables with long text can get cut off"
A markdown table such as:

[code]

Will have the text "supercalifragilisticexpialidocious" cut off on the right side. Instead of cutting off the text, the table should scroll horizontally.

[2021-03-13 12:06] WesleyAC opened #4531 ""Mark stream as read" button is often unresponsive"
The "Mark stream as read" button sometimes appears to do nothing on being pressed for a long period of time. Ideally, the bar should disappear immediately, instead of blocking on the response from the server. It's important while doing this to make sure that the unread info will get synced to the server *eventually*, even if the user closes and reopens the app, etc. The thing to avoid is the exper

[2021-03-13 12:10] WesleyAC opened #4532 "Allow muting topic from within topic narrow"
Currently, the only way to mute a topic in the app is to go to the stream view, and long press on the topic name. This involves possibly marking messages as read in the stream view, which is frustrating. Instead, the user should be able to mute a topic from within that topic.

The UX for this that makes the most sense to me is a long-press on the topbar (where the topic name is), which would pop u

[2021-03-13 18:05] chrisbobbe commented on #4526
Yeah; that jumping would be good to fix. In particular, I think the banner-exiting works like this (as far as I remember; I can double-check when I'm next at my regular dev setup):

1. The banner begins its scale animation (which we're not fond of), decreasing in size while remaining centered in the rectangle that's laid out for it. The top of the WebView doesn't move; it remains aligned with wher

[2021-03-13 18:28] chrisbobbe commented on #4527
Yeah, that'd be good to fix. It's a consequence of #3851; I owe more work in the direction of #3913 for that. I've recently picked some of it back up, in #4406, but this is a good reminder that I should follow through. 🙂

[2021-03-13 18:48] chrisbobbe commented on #4532
Currently, long-pressing the topic in the top bar brings up a toast that shows the topic's full name, in case the topic was long and got truncated where it appears in the top bar.

I think an alternative interaction that does both things (shows the whole topic name, and lets you mute the topic) would be good! What do you think?

[2021-03-13 18:58] chrisbobbe commented on #4532
One thing I notice in the current behavior is that the touch target for the topic name is kind of thin, height-wise. The height is no greater than the height of the topic-name text.

We've generally tried to have touchable areas be "at least 48 x 48" layout pixels ([doc](https://material.io/develop/web/supporting/touch-target), [doc](https://material.io/design/usability/accessibility.html#layout-a

[2021-03-13 19:12] chrisbobbe commented on #4531
I'm on mobile right now, but linking https://github.com/zulip/zulip-mobile/issues/3549 which looks like it might be related. :)

[2021-03-14 08:05] Gautam-Arora24 commented on #4532
@chrisbobbe I have a send a PR where I increased the touch target of ```MentionedUserNotSubscribed``` beyond 48px using ```hitSlop```prop [here](https://github.com/zulip/zulip-mobile/pull/4488/commits/93267b5640b2f5084a3ce226dc724412b86fc971).
I can also work on this area where I will increase the touchable area of the buttons to be "at least 48 x 48" layout pixels".

[2021-03-14 08:52] abhi0504 commented on #4528
@WesleyAC I want to work on this issue can you kindly please assign it to me.

[2021-03-14 16:30] rajprakash00 opened #4533 "Fix alignment of embedded link previews"
Currently all embedded images are center aligned in mobile unlike in zulip web where all are left aligned.
Center-aligned images seems fine but if we have back to back different orientation images then it becomes
quite weird to view in mobile unlike in web.

An example **screenshot**:
![zulipBefore5](https://user-images.githubusercontent.com/42652941/111075092-480f5c00-850c-11eb-8fe0-3f94d8a42aca.

[2021-03-15 06:31] gnprice commented on #4532
Definitely agreed that we should have this! See also #3473, which was originally about unmuting a topic but also discussed this. When adding this, it'd be good to make "unmute this topic" available in the same spot in the UI.

One solution would be to put an "overflow menu", with an ellipsis icon, at the end of the app bar at the top of the screen. That's a standard Material Design way to handle a

[2021-03-15 06:40] gnprice commented on #4529
Incomplete because you still have to first get to some topic narrow in the same stream, right? But I agree this would be a helpful step.

Adding the thread list icon to the end of the app bar would be reasonable; the main downside is that three icons is kind of a lot of them to have there.

A variation on that would be if we add an overflow menu, as described at https://github.com/zulip/zulip-mobi

[2021-03-15 06:47] gnprice commented on #4532
This could also work well! Perhaps as a bottom sheet / action sheet? (I.e. a [modal bottom sheet](https://material.io/components/sheets-bottom#modal-bottom-sheet) in Material terms -- we have a couple of these already which our code calls "action sheet".)

Hmm, yeah. In addition to `hitSlop`, another solution might be to make the whole title area of the app bar (i.e. including the stream name) the

[2021-03-15 07:10] WesleyAC commented on #4532
The actionsheet/bottom sheet approach sounds good! I think I'll implement that, possibly with a three-dot menu to bring it up as well (since it seems like we almost never use overflow menus currently, and have lots of actionsheets, but a menu would help with discoverability — open to other thoughts, though, if that seems confusing).

It'll have on it (not sure of order yet):

* Mute topic (if topi

[2021-03-15 07:12] gnprice commented on #4526
I agree, this is a visible annoyance that'd be good to fix.

I think it may be tricky to work out a behavior here that's just right. Some constraints that would be good to satisfy are:
* Things shouldn't jump around -- that's this issue.
* As Chris says, the banner shouldn't obscure any of the message list so that you can't see it. In particular, if you scroll to the top of the history we want you

[2021-03-15 07:13] WesleyAC commented on #4529
Yep. Perhaps clicking on the stream name in the main view should bring up the topic list instead of all messages view, or something like that. But that seems more likely to frustrate people (as we've seen with Recent Topics on the webapp) and not super high priority.

I plan on implementing this at the same time as #4532, so let's have discussion on the UI for this in that issue.

[2021-03-15 07:24] WesleyAC commented on #4532
Looking at the app more, I think we should actually have:

* Untruncated stream and topic name (shown in the same greyed-out way it is on a long press on a topic name in the stream view)
* Mute topic (if topic is unmuted)
* Unmute topic (if topic is muted)
* Mute stream (if stream is unmuted)
* Unmute stream (if stream is muted)
* View topic list
* View stream details
* Cancel

Which closely mirro

[2021-03-15 07:28] WesleyAC commented on #4528
Thanks for taking this on, @abhi0504! Feel free to ping me on chat.zulip.org if you have any questions :)

[2021-03-15 07:47] gnprice commented on #4528
I agree.

There is a Zulip user setting for this, and we currently use that -- search for `twenty_four_hour_time` and `twentyFourHourTime`. But for a mobile app I think it makes most sense to follow the setting the user has chosen on the device. I just tried several other apps that show times for things, and none of them have their own time-format setting that I can find, and each of them follows

[2021-03-15 07:51] gnprice commented on #4530
Agreed.

This is probably just a line or two of CSS to fix -- the main work needed is finding the right change like that to make.

For whoever wants to take this up, I'd suggest taking a look at how we handle LaTeX math displays: https://zulip.com/help/format-your-message-using-markdown#latex . I believe if you have a message with a long equation that doesn't fit on the screen, we'll have that scr

[2021-03-15 07:55] abhi0504 commented on #4528
@gnprice Thank you so much for your explanation and ideal solution for the current issue 😊

[2021-03-15 08:23] gnprice commented on #4531
For the current implementation of this, see `MarkUnreadButton.js`. What's happening is that we immediately fire off a request to the server to mark the stream (or topic, etc.) as read; but the button is always there when its enclosing banner is, and that's controlled by our local state of which messages are read. Which we only update when we get an event from the server saying the messages were ma

[2021-03-15 08:49] gnprice commented on #4532
That list of menu options sounds good!

Yeah, I agree.

I think it'd be pretty confusing, at least on Android, to have a three-dot button at the top and have it open the overflow menu as a bottom sheet, rather than as a menu there at the top by the icon. I see overflow menus in a lot of apps and I don't think I've ever seen that behavior.

Or more precisely: I've seen it once, which was a couple o

[2021-03-15 11:16] rajprakash00 commented on #4530
@gnprice  Can i work on this issue?

[2021-03-15 12:08] WesleyAC opened #4535 "Allow viewing stream message list from main page"
In #4529, we mentioned the possibility of viewing the stream message list from the main page, without looking at the main stream view first:

I think a good UI for this would be long-pressing the stream name in the main view bringing up an actionsheet with the following options:

* View stream topics
* Mark stream as read
* Mute/Unmute stream
* Unsubscribe
* View stream info (not sure what the nam

[2021-03-15 20:30] #4185 closed

[2021-03-15 22:15] timabbott commented on #4349
https://github.com/zulip/zulip/issues/13088 is also very relevant.  Note that the solutions under discussion there would likely need an independent implementation for mobile, but I suspect the same problem applies.

[2021-03-15 22:16] timabbott commented on #4530
It's also worth looking at `static/styles/rendered_markdown.css`, both for whether we have the same bug and if not, whether we can use the same solution.

[2021-03-16 04:30] Gautam-Arora24 commented on #3632
@gnprice  I want to work on this issue.

[2021-03-16 16:33] Gautam-Arora24 commented on #4521
Here how it looks on an iPhone Simulator. Certainly, the @ symbol is empty and the path is not filled
![Screenshot 2021-03-16 at 10 02 46 PM](https://user-images.githubusercontent.com/53913514/111345490-593ea100-86a3-11eb-9c1c-49b58644b928.png)

[2021-03-16 16:40] chrisbobbe commented on #4504
Thanks, @abhi0504!

What are you considering as possible plans for implementing the feature? I see four other open issues in my [search for issues like this one](https://github.com/zulip/zulip-mobile/issues?q=is%3Aissue+is%3Aopen+quote+and+reply+). I expect they'll provide some helpful ideas. 🙂 In fact, this issue looks like a duplicate of #1975, so I'm closing this one.

One thing that stands out

[2021-03-16 16:40] #4504 closed

[2021-03-16 16:45] chrisbobbe commented on #3114
No, sorry, @andreasoc. Progress on iOS notification work is stalled on https://github.com/zulip/zulip-mobile/issues/4115#issuecomment-792887302.

[2021-03-16 17:10] chrisbobbe commented on #4521
I've just tried out 6.4.2, and I don't observe the issue there, on my iPhone. However, I also tried out 6.5.0, and I don't see the issue there either. @WesleyAC, what led you to 6.4.2? 🙂

[2021-03-16 19:19] chrisbobbe opened #4538 "Track resolution of oblador/react-native-vector-icons#1311, upgrade when we can."
In #4537, we retreated from react-native-vector-icons v8.0.0, back to v7.0.0, to fix #4521 without having to wait for @WesleyAC's upstream fix (oblador/react-native-vector-icons#1311) to land.

This issue is to remind us to upgrade to the latest version of react-native-vector-icons as soon as we can. We expect to be able to do so once oblador/react-native-vector-icons#1311 is resolved.

[2021-03-16 19:20] chrisbobbe commented on #4521
Just sent #4538 for this.

[2021-03-16 20:27] chrisbobbe commented on #4053
Hi, @abhi0504! Could you please describe your plan for your work on this issue? I don't see any alternatives to the current layout presented here, so the first job will be to think of some. 🙂

[2021-03-16 20:49] AkashDhiman commented on #4439
Adding on to this because it's related: sharing from image preview window is not implemented properly, it downloads the content it needs to share, and then passes the path of the file downloaded, Ideally it should be passed on to another app as a content URI. The way it's done now leads to problems of wrong image being parsed by the receiving app. (see attachment)
many other apps (signal, slack) f

[2021-03-16 21:15] #4496 closed

[2021-03-16 21:54] AkashDhiman opened #4539 "Sharing from lightbox broken on Android"
Sharing from the image preview window is not implemented properly, it downloads the content it needs to share, and then supposedly passes the path of the downloaded content, Ideally it should pass the content URI.
The way it's done, leads to problems of wrong image being parsed by the receiving app.

https://user-images.githubusercontent.com/40268170/111384383-70938380-86cf-11eb-8a3a-35ce5a3b0a7a.

[2021-03-17 07:01] WesleyAC opened #4540 "Don't immediately send attachment on upload"
When a user uploads a attachment or image, it's immediately sent. Instead, we should change the behaviour to be more like the webapp: the input field should have the markdown for displaying the image inserted, but the user should be allowed to edit before sending. This will also allow people to add multiple attachments (see [this CZO thread](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Mu

[2021-03-17 13:38] WesleyAC commented on #4521
Ah, I was assuming that [7ddcb4b8](https://github.com/oblador/react-native-vector-icons/commit/7ddcb4b842843b8e10cba6b19b9b4442e03faa44) introduced the bug, since that started using fontcustom and updated `Feather.ttf`, but it looks like it was actually that later commit that you identified. Your revert looks good to me, thanks :)

[2021-03-17 18:48] abhi0504 commented on #4053
@chrisbobbe thank you for your reply
i think we can increase the touchable opacity area for every icon such that it takes 0.25 out of 1 of the width in this way empty spaces in the top navigation bar will be filled up what's your opinion over this

[2021-03-17 21:07] chrisbobbe commented on #4009
When in "follow the OS" mode, we'll want to make sure to listen for changes in the OS-level setting and apply them automatically, right away.

For that, I could imagine an approach that uses [`Appearance.addChangeListener()`](https://reactnative.dev/docs/0.63/appearance#addchangelistener), with that listener logic probably living in src/boot/AppEventHandlers.js.

Or, one that uses the [`useColorSc

[2021-03-17 21:33] #4530 closed

[2021-03-17 21:48] #4521 closed

[2021-03-17 23:01] chrisbobbe commented on #4053
Sure, I think that sounds fine!

[2021-03-18 05:37] #4438 closed

[2021-03-18 05:42] gnprice commented on #4438
Closed this with #4448, which switches us to a new, efficient data structure for tracking the unread stream messages.

The other unreads -- 1:1 PMs, group PMs, and @-mentions -- are still tracked with the old data structures. At https://github.com/zulip/zulip-mobile/pull/4448#discussion_r570763865 I explained why those aren't part of this issue:

I expect that it's very rare for the other parts of

[2021-03-18 06:56] gnprice commented on #4535
I agree, that sounds helpful.

[2021-03-18 07:00] WesleyAC opened #4545 ""Connecting" spinner pushes around content"
The "Connecting" spinner at the top of the main screen pushes down all of the content below it. This results in things that the user might be trying to tap on jumping around, which is a poor experience. We should find a way of indicating that this is happening without pushing around the content.

This is a similar problem to #4526, although we could have a different solution. The constraints are p

[2021-03-18 08:51] vaibhavs2 commented on #4545
I want to work on this, assign this to me please :)

[2021-03-18 09:12] AlaaElden98 commented on #4394
I just tried screen reader for an hour, it's quiet difficult, and i hope we can make it easy and comfort as possible for the users, i would like to work on this issue as well.

[2021-03-18 09:58] WesleyAC opened #4546 "Reacting with "0️⃣" results in "Invalid emoji name" error"
If you try to react with the "0️⃣" (`:0:`) emoji on CZO, you get the following error:

[code]

We should fix this, and add an error toast on a 400 response (currently there is no feedback given to the user about why this failed)

[2021-03-18 15:38] WesleyAC commented on #4546
Ok, filed a PR to show a toast when there's an error.

As for the thing with `:0:` — the app is trying to add `:0:`, but the server only responds to `:zero:`. I think this is because we ship a `src/emoji/codePointMap.js` file that's gotten out of sync with the server version of that file? But I'm not sure how that works overall.

[2021-03-18 15:41] WesleyAC commented on #4546
@gnprice let me know if you have context on what's going on here, otherwise I'm happy to investigate further.

[2021-03-18 18:50] AlaaElden98 opened #4549 "There is no obvious way to go to the beginning of a topic"
It's hard to scroll all the way up to reach the first post of a topic, currently the app have a button to navigate to the last post in a topic
![IMG_20210318_204320_449](https://user-images.githubusercontent.com/34111697/111680129-8ff2f380-882a-11eb-83cc-329a3b533cf3.JPG)

I think a good UX/UI is to add "The start of the topic" -or something nicer- option on long-press at a topic name.
![IMG_20210

[2021-03-18 20:50] gnprice commented on #4546
Indeed, good find! As I mentioned [in the chat thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/near/1135688), this (well, "Invalid emoji name" in general) turns out to be an error that users are regularly hitting.

We have an old issue #3128 which describes this, so I'll close this one and add an update there, to consolidate threads.

[2021-03-18 20:50] #4546 closed

[2021-03-18 20:52] gnprice commented on #3128
@WesleyAC discovered this bug and reported it as #4546. Looking in Sentry, [I found that](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/force.20handling.20promise.20errors.3F/near/1135688) it's an issue users are regularly running into -- so it'd be good to fix.

As mentioned above, we probably want to do so by implementing #2956. We could also manually refresh our hard-coded list (l

[2021-03-18 20:53] gnprice commented on #2956
Marking this as a priority. See https://github.com/zulip/zulip-mobile/issues/3128#issuecomment-802289882 , and the linked [chat discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/emoji.20list/near/1135704).

[2021-03-19 05:01] #4549 closed

[2021-03-19 05:02] gnprice commented on #4549
(See discussion [in chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Navigate.20to.20the.20beginning.20of.20a.20topic/near/1136213).)

[2021-03-19 07:10] AlaaElden98 commented on #4540
I would like to work on this issue, can you assign it to me?  @WesleyAC

[2021-03-20 09:11] Gautam-Arora24 commented on #4431
I think building the app from scratch on iPhone solved my problem.

[2021-03-21 06:49] chrisbobbe commented on #4425
My PR react-native-cameraroll/react-native-cameraroll#264 was merged! 🎉 Now, we just wait for the update to be released to NPM.

[2021-03-21 21:35] easaw opened #4556 "No users get mobile notifications..."
### Description:

### _UPDATE:_

I now have two servers (Ubunutu 18/ 20) and a Zulip cloud account. None of them are getting push notifications on mobile/ tablet (android as below) but desktop notifications are working. Both accounts I have on all the Zulips are set to recieve notifications and push is setup on the two servers.
<hr>

When using two Android devices (Lenovo M10 plus on Pie & OnePlus

[2021-03-22 05:46] WesleyAC opened #4557 "Document minimum supported server version"
We currently don't have a clear policy on minimum supported server version. We should make one and document it.

See discussion on CZO: [mobile](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/emoji.20list/near/1136561), [desktop](https://chat.zulip.org/#narrow/stream/16-desktop/topic/old.20server.20support), [terminal 1](https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/S

[2021-03-22 08:22] WesleyAC commented on #4526
Some notes on CZO in [#mobile-team > #M4526, unread bar jank](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M4526.2C.20unread.20bar.20jank).

As it turns out, this issue is kinda Big and Complicated, I'll split up some of my findings into smaller issues.

[2021-03-22 08:37] WesleyAC opened #4558 "Don't show UnreadNotice bar if messages will be imminently read"
If the user taps on a topic with very few total messages in it, where some of those messages are unread, we show the "N unread messages" bar for a moment, and stop showing it as soon as we get an ack from the server that the messages have been read.

Instead, we should just not show the bar for these cases.

This might be kinda complicated — the "easy" way to fix this is to give control of the unr

[2021-03-22 09:14] WesleyAC opened #4559 "Retry failed "mark as read" messages"
Currently, if a API request to mark messages as read fails, we never retry it. Instead, we should save a list of messages we have tried to mark as read (this should be persisted to disk, ideally, although maybe just putting it in the Redux state is a good enough start), and retry them periodically (probably using exponential backoff, maybe with some jitter?)

I think we should probably do this for

[2021-03-22 18:53] chrisbobbe commented on #4559
I believe `tryFetch` might be helpful here?

I've also got a `promiseTimeout` in #M4193 (not yet merged) that might be helpful if we want to give up retrying after a time. This came up in a fairly recent discussion on timeout/retry logic for sending outbox messages, [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M3881.20Sending.20outbox.20messages.20is.20fraught.20with.20iss

[2021-03-22 19:23] gnprice commented on #4559
This will be good to do! Among other things it's a prerequisite to #3549.

Some discussion [in chat](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/retrying.20requests/near/1139254) about how to approach the implementation.

[2021-03-23 01:16] adambirds opened #4560 "Android Notifications Don't Work If Installed by Google Play Store"
Push Notifications on Android Devices don't work if installed via Google Play Store.

This has been tested rigorously all day as can be seen in - https://chat.zulip.org/#narrow/stream/48-mobile/topic/Push.20Notifications.20on.20Mobile.20.28Android.29

This has tested both with a self-hosted server and chat.zulip.org.

If the app (even the latest version) is installed by APK, then the notifications

[2021-03-24 01:25] chrisbobbe commented on #4560
Thanks so much for the report and debugging help, @adambirds! You know this already, but I've started a new topic [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/.60remoteNotificationsRegistered.60.20listener.20too.20late/near/1141501) with a suggested diagnosis.

[2021-03-24 02:57] vaibhavs2 commented on #4535
I am working on it,  assign this to me please

[2021-03-24 07:55] WesleyAC commented on #4535
@vaibhavs2 it's probably best not to work on this until #4541 is merged, since that changes what this kind of code will look like a lot.

[2021-03-24 09:57] vaibhavs2 commented on #4540
may I get assigned to this? :)

[2021-03-25 01:29] adambirds commented on #2647
This is no longer an issue. Closing.

[2021-03-25 01:29] #2647 closed

[2021-03-25 08:12] WesleyAC opened #4562 "Consider disabling in-app browser, or providing an option to do so"
I personally am not a fan of the embedded browser in Android, and I don't think I know many people who are. The first two Google links I see for "android in-app browser" that are not about how to implement this open with things like:

(from [How to Disable In-App Browser for Android Apps](https://gadgetstouse.com/blog/2019/12/21/how-to-disable-in-app-browser-for-android-apps/))

(from [In-App Brow

[2021-03-26 06:01] vaibhavs2 commented on #4562
@WesleyAC

links are opening in in-App browser and then there is an option to open in separate browser(open in browser), I liked the way it is implemented , as sometime I see single page and navigate back, sometime If I like the content then starts more search and like to open new tabs and so on. For this I saw there is already an option to to select and surf in separate browser and its good.

[2021-03-26 09:17] AlaaElden98 opened #4563 "View video in-app instead of download it immediately."
Currently, when pressing on a video URL, the video gets downloaded directly into the mobile storage.
A good feature will be to view the video in-app and give the user the option to download it.
See this conversation at [ZCS](https://chat.zulip.org/#narrow/stream/48-mobile/topic/View.20media.20in-app.20instead.20of.20download)

[2021-03-26 09:18] AlaaElden98 commented on #4563
According to [this conversation](https://chat.zulip.org/#narrow/stream/48-mobile/topic/View.20media.20in-app.20instead.20of.20download), I claimed this issue and working on it.

[2021-03-26 19:05] timabbott opened #4564 "Add CSS for new hl_lines feature of code blocks if needed"
We're close to merging https://github.com/zulip/zulip/pull/16984, which will add support for the pygments `hl_lines` feature (being able to highlight lines in a markdown code block).  It's probably OK to ignore the composition/local echo parts of this new feature and just expect to get that as part of future syncing code from the webapp project.

We should test how that new feature looks in the mo

[2021-03-26 19:39] vaibhavs2 opened #4565 "Some recent or most used emojis in ActionSheet for quick reaction to messages."
### Look at the actionSheet, how beautiful it is looking.

<img src="https://user-images.githubusercontent.com/31806059/112682834-ad613680-8e96-11eb-98cc-b5ec34706bd1.png" height="640"/>

there should be 4-5 recently used  or most used emojis in the ActionSheet for quick reaction to the messages, it will help users to quick react without navigating one more screen

[2021-03-26 19:42] BartMassey commented on #1321
Without the ability to conveniently monitor multiple realms, the mobile Zulip app is basically useless to me. What can I do to help get the development process restarted for this feature? I am not really a JS programmer, so PRs are probably out, but I am happy to help how I can.

[2021-03-27 04:01] harry-dev98 commented on #4565
hey i had started to figure out how it can be done, can you assign this issue to me?

[2021-03-27 04:04] vaibhavs2 commented on #4565
I am already working on it,

[2021-03-27 04:35] vaibhavs2 opened #4567 "Make accessible maximum number of emojis a time to user"
For now it has a column and we can scroll or search emojis, maybe users don't know the name of emojis and so he will have to long scroll to find out whats his need,

<img src="https://user-images.githubusercontent.com/31806059/112709718-b7f4ed80-8ee1-11eb-8eb3-5df462abf908.png" height="640" />

I am suggesting to arrange it like matrix elements (rows and columns) so users can quickly pick and on s

[2021-03-27 12:26] AkashDhiman opened #4569 "Bug when switching account"
![switch-account-bug](https://user-images.githubusercontent.com/40268170/112720618-72f2aa80-8f25-11eb-92b4-4ba3f3e0fb94.gif)

steps to reproduce:

- be already logged into an account
- go to profile window and tap switch account
- type in another valid realm, wait till it redirects to method of sign in screen
- you will be able to navigate back from this screen

At this stage you are not logged in

[2021-03-29 18:20] timabbott opened #4571 "Handle new USER_DEACTIVATED and REALM_DEACTIVATED API error codes."
https://github.com/zulip/zulip/pull/17872 adds a couple of new custom error codes for errors that I'd expect us to see when trying to connect to a deactivated organization with the mobile apps (and also will change the error codes to 403).

We should check if these help the mobile app do better error handling for this error when trying to login or start the app.

[2021-03-30 01:14] gnprice commented on #4560
It looks like we now have a diagnosis for this and a plan for a fix. Details in the chat threads linked above. I expect we'll have a new release out soon which fixes the issue.

Thanks again @adambirds for the report and debugging!

[2021-03-30 01:19] gnprice commented on #4556
Thanks @easaw for the report!

We've just had a thread with some debugging of similar reports:
https://chat.zulip.org/#narrow/stream/48-mobile/topic/Push.20Notifications.20on.20Mobile.20.28Android.29
There's an issue which was new (or newly amplified) in a recent release, and I expect we'll have a fix out soon.

In the meantime, a workaround is to install an earlier version of the app, v27.157, fr

[2021-03-30 01:38] chrisbobbe commented on #4569
Thanks for the report! I haven't yet had a chance to look at this in detail, but initially, I suspect that fixing #4416 might solve this, or might partially solve it. I've got #4491 open for that; @gnprice, FYI. 🙂

[2021-03-30 06:51] bmalynovytch commented on #3708
Not sure if it's completely similar but I've got something not working properly as well.

In my case, I'm using a LemonLDAP-NG instance as SAML IdP, working fine with Zulip on browser (mobile & desktop), as well as desktop app, but not on mobile (iPhone).

I'm stuck on the IdP (post login) return page, with the integrated browser not closing. If I hit the "OK"  button to close the "login browser",

[2021-03-30 16:57] chrisbobbe commented on #4560
We've confirmed that this is fixed by #4573, released in an Android-only beta v27.160; see discussion around [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/.60remoteNotificationsRegistered.60.20listener.20too.20late/near/1147594). So, closing! 🎉

[2021-03-30 16:57] #4560 closed

[2021-03-30 19:36] gnprice commented on #4560
And v27.160 is now out for all Android users!

If anyone's still having trouble with notifications after taking that upgrade, please do file a new issue -- we'd be glad to debug.

[2021-03-30 21:13] vaibhavs2 commented on #4571
Whats about if the implementation will be something like given below

| <div style="width:10px;">Description</div> | Layout|
| --- | --- |
| If User logged In with realm and either realm or user account  is deactivated then app will open with this Account-Pick screen to either choose a valid account or add a new account | <img src="https://user-images.githubusercontent.com/31806059/113054025-938d5

[2021-03-30 21:27] easaw commented on #4556
Hi @gnprice thank you, I actually started that topic on the community, great to see it all coming together to get solved. Thank you!

[2021-03-30 21:28] easaw commented on #4556
Hi @gnprice thank you, I actually started that topic on the community, great to see it all coming together to get solved. Thank you!

[2021-03-30 21:51] easaw commented on #4560
"Stealing" my issue #4556  there @adambirds? 😂

[2021-03-31 01:58] adambirds opened #4575 "Feature Request: List of Current Active Users as we have on Web App"
Would love for us to be able to see a list of current active users, as would be extremely useful to know if the person you want to talk to is online or not without having to have them on a previous direct message.

[2021-03-31 07:04] abhi0504 commented on #4575
@adambirds yeah i guess there must be `presence status indicator` in PM conversation too I would like to work on this issue
😊

[2021-03-31 08:14] Alge opened #4576 "Check if the message is read before showing notification"
I usually have Zulip open on my computer, and see the notifications there directly. But it takes a while for the notifications to show up on my phone (android), and I have often already responded to the message before my phone gets the notification, making it completely irrelevant.
Would it be possible to check if the message is read before showing the notification on the phone clients? It's a bit

[2021-03-31 14:47] timabbott commented on #4576
@Alge thanks for the report.  I would not expect us to have a bug of this form -- we have logic on the server to only send mobile notifications for messages that are not already read (which us unlikely -- they get sent almost immediately after the message being notified about), and additional logic to send a "remove notification" push event when the user reads the notification on desktop.

What ve

[2021-03-31 15:52] Alge commented on #4576
We seem to be running zulip-server 3.2, it was installed around november last year

[2021-03-31 17:02] WesleyAC opened #4577 "Open zulipchat.com and chat.zulip.org links in mobile app"
It would be nice if the Zulip app was show as an option to open links to zulip instances. While neither Android nor iOS allow apps to register to handle a dynamic set of links, we can specifically handle `*.zulipchat.com` and `chat.zulip.org` links in the app, which would probably be good. This work would also likely be useful towards handling `zulip://`-style links.

See [#mobile > deep links](ht

[2021-03-31 17:55] timabbott commented on #4576
OK, that should certainly work correctly for this feature.

I think adding logging to `handle_remove_push_notification` in `zerver/lib/push_notifications.py` on your server might be the easiest way to debug this, but maybe the folks who work on mobile (I'm a server person) will have better ideas.

[2021-03-31 18:40] WesleyAC opened #4578 "Show "add reaction" button when there are already reactions on a message"
Accessing the reaction menu can be confusing. We should offer a simple way to add a reaction when there are already reactions on a message:

![0000-recent](https://user-images.githubusercontent.com/5001092/113194124-5b078780-9293-11eb-820d-4d9dd2287b2f.png)

(that's a screenshot from the webapp, something similar would be good in mobile)

[2021-03-31 18:58] Gautam-Arora24 commented on #4578
@WesleyAC I would like to work on this issue 😃

[2021-03-31 19:00] WesleyAC commented on #4578
Great! Exited to see this implemented :)

[2021-03-31 19:16] chrisbobbe opened #4579 "Show logged-in/logged-out state in account picker."
`AccountPickScreen` shows all the accounts the app knows about, whether or not they're logged in.

Each item in the list should indicate if the account is logged in (it has a non-empty `.apiKey`) or logged out (it has an empty `.apiKey`).

[2021-03-31 19:19] #4017 closed

[2021-03-31 20:10] gnprice commented on #4579
More details, copied from #4491:

In `AccountPickScreen` we should display an account differently if it's logged out -- it should look "grayed-out" or disabled, or be marked with a label like "Signed out".
* Google does this with a "Signed out" label; see screenshots like [here](https://vaadin.com/learn/tutorials/google-login) or [here](https://www.carlsetzer.com/2020/03/03/google-tip-deleting-old

[2021-03-31 22:55] gnprice opened #4582 "Check if generate-webview-js is needed, in tools/test"
@WesleyAC [points out in chat](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/generate-webview-js/near/1145003):

We should do that; probably we should have done so a while ago.

The way I'd do this is to add one more "suite" in `tools/test`, in the same way as the existing suites `android`, `flow`, etc. A good model for this one would be the `deps` suite.

This will be a little bit m

[2021-04-01 00:38] gnprice commented on #4556
@easaw Ah, indeed it's sometimes hard to connect people's identities between GitHub and chat. Thanks again for the report, and for all your debugging there!

[2021-04-01 02:42] chrisbobbe commented on #3477
Is it called `max_file_upload_size`, or `max_file_upload_size_mib`? The latter is in the [doc](https://zulip.com/api/register-queue).

I think this would have been before servers started announcing a feature level; perhaps we can conditionalize on a particular server version (which?), or else just whether or not the server reports a feature level.

[2021-04-01 03:10] chrisbobbe commented on #3708
Thanks for the report, @bmalynovytch! I'm not super familiar with the SAML flow specifically, but here are some debugging questions that might help:

Do I understand correctly:

You can make the browser go away by doing something boring, like closing it. I see a "Done" button:

<img width=250 src="https://user-images.githubusercontent.com/22248748/113237414-c5f59600-9274-11eb-8b1c-29b4e0463d85.png

[2021-04-01 04:32] vaibhavs2 commented on #4579
can it be assign to me?

[2021-04-01 16:51] chrisbobbe commented on #4579
Thanks, @vaibhavs2!

[2021-04-01 18:13] chrisbobbe opened #4584 "Add a React "error boundary" near the root of the component tree."
White-screen crashes almost certainly mean an error somewhere in the React component tree. A React ["error boundary"](https://reactjs.org/docs/error-boundaries.html) is the thing React offers to catch such errors. We should use one, near the root of the component tree.

It can start by just showing a generic "something went wrong" message, but we'll want to expand on it with any useful debugging i

[2021-04-01 21:05] chrisbobbe commented on #4584
Here's a UI I've got so far. On Android and iOS, it shows the error and stack trace in a scrollable TextInput (with editing disabled), including the component stack, and it has a button at the top for copying all the details. A toast appears when you tap the copy button to confirm that the text has been copied.

The component stack is a lot less useful in release builds than debug builds.

In all

[2021-04-02 12:48] abhi0504 commented on #4575
@chrisbobbe @gnprice  whats your suggestions over this issue

[2021-04-02 15:11] AkashDhiman opened #4586 "feature: upload a file (not just image), on iOS"
Currently we can only share images in iOS version of the app, contrary to the android version of the app where we have functionality to attach any kind of file.
for android we use: [react-native-document-picker](https://www.npmjs.com/package/react-native-document-picker)
it would be ideal if we could use same modules in both platforms, however the current implementation using `react-native-documen

[2021-04-02 15:19] Gautam-Arora24 commented on #4586
A video to demonstrate the file-sharing code if added for iOS shows an error.
More discussion here on [CZO](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Multiple.20Attachments/near/1151163)
https://user-images.githubusercontent.com/53913514/113428453-72aa5180-93f4-11eb-976c-6f78efe0caae.mov

[2021-04-02 21:31] gnprice opened #4587 "App perma-crashes on partial update to persisted state"
We've had a couple of reports like [the following](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Android.3A.20White.20screen/near/1136722):

Thanks to logs kindly provided by Adam Birds, we've been able to diagnose what's happening:
https://chat.zulip.org/#narrow/stream/48-mobile/topic/Android.3A.20White.20screen/near/1150343

Fundamentally this issue is a reminder that the architecture wh

[2021-04-02 22:51] #4587 closed

[2021-04-02 22:58] #4584 closed

[2021-04-03 10:05] abhi0504 commented on #4575
@adambirds if we add status indicator for offline users it looks like this
![Android Emulator - Pixel_3_API_29_5554 03-04-2021 15_29_57 (2)](https://user-images.githubusercontent.com/56453541/113475266-1f86dc00-9492-11eb-8526-143565ab19da.png)
Is it ok ?

[2021-04-03 15:47] im-adithya commented on #4575
@adambirds We already have this feature.
You can navigate to the Search bar in the PMs tab to find a list of all the Active, Idle, and Offline users!

[2021-04-03 19:05] AlaaElden98 opened #4592 "feature: update personal information and avatar"
The web app already has that option, see below:
![Screenshot 2021-04-03 210315](https://user-images.githubusercontent.com/34111697/113488752-35ab9100-94c0-11eb-8d96-cdc95e880b4f.png)

The mobile user should be able to update his personal information and avatar.

[2021-04-03 19:12] AlaaElden98 commented on #4592
I see that this is has been discussed before in #3372

[2021-04-03 19:12] #4592 closed

[2021-04-03 19:14] #4579 closed

[2021-04-05 05:55] Po84210 commented on #3838
FCM is not available here in China. We really need this to get Zulip notifications work on Android.

[2021-04-05 07:16] im-adithya opened #4595 "Timestamp is not visible on notifications"
## Description
Currently, the notification doesn't have a timestamp making it difficult for the user to see when he/she has received the message.

## Screenshot
![original_45cd74ad-5de0-474b-ba74-73d442a5dcd1_Screenshot_20210405-124339](https://user-images.githubusercontent.com/64399555/113548149-aa8be180-960c-11eb-8ba4-a4f694f94f2f.jpg)

[2021-04-05 09:02] abhi0504 commented on #4575
Also @im-adithya I think we can add this grey box for the offline case

[2021-04-05 15:55] bmalynovytch commented on #3708
I haven't checked regarding the `zulip://` redirection, and I guess it is not sent, as we need to copy/paste a token qui finish the signup process when connecting with the desktop app.
I'll try to give it a look.

[2021-04-05 16:14] chrisbobbe opened #4600 "Support a future event (shape TBD) that marks messages unread."
See [discussion](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Make.20the.20message.20unread.20if.20it's.20edited.2E/near/1152595).

[2021-04-05 18:05] bmalynovytch commented on #3708
I can confirm that the POST to https://my-zulip.mydomain.com/complete/saml/ only returns 200 HTTP code with a token to copy paste in the desktop app.

[2021-04-05 20:17] Gautam-Arora24 commented on #3277
I would like to work on this issue!

[2021-04-05 20:18] #4425 closed

[2021-04-05 20:21] #2380 closed

[2021-04-05 20:21] #4415 closed

[2021-04-05 20:21] #4416 closed

[2021-04-05 20:51] chrisbobbe commented on #2792
I believe there are two realm-specific server settings we'll need to read, in order to fix this issue:

- Whether the realm allows editing messages
- The time limit on editing messages

So in particular we can't do something like assume message-editing is allowed and use a hard-coded time limit of 60 minutes, just because those are the settings on CZO. 🙂

[2021-04-05 20:53] chrisbobbe commented on #2793
I believe there are two realm-specific server settings we'll need to read, in order to fix this issue. (I'm less sure about these than I am for #2792, but I believe these points follow fairly clearly from the issue description.)

- Whether the realm allows deleting messages
- The time limit on deleting messages

So in particular we can't do something like assume message-deleting is allowed and use

[2021-04-05 21:09] chrisbobbe commented on #4508
Thanks, @rajprakash00! Yeah; I agree this is annoying. I'm closing this as a duplicate of #3798, though, which has gathered more design discussion about what to do about it. Please let me know if I've misunderstood the symptom here, though. 🙂

[2021-04-05 21:09] #4508 closed

[2021-04-05 22:42] AkashDhiman commented on #4569
#4491 solved this issue.

[2021-04-05 22:42] #4569 closed

[2021-04-05 23:25] chrisbobbe opened #4604 "Stop having `RealmInputScreen` flash by between `AccountPickScreen` and `AuthScreen`."
Planned followup to #4491. (The other piece of followup, #4579, has been done.)

[2021-04-06 00:28] #4595 closed

[2021-04-06 00:36] chrisbobbe opened #4605 "PasswordAuthScreen: Crash in `WebLink` following #4491."
The `WebLink` in `PasswordAuthScreen` depends on the current realm being stored in Redux. We stopped storing it there in #4491, so we get a crash in `PasswordAuthScreen`.

[2021-04-06 00:50] gnprice commented on #2694
We've just fixed "Create group" in #4602, making it "Group PM". I don't feel that that's 100% clear either, but really nothing that fits in a button label will be 100% clear to a new user, and this is a lot better.

This one has been gone for a long time, as mentioned at https://github.com/zulip/zulip-mobile/issues/2694#issuecomment-432430078 .

These two are still around. But they're a lot more O

[2021-04-06 00:50] #2694 closed

[2021-04-06 00:51] gnprice commented on #4605
Glad we caught this before it went into a release :smile:

Looking at your PR now.

[2021-04-06 00:55] chrisbobbe commented on #3708
Thanks, @bmalynovytch! Ah, also: I'd be interested to know what server version you're running, if you have that handy. For chat.zulip.org (which we should probably move this conversation to if much more debugging is required 🙂), that can be found out with e.g.

[code]

Or just visiting https://chat.zulip.org/api/v1/server_settings in a browser and searching for `zulip_version` there.

@mateuszmand

[2021-04-06 01:02] gnprice commented on #4605
Ah, is this specific to the "Forgot password?" link?

If so I think this is P1 but not P0. That's a flow that any given user rarely needs and probably most users never need; and there's always the workaround of doing it on web and coming back to mobile. If this were preventing a large class of users from logging in at all, that'd definitely be P0.

Still -- good to have caught this!

[2021-04-06 01:04] chrisbobbe commented on #4605
Ah, I should have been more specific: the symptom _is_ that a large class of users are prevented from logging in at all. It's a white-screen "crash" on viewing the password-auth screen at all; it doesn't require clicking on the link.

[2021-04-06 01:09] gnprice commented on #4605
Ahh I see, because the exception happens at the selector passed to `connect`. :+1:

[2021-04-06 02:08] AkashDhiman commented on #4532
One more thing to consider adding on the list of options is the searching messages functionality. Currently the only way to search messages is through home screen (via the search button). It searches all channels, and although we can narrow the search using keywords, I think it would be better if we provide such an option on the stream itself.

[2021-04-06 05:18] WesleyAC opened #4607 "Navigation posiiton is lost when app is restarted"
When the app is killed while in the background, we dump the user onto the main page when it restarts (at least, on Android). Instead, we should go back to the place (screen, stream, narrow, etc) that the user was when they were last in the app.

The typical way to do this on Android involves using Intents for navigation, which is not something that we do, since we use React Native. I'm not sure wh

[2021-04-06 05:38] #4605 closed

[2021-04-06 08:08] rajprakash00 commented on #3798
@chrisbobbe I'm thinking the design path to be more or less like this 🙂
Also in this way we don't have to deal with tediuos amount of scrolling for unique reactions(if tab view design is kept) and another good thing is we are also keeping the design in sync with other `SectionList`s used in zulip mobile)(e.g: `UserList` screen)

[2021-04-06 09:37] WesleyAC commented on #4006
Removing "blocked on other work" label, since #3133 appears to be fixed.

[2021-04-06 10:06] abhi0504 opened #4609 "change in messageActionSheet in dark theme UI"
When we long press on any stream then the `messageActionSheet` opens up , in light theme it looks quite good but its not matching the dark theme UI

- Its background color must be dark
- text color must match the dark theme UI font i.e. text color must be white

Current status :

![WhatsApp Image 2021-04-06 at 3 35 00 PM](https://user-images.githubusercontent.com/56453541/113694688-b1d6ec00-96ed-1

[2021-04-06 14:11] sumanthvrao opened #4610 "Add support for running code snippets using the "playground" feature."
This is definitely not a near-term priority feature right now, but just as a heads-up to a feature worth integrating into all clients in the future.

zulip/zulip#16432 (which is the tracking issue) details support for "playground" links which allows one to easily open the contents of a code block in an external playground. (E.g: Rust code being opened in the rust online playground).

With PR zulip

[2021-04-06 14:13] sumanthvrao commented on #4610
@zulipbot add "api migrations"

[2021-04-06 14:19] chrisbobbe commented on #3708
Great, I see you've posted at https://chat.zulip.org/#narrow/stream/48-mobile/topic/SAML.20Auth.20Loop/near/1154478; I'll see you there. 🙂

[2021-04-06 17:11] chrisbobbe commented on #3798
Sounds good! If you'd like to send a PR with an approach like this, I'll take a look.

[2021-04-07 10:37] WesleyAC opened #4614 "Avatars pixelated in user view"
If you click on an image of a user, you see a large image of their avatar, along with some info about them. That image is pixelated.

This probably has a solution like the other problems like this, which are described in #4305.

[2021-04-07 13:09] chrisbobbe commented on #4614
Interesting, thanks for the report! Are you seeing this pixelation on all avatars, or just some? Shortly after merging work to prevent pixelation, I did identify an exception that that work didn't cover; it'd be good for me to load that back into my brain and write it down. But if it's happening to all avatars, that's something else.

[2021-04-07 13:12] WesleyAC commented on #4614
It's happening on every avatar I've looked at.

[2021-04-07 13:13] WesleyAC commented on #4614
Oh, wait, nevermind, your avatar on CZO looks fine... Will investigate further.

[2021-04-07 14:11] chrisbobbe commented on #4614
Interesting; this seems to be different from the exception I had in mind.

(That one was, when we use the `/avatar/{user_id}` redirect endpoint, we can't express the size we want. You can read more about `/avatar/{user_id}` in `FallbackAvatarURL` which we construct at the edge for [crunchy shell](https://github.com/zulip/zulip-mobile/blob/master/docs/architecture/crunchy-shell.md), and on the poin

[2021-04-07 16:39] ganpa3 opened #4615 "Don't show `Edit message` option if message can't be edited."
I just spent some time editing a message without knowing that time's up. This gave a warning

<img src="https://user-images.githubusercontent.com/58626718/113902329-61df4e80-97ed-11eb-84d1-678fb76e3eaa.png" height="430" width="200">

And the worst part is that all the edits were lost. I had to write the message again :(
So, either:

1. {{ Title of the issue }}
2. Preserve the content so I could at

[2021-04-07 17:32] im-adithya commented on #4615
Working on this!

[2021-04-07 18:37] rajprakash00 commented on #4615
Hey @im-adithya @ganpa3 this issue is already present #2792 and for delete message too #2793 .
I'm currently working on this( have made a PR #4599 )

[2021-04-07 18:52] im-adithya commented on #4615
Great 🙌! We can close this then!

[2021-04-07 20:14] vaibhavs2 opened #4616 "Couldn't Identify whether it's a personal message or message from a stream in notification"
|screen 1| screen 2|
|---|---|
| <img src="https://user-images.githubusercontent.com/31806059/113924697-be4f6780-9807-11eb-8d4f-1457356ac80c.png" height="320" /> | <img src="https://user-images.githubusercontent.com/31806059/113926306-a1b42f00-9809-11eb-97a6-4d77b6c11f43.png" height="320" /> |

Messages in both screen are not for me, thats related to some streams. Notification sctucture in `screen

[2021-04-07 21:06] chrisbobbe commented on #1975
One small note is that it was suggested that #3464 might be good to do first. Quoting from that issue's description:

But I don't think this is a hard requirement if it seems doable in another order.

[2021-04-07 21:21] chrisbobbe commented on #4615
I'd actually like to leave this one open; I don't think #2792 would fully solve one symptom: tapping the edit-message button when there's still time left to edit the message, but taking so long to edit the message that the time is up when you hit "send".

[2021-04-07 21:43] gnprice commented on #4565
Thanks @vaibhavs2 for filing this! I agree, this would be good UI to have. It'll especially be great to have a quick way to add :+1: , like we do in the webapp.

Chat thread here: https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Quick.20reactions/near/1156419 with some discussion on specifics.

[2021-04-07 21:48] gnprice commented on #2927
See also #4567, and #4565 for making common emoji available in the action sheet before you even get to the picker.

[2021-04-07 22:31] #4539 closed

[2021-04-07 22:54] gnprice commented on #4614
Yeah, that sure looks like a diagnosis! Our logic assumes that a Zulip-uploaded avatar URL will have a `.png` extension, and that turning `.png` into `-medium.png` is the way to get a larger-size image.

So the question is what's now the supported way to get that larger-size image. If it happens that Tim doesn't see the @-mention above and reply, probably the next step is to ask in chat, in #mobil

[2021-04-08 02:09] chrisbobbe commented on #4614
OK! Just started a chat discussion [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M4614.20Avatars.20pixelated.20in.20user.20view/near/1156659).

[2021-04-08 04:12] AlaaElden98 commented on #3436
Any update on this ?

[2021-04-08 04:41] AlaaElden98 commented on #4567
I think I figured out how to do this, working on it!

[2021-04-08 04:50] vaibhavs2 commented on #4567
I have done it but got a problem , as we have to change number of emojis in a row whenever screen Orientation changes,  I figured it out but in doing so we have a variable that have what number of emojis should be in a row( something like screenwidth/(size of emoji+padding).
Flatlist getting trouble when I am passing this variable to numColumns props,
Let me push , @AlaaElden98 can you help me wit

[2021-04-08 05:27] AlaaElden98 commented on #4567
@vaibhavs2 :

ooh, I saw your [comment](https://github.com/zulip/zulip-mobile/issues/4565#issuecomment-808644586) and figured you still working on the other issue

I'm happy to help, push your work and I will look at the code to discuss it together, until you do, I have a few questions :
- Are you passing a fixed number to numColumns? maybe the variable is a double value .

- Can you be more speci

[2021-04-08 09:12] WesleyAC opened #4621 "Audit all API calls to ensure that we handle errors"
Almost every time we make an `api` call, we should handle the possible error. I've run into a couple places where we don't do this, which were pretty bad (#4547, #4620), and I suspect we have many more lurking around.

We should ideally add a lint rule for this, but sadly that's [difficult to do](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/force.20handling.20promise.20errors.3F), b

[2021-04-08 09:19] Gautam-Arora24 commented on #4379
Working on this issue!

[2021-04-08 09:23] vaibhavs2 commented on #4567
Let me reach home :)

If I am passing integer then all good, no problem but It would not be  good to have constant number of emojis, what if user is using tablet, or phone with different screen width ,sometime emojis seems congested in small screen , sometime with lots of padding that's why  i thought to do so (and also considering screen rotation) .

I got trouble through console, console(termina

[2021-04-08 10:49] Gautam-Arora24 opened #4622 "feature: Navigate to top when clicking on the tabs button."
Sometimes, when in Home Tab the collective list of all streams and topics can be too long and there is no way to navigate to the top other than scrolling. We can see this as an example in Whatsapp where clicking once on the `Chats` tab, the user gets navigated to the top of the list.

PS - Working on this issue 😀

[2021-04-08 12:17] #3996 closed

[2021-04-08 12:20] WesleyAC opened #4623 "Use CSS variable (or similar) for BRAND_COLOR"
[code]

This is Too Much. We should have a CSS variable for `BRAND_COLOR`, and do [something like this](https://stackoverflow.com/questions/40010597/how-do-i-apply-opacity-to-a-css-color-variable) to use it in all of these places. Or use a CSS preprocessor, or something.

[2021-04-08 12:39] im-adithya commented on #4623
I would like to take this up!

[2021-04-08 13:45] WesleyAC commented on #4621
Here's a current list, as of 26c8737d5297909cf7c597ae5c7a4767c67faeaa:

[code]

We only have a couple that have a `.then()`/`.catch()`, or are in `tryFetch` :/

[2021-04-08 17:03] vaibhavs2 commented on #4567
hey @AlaaElden98 , created a pull request look at that, and sorry I am late.

[2021-04-08 20:09] gnprice commented on #4616
See also [chat discussion](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Notification.20UI/near/1156478).

[2021-04-08 23:58] #4238 closed

[2021-04-09 02:32] gnprice commented on #4532
Yeah, I agree.

[2021-04-09 04:17] #4614 closed

[2021-04-09 06:14] AlaaElden98 commented on #4621
Investigating 👀

[2021-04-09 11:49] im-adithya opened #4628 "Compose Box shifts up and down when menu is toggled"
## Description
Whenever the menu is collapsed, the compose box shifts a bit more up than required and falls down.

## Video
https://user-images.githubusercontent.com/64399555/114175586-b999c900-9957-11eb-8d40-3cabd936209f.mp4

[2021-04-09 15:17] #4622 closed

[2021-04-09 17:42] chrisbobbe commented on #2684
This will be substantially helped by #4590.

[2021-04-09 17:51] gnprice commented on #2691
This will probably require some improvements to the data structure we keep as `ConversationMap` in the notifications code. There's some comments pointing in that direction by the definition of that type. I'll file a specific issue for that in a bit.

[2021-04-09 17:54] chrisbobbe commented on #2956
We should do another ad-hoc fix for the `:slight_smile:` to `:smile` change, then remove the P1 label.

[2021-04-09 17:58] chrisbobbe commented on #3066
I plan to make a focused PR to fix this issue after #4468 is in.

[2021-04-09 18:01] gnprice commented on #3117
Closing this as we haven't had a repro in a long time.

If someone does see symptoms like this, please do file a new issue!

See also #3881 which is an umbrella issue about the "outbox" system -- any symptom like this one is likely to be related to that.

[2021-04-09 18:01] #3117 closed

[2021-04-09 18:47] chrisbobbe commented on #3436
You're welcome to take this issue, if you'd like. There's been some work toward this already, in #4190, rebase it, and grab what's useful from there. 🙂

[2021-04-09 18:48] gnprice commented on #3436
See also this thread with more on how to do that appropriately:

https://chat.zulip.org/#narrow/stream/48-mobile/topic/taking.20up.20abandoned.20issues/near/1156928

[2021-04-09 18:50] chrisbobbe commented on #3604
One good place to start would be the TODO in src/message/messagesActions.js:

[2021-04-09 19:55] gnprice commented on #4622
(See discussion in chat: https://chat.zulip.org/#narrow/stream/48-mobile/topic/Navigate.20to.20top/near/1155106 )

[2021-04-09 21:34] gnprice opened #4630 "Opening notification doesn't navigate to conversation, if in another account"
When you open a notification, the app opens up and should navigate to the conversation the notification is from. Typically we do.

But if the notification is in a different account from the one you were last using (i.e. the "active account"), then we don't manage this. We go and switch to the right account -- but then we don't go on to navigate to the conversation, as we otherwise would.

The rele

[2021-04-09 21:46] gnprice opened #4631 "Opening notif in one of several accounts on same realm doesn't switch accounts"
When you open a notification that's in a different account from the one you were last using, we should switch to that account so that we can show you the right conversation.

Typically we do switch to that account. But if the account is one of several that you have on the same organization/realm, then we don't. That's because we can't tell which one it was for.

Since server version 2.1-dev-540-g4

[2021-04-09 21:48] gnprice commented on #2295
I've now filed detailed issues for the pieces of this that have remained open: #4630, #4631, and there's the existing #2691. Closing this one.

[2021-04-09 21:48] #2295 closed

[2021-04-09 22:34] gnprice opened #4633 "Separate Android notification data by account"
Currently we maintain the following data structure in our Android-native code that handles notifications:
[code]

As those comments foreshadow, we should separate out this data by which account/identity the user received it for. As is, because we don't, we end up showing conversations in different accounts jumbled together in a single summarized notification.

This will then be a building block fo

[2021-04-09 23:01] AlaaElden98 commented on #3436
On it, thanks for the references

[2021-04-10 00:37] gnprice commented on #3659
I've just filed zulip/zulip#18072 in the server repo with a fresh repro of this issue, in the version involving no interaction from the mobile app at all (so there's no question about how the mobile app is reporting presence or anything like that.)

I believe that covers the aspects of this that are still open. There may of course still be bugs in the app's behavior -- we should file those as new

[2021-04-10 00:55] gnprice opened #4636 "Use shared code for emoji typeahead"
We'd like to switch to sharing the webapp's code for the emoji typeahead. This will let us fix various aspects of that UI all at once, like #3833 -- and fundamentally it will be easier for the Zulip project to maintain one high-quality implementation of choosing what emoji you might mean as you're typing a message, rather than try to maintain two.

The work on the webapp side has already been done

[2021-04-10 00:58] gnprice commented on #3833
I've gone and filed a fresh issue #4636 for the task of switching to shared code here (adapting a couple of my comments above) -- I think that will make it easier to see the status and what's needed next.

With that filed, I've retitled this one to the original user-visible symptom it was about, and also dropped the P1 label because the previous comment no longer applies.

[2021-04-10 00:59] gnprice commented on #3833
Marking as blocked because our plan is to resolve this by doing #4636.

[2021-04-10 01:07] gnprice commented on #2921
Closing this, because without details of what was thought to be wrong it doesn't carry much useful information after so long and so many changes to the app.

If anyone spots a bug like this one, whether by reading code or otherwise, please do file a new issue.

[2021-04-10 01:07] #2921 closed

[2021-04-10 04:58] #4427 closed

[2021-04-10 05:49] WesleyAC opened #4637 "Messages marked as read if narrow is open anywhere in "back" stack"
Repro:

* Open a topic
* Tap on the three horizontal line "open list of topics" view
* Open a different topic

Messages in the first topic are marked read as they come in :cry:

You can observe this by looking at the webapp while using the app.

[2021-04-10 06:16] nikhilmaske-2001 opened #4638 "Not able to react with some emojis."
Issue: I am not able to react with some emojis like 😄 1️⃣ 2️⃣  and some more in the chat on the messages.
I am using the latest version of mobile app (i.e 27.161) that is available on play store.

[2021-04-10 06:58] WesleyAC commented on #4638
For the numbers, this was fixed in #4551, which I guess hasn't hit the play store yet. @gnprice, any idea when we're going to do a release?

We were actually just talking about the smile one last night, I'll make a PR fixing that soon as well.

[2021-04-10 10:04] WesleyAC commented on #1975
Looks like we already have the code for this mostly in shared, see `shared/js/fenced_code.js`.

[2021-04-10 10:11] WesleyAC commented on #2956
Removing P1, since I filed #4640. It's not merged yet, but I'd rather not forget to remove the label, so just doing it now.

[2021-04-10 10:14] WesleyAC opened #4641 "Fetch recent history on app open"
We should fetch some recent message history as soon as the user opens the app (right after we get a response from `/register`), rather than waiting until the user selects a topic/stream.

Probably we should fetch a couple hundred messages at least, not sure exactly what the right number is (perhaps the answer is "all of the messages", or maybe "all of the messages if the user is not on a metered n

[2021-04-10 10:16] WesleyAC opened #4642 "Take advantage of existing stream messages when entering topic narrow"
When a user is in a stream narrow, and enters a topic narrow, we should not block rendering on fetching any data from the server. We have all the messages there, just go use them instead.

[2021-04-10 10:17] WesleyAC commented on #3180
This is superseded by #4641 and #4642 — once we do those, this problem should be fixed.

[2021-04-10 10:17] #3180 closed

[2021-04-10 22:46] AlaaElden98 commented on #3436
I rebase this PR as @chrisbobbe suggested earlier, resolve the conflicts, but the code is a bit outdated, and I got a few errors when trying to build before and after the rebasing, and after running `rm -rf node_modules && yarn` i still got the errors, so I gust will work on this with a clean code base, and I will mention @agrawal-d as a co-author because I will use some of his code. If this is no

[2021-04-12 10:11] AlaaElden98 opened #4644 "Reload when network is back"
If you open a stream while the network is disconnected, it gives the message "Oops! something went wrong" and when the network is back, the message still apper and i have go back and then open the stream again so the messages get loaded.

https://user-images.githubusercontent.com/34111697/114378558-209dc480-9b88-11eb-9f35-551f4037a4a2.mp4

[2021-04-12 10:32] AlaaElden98 opened #4645 "Re-send a message when get online"
- Disconnect from internet
- Send a message
- Connect to the internet

The message will not be sent until you send another message or close the app and open it again

https://user-images.githubusercontent.com/34111697/114380427-5c398e00-9b8a-11eb-8b05-6966a91ca08a.mp4

[2021-04-12 10:34] AlaaElden98 commented on #4621
Is this is what cause that #4645 #4644 ?

[2021-04-12 16:51] alya opened #4646 "Sync drafts between mobile and web app"
Draft messages are currently not synced between mobile and web. This creates a bad user experience, e.g. when a user starts composing a message on mobile and wants to finish on desktop.

This issue is blocked on a server-side syncing implementation (https://github.com/zulip/zulip/issues/3775).

Related issue to enable viewing drafts on mobile: https://github.com/zulip/zulip-mobile/issues/3500

[2021-04-12 18:24] #4638 closed

[2021-04-12 18:44] ChrisDenton opened #4648 "Android app gets stuck connecting for 3 or 4 minutes"
When I open the Zulip andoid app and connect to `rust-lang.zulipchat.com` it takes three or four minutes to connect. I literally have to leave the app open and wait for it to connect otherwise it will be stuck. This only affects the initial connection. Thereafter it works fine,

The website works without issue.

[2021-04-12 18:59] gnprice opened #4649 "Haptic feedback on long press"
When the user does a long-press, we should respond with haptic feedback. This is standard on both platforms. Here's an explanation of why it's needed:
https://developer.apple.com/design/human-interface-guidelines/ios/user-interaction/haptics/
In particular I think our lack of it is contributing to our long-press responses feeling slow, even though we're responding at the same 500ms threshold as is

[2021-04-12 19:08] chrisbobbe commented on #2684
I've just closed #4129 as likely to be superseded by #4590. If it eventually turns out that #4129 was the better direction to go, we should consider reopening it. 🙂

[2021-04-12 19:44] gnprice commented on #3436
That sounds appropriate authorship-wise. When mentioning a co-author, use the format in our style guide (same one linked from that chat thread):
https://github.com/zulip/zulip-mobile/blob/master/docs/style.md#mentioning-people

Workflow-wise, a tool that's pretty helpful here is `git cherry-pick`. If you're taking some of the changes from a previous branch but not others, that can make a very simp

[2021-04-12 21:06] gnprice commented on #4637
Good find -- thanks for spotting this! Marking as P1, because messages getting marked as read when you haven't seen them is pretty bad.

Discussion [in chat](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/messages.20in.20.22back.22.20stack.20marked.20as.20read.20.28.23M4637.29/near/1159180).

[2021-04-12 21:21] gnprice commented on #4154
Some recent discussion [in chat](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Next.20steps.20for.20.60ComposeBox.60/near/1160847) on how to go about this for `ComposeBox`.

[2021-04-12 21:24] chrisbobbe commented on #4642
This isn't true in general, I think, right? We might have loaded a large window of consecutive messages in the stream, with a variety of topics. But there could be messages outside that window that have different topics.

When deciding whether we need to fetch right away, we're most interested in whether we know about _enough_ consecutive messages around a given anchor to fill, say, a screenful or

[2021-04-12 22:25] gnprice commented on #4559
Actually, thinking about this again I think it's not. (Though it'd still be good to do.) We can go ahead and do #3549 without blocking on this.

I explained why at an old comment https://github.com/zulip/zulip-mobile/issues/3549#issuecomment-525491386 :

[2021-04-12 22:26] gnprice commented on #3549
The symptoms of this were reported again today [in chat](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/unexpected.20unreads/near/1160491).

I think this will probably not be complicated to do; we should go ahead and do it.

[2021-04-12 22:40] gnprice commented on #2956
It's all come out the same because #4640 is merged now, but for similar things in the future: if something's P1 to do, I'd like to make sure there's something open for it that has a P1 label until it's actually done. Forgetting to remove a P1 label is a much lower risk than forgetting to do the thing, because the P1 label itself keeps it visible as a thing we should take care of.

In this instance

[2021-04-12 23:18] alya opened #4651 "De-emphasize account deletion on "Pick account" screen"
There are two problems with the account deletion interface on the "Pick account" screen:

1. In the current UI the, button for deleting the account is too prominent (bright red trash can). We expect account deletion to be quite rare, so it should be less emphasized than other actions the user can take here.

A good starting point for this would be to look at other apps to identify a set of options

[2021-04-13 00:35] gnprice opened #4652 "Avoid .then etc. in favor of async/await"
We mainly use `async` and `await` to structure asynchronous control flow in our JS codebase. We have a handful of spots where we use the `Promise` API directly, in particular `.then`.

Using `.then` isn't good, because exceptions don't get properly propagated through to callers (unless you write a rather unreasonable amount of code to do so manually, which we never do.) This causes stack traces to

[2021-04-13 01:04] gnprice commented on #4638
BTW @nikhilmaske-2001 thanks for the report!

If you see any other emoji with these symptoms (any other than `:smile:`, `:slight_smile:`, and the numerals), please file an issue about it. We should make this systematically not a problem -- that's #2956 -- but until then, fixing any given emoji ad hoc is quick and we want to do so for things people run into.

Yeah, we should do this soon. #mobile-t

[2021-04-13 01:41] AlaaElden98 commented on #4651
I can work on this

[2021-04-13 01:44] chrisbobbe commented on #4170
Related: #3881

[2021-04-13 06:15] gnprice commented on #4642
(See [chat thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.60state.2Enarrows.60.20and.20message.20consecutiveness/near/1161114) with further discussion.)

[2021-04-13 06:56] Alge commented on #4576
Hi again, sorry for the late reply.

The server is the one we are currently running for the company I work at, so I don't want to mess with it too much. I talked with some colleagues, and I seem to be the only one experiencing this issue, so I think it's probably just my phone that acts up.

[2021-04-13 16:30] timabbott opened #4655 "Add support for muted users"
We've finished merging the backend for muting users in https://github.com/zulip/zulip/pull/16915.

This is an important feature for large open communities.

https://chat.zulip.org/api/mute-user is relevant for when mobile wants to implement muting, but the part that is likely to be more important is having the mobile apps hide messages from muted users.  We should update this issue with a link to

[2021-04-13 17:02] WesleyAC opened #4656 "Avatar failing to load prevents viewing user details screen"
The touch target for an avatar in the message view is the size of the loaded portion of the image. If you're on a slow/flaky connection, and the image is halfway loaded, clicking on the visible portion will work, but clicking on the place where the image will be does not. This means that if the image fails to load, there is no way to access the user details for that user.

I see two solutions here

[2021-04-13 18:34] chrisbobbe commented on #4135
We think that #4603 will fix this if it hasn't been fixed yet; in any case, I should investigate and confirm.

[2021-04-13 18:41] chrisbobbe commented on #4149
Hi, @3y3lash, thanks for the report! I'm closing this, as it was likely due to a server bug that has been fixed. But if you're having this issue, please reply and we'll reopen and investigate.

[2021-04-13 18:41] #4149 closed

[2021-04-13 18:46] chrisbobbe commented on #4165
See discussion on CZO [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Stuck.20on.20loading.20screen/near/907591).

[2021-04-13 18:47] gnprice commented on #4159
Closing because we don't have information to be able to debug the interaction with the server.

We have #4165 open for a change related to this that we realized we should make.

[2021-04-13 18:47] #4159 closed

[2021-04-13 18:57] gnprice commented on #4309
Looking in Sentry, this isn't something that's happening to lots of users.

But it is pretty bad when it happens, so would still be good to fix. And I think with the plan at the end of the issue description above, it won't be very complicated to fix.

[2021-04-13 19:05] chrisbobbe commented on #4309
I think progress doesn't have to block on reading and understanding this thread.

[2021-04-13 19:22] timabbott opened #4657 "Migrate from `realm_filters` event format to new `realm_linkifiers` format"
In https://github.com/zulip/zulip/pull/17596, we changed the format for `realm_filters` events to a new `realm_linkifiers` format that is more rational and extensible.  We should migrate clients to this new format.  (See the backwards-compatibility notes in the API documentation, but I expect a correct implementation will choose whether to send `realm_filters` or `realm_linkifiers` in `event_types

[2021-04-13 19:54] alya opened #4658 "Improve UI for "All streams" subscription status"
The "All streams" view currently uses slider toggles to indicate stream subscription status and allow the user to change it. This UI feels off, because toggles are generally used for settings, and the stream itself is not a setting.

We should try changing the UI to something that feels more appropriate. A good candidate is using "+" for streams the user is not subscribed to, and a checkmark for s

[2021-04-13 20:20] 3y3lash commented on #4149
Hey Chris, thanks for getting back to me! unfortunately the problem persists :(
It still crashes on opening, even after upgrading. I looked into it further a few weeks ago and it seems like a lot of other users have been having this issue too.

Sent from ProtonMail Mobile

On Tue, Apr 13, 2021 at 20:42, Chris Bobbe ***@***.***> wrote:

[2021-04-14 00:31] gnprice commented on #4051
We're continuing to see this in Sentry, but now at a low rate where it's affecting many fewer users than it originally did.

[2021-04-14 00:41] gnprice commented on #4033
@maltokyo Have you been continuing to see this symptom?

We've been seeing in Sentry a much lower rate of the exception #4051 which looked like it might have been related, ever since around the time of the last few comments on this thread. So I'm hoping that you've also stopped seeing this, or at least that it's become rare.

[2021-04-14 00:42] chrisbobbe opened #4659 "Turn `api.foo(auth, …)` into fully featured `makeApi(auth).foo(…)`."
This implementation plan is on the path to #4170. It will expose methods to cancel in-progress fetches, and for #4170 we'd just have to call those methods in the right places.

I've put together this plan from discussion with Greg in [chat](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M3745.20Server.20version.20to.20Sentry/near/974729) (@gnprice, please edit this plan liberally a

[2021-04-14 00:44] gnprice commented on #4033
We'd marked this as P1 last year because it's a bad symptom, and it looked like it might be related to #4051 which was an exception report we were getting from a lot of users so it seemed likely that a lot of users were seeing this.

Since then #4051 has become infrequent, and we haven't had any reports of this from additional users, so that no longer seems likely.

[2021-04-14 00:49] chrisbobbe commented on #4170
I've just filed #4659 for an implementation plan to expose easy methods for canceling fetches; after that work is done, we'll just have to call those methods in the right places. (`tryFetch` after #4193 may be such a place.)

[2021-04-14 01:06] chrisbobbe commented on #4149
That's no good! Thanks for letting me know!

When you say it crashes on opening, it sounds like the symptom might be different from what's been described in this thread. Still quite bad, but possibly it should get its own, new issue. In particular, are you having trouble immediately upon opening the app, or a little bit later, like when you try to log into your account? And is it a crash where the

[2021-04-14 01:06] chrisbobbe commented on #4149
Do you mean upgrading the mobile app, or the server, or both? It'd be helpful to know what versions of both you're currently running (when you see the issue).

[2021-04-14 01:06] chrisbobbe commented on #4149
Do you think the same problem might have persisted continuously since June of last year, or might there have been a period where things were working OK?

[2021-04-14 01:07] chrisbobbe commented on #4149
Are these users in your same org, connecting to the same server, or have you heard from others who are connecting to different servers?

[2021-04-14 01:57] chrisbobbe commented on #4365
We may have it. @Gautam-Arora24, the author of #4431, said,

[2021-04-14 03:19] vaibhavs2 commented on #4658
I am working on this.

[2021-04-14 04:15] gnprice commented on #4659
See also [chat discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M3745.20Server.20version.20to.20Sentry/near/1162002).

[2021-04-14 04:54] gnprice commented on #4522
Ouch. Yeah, that's pretty unhelpful.

If after some debugging it looks like this is an issue in RN, we should go ahead and report a new issue there. It may or may not get it fixed -- quite apart from that previous thread, RN doesn't have a great record there -- but perhaps it will help someone else who runs into the same bug.

[2021-04-14 06:00] 3y3lash commented on #4149
So, I tap on Signal icon, the blue signal splash screen with the signal icon comes up for about 3 seconds and then disappears and I’m back at my phones desktop/home screen.
When I double click the home button to check what apps are running, it seems that signal is actually running, but just with this blue logo splash screen.
Opening the app from this view brings the same issue as before, although

[2021-04-14 06:03] 3y3lash commented on #4149
Oh - I’m really sorry, it seems I got this thread mixed up with another big report dialog I’ve been in with Signal - please disregard my last two replies!

Sent from ProtonMail Mobile

On Wed, Apr 14, 2021 at 03:06, Chris Bobbe ***@***.***> wrote:

[2021-04-14 06:04] gnprice commented on #4149
No worries :smiley:

Have you also been continuing to see symptoms in Zulip along the lines of this bug thread, or have those been resolved?

[2021-04-14 06:30] 3y3lash commented on #4149
😅
Ok, so - I just reinstalled the zulip app via App Store on the same iphone7 and the same issue is still going occurring exactly as before.

[2021-04-14 06:45] maltokyo commented on #4033
Hi Greg

It's become rare indeed but still happens. I'd say once in 10-20 times I
open the app. Very strange.

On Wed, 14 Apr 2021, 02:44 Greg Price, ***@***.***> wrote:

[2021-04-14 07:02] 3y3lash commented on #4149
I’m not certain if the server was upgraded on our end since then as things were pretty busy and browser version was working well so just switched to using that.

[2021-04-14 18:25] WesleyAC opened #4660 "Rich text can be pasted into input box on Android"
When a user copies and pastes formatted text (for instance, from a web browser), the rich text is pasted into the compose box. This is incorrect, we should strip this formatting instead.

See [this CZO thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/pasting.20formatted.20text) for details.

The next step here is to look at what we get from `onChangeText` when rich text is paste

[2021-04-14 19:55] chrisbobbe commented on #4149
@3y3lash I'd recommend upgrading the Zulip server, both to see if it fixes this issue, and (unrelatedly) because there may have been several security releases since it was last upgraded, including [one from today](https://blog.zulip.com/2021/04/14/zulip-server-3-4/). 🙂

[2021-04-14 20:12] gnprice opened #4661 "Some avatars shown in wrong orientation"
@Gautam-Arora24 reported the following symptom:
![image](https://user-images.githubusercontent.com/28173/114771519-81143980-9d21-11eb-9362-d0a503302e0d.png)

The underlying issue is presumably the same as in zulip/zulip#8177. See that issue description for background. In short (https://github.com/zulip/zulip/issues/8177#issuecomment-536123391):

We closed that issue (and its mobile counterpart #35

[2021-04-14 21:11] 3y3lash commented on #4149
Ooh, thanks, I’ll let them know !

[2021-04-15 08:56] vaibhavs2 opened #4663 "Badge on pm-conversation-Tab in bottomTabNav shows number of messages I recieved"
<img src="https://user-images.githubusercontent.com/31806059/114840464-7676a480-9df4-11eb-981d-f841e365dca7.png" height="480" />

- If we look at the pm-conversation Tab-Icon, According to that the badge should show number of individual person messaged me rather than the number of messages I recieved from a person or more
if icon would something like <img src="https://pics.freeicons.io/uploads/ico

[2021-04-15 13:26] bmalynovytch commented on #3708
I finally traced down the issue: Safari gives an error when trying to call the `zulip://` URL

[code]

[2021-04-15 13:44] bmalynovytch commented on #3708
If finally managed to authenticate, after lots of tests.
Content-Security-Policy `actionForm` on IdP was set to as wildcard `*`.
This doesn't seem to be enough for Chrome and Safari (the latter is used by the iOS app to authenticate).
I had to change it to `* https://*.mydomain.com zulip://*`

[2021-04-15 16:07] vaibhavs2 opened #4665 "Text in messageBox not visible when theme is dark mode and mobile is in landscape mode"
Tested in android -6 and 10
<img src="https://user-images.githubusercontent.com/31806059/114898402-af803a80-9e2f-11eb-9ff3-c837c8e24914.gif" />

[here](https://drive.google.com/file/d/1tFBiWVyAC9i0iK7SZhQHhcVcZilAxLTG/view?usp=sharing) clear video

[2021-04-15 16:11] Gautam-Arora24 commented on #4665
Hey, @vaibhavs2 I would like to work on this issue.

[2021-04-15 16:15] vaibhavs2 commented on #4665
Welcome but Can't Assign you :D, ask experts

[2021-04-15 16:21] AlaaElden98 commented on #3436
I fix this with #4643 and mentioned @agrawal-d  as a co-author.
Ready for review.

[2021-04-15 17:22] #4365 closed

[2021-04-15 17:27] #4431 closed

[2021-04-15 17:35] gnprice commented on #4459
Rereading that stack, I think this isn't a crash -- I think the symptom of this is going to be:
* You get a notification. You tap on it to try to open the notification.
* The app comes to the foreground, as you'd hope.
* But nothing else happens. The app just sits at whatever screen it was on.

[2021-04-15 18:39] jiriryszawy commented on #3205
We would appreciate mobile polling as well, it will be very useful!

[2021-04-15 19:11] chrisbobbe commented on #3477
(Forking to [CZO](https://chat.zulip.org/#narrow/stream/19-documentation/topic/.23M3477.20Disable.20file.20upload.20setting/near/1163663).)

[2021-04-15 19:44] chrisbobbe commented on #3477
OK, the answer is that it's `max_file_upload_size_mib` (documentation is correct, as it's tested against the implementation) and it was introduced in feature level 4 as seen in the changelog (https://zulip.com/api/changelog). So this is ripe to be worked on! 🙂

[2021-04-15 19:51] chrisbobbe commented on #4657
As I understand it, https://github.com/zulip/zulip-mobile/issues/4242 is needed for this. We do one thing with `realm_filters`, which is pass it to a `parseMarkdown` function for local echo. That function was forked from the web app in 2017 and naturally hasn't been kept up-to-date.

Once #4242 is done, we can take the new event format—presumably the shared code we use will be able to handle it. T

[2021-04-15 20:12] chrisbobbe commented on #4571
Yes, I think this should help us do better error handling when trying to login. In particular, this is our error handling when doing a password login:

[code]

I think we could helpfully inspect `err` to see if it's one of those new errors, before the existing `setState`, and if it's one of those, set the React state with an appropriate error message instead of what it's currently being set to.

L

[2021-04-15 20:16] chrisbobbe commented on #4571
I'd be happy to see a PR that made the logging-in improvement I described in my previous message. 🙂

Also, though, @timabbott, my understanding is we'll receive these errors on any authenticated request, right, not just when logging in? So `POST /register`, etc.

If that's right, we can probably also be helpful by showing an alert alongside the code that forces a logout when we get a 4xx response.

[2021-04-15 20:16] timabbott commented on #4657
I'm not sure this needs to block on that -- can't we just write a block of event handler code that takes a `realm_linkifiers` object and turns it into a `realm_filters` style tuple before passing the data to the markdown implementation?

(And then when moving to a shared markdown implementation, one would potentially switch that around?)

I would expect that as a general rule, we want to handle fe

[2021-04-15 20:26] chrisbobbe commented on #4564
I think it might be helpful to note any new HTML classes; there was once an odd bug described [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Weird.20timestamps/near/1075475), fixed in #4328. As part of that PR we added to our [style doc](https://github.com/zulip/zulip-mobile/blob/master/docs/style.md#html):

Still, that comment helpfully points to `static/styles/rendered_markdown.css

[2021-04-15 20:32] chrisbobbe commented on #4657
Interesting; yeah, if the new `realm_linkifiers` objects can be converted to old-format `realm_filters` ones, this shouldn't have to block.

[2021-04-16 00:48] chrisbobbe commented on #4657
Just sent #4666.

[2021-04-16 00:55] chrisbobbe commented on #4085
Good to know, thanks!

[2021-04-16 01:04] chrisbobbe commented on #4072
Interesting; this should make our code nicer too. Looks like the change was released in feature level 2, from the [API changelog](https://zulip.com/api/changelog).

[2021-04-16 02:05] chrisbobbe commented on #3998
Just sent #4667 to continue this work.

[2021-04-16 02:12] chrisbobbe commented on #4131
Looks like we can expect Hermes to have Intl support with the React Native v0.65 release: https://github.com/facebook/hermes/issues/23#issuecomment-816126715

[2021-04-16 02:22] chrisbobbe commented on #3374
It looks like we should

- add a line like `'@_': PeopleAutocomplete,` to `prefixToComponent` in src/autocomplete/AutocompleteView.js
- study src/autocomplete/getAutocompleteFilter.js and work out a sensible way for it to give '@_' (which has the particular trait of not being a single character) as `lastWordPrefix`.

(Or look at ways to clean up the code more dramatically; but I think I'd try the

[2021-04-16 02:48] vaibhavs2 commented on #4660
- simple texts are being stored in state,

<img src="https://user-images.githubusercontent.com/31806059/114964082-a91fac00-9e8b-11eb-8b47-051eebda5f45.png" height="360"/>

- Only the  `\n` next Line is retained by `TextInput`
![state](https://user-images.githubusercontent.com/31806059/114964088-ac1a9c80-9e8b-11eb-9240-04350c82253f.png)

[2021-04-16 03:01] chrisbobbe commented on #4660
@vaibhavs2, it looks like Wesley is specifically asking about what gets passed to `onChangeText`; could you log all the arguments it's getting called with?

[2021-04-16 04:49] vaibhavs2 commented on #4660
The function has single argument that get passed to `onChangeText` and from the argument state is getting data that's why I directly comment with `state data`.
![log](https://user-images.githubusercontent.com/31806059/114970714-9364b380-9e98-11eb-970d-2ef6bf57a764.png)

I tried
`<TextInput onChangeText={(value)=>{this.setState({message:value})}} multiline style={{borderWidth:2, borderColor:'red',}

[2021-04-16 05:05] gnprice commented on #4660
Thanks @vaibhavs2 !

So the answer to what `onChangeText` gives us is that it's just the plain text.

Which agrees with the RN docs, which say the type it passes to that callback is just `string`. So that fits, at least.

Given that RN is only actually *giving* us the plain text, not any of the formatting, it seems like an outright bug in RN that it accepts formatting on paste and shows the format

[2021-04-16 05:35] vaibhavs2 opened #4668 "statusBar color not matches when orientation is in landscape mode"
<img src="https://user-images.githubusercontent.com/31806059/114976370-7bdef800-9ea3-11eb-8b37-11e3a43697af.png" height="360"/>

[2021-04-16 05:35] vaibhavs2 commented on #4668
i am working on this :)

[2021-04-16 06:04] gnprice commented on #4655
See [chat discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/muted.20users/near/1163894).

In particular here's my description of what'll be involved in the implementation:

Basically the plumbing work will all look like sort of a zulip-mobile version of the server/webapp's new-feature tutorial:
* There's some new data in the `/register` response. Add it in `src/api/initialDat

[2021-04-16 06:42] rajprakash00 commented on #4665
Hey @vaibhavs2 ! I have already an issue present for this #4480 and a PR too #4486

[2021-04-16 06:48] vaibhavs2 commented on #4665
ok , didn't see that, don't worry I am closing it then.

[2021-04-16 06:49] #4665 closed

[2021-04-16 17:27] 100RABHpy opened #4669 "Image swipe feature on Zulip mobile"
In Zulip web and desktop, when we click on the image, it opens in the image preview, and in the image preview, we can see other images(refer below screenshot) using arrow keys or by clicking on the image present in the list, but in mobile, there is no option for image swipe.
If we want to see another image, we have to go back and select that image. And I think it's not a very good experience. We s

[2021-04-16 17:28] Gautam-Arora24 commented on #4669
Already working on this 🙂

[2021-04-16 19:59] gnprice commented on #2612
I believe @im-adithya is working on this -- see [chat thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Using.20device.20language/near/1151350).

[2021-04-16 22:59] gnprice commented on #4668
See also [chat thread](https://chat.zulip.org/#narrow/stream/48-mobile/topic/status-bar/near/1163360).

[2021-04-16 23:49] chrisbobbe commented on #4655
Should mention the new key only on servers that support the feature? If so, I'd like to have eyes on the first four commits of #4666 (they're pretty small) as they're relevant for that. (Though empirically it seems servers disregard nonsense values in `fetch_event_types` that they don't recognize.)

[2021-04-17 07:19] Gautam-Arora24 commented on #4652
Working on this!

[2021-04-17 08:21] WesleyAC opened #4671 "Allow editing in all types of narrows"
From `src/message/messageActionSheet.js`:

[code]

It would be nice if editing worked in all types of narrows.

I think the easiest solution here is to just narrow to the relevant topic or PM narrow and then show the edit box, but we could also just fix the edit box so it works everywhere.

[2021-04-17 10:07] Gautam-Arora24 commented on #4671
Can I work on this?

[2021-04-17 18:24] WesleyAC commented on #3473
Closing this now that #4568 and #4608 are merged :)

[2021-04-17 18:24] #3473 closed

[2021-04-17 18:35] WesleyAC commented on #4532
Closing, now that #4568 is merged. I'll make separate issues for the other things we mentioned in this thread (replacing the stream info icon with a three-dot menu, and adding a search option)

[2021-04-17 18:35] #4532 closed

[2021-04-17 18:40] WesleyAC opened #4674 "Add three-dot menu to thread narrow"
The "stream info" button in the thread narrow screen should be replaced with a three-dot overflow menu, which has the same options as the actionsheet that is opened on long-press. We should be able to share the code for that pretty easily.

See prior discussion in #4532 and [on CZO](https://chat.zulip.org/#narrow/stream/48-mobile/topic/long-press.20vs.20three.20dot.20menu).

[2021-04-17 18:41] Gautam-Arora24 commented on #4674
Working on this!

[2021-04-17 18:41] WesleyAC opened #4675 "Add "Search topic" option to topic actionsheet"
From #4532:

[2021-04-18 07:10] AlaaElden98 commented on #4671
@Gautam-Arora24 I see that you working on #4675 if it's okay with you and you didn't do much work on this. I would like to work on it since I'm familiar with this part of code because I worked at #4643

[2021-04-18 11:28] Gautam-Arora24 commented on #4671
@AlaaElden98 I am not working in #4675. If you want you can surely work on this :)

[2021-04-18 14:14] AlaaElden98 opened #4676 "Add "Deactivate account" option"
In the wep app we have "Deactivate account" option, it could be usefull if we have the same in the mobile app.

[2021-04-18 14:14] AlaaElden98 commented on #4676
working on it.

[2021-04-18 14:38] AlaaElden98 commented on #4671
I meant #4674, my bad :))

[2021-04-19 04:24] dpo commented on #4136
Same issue trying to open a PDF file dropped into the conversation.

[2021-04-19 09:33] WesleyAC commented on #4577
I noticed today that we already have a `appOwnDomains`, which presumably we should keep up-to-date with this.

I think it would be hard to share code here, but it does make me more comfortable about special-casing hosted zulip instances, and we should add a comment in all of the places that we have this set of domains to keep them updated in sync.

[2021-04-19 09:35] WesleyAC commented on #4562
See also #4323, where a user requested this on iOS. I'm going to close this issue, and edit that one to be for both iOS and Android.

[2021-04-19 09:36] WesleyAC commented on #4323
I think we should do this for both iOS and Android, see #4562 for the reasons there. I'm going to edit this issue to be for both, rather than iOS specific.

[2021-04-19 09:37] #4562 closed

[2021-04-19 19:12] gnprice commented on #4655
Good question. I believe the server will ignore a key there that it doesn't recognize, so we can freely just send it.

Partly I think that because we've added such keys before without making an effort to condition it on server version, and I'm not aware of problems it's caused. :wink:

But it'd be good to fact-check that and then make sure the answer is written down somewhere helpful.

[2021-04-19 19:21] gnprice commented on #4655
OK, I confirmed that it sure looks that way in the implementation -- i.e. that we can freely send the new key and old servers will just ignore it -- but also found that the API docs are silent on the matter. I've asked in chat:
https://chat.zulip.org/#narrow/stream/19-documentation/topic/unrecognized.20event.20types/near/1166037
and hopefully we can get it written into the docs.

[2021-04-19 20:55] gnprice commented on #4416
Adding some cross-references:

This is now issue #4604.

This became issue #4579 (and is already fixed! :tada:)

[2021-04-19 21:06] WesleyAC commented on #4655
All of the UI stuff this issue involves, off the top of my head:

* Hiding messages from muted users
* Blocking notifications from muted users
* Hiding muted users in the PMs list

We might also want to:

* Hide muted users in the typeahead list
* Hide muted users in the "all users" list

[2021-04-19 23:03] gnprice commented on #4655
This is a good point to bring up, because it will need to be implemented by the server. That's because:
* On iOS, none of our client-side code runs before the notification appears; the system (or some SDK code built into the app? I'm not actually sure) just interprets what the server sent in a generic way.
* On Android, we do have our own code involved there but it doesn't see the full app data we

[2021-04-20 15:43] timabbott commented on #4655
Notifications I believe are already blocked via the fact that we clear all unread messages sent by the muted user on-muting (which will send remove-push-notifications).  Let me write a little mini design document in the API docs for this.

[2021-04-20 15:56] timabbott commented on #4655
I opened https://github.com/zulip/zulip/pull/18222 to write down the design theory for this feature, which is about the same as what i wrote in the original issue description, but spells out the implications for notifications of marking things as read when sent.

[2021-04-20 18:45] ro-i opened #4682 "question: Emoji Compatibility"
Hi! :)
I've received feedback from a user who is using an older version of Android (6.0 in that case). He reported that some emojis do not work (e.g. :shrug: , which has been added in Unicode 9.0 - see https://emojipedia.org/person-shrugging/).
There seems to be a way to provide older Android versions with newer emojis: https://developer.android.com/guide/topics/ui/look-and-feel/emoji-compat
Maybe

[2021-04-20 20:39] gnprice opened #4684 "Efficiently locate read messages in "unreads" state"
This is a followup to #4438.

One of the optimizations in #4448, which closed that issue, was that when we learn a message has been read, we'd efficiently look up the relevant bit of the unreads state and delete it there. Previously, we'd been searching through the whole data structure to find each newly-read message.

As implemented, this optimization had a bug: it relied on `state.messages` to t

[2021-04-21 15:24] WesleyAC opened #4687 "Unhandled Zulip API event: type: "attachment""
When uploading an image, I see the following error in the log:

[code]

There's no user-visible impact, as far as I can tell, but we should figure out what's causing this and what the correct fix is.

[2021-04-21 15:35] WesleyAC commented on #4682
Thanks for reporting this! This is something we'd like to fix — we actually talked about using that library in #3885, but decided on an alternative solution. At the time, we were blocked on doing that, but now that we've upgraded our version of React Native, there's a clear path towards this.

I'm going to go ahead and mark this as a dupe of #3885, you can follow along there for updates :)

[2021-04-21 15:35] #4682 closed

[2021-04-21 17:09] timabbott commented on #4684
In the webapp, `static/js/unread.js` has a set of data structures for precisely this problem, `Bucketer` and friends.  @showell can help explain them if useful.

[2021-04-21 21:17] chrisbobbe commented on #4687
Looks like that's this event: https://zulip.com/api/get-events#attachment-add

Since we get a new-message event when there's a new (attachment-containing) message, and we get an update-message event when there's an updated (attachment-containing) message, I can't think of a live-updating bug that might come from this.

Maybe if we were keeping and relying on a data structure specifically for attac

[2021-04-21 23:51] chrisbobbe commented on #3000
It looks like this was taken care of in ebcaae257cb5931eb1eb6714f2941e4257fef3ea (#4094), so I'm closing this.

It wasn't done with a feature flag, but 1.9 is pretty old.

[2021-04-21 23:51] #3000 closed

[2021-04-22 07:26] dmig opened #4691 "stream gets blocked by error message"
Zulip for android, v27.162

An error message "error loading page" blocks any stream if this link https://floor796.com/ is posted there.

After loading a posted message appears for half a second, then "error loading page" appears.

[2021-04-22 07:27] dmig commented on #4691
![Screenshot_20210422-092105_Zulip](https://user-images.githubusercontent.com/388564/115673470-f6e55a00-a34c-11eb-9a76-421b544ef625.png)

[2021-04-22 15:39] chrisbobbe commented on #4691
Hi, @dmig!

This reminds me of #4337; it's an error from the system Chrome on your device. I don't think we've yet landed on a way to protect against the error. One workaround (which I know won't be adequate for all cases) is to remove the message containing the link, or edit the message to remove the link.

[2021-04-22 16:31] chrisbobbe commented on #4642
From that chat discussion, the next step for this is to solidify the invariant that each entry in `state.narrows` describes a contiguous group of messages; there are no "gaps" there. We can do that by clearing out an entry if we're about to add messages to it that we don't know are contiguous with the ones that were there before.

[2021-04-22 16:32] ckujau commented on #3195
Still not possible with Android 11 and Zulip 27.162 (beta). Nothing much to see in `logcat`, except:

[code]

[2021-04-22 18:59] chrisbobbe commented on #4283
It's possible that we should try v3 of react-native-image-picker; v3 was reportedly a ["complete rewrite"](https://github.com/react-native-image-picker/react-native-image-picker/releases/tag/3.0.0) of the library. Taking that version will have implications for #M4475.

[2021-04-22 19:33] dmig-alarstudios commented on #4691
Opening this link in system Chrome doesn't show any errors. Seems to me, app may use some custom SSL certificates, which became outdated.
This site uses Let's Encrypt certificate issued on 8.03.2021 -- may be this can give a clue?

[2021-04-22 20:50] WesleyAC opened #4692 "Figure out if native code errors are getting sent to Sentry"
We're not sure if errors in native code get sent to Sentry. We should figure out what happens here, and set up Sentry for native code if we haven't already.

[2021-04-22 20:59] gnprice commented on #4283
Google has given us a reminder about this in the Play Console, which had me concerned today that they were imposing a tight new deadline to deal with it. I'm pretty sure now that they aren't -- the deadline is later this year, via #4284, same as it's been -- but that caused me to look into the status of this again ([chat thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/storage.2

[2021-04-23 00:17] gnprice commented on #3517
We've had a new report of this:
https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/number.20emoji/near/1167842

That chat thread on #backend back in 2019 didn't result in fixing these sequences on the server, so it's clearly past time we should just override them in the app as a workaround. I've just sent #4693 to do that.

[2021-04-23 01:07] gnprice commented on #3395
Thanks @ungps for this report!

The issue with `:1:` etc. and `:one:` etc. was fixed recently in #4551. (It would also be fixed by #2956, which is what #3100 was aimed at.)

The issue with `:a:` etc. turns out to be different -- it has the same cause as #3517. The issue is that the Zulip emoji database gives `:a:` a code of `1f170`, meaning that it should correspond to the Unicode codepoint U+1F17

[2021-04-23 01:59] #3395 closed

[2021-04-23 01:59] #3517 closed

[2021-04-23 15:48] timabbott commented on #4687
That event is intended for UI on the "Uploaded files" settings page so I'd expect mobile to not want to request it.

[2021-04-23 20:01] gnprice opened #4695 "JSC segfault, causing crash"
Tim reported a crash yesterday, having not had one in months. It was on the new beta release v27.162, while reading a thread in the message list.

The crash corresponds to [this Sentry event](https://sentry.io/organizations/zulip/discover/zulip-mobile:db1932fefb7b4fcfa4affe9537d845e8/). The raw trace is:
[code]

So it's a segmentation fault, in `libjsc.so` aka JSC, which is the JS implementation t

[2021-04-27 10:01] vaibhavs2 commented on #4660
Issue Created
https://github.com/facebook/react-native/issues/31442

[2021-04-27 20:27] rajprakash00 opened #4701 "Delete a message completely by an admin"
Admin can delete any message completely in zulip web but currently we
don't have that option in mobile version.

[2021-04-27 20:44] gnprice commented on #4701
Thanks! This would be a good feature to match from the webapp.

Probably the cleanest route toward implementing this will be through #3898. The logic to determine whether you're allowed to delete completely (and therefore we should show the UI for it) is pretty detailed, and it'll be a lot better to share it with the webapp than to duplicate it.

[2021-04-28 04:27] timabbott opened #4702 "Add typing notifications for stream messages"
We've now merged the backend for https://github.com/zulip/zulip/pull/17040, which implements backend support for typing notifications for stream messages.

This involves a new `client_capabilities` value, `stream_typing_notifications`; clients that declare it will receive stream typing notifications events; those that don't will not (for backwards-compatibility).  The API documentation is updated

[2021-04-28 06:11] chdinesh1089 commented on #4702
I haven't made any changes to it but made changes to `typing.js`(like `notifiy_server_start`) which helps us to make use of `typing_status.js`. Previously, in `typing_status.js`, `state.current_recipient`,  `new_recipient` param of  `update` used to only be an array of user IDs but those could also be an object of consisting stream_id, topic now. This won't break anything in `typing_status.js` so

[2021-04-28 07:04] gnprice commented on #4702
Great, that's helpful to know, thanks.

For the implementation on the mobile side, I think we'll want to update `typing_status.flow.js` in the shared package. It currently says those functions should take an array of user IDs or `null`, and it should instead say they can also take an object of the new shape.

[2021-04-28 16:50] chdinesh1089 commented on #4702
[Made the required changes](https://github.com/zulip/zulip/pull/17040/commits/8ee5866dc90147cec795e947290c91a4274d1bc7#diff-2f197d8e832114b7397d6358ff1adf1412761a8e316d8630d1c59a92eaa305b2) in the PR. Could you take a look and confirm if those are the right changes?

[2021-04-29 06:21] im-adithya commented on #2612
@gnprice, I'm really sorry for responding late 😕 as I was busy with taking care of my parents who were suffering from covid for last two weeks (and they are gradually recovering now 🥳 so I can finally spare time for contributing!!)

[2021-04-29 06:23] im-adithya commented on #2612
I'll start working on this ASAP!

[2021-04-29 07:47] WesleyAC commented on #4559
Started a conversation on CZO [#mobile-team > non-redux storage?](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/non-redux.20storage.3F) about using SQLite to persist this data.

[2021-04-29 13:46] chrisbobbe commented on #4377
Ah, I should have asked earlier—I'm curious what the symptoms are/were, more specifically. What happened when you tried to follow a link to a message; did it kick you out of the app and put you in a browser and load the web app, or did nothing happen at all, or did something else happen? 🙂

The fix I mentioned above, #4350, was released in v27.158, so it'd be helpful to know if you see something d

[2021-04-29 16:05] chrisbobbe commented on #4484
Thanks for that detail, @Gautam-Arora24! This looks like #4631. Let's focus the conversation for that issue there, to give more room here for the issue that @hkpanchani reported.

[2021-04-29 16:05] chrisbobbe commented on #4484
@hkpanchani, I'd be interested to know if this issue might have been fixed (or its symptoms improved, anyway) by some recent releases.

I have a hypothesis that at least part of the issue has been fixed:

- [ ] If you update the app to the beta v27.162 release (or later), are you still forced to clear app data and add both accounts again?

#4588 made the app more robust to the data in storage bein

[2021-04-29 16:18] WesleyAC opened #4705 "Figure out a way to test webview code"
Currently, we don't seem to have tests for the webview code. We should figure out a way to test that code.

Some of this is actually pretty easy, since it doesn't depend on the dom, and is just a matter of putting things into testable libraries, instead of in the `js.js` file or wherever.

Other parts will be harder — we currently use the DOM to store a lot of state, which means either using somet

[2021-04-29 16:36] chrisbobbe opened #4706 "Make it easy to de-minify traces from `RootErrorBoundary`."
@gnprice [said](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/error.20boundary/near/1154105):

Greg's notes for this are [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Android.3A.20White.20screen/near/1150314).

[2021-04-30 07:36] WesleyAC opened #4708 "Share image cache between webview and RN"
Right now, images that we use in both the webview and React Native (user uploads, avatars, reaction emoji) are downloaded by both, independently. Instead, we should have them share a cache.

As I wrote in #4349:

For storage, this seems like [another case where we might want to use sqlite](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/non-redux.20storage.3F), probably having a table

[2021-05-01 20:39] WesleyAC opened #4712 "Show starred messages count"
We should show a count by the starred messages icon, like we do on the mentions icon. There should be a setting to control this, which should probably be synced with the server version of this (although maybe not, see [this discussion](https://chat.zulip.org/#narrow/stream/101-design/topic/unread.20messages.20starred.20count/near/1172692))

[2021-05-01 20:50] WesleyAC opened #4713 "Improve "new PM" UI"
Our UI for making new PMs isn't great:

* We conflate "searching for a user" with "creating a PM with a user"
* You need to select whether you're making a single-user PM or group PM at the start of the process
* The UI is visually unappealing

I think a good fix for all of these is to replace our "Search" and "Group PM" buttons with a [FAB](https://material.io/components/buttons-floating-action-bu

[2021-05-01 22:47] WesleyAC opened #4715 "Stream settings screen doesn't make sense for non-subscribed streams"
Currently, the stream settings screen shows options like "Pinned", "Muted", and "Notifications", even if you aren't subscribed to the stream. They do nothing when you tap them.

Instead, it should hide those options, and we should add a "Subscribe" button (which we don't have currently??? and amusingly, you can't add yourself via "Add subscribers", since `UserPicker` filters you out.)

[2021-05-01 22:58] WesleyAC commented on #4713
Hah, we even already have a UI for picking users like this, `UserPickerCard`! (Although it may need some rework to be useful for this)

[2021-05-04 09:24] WesleyAC opened #4720 "Add "View messages sent" option to AccountDetailsScreen"
We should add the ability to view messages sent by a given user.

The thing that makes this sort of annoying is that we don't support showing arbitrary narrows, so we'd need to either add the ability to show arbitrary narrows (maybe as part of the search screen?), or add a specific screen for this action (probably the better option, for now)

[2021-05-05 21:18] gnprice opened #4722 "Play Store doesn't offer app when no camera on device"
A user [reports](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Zebra.20Mobile.20Computer.20compatibility/near/1174306) that they can't find the app in the Play Store on a Zebra MC3300X, a mobile computer for warehouse that's running Android 10.

And indeed the Play Console [tells me this](https://play.google.com/console/developers/8060868091387311598/app/4976350040864490411/devices?deviceG

[2021-05-05 22:07] gnprice opened #4723 "Logout gives endless loading screen"
This seems to reproduce reliably for me, on v27.162, on both iOS and Android. Not sure if it's new in v27.162 or was present earlier.

Repro steps:
* I'm logged into an account.
* I hit the "Log out" button. Get a confirmation modal, and confirm.

Expected result:
* Navigate to the account-pick screen. During the nav transition animation, the old account's UI is replaced with a loading screen.

Ac

[2021-05-06 00:52] chrisbobbe commented on #4723
From a bisect (luckily starting with the first and last commits in #4603) I think a80b4e8da3e7918604430e8ff3ef9b627e7d0396 may have introduced the issue; I'm looking into it.

[2021-05-06 08:07] WesleyAC opened #4725 "Stream "Edit" option logic is incorrect"
Currently, we check `isAdmin` to choose whether to show the "Edit" button in `StreamSettingsScreen`, but I'm pretty sure that logic is wrong — the stream creator should also be able to edit it, possibly other users depending on the org settings, etc.

[2021-05-06 08:23] #4264 closed

[2021-05-06 08:51] WesleyAC opened #4726 "Inline images with invalid HTTPS certs cause error that prevents use of stream"
Loading a inline image with a invalid HTTPS cert causes the following:

![Screenshot_20210506-162731](https://user-images.githubusercontent.com/5001092/117269603-00ada800-ae8b-11eb-9529-de4d36132747.png)

While this doesn't appear to have ever happened in the wild in Sentry (???), and changes in Camo in 4.0 will make it impossible for people to construct messages like this in the future, we should

[2021-05-06 13:33] chrisbobbe commented on #4726
I know of two other issues that seem like probably the same thing: #4337, #4691. (I'm getting caught up on things from last week's call, so I don't think I'll have time to deduplicate just now.)

[2021-05-07 03:41] WesleyAC opened #4729 "Split settings into account settings and app settings"
Currently, we have one "settings" screen that mixes account-wide and app-wide settings. Instead, we should split these in two.

The design for this that we talked about would have a "Account Settings" button in the account details screen that you get to by pressing your avatar, and would keep the current settings screen as the "App Settings" screen. Then, we'd move the "Log Out" and "Deactivate Ac

[2021-05-07 04:44] gnprice commented on #4459
We've had a report that might align with this [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/traceback/near/1176227) in chat. The symptom was our new "error boundary" screen appeared, showing the stack trace.

[2021-05-07 14:44] chrisbobbe commented on #4706
Does the [`source-map`](https://www.npmjs.com/package/source-map#consuming-a-source-map) package look like the kind of thing we can call in `RootErrorBoundary` to translate the normal kind of stack trace?

Even if so, I don't think it could help with the component stack we get from React Native.

[2021-05-07 19:09] WesleyAC opened #4734 "Presence indicators always have white background"
Presence indicators always have a white background. Instead, the background color should follow the theme background color, as on the webapp.

[2021-05-07 20:21] chrisbobbe commented on #4692
#4695 shows that at least some of them are, on Android.

[2021-05-07 21:48] #4734 closed

[2021-05-08 08:25] #4323 closed

[2021-05-08 10:49] WesleyAC commented on #4708
Related: #3555 #3026 #3382 #3853

[2021-05-08 16:18] flashery opened #4738 "Not serving css js images files with nginx proxy setup"
I tried installing this docker container on my ec2 instance machine with NGINX web server. But the static file is not displaying on my site when using HTTPS.. https://zp.tastysites.dev

What seems to be lacking here? can you help?

here is the nginx config

[code]

[2021-05-08 16:20] flashery commented on #4738
Wrong repository Sorry

[2021-05-09 05:01] WesleyAC commented on #4006
I don't see this anymore, I presume #4392 fixed it. If anyone is still seeing this on a modern server and app, please file a new issue.

[2021-05-09 05:01] #4006 closed

[2021-05-10 03:54] AlaaElden98 commented on #4729
@abhi0504 I'm already working on #4696 and it's a part of this issue, see the discussion [CZO](https://chat.zulip.org/#narrow/stream/48-mobile/topic/deactivate.20account/near/1171667)

I'm just waiting for a response to continue my work.

[2021-05-10 05:25] timabbott commented on #3244
Just a small update that I'm adjusting the API documentation in https://github.com/zulip/zulip/issues/11136 to note that the old format is deprecated.  Presumably we can't remove it until some time after mobile adds support for it, though.

[2021-05-10 19:49] chrisbobbe opened #4742 "Follow-up from #4700, "Have Jest cover Android-only codepaths.""
This is a placeholder for Greg's planned follow-up changes after #4700. I'm not sure what those are, exactly; possibly they involve a solution to https://github.com/zulip/zulip-mobile/pull/4700#discussion_r621487064. 🙂

[2021-05-10 20:45] AkashDhiman opened #4743 "Double reaction glitch."
The mobile app shows 2 reactions where there should only be one.

The mobile app shows this -
![double-reaction](https://user-images.githubusercontent.com/40268170/117720844-c894c500-b1fc-11eb-9eb3-a91bb69c7a5d.jpeg)

while the web app shows this:
![Screenshot from 2021-05-11 01-52-35](https://user-images.githubusercontent.com/40268170/117720953-ec580b00-b1fc-11eb-871c-74eb41dbcb54.png)

The web a

[2021-05-11 00:29] AkashDhiman opened #4744 "`UnreadNotice` makes the screen jump."
![mark-as-read-jumps-2](https://user-images.githubusercontent.com/40268170/117739496-1a991300-b21c-11eb-9788-21f748d6934e.gif)

This makes it harder to communicate in realtime.

One possible way to fix this is to wrap everything below `ChatNavBar` in a `position: 'relative'` `View` and then style the `UnreadNotice` along with `OfflineNotice` as `position: absolute`. This would place them both abov

[2021-05-11 14:32] MMagueta opened #4745 "Error toast when @-mentioning in a PM conversation"
### Bug description
When you try @-mentioning someone in a private message (either group or 1-1) you get an exception message saying "Couldn't load information about <NAME>" (Check the image for reference).

## For further reference, this issue was discussed in depth [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Quoting.20exception.20message) and a solution has been described

An ex

[2021-05-12 20:32] AkashDhiman opened #4746 "Dark mode action sheet."
Currently actionsheets have black text and white background regardless of the theme. They should be made dark when dark mode is selected by users.

see screenshot below, for reference:

![Screenshot_20210513-015735~2.png](https://user-images.githubusercontent.com/40268170/118040455-2822da00-b38f-11eb-9472-fa0066fa630b.png)

[2021-05-12 22:11] AkashDhiman opened #4747 "Editing stream name / description puts double quotes around it."
![edit-stream-name](https://user-images.githubusercontent.com/40268170/118048087-658c6500-b399-11eb-8f17-07e3c59a7021.gif)

The code at fault is in `/src/streams/streamsActions.js/updateExistingStream.js`.

where `api.updateStream` is called with the response of `JSON.stringify(newValue.name)` as the `value` parameter.

This code was added in  https://github.com/zulip/zulip-mobile/commit/3e1becac5

[2021-05-13 00:47] chrisbobbe commented on #3244
It looks like support for using stream IDs was https://github.com/zulip/zulip/commit/c35afb942, released in 2.0.0. There's been a [mention](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/compatibility.20documentation/near/1174950) that as of March, dropping support for 1.9.x and older might affect 2-4% of users.

Are we OK to switch completely over to using stream IDs for this feature

[2021-05-13 01:31] chrisbobbe commented on #3918
Do I understand correctly that #3244 is the last remaining instance of this? #4635 has a commit that's marked as fixing that.

[2021-05-13 07:57] Gautam-Arora24 commented on #4747
Thanks for the detailed explanation @AkashDhiman! Working on this 🙂

[2021-05-13 08:56] Gautam-Arora24 commented on #4747
We need to be sure what does it mean by "unsafe characters" before removing the `JSON.stringify` method.

[2021-05-14 01:42] chrisbobbe commented on #4648
Hi, @ChrisDenton, I'm sorry for the delay in responding. Are you still seeing this issue?

A few questions to help debug:
- What version of the mobile app are you on when you experience this issue?
- What do you see during those three minutes; is it the full-screen loading spinner?
- Can you say more about how it only affects the initial connection? Have you run into the issue more than once?

[2021-05-14 01:57] ChrisDenton commented on #4648
I'm no longer seeing this issue but I could reproduce it consistently at the time.  I just had to close the app and reopen it. It got to the unread messages screen and had "connecting" at the top. And it stayed that way for minutes before the new messages were actually loaded. I'm sorry but I didn't note the version.

As I say, I'm unable to reproduce it now so feel free to close this issue.

[2021-05-14 02:15] chrisbobbe commented on #4648
That's OK! 🙂 From the date on your post here, looks like it would have been [v27.161](https://github.com/zulip/zulip-mobile/releases/tag/v27.161) (released April 2) or earlier.

Thanks for those details, and I'm glad you're not seeing the issue anymore. I'll keep your experience in mind while working on #4165; I've got a pull request (#4193) in progress for part of that.

Again, my apologies for n

[2021-05-14 02:15] #4648 closed

[2021-05-14 11:32] stuntsman commented on #4436
There's a ticket regarding iOS notification sounds where blocking issues are also mentioned:

https://github.com/zulip/zulip-mobile/issues/3101#issuecomment-724393052

[2021-05-20 05:38] gnprice commented on #3408
An update to this issue's description: happily, this part of the Zulip API is now documented!
https://zulip.com/api/get-events

So the reverse-engineering discussed above should no longer be necessary.

[2021-05-20 18:53] AkashDhiman opened #4751 "Implement deep Link Functionality."
context: [CZO](https://chat.zulip.org/#narrow/stream/48-mobile/topic/deep.20links.3F).

Have the mobile app open using web URLs,

[2021-05-20 18:55] gnprice commented on #4641
Adding words that I tried to search for this by, for next time :slightly_smiling_face: : prefetch, prefetching, pre-fetching.

[2021-05-20 19:52] gnprice commented on #3184
@lukasIO Thanks for the feedback! We have an issue now for this same feature on iOS: #4586.

@maltokyo Thanks for the report! That sounds like an independent issue, and I see you went on to file it as its own thread: it's #3624, for cross-reference for anyone reading this thread in the future.

[2021-05-20 19:56] gnprice commented on #3184
@jbowkett That feature is #117 and is coming soon :slightly_smiling_face: . This thread was about the flow when you're already in the Zulip app, composing a message, and you attach a file from there.

[2021-05-20 20:08] gnprice commented on #4586
Thanks @AkashDhiman for filing this and @Gautam-Arora24 for the demo! We originally built this feature only on Android (#3184), but have had at least one request on that thread to do it for iOS too.

Over on #4590, Akash mentioned:

Running `pod install` is a lot like `yarn install` (aka just `yarn`) -- it downloads and installs dependencies in your local worktree. We actually run it automatically

[2021-05-20 21:00] chrisbobbe opened #4752 "Upload files in chunks to avoid failing from server timeout."
See https://github.com/zulip/zulip/issues/9391, where Tim pointed out that clients should upload files in chunks.

I think it's quite plausible that the timeouts are part of #4340, which has #4475 as a partial fix to get some of the inflated JPEG files under some control.

I don't have an implementation plan right now; I'm just filing this so I don't forget about it.

[2021-05-20 21:02] chrisbobbe commented on #4340
Just filed #4752—the server does time out if it waits too long for a file to upload, which could explain some files just never getting uploaded at all! It's still a problem that the files are way bigger than they need to be (#4475 is a partial solution for that), but Tim suggests we can get around the timeouts by uploading files in chunks.

[2021-05-21 09:06] WesleyAC opened #4756 "Message dates not displayed correctly in topic headers"
Topic headers show the date that the topic was created, rather than the date that the top visible message in the topic was sent. We should fix this to have the same behaviour as the webapp.

[2021-05-21 18:13] AkashDhiman commented on #117
Note that the original PR #4514 that was meant to fix this was split into two parts and hence the specific commit that fixes this issue is present in #4757 which is yet to be merged into master at this point in time.

[2021-05-21 19:21] gnprice commented on #117
Ah, thanks @AkashDhiman for catching that :slightly_smiling_face:

[2021-05-21 22:26] #4604 closed

[2021-05-21 22:39] AkashDhiman commented on #4746
closing as duplicate for #4609

[2021-05-21 22:39] #4746 closed

[2021-05-23 19:46] AkashDhiman opened #4758 "[android] Opening the app from background opens it in a specific narrow, if it was initially started via pressing a notification."
If the app is initially started by pressing on the notification, on closing the app (not killing but quitting via back presses), and starting it from the overview screen it will start at the topic the notification was directed to.

Similar to the issue solved in https://github.com/zulip/zulip-mobile/commit/bb1bba0e3e9b87d4246c895e85dd6a1b540cac03, Originally speculated to exist by @gnprice at http

[2021-05-23 22:28] #4722 closed

[2021-05-25 21:57] gnprice commented on #4661
We discovered ([chat thread](https://chat.zulip.org/#narrow/stream/3-backend/topic/Sideways.20avatars.20.28overcorrection.20by.20.60exif_rotate.60.29/near/1188227)) that the same issue is present in the webapp in some browsers, and appears to be a server issue. So I'm moving this from zulip/zulip-mobile to zulip/zulip.

Here's the same avatar as in the example above, as seen in the webapp in Safar

[2021-05-25 22:11] AkashDhiman commented on #4744
duplicate of #4526

[2021-05-25 22:11] #4744 closed

[2021-05-26 00:46] gnprice opened #4763 "[ios] Opening app from recents screen can reopen conversation from previous notification"
This is exactly the same behavior as described in #4758, but on iOS. Filing as a separate issue because the fix will likely be pretty much independent.

Here's the repro steps I just tried, in v27.162 on an iPhone 7 running iOS 12.4.1:
1. Ensure the app isn't running in the background: double-tap the home button to get the recents screen, look for Zulip, and if found swipe it away.
2. Receive a no

[2021-05-26 00:50] gnprice commented on #4763
To fix this:
* Probably we should complete #4115 / #4163 first, just so we're on current versions of things.
* Then check this still reproduces. I expect it won't change, though -- it doesn't appear that the `PushNotificationIOS.getInitialNotification` interface has changed.
* Then, it *might* be enough to add some logic in JS where we invoke that function, remembering if we've already done so onc

[2021-05-27 19:19] alya opened #4764 "Make compose box topic empty when starting from interleaved stream view"
At present, when one starts composing a message from an interleaved stream view, the topic defaults to the topic of the latest message in the stream.

This is confusing, and means that the user has to be careful to change it if, e.g., they just want to start a new topic. It's especially confusing that the compose box uses the topic of the most recent message even if you're currently viewing earlie

[2021-05-27 19:43] gnprice opened #4765 "ImageBackground followups from #4730"
This is to track the post-merge review comments at https://github.com/zulip/zulip-mobile/pull/4730#pullrequestreview-666388091 , on the changes there to UserAvatar.

[2021-05-27 19:48] gnprice opened #4766 "Followups on open-links-where setting, #4679"
This is to track the post-merge review comments at https://github.com/zulip/zulip-mobile/pull/4679#pullrequestreview-667346423 :

[2021-05-28 04:17] #4758 closed

[2021-05-28 10:32] alexclaydon commented on #3277
Hello, is iOS share functionality still expected to be implemented at some point? I was trying to share a file into a stream and found that Zulip does not appear in the iOS share sheet.

[2021-05-29 00:45] WesleyAC opened #4770 "Add FAB to create new topic from topic list"

[2021-05-29 03:52] #4765 closed

[2021-06-01 19:40] chrisbobbe commented on #4770
This looks like a subtask of #4379, so, adding a comment to link to that. 🙂

[2021-06-01 19:40] chrisbobbe commented on #4379
Looks like discussion is continuing [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/new.20topic.20screen/near/1198876).

[2021-06-01 19:59] WesleyAC opened #4771 ""All Messages" shows incorrect number of unreads"
[via CZO](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/All.20messages):

[2021-06-01 20:21] #4723 closed

[2021-06-01 22:58] timabbott commented on #4726
Just updating this thread that we apparently have a similar bug in the desktop app (https://github.com/zulip/zulip-desktop/issues/1119), and that we should still consider this important since (1) Camo doesn't run in docker-zulip, so a lot of 4.0 servers are still affected and (2) inability to read old content before the Camo changes is important in its own right.

[2021-06-02 19:08] WesleyAC commented on #4771
Ah, this is actually covered by #3589. Closing as dupe.

[2021-06-02 19:08] #4771 closed

[2021-06-03 11:51] AkashDhiman opened #4776 "Enable deep link for iOS"
Related to #4751 and follow up for #4775. React native code is covered by #4775 so the only thing that remains for iOS is to enable deep link from native code. This should be fairly simple to do.

If possible also include a cli based approach to test the feature in iOS similar to the android one in #4775.

[2021-06-04 14:49] #4715 closed

[2021-06-05 17:20] saif-malik-01 commented on #4756
Hello, is this issue is still open? As I had made such apps in react native, I can solve this. Can you please assign me, so that I can start working on it. Thank you :)

[2021-06-05 18:34] WesleyAC commented on #4756
Hi! You're welcome to work on this, although it might be pretty tricky — this is in the [webview](https://github.com/zulip/zulip-mobile/blob/master/docs/background/webview.md) section of our code, which doesn't work in the same way as the React Native part of the code.

If you want to work on this, you're welcome to, although I'd also be happy to suggest an easier first issue if you'd prefer.

[2021-06-06 06:56] saif-malik-01 commented on #4756
Yep , sure

[2021-06-07 20:28] WesleyAC opened #4788 "Add typeahead for links to topics"
In the webapp, typing `#stream>` will open a typeahead for topics in the `#stream` (or `#stream-name` or whatever) stream. We should implement this on the mobile app as well.

[2021-06-07 20:51] WesleyAC commented on #1270
I [looked into](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/fdroid/near/1203052) what it would take to package Zulip for F-Droid today, and it's more work than the core team can take on right now. However, if someone else was to package Zulip for F-Droid, we'd be very happy to add bumping the version in F-Droid to our release checklist. In the meantime, people can get the APK from

[2021-06-08 19:51] gnprice commented on #4135
I've just attempted the repro (from the issue description) on v26.153, which has both those PRs. Indeed it no longer reproduces. So this seems to have been successfully resolved!

[2021-06-08 19:51] #4135 closed

[2021-06-08 21:19] timabbott commented on #4788
We'll want to use https://zulip.com/api/get-stream-topics to get the full set of topics in the target stream.

(In the web app, we show topics that the client knows about while waiting for the fetch to return).

See `stream_topic_history.js` and `stream_topic_history_util.js` for data structures that could potentially be shared to support this.

[2021-06-09 04:40] #4766 closed

[2021-06-09 08:52] ganpa3 opened #4791 "mentioned messages aren't shown if topic is muted."
I just noticed that if someone mentions me in a message and I have the topic muted, the message isn't shown in the "Mentions" tab on zulip-mobile, whereas it is shown on the web app.

[2021-06-11 01:12] gnprice opened #4793 "Refetch server data from scratch after server upgrade"
Since zulip/zulip#18205, the server sends its new version and feature level in an event each time it restarts; and since #4707, we use that to keep our record of the server's version and feature level up to date.

This is good because it means that when we subsequently make a request to the server, if we have any logic that needs to look at the feature level to interpret the results of that reques

[2021-06-11 01:27] gnprice commented on #4793
Thinking about how often this logic would cause a refetch, I see on the API changelog:
https://zulip.com/api/changelog
that there were about 35 new feature levels between Zulip Server 3.0 and 4.0. There was about a 10-month period between those releases, so that's roughly one new feature level per week on average. For people using Zulip Cloud (or another server that updates frequently from Git), t

[2021-06-11 01:32] gnprice commented on #4793
Also, when implementing this we should be sure to not just reload immediately, in order to avoid hitting the server with a thundering herd of reloading clients. Instead, following the API documentation at https://zulip.com/api/get-events#restart , we should spread the reload out randomly over a period of at least 10 minutes.

[2021-06-13 10:41] shaurya2612 commented on #4745
Hi, I am working on this issue. I changed the `is1to1PmNarrow` calls inside MentionWarnings and now I'm trying to refactor the part where stream should be removed as a prop from MentionWarnings.

I read the solution mentioned above and I just needed to know, we want the stream to be fetched from the redux state in MentionWarnings itself right? Or am I missing something here 🤔.

[2021-06-14 18:14] chrisbobbe commented on #4655
I see that zulip/zulip#18222 has been merged! 🎉

@WesleyAC, are we ready to declare victory on this issue?

[2021-06-14 22:07] gnprice commented on #3767
This came up again recently: see [chat thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Stream.2FSubscription.20split/near/1209112), and discussion at https://github.com/zulip/zulip-mobile/pull/4718#discussion_r627779508 .

[2021-06-14 22:44] WesleyAC commented on #4655
The one remaining bit of this issue is to hide usernames in PM headers (when in a Search or All Messages narrow, for instance). I'm going to leave this open to track that.

[2021-06-16 20:55] WesleyAC opened #4806 "Only load a few visible messages in initial webview HTML"
Currently, we load the webview with all of the messages that we know about for the relevant narrow. It turns out that a significant portion of the load time is based on the amount of content we send in the HTML body:

![endTime vs  numPieceDescriptors](https://user-images.githubusercontent.com/5001092/122291081-45285c80-cea9-11eb-82cb-99f625487487.png)

(in that chart, endTime is the value of `per

[2021-06-16 21:04] WesleyAC commented on #4791
Thanks for reporting this! I think this is a duplicate of #3472, so I'm going to close this and follow up there. I think this is pretty important, so I'm going to mark it as a P1.

[2021-06-16 21:04] #4791 closed

[2021-06-16 21:07] WesleyAC commented on #3472
We got another report of this today (#4791), so I'm going to go ahead and push a fix for at least the mentions narrow part of this today.

[2021-06-17 19:33] WesleyAC opened #4808 "Investigate keeping a loaded webview offscreen to reduce messagelist load times"
From my investigation in #4806, we know that the floor for how fast we can load a MessageList with our current approach is 250ms, which is unacceptably high. In order to go below this, we need to load the WebView before we need to show a MessageList. We should investigate how much work doing so would be.

There are a few libraries that allow displaying components at a different place in the hierar

[2021-06-17 20:04] WesleyAC commented on #3572
I wrote up some notes on our base64 encoding of webview messages, which was initially going to be its own issue, but I think really belongs here:

Our code for passing messages into the webview looks like this:

[code]

I know from my [investigation](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/webview.20setup.20code/near/1211743) into webview load times that message passing bandwid

[2021-06-18 04:43] #4115 closed