[2022-03-21 11:51] SilentCruzer commented on #5241
@wilsonfurtado2000 , I have already made a [draft pull request](https://github.com/zulip/zulip-mobile/issues/5241) for this issue

[2022-03-21 12:29] SilentCruzer commented on #4939
Right now in the app, we are getting the current position of the text cursor through the selection variable, but it has no connection with the Input and Autocomplete view component. So one possible solution is to add a selection prop to the Input component.

The problem with the solution is that the text cursor sometimes get stuck in a loop after autocomplete happens because of the selection props

[2022-03-21 22:26] gnprice commented on #4407
The upstream issue https://github.com/expo/react-native-action-sheet/issues/203 has been closed as fixed, and we've upgraded to the version with the fix. That happened in #5203, for the v27.181 release.

I just tried the original repro recipe (thanks @nikhilmaske-2001 for a nice clear recipe!) in v27.182, the current beta, and I no longer reproduce.

So I believe this has been fixed! Thanks again

[2022-03-21 22:26] #4407 closed

[2022-03-21 23:22] gnprice commented on #2782
This appears to have been fixed: I just attempted to reproduce, and things worked fine. Specifically, on the tab showing subscribed streams, the stream changed names and didn't go away. Also, on long-press there, the stream action sheet shows an option "Unsubscribe".

We've made a long string of fixes to different cases of #3918, so it's likely that one of those fixed this.

[2022-03-21 23:22] #2782 closed

[2022-03-22 00:04] gnprice opened #5306 "Follow /near/ links through topic moves/renames"
This is a new feature on web in zulip/zulip#21426 / zulip/zulip#15290, fixing a regular pain point with resolved topics in particular. We should adopt it on mobile too.

To implement it, we'll probably want to move some of the implementation into shared code so we can reuse it. In particular `message_edit.stream_and_topic_exist_in_edit_history`:
https://github.com/zulip/zulip/commit/2a485289cf507a

[2022-03-22 00:21] gnprice commented on #4371
Thanks @bjorn3 for the report! Sorry for the slow response.

Is it possible that you were logged into the bytecodealliance Zulip org as two different accounts? If you were, then this was a known bug: see #4631.

That bug has since been fixed (in release v27.181, out last month), and we've made other changes to this logic as well, so I'm hoping this is fixed for you. If you see these symptoms again

[2022-03-22 00:21] #4371 closed

[2022-03-22 00:37] gnprice opened #5307 "Update web-public-stream icon to Zulip's custom concrete globe"
An update following #5014: the icon used for this in the web app is changing. There should be an SVG file for it soon in the shared package: https://github.com/zulip/zulip/pull/21491

Then the next steps [will be](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/custom.20icons/near/1338192):

For details, see that chat thread.

[2022-03-22 08:08] bjorn3 commented on #4371
I have an account in rust-lang open most of the time. I got a total of four zulip accounts configured in the app, all of which are for a different instance.

I believe it has indeed been fixed since though.

[2022-03-22 23:04] gnprice commented on #4371
OK. Thanks for the followup! Do let us know if you see an issue like this again.

[2022-03-24 04:50] gnprice commented on #1270
@dm17 Thanks for that feedback about your use case!

[2022-03-24 04:55] gnprice commented on #5242
This part of the UI is one of the small number of places controlled by our Android-native code. The relevant source file is:
android/app/src/main/java/com/zulipmobile/notifications/NotificationUiManager.kt

For background on the Android-native code, see:
https://github.com/zulip/zulip-mobile/blob/main/docs/architecture/android.md

[2022-03-26 06:48] vaidehi44 commented on #5199
Hey @sumj25, can I work on this?

[2022-03-26 06:56] sumj25 commented on #5199
Hi @vaidehi44 , yes you can work on this issue.

[2022-03-26 08:19] vaidehi44 commented on #5199
Okay. Thanks.

[2022-03-29 01:26] chrisbobbe opened #5313 "ios: Use Hermes"
The iOS counterpart to #4131.

This may be blocked by `Intl` support; iOS support is lagging behind Android support: https://github.com/facebook/hermes/issues/23#issuecomment-1080976865

[2022-03-30 06:47] amitlakhanpal commented on #3838
Casting a vote in favor of the UnifiedPush suggestion, for what it is worth, based on a recent experience trying and failing to set up push notifications to an account logged in to the Android mobile app (latest version installed from the apk on Github) being run on GrapheneOS, even with Google Play Services installed.  Thanks to @alexmv we can see the server side of things is working fine, but fo

[2022-04-01 18:27] gnprice commented on #3916
This blocks on #4841 and #3408.

Then when the blockers are cleared, the work of this issue will be to a large extent on the server, as well as in the client.

[2022-04-01 22:42] #5307 closed

[2022-04-02 16:48] IzzySoft commented on #1270
Just stumbled about [this RFP at F-Droid](https://gitlab.com/fdroid/rfp/-/issues/386) during the triage runs, which was opened by @Be-ing. There were some packaging tries, but they got stuck with build errors (see e.g. [here](https://gitlab.com/fdroid/rfp/-/issues/386#note_695233302)). Any chance one of you could have a look at that to get things rolling there as well?

[2022-04-04 23:42] gnprice commented on #2052
I've updated the description: we're now down to about 98% coverage, with about 1000 uncovered expressions remaining, according to `yarn run test:flow-coverage`.

I've also gone and done a sweep looking through what's left. #5323 will fix a good chunk of those, leaving a bit under 1000 expressions still uncovered. The remaining areas are:
* Adding types on the remaining few test files that lack the

[2022-04-05 21:40] #5228 closed

[2022-04-06 20:03] alya commented on #5169
@punitkashyup you can contribute by reviewing the open PR, or otherwise find another open issue to pick up. Thanks!

[2022-04-06 20:09] chrisbobbe commented on #5166
@VishalSharma2000, passing `selectable` to the

[code]

in `AccountDetails` sounds like a good approach! Let's try that one. I think it accomplishes the following (from Alya's https://github.com/zulip/zulip-mobile/issues/5166#issuecomment-1064393124) better:

[2022-04-07 17:48] johnabs commented on #5087
Question regarding this issue regarding de-googled phones: they don't have access to play services including Firebase. Is there anything on the docket for adding independent notification services to this app a la Signal?  I think this option would be an excellent addition for privacy conscious individuals, because even though your app doesn't directly collect any data through Firebase (**HUGE** th

[2022-04-07 19:38] chrisbobbe commented on #5148
See also https://chat.zulip.org/#narrow/stream/412-api-documentation/topic/.2Fuser_uploads.3A.20.60413.20Payload.20Too.20Large.60/near/1332958 :

`POST /user_uploads` can give a `413 Payload Too Large`; it'd be good to recognize too. Tim says it probably comes from third-party code.

[2022-04-07 19:51] alexmv commented on #5148
The 413 will come from nginx if the upload is larger than 80MB, or some other intermediate proxy if it has a lower limit.

[2022-04-07 20:35] VishalSharma2000 commented on #5166
Okay, @alya. Thanks for clearing my doubt.

[2022-04-07 22:22] chrisbobbe opened #5329 "notifs: Token-registration code hard to follow, and different per-platform"
(Largely copied from https://github.com/zulip/zulip-mobile/pull/5300#discussion_r831686959.)

I've often found our code for registering push tokens pretty hard to follow, and wondered if we could make it better.

We quick-fixed a P0 bug #4573 with 6ffc7e18a, and I don't think we've settled on a plan for something more permanent.

Here's what I think the relevant subsystem is aimed at:

For all ser

[2022-04-07 22:32] alya commented on #1975
Popular request in user survey.

[2022-04-08 01:31] johnabs commented on #3838
Can I ask on this: can a zulip bot be a temporary hack to make this work with something like ntfy?

[2022-04-08 07:29] VishalSharma2000 commented on #5166
@chrisbobbe I have added the `selectable` property to the `ZulipText` component. Here are the screenshots when selecting the text and after clicking on the copy button

1. Response to the user is taken care of by the system itself by showing the toast message as shown in the 2nd Image.
2. The text selection gets trigger in two cases
    i. On Long Press on the text.
    ii. Double Click on the tex

[2022-04-08 08:02] thisisnitish commented on #5199
Hey @alya, I would like to work on this issue. Thanks 😊

[2022-04-08 17:28] thisisnitish commented on #5199
Hey @alya The plan is like this,

* We have `CreateStreamScreen`..right??. In that, file we have one function called `handleComplete`.
* In `handleComplete` we are calling `createStream` from api inorder to create a stream.
Now, the solution is:
* Before using `createStream` api I will be checking whether the stream by this `name` is already present or not?
* In order to do this, we will be using

[2022-04-08 17:41] Fingel commented on #5199
Hi @thisisnitish
This is a good plan. There might be a better way though. Currently when you try to create a stream with a name that already exists, the server probably responds with an error. But the mobile app does not handle it correctly. Maybe what we should do is handle the error properly, and display it to the user. This way there are more cases we can cover. For example, there might be a bl

[2022-04-08 17:54] thisisnitish commented on #5199
Hi @Fingel
You are right, the first thing that came to my mind is the same thing you said. So looked into the code where we are using the api and found that, we aren't handling any responses there. So, I looked into the Zulip API docs specifically for creating a stream [here](https://zulip.com/api/create-stream). When you will go to this URL it will suggest you to go on subscribe stream page where

[2022-04-08 18:07] Fingel commented on #5199
I see. It's actually a subscribe request that happens when you create a new stream. So when you try to create a new stream with an existing name, the response lets us know that the user is already subscribed:
​​```json
{
  "result": "success",
  "msg": "",
  "subscribed": {},
  "already_subscribed": {
    "user9@zulipdev.com": [
      "devel"
    ]
  }
}
[code]
Which is indistinguishable from the

[2022-04-08 18:29] thisisnitish commented on #5199
I've checked the responses we are getting from `createStream` api I found something.

* When there is already exist a stream then we get response something like:
<img width="591" alt="Screenshot 2022-04-08 at 11 51 07 PM" src="https://user-images.githubusercontent.com/48220369/162499985-84dd9d3c-1a9c-4b55-a789-955be09ad0fe.png">

That means we have already subscribed to the stream.

* But, if we s

[2022-04-08 20:12] thisisnitish commented on #5199
Now, I'm using the response that we get from `createStream` api and checked if the user has already subscribed to the stream then show the alert otherwise proceed further.

**Below is the preview:**

https://user-images.githubusercontent.com/48220369/162519999-0572b816-da11-485b-abd3-6cea8869f45c.mp4

[2022-04-08 20:30] thisisnitish commented on #4658
Hey @alya, Looks like no works has been done so far. Can give it a shot to this. Thanks 😊

[2022-04-08 20:33] thisisnitish commented on #5199
Hey @chrisbobbe!, I've added my updated plan here. Please have a look at that. I feel this is the correct way. Thanks 😊

[2022-04-08 20:39] chrisbobbe commented on #5199
Thanks, @thisisnitish! Let's continue the discussion on CZO, [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M5199/near/1362991).

[2022-04-08 23:57] chrisbobbe commented on #5166
Great! I'd be interested in a PR with that change.

I'll check out your PR and play with it myself, but I think this isn't likely to make the experience seem worse than it already is (i.e., currently you can't select the text at all). It also seems like the kind of thing that I expect to be hard to debug. So for now, I think we don't need to worry much about it. 🙂

[2022-04-09 09:18] thisisnitish commented on #5199
Hey @chrisbobbe!, I've raised the PR. Please have a look at that #5331.

Also, I've tried to cover all the cases:
**Case 1:**
When we try to create a stream with an existing name and we are subscribed to the stream.
https://user-images.githubusercontent.com/48220369/162564979-350948d7-88d4-40ea-b101-52a778860307.mp4

**Case 2:**
When we try to create a stream with an existing name and we aren't su

[2022-04-09 11:03] ssdrum commented on #5303
@zulipbot claim

[2022-04-09 17:33] thisisnitish commented on #4658
Hey @chrisbobbe!,
* The idea is to build a Zulip button because when I was going through the code and I realised that, We are using `ZulipSwitch` component which uses `Switch` in itself.
* So, I think we have to do the same thing, like we have to build the custom button for this issue such as `ZulipSubscribe` button which will behave the same way the only difference will be to change the icon on r

[2022-04-09 17:38] thisisnitish commented on #4658
I moved over to the `react-native-vector-icons` I found these two icons which we need
<img width="170" alt="Screenshot 2022-04-09 at 11 06 20 PM" src="https://user-images.githubusercontent.com/48220369/162585239-74d47a29-ece1-4f22-a59d-a410de1f2931.png">
<img width="165" alt="Screenshot 2022-04-09 at 11 07 09 PM" src="https://user-images.githubusercontent.com/48220369/162585241-3720a496-d1f4-46bd-

[2022-04-09 17:52] thisisnitish commented on #4658
The reason we need separate component such as `ZulipSubscribe` because later in the future we might need switch button.

[2022-04-10 19:58] thisisnitish commented on #4658
Hey @chrisbobbe!,
I've figured out some of the parts of related to this issue and UI is kind of done but when I'm pressing the button then event is not getting triggered.

So far what I've understood is we are using `ZulipSwitch` component as our switch button and it takes 3 props which is `value`, `onValueChange`, `disabled`. Now, I got the little idea from the comments that what these props are.

[2022-04-11 07:28] VishalSharma2000 commented on #5166
@chrisbobbe I have created the PR, please have a look.

Since this is my first PR, it took me some time to read the documentation regarding [commit message](https://zulip.readthedocs.io/en/latest/contributing/version-control.html#commit-discipline), [creating pull request](https://zulip.readthedocs.io/en/latest/git/pull-requests.html)

Please let me know if you feel any changes are required.
Thank

[2022-04-11 17:10] chrisbobbe commented on #4658
Sure. It's probably easiest for me to help if I could take a look at the code. It doesn't have to be polished into a reviewable PR for this purpose; you could make a PR marked as a [draft](https://docs.github.com/en/github-ae@latest/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests#draft-pull-requests), or just push your branch and

[2022-04-11 17:46] alexmv commented on #4969
We got another request for this today, especially as Android doesn't have giphy support.

[2022-04-11 19:52] thisisnitish commented on #4658
Thanks @chrisbobbe!, I've made a draft PR. Please have a look at that, #5333. Thanks 😊

[2022-04-12 18:07] #4841 closed

[2022-04-13 23:52] #5278 closed

[2022-04-14 00:44] Komal7209 commented on #3624
@chrisbobbe Is this issue assigned to someone else or still open to work because as per above conversation , I'm unable to get that is it resolved or not?

[2022-04-14 01:36] chrisbobbe commented on #3624
This issue has gotten stalled waiting for an upstream PR (current status [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/react-native-image-picker/near/1298262)); I'd recommend choosing a different issue to work on.

[2022-04-14 01:42] Komal7209 commented on #3624
@chrisbobbe I can see that all good first issues have been taken by one or other person so is there some other issue on which I could work so that I could start with contribution and also get somehow familiarised with that portion of code. If you could suggest some other tag of issues in which I could search

[2022-04-14 05:52] alya commented on #3624
@Komal7209 please see https://zulip.readthedocs.io/en/latest/overview/contributing.html#picking-an-issue-to-work-on. I highly recommend reading through that entire page as you're getting started. Thanks!

[2022-04-14 16:47] gnprice opened #5338 "Poll messages should show reactions, tags, and outbox spinner"
Expected behavior:
1. Someone sends a poll message.
2. The message gets some reactions; it gets edited or moved; and you star it.
3. In mobile, you view it in the message list.
4. The message shows up including its reactions, the "edited" marker, and the "starred" marker.

Actual behavior:
4. The message shows up without those things.

The cause of this is that in `src/webview/html/message.js` we

[2022-04-15 02:53] #5230 closed

[2022-04-15 05:11] avdhendra commented on #5303
i can change that icon can you assign me on this

[2022-04-15 18:57] alya opened #5340 "Auto-complete stream>topic link syntax"
In the web app, typing `>` after a formatted stream name (`#**stream**`)  displays a convenient topic auto-complete menu. Selecting a topic adjust the syntax to make the link work by making it `#**stream>topic**`. We should make this feature work on mobile as well.

Help center doc: https://zulip.com/help/link-to-a-message-or-conversation#link-to-a-stream-or-topic-within-zulip

Probably the best s

[2022-04-15 21:57] gnprice commented on #5340
I think moving the relevant web code to be shared is not typically going to be accessible for new contributors, so removing "help wanted".

[2022-04-18 23:28] #5185 closed

[2022-04-19 17:07] gnprice opened #5344 "Upgrade to RN v0.68"
The next round after #5232. Blog post here:
https://reactnative.dev/blog/2022/03/30/version-068
and more-detailed changelog:
https://github.com/facebook/react-native/blob/main/CHANGELOG.md#v0680

[2022-04-19 18:56] chrisbobbe opened #5345 "android: Mixed Kotlin versions used to compile third-party code"
Running `android/gradlew -p android :app:lintVitalRelease` on main gives this group of output, among other groups:

[code]

Mixing Kotlin versions sounds kind of concerning. That sort of thing has the potential to mean a runtime bug.

[2022-04-19 18:57] chrisbobbe commented on #5345
For our own build, we specify `kotlin_version = '1.6.10'`, and have since commit dbb467a8d which was in v27.181.

But then it seems like we're getting a mix of Kotlin 1.6 and Kotlin 1.4.

And oddly, the "expected" metadata version seems to be for Kotlin 1.4?

[2022-04-19 18:59] gnprice commented on #5345
(This comes up in particular when doing the APK build for a release, with `tools/android apk`. But `:app:lintVitalRelease` is a more direct way to reproduce it.)

[2022-04-19 20:20] gnprice commented on #4636
This was partly done in #5326 -- in particular the sorting step is now from shared code. Still to do is the filtering step.

[2022-04-20 00:49] timabbott opened #5348 "Display names of reacting users when few users have reacted"
We're close to merging https://github.com/zulip/zulip/pull/21013 as a Zulip 6.0 release goal, which adds a new (default on) setting for displaying the users who did a particular emoji reaction, when there are few such users. Likely the reasons that motivated this feature apply to mobile as well, though perhaps with a different cutoff given different space considerations. We've intentionally define

[2022-04-21 18:02] gnprice commented on #5348
The back end of this is now merged. The web front end is test-deployed on chat.zulip.org but not yet merged.

[2022-04-21 23:04] eburda commented on #3132
I have posted some feedback on the actual beta app, but I also wanted to share on the github – I recently started testing the beta app on my iPhone, and at first the app was a bit daunting with all of the streams and the topics listed beneath them. The general appearance and colors are aesthetic in light and dark mode, though. The icons on the bottom and top make sense (still getting used to the h

[2022-04-21 23:29] chrisbobbe commented on #5241
Hmm, there are four items in that list, not three. And it doesn't use the "conversation views" concept in the issue description.

Alya said:

I think the three intended values are:

Mark messages read on scroll:
- Always
- Never
- Only in conversation views (single topic or private-message thread)

[2022-04-22 00:56] #4857 closed

[2022-04-22 22:08] gnprice commented on #4263
Haven't had any trouble since the previous comment, and I've been on v16 on one machine and v17 on the other. I'll make the updates described above, to v16. (v17, being odd-numbered, won't have long-term support; it'll be EOL itself in a little over a month.)

[2022-04-23 01:21] timabbott opened #5358 "Maintain membership of user groups and their subgroups"
This is a preparatory issue for a piece of work that will be eventually required to correctly implement Zulip's future user-group based permissions model. In https://github.com/zulip/zulip/issues/21611, we add API support for clients to be able to receive in `/register`, and maintain via events, the set of user groups that each user is directly a member of, as well as any subgroups of those groups

[2022-04-25 18:55] chrisbobbe commented on #4828
#2688 has been fixed, so I'll mark this as unblocked.

[2022-04-27 05:36] alya opened #5361 "Respect unread message status from "mark as unread" in webapp"
In zulip/zulip#2676, we are implementing a "mark message as unread" option.

When a message is marked as unread in the webapp, we should make sure it appears as unread in the mobile app as well.

[2022-04-27 05:47] alya opened #5362 "Support unmuted topics in muted streams"
In https://github.com/zulip/zulip/issues/2517, we are implementing an option to make a topic inside a muted stream as _unmuted_.

In this case, we should treat the topic as unmuted in the mobile app as well. This includes:

- [ ]  Showing the topic alongside other unmuted topics in All messages and the inbox view
- [ ] @-mention notifications
- [ ] Ideally matching the webapp UI for how the topic

[2022-04-27 06:12] alya opened #5363 "Show selected custom profile fields in user profile"
In zulip/zulip#21215, we are adding an organization-wide option to show a small number of custom fields in the user profile popover.

We should show the selected fields in user profiles in the mobile app as well.

- The fields can be shown just below the user's name, in the order selected in the settings.
- The name of each field should also be shown.

Note that all field types other than "Long te

[2022-04-27 06:18] alya opened #5364 "Make it possible to mark messages as unread"
In zulip/zulip#2676, we are implementing a "mark message as unread" option in the webapp.

We should also add this option to the long-press message menu in the mobile UI.

* It should be possible to mark ~~just one message, or~~ a message and all the messages below it in the current view.
* When this feature is used, the view should not mark messages as read until the user navigates away from it.

[2022-04-27 06:35] alya commented on #5241
Yep, that's right -- thanks for the clarification, @chrisbobbe !

[2022-04-27 13:52] Lumrenion opened #5365 "Make it possible to edit topic title"
Currently it is not possible to edit the title of a topic. I would expect such an option in the menu when holding the topic title at the top:
![image](https://user-images.githubusercontent.com/9381204/165534360-5b34cd4a-a420-4d64-aea0-070fe6456124.png)

See the conversation on chat.zulip.org for reference: https://chat.zulip.org/#narrow/stream/48-mobile/topic/Change.20topic.20title

[2022-04-27 21:17] #4263 closed

[2022-04-27 21:20] #5166 closed

[2022-04-27 21:58] alya opened #5366 "Make it possible to send yourself a message reminder"
In zulip/zulip#21810, we're making it possible to send yourself a message reminder from the webapp.

*Receiving* a reminder will not require mobile-specific work, as the planned implementation is receiving a message from a bot. However, we should also add an option to the long-press message menu to *send* yourself a reminder from mobile. This will be very useful, as it's common to see something wh

[2022-04-27 22:05] alya opened #5367 "Make it possible to view read receipts"
In zulip/zulip#3618 / https://github.com/zulip/zulip/pull/18935, we're making it possible to view read receipts in the webapp. We should add an option to the long-press message menu to make this possible on mobile as well.

This feature should of course respect the user privacy setting for whether to allow others to view read receipts from them. Where possible, it should follow the webapp design i

[2022-04-27 23:57] #4636 closed

[2022-04-28 00:02] timabbott commented on #5367
Just as a note on the privacy setting -- that's implemented server-side, so there should be nothing the app needs to do there. (Specifically, the server will just not send the client information about readers who have disabled sharing read receipts).

[2022-04-28 17:46] chrisbobbe commented on #5363
Plan discussed today:

1. Show custom profile fields at all
2. Emphasize (by ordering things?) "selected" profile fields

[2022-04-29 11:46] yoav-lavi opened #5371 "Long press actions"
Hey,

I wanted to suggest adding long press actions / menus for the bottom 4 buttons, I think "mark all as read" would be really useful for instance (rather than going to all messages first).

Thanks!

[2022-04-29 11:50] yoav-lavi commented on #5371
As a side note, I think the `@**name**` syntax for mentions may be a bit unintuitive as it's `@name` on most other platforms which is valid input but does not tag a user. An alias perhaps?

Thanks for your consideration!

[2022-05-01 10:40] IzzySoft commented on #1270
@gnprice @chrisbobbe any chance? The due-date popped up again, so the RFP at F-Droid now enters the candidate-to-close state: if we see no chance to process the request, we have to close it in 4 weeks.

[2022-05-02 23:46] #5199 closed

[2022-05-05 17:38] chrisbobbe commented on #4131
There's an issue in RN v0.65 that I think affects apps using Hermes on Android, and it's reportedly fixed in RN v0.66: https://github.com/facebook/react-native/issues/32197#issuecomment-1090434397. #5372 is open for the RN v0.66 upgrade.

[2022-05-07 00:32] gnprice commented on #5288
Thanks for the report!

It looks like Java 15 is no longer supported upstream:
https://adoptium.net/support/
https://adoptopenjdk.net/support.html#roadmap

So I think we are not going to try to dig into this and resolve it; instead, our recommendation is to switch to a supported version of Java.

Java 11 is a good choice, because it's an LTS release and will be supported for the next two years. Ja

[2022-05-07 00:32] #5288 closed

[2022-05-07 00:38] gnprice opened #5377 "Upgrade to Gradle 7 and AGP 7"
We'd like to upgrade Gradle to version 7.x, and the Android Gradle Plugin also to its version 7.x. (Filing these as one issue because AGP versions are tied to Gradle versions.)

This required us to upgrade to RN v0.65:
https://github.com/zulip/zulip-mobile/issues/5230#issuecomment-1039708179
https://github.com/zulip/zulip-mobile/issues/5230#issuecomment-1055836019
But since #5337, that's done!

On

[2022-05-12 02:58] gnprice commented on #5362
From that zulip/zulip thread, it looks like we don't yet have a prototype implementation for the server side, so this isn't ripe to actually build until we do.

However, there is zulip/zulip#21251, which makes a preparatory change to the API. Making that change (and clients moving over to use it) doesn't yet cause any change to user-visible behavior; but it reorganizes how we represent muting a to

[2022-05-12 03:00] gnprice commented on #5362
Added "blocked on other work" because this blocks on at least a prototype of a backend implementation. Removed "webapp parity" because this is a feature that doesn't yet exist on web (though as "server release goal" indicates, it's one we hope to have on web pretty soon.)

[2022-05-12 03:03] gnprice commented on #3918
This got filed as a server issue: zulip/zulip#21015.

There's now a draft API change and backend implementation: zulip/zulip#21251.

[2022-05-12 03:07] gnprice commented on #3918
Here's also a quote from my description of #5268 which closed this issue. It's an update of my comment above from a month before it was closed, explaining the status of the followup work and how it's tracked separately from this issue:

[2022-05-12 03:15] gnprice opened #5380 "Adapt topic-mute model to new `user_topic` API"
In zulip/zulip#21015 (draft implementation zulip/zulip#21251), we're revising how the Zulip API represents muting a topic. This change will:
* switch to using stream IDs instead of names (#3918);
* switch from tuples to JSON objects to describe each topic mute (more self-explanatory, less error-prone to consume, and more extensible -- this was one of the last places in the server API that used tup

[2022-05-12 04:30] gnprice opened #5381 "Have migrations cleanly support renaming and removing subtrees"
Currently, if you add a migration (in `src/storage/migrations.js`) for our app's Redux main store and it modifies some existing subtree of the state, that works great: the new value gets written back to the persistent store. Indeed we do that all the time. If the migration introduces state subtrees at new names, that also works great: the new subtrees will be stored.

But if it removes some existi

[2022-05-13 23:31] #4933 closed

[2022-05-20 03:56] chrisbobbe commented on #2900
See #5363 for giving privileged placement to certain "selected" fields.

[2022-05-20 03:59] chrisbobbe commented on #3397
Closing as fixed in 7296551876e91674330624212dd3a41bb8c30128.

[2022-05-20 03:59] #3397 closed

[2022-05-20 04:25] #4658 closed

[2022-05-20 06:42] extrad opened #5387 "Markdown tables can't be scrolled"
A wider  markdown-table like this
| Syntax      | Description | Value 3 | Value 4 | Value 5|
| ----------- | ----------- | ----------- | ----------- | ----------- |
| Header      | Title       | Value 3 | Value 4 | Value 5 |
| Paragraph   | Text        | Value 3 | Value 4 | Value 5 |

Produces the following output on all tested IOS-devices.
It can't be scrolled with a finger and the only way to se

[2022-05-20 20:23] Sauvikn98 commented on #5365
I would love to work on this. This seems like an interesting feature but although less intriguing. This would be a necessary action for future updates

[2022-05-21 01:02] gnprice commented on #2900
[Chat thread](https://chat.zulip.org/#narrow/stream/378-api-design/topic/custom.20profile.20fields/near/1382978) about the remaining open questions in this API.

[2022-05-24 00:56] gnprice commented on #1974
I got a report of this from a user who was frustrated that in a stream with like 4000 unread messages of history, there wasn't an obvious good way to skip to the end. (FWIW for anyone reading this with the same frustration: a workaround is to hit the "mark all as read" button, then navigate back out of the conversation/stream you're looking at, then back into it.)

See also the report at #2759 fro

[2022-05-25 22:30] gnprice opened #5391 "Switch react-navigation types to be generated from upstream"
This will then greatly simplify handling type definitions in attempting to take the next major React Navigation upgrade, #4936.

I plan to do this using TsFlower: https://www.npmjs.com/package/tsflower

We'll still need some small ad-hoc fixes to the type definitions, but they should be vastly smaller than the type definitions as a whole.

[2022-05-25 22:46] gnprice commented on #4936
We'll do #5391 first as a step toward this.

[2022-05-25 23:18] chrisbobbe commented on #5250
Closing as fixed by #5389.

[2022-05-25 23:18] #5250 closed

[2022-05-26 17:50] chrisbobbe commented on #5306
See details of a recent API change around `edit_history`: https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/edit.20history/near/1342402

[2022-05-27 18:07] chrisbobbe commented on #438
We've had [another request](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Issue.20-.20iOS.20Notification.20Badge/near/1384161) on CZO.

[2022-05-28 00:58] gnprice opened #5395 "Request specific event types from server, not just `fetch_event_types`"
This would allow us to properly take advantage of the server's upcoming logic to suppress the old `muted_topics` events when the new `user_topic` form is requested. See:
https://github.com/zulip/zulip/pull/21251#issuecomment-1133466148
https://github.com/zulip/zulip/pull/21251#pullrequestreview-988254917

Implementation:
* The heart of this is just to change s/fetch_event_types/event_types/g in sr

[2022-05-28 13:39] IzzySoft commented on #1270
Well… We can reopen the RFP again once you're ready, or start a new one. But as there was no reply at all, it will now be closed due to inactivity, sorry. Looking forward to a revival then…

[2022-05-30 06:12] fuzunspm commented on #4822
It’s a known issue for years. Developer won’t add this easy but very critical feature, sorry. This is ignored for years

[2022-06-01 19:00] fuzunspm commented on #4822
I think it should be an app global setting

[2022-06-02 21:22] #5231 closed

[2022-06-03 00:44] gnprice commented on #1270
Ah, just looking at this now. From those build errors:
[code]

It looks like they're all saying that the Firebase messaging libraries (aka FCM), which we use for push notifications, weren't found.

That in turn is presumably because of this line in the quoted build script:
[code]
which deletes the line in our build config that pulls in that dependency.

I think the way forward on that would be for

[2022-06-03 07:02] IzzySoft commented on #1270
A different build flavor is what most projects use for that case. Another option might be using @UnifiedPush and then have their simple FCM distributor included with the non-free version (so e.g. PlayStore users won't notice a difference, while others have the option to use the distributor of their choice). That way, push messages would be possible in both variants. If that sounds interesting to y

[2022-06-06 19:33] gnprice opened #5400 "Show email address on a user's profile"
Each Zulip user has an email address associated with their account, which [depending on settings](https://zulip.com/help/restrict-visibility-of-email-addresses) may be visible to other users.

We should display the user's email address, when we have it, on their profile screen -- the one you get to on long-pressing their name or avatar where they sent a message, or from the "info" icon on a PM thr

[2022-06-07 01:45] #5391 closed

[2022-06-08 16:52] gnprice opened #5404 "Flake in waitingPeriodThreshold tests"
First spotted here: https://github.com/zulip/zulip-mobile/pull/5401#issuecomment-1148836433

It looks like:
[code]
plus a similar one at:
[code]

#5402 cleaned up the date arithmetic, but the flake remains: https://github.com/zulip/zulip-mobile/pull/5393#issuecomment-1150154370

The code in question looks like:
[code]

Given that we've seen it a couple of times just this week, it seems to be a fai

[2022-06-09 06:13] alya commented on #5365
Thanks for the suggestion! Looks like #4828 is a related issue, but we don't have this issue specifically.

[2022-06-09 06:15] alya commented on #5365
@Sauvikn98 if you are interested in working on this, you can dig into the code, and post a description of your proposed approach once you know how you would go about it. @chrisbobbe  or @gnprice can comment on whether or not this is an approachable first issue.

[2022-06-09 06:27] Sauvikn98 commented on #5365
Okay! Thank you for the response. I will make a detailed proposal of my approach for this issue by the end of the day and post it for a review.

[2022-06-09 20:43] #4254 closed

[2022-06-10 17:06] davidpriest opened #5409 "Request: UI: hover over toolbar icons to show label"
The mobile interface generally shows two rows of tool icons, on the top and bottom of the screen. The icons are not labelled in narrow view.

On the top row, long-pressing an icon performs the action. On the bottom row, long-pressing an icon does nothing. These behaviours should be made consistent.

I would like a long-press to show the icon title. The title will need to be displaced from the touc

[2022-06-10 17:08] davidpriest opened #5410 "Request: UI: Display user name & message time on long-press of message"
When long-pressing a Stream or Topic title, the stream/topic title is used as a label for the pop-up menu. When long-pressing a message, no label is shown on the pop-up menu.

When long-pressing a message, I would like the pop-up menu to be labeled with the author's name and message timestamp.

[2022-06-11 01:27] gnprice commented on #4139
We recently noticed these again; we should really fix them. Chat thread here:
https://chat.zulip.org/#narrow/stream/48-mobile/topic/permission.20usage.20text/near/1391574
and I think we have some pretty reasonable candidate new strings.

[2022-06-13 18:54] gnprice commented on #5363
Chat thread on the API: https://chat.zulip.org/#narrow/stream/378-api-design/topic/custom.20profile.20fields.20in.20small.20profile/near/1390650

Server (and web) prototype implementation: https://github.com/zulip/zulip/pull/21588

[2022-06-13 19:34] gnprice commented on #5363
After thinking about the UI of this for a bit, I think the right solution may be to pretty much leave it alone. (Now that we show custom profile fields at all, #2900.) Perhaps reorder the selected fields to the top of the list, if they aren't already, but no more than that.

The main relevant difference from the web app is that in mobile, when we're showing a user's profile at all, we're now showi

[2022-06-14 00:08] chrisbobbe opened #5414 "msglist-diffing tests: Debug/fix a flake with stream-subscribed status changing"
19 failures under

[code]

; here's one:

[code]

That difference in rendering points to a stream being subscribed, when the snapshot expects it to be unsubscribed. Will send a PR shortly.

[2022-06-14 05:50] #4417 closed

[2022-06-14 06:03] gnprice commented on #4417
This was done in #5408.

There are still some things remaining in `navActions`. Quoting from commit messages in that PR, ending with fc787774d09743af81710e6e0a0615d2c96cae98:

    Still using NavigationService are […]

     * Sites that aren't directly on a React component.  We'll let these
       be for the present.

       Many of these (like src/webview/handleOutboundEvents.js, and action

[2022-06-14 15:18] chrisbobbe commented on #5404
Hmm. Have you ever seen this locally? I don't think I have.

If it has a higher chance of occurring in CI than locally, I'm not sure what the story would be. My first thought would be that we're failing to use `maybePretendUtc` when we should be, just because we built that to resolve differences seen in CI vs. locally. But looking at the implementation and the test, I don't see that anything about

[2022-06-14 16:45] gnprice commented on #5404
I haven't naturally, but OTOH the only-what-changed behavior of `tools/test` means I probably haven't run that test many times locally.

I just tried it in a loop, and it failed 2 times out of 10:
[code]

[2022-06-14 16:55] gnprice commented on #5404
That seems like a reasonable plan. Want to describe in a chat thread what you've tried and how it hasn't worked?

The other possible direction is to debug why `jest.setSystemTime` isn't getting the desired result. I checked its docs:
https://jestjs.io/docs/jest-object#jestsetsystemtimenow-number--date
and it doesn't seem like we're misusing it. I'll spend a little time looking into that direction

[2022-06-14 17:02] gnprice commented on #5404
Ha, well, here it is!

[code]

Then ran it in a loop:
[code]

Successful iterations:
[code]

Unsuccessful iteration:
[code]

So the problem is that `date_joined` is invalid, and parsing it gives NaN.

I.e. it's this line in exampleData.js:
[code]
where oops, `randInt` can return 0.

I'll fix.

[2022-06-14 20:48] #5404 closed

[2022-06-17 05:03] #5414 closed

[2022-06-17 17:54] gnprice commented on #3222
This was fixed by be12766bc2451afda2ff99b26b219b617c9055be / #5341 .

[2022-06-17 17:54] #3222 closed

[2022-06-17 23:26] gnprice commented on #5102
(I just tweaked the description to get the word "old" in there, so that this issue comes up on a wider range of search queries.)

[2022-06-18 01:05] gnprice commented on #4139
As written, this issue is really two pretty separate tasks:
* Debug why, when saving an image from the lightbox, we request general photo-library permission instead of only permission to add to it.
* Write better text for all three of these permission requests.

Let's focus this issue thread about the latter. I'll file a separate issue for the former.

[2022-06-18 01:22] gnprice opened #5420 "ios: On save from lightbox, request only the needed permission"
(This is split off from #4139, which combined this with a distinct though related issue.)

While reviewing #4089 before merge, I noticed (https://github.com/zulip/zulip-mobile/pull/4089#issuecomment-639155183 ) that:
* if you go to download an image from the lightbox,
* and you haven't already given the app permissions on the photo library,
* we show (well, cause the system to show) a permission r

[2022-06-22 00:27] #5348 closed

[2022-06-22 04:00] gnprice commented on #5232
This version looks like it should be relatively smooth, with fewer changes than many previous releases. I guess that fits with coming out just 3 months after the previous release.

* There's not much highlighted in the blog post, and nothing that should affect us.
  * Well, it does mention "Bump Gradle version to 7.2". The only thing that definitely means is that they bumped the version in the tem

[2022-06-22 04:04] gnprice commented on #5377
We're currently on the immediate previous versions of both of these tools: Gradle 6.9, and AGP 4.2.2. (AGP skipped version numbers 5.x or 6.x, in order to start tying their version numbers to Gradle versions.)

For AGP, we should upgrade specifically to the latest 7.0.x, not to 7.1 or later. That's because RN v0.68 doesn't support AGP 7.1 -- see [the RN changelog](https://github.com/facebook/react

[2022-06-22 04:10] gnprice commented on #5344
This looks like more changes than v0.67 (I say having read the full changelog, but not looked at any of the code yet), but still no obvious obstacles. Other than one: it does sound like it'll probably require the Gradle and AGP upgrades, #5377.

[2022-06-23 14:58] alya opened #5423 "Make streams collapsible in inbox view"
At present, stream sections in the inbox view are not collapsible. This means a user might have to do a lot of scrolling to find what they need when some streams have a large number of topics with unreads.

To address this, we should make the stream sections collapsible, which can be controlled by a triangle to the left of the stream name.

[CZO discussion](https://chat.zulip.org/#narrow/stream/48

[2022-06-23 19:10] alya opened #5424 "Move "All streams" link below subscribed streams"
At present, the Streams screen has two tabs -- "Subscribed", and "All streams".

However, in the mobile app, the Subscribed tab is much more commonly useful than the "All streams" tab.

We should:

1. Replace the tab navigation at the top with a single "Streams" heading. Only subscribed streams will be shown.
2. Add an "All streams" link at the bottom that takes the user to the view that shows bot

[2022-06-23 19:16] alya opened #5425 "Group streams into sections"
In https://github.com/zulip/zulip/issues/19812 / https://github.com/zulip/zulip/pull/21201, we organize the left sidebar of the webapp into three labeled sections: Pinned, Active and Inactive streams. Muted streams are sorted at the bottom of their section. These changes make it easier for users to understand the ordering and find the stream they are looking for.

We should do the same in the mobi

[2022-06-23 20:28] gnprice commented on #5425
Specifically, I think we want to do this in two places:
* On the subscribed-streams screen (`SubscriptionsCard` in the code, found in the UI at the hash/stream icon in the main bottom tabs);
* On the inbox screen (`UnreadCards` in the code, found in the UI as the main screen when you open the app, at the inbox icon in the main bottom tabs).

Both of those already sort pinned streams first, then un

[2022-06-23 22:26] alya commented on #5363
Thanks for the detailed write-up @gnprice !

We plan to change the web UI to make all the fields left-aligned: https://github.com/zulip/zulip/pull/21465

![image](https://user-images.githubusercontent.com/2090066/175425265-0ecb068c-cc7d-4cef-8c2d-d2203f21739f.png)

It might now look great on mobile, since there the avatar doesn't take up the entire width of the window.

[2022-06-23 22:28] alya commented on #5363
On mobile, ordering the selected fields above all the other custom fields, with no other special indication, sounds like a fine solution for now.

[2022-06-23 22:59] alya commented on #5409
Interesting, thanks for the observation and the suggestion! I was not aware of the discrepancy between the top vs. bottom row.

While I agree that the current state is not as desired, I think at this point it makes sense to hold off on fixing it, and see if it is still relevant after the app redesign work (cf. [CZO thread](https://chat.zulip.org/#narrow/stream/48-mobile/topic/UI.20redesign)) is co

[2022-06-24 20:48] maxecharel commented on #5151
@Udit-takkar really cool that you're working on that! I was surprised not to see more interest in such a functionality. Does is appear to be manageable?

[2022-06-24 23:21] gnprice commented on #5363
Great, thanks for the feedback!

Interesting, good to know.

Yeah.

We could do it by left-aligning to a box (even an invisible one) that hugs the width of the avatar… but then I think we'd want to limit the text's width on the right as well as the left, as it'd look ragged if the person's name stuck out on just one side. But wrapping their name would be likely not to look good either.

And then I

[2022-06-25 00:04] gnprice opened #5428 "RN v0.69 upgrade"
The next round after #5344.
* Blog post: https://reactnative.dev/blog/2022/06/21/version-069
* More-detailed changelog: https://github.com/facebook/react-native/blob/main/CHANGELOG.md#v0690

[2022-06-25 00:05] #5232 closed

[2022-06-25 00:07] gnprice commented on #5377
@chrisbobbe points out at https://github.com/zulip/zulip-mobile/pull/5426#issuecomment-1164973608 :

[2022-06-25 00:16] gnprice commented on #5428
This release has some major headline changes that are optional -- so, potential opportunities, but shouldn't be obstacles to the upgrade:
* React 18
* More development on RN's "New Architecture"
* More development on Hermes

Other things highlighted in the blog post:
* Hermes is now bundled with RN. They flag that this may require some steps in the upgrade (though I expect that's all covered by ou

[2022-06-25 00:29] gnprice commented on #5428
Changes I notice in the full changelog:
* https://github.com/facebook/react-native/commit/c1e9aa9a272aed3cba60c4aeff783eeb8bffce68 Deprecate the use of `react-native/jest/preprocessor.js` by external projects
  * We're using this, in our `jest.config.js`.
* https://github.com/facebook/react-native/commit/b2517c3bdccc3f9d935f4ee06f959d6ce8f27bbe Automatic update of `RCT-Folly`
  * This sounds possi

[2022-06-27 21:33] gnprice commented on #2956
There's now a draft server API for this, implemented in the open PR zulip/zulip#22067.

So this is ripe for us to implement. The implementation will help provide feedback on the API, before merging the server PR. Then after the server change is merged, we can merge our client implementation.

[2022-06-29 00:18] alya opened #5431 "Add space at the bottom of user profile view"
At present, we don't leave any space below the "Send private message" button in the user profile view when the screen is full. It would be better to allow the user to scroll up further.

![Screen Shot 2022-06-28 at 5 15 22 PM](https://user-images.githubusercontent.com/2090066/176325130-6822215f-15a4-4951-b81c-325e4f475faf.png)

Adding some bottom margin on that button, like 8px or 16px, should sol

[2022-06-29 00:28] alya commented on #5363
Mm, yeah, good points.

We may need to think more about long names in the web UI. I think we tried wrapping, but it didn't look great, which is why we went with using the tooltip to show the full name.

[2022-06-29 17:28] chrisbobbe commented on #5431
Thanks, @olof-sky! I've just assigned this issue to you.

[2022-06-29 22:21] gnprice commented on #5363
Yeah. One direction would be to get the status disk and @ and envelope icons out of that row (not sure where instead), so that the name can use the full width of the popover.

I think that would at least greatly reduce the fraction of people whose names don't fit on one line (and therefore end up either wrapping, or being relegated to the tooltip.) It might also make wrapping look more OK.

[2022-06-30 12:24] olof-sky commented on #5431
I couldn't get the setup done correctly, other people had same issues but the solutions didn't fix anything for me. I think It's better to reassign this to someone else. @chrisbobbe

[2022-06-30 16:48] chrisbobbe commented on #5431
OK! I'm sorry that the development environment setup didn't work for you, and I'm curious what went wrong. It's possible that the answer could help us improve our setup documentation.

Thanks for trying, and we're always available to help in the [Zulip development community](https://zulip.com/development-community/) if you decide to try the setup again.

[2022-07-01 10:40] maxxer commented on #5148
The current app behavior (27.188) is to silently fail

[2022-07-01 11:36] olof-sky commented on #5431
I might post the issue in the community later, maybe someone have a clue on what went wrong. Would be nice to help out with the development!

I'll comment here again and take the issue if i get it to work properly.

[2022-07-03 03:52] tobiasgrosser commented on #4576
I obverse the same issue on the zulip as a service cloud. If I had switched off my android phone and switch it on again, I get notifications for all conversations as they are pushed out by the network one by one. Can it be that these batches notifications cause the "read" notifications to pop up to late, such that each notification is shown at least for a moment?

[2022-07-04 19:11] shram-laabh commented on #5431
Hi Alya, Chris,
 I've raised PR to address this issue.
I've tested the same on my end on ios-simulator.
I'm not aware if any other tests are needed.

Kindly help me with review.

[2022-07-05 03:40] shram-laabh commented on #5431
@zulipbot claim

[2022-07-05 19:38] gnprice opened #5434 "Handle event-vs-fetch races soundly"
For almost every kind of data we get from the Zulip server, we use the Zulip event system to maintain an up-to-date snapshot where all of the data is internally consistent with all the rest. (For background on this, see https://github.com/zulip/zulip-mobile/blob/main/docs/architecture/realtime.md and https://zulip.readthedocs.io/en/latest/subsystems/events-system.html .)

The major exception is th

[2022-07-06 17:33] gnprice commented on #4600
Oops, we ended up duplicating this issue as #5361.

I think that one has wound up with more things linking to it, so I'll close this one as a duplicate in favor of that one.

[2022-07-06 17:33] #4600 closed

[2022-07-06 17:37] gnprice commented on #5361
(The server side of the feature was merged a few months ago as https://github.com/zulip/zulip/pull/21252 , after the API feedback we got from Wesley's #4790. The web/desktop client side is still pending, or at least the client UI for actually marking things unread is still pending, but having the server side means the API is committed and makes it possible to merge client implementations.)

[2022-07-07 18:44] alya commented on #4576
@gnprice @chrisbobbe FYI

[2022-07-08 17:34] #5431 closed

[2022-07-13 19:42] chrisbobbe commented on #3881
I've picked this back up again, [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M3881.20Sending.20outbox.20messages.20is.20fraught.20with.20issues/near/1403987).

[2022-07-13 23:07] gnprice commented on #5424
As a quick pointer: the existing code for these screens lives in `src/main/StreamTabsScreen.js` and the two components `SubscriptionsCard` and `StreamListCard` that it invokes.

[2022-07-19 22:06] #5424 closed

[2022-07-20 22:10] alya opened #5445 "Replace "Unavailable" status with "Invisible" mode"
To align with the removal/replacement of the "Unavailable" status in the web app in https://github.com/zulip/zulip/issues/21178, we should replace the "Set yourself to away" option in the user's personal profile with an "Invisible mode" toggle. This toggle should control whether or not the user's presence is [being shared](https://chat.zulip.org/help/status-and-availability#disable-updating-availa

[2022-07-21 18:07] chrisbobbe commented on #3881
Here's our latest state diagram, from [discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M3881.20Sending.20outbox.20messages.20is.20fraught.20with.20issues/near/1405739):

[code]

[2022-07-21 19:06] #4111 closed

[2022-07-22 19:10] alya opened #5448 "Rename "Conversations" to "Private messages" (tablet UI)"
The tablet mobile UI shows names of tabs in the bottom shortcut bar:

![179893547-04eaa273-9809-4da9-905f-ea03c8c040a7](https://user-images.githubusercontent.com/2090066/180507348-174eca08-fb7f-4370-a05b-8f36ca88701e.png)

As [discussed on CZO](https://chat.zulip.org/#narrow/stream/48-mobile/topic/.22conversations.22.20tab/near/1407736), we should rename "Conversations" to "Private messages" for c

[2022-07-22 20:52] Jcruz525 commented on #5448
I would like to work on this issue!

[2022-07-22 20:53] chrisbobbe commented on #5448
Thanks, @Jcruz525! I've just assigned it to you.

[2022-07-22 21:14] gnprice commented on #3656
We've heard this feature request again, [in this chat thread](https://chat.zulip.org/#narrow/stream/48-mobile/topic/stream.20members/near/1408775).

Design discussion in that thread too.

[2022-07-22 21:17] Jcruz525 commented on #5448
Hello, @chrisbobbe could you possibly help me navigate to where the file is located. I am relatively new to contributing and I am having trouble finding the file mentioned in the original comment.

[2022-07-22 21:26] chrisbobbe commented on #5448
Sure! You should start with setting up a development environment using our [guide](https://github.com/zulip/zulip-mobile/blob/main/docs/developer-guide.md). Please let us know if you run into problems with that, in the #mobile stream in the [Zulip development community](https://zulip.com/development-community/). (That's a better place than GitHub for any complicated debugging discussions.)

The "C

[2022-07-22 21:30] Jcruz525 commented on #5448
Thanks @chrisbobbe

[2022-07-23 01:32] dootMaster commented on #5303
someone should close this; the icon has been updated.

[2022-07-23 05:24] fjorn-x commented on #5448
Hello, I would like to work on this issue

[2022-07-23 18:51] dootMaster commented on #5448
Hi all, I'd like to work on this if there's still space.

[2022-07-23 18:53] dootMaster commented on #5303
Hi, I'd like to help out on this issue.

[2022-07-25 13:12] rohinish404 commented on #5448
i'd like to know if the issue is still there. I think i can work on this.

[2022-07-25 20:31] #5361 closed

[2022-07-26 05:52] alya opened #5450 "Improve "Add subscribers" UI"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/48-mobile/topic/stream.20members), we should make the following improvements to the "Add subscribers" UI:

- [ ] The list of users should be ordered purely alphabetically, not grouped by availability.
- [ ] Current stream subscribers should be excluded from the list.

[2022-07-26 05:58] alya commented on #3656
Reposting the specific plan from the above thread:

@gnprice  [said](https://chat.zulip.org/#narrow/stream/48-mobile/topic/stream.20members/near/1409012):
One plan would be:
* On the stream info page, a button "Subscribers".
* That takes you to a "Subscribers" page.
* The subscribers page (a) lists the existing subscribers, and (b) has a button "Add subscribers", if you have permission to do so.
*

[2022-07-26 09:55] pratyaksh1610 commented on #5448
@chrisbobbe Actually I started working on this issue when it was mentioned right away, this is my first contributiom so I was not aware about getting assigned.
I have raised a PR for the same.
.
.
Thankyou
Pratyaksh

[2022-07-26 20:10] alya commented on #5303
@dootMaster great! Please post a comment describing your proposed approach when you're ready. We can assign the issue to you once you [have a rough plan](https://zulip.readthedocs.io/en/latest/overview/contributing.html#picking-an-issue-to-work-on). Thanks!

[2022-07-27 01:01] gnprice commented on #5365
This makes sense to me as an issue for someone to take on.

One detail for the implementation: I think probably the behavior should be that when the user chooses to do this, we should ask the server to apply the change to all the messages in the topic (rather than try to make it only the messages after a certain point.) That's because in this UI flow, there doesn't seem to be a good way to have th

[2022-07-27 01:06] gnprice commented on #5165
See also #4828 and #5365, which overlap with different parts of this.

[2022-07-27 01:11] gnprice commented on #5127
Thanks @Nadrieril for the feedback! I agree this would be an improvement:

For anyone looking to take this issue on: there are existing data structures describing the user's recent PM conversations, so we can reuse those. See the existing `PmConversationsScreen` for an example.

[2022-07-27 06:52] alya commented on #5365
@gnprice would it be best to wait for https://github.com/zulip/zulip/issues/21739 to be completed, or do you think it's OK to pick this up now?

[2022-07-27 17:41] gnprice commented on #3898
See also https://github.com/zulip/zulip/issues/21739 --- the underlying semantics will be changing sometime soon.

[2022-07-27 17:42] gnprice commented on #5365
I think it's OK to pick this up for now, and we can just be conservative about when to show the option: for example, only show it when the user is at least an admin. That should cover a good fraction of the times that people want this feature.

Then after https://github.com/zulip/zulip/issues/21739 is done, and/or https://github.com/zulip/zulip-mobile/issues/3898 , we can adjust the logic so it mo

[2022-07-27 21:16] gnprice opened #5453 "Target Android 13 (set targetSdkVersion to 33), by 2023-10 deadline"
This is the successor to #5101 (and an annual series of previous issues linked there.) We should update our `targetSdkVersion` to 33, meaning Android 13.

Based on [past experience](https://support.google.com/googleplay/android-developer/answer/11926878), Google will probably set a deadline for this of late 2023. It's been the first business day of November in each of the last few years.

The impo

[2022-07-27 21:24] gnprice commented on #5453
Here's one task we'll do as part of this upgrade, in the Play Console. I don't think any of the other work for the upgrade needs to block on it; just noting it here so we have the information handy when it comes up.

That's a warning I get when I make a release in the Play Console today.

It doesn't seem to appear in the [list of changes](https://developer.android.com/about/versions/13/behavior-ch

[2022-07-28 05:27] fuzunspm commented on #3277
Any news about this? It basically kills work flow and very important feature

[2022-07-28 05:32] fuzunspm commented on #4822
Any progress?

[2022-07-28 17:35] chrisbobbe commented on #5306
Here's a description of an algorithm to implement, on [CZO](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M5306.20Follow.20.2Fnear.2F.20links.20through.20topic.20moves.2Frenames/near/1407930):

with

[2022-07-28 18:03] alya commented on #4822
No updates here, thanks for checking!

[2022-07-28 20:58] dootMaster commented on #5303
@alya Currently reading the docs and setting up the mobile dev environment.  I recently finished my remote batch at The Recurse center and we relied on browser Zulip for the program. I'm excited to have a shot at contributing to the Zulip mobile repo.

[2022-07-30 23:52] dootMaster commented on #5303
@alya

Our goal is to change the icon of mobile Zulip's All Messages tab to be congruent with the icon that currently exists in the browser Zulip app.

- My investigation into the codebase shows me that `HomeScreen.js` contains a button component titled `TopTabButton`.
- `TopTabButton` accepts a string property `name` that is passed into another component titled `Icon`.
- The `Icon` component is s

[2022-08-01 21:09] chrisbobbe commented on #3372
In particular, I think, we'd want to get #5208 done, or else this will seem like a buggy experience, I think.

We've just had another report of this in a Play Store review: https://chat.zulip.org/#narrow/stream/48-mobile/topic/appfollow/near/1413737

[2022-08-01 22:24] chrisbobbe commented on #5303
Sounds good, thanks, @dootMaster! I've just assigned this issue to you.

[2022-08-02 02:08] dizzyjaguar commented on #5423
I'm going to start working on this!

[2022-08-02 22:37] gnprice commented on #4011
Thanks for the feature request! It looks like we ended up filing this again as #4969; consolidating there because that thread now has a few more details.

[2022-08-02 22:37] #4011 closed

[2022-08-02 22:42] gnprice commented on #2652
I don't think we've heard reports of this bug in several years, and it seems like a class of bug that we've since fixed several of. So I'm closing it as presumed fixed -- especially since back when it was originally reported, we attempted to reproduce and already couldn't then.

This category of issue is basically covered by #3408. More specifically: I don't think we've tended to have bugs where w

[2022-08-02 22:42] #2652 closed

[2022-08-02 23:05] gnprice commented on #4660
For how to go about resolving this issue:

At the Android level, there's a handy solution that @WesleyAC [found](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/pasting.20formatted.20text/near/1162528) in a Stack Overflow answer:

This works on Android >= M, which covers all the Android versions we support.

Then to apply that in Zulip:

* I think the ideal solution is that React Nativ

[2022-08-02 23:54] laz- commented on #438
Can confirm that this bug lives on... There is still no unread count on the ios icon

[2022-08-03 00:42] dootMaster commented on #5303
I've created a [draft pull request](https://github.com/zulip/zulip-mobile/pull/5456). I'll also post this in the code review stream on the chat.

[2022-08-03 23:38] rachelhyman commented on #5242
@zulipbot claim

[2022-08-03 23:48] chrisbobbe commented on #5242
Ah, yeah, perhaps we'll get back to doing that (or something like it) someday. 🙂 I've just assigned the issue to you; please let me know if you have any questions!

[2022-08-04 04:40] dootMaster commented on #5448
Hi @pratyaksh1610, I'm not part of Zulip dev but I've taken a look at your PR. I think your commit message could use some tidying up according to the guidelines established here in the [Commit Messages](https://zulip.readthedocs.io/en/latest/contributing/version-control.html#commit-messages) section of the Zulip docs. Let me know if you need any help, although the section provides some great examp

[2022-08-04 05:47] pratyaksh1610 commented on #5448
Hi @dootMaster , thankyou for helping me out. I saw the project history and changed the commit message accordingly , stating the name of the issue and the change that I have made. Do let me know where I can improve.
Thanks.

[2022-08-04 05:59] dootMaster commented on #5448
@pratyaksh1610
No problem, here to help. It looks like you're missing the commit message body and the formatting could be improved. These things are further explained in the doc I linked above.

[2022-08-04 06:58] pratyaksh1610 commented on #5448
PTAL @dootMaster

[2022-08-04 07:01] dootMaster commented on #5448
Nice work! @chrisbobbe

[2022-08-04 18:37] #5448 closed

[2022-08-05 03:19] rachelhyman commented on #5242
@chrisbobbe Is there a good way to trigger several notifications (apart from just waiting for them to roll in organically)?

[2022-08-05 17:27] chrisbobbe commented on #5242
Hmm, good question. We've thought about adding a feature for requesting a "test notification" from the server, so users can confirm on-demand that notifications are working. So far, we haven't picked up that work, though.

My go-to solution so far has been to send PMs between my main account on CZO (chat.zulip.org) and a test account I created there. The "test here" stream or a new private stream

[2022-08-08 14:34] ebecaf commented on #3656
I just created (and deleted) an issue for this. But I will paste it here as it's relevant.

As this has been a request since 2019, might I ask for an update on it? It seems like a good idea considering people may need to know who is in their current Stream, especially for privacy purposes.

Thank you

[2022-08-08 23:06] dootMaster commented on #3656
I'd like to pair/shadow the assignee of this issue.

[2022-08-10 03:56] gnprice commented on #5450
(In parallel with this, there's #3656 to add a UI for viewing the existing subscribers to a stream.)

[2022-08-10 07:59] namse opened #5463 "Tapping + button removes text draft"
When I put some text, then if I press + button, it removes text what I typed.

![image](https://user-images.githubusercontent.com/3580430/183847391-4ff542bb-8062-495b-ac29-d2209dec908f.jpeg)
I typed, then tap the + button,

![image](https://user-images.githubusercontent.com/3580430/183847456-a4d7ef50-fcc1-4e55-849e-10a666c73ec1.jpeg)

It's gone.

I hope keeping text draft even when I press + butto

[2022-08-11 19:10] chrisbobbe commented on #5362
#5382 is for using the new API.

[2022-08-12 19:48] rkurchin commented on #438
Recent (experimental) convert from Slack here...would also really love this feature to work!

[2022-08-15 11:02] daald opened #5466 "No browser found in android when trying to login"
On my Samsung Galaxy S10 I get a "no browser found" error when trying to login (server is chat.sac-uto.ch).

Phone is up-to-date:
Android 12
patchlevel May 1, 2022

Packages installed:
from the releases page: v27.189 https://github.com/zulip/zulip-mobile/releases/download/v27.189/app-arm64-v8a-release.apk

[2022-08-17 08:01] licaon-kter commented on #1270
The recipe is ready to be merged: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/11516

F-Droid awaits for this to be in: https://github.com/zulip/zulip-mobile/pull/5462

[2022-08-17 17:50] gnprice commented on #5466
Thanks @daald for the report! Glad it's now working for you.

Can you say a bit more about how you disabled Chrome? We've heard about an issue like this once before, and would love to better understand what's going on -- both to help the next person who sees it, and ideally so we can fix the problem entirely.

[2022-08-17 19:28] daald commented on #5466
Sure.
1. Long-press to Chrome in the launcher
2. press the (i)
3. on the bottom, there is a "disable" button, near "force stop" and "open"

This is to disable apps which are included in the firmware image, like youtube or spotify. if an app was installed through apk or a store, there is an "uninstall" button instead.

[2022-08-17 22:22] chrisbobbe commented on #1270
Thanks, @licaon-kter! Does this mean the build errors Greg discussed in https://github.com/zulip/zulip-mobile/issues/1270#issuecomment-1145476504 were resolved? I'm curious about that because I don't remember a PR going by that matches this description:

[2022-08-17 22:40] licaon-kter commented on #1270
This issue has been open for the last 5 years? The way forward might sound nice, hope someone can make such a nice PR. In the mean time, if @linsui can add screenshots this is ready to be merged. Is this ok?

[2022-08-17 23:15] gnprice commented on #1270
Sure, if you have a build that works and that meets F-Droid's requirements for merging, then it's not a problem for us how you make it work.

The suggestion I made above was because the previous attempt was hitting build errors, and I offered a suggestion for how to handle them. Those build errors are all that @chrisbobbe was asking about. Based on the CI results on that thread https://gitlab.com/

[2022-08-18 00:06] gnprice commented on #5242
Updating this with what we've learned from @rachelhyman's investigation (in [chat thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Android.20rich.20notifications/near/1415672) and at #5459):
* It doesn't seem to be possible to get the behavior we originally hoped for: that tapping the summary notification -- outside the expando chevron in the corner -- would expand the notificat

[2022-08-23 00:22] alya commented on #1975
Another bump on this feature request: https://rust-lang.zulipchat.com/#narrow/stream/122653-zulip/topic/suggestions.20from.20.22moving.20implementors.20from.20Discord.22/near/292780374

[2022-08-24 08:17] laurynmm opened #5475 "Migrate to subscription update events with `is_muted` property"
In [Zulip 2.1.0](https://zulip.com/api/changelog#changes-in-zulip-21), the `is_muted` stream subscription property was added and replaced the `in_home_view` property. But the server had still only been sending [subscription update events](https://zulip.com/api/get-events#subscription-update) for the `in_home_view` property when a user muted/unmuted a subscribed stream.

In https://github.com/zulip

[2022-08-25 00:28] chrisbobbe commented on #5420
I think https://github.com/react-native-cameraroll/react-native-cameraroll/pull/355 is meant to fix this issue. It was released on Monday in v5.0.0.

[2022-08-25 18:53] chrisbobbe commented on #5463
Thanks for the report! I believe this is caused by the same bug as #5291:

and the planned fix for that bug (making the input permanently `multiline`, after #5141) will also fix this bug. Marking as high priority because this is such a frustrating bug for people who encounter it.

[2022-08-25 18:54] chrisbobbe commented on #5291
I'd like the first three commits of #5474 to be reviewed and merged before moving forward with #5141.

[2022-08-25 21:28] HaroldvanGarderen commented on #438
This seems so basic to all iOS apps that I’m a bit surprised by the lack if progress in 5!! years.

[2022-08-29 18:41] alya commented on #5445
This issue is ready to be worked on; @laurynmm is planning on picking up the corresponding webapp issue.

[2022-08-29 21:02] gnprice commented on #1270
And I see https://gitlab.com/fdroid/fdroiddata/-/merge_requests/11516 has been merged! Thansk to @linsui and everyone else who contributed.

Are there any other steps remaining which this issue can help track, or should it be closed?

[2022-08-31 21:28] gnprice commented on #5102
Cross-linking some work so far on this issue: #5100, #5192, #5218. Copying from the description of that last PR:

[2022-08-31 21:37] gnprice commented on #5102
I think the next step here is to develop a PR that has us refuse to connect to a server older than 2.0.

That's quite a bit looser than the range we actually say we support, and will affect a very small fraction of users, keeping the risk quite small. It will also already let us start making many of the cleanups mentioned above.

After that's been out in a release and nothing's gone wrong, we can

[2022-09-01 17:26] gnprice commented on #5364
The version on web currently only supports the latter, so it's possible that's how it'll end up. Either way, we should match.

[2022-09-01 17:49] gnprice commented on #5364
We don't currently have a banner like this. We discussed a bit and concluded this issue will be fine without it -- when you've just marked something as unread, the fact that the screen doesn't immediately mark things read again should be intuitive enough.

We probably should have a banner to this effect for the sake of search and @-mention views. (Should file a separate issue for that.) When we do

[2022-09-02 22:58] #5241 closed

[2022-09-06 10:27] devurandom commented on #3838
In case you need more recent transition examples: [Tusky](https://github.com/tuskyapp/Tusky/pull/2303) (Mastodon) and [Element](https://github.com/vector-im/element-android/pull/6228) (Matrix) recently started to offer UnifiedPush support.

At least [Element provides it in both their Google Play and F-Droid versions and allows you to switch at runtime](https://github.com/vector-im/element-android/

[2022-09-06 22:36] #1270 closed

[2022-09-06 22:39] gnprice commented on #1270
Hearing none, I've let the issue be closed by @Poussinou's #5481 just now, which added a link in our README to the F-Droid page for the app. Thanks again, everyone :slightly_smiling_face:

If further issues come up which would be good to address or track in this repo, please don't hesitate to file a new issue or PR as usual.

[2022-09-06 22:42] Be-ing commented on #1270
https://zulip.com/apps/android could be updated to link to F-Droid as well

[2022-09-07 06:41] alya commented on #5445
CZO discussion regarding the migration process: https://chat.zulip.org/#narrow/stream/2-general/topic/.22unavailable.22.20status/near/1431122

[2022-09-08 01:33] gnprice commented on #5364
I looked into this and found that the existing server API doesn't provide a clean way to reliably implement the feature. @timabbott then found that in fact the web implementation has a bug here. Other aspects of the web app should make the bug somewhat uncommon to trigger, but if we were to do the same thing in mobile as in web, the same bug would show up fairly often.

So I think we're going to a

[2022-09-08 23:22] gnprice commented on #5364
https://github.com/zulip/zulip/issues/22893 tracks that API change mentioned above, which this is blocking on.

[2022-09-09 00:22] chrisbobbe opened #5484 "Android: Notifications not working after migrating to a new device"
Currently our [top item](https://play.google.com/console/u/0/developers/8060868091387311598/app/4976350040864490411/vitals/crashes/a8c2a3f3d98da1480610b55521cf3b87/details) in the Play Store Console's "Crashes and ANRs" list is an error with this stack trace:

[code]

Sentry also seems to be picking up this error; here's the [Sentry issue](https://sentry.io/organizations/zulip/issues/3034088599/?p

[2022-09-13 13:08] namse opened #5486 "Topic autocomplete missing part of touch target on iOS"
Hi. Very recently when I tab the topic, it just ignores my input.

https://user-images.githubusercontent.com/3580430/189909332-9ae3b1b7-92c6-46ae-918c-0b90feade433.MOV

I'm not sure why it happened.

[2022-09-13 13:14] namse commented on #5486
I found that it only happened when I click left side of topics. I guess maybe resolved mark area makes some trouble.
 ![image](https://user-images.githubusercontent.com/3580430/189910608-ed85915b-fcde-459f-b657-05071b28531c.jpeg)

[2022-09-14 06:20] h2o-Noob opened #5487 "On welcome page, Provide a link to redirect user to create an organisation."
On welcome page where user is asked to enter a zulip organisation url.

<img width="341" alt="Screenshot 2022-09-14 at 11 45 44 AM" src="https://user-images.githubusercontent.com/85777684/190074964-b85074dd-f1d5-4bf7-a25f-60688fc32749.png">

If the user does'nt have any existing zulip organisation, He should be provided with a link to redirect him/her to zulip website where he/she can create an or

[2022-09-14 06:20] h2o-Noob commented on #5487
working on this issue.

[2022-09-15 13:12] gnprice opened #5490 "Have data ready on app startup"
# The problem

We frequently discard and re-fetch from scratch almost all the data from the server: the list of streams and their names, colors, etc., the list of other users and their names, avatars, etc., how many unread messages the user has and where, etc., etc.

Specifically, we do this
 * (a) each time the app starts up when not already running;
 * (b) each time the user switches from one ac

[2022-09-15 23:28] chrisbobbe commented on #4009
For explicitness, I think the task is to change the current "Night mode" switch on the settings screen, so that it's called "Theme" (or similar) and lets the user choose among these three options (naming TBD):
- Light
- Dark
- Follow OS

And to rewire our Redux logic for this setting, and also use that bit of React Native API Greg mentioned, so the setting works as expected.

[2022-09-15 23:43] chrisbobbe commented on #5487
Good idea. 🙂

Perhaps we should have two links: one for people who want to make a new Zulip Cloud org, and one for people who want to set up a self-hosted org.

Or maybe there's a single page that presents both options, perhaps with some guidance for people who don't know which to choose.

@alya, thoughts? 🙂

[2022-09-16 08:59] JoeyPriceless commented on #5487
@chrisbobbe So this is how the view looks on desktop (and I'm assuming web). Perhaps the mobile version should mirror this?

I agree that maybe there should be some guidance regarding cloud hosting and self hosting but it seems unlikely that someone who's interested in self hosting would try to setup their org through the mobile app.

![image](https://user-images.githubusercontent.com/8920712/1905

[2022-09-16 23:06] alya commented on #5487
Yeah, I think something similar to the Desktop app (styled appropriately for the mobile app context) would be fine. So some version of:

--- or ----
[Create a new organization]

I agree that  folks are unlikely to start setting up self-hosting by installing the mobile app. :)

[2022-09-21 02:09] mohsinka commented on #2178
@gnprice what did you do differently that made the HEIC image readable, did you fix it on the backend or compressed it on iOS?

[2022-09-22 22:27] alya opened #5494 "Make streams expandable/collapsible in Streams panel"
In preparation for the mobile app redesign, we should implement the following functionality for the Streams panel:

1. Each stream should be expandable/collapsible within the panel, similarly to #5423. Clicking on the stream name should expand/collapse it.
2. When a stream is expanded, we should use the logic used in the left sidebar of the webapp to decide how many topics to show.
3. An expanded

[2022-09-22 22:52] alya opened #5495 "Create a "Users" panel"
In preparation for the mobile app redesign, we should create a "Users" panel, similar to the right sidebar of the webapp.

Heading: Users
Icon: The people icon currently used for PMs. The PMs screen should use an envelope icon instead. This icon should be added to the bottom shortcut bar, to the right of PMs.

- Following the webapp, users should be sorted by availability, and alphabetically withi

[2022-09-22 23:16] alya commented on #4851
We have decided to take a different approach to navigation, so closing out this one.

[2022-09-22 23:16] #4851 closed

[2022-09-22 23:46] timabbott commented on #5364
As noted in https://github.com/zulip/zulip/issues/22893#issuecomment-1255663659, we've been able to figure out how to unblock merging the feature in the webapp without that API being ready quite yet (basically, we don't offer the option in situations where it's behavior would be incorrect). That same strategy could be an option for mobile to get the feature mostly working in a beta channel to get

[2022-09-23 18:57] alya opened #5497 "Create navigation menu"
As part of the mobile redesign project, we should create a navigation menu with the following structure:

1. Header: Org logo and name
2. Search bar (for general search)
3. Navigation options (in order):
- Inbox
- All messages
- `@`-mentions
- Starred messages
[extra vertical spacing]
- Private messages
- Streams
4. Your profile [goes to the current avatar menu]
5. Settings
6. "Log out" and "Switc

[2022-09-23 18:57] alya commented on #5497
If the search bar requires significant extra work, we can break it out into a separate follow-up issue.

[2022-09-23 19:01] alya opened #5498 "Organization name in navigation menu should open account switcher"
Following up on #5497, we should make clicking on the organization name in the header open an account switcher menu.

[2022-09-23 19:06] alya opened #5499 "Show message counts in navigation menu"
Following up on #5497, we should show message counts in the navigation menu.

Inbox, all messages, @-mentions, private messages: show number of unreads
Starred messages, drafts (after #4867): total number of messages

Note: We may need to experiment to see if showing the same count on Inbox and All messages works, or if we should just do it in one place.

[2022-09-23 19:10] alya opened #5500 "Add button to set status to navigation menu"
Following up on #5497, we should add a button for setting the user's status to the "Your profile" line of the menu. The current status should be shown if set.

[2022-09-23 19:26] alya opened #5501 "Replace top shortcut bar with app bar in Inbox view"
Following up on adding a navigation menu in #5497, we should:

1. Add `@`-mentions to the bottom navigation bar (between Inbox and Streams).
2. Replace the top nav bar in the Inbox view with an app bar.
  - Heading: Inbox
  - The nav bar should include the search button.

[2022-09-23 19:51] alya commented on #5445
The server/webapp work on this issue has been completed! API documentation is up to date.

[2022-09-23 21:15] chrisbobbe commented on #4538
Fixed in cb21798373009ffdea8f5f22322e4b4eb8a27e1a.

[2022-09-23 21:15] #4538 closed

[2022-09-23 21:30] gnprice commented on #5475
Thanks for that cleanup to the API!

I think the implementation of this for us won't require any conditioning on the server version or feature level: we'll just accept the `in_home_view` version of the event as well as the old `is_muted` version, and we'll translate appropriately where we handle the event in `subscriptionsReducer.js`.

Currently that means translating an event changing `in_home_vi

[2022-09-24 06:36] wurst-hans opened #5502 "Broken profile icons for bots without using gravatar"
Due to privacy, we have disabled Gravatar on our self-hosted Zulip installation. Using Zulip in webbrowser the Welcome Bot is displayed using a fallback image like

![zulip-web](https://user-images.githubusercontent.com/56444979/192083656-ac3f6b12-2c3c-46cd-92f7-7084b2c26296.jpg)

But on mobile (Android app V 27.191) the image for the Welcome Bot is totally broken

![Screenshot_20220923-191535](ht

[2022-09-24 06:43] wurst-hans opened #5503 "German text for button "Send group PM" is too long for portrait mode"
I'm using Android app V27.191 on a Google Pixel 6a with German language. The text for the button "Send group PM" in German is "Neue Gruppennachricht" which doesn't fit on the screen in portrait mode. So I see three options:

1) Use other label for this (ex. "Neue Gruppen-PN")
2) Make button width more dynamic (using a minimum width, but the button for "Send PM" could be more narrow in favor of "Se

[2022-09-24 11:30] Syed-Ansar commented on #5501
Hey @alya I would like to work on this issue. Can you guide me through this.

[2022-09-24 19:10] jossiwolf opened #5504 "[Android] Navigating back with gesture navigation opens action sheet"
Hi,

When navigating back from a stream using Android's back gesture navigation (swiping from an edge), the action sheet opens.
I suspect there might be a long press listener or incorrectly configured gesture detector that gets invoked here.

It's possible this is a React Native issue that should be filed upstream but I don't know enough about this :)

Seeing this on a Pixel 6 Pro on Android 13, p

[2022-09-26 01:59] manila commented on #5495
@zulipbot assign

[2022-09-26 02:00] manila commented on #5495
@zulipbot claim

[2022-09-26 08:27] alya commented on #5501
@Syed-Ansar you can start with our [contributor guide](https://github.com/zulip/zulip-mobile#contributing) and the [contributing guide for mobile apps](https://github.com/zulip/zulip-mobile#contributing). Please post a specific question when you get stuck.

[2022-09-26 09:40] laurynmm commented on #5475
Probably just a typo, but clarifying here that the `is_muted` event is new (as of feature level 139).

[2022-09-27 05:52] alya commented on #5503
Thanks for the report @wurst-hans!

The first solution seems simplest in this case. Would you be up for updating the translation on Transifex? Here's the guide to getting started: https://zulip.readthedocs.io/en/latest/translating/translating.html

[2022-09-27 10:21] tejask1730 commented on #5501
can i resolve the issue for you?

[2022-09-27 21:12] gnprice commented on #5502
Thanks @wurst-hans for the report!

Chat thread here, with some debugging: https://chat.zulip.org/#narrow/stream/48-mobile/topic/Broken.20profile.20icons.20for.20bots.20without.20using.20gravatar.20.23M5502/near/1441438

[2022-09-27 21:27] gnprice commented on #3624
Another user request for this recently:
https://chat.zulip.org/#narrow/stream/48-mobile/topic/.233624.20video.20upload/near/1436542

[2022-09-27 21:43] gnprice commented on #5497
Chat thread: https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/UI.20redesign.3A.20root.20level.20nav/near/1430491

I believe @terpimost plans to post here on this issue thread a design for the menu. The general idea is that it'll be a modal that covers the bulk of the screen.

[2022-09-27 22:25] gnprice commented on #2178
@mohsinka You can see the fix in the PR #2977 that closed the issue. The diagnosis was the one by @zbenjamin above: https://github.com/zulip/zulip-mobile/issues/2178#issuecomment-421467317 We were already uploading a JPEG file, and just needed to fix the filename to reflect that, because the Zulip server infers the intended format from the filename.

[2022-09-27 22:41] gnprice commented on #5504
Thanks @jossiwolf for the report! I've actually been seeing this a version of this myself for a while now, and have kept meaning to file an issue for it -- so thank you for doing so and for the helpful screen capture :-)

There's actually an intriguing difference between the symptoms you're seeing and the ones I've been seeing, though:
* In your video, it looks like you get the action sheet, but n

[2022-09-27 22:45] gnprice commented on #5475
Ah yes, thanks -- I had the two names swapped throughout that comment, it looks like. I'll edit it now to fix.

[2022-09-27 23:03] gnprice commented on #5486
Thanks @namse for the report!

I reproduce the issue. Specifically:
* I see this on iOS (an iPhone 7 running iOS 15.6.1), but not on Android (a Pixel 4 running Android 12.)
* The symptom is: when I try to select a topic from that autocomplete popup by tapping somewhere near its left edge -- in about the region indicated by the red box in your comment -- it doesn't work. Instead, it behaves as if I

[2022-09-27 23:16] gnprice commented on #5486
OK, and with some further testing:
* I reproduce the issue on v27.191, the latest.
* I *don't* reproduce the issue on v27.190, the previous version.

We sent v27.191 to all users on 2022-09-08, a few days before this issue was filed. So that fits very neatly with the mention of it happening "very recently".

@chrisbobbe would you take a look at debugging this? I think the next step is to bisect to

[2022-09-28 08:56] jossiwolf commented on #5504
Great observations! Navigating back actually works - I just cancelled the gesture to show that the sheet still gets shown. I'm seeing the same though; regardless of whether the gesture is completed and the back stack popped or the gesture is cancelled and the back stack not modified.

That's right! The recording shows performing a gesture and completing it. This is the correct behavior as the shee

[2022-09-28 09:04] maltokyo commented on #3945
My users always complain about this one...

[2022-09-28 09:10] maltokyo commented on #1975
Enable "Quote Reply" in the mobile Zulip app is now one of the biggest requests from my users too.  One of their recent posts:

"The world is telling us Mobile First, but in Zulip we have to regress to the desktop?  What is wrong with a long click or swipe context menu that enables us to quote reply, with some other options too"

Thank you for considering

[2022-09-28 15:13] IzzySoft commented on #1270
Congrats to your listing at F-Droid! As the link in the Readme already points there, I'll now remove the armeabi build from my repo to avoid confusion ([see here](https://gitlab.com/IzzyOnDroid/repo/-/wikis/FAQ) for some background). Should you want it back for some reason, just drop me a note to restore it.

[2022-09-28 16:11] chrisbobbe commented on #5486
It appears that the react-native-gesture-handler upgrade in that commit was a factor, by changing React Navigation's behavior so that it closes the keyboard for the swipe-right-to-go-back gesture at the moment you press the screen, instead of when you actually start swiping.

I expect a fix in [@react-navigation/stack 6.1.0](https://github.com/react-navigation/react-navigation/releases/tag/%40reac

[2022-09-29 13:23] terpimost opened #5511 "UI redesign: message content layout"
This issue is about new message content layout, not colors, not any other functionality.
I don't know how exactly mobile message look detached from the web or if it is the same css but for different media query.
If web app would have the same layout of message on mobile that would be great.
All sizes are in 100% scale (no high definition), so my px would be `points` in iOS and `dp` in android I gu

[2022-09-30 12:48] RealHarshAgarwal1 commented on #3624
Hey everyone I'm new to open-source can anyone guide me on how I can get started I just searched good first issue and got here I also forked zulip mobile repo

[2022-09-30 13:41] terpimost opened #5512 "UI redesign: users screen"
This issues is about the new design of #5495

[Figma area](https://www.figma.com/file/1JTNtYo9memgW7vV6d0ygq/Zulip-Mobile?node-id=544%3A21945)
![image](https://user-images.githubusercontent.com/1903309/193276188-4fd2f698-30b8-4cd2-b94f-8d62ad979627.png)

## Icons
Majority of icons for web and mobile app are from Feather or Google or customized. For mobile app they are usually 24px size.
I will col

[2022-10-01 05:38] alya commented on #3624
Welcome @RealHarshAgarwal1 ! Please go through the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/contributing/contributing.html), as well as the mobile-specific instructions at https://github.com/zulip/zulip-mobile#contributing.

[2022-10-02 02:09] terpimost opened #5513 "UI redesign: main navigation menu"
Main navigation menu represented as a bottom bar of actions (looks like tabs). By default we can fit 6 actions without visual labels.
These actions are shortcuts to the open list of root level sections (right side menu button opens it).
In future there might be a feature to allow user to pick which links should be displayed in the bottom bar.

## Transition
Menu should slide from the bottom over e

[2022-10-02 02:09] terpimost commented on #5497
Design clarifications https://github.com/zulip/zulip-mobile/issues/5513

[2022-10-05 01:05] daleshort commented on #5400
Hi - I'm interested in claiming this issue.  I can put forward some options tomorrow but do you already have a strong preference on how the email should be displayed?  My initial thoughts are it could be displayed as the first item in CustomProfileFields (but mixing custom profile fields with a default one may be confusing?) or displayed as centered text beneath the users name (but really want to

[2022-10-05 02:11] chrisbobbe commented on #5400
Let's reserve the `CustomProfileFields` component for the [custom profile fields](https://zulip.com/help/add-custom-profile-fields) feature.

[2022-10-05 04:09] Syed-Ansar commented on #5513
Hey @terpimost I would like to work can you assign this issue to me.

[2022-10-05 05:30] Syed-Ansar commented on #5487
Hey @alya I am interested to take up this issue and I wanted to claim it. Can you assign me this issue.

[2022-10-05 19:08] alya commented on #5487
@Syed-Ansar please post a comment describing your proposed approach when you're ready. I can assign the issue to you once you [have a rough plan](https://zulip.readthedocs.io/en/latest/overview/contributing.html#picking-an-issue-to-work-on). Thanks!

[2022-10-05 19:22] alya opened #5514 "Improve how muted streams are displayed on Streams screen"
In the subscribed streams UI, we should make the following changes to how muted streams are displayed:

1. Show the stream's privacy icon, not a special "muted" icon. This will make it possible for the user to tell what the stream's privacy is, and we already convey the fact that the stream is muted with fading.
2. Sort muted streams at the bottom of their section.

These changes will also make th

[2022-10-05 22:39] daleshort commented on #5400
I realized the easiest way to answer my own question was to look at how the other zulip platforms handle it.  I'll make it match the desktop client and just put it beneath the name.

![Screen Shot 2022-10-05 at 6 36 49 PM](https://user-images.githubusercontent.com/11655234/194176528-0bc8d673-54b6-409b-b764-c62358f68470.png)

[2022-10-06 00:11] gnprice commented on #5009
We got a report today of what is probably this issue:
https://chat.zulip.org/#narrow/stream/48-mobile/topic/local.20cross-realm.20leakage.20issue/near/1444848

[2022-10-06 00:12] gnprice commented on #4446
Another issue with a similar flavor:
* #5009

[2022-10-06 01:42] daleshort commented on #5400
Sucess!
![Simulator Screen Shot - iPhone 13 - 2022-10-05 at 21 40 50](https://user-images.githubusercontent.com/11655234/194195460-c799d18d-ef66-4a3c-854b-b2df86ef6c3f.png)

[2022-10-06 01:45] daleshort commented on #5400
And here it is on a server with an admin only visibility policy
![Simulator Screen Shot - iPhone 13 - 2022-10-05 at 21 44 14](https://user-images.githubusercontent.com/11655234/194195801-19e0e2cc-6487-45b3-9038-2c9e9159c7b4.png)

[2022-10-06 02:22] daleshort commented on #5400
I have submitted PR #5515 for this.

Per #4889 the email address is not displayed if email address visibility policy is not set to "everyone"

[2022-10-06 03:02] daleshort commented on #5400
I'm having an error on the CI test but I think I have this fixed.

[2022-10-06 12:26] lzmartinico opened #5516 "Feature Request: Location Sharing widget"
Users should be able to share their location as part of a message, both in a stream or private conversation.
The MVP version of this would just take the coordinate of the user's current location and display them as an Open Street Map tile of some kind.
Additionally, it would be interesting to share live location updates. I am not aware of a modular open source service that implements this, but som

[2022-10-06 18:07] alya commented on #5516
Thanks for the interesting suggestion!

[2022-10-06 18:27] alya commented on #5400
Thanks! I noticed that #5515 is the PR, but appears to be closed. Let's make sure we have an open PR where we can discuss the details. Thanks!

[2022-10-06 18:36] daleshort commented on #5400
Oops you weren’t supposed to see that PR yet. 😉yeah it got late last night and I didn’t know I could put the PR back to Work In Progress so I closed it since I wanted to squash the commits and look at the CI tests tonight.

[2022-10-06 19:05] alya commented on #5400
Got it. I just think a PR or the [development community](https://zulip.com/development-community/) will be better for discussing the UI than the issue thread. Thanks!

[2022-10-07 00:08] gnprice opened #5517 "Handle new "Pronouns" custom profile field type"
In https://github.com/zulip/zulip/issues/21271 / PR https://github.com/zulip/zulip/pull/23135, we're adding a new value for the `type` of a custom profile field, namely the value 8, meaning "Pronouns".

Existing clients will silently (except a Sentry warning) drop a custom profile field that has a type they don't recognize. We should recognize this new type of field, and display them.

We'll displ

[2022-10-07 02:27] daleshort commented on #5400
PR #5515 is ready

[2022-10-07 02:50] mym0404 commented on #4051
Thank you for detailed tracking.

I suffered this issue recently because of conditional(if-else) rendering of `WebView` in my RN project.
RN 0.70.1
[RNWebView](https://github.com/react-native-webview/react-native-webview) 11.18.1

Yup, it was an Android Q(10) issue.

My WebView use `injectJavaScript` imperative method of RN webview that eventually call [this](https://github.com/react-native-webvie

[2022-10-07 08:00] chrisbobbe opened #5518 "Fail early (and tell user) on a message-link tap when the URL doesn't parse"
Like a toast saying "Link is invalid: ${url}".

We hope to do this just after #5492 settles.

[2022-10-07 23:12] gnprice opened #5520 "Upgrade to Node v18"
The successor to #4263.

Node 18 was released 2022-04-19. It will shortly (2022-10-25) be the "active LTS", and will be supported until 2025-04-30. See schedule: https://github.com/nodejs/Release#readme

[2022-10-07 23:17] gnprice commented on #5520
I'm now running Node 18 on my desktop. I've run into one issue so far -- `react-native start` fails with the following error:
[code]

See this SO question, with several answers: https://stackoverflow.com/questions/69394632/webpack-build-failing-with-err-ossl-evp-unsupported and in particular [this answer](https://stackoverflow.com/questions/69394632/webpack-build-failing-with-err-ossl-evp-unsuppor

[2022-10-07 23:24] #5363 closed

[2022-10-08 00:12] #5306 closed

[2022-10-08 07:34] Syed-Ansar commented on #5514
Hey @alya @chrisbobbe I have proposed the solution in the [CZO discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/streams.20list/near/1444468). Please review once so that I can raise PR for it.

[2022-10-08 09:27] Syed-Ansar commented on #5487
Hey @alya I have 2 approaches

1. We can create a button and redirect to web app.
2. Create a new screen for the in app registration by verifying the E-mail and creating new Organisation.

I would be very happy to work on any of the above proposal. Thank you.

[2022-10-09 10:18] adetyaz commented on #5512
Hello, I'd like to know I can work on this, I'm from the outreachy internship programme.

[2022-10-11 08:51] Jcruz525 commented on #5448
I tried to make a pull request but it didn’t work … you can take it over if
they assign it to you!

On Sat, Jul 23, 2022 at 1:25 AM Hamza Shaikh ***@***.***>
wrote:

[2022-10-11 22:27] alya commented on #5448
@Jcruz525 , @siddoinghisjob , as you can see from the issue status, it has already been resolved.

[2022-10-12 05:07] alya commented on #5512
@adetyaz  As noted in the [contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html), please choose an issue with the "help wanted" label, and follow the instructions for claiming an isssue.

[2022-10-12 23:46] gnprice commented on #2612
We've had a user request in this area: [chat thread](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Default.20language.20settings/near/1447147).

For anyone interested in picking this issue up, here's the implementation discussion from that previous thread in 2021:

[2022-10-14 02:49] daleshort commented on #5494
I don't know if I'm at the point of claiming this yet but I've been looking at it.

[2022-10-14 17:28] #5517 closed

[2022-10-17 02:29] daleshort commented on #5494
I've made some progress on this and I'm ready to claim it assuming completing a PR in the next week or two would be ok.

[2022-10-17 17:23] BigHeadCreations commented on #4009
Hey there @chrisbobbe and @gnprice, I'll take a shot at this Issue.

[2022-10-17 22:33] alya commented on #5494
Sound great! Assigning the issue to you.

[2022-10-18 05:09] chrisbobbe commented on #4009
Great, thanks! I see you've started a [discussion on CZO](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Dark.20mode.20preference/near/1451399); thanks! 🙂

[2022-10-19 12:54] Seundede commented on #5495
@alya can I work on this?

[2022-10-19 15:08] alya commented on #5495
@Seundede Sure, you can start by reviewing the open PR #5506 and leaving suggestions. Thanks!

[2022-10-19 17:09] #5367 closed

[2022-10-20 03:30] chrisbobbe commented on #5141
As discussed in our meeting on 2022-10-05, I'm marking this as blocked on @alya considering this with the mobile redesign in mind.

It's a priority especially because it's in our plan toward fixing #M5463, a really annoying bug; see https://github.com/zulip/zulip-mobile/issues/5463#issuecomment-1227641703.

[2022-10-20 03:31] chrisbobbe commented on #5463
We got another report of this: https://chat.zulip.org/#narrow/stream/48-mobile/topic/appfollow/near/1452309

[2022-10-20 13:59] shreyanjoshi opened #5525 "Messages sent once get received multiple times."
In group chats, the receivers are getting the same sent messages repeated for some reason. Please fix this!

[2022-10-20 14:05] shreyanjoshi opened #5526 "Sent images include file extension in link text"
It shows the file format of the images for no reason

[2022-10-20 18:54] alya commented on #5525
@shreyanjoshi Could you please provide more details? Is everyone seeing the message multiple times? Is it possible the sender has a bad connection when this happens (which is a known issue)?

[2022-10-20 21:49] alya opened #5528 "Align message content deletion experience with web app"
We should make two changes to make the mobile app message deletion experience consistent with the web app and https://zulip.com/help/edit-or-delete-a-message#delete-a-message. Specifically, we should only use "Delete message" to refer to fully removing the message, rather than deleting message content.

We should:

- [ ] Drop the "Delete message" option from the menu for your own messages. (Once #

[2022-10-20 21:50] gnprice commented on #4701
Revisiting this: I think we can go ahead with this feature without blocking on #3898, i.e. on sharing the permissions logic from the webapp.

In particular, looking at what that logic says ([`get_deletability`](https://github.com/zulip/zulip/blob/6266954229d8f3f33c3012e314ea9428ef6c80d9/static/js/message_edit.js#L158-L186)):
* If you're an admin, you have permission.
* Otherwise, if you didn't sen

[2022-10-20 21:56] gnprice commented on #5528
An implementation note for this part:

What's happening here is that for editing a message we re-use the UI (in `ComposeBox`) for composing and sending one. When you're composing a message to send, we keep the "send" button grayed out when the input is empty, for good reason. The same logic currently affects editing too, but we should change it so that when you're editing, an empty input is accept

[2022-10-20 22:02] gnprice commented on #4701
I guess to get the UX correct here, the natural sequence will be to do #5528 first, which makes some other changes to the "delete a message" experience.

So, marking this issue as blocked on #5528. But that issue is quite tractable, and is a "help wanted" issue. So for anyone interested in taking on this issue, please just start by doing that one :slightly_smiling_face:

[2022-10-20 23:44] dizzyjaguar commented on #5494
I believe the changes in pull request https://github.com/zulip/zulip-mobile/pull/5467 should cover the collapsible part. It includes a prop that will make the `StreamItem` collapsible if desired. The only thing missing that doesn't overlap with the requested changes here is the `SHOW MORE TOPICS` button

[2022-10-21 08:08] ruchitarpatil001 commented on #5169
@alya can you assign this issue to me

[2022-10-21 08:11] rutujapate commented on #5038
@alya can you assign this issue to me

[2022-10-21 17:12] alya commented on #5038
@rutujapate Please start by reviewing the attached PR and commenting on whether it looks good or if any changes should be made.

[2022-10-21 17:14] alya commented on #4009
Does resolving this issue also solve #5169?

[2022-10-21 20:21] gnprice commented on #4009
Yep, it does.

[2022-10-23 01:05] daleshort commented on #5494
Looking for some guidance but I'll move that to the chat here: https://chat.zulip.org/#narrow/stream/48-mobile/topic/Collapsible.20Streams/near/1454210

[2022-10-23 08:07] uselpa commented on #438
Currently evaluating Zulip. Absence of decent support for iOS is a show stopper for every company.

[2022-10-24 06:09] alya commented on #5169
I removed the "good first issue" and "help wanted" labels, as we expect this issue to be solved via solving #4009.

@BigHeadCreations thanks for your work on this! I recommend finding another issue to pick up.

[2022-10-24 14:54] chrisbobbe commented on #5445
Great! 🙂 I've posted some questions on CZO [here](https://chat.zulip.org/#narrow/stream/2-general/topic/.22unavailable.22.20status/near/1454517).

[2022-10-28 03:40] chrisbobbe commented on #4136
We've just heard another report of this issue, from a user by email.

[2022-10-28 03:46] chrisbobbe commented on #4136
Quoting from the linked commit:

But since 74e1418a0b647d0e01f29df6b01823103906000d, we're not using `SafariView`. If we remove the `encodeURI` call in the current code—

[code]

—and we find we don't crash when `url` has a non-ASCII character, would we have a good fix?

[2022-10-28 05:29] chrisbobbe commented on #4136
Hmm, well I didn't get a crash but there's still a bug.

With this change:

[code]

, when I tapped a link with `href` "https://en.wiktionary.org/wiki/þ", the in-app browser didn't open, and a second later I got this in the console:

[code]

which is a match for the issue, #3315, that the `encodeURI` was meant to fix.

[2022-10-28 05:34] chrisbobbe commented on #4136
So we're back to this as the thing to try:

I'm nervous about selectively encoding some things and not others, and it looks like I had the same thought in a [comment](https://github.com/zulip/zulip-mobile/issues/4146#issuecomment-643001092) a few years ago.

[2022-10-28 06:22] chrisbobbe commented on #5518
Hmm, I think this might interfere with our planned fix for #4136.

I [expect](https://github.com/zulip/zulip-mobile/issues/4146#issuecomment-643001092) that a link that's gone through the URL parser will be URL encoded, and our current [plan](https://github.com/zulip/zulip-mobile/issues/4136#issuecomment-1294480513) for #4136 is to do something different from the standard URL encoding:

This makes

[2022-10-31 19:36] #5400 closed

[2022-11-02 17:52] chrisbobbe commented on #5303
Sure, I see the current PR #5471 has been awaiting a revision for some time, but it looks like we have a proposed implementation; see https://github.com/zulip/zulip-mobile/pull/5471#issuecomment-1230861599. You can try doing that.

[2022-11-03 00:31] dootMaster commented on #5303
Hi, things got a little busy for me. The revision is done; I've created a PR awaiting review.

[2022-11-03 02:26] #3312 closed

[2022-11-03 19:32] alya commented on #5303
@dootMaster What's the right PR to look at? #5458? (I guess GitHub incorrectly show it as merged?)

[2022-11-03 21:00] dootMaster commented on #5303
@alya [#M5532](https://github.com/zulip/zulip-mobile/pull/5532). Yeah, GitHub is incorrectly showing the other as merged.

[2022-11-03 21:35] gnprice commented on #5169
We've just merged part of #5527, which was aimed at #4009. We didn't end up merging the main commit, because of an RN bug that came up. That RN bug means that solving #4009 will involve more complexity than we'd expected.

As a result, this is still open and good for someone to pick up.

We did in #5527, specifically 43acc4199, take care of part of this renaming. The remaining bits are:
* the stri

[2022-11-03 22:05] gnprice opened #5533 "Automatically follow user's OS-level dark/light preference, take 2"
This is a refresh of #4009. We've just discovered that our intended approach for solving that issue won't work (due to a bug in React Native) and we'll need something a bit more complex. That issue thread has gotten long, so making this fresh thread to describe the new status.

From a user perspective, the goal is:
* By default, the app will follow the user's OS-level setting to choose between dar

[2022-11-03 22:07] gnprice commented on #4009
This is still a feature we want, but we've just discovered -- see https://github.com/zulip/zulip-mobile/pull/5527#issuecomment-1302588873 -- that our intended approach for solving it won't work (due to a bug in React Native) and we'll need something a bit more complex.

Because this issue thread has gotten long, I just filed a fresh issue laying out the new approach: #5533. Closing this one in fav

[2022-11-03 22:07] #4009 closed

[2022-11-03 22:07] gnprice commented on #4009
(I think I've covered in the new issue all the information from this thread that we'll need. But if I've missed something, please comment there.)

[2022-11-03 23:22] #5445 closed

[2022-11-04 01:12] gnprice commented on #5518
Hmm, interesting.

Looking into a bit, I think it actually points us to such a plan -- more specifically, to a convenient and also reassuring way to implement that plan!

Specifically, if you take a URL string and round-trip it through the URL parser, you end up with pretty much the sort of partial percent-encoding I described -- non-ASCII characters get encoded, `%` doesn't:
[code]
Contrast that

[2022-11-04 01:23] gnprice commented on #4136
While following up on a comment you made on another issue thread (https://github.com/zulip/zulip-mobile/issues/5518#issuecomment-1294515953), I think I found a good clean solution for this concern!

Specifically, I think the right way to implement that selective encoding probably is to round-trip the URL string through `new URL`. It turns out this
* percent-encodes all non-ASCII characters;
* leav

[2022-11-04 20:58] alya opened #5534 "Show user role in profile"
In the webapp, the user's profile includes their role in the organization (admin, member, etc.). It would be helpful to show this in the mobile app as well.

Just below the email address would probably be a good placement, and would be consistent with the webapp:

![Screen Shot 2022-11-04 at 1 56 24 PM](https://user-images.githubusercontent.com/2090066/200073326-46723587-7991-411d-98cf-be6fdf05632

[2022-11-04 21:38] niranjana1997 commented on #5534
Can I please do this?

[2022-11-07 18:10] gnprice opened #5536 "Message list doesn't update when messages marked unread"
If you're looking at a message list in the mobile app and then mark some of those messages as unread (from another client), they don't regain their unread-markers. The "N unread messages" banner at the top *does* update, but the individual messages still appear to be read.

This is a gap in the implementation of #5361. What we merged for that issue updates the state in Redux, which is enough to up

[2022-11-07 19:11] BrandonNgoranNtam commented on #5534
I would like to work on this issue. Can you please assign this to me?

[2022-11-08 02:21] gnprice commented on #3833
This was indeed resolved as part of #4636.

[2022-11-08 02:21] #3833 closed

[2022-11-08 02:26] gnprice commented on #2927
We did this at some point a while ago -- the list of emoji in the reaction picker starts with :heart:, :tada:, and the other "popular emoji" that are the same ones at the top of web's emoji picker.

A nice compact row would be an improvement; #4567 tracks that.

It's a hardcoded list, rather than based on the user's actual usage patterns. This matches Zulip web, and https://github.com/zulip/zulip/

[2022-11-08 02:26] #2927 closed

[2022-11-08 14:57] thaiscodafond commented on #5169
Hi ! I will claim this issue if possible,  @zulipbot claim

[2022-11-08 15:55] alya commented on #5169
@thaiscodafond Zulipbot is not active in the mobile repository.

Please post a comment describing your proposed approach when you're ready. I can assign the issue to you once you [have a rough plan](https://zulip.readthedocs.io/en/latest/overview/contributing.html#picking-an-issue-to-work-on). Thanks!

[2022-11-08 18:48] alya commented on #5534
@BrandonNgoranNtam please post a comment describing your proposed approach when you're ready. I can assign the issue to you once you [have a rough plan](https://zulip.readthedocs.io/en/latest/overview/contributing.html#picking-an-issue-to-work-on). Thanks!

[2022-11-10 04:48] #5536 closed

[2022-11-10 22:04] PoignardAzur opened #5548 "There is no equivalent to the "View messages sent" button in the mobile app UI"
The "View messages sent" link is pretty convenient. I use it a lot to check conversations I've been in, things I need to follow up on, to find messages I wrote a long time ago, and to get a summary of my activity on a zulip forum over the last months.

But every time I want to use it in the mobile app, I don't find any affordance to do it. Clicking on my profile doesn't give me the option.

I end

[2022-11-10 22:14] gnprice opened #5546 "CI skips Prettier on .js.flow type definitions"
We run Prettier on many of our type definitions in `types/` -- generally the ones generated by TsFlower.

This works fine in `tools/test`; but those files get skipped by `tools/test --all`, which we run in CI. See here: https://github.com/zulip/zulip-mobile/pull/5543#discussion_r1018346574 , which also gives a diagnosis.

[2022-11-11 19:17] chrisbobbe commented on #4936
I expect this would fix the P1 bug #5486; details at https://github.com/zulip/zulip-mobile/issues/5486#issuecomment-1261138257.

[2022-11-12 13:33] ABHINAV-JHA-27 commented on #5534
Hey @alya, I would like to work on the issue.

[2022-11-12 13:44] BrandonNgoranNtam commented on #5534
Sorry for the late response! My plan is to update the getOwnUserRole() that has already been created in the permissionSelectors.js file and display its value in the ProfileScreen.js and AccountDetails.js files. I already have a working version of this feature but I'm still working on the finishing touches because right now, my method returns a String which might not be ideal when it comes to trans

[2022-11-12 13:46] BrandonNgoranNtam commented on #5534
My new method returns a String value of the current user's role (Owner, Admin, Moderator, Member and Guest)

[2022-11-13 14:20] jossiwolf commented on #5504
Hi, just wanted to ping and see if there's anything I can do to support :)

[2022-11-13 17:34] birchamp commented on #4325
This continues to be a problem on the Android app

[2022-11-14 18:41] chrisbobbe commented on #4325
Thanks for the bump, @birchamp! PR #5508 would fix this. I'm working on a new revision for that now, following Greg's latest code review.

[2022-11-14 20:12] edgarcosta commented on #4571
I should also add, that when sending messages to a group that includes a deactivated user one gets an infinite "sending" gif, but no reason is given why the message is not sent.

[2022-11-15 07:23] alya commented on #5534
@chrisbobbe @gnprice In case you have any comments on the proposed approach.

[2022-11-15 18:54] Tignus opened #5553 "Need warning before unsubscribing from a private stream."
This issue [has been fixed](https://github.com/zulip/zulip/issues/9254) in the webapp.

I'm opening it here so it can be tracked on the mobile app.

Right now it is quite easy to get locked out of your own private stream.

[2022-11-16 12:57] Tignus opened #5555 "Wrong french translation for the streams privacy settings"
When you edit a stream privacy settings, one label and one description are wrong.

Original text in the [french translation file](https://github.com/zulip/zulip-mobile/blob/main/static/translations/messages_fr.json) (mistakes in bold italic) :

   "Must be invited by a subscriber; new subscribers can view complete message history; hidden from non-administrator users": "Doit être invité par un abon

[2022-11-16 18:29] arijitghosal03 commented on #5553
I would love working on this issue
@zulipbot claim

[2022-11-16 19:47] alya commented on #5548
Thanks for the request, @PoignardAzur !

While this is not an ideal solution for you, it may be helpful to know that Zulip works fine on mobile web, so you shouldn't need to get your laptop.

[2022-11-16 19:50] alya commented on #5548
I haven't marked this as "help wanted" because I'm not sure where we would place this option have it look good with the current design; we may be in a better position once the relevant redesign work is completed.

[2022-11-16 20:03] alya commented on #5553
@arijitghosal03 please post a comment describing your proposed approach when you're ready. I can assign the issue to you once you [have a rough plan](https://zulip.readthedocs.io/en/latest/overview/contributing.html#picking-an-issue-to-work-on). Thanks!

[2022-11-16 20:16] alya commented on #5555
Thanks for those notes, @Tignus !

Zulip translations are managed via Transifex, and we'd love to have your contributions there. Please see https://zulip.readthedocs.io/en/latest/translating/translating.html for instructions on how to get started.

[2022-11-16 20:16] #5555 closed

[2022-11-16 21:13] chrisbobbe commented on #5555
Further discussion on CZO [here](https://chat.zulip.org/#narrow/stream/371-translation.2Ffr/topic/contributing/near/1465563).

[2022-11-16 23:07] Tignus commented on #5555
Thanks @Plankter for fixing this !

[2022-11-17 00:30] gnprice opened #5557 "Clear mark-as-read queue when active account changes"
@chrisbobbe pointed out on #5552 that in `queueMarkAsRead.js`, where we keep a queue of messages the user wants to mark as read:

This is similar to #5009, in that it means that we have ongoing activity which is meant for the particular account that's currently active, and when the active account changes we may start treating it as if it were meant for the new active account.

Instead, much like t

[2022-11-17 02:35] #4325 closed

[2022-11-17 03:40] #5546 closed

[2022-11-17 05:21] #5364 closed

[2022-11-17 06:30] arijitghosal03 commented on #5553
@alya
![warning message](https://user-images.githubusercontent.com/97433331/202369715-43524e60-116e-45e7-a87a-59294e2cc28b.jpg)
This problem was already fixed  in the web app design. My plan intends to implement the same warning notification through some frontend conditional code which will rest of the operations same as it is if the user chooses "YES" else (i.e. "NO") will redirect him to the pre

[2022-11-18 18:24] licaon-kter opened #5563 "F-Droid can't build"
...since we build reanimated first and we hit this issue: https://github.com/facebook/react-native/issues/35210

I've hacked around it by bumping react-native to 0.67.5: https://gitlab.com/fdroid/fdroiddata/-/commit/4a750ce2145dd4773092ed3ac551e59d47dccdb3 _(based on https://github.com/laurent22/joplin/pull/7307/files)_

Can you do this update project wide instead?

[2022-11-18 19:03] gnprice commented on #5291
There's also #5080, which is to move the compose menu to go below the content input, rather than to squeeze it from the side. That would also mean we stop swapping the content input from single-line to multi-line, so it seems like it should be equally effective at fixing this.

[2022-11-19 01:54] gnprice opened #5565 "Use new "mark narrow as read" API when marking stream/topic/all as read"
There's a family of API endpoints for marking all messages, or all of a stream, or all of a topic, as read:
https://zulip.com/api/mark-all-as-read

We use those to implement the "Mark … as read" button at the top of the message list. See `MarkAsReadButton.js`.

With the advent of https://github.com/zulip/zulip/issues/22893 / https://github.com/zulip/zulip/issues/23512, there is now a better way to

[2022-11-21 09:34] BrandonNgoranNtam commented on #5534
Hello @chrisbobbe, my PR is almost finished, but I have a question. I've asked it in the Zulip #mobile stream, but I will ask it again.

10:30 AM

I was wondering how to proceed with translating the role into different languages. I used the TranslationContext to be able to translate the role into other languages automatically. For example, if the user's role is a Member, my implementation shows "U

[2022-11-21 10:11] BrandonNgoranNtam commented on #5534
Here is some screenshots of what I get in English, French and Spanish (not translated) :
![French](https://user-images.githubusercontent.com/62793833/203024075-72bacdcf-dcdb-408b-94ed-15ceffdac35a.jpg)
![English](https://user-images.githubusercontent.com/62793833/203024079-fe704752-42bb-4f1a-a9e4-28fb65099ad0.jpg)
![Spanish](https://user-images.githubusercontent.com/62793833/203024085-5d3df87f-d6f

[2022-11-21 15:26] licaon-kter commented on #5563
I could.

What I don't know is, where is this hash coming from at the end of .tgz: https://github.com/zulip/zulip-mobile/blob/main/yarn.lock#L13512 ?

[2022-11-21 20:19] chrisbobbe commented on #5534
Thanks! I've answered your translation-workflow question on chat.zulip.org, [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/translation/near/1468091).

[2022-11-22 02:49] chrisbobbe commented on #5344
expo/expo@75e2cf7e3 claims that RN 68 will break animated GIF support unless we upgrade Fresco on Android to 2.5.0.

[2022-11-22 19:57] chrisbobbe commented on #5344
When doing this upgrade, we should also examine changes to `templates/expo-template-bare-minimum` in the following commits, to see if there's anything special Expo wants us to do to handle the RN 68 upgrade:

- expo/expo@b41c14cc1
- expo/expo@a3527a58b
- expo/expo@adf446abf

[2022-11-22 23:07] #1975 closed

[2022-11-23 01:13] #5377 closed

[2022-11-23 01:31] #3370 closed

[2022-11-23 01:37] alya commented on #5553
Thanks! @chrisbobbe @gnprice FYI, in case you have any feedback on the above plan.

[2022-11-23 21:07] chrisbobbe commented on #4386
Probably the thing to try is to not offer that full-screen input UI in the first place. I think that's what the [`disableFullscreenUI`](https://reactnative.dev/docs/textinput#disablefullscreenui-android) is for? I'm going to try that.

[2022-11-29 10:32] karolzlot opened #5573 "Allow to customize vibration pattern"
Currently vibration pattern is hardcoded:

https://github.com/chetas411/zulip-mobile/commit/d174bb7637eb619d166317274417290a016cce77

I don't like this vibration pattern at all, it's too long and because of it it is too loud.

I would prefer it to be customizable (or at least have a few options).

Vibration pattern from Signal app is ok for me.

[2022-11-30 20:43] gnprice opened #5574 "`tools/test lint` always passes"
In `tools/test`, we've had the name "files" for both a global representing the user's choice of which files to operate on, and a local inside the run_lint function.

This collision was there for a long time without causing a live problem, and then started doing so with https://github.com/zulip/zulip-mobile/commit/f3aad7ea2478de8fd53b96da7587f5d063d15758 where we moved a function call that consulte

[2022-11-30 22:33] #5574 closed