[2020-05-08 00:30] gnprice commented on #3548
That plan sgtm!

[2020-05-08 00:39] gnprice commented on #3781
One exciting change is that this old RN bug is reportedly fixed in v0.61!
https://github.com/facebook/react-native/issues/20119

That's the mitigated version of the RN bug that got much worse back in v0.55 (vs. v0.54 and earlier), which our users experienced as #2589. I fixed that one upstream so that in v0.56 it was back to the level of v0.55 and earlier; but it's encouraging that the underlying

[2020-05-08 01:14] ray-kraesig commented on #1529
Addendum: `moment.js` [has a similar facility](https://momentjs.com/docs/#/displaying/fromnow/), though it lacks the [fuzzy "about" durations](https://github.com/date-fns/date-fns/blob/v1.30.1/src/locale/en/build_distance_in_words_locale/index.js) of `date-fns`.

[2020-05-08 01:48] ray-kraesig commented on #4092
This looks like it may just be another manifestation of #3706. Had you just logged out from a different account, or was this a completely fresh install?

[2020-05-08 03:31] gnprice commented on #4092
Yes, thanks for the cross-reference -- certainly the error falls into the #3706 bucket. But that's not so much a bug as a class of bugs, so that still leaves the question of diagnosing this bug.

Hmm! That is possible.

It doesn't feel *super* likely to me, because it takes me a good 15-20 seconds or so to get from "log out" to the point where this crash happened -- hit a couple of buttons, type t

[2020-05-08 04:30] ray-kraesig commented on #1529
The "Local time" part is trivial; as always, the devil's in the "...". Time format localization is a big hairy mess.

Fortunately, we have `react-intl`! Simply using a message `"{timestamp, time, short} local time"` and supplying the `timestamp` (in milliseconds) formats the string exactly as desired: "4:12 PM local time" in English, "16.12 paikallinen aika" in Finnish (or whatever should be in `m

[2020-05-08 07:16] chrisbobbe commented on #4092
Just ran into this now; here’s my TestFlight report (for those with access): https://appstoreconnect.apple.com/WebObjects/iTunesConnect.woa/ra/ng/app/1203036395/testflight?section=crashes

[2020-05-08 20:30] gnprice commented on #4092
Interesting. That certainly raises the probability that the issue really does have to do with that step and it wasn't just a coincidence of timing that that's when it crashed for me!

We also now have a couple more crash reports in TestFlight for this version, in addition to yours and mine. Those are anonymous, and they didn't write as much description as you or I did. But the one comment they did

[2020-05-08 20:33] #3856 closed

[2020-05-09 02:38] gnprice commented on #4092
I wanted to learn more about what those TestFlight [crash reports](https://appstoreconnect.apple.com/WebObjects/iTunesConnect.woa/ra/ng/app/1203036395/testflight?section=crashes) give us, so I started by downloading and examining that first one, the one from myself.

Unfortunately it's not actually very helpful. There are two files in it:
* `feedback.json` is a short JSON blob that basically corre

[2020-05-09 02:59] gnprice commented on #4092
I went back to Sentry to see what info we have there.

* There's just [one event](https://sentry.io/organizations/zulip/issues/1651705979/events/e57f49c8a91a430db371480c6f5bf56c/?project=191284) that's been bucketed with the crash I saw; it appears to be the crash Chris saw.

* There are a few other events with the message "Error: Error: Error: No server data found".
  * Some appear to happen prom

[2020-05-11 09:12] eugenolman opened #4097 "Lightbox animated gif App IOS"
Full page animated gifs do now show animated (in lightbox). In a thread they are animated.
Happens in IOS app (tested on miniIpad IOS 12)

In Android App, animations show in threads and in full screen. The same in webapp in Chrome.

Note; I am not a coder, this is my first issue on github / Zulip ever. If I did something wrong or can do better please let me know.

[2020-05-11 17:25] gnprice commented on #4097
Hmm! Thanks for the report. I reproduce the issue, with the current beta version v26.28.151.

We previously had #3497 and fixed that with #3825 -- but that was specific to Android and it seems we didn't notice there was also a problem on iOS.

[2020-05-11 17:31] gnprice commented on #4097
The earlier fix #3825 added something that the React Native docs specifically say is needed on Android:
  https://reactnative.dev/docs/0.59/image#gif-and-webp-support-on-android

The docs don't say anything about animated-GIF support being missing on iOS. So the first thing we'll need to do to resolve this is some debugging -- why are animated GIFs not working?

A quick reproduction is to go to `#

[2020-05-11 17:36] gnprice opened #4098 "lightbox: Tap outside image to show header/footer again"
@eugenolman reports [in chat](https://chat.zulip.org/#narrow/stream/9-issues/topic/Lightbox.20context.20menu.20mobile/near/873685):

I agree. This would give us the same behavior as other apps I briefly checked:
* FB Messenger on iOS
* (Google) Photos on Android
* built-in Photos app on iOS

As is, once you hide the header and footer I don't see a way to get them back, short of exiting the lightbo

[2020-05-11 23:36] gnprice commented on #3809
Well, this was pretty straightforward once I looked at it. Here's from the log:
[code]

"Skipping sentry". Why would it do that? Well, here's the logic that controls that choice:
[code]
i.e.
[code]

This will never work, because in a real release build to be published, HEAD is not a tagged commit but instead has a small commit on top of the tagged commit, adding Sentry secrets to the tree. (A line

[2020-05-12 00:06] gnprice commented on #2113
I couldn't reproduce this when I tried just now. This was in v26.28.151 (the current beta), on iOS 12.4.1 on an iPhone 7.

Specifically:
* I went to this message on czo: https://chat.zulip.org/#narrow/stream/7-test-here/topic/ContainsNonASCII/near/559041
  which has an uploaded image with Cyrillic as well as Latin letters in its filename.
* All was well. I tapped the image to open the lightbox.
*

[2020-05-12 00:11] gnprice opened #4099 "Lightbox won't show images with non-ASCII filenames on iOS"
Repro:
* I went to this message on czo: https://chat.zulip.org/#narrow/stream/7-test-here/topic/ContainsNonASCII/near/559041
  which has an uploaded image with Cyrillic as well as Latin letters in its filename.
* The image didn't actually show up!
* The lightbox header and footer showed up just fine and remained responsive as normal. But instead of the image there was just blackness.

Seen on v26.

[2020-05-12 00:13] gnprice commented on #2113
OK, I've filed #4099 for the "lightbox doesn't show image" issue. But it seems the issue originally reported here has been fixed at some point! Closing, but if anyone sees this symptom again please reply here and we can reopen.

[2020-05-12 00:13] #2113 closed

[2020-05-12 00:37] gnprice commented on #3809
I tried this locally, and went and rebuilt 26.28.151 with just that change, and the "build number" (`CFBundleVersion`) bumped.

It worked as far as getting the files uploaded to Sentry! Here's what the [artifacts page](https://sentry.io/organizations/zulip/releases/org.zulip.Zulip-26.28.151/artifacts/?project=191284) for that release now looks like:
![image](https://user-images.githubusercontent.c

[2020-05-12 00:56] gnprice commented on #3809
And this worked! Huzzah. Here's an event with real source code on the JS stack trace:
https://sentry.io/organizations/zulip/issues/1660211451/events/8f3054b62c5043d2a2dd1877ca07e905/

Compare to where I provoked the exact same error before that last upload:
https://sentry.io/organizations/zulip/issues/1660172423/events/a665582a72914438923ae8485153adb5/

So I think we should be seeing source code o

[2020-05-12 01:06] #3809 closed

[2020-05-12 01:13] gnprice opened #4100 "Better choose when to build and upload Sentry info"
This is a followup issue to 7f0d0a78f and #3809.

The way our iOS build scripts decide whether to build and upload debugging info for Sentry is `if [[ $SDKROOT == *\"iPhoneSimulator\"* ]]; then` it skips doing so, else it does it. IOW, if we're building for the iPhone simulator we don't try to upload to Sentry, but if building for a real device (or an iPad simulator, perhaps?) then we do.

This ha

[2020-05-12 01:16] gnprice commented on #4092
OK, #3809 is now fixed, and I've gone back and uploaded debugging info for 26.28.151 to Sentry! So I believe we'll get real JS stack traces for any future error events on that version, as well as future versions.

If we can get this to reproduce again, or even just if any beta tester runs into it again, that will hopefully give us some useful information to chew on.

[2020-05-12 09:13] ugmac opened #4102 "iOS and Android app won't show uploaded image thumbnails"
Hi there

We just recently deployed Zulip w/ Docker & Nginx reverse proxy. Everything seems to be working except the uploaded pictures won't display their thumbnails properly on iOS and Android clients. macOS and web clients are unaffected.

However, the actual picture shows up fine when tapping on them.

I know similar issues have been marked as 'solved' back in 2018 but apparently something is u

[2020-05-12 19:09] chrisbobbe commented on #4093
I'm currently planning to upgrade `react-native-webview` to 7.0.0 in the same commit as the RN v0.60.0 upgrade, because of peer dependency constraints. Then, as a follow-up, I'm planning to take it to v7.0.3 because of a want expressed in 1982f3fa8183502b5388dec0377c518fdeedf. If you want, I can stop by v7.0.1 in a separate commit before v7.0.3, with a note about dropping UIWebView, or I can just

[2020-05-12 22:05] ray-kraesig opened #4106 "Possible race condition when acquiring messages for a new narrow"
When fetching messages in a narrow for the first time (for that narrow) since `REALM_INIT`, there is a subtle race condition which may lead to effective loss of incoming data. Consider the following sequence of events:

1. A client sends a request _R_ for messages in a narrow _σ_.
2. The server receives and processes _R_, returning a response _R'_.
3. The client begins to receive (and asynchronous

[2020-05-13 11:13] agrawal-d opened #4107 "Copy to clipboard copies a pratial URL for in-realm links"
For example, a link to a narrow would not include the realm domain and only include the `/#narrow/stream/topic` part.

For a demonstration of this bug, try opening [this message](https://chat.zulip.org/#narrow/stream/7-test-here/topic/mobile.20copy.20to.20clipboard.20demo/near/876477) in the app and copy the link to clipboard

[2020-05-13 11:30] agrawal-d commented on #4098
It is possible to toggle the header and footer - tapping on the image does this.

As for the feature to enable toggle on tapping outside the image, it interferes with the image's built-in "double-tap to zoom in/out" feature, i.e, if you add the `onPress` listener to the entire container instead of just the image, and double tap on the image to zoom, it causes the header & footer to quickly show an

[2020-05-13 12:07] agrawal-d commented on #4080
It's not an illusion - the image resource itself is misaligned.
Bottom:
![image](https://user-images.githubusercontent.com/7714968/81810181-2803ba80-9540-11ea-9deb-0631e37955f9.png)
A gap of 6 squares to the boundary.

Top:
![image](https://user-images.githubusercontent.com/7714968/81810209-34881300-9540-11ea-9cea-609acdbcaaae.png)
A gap of 2 squares. to boundary.

*square!=pixel, it's a dynamic i

[2020-05-13 12:43] agrawal-d commented on #4080
Wow, @ray-kraesig, you managed to record a perfectly looping GIF! :tada:

[2020-05-13 13:59] agrawal-d commented on #3124
Status code 16 occurs when proper authentication is not provided, although I can't find a reliable doc for this.

[2020-05-13 15:05] agrawal-d commented on #2671
@gnprice I think this issue can be closed.

[2020-05-13 19:27] chrisbobbe commented on #4081
For anyone looking to make a PR, we have a new doc on putting together libdefs, where off-the-shelf ones don't exist! That's [here](https://github.com/zulip/zulip-mobile/blob/master/docs/howto/libdefs.md).

[2020-05-13 20:37] #4042 closed

[2020-05-14 01:09] chrisbobbe opened #4111 "Enable `react-native-screens`."
This issue should start with a code change that's pretty small and straightforward~~, after "autolinking", which is #4026. I'll mark this issue as `blocked` on that work.~~ The bulk of the work required will be stress-testing to see if anything breaks, and perhaps collecting some performance data.

As foreshadowed in [this blog post](https://reactnavigation.org/blog/2018/11/17/react-navigation-3.0

[2020-05-14 01:17] chrisbobbe commented on #4111
Once it's all set up (you can refer to [this doc](https://github.com/zulip/zulip-mobile/blob/master/docs/howto/build-run.md) for build failures, hopefully they won't happen), we'll want to make sure things haven't broken.

The main claim of this optimization is to free up resources on screens that aren't visible. There may be a snag for us, here, since we've never had to think through anything on

[2020-05-14 14:46] H8to commented on #3205
Subscribed to this issue! :)
Also a summary via email after the poll (maybe with specified end-date) would be a great idea.

[2020-05-14 17:56] #4080 closed

[2020-05-14 22:12] chrisbobbe opened #4112 "Xcode: "Update to recommended settings""
It's nice to have as little noise as possible when doing routine tasks like building for iOS with Xcode. We've made a strong effort to reduce the output of `yarn`, which means we immediately notice new, often important warnings from our dependencies that other projects likely ignore, to their detriment.

We get a few messages while building with Xcode that say "Update to recommended settings". Unl

[2020-05-14 23:36] chrisbobbe commented on #4081
Linking recent conversation on CZO [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/URL.20library/near/878017).

[2020-05-16 01:16] chrisbobbe opened #4115 "Use @react-native-community/push-notifications-ios."
This issue is a stub; we can fill it in later, but for now, I need an issue number to include in a TODO I'm writing for #3548.

Currently, we're depending on some combination of [this](https://github.com/wix/react-native-notifications) (less popular, less maintained) and [this](https://reactnative.dev/docs/pushnotificationios.html) (deprecated).

Discussion [here](https://chat.zulip.org/#narrow/st

[2020-05-18 17:01] chrisbobbe commented on #2684
@gnprice [said](https://github.com/zulip/zulip-mobile/issues/2684#issuecomment-534218632):

Agreed. We'll need to use the image's dimensions to size the the placeholder; this should be fine.

[2020-05-18 17:10] chrisbobbe commented on #2684
One other possible direction is to do it the web app's way — nothing actually happens in the message list. The actual text in the compose box is replaced with something like `[Uploading fileName.png...]` during the upload, and a progress indicator (could just be a static spinner to start out with) appears above that.

[2020-05-18 17:23] chrisbobbe commented on #3436
@gnprice [said](https://github.com/zulip/zulip-mobile/issues/3436#issue-427855536):

Makes sense to start simpler, and I don't think the simpler version will lengthen the path to the fancier version.

[2020-05-18 21:33] chrisbobbe commented on #3548
Following `facebook/react-native@2321b3fd7`, we're pretty sure it's fine for any dependency's `.podspec` file to have a line like `s.dependency "React"` when it depends on code specific to one of the modules that was previously a "subspec" but is now a separate pod, e.g., "React/Core" (the "Core" subspec) n.k.a. "React-Core" (a pod thus named). The "React/Core" / "React-Core" is, AFAIK, the only o

[2020-05-18 22:19] #4098 closed

[2020-05-18 22:30] ray-kraesig commented on #2671
This was indeed fixed by #2687. Closing.

[2020-05-18 22:30] #2671 closed

[2020-05-19 00:24] #4107 closed

[2020-05-19 13:54] charpeni commented on #4081
👋 Hey there.

I'm the maintainer of [`react-native-url-polyfill`](https://github.com/charpeni/react-native-url-polyfill) and [`whatwg-url-without-unicode`](https://github.com/charpeni/whatwg-url). Sorry for the delay, I've been chilling out in vacation, but I'm back now.

I plan to work on `react-native-url-polyfill` this week. Even though React Native 0.59 is an older version, I would like to mak

[2020-05-19 17:17] chrisbobbe commented on #4081
Hi, thanks for reaching out! 🙂 Let us know if and how we can be helpful.

[2020-05-19 17:55] chrisbobbe opened #4118 "Replace unmaintained dep `react-native-orientation`."
When we upgrade to RN v0.60.0 (that's #3548), we'll get this warning:

[code]

`rn-fetch-blob` is easy to fix; we just have to upgrade to v0.11; I'm planning to do that in my PR for #3548.

`react-native-orientation` is unmaintained, though. The fix for this warning is very simple, but the [PR for it](https://github.com/yamill/react-native-orientation/pull/353) has gathered dust, and the repo isn'

[2020-05-19 22:42] chrisbobbe commented on #3899
I haven't yet investigated whether this is very likely to be a cause, but it jogged my memory about this issue, and it'll be fixed with the RN v0.60 upgrade: https://github.com/facebook/react-native/issues/23712

[2020-05-19 23:48] chrisbobbe commented on #4027
I've posted at https://github.com/react-native-community/cli/issues/317#issuecomment-631141643 with the hope that React Native will reconsider a once-considered idea that uses a CocoaPods pattern and would mean we don't have to do anything here.

https://github.com/facebook/react-native/commit/4ea62041118fb031d7540726df2d29185c6b130d was [announced](https://github.com/react-native-community/releas

[2020-05-20 17:36] chrisbobbe opened #4119 "Add and enable `@react-native-community/eslint-config`."
This is included in the [RN upgrade guide for v0.59.10 to v0.60.0](https://react-native-community.github.io/upgrade-helper/?from=0.59.10&to=0.60.0).

Surprisingly, this didn't flag any errors in existing code. I confirmed that it was indeed activated by making an example that didn't get flagged before, but newly does. (A `no-global-assign` on attempting to reassign `__fbBatchedBridgeConfig`; see [

[2020-05-20 17:49] ray-kraesig commented on #4119
JSON diff:

[code]

[2020-05-20 18:04] chrisbobbe commented on #438
Bumping the priority.

@timabbott [said](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/iOS.20unread.20badges/near/882227):

[2020-05-20 20:16] chrisbobbe opened #4120 "Upgrade to ESLint 6.8.0"
EDIT: See https://github.com/zulip/zulip-mobile/issues/4120#issuecomment-632911819, which will make much of these details obsolete — let's go for 6.8.0, instead of 6.1.0, if we can.

-------

Upgrading ESLint to 6.1.0 is included in the [RN v0.59.10 to v0.60.0 upgrade helper](https://react-native-community.github.io/upgrade-helper/?from=0.59.10&to=0.60.0). I've tried doing this before and after th

[2020-05-20 20:20] chrisbobbe commented on #4120
One diff to `package.json` that gets `rm -rf node_modules && yarn` working with no errors at all is this:

[code]

But I got there by inspecting `peerDependencies`, etc., and it would be nicer to have this (or something similar) be the result of a script.

[2020-05-21 01:13] chrisbobbe commented on #4081
Hi again, @charpeni! I wonder if you might be interested to follow some discussion we had a week or so ago, on one or two things `whatwg-url-without-unicode` might be able to handle more smoothly, with the removal of the `tr46` package? If that interests you, feel free to check it out, around [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/URL.20library/near/878195) and followin

[2020-05-22 21:16] chrisbobbe commented on #4120
Actually, while on the phone with Greg the other day, it seems to make the most sense to just upgrade to the latest version of ESLint that we can! There are a few things that we use that don't yet support ESLint 7, like `prettier-eslint`, which is fine. But let's shoot for the latest minor version of ESLint 6.

From poking around a bit, one thing we'll need to await, to get guaranteed ESLint 6 sup

[2020-05-22 21:45] chrisbobbe commented on #4120
This bit from the top, at https://github.com/zulip/zulip-mobile/issues/4120#issue-622056646, still applies:

[2020-05-25 01:58] jmandel opened #4123 "In a single-user private message "+" should add users"
Right now if I'm in the compose box for a PM with a single user, hitting "+" and choosing a user to add will *switch* to a PM with that new user. Instead, the user list opened should by default include the current PM counterparty, so the end result is a PM with both users.

[2020-05-28 22:24] gnprice commented on #3776
Thinking about this again, I decided the practical solution is for us to just desupport running commands from the Windows Command Prompt -- we can recommend people use Git Bash instead, which our setup instructions already have people install. Pushed 3aadff09f making that change in our docs. Closing this bug as WONTFIX.

[2020-05-28 22:24] #3776 closed

[2020-05-29 02:25] gnprice commented on #117
This is now moving forward quickly, in #4124!

A few items which we might leave out of the scope of that PR, noting here to help them not get lost:
- [ ] if the user has several accounts, let them choose the one to use
- [ ] handle ACTION_SEND_MULTIPLE ([docs](https://developer.android.com/training/sharing/receive#receiving-data-activity)), for when the user e.g. selects several photos in the gall

[2020-05-29 17:04] chrisbobbe opened #4130 "Run `shellcheck`, add to `tools/test`."
When @gnprice [said](https://github.com/zulip/zulip-mobile/pull/4028#pullrequestreview-390311786):

@andersk [replied](https://github.com/zulip/zulip-mobile/pull/4028#issuecomment-611209553):

Running `shellcheck tools/test` on master currently gives five or six warnings in that script. I haven't investigated any of them yet, but it sounds like a good goal to do so, and to maybe make `tools/test s

[2020-05-29 19:16] Felixeltoro commented on #2505
VM1790:1 Uncaught SyntaxError: Unexpected identifier

[2020-05-30 00:59] chrisbobbe opened #4131 "Use Hermes"
This will be possible following the RN 60 upgrade, https://github.com/zulip/zulip-mobile/issues/3548.

The guide we'll want to follow is at https://reactnative.dev/docs/0.60/hermes, including all the steps to ensure it's activated properly.

[2020-06-01 21:52] chrisbobbe commented on #4091
Hmm. I'm investigating a reason why we might not be able to do this yet, even on RN v0.60: https://github.com/unimodules/react-native-unimodules/issues/97

[2020-06-02 00:14] chrisbobbe commented on #4091
There may be a kind of awkward workaround; I've posted some more findings at https://github.com/unimodules/react-native-unimodules/issues/97#issuecomment-637180616.

[2020-06-02 02:23] gnprice commented on #4131
I think this may also block on Hermes growing support for `Intl`:
https://github.com/facebook/hermes/issues/23
and in particular growing enough support that `react-intl` works. The good news is that they seem to be working on that now.

[2020-06-02 02:33] chrisbobbe commented on #4091
See discussion [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Podfile.20dependency.20of.20a.20dependency/near/892373).

[2020-06-02 20:02] timabbott commented on #4131
Interesting.  We probably want to at least prototype running Hermes even if it breaks i18n, just to get a sense of what the performance impact and discover any other things we need to fix on our end.

[2020-06-03 05:06] agrawal-d commented on #4131
I'm very excited about this!

[2020-06-03 10:48] ugmac commented on #4102
I found out the issue was because of Cloudflare.

[2020-06-03 18:15] chrisbobbe commented on #3548
As Greg suggests at https://github.com/zulip/zulip-mobile/pull/4133#issuecomment-637928734, I'm cutting out the parts from the commit message that talk about work *not* done in the upgrade series, and putting it here:

## Platform-agnostic

- We've left "scripts" in `package.json` alone; ours work fine as-is.

## Android

- Adding the `debug.keystore` file and its config in
  `android/app/build.gr

[2020-06-03 18:44] felippepuhle commented on #4131
You can import some polyfills for android, ex:

[code]

We've used to do something like this in the past but we're currently using react-native-v8.

[2020-06-03 21:15] chrisbobbe opened #4134 "Allow viewing message edit history"
The endpoint it looks like we'll want to use is documented [here](https://zulipchat.com/api/get-message-history).

We have a binding for it, in `src/api/messages/getMessageHistory.js`, that currently isn't used.

Conveniently, just as with messages themselves, it looks like the diff we want to display, `content_html_diff`, is HTML, which we can render in a WebView.

I think a major question we'll

[2020-06-03 21:31] gnprice commented on #4134
That sounds like a good reason to me.

This will be a lot like MessageReactionList -- it's an additional screen in the navigation, which you get to from long-press to see more details about a specific message. That seems a lot simpler to implement and maintain than adding to the existing WebView, and on a phone's (small) display it's probably a nicer UX anyway.

[2020-06-04 01:12] gnprice commented on #2505
@Felixeltoro Is that a description of an error you're seeing? If so we'd be very interested to hear more details -- please file a new issue for it:
https://github.com/zulip/zulip-mobile/issues/new

[2020-06-04 01:24] gnprice commented on #4092
OK, we've now let this cook for a while with that better Sentry data set up. (A bit longer before looking back at it than I'd planned, but so it goes.)

We have one new crash report in TestFlight! It's from @chrisbobbe , saying:

Then looking back at the list of events I linked at the top of https://github.com/zulip/zulip-mobile/issues/4092#issuecomment-626094768 , and looking for one at the right

[2020-06-04 01:35] gnprice commented on #4092
One rough hypothesis for why the password manager seems to be a trigger here is that it causes something else to be shown on the screen that's outside the control of the app... potentially changing the shape of the viewport available to the app... which is kind of like the orientation changing from portrait to landscape or back, and I could imagine it causing an orientation-change event as a resul

[2020-06-04 03:17] gnprice commented on #4092
OK, and I have a repro recipe! That stack trace was extremely helpful for finding this.
* Open the app; log into some account, if not already logged in.
* Visit the streams tab.
* Now go to the profile tab, and hit "Switch account".
* Pick some other account, where not logged in.
* Rotate the device, so it goes from portrait to landscape. (Or vice versa is probably just as effective.)

This recipe

[2020-06-04 03:21] gnprice commented on #4092
Now going back to see if this is a regression. The testing below is on my iPad mini 4.

* The recipe crashes on 26.23.146. That's the oldest still available through TestFlight.
* It also crashes on 26.27.150, which is the release currently in prod.

OK, so this appears not to be a regression in 26.28.151. Based on that, I think we are clear to send 26.28.151 to prod (though I'll do a quick check f

[2020-06-04 03:33] gnprice opened #4135 "Crash while logging into second account"
This is the same issue as #4092, but I want to restart that thread now that we understand the cause better and also have sorted out some issues with our debugging data. (Some material copied from comments there.)

Here's a repro recipe:

* Open the app; log into some account, if not already logged in.
* Visit the streams tab.
* Now go to the profile tab, and hit "Switch account".
* Pick some other

[2020-06-04 03:34] gnprice commented on #4092
OK, I've filed #4135 as a reboot of this issue with the results of what I learned today. Closing this thread; further discussion there.

[2020-06-04 03:34] #4092 closed

[2020-06-04 03:34] gnprice commented on #3706
I've filed #4135 to describe one of the bugs in this cluster, for which we have a reliable repro and a specific tentative diagnosis.

[2020-06-04 19:31] gnprice commented on #3781
I think it's likely that this upgrade will turn out to be a lot less work than the v0.60 upgrade (or the v0.59 upgrade before that.)

My information on this is circumstantial: it seems like for whatever reason a lot of people are (at least as of like a month ago) still on v0.59, and a lot are on v0.61 or v0.62, and very few are on v0.60. My data for that is from being subscribed to an RN issue thr

[2020-06-04 20:43] gnprice commented on #4131
@felippepuhle Interesting! I hadn't been really aware of react-native-v8. I just looked around on the Web and found some benchmark reports, and it seems like react-native-v8 makes different tradeoffs from Hermes.

I'd be very curious to hear more, if you'd be up for sharing, about why you switched from Hermes to react-native-v8 :slightly_smiling_face: . Either on this thread, or on #mobile on chat

[2020-06-04 22:33] chrisbobbe commented on #4135
I wonder if we were missing something in https://github.com/zulip/zulip-mobile/commit/699f65f60913618e4d94922f281cc00089e8248d?

[2020-06-04 23:00] chrisbobbe commented on #4135
Ah, no! You confirmed [here](https://github.com/zulip/zulip-mobile/issues/4092#issuecomment-638578801) that this wasn't a recent regression:

I guess that disproves my above hypothesis (at https://github.com/zulip/zulip-mobile/issues/4135#issuecomment-639152749)! https://github.com/zulip/zulip-mobile/commit/699f65f60913618e4d94922f281cc00089e8248d and the rest of PR #4078 was released in [26.28.15

[2020-06-05 00:55] #3303 closed

[2020-06-05 00:55] #2115 closed

[2020-06-05 01:17] gnprice opened #4136 "[iOS] Links get double-%-encoded, breaking downloads"
The effect of this is that a similar symptom to #3303 is still live on iOS. But the cause is unrelated, so making this a separate issue.

Originally described at https://github.com/zulip/zulip-mobile/pull/4089#issuecomment-639153366 and https://github.com/zulip/zulip-mobile/pull/4089#issuecomment-639195011 , just before I merged #4089 fixing #3303 .

To reproduce:
* Went to message list, found a m

[2020-06-05 01:19] gnprice commented on #3303
This bug is now fixed!

On Android, this means that (in master) visiting an uploaded file successfully downloads it, including when the server uses the S3 uploaded-file backend, as zulipchat.com does.

On iOS, that doesn't actually work yet -- it gets past this bug, but runs into another one. I've just filed #4136 for that bug.

[2020-06-05 01:24] gnprice commented on #2115
It looks like #3124 is a more detailed description of this issue. Marking as a duplicate of that one because that's what I think I would have done before the issue was fixed -- but thanks to @agrawal-d 's #4089, it is in fact now fixed 🙂

[2020-06-05 01:26] gnprice commented on #3124
This issue is now fixed! Thanks to @agrawal-d in #4089.

We also had a previous issue #2115 which in retrospect is pretty clearly the same issue. That one didn't have much detail or any useful labels on it, which is probably why we didn't notice it at the time we filed this one. I've now marked that one as a duplicate of this.

[2020-06-05 01:26] #3124 closed

[2020-06-05 01:34] gnprice opened #4137 "[Android] Downloading from lightbox gives error message, though it works"
This is sort of a remnant of the symptom of #3124, now that that's been fixed by #4089.

Originally reported at https://github.com/zulip/zulip-mobile/pull/4089#issuecomment-639112733 , on that fix PR just before I merged it.

* Tried downloading an image, for #2115. Steps: Message list > tap an image to get to lightbox > overflow menu > Download image.

  Result: got this error message:
  ![Screen

[2020-06-05 01:43] gnprice opened #4138 "[Android] Downloaded image from lightbox has wrong extension/type"
This is another followup to #4089, which goes along with #4137.

See the repro steps and observations at #4137. Note that the apps offered to open the file are Chrome and "HTML Viewer", even though the file is actually a JPEG image.

Probably relatedly, the file gets saved with a filename that includes the URL's query-part as well as the last component of its path. One effect of that is that the f

[2020-06-05 02:07] gnprice opened #4139 "[iOS] Review and reword permission usage text"
While reviewing #4089 before merge, I noticed (https://github.com/zulip/zulip-mobile/pull/4089#issuecomment-639155183 ) that:
* if you go to download an image from the lightbox,
* and you haven't already given the app permissions on the photo library,
* we show (well, cause the system to show) a permission request with the text

That text can be improved in at least a couple of ways:
* We're not t

[2020-06-05 02:16] gnprice commented on #4135
Yeah. This is certainly in the spirit of the kind of thing that the blank-state hack eliminated in that series is meant to paper over! But that hack affected a couple of properties of `state.realm`, whereas this crash is from looking at properties of `state.accounts[0]`, so it was never able to paper over this particular crash.

Certainly it'd be possible to have more and more blank-state hacks, s

[2020-06-05 05:13] agrawal-d commented on #4137
Hmm, I'm unable to reproduce this issue. Even during development, I never encountered this. :thinking:

[2020-06-05 05:15] agrawal-d commented on #4087
See also https://github.com/zulip/zulip-mobile/issues/4136

[2020-06-05 20:42] gnprice commented on #3780
We learned today ([chat thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/SOLVED.3A.20Prettier.20auto-formatting/near/896340)) about one major improvement that comes with Node 12: the startup time goes from painful (like 350ms for `node -e 1` in my quick testing) to in the range you'd expect (~50ms; vs 40ms `python -c 1` or 70ms `ruby -e 1`.) So that would be very nice -- everyth

[2020-06-05 22:13] chrisbobbe commented on #3458
So, we've come back to this issue in [discussion today](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/libdef.3A.20react-native-webview/near/896549).

It was about the lack of support for importing types from third-party code while composing a libdef. In this case, the perfectly valid need to get the `ViewProps` type from React Native, to use in a `react-native-webview` libdef. The `W

[2020-06-08 21:14] gnprice opened #4141 "Move "edit message" state to be local UI state"
The "edit message" feature has some significant UI problems, like #2757 and #3413, and missing features like #3975.

A root cause of some of these, and an obstacle to improving the others, is that the current implementation is a pretty bad hack that isn't compatible with the design of React. This issue is to rebuild it with a better architecture. After we've done this, it'll be straightforward to

[2020-06-08 21:17] gnprice commented on #2757
I've just filed #4141 to describe the main work that I think we'll want to do to resolve this.

[2020-06-08 21:40] gnprice commented on #4087
Ah, thanks for that cross-reference :slightly_smiling_face: -- I'd forgotten about this previous issue.

Based on the diagnosis I did in the new issue #4136, I think these are both symptoms of the same underlying bug, which is in our `openLink` function (and/or the layers underneath it.)

[2020-06-08 22:13] chrisbobbe commented on #4118
Huh, it would seem that we may actually want [DeviceMotion](https://docs.expo.io/versions/latest/sdk/devicemotion/), not ScreenOrientation...

From the [ScreenOrientation doc](https://docs.expo.io/versions/latest/sdk/screen-orientation/):

[2020-06-08 22:24] #3548 closed

[2020-06-08 22:24] #4026 closed

[2020-06-08 22:24] #4093 closed

[2020-06-08 22:29] gnprice commented on #2772
With that upgrade complete, this may now be an easy issue to finish off! IIUC we should just have to add that prop in a few places.

[2020-06-08 22:31] gnprice commented on #3885
The RN upgrade is complete! So it should now be possible for us to try this solution.

[2020-06-08 22:32] gnprice commented on #3814
And that RN upgrade is complete! So we should now be able to do this using that improved support.

[2020-06-08 22:46] gnprice commented on #3781
This isn't correct. Here's the warning:

https://fb.me/react-async-component-lifecycle-hooks

As the linked article explains, this is a React warning, and the "next major version" in question is React 17. There is not yet a React 17, so RN v0.61 doesn't use it. Nor does RN v0.62 (which is out already), or v0.63 (which has a release candidate out.)

[2020-06-08 23:41] chrisbobbe commented on #4118
Ah, no, actually (at least on iOS; haven't tested on Android yet) — when I followed some alternate suggestions for the AppDelegate.m, defaulting to a lock of `ALL` orientations allowed, it does indeed respond to physical device rotation

[2020-06-09 01:25] chrisbobbe commented on #4131
Hmm, I'm getting a "Too many handles allocated in GCScope" error. It resembles https://github.com/facebook/react-native/issues/25730 and https://github.com/facebook/hermes/issues/26.

[2020-06-09 05:12] agrawal-d commented on #4137
Further dscussion [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M4137.20download.20error.20message.20despite.20working).

[2020-06-09 09:26] agrawal-d opened #4144 "Add support for sending message using a physical keyboard"
A user requested the feature to enable sending messages from a physical keyboard attached to an iPad device [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/IOS.20Send.20Key.20%28enter%29/near/895268).

Currently, the `Enter` key only inserts a newline. The user suggested `Ctrl+Enter` to send the message, as other apps also follow this shortcut.

[2020-06-09 14:39] charpeni commented on #4081
[`react-native-url-polyfill@1.2.0-rc.0`](https://www.npmjs.com/package/react-native-url-polyfill/v/1.2.0-rc.0) is now available with backward support for RN 0.60 & 0.59, and probably more!

Let me know how it goes for you so I can release it officially.

[2020-06-09 17:36] chrisbobbe commented on #4081
Confirmed that it worked for me on RN v0.59.10 and v0.60.6! Thank you!

[2020-06-09 17:55] chrisbobbe commented on #4081
A bit of housekeeping: I've renamed this issue "Start using proper URL objects..." so that the addition of `react-native-url-polyfill` (in a PR I'll file soon) will close this issue. Most of the discussion here was for settling on a strategy to use, and it'll be helpful to start fresh now that we've found a good one! 🙂

Then, I'll open a new issue that can be resolved incrementally, where we track

[2020-06-09 19:33] #4137 closed

[2020-06-09 19:33] #4138 closed

[2020-06-09 19:50] #4081 closed

[2020-06-09 19:54] gnprice commented on #4118
Cool. I suspect what that means is: "orientation" means how the display is oriented on the device -- which is often controlled by how the device is oriented physically, but may not be (e.g. with "orientation lock" mode.)

So if you really are interested in how the device is oriented physically relative to gravity, you want the other thing -- but we're interested in how the display is oriented on t

[2020-06-09 20:23] chrisbobbe opened #4146 "Use URL web API polyfill for URLs, instead of string concatenation / regexes."
Now that #4081 has landed, adding the `react-native-url-polyfill` package, we can finish using URL objects instead of string concatenation and regexes!

See 8f0f5aba8 for an example of how to do this in a simple case.

One good place to start would be `getFullUrl` in `url.js`. I'm optimistic that we can replace all of its callers with something more transparent, using this URL API, and dissolve `g

[2020-06-09 20:25] chrisbobbe commented on #4081
Opened as #4146!

[2020-06-09 20:46] chrisbobbe commented on #4118
Yeah. What isn't clear in their setup instructions for what to put in AppDelegate.m is that the "default orientation" really means an orientation you'd like to lock to, and have difficulty changing later. So I locked to allowing "all" orientations.

[2020-06-09 20:49] chrisbobbe commented on #4118
Hmm, that's not quite it — that tweak seems to affect the *supported* device orientations, which makes sense. See the [Apple doc](https://developer.apple.com/documentation/uikit/uiinterfaceorientationmask?language=objc). (Incidentally, it would be quite easy to support all orientations except upside-down, if we think it's a bit silly to allow the upside-down orientation.)

[2020-06-09 20:53] chrisbobbe commented on #4131
Awaiting a response to a React Native issue; see discussion [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Hermes.20%28.23M4131%29/near/899751).

[2020-06-09 20:55] chrisbobbe commented on #4091
Blocking this on the RN v0.61 upgrade (#3781); see [discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Podfile.20dependency.20of.20a.20dependency/near/898933). We're optimistic that this won't take as long as the last one, though! 🙂

[2020-06-09 21:27] gnprice commented on #4118
That line does sound pretty explicit!

Have you been trying this empirically? (Seems like the cases of interest are tatus quo, simple/default version of their setup, and version with `initWithDefaultScreenOrientationMask:UIInterfaceOrientationMaskAll`.) What did you find the behavior turns out to be?

There's this [other bit of docs](https://docs.expo.io/versions/latest/sdk/screen-orientation/#scr

[2020-06-09 22:49] chrisbobbe commented on #4118
OK, just took another look at this. Turns out there's some unexplained variation!

* Status quo (no change to AppDelegate.m): The screen orientation responds to the physical device's rotation, but our listener that dispatches `APP_ORIENTATION` doesn't get triggered.

* With this change:

[code]

The screen orientation does not respond to the physical device's rotation, and our listener isn't trigg

[2020-06-09 23:38] chrisbobbe commented on #3781
I commented at https://github.com/zulip/zulip-mobile/pull/3635#issuecomment-641635167 about some new errors I'm seeing with Flow 105; it looks like that PR would make things more sensible in a way that probably eliminates those errors. 🙂

[2020-06-09 23:42] gnprice commented on #4118
Yep, sgtm! Thanks for pinning down the behavior of the part we need.

[2020-06-09 23:48] #4118 closed

[2020-06-10 07:55] agrawal-d commented on #4146
Does this polyfill contain exported functions for decoding/encoding links? If so, this can also fix https://github.com/zulip/zulip-mobile/issues/4136.

[2020-06-10 22:45] 3y3lash opened #4149 "[iOS] bug report - can’t get past login"
iOS on iPhone 7 running 12.2, can’t get past login dialog. After entering correct server, account and password the app keeps redirecting to back to login. Infinite loop.
Not sure where else to report.
Same login details working fine on multiple desktop versions.

[2020-06-10 23:23] gnprice commented on #4149
That's no good! Thanks for the report.

A few questions to help us diagnose and resolve this:
* Is the server you're using at zulipchat.com, or is it one that you / your organization run yourself? If the latter, what version of Zulip Server is it running?
* What version of the app are you using? (If you installed it just recently from the App Store, that's enough to answer this question.)
* Can yo

[2020-06-11 01:04] chrisbobbe commented on #3373
Looks like zulip/zulip#14966 was just closed, so work on this can continue! 🙂  Thanks @akashaviator and @timabbott!

[2020-06-11 07:15] agrawal-d commented on #4149
Does not repo on an Android device.

[2020-06-11 19:23] chrisbobbe commented on #3781
Goodness gracious, this is frighteningly fast. Glad to see this. :slight_smile:

[2020-06-11 23:34] chrisbobbe commented on #3782
Just a note so we don't forget it — there's a handy guide, with screenshots, to changing some things via the Xcode UI, at https://github.com/react-native-community/upgrade-support/issues/13.

[2020-06-12 00:34] chrisbobbe commented on #4146
I just added a link to an MDN doc for the thing this is polyfilling, which should help answer questions like these. 🙂  Here's one quote:

I'm not sure this will fulfill what @gnprice describes at https://github.com/zulip/zulip-mobile/issues/4136#issue-631242811, though:

I'm wondering whether this selective encoding of some things and not others might introduce its own bugs? Probably not larger on

[2020-06-12 00:40] #4141 closed

[2020-06-12 01:02] gnprice commented on #4149
My guess is that this will turn out to be independent of OS, but instead depend on some interaction with the way that authentication works in the organization @3y3lash is using. But hopefully we'll learn more.

[2020-06-12 04:00] agrawal-d commented on #3781
Hot Reload almost never worked for me! I'm eagerly waiting to test Fast Refresh! 😀

[2020-06-12 04:27] pohutukawa commented on #4033
This issue also affects (all of?) our staff in the company. Both on Android as well as iOS. We do have some streams that load, but most are just (at least seemingly) loading forever. The ones that do load only have **very** few messages in them. The desktop and web clients are working perfectly.

Previous messages in this ticket are now weeks old already. Has there been any movement or the possibi

[2020-06-12 12:09] 3y3lash commented on #4149
Hey, thanks for your response - sorry for the late reply!
1) it’s on our own server running the latest version
2) I’ve been using the latest version of the app- I uninstalled and reinstalled a couple of times to check.
3) here:
![C65FA4C0-4AA5-4FB8-8898-50D79472C00F](https://user-images.githubusercontent.com/66748310/84501122-37e4fa80-acb6-11ea-803c-e79d44033d46.png)
4) thanks!

[2020-06-12 19:31] chrisbobbe opened #4154 "Replace unsafe React component lifecycle methods."
In React 17, `componentWillMount`, `componentWillReceiveProps`, and `componentWillUpdate` will be removed.

As Greg prompted at https://github.com/zulip/zulip-mobile/pull/4150#discussion_r439143156, I'm opening this issue to stop using these methods, and use something else instead. We only have two uses of them, so there probably won't be a large number of steps to take.

See https://reactjs.org/b

[2020-06-12 20:57] gnprice commented on #4149
@3y3lash Thanks, that's helpful!

What do you do to log in after that screen? I imagine you touch the button that has your account email and server URL -- then what does the next screen look like? And what does the screen look like that you see just before taking the step that gets you redirected back to login?

[2020-06-12 21:13] 3y3lash commented on #4149
Hi - yep, I tap the button with my account and server and it flashes through the same sequence of logins (too fast to properly see or screenshot) eg:
![250EE67E-2DF7-4E93-AE5D-9CA4EB6CA58D](https://user-images.githubusercontent.com/66748310/84546678-20336380-ad02-11ea-9c54-1d14633e2a28.png)

Until I land back here:
![1384A19F-9837-409B-961A-7275A62D45E9](https://user-images.githubusercontent.com/6

[2020-06-12 21:15] 3y3lash commented on #4149
When I click “log in with password” it brings me back to password log in, then I enter my password and the cycle repeats.

[2020-06-12 22:01] gnprice commented on #4149
Very helpful, thanks!

Based on that sequence, and from studying this code, here's what appears to be happening:
* You're doing a password login, so using `PasswordAuthScreen` in the code.
* The way that screen finishes is here:
[code]
The `dispatch(loginSuccess(…))` is what causes that screen to go away -- any failures within that screen just cause an error message (like "Wrong email or password.

[2020-06-12 22:13] gnprice commented on #4149
@3y3lash Are you one of the people who run your Zulip server? I think the next step for debugging this is to see what the server's logs say when you try to log in.

Specifically I am curious about the contents of `/var/log/zulip/server.log` and `/var/log/zulip/errors.log` for that sequence of requests:
* In `server.log` there should be a line for a request mentioning `fetch_api_key` (that's the on

[2020-06-12 23:07] gnprice commented on #4033
@pohutukawa Thanks for the report! Please file it as its own issue so we can debug it properly -- it sounds like it's a different issue from this one, and I have some followup questions I'll be interested in asking to learn more about what you're seeing.

[2020-06-12 23:20] chrisbobbe commented on #4111
Here's a dramatic before-and-after view, on iOS. At [19:30 of that talk](https://youtu.be/Z0Jl1KCWiag?t=1170), it shows you a very small button in the Xcode UI, where you can see an anatomy of all the UI components rendered to the screen. In each of these, I clicked links so that there would be four MessageList routes pushed to the stack (I started from [this message](https://chat.zulip.org/#narro

[2020-06-12 23:25] chrisbobbe commented on #4111
[This problem](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/WebView.20.22LOADING.22.20state/near/903264) does not seem to be ameliorated at all, hmm.

Now that, experimentally, I've seen that not even the scroll position is messed up, maybe it's time to try this in an alpha or beta release?

[2020-06-13 09:25] maltokyo commented on #4033
This issue is now back for me too. I didn't experience it for some time
until the last few days. Same as before.

On Sat, 13 Jun 2020, 01:08 Greg Price, <notifications@github.com> wrote:

[2020-06-14 19:36] timabbott opened #4155 "Add support for new spoiler syntax"
In https://github.com/zulip/zulip/pull/15281, we're adding support "spoilers", i.e. a block of text that is initially not displayed but if you click on it will appear.  This is useful for a variety of art/fiction conversations where you might want to discuss, well, spoilers, but it can also be used to just improve presentation of large blocks of content that you don't want to overwhelm the rest of

[2020-06-15 01:55] pohutukawa opened #4156 "Message list loads forever, except when very few messages"
Unless visiting a stream with only **very few** (up to about a hand-full) messages, the mobile UI never loads the topic/message list. It remains in the stylised "message list loading" type of screen (fancy spinner). To me, this seems possibly related to #4033, but it may be different (more severe?).

In our environment pretty much all users experience this on the mobile Zulip client on both Androi

[2020-06-15 01:58] pohutukawa commented on #4033
@gnprice Done in #4156.

[2020-06-15 03:39] timabbott opened #4157 "Add mobile support for new `user_avatar_url_field_optional` client capability"
To resolve https://github.com/zulip/zulip/pull/15287, we're introducing a new client_capability that should allow the mobile app to have good performance when talking to servers with thousands of long-term-idle users (and email_address_visibility configured; that last bit being relevant mainly in that our previous attempt at solving this problem. `client_gravatar` feature works only with EMAIL_ADD

[2020-06-15 12:32] amanagr opened #4158 "Support receiving message ids to delete in bulk."
After https://github.com/zulip/zulip/commit/cda7b2f5393b803f521f45f566b520ebcd9b8d20, client can specify if it supports bulk deletion of messages via passing `bulk_message_deletion = True` in [client_capabilities](https://chat.zulip.org/api/register-queue#arguments) on `/register` request.

See [`do_delete_messages` in action.py on zulip/zulip](https://github.com/zulip/zulip/blob/cda7b2f5393b803f5

[2020-06-15 16:09] alreadydone opened #4159 "Stuck at initial loading spinner"
Since yesterday, when trying to start Zulip on my Android, the "Z" wheel keeps spinning and the messages never show up. I have tried to clear cache and update, but wouldn't like to uninstall/reinstall or clear all local data, since my server list / login info would be lost. Any idea/suggestions? Thanks for your attention.

[2020-06-15 17:15] agrawal-d commented on #4159
A release was made available to all users on 13 July. Perhaps this is due to the update. Do you recall updating the app recently?

If you use Play Store, you can see recently updated apps:
From the Play Store home screen, tap the Menu icon Menu (upper-left). Tap My apps & games. Then tap 'Installed'.

[2020-06-15 17:23] agrawal-d commented on #3994
I always used to think this was by design :)

[2020-06-15 18:05] alreadydone commented on #4159
Sorry? Today is June 15 and the latest release seems to be made on May 6 https://github.com/zulip/zulip-mobile/releases/tag/26.28.151. I first experienced the problem with an unknown earlier version, and just updated to the latest version on Google Play Store (which also shows May 6), and it doesn't help.

[2020-06-15 18:39] agrawal-d commented on #4159
Hmm. I was basing my comment on this [message](https://chat.zulip.org/#narrow/stream/48-mobile/topic/release/near/903383). From that, I understood that Greg released the app on GitHub much earlier, and then to the respective stores on 13th. I'm not sure. @gnprice?

[2020-06-15 18:39] 3y3lash commented on #4149
Hey again - I’m not the person running the server, but I’ll pass this info on. Thank you!

[2020-06-15 20:03] chrisbobbe commented on #4111
I've just opened https://github.com/zulip/zulip-mobile/pull/4161 with this enabled, so I or others can come back to it and do some performance testing, as desired. Or, with the knowledge that it's theoretically a performance improvement, we could check for bugs and just release it at some point and see how it goes. The toll on performance in being able to push routes to the stack indefinitely is a

[2020-06-15 20:20] chrisbobbe commented on #4158
Thanks for the heads-up, @amanagr!

IIUC, the `type` of the new bulk-delete event is "delete_message", which is identical to what it is for the now-deprecated event (that only deletes one message): https://github.com/zulip/zulip/blob/cda7b2f5393b803f521f45f566b520ebcd9b8d20/zerver/lib/actions.py#L4596.

This is fine; we can distinguish the new one by its having "message_ids" instead of "message_id

[2020-06-15 20:26] chrisbobbe commented on #4158
@gnprice, should we split this into two Redux actions, e.g., the current EVENT_MESSAGE_DELETE action and a new EVENT_MESSAGES_DELETE action, or just modify the existing EVENT_MESSAGE_DELETE action, kind of following the server's choice here?

[2020-06-15 21:07] chrisbobbe commented on #4158
Hmm, just so I understand correctly, are you saying we should overwrite our `EVENT_MESSAGE_DELETE` action, reducers, etc., in-place to handle the new (bulk-delete) shape? I agree that we should try to name and arrange things as much as possible to mirror the server API.

But if we want to preserve compatibility with older servers, I think there might have to be some differences, such as having the

[2020-06-15 22:51] timabbott commented on #4158
What we do in some server-side testing code is just convert the old shape into the new shape on receipt, and then write all the rest of the code against the new shape.  I think that's an attractive pattern for this (and most other forms of data format migrations, actually).

[2020-06-15 22:55] gnprice commented on #4158
I agree with Tim's answer completely :slightly_smiling_face:

[2020-06-16 00:31] gnprice commented on #4156
Thanks @pohutukawa for the report! That is a pretty bad experience.

One thing reported on #4033 was this workaround:

Does that fix it for you? That's still a bad experience -- maybe *less* terrible but still bad -- but it's potentially an informative clue for us in debugging it.

[2020-06-16 00:39] gnprice commented on #3994
Yeah, it's a bug :)

It looks like this isn't already explicit on this thread, so to be clear: it's a very low-priority bug. This is something most users will do either zero or one times ever, unless they're one of us actively doing development on the app; and then when they do, the impact is a bit jarring but harmless.

[2020-06-16 00:46] gnprice commented on #4159
@alreadydone Thanks for the report! That sounds like a nasty symptom -- sorry you're running into it.

What version of the app are you using? You can see this in the Play Store (tap the arrow next to "What's new", scroll down to "App info", and look at the "Version" item), or in the app (go to settings -> Diagnostics, and it's at the top.)

The observations above are all consistent with having jus

[2020-06-16 01:16] gnprice commented on #4033
@maltokyo Very interesting. Thanks for the update, and sorry the issue seems to be back.

I asked some questions at https://github.com/zulip/zulip-mobile/issues/4033#issuecomment-622173988 that may help us debug the issue. Now that you're seeing the issue again, I'd be very curious for the answers.

[2020-06-16 01:18] gnprice commented on #4051
An update here: Chrome 83 for Android has been rolling out [since 2020-06-08](https://chromereleases.googleblog.com/2020/06/chrome-for-android-update_8.html) ("it'll become available on Google Play over the next few weeks"), and Chrome 84 is now [in beta](https://chromereleases.googleblog.com/2020/06/chrome-beta-for-android-update_9.html).

[2020-06-16 01:56] pohutukawa commented on #4156
Thanks @gnprice for taking this on. Yes, I have tried the force quit & reload, but it didn't work.

I've also deleted all the cache & data of the app and re-connected to our Zulip server: Same thing, nothing loads.

If I can help with gathering insights, I'm happy to provide them to my means of ability.

[2020-06-16 02:30] alreadydone commented on #4159
@gnprice The version currently on my device is indeed 26.28.151, but I only updated to this version after I've experienced the problem, so the problem should already exist in an earlier version (I don't remember the old version number and don't know how to find out; I probably haven't updated for a few months).

[2020-06-16 14:53] zhuangzhitu commented on #4051
Hi, how do you know this method is related to evaluateJavaScript? In which code does Chrome 84 fix the problem, thank you

[2020-06-17 00:42] timabbott opened #4162 "New markdown feature: Mention a time"
We added a new markdown syntax, `!time(2020-06-18T17:32:00-07:00)`, that is meant to be a timezone-aware time displayed to all clients in local time (using the same mechanisms used in the timestamps in Zulip messages).

There's likely some discussion that will happen on how these should be rendered; my current leaning is that we should put a clock icon/emoji at the start of the pills.  But what's

[2020-06-17 19:06] gnprice commented on #4051
I don't know that this error is related to evaluateJavaScript. I do think it's likely that it's related, for the reasons explained in https://github.com/zulip/zulip-mobile/issues/4051#issuecomment-622178004 .

The fix in Chrome 84 that I think potentially fixes this issue is the one linked at the top of that comment https://github.com/zulip/zulip-mobile/issues/4051#issuecomment-622178004. Here's a

[2020-06-17 19:24] gnprice commented on #4159
@alreadydone That's helpful, thanks.

One thing that's going on here and which we should certainly improve is:
* When you launch the app, we go straight to loading current data from the last server you were using. So far that's good -- most people most of the time will want to use the same server they used last, and this helps make the experience good for that case.
* Once that data loads, we show

[2020-06-17 19:59] gnprice opened #4165 "Time out initial fetch, and go to account-picker screen"
If you launch the app, and the last server you'd been using is one that is now impossible to reach... currently we just stay at the loading screen forever, endlessly retrying the initial fetch.

If that's the only server you ever wanted to use, then this isn't so bad, given that there's not much useful we can do until the server is back. But if you'd like to go use some *other* server, then you're

[2020-06-17 20:30] gnprice commented on #3483
The specific content of this issue is what's described in this comment: https://github.com/zulip/zulip-mobile/pull/3254#issuecomment-469833756

I think all the outstanding items in that comment will be addressed by moving and renaming `tryUntilSuccessful` so that it's clear it's a helper specific to its call site in `doInitialFetch`, and not a generic abstraction. That's a step in #4165, so closin

[2020-06-17 20:30] #3483 closed

[2020-06-17 20:54] #4158 closed

[2020-06-17 21:20] chrisbobbe commented on #4165
`fetchPrivateMessages` also uses `tryUntilSuccessful`. Does that look like a mistake, now that we're going to change `tryUntilSuccessful` to more specifically address `doInitialFetch`'s needs? If it's not a mistake, I wonder why, e.g., `fetchMessagesInNarrow` doesn't use it.

[2020-06-17 22:23] gnprice commented on #4165
Huh, good catch -- I'd looked for uses of `tryUntilSuccessful` but somehow I'd missed that one!

Reading it, I think it'd be fine for it to continue to use the helper when it grows a timeout, or also fine for it to just have its current behavior inlined as a BackoffMachine loop... or really basically fine for it to just try once and not bother retrying, just as `fetchMessages` does. (Especially as

[2020-06-17 22:48] chrisbobbe commented on #4159
Another possible reason for getting stock on the loading screen is that the initial fetch doesn't even start. The completion of the fetch is one trigger for navigating away from the loading screen.

`doInitialFetch` has one call site: in the `componentDidUpdate` method of `AppDataFetcher`, if the `needsInitialFetch` prop is true.

Looking closer, to see when that might happen...`needsInitialFetch`

[2020-06-18 03:47] zhuangzhitu commented on #4051
I encountered a similar problem with webView, but this repository is irrelevant, and I wanted to see how I could solve this problem. It all happened with Android 10 system and a lot of crashes occurred, but the local recurrence was not found. Collapse of threads are InputConnectionHandlerThread, I doubt that I don't know where got stuck, causing the message hasn't been scheduling, basic it is stuc

[2020-06-18 18:02] chrisbobbe commented on #4146
Oh—I guess now that we've decided to use `react-native-url-polyfill` instead of just `whatwg-url-without-unicode`, it'll be fine to use Option 1 of the setup, described [here](https://github.com/charpeni/react-native-url-polyfill#option-1-simple)—i.e., mutate the URL global variable. At https://github.com/zulip/zulip-mobile/issues/4081#issuecomment-623716266, @gnprice pointed out that it would be

[2020-06-18 20:49] timabbott commented on #4162
The syntax for these is changing to use HTML 5 time elements: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time

So the markdown will be `<time datetime="{datetime_string}">{original_text}</time>` once we merge  https://github.com/zulip/zulip/pull/15433.

[2020-06-21 08:05] maltokyo commented on #4033
Hi @gnprice Please find below, sorry for the delay.

MIUI 11, based on Android 10 (Xiaomi, latest updates)

Version 83.0.4103.106 (updated on 15th June)

I tried this, however, due to the fact that I have a "work profile" installed, it will not let me select the second line in this screenshot, any way around it?

![webview](https://user-images.githubusercontent.com/1388507/85219758-c63c3900-b3a6-1

[2020-06-21 20:41] pohutukawa commented on #4156
@gnprice any further input on this? Anything we can do to provide further data to debug the problem?

[2020-06-22 06:46] zhuangzhitu commented on #4051
Can you provide more analysis? thank you

[2020-06-23 14:37] strifel commented on #4136
Same problem when trying to open a link to a big blue button video call.
URL gets converted to<br> `localhost:9991/calls/bigbluebutton/join?meeting_id=%2522zulip-553592035814%2522&password=%2522SEVK77GAJK%2522&checksum=%2522096c3a04e5e26106ac4a1df1f8fb1bfa2f464ed9%2522` <br>but should be <br>`localhost:9991/calls/bigbluebutton/join?meeting_id=%22zulip-553592035814%22&password=%22SRVK14GAJK%22&chec

[2020-06-23 18:58] chrisbobbe opened #4170 "Use `AbortController` to abort fetches and more."
See [discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Stuck.20on.20loading.20screen/near/907752) (thanks @andersk for pointing this out, and @gnprice for nudging me to look closer!).

With https://github.com/facebook/react-native/pull/24419, React Native (v0.60) gained a polyfill for the `AbortController` Web API; see the [MDN doc](https://developer.mozilla.org/en-US/docs/We

[2020-06-24 05:23] chrisbobbe commented on #4156
The loading view you're seeing is this one, right; gray squares and lines covering most of the screen?

![image](https://user-images.githubusercontent.com/22248748/85504072-12060280-b5a0-11ea-8a72-77c7aa5bb8a1.png)

Or is it a circular spinner?

[2020-06-24 21:08] pohutukawa commented on #4156
@chrisbobbe Yes, it's the "stripey one" in the screen shot above.

[2020-06-25 10:43] 3y3lash commented on #4149
Hey there,
An update from the person running the server:

2020-06-24 11:47:57.277 INFO [zr] x.x.x.x   POST    200 134ms (db: 31ms/4q) (+start: 10ms) /api/v1/fetch_api_key (user28@zulip.example.com via ZulipMobile)
2020-06-24 11:47:57.485 INFO [zr] x.x.x.x   POST    401   4ms (+start: 6ms) /api/v1/users/me/presence (unauth via ?)
2020-06-24 11:47:57.498 INFO [zr] x.x.x.x   POST    401   3ms /api/v1

[2020-06-29 08:13] agrawal-d commented on #1529
We also need to translate some of the text shown within the webview, such as `Edited {x} days ago`, `Today`, `June 10` etc.

[2020-06-29 19:54] gnprice commented on #3114
Bump to mention that we've heard a complaint about this [on czo](https://chat.zulip.org/#narrow/stream/48-mobile/topic/PM.20notifications.20Even.20if.20I'm.20chatting/near/918309).

[2020-06-30 06:02] agrawal-d opened #4174 "Migrate to GitHub Actions (from Travis CI)"
GitHub Actions is a new product by GitHub that we can use to automate our CI workflow. I've used it on some of my own projects, and it's pretty good. It runs fast and the dependency downloads are not flaky like in Travis CI.

We should try out GitHub actions to evaluate it.

Documentation: https://help.github.com/en/actions

[2020-06-30 22:34] #3964 closed

[2020-06-30 22:47] pohutukawa commented on #4156
Ping.
Any help I can provide for further insights on debugging. For quite a while the mobile Zulip client is completely unusable, now. People are starting to scream to go back to Slack again, which I'd like to avoid.

[2020-07-01 03:17] gnprice commented on #4156
@pohutukawa Thanks for your persistence with this!

I think in order to get helpful logs for debugging this, we'll need to add some new code. I hope to have a beta version out soon with some code for that. If you haven't already, one step you can take now is to join the beta:
https://github.com/zulip/zulip-mobile/#using-the-beta
(Right now that has the same version as we've released for everyone,

[2020-07-01 03:46] gnprice commented on #4149
That's helpful, thanks!

Reading that log, what I see is:
* There's a `/fetch_api_key` request that succeeds (status 200) and looks normal.
* Then a `/register` request that fails, with a 4xx status! That matches the story I described above, based on the code. In particular it would explain exactly the symptoms you're seeing.
* Specifically it is failing with status 401, "Unauthorized". That means

[2020-07-01 03:53] gnprice commented on #4149
There are also a couple of things we should probably do to make situations like these easier to debug, either for you or if they recur for someone else in the future:
* As I said above, if we get a 4xx error when trying to load your data from the server, we conclude that the credentials we have for you aren't going to work and take you to the login screen.
* When we do that, we should show an erro

[2020-07-01 04:16] gnprice commented on #4051
@zhuangzhitu It looks like the top few frames of the stack trace you're seeing are the same as ours, from `checkFocus` inward.

If I understand you right, you've said you can't reproduce the issue you're seeing. We've been unable to reproduce the issue we're seeing too. That does make it harder to debug.

If you do manage to reproduce it, or if you're in contact with someone using your app who is

[2020-07-01 04:40] gnprice commented on #4033
Cool -- so that's consistent with our guess that this symptom may correspond to the error #4051 we're seeing reported as an exception, because that error is only possible on Android 10+. (Though something like half our Android users are on Android 10 -- 38% [when I last looked](https://chat.zulip.org/#narrow/stream/48-mobile/topic/platform.20versions/near/863756) a couple of months ago -- so one d

[2020-07-01 06:17] timabbott commented on #4149
What version is the server running in this case?  If the server is using an early version of the `email_address_visibility` feature, it's possible that could explain this symptom of the server returning an invalid credential (because it's returning `user15@zulip.example.com` as the username).  It looks like we had that bug and accidentally fixed in zulip/zulip f00a852697811f647591bd5faa0d7a8ad9c0d

[2020-07-01 10:22] agrawal-d commented on #4135
I tried to fix this, with the suggested change `replace`, as well as `reset`:
[code]

but I'm still getting the error:
[code]

[2020-07-01 14:29] agrawal-d commented on #3800
I investigated this issue today, and have answers to the first two questions:

Yes, the message appears in the outbox.

No, it does not disappear from the outbox.

I'll need to investigate further to answer this.

[2020-07-01 14:44] agrawal-d commented on #3800
`MessageList` uses `getShownMessagesForNarrow` to load messages, which internally calls `outboxMessagesForNarrow` to load outbox messages, but it's returning a `NULL_ARRAY` in this case, so the message does not load:

`narrowSelectors.js:34`
[code]

[2020-07-01 14:49] agrawal-d commented on #3800
Yep, temporarily removing
[code]

fixes this issue.

[2020-07-01 15:25] agrawal-d commented on #3800
I don't get the logic behind the `if` condition I mentioned above - what I understand from it is: 'If we haven't fetched the newest messages, don't show unsent messages'.

That does not make much sense to me. I think there is no need for this condition at all, because whatever may be our perceived knowledge about the fetched messages, the app can still have unsent messages.

So, if I were to make

[2020-07-01 15:43] agrawal-d opened #4177 "Outbox messages not sent when connectivity is regained"
When the app regains internet connectivity, we should start sending outbox messages. But this is not done currently, and the sending of these pending outbox messages starts only when the user composes a new message.

[2020-07-01 19:30] chrisbobbe commented on #3965
Closing this as fixed by #4034! 🎉

[2020-07-01 19:30] #3965 closed

[2020-07-03 01:21] chrisbobbe commented on #4156
Here's an issue we haven't thought about in a while, but that's still open and a symptom is the gray bars showing indefinitely: https://github.com/zulip/zulip-mobile/issues/3281

IIUC, the theory there is that we fail silently and aren't retrying at all, and this particularly affects people with weak Internet connections.

@pohutukawa Is there anything consistent among you and your colleagues abou

[2020-07-03 05:09] pohutukawa commented on #4156
@gnprice:

OK, I have just tried to connect to `chat.zulip.org` using my mobile client, and everything seems to work fine. Thus I'd expect that it might be an issue with an assumption on something the mobile client does from (our version of) the server vs. what the web/desktop clients do.

If you look at my original entry in here, I did at one point upgrade our server to Git master due to a proble

[2020-07-03 05:11] pohutukawa commented on #4156
Likely. Screen shots are *very* commonly used (unfortunately even where a text copy/paste would suffice). So I'd imagine the answer to your question is "yes likely".

[2020-07-06 18:27] aleffert opened #4182 "Unable to clear badge icon"
Running the latest iOS version (v26.29.52) on the latest iOS (13.5.1).

Steps:
Get @mentioned in a message.
Observe badge with a 1 on the homescreen
View message in the iOS app
Close app
Still observe badge with a 1 on the homescreen

Expected:
No more icon badge since I have nothing unread

I also tried opening up with the desktop app as well as explicitly killing the app on my phone.

[2020-07-06 18:31] chrisbobbe commented on #4182
Thanks for the report, @aleffert! This is a known issue, and we're working on a fix; you can follow along [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/iOS.20badge.20count/near/926092) if you like.

[2020-07-07 01:24] gnprice commented on #4156
@pohutukawa Thanks. I have the same inference from that as you do -- it seems like the variable that triggers this bug is clearly something about your server, or perhaps about the data on it.

Meanwhile, today I sent a new release to beta which adds some logging that should help us debug this: version 26.30.153. Please try out the beta:
https://github.com/zulip/zulip-mobile/#using-the-beta
and che

[2020-07-07 02:34] pohutukawa commented on #4156
@gnprice Thanks for that. Just joined the beta and installed the new version (Android, 26.30.153). I have force killed and started the mobile Zulip client to make sure the new version is running. So far the behaviour is still identical (getting the "stripey" wait UI while loading without a change).

If you'll let me know on how to access such logs to track down things further, I'd be glad to exerc

[2020-07-07 14:27] apxwn opened #4184 "Size of Avatars inside messages"
When inserting avatars into messages via `!avatar(id)`, they are currently oversized (or just not scaled down). See screenshot.
Zulip mobile v26.30.153, Android
![Screenshot_20200707_161543_com zulipmobile](https://user-images.githubusercontent.com/15420626/86796284-b8f1a080-c06e-11ea-8b4e-962277d9dfbb.jpg)

[2020-07-07 18:31] chrisbobbe commented on #4174
I seem to remember some discussion about CI...just not being run anymore, in this repo. Is that what led you to consider GitHub Actions? Do you remember where that discussion was, or am I imagining things?

[2020-07-08 06:18] agrawal-d commented on #4174
Partly yes, and partly because it's integrated into the GitHub UI, so we won't have to switch between services.

:smile: Yes, there was a discussion some time ago, as a comment on a PR: https://github.com/zulip/zulip-mobile/pull/4143#issuecomment-643004206

[2020-07-08 12:41] agrawal-d commented on #4184
I just tested this on my device, v26.30.153, Android, and the avatars are tiny for me.

![image](https://user-images.githubusercontent.com/7714968/86919747-58ce2d80-c146-11ea-830a-8caf06106c92.png)

[2020-07-08 15:35] apxwn commented on #4184
Seems true for the Gravatars, but custom (uploaded) avatars are not scaled correctly. See:

![Screenshot_20200708_173239_com zulipmobile](https://user-images.githubusercontent.com/15420626/86938994-59b09080-c141-11ea-86df-3ee9623ffdf6.jpg)

[2020-07-08 20:31] timabbott commented on #4162
Just an update that we've finished all server-side updates to this.  The markdown syntax to generate it is now `<time:...>` for when we want to add support for making these in compose typeahead.

[2020-07-08 20:33] chrisbobbe commented on #4162
Cool, thanks, Tim! The open PR is already using the new format.

Over at https://github.com/zulip/zulip-mobile/pull/4169#issuecomment-648275974, I'm wondering about spoilers.

[2020-07-08 21:11] pohutukawa commented on #4156
What is this sentry stuff up there? I don't seem to have any credentials to do anything with the links.

[2020-07-08 22:20] chrisbobbe commented on #4156
We use Sentry for logging issues encountered in the app. Greg and I have access, and we've been debugging [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M4156.20Message.20List.20placeholders/near/928307). 🙂

One thing we've noticed is that there's something odd in the shape of the data representing reactions to messages, in the response your server gives to [`GET /messages`]

[2020-07-09 00:03] gnprice opened #4185 "Allow internal links to use stream ID without stream name"
This is the mobile counterpart to zulip/zulip#15402:

The relevant code in our codebase is here, in src/utils/internalLinks.js:
[code]

The webapp now accepts the ID-only form, and we should too. (It still won't *generate* links of that form -- but bots may start doing so.)

[2020-07-09 01:50] gnprice commented on #4156
@pohutukawa We've done a bit more debugging, and I'm now pretty confident that that server bug is the one you're running into here.

I recommend you upgrade the server to a current version. There's now [a release candidate](https://zulip.readthedocs.io/en/latest/overview/changelog.html#rc1-july-1-2020) for Zulip Server 3.0, which perhaps has a somewhat reduced risk of having a really obnoxious bug

[2020-07-09 02:31] gnprice commented on #3641
I'm looking back at this issue now (while thinking about possibly-related issues [with the "a-message list" label](https://github.com/zulip/zulip-mobile/issues?q=sort%3Aupdated-desc+label%3A%22a-message+list%22+is%3Aopen)), and I notice in the original GIF a clue that I don't think I noticed before:

Each of the two times the bug hits, before we show the "loading" animation, the message list disap

[2020-07-09 03:05] gnprice commented on #4033
@maltokyo One other question for you (or pair of questions), which I should have asked sooner but I see I neglected to!

* Are you seeing this on Zulip Cloud (zulip.com / zulipchat.com), or on a server hosted elsewhere (like within your company/organization)?
* If the latter, what version of the Zulip server is it running? You can find out the exact version with a command like this one (just repla

[2020-07-09 03:09] gnprice opened #4186 "When message fetch fails, show error instead of loading-animation"
When you go to read a conversation, we load the messages that are in it if we don't already have them. While we're doing that fetch, we show a "loading" animation of placeholder messages. But then if that fetch fails with an exception, we carry on showing that loading-animation forever.

That's bad because after the fetch has failed, we are not in fact still working on loading the messages, so the

[2020-07-09 03:23] gnprice commented on #3745
Bump -- [when discussing](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M4156.20Message.20List.20placeholders/near/928737) #4156 we were reminded that this would be a good thing to finish.

[2020-07-09 03:32] gnprice commented on #3281
On reconsideration, I think an automatic retry would not be a good solution here. A major reason for that is that when a message fetch fails, there may well be something wrong so that retrying would just fail again and again.

Instead, when the fetch fails, we should show an error in place of the messages. That's #4186, just filed. With a retry button, you can have it retry if you think the issue

[2020-07-09 03:33] gnprice commented on #3281
Closing in favor of #4186 .

[2020-07-09 03:33] #3281 closed

[2020-07-09 04:09] pohutukawa commented on #4156
I've just followed your `curl` command mentioned in the other issue thread, and this is the version I'm currently on:

[code]

I'll upgrade to the 3.0 RC next week and see how it goes.

Cheers!

[2020-07-09 05:12] gnprice commented on #4156
OK, and that commit is indeed in the range @chrisbobbe identified at https://github.com/zulip/zulip-mobile/issues/4156#issuecomment-655787636 between when that server bug was introduced and fixed! So your server is indeed currently affected by that bug. When the bug was live on our development server chat.zulip.org, it [was observed to cause](https://chat.zulip.org/#narrow/stream/2-general/topic/R

[2020-07-09 05:12] #4156 closed

[2020-07-09 07:38] maltokyo commented on #4033
Hi @gnprice

I only have tried with my own (debian 10, 32GB RAM, VPS) server using docker version of Zulip, but I can give it a go with the main zulip chat site as well.

Below is the outcome of running that command on my server (domain replaced).

[code]

[2020-07-09 09:03] gnprice commented on #4033
That's helpful information, thanks.

(Unrelated to this issue, I'd recommend you upgrade the server -- there was [a security release](https://blog.zulip.com/2020/06/17/zulip-server-2-1-5-security-release/) last month.)

[2020-07-09 09:13] gnprice commented on #2844
With #4165 fresh in my mind, I think these reported symptoms are explained perfectly by that issue. Closing this one in favor of that one, which has more detail; I'll make a comment there with the relevant information to add from here.

[2020-07-09 09:19] #2761 closed

[2020-07-09 09:26] gnprice commented on #2938
I just tried and couldn't reproduce this. (v26.28.151, iOS 12.4.1, iPhone 6.)

Very likely it was fixed when we turned the message input box "uncontrolled", in #3095 which was the successor to #2886. This is definitely the kind of behavior I'd expect to be affected by a controlled vs. uncontrolled input.

[2020-07-09 09:26] #2938 closed

[2020-07-09 13:27] wardweistra commented on #3641
![20200709_152246](https://user-images.githubusercontent.com/779157/87045772-8e335380-c1f8-11ea-914e-26204132b2f7.gif)

@gnprice Here's the current behavior on that one phone. Both the streams overview and the stream itself keep refreshing still.

[2020-07-09 18:16] timabbott commented on #4184
@apxwn can you talk about how you're using `!avatar()`?  The feature has been removed for the Zulip 3.0 release, having never been documented, inconsistent syntax with the rest of markdown, and no clear use case (we know that it's only been used in a few dozen messages in 2020 in Zulip Cloud).

If there's a compelling use case we could add a new version without those problems.

[2020-07-09 19:03] apxwn commented on #4184
@timabbott I used it to introduce a bot to the public. That's when I noticed it. The first screenshot here is actually this one use case.

It's not that compelling, of course, though I could think of rendered mentions with a tiny version of the avatar instead of the '@' in front of the name being quite good looking.

[2020-07-10 21:36] sahil839 opened #4188 "Hide user emails in message reaction list according to email_address_visibility setting."
Email of users in the message rection list (which is opened by long-press on an existing reaction or by clicking on "See who reacted" from message action sheet) should be hidden when the original email is not visible to the user according to the email_address_visibility settings of the organization.

There is no use of showing the emails generated by user-id (of the form user1888@example.com), as

[2020-07-10 21:57] gnprice commented on #4188
Thanks @sahil839 !

In fact I think the best thing to do is to go farther than that: we should just leave out the email addresses on this screen unconditionally. Even when real email addresses are available, in this context they feel mostly like clutter.

The code that implements this screen is in `src/reactions/MessageReactionList.js`.

[2020-07-11 02:16] #4058 closed

[2020-07-13 03:01] kelvinngure commented on #3994
I just started using your app and this was the first thing I noticed since when I use a new app, the first thing I do is switch to night mode. It's quite noticeable

[2020-07-13 16:48] chrisbobbe commented on #3994
https://github.com/zulip/zulip-mobile/pull/4046 would fix this; @gnprice has already reviewed and merged several of its commits, but there are a few more. 🙂

[2020-07-13 17:43] chrisbobbe commented on #3175
A user in the Recurse realm, over [here](https://recurse.zulipchat.com/#narrow/stream/102312-consciousness/topic/Victoria.20Grey.20Mitchell/near/203644976) (only accessible to realm members, like @gnprice, Tim, and me), reports that it's not clear that you can mute topics/streams.

In a high-participation realm like the Recurse Center (or [CZO](chat.zulip.org), I suppose), it's especially importan

[2020-07-13 19:29] #3781 closed

[2020-07-13 19:38] chrisbobbe commented on #4091
Just a note that *just* upgrading Unimodules won't be enough, I think—https://github.com/zulip/zulip-mobile/commit/c8d0c8df5efe808214db78c2a5daad186c9dc91f should be reverted once we're on the new version, IIUC.

[2020-07-13 19:41] gnprice commented on #3780
We're now on RN v0.61! So the known Metro issue on Windows that was blocking this is resolved.

The next step is for us to switch over in local development, and see if anything goes wrong. In particular I don't believe any of us have tested Node 12 on macOS yet.

[2020-07-13 20:32] chrisbobbe commented on #3452
I just tried babel-eslint at v11.0.0-beta.2, and it wants at least ESLint 6. We'll get that in, e.g., https://github.com/zulip/zulip-mobile/pull/4128.

Now done, in https://github.com/zulip/zulip-mobile/pull/4151, great!

[2020-07-13 20:32] gnprice commented on #3452
Now that we're on RN v0.61 and Flow v0.105, we have that `implicit-inexact-object` flowlint rule available. So I made a quick experiment with it.

It finds 411 places. The majority of those are in the libdefs in `flow-typed/npm/`, which come from flow-typed upstream, so those are to be left for step 3. Something like 100-150 of them are in our code, though.

Skimming through, there's a mix. Some a

[2020-07-13 21:07] chrisbobbe commented on #3782
Although we should always do our best to keep up with the latest versions of all our dependencies, it initially appears that the list of ones we'll be *required* to upgrade, for RN v0.62 compatability, is short! Just to see whether the list was long or short, I tried upgrading to v0.62 on a local branch and handled peer dependency warnings one by one. (Of course, there could still be issues that a

[2020-07-13 21:33] gnprice commented on #4174
Turns out:
* Our CI was *running* just fine all along -- but failing to post results to the PRs;
* I was able to [fix that by just](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/travis.20results/near/933188) revoking Travis's access to my account and authorizing it again.

So we're now back to Travis working just as well as it always did.

Faster and less flaky would still be quite a

[2020-07-14 22:48] chrisbobbe commented on #3804
As @gnprice mentions [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M3745.20Server.20version.20to.20Sentry/near/930326), fixing this issue may help us in a somewhat surprising way: it appears that many of our import cycles go through `navReducer.js`. When there are too many import cycles, Flow and Jest sometimes panic and spit out lots of error output.

Concretely, I think o

[2020-07-15 01:25] #4091 closed

[2020-07-15 17:52] #4188 closed

[2020-07-16 18:35] tekacs opened #4192 "Add a clear button to the Topic input of the compose field"
I've found that it would be super helpful when composing a message to be able to quickly clear the 'Topic' input field during compose (and perhaps in other places), with an X button.

<details>
<summary>
In this image, the ideal would be to clear out the word 'Streams' from the topic box.
</summary>
<img src="https://user-images.githubusercontent.com/63247/87708896-4791ac00-c758-11ea-9644-33725eac

[2020-07-18 00:06] gnprice commented on #3833
This got unblocked earlier this year, with https://github.com/zulip/zulip/pull/13739 and some followups shortly after. There's now a [`typeahead.js`](https://github.com/zulip/zulip/blob/ed183fb95fcbb5cf7a4ded5fdfa24a40e1368d1f/static/shared/js/typeahead.js) in the shared code which covers what we need for emoji typeahead.

Here's the next steps, as described at zulip/zulip#13728:

So we need to bu

[2020-07-18 00:13] gnprice commented on #3833
Marking as priority because, although the user-visible effect of this feature isn't top-priority issue in itself, this is a good pilot for sharing other code with the webapp, and there's active work on the webapp side on that right now.

[2020-07-18 06:19] gnprice commented on #117
Merged #4124! That contains quite a bit of code which represents all the pieces of an implementation of this feature.

It doesn't yet actually enable the feature, because in its current version it crashes when you try to use it. (There was no such trouble in @agrawal-d 's last revision of the PR, but it happens after rebasing to a recent version from master.) And there are some other things remain

[2020-07-20 12:43] manan2501 opened #4197 "Bug with Night mode"
### Current Behaviour
When we toggle our theme from default to night mode or vise-versa, we are redirected to home page.

### Expected Behaviour
It should stay on the settings page itself.

### Example
[![bugf29340950876bd6e.gif](https://s7.gifyu.com/images/bugf29340950876bd6e.gif)](https://gifyu.com/image/Wb4W)

[2020-07-20 17:07] chrisbobbe commented on #4197
Thanks for the report! @gnprice, it sounds like this issue is getting more attention; see https://github.com/zulip/zulip-mobile/issues/3994#issuecomment-657332950 for another recent comment on it. I've got an open PR (https://github.com/zulip/zulip-mobile/pull/4046) that would fix it, and you've merged about half of it; it looks like the rest have gathered some conflicts. I'll sort those out now.

[2020-07-20 18:30] chrisbobbe commented on #3546
And the `jitsi_server_url` part of https://github.com/zulip/zulip/issues/14166 has landed! So, this can go ahead. Thanks @amanagr!

[2020-07-20 19:18] chrisbobbe commented on #3994
We've had another report of this, at https://github.com/zulip/zulip-mobile/issues/4197. I think my PR isn't unusually complicated, and hopefully it's easier to review now that I've swept away some distracting conversations by opening #4199. 🙂

[2020-07-20 19:19] chrisbobbe commented on #4197
I'm closing this in favor of the original issue, #3994, but I noted that the issue has had more attention at https://github.com/zulip/zulip-mobile/issues/3994#issuecomment-661283736. 🙂

[2020-07-20 19:19] #4197 closed

[2020-07-20 23:24] chrisbobbe opened #4200 "Use new logo!"
With the release of [Zulip Server 3.0](https://blog.zulip.com/2020/07/16/zulip-3-0-released/), we got a new logo! Let's use it.

Here are some [Apple docs](https://developer.apple.com/design/human-interface-guidelines/ios/icons-and-images/app-icon/) and [Android docs](https://developer.android.com/google-play/resources/icon-design-specifications) on the app icon.

### Here's a list of places we'll

[2020-07-20 23:50] chrisbobbe commented on #4200
It may also be a good opportunity to revisit some of these old issues (but I wouldn't say they block anything):

- https://github.com/zulip/zulip-mobile/issues/3571
- https://github.com/zulip/zulip-mobile/issues/2756

[2020-07-21 21:12] chrisbobbe opened #4202 "Topic names should be treated case-insensitively in the unread list."
Following discussion [here](https://chat.zulip.org/#narrow/stream/9-issues/topic/Topic.20names.2Funreads/near/946870).

It looks like we aren't handling case insensitivity of topics in the unread list correctly. We expect topics "abc" and "ABC" to be combined into a single item (AFAIK the display name on that item is chosen arbitrarily between "abc" and "ABC"); this is how it's handled in the web

[2020-07-21 21:13] gnprice commented on #4202
I agree, that plan sounds good to me.

[2020-07-21 23:30] chrisbobbe opened #4203 "Help along deprecation of `use_first_unread_anchor`."
This is deprecated; we should inspect the feature level (pending https://github.com/zulip/zulip-mobile/pull/4079), and if it's 1, use the special string values for `anchor` instead. See the [server doc](https://zulip.com/api/get-messages#parameters).

[2020-07-22 05:23] pohutukawa commented on #4156
Just to confirm: Upgraded to the 3.0 version, and things are working again.

Having said that, there was an issue where I had to do a Git upgrade to the 3.0 tag, as the "latest" tar-ball would lead to an error in the upgrade. There is also another issue as I wasn't able to use the data export before the upgrade or the `stream_stats` operation. But I'll create another ticket for that.

Awesome @gnp

[2020-07-23 06:21] gnprice commented on #4156
Excellent. Thanks @pohutukawa for confirming, and for being an awesome bug reporter!

Please do file that upgrade issue too (in zulip/zulip) -- we'll probably do a 3.1 release within the next couple of weeks, and this sort of upgrade issue is the perfect kind of thing to fix for that release.

[2020-07-24 00:46] gnprice commented on #4200
Here's a list of places to update that are related to the mobile app, which I prepared in one of our release-planning docs last week. It overlaps with your list:
- [ ] iOS home screen etc. (white on color/gradient background, full-bleed; PNG, sizes [here](https://developer.apple.com/design/human-interface-guidelines/ios/icons-and-images/app-icon/))
- [ ] App Store (see iOS specs)
- [ ] Play Store

[2020-07-24 03:04] gnprice commented on #4200
After some discussion [in chat](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/new.20logo/near/951224), this is ripe for someone to take on. See there for
* SVG files to use as the sources for the different graphical variations needed
* an example command to convert from SVG to various sizes of PNG

For WebP, a similar command may work, or see [Android Studio instructions](https://dev

[2020-07-25 01:24] #4200 closed

[2020-07-25 01:42] gnprice commented on #4200
And done! Followups include:
* make a new release, and follow the usual build+upload sequence
* update icon to be shown in the Play Store listing
* in the App Store release process, try to confirm that the icon for the listing will be updated (as I believe it will be)

and later or optionally:
* static/img/logo.png comes out pixelated and the reason [seems to be straightforward](https://chat.zulip

[2020-07-25 01:55] gnprice commented on #4200
Just did this in 5ada9da26. Now that we have the script, this was very quick to fix! So might as well do so, since I'd just diagnosed it and the issue was fresh.

[2020-07-25 03:48] gnprice commented on #3665
The Play Console has started showing me a warning when I upload a new release; first saw it today with the 27.154 release (now in beta). Following some links, [the deadline is 2020-11-02](https://support.google.com/googleplay/android-developer/answer/113469#targetsdk).

(I'll edit the description with more info.)

[2020-07-26 19:56] shubhamkakkar commented on #4053
@sumukhah can you describe this more ?
PS: steps to recreate this would also be helpful

[2020-07-28 15:45] sumukhah commented on #4053
As you could see on the screenshot, more space left empty on top navigation bar(where all messages, mention, search are placed).
Use the "touchable" option that will be available along with the inspect elements to check this.
Ask this on the slack before diving fixing this.

[2020-07-28 18:22] chrisbobbe opened #4209 "Unread notice shouldn't hide message content."
A user [reports](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Mobile.20Unread.20Bar.20Hiding.20Content/near/958915) an annoying bug, that the unread notice hides some message contents, as seen in the first screenshot. It should instead look more like the second screenshot.

<img src="https://user-images.githubusercontent.com/22248748/88705119-f2dd2200-d0c3-11ea-998f-1dcfdd1b39cb.png" h

[2020-07-29 05:43] gnprice commented on #4209
I did some quick experimenting with this.

I think the situation isn't that the unread notice is covering the content. In those screenshots, note that what's being obscured is several times the height of the unread notice.

Also our layout is that the unread notice isn't overlain on the message list, but rather stacks with it vertically (in the y-direction.) See in `ChatScreen` how the `UnreadNoti

[2020-07-29 05:50] gnprice commented on #4209
The main next step needed for resolving this issue is some debugging. In particular:
* There are several places we adjust the scroll position. When this issue occurs, which of these are getting invoked?
* What's the sequence of those (if more than one), and the parameters involved?
* These appear in `js.js`, which has (most of) the JS code that runs inside the message-list WebView. See in particul

[2020-07-29 06:47] gnprice opened #4210 "Use new logo for debug app icon"
This is a followup to #4200 -- when resolving that issue, we didn't update the icon used for the debug build of the app on Android. (On iOS we don't use a distinct app ID for the debug build and so we don't use a distinct version of the app icon.) It'd be good to fix that. Thanks to @agrawal-d for [reporting](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/new.20logo.20%28debug.20build

[2020-07-29 08:02] gnprice opened #4211 "Provide an "adaptive icon" for Android launchers"
As [upstream docs](https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive) put it:

This caters to the fact that, for example, the launcher on Samsung devices wants to use a squircle (like iOS), while the launcher on Pixel devices in recent years' versions of Android wants to use a circle.

Currently we just provide a plain non-adaptive icon, which we've shaped as a circl

[2020-07-29 09:24] agrawal-d opened #4212 "Android: Animated GIF support broken after RN upgrade"
After the recent RN upgrade, animated GIF support broke again. This should be an easy fix - we only need to upgrade Fresco.

See https://reactnative.dev/docs/0.61/image#gif-and-webp-support-on-android

[2020-07-29 09:31] agrawal-d commented on #4212
Bumping priority to P1 because this was a working feature that broke after an upgrade.

[2020-07-29 18:13] chrisbobbe commented on #4212
Makes sense! Just like in a4b446890, it looks like.

[2020-07-29 18:17] #4212 closed

[2020-07-31 01:03] #1946 closed

[2020-07-31 01:03] #3994 closed

[2020-07-31 06:11] #3800 closed

[2020-08-01 05:50] chrisbobbe commented on #4170
I think the article linked from this [tweet](https://twitter.com/dan_abramov/status/1280656542874943488?s=20) from Dan Abramov is probably worth reading, at least in part, if only just because it's Dan Abramov. I haven't read it yet. To quote the tweet:

[2020-08-01 09:06] TheOneWithTheBraid opened #4214 "Improve UI for large screens of tablets/Chrome OS devices"
On large screens like on devices > 10" Zulip mobile app experience is very limited.

### Devices I testes

* 10,2" Android 6 API 23 tablet
* 13" ThinkPad Yoga with Chrome OS (Android 9 API 28)

### Suggestions

* Show the streams in a sidebar like on Desktops
* Show user profile preview in a context-menu-like menu instead of in full screen
* Support keyboard shortcut like `[alt]+[enter]` for sendi

[2020-08-02 09:02] maltokyo commented on #4102
I have this without cloudflare. Android. Anyone else?

[2020-08-02 09:09] maltokyo opened #4215 "Android/iOS Thumbnails not showing in v3.1 after upgrade from 2.1.7"
I have upgraded from 2.1.7 to 3.1 (docker version) and thumbnails of images work as expected only in the web version, but not on Android app. Is there any logs I can provide? Any guidance would be helpful.

[2020-08-03 08:17] maltokyo commented on #4215
Confirmed this is for iOS also.  Desktop and web versions show all thumbnails.

[2020-08-04 00:33] #4162 closed

[2020-08-04 00:50] gnprice commented on #3782
At https://github.com/zulip/zulip-mobile/pull/4101#discussion_r464736464 , we just learned of another nice thing we'll get with this upgrade: the newer Flow version will support method calls in optional chains, like `foo?.bar()` (and IIUC also `foo?.bar.baz()`.)

[2020-08-04 07:49] maltokyo commented on #4215
I have setup everything according to here: https://github.com/zulip/zulip/blob/3ee69f3da9956aa45580696b8ad7fe20b41c1a43/docs/subsystems/thumbnailing.md

Why would people not want thumbnails?  According to @timabbott this is experimental and not working.  I guess that should be mentioned above.

[2020-08-04 22:03] gnprice commented on #4215
Thanks @maltokyo for the report. We had further discussion [in chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Thumbnails.20in.20mobile.20apps.20not.20working/near/971581). (And Tim edited that docs page so that it says it's experimental.)

I agree it would be super valuable to have thumbnails fully working and supported, and it's frustrating that we haven't yet been able to do that. W

[2020-08-04 22:05] gnprice commented on #4215
In the chat thread, you added:

so it looks like there isn't a mobile-specific issue here, and it's a reflection of the fact that the server doesn't fully support thumbnailing in general. Thanks again for poking us on that.

[2020-08-04 22:05] #4215 closed

[2020-08-04 22:10] gnprice commented on #3790
We've had another report of this at #4215, from someone who had enabled thumbnailing on their 2.1 server and was disappointed when the 3.x upgrade disabled it. See also [chat discussion](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Thumbnails.20in.20mobile.20apps.20not.20working/near/971581).

The immediate resolution there was (a) clarifying the docs to say the feature is experimental an

[2020-08-04 22:15] gnprice commented on #4102
(This report became #4215.)

Sure.

@ugmac I would be quite curious if you can say more about what was the issue with Cloudflare! Including how you determined that was the case, and/or what you did to resolve it. That information could be quite helpful for someone else in the future.

[2020-08-04 22:15] #4102 closed

[2020-08-04 23:55] chrisbobbe opened #4217 "Replace outdated `react-native-photo-view` library."
In d873e22fc, we checked out a commit on this project's `master` branch that hadn't been released at the time, which was September 21, 2018. It still hasn't been released—in fact, there haven't been any commits after that date.

Right now, if I do `yarn upgrade && yarn yarn-deduplicate && yarn`, Android fails to build (looks like it's something to do with the Android Support Library; it reminds me

[2020-08-05 00:34] chrisbobbe commented on #4039
I think swiping down to dismiss makes the most sense in a slightly different case than ours.

Check out the GIFs at the demo here:

https://github.com/oblador/react-native-lightbox#demo

There, the image expands to fill the screen, as an overlay on top of the current route—there isn't another route that we navigate to. So it can make sense that you could drag it and swipe in pretty much any direct

[2020-08-05 01:13] gnprice commented on #4217
I see, yeah -- and checking the [example app](https://github.com/oblador/react-native-lightbox/blob/8db37fda32bfe2f4537b992550bd8d0c27f7ca57/Example/app.js) for `react-native-lightbox`, at least, there's this odd thing where the component called `Lightbox` is actually the one you're supposed to use for the thumbnail (and it just takes care of taking over the screen when selected.)

For the other l

[2020-08-05 01:23] gnprice commented on #4039
Having a nice animation between the thumbnail and the full-size view in the lightbox would be ideal -- but I think swiping down to close can still make sense without that, too.

From a user perspective, if I'm in the lightbox in another app (I just played with WhatsApp as mentioned above, and with Google Photos which is the stock photo viewer on Android), it certainly feels to me like another scre

[2020-08-05 01:28] gnprice commented on #4039
To be clear, though:

@chdinesh1089 We already do this :slightly_smiling_face: Try it out and see what you think!

More generally, if you do the normal system "back" gesture then that will take you out of the lightbox and back to the message list. I just tried this on Android 10 with the "swipe from either left or right edge" gesture, and on iOS with "swipe from left edge". I believe it works the

[2020-08-05 11:29] chdinesh1089 commented on #4039
I do not have an android phone but I saw that we can use swipe from left edge on iPhone (and been using that. It solved the reachability issue) which I didn't know for some time.

I remember trying to swipe down when I was new to the app and I think most people would expect the same (at least most iOS users). As you said, it would still be nice to offer to swipe down gesture :-)

[2020-08-06 09:15] #3373 closed

[2020-08-07 14:11] 3c133ps3d commented on #4051
I spent a lot time trying to fix this problem. Solution is simple, just call

`(context.getSystemService(Context.INPUT_METHOD_SERVICE) as InputMethodManager).restartInput(this)`

at your react-native's onDropViewInstance method

[2020-08-07 17:40] chrisbobbe commented on #3546
And another, [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Jitsi.20Chat.20Button.20iOS/near/977028).

[2020-08-10 22:56] #4186 closed

[2020-08-11 04:52] gnprice opened #4224 "Tweak UI of mention-unsubscribed warning"
This issue is to follow up on #4219 with some small UI improvements to the "$person will not be notified unless you subscribe them" warning which we added in #4101 (addressing #3373). Going through my comment at https://github.com/zulip/zulip-mobile/pull/4101#issuecomment-669764675 in order:
- [x] button shape/size in visual appearance -- done in #4219
- [ ] button touch target to 48px (extending

[2020-08-11 05:17] gnprice commented on #4120
Reopening after #4223 .

[2020-08-11 12:06] ebullient opened #4225 "Emoji are not rendered properly in iOS"
🤦‍♀️ shows as
![image](https://user-images.githubusercontent.com/808713/90088117-423e6780-dcec-11ea-8a92-28dd3396f4c6.png) in Zulip  v27.154 on iOS (13.6.0)

The selected emoji worked in the previous version of Zulip (old logo), and renders properly on the desktop.

[2020-08-12 06:27] #4120 closed

[2020-08-12 22:20] gnprice commented on #438
Update:

The implementation of this feature lives on the server side. We have a draft implementation, but it remains disabled because of a bug; see [chat discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/iOS.20badge.20count/near/926367).

We had another report of this missing feature today [in chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Notifications/near/9843

[2020-08-12 22:30] gnprice commented on #438
I've edited this issue to be specifically about iOS, because the implementation will be pretty much separate for iOS and Android.

On Android, badge counts don't even exist on stock Android, at least in versions from the last few years. There are badge dots, but with no numbers -- it's just there or not -- and I believe it's controlled automatically by whether a notification exists.

Badge counts

[2020-08-13 03:08] gnprice commented on #4051
@3c133ps3d Very interesting, thanks for the tip! Can you say more (or is there a writeup elsewhere you can point to) about how you discovered that solution, or how you determined that it was a solution for this issue?

Meanwhile, [Sentry tells us](https://sentry.io/organizations/zulip/discover/results/?display=daily&field=title&field=release&field=environment&field=user&field=timestamp&name=Runtim

[2020-08-14 05:07] gnprice commented on #3546
Quick notes on how to implement this:
* (See https://github.com/zulip/zulip-mobile/issues/3546#issuecomment-597260426 above for details on what the webapp does, for comparison.)
* Now that the server sends `jitsi_server_url` in the `/register` response, we'll want to add that field to our `InitialData` type, which represents that response. Because only recent server versions send it, the field sho

[2020-08-14 21:03] wpj commented on #3546
@zulipbot claim

[2020-08-19 11:42] aryanshridhar opened #4231 "Missing dependancy @react-native-community/toolbar-android"
Hi all ,
Looks like <code>@react-native-community/toolbar-android</code> is missing in the dependencies listed in <code><a href = 'https://github.com/zulip/zulip-mobile/blob/master/package.json'>package.json</a></code> .

When executed <code>react-native start</code> after building by using <code>npx react-native run-android</code> , It throws an error as
<pre>

error: bundling failed: Error: Unab

[2020-08-19 12:45] jesse-troy opened #4232 "Button Captions for Screen Readers (Accessibility)"
My organization is currently rolling out this platform, and it appears to be fulfilling all of our needs accept for one small issue.

For the visually impaired mobile users (specifically ios) , there appears to be a lack of pronounceable widgets in the user interface. It has been pointed out to me that the most likely buttons without this "caption" are the buttons to send a message and the button

[2020-08-20 04:34] gnprice commented on #4146
Since commit 413bf9521df8887325179e004a9d91e634120a56, we set the `URL` global to this polyfill. So we can create URL objects by just saying `new URL(url)` or `new URL(url, base)`, as described [in MDN](https://developer.mozilla.org/en-US/docs/Web/API/URL/URL).

[2020-08-20 18:50] aryanshridhar opened #4233 "SmartUrlInput TextInput Glitch"
When repeatedly pressed on TextInput , the keyboard appears to relaunch again and again causing a glitch type look .
For reference , I am attaching the gif producing the same error<br/>
![problem](https://user-images.githubusercontent.com/53977614/90812043-3df4f880-e343-11ea-83b3-5509658a9004.gif)

Did some research , got to know <a href = 'https://github.com/zulip/zulip-mobile/blob/a1fab9b786e52b

[2020-08-24 15:56] aryanshridhar commented on #4233
Taking this issue :)

[2020-08-24 19:46] timabbott opened #4238 "Use `op` rather than `operation` for the previously anomalous `update_message_flags` events with feature level 32+"
See https://github.com/zulip/zulip/pull/16168 for details.  We'll need to check `feature_level` for which field to look at, but this should let us eventually delete the server-side compatibility code to send `operation` as well on these events.

[2020-08-25 23:07] #3803 closed

[2020-08-26 07:43] chrisbobbe opened #4239 "Remove `react-native-text-input-reset` dependency, if possible"
I see this deprecation warning when running `./gradlew help --warning-mode=all` from `android` (recommended by [this doc](https://docs.gradle.org/5.6/userguide/upgrading_version_5.html#changes_5.6)):

[code]

Its [GitHub page](https://github.com/nikolaiwarner/react-native-text-input-reset/tree/master) says it was only meant to be temporary, so I'm not confident that this deprecation warning will e

[2020-08-26 08:04] chrisbobbe commented on #3469
IIUC, Boris was thinking of doing something like calling `tryStopNotifications` near where `removeAccount()` is dispatched. It looks like a fix of this kind hasn't landed.

Another thing I just noticed: Whereas `tryStopNotifications()` is dispatched in `ProfileCard` alongside `logout()`, the other `logout()` dispatch sites do not dispatch `tryStopNotifications()`. Those dispatch sites are for unce

[2020-08-26 13:55] aryanshridhar commented on #4239
Working on it :+1:

[2020-08-26 13:56] aryanshridhar commented on #4239
Taking this issue :)

[2020-08-26 18:36] aryanshridhar commented on #4239
Hey , I see no difference while removing <code>TextInputReset</code> from <a href = 'https://github.com/zulip/zulip-mobile/blob/7e36838cc69a9d181839bc1ead72e45274da92e5/src/compose/ComposeBox.js#L102'>here</a> as the behaviour of ComposeBox still remains the same (contents of textinput being properly cleared)

Should I go on with it , and open up an PR removing this package ?

[2020-08-26 18:44] chrisbobbe opened #4240 "Android build: Address deprecation warning in `react-native-device-info`"
I see the following warning on running `./gradlew help --warning-mode=all` from `android` (recommended by [this doc](https://docs.gradle.org/5.6/userguide/upgrading_version_5.html#changes_5.6)):

[code]

It looks like this package is still being maintained, by react-native-community: https://github.com/react-native-community/react-native-device-info#readme. So, we might be able to upgrade to a ver

[2020-08-26 19:20] chrisbobbe commented on #4239
Thanks for looking into this, and it sounds promising that it's working on your device! It would be great if you could read through https://github.com/facebook/react-native/pull/12462 and confirm that we can be reasonably sure that it won't affect other people's devices, too. I'm not very familiar with the details, but there seemed to be some nuances that suggest some people might see the bug, whi

[2020-08-27 00:42] chrisbobbe opened #4241 "Show notifications for inactive (but logged-in) accounts while the app is foregrounded."
A user on iOS reports [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/%28no.20topic%29/near/1000730) that they'd like to see these notifications.

A post from @gnprice, https://github.com/zulip/zulip-mobile/issues/3114#issuecomment-585966226, reminds me that we don't actually show any notifications on iOS when the app is foregrounded. (In fact, not only is the visible alert suppressed

[2020-08-27 00:46] chrisbobbe commented on #4241
Marking as blocked by https://github.com/zulip/zulip-mobile/pull/4163; I expect it to land relatively soon, though.

[2020-08-27 05:10] gnprice opened #4242 "Use shared Markdown implementation"
For doing local echo when the user sends a message, the mobile app currently uses a version of the webapp's implementation, forked off in 2017. Predictably, the fork has not kept up with new features or bugfixes in the webapp.

Instead of a fork, we should share a single version. This would help bring the mobile app up to date with features like silent mentions, user and stream IDs in mentions, an

[2020-08-27 05:15] gnprice commented on #4242
@showell has recently done the work (in https://github.com/zulip/zulip/pull/15898 and later changes) to make two of these files shared, namely `fenced_code.js` and `emoji.js`. So that makes this ready for us to start work on from our side.

(I think the code changes at this stage will actually happen in https://github.com/zulip/zulip-markdown-parser ; see detailed plan at the end of the descriptio

[2020-08-27 05:31] aryanshridhar commented on #4239
As rightly said by you , looks like the same problem still persists in many android device and hasn't been merged due to lack of <a href = 'https://github.com/facebook/react-native/pull/12462#issuecomment-477295348'>verification</a> of the same .
However this issue can still be solved using native module method by integrating this <a href = 'https://github.com/facebook/react-native/pull/12462#issu

[2020-08-27 19:17] timabbott commented on #4232
@jesse-troy accessibility is certainly something we're working on for the project as a whole (a lot of work is going into accessibility for the visually impaired in the webapp right now).  I don't have specific iOS expertise, but I expect folks here would be happy to collaborate on identifying buttons missing accessibility labels and adding them.  Might be best to discuss details in chat.zulip.org

[2020-08-29 04:37] chrisbobbe commented on #3782
In the tradition of https://github.com/zulip/zulip-mobile/issues/3781#issuecomment-642151537 and https://github.com/zulip/zulip-mobile/issues/3548#issuecomment-638372833, here's a list of changes from the [upgrade helper](https://react-native-community.github.io/upgrade-helper/?from=0.61.5&to=0.62.2) that we don't take:

# Platform-agnostic

- A change to `.gitattributes`. This seems to be an arti

[2020-08-31 11:33] aryanshridhar commented on #4217
Hey , How about using <code>react-native-image-pan-zoom</code> ( <a href = 'https://www.npmjs.com/package/react-native-image-pan-zoom'>npm</a> , <a href = 'https://github.com/ascoders/react-native-image-zoom'>Github</a> )
The reason I am pointing out is because it can handle both , i.e Pinch to Zoom as well as Swiping an image down to close it as mentioned in #4039 .

In fact , looking at the <cod

[2020-09-02 00:52] chrisbobbe opened #4245 "Upgrade to RN v0.63"
~~We won't start real work on this until the upgrade to v0.62, https://github.com/zulip/zulip-mobile/issues/3782, is complete.~~ Done!

Released 2020-07-06.

- [Release announcement](https://reactnative.dev/blog/2020/07/06/version-0.63)
- [Changelog](https://github.com/react-native-community/releases/blob/master/CHANGELOG.md#v0632)
- [Upgrade guide](https://react-native-community.github.io/upgrade

[2020-09-02 01:08] chrisbobbe commented on #4245
We'll get at least one Flow bug fixed:

- https://github.com/facebook/flow/issues/8178 (see [discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M3782.20RN.20v0.2E61.20-.3E.20v0.2E62.20upgrade/near/1006272))

[2020-09-02 05:01] #3546 closed

[2020-09-02 05:51] gnprice opened #4246 "Don't generate Jitsi URLs when not the selected provider"
This is a followup to #3546.

Following #4229, we now have a "video call" button. When a Jitsi server URL is configured, we offer the button, and it inserts a Jitsi link.

There's more in the video-call config the server provides, though, and the intended behavior is more complicated than that.
* There are several other video-chat providers.
* Each can have its own set of details for how to genera

[2020-09-02 19:08] joshtriplett commented on #3205
This is something we're realizing we'd like in the Rust project, as well. We do have users who use the mobile app, so if we're going to make use of polls, we'd want them to be usable on mobile.

[2020-09-02 19:21] chrisbobbe opened #4248 "Upgrade react-navigation to v4"
See the [release announcement](https://reactnavigation.org/blog/2019/09/16/react-navigation-4.0/) (2019-09-16) and the [release tag on GitHub](https://github.com/react-navigation/react-navigation/releases/tag/v4.0.0). To be done once we're on v3 (#3649).

There's a handy v3 -> v4 upgrade guide for this, [here](https://reactnavigation.org/docs/4.x/upgrading-from-3.x/). (I haven't found one for the

[2020-09-02 19:22] chrisbobbe commented on #3649
It appears that FlowTyped does have a [libdef](https://github.com/flow-typed/flow-typed/tree/master/definitions/npm/react-navigation_v3.x.x) for this version! So we very likely won't have to use Flowgen for this upgrade.

[2020-09-03 02:44] wpj commented on #4246
@gnprice just to clarify: is the intention here to disable the video call button when the selected video call provider is unimplemented (all but jitsi) as a short term fix and later implement the other providers?

[2020-09-03 23:32] chrisbobbe commented on #3649
Posting some details on my procedure that seem too long to fit into the main commit message:

# Update / Add Deps

We start by just `yarn upgrade`ing react-navigation to ^3.13.0 (the latest 3.x).

With that, we get the following peer-dep output:

[code]

We upgrade react-navigation-tabs to ~1.2.0, which we choose because our new react-navigation v3 has that as a direct dependency (more on this bel

[2020-09-04 01:19] chrisbobbe commented on #3804
When we eventually remove react-navigation-redux-helpers, we should also remove @react-navigation/core from our direct dependencies.

See this [note](https://github.com/react-navigation/redux-helpers/releases/tag/3.0.8) on the version of react-navigation-redux-helpers we're using, saying we need to depend on it (they've also made it a peer-dep):

And react-navigation's [note](https://reactnavigati

[2020-09-05 03:43] gnprice commented on #4246
Yes, exactly. Thanks!

[2020-09-05 04:22] gnprice commented on #4009
(To be more precise on the Google side: it's "dark theme" in the UI and [user-facing docs](https://support.google.com/accessibility/android/answer/6151800), and they follow that in the [Material docs](https://material.io/develop/android/theming/dark) and [guide-style developer docs](https://developer.android.com/guide/topics/ui/look-and-feel/darktheme). It's "night mode" [in the API](https://devel

[2020-09-05 17:48] adityarajsinghvi commented on #4211
I can work on it through the android studio we can set all the sizes of the app icons and can do this but how am i supposed to get the app icon of different sizes?

[2020-09-09 06:30] gnprice commented on #2691
Android 11 was just released today, and it introduces some further fancy features in this direction: "conversations" and "bubbles".
https://developer.android.com/guide/topics/ui/conversations
We should target those too. I haven't yet read about these new API features in detail; it may be that it'll make most sense to target them at the same time as this older "notification group" feature. (Which a

[2020-09-09 07:47] gnprice commented on #4174
I noticed on #4250 that Travis was back to not posting results on the PRs.

Looking again at [the build history](https://travis-ci.org/github/zulip/zulip-mobile/pull_requests) on Travis's own site, it's still the case that it is running the builds, just apparently failing to post results. But it's really not very useful when it doesn't post results.

I could repeat the "turn it off and on again" f

[2020-09-09 21:07] chrisbobbe opened #4252 "Use `Immutable` for `state.flags`."
This would be another instance of #3949 and #3950.

Once something like https://github.com/zulip/zulip-mobile/pull/4201 lands, we'll have a roadmap for doing this.

In addition to the performance benefit, this would be a big improvement to code quality. The `FlagsState` type is the following:

[code]

I'm not sure `state.flags` *itself* should be made an `Immutable.Map` because it has a certain se

[2020-09-09 23:33] chrisbobbe commented on #3782
Marking as blocked on #4248; see [discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M3782.20RN.20v0.2E61.20-.3E.20v0.2E62.20upgrade/near/1012718).

[2020-09-09 23:36] chrisbobbe commented on #4248
I've sent #4249 for this.

Also, it appears that we need to be on react-navigation v4 by the time we upgrade to RN v0.62 (#3782); see [this react-navigation issue](https://github.com/react-navigation/react-native-safe-area-view/issues/118#issuecomment-665683017). On RN v0.62 and react-navigation v2, I saw that error message; I no longer saw it on RN v0.62 and react-navigation v4. See also [discuss

[2020-09-10 20:08] chrisbobbe opened #4253 "Upgrade to ESLint 7."
Filing this quickly as a placeholder so we have something to refer to.

Currently, this is known to be blocked by prettier-eslint not supporting ESLint 7 yet: https://github.com/prettier/prettier-eslint/issues/401.

[2020-09-10 20:19] chrisbobbe opened #4254 "Take `babel-eslint`'s move to `@babel/eslint-parser`."
In July, Babel made an [announcement](https://babeljs.io/blog/2020/07/13/the-state-of-babel-eslint):

We may also like to consider [`@babel/eslint-plugin`](https://github.com/babel/babel/tree/main/eslint/babel-eslint-plugin), the new home of [`eslint-plugin-babel`](https://github.com/babel/eslint-plugin-babel). For one data point, [reportedly](https://github.com/eslint/eslint/issues/11045#issuecom

[2020-09-10 21:39] chrisbobbe opened #4255 "Document how we use Flipper."
Once we're on React Native v0.62 (https://github.com/zulip/zulip-mobile/issues/3782), we'll be able to use Flipper, a new developer tool.

There will likely be several quirks to work through (or around); the biggest, probably is that Flipper [doesn't work with physical iOS devices yet](https://fbflipper.com/docs/troubleshooting/#known-incompatibilities).

To get it working on an iOS simulator, I f

[2020-09-10 23:42] mhorowitz commented on #4131
"Too many handles allocated in GCScope" is an internal issue in Hermes.  I don't know what version you're using, but if you can file an issue on the hermes repo with as much repro information as you can, we can look into it.  This error is usually easy to debug with a native stack trace.

[2020-09-11 22:19] chrisbobbe commented on #4248
Ah, and to explain the "blocked" label on *this* issue: it's just blocked on react-navigation v3. But #4249 proposes an upgrade to both v3 and v4.

[2020-09-16 04:55] gnprice commented on #3114
The same user who highlighted this issue for us a few months ago has [provided a video](https://chat.zulip.org/#narrow/stream/48-mobile/topic/PM.20notifications.20Even.20if.20I'm.20chatting/near/1013931). It shows that the behavior they're currently seeing is the same one originally reported in this issue, unlike what we saw in experiments described above at https://github.com/zulip/zulip-mobile/i

[2020-09-16 07:58] cyphase commented on #3838
Copied from [this CZO message](https://chat.zulip.org/#narrow/stream/2-general/topic/zulip-to-gotify/near/1017932) that I just sent:

[2020-09-16 23:52] #4246 closed

[2020-09-17 04:16] gnprice opened #4257 "Text in code blocks has a stripy inline background/padding/border"
A few months ago I started noticing behavior like this whenever there's a code block:
![image](https://user-images.githubusercontent.com/28173/93419235-33098700-f861-11ea-99db-a68863ba36df.png)

That is, we're showing not only a block-level border around the whole code block (as intended), but also an inline border around just the text inside the block.  That means a border starts on the left of t

[2020-09-17 05:12] gnprice commented on #3023
(It's not explicit above, but I'm pretty sure this is about swiping between the "main tabs" at the bottom of the screen in the app's home view.)

This is now moot because we no longer have a swipe gesture between those -- quite possibly because of the upgrade Boris mentioned above. In general, [the standard convention seems to be](https://chat.zulip.org/#narrow/stream/48-mobile/topic/swipe.20on.20

[2020-09-17 05:12] #3023 closed

[2020-09-17 18:12] #4257 closed

[2020-09-17 21:39] #3649 closed

[2020-09-17 21:39] #4248 closed

[2020-09-17 21:39] #3997 closed

[2020-09-18 00:39] chrisbobbe commented on #3114
I agree.

Correct; I've got a few bullet points to brainstorm at https://github.com/zulip/zulip-mobile/issues/4241#issue-686854636.

[2020-09-18 20:30] gnprice commented on #4252
Sounds like a good plan to me!

I think this is likely a good use case for `Immutable.Record`:
https://immutable-js.github.io/immutable-js/docs/#/Record
But I haven't actually played with that data structure yet, or read its whole docs closely.

[2020-09-18 21:15] gnprice commented on #3780
Both @chrisbobbe and I have been using Node 12 for our local development for a couple of months now ([chat thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/node.20v12/near/933022)), and things seem good. So I'll go make this update.

[2020-09-18 21:45] #3780 closed

[2020-09-18 21:58] chrisbobbe commented on #4245
In RN v0.62, we started getting (and suppressing) this new error on calling various methods on a `TextInput` stored in a ref (e.g.,`textInputRef.current.focus()`):

[code]

At first, I thought something was wrong with how we're annotating the variable storing the ref, or that Flow didn't fully understand the `React.createRef` API, which we started using in more places just before the RN v0.62 upgr

[2020-09-18 22:01] gnprice opened #4263 "Upgrade to Node v14"
This is a successor to #3780. Node v14 is the "Current" release, and will replace v12 as the "Active LTS" next month, 2020-10-27. Timeline:
https://nodejs.org/en/about/releases/

There's no rush here; v12 won't be EOL until 2022. The thing an upgrade could do for us is potentially bring bugfixes or speed improvements. (Like how v12 brought [major speed improvements](https://github.com/zulip/zulip-

[2020-09-18 22:03] gnprice commented on #4263
Copying https://github.com/zulip/zulip-mobile/issues/3780#issuecomment-572806647 here for concreteness on how to go about this issue:

(But again, no rush.)

[2020-09-18 23:02] chrisbobbe commented on #4252
Hmm, maybe! I came across that while putting this issue together, but I kind of got stuck on the name—it sounds like a struct-like thing you'd reach for when you want to hold information about a single entity. `FlagsState` is meant to hold information about lots of entities.

[2020-09-18 23:30] #3782 closed

[2020-09-19 00:31] #4049 closed

[2020-09-19 00:36] gnprice commented on #3131
Bumping to note that with #4079 / #4049 we now have the server's feature level in Redux. That was something we expected we'll want as part of doing this correctly, so this is now more ripe to implement.

[2020-09-21 19:25] #4240 closed

[2020-09-21 22:37] chrisbobbe commented on #4231
Interesting! From some searching and reading documentation, it looks like this is something we should do if we want to use something called `ToolbarAndroid`: https://github.com/oblador/react-native-vector-icons/blob/v7.1.0/README.md#toolbarandroid

Are you thinking of starting to use that?

[2020-09-21 22:48] chrisbobbe opened #4264 "Track resolution of facebook/flipper#1171 and adapt when we can."
As alluded to in 9a144c5b3ad58f70a8b638c1a70f52cc2edd9c84, we should track the resolution of facebook/flipper#1171 (currently stalled on someone not providing a reproduction recipe), and adjust our project to use that better solution if and when the change propagates far enough that we can take it. The change we're waiting for is for Flipper to use one later patch release of a cryptography library

[2020-09-23 02:29] CameronAckermanSEL opened #4267 "Unable to close image preview dialog on iphone"
On the iphone, the close button for the image preview renders behind the status bar for ios. As a result, users are unable to close the image preview dialog without killing the mobile app entirely.

[2020-09-23 03:00] chrisbobbe commented on #4267
Hi, thanks for the report! Which iPhone and which iOS version are you on?

[2020-09-23 03:02] CameronAckermanSEL commented on #4267
Hey, sorry. I was meaning to go back and add a screen cap and some info and got side tracked 😆  Thank you for the follow up.

I have an iPhone XR, iOS 13.7

[2020-09-23 22:18] gnprice commented on #4165
This was accidentally closed by merging #4226. A clause like `They don't fix #4165 at all` is dangerous :wink:

[2020-09-23 22:19] chrisbobbe commented on #4165
Yikes, indeed!!

[2020-09-23 22:27] chrisbobbe commented on #4165
I posted a note on the current status at https://github.com/zulip/zulip-mobile/pull/4193#issuecomment-698002920 (and explicitly linked that PR with this issue—oops).

[2020-09-23 23:46] chrisbobbe commented on #4267
I've just sent https://github.com/zulip/zulip-mobile/pull/4268 for this.

[2020-09-23 23:54] chrisbobbe commented on #4267
Oh—as a workaround until a fix lands, you should be able to swipe right from the extreme left edge of the screen, as a "back" gesture, to get out of the lightbox, so you don't have to quit and relaunch the app. 🙂

[2020-09-25 05:26] gnprice opened #4270 "Crash on sending message"
In a release build of v27.155 -- the release I tagged yesterday but haven't yet rolled out even to beta -- I had the app crash shortly after I sent a message.

See investigation [in chat](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/crash.20at.20.2EgetWrappedInstance%28%29/near/1024873); I pulled the uncaught exception from the log, and we seem to have a diagnosis.

[2020-09-25 05:42] chrisbobbe commented on #4270
Thanks for catching this! I just sent #4271; I'll merge it in ten minutes or so (or at your approval) unless you'd like to change anything.

[2020-09-25 06:01] #4270 closed

[2020-09-25 22:16] lebensterben opened #4272 "timestamp formatting is broken"
In our discussion it's been reported that the timestamp converion is not working on both iOS and Android client.

Using the example from [here](https://zulipchat.com/help/format-your-message-using-markdown#mention-a-time), it outputs as

instead of what's expected

[2020-09-26 11:34] teor2345 commented on #4272
I see a similar thing in the iOS app v27.154 on iOS 13.6.1.

It looks like the app is stripping the time tag, but not doing any time zone conversion.

(Note that the app is entirely *capable* of converting times - Zulip message times are in my local time zone. But the time tag is not.)

Can someone label this issue as a Rust community request?
It's causing us some issues planning meeting times.

[2020-09-28 19:09] timabbott commented on #3583
Should we close this now that the desktop app is on Electron 9 and thus zulip/zulip-desktop#946 is resolved?

[2020-09-28 19:14] chrisbobbe commented on #3583
Thanks for the follow-up, Tim! That looks correct to me; closing now.

[2020-09-28 19:14] #3583 closed

[2020-09-29 18:57] chrisbobbe commented on #4100
We've had another symptom of this today—`react-native run-ios --device` just doesn't work in the status quo; I get the following at the tail-end of the output of that command:

[code]

Noted in [discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Crash.20on.20logout/near/1027390).

[2020-09-29 21:42] sgervais5 commented on #3205
Hi,

My organization finds the poll tool really useful, but a lot of us are using the mobile apps. Are there any news regarding the compatibility? When do you think it could be ready?
Thanks.

[2020-09-30 15:44] jedbrown commented on #3205
The workaround we've used is to "poll" via reactions, as in:

:one: a response
:two: another response
:three: a third
Add alternate responses in replies.

This works on mobile and people can react with :four: and explain that in replies.

[2020-10-03 04:40] gnprice commented on #4232
Thanks @jesse-troy for raising this! I'd be glad to see someone pick this up and do it.

There was a previous PR #2753 a couple of years ago which made some good underlying changes which were merged, but then unfortunately the PR didn't get any further work after the initial review. The strategy I'd recommend is to look at what's in that PR branch and the comments on it and start from there.

Base

[2020-10-04 11:15] aryanshridhar commented on #4272
Hey , this does seems to work fine for me in the debug mode . However , while viewing messages in stock android app (The one downloaded from <a href = 'https://play.google.com/store/apps/details?id=com.zulipmobile&hl=en_US'>play store</a>) the timestamp seems to be broken . (Maybe there hasn't been a new update)

Also I have noticed that the <code>date-picker</code> isn't rendering after typing <c

[2020-10-04 17:09] lebensterben commented on #4272
Is there TestFlight for zulip? I can check whether the formatting works in iOS debug release.

[2020-10-05 09:18] ajdelgado commented on #1325
Star message doesn't mean the same for a user. A starring is interpreted as something important, but unread is something you didn't read throw and might be or not important. So you might take a quick look to see what it is but didn't understand and need follow up later.

[2020-10-07 16:55] gnprice opened #4275 "Crash on logout"
This is a regression in the unreleased v27.155. @chrisbobbe [writes in a chat thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Crash.20on.20logout/near/1027082):

See that chat conversation for debugging details, particularly starting [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Crash.20on.20logout/near/1027476) after we dealt with a tools issue. I believe

[2020-10-09 01:27] #4275 closed

[2020-10-10 07:27] gnprice commented on #1325
@ajdelgado Nevertheless we find that starring works well for this use case. If I need to follow up later, then that's important, so starring works well for highlighting it for me to do so. Once I have read it more completely, I unstar it, unless there's some reason it remains important.

In any case this feature isn't mobile-specific, so if you'd like to discuss this feature request further, the b

[2020-10-10 10:05] gnprice commented on #3665
Bumped the priority, as this deadline is getting sooner.

[2020-10-13 09:54] varac commented on #1270
Any progress on this ?

[2020-10-15 22:41] gnprice commented on #3547
I've made some changes in our release scripts to support AABs, and in our release-process documentation to make them the primary form for the release. I've run through that process for the upcoming v27.156, up to alpha stage, and everything seems to work. (Chat thread starts [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Android.20app.20bundle/near/1013206).) So, closing this i

[2020-10-15 22:41] #3547 closed

[2020-10-16 15:53] #4100 closed

[2020-10-17 01:24] gnprice commented on #3665
Here's notes from reading through that [list of behavior changes](https://developer.android.com/about/versions/10/behavior-changes-10) triggered by actually bumping the targetSdkVersion. I intend to update this as I learn more.

* [ ] Privacy changes, which have [their own docs page](https://developer.android.com/about/versions/10/privacy/changes).
* [ ] Updates to non-SDK interface restrictions -

[2020-10-19 21:28] gnprice commented on #3665
OK, I've now completed the steps of this that are about reading through the documentation. The results are expanded out into the checklist in the preceding comment. Almost all those items are checked off, but there are a couple of them remaining that correspond to deeper investigation and/or testing.

Here's a fresh task list, covering those remaining items above and zooming back out to the overal

[2020-10-20 23:37] gnprice commented on #3665
Hmm, well -- I get this error modal:
![image](https://user-images.githubusercontent.com/28173/96654949-3e811f80-12f1-11eb-8621-79e34fc360d4.png)

Specifically, my steps were:
* Start a debug build, in a fresh install, with `targetSdkVersion` at 29, and with Flipper disabled to avoid [this issue](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Flipper/near/1042657) which I discovered wh

[2020-10-21 01:46] gnprice commented on #3665
Well, here's a sad but adequate workaround for the camera issues:
[code]

That fixes the trouble mentioned in my previous comment, and also a related issue that appears when trying to pick an existing image.

It's a temporary solution -- effectively [it opts out of this aspect](https://developer.android.com/training/data-storage/use-cases#opt-out-scoped-storage) of the effects of targeting Android

[2020-10-21 02:20] gnprice opened #4281 "[dev] Sharing an image doesn't work, introduced by Flipper"
This is a developer-only issue, affecting only debug builds. Originally discussed [in chat](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Flipper/near/1042657), where I wrote today:

---

While testing an update to our targetSdkVersion (#3665), I found that in a debug build of the app, using the camera no longer works!

This only affects debug builds, thankfully, not release builds.

[2020-10-21 02:24] #4281 closed

[2020-10-21 03:44] gnprice commented on #3665
After the issues with react-native-image-picker described in the previous two comments (affecting both the take-photo and upload-existing-photo features, behind the "camera" and "photo" icons in the compose menu) where it hasn't adapted to the new "scoped storage", I tested out the other feature that seemed likely to be affected by scoped storage: the upload-file feature, behind the "document" ico

[2020-10-21 04:38] gnprice opened #4283 "Fix image capture + image upload to work with Android "scoped storage"."
Android 10 introduces significant changes in how apps access the device's photos, other media of several types, and files in general. Gone, in that future, are the days where your photos and documents live in a single shared storage area which lots and lots of apps have unrestricted access to, like on a desktop OS. The new model is called "scoped storage".

That future is opt-out for apps targetin

[2020-10-21 05:04] gnprice opened #4284 "Target Android 11 (set targetSdkVersion to 30), by 2021-11 deadline"
This is the successor to #3665 (and #3563 and #3075). We should update our `targetSdkVersion` to 30, meaning Android 11.

Google Play [has set a deadline](https://android-developers.googleblog.com/2020/11/new-android-app-bundle-and-target-api.html) of [2021-11-01](https://support.google.com/googleplay/android-developer/answer/9859152?visit_id=637547176866559252-1000181464&rd=1#targetsdk) for this

[2020-10-22 00:10] #2756 closed

[2020-10-22 22:26] #3665 closed

[2020-10-23 10:29] sahil839 opened #4286 "New Setting for controlling wildcard mentions."
We have recently added a new setting for controlling who can use wildcard mentions in streams with more than 15 subscribers in the web app in [#16332](https://github.com/zulip/zulip/pull/16332).

Opening this issue to make sure that it is noticed and showing of error message can be implemented in the mobile app as well.

[2020-10-24 18:35] Sumit2399 commented on #4210
Hey @gnprice I want to start contributing to the organization.I am new to open source contribution, so could you please provide with some pointer on how should I start contributing ?

[2020-10-26 09:34] shynie opened #4287 "Can't connect to a self-hosted zulip server after the latest update"
After updating to v27.156 on iOS I can't connect to our zulip server, the app is stuck on connecting to server. If I use browser, everything works just fine.
I tried connecting from different networks, tried reinstalling zulip but without much luck. After reinstalling it let me log in but now all I see when I open the app is a splash screen with the loading animation.

[2020-10-26 18:27] chrisbobbe commented on #4287
Thanks for the report! Yikes, those are bad symptoms.

Do you have any accounts on other realms; for example, on chat.zulip.org? If so, do you have any trouble connecting to those?

Also, would you mind checking (or asking the person who manages the server to check) what version and commit the server's code is at, and if there's anything special that might be going on with the server? This would b

[2020-10-27 01:56] chrisbobbe commented on #4287
@gnprice, I've just pushed to https://github.com/zulip/zulip-mobile/pull/4193 and un-marked it as a draft (finally!)—that should at least relieve the symptom of being stuck indefinitely on the loading screen, by having the initial fetch give up at 60 seconds.

[2020-10-27 12:22] shynie commented on #4287
@chrisbobbe chat.zulip.org works fine.
We use pretty old version of zulip - it's v1.8.1. And I don't think there's anything "special" going on :)
In server logs I see two calls to `/api/v1/fetch_api_key` and `/api/v1/register` respectively, followed by a bunch of calls to `/api/v1/users/me/presence` from ZulipMobile.

[2020-10-27 22:20] timabbott commented on #4287
@shynie I'd highly recommend upgrading as 1.8.1 version is old enough that we don't consider it worth testing mobile apps changes against.  Modern Zulip is much better, and also 1.8.1 has several important security issues that have been fixed over the last few years.

You can use https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-the-operating-system to do the serie

[2020-10-28 22:59] gnprice opened #4290 "Opening a notification doesn't navigate to the conversation"
This appears to be a regression in the recent release v27.156 (and the never-released v27.155.)

Steps to reproduce:
* Get a notification.
* Tap the notification to open it.
* Expected behavior: the app opens and navigates to the conversation. (If you're already on the right account; if not, that's https://github.com/zulip/zulip-mobile/issues/2295#issuecomment-548612532.)
* Actual behavior: the ap

[2020-10-29 11:12] frankoemig opened #4291 "reconnect every 2 seconds"
I am running two Android phones, both with Zulip App. After a complete reset of one device, Zulip reconnects evey two seconds, no matter in which dialog I am. Reading a topic becomes impossible. I do not know what causes this behavior, because it works on the other phone.
v27.156

[2020-10-29 20:38] gnprice commented on #4290
OK, I've completed this audit. There are a few other spots where the behavior may have been affected by the change. I *think* there aren't any meaningful regressions as a result of those -- they're all in some pretty messy ad-hoc string processing of URLs (which this migration to `URL` objects with real parsing is part of our effort to fix, #4146), and I think the circumstances where the behavior

[2020-10-29 21:10] gnprice opened #4292 "Use real URL parsing for links found in messages, particularly to narrows"
This is a piece of #4146.

We have a small pile of code which processes URLs and is ultimately all called on URLs found in messages the user interacts with:
* all of `src/utils/internalLink.js`, which is exclusively invoked from `messageLinkPress`, where we parse a link the user has selected in a message and decide, in particular, whether it's a link to another chat narrow and if so how to navigat

[2020-10-29 21:18] #4290 closed

[2020-10-29 21:47] gnprice opened #4293 "Group PM view from notification doesn't see new messages"
Steps to repro:
* Get a notification for a group PM.
* Open the notification. The app will launch as needed, and navigate to the group PM conversation. (Provided you've already been using the same account.) The latest messages up to this point will show up.
* Send a message.
* Expected: The message shows up in the message list as usual.
* Actual: The message briefly shows up in the message list, w

[2020-10-29 23:52] gnprice commented on #3324
FTR, although #3328 refers to a "regression in `matchRecipients`", this bug is much older, and older than that function. It dates back to 2017-01 with commit d8faae9d7; it's present at that commit, and absent at its parent.

Before that point, the code had the opposite bug on self-1:1 messages: they didn't appear even in their own conversation narrow. That commit aimed to fix that, and introduced

[2020-10-29 23:56] gnprice commented on #4293
BTW this is an old, old bug -- I remember seeing these symptoms in 2018, before the issue fixed in #3922 appeared and blocked getting as far as running into them. Glad to be making progress now, with work like #4294 (which fixes this bug), on unraveling the tangled "narrows" logic, at the center of the app's data model, which turned out to be at the root of it.

[2020-11-03 00:42] #3324 closed

[2020-11-03 00:42] #4293 closed

[2020-11-03 01:13] gnprice commented on #3745
We [discussed this in chat](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M3745.20Server.20version.20to.20Sentry/near/930141) back in July, and found some obstacles from the fact that trying to get at our Redux store from the logging module introduces a large tangle of import cycles.

That tangle may get resolved when we complete #3804, removing react-navigation from our Redux sta

[2020-11-03 17:04] chrisbobbe opened #4296 "Upgrade react-navigation to v5"
Currently blocked by #3804, which has https://github.com/zulip/zulip-mobile/pull/4278 in progress.

Release announcement: https://reactnavigation.org/blog/2020/02/06/react-navigation-5.0/

Upgrade guide: https://reactnavigation.org/docs/upgrading-from-4.x

Docs: https://reactnavigation.org/docs/getting-started

[2020-11-03 18:11] gnprice opened #4297 "Fix build on Windows, at webview rsync step"
The build is currently failing on Windows, inside tools/build-webview. The error is from rsync, which apparently is taking the absolute paths we give it to copy from and to (like `/d/zulip-mobile/…`) and interpreting them somehow as remote locations, where the leading `/d/` means to go to a remote host called `d`. [See chat discussion](https://chat.zulip.org/#narrow/stream/48-mobile/topic/rsync.20

[2020-11-03 20:44] gnprice commented on #4296
(Mainly to help find this issue from these others: this follows #4248 for v4, #3649 for v3, and #3573 for v2.)

[2020-11-03 21:17] #3804 closed

[2020-11-03 21:49] gnprice opened #4298 "Group PM in outbox can be missing in alternate version of same thread"
Repro:
* Find a group PM conversation where the users land in a different order if sorted by email than if by user ID.
* Send a message there, just so the conversation is easy to reach in the next couple of steps.
* Visit that conversation from the recent-PMs screen. Go back out.
* Go to the "all messages" narrow via the "globe" icon on the main/unreads screen, and then visit the same conversation

[2020-11-04 22:10] chrisbobbe commented on #3745
Now that #3804 is resolved, https://github.com/zulip/zulip-mobile/pull/4191 should bring us within reach of being able to send the server version to Sentry—I just attempted it, and I didn't get any complaints from Flow or Jest! 🙂

[2020-11-06 00:24] gnprice opened #4301 "Sending a self-PM causes flicker-jump in message list, via dupe in display_recipient"
Repro:
* Go to the self-PM conversation.
* Send a message.
* If that was the first message in this thread today (i.e. if a date separator appeared), send another.
* Expected: The message appears in the message list, first with a spinner and then the spinner disappears.
* Actual: The messages in the message list jump up and then back down; in the end the message appears as expected.

If you put the

[2020-11-06 00:26] #4298 closed

[2020-11-06 00:26] #4301 closed

[2020-11-06 17:40] WesleyAC commented on #4155
Any update on this or #4169? It's pretty unfortunate that spoilers have been released on the web for 3 months, but not on mobile yet :(

[2020-11-06 18:12] chrisbobbe commented on #4155
Thanks for the ping! I believe #4169 is waiting for the web implementation to be finalized, using HTML5 features:

@timabbott [said](https://github.com/zulip/zulip-mobile/pull/4169#issuecomment-647730420):

@timabbott [said](https://github.com/zulip/zulip-mobile/pull/4169#issuecomment-656276614), just before the Zulip Server 3.0 release:

I don't find an issue for it in https://github.com/zulip/zu

[2020-11-06 18:15] timabbott commented on #4155
We decided to skip the plan for changing it to a `<details>` tag, os we should implement the current syntax.  It's unclear if we'll end up switching to details at all at this point, so we should definitely implement the feature as present in the current API.

[2020-11-08 03:44] baxterdmutt commented on #3101
This should be an important upgrade. As it stands the Zulip notification just blends in with every other “bing” the iPhone makes. I ignore most because they are meaningless.

[2020-11-10 01:37] chrisbobbe commented on #3101
Thanks for the ping! Once https://github.com/zulip/zulip-mobile/issues/4115 is fixed (#4163 is open for that), it'll be easier to address the various issues with iOS notifications. I'll mark this issue as "blocked" on that work, just so its status is clear. I'm sorry I don't have a better status update right now, but I'll ping Greg on #4163 to see if we might be able to land that soon.

[2020-11-10 01:41] chrisbobbe commented on #4182
Since this issue has the labels `a-IOS` and `a-notifications`, I'm marking it as blocked by https://github.com/zulip/zulip-mobile/issues/4115, so we only have to implement a solution once. The PR https://github.com/zulip/zulip-mobile/pull/4163 is currently open for that issue.

[2020-11-10 01:41] chrisbobbe commented on #3599
Since this issue has the labels `a-IOS` and `a-notifications`, I'm marking it as blocked by https://github.com/zulip/zulip-mobile/issues/4115, so we only have to implement a solution once. The PR https://github.com/zulip/zulip-mobile/pull/4163 is currently open for that issue.

[2020-11-10 01:41] chrisbobbe commented on #3401
Since this issue has the labels `a-IOS` and `a-notifications`, I'm marking it as blocked by https://github.com/zulip/zulip-mobile/issues/4115, so we only have to implement a solution once. The PR https://github.com/zulip/zulip-mobile/pull/4163 is currently open for that issue.

[2020-11-10 01:42] chrisbobbe commented on #3119
Since this issue has the labels `a-IOS` and `a-notifications`, I'm marking it as blocked by https://github.com/zulip/zulip-mobile/issues/4115, so we only have to implement a solution once. The PR https://github.com/zulip/zulip-mobile/pull/4163 is currently open for that issue.

[2020-11-10 01:43] chrisbobbe commented on #438
Since this issue has the labels `a-IOS` and `a-notifications`, I'm marking it as blocked by https://github.com/zulip/zulip-mobile/issues/4115, so we only have to implement a solution once. The PR https://github.com/zulip/zulip-mobile/pull/4163 is currently open for that issue.

[2020-11-11 19:26] gnprice opened #4303 "Consecutive messages from same-named senders shown as if same sender"
Repro:
* Get two user accounts with the same "full name". (E.g., change a test user's name: webapp > Settings > Your account > Full name.)
* On a given conversation -- either a stream and topic, or a PM conversation -- send a message from one of them, then from the other.
* Expected: we show a sender-header on the second message, to indicate it's sent by a different person from the previous messag

[2020-11-11 23:16] gnprice commented on #3358
It looks like this was fixed as part of #3344, specifically at f29954bbb90fea0a7a5fbf32dd3629095a7deb67. That was a few days after this issue, happily, but we neglected to refer back to it or close it.

Specifically the fix looked like this suggestion:

[2020-11-11 23:16] #3358 closed

[2020-11-11 23:50] gnprice commented on #4184
Thanks @apxwn for the report! Closing because this feature turns out to have been removed entirely in current Zulip Server releases.

[2020-11-11 23:50] #4184 closed

[2020-11-12 02:09] gnprice opened #4305 "Avatars look pixelated in some parts of UI, on high-density displays"
(Originally diagnosed this at https://github.com/zulip/zulip-mobile/pull/4230#discussion_r521713861 , while reviewing the big avatar refactor in #4230 earlier today. But I've been noticing these symptoms for a long time.)

Repro:
* Take a device with a high-density display, like about 400ppi or higher.
  * Any flagship phone from the last few years will do; I see this on my Pixel 4 with its 444ppi

[2020-11-12 04:33] gnprice opened #4306 "Status icons on avatars lack contrast"
This is a followup I originally posted at https://github.com/zulip/zulip-mobile/pull/3417#issuecomment-474641128 just before merging that PR.

The "unavailable" icon lacks contrast on top of an avatar:
  ![image](https://user-images.githubusercontent.com/28173/54651283-66523680-4a6f-11e9-915d-336ccbc6deb3.png)

* Possible fix: give it a partly-opaque background? Or even fully opaque.

* Something

[2020-11-12 04:37] gnprice opened #4307 "Status dot on user-profile screen slightly misaligned"
This is a followup I originally posted at https://github.com/zulip/zulip-mobile/pull/3417#issuecomment-474641128 just before merging that PR.

The status dot isn't aligned well on the full-screen profile. Here's an updated screenshot:
![image](https://user-images.githubusercontent.com/28173/98896245-616ca280-245d-11eb-9105-7e044b214f9f.png)

In the original comment, the status dot was left of the

[2020-11-12 14:45] abhi0504 commented on #4307
@gnprice I want to work on this issue ,
I will slightly lower status symbol or If you want to place it anywhere else on screen we can also do that .
so what would you say.

[2020-11-12 17:54] abhi0504 commented on #4306
hey greg ,
I Think we can do two things or either of one of below for this issue

1. We can make our back ground partially-opaque for every status ,

2. Or , we can make our icon circular by increasing border radius and then put that status symbol half on avatar and half outside
for eg.
![moss_status (1)](https://user-images.githubusercontent.com/56453541/98977056-29895c00-253e-11eb-93dc-8d2c2a654

[2020-11-12 20:06] #4303 closed

[2020-11-12 20:22] gnprice commented on #4306
Hi @abhi0504 !

Zulip's avatars are meant to be displayed as rounded squares, not circles. And quoting Tim at #205:

I think an opaque or partly-opaque background around each status icon, and perhaps an opaque border, would be a good solution. Your example image demonstrates that (in addition to the avatar shape) and I think it works well.

[2020-11-12 20:27] gnprice commented on #4307
@abhi0504 Sure. Let's do two things:
* Put it to the left of the name -- that makes it match the webapp's right sidebar.
* Adjust the alignment so it looks correctly aligned.

In your PR, please include screenshots with all four of the possible status states. (The easiest way to do this might be to make some temporary hacks in `PresenceStatusIndicator.js` to control which one is shown, rather than

[2020-11-12 20:30] abhi0504 commented on #4306
@gnprice  thanks for your help , ok so we are keeping that rounded squares with partly-opaque background and perhaps an opaque border so should I started working this issue or any other suggestions

[2020-11-12 22:04] gnprice commented on #4306
@abhi0504 You've already claimed #4307, so let's start with that, and then you can take this one up next.

[2020-11-12 22:27] gnprice commented on #4290
A correction! It turns out that if you already had the relevant account active, this bug didn't affect any behavior: we'd log a warning "notification realm_uri not found in accounts", but then we'd go ahead and navigate to the relevant conversation.

The main effect of this bug was if you *weren't* already on the right account. In that case:
* Expected behavior: the app opens and navigates to the

[2020-11-12 22:44] gnprice commented on #4290
... Spoke too soon: I hadn't actually tested this since the original report. Now I have.

What actually happens is: the app opens, then crashes.

With `adb logcat`, we see why:
[code]
That is, we try to navigate to the right conversation as if it were on the active account... and when there isn't a user by that email, we crash.

The crash is a separate issue we should fix. Any time a notification

[2020-11-12 22:55] gnprice opened #4309 "Opening a notification for nonexistent user/stream causes crash"
This is a situation that's only possible in the first place when caused by some bug in either the app or the server. But such bugs happen, and particularly because it involves the server, we should be robust enough not to crash on it.

I don't think there's a known way to trigger this with a current version from master (or with today's release v27.157, now in alpha) and a stock server. But one way

[2020-11-12 22:56] gnprice commented on #4290
OK, and filed as #4309.

[2020-11-13 05:50] abhi0504 commented on #4307
@gnprice I have placed the status symbol to the left of the name and also adjusted the alignment (slightly lowers the status symbol). Attaching some screen shots :
### Before :
![Android Emulator - Pixel_3_API_29_5554 12-11-2020 20_12_49 (1)](https://user-images.githubusercontent.com/56453541/99032639-16a77380-25a0-11eb-8e98-b965816695b8.png)             ![Android Emulator - Pixel_3_API_29_5554 12

[2020-11-14 19:06] abhi0504 commented on #4305
@gnprice are you working on this issue or can I take it

[2020-11-14 19:07] abhi0504 commented on #4307
@gnprice can you review this and suggest some changes or is it fine

[2020-11-14 19:17] abhi0504 commented on #4306
@gnprice I have also done some changes and submitted a PR for this issue as we have discussed
## Before

![](https://user-images.githubusercontent.com/28173/54651283-66523680-4a6f-11e9-915d-336ccbc6deb3.png)

## After
![Android Emulator - Pixel_3_API_29_5554 15-11-2020 00_43_23 (2)](https://user-images.githubusercontent.com/56453541/99155228-1a401500-26dc-11eb-9015-51ab5006ab4f.png)

[2020-11-14 23:12] baxterdmutt commented on #4136
But if you are in the iOS app and tap the link and cut and paste into Safari on the same device, the file is downloaded fine. So there is nothing wrong with the link.

[2020-11-16 21:44] gnprice commented on #4136
@baxterdmutt Yes, if you long-press the link in order to copy it, that doesn't involve the code that has this bug. This bug applies when you directly open the link within the app.

[2020-11-20 01:11] chrisbobbe commented on #4245
With https://github.com/facebook/react-native/commit/232517a5740f5b82cfe8779b3832e9a7a47a8d3d (released in RN v0.63) we can get sub-millisecond resolution when timing things for performance; see [discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.60Immutable.2EMap.60.20performance.20for.20.60state.2Enarrows.60/near/1066838).

[2020-11-20 21:40] chrisbobbe commented on #4305
@gnprice, it looks like React Native has something called [`PixelRatio`](https://reactnative.dev/docs/0.62/pixelratio) for this! Do you see anything there other than `PixelRatio.get()` that you'd like to use?

[2020-11-21 19:16] chrisbobbe commented on #4253
Version 12.0.0 of `prettier-eslint` [reportedly](https://github.com/prettier/prettier-eslint/pull/407#issuecomment-731610600) just got ESLint 7 support, so I'm unblocking this! 🎉

[2020-11-24 20:28] chrisbobbe commented on #4305
https://github.com/zulip/zulip-mobile/pull/4230 aims to fix this along with its main goal. 🎉

[2020-12-01 20:52] yash-rajpal commented on #4239
Is this issue still available? If it is I would like to work upon it.
I understand the issue and also looked at the native required to clear the text input and restart the keyboard. Should I work on this?

[2020-12-01 22:49] jryans opened #4323 "Open links in default browser, not embedded webview"
We should change tapping on links to open them in the default browser, not the webview. (description edited by @WesleyAC, original below)

---

In many iOS apps these days, tapping links will open them by default in your preferred browser (recently added as option in iOS 14).

Zulip on iOS doesn’t appear to offer this, and only has an embedded webview, which adds extra steps, since each link needs

[2020-12-02 10:22] abhi0504 commented on #4292
@gnprice is this issue is still open , Can I take this one ?

[2020-12-03 19:32] schrej opened #4325 "@stream doesn't appear in the autocomplete list"
On the web app, `@stream` is autocompleted, but on the mobile app it isn't.
Since `@**stream**` is hard to type on mobile keyboards, it should be included in the auto-completion there as well.

[2020-12-04 01:13] abhi0504 commented on #4325
@schrej , Yeah we can Add this autocompletion by which `@stream` is autocompleted to `@**stream**` via
`zulip-mobile\src\autocomplete\TopicAutocomplete.js` @gnprice @chrisbobbe plz comment

[2020-12-04 01:22] abhi0504 commented on #4306
@gnprice can you review [this](https://github.com/zulip/zulip-mobile/pull/4324) PR for the above issue

[2020-12-04 22:37] #3745 closed

[2020-12-05 05:40] baxterdmutt commented on #4136
Is there a timeline on when this issue will be fixed. It’s a real difficulty for a few of our staff that are not super tech savvy.

[2020-12-05 08:39] TarunTomar122 commented on #2750
Is this issue still active? I would like to fix it.

[2020-12-05 09:03] TarunTomar122 commented on #4325
Hi @schrej. I would like to work on this issue if it's fine? Also can you please elaborate on what's the problem?

[2020-12-05 13:12] tusharojha commented on #2750
@zulipbot claim.

[2020-12-05 13:12] tusharojha commented on #2750
I would like to work on this issue.

[2020-12-05 13:13] tusharojha commented on #2750
@zulipbot claim

[2020-12-05 14:49] schrej commented on #4325
Entirely fine with me, but I only reported it, not part of the project ;)

When you type `@every`, `@everyone` appears in the auto-complete dropdown, and so does `@all` (but you can't click it, maybe a second bug worth of another issue @abhi0504 ?.
I assume `@everyone` and `@all` are also supposed to be autocompleted to `@**everyone**` and `@**all**`.

`@stream` doesn't appear in that auto-complet

[2020-12-05 18:53] abhi0504 commented on #4325
@schrej yes , `@all`and `@everyone` is appearing in the dropdown menu but we are not able to click on It , reporting it as another issue .

[2020-12-07 16:55] tusharojha commented on #4297
I am also facing the same issue. Also, I am struggling with installing rsync, please help.

[2020-12-08 01:02] gnprice commented on #4297
Hi @tusharojha ! Glad to help out with the setup steps. Let's use [the chat thread](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Unable.20to.20build.20and.20run.20android.20app/near/1075786) for that.

[2020-12-08 02:33] #4253 closed

[2020-12-08 15:02] PeZzZzZz opened #4331 "Proxify the app through socks5 (tor)"
I already proxify the legacy app through tor, but i cant understand how to do it on the new react app.
After while i think i have to patch the `connect()` function in this file `/mobile-app/src/react-redux.js` but i'm not sure.

I also tried to add proxy in `package.json`, doesn't work.

And before this i patched the `okhttp3` part in this file `/mobile-app/android/app/src/debug/java/com/zulipmobi

[2020-12-09 20:08] #4307 closed

[2020-12-10 04:29] gnprice opened #4333 "Identify narrows with user IDs and stream IDs, not emails and names"
This is a major component of both #3764 and #3918. Currently we describe PM narrows (both 1:1 and group) by emails of the people involved, and stream and topic narrows by the stream name (and in the latter case the topic.) We should instead use the numeric user IDs and stream IDs, for all the reasons described in #3764 and #3918.

This has been a stubborn issue to resolve because there are *so man

[2020-12-10 04:30] gnprice commented on #3230
Tracking this now as part of #4333.

[2020-12-10 04:30] #3230 closed

[2020-12-10 05:02] gnprice commented on #4174
I'd noticed again recently that some PRs weren't getting CI results posted from Travis. Today @hackerkid [discovered](https://chat.zulip.org/#narrow/stream/43-automated-testing/topic/travis.20ci/near/1077862) that this is true across the Zulip project, and that the reason is that Travis CI has recently cut off free service for most open-source work, including Zulip.

Travis has always been a prett

[2020-12-11 22:22] devzsolt commented on #4283
@gnprice Could you please check if perhaps a quick dep update to react-native-image-picker 3.x would resolve this issue? It was released these days. Thanks a lot!

[2020-12-12 04:58] shaurya2612 commented on #4323
I am working in this

[2020-12-12 04:58] shaurya2612 commented on #4323
I am working on this !

[2020-12-14 04:51] gnprice commented on #3949
And after #4201, we're now using `Immutable.Map` for `state.narrows`!

Another instance of this will be #4252, for `state.flags`.

In general I think the highest-priority places to do this are roughly:
* `state.flags` has several maps each of which can have one element per message, and which get updated every time you scroll through some messages and when you get new messages. The number of messag

[2020-12-14 15:24] chrisbobbe commented on #3949
I'll do this next!

[2020-12-14 18:26] Ayushdubey86 commented on #4333
I would like to work on this!

[2020-12-14 18:31] alexferro opened #4337 "Selfhosted: TLS error on only one group chat, only on Android"
I run a small self hosted, via the docker-zulip configuration, instance of Zulip for the company I work for. Two of my four users (who run Android) are reporting getting the attached screenshot on a group chat that includes them, and myself. I'm on iOS and have not had any issues. This began back in at least mid November, but I didn't realize the report wasn't just a one off glitch until recently.

[2020-12-14 20:13] gnprice opened #4338 "Topics get mis-unescaped when narrowing through a recipient bar"
Repro:
 * Send a message to a topic with a name like `this &amp; that`.
 * Look at it in the whole-stream view, or another interleaved view. The recipient header will show it nice and correctly: `this &amp; that`.
 * Tap the recipient header.
 * Expected: We narrow to topic `this &amp; that`.
 * Actual: We narrow to a different topic, `this & that`.

The cause of the bug is that we're trying to "u

[2020-12-14 23:05] gnprice commented on #4333
Hi @Ayushdubey86 ! This issue is a pretty complex one, and I'm already working on it. To find good issues to take on, take a look at our ["help wanted" label](https://github.com/zulip/zulip-mobile/labels/help%20wanted). See also our [contribution guidelines](https://github.com/zulip/zulip-mobile/blob/master/CONTRIBUTING.md), and say hello [in #mobile on chat.zulip.org](https://github.com/zulip/zul

[2020-12-15 00:08] gnprice commented on #4305
Great -- that looks like it should be exactly right!

[2020-12-15 07:17] gnprice commented on #4323
Thanks @jryans for the report!

It looks like we actually switched from opening in Safari to an embedded Safari view, a few years ago, in #1721. There's no record of what the motivation for that was, though, unfortunately.

I'm not personally a real frequent iOS user, so I don't have a strong view myself on the best UX here. From a quick web search, I found this article fairly persuasive that an e

[2020-12-15 07:54] gnprice commented on #4337
Thanks for the detailed report!

Because the app is successfully talking to the server otherwise, it seems like the issue can't be in the TLS certs the Zulip server (or rather its reverse proxy) provides.

One fact that's probably relevant is that when we show the actual message list for a given conversation, that's in a webview of its own. In your screenshot, the part of the screen that's blank a

[2020-12-15 09:37] pratyaksh123 commented on #4232
Hey, I'd like to take this up.

[2020-12-15 14:03] ThomasBaeuml opened #4340 "BUG. Sending pictures with apple device doesn't work."
Hello,

some IPhone users noticed that sending pictures doesn't work. We try taking pictures and send them doesn't work in the Zulip app ... Also taking photos  with the IPhone camera and just choose them doesn't work. They using IOS 14.2. Is this an Apple bug? Is there a solution for this? Android, Windows client and webapp work for us. Do you need more informations?

Thanks for your answer.

Gre

[2020-12-15 15:01] alexferro commented on #4337
Well, I'm both happy and sad that it's probably not my server config. Happy, because I probably didn't make a mistake there while following the instructions, sad because it means it's something weirder to troubleshoot.

One of my users actually suggested that same thought about a bad link (and we both thought that we'd hope the system web view was smarter than failing everything on a bad link), an

[2020-12-15 16:55] #4305 closed

[2020-12-15 16:55] #4157 closed

[2020-12-15 19:07] #4338 closed

[2020-12-15 22:17] alexferro commented on #4337
I have not found the message yet that is causing the problem, but I can confirm that sending a message with an image URL in it that goes to an HTTPS server that uses an untrusted root authority (internal corporate CA) breaks Zulip on Android, but not on iPhone. If you have a more private way to get an example link to you, I can send you the exact image URL I am testing with that is causing trouble

[2020-12-15 23:15] alexferro commented on #4337
Update: I think I have found the culprit in my chat logs and deleted them. Both users have confirmed the chat works after deleting a few messages.

At the time I sent the original messages, I mentioned a web site in a message that only existed for a few days, and Zulip automatically made the "infobox" message embed pane trying to show the contents of the website, and referencing a logo in the back

[2020-12-16 06:03] gnprice commented on #4337
Thanks for the debugging details, and I'm glad you were able to get things working again for you! I agree, this is a pretty nasty bug when it hits and so it'd be good to fix; though I also share your thought that it may be in some code we don't have much control over (potentially in the device's Chrome.)

If you'd like to share the exact URL that was in your repro, that'd be helpful too. You can s

[2020-12-16 06:37] alexferro commented on #4337
I have just sent an email to support@zulip.com with examples of bad URLs hosted on our infrastructure.

I took a closer look while writing that email, and one of the two URLs is actually nginx misconfiguration on my end that generates a http protocol error, versus serving a 500 error or similar with a self signed certificate, but both of them represent server behaviors (even if an unknown CA is a

[2020-12-16 06:44] pratyaksh123 commented on #4340
I've tested this on my iPhone 7+ running iOS 14.2 , I'm experiencing the same behaviour. Sending pictures through camera doesn't work.

[2020-12-16 09:58] shaurya2612 commented on #4340
@ThomasBaeuml Hi Thomas ! Could you send a short vid/gif of what is exactly happening, as the iphone camera is not available on emulators

[2020-12-16 19:39] gnprice commented on #4035
In addition to the commits mentioned above, some more of this work landed a couple of weeks later in #4040 (and its successor #4078.)

Then since the big changes in #4335 last week, this is pretty nearly complete, so I've just gone and taken a look to see what's left. I think it's just
* the `normalizeRecipients` function, which does something rather fuzzy, but which fortunately we have very few r

[2020-12-18 07:29] gnprice commented on #4146
We (re-)[discovered this week](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/user_avatar_url_field_optional/near/1080919) that the `URL` implementation we've polyfilled is rather expensive. After introducing several calls to `new URL` per user in the initial load, we had to promptly take them back out again (#4344 and #4345) because they were adding over 7 seconds to the initial load

[2020-12-18 11:39] bhanujggandhi commented on #4039
Hi, @gnprice! I want to work on this issue. Can you please guide me?

[2020-12-18 16:02] Signior-X commented on #4211
@gnprice

This can be done using Android studio. I want to try this one. Just two questions,
1. From where I can get the logo of zulip. Is there some folder where it is stored.
2. You mentioned that it get's a white background on samsung devices (also on my device), what should be the actual background or behaviour?

[2020-12-18 23:37] mthgr opened #4349 "Pictures already downloaded on Android app seems to be dowloaded again or rendered very slowly when reopening the app"
If I open a thread containing a picture that was previously loaded on the Android app that image is "downloaded" again or is rendered very slowly row by row.

This is a big usability problem. Is there a setting to cache the picture locally and is this a known issue (I can't seem to find another report of this) or a bug specific to my android version ? I have a Samsung S10+ with Android 10.

[2020-12-19 06:52] pratyaksh123 commented on #4340
@ThomasBaeuml I think this was just a permissions issue.Just go to settings and check the permissions for photos.

[2020-12-19 08:03] Gautam-Arora24 commented on #4232
Hey @gnprice ! Can I work on this issue?

[2020-12-21 21:51] gnprice commented on #3457
We've had a couple of fresh reports of this [in chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Wrong.20scroll.20position.20on.20iOS/near/1084864). One person says (and adds they're on iOS):

On my asking whether it's about a screenful or more than that:

[2020-12-22 15:34] ShashwatMDas opened #4353 "Back button handling in in MainTabs"
Current Behaviour: On pressing the android/IOS back button in any of the main tabs closes the application.

Ideal Behaviour: Pressing the back button should take the user back to the Home Tab.

Alternative Behaviour: Should show a toast/snackbar, asking the user to press the back button twice to exit the app.

[2020-12-22 15:53] chrisbobbe commented on #4353
This sounds like an Android-only thing; have you tested on iOS? 🙂

[2020-12-22 15:57] ShashwatMDas commented on #4353
No, I have tried only for android. Sorry for the misinformation, will edit it.

[2020-12-22 16:37] chrisbobbe commented on #4353
This sounds fine to me; you mentioned in [discussion](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Back.20button.20handling.20in.20in.20MainTabs/near/1085678) on chat.zulip.org that this is what Slack does on Android. (I'm more familiar with iOS than Android; Greg may have other ideas.) 🙂

First, I'd recommend looking at [`createMaterialBottomTabNavigator`'s `backBehavior` option](https:/

[2020-12-22 17:25] #2750 closed

[2020-12-22 18:59] ShashwatMDas commented on #4353
@chrisbobbe can your review this [PR](https://github.com/zulip/zulip-mobile/pull/4354) for this issue?

[2020-12-22 22:59] pratyaksh123 commented on #4232
As I can see the problem in that PR is with the `textWithUnreadCount` util function in https://github.com/zulip/zulip-mobile/pull/2753 and the solution is to use a ```<FormattedPlural/>``` (https://formatjs.io/docs/react-intl/components/#formattedplural) in that util.
Plus there are a lot of merge conflicts in that PR branch as the current codebase is updated quite a lot. So maybe we can start bui

[2020-12-23 19:43] gnprice commented on #4309
A correction: this bug can be triggered on v27.157 by interacting with this remaining piece of #2295 (quoting my description at https://github.com/zulip/zulip-mobile/issues/2295#issuecomment-548612532 ):

So if you've been using one realm/org; and you get a notification for a different one; and you have multiple known accounts in that other realm; then we don't switch to it, we stay in the wrong r

[2020-12-23 22:51] gnprice commented on #4309
I believe this is now fixed for PMs, by commits bed2f2a418c3194fcc67694f6f4bb629492162c3 and e9941c025e48da0f5953a02d3064e51e98ef1fc1 (PRs #4335 and #4346). If we don't have data on one of the participants in the PM conversation, `getNarrowFromNotificationData` will return `null` and we simply won't attempt the narrow.

I haven't tested that empirically, though.

Still open for notifications for s

[2020-12-24 00:31] gnprice commented on #3457
OK, and on that chat thread we have a new and simpler repro recipe!

Moreover it seems to be specific to iOS -- the same recipe does not reproduce it for me on Android.

I'll file a new issue for this one; the original report at the top of this thread was on Android, so is probably not the same issue, and this issue thread has also gotten confusing with what are probably several different issues (

[2020-12-24 00:46] gnprice opened #4357 "Narrow lands far in the past, every first time, on iOS"
This is an instance of symptoms like #3457, with a specific repro recipe. It can't explain some of the previous reports on #3457, so it doesn't replace that one. It's a pretty annoying bug that will come up frequently for anyone on iOS, so it's a priority to diagnose and fix.

To reproduce:
* Launch the app, on iOS.
* Navigate to "streams", and then to some particular stream that has a long histor

[2020-12-24 01:05] gnprice commented on #4357
A few more details from my repro observations, in case they're helpful for further debugging:
* From the point in the past where the message list first shows, it's 5 screenfuls (exactly, to within the precision of my measuring by scrolling a screenful at a time) to get down to the bottom. The messages are from about 8 months ago.
* When I touch the screen and start scrolling slightly, a scroll ind

[2020-12-24 01:18] gnprice commented on #4357
Also reproduced just now on an iPhone 7 running iOS 12.4.1. So a smaller screen; some other hardware differences, like no "safe area" or screen cutouts; and an older OS.

All the substantive details are the same. Details that differ:
* Visiting the same stream, it lands a bit further in the past, by a fraction of a screenful: the iPhone 7 shows about 1 more message at the top, and 7 fewer at the b

[2020-12-26 09:20] ganpa3 opened #4359 "Unread messages includes messages from muted streams"
Count of unread messages includes messages from muted streams.

E.g.
I have read all the messages, still it shows some messages as unread, which are from a muted stream.
<img src="https://user-images.githubusercontent.com/58626718/103148622-beab8180-4787-11eb-8e3e-486f6216b90f.jpg" height="560" width="310">
<img src="https://user-images.githubusercontent.com/58626718/103148626-c4a16280-4787-11eb-9

[2020-12-26 14:05] navece commented on #4359
I want to work on that Please assign me.

[2020-12-27 22:13] hetanthakkar1 commented on #4359
I would like to solve this issue would you please assign it to me

[2020-12-28 09:47] Gautam-Arora24 commented on #4232
@zulipbot claim

[2020-12-28 16:42] #3557 closed

[2020-12-28 23:36] #4035 closed

[2020-12-29 22:57] WesleyAC opened #4363 "Several bugs related to custom emoji and emoji aliases"
Instructions to reproduce:

1. Add a custom emoji named `ok`
2. React with `ok` to a message
3. React with `got_it` to the same message

Now, the display bug show below happens, and also when you try to react to any message, the reaction is not shown on the frontend until you exit the message list view and then go back to the message list view.

![ok_got_it](https://user-images.githubusercontent.c

[2020-12-30 02:32] titanous opened #4365 "Avatars don't work on iOS 14, except in message list"
The profile picture in the bottom tab bar is missing on local builds targeting the current version of iOS (see screenshot below). Additionally, the margin for the "home swipe bar" appears to be missing. I have tested this in a few different configurations, and here's what I found:

**Working**
- Release version (v27.157) from the App Store on an iPhone 12 with iOS 14.3
- master (05048c7007d30a6967

[2020-12-30 03:16] chrisbobbe commented on #4365
Thanks for the detailed report, @titanous!

@gnprice, you mentioned [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.60Immutable.2EMap.60.20performance.20for.20.60state.2Enarrows.60/near/1066833) the possibility of upgrading your test device's iOS version to 14. Did you end up doing that, or would it be best to keep it on its current version while plenty of people are still usin

[2020-12-30 21:44] gnprice commented on #4365
Thanks @titanous for the detailed report!

I just tried this in an iOS 14 test device, and it's working. That's:
* v27.157 from the App Store (well, TestFlight) on an iPhone XR with iOS 14.2

I see the profile picture there, and there's a margin below those five bottom icons.

One other variable which could affect this behavior is the type of avatar -- Zulip avatars can be hosted in a few differen

[2020-12-30 21:51] gnprice commented on #4363
Weird. Thanks for the report!

To make sure I'm understanding correctly, and to unpack that screenshot a bit:
* There's a built-in emoji `ok`, and `got_it` as an alias of it.
* So you uploaded a custom emoji replacing `ok`, and then reacted with both `ok` (which I guess should mean the new one) and `got_it` (which should probably mean the old one.)
* The mobile reactions list now shows two differe

[2020-12-30 21:54] gnprice commented on #4363
The next thing I'd do to debug this is to add some debugging in `MessageReactionList`, which is the component that's showing here, and investigate what it sees in the data. Specifically:
* What's `aggregatedReactions`, i.e. the return value of `aggregateReactions`?
* What's `message.reactions`, which is the main input to that function?

[2020-12-30 22:38] titanous commented on #4365
I saw the same thing for both of these variants:

- A Gravatar (in this case one of the random defaults)
- An avatar the user uploaded, and which the Zulip server hosts locally (testing on chat.zulip.org)

I did this test, and v27.157 built locally is broken on the same physical device where the App Store version is working.

I wonder if perhaps the App Store version was built against an older SDK

[2020-12-30 23:51] gnprice commented on #4365
Fascinating.

Yeah, quite plausible.

On the machine I use for App Store builds, I have:
[code]
so that's consistent with that theory. (I believe I haven't upgraded Xcode since building the v27.157 release; certainly I haven't downgraded it.)

I guess the next step is I should see if I can reproduce with that Xcode 11.7.

[2020-12-30 23:58] gnprice opened #4369 "No margin for main bottom nav on iPhone 12"
@titanous reports on #4365:

and adds at https://github.com/zulip/zulip-mobile/issues/4365#issuecomment-752779450 :

The symptom is reminiscent of #3066. It seems like there's a new behavior with the layout of the iPhone 12 screen (but not the 12 mini), which we're not handling properly.

As for why local builds differ from the version in the App Store -- those local builds were with Xcode 12.3, w

[2020-12-30 23:58] gnprice commented on #4365
Cool. Filed that one as #4369.

[2020-12-31 01:00] titanous commented on #4357
@zulipbot claim

[2020-12-31 01:30] gnprice commented on #4365
I think the answer is... that I can't run that test! When I try to run the app from source on that device, I get an error saying "The current device configuration is unsupported. This iPhone XR is running iOS 14.3 (18C66), which is not supported by Xcode 11.7. To run on this device, please update to a version of Xcode that supports iOS 14.3."

Awkward because it appears that once I upgrade to Xcod

[2020-12-31 01:32] gnprice commented on #4365
Oh, and a correction on this part: I actually did upgrade Xcode ([chat thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.60Immutable.2EMap.60.20performance.20for.20.60state.2Enarrows.60/near/1066785)) the week after building that release. Previously it was Xcode 11.3.

[2020-12-31 02:05] titanous commented on #4365
Missing here.

Missing here.

The button working.

Works here.

I'll dig further on this after I put together the PR for another fix I'm working on.

[2020-12-31 02:52] gnprice commented on #4365
Sounds great!

Interpreting a bit that pattern of observations:
* it's failing everywhere that we try to show an avatar directly from the React Native part of the app;
* it's working where the avatar instead appears inside the webview for the message list.

In the first category, all those spots in the app ultimately use our `UserAvatar` component; and that just uses RN's built-in `ImageBackground

[2020-12-31 03:39] chrisbobbe commented on #3066
#4315 would have us using a more maintained thing for getting the safe-area insets.

[2020-12-31 06:38] bjorn3 opened #4371 "Opening notification for inactive account attempts to look up in the active account"
I have the rust-lang zulip active most of the time. I got a notification for the bytecodealliance zulip today. When I clicked on it, zulip for android attempted to look the stream and topic up on the rust-lang zulip and gave a message that ot didn't exist.

[2020-12-31 07:42] abhi0504 commented on #4363
@gnprice Can i work on this issue

[2020-12-31 08:20] WesleyAC commented on #4363
@gnprice Yup, that description of the issue is correct. The black square is the image that I uploaded.

IMO the most troubling part of this bug is that this prevents new reactions from showing up client-side when the user adds a reaction. Not sure if that bug is also on the `MessageReactionList` codepath or elsewhere, since I haven't looked at the code or error logs or anything.

@abhi0504 feel fr

[2020-12-31 17:19] abhi0504 commented on #4363
@WesleyAC thanks for your reply @gnprice can you assign me this issue

[2020-12-31 17:19] chrisbobbe commented on #4296
Added the `multi-org` label, since I expect we'll want to settle into React Navigation v5 (which comes with a pretty big API change) before we make the necessary nav UI changes for better multi-org support.

[2020-12-31 22:43] #4357 closed

[2020-12-31 23:13] gnprice commented on #3921
It seems like this may have been fixed! Or at least made much rarer.

Specifically, when testing #4370 just now, I attempted the repro above: repeatedly entering and leaving a stream, without reloading the app. This was on an emulated Pixel 3a running Android 11, from a recent master 602bcc16c. And I couldn't reproduce -- the behavior was perfect every time.

I did reproduce it once, out of a bunc

[2020-12-31 23:27] gnprice commented on #3921
Well, I tested just now in
* an emulated Pixel 3 runing Android 10, with Chrome 74.0.3729.185
* an emulated Nexus 5 running Android 9, with Chrome 69.0.3497.100
* an emulated Pixel 2 XL running Android 8.1 Oreo, with... Chrome 69.0.3497.100, huh

and I couldn't reproduce in any of those.

My own testing in 2019-11, when we first saw this, would have been in one of those emulated devices (or possib

[2020-12-31 23:34] gnprice commented on #3921
I'm going to close this issue because it seems we can no longer reproduce it, and because I don't recall seeing it anytime recently and we haven't heard any user reports of it in the year since it was filed. If we spot any symptoms like this again, we'll file a new bug.

There may still be an opportunity here to simplify our interaction with the browser's layout and scrolling: https://github.com/z

[2020-12-31 23:34] #3921 closed

[2020-12-31 23:41] gnprice commented on #3457
Now that #4357 has been diagnosed and fixed :tada:, I think that may be the resolution of this issue!

I don't recall seeing this issue myself, as a mostly-Android user, in a long time. I suspect that the situation for some time has been that the issue existed only on iOS, and #4357 was it.

I've just closed #3921, which was forked from this issue, because I can't reproduce it anymore either.

Clo

[2020-12-31 23:41] #3457 closed

[2021-01-01 00:37] titanous opened #4375 "Narrow lands above or in the middle of latest message on iOS"
In the process of testing #4370 and #4374 I noticed that on iOS the scroll position sometimes ends up a few dozen px above the bottom of the latest message. For short messages, this can mean the whole message or a few one-line messages are below the bottom of the viewport, and in other cases this just results in the reactions or some of the text at the bottom of a single outside of the viewport.

[2021-01-01 01:12] gnprice commented on #4363
@abhi0504 Yep, please go ahead and work on the issue :slightly_smiling_face: In general, when an issue is labeled "help wanted" and nobody's already taken it, feel free to claim it by just saying so on the issue thread.

Oh, I see! You'd mentioned this in the original description:

but apparently I glossed over that. I agree that is troubling.

Can you spell out your reproduction steps to observe

[2021-01-01 01:45] titanous commented on #4365
This is facebook/react-native#29279 and facebook/react-native#29215, fixed in https://github.com/facebook/react-native/commit/123423c2a9258c9af25ca9bffe1f10c42a176bf3 (v0.64) and https://github.com/facebook/react-native/commit/b6ded7261544c703e82e8dbfa442dad4b201d428 (v0.63.2).

[2021-01-01 01:46] titanous commented on #4365
This is blocked by #4245.

[2021-01-01 01:51] chrisbobbe commented on #4245
Another reason for getting this upgrade has been discovered—using RN v63.2 will [reportedly](https://github.com/zulip/zulip-mobile/issues/4365#issuecomment-753239530) fix #4365! Marking as high priority.

Most of the work has already been done, but the new Flow version has lots of issues with our use of react-navigation, so I've been hoping to finish #4296 before taking up #4245 again.

[2021-01-01 09:26] Gautam-Arora24 commented on #4369
@gnprice Can I work on this issue?

[2021-01-01 10:39] WesleyAC commented on #4363
11 is not correct — the bug persists even if you go back to the main nav then navigate back to the message list that has the double-reaction. Other than that, those steps are correct.

It's unclear to me if this only happens to the person who added the emojis, or if it also happens to anyone who happens to look at the messagelist, I haven't bothered to make another czo account to test that.

[2021-01-04 16:00] panomitrius opened #4377 "Links to previous messages doesn't work on latest Android client"
Clicking on a link to a previous message, in the form of `https://a-private-zulip-server.eu/#narrow/stream/6-AStream/topic/ATopic/near/294` doesn't work on the Android client, but works fine from a desktop web browser.

[2021-01-04 16:07] chrisbobbe commented on #4245
For cross-reference: #4320 and #4321 are currently open.

[2021-01-04 16:24] chrisbobbe commented on #4377
Thanks for the report, @panomitrius!

The codepath for handling those links properly goes through an area that was cleaned up quite recently, in #4350, and I expect that will probably fix this issue.

That PR was merged, but it hasn't been released yet; I hope we'll at least have a beta with it out by the end of this week. 🙂

Alternatively, if you're already set up to [build and run zulip-mobile](

[2021-01-04 17:02] Gautam-Arora24 commented on #4375
Can I work on this issue?

[2021-01-04 19:00] vanclute opened #4378 "Mobile app can create post without a topic, when permissions are set not to allow that."
Mobile app users can still create "no topic" posts even if permissions are set to disallow it and desktop users cannot.  Tested on iOS.

[2021-01-04 19:06] gnprice opened #4379 "Explicit "New topic" UI"
@vanclute writes at https://github.com/zulip/zulip-mobile/issues/4378#issuecomment-753572750 :

and adds:

The webapp has at the bottom of the message list, when the compose box is closed, a distinct "New topic" button:
![image](https://user-images.githubusercontent.com/28173/103569726-aa007500-4e7c-11eb-9825-59d3d97d3d5f.png)

It'd be good to find an appropriate design to do something similar in

[2021-01-04 19:15] gnprice commented on #4378
@vanclute Thanks for the report. I've split off the second issue in your latter comments as #4379.

This would be a good issue for someone to fix. The approach will look something like:
* Store the relevant setting in `RealmState`, and populate it in `realmReducer`, much like the existing property `canCreateStreams`.
  * If it's not already in the `InitialData` type, add it.
* At `ComposeBox`, add

[2021-01-04 19:23] panomitrius commented on #4377
Alright, cool! Sounds good @chrisbobbe :) I might check the chat out later.

[2021-01-04 22:38] gnprice commented on #4365
@titanous Great, thanks for tracking that down!

This makes a good reason for us to take the time soon to complete that RN upgrade. As you can see on #4245, Chris has marked it now as a priority issue.

[2021-01-04 23:18] titanous commented on #4174
I'll take this one.

[2021-01-05 06:19] Gautam-Arora24 commented on #4379
@gnprice Can I work on this issue?

[2021-01-05 14:02] dhanmoni commented on #4378
I want to work on this. Can you assign me?

[2021-01-06 18:25] #4174 closed

[2021-01-06 19:00] #4155 closed

[2021-01-07 16:16] chrisbobbe opened #4386 "Android: `RealmScreen` unusable in landscape orientation when input is focused."
I discovered this while working on #4315, but then I found out that it was happening with or without the changes in #4315.

Reproduction recipe (works for me on the office Android device I'm using, a Samsung Galaxy S9):

1. Go to the "realm screen", the screen where it says "Enter your Zulip Server URL", in the normal portrait orientation.
2. Make sure the text input is focused (it should be by de

[2021-01-07 16:36] chrisbobbe commented on #3066
OK, now that #4315 is merged, we're using `react-native-safe-area-context` instead of `react-native-safe-area` to provide the safe-area insets. We stop storing the values in Redux; the new module uses React Context.

As discussed around [here](https://github.com/zulip/zulip-mobile/pull/4315#issuecomment-755854387), the new module is not without flaws, though.

It offers a `useSafeAreaInsets` hook

[2021-01-07 16:50] abhi0504 commented on #4363
@gnprice  I followed up above 3 steps but this problem isn't reproduced

[2021-01-07 16:59] abhi0504 commented on #4386
@chrisbobbe can I work on this issue ?

[2021-01-07 18:05] abhi0504 commented on #4386
@chrisbobbe , Actually what is happening that when you change the orientation from portrait to landscape and typed let say for eg "chat.zulip.org" or you typed an invalid URL and presses GO Button ( which is also available in the keypad in the portrait mode ) then it is also working but this time behind the keypad as in landscape mode the keypad covers the whole screen of mobile so we are not able

[2021-01-07 21:48] gnprice opened #4388 "Crash on trying to log into a second account"
Repro:
* Be logged into an account, and in the main app UI.
* Profile > Switch account > Add new account.
* Type an org URL, and hit enter.
* The app crashes.

Here's an alternative repro that doesn't quite as much show how easy this bug is to hit, but is easier to reproduce repeatedly in a loop while changing things:
* Have at least two accounts in the list: one logged in, and one logged out. (E.

[2021-01-07 21:52] chrisbobbe commented on #4388
Thanks for the report, and for working on a fix (I see you've self-assigned this); let me know if I can help, e.g., by clarifying anything from my commits.

[2021-01-07 22:07] gnprice commented on #4388
Thanks! I've just sent #4389 with a fix -- take a look.

I suspect that resolving the underlying issue will ultimately lie in the subtleties of how we use the navigation framework we're using. So that part may make most sense to approach after #4296 / #4300 is complete and we've upgraded to react-navigation v5.

[2021-01-07 22:12] #4388 closed

[2021-01-08 01:06] gnprice opened #4391 "Main app UI stays mounted on switch-account as data goes away"
This is a latent bug -- AFAIK it's not currently causing any user-visible behavior. It's the underlying cause of #4388, which I fixed today with a workaround.

Repro:
* Revert c1acd3a84, which is that workaround. This means adding a `getAuth` selector in `UserAvatar`.
* Repeat either of the repros from #4388.
* You'll get a crash. With the debug console, you'll see that the crash is at that `getAu

[2021-01-08 06:06] palakyadav1807 commented on #4297
Is this issue resolved? I am facing same problem , what steps should I follow?

[2021-01-08 11:35] mbreskovec commented on #4359
Hello, I can confirm this. I suffer from similar issue for a long time already - muted streams are appearing in unread messages.

[2021-01-08 13:50] schrej commented on #4325
@abhi0504 Doesn't work for me, iOS 14.2 and Zulip v27.156

[2021-01-09 01:12] #3133 closed

[2021-01-11 18:50] chrisbobbe commented on #3881
There's been quite a bit of productive discussion around [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M3881.20Sending.20outbox.20messages.20is.20fraught.20with.20issues/near/1076857). The main piece of prep work we'd like to get done for our solution is #4193, which introduces a handy `promiseTimeout` function. We can use that function to time out a send-message request.

[2021-01-11 20:26] #4232 closed

[2021-01-11 20:48] gnprice opened #4394 "Make the app more accessible with a screen-reader"
We've just completed #4232 with #4355, by adding captions to two particularly critical bits of the UI. But there are still more things we should do to make using the app a good experience with a screen reader.

The essential thing for working on this issue is to take some time using the app this way -- and before that, to take some time learning how to use one of these systems, if you're not alrea

[2021-01-11 21:38] #4306 closed

[2021-01-11 21:42] gnprice commented on #4394
For anyone who regularly uses a screenreader, I'd be especially interested in your feedback on what's most annoying for you in using Zulip, or thoughts on how a specific part of the UI should work, or any other aspect of this that you have something to say about :slightly_smiling_face:

[2021-01-11 21:49] gnprice commented on #4232
@jesse-troy Thanks again for reporting this issue!

We've just added captions for those two particularly important buttons you mentioned. There's plenty more for us to do in this area; I've just filed #4394 as a general tracking issue for the broader project of adding captions to other buttons in the app, and making other improvements for using with a screen-reader. If you, or one of your colleagu