[2020-02-03 19:37] gnprice opened #3864 "Distinguish API errors in Sentry"
In our Sentry logs, the [most frequent "issue"](https://sentry.io/organizations/zulip/issues/1275118205) by far is:

Flipping through the events that make it up, they turn out to be a wide variety of different errors:
* Bad value for 'to': [30] (on POST `/typing`; [event](https://sentry.io/organizations/zulip/issues/1275118205/events/359eee6c9b30470d9ac2b7ad61bbcf7a))
* Topic can't be empty (on PO

[2020-02-03 19:52] gnprice commented on #3732
Bumping priority because this is one of the handful of noisiest errors in our Sentry logs.

[2020-02-03 19:53] gnprice commented on #3745
Bumping priority because this is on the path to resolving #3732.

[2020-02-03 19:57] gnprice commented on #3729
Bumping priority because this is one of the handful of most frequent errors in our Sentry logs. It manifests there with the error message "Cannot send to multiple streams".

[2020-02-03 21:03] gnprice commented on #3864
Meanwhile! I just discovered an alternate view within Sentry, which can mostly disaggregate events. It's called "Discover", and this UI is apparently [Discover v2](https://docs.sentry.io/workflow/discover2), which they just launched. [Here's](https://sentry.io/organizations/zulip/discover/results/?field=title&field=count%28id%29&field=count_unique%28user%29&field=timestamp&id=2958&name=Error+fireh

[2020-02-03 21:05] gnprice commented on #3743
Bumping priority because this is one of the handful of most frequent errors in our Sentry logs.

[2020-02-03 22:34] ray-kraesig commented on #3860
For reference, this is only true on Android. The iOS status bar is effectively transparent:

![Screen Shot 2020-02-03 at 14 29 11](https://user-images.githubusercontent.com/54861490/73696888-1c2b7100-4692-11ea-8e03-2378d00c344b.png)

[2020-02-03 22:36] gnprice commented on #2623
Nope, I wouldn't block this on that.

If you haven't already, it'd be useful to look at the corresponding webapp code for constructing a link -- that's `hash_util.operators_to_hash` and its helpers. It'd be good for our implementation to be structured in parallel to that one, to the extent it makes sense to do so, in order to make sharing easier in the future. But one thing you'll see there is tha

[2020-02-03 23:15] gnprice commented on #3856
Interesting -- thanks for the report!

Huh, indeed. I'm looking at `SearchMessagesScreen.js`, and I see we fetch the messages directly with `api.getMessages`, and keep them in local state to pass down to `MessageList` without ever storing in Redux.

To fix this, I think we should probably put the messages into `state.messages` in our Redux state.

[2020-02-03 23:32] ray-kraesig commented on #3863
Uninstalling the debug app and running `react-native run-android` fails to reproduce, for me, on an emulated Nexus 4 (API 21) without Google Play Services.

What device or setup are you installing onto?

[2020-02-03 23:57] ray-kraesig commented on #3864
Oof. This is new – the error message used to be a major disaggregator. (Hence my earlier push (#3733) to keep nonessential varying data out of the error message and in the "extras" block.)

(For reference, [here](https://docs.sentry.io/data-management/event-grouping/) is the current Sentry documentation on event aggregation.)

[2020-02-04 00:21] #3743 closed

[2020-02-04 00:22] gnprice commented on #3864
Hmm, yeah. From those docs:

which matches what we're seeing now, but not what we were seeing when you made that earlier push. (At that time, we'd get tons of separate "issues" from the exact same stack trace when the message varied.)

They say this about changes:

I don't think we've ever made such a change in the project settings, though!

It looks like [this](https://sentry.io/settings/zulip/pr

[2020-02-04 01:16] gnprice commented on #3180
One bit of context here is that there are (at least) two quite different kinds of loading going on:

* Fetching the messages in a given narrow, with their HTML content and a bunch of metadata like emoji reactions.

  This is done in our own code in the RN environment. It's triggered by the `fetchMessagesInNarrow` call (more precisely, by the `dispatch` around that) in the implementation of `doNarr

[2020-02-04 18:37] chrisbobbe commented on #3382
I commented on https://github.com/zulip/zulip-mobile/issues/3180#issuecomment-581012384 when I meant to comment here.

Yes, this is currently the case, when switching from a narrow to a different narrow. @gnprice, the most obvious way forward would be to address image caching in the WebView in general, without distinguishing between profile images and message images. This means some commitment to

[2020-02-04 18:53] mikeslywka commented on #3498
Looks like I am on v26.17.140 according to the mobile application (Gear at
bottom, then Diagnostics) - on the server itself the contents
of /home/zulip/deployments/current/version.py however says ZULIP_VERSION =
"2.0.3+git"
So just to be clear, we are talking about upgrading the version of the
zulip server software I'm running correct?
Thanks for your help with this!
Mike

On Wed, Jan 29, 2020 at

[2020-02-04 19:17] chrisbobbe commented on #3498
Hi Mike,

No, you shouldn't have to upgrade the Zulip server software to address this issue. I'm still only seeing Sentry logs of this particular error ("expected another unicode escape for second half of surrogate pair") for users on v23.2.111 of the mobile app.

For each user who reports this crash, have you tried upgrading the Zulip mobile app on their device to the latest version? If crashes a

[2020-02-04 19:20] gnprice commented on #3583
Reopening this, to serve as a sort of mirror of the status of the main issue zulip/zulip#8177.

That issue naturally doesn't show up when searching this repo's issue tracker, so it's confusing to have the issue with this title show up as closed when the issue is still unfixed.

Discussion should still be concentrated at zulip/zulip#8177.

[2020-02-04 22:25] chrisbobbe commented on #1804
I did some searching in zulip/zulip and didn't find it, but it sounds like it's being tracked. In Greg's description of the proposal, also, this issue is naturally covered, so it should be fine not to call it out as a special case.

Mm, that makes sense. (I just realized that we're getting the users with POST /register, not GET /users, but the response sizes are comparable with our params.) A cont

[2020-02-04 22:36] gnprice commented on #3810
Reopening, as explained here: https://github.com/zulip/zulip-mobile/pull/3811#pullrequestreview-353341099

[2020-02-04 23:06] ray-kraesig commented on #3781
Debugger warnings in RN 0.60 indicate that the React `componentWillReceiveProps` lifecycle callback will be removed in RN 0.61. This callback is currently used in ComposeBox and AnimatedScaleComponent.

[2020-02-05 02:53] chrisbobbe commented on #1465
I'll close this, considering how old it is and how much work has been done since, but please do let me know (on #3654, or an appropriate existing issue, or a new issue) if this is still happening, as of course I don't want to close a bug report in error.

[2020-02-05 02:53] #1465 closed

[2020-02-05 02:56] chrisbobbe commented on #497
The proposal to store the API token in the iOS keychain (and its counterpart on Android) is https://github.com/zulip/zulip-mobile/issues/373.

[2020-02-05 06:08] jcam commented on #3555
It wasn't a behavior I particularly noticed, as I was on wifi most of the time.
when i did switch to mobile, i noticed that with nobody else on the chat, and just one small image loaded, me sending myself a message or two quickly ate up multiple megabytes of internet bandwidth.
From other members of the team:
"there is apparently zero caching or thumbnailing for images in the message view; the ful

[2020-02-05 08:18] chrisbobbe commented on #3578
That sounds right.

This design is a popular way to introduce a metaphor of live speech in a physical space, usually reinforced by some form of speech-bubble graphic, in a casual instant-messaging setting, especially when most of the chat happens between just two people. But I don’t think Zulip’s advantages depend on such a metaphor, for a few reasons, including that messages are editable, that mo

[2020-02-05 08:18] #3578 closed

[2020-02-05 16:11] Maskedman99 opened #3869 "PM message keeps refreshing infinitely"
![test](https://user-images.githubusercontent.com/31368194/73858544-94df2880-485e-11ea-8185-e5314d0b1bae.gif)
Steps to reproduce:
* Open PM and scroll down to bottom
* Click on the + icon in compose box
* Close the expanded options
* swipe down on the chat screen

I am using Android, and the beta version of the app.

[2020-02-06 01:09] jainkuniya commented on #3863
I tested on multiple devices:
- One plus six physical device running Android 10
- Nexus One API 27 emulator
- Pixel 2 API 28 emulator

[2020-02-06 01:46] gnprice commented on #3863
One step that might help debug: the error message says

Do you have that file inside the APK? Here it is in the debug APK I have lying around from my last build:
[code]

What does that command show for you (when the bug reproduces?)

[2020-02-06 05:43] jaskeerat789 commented on #3869
@chrisbobbe i would like to work on it!

[2020-02-06 07:59] chrisbobbe opened #3871 "“See who reacted” button placement inconvenient"
A regular user reports (on the Recurse realm):

I thought about appending this as a comment to https://github.com/zulip/zulip-mobile/issues/3798, since it’s in a related area of the UI, but this adjustment is truly bite-size and may be a good first issue, so I didn’t want it to delay on the work being done there.

[2020-02-06 12:17] sumukhah commented on #3871
Working on the issue....Thank you @chrisbobbe

[2020-02-06 16:13] agrawal-d opened #3874 "MessageActionSheet title breaks for PMs in multi-stream narrows."
![Screenshot from 2020-02-06 20-55-20](https://user-images.githubusercontent.com/7714968/73955516-7b56e300-4929-11ea-8016-32417979ff01.png)

[2020-02-06 16:13] agrawal-d commented on #3874
I'm working on this.

[2020-02-06 20:47] agrawal-d opened #3879 "MessageList : Tapping on @mention for a user should open the profile."
I expect that tapping on an @mention in the message list should take me to that user's profile page. However, it does nothing.

In every other messaging app/ collaboration app that I use, this is the behaviour.

[2020-02-06 22:51] chrisbobbe commented on #3869
OK, thanks!

[2020-02-07 00:44] ray-kraesig opened #3881 "Sending outbox messages is fraught with issues"
There is a small constellation of intertwined problems with message-sending.

* All outbox messages are sent immediately, with no throttling.
* Outbox messages may be sent in any order, regardless of their input order.
* Server-rejected messages are not marked as such and will be repeatedly re-sent, wasting bandwidth and battery.
* Outbox messages may be _successfully_ sent multiple times.
* If th

[2020-02-07 01:27] chrisbobbe commented on #3871
Ah, I found out by testing on an Android device that this isn't Android-only, and the issue is slightly different than I thought. It's not that the same exact place on the screen is being tapped, but rather, whatever the topmost button in the action sheet is. So, on iOS and Android, both, this should be the Add Reaction button.

[2020-02-07 02:51] #3654 closed

[2020-02-07 06:29] gnprice commented on #3881
Huh fascinating! How does this one happen?

Definitely possible in principle: I think the scenario would be that a send request succeeds on the server, but the response doesn't make it to us; and the new-message event (which we make into `EVENT_NEW_MESSAGE`) doesn't reach us either before we retry.

Is that the kind of scenario you have in mind, or is there another path?

All of these would be goo

[2020-02-07 06:34] gnprice commented on #3881
See also #3829, #3731, #3584, #2374. And #3247 is an issue with a similar nature on a different codepath: double-sends of posting an emoji reaction to a message.

[2020-02-07 06:39] gnprice commented on #3881
OK, and in particular:

This one is #2374. There's some nice discussion on that thread, too.

I think this is the same issue as #3731, describing another aspect of the symptoms. (Which would be a nice point to add to that thread.)

[2020-02-07 19:25] ray-kraesig commented on #3881
`outboxSending` is stored in Redux. If the app is dehydrated with that set to `true`, then killed, there is no mechanism that will clear it.

On reread, I think that's actually not possible at the moment... but only thanks to other bugs. `tryUntilSuccessful` doesn't `await` (it's not even `async`), and since it always returns `true`, `sendOutbox` will never `await` either. I don't think it's curre

[2020-02-07 19:56] ray-kraesig commented on #3881
They're certainly closely related, but only because they'll need essentially the same data to be stored in order to fix. (See below.) It's otherwise technically possible to fix either without the other – and in particular I wouldn't want the fix for the network behavior to be blocked on having an appropriate display form.

It's probably appropriate to copy [my comment there](https://github.com/zul

[2020-02-07 22:34] timabbott opened #3884 "Update implementation for subject_links -> topic_links transition"
In https://github.com/zulip/zulip/pull/13843 merged for Zulip 2.2, we migrated the server from the legacy `subject_links` field (named after the legacy "subject" field name) to `topic_links`.

My understanding is the mobile app never used the feature; in the webapp it is used to render the little link boxes that show up if you have a link or a reference to a linkifier in the message's topic (we ne

[2020-02-07 22:43] chrisbobbe opened #3885 "Solution found: Android Unicode emoji not up-to-date on older devices"
Older Android devices are missing newer Unicode emoji; they just show up as empty squares. I'm mostly sure this is the same issue as https://github.com/zulip/zulip-mobile/issues/3181, but that one is mostly screenshots, and I'd like to start fresh with some (hopefully clear) steps to a solution at the top.

To use the [Android EmojiCompat library](https://developer.android.com/reference/androidx/e

[2020-02-07 22:49] chrisbobbe commented on #3181
Closing this to continue progress at https://github.com/zulip/zulip-mobile/issues/3885, which starts off with (hopefully!) some steps toward a working solution. Thanks for the report, @SunkyeongLee! 🙂

[2020-02-07 22:49] #3181 closed

[2020-02-07 22:51] #3729 closed

[2020-02-07 23:04] chrisbobbe commented on #3884
Adding "experimental UI/UX" because support for linking to messages is in progress at https://github.com/zulip/zulip-mobile/pull/3865, but a feature for copying topic or stream links isn't tracked yet, as far as I know.

[2020-02-10 07:03] cyphase opened #3887 "Show a stream's email address"
The mobile app should show a stream's email address, used for sending an email to a stream. Currently, a mobile app user who wants to use the incoming email gateway has to log on to the webapp to retrieve the address, or ask someone to share the address.

An obvious place to include this information is in the stream settings view; possibly it could be in a collapsed section or an "advanced" view w

[2020-02-10 21:57] gnprice commented on #3884
For previous discussion of the specifics of where and how this field appears in the mobile codebase, see:
https://github.com/zulip/zulip/issues/13588#issuecomment-569847926

[2020-02-10 22:37] #3871 closed

[2020-02-11 14:29] agrawal-d opened #3891 "Some components/screens break when number of recipients is large in Group PMs"
Message list:
![group-pm](https://user-images.githubusercontent.com/7714968/74245419-f98bfe80-4d08-11ea-9394-a4b3f077fc43.gif)

PMs list:
![image](https://user-images.githubusercontent.com/7714968/74247478-1ece3c00-4d0c-11ea-972c-d20098fc7669.png)

PM screen:
![image](https://user-images.githubusercontent.com/7714968/74247508-2ab9fe00-4d0c-11ea-872e-e2927ce232ed.png)

[2020-02-11 18:24] iharshit009 commented on #3812
Hi @agrawal-d , is this issue resolved or are you still working on it?

[2020-02-11 23:56] gnprice commented on #3460
I just attempted to repro this at the current version from master (d7b68bddc, coming after #3654 was merged), and it indeed appears to be fixed!

One key element of this bug description is that this is about a case where you've actually *sent* a message to that new group of people. If you do "Create Group", and look at the message-list screen for that group, but don't actually send (or receive) a

[2020-02-12 00:57] chrisbobbe commented on #3799
@gnprice Would you say the testing you mentioned at https://github.com/zulip/zulip-mobile/issues/3460#issuecomment-584925763 was also sufficient to confirm this issue is fixed by https://github.com/zulip/zulip-mobile/pull/3877?

[2020-02-12 02:17] ray-kraesig opened #3895 "Usable and used languages should be (better) synchronized"
At present, we have mostly-complete translations for Finnish, Korean, and a few other languages that aren't present in the language selection screen. We also have some currently-unusable translations being loaded in `messages.js`, along with their locales in `locale.js`.

The sets of usable, selectable, and imported languages should be synchronized; and, more generally, it should be easy to *keep*

[2020-02-12 03:04] gnprice commented on #3895
Indeed!

#3896 is merged; and see the WIP PR #3897, which will do a long-overdue sync. Even after that, it will be useful to have more automation so we more easily do better at keeping these synced in the future. (It won't be *all* automation, though; there are a few human choices to make, mainly in the best names to use for some languages.)

See also the bit of docs added in 6775b4f44b35e70d03a93

[2020-02-12 22:08] gnprice opened #3898 "Share "is this message editable/deletable" logic from webapp"
@timabbott in https://github.com/zulip/zulip-mobile/pull/3880#issuecomment-583621392 points out the webapp's functions `message_edit.get_editability`, `message_edit.get_deletability`, and friends, and suggests they're probably functions we should move to shared code.

Looking at [`message_edit.js`](https://github.com/zulip/zulip/blob/27b15a9722144b779ffe597b189925f21d53612d/static/js/message_edit.

[2020-02-12 23:29] chrisbobbe opened #3899 "Debug AnimatedComponent getting stuck with rapid changes in state"
Good animations can go a long way to smooth out rough edges, and currently we're being blocked from using more of them.

876f22d1aec9580ac053849b2c0ffaf1891b99fb reverted the use of AnimatedComponent for the OfflineNotice because of this issue:

I haven't had time to reproduce it, yet, but we'll need a consistent reproduction before we can continue work on this. I'd also like to use AnimatedCompon

[2020-02-12 23:49] Amolith commented on #3838
Well it has the potential to happen sooner than expected :blush: Zulip could add an option to configure a self-hosted [OpenPush](https://bubu1.eu/openpush/) instance for push notifications in addition to FCM. The spec is almost finished, a Python server is done, and a library and reference implementation are in the works. It was presented at [FOSDEM](https://fosdem.org/2020/schedule/event/dip_open

[2020-02-13 00:28] gnprice commented on #3838
Very interesting! Thanks @Amolith for the update. I agree that that looks like a plausible approach.

[2020-02-13 05:58] chrisbobbe opened #3902 "Use shared code for people typeahead"
Following https://github.com/zulip/zulip/issues/13728, which says:

Emoji is tracked in https://github.com/zulip/zulip-mobile/issues/3833.

Part of this work is tracked in https://github.com/zulip/zulip-mobile/issues/3710 (searching people's names modulo diacritics), but, as Greg mentions there:

I'll unblock this when https://github.com/zulip/zulip/issues/13728 lands, then. 🙂

[2020-02-13 05:59] chrisbobbe commented on #1423
@timabbott, this looks pretty old, and the mobile app already supports group PMs; do you know off-hand if there's still work to be done here? You mentioned typeahead; if that's still pending, it may come soon with the shared code issue https://github.com/zulip/zulip/issues/13728 and its mobile counterpart for the people typeahead. (Actually, it looks like we haven't filed a mobile issue for the pe

[2020-02-13 06:25] timabbott commented on #1423
This feature is for the mentionable "user groups" feature, not group PMs.  See https://zulipchat.com/help/user-groups.

[2020-02-13 07:29] chrisbobbe commented on #1423
Thanks, Tim!

[2020-02-13 07:40] chrisbobbe commented on #3505
Closing, but if you provide steps that help me reproduce the problem with replying to a message, I’ll reopen. 🙂

[2020-02-13 07:40] #3505 closed

[2020-02-13 07:51] chrisbobbe commented on #3307
I see that this hasn’t attracted much activity, which is fine — @gnprice mentioned today that the maintenance burden of documenting everything in the /src directory is quite large, considering each file should have its own code comments anyway, and I agree. So, I’m closing this. 🙂

[2020-02-13 07:51] #3307 closed

[2020-02-13 07:55] chrisbobbe commented on #2110
This is still happening; see https://sentry.io/organizations/zulip/events/?project=191284&query=Invalid+narrow+operator&statsPeriod=14d.

[2020-02-13 07:57] chrisbobbe commented on #2415
So, closing. 🙂

[2020-02-13 07:57] #2415 closed

[2020-02-13 08:26] chrisbobbe commented on #2659
Yep, this was fixed in https://github.com/facebook/react-native/commit/a7a2ef1bb65c6908b8ac68f8addaac1c75de98e3, released in React Native v0.57.0, which we started using in 52950733671c097733aad507edf0b7c07d700b9c, released in Zulip Mobile https://github.com/zulip/zulip-mobile/releases/tag/20.0.103 in November, 2018.

(Also confirmed that I'm not seeing this issue on my iPhone with Zulip Mobile v2

[2020-02-13 08:26] #2659 closed

[2020-02-13 08:29] chrisbobbe commented on #2921
Hmm, have we ever supported drafts in the mobile app? See also https://github.com/zulip/zulip-mobile/issues/3500.

[2020-02-13 08:33] chrisbobbe commented on #2782
Hmm, if this is still happening, I suspect there's something going wrong with one of our Redux reducers; perhaps `subscriptionsReducer`.

[2020-02-13 08:38] chrisbobbe commented on #3114
@gnprice @ray-kraesig, are you aware of notifications showing up when the app is active?

Note that this is distinct from https://github.com/zulip/zulip-mobile/issues/3119, which reports that we can reduce the volume of notifications by removing those for messages we've read on the web.

[2020-02-13 08:43] chrisbobbe commented on #3800
Thanks for the report, @agrawal-d! Possibly related is issue https://github.com/zulip/zulip-mobile/issues/3281. A PR was made to fix that issue, but it was reverted when some tests failed. Greg suspects the code change itself is OK, but the tests need to be changed.

[2020-02-13 12:56] agrawal-d commented on #3812
I'm working on it.

[2020-02-13 16:39] jainkuniya commented on #3814
Yes, it will look like:
[code]

I am thinking of adding a button (in right hand side, and rename current `ok` button to `cancel`) in current alert to open system preferences.

 @gnprice @chrisbobbe thoughts?

[2020-02-13 18:15] sumukhah opened #3903 "Add new account button hides when there are many accounts in Account pick screen"
Unable to scroll to "Add new account button",
the first account in list cut-off at the top
![issueBefore](https://user-images.githubusercontent.com/23723464/74465149-de60f080-4eba-11ea-8802-7df4ca940b88.jpeg)

[2020-02-13 18:16] sumukhah commented on #3903
Working on the issue

[2020-02-13 19:04] chrisbobbe commented on #2751
It looks like 65e3ea3bd0b5e451253a27e6696b0c56badc9527 types `node` as `?Node` instead of `Node`, but this wouldn't catch the problem Greg pointed out:

Also, getMessageIdFromNode was deprecated in 7f968e5685372d38b6f370f89835f7a1c1fcf45c, but it still has six call sites.

[2020-02-13 19:34] jainkuniya commented on #3301
I did some debugging on [current master] (https://github.com/zulip/zulip-mobile/commit/bea1ee587b122c28e492b0e0ce31d93cc611aa01), and observed following issues:

- Our animation is smooth, first we are scaling down the size of unread notice and then making it hide by `display:none` see `AnimatedScaleComponent`. Ideally as soon as component scale down, animation component should start releasing spa

[2020-02-13 19:46] #3860 closed

[2020-02-13 19:53] gnprice commented on #1146
In 19dfdf2ef and d1cc06ba6 (#2822), in 2018-07, we started compressing the persisted Redux state, on Android which is where there was an acute need to do so. The commit message on 19dfdf2ef explains why that was important on Android, and also why "redux-persist-transform-compress" wasn't a helpful tool.

There certainly are other things we could do to improve how we persist our Redux state: we mig

[2020-02-13 19:53] #1146 closed

[2020-02-13 20:39] gnprice commented on #3833
I don't think we really have something on the overall strategy. Here are some pieces we do have:
* the description of #13728, in which I wrote up the general roadmap for how to migrate a given piece of web frontend code into shared code
* the [README](https://github.com/zulip/zulip/blob/master/static/shared/README.md) of the `@zulip/shared` package's tree, which discusses how it's deployed
* [docs

[2020-02-13 20:52] gnprice commented on #3114
Chris and I experimented a bit (with his iPhone, on chat.zulip.org) and determined that the behavior here isn't quite anything I thought it was. :-)

In particular we didn't actually succeed in reproducing getting a notification while the app was on the screen. This even after he set "Send mobile notificatinos even if I'm online" to true.

So the first step in doing something here will be to try t

[2020-02-13 20:57] gnprice commented on #3373
Bumping the priority, because this can be pretty frustrating for everyone involved when it happens.

[2020-02-13 21:08] gnprice commented on #2751
Looking at Sentry events, we've had no cases of this in (at least) the past 90 days:
https://sentry.io/organizations/zulip/events/?project=191284&query=%22msgNode.getAttribute%22&statsPeriod=90d

To try to confirm that's not just a lack of data: the way these would get reported to Sentry is that the same `window.onerror` which puts up that red banner (or a less detailed one, in release builds) als

[2020-02-13 21:08] #2751 closed

[2020-02-14 00:32] ray-kraesig commented on #3899
For the record, I originally tested by building a copy of TunProxy from a fork (raise-isayan/TunProxy, I think?), installing that onto a physical Pie device, and running a trivial HTTP proxy to forward onward to my local HTTP server.

Note that a physical Pie device was required! This bug did not occur in the emulator, possibly because the connection state transition sequence was different.

[2020-02-14 01:16] chrisbobbe commented on #2973
I've just tested this on iOS 13.3.1, with the beta v26.22.145 release, and this issue isn't happening for me, so I'm closing this. But we can reopen if there are more reports.

[2020-02-14 01:16] #2973 closed

[2020-02-14 02:01] timabbott commented on #3114
Yeah, I believe that's the right UX design.

[2020-02-14 02:02] timabbott commented on #3114
Just to extend that commentary, what we do in the webapp is we suppress notifications for messages that appear onscreen; which is a bit different from being in the message list (but I think matches the user expectation for whether it's annoying or useful to get a ding).

[2020-02-14 16:36] mikeslywka commented on #3498
Just wanted to provide an update here. The affected user upgraded their
zulip mobile app and that indeed fixed the issue with the app crashing on
direct messages.
Thanks for everyone’s help with this.

Mike

On Tue, Feb 4, 2020 at 11:17 AM Chris Bobbe <notifications@github.com>
wrote:

[2020-02-14 17:33] chrisbobbe commented on #3498
Thanks, Mike! 🙂

[2020-02-14 18:54] chrisbobbe commented on #3572
Do you mean reverting

[code]

and documenting `postMessage`? I wonder if a) reverting that would be another bothersome breaking change that the maintainer won't address, and b) whether our effort to document `postMessage` will be in vain, since `postMessage` is planned to be deprecated.

[2020-02-15 02:23] gnprice commented on #3301
Down, or up?

Even just focusing on the keyboard case for a moment, I think it should be scrolling up when it gets bigger: that's how it keeps the bottom of the viewport, i.e. the last message you're looking at, scrolled to the same place. If it's not doing that, then that's its own bug.

If it is doing that -- if it is making it so that the bottom of the viewport stays at the same spot showing th

[2020-02-15 02:50] gnprice commented on #2937
Good to know!

We don't use that particular library -- but that does make it seem more likely that the bug might have been in some random dependency of ours, rather than in our own code.

Meanwhile now that your #3832 is merged, the issue you did see a warning for should be fixed.

If that means we no longer have any warnings we frequently see, then -- great, it sounds like it's time to re-enable

[2020-02-15 02:52] gnprice commented on #2937
And then I guess as we start seeing warnings (there'll probably be some we eventually run into that just aren't frequent enough to see immediately), we can
* fix them, if it's immediately clear how to easily do so; else
* file an issue, and add an `ignoreWarnings` call as mentioned above with a comment pointing to the issue.

[2020-02-15 03:05] gnprice commented on #3572
Ah, no, I think what I had in mind above was to implement this feature in a way that differs in one important respect from the existing implementation:

Instead of implementing `postMessage` in the platform-native code for each platform, it can be implemented in JavaScript, on top of the `injectJavascript` method. That method is documented and recommended by the maintainer.

The most important adv

[2020-02-15 13:59] jainkuniya commented on #3301
ya, when keyboard gets in (webview becomes smaller), webview scrolls up.

and on the other hand: when keyboard hides (webiew becomes larger), webview scrolls down.

Similarly, when unread notice hides, (webiew becomes larger), webview scrolls down. Instead in this case, either we need to do nothing.

I have tested this by logging/alert and found that when unread notice hides, `resize` is called an

[2020-02-15 14:24] jainkuniya commented on #3301
I think, we should not rely on `resize` events for checking & acting when keyboards pops in/out. We can get this information from RN and then we can send events to weview.
So that, we are nothing anything extra on `resize` events, which occurs in many cases: like when unread notice gets in/out, on initial render, when messages renders etc

[2020-02-15 15:54] jainkuniya commented on #3863
This got fixed, don't know the root cause.

Once I added ` multiDexEnabled true` and ran. I am not able to reproduce it.
[code]

Now even after removing this line, it is working.

I got this work around from https://stackoverflow.com/questions/51720114/strange-error-with-glide-while-loading-image-on-production-build

I guess we can close this now, will reopen it in case I face this issue again

[2020-02-15 15:54] #3863 closed

[2020-02-16 14:06] agrawal-d commented on #3800
I tested #3281, it does not fix this issue.

[2020-02-19 18:32] chrisbobbe commented on #3799
I just verified that that same fix (https://github.com/chrisbobbe/zulip-mobile/commit/df864186bf3ca243e1791074a90c00a4cce07fb3) also fixes this issue, so, closing.

[2020-02-19 18:32] #3799 closed

[2020-02-19 19:25] chrisbobbe opened #3916 "[Pending server work] Support downgrading to a long-lived event queue."
Tim mentions at https://chat.zulip.org/#narrow/stream/137-feedback/topic/mobile/near/818555 that https://github.com/zulip/zulip/pull/12926 is the PR thread tracking a server feature for the ability to downgrade to a long-lived event queue that ignores high-traffic events.

This would cover https://github.com/zulip/zulip-mobile/issues/1804 by making it unnecessary to fetch all users at startup; lon

[2020-02-19 19:26] chrisbobbe commented on #1804
Tim mentions that the PR thread for the ability to downgrade to a long-lived event queue is https://github.com/zulip/zulip/pull/12926.

So, closing this, and opening https://github.com/zulip/zulip-mobile/issues/3916, which will encompass this and other benefits and implementation details.

[2020-02-19 19:26] #1804 closed

[2020-02-19 22:17] #3802 closed

[2020-02-19 22:53] #3672 closed

[2020-02-20 00:30] gnprice commented on #3452
Flow upstream recently posted an update on how to do this upgrade:
https://medium.com/flow-type/how-to-upgrade-to-exact-by-default-object-type-syntax-7aa44b4d08ab

Looking through the steps there:

We already have a few explicit inexact object types and haven't seen them break anything, so this is mostly set.

Checking the four package versions mentioned in the post, we're good on three of them, b

[2020-02-20 01:08] gnprice commented on #3814
For the UI: we should do whatever is the standard thing that Apple recommends to do here. So the next step for figuring out the right UI is to find the relevant Apple documentation and see what it says.

[2020-02-20 01:34] gnprice opened #3918 "Convert from names to stream IDs to identify streams"
This is a meta-issue which covers a large number of independent tasks. Filing it in order to have a place to point to refer to the overall effort.

This is parallel to #3764, but for streams. Just like users can change their email addresses, streams can have their names changed, and so the permanent, numeric stream IDs are a better way to refer to a stream.

Most of the discussion in #3764 applies

[2020-02-20 01:48] chrisbobbe commented on #3814
Ah, it looks like there's a safer way to do it in RN v0.60.0 (#3548): https://github.com/facebook/react-native/commit/fa426cf05f65299420bd4e4dd0e7658e76a424ef

I think a two-button alert, with "Cancel" on the left and "Open Settings" on the right would be in line with the [Human Interface Guidelines](https://developer.apple.com/design/human-interface-guidelines/ios/views/alerts/). I wonder if we c

[2020-02-20 01:59] chrisbobbe commented on #3117
I'll look into this now — since these reports all seem to be about private messages, I suspect it may be https://github.com/zulip/zulip-mobile/issues/3799, which shared a cause with https://github.com/zulip/zulip-mobile/issues/3654, and both were fixed with PR https://github.com/zulip/zulip-mobile/pull/3877). But I'll see if I can get a consistent reproduction before that fix, and see if the fix f

[2020-02-20 02:21] #3451 closed

[2020-02-20 02:26] chrisbobbe commented on #2447
https://github.com/zulip/zulip-mobile/issues/3885 is targeted at older Android devices to get all emoji glyphs to display. It outlines a way to fetch a font dynamically on Android, instead of bundling it with the app.

[2020-02-20 02:33] chrisbobbe commented on #2380
From reading the issue description, I imagine this is still an active bug. It may make sense to just go ahead with the proposed solution, but this might be an appropriate time to also consider whether we'd like to keep the array-ordering method of identifying the active account.

[2020-02-20 02:50] gnprice commented on #3301
Hmm, it seems we still have some confusing details to sort out. Let's discuss in this [chat thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/scroll.20position/near/818739) -- I think that will be a better medium for this.

[2020-02-20 02:54] chrisbobbe commented on #3117
Ah, and I've paused here, pending https://github.com/zulip/zulip-mobile/issues/3647.

[2020-02-20 17:38] sumukhah opened #3919 "Deleted Messages can be edited in message lists"
Normally we don't want to change contents in deleted messages,
but currently we can edit deleted messages.
![before](https://user-images.githubusercontent.com/23723464/74962604-41600380-5436-11ea-8283-8869db35ac40.jpg)

[2020-02-20 17:41] sumukhah commented on #3919
Working on the issue

[2020-02-20 19:21] shreyaspapi commented on #3869
Hey @chrisbobbe and @jaskeerat789 ! if the problem is not solved yet I can help.

[2020-02-20 19:55] gnprice commented on #2447
Ah, thanks for drawing that connection! I'd forgotten we had this old issue filed.

One difference between the situation for emoji and for text is this:

Whereas the Noto emoji are a single font file `NotoColorEmoji.ttf`, and it's 9.4 MB (in the latest/largest version I have lying around, from the Android SDK v29 aka for Android 10) and compresses down only to 8.7 MB.

So if we wanted to bundle a

[2020-02-20 19:59] gnprice commented on #3916
It looks like that reference was about events with the `update_message` type, but with a new field.

We do ignore events of unexpected type (in `responseToActions` in `eventActions.js`), though, and I think we have for a long time. Fortunately also it doesn't matter how long we have (or even if we already do or not), because this will be a feature that new clients opt into.

[2020-02-20 21:09] gnprice commented on #3800
Interesting! I don't think we've otherwise known about this issue. Marking as a priority, because messages disappearing (even temporarily so that it looks like they have completely) is a bad symptom.

The one issue I see with similar symptoms is #3117. But those reports don't mention starting up without internet.

I think the next step for debugging this would be to identify what step is going wro

[2020-02-20 21:23] chrisbobbe commented on #3843
This is presumably blocked by https://github.com/zulip/zulip-mobile/issues/3899.

[2020-02-20 22:18] gnprice opened #3921 "Narrow sometimes lands one screenful in the past"
This is forked off from #3457 -- it's a specific bug we discovered on that thread, which falls into that class of symptoms broadly defined, but appears to be a different bug from the one causing the early reports in that thread.

Specifically, as @ray-kraesig [reported](https://github.com/zulip/zulip-mobile/issues/3457#issuecomment-555234717):

We investigated some more. Quoting my summary of what

[2020-02-20 22:25] gnprice commented on #3457
[This comment](https://github.com/zulip/zulip-mobile/issues/3457#issuecomment-555234717) and the several after it in this thread, up to just now, describe an issue that @ray-kraesig discovered which causes the message list to be scrolled one screenful too far back. I've just filed #3921 for that issue, copying there what we learned about it in this thread. Let's continue discussion of that issue t

[2020-02-21 02:45] agrawal-d commented on #3919
It's possible to edit "deleted messages" in the webapp, though.

[2020-02-21 08:59] sumukhah commented on #3919
in the web app, deleting a message actually removes that message from List.
But in mobile-app deleting a message changes it's body to "(deleted)"..
if we deleted a message in mobile-app , that message still appears as "(deleted)" in web-app, web app won't consider it as a deleted message.

[2020-02-21 14:59] agrawal-d opened #3924 "AutocompleteView gets hidden behind navbar"
![image](https://user-images.githubusercontent.com/7714968/75045190-da4f5700-54e8-11ea-876d-2c84033d4075.png)

[2020-02-21 19:05] chrisbobbe commented on #893
Similar to my comment on https://github.com/zulip/zulip-mobile/issues/2380#issuecomment-588578501, this will likely be affected by any changes to the array-ordering way of identifying the active account.

[2020-02-21 19:20] chrisbobbe commented on #3483
If this is relevant here, https://github.com/zulip/zulip-mobile/pull/1323/commits/892127d3b31e6a06b3fa89fc98653f1231f377b4#diff-1b657602f015b258bd5cadf579cb6afa (closed without explanation) was an attempt to show a nice error screen on internal server errors, for the still-open https://github.com/zulip/zulip-mobile/issues/1254.

[2020-02-21 19:22] gnprice commented on #3584
See also the earlier issue #2374, which is very similar but without the long intervening delay.

[2020-02-21 19:23] gnprice commented on #2374
See also #3584, a later report of this with the extra twist that the second post was nearly a week after the original.

[2020-02-21 19:25] chrisbobbe commented on #500
Just edited this to be a checklist, and updated the checklist. I suppose this would be the issue to consider queuing requests to retry when back online, if we'd like to try that.

[2020-02-21 19:35] chrisbobbe commented on #2138
I don't have an update on per-realm notification settings, but there's been some work on stream-level notification settings.

When https://github.com/zulip/zulip-mobile/issues/3449 was closed with the merge of https://github.com/zulip/zulip-mobile/pull/3765 (commit https://github.com/zulip/zulip-mobile/commit/3b9246735d0f68b3bb14426fc4c73637ade5ed63), now, stream notifications without an explicit

[2020-02-21 19:44] chrisbobbe commented on #2138
Ah, actually, looking at the code and with some manual testing, it appears that "Notifications when offline" and "Notifications when online" are being correctly set per-realm, but "Stream notifications" are not. That'll be a quick PR that, I think, should close this issue. @gnprice, thoughts?

[code]

[2020-02-21 20:52] gnprice commented on #3114
Yeah, that makes sense. That might be the ideal behavior for the mobile app, too.

One difference from web is that we have the "N unreads" banner, which is prominent at the top of the screen (in the same general area a notification would appear, in fact) in a way that the counts in the left sidebar aren't. But, when I think about situations where this would arise -- like I'm catching up on a long

[2020-02-21 21:18] chrisbobbe commented on #2138
Opened as PR https://github.com/zulip/zulip-mobile/pull/3926.

About topic-specific notification controls, it's currently possible to mute topics in both web and mobile, but I do see from https://github.com/zulip/zulip/issues/6027 that the ability to "watch" topics, not just mute them, would be popular. I'll close this issue for now, as it's pretty old and I think I've answered its concerns. (I'll

[2020-02-21 21:18] #2138 closed

[2020-02-21 21:23] gnprice commented on #3015
With #3350, the last 5 examples of this are all fixed! Each of the places we try to create a cache with `createSelector`, we now actually succeed in creating a cache that can get used :slightly_smiling_face:

There are still a number of places where we have an *unhelpful* cache, in the way described in the first comment above: https://github.com/zulip/zulip-mobile/issues/3015#issuecomment-44089052

[2020-02-21 21:23] #3015 closed

[2020-02-21 21:36] gnprice opened #3927 "Drop caching (`createSelector`) that isn't caching any real work"
This is something I originally described at https://github.com/zulip/zulip-mobile/issues/3015#issuecomment-440890524 , a comment on #3015 which was about attempted caching that didn't actually create working caches at all.

Something I learned from studying `reselect` and `react-redux` after reviewing #2450, back in 2018-11: in many selectors where we use `createSelector`, we really don't get a me

[2020-02-21 23:42] chrisbobbe commented on #3800
I'm curious whether we might still be affected by the upstream issues with `fetch` that surfaced in https://github.com/zulip/react-native/pull/2 (June 2018). That's a PR to our fork of react-native, which we'd abandoned in 4b95b124bf2b2fa4c7698c3a013cebffb3d43c57 (March 2017), in favor of using the published react-native. So, apparently the issues addressed in that PR were serious enough that we c

[2020-02-22 01:37] chrisbobbe commented on #2891
Hi @TrystanOakley, thanks for this valuable list of improvements we can make! I've gone ahead and changed it from a numbered list into a checklist — not of problems that have been resolved, necessarily, but which ones we know have corresponding issues in GitHub. I'll close this only when we know they're all being tracked in separate issues, or have been resolved.

It's true that it's easier to mak

[2020-02-22 02:10] gnprice commented on #3800
Hmm! Thanks for looking into that -- I hadn't thought about that upstream issue (and Robert's fix for it!) in a while. That might indeed be a useful thing for us to pick back up, and get the fix shipped.

Looking back at this particular issue, I don't actually see how that issue would cause this one, though. The effect of that upstream issue, when it bites, is I think that `fetch` takes a long tim

[2020-02-22 02:14] #3874 closed

[2020-02-22 05:07] jainkuniya commented on #3814
facebook/react-native@fa426cf

Cool! wow, they have added support for Android as well. This will fix our Android case as well at the same time.

Agree 👍

Currently we get
![image](https://user-images.githubusercontent.com/18511177/75086871-17563080-555f-11ea-916a-ff00d67c3fbf.png)
 as string in error. We can use this append `Open setting to grant now.`

[2020-02-24 18:43] chrisbobbe commented on #3119
Does this cover the following issue from #2891? That is, does the title mean to say "...when messages are read on desktop/web/**mobile**?"

If we have to clear notifications in batches of 2-3 per hour, as Greg mentions, this issue might not be satisfied; the user might like to see them cleared immediately, whereas some delay is probably acceptable if messages are marked as read on desktop/web.

[2020-02-25 00:18] chrisbobbe commented on #2763
Hi, @teneresa! Thanks for your kind offer.

Currently, there may be some higher-value UI/layout design work to do, but it may fall outside graphic design of logos, icons, etc.; https://github.com/zulip/zulip-mobile/issues/3632 comes to mind. If you're interested in that kind of work, please let us know! 🙂  But I'm closing this, as it's been almost two years, and there hasn't been a lot of activity

[2020-02-25 00:18] #2763 closed

[2020-02-25 00:29] gnprice opened #3930 "Consume user IDs rather than emails from typing-status events"
This is an instance of #3764. In the `typing` events from the server, which we turn into `EVENT_TYPING_START` and `EVENT_TYPING_STOP` actions, we should switch from looking at the `email` properties (on both `action.recipients` elements and `action.sender`) to looking at the `user_id` properties. Those have been present since ancient server versions; see https://github.com/zulip/zulip/pull/13998#i

[2020-02-25 00:37] chrisbobbe commented on #2759
Hi @probabilistic, thanks for your question. I'm sorry to say this is an issue we're aware of, but a fix hasn't landed yet. To focus conversation and progress on it, I'm closing this as a duplicate of https://github.com/zulip/zulip-mobile/issues/1974.

[2020-02-25 00:37] #2759 closed

[2020-02-25 00:49] chrisbobbe commented on #3899
It's been [proposed](https://github.com/zulip/zulip-mobile/issues/2795) to use ["Fluid Transitions for React Navigation"](https://github.com/fram-x/FluidTransitions). That project doesn't look to be actively maintained, and I'd prefer to stick with AnimatedComponent.

One thing its README.md does point out, [here](https://github.com/fram-x/FluidTransitions), is that Animated can't use the native d

[2020-02-25 01:04] chrisbobbe commented on #2750
Confirmed (by reading code) that this is still happening.

[2020-02-25 01:07] chrisbobbe commented on #2380
Linking https://github.com/zulip/zulip-mobile/issues/1411.

[2020-02-25 01:39] chrisbobbe commented on #2584
Interesting! The last report of this was on December 19, 2019.

I think the stack trace provided by Sentry may be misleading.

One thing I noticed is that this is a ReferenceError — in other words, it's not the case of the value of a variable being `undefined`, but rather that identifier `message` isn't in scope; the variable simply can't be found!

It's helpful to search for the error string, "Pl

[2020-02-25 01:50] chrisbobbe commented on #3408
If "Queue 2.0" is "long-lived event queues," linking https://github.com/zulip/zulip-mobile/issues/3916.

Also, just added `stream_occupy` to deduplicate https://github.com/zulip/zulip-mobile/issues/2604.

[2020-02-25 01:51] chrisbobbe commented on #2604
Folding this in as a bullet point on https://github.com/zulip/zulip-mobile/issues/3408 and closing this as duplicate.

[2020-02-25 01:51] #2604 closed

[2020-02-25 01:58] chrisbobbe commented on #2725
https://github.com/zulip/zulip-mobile/issues/3802 is part of this, but it doesn't include showing a loading indicator; PR https://github.com/zulip/zulip-mobile/pull/3901 is in progress for that.

[2020-02-25 02:06] chrisbobbe commented on #3303
We've got a way forward for this issue, but it requires backend work; see [discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/view.20uploaded.20files/near/819777).

[2020-02-25 02:21] chrisbobbe commented on #2816
The annoying requirement to log in again before viewing uploaded files is something we expect to fix soon; that's https://github.com/zulip/zulip-mobile/issues/3303. We recently made an implementation plan (see [discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/view.20uploaded.20files/near/819777)) that answers a security concern that was blocking progress on this. A careless

[2020-02-25 02:34] chrisbobbe commented on #3303
(https://github.com/zulip/zulip-mobile/issues/2113 might be addressed during work on this, but it shouldn't block.)

[2020-02-25 02:36] chrisbobbe commented on #2308
Looking at the screenshot, could this be an instance of https://github.com/zulip/zulip-mobile/issues/2113?

[2020-02-25 02:40] chrisbobbe commented on #161
I think #392 is about showing an icon for each realm in the org switcher; I think this issue is asking for a prominent display of the realm info (icon, name, etc.?) while you're logged in and active with an account.

Sometimes it takes me a second or two to check and see if I'm in the Recurse realm or the Zulip realm.

[2020-02-25 02:46] chrisbobbe commented on #676
Closing as covered by https://github.com/zulip/zulip-mobile/issues/438.

[2020-02-25 02:46] #676 closed

[2020-02-25 02:47] chrisbobbe commented on #438
(I just closed https://github.com/zulip/zulip-mobile/issues/676 as covered by this issue; it has a link to https://developer.android.com/preview/features/notification-badges.html.)

[2020-02-25 02:52] chrisbobbe commented on #2603
I believe this will be fixed with a fix for https://github.com/zulip/zulip-mobile/issues/3902.

[2020-02-25 02:57] chrisbobbe commented on #2852
Looks like work was begun in https://github.com/zulip/zulip-mobile/pull/2843 and finished in https://github.com/zulip/zulip-mobile/pull/2922, so, closing this.  🎉

[2020-02-25 02:57] #2852 closed

[2020-02-25 03:00] chrisbobbe commented on #2287
Quoting my comment from https://github.com/zulip/zulip-mobile/issues/3800#issuecomment-589882875:

[2020-02-25 03:39] chrisbobbe commented on #3016
I’m on mobile now, but I believe the changes described in this PR have been made. @gnprice, it sounds like there are some architectural changes you’re considering in https://github.com/zulip/zulip-mobile/issues/3016#issuecomment-429029878; if they’re still relevant, maybe they could get their own issue and this one could be closed?

[2020-02-25 20:02] chrisbobbe commented on #2939
Closing as a duplicate of https://github.com/zulip/zulip-mobile/issues/3624, to focus conversation there, speeding up a solution.

[2020-02-25 20:02] #2939 closed

[2020-02-25 21:17] chrisbobbe commented on #1469
Looks like we've lost the screenshot 🙂, would someone like to reproduce the issue and post a new screenshot?

[2020-02-26 01:57] ray-kraesig commented on #2380
I ran into a symptom of this today:

* Create two accounts for the same realm.
* Log out.
* Attempt to log in to the second realm using a password.

The e-mail shown at the password entry screen will be that of the *first* account. Changing the e-mail in that field will, fortunately, not mutate that account.

Offhand I'd say not – but that alone wouldn't fix the above.

[2020-02-26 19:10] gnprice commented on #3119
Hmm, good question!

Definitely agree that we want to clear notifications when messages are read within the app, too. And then yeah, because the mechanism for doing so over APNs may be in infrequent batches, we'll want a different mechanism for the app to do so directly when it's in the foreground.

There was a bit of discussion of that latter in the thread above, as "actively dismissing notificat

[2020-02-26 21:39] gnprice commented on #3016
Indeed, thanks!

Looks like I expanded on that idea [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/redux) (thanks to Jack for linking to it above). The prototype branch is here:
https://github.com/zulip/zulip-mobile/compare/master...gnprice:redux ([permalink](https://github.com/zulip/zulip-mobile/compare/master...gnprice:685e7a319))

Some of those ideas, I later completed syste

[2020-02-26 21:45] gnprice opened #3933 "Maybe add config for WebStorm"
Currently there's one editor [we recommend for normal work](https://github.com/zulip/zulip-mobile/blob/master/docs/howto/editor.md) in our codebase: Visual Studio Code.

Another popular IDE for JS, with its own set of features, is WebStorm. In particular I think its refactoring support might be better; VS Code's is basically completely broken for Flow codebases, even for trivial cases like renamin

[2020-02-26 21:51] gnprice opened #3934 "Consolidate internal details of each of our Redux data structures"
For a lot of parts of our state tree, the internal details about that data structure are spread across three places: a `fooReducer.js`, a `fooSelectors.js`, and a `type FooState` in `reduxTypes.js`. It'd be good to reorganize this so that code that cares about the internal details of `state.foo` is all in one place, perhaps `fooState.js`.

This can mean less flipping back and forth to understand t

[2020-02-26 21:53] gnprice commented on #3016
OK, filed those two pieces as #3934 and #3933. I don't think they're especially a priority to go and *do* right now, but those make the background handy to find when they come up. And, closing!

[2020-02-26 21:53] #3016 closed

[2020-02-26 22:34] gnprice commented on #2380
This definitely sounds like a good idea to me. It would make a lot of sense for "account we're in the middle of trying to log into" to be treated as (local) UI state, held by a component that's a common ancestor through the login flow and passed down to the other parts of that flow as props. Currently it's treated as (global) app state, held inside the Redux state.

However:

This sounds like a bu

[2020-02-26 22:43] gnprice commented on #3408
Yep, that's right. Thanks!

[2020-02-26 23:00] gnprice commented on #2584
Very interesting, thanks for that debugging!

Looks like that's in the `markdown.js` file, which is all Zulip-written code, forked from the webapp. Then it looks like that whole function is code that was added in the fork. (The camel-case name is a dead giveaway.) Looking around, I think it gets called when there's an @-mention.

In the webapp today, there's similar code here:
[code]

So it seems

[2020-02-26 23:05] gnprice commented on #3899
That sounds to me entirely consistent with using the native driver -- it just means that this library doesn't pull in any platform-native code of its own. (In particular "no linking required" sounds like a reference to `react-native link` and the associated tasks of updating Gradle and Xcode build configs.)

There's also this bit lower down in the README:

which sounds like it does indeed use the

[2020-02-26 23:12] gnprice commented on #2756
It'd definitely be good to add a splash screen, for the reasons said above.

Here's some notes on how to approach this, adapted from https://github.com/zulip/zulip-mobile/pull/2804#issuecomment-439520244 :

---

`@borisyankov` and I just took a quick look at [a third-party library for splash screens] -- and it's a pretty small amount of code. Here's the file that looks like the actual splash scree

[2020-02-26 23:19] chrisbobbe commented on #2756
For iOS, [this](https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/launch-screen/) looks like the right starting point. I believe the "storyboard" feature uses Xcode's UI pretty heavily (a main challenge being to make the layout work on any size screen) and doesn't really rely on code, so this might be a nice (and rare) opportunity for a non-code contribution 🙂.

[2020-02-27 01:10] gnprice opened #3935 "Add VS Code config for wrapping prose in comments"
Prose should be kept to about 70 columns wide for readability. (That's narrower than the max line length for code, partly because in code most lines don't get close to the max.)

To help make this easy for prose in comments, I have this in my VS Code settings:
[code]
plus I've installed the mentioned extension. The number is a bit more than 70 because prose in code starts a few columns indented.

[2020-02-27 02:16] chrisbobbe commented on #3485
https://github.com/zulip/zulip-mobile/commit/876f22d1aec9580ac053849b2c0ffaf1891b99fb for issue https://github.com/zulip/zulip-mobile/issues/3602, released with [26.13.136](https://github.com/zulip/zulip-mobile/releases/tag/26.13.136) in November, 2019, was a revert of some code that animated the entrance/exit of the banner, but with a bug where it would get stuck and show up when it shouldn't.

B

[2020-02-29 00:12] gnprice commented on #3522
I think the complaint here, or the request, is:
* Go to compose a message, and attach an image (using e.g. the "image" icon in the compose menu.)
* The resulting message has not only the image, but also the filename, as in the screenshot above.

Which is indeed kind of unsightly and probably not the ideal behavior.

This behavior reproduces for me today, on a version from master. It also reproduce

[2020-02-29 00:18] gnprice commented on #3919
As @ray-kraesig wrote over on the PR #3920:

Closing the issue for the same reason.

As I said in the chat thread, the model Zulip has for "deleted" messages certainly can be confusing, and there may be a better one we could be doing!

But we want the mobile app to follow the webapp here -- this is an aspect of the product, not of the specific UI each user sees for interacting with it, and so we w

[2020-02-29 00:18] #3919 closed

[2020-02-29 00:26] gnprice commented on #3483
Looking at #1323, one nuance I think will be important is: we don't want to just replace the app's whole UI with an error screen.

Webapps do that when they can't even load the page, which is a common symptom of server errors because they depend on the server to send the page in the first place. But our app has all its code, keeps a lot of data from the server, and already tolerates (though there

[2020-02-29 00:32] gnprice commented on #1254
Related discussion on #3483.

I'm not sure there's anything we want to do here. If there is, it's important to distinguish two use cases:

* In dev (say, in a debug build), maybe it'd be helpful to have a prominent warning about this, because it might be your own dev server and this is a helpful way to let you know about errors there? The OP sounds like it's about this use case. This isn't a commo

[2020-02-29 00:34] ray-kraesig commented on #3485
I have no evidence against it!

(As a hacky test, if we can manage to reproduce the bug on a physical Pie device, it might be possible to record the actual sequence of event times, and then issue mock disconnection events with similar timings in order to try to reconstruct the bug on an emulator, earlier-Android, or iOS device.)

[2020-02-29 00:38] gnprice commented on #3869
Interesting -- thanks @Maskedman99 for the report!

To make sure I understand it correctly: after you swipe down in that last step, you don't touch the screen again? But it shows the spinner, then the spinner disappears, then it comes back again, then it disappears again, etc., etc., in a loop that seems to just keep going?

I don't seem to reproduce this myself, either on a Pixel 4 running Androi

[2020-02-29 00:41] gnprice commented on #2782
Agreed.

This is likely a case of #3918. It's a bug in itself, and we should be able to fix it even without changing how we identify streams anywhere -- but also it sounds like it probably involves looking up subscription data by stream name, and if we fixed this case of #3918 by using stream IDs instead then that should fix this too.

[2020-02-29 00:46] gnprice commented on #2921
We do indeed! You can demonstrate this like so:
* Go to some conversation, type something into the compose box, but don't send.
* Navigate back, then navigate again into the same conversation.
* The (draft) message you typed should be there in the compose box.

Or further:
* Now force-quit the app, relaunch it, and navigate again to the same conversation.
* The same draft message should again be t

[2020-02-29 00:50] gnprice commented on #3891
Thanks @agrawal-d for this report!

I think this is probably best tracked as three separate issues -- each of these will be good to fix, and the solutions may be independent. (In particular, whatever we do in the message list will probably involve inside-webview code quite separate from those other parts of the UI.) Would you be up for filing those?

One step toward addressing these: I'm curious h

[2020-02-29 00:51] gnprice commented on #3887
Thanks @cyphase for the feedback! I agree this would be useful to add.

Where does this information appear in the webapp?

[2020-02-29 00:56] gnprice commented on #3881
Aha. There's actually a good reason this can't happen. That flag specifically appears at `state.session.outboxSending`... and `state.session` is among the parts of our Redux state we specifically don't have `redux-persist` put into persistent storage.

Quoting from `src/boot/store.js`:
[code]

That makes `state.session` an appropriate spot for information, like this, that's about what the current

[2020-02-29 01:16] gnprice commented on #3881
I see. I think you're referring to the fact that this `await`:
[code]

is in a `forEach` callback, and so nothing actually awaits the promise that that async function returns. And as a result here:
[code]

we set `outboxSending` back to `false` without actually waiting for any of those `api.sendMessage` promises to complete.

One nuance:

I don't think this is quite right. They'll all be fired twi

[2020-02-29 01:51] gnprice commented on #3881
Looking again at this code, I think the basic problem is that that `outboxToSend.forEach` loop is a `forEach` loop, and the code (as quoted in my previous comment) was clearly written with the expectation it would behave like a `for` loop.

In particular the boolean return from `trySendMessages` is almost completely useless given the way the code actually works -- the only way to make sense of the

[2020-02-29 01:56] ray-kraesig commented on #3881
Except that if we do – or at least, if we *just* do that – then that causes another bug to surface: the presence of an unsendable message in the Outbox will prevent any other messages from being sent for a week, after which all sendable messages (up to the next unsendable message, anyway) will suddenly be flushed to the server at once.

(This would have been worse before the recent 'discard unsend

[2020-02-29 02:21] gnprice commented on #3881
This is a pretty subtle aspect of how the app works. I've just pushed 664ee092e, which adds a bit more discussion of this in a place which hopefully helps make it somewhat easier to discover.

[2020-02-29 02:28] gnprice commented on #3881
Yeah, we should behave differently on
* a 4xx status, indicating there's a problem with the specific request; and
* a 5xx status or lack of response, either way indicating there's a problem with the server and/or network.

In the latter case, we should retry with backoff, and keep other outbox messages in the queue behind this one, along the lines of what this code was intended to do.

In the form

[2020-02-29 02:50] #3806 closed

[2020-02-29 10:52] agrawal-d opened #3938 "Message list scrolls horizontally when no. of recipients is large for group PM messages"
![image](https://user-images.githubusercontent.com/7714968/74245419-f98bfe80-4d08-11ea-9394-a4b3f077fc43.gif)

[2020-02-29 10:54] agrawal-d opened #3939 "Profile icon breaks for group PMs with large no. of recipients"
PMs list screen:

![image](https://user-images.githubusercontent.com/7714968/75606143-dab2a800-5b0f-11ea-9bee-cb897908fcf3.png)

[2020-02-29 10:55] agrawal-d opened #3940 "Recipient icons overflow in the navbar for group PMs with large no. of recipients"
Group PM screen:
![image](https://user-images.githubusercontent.com/7714968/75606159-ffa71b00-5b0f-11ea-9668-80f0675d0865.png)

[2020-02-29 10:55] agrawal-d commented on #3891
Closed in favour of #3938, #3939. #3940.

[2020-02-29 10:55] #3891 closed

[2020-02-29 10:58] agrawal-d commented on #3939
@gnprice said

The web app doesn't display icons at all, so it's not an issue there:
Screenshot of list of private messages -
![image](https://user-images.githubusercontent.com/7714968/75606205-780ddc00-5b10-11ea-8b62-571264910693.png)

[2020-02-29 11:00] agrawal-d commented on #3940
Here's the webapp equivalent:
![image](https://user-images.githubusercontent.com/7714968/75606236-b1464c00-5b10-11ea-8884-b11e19e500ed.png)

They don't show profie pictures like we do.

[2020-02-29 12:16] jainkuniya commented on #3857
This is not completely fixed.

Even after 4ef9a13, in topic narrow it is reproducible
![image](https://user-images.githubusercontent.com/18511177/75607274-61b94d80-5b1b-11ea-94a6-7b237a545305.png)

[2020-02-29 19:18] sumukhah commented on #3373
working on the issue

[2020-03-02 15:08] sumukhah opened #3941 "navigating to screens repeatedly between 2 screens, makes navigating back hard."
If there are 2 interlinked screens(say A, B).
if user navigate  to "mainScreen => A => B => A => B ..."
makes hard to retrace into mainScreen(it has to go back in B => A =>B => A => mainScreen)
![beforeIssue](https://user-images.githubusercontent.com/23723464/75688598-c3b5b680-5cc5-11ea-89b5-b33bba4b7340.gif)

[2020-03-02 15:10] sumukhah commented on #3941
Working on the issue

[2020-03-02 16:12] harshbisle opened #3942 "Add channels search feaure for mobile app"
As of now i don't think there is a feature to search channels directly. It would be helpful if search for channels feature is added as it is really difficult to go through all the channels and find that we want

[2020-03-02 17:58] gnprice commented on #2725
I think in this issue the loading indicator is (was) the status quo, and it's asking to show the cached data.

We now do show the cached data, so this was done some time ago. And that's a problem :wink:, namely #3387, because we don't give any indication that we're loading new data and what's visible is stale.

[2020-03-02 17:58] #2725 closed

[2020-03-02 18:03] chrisbobbe commented on #2725
12 days ago, I think, in https://github.com/zulip/zulip-mobile/pull/3822.

[2020-03-02 18:36] gnprice opened #3944 "Away-status toggle-switch is sticky and jumpy"
A user reported [in chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Buggy.20toggle.20option/near/824327) that the option for setting yourself to away was behaving oddly. They supplied a video (visible in the chat thread; GitHub won't take it.)

Trying the option myself, on the current release 26.22.145 on Android 10: it's kind of sticky and also jumpy. I touch it and it might flicker o

[2020-03-02 19:43] gnprice commented on #3939
Thanks @agrawal-d for spotting and reporting this!

I've never been much of a fan of this initials-based pseudo-icon in any case. I'd be happy to see it completely reimagined. But in any case we should fix this bug. :-)

Maybe:
* Use just one initial, not two: use the very first letter of the name (so from the person's first name, in the case of Western name conventions)
* If there are up to 4, wr

[2020-03-02 19:45] gnprice commented on #3940
Thanks for the report!

We should cut the list off, ideally with an ellipsis or something, when it overflows the space actually available to it.

There's no need for it to scroll or anything; the "info" icon at top right leads to a full list. And the case where you have more than like 6 other people in a group-PM thread is pretty pathological anyway, so that extra step is fine :slightly_smiling_fa

[2020-03-02 19:47] gnprice commented on #3938
Thanks for the report! We should definitely fix this.

What's this situation look like in the webapp?

[2020-03-02 19:51] gnprice commented on #2725
Hmm, yeah, thanks for the correction! I guess I was misled by too-hastily reading #3387, which is a year old and asks for the loading indicator (but doesn't actually say whether the status quo was that we showed cached data, or prematurely-cleared data, or what -- just, we didn't indicate we were loading fresh data.)

[2020-03-02 19:56] gnprice commented on #3942
Thanks @harshbisle for the feedback!

I agree this would be a useful feature.

For implementing this, a good place to look for models will be in the webapp. The webapp offers stream search in two different places:
* in the left sidebar
* in the big streams settings modal box

We should generally match the behavior of the webapp in terms of what the search includes. This is also an area where it'd

[2020-03-02 22:26] gnprice opened #3945 ""Every time I type a response it ends up responding to the wrong topic""
@jcam at https://github.com/zulip/zulip-mobile/issues/3555#issuecomment-582256407 quotes a colleague as saying, after trying Zulip:

I take this as UI feedback, that the interaction of the message list with the topic in the compose box was confusing. I'm inferring that the person was on a stream narrow, and guessing that they opened the compose box and didn't notice the topic input.

I don't have

[2020-03-02 22:27] gnprice commented on #3555
Thanks @jcam for those detailed reports! Those specifics are very helpful.

The two that are about data consumption are caused by #3853, and greatly amplified by #3851. We have #3851 on our near-term roadmap, and that will make this a lot better.

Yeah. :-/ This is #3457.

Thanks for passing on this feedback. I've filed #3945 for it.

[2020-03-03 01:38] chrisbobbe commented on #3647
Linking conversation at https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/iOS.20push.20notifications/near/825050, which see.

A workaround has been found; `NotificationsIOS.consumeBackgroundQueue()` must be called after the app is put in the foreground. This could be implemented with an interval of a few seconds, or, much better, with a listener that tells us that the app has just been p

[2020-03-03 17:21] jainkuniya opened #3948 "emoji autocomplete only searches at start of each emoji name"
on web:
![image](https://user-images.githubusercontent.com/18511177/75801288-e2d54680-5da0-11ea-94b0-9bf444f7530d.png)

on mobile:
![image](https://user-images.githubusercontent.com/18511177/75801401-17e19900-5da1-11ea-811f-e97764c6c66d.png)

Issue:
We filter emoji using `x.indexOf(query) === 0`, which only checks if emoji name starts with `query`. We should use `x. includes(query)`, so that all e

[2020-03-03 18:04] chrisbobbe commented on #3948
I think this is covered in #3833, which was formerly called "Emoji reaction search only checks beginning of name," but then we updated it with the idea of sharing the code the webapp uses, since a lot of work has gone into that and it's well-tested. What do you think?

[2020-03-03 22:38] gnprice commented on #3745
#3839 is merged, so we are now storing -- and parsing -- the server version!

[2020-03-03 22:42] gnprice commented on #3732
#3839 is now merged, which is the main part of #3745 -- we now store and parse the server's version number.

I think that means this issue will be straightforward to fix from here: we just need to get the version number from Redux, compare to `2.0.0-rc1` (because the server change happened in zulip/zulip@020f2d0db aka 2.0.0-rc1~472), and use the new API only if it's at least that.

[2020-03-03 23:41] gnprice opened #3949 "Use better data structures in our Redux state"
As discussed in #3339, there are a lot of places where we maintain large amounts of data -- like all the users in the realm -- in data structures like `Array` which make it inefficient to find the data we want at a given time, like a particular user.

Some other data structures are maintained as objects used as maps: notably, the collection of all the messages we have from the server. These are ef

[2020-03-04 00:05] gnprice opened #3950 "Use Map rather than object-as-Map in our Redux state"
This is an optimization, and a code cleanup, that will also help us toward #3949.

Our Redux state tree is currently made up entirely of primitive values, plain arrays, and plain objects. These are very nice for struct-like data structures like `User` or `Message`. They're not so nice for key-value maps: we end up using objects as maps, and that's messier in the code and for type-checking than a p

[2020-03-04 00:19] gnprice opened #3951 "Keep the parsed ZulipVersion in Redux state, rather than raw string"
This is a followup to #3745 that would make the Zulip server version just a bit more convenient to use in our code: in the `Account` type which we use in `state.accounts`, instead of having `zulipVersion` be a string, have it be an already-parsed `ZulipVersion` object.

The main potentially-tricky thing here is that we want to keep that information in persistent storage via `redux-persist`, so we'

[2020-03-04 07:57] sumukhah commented on #3798
Hello, can I start working on this?
or is it needs to be discussed further about design?

[2020-03-04 15:23] sumukhah commented on #3373
@gnprice
I would like to take this issue..
But i have no idea, where to begin, if you could help me i am happy to work on this :)

[2020-03-04 18:21] chrisbobbe commented on #3951
I'll take this, as I started working on it with a redux-persist transform before you created this issue. 🙂

[2020-03-04 18:33] marcosms commented on #3546
If what you need are more requests for this functionality to start its development, I am also interested in having a button to create videoconferences from mobile devices.

We are going to start using jitsi and it is something that is greatly missed. We started to use zulip in our offices, but we want to start using it in mobile devices. Now, only from the office we can start a videocall. It will

[2020-03-04 19:46] chrisbobbe commented on #3951
@gnprice, I'm wondering about the logic to select the particular part of state to apply this transform to, i.e., the `accounts` state. The `createTransform` API lets you whitelist some parts of the state; this example uses that, as well as redundant checks within the inbound and outbound transform functions, to show that it can be done either way or both ways.

[code]

The other way we could go is

[2020-03-04 22:24] chrisbobbe commented on #3951
I've expanded that snippet into a WIP PR, #3952.

[2020-03-04 22:55] chrisbobbe commented on #3798
What are your thoughts on the design discussion so far? 🙂

[2020-03-04 23:25] timabbott commented on #3540
Just a quick bump on this (mostly because I'm closing the zulip/zulip issue that links to it).

[2020-03-05 02:57] chrisbobbe commented on #3940
This looks like a duplicate of https://github.com/zulip/zulip-mobile/issues/3700, which is in progress at https://github.com/zulip/zulip-mobile/pull/3786. It looks like that PR is cutting the list off, as you've said, but I'll mention the ellipsis over there. 🙂

[2020-03-05 02:57] #3940 closed

[2020-03-05 19:57] chrisbobbe commented on #3408
Quoting Tim from https://github.com/zulip/zulip/issues/10044#issuecomment-407881618:

[2020-03-06 03:08] #3699 closed

[2020-03-06 03:11] gnprice commented on #3659
And with #3727 merged, #3699 is now fixed!

There were several angles to this issue, and I'm not sure we 100% got to having a handle on them and I definitely don't have them all in my head now. It may be productive to come back to this issue and think through it again, with the particular confusions that went into #3699 now cleared out of the way.

[2020-03-06 14:19] sumukhah opened #3956 "Messages are not updating on message search screen"
To produce,
1. Navigate to message search
2. search for a message(search for "test")
3. click on "Add reaction" / "Star message" / "Delete message"
4. it looks like nothing has happened. But navigate to that message(click on the topic), but real content will be updated.
![issue](https://user-images.githubusercontent.com/23723464/76091454-988fd780-5fe3-11ea-8b89-5ee1d7e192e5.gif)

[2020-03-06 14:20] sumukhah commented on #3956
working on the issue

[2020-03-06 19:52] gnprice commented on #2374
Just had a case of this [here](https://chat.zulip.org/#narrow/stream/65-checkins/topic/rohitt/near/827328), with a message I sent. (From v26.22.145 on Android 10.)

I was on a bus in San Francisco -- lots of cell coverage, but lots of devices talking, so it's unsurprising if the connection sometimes fails. As I experienced it, the sequence was:
* I hit send on the message.
* IIRC it takes a few se

[2020-03-06 21:59] chrisbobbe commented on #3956
This looks like a consequence of the fact that the MessageList is populated from the messages stored in the SearchMessagesScreen component's React state, and those messages aren't affected by updates coming through the event system. Only messages stored in Redux are kept up-to-date.

@agrawal-d is working on https://github.com/zulip/zulip-mobile/pull/3868, and it's nearly finished; this will store

[2020-03-07 00:31] chrisbobbe commented on #3948
I'll close this as a duplicate (see my previous comment), but please let me know if this is incorrect. 🙂

[2020-03-07 01:12] ray-kraesig opened #3957 "Support moving messages between streams"
zulip/zulip#13912 introduces the ability to move a message from one stream to another via a new optional `new_stream_id: number` key on `update_message` events. The mobile app will need to handle these.

[2020-03-07 01:23] gnprice commented on #2585
We marked this as fixed by 8811fa813, but I don't see how that could have fixed the issue -- it changed purely the type annotations, not the runtime behavior. So, if this has been fixed, it was fixed at another time.

Checking in Sentry, it looks like this bug is still live. [Here's](https://sentry.io/organizations/zulip/discover/zulip-mobile:9c01aef1eafc4d948824db5796184ddb) a recent event from i

[2020-03-07 01:27] chrisbobbe commented on #2585
Oh no! My bad. I was aware that I only changed the type annotations, but I diligently went through to make sure the runtime checks were already done, and said so in the commit message. But I didn't indicate which commit those checks were done in, and, to cap it all, apparently, I was wrong. :(

[2020-03-07 02:19] gnprice commented on #3948
Thanks @jainkuniya for the report, and @chrisbobbe for spotting that cross-reference!

This is the same issue as the original report at #3833, and it'd be fixed by completing #3833. But I think it's probably helpful to track this symptom, or user-facing issue, separately from that solution.

For one thing, that gives us a more specifically on-point thing to refer to in a thread like the one at htt

[2020-03-07 08:54] sumukhah commented on #3956
thank you for the advice @chrisbobbe,
then i will wait till #3868 get merged

[2020-03-07 19:26] sumukhah commented on #3128
Working on the issue

[2020-03-07 22:55] maltokyo commented on #3726
Hello. Any testing help or anything needed. Keen for this!

[2020-03-09 17:51] chrisbobbe commented on #3948
OK, sounds good! Luckily, there's a PR already in progress for the quick fix; @gnprice or @ray-kraesig, would one of you like to make the necessary changes to https://github.com/zulip/zulip-mobile/pull/3836 and merge it, in one go? I'm happy to look at it myself, but it should be pretty small and self-contained, and I don't want to slow progress on it.

The additional step done in that PR is to br

[2020-03-09 19:14] sumukhah commented on #3128
@gnprice
i came to know that  server  will convert `:zero:`....`:ten:` converts into emojis,
whereas `:1:`, `:2:`... will not even work in the webapp
we can show numbers if we typed in that format,
we could remove  them(:1:, :2:, ...) or try to replace them with standard emoji codes

[2020-03-09 21:57] #3387 closed

[2020-03-09 21:57] #3025 closed

[2020-03-09 22:08] #3647 closed

[2020-03-09 22:13] gnprice commented on #3895
#3897 has been merged, and #3959 which took another step to get these better in sync.

#3915 is an open PR to automate keeping them in sync for the future.

[2020-03-10 12:44] agrawal-d commented on #3764
Hi!
I'm going to work on migrating `navigateToAccountDetails` and `getUserIsActive` to user IDs from emails, to make pull #3878 mergeable, as per https://github.com/zulip/zulip-mobile/pull/3878#issuecomment-589911019.

[2020-03-10 17:13] ray-kraesig commented on #3949
In particular, for data which we want to keep sorted (for example, our `NarrowsState`, which is sorted by message ID), we may want to consider [`functional-red-black-tree`](https://www.npmjs.com/package/functional-red-black-tree).

[2020-03-10 18:59] gnprice opened #3961 "In "add reaction" search, accept actual emoji as well as names"
A user [reports](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Reactions/near/829192):

This is a perfectly reasonable thing to want to do -- system emoji keyboards can be pretty great, and many people are accustomed to them and they have the user's frequently-used emoji. So we should make it work.

To do this, I think what we need to do is basically to search through the actual Unicode va

[2020-03-10 19:05] chrisbobbe commented on #3546
Thanks for the report, @marcosms!

A good first step for work on this will be to study the web app's implementation.

I just did a little bit of that. It looks like the web app does the following:

* Provide a button near the compose box with a video camera icon. (Space is really limited on mobile, and we'd want to make sure the button goes in a spot that makes sense.)
* When you click the video i

[2020-03-10 20:38] gnprice opened #3962 "Support inviting other people to Zulip"
It'd be good for the mobile app to provide the feature of inviting other people to your Zulip organization. Here's the existing user docs for the feature, as found in the webapp (and desktop app):
https://zulipchat.com/help/invite-new-users

Recording this now because a user [asked about it](https://chat.zulip.org/#narrow/stream/48-mobile/topic/invites/near/829521) today in chat. We haven't to dat

[2020-03-10 20:41] chrisbobbe commented on #3962
We've noted at https://github.com/zulip/zulip-mobile/issues/3132 that onboarding is

— so it's good to have this issue open. 🙂

[2020-03-10 20:43] gnprice commented on #3962
That is true! I think this isn't quite that kind of onboarding issue, though -- maybe "onboarding" isn't even the right label for it, but it's the closest we have. In particular, an enthusiastic user may well regularly want to invite people to their Zulip org, even though they don't (and can't :slightly_smiling_face:) regularly use Zulip for the first time.

[2020-03-10 21:08] ray-kraesig commented on #3948
I ended up reworking that PR more than trivially, so I'm putting it up for proper review as #3963.

Fortunately, that had already been done, and valid test data provided!

[2020-03-10 21:12] ray-kraesig commented on #3128
This is probably best solved, in the long run, by #2956 (as noted there).

If we want a short-term fix, a better one would probably be to just remove the numbers from our local hard-coded list of emoji.

[2020-03-10 22:28] gnprice opened #3964 "Support "Sign In with Apple" auth [iOS]"
This is for the client side, on iOS, of zulip/zulip#14168.

In addition to the links there, here are Apple docs specific to iOS:
* https://developer.apple.com/documentation/authenticationservices
* sample code: https://developer.apple.com/documentation/authenticationservices/implementing_user_authentication_with_sign_in_with_apple

Here's an implementation for RN which we may be able to use:
* htt

[2020-03-10 22:33] gnprice opened #3965 "Support "Sign In with Apple" [Android]"
This is the Android counterpart of #3964, a client-side companion to zulip/zulip#14168. We need to support this Apple auth service on Android, because people may sign up using it on iOS and then also want to use Zulip on an Android device. Filing as a separate issue because it may have a separate implementation.

In addition to the links at zulip/zulip#14168, some Apple docs that may be specifical

[2020-03-11 15:26] sumukhah commented on #3436
@gnprice, @ungps
can I work on this?

[2020-03-11 16:08] sumukhah commented on #2837
@zulipbot claim

[2020-03-11 16:08] sumukhah commented on #2837
@zulipbot abandon

[2020-03-11 18:14] beinganonymous commented on #3965
@gnprice Do you want to authenticate user from directly ``Android`` or ``webAuth`` ?
If you are willing to authenticate from ``Android`` then [this](https://github.com/willowtreeapps/sign-in-with-apple-button-android) library is open-source and good to implement, then i would like to work on this issue.

[2020-03-13 01:23] gnprice commented on #3965
That's the one I linked in the description as an example :slightly_smiling_face:

I think we'll want to use the web-based flow, to keep things simple.

This also won't be ripe to work on until the server side zulip/zulip#14168 is done, or at least mostly done. I'll label it accordingly.

[2020-03-14 21:06] cyphase opened #3975 "Support editing the topic of someone else's message"
The mobile app allows you to edit the topic (and content) of your own messages, but does not currently support editing the topic of someone else's message, as the web app does. This is an important feature of Zulip and should be supported.

[2020-03-14 21:38] harshbisle commented on #3975
@zulipbot claim

[2020-03-14 21:51] harshbisle commented on #3975
@zulipbot claim

[2020-03-14 21:51] harshbisle commented on #3975
**@zulipbot** claim

[2020-03-14 21:53] harshbisle commented on #3975
@cyphase why zulipbot isn't assigning me the issue

[2020-03-15 06:54] jeevanpuchakay commented on #2750
claim

[2020-03-15 09:15] cyphase commented on #3975
@harshbisle Zulipbot is not currently enabled in the zulip-mobile repo.

[2020-03-15 12:23] harshbisle commented on #3975
@cyphase then how do I make sure someone else is not working on the issue?

[2020-03-16 06:48] harshbisle opened #3976 "Image and camera buttons are not working"
![Screenshot_20200316-122023](https://user-images.githubusercontent.com/41483548/76730122-9581ad80-6780-11ea-957c-076e98304340.png)

[2020-03-16 07:11] drigio commented on #3976
Hello @harshbisle It seems to work on my device. Can you recheck it once by giving the appropriate permissions? Also what version of zulip are you using? The stable from playstore or your own build from the repo?

[2020-03-16 08:06] sumukhah commented on #3869
This issue is not only limited to the PM message list.
stream message list also behaves in the same way

![ezgif-2-6034804061b2](https://user-images.githubusercontent.com/23723464/76735538-1645a700-678b-11ea-9261-9e9e329f71fd.gif)

[2020-03-16 08:06] harshbisle commented on #3976
@drigio I'm using zulip beta from playstore

[2020-03-16 08:08] harshbisle commented on #3976
@drigio files and the profile buttons do work whereas image and camera buttons are not working

[2020-03-16 08:08] sumukhah commented on #3869
I would like to work on the issue if @jaskeerat789 is not working on the issue

[2020-03-16 08:12] harshbisle commented on #3976
Version:
![Screenshot_20200316-134150~2](https://user-images.githubusercontent.com/41483548/76735954-febaee00-678b-11ea-95b8-3cb366cbf625.png)

[2020-03-16 08:15] jgabomination commented on #3941
Hey @sumukhah is the issue fixed?

[2020-03-16 08:20] harshbisle commented on #3976
@drigio It works now.  I reinstalled  the
App and gave permissions.

[2020-03-16 14:36] sumukhah commented on #3941
@jgabomination
There's been some discussion of navigation patterns like this one, around https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/redux.20.2F.20navigation/near/811675.

[2020-03-16 19:42] drigio commented on #3887
Hello @cyphase @gnprice I would like to work upon this issue if it's still available? Would be great if you'd assign it to me! :)

[2020-03-16 23:20] gnprice commented on #3975
That's what this thread is for :slightly_smiling_face: (well, one thing it's for). We ask people to speak up here on the issue thread before working on the issue -- nobody else has said they're working on this one, and now you have. So you're all set.

[2020-03-17 06:12] Maskedman99 commented on #3944
@gnprice Interestingly other toggles like the Stream mute and Stream pinned aren't sticky.

[2020-03-17 13:28] mateuszmandera commented on #3964
I think this one should be possible to work on without having anything done on the server yet? The first part of the native flow should be happening only between the app and Apple server - at the end of that the app should have a JWT token. All that's left at that point is to send the token with `mobile_flow_otp` to a server endpoint (probably `/complete/apple-id`) and the server will give the sta

[2020-03-17 17:54] jainkuniya opened #3977 "composeBox: Limit maxHeight."
Compose box should have some sort of maxHeight. So that user can see some part of messages and type/reply to it. Currently compose box expands to whole screen, completely hiding message list.

Chat thread: https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/limiting.20max.20height.20of.20the.20compose.20box

[2020-03-18 12:19] sumukhah opened #3979 "Support UI "alerting a word in a message" feature"
The current app highlights alerted messages/words. But a user cannot add/remove them. The web app has this feature

![issue](https://user-images.githubusercontent.com/23723464/76960102-d0324400-6940-11ea-9704-4af5ff569682.jpg)

[2020-03-18 12:19] sumukhah commented on #3979
Working on the issue

[2020-03-18 21:40] gnprice commented on #3540
Weird. Looks like these were added in #1431; no explanation given.

That was around the time that some user-group-related endpoints were added on the server, in zulip/zulip@b1603d289 and preceding commits. The actual URLs were different; but perhaps at some point a draft version of those changes had these URLs? (Which doesn't make a good reason -- the change should have waited for the server-side

[2020-03-18 23:25] #3948 closed

[2020-03-19 03:13] gnprice opened #3983 "Set up CocoaPods"
CocoaPods is a tool for managing iOS libraries. It's been since forever a thing that many people use in their React Native apps; for example, it's in the standard instructions for integrating RN into an existing app:
https://reactnative.dev/docs/integration-with-existing-apps#3-install-cocoapods
It wasn't in the template sample app, though (the one `react-native init` uses), and so naturally lots

[2020-03-19 03:33] gnprice commented on #3964
Hmm -- yeah, after looking into this side of things some more, I agree. There's enough complexity involved before the point where we talk to the server that we can productively start working through that even while the server implementation is still being prepared.

OTOH, there is a different prerequisite this is blocked on! That handy existing implementation for RN requires something called [reac

[2020-03-19 15:20] drigio commented on #3887
Is this what you thought of @cyphase ?

<img src="https://user-images.githubusercontent.com/22986282/77082973-cc76ee00-6a22-11ea-97fb-13ec14735354.jpeg" height=500 width=280 />

I've also added the option of **"Click to Copy to Clipboard"**, so that copying of the email address is hassle free! What do you think of this @gnprice ? Should I send in a PR for this?

[2020-03-19 19:08] chrisbobbe commented on #3921
From my reading of this issue, #3457, and the [discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/clientHeight.20and.20friends/near/798730), it sounds like this is still an unsolved problem; is that right? Greg, you noted [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/clientHeight.20and.20friends/near/798813) that you've observed that this sequence sometime

[2020-03-19 19:13] chrisbobbe commented on #3921
I suppose one way forward is to eliminate the use of `documentBody.scrollHeight` from the initial `scrollToAnchor` (n.k.a `scrollToMessage`) (called from `handleInitialLoad`) altogether. This could be done by ensuring there is always a targetNode as long as there is at least one message in the list. This, in turn, could be done by changing `getFirstUnreadIdInNarrow` to return the last message in t

[2020-03-19 19:38] ray-kraesig commented on #3869
Given the lack of response from @jaskeerat789, I've unassigned them. @sumukhah, are you still interested?

[2020-03-19 23:13] chrisbobbe commented on #3983
Mm, this was useful! The react-native docs website has decided to serve a single page for all react-native versions, for the "Integrating with Existing Apps" page, so https://reactnative.dev/docs/0.59/integration-with-existing-apps#configuring-cocoapods-dependencies has an out-of-date example Podfile. I reported that at https://github.com/facebook/react-native-website/issues/33#issuecomment-601453

[2020-03-19 23:30] gnprice commented on #3921
Yeah. OTOH as I also mentioned there, it's really quite puzzling that that can ever occur! Because that looks like a `resize` event firing in the middle of what textually is just an unbroken string of JS code, namely our `DOMContentLoaded` callback.

I just spent a while (likely longer than I should have) digging into the specs to try to understand this, but only confirmed that it seems like it re

[2020-03-19 23:35] gnprice commented on #3921
Hmm! Yeah, I agree -- this sounds like a promising solution. As we discussed the other day, it'd be good to have `getFirstUnreadIdInNarrow` (or some other code that's still in the main JS environment with all our data) compute that, so that we can always pass a specific message ID in for the webview JS code to scroll to.

[2020-03-19 23:52] ray-kraesig commented on #3944
This does appear to be the case, and consistently so. GIFs of the difference:

![Peek 2020-03-19 16-13](https://user-images.githubusercontent.com/54861490/77123147-8c9d1000-69fc-11ea-9082-73632f294ef7.gif)

![Peek 2020-03-19 16-14 2](https://user-images.githubusercontent.com/54861490/77123229-c40bbc80-69fc-11ea-8bb0-95e6d8e5d797.gif)

There's no other obvious distinction:
  * The relevant portions

[2020-03-20 02:00] ray-kraesig opened #3985 "`colorHashFromString` is almost nonfunctional"
`colorHashFromString`:
  * ignores all characters in the string except the second;
  * returns `#NaN` on strings of length zero or one;
  * returns `#NaN` on very long strings;
  * cannot return any color with no red component; and
  * cannot return `#ffffff`.

[2020-03-20 05:55] Maskedman99 opened #3986 "Dividers in the Langauge picker screen is not visible in night mode"
Dividers in the language picker screen isn't visible in night mode. The dividers should turn white in night mode.
![Screenshot_20200320-110508_Zulip (debug)](https://user-images.githubusercontent.com/31368194/77139704-0389e580-6a9d-11ea-9e86-5a1ca4de884d.jpg)

[2020-03-20 05:56] Maskedman99 commented on #3986
@zulipbot claim

[2020-03-20 06:32] Maskedman99 commented on #3985
@zulipbot claim

[2020-03-20 10:54] sumukhah opened #3989 "All the languages are not displayed in Laguage Pick screen"
only 21 languages are displayed instead of 30

![Screenshot from 2020-03-20 16-18-59](https://user-images.githubusercontent.com/23723464/77157412-4d87c100-6ac7-11ea-858f-77046c8ec12a.png)
![Screenshot from 2020-03-20 16-15-12](https://user-images.githubusercontent.com/23723464/77157425-537da200-6ac7-11ea-8019-3d092900b631.png)

[2020-03-20 10:55] sumukhah commented on #3989
working on the issue

[2020-03-20 11:24] #3989 closed

[2020-03-20 18:14] sumukhah commented on #3869
To reproduce,
1. Create a stream (or any empty chat list)
2. type 51 messages.
3. refresh the app.
4. go to the stream/chat screen.
5.scroll up, scroll down as shown in the gif

[2020-03-20 18:33] sumukhah commented on #3869
chat screens having less number of messages (scrollY<4000),
 fetchOlder, fetchNewer actions dispatched repeatedly..
but  chat screens having less number of messages(<50) will not fall into this category, bcz, when the chat screen renders for the first time, it will set "caughtUp.newer", "caughtUp.older" to true.
due to this, conditional rendering fails at fetchActions.js and it wont call fetchMess

[2020-03-20 19:13] ray-kraesig commented on #3944
So we can safely rule out the network or the backend having anything to do with it. Here are images of two dummy `OptionRow`s, which do nothing but `await sleep(500)` before setting their backing state:

![Peek 2020-03-20 12-05](https://user-images.githubusercontent.com/54861490/77197883-30d99200-6aa3-11ea-88d6-b4912d4e042c.gif)

![Peek 2020-03-20 12-01 (2)](https://user-images.githubusercontent.c

[2020-03-20 21:13] gnprice commented on #3989
Hi @sumukhah! I'm guessing that you were looking at a version of the app from before commit
17bdd67747625925d02a8215b540c8bcc6da8a71, which was included in the last release. Before that commit, we did indeed offer 21 different languages.

[2020-03-21 09:49] harshbisle opened #3992 "spinning-progress-white.png isn't working"

[2020-03-21 16:55] chrisbobbe commented on #3992
Thanks for the report! Could you please be more specific? Where are you looking for the white spinner to appear; is it possible to post a screenshot? Also, are you on iOS or Android?

[2020-03-21 18:57] harshbisle commented on #3992
Since I have  downloaded the beta version of zulip.I have always felt the spinning progress bar at the start a little bit annoying. When I was going through the zulip Mobile codebase I found a file which corresponds to the progress bar white so I thought it might not be working.

[2020-03-21 18:58] harshbisle commented on #3992
![Screenshot_20200322-001918](https://user-images.githubusercontent.com/41483548/77234395-1b17ba00-6bd4-11ea-851f-96bd22cc5834.png)

[2020-03-22 16:56] harshbisle opened #3994 "Night mode toggle also switches to Home card"
![20200322_222025](https://user-images.githubusercontent.com/41483548/77255174-8ec8ce00-6c8b-11ea-9a39-3ec7c1d4c42c.gif)

Like many folks I am a big fan of night mode. Sometimes I would even love to play around it but in zulip mobile when I click on on the night mode button it directly takes me to other mode and I can't immediately switch between the modes . I think it's an issue to be solved.

[2020-03-22 17:12] harshbisle opened #3995 "Stream subscribe buttons are slow to react"
![20200322_224018](https://user-images.githubusercontent.com/41483548/77255512-2f1ff200-6c8e-11ea-9d71-fec0103409db.gif)

The stream subscribe buttons are sometimes slower than usual.

[2020-03-22 17:15] sumukhah commented on #3995
@harshbisle are you working on this?

[2020-03-22 17:17] harshbisle commented on #3995
@sumukhah yes.!! Please check the other issues

[2020-03-22 17:24] harshbisle opened #3996 "Scroll-to-bottom button has an awkward highlight"
![Screenshot_20200322-102914](https://user-images.githubusercontent.com/41483548/77255782-f8e37200-6c8f-11ea-9671-18ea1be08214.png)
When the user clicks on the scroll to bottom button the hover effect looks a little bit buggy(Basically the square around the button).

[2020-03-22 17:35] harshbisle opened #3997 "Support swipe navigation between "Subscribed" and "All streams""
![Screenshot_20200316-122350](https://user-images.githubusercontent.com/41483548/77255976-4ca28b00-6c91-11ea-92d7-02604b1884d4.png)
Add a feature to support the navigation between All streams and subscribed on swiping which makes it easier for users to switch between the both.

[2020-03-22 17:45] sumukhah commented on #3995
@harshbisle, mention if you are working on the issue so that other developers won't spend time at fixing.

[2020-03-22 17:47] harshbisle commented on #3995
Yes @sumukhah I am working on this issue.
Thank you.

[2020-03-22 19:07] jainkuniya commented on #3997
I am not sure, is this required or not. Because we have nested tabs, user might get confused.
We need to think over, which tabs needs this functionality.

old PR, focussing on the same. https://github.com/zulip/zulip-mobile/pull/3668

[2020-03-22 19:10] jainkuniya commented on #3995
I am assigning this to @harshbisle, for better visibility.

[2020-03-22 19:15] jainkuniya commented on #3994
It is a recent regression, I remembered it was working as expected some time back. You can use `git bisect` to figure out which commit actually caused this.
My notes of `git bisect` https://jainkuniya.github.io/git-bisect-the-saviour/

[2020-03-22 19:17] jainkuniya commented on #3992
Hi, I think didn't get what you are trying to tell.

Can you be more specific what is **current behaviour** and what should be **expected**, maybe with image/gif of both.

[2020-03-23 03:25] harshbisle commented on #3995
Thanks @jainkuniya

[2020-03-23 03:29] harshbisle commented on #3994
I will look into it thanks @jainkuniya

[2020-03-23 15:10] Maskedman99 commented on #3995
@harshbisle they're slower because a request is being made to the server, and the server has to process the request and reflect those changes. The slowness might be because of the server side slowness or your network bandwidth.
You can refer to issue #3944

[2020-03-23 21:37] gnprice commented on #3997
Thanks @harshbisle , and thanks @jainkuniya for that cross-reference!

Here's a previous [chat discussion](https://chat.zulip.org/#narrow/stream/48-mobile/topic/swipe.20on.20streams.20screen/near/804928) a few months ago.

I agree we should do this. It seems like we're consistently hearing that people expect swiping to work for that pair of top tabs; whereas for the bottom tabs (or "bottom navigat

[2020-03-23 21:39] gnprice commented on #3997
Looks like there's one other place we have top tabs, which is `MessageReactionList` (the screen you get to from "See who reacted" on long-press on a message.)

That one doesn't currently have swiping working either. We should enable swiping between tabs there too.

[2020-03-23 23:35] #3986 closed

[2020-03-24 00:44] gnprice opened #3998 "Add sender_id and stream_id properties to Outbox"
We have a type called `Outbox` that's meant to be a lot like `Message`. It represents messages the user has hit "send" on from the compose box, and that we're still in the process of actually getting to the server (and then hearing back from the server as new messages.)

It doesn't quite have all the same properties as `Message` has, which is fine -- we don't use all those properties.

But in part

[2020-03-24 01:08] gnprice commented on #3944
Wacky! Thanks @ray-kraesig for that investigation.

Here's a link to the branch you mentioned:
https://github.com/zulip/zulip-mobile/compare/master...ray-kraesig:investigation-3944

It seems like effectively you've simulated the case where the interaction with the backend (or, the interaction to actually make the requested change) is slow. And then it turns out that in these two different contexts

[2020-03-24 01:17] gnprice commented on #3869
Thanks @sumukhah for the investigation!

Hmm, I still don't reproduce. But there's enough uncertainty in these steps that I'm probably doing something different from what you are. Can you say more specifically exactly what you do to reproduce?
* It's more important to have one clear repro recipe that works than to have a range of options with "or".
* If you can find a recipe that doesn't involve t

[2020-03-24 02:23] ray-kraesig commented on #3944
... except, now that you mention it, I don't think that's really the case. Rather, I'm pretty sure it goes something like this:

1. The [Android `Switch` component](https://developer.android.com/reference/android/widget/Switch) has its own internal one-bit state. When the user touches a switch, its state bit is flipped, and *then* [a handler](https://developer.android.com/reference/android/widget/

[2020-03-24 06:12] Maskedman99 commented on #3869
@gnprice I am not able to reproduce this issue in beta or the debug build, ( maybe because I have entered new messages and the condition @sumukhah mentioned has started failing ). My understanding of what exactly caused this issue before was wrong, and doesn't have anything to do with '+' icon in compose box.
Following @sumukhah suggestion removing that `if condition` in the webViewEventHandlers.j

[2020-03-24 07:28] sumukhah commented on #3869
@Maskedman99 @gnprice
I think having a visual example will clarify,
I have created a video,
I have created a stream "Testing 12345" first then sent 50 messages (from 0:5 sec to 2:200 sec, you can skip)in the stream.

https://drive.google.com/file/d/11K-zxb9Z3ymm3ogXrnJfAKNuw5PFdwPC/view?usp=sharing

optionally you can navigate to a stream/PM which has
1. at least 50 messages (_read or unread_  no

[2020-03-24 12:47] sumukhah commented on #3869
sure there is a way, set messagesPerRequest: 10, in Config.js.
navigate to a stream having less number of messages(>10).

[2020-03-24 17:56] harshbisle commented on #3997
Yes @gnprice we need to improve that part too.

[2020-03-24 18:02] harshbisle commented on #3995
@Maskedman99 yeah I agree on that. But as @gnprice says "I touch it and it might flicker over to the new value, come right back to the old value, then a second or two later return to the new one. The exact sequence varies."in the  issue #3944 that thing should happen even though it's related to server I think.

[2020-03-24 18:05] harshbisle commented on #3995
https://github.com/zulip/zulip-mobile/issues/3944#issuecomment-601468373
you can see the difference.

[2020-03-24 18:17] ray-kraesig commented on #3996
This highlight is generated by the WebView; as far as I can tell, we have no direct control over its shape – we'd have to eliminate it (`-webkit-top-highlight-color: rgba(0,0,0,0)`) and synthesize a new one.

[2020-03-24 18:53] ray-kraesig commented on #3995
Ah, not just that it's slow to react, but that it's jumpy! Sorry; it's not always easy to tell if a switch is actually jumping, or if the GIF just has a low frame rate.

Merging this into #3944, which is a preexisting bug about the same behavior elsewhere.

[2020-03-24 18:53] #3995 closed

[2020-03-24 18:54] ray-kraesig commented on #3944
From #3995, we have another report of the "jumpy" behavior: stream-subscriptions, on `StreamListCard`. I've confirmed that a "Do nothing" switch on that card exhibits the same behavior.

[2020-03-24 23:27] ray-kraesig commented on #3994
Interestingly, if you move the theme toggle into the notifications card, toggling it doesn't kick you back out to the home screen; it leaves you on the notifications card. However, if you then hit Back, you're presented with the home tab, rather than the settings tab.

Currently, theme changes are handled in `src/boot/StylesProvider.js`, via the React Context API. The use of `key={theme}` there ca

[2020-03-25 01:46] ray-kraesig opened #3999 "Toggle switches for server-side flags are slow to respond"
From @gnprice's comment at #3944:

While the problem in #3944 is a bit more involved, this *is* a component of it; and it's often visible without the confounding factors in other cases. The result then is that the user taps the switch, and either...
   * it doesn't react at first, then flips after a delay; or
   * nothing happens at all (because the network request failed, and we don't report it).

[2020-03-25 02:26] ray-kraesig commented on #3999
An outline (with much handwaving) of one possible replacement behavior:

* The user taps a switch with server-backed state.
* The switch:
   * visibly disables itself;
   * brings up a spinner; and
   * makes its API request.
* When the API request concludes, the switch reenables itself, and:
  * on failure, shows a toast or dialog-box reporting the error;
  * on success, shows the (presumed) new

[2020-03-25 18:20] Maskedman99 commented on #3772
The said Issue isn't present in Android

![Screenshot_20200325-233118_Zulip](https://user-images.githubusercontent.com/31368194/77571209-f3d22d00-6ef2-11ea-893c-a33a77851e8a.jpg)

[2020-03-25 18:43] Maskedman99 opened #4000 "Emoji selector screen extends into Navigation Bar in PMs"
![Screenshot_20200326-000135_Zulip (debug)](https://user-images.githubusercontent.com/31368194/77572884-c3d85900-6ef5-11ea-8fb2-f2754e6c64ed.jpg)

[2020-03-25 19:11] Maskedman99 commented on #4000
@zulipbot claim

[2020-03-25 19:25] Maskedman99 commented on #4000
Issue is due to the wrong value of maxHeight in Popup.js. Popup.js is used while display a list for auto-completion in emojis, people, streams and topic so the issue is not just restricted emojis.

[2020-03-26 17:18] agrawal-d opened #4002 "'Connecting' spinner UI weird for a split second when switching to streams view."
On swithcing the screen to **#**, the spinner appears in the left edge of the screen for a split second, until the list of streams load. The actual duration for which it stays there is slightly longer than what is visible in the GIF due to low FPS. It's very much visible in a real device.

![peek-connecting](https://user-images.githubusercontent.com/7714968/77675404-e8463b00-6fb2-11ea-9931-b7cec15

[2020-03-26 19:00] harshbisle opened #4004 "Accessibility of "Tooltips" for new users after a long press"
There is no message/text pop-up  after long press on  the inbox(the one that opens up after clicking the notification) ,mentions(@), starred(⭐️)etc

[2020-03-27 03:05] #3879 closed

[2020-03-27 04:00] gnprice commented on #2660
More voices of people eager for this feature, over on #3744:

and

[2020-03-27 07:22] manavmehta opened #4006 "UX : Restarting the mobile apps makes PMs disappear for a second or two"
Restarting the mobile app results in Private Messages being disappeared for a couple of frames showing 'No recent conversations'. Although that exists for a short span, it affects the user experience

OS : Android 8.1, iOS 12.4.5

Clear steps to reproduce the issue (from @ray-kraesig in the [chat thread](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Reloading.20affects.20UX/near/840797)):

[2020-03-27 16:05] sumukhah opened #4007 "self PM message visible in every other PM message list"
procedure to reproduce
1. open a PM message list (say A) then close
2. open self PM message list, and send a message
3. Open the old message list(i.e A)

![ezgif-6-fa6db5c814f3](https://user-images.githubusercontent.com/23723464/77776487-19d30b00-7074-11ea-98e4-8082aa8c6364.gif)

[2020-03-27 16:06] sumukhah commented on #4007
Working on the Issue

[2020-03-27 19:57] gnprice commented on #3976
It sounds like we may not be handling well the case where you try to use the camera or image gallery but we don't have permissions. (E.g. because you've previously said no to them.) We should show some kind of meaningful error here, and ideally help the user go grant permissions after all if that's what they want to do.

This is reminiscent of #3814, which is for iOS.

If someone wants to test thi

[2020-03-27 20:11] gnprice commented on #3782
Upstream's [list of breaking changes](https://reactnative.dev/blog/2020/03/26/version-0.62#breaking-changes) is short, and from a quick grep we don't appear to be affected by any of them.

Advertised improvements include:
* [Support for Flipper](https://reactnative.dev/blog/2020/03/26/version-0.62#flipper-by-default), a developer tool. This is the change upstream seems most excited to talk about.

[2020-03-27 20:21] gnprice opened #4009 "Automatically follow user's OS-level dark/light preference"
Over the last year or two it's become common for apps to have both a dark and a light color scheme, and let the user choose between them. Zulip has this.

Since 2019 this has become a thing at the OS level. And in recent months, I've seen more and more apps noticing my OS-level setting and following along. We should do the same, at least by default -- when the user goes into system-wide settings a

[2020-03-27 21:16] drigio commented on #3976
@gnprice  I checked the flow. On denying permissions for camera and storage and then again trying it, I get no reaction (should be some prompt to ask user again for permission) or else a message stating that the permission had been denied and will need to be given prior.
Hmph, the next weird thing that I noticed was even on denying permission to storage, I was able to send an image. I think this s

[2020-03-28 00:42] gnprice commented on #4006
Thanks @manavmehta for the report!

In the description you quoted from @ray-kraesig , the "No recent conversations" lasts for just a couple of frames -- which means for less than a tenth of a second.

How long does that situation last for you? Is it also that fast, or does it last longer?

I'm asking partly because you didn't mention having any trouble getting these screenshots. :wink: Doing that

[2020-03-28 00:45] gnprice commented on #4006
Also, here's the diagnosis I [posted](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Reloading.20affects.20UX/near/840823) in that chat thread:

---

@ray-kraesig [said](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Reloading.20affects.20UX/near/840797):

Aha, I think I see why. This was a good clue for pinpointing it. :slightly_smiling_face: It's this sequence in `doInitialFetch` i

[2020-03-28 00:46] gnprice commented on #4006
Marking this as blocked on #3133 . When that's fixed, we should come back and look at this issue -- I expect it will have been fixed by the same change that fixes #3133.

[2020-03-28 06:07] manavmehta commented on #4006
@gnprice though it was a 'couple' of frames that made it last for me for about a second, so yeah not just one or two frames :P

[2020-03-28 13:03] #4007 closed

[2020-03-28 21:33] ray-kraesig commented on #4006
And to confirm, for me it really was "only a frame or two" (i.e., under 100ms). Greg's explanation implies this timespan would be Internet-connection-speed-dependent, though, so this doesn't seem too mysterious a discrepancy.

Agreed on that being the *right* fix.

If we need something sooner (say, if the visibility of this bug turns out to be higher than we currently think, or #3133 turns out to

[2020-03-28 22:39] ray-kraesig opened #4010 "Test of `sleep` has flaked in CI"
In a recent PR with no changes to either `async.js` or `async-test.js`, one of the tests for "sleep" flaked, mysteriously sleeping for only 999 milliseconds rather than 1000.

[code]

![Screenshot_20200328_153252](https://user-images.githubusercontent.com/54861490/77835435-babfd580-7109-11ea-8726-e38980ba77a5.png)

[2020-03-28 23:35] ray-kraesig commented on #3976
I didn't test exactly that flow, but I have just tested a related one: allowing permissions, going into Settings to revoke those permissions, then going back into Zulip. The image and camera buttons did nothing thereafter.

Another related issue may be #3576.

[2020-03-29 03:55] cortner commented on #2660
I get the same problem as `thosgood`  on the iPad app. It is fine in the browser.

[2020-03-30 06:14] nodesetc opened #4011 "can't insert gifs using Android keyboard gif search ("Zulip doesn't support image insertion here")"
When I try to do this, I get the error message "Zulip doesn't support image insertion here".

It'd be great if the Android client supported this.  I'm not sure if it works on iOS, as I've just started playing with Zulip.  But I'm spinning up an instance that I'm hosting myself on Digital Ocean, to have a long term searchable chat platform as a modern successor to an old email listserv for some fri

[2020-03-30 18:47] agrawal-d commented on #4010
Can you please share a link to the PR? This is an interesting situation!

[2020-03-30 19:21] ray-kraesig commented on #4010
It is, isn't it! The PR in question was #3958.

[2020-03-30 19:42] agrawal-d commented on #4010
Okay, so luckily it appears to be a one-off situation. It may be because we use `Date.now()` to measure the time deltas here.
Maybe this article is relevant: https://www.sitepoint.com/discovering-the-high-resolution-time-api/

[2020-03-30 21:27] gnprice commented on #3994
I think this is because in many places we still use React's legacy context API. As its docs say:
https://reactjs.org/docs/legacy-context.html#updating-context

So the `key={theme}` is our workaround, for causing updates even while the (legacy) context API doesn't.

In new code, or where we're substantially changing the logic that consumes the theme anyway, we've generally moved to React 16's new c

[2020-03-30 21:40] gnprice commented on #4004
This sounds like potentially two issues:
* (a) We should make sure the app is accessible for users who can't see well.
* (b) We could have tooltips on long-press of the icons.

Looking at some other apps, I don't find many that do (b). Mostly if I long-press an icon, it just does the icon's action, the same as a normal press would.

(a) is important. I don't really know the status of it, because I

[2020-03-31 06:46] ray-kraesig commented on #4004
I believe *this* bug is just b). The fact that the first word of the title is "Accessibility" seems to be merely an unfortunate happenstance: both here, and in [the discussion in chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/.22Tooltips.22), it explicitly addresses *new* users, not any other class; and – as you note – its suggested action is at best unhelpful for users who need a non

[2020-03-31 07:24] ray-kraesig commented on #4004
... that said, tooltips on long-press probably wouldn't help new users, either. As noted above, that doesn't seem to be a thing most other apps do; they generally wouldn't be discovered by the users they'd be intended for.

Perhaps, as we so often do, we should take a cue from the webapp, and implement something like the popups it has for first-time users. An issue (or at least a chat thread in #m

[2020-03-31 07:24] #4004 closed

[2020-03-31 17:35] sumukhah opened #4013 "Translation errors appears on some screen"
Some words are not added for translation resulting in error.

![1](https://user-images.githubusercontent.com/23723464/78057249-0a213280-73a4-11ea-9feb-27992553172c.jpg)

[2020-03-31 17:35] sumukhah commented on #4013
Working on the issue

[2020-03-31 17:43] sumukhah opened #4014 "Search Result is not sorted in Language Pick screen"
![language](https://user-images.githubusercontent.com/23723464/78057974-35f0e800-73a5-11ea-9784-d54a6dcf40d5.jpeg)

[2020-03-31 17:44] sumukhah commented on #4014
Working on the issue

[2020-03-31 18:43] chrisbobbe commented on #4010
This is partly lucky, and partly very unlucky. 🙂 A "flake" like this, where the test sometimes fails when nothing is actually wrong, reduces people's confidence in the tests, and makes it more tempting for people to ignore failures instead of learning from them.

What's definitely lucky is that, as I understand it, Ray and Greg have a lot of experience with some pretty bad test flakes on projects

[2020-04-02 00:41] chrisbobbe commented on #3548
From my recent work on #3987 and #4016, here's some work that we'd like to get done as part of this upgrade:

- This is already pointed out in the [Upgrade Helper tool](https://react-native-community.github.io/upgrade-helper/), but we'll need to change our Podfile so it looks more like [this](https://raw.githubusercontent.com/react-native-community/rn-diff-purge/release/0.60.0/RnDiffApp/ios/Podfil

[2020-04-02 19:30] #3977 closed

[2020-04-02 19:36] #3857 closed

[2020-04-02 19:45] #3716 closed

[2020-04-02 22:58] #2660 closed

[2020-04-02 23:10] gnprice opened #4017 "Wide LaTeX displays can get invisibly cut off"
Now that #2660 is complete :tada: so that we have LaTeX support, we have the same issue in it as the webapp's zulip/zulip#14422: when a display formula is long/wide, the later portion of it can get cut off with no way to see it. The issue will show up more often when the display is narrow, like on a phone.

There's some previous discussion of this at https://github.com/zulip/zulip-mobile/pull/4005

[2020-04-03 03:07] gnprice opened #4018 "webview assets are missing on first build, on Android"
Quick repro:
[code]

This should print:
[code]

Instead it prints nothing. (Other than a line of Gradle spam from one of our dependencies.)

If you run the build a second time (without deleting the build directory again first), it works fine.

The effect in the app is quite conspicuous. If you instead do
[code]

and then go to a message list, it looks very broken.

Same effect if you do a release

[2020-04-03 18:12] chrisbobbe commented on #3964
@gnprice, when you get a chance, there are some necessary Apple Developer Console actions that you're authorized to take. From Expo's AppleAuthentication doc ([link to "Configuration" section](https://docs.expo.io/versions/latest/sdk/apple-authentication/#configuration)):

[2020-04-03 19:45] #3983 closed

[2020-04-03 20:30] gnprice commented on #3964
Thanks -- done!

Let me know if you need the Key ID or other details and can't see them in the console yourself.

The key itself, I imagine will end up on our production servers to be actually used, as part of deploying zulip/zulip#14168. I've saved it locally, and also sent a copy to Tim (end-to-end encrypted) so there's a backup.

[2020-04-04 01:20] chrisbobbe commented on #3964
OK, sounds good!

We do have some control over the appearance of the button, but not enough to make it look just like the other buttons. ([Apple doc](https://developer.apple.com/documentation/authenticationservices/asauthorizationappleidbutton), [Expo doc](https://docs.expo.io/versions/latest/sdk/apple-authentication/#appleauthenticationappleauthenticationbutton))

It looks like we have full contr

[2020-04-04 01:38] gnprice commented on #3964
Hmmm, interesting.

Those Expo docs say some things that aren't true, like:

when here's [Apple's guidelines](https://developer.apple.com/design/human-interface-guidelines/sign-in-with-apple/overview/buttons/) on using a custom button:

That decreases my confidence somewhat in the accuracy of this Expo library's implementation. :-/

Still, surely going to be easiest at least for now to go along wi

[2020-04-04 02:34] gnprice commented on #2660
LaTeX support in the mobile app is now released! The new version is 26.24.147 if you're on iOS, and 26.25.148 on Android. (They're the same app built from the same code, just different version numbers due to a hiccup in the build.)

@Yoshi8765 @parthi2929 @berceanu @thosgood @jedbrown @pyrocto @cortner and everyone else who's been wanting this -- please update, try it out, and don't hesitate to fi

[2020-04-04 04:22] chrisbobbe commented on #3964
Oh, interesting. From reading the [Apple doc I linked to](https://developer.apple.com/documentation/authenticationservices/asauthorizationappleidbutton), I wouldn't have guessed that Apple lets you create a custom button:

It seems very Apple not to mention, on that crucial bit of documentation for what looks like The Way to do Apple auth, that some custom buttons are allowed. It's not quite as fa

[2020-04-04 04:26] chrisbobbe commented on #3964
Maybe, the "WHITE_OUTLINE" in day mode and "BLACK" in night mode? 😛 The filenames in that image with the six examples shows you which is which.

[2020-04-04 04:30] chrisbobbe commented on #3964
Looks like the Apple-provided button translates based on the device-level language choice. (Do we have a default language selection that's based on the device language? Might be worth an issue.)

[2020-04-04 14:18] Maskedman99 opened #4019 "Autocomplete popup is no longer appearing"
i.e I am not able to see this popup anymore
![image](https://user-images.githubusercontent.com/31368194/78453092-2cb99100-76ad-11ea-8d25-a3a5d90b6cec.png)

This is happening in the new beta version as well as in the master branch.

[2020-04-04 14:33] Maskedman99 commented on #4019
O.K I see where it went, It's hiding in the navbar
![Screenshot_20200404-195902_Zulip (debug)](https://user-images.githubusercontent.com/31368194/78453435-5a073e80-76af-11ea-8b53-b736bdb1f02b.jpg)

[2020-04-04 17:01] Maskedman99 commented on #4019
Apparently in ChatScreen.js message list is being rendered after compose box, so whenever the autocomplete is rendered the message list is being rendered above it hiding the autocomplete.

Reversing the changes in the commit https://github.com/zulip/zulip-mobile/commit/955534d75b7140688325c004011dc62b26cb87e8 I am able to bring the auto-complete back, This commit was made to address issue https://

[2020-04-04 18:22] jainkuniya commented on #4019
Thanks @Maskedman99 for the repot.

Can you please once verify this bug on 5328d3e1, we are planning to red ride of `reverse` style.

[2020-04-04 19:21] Maskedman99 commented on #4019
Actually, I am using ```reverse``` style in the PR, if we're getting rid of ```reverse``` , I will make the necessary changes in the PR and squash it

[2020-04-06 16:50] gnprice commented on #3964
Yep, those are the ones I had in mind :slightly_smiling_face:

Yeah, this is #2612 .

[2020-04-06 17:23] #4019 closed

[2020-04-07 19:20] agrawal-d opened #4024 "Autocomplete popups don't show up at all"
Recently, autocomplete popups (such as for @-mentions, stream name completions) have stopped showing up.

I'm currently on the latest master. ( a7f6cc8bb6813d297d1e8bed6fe7cc171ca26819 )

[2020-04-07 20:35] agrawal-d commented on #4024
Seems to be working now.

[2020-04-07 20:35] #4024 closed

[2020-04-07 21:30] timabbott opened #4025 "Add support for live-updating message editing that changes streams"
The server commits 843345dfee9c2e110e7add443f8dd3f9f6a8ace4 and 7990676583b5094e1a12572a782ece7ed57b401e (as part of #13912 / #6427) added support in the Zulip server and webapp for a new variant of the `update_message` event type, with a `new_stream_id` field.  It should work the same as the existing support for changing a topic (including the `message_ids` field with additional messages to move)

[2020-04-08 00:30] chrisbobbe opened #4026 "Build: Use "Autolinking" (RN >= v0.60)"
Once we're on RN >= v0.60 (that's #3548), we can further increase the ease of managing our native code dependencies, even more than we did on iOS with CocoaPods in #3987.

EDIT: Ah, I just realized that there'd been some previous discussion of this! That's [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/RN.20autolinking/near/813280).

The autolinking docs are [here](https://gith

[2020-04-08 01:11] chrisbobbe commented on #4026
At https://github.com/zulip/zulip-mobile/pull/3987#discussion_r402002988, Greg was puzzled about the presence of a `libz.tbd` in `project.pbxproj` (our project's Xcode config):

As that commit and PR hint at, but don't really say, `libz` was introduced when we first installed [`@sentry/react-native`](https://github.com/getsentry/sentry-react-native). It still receives some special treatment in the

[2020-04-08 01:24] chrisbobbe opened #4027 "ios build: Move "Start Metro" script into a script file, make it not run for release build."
In https://github.com/zulip/zulip-mobile/pull/3987/commits/33f4b41c8fe628fcb2ece4fcbbc107968c5073d1, we added a build phase to our own project to start Metro, since this had previously been done by a build phase in `React.xcodeproj`, and we stopped using `React.xcodeproj` and all other `.xcodeproj`s except ZulipMobile and Pods. This was done correctly, by following React Native's template, but Gre

[2020-04-08 23:31] chrisbobbe commented on #3964
(removed "blocked on other work" because Unimodules landed in #4016)

[2020-04-08 23:58] chrisbobbe commented on #3992
@harshbisle [said](https://github.com/zulip/zulip-mobile/issues/3992#issuecomment-602087399):

This sounds like the main idea, to me, is that right? From that screenshot, I don't see anything going wrong related to `spinning-progress-white.png`. Currently, the white version is only used when "white" is passed as the `color` prop to the `LoadingIndicator` component, which currently is the cases onl

[2020-04-09 00:17] ray-kraesig commented on #4026
*Really!* That's interesting, because [it *does* seem to have done so for me](https://github.com/ray-kraesig/zulip-mobile/commit/6b50b152103f36c2cd2c0a29505e5f8a2ded942b#diff-60f7bf42ffd9c5e20528c09b7ca8aea1L43).

I wonder if there's something else that depends on it less explicitly. Do you still see `libz` in the project file if you run the miniscript in that commit message to unlink all the depe

[2020-04-09 00:44] chrisbobbe commented on #4026
Aha, I'm glad to see these results and to have that nonce script to test with!

I'm also happy (one must rejoice when one can, dealing with iOS dependencies) to see what looks like a pattern.

I see

a) an automatic removal of `libz` after running that script from 33f4b41c8^, and
b) no automatic removal of `libz` after running that script from 33f4b41c8

where 33f4b41c8 is where we started using C

[2020-04-09 00:45] chrisbobbe commented on #4026
And, indeed, I see a) and b) when I just run `react-native unlink @sentry/react-native`, so it's doubtful that some other dependency is involved, which is another win for our understanding.

[2020-04-09 00:49] chrisbobbe commented on #4026
I saw that it built successfully without `libz`, but I didn't go to the trouble of getting Sentry working in debug mode, to test, either. Since `libz` is still mentioned in that `react-native.config.js` file in Sentry's latest master, I think it's plausible that it is still needed, but we'll have a better picture once we see if `libz` gets automatically re-added under the "autolinking" regime.

[2020-04-09 01:02] chrisbobbe commented on #4026
They should be added by CocoaPods, regardless of whether you're using CocoaPods on RN v0.59 or RN v0.60. Did you have CocoaPods working in that commit?

CocoaPods reacts to [the line](https://github.com/oblador/react-native-vector-icons/blob/master/RNVectorIcons.podspec#L15) i

[code]

in react-native-vector-icons' Podspec by creating a new build phase, called "[CP] Copy Pods Resources", in our Zu

[2020-04-09 01:19] gnprice commented on #4026
One more observation on this bit: the `RNSentry.podspec` inside `node_modules/@sentry/react-native/` pulls in the `Sentry` pod:
[code]

And in turn `Sentry.podspec` has this line:
[code]

I expect that means that under `pod install`, a `libz` dependency (as well as `libc++`) will end up in the generated `Pods.xcodeproj`, but not in our own Xcode project.

[2020-04-09 01:34] chrisbobbe commented on #4026
Ohhh — is the `z` -> `libz` transformation similar to the transformation we've seen with `React` -> `libReact.a`, etc.? I didn't make that connection, but it sounds reasonable.

[2020-04-09 12:57] harshbisle commented on #3992
@chrisbobbe Sorry to that I misinterpreted Since the color of 'Z' in the logo is white, I think that the color of spinning progress wheel should be white.

[2020-04-09 19:23] ray-kraesig commented on #4025
Is this a duplicate of #3957?

[2020-04-09 19:41] chrisbobbe commented on #4026
In the status quo, without "autolinking", `pod install` doesn't put `libz` in in our own Xcode project, as you'd expect.

But `pod install` isn't the complete linking procedure in the status quo, `react-native link` is. And `react-native link` does add it.

One interesting observation is that `libz` is nowhere to be found in Pods.xcodeproj after running just `pod install` in the status quo.

[2020-04-09 20:35] ray-kraesig commented on #3957
Known issues in implementing this include the fact that the set of known `Message`s for any stream is pervasively assumed to be a contiguous range. Moving messages from one stream to another may break this invariant.

[2020-04-09 20:40] #4025 closed

[2020-04-09 20:41] ray-kraesig commented on #3957
Additional information from @timabbott:

[2020-04-09 23:39] chrisbobbe commented on #3992
OK! I've just updated the title to match this.

Here's a screenshot of it with the white version. It's a very easy code change in `src/start/LoadingScreen.js`:

[code]

so the main thing will be to decide whether we like this design better. Here it is with white instead of black:

<img width="432" alt="Screen Shot 2020-04-09 at 4 36 13 PM" src="https://user-images.githubusercontent.com/22248748/78

[2020-04-09 23:40] chrisbobbe commented on #3992
tagging @gnprice @ray-kraesig just for quick visual design feedback (this new version, in white, vs. the current, black, posted above). I don't have a strong preference for one or the other.

[2020-04-10 05:50] Maskedman99 opened #4032 "Messages looks broken"
I was building from master branch.
![Screenshot_20200410-111836_Zulip (debug)](https://user-images.githubusercontent.com/31368194/78966291-0bc5c580-7b1d-11ea-85f1-a42c51c80210.jpg)

Happening in Android

[2020-04-10 06:08] Maskedman99 commented on #4032
rebuilding again the error goes away

[2020-04-10 06:15] Maskedman99 commented on #4032
My bad, issues doesn't go away. Has something to do with the commits merged in April 9, 2020

[2020-04-10 13:20] maltokyo opened #4033 "Android App has long (sometimes endless) load screen (video attached)"
When I login, from time to time (I would say one in five times I open the app) I get this "loading" screen.  Sometimes it lasts for 5 seconds, sometimes for 30 seconds.

Restarting the app (force quit and reload) fixes it immediately 100% of the time, so I am sure there is nothing wrong on server side.

Video is attached, I could not upload the mp4 file directly, so it is zipped here.

[Screenreco

[2020-04-10 16:50] agrawal-d commented on #4032
Looks like https://github.com/zulip/zulip-mobile/issues/4018.

[2020-04-10 17:32] chrisbobbe commented on #4033
Hi @maltokyo, thanks for the report!

I don't have a clear diagnosis for this yet, but we know of one issue that could cause long wait times in hard-to-reproduce ways.

@gnprice or @ray-kraesig, I think https://github.com/zulip/zulip-mobile/pull/3841 is getting close to mergeable. I'm not saying this is definitely the solution to this problem, but it might be, and it would be a nice thing to elimi

[2020-04-10 17:49] ray-kraesig commented on #3992
I slightly prefer the black version – though, to be honest, I don't think I'd even have noticed if it had just been quietly changed.

(I think my real preference would be to make it the same dark grey as the logo background, but unfortunately that's rather more work.)

[2020-04-10 18:47] maltokyo commented on #4033
Great. Thank you. The other thing I can say is that recently when it happens on mobile app I've always had web version nearby. And it was always super responsive without issue while the mobile app was was behaving like this. Both on the same WiFi network. So again, I did everything I could to isolate it to be sure it's an issue with the app.

Any log I can attach?

[2020-04-10 19:36] gnprice commented on #4026
Yup! Here's GCC's documentation for it:
https://gcc.gnu.org/onlinedocs/gcc/Link-Options.html

(Xcode is built on Clang, not GCC; but this convention is standard across all kinds of Unix-style compilers and linkers, and because we found Clang's documentation was thin when looking into the `#include "foo.h"` question, I just went straight to the GCC docs.)

[2020-04-10 22:09] #3840 closed

[2020-04-11 00:17] gnprice opened #4035 "Pin down the main forms of identifying a PM thread, and their conversion helpers"
There are a bunch of different ways we identify a PM conversation -- all of them variations on listing the people in the conversation:
* Include self, or not.
  * Or include self only for the self-PM thread.
  * Or include self for group PMs (i.e. >= 3 people total), and for the self-PM thread (i.e. 1 person total), but not for non-self 1:1 threads (i.e. exactly 2 people total.)
    * Yes, this [r

[2020-04-11 00:21] gnprice commented on #3133
I've just gone back through Isham's PR #3535 from mid-last year, and rebased it and revised to address most of the comments I had when I last reviewed it.

At this point I think the main thing it needs is to take care that we're correctly handling the different forms of ways we identify a PM thread, in our codebase and in the Zulip server API. That's been an ongoing background need; I've just file

[2020-04-11 05:24] chrisbobbe commented on #4033
#3841 was merged today, so it should be out in the next [beta](https://github.com/zulip/zulip-mobile#using-the-beta), probably next week; you can watch for that to be released [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/release) in the Zulip developer community, but I'll post again here when that happens, if I remember. And, in any case, we'll keep this issue open until we're sure

[2020-04-11 08:31] maltokyo commented on #4033
Thanks a lot @chrisbobbe ! So nice to hear  responses like this and motivates people to submit issues more when they find. I'll try the beta next week or when available.

[2020-04-11 11:25] Wikunia opened #4036 "Swipe from messages view back"
I'm kind of sure this issue exists here somewhere because I find it kinda obvious but I wasn't able to find it.
When viewing messages one has to click the back button at the top left to go back. It would be nice to also have swipe from left to right to have this feature. Currently swiping is not in use on that screen and it seems intuitive for people who used slack before.

[2020-04-11 13:29] Maskedman99 commented on #4032
Thanks @agrawal-d, closing the issue since it's a duplicate.

[2020-04-11 13:29] #4032 closed

[2020-04-12 07:08] hanhnguyen121088 opened #4037 "Reply and Forward Fuction"
1. I cannot find forward message function on Zulip app
2. I cannot quote and reply a message sent by another one on Zulip mobile
3. I cannot double click on the quoted message to see the original position when it was sent  as Viber app can do
 Could you please kindly help me on this because i want to apply this helpful app to my company

[2020-04-12 07:33] hanhnguyen121088 commented on #4037
@gnprice i hope you can help me on this

[2020-04-12 11:29] lilpolymath commented on #2941
I guess that this issue can be closed then. @gnprice

[2020-04-13 16:49] chrisbobbe commented on #4036
Are you on Android or iOS? I believe this is intentionally included on iOS, and it's working for me; maybe you're on Android, or you've found a place on iOS where it doesn't work?

[2020-04-13 17:23] chrisbobbe commented on #4037
Hi @hanhnguyen121088!

1. This doesn't sound like a feature that is available in the main app, so I don't think it's ripe for engineering work here in the mobile app. Please let me know (with more details, please!) if you think this is wrong. You might like to discuss a new feature on chat.zulip.org (the Zulip development community) or at https://github.com/zulip/zulip. Is your use case covered, a

[2020-04-13 18:06] Wikunia commented on #4036
I'm on Android 10.

[2020-04-13 18:16] chrisbobbe commented on #4036
Yes and yes, but in some areas, each platform has its own recommendations and requirements for how to do things, which means some differences in implementation, and React Native lets you do this fairly easily. Navigation has been one of these areas.

— and, it looks like Android 10 does indeed support and recommend gesture-based back navigation! ([doc](https://developer.android.com/training/gestur

[2020-04-13 18:42] chrisbobbe commented on #3557
We've had another report of this, [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Deprecate.20mobile.20app.3F/near/852292).

[2020-04-13 18:43] chrisbobbe commented on #3372
We've had another report of this, [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Deprecate.20mobile.20app.3F/near/852294).

[2020-04-13 19:13] gnprice opened #4038 "Exception: Unable to parse color from string: #NaN"
Here's an error we've started getting recently in Sentry. Happens in 26.25.148 and 26.26.149.

It's an uncaught exception, so it crashes the app.

Message:
`Error: Error: Error: Unable to parse color from string: #NaN`

Stack trace:
[code]

Example event (for those with access to Sentry):
https://sentry.io/organizations/zulip/issues/1597595682/events/3dfbe00091684a8c9a5bc5c6a559ae25/?project=19128

[2020-04-13 19:17] chrisbobbe commented on #4038
One guess is 658003e863030ecd5a16e2553b178ff4313ba751 and https://github.com/zulip/zulip-mobile/issues/3985

[2020-04-13 19:19] gnprice commented on #4038
Escalating to P0 as this is probably the cause of a [reported situation](https://chat.zulip.org/#narrow/stream/48-mobile/topic/White.20screen.20bug/near/852821) where the app crashes on startup, and then just crashes again even if you force-quit and try relaunching.

[2020-04-13 20:10] #3985 closed

[2020-04-13 20:19] gnprice commented on #3557
I reproduce this on both an iPhone XR running iOS 13 and an iPhone 7 running iOS 12.

I *don't* reproduce on Android -- scrolling with a "flick" gesture works great on a Pixel 4 running Android 10. So something's happening here that's specific to iOS.

[2020-04-13 21:00] chrisbobbe commented on #3457
@gnprice [said](https://github.com/zulip/zulip-mobile/issues/3921#issuecomment-601464395):

This would basically be a diff like

[code]

and all the variable renaming and test changes that would need to follow.

[2020-04-13 21:04] chrisbobbe commented on #4038
Closing, as https://github.com/zulip/zulip-mobile/pull/3991 was merged. 🎉

[2020-04-13 21:04] #4038 closed

[2020-04-13 21:29] chdinesh1089 opened #4039 "Swipe an image down to close it."
Instead of clicking on `x` to close an image, dragging an image down to close it will make it much easier and user-friendly. It also improves reachability issues when using one-handed.

An example would be WhatsApp's image viewing.

[2020-04-13 22:55] ray-kraesig commented on #4017
Note that solving this issue will probably depend, at least in part, on what strategy is used to solve it server-side. (In particular, we may want to patch old-style rendered HTML to match.)

[2020-04-14 01:09] ray-kraesig commented on #4024
For future reference: [per discussion on CZO](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Autocomplete.20popups/near/849202), this vanished after a `git bisect`; it's assumed to have been due to some stale cache in the build system.

[2020-04-14 17:32] chrisbobbe commented on #4033
So, there was a [beta release](https://chat.zulip.org/#narrow/stream/48-mobile/topic/release/near/853110) yesterday, the 13th, but it only had one cherry-picked fix, deemed critical because it caused a total crash of the app on startup, so it didn't include the attempted fix for this issue. @gnprice, we'll plan to do a regular beta release with everything on master this week, I think, right?

[2020-04-14 19:24] timabbott commented on #4017
There's a good chance that a webapp-side solution would involve adding wrapping divs dynamically, rather than changing the basic format.

[2020-04-14 19:26] timabbott commented on #4017
I wonder if it makes sense to turn `fixupKatex` into a piece of shared code.

[2020-04-14 20:04] #3732 closed

[2020-04-14 20:32] #4018 closed

[2020-04-14 20:37] gnprice commented on #4017
Sure, I think a solution like that would work well.

[2020-04-14 20:41] #2834 closed

[2020-04-14 22:10] timabbott commented on #4017
@ray-kraesig if you want to put together a shared-code PR for the webapp doing that, the place to call this sort of post-processing step in the webapp code is `_post_process_single_row`, and the CSS would go into `rendered_markdown.scss`.

(We may want to make `rendered_markdown.scss` shared eventually, but having copies in both projects that are identical, to simplify later deduplication, is prob

[2020-04-15 00:11] maltokyo commented on #4033
Hi @chrisbobbe & all
Here are some more videos.  Strange things still happenning, it seems even more frequently now with the latest update.  I updated two days ago.

1. Here is more of the issue above:

https://www.youtube.com/watch?v=1RqD1X-9j1Y&feature=youtu.be

2. I have additional issues also with latest couple of versions, including latest version.  Sometimes I get spinning ball next to the p

[2020-04-15 00:24] chrisbobbe commented on #3829
#3841 has been merged, clearing the way for work on this issue. Anyone interested in claiming this?

[2020-04-15 00:36] chrisbobbe commented on #3869
We've had another report of this, at https://github.com/zulip/zulip-mobile/issues/4033#issuecomment-613743082.

[2020-04-15 00:36] chrisbobbe commented on #3731
We've had another report of this, at https://github.com/zulip/zulip-mobile/issues/4033#issuecomment-613743082.

[2020-04-15 00:37] chrisbobbe commented on #4033
Thanks for the additional reports, @maltokyo!

1. One thing that would be very helpful to know for this issue, and I'm seeing that I didn't ask for this specifically, above, is if you're pretty confident that the loading screen just *never* goes away, or if it eventually goes away after 30 seconds or so. I know the effect on users is about the same, if it causes enough frustration that you have to

[2020-04-15 00:46] maltokyo commented on #4033
Hi @chrisbobbe

Regarding #1 I've frequently left it for some minutes like that (not 5 mins for sure, but at least 1:30 - 2:00). For me it doesn't resolve itself and I just restart the app which fixes it 100% of the time. Next time it happens I'll leave it for 10min, see how it goes, and report back.

Does the app make any logs at all, that would be useful for you guys? I'm happy to send if you le

[2020-04-15 01:04] gnprice commented on #3589
In the course of studying some of our code closely for the sake of #4035, I think I've spotted the cause of this bug!

It's in our `getUnreadTotal` selector, which controls the "N unread messages" counter in the case of the "All messages" view. Here's the comments I just added in f7f2fc6fa:
[code]

A direct fix for this issue would be to fix `getUnreadStreamTotal` so that it excludes muted streams

[2020-04-15 01:06] gnprice commented on #4035
I've just pushed some commits that make progress on this:
35be10b90 on `display_recipient`
a53cd6082 and 6847b0a49 on `unread_msgs`

[2020-04-15 18:59] gnprice commented on #3745
We've resolved #3732 thanks to using this information. But I think the remaining part is also a priority: when looking at Sentry issues, I'd really like to be able to see what Zulip server versions were involved.

(Probably I should have filed this as two separate issues in the first place.)

I think the next steps are to add some Sentry tags, in the way Ray describes in [the first comment](https:

[2020-04-15 19:03] chrisbobbe commented on #3745
https://github.com/zulip/zulip-mobile/pull/3952 is on the path to this, I think, right? I believe I've addressed the most recent review, but I think there was another strategy we were considering as an alternative to the strategy used in that PR.

[2020-04-15 21:21] ray-kraesig commented on #4039
I can understand swiping left or right to close the lightbox, but I'm surprised by swiping *down*.

Does WhatsApp also have their lightbox-equivalent slide up from the bottom when it comes into view?

[2020-04-15 21:50] gnprice opened #4042 "iOS: message list doesn't respect system text size"
This is just like #2559, but I saw it just now in a recent version from master. This was on a simulated iPhone 8 running iOS 13.3.

Not sure what changed between 642b2d43b, where I previously fixed this bug, and now. The only change since then that looks at all related is the very next commit, cbf2e6ce9, which deleted the `font-size:` line entirely.

Or maybe there's some other variable involved?

[2020-04-15 21:54] gnprice commented on #4042
Just to be sure, I tested just now the hypothesis that this somehow caused the bug: in Safari's Web Inspector, I added a `font-size: 93.75%` attribute back to the `html` CSS block, just like the one that commit removed. The bug still reproed -- the font just got slightly smaller, as you'd expect.

[2020-04-15 21:57] agrawal-d commented on #4039
Swiping down is the only way ( apart from the back button ) to close the lightbox there.

In almost every app, swiping left / right does not close the lightbox, becaue usually the lighbox is a gallery of of images and left / right swipes would change the image displayed.

[2020-04-15 22:11] gnprice commented on #4042
The bug is already present in 26.21.144, which is the oldest release that Apple still keeps around in TestFlight even for me as the app's maintainer to install for testing. That's on my iPhone 7 running iOS 12.4.1; I've also confirmed the bug is present on that version in the latest release.

The release that originally had (what I sure thought at the time was) the fix was 25.3.117.

It would be g

[2020-04-15 22:41] gnprice commented on #3301
Just sent #4043 with what appears to be the solution of this mystery.

[2020-04-15 23:07] timabbott opened #4044 "Change in how muted_topics tuples are represented"
We added an additional field, `date_muted`, at the end of `muted_topics` tuples, in
https://github.com/zulip/zulip/commit/9340cd1a0b7af7af9b83a622e37d02f1a2340609 as part of https://github.com/zulip/zulip/pull/13833.

Opening an issue here.  Ultimately, we don't use tuples anywhere else for a reason, and may want to change the interface further, but this should at least be backwards-compatible.

S

[2020-04-15 23:55] ray-kraesig commented on #4017
Well, it depends. The webapp may not want the same fixups as the mobile app, and almost certainly doesn't want the same styling. (Further discussion over on the server-side bug.)

[2020-04-16 00:40] gnprice commented on #4044
Thanks!

I think the steps I'd like us to take for this right now are:
* We have a type `MuteTuple` that describes these. It should be extended to cover both the old and new version of this API.
  * It should also get a comment pointing at relevant API documentation if any, or else at this issue, and saying at what server version the API changed.
* We bring those objects verbatim into our Redux st

[2020-04-16 00:44] ray-kraesig commented on #3829
Let's say me. (I'm already working on #3881, which has a fair range of intersection, and I think if someone else claimed it we'd be stepping on each other's toes a lot.)

[2020-04-16 00:48] ray-kraesig commented on #3745
A new selector `getServerVersion` was added in #4022 (commit 11cca9b3b8d132f8ebd32c82c725a2832314b59e). I think that's enough to keep #3952 from blocking this.

[2020-04-16 01:18] gnprice commented on #4017
From that discussion on zulip/zulip#14422 , it sounds to me like the mobile app and mobile web have the same needs here:
* they are especially likely to encounter this
* no scrollbar is shown when an element is scrollable

What styling differences do you have in mind?

[2020-04-16 01:19] gnprice commented on #3745
Ah, I'd forgotten about that PR, sorry. Yeah, I think it's orthogonal to starting to send the versions in Sentry events.

[2020-04-16 01:46] ray-kraesig commented on #4017
Mostly it was the ones I didn't have in mind that matter here: I originally wrote that while failing to consider that the web app *has* a mobile view. `x_x;`

There are some relevant subtleties. It's still the case that the webapp, unlike the mobile app, has to worry about a desktop configuration. Also, we have a different set of browser engines we have to support (the mobile app doesn't care abou

[2020-04-16 13:09] chdinesh1089 commented on #4039
Are you saying that we swipe from edge which acts as clicking back on android?

No, it just opens up in a pop up kind of fashion. I think I understand how you are imagining. Are you thinking that it looks like a different container that can be closed by sliding down?

In the issue I was trying to say that we should be able to close the image by swiping it down anywhere on the image.

As @agrawal-d

[2020-04-16 21:32] Maskedman99 commented on #3700
![Screenshot-20200417025912-339x222](https://user-images.githubusercontent.com/31368194/79508582-70ba7780-8057-11ea-87f3-c7c03ec5ceb1.png)

It's also broken when the recipient's name is large.

[2020-04-17 06:23] mdimjasevic commented on #1270
As someone interested in seeing this happening, I'm just sending a gentle reminder. I am not sure if this has been resolved in the meantime, but there was a build dependency problem where some React libraries required Play Services: https://gitlab.com/fdroid/rfp/issues/386#note_134825356

Zulip is free software so it would be great to have it available in a free software repository for Android-bas

[2020-04-17 18:35] #4013 closed

[2020-04-17 18:35] #3406 closed

[2020-04-17 18:37] ray-kraesig commented on #4013
Closed by #4013... for now, at least. There are doubtless a few untranslated strings still floating around, but this does clear up a nice chunk of them.

[2020-04-17 19:22] timabbott commented on #1270
One thing worth mentioning is that we do distribute the app via a direct download link to the Android APK on zulipchat.com/apps.  Obviously, this isn't the same as froid, but does mean it can be installed without going through the Play store.

[2020-04-17 19:51] mdimjasevic commented on #1270
Thank you for your reply, @timabbott! I am aware of the direct link option. Still, it would be great to see Zulip in the official F-Droid repository.

[2020-04-17 20:31] gnprice commented on #1270
Interesting, thanks for highlighting that.

One of those, `react-native-notifications`, is no longer part of our Android build since 01b33ad31. (Rather, I think its JS still gets included because we use it on iOS; but its Gradle project is gone from our build.)

The other, `react-native-device-info`, does a few small things for us and I don't think any of them actually involve Play Services, so th

[2020-04-17 23:27] ray-kraesig commented on #1529
Since I've just dug into this a bit:

Currently we use `date-fns` to generate the human-oriented approximate times from the relevant timespan. `date-fns` does allow for translations, but it almost requires that locales be [individually imported](https://date-fns.org/v1.30.1/docs/I18n). This *is* doable today, but would be easier with some automated solution to #3895.

Nowadays, there's also an `In

[2020-04-17 23:59] gnprice opened #4049 "Store server feature level in Redux"
(This isn't ripe to do any work on until the server side has been implemented.)

Per zulip/zulip#14618, we plan to add a "feature level" number to the server's API, which appears alongside `zulip_version` but can be used at a finer grain.

Once it's there, we'll want to observe it on `/server_settings` and `/register`, and maintain it in Redux. This will work just like #3839.

Then we'll want to u

[2020-04-18 00:10] gnprice commented on #3303
And with zulip/zulip#14500, I think we now have the backend support we need! So the next step is for someone to prepare a PR to have the app start using this feature, with the fallback strategy Anders describes [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/view.20uploaded.20files/near/855412).

(Later when we have #4049, we can switch to using that instead of the fallback. But

[2020-04-18 00:52] gnprice opened #4050 "Report more info on "bad response from server""
We have the following lines in our API code:
[code]

Turns out we get [quite a lot of these reports](https://sentry.io/organizations/zulip/discover/zulip-mobile:dd85ac6b2f0b4e21a4f1dfdf927401ed/?field=title&field=event.type&field=project&field=count_unique%28user%29&name=All+Events&project=191284&query=&sort=-count_unique_user&statsPeriod=30d&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=count%28%

[2020-04-18 00:57] chrisbobbe commented on #3864
If I'm reading the Sentry logs correctly, it looks like all of these are only happening on Android? None of the errors would seem to be platform-specific, which is weird.

Looking for causes of https://github.com/zulip/zulip-mobile/issues/4033, which is on Android; looks like there's been a fresh report of something similar (also on Android), [here](https://chat.zulip.org/#narrow/stream/48-mobile/

[2020-04-18 00:59] chrisbobbe commented on #4033
There's been another report of something that looks quite similar, also on Android, [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Connecting.2E.2E.2E.20app.20blocked/near/855621).

@gnprice, @ray-kraesig, do you know a way to filter our Sentry logs to see errors whose first occurrence is recent, and that only happen on Android?

[2020-04-18 01:02] chrisbobbe commented on #4050
This is open as https://github.com/zulip/zulip-mobile/pull/3819.

[2020-04-18 01:03] gnprice commented on #4050
Indeed, thanks! Should have looked closer. Just bumped that PR.

[2020-04-18 01:03] chrisbobbe commented on #4050
If it's fresh on your mind and you have a moment, could you take a quick look at this question I had, over at https://github.com/zulip/zulip-mobile/issues/4033#issuecomment-615526186:

[2020-04-18 01:05] ray-kraesig commented on #3864
I'm not sure offhand about the other two, but this one I can explain: it's because the user ID is embedded in the error message. This means that the error message will be unique for almost every user of this API, and so the various error reports for #3732 are not being grouped together.

Looking for other flavors of that error message shows that some do occur on iOS: for example, [this one](https:

[2020-04-18 01:06] gnprice commented on #4050
I think `firstSeen:` and `os.name:` in the Sentry search box will get you those. (There's some autocomplete to help with the syntax.) If more details would help, that'd be a good question for a chat thread.

(And then maybe we should serialize the result into a bit of docs.)

[2020-04-18 01:28] chrisbobbe commented on #4033
Hmm, @gnprice, @ray-kraesig, take a look at [this filtering/sorting in Sentry](https://sentry.io/organizations/zulip/issues/?project=191284&query=firstSeen%3A-3w+os.name%3AAndroid&sort=freq&statsPeriod=14d).

That's a summary of events that have occurred at least once in the last 14 days, where the first-seen date for that class of events (I know we have some open issues about disaggregation, like

[2020-04-18 01:43] chrisbobbe opened #4051 "RuntimeException: Probable deadlock detected due to WebView API being called on incorrect thread while the UI thread is blocked."
Marking P1 because this is new (within the last two weeks) and may be a cause of symptoms like https://github.com/zulip/zulip-mobile/issues/4033 which we've had multiple reports of.

Here's the [Sentry link](https://sentry.io/organizations/zulip/issues/1603347856/?project=191284) (only accessible to core team members).

Looks like it was first seen on 26.25.148 ([GitHub](https://github.com/zulip/z

[2020-04-18 01:50] ray-kraesig opened #4052 "Create a pseudolocale for i18n testing purposes"
For context: [Wikipedia's article on pseudolocalization](https://en.wikipedia.org/wiki/Pseudolocalization).

Unfortunately, we don't do much in-house testing of our localization, and this can lead to issues like #4013. This could be ameliorated somewhat if we were to autogenerate translations for pseudolocale from `messages_en.json`, and encourage any (mostly-)monolingual Anglophones to test from

[2020-04-18 02:12] gnprice commented on #3864
Often (maybe always) our errors seem not to get aggregated in Sentry between Android and iOS.

In particular that applies to the omnibus "API error" Sentry error that this issue thread is about. Looks like this is the iOS version:
https://sentry.io/organizations/zulip/issues/1562540614/
while this is the Android version:
https://sentry.io/organizations/zulip/issues/1275118205/

All three of these

[2020-04-18 02:37] gnprice commented on #4051
Hmm, very interesting! I actually saw that error message, even, when looking at Sentry earlier today but didn't think of the plausible connection with that symptom.

The timing is puzzling because it doesn't really line up with the rollout of a new version -- the first occurrence was 2020-04-08, and it really takes off starting 2020-04-13, but the majority of our Android users were on 26.25.148 by

[2020-04-18 15:45] sumukhah opened #4053 "Huge amount of space left empty in top navigation bar"
![screenshot-2020-04-18_21 11 12 93](https://user-images.githubusercontent.com/23723464/79642203-c60e9a00-81b9-11ea-95a6-cfd733117e16.png)

[2020-04-18 15:46] sumukhah commented on #4053
Working on the issue

[2020-04-19 06:41] agrawal-d commented on #4052
This is done in the Zulip/Zulip repository.
In their tests, i18n is emulated as:

Original String: "Uploading filename..."
String that appears in tests: "translated: Uploading filename..."

This was helpful, because while working on my PR and writing tests, I realised some of my code was incorrect as it left some strings un-localized.

Is above an example of pseudo-localization?

[2020-04-20 13:53] Maskedman99 opened #4056 "Sharing messages that contain '>', '<', and '&' results in '&lt;', '&gt;' and '&amp;'"
![Screenshot-20200420192019-774x94](https://user-images.githubusercontent.com/31368194/79759378-3b09dd00-833c-11ea-9343-796743a949f0.png)

[2020-04-20 14:16] Maskedman99 commented on #4056
Further ares where this edge-case occurs

![Screenshot-20200420193648-714x64](https://user-images.githubusercontent.com/31368194/79761259-d13f0280-833e-11ea-8976-83fc9ee2add1.png)
This is the same case in webapp,

[2020-04-20 18:30] ray-kraesig commented on #4052
Yes – and it's also an example of pseudolocalization being useful!

[2020-04-20 18:41] ray-kraesig commented on #4050
I suspect some of these 4xx errors may be cases where the user is attempting to connect to a server that is not a Zulip realm at all (but, perhaps, used to be). 404s and 401s would certainly be explained by that, and I could see a 400 being a response to a file-upload attempt, too.

The 200 on `/api/v1/server_settings` is a bit more surprising, but might be due to the user's service provider doing

[2020-04-20 19:13] gnprice commented on #4050
Hmm, interesting thought. That's certainly a thing that can happen (I remember we ran across an example of that a few months ago) -- but I'd be a bit surprised if that happened on the user_uploads or users/me/status routes. If the host is no longer a Zulip realm, then `register` won't succeed, and the user is unlikely to go very far into the UI.

In any case, this is a question we can answer. :win

[2020-04-20 19:17] gnprice opened #4057 "Spurious(?) `apns_device_token` requests may be made for dead realms"
We have [an event](https://sentry.io/organizations/zulip/discover/zulip-mobile:16840fd3c7794350a4f6f36cb8f95732/?field=title&field=event.type&field=project&field=count_unique%28user%29&name=All+Events&project=191284&query=&sort=-count_unique_user&statsPeriod=30d&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=count%28%29) in Sentry where
* the breadcrumbs show a number of successful requests to URLs

[2020-04-20 19:25] gnprice opened #4058 "Give early error when "Zulip server URL" is an email address"
We have [an event](https://sentry.io/organizations/zulip/discover/zulip-mobile:fcab692fe3bd4149af994c91ee1c1939/?field=title&field=event.type&field=project&field=count_unique%28user%29&name=All+Events&project=191284&query=&sort=-count_unique_user&statsPeriod=30d&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=count%28%29) in Sentry where we tried to fetch from a URL like `https://example@hotmail.com

[2020-04-20 19:42] gnprice commented on #4056
Hmm, yeah, that'd be nice to fix.

The reason is that the text we share is meant to be a "plain text" version of the message's content. For your example message, the `content` property (which is HTML) will be `"<p>vue &lt; react-native &gt; flutter &quot; ionic</p>"`. And here's the "share" implementation:
[code]

So it just takes the HTML and strips all tags.

We can probably improve that. The fi

[2020-04-20 22:26] gnprice commented on #4051
I spent some time this afternoon digging into what's happening here. I haven't fully unraveled it, but here's some notes.

* Android Studio was effective for tracing the calls from RN's code into the Android framework's, using the stack trace in that Sentry event.

BTW here's that stack trace, for reference here:
[code]

* In particular, the stack looks like:
  * RN is doing its job as React, upda

[2020-04-20 23:03] gnprice commented on #4051
Then,

* I also dug a bit into the history to see what change might have triggered this.
  * We're only seeing this on Android 10, not earlier versions. And indeed, there's [this commit](https://android.googlesource.com/platform/frameworks/base/+/2cbcd7ffbf689591a234bee7c416ecf16bd1e684%5E%21/#F5), in Android 10 but not Android 9, which adds that `onCheckIsTextEditor` call in `InputMethodManager`.

[2020-04-21 08:20] Maskedman99 commented on #4010
PR #4045 failed Travis-CI due to this, ( my PR failing again while resolving conflicts :(  )

[2020-04-21 21:34] chrisbobbe commented on #3473
We've had another report of this, [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/unmuting.20a.20muted.20topic/near/859645).

[2020-04-21 21:53] #3930 closed

[2020-04-23 14:40] nanohayder commented on #2900
is there any update about this it will greatly help us

[2020-04-23 18:06] ray-kraesig commented on #3864
In particular, I think what we want here are [explicit fingerprinting](https://docs.sentry.io/data-management/event-grouping/sdk-fingerprinting/?platform=javascript) and [a custom integration](https://docs.sentry.io/platforms/javascript/#adding-a-custom-integration).

The former will do the disaggregation by whatever strings we define. However, the usual method of doing that involves a scope creat

[2020-04-23 21:41] gnprice commented on #3864
Cool, thanks for that research! That "fingerprinting" doc looks like it's directly on point.

Down midway through the page, it offers an example using `beforeSend`, which looks like a bit simpler of an API for doing the same thing as a custom integration. I think either way can probably work out fine. Bit more discussion here:
https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/distinguish

[2020-04-24 21:54] chrisbobbe commented on #4051
Wow — thanks for this fantastically detailed investigation and writeup, @gnprice.

This sounds like the conclusion; a Chrome update may be combined with another, unknown, factor, to cause #4033, or it might be irrelevant to #4033.

[2020-04-24 22:32] gnprice commented on #2416
(FTR this was indeed a bug, fixed later in 2018; details at #2434.)

[2020-04-24 23:07] gnprice commented on #2900
@nanohayder I would be curious to hear more about why this would greatly help you! Either here, or a conversation might be easier on Zulip -- come say hello in `#mobile` on chat.zulip.org.

@timabbott Is there API documentation somewhere on how to interpret custom profile fields? There's an example now on https://zulipchat.com/api/get-all-users , which helps some, but the data there is pretty abst

[2020-04-24 23:20] #4010 closed

[2020-04-24 23:24] gnprice commented on #4010
Ray found the cause of this -- here's his commit message for the fix (which I just merged):

    async: Fudge test value to defeat flake in `sleep` test.

    Sometimes, `setTimeout(1000)` will fire after only 999 milliseconds.
    This appears to be due to an upstream bug in Node.js itself [1].

    Closes #4010.

    [1] https://github.com/nodejs/node/issues/26578

As I wrote on the PR: it's rea

[2020-04-24 23:35] chrisbobbe commented on #4009
As part of this, let's deprecate the 'default' name, like so:

[code]

As I said over at https://github.com/zulip/zulip-mobile/pull/4046#discussion_r414032884:

and Greg [agreed](https://github.com/zulip/zulip-mobile/pull/4046#discussion_r414886033).

[2020-04-24 23:41] gnprice commented on #4009
It'd also be good to switch to calling it "dark mode" instead of "night mode" or "night theme" -- as "dark" is what both Google and Apple call it, and also is more logical because there's no inherent reason to only use it at night.

That, or at least the UI side of it, should happen in coordination with the webapp, though, so the same terminology is used across platforms.

[2020-04-24 23:51] timabbott commented on #2900
Nope; that's in my view the main TODO for the "users" part of the API documentation.  I expect we'll add it when we add documentation for the endpoints for custom profile fields more generally, which will at least provide other details we can reference for more details from a link.  I imagine @akashaviator will do it at some point in the next few weeks.

[2020-04-24 23:55] timabbott commented on #2900
But some brief notes:
* In this block, the `1` is the field ID, and the content is this user's value.
[code]

* The mapping from field ID to what the field actually is (it's title, hint, and type) lives in the `custom_profile_fields` section of the `/register` response.
* The field types are described in `custom_profile_field_types`, mainly for UI purposes.
* The `CustomProfileField` definition is

[2020-04-25 03:01] gnprice commented on #2900
Cool, thanks -- that's helpful for understanding the scope of it. Once that documentation is written, it looks like this should be a pretty straightforward task for someone to do.

Here's also the chat thread where @nanohayder discussed their use case:
https://chat.zulip.org/#narrow/stream/48-mobile/topic/Issue.20.232900/near/862453

[2020-04-25 03:30] gnprice commented on #3624
I just reproduced this on iOS -- specifically on an iPhone XR running iOS 13.3 and Zulip 26.27.150.
* I went and recorded a short video from the camera app.
* Then went to Zulip, opened a conversation, and hit the "plus" icon and the "image" icon, to select something to upload from the camera roll.
* The UI showed me all the photos in the camera roll, but not the video I'd just taken.

This looks

[2020-04-25 03:33] gnprice commented on #3624
We also just had [another report](https://chat.zulip.org/#narrow/stream/48-mobile/topic/general.20features/near/862490) that this didn't work on Android, with an interesting detail:

Maybe "send file" is what I used when I tried this earlier (https://github.com/zulip/zulip-mobile/issues/3624#issuecomment-576879342) on Android and it worked for me? If so then that actually makes more sense -- I'd h

[2020-04-25 10:44] Maskedman99 opened #4067 "Narrow contains email 'welcome-bot@zulip.com' that does not map to any user."
![Screenshot_20200425-153722_Zulip (debug)](https://user-images.githubusercontent.com/31368194/80277799-2d26d400-870f-11ea-94d6-6686893bc121.jpg)

Issue happens while trying to chat with Welcome Bot. Happening in the master branch.

@zulipbot claim

[2020-04-25 11:05] Maskedman99 commented on #4067
Looks like https://github.com/zulip/zulip-mobile/commit/531670135f5f2b7ad411873a27679d62c0d059ac is what introduced the bug, ```getUsersByEmail``` was used instead ```getAllUsersByEmail```

[2020-04-25 16:41] bogmihut8 opened #4070 "Unable to receive feedback in the app after sending message, setting to away, setting status"
Hello,

I am having some troubles when trying to send/receive messages, update the status or set
 myself to away. It looks like I don't receive the updates in the app, even though the requests seem to be successful (in the web I do see the messages that I send and also the status updates in real time). This happens on both os simulators and on android device (didn't manage to test on an iOS one).

[2020-04-26 08:47] jainkuniya commented on #4042
I was investigating on this:
- still have to figure out, when this was working and from where it broke. Facing issue with iOS build https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/ios.20build.20fail
- got his article https://www.interactiveaccessibility.com/blog/text-resizing-web-pages-ios-using-dynamic-type#.XqQTwdMzZ24

It suggest to use
[code]
I tried it through inspect element, and

[2020-04-26 09:33] jainkuniya commented on #4042
I tried building iOS on https://github.com/zulip/zulip-mobile/commit/642b2d43bf4b2c3d79f385475aeae032e6f6a3fd, but facing some issue related to Sentry
![image](https://user-images.githubusercontent.com/18511177/80303637-10ea6c00-87cf-11ea-952a-02d74afe5d96.png)

[2020-04-26 17:40] timabbott opened #4072 "Use new API for determining which user reacted"
See https://github.com/zulip/zulip/pull/14711 and the corresponding issue thread for details, but basically:
* We now have a `user_id` field alongside the inconsistent `user` object in both the events and `GET /messages` code paths.
* The zulipchat.com/api/get-messages documentation now has basic coverage of the `reaction` element format and the changes here, though we don't bother discussing the

[2020-04-27 17:39] gnprice commented on #4049
Unblocked now that zulip/zulip#14618 is merged.

[2020-04-27 18:07] hashirsarwar commented on #4049
I am working on this issue.

[2020-04-27 18:17] gnprice commented on #3659
We had a report today [in chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/notifications.20after.20reading.20messages/near/863005) of symptoms that fall under this issue:

A couple of interesting points there:
* The app is in the background, and they aren't getting notifications.
* They eventually *do* get notifications... and by that time they've already read the messages.

[2020-04-27 18:23] gnprice commented on #2844
We just had a fresh report of this issue [in chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Switch.20on.20iOS/near/862925):

[2020-04-27 20:01] gnprice opened #4074 "Some device vendors break notifications"
I'm not sure what to do to address this, but it's past time we recorded it in the issue tracker to help keep information about it together and easy to find.

On some phones, you may need to adjust your system settings to allow Zulip to receive push notifications properly. Please try [these helpful instructions](https://help.kayako.com/hc/en-us/articles/360006456639-Why-aren-t-push-notifications-wo

[2020-04-27 21:47] timabbott commented on #4074
Is there something we can do to detect whether a phone has this property enabled for the Zulip app, to display some sort of in-app warning?  If not, we can extend/rewrite https://zulipchat.com/help/test-mobile-notifications to cover the issue well, and then have links to that article from the webapps' "notification settings" and somewhere in the mobile app that one might look at when trying to deb

[2020-04-27 23:04] gnprice commented on #4042
From your other comment, and #4071 (I had to go look that up -- reminder to please link to the issue from the PR as well as the main commit message), I think we may have a solution to the underlying issue here!

But I would still be interested in debugging so that you're able to build old versions, because that is a valuable investigative tool. A chat thread would be a good place. Please include d

[2020-04-28 02:14] ray-kraesig commented on #4057
On reviewing the code, there seems to be no mechanism that could result in the port being lost from the URL. In particular, I could not directly reproduce this on Android using a local server listening on an explicitly-named port.

However, `apns_device_token` (like its Android-side equivalent, `android_gcm_reg_id`) is almost unique among routes: it can be fetched for *any* account, not just the c

[2020-04-28 03:04] ray-kraesig commented on #4070
It sounds like you're either not receiving or not processing events from the Zulip server, for some reason.

* Do you receive messages and/or status updates from other users?
* If you run in the simulator with remote debugging turned on, do you see any errors in the developer console of the debugger UI window (`http://localhost:8081/debugger-ui/`)?
* In that same developer console you should see a

[2020-04-28 06:56] bogmihut8 commented on #4070
- I do not receive messages or other updates from the users (outside of the push notifications), only after logout/login
- didn't see any errors in the console
- for the status updates, there is no redux action at all and for the messages I get: MESSAGE_SEND_START, TOGGLE_OUTBOX_SENDING and MESSAGE_SEND_COMPLETE

[2020-04-28 16:57] cognusion commented on #3583
I noticed that in a recent mobile release, this has been resolved, and mobile uploads are appearing in the correct orientation on the mobile client! :smiley:  Mobile uploads viewed in the desktop client, however, are still unoriented, however. :cry:  Glad to see there's progress! :+1:

[2020-04-28 18:54] jainkuniya commented on #4042
So I checked out  642b2d4
- did rm -rf `node_modules` and `yarn install`
- cleaned `ios/build`
- `npx react-native run-ios`
This gave me error
[code]
Fixed it by https://github.com/facebook/react-native/issues/23282#issuecomment-476439080
- Now the iOS build is failing
[code]

- Then I opened xcode, got the same error
- Then I changed the build system to Legacy https://github.com/facebook/react-na

[2020-04-28 20:44] rk-for-zulip opened #4075 "People typeahead has a broken search-by-initials"
(Originally from observations at https://github.com/zulip/zulip-mobile/pull/4030#discussion_r416213980.)

The "search by initials" feature – which finds, *e.g.*, `Tim Abbott` with a search for `ta` – makes strange assumptions about the way in which the user's name is written.

In particular, using this feature:
* _Иван Иванов_ will be found with `ив`, but not with `ии`;
* _João da Silva_ will be f

[2020-04-29 01:36] ray-kraesig commented on #2900
For reference, the relevant (meta-)issue on the server-side is zulip/zulip#10134.

[2020-04-29 01:51] ray-kraesig commented on #4067
Confirmed. Raising priority.

[2020-04-29 01:53] gnprice opened #4077 "App uses fake blank/empty data on login, until data loads from server"
I'm about to fix this; filing as an issue to have a nice identifier to refer to it by, and to explain the whole story all in one place.

In general the app's main UI relies on actually having data from the server, because after all without that there's not much useful it could do.

In most situations, we meet that expectation by using the latest data we have from the server, if we have any, and sh

[2020-04-29 18:55] gnprice commented on #3131
Recent (unreleased, post-2.1) server versions no longer have `announcement_only` and instead have a `stream_post_policy` enum. Discussion here:
https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Add.20functionality.20to.20create.20announcement.20streams/near/855688
and docs here:
https://zulipchat.com/api/add-subscriptions

[2020-04-29 20:52] ray-kraesig commented on #4074
A relevant analysis (mostly targeted to developers) of several vendors' phones can also be found at [this site](https://dontkillmyapp.com/).

[2020-04-29 20:56] gnprice commented on #4074
(namely: https://dontkillmyapp.com/ )

One notable finding there is that Samsung can actually be quite bad too:
https://dontkillmyapp.com/samsung
The UI looks like stock Android's (as I mentioned above), but the behavior is apparently much nastier.

Some chat discussion [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/vendors.20breaking.20background.20apps/near/865388).

[2020-04-29 21:22] ray-kraesig commented on #3624
Unfortunately, `mediaType: 'mixed'` is not available on Android until `react-native-image-picker` v2.0.0; prior to that, only `'photo'` and `'video'` were available options on Android. ([v1.1.0 docs](https://github.com/react-native-community/react-native-image-picker/blob/v1.1.0/docs/Reference.md#options).)

Fortunately, using it anyway it doesn't break anything – I've just tested `mediaType: 'mix

[2020-04-29 21:27] gnprice commented on #3583
This is now getting fixed in browsers! :confetti_ball: Details here: https://github.com/zulip/zulip/issues/8177#issuecomment-621468621

Thanks to @cognusion for noticing the change (and the detailed investigation over on zulip/zulip#8177.)

I've filed zulip/zulip-desktop#946 for the desktop client to ship the update. Webapp users should see the problem resolved as their browser updates -- the late

[2020-04-29 21:45] ray-kraesig commented on #4056
Are you sure? I think just using the Markdown source (`api.getRawMessageContent`) might be a better option, even if you're not sharing to a Markdown-capable target. Simplicity-of-implementation aside, most people understand \*emphasis\* markers.

[2020-04-30 20:10] chrisbobbe commented on #4049
@gnprice, do we know the particular minimum server version that will have this flag? The above implies that such a minimum server version exists, but it's not 2.1.0. Maybe 2.1.1?

Just so we can the right comment for `zulip_feature_level` on `ApiResponseServerSettings`.

[2020-04-30 23:32] gnprice commented on #4033
@maltokyo , are you continuing to see this symptom?

I have a hypothesis that it might be tied to the Chrome version used for the WebView, in part because the timing (especially in the graph Chris posted just above) lines up with when a new Chrome release came out. If you are still seeing the issue, you might be able to help us pin that down.

Two quick questions first:
* What Android version are

[2020-04-30 23:46] gnprice commented on #4051
I had another thought about this in a conversation today with @chrisbobbe: one plausible story which would make this so-relevant-looking commit and its timing not a coincidence is:
* Chrome 81 rolled out.
* It contains some change I didn't spot in my investigation above, but which made this start being a problem, or a more frequent problem than before.
* The Chrome developers, in their own telemet

[2020-05-01 09:43] maltokyo commented on #4033
Hi @gnprice
Amazingly (I'm not sure if there was a recent update?) I don't seem to experience this at the moment. Let me test a few things and see if I can see why. But for the past one or two weeks I do not remember it happening. I'm on the version updates 13th April.

[2020-05-01 20:10] #3939 closed

[2020-05-01 21:01] #4077 closed

[2020-05-01 21:04] ray-kraesig opened #4080 "Loading spinner ring is wobbly"
![Peek 2020-05-01 13-40 trimmed twice](https://user-images.githubusercontent.com/54861490/80841523-74501180-8bb4-11ea-9267-a725142aa94a.gif)

It's tricky to tell, but I don't *think* it's an optical illusion.

[2020-05-01 21:10] chrisbobbe commented on #4080
You're right — I've noticed this too, it's definitely not an optical illusion. I wasn't sure if it was a style choice or just something wrong with the dimensions.

[2020-05-01 21:24] chrisbobbe commented on #3567
Hmm, while working on https://github.com/zulip/zulip-mobile/pull/4034, I found that, apparently, we're accessing the social auth endpoints with a double slash, every time —

`https://chat.zulip.org//accounts/login/social/google`

— and it works fine in production, but I get a 404 with a dev server. (Why the difference, I wonder?)

This isn't really related to how the realm URL is stored in Redux,

[2020-05-01 21:28] timabbott commented on #3567
We should probably be using a proper library for joining URLs rather than string concatenation.

[2020-05-01 21:53] chrisbobbe opened #4081 "Start using proper URL objects instead of string concatenation"
~~EDIT: Blocked on #3781, the RN 0.61 upgrade, unfortunately; see my comments here, up until https://github.com/zulip/zulip-mobile/issues/4081#issuecomment-622606771, below.~~ Looks like this is unblocked; see https://github.com/zulip/zulip-mobile/issues/4081#issuecomment-623716266 for a way to avoid depending on a file newly introduced in RN v0.61.

-----

Arising especially from https://github.c

[2020-05-01 21:53] chrisbobbe commented on #3567
Makes sense. I just opened https://github.com/zulip/zulip-mobile/issues/4081 for this, linking to a few other comments along these lines.

[2020-05-01 22:23] chrisbobbe commented on #4081
Ha — in fact, a React Native maintainer closed an issue, at https://github.com/facebook/react-native/issues/16434#issuecomment-580094423, citing `react-native-url-polyfill` as (apparently) the official workaround.

[2020-05-01 22:32] chrisbobbe commented on #4081
I think https://github.com/facebook/react-native/issues/25717, and probably others, listed there, is enough to say that we shouldn't use React Native's polyfill.

Consider the bug in https://github.com/zulip/zulip-mobile/issues/3567#issuecomment-622574435:

[code]

incorrectly doubles a slash if `url` (which is a `.login_url` on an item in `.external_authentication_methods` from `/server_settings`

[2020-05-01 23:15] chrisbobbe commented on #4081
Hmm, I don't think we can use any existing version of `react-native-url-polyfill`, though, until RN v0.61 (that's https://github.com/zulip/zulip-mobile/issues/3781).

[This file](https://github.com/charpeni/react-native-url-polyfill/blob/master/js/URL.js) in `react-native-url-polyfill`, which was [added](https://github.com/charpeni/react-native-url-polyfill/commit/37bb848a0c8ef60b29df12de825349f08

[2020-05-01 23:15] ray-kraesig commented on #4070
This is puzzling! But @gnprice has just pointed out to me that this is similar to behavior we've seen at #3567. Do you by any chance have a stray trailing slash on your realm, on your login screen?

[2020-05-01 23:38] chrisbobbe commented on #4081
Looks like the maintainer is quite responsive, though! https://github.com/charpeni/react-native-url-polyfill/issues/154

[2020-05-02 00:47] ray-kraesig commented on #4081
Rather than shipping a JavaScript library, would it make sense for us to make a small native plugin which just wraps an [NSURL](https://developer.apple.com/documentation/foundation/nsurl) (iOS) or [URL](https://developer.android.com/reference/java/net/URL) (Android) object?

[2020-05-02 01:03] chrisbobbe commented on #4081
Hmm, I wonder! Some quick Googling hasn't turned up anything off-the-shelf that does this. One possible explanation is because it's easy enough to do on one's own.

One question I'd have is how different those iOS and Android APIs are from each other, and whether we'd spend a lot of time reconciling differences between them, to give a single API.

Also, all of its methods would have to be asynchro

[2020-05-02 01:09] #4067 closed

[2020-05-02 01:12] chrisbobbe commented on #3567
(Opened a fix for the duplicated slashes issue as https://github.com/zulip/zulip-mobile/pull/4082.)

[2020-05-02 01:32] gnprice opened #4083 "Stop using surprising subsets of users; use `getAllUsersBy*` instead"
We have selectors `getUsersById` and `getUsersByEmail` that return maps from user IDs or emails to user objects.

Despite their names, they actually return only certain subsets of users:
 * no "deactivated" users, i.e. people who've left the organization (but you might be looking at messages they sent, or PM threads with them, etc.)
 * none of the "cross-realm bots", which are a handful of special

[2020-05-02 01:45] ray-kraesig commented on #4081
I doubt it. The syntax and components of a URL are largely specified by RFC 3986. There are a fair number of idiosyncratic auxiliary functions on both of those classes, but we probably don't care about those.

Oh right. I think that answers my previous question ("would it make sense?") with a solid "no" – race conditions or not. :sweat:

[2020-05-02 05:56] bogmihut8 commented on #4070
Well, thanks a lot ray! That was the problem, it might have took me a while to figure it out.
Everything works now :) Thank you again!

[2020-05-02 05:56] #4070 closed

[2020-05-02 18:40] timabbott commented on #4083
The main places we ignore deactivated users in the webapp codebase is for things like typeahead.

[2020-05-02 21:48] 7lym commented on #3961
Hello, this would be a useful alternative to revamping the emoji picker menu (by using groups for example, just like system emoji keyboards do).
Is this feature still part of the release roadmap? Thank you.

[2020-05-02 22:01] timabbott opened #4085 "The new UserProfile.presence_enabled setting"
See https://github.com/zulip/zulip/pull/14838 for a small new feature: a privacy setting to disable updating your presence information.

I believe the mobile apps don't need to do anything with this, since the implementation just doesn't store whatever the client sends in the `presence` endpoint.  So this issue is mainly an FYI about new behavior.

(Because of our `POST /presence` architecture whe

[2020-05-03 13:52] Maskedman99 commented on #3649
```react-navigation``` is currently at v5.x and they've changed the package names
[code]
See https://reactnavigation.org/docs/upgrading-from-4.x

[2020-05-04 18:26] ray-kraesig commented on #4083
I *think* we can safely assume that the currently-logged-in user is not a cross-realm bot.

[2020-05-04 18:58] chrisbobbe commented on #4080
Marking as "good first issue" with the hope that a fix will be as straightforward as adjusting the dimensions of the image.

[2020-05-04 21:27] gnprice commented on #4081
Indeed!

At a quick look at the implementation, it looks like most of the work happens inside here:
https://github.com/charpeni/whatwg-url
(same maintainer's fork of another project). So we could probably just import that directly and call it explicitly -- it just won't be named `URL`.

(Or anyway it shouldn't be polyfilled as the global `URL`, because it won't have the `createObjectURL` implement

[2020-05-04 21:31] gnprice commented on #4083
Yes, which is why I didn't label that one (the last on the list) as a bug. But it'll still be good to get rid of it, particularly once the others are all gone -- it's silly to go and construct a giant data structure that's just a copy of most of the full set of users, just in order to get data about the one self-user.

In any event, as I said, we can do that one last. Let's focus on the rest.

[2020-05-04 21:40] gnprice commented on #3567
We just had a report of this last week, in #4070.

AFAIK that's the first report we've heard from a user other than me. On the other hand... this user sure doesn't sound like they've been using the app since 2017 and just now hit the issue, so that means it is possible for a new user (not only a very old one) to run into in real life.

And because it hits when you first log in, and makes the app j

[2020-05-04 21:45] chrisbobbe commented on #3567
@gnprice [said](https://github.com/zulip/zulip-mobile/issues/3567#issuecomment-623722705):

Makes sense. I've got https://github.com/zulip/zulip-mobile/pull/3819 open for this, awaiting review at your convenience.

[2020-05-04 21:47] gnprice commented on #3567
@chrisbobbe Do you mean the contrast between `//api/v1/events` and `//api/v1/anything-else`? That one, I think we understand well enough for this issue:
* In the client, we're treating those routes the same way -- so that when the realm URL has a trailing slash, we send a double-slash.
* The server is giving different results, though.
* This isn't too surprising, because `/events` uniquely needs t

[2020-05-04 21:56] chrisbobbe commented on #3567
Right.

Ah, OK! It sounds like either this solves the mystery you mention [here](https://github.com/zulip/zulip-mobile/issues/3567#issuecomment-515620160) —

— or you were referring to a different mystery. In any case, it sounds relevant.

[2020-05-04 22:13] gnprice commented on #3567
Ah, yeah. The really mysterious thing to me was what *changed* on the server -- the same account where things weren't working and that caused me to report this bug, I'd used in the past and it must have worked before.

(But I wasn't sure how recently I might have used that particular test account on that device and seen things working, which helped make it hard to pin down.)

[2020-05-04 22:18] #3567 closed

[2020-05-04 22:19] gnprice commented on #4070
Thanks @bogmihut8 for the report! I think you're set now -- and I've just merged #3819 so in the next release this should be fixed for everyone, too. :slightly_smiling_face:

[2020-05-04 22:45] gnprice commented on #4056
I don't have a real strong view on this product/UX choice. I think people's preferences may differ depending on what else is in the message beyond `*`, though. For a detailed discussion the right place would probably be #mobile... but also I'd rather not spend a lot of energy discussing this product choice in the abstract -- we have plenty of issues to work on which we know a lot of people who use

[2020-05-04 22:48] gnprice commented on #2900
That looks to be about a specific additional feature, which isn't complete.

Custom profile fields in general are this feature:
https://zulipchat.com/help/add-custom-profile-fields

[2020-05-05 00:54] ray-kraesig commented on #4083
Ah, I mean that these can just use `getAllUsersBy*`, but still return `User`. That way any changes are isolated to their interior – making these potentially the simplest to deal with, rather than the most complicated.

I'm not sure what the initial mention of "cross-realm bots" is supposed to refer to, if not the return type changing.

[2020-05-05 16:20] agrawal-d opened #4087 "Webview URLs getting double encoded on iOS devices"
For example, a link like
[code]
gets changed to
[code]
on tapping it (which opens the in-app browser) and can result in a 404.

See also discussion on CZO [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/broken.20link.20bug.20report).

[2020-05-05 17:39] gnprice commented on #4083
Ah, got it. Yeah, that could be helpful.

[2020-05-05 19:29] #3951 closed

[2020-05-05 19:30] chrisbobbe commented on #4081
Makes sense!

Something that `react-native-url-polyfill` (and the `whatwg-url-without-unicode` you mentioned, which does most of the work) depends on is assigning an export of [`buffer`](https://www.npmjs.com/package/buffer) to the global variable Buffer, where, previously (at least in our current master) nothing is assigned. React Native core's buggy [polyfill](https://github.com/facebook/react-n

[2020-05-05 19:39] gnprice commented on #3949
With #4047 completing #3951, I think we've now largely done the hard part for this! We're using `remotedev-serialize` in storing our state.

The next piece is to start converting pieces of our Redux state. I'm not sure we need #3950 as a further intermediate step; probably should just start trying migration straight to `Immutable` and see what obstacles come up.

[2020-05-05 19:51] gnprice commented on #4081
Hmm, where are you seeing that? I wouldn't have expected `whatwg-url-without-unicode` to try to do any mucking with globals.

Fortunately the API is quite small -- I think we only care about the `URL` class, which mostly looks like just a bag of properties. Here's the spec:
https://url.spec.whatwg.org/#url-class

[2020-05-05 23:20] gnprice commented on #4057
Got it. Thanks for the investigation!

I think this is probably WONTFIX, then. Based on that diagnosis, these requests aren't doing any harm. This is how we enable the server to send us notifications, so if the failure is transient for any reason it's important we eventually get through. I think it therefore makes sense to just keep sending these until the end of time or unless the user actually d

[2020-05-05 23:20] #4057 closed

[2020-05-05 23:30] gnprice commented on #4075
Here's the code in question:
[code]

I agree that logic is pretty unreasonable.

The place this code is used is in autocomplete/typeahead for @-mentions.

We'll end up fixing this as part of #3902, sharing that code from the webapp.

In the meantime I think we probably may as well just delete this `filterUserByInitials` function. I doubt it's serving much useful purpose for anyone, so it just adds

[2020-05-05 23:49] #3301 closed

[2020-05-06 00:26] chrisbobbe commented on #4081
Opened as https://github.com/charpeni/whatwg-url/pull/3.

Ah, I think I should have been more specific.

- `react-native-url-polyfill` mucks with globals, at https://github.com/charpeni/react-native-url-polyfill/blob/master/index.js#L18.
- Using `whatwg-url-without-unicode` directly would mean mucking with globals ourselves.

The reason for both is that at least one [file](https://github.com/charp

[2020-05-06 02:20] ray-kraesig commented on #4057
That's reasonable, but I'd argue that there is still a bug here we want to fix – namely, the fact that we're sending up Sentry reports for something that's not a bug in the app, and is expected to occur fairly regularly.

(I think we may just want to discard errors from API calls in `sendAllPushToken`.)

[2020-05-07 00:30] gnprice commented on #4057
True, that would be good to fix!

The trick is to do it in a narrow enough way that it won't suppress some future kind of report that do indicate a bug.

In particular this seems too broad -- we could well develop a bug that causes these to start failing in general for some users. The consequence would be that they don't get notifications, so that's a high-priority thing to spot.

[2020-05-07 02:30] gnprice opened #4091 "Upgrade to a react-native-unimodules without privacy-sensitive dead code"
See [chat discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/apple.20purpose.20strings/near/869917).

We've successfully worked around this for now by including the boilerplate that the r-n-unimodules authors recommended as of the older version we're on. From our workaround commit c8d0c8df5e:

But r-n-unimodules upstream has since fixed the problem so that's not needed, and we

[2020-05-07 02:43] gnprice opened #4092 "Crash on trying to use saved password"
I ran into this just now when testing 26.28.151. I'm not aware of any recent change we've made that would interact with this, so I suspect it's not a regression and has just been an issue for a while.

Here's the sequence, as I described it in a TestFlight crash report:

That was on iOS 13.3.1, on an iPad mini 4. Crash report [here](https://appstoreconnect.apple.com/WebObjects/iTunesConnect.woa/ra

[2020-05-07 02:54] gnprice commented on #3548
Returning to this issue because #4091 is a reminder that it'd be great to be on a more recent version.

I believe at this point we've largely completed the hard work required for this:
* adjusting to the newer Flow version (#3827)
* updating to AndroidX (#3852, which I should rebase and merge)
* migrating to CocoaPods (#3987)

The remaining tasks are
* Rebase, re-test, and merge that AndroidX upgr

[2020-05-07 03:05] gnprice opened #4093 "Apple warning about UIWebView (2020-11 deadline)"
Apple sends the following warning by email when I upload a new version of the app:

I believe we don't actually use `UIWebView` -- we switched to `WKWebView` in 24.0.113, over a year ago. Unless we messed that up somehow. But `react-native-webview` at the version we're using still has code that refers to the old `UIWebView`, which is almost surely enough to explain the warnings.

Looks like I star

[2020-05-07 13:50] xendk opened #4095 "Slow loading of streams"
Started investigating this because loading our #general took around 3 seconds (some times even longer). And it's not a large stream like the one on chat.zulip.org

Switching account to chat.zulip.org, streams generally load faster than our #general (with the exception of #test here).

Switching back, I've noticed two things: The *first* load of a channel is way faster. Secondly, on the first load

[2020-05-07 20:34] chrisbobbe commented on #3548
(As discussed around [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/apple.20purpose.20strings/near/869947), I think that paragraph from my commit message for cb87f90 is correct if you remove "just like 0.6.0". I'm not sure how that made it in, but it's not true; we're happily using 0.6.0 with RN v0.59.10. My apologies.)

I also think most of the work of the RN v0.60 upgrade has