[2018-10-11 17:59] #2868 closed

[2018-10-11 20:31] jackrzhang commented on #3016
Yeah, I had also thought of these points; they make clear that the other functions *aren't* Redux reducers.

For reference, the chat discussion is the [#mobile-team stream and topic redux](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/redux).

[2018-10-11 21:29] jackrzhang opened #3043 "Rename `accounts`, `narrows`, and `messages` modules to match the state."
Copying over @gnprice's [comment from #3008](https://github.com/zulip/zulip-mobile/pull/3008#issuecomment-429018194):

I'd like to claim this.

[2018-10-11 23:02] borisyankov opened #3044 "Make sure we display correctly !avatar images"
One can include avatars via syntax:
[code]

Currently, rendering this does not work as expected.

[2018-10-11 23:10] timabbott commented on #3044
Just adding a note to this issue that #10360 was the corresponding server-side change needed to support this.

[2018-10-12 04:05] nmagerko commented on #2909
Unfortunately I wasn't part of the communication that ultimately fixed it ☹️. Sorry!

[2018-10-12 17:22] #3032 closed

[2018-10-12 17:29] #3035 closed

[2018-10-12 22:04] borisyankov opened #3046 "Mentions in new messages are not recognized"
If a new message comes that mentions the user, this is not recognized and the message is not rendered differently.

[2018-10-13 07:12] jainkuniya opened #3048 "layout: Limit the max height of compose box."
Currently compose box size can expand to whole chat screen. We should limit this height to something like every chat app does.

Both FB messenger and WhatsApp have limited this height to 6 lines of text (message).

on current master
<img width="485" alt="image" src="https://user-images.githubusercontent.com/18511177/46902580-58f3b780-cee5-11e8-9eb7-276de82e4c36.png">

<img width="369" alt="image"

[2018-10-13 09:37] jainkuniya commented on #3010
This is completely wried.
Steps to reproduce:
* re-install app on Android (run `react-native run-android`)
* This bug can be reproduced.

Now force close the app.
* reopen app.
* this bug can't be reproduced.

https://drive.google.com/file/d/1TUyaN04PZMWWKQ-d-I7aktFex7yUnQBC/view?usp=sharing

[2018-10-13 11:12] borisyankov commented on #3010
I have definitely seen that in an Android emulator, but not on my machine.

Worth trying to reproduce in a minimal app and reporting to React Native as it sounds like a bug in the `KeyboardAvoidingView` component.

[2018-10-13 11:53] armaanahluwalia opened #3052 "Compose box starts forcing capital letters"
This is a bug I've seen multiple times but is notoriously hard to reproduce. Basically when editing text, sometimes the input box gets confused and starts forcing capital letters on the user. The whole writing experience is basically unusable at that point.

If my memory serves me correctly this happens when either you paste in some text and try editing an earlier line in the message or some such

[2018-10-13 12:03] borisyankov commented on #3052
Is that iOS or Android?

[2018-10-13 12:47] armaanahluwalia commented on #3052
This is on iOS 18.0.99

[2018-10-13 12:47] armaanahluwalia opened #3053 "Autocorrect on iOS Compose Input"
Autocorrect does not behave as expected on the iOS compose message input. Basically this is very easy to reproduce. See the video for a comparison of behavior on iMessage and Zulip.

Ideally Zulip would be able to autocorrect in the middle of a sentence like iMessage does.

https://streamable.com/8w70j
https://streamable.com/glcz7

If you notice at the end of the second video the cursor jumps to t

[2018-10-14 05:40] jainkuniya opened #3054 "android: Show message formatting options in compose text input menu bar."
https://cl.ly/d4ecff026e77

<img width="434" alt="image" src="https://user-images.githubusercontent.com/18511177/46912968-8140ec00-cfa1-11e8-8669-001b8ec3364b.png">

Eg: Like **bold**, and _italic_ menu options shown in the above image.

This will help in formatting message and improve message composing experience.

@zulipbot claim

Let's first focus on #2823, because it requires changes in the RN

[2018-10-14 14:36] jainkuniya commented on #3054
BTW this can also be used in writing markdown 😄
https://cl.ly/05a8ebf7998e

[2018-10-14 14:49] jainkuniya commented on #3010
But for android we aren't using RN `KeyboardAvoidingView`, we are just returning `View`

[code]

[2018-10-14 19:47] borisyankov commented on #3054
Yeah, but this not being such a key part of the app, and people that write bold/italics on the web app will just try using the `*`s to do the effect, I don't think it is that important (even if RN supported customizing the context menus by default)

[2018-10-14 22:20] borisyankov commented on #3010
Yeah, of course :)
I did some more research, even with the `KeyboardAvoidingView` it still acts the same.
Changing the keyboard behavior in the `AndroidManifest.xml` also did not fix/affect this issue.

[2018-10-15 14:03] jainkuniya opened #3056 "search message screen: Sometimes it's very difficult to scroll message list."
https://cl.ly/25edbc8d3191

In the above GIF, even though list is scrollable but I am unable to scroll up in first two attempt.
Cause: The scroll event is captured by `Screen` component `ScrollView` instead of `WebView` (message list)

@zulipbot claim

[2018-10-15 14:30] jainkuniya opened #3058 "Search can race, showing results for a previous query"
<img width="1227" alt="image" src="https://user-images.githubusercontent.com/18511177/46956841-eab11f80-d0b3-11e8-8e2d-68d54d5a467e.png">

As user entered `h` and then `i`.
After entering `h` app releases a fetch request with search param as `h`. Before it's response is received another request is fired with search param as `hi`. Unfortunately this second request response arrived first, messages i

[2018-10-18 11:49] jackrzhang opened #3062 "debug: Update highlighted unread messages along with state.flags.read."
This was discussed with @gnprice.

<p align="center">
<img alt="debug-highlighted-unreads-not-updating" src="https://user-images.githubusercontent.com/12771126/47152236-f60d7200-d290-11e8-94e6-bb72f92e9b1c.gif" />
</p>

In the demonstration above, `state.session.debug` is:
[code]

I'd like to claim this.

[2018-10-18 20:55] gnprice commented on #3052
Fascinating! Thanks for the report.

This feels to me like the kind of bug that's very likely to be an RN bug. One useful direction to investigate would be to search the RN tracker for existing reports of it; finding one, and linking it here, would be extremely informative. (When reading RN issue threads, note that we're still on RN v0.55 as of 18.0.99, though we won't be much longer.)

Obviously

[2018-10-18 20:58] gnprice commented on #3052
(I applied the "area: iOS" label as a bit of a conjecture -- this issue feels very likely to be in a layer where the code is platform-specific, so any given issue is very likely to affect only one platform or the other.)

[2018-10-18 21:05] gnprice commented on #3053
Thanks for the report and the clear screencaps!

I suspect this is the same underlying issue as #2434 , though I don't understand this subsystem well enough to be confident that's the case.

That issue should be fixed in RN v0.57. Would you try the tip of #2789 (which upgrades us to that version) and see if this issue still reproduces there? (And if it does, also try reproducing #2434 to confirm I

[2018-10-18 21:09] borisyankov commented on #3052
I have confirmed this behavior in the past and is related to the controlled input on iOS.

[2018-10-18 21:33] gnprice commented on #3010
Hmm interesting.

I saw some behavior like this with #2919 , described here: https://github.com/zulip/zulip-mobile/pull/2919#issuecomment-424131638 . (And @jainkuniya , it looks like your second screenshot is taken from that?) But I've never seen it on any version in master.

Does the repro in the video work reliably?

[2018-10-18 22:55] borisyankov commented on #2861
Thanks for the detailed explanation.
I did reproduce it in a controlled environment and working on it.

[2018-10-18 23:51] borisyankov commented on #2861
Another update: The issue does not exist with a controlled input component.
But, I did find where and why this happens, so a fix is coming next.
In fact, it is kinda fascinating and unexpected why this happens (to be read about in an upcoming commit message)

[2018-10-19 02:30] jackrzhang commented on #3062
The current bit of code that's preventing messages in the webview from updating as they are marked as read is in `webViewHandleUpdates.js`:

https://github.com/zulip/zulip-mobile/blob/36ee9448ec47d9890346180b16cca164671643e6/src/webview/webViewHandleUpdates.js#L71

I have to further investigate; would you have any suggestions?

[2018-10-19 03:02] jackrzhang commented on #2694
@gnprice

Another two closely related items to adjust might be the `groupNarrow` and `isGroupNarrow` functions in `narrow.js`, which are identical to the `privateNarrow` and `isPrivateNarrow` functions, except that a `groupNarrow` refers to more than one email.

From the conversation in #2613, I think "recipients" is the preferred term here.

Here are possible rewordings I have in mind:
- "Create

[2018-10-19 03:59] jackrzhang opened #3063 "design: The same 'home' icon is used for the 'All messages' screen and the 'Unread' screen."
I think higher-level changes to how navigation currently works would be beneficial; at the moment though, it's pretty confusing just to see the same icon twice on the 'Unread' screen.

The web app uses a 'home' icon for 'All messages', so I think a quick improvement could be to use a different icon for the 'Unread' screen on the bottom navigation bar, even if it doesn't represent the concept of a

[2018-10-19 05:56] jackrzhang commented on #3007
This seems to have been solved by the `maxHeight` set in https://github.com/zulip/zulip-mobile/commit/f69d2acf4a709b4d13d9236d042e94d19e78074d.

<p align="center">
<img src="https://user-images.githubusercontent.com/12771126/47199955-d7f35080-d328-11e8-8aff-dd925547657e.gif" width="650" />
</p>

[2018-10-19 11:35] borisyankov commented on #3063
I agree that changing the 'Unread' icon is better. Any ideas what icon would be appropriate?

I decided to use 'Home' for that tab initially as it was supposed to have other key info in the screen, though it still doesn't ;)

[2018-10-19 11:36] borisyankov commented on #2694
I never refer to people I want to talk to as 'recipients'. Does feel like a term we would use in code (we do) and not conversationally.

[2018-10-19 11:42] borisyankov commented on #3062
Yeah, I do. Because this solution will not be performant, and might not even work - we currently refresh the content and preserve the position but not sure if it will be possible to preserve the position while scrolling and keep it looking ok.

The reason why I didn't do it yet, is that it is a bit involved for a feature that is not key or even used by the wide audience.

If I was to implement it

[2018-10-19 11:42] borisyankov commented on #3007
Indeed. That crazy height was the reason for the scrolling.

[2018-10-19 13:57] armaanahluwalia commented on #2694
I agree recipients is ok in a specific situation but not as an overall label. Why not "New Group Chat"? or  "New Group Message"?

[2018-10-19 16:24] borisyankov opened #3064 "Fix notch handling, with `SafeAreaView`"
When iPhone X was released, new functionality to iOS was added to indicate `safe area` - to help with apps handling optional notches, rounded corners or the ...

A good article explaining all this here:
https://medium.com/rosberryapps/ios-safe-area-ca10e919526f

We started using a component `react-native-safe-area` to handle this.

It isn't working perfectly and we need to fix it.
Testing on iOS X

[2018-10-19 23:38] borisyankov commented on #2861
A fix is ready.

[2018-10-20 17:07] borisyankov opened #3066 "Safe areas are not handled correctly on iPhone X and Androids with notches"
We are currently handling, but not 100% correctly, the 'screen border offsets' known as 'safe areas' on iOS.

Few related bugs:
 * iPhone X with popped keyboard has some extra space below the compose box
 * the app on Android with notches may not take up the full height of the screen

[2018-10-22 05:04] jackrzhang commented on #2694
Hm - another possible criticism of "recipients" is that it's too broad here; in that every message sent has a recipient or group of recipients.

Maybe "group PM" instead? So rewordings might be:
- "Create group" -> "Create group PM"
- "New group chat" -> "New group PM"
- "Message group" -> "Message group PM"
- "No messages in this group" -> "No messages in this group PM", or "No messages in this t

[2018-10-22 13:31] borisyankov commented on #2694
PM means nothing to a normal person :)

[2018-10-22 13:33] borisyankov commented on #2694
"New group chat" does not imply in any way that a "group" is created, the other names are misleading though.

[2018-10-22 15:09] borisyankov opened #3068 "Android: sometimes screen does not stretch completely"
An issue was reported that on certain Android phones we do not stretch the app vertically:
https://chat.zulip.org/user_uploads/2/6/xIS8p0feSQkapCQ_prj_RO0x/Screenshot_2018-10-20-17-51-25-504_com.zulipmobile.png

The concrete device is Xiaomi Poco F1.

Possible cause - the notch on top might need some special handling.

Another possible cause - our use of `https://github.com/miyabi/react-native-saf

[2018-10-22 15:46] borisyankov opened #3069 "Reduce or remove completely require cycles"
With React Native 0.57 and newer we now get a new useful warning on require cycles.

For example:
[code]

Currently, there are 32 of these.
They can be quite problematic with selectors and possibly other components that are 'eagerly' initialized.

Reducing the amount of these or completely removing them is a good goal.

[2018-10-22 19:46] jackrzhang commented on #2694
The abbreviation of "private message" as PM, especially in the context of internet forums, is not new.

[2018-10-22 20:47] borisyankov commented on #2694
`old !== established || widely_recognized`

Few times users of Zulip asked me what do I mean by 'PM', so that is not a wild guess.

[2018-10-23 00:38] jackrzhang commented on #2694
I didn't intend for that comment to imply that just because something is not new it's conventional; at the same time, just because something isn't widely recognized doesn't mean that it isn't relevant.

[2018-10-23 04:36] jainkuniya commented on #3010
Yup! I can reproduce this issue on the first launch of the app.

[2018-10-23 05:58] jainkuniya commented on #2811
This is no longer relevant.
Closing.

[2018-10-23 05:58] #2811 closed

[2018-10-23 14:57] gnprice commented on #3064
(The Poco F1 issue is #3068 .)

[2018-10-23 16:33] gnprice commented on #3046
(For more details, see https://github.com/zulip/zulip-mobile/pull/3029#issuecomment-428396766 where we discovered this.)

[2018-10-23 21:38] jackrzhang commented on #2694
The string "New group chat" only appears in the translations files, which means that it isn't being displayed anywhere on the UI. I'll submit a PR to remove it.

[2018-10-23 22:20] jackrzhang commented on #2618
A note relevant to Greg's comment above -

https://github.com/zulip/zulip-mobile/commit/7eb97b44 was merged, which combined `downloadFile.ios.js` and `downloadFile.android.js`.

[2018-10-24 20:35] #3046 closed

[2018-10-25 01:58] jackrzhang opened #3073 "Improve CompatibilityScreen text."
Two things that @gnprice and I discussed in person:
- Refer to 'Play Store' on Android and 'App Store' on iOS.
- Include links to the latest versions.

(@zulipbot claim)

[2018-10-25 09:01] fileoffset opened #3074 "Android client, UI/usability issues"
I have a number of "small" bugs I have noticed in the current android client, from the Play Store.

If you load up the app, and immediately go to a private conversation, and start typing a message, the client seems to invisibly refresh the window, and wipe out whatever you were writing when it happens.
2a. There is a perceptible lag between showing the "X new messages" alert/badge on a conversatio

[2018-10-25 15:36] sschueller commented on #2413
I have this issue on 18.0.99. Messages I write only appear after I go out of the chat and back in. It happens every time. Server is a zulipchat.com instance.

[2018-10-25 17:42] gnprice opened #3075 "Target Android SDK version 26"
Beginning on 2018-11-01 -- that's next week -- any new release we upload to the Play Store must have `targetSdkVersion` set to 26 or higher.

This is a major change. It causes all systems running newer versions of Android than our previous target (22) to treat our app with a number of behavior changes introduced by the versions since then, up to the new target -- which means 6.0, 7.0, 7.1, and 8.0

[2018-10-25 17:59] gnprice opened #3076 "Set a channel on Android notifications (minimal, to unbreak SDK 26+)"
This is a requirement of #3075 . See https://developer.android.com/guide/topics/ui/notifiers/notifications#ManageChannels .

This feature of Android O is documented here:
https://developer.android.com/training/notify-user/channels

There are a lot of useful things we could do with it, distinguishing e.g. PMs from @-mentions from stream messages, and distinguishing different accounts. None of those

[2018-10-25 18:31] anirudhjain75 commented on #3076
This was something I planned on working for the previous GSoC project, nevermind I'll be working on this.

[2018-10-25 20:42] borisyankov commented on #3073
I'd say an important thing to test first is if this component even behaves OK still :)
I don't think we've tested it recently (or ever since its creation)

[2018-10-25 23:28] gnprice commented on #2494
Tracking this in detail at #3075 ; closing this issue in favor of that one.

[2018-10-25 23:28] #2494 closed

[2018-10-25 23:48] jmandel opened #3078 "Message list only works the second time"
On the Android client, beta channel, any time I navigate to a topic I see only old messages. I have to navigate away from the topic and then navigate back to cause it to display new messages. This significantly hampers the usability of the client.

[2018-10-26 01:06] #3076 closed

[2018-10-26 01:08] gnprice commented on #3076
This was a pretty critical issue. I just went and resolved it myself; see the linked commit.

[2018-10-26 01:13] gnprice commented on #3075
Fixed #3076 ! That was the one really critical known issue.

Earlier, I spent most of today reading through the docs, which is how I produced the bulk of the tasks in the description above.

Still lots of testing to be done! Details in the description.

[2018-10-26 09:31] jainkuniya opened #3080 "isReady may remain false in MessageListWeb"
We are using `postMessage` to communicate between react app and message list (i.e WebView).
`postMessage` is acting as a bridge between whole app and webView.
Whenever there is a update in app e.g.: typing events or new message etc we send html content to WebView via this `postMessage` bridge. And similarly we get scroll, touch/click events from WebView (Message List) to react native app via the s

[2018-10-26 10:46] jainkuniya opened #3082 "webView: Apply alert word css style for alert words in message list."
[code]

like web app does.

Current master
<img width="367" alt="image" src="https://user-images.githubusercontent.com/18511177/47561782-e5689600-d939-11e8-8069-831ba46b4bea.png">

webapp
<img width="186" alt="image" src="https://user-images.githubusercontent.com/18511177/47561814-03ce9180-d93a-11e8-857c-93a9234a7be6.png">

@zulipbot claim

[2018-10-26 13:30] borisyankov commented on #3073
After that, we definitely want to update the URLs 👍

[2018-10-26 16:53] borisyankov commented on #3080
Great find, @jainkuniya Also, thanks for the quick reaction.
I have some comments regarding the code itself but will do it as a review in the PR.

Let's work a bit on researching the exact cause and time this issue appeared.
Few people reported this started for them just a few days ago. That is interesting.
It led us (at least me) to believe that some code change we did recently did introduce that

[2018-10-26 23:04] #1316 closed

[2018-10-27 02:58] gnprice commented on #3078
Thanks @jmandel for the report! These sound like pretty nasty symptoms.

A few questions:
* When did you start seeing these symptoms?
* When you navigate away from the topic, do you do it by going back out to the main navigation? Or something else?
* When you come back to the topic and now things work, are you doing anything differently than you did to go to the topic in the first place when it di

[2018-10-27 03:02] gnprice commented on #3078
Oh, I guess another question:
* When you say "old messages" vs "new messages", what do you mean exactly? Are there recent messages (like from the last few minutes/hours/days) that don't get shown; or do you get something like a snapshot of messages up to the present, and it doesn't get updated with messages people send while you're already looking at it?

[2018-10-27 03:32] gnprice commented on #3080
Hmm, this is an interesting possibility! Thanks @jainkuniya for raising this.

I agree with Boris that it seems a bit surprising that this would happen, but I think well within the range of surprising things that are possible. Also definitely agree that I want to understand clearly what other things can happen.

It remains puzzling to me that this would only just start happening to some people, go

[2018-10-27 05:04] jmandel commented on #3078
This is on Android 9. Chrome 69.0.3497.100. Here's a demonstration and explanation of what I am seeing: https://photos.app.goo.gl/hgqhu1L9MqHPYEWP9

[2018-10-27 12:42] IvanFon commented on #3074
I’m getting the same issue with multiple users in my organization on both Android and iOS. It seems to have gotten worse over time, and it’s at the point where, for some users, the app just doesn’t load messages at all.

If there’s any debug info that I could provide, I’d be happy to do so.

[2018-10-28 01:57] jackrzhang commented on #3075
I've tested the most common installation scenario on my Android Virtual Device, which is preinstalled with the Play Store via a "Nexus 5 API 28" hardware profile and a corresponding 64-bit, API 28 system image.

Here's the Zulip application in the Play Store:

<img src="https://user-images.githubusercontent.com/12771126/47610964-44500d00-da17-11e8-9194-3a1744e2c8b9.png" width="300" />

Once I pres

[2018-10-28 03:58] jackrzhang opened #3083 "layout: Add text labels to active destinations on the bottom navigation bar."
From [this Material Design article](https://material.io/design/components/bottom-navigation.html#anatomy) on bottom navigation bars:

I like the animation and styling of active destinations of the bottom navigation bar in [this particular example](https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1-Y09wDWkBCQtc96nxBzY-e0c34Aok4Dl%2Fbottomnav-icons-1a.mp4), which comes from the

[2018-10-28 15:36] gnprice commented on #3078
Thanks @jmandel for that screencast! That's helpful.

In a [chat thread](https://chat.zulip.org/#narrow/stream/48-mobile/subject/messages.20don't.20load/near/656303), we learned some further information from other users seeing similar symptoms:
* Everyone who tries your workaround of going back to the navigation screen, then re-entering the desired message view, reports that it's 100% effective fo

[2018-10-28 15:40] gnprice commented on #3080
See updates on #3078. Most happily, we have a way to reproduce!

This thread is a plausible hypothesis for what's causing #3080. The next step is to nail down whether this is really what's happening, by watching closely with the debugger while reproducing #3078.

[2018-10-28 15:40] jmandel commented on #3078
Thanks -- it looks like I was reporting the version of Chrome listed in the Play Store -- but when I view settings in Chrome itself, it's 70; so I'm probably on 70 after all (sorry for the confusion on this point).

[2018-10-28 15:44] gnprice commented on #3078
Great :) -- thanks for the update!

[2018-10-29 21:53] borisyankov opened #3087 "Unable to narrow to a certain group PM"
I encountered a case where trying to narrow to a group chat with 4 existing users is failing.
The API returns an error and the app is unable to load messages.

The issue could be that the app constructs the narrow incorrectly or could even be a server-side issue. Needs further investigation.

[2018-10-30 01:38] borisyankov opened #3089 "Rendering of `MainNavBar` is delayed on Android 9"
When navigating to a narrow, when rendering `ChatScreen` the `ComposeBox` component renders as expected but the `MainNavBar` does not render immediately but takes a bit.

This is not a critical issue, as the component renders correctly.
Still, it is good to figure out the issue which might also be present elsewhere.

[2018-10-30 17:57] borisyankov opened #3091 "Investigate layout inconsistencies in Android 9"
There are several layout bugs that exist on Android 9, possibly with the same origin.
We need to figure out if there is a single cause for them and fix accordingly.

Some of the symptoms:
* `ChatScreen` on Android 9 (it does work correctly on older versions) does not resize correctly when the keyboard is popped up, hides the nav bar and overlaps the `ComposeBox`
* `RealmsScreen`, `PasswordAuthScre

[2018-10-30 18:07] zbenjamin commented on #438
I haven't looked at the code in zulip/zulip#7459 to see what it currently does, but I was thinking that Zulip might actually want to display something other than raw unread counts. On iOS, the badge for the Messages shows the number of unread messages across all conversations, while the badge for the Facebook Messenger app shows the number of conversations that have unread messages in them. At fir

[2018-10-30 18:44] borisyankov commented on #438
These are good points. We should be conservative with the 'unread counts' and badges in general. People love heir 'Inbox zero' and if a user does not have anything urgently needing their attention, we should probably not be showing any badge.

It is worth noting that the badges on Android did not even exist prior to Android 8, and were kinda 'emulated' by the launchers to be something like 'unread

[2018-10-30 18:47] borisyankov commented on #438
To summarize my thoughts:
 * we should try to have consistent unread count between the web favicon, the iOS app's badge and the Android launcher badges (latter might be impossible due to differences in meaning between launchers and platform versions)
 * we should try to keep a low unread count, only including high priority messages or even an aggregate by narrow

[2018-10-30 19:00] #3080 closed

[2018-10-30 19:00] #3078 closed

[2018-10-30 19:35] gnprice commented on #3078
Fixed, and I've cut 19.2.102 and sent it to beta on Android! Thanks again @jmandel for the report -- please update, and enjoy a working app again :-)

[2018-10-30 19:39] gnprice commented on #3080
Copying here FTR: I investigated this a bit more while preparing #3081 for merge, and got to a more specific diagnosis of what changed in Chrome 70 that caused our code to go wrong. Here's what I wrote in a comment there:

---
OK, and while revising the commit message I thought more about what might actually be going on here -- and then I pinned it down. :smile:

The issue was here:
[code]
That `w

[2018-10-30 23:06] jackrzhang commented on #2694
I think the term 'group PM' could be associated with both  messages sent to private streams and private messages sent to more than one recipient and not associated with any Zulip stream. So, on a technical level, it might be accurate.

Messages sent directly to recipients - that is, messages not associated with a stream - might be considered a subset of all private messages.

[2018-10-31 00:38] jackrzhang commented on #2627
@gnprice I think this should have been closed with the resolution #2627 and #2677.

[2018-10-31 01:44] jackrzhang commented on #2651
(@zulipbot claim)

[2018-10-31 05:58] jackrzhang opened #3092 "message list: Show users associated with reactions."
This is a feature request! (for the longer term)

On the web application, users can see the users associated with a reaction via text that appears after hovering over the reaction.

On Slack's mobile application, a list of users associated with reactions to a message slides up from the bottom of the screen after a long press on one of the reactions to the message.

(@zulipbot label "area: message

[2018-10-31 06:13] jainkuniya commented on #3092
(#2252)

[2018-10-31 06:52] baumnkz commented on #3078
Great! It works now!

[2018-10-31 16:36] timabbott commented on #3092
Yeah, I'd really love to see this too; it's one of the few places where the mobile app just doesn't offer you information you might need to interpret message content.

[2018-10-31 16:46] jainkuniya commented on #3092
(on it)

[2018-10-31 16:50] jmandel commented on #3078
As noted on the Zulip chat, this is working for me -- thanks so much for the quick turnaround!

[2018-10-31 16:57] #3007 closed

[2018-10-31 18:06] borisyankov commented on #3010
To summarize our chat...
I am working a fix but before implementing it I'd like to know what devices are affected.
I also did reproduce on an emulator but not on a real device.

[2018-10-31 19:21] borisyankov commented on #3010
OK, confirmed that this is related to an updated `Yoga` version that is coming with RN 0.56 / 0.57
So it is a blocker for the upgrade, but luckily I did found a solution yesterday 🥇

[2018-11-01 00:17] #2788 closed

[2018-11-01 01:09] #3017 closed

[2018-11-01 01:09] #2434 closed

[2018-11-01 01:09] #3053 closed

[2018-11-01 01:18] gnprice commented on #2787
... Hmm, on the one hand I should have reread the thread more closely:

So this is something any of us can easily reproduce with an Android emulator or device. :confetti_ball: (🎊 U+1F38a CONFETTI BALL) is one handy example of an emoji that should trigger the issue.

On the other hand, I just tried that on 19.2.102 (the prod release from yesterday, for Android) on my phone, and it didn't reproduce!

[2018-11-01 01:28] gnprice commented on #2787
And indeed this is fixed in master! 👏 (U+1F44F CLAPPING HANDS SIGN) Presumably by the RN v0.57 upgrade from #2789.

Thanks again @adnrs96 for reporting this issue!

[2018-11-01 01:28] #2787 closed

[2018-11-01 02:33] gnprice opened #3098 "webview: Get HTML out of "quirks mode""
(Discovered this while working on #3040 .)

Our HTML is actually invoking "quirks mode". We should add a `<!DOCTYPE html>`.

As explained in the MDN article [Quirks Mode and Standards Mode](https://developer.mozilla.org/en-US/docs/Web/HTML/Quirks_Mode_and_Standards_Mode):

So we should move to "full standards mode". (The specs call this **[no-quirks-mode](https://dom.spec.whatwg.org/#concept-docum

[2018-11-01 04:51] rishig opened #3099 "Add badge to guest avatars."
It's a bit of a security issue for guests and members to look the same in the Zulip UI, for social engineering reasons. This affects us more than other products, since guests in Zulip are allowed to PM anybody in the organization.

Two things to mitigate:
* [ ] Add CSS to make the avatar look like this
![image](https://user-images.githubusercontent.com/890911/47808437-9fc21980-dcfb-11e8-878e-37eac

[2018-11-01 17:05] gnprice commented on #3010
To make sure this point is explicit:
* This issue seems to happen 100% of the time on the first run of the app after install.
* It's not just once -- it happens again and again, as many times as the user tries, within that first run.

That (a) is a fascinating pattern that must be a clue somehow; and (b) means that it will matter quite a bit for a user's first impression of the app. If they see it

[2018-11-01 17:47] borisyankov commented on #3010
But does that happen on real devices without Debugging enabled?
My suspicion is that it might be related to the logging and some delays.
We should try that with a newly-built APK on a phone to verify.

[2018-11-01 17:48] gnprice commented on #3010
Yeah, agree -- that'll be a good thing to check. If we can convince ourselves it only happens in debug mode, not release, then that's a different way of resolving it off the priority list :slightly_smiling_face:

[2018-11-02 01:14] jackrzhang opened #3101 "Play Zulip's custom sound for iOS notifications."
This is a follow up to zulip/zulip#10761 and #2651.

[These](https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/SchedulingandHandlingLocalNotifications.html#//apple_ref/doc/uid/TP40008194-CH5-SW3) [articles](https://developer.apple.com/documentation/usernotifications/unnotificationsound) from Apple's developer documentation seem to be rele

[2018-11-02 18:20] #2651 closed

[2018-11-02 18:54] borisyankov opened #3103 "Ensure that we do size FlatLists and SectionLists correctly"
Both `FlatList` and `SectionList` offer as the main performance benefit rendering a 'window' and not their whole contents. Sometimes in the past, by mistake, we have rendered one of these in full height but scrollable thanks to the `ScrollView` they are inside. We should review all such components and make sure that their `height` is constrained.

[2018-11-02 22:25] borisyankov opened #3106 "After creating a new stream a user seems 'unsubscribed'"
Right after a user creates a new stream, he is subscribed to it.
But they appear unsubscribed in the UI.
Restarting the app does fix this incorrect state.

[2018-11-03 08:00] xiaomingplus opened #3107 "yarn install error:detox: Command failed. Exit code: 65,and yarn ios error"
Hello,the master branch,run ```yarn install`` failed.

node:v8.12.0
yarn :1.10.1

[code]

then ,run ```yarn ios```,still failed:

[code]

anyone know how to fix it?

[2018-11-04 19:03] jainkuniya commented on #3107
hi @xiaomingplus Are you able to build `src/ios` project in Xcode?
What are your env version? Xcode, yarn, npm etc

[2018-11-05 23:01] borisyankov opened #3112 "<ZulipMobile /> is rendered twice on Android"
Quite unexpectedly `<ZulipMobile />` is rendered twice on Android in debug mode.
It does work as expected on iOS, it renders once.
It is good to fix even if this happens only during development but is critical if it happens during production (needs to be checked)

Rendering `<ZulipMobile />` produces double the initial fetches and possibly causes other unpleasant side effects.

I found an issue re

[2018-11-06 00:25] borisyankov opened #3113 "Notifications are not showing in Android's emulator"
It will be very useful to have the notifications working inside the Android emulator, as then we can test on varied platforms. This issue might be related to the notifications not working inside BrowserStack.

[2018-11-06 00:48] borisyankov opened #3114 "Do not show notifications if the app is active"
If the app is on-screen, currently being used, do not show notifications!

[2018-11-06 01:50] jackrzhang commented on #3075
I've tested this on my emulator, running a Nexus 4 API 28 hardware profile, per the instructions from the [documentation](https://developer.android.com/about/versions/nougat/android-7.0-changes#screen-zoom):

The application seemed to respond as expected - I changed either "Display size" or "Font size" in the settings, and the application UI updated automatically and accordingly across the entire

[2018-11-06 02:02] jackrzhang commented on #3101
For reference, "this sound" is referring to the audio from any file currently named `zulip.mp3` in either zulip/zulip or zulip/zulip-mobile; they're all the same sound.

I wouldn't mind using a more noticeable or distinct sound :) @borisyankov Would you have the links for past discussions on this?

[2018-11-06 02:49] #3113 closed

[2018-11-06 03:06] jackrzhang opened #3115 "android: Fix use of `WRITE_EXTERNAL_STORAGE` permission."
This is part of https://github.com/zulip/zulip-mobile/issues/3075.

This error from React-Native comes up on the debug build when I try to download an image on an emulator running API 28:

<img src="https://user-images.githubusercontent.com/12771126/48040419-b0282900-e12d-11e8-959d-b4fbedd15e17.png" width="320" />

On an installation from Play Store, the app crashes.

See [this document](https://d

[2018-11-06 03:59] xiaomingplus commented on #3107
Xcode: 10.1
yarn :1.10.1
npm: '5.10.0'
node:v8.12.0

Xcode also can't build.

[2018-11-07 01:12] gnprice commented on #2618
@jackrzhang just fixed the iOS side of this, with #3072 !

The codepath where the problem lies is actually totally separate between platforms, so Android will take a separate fix. Just now it's blocked by #3115 , which prevents downloads from working at all on Android; after that we'll come back and complete this.

[2018-11-07 02:12] #2483 closed

[2018-11-07 02:26] gnprice opened #3117 "Messages disappear on send"
@sschueller reports:

The report was originally a comment on #2413, an issue with very similar symptoms; but as discussed there, we fixed an issue back in July that I'm pretty sure was the cause of most, if not all, of the reports of those symptoms back then. So this is likely to be a completely separate issue.

[2018-11-07 02:34] gnprice commented on #3117
I actually ran into symptoms like these myself earlier today; 19.2.102 on Android.

For me, the sequence was:
* I followed a notification, landing in a PM conversation. (A group PM conversation, I think.)
* I typed and sent a message in reply.
* The message promptly disappeared.
* I typed a second message and sent it; same thing.
* I hit the "back/up" button at the upper left to return to the main

[2018-11-07 03:03] gnprice commented on #3092
Closing as a duplicate of #2252 .

[2018-11-07 03:03] #3092 closed

[2018-11-07 22:15] gnprice commented on #2634
Update on this:
* [x] The necessary machinery on the server is done! This was zulip/zulip#10094 , and see design discussion in zulip/zulip#7459 .
   * The machinery is present in the 1.9 release, complete with code to notify the Android app (via GCM) when a message that caused a notification is read; but we kept that code disabled for 1.9, because the Android app prior to 16.2.96 (released 2018-08

[2018-11-07 23:09] gnprice opened #3119 "[iOS] Clear notifications when messages are read on desktop/web"
This is a twin of #2634 . That issue covers the remaining steps to get this feature to Android users. All the essential logic for that is in server release 1.9 plus mobile's `master` branch (and so the next release), and what's left is a matter of release management.

For iOS, the situation is a bit different. @borisyankov and I spent some time the other day looking through both our code, and Appl

[2018-11-07 23:15] gnprice commented on #3119
Here's some notes:

* We don't currently have any client-side code of our own (as we do on Android) to manage notifications in the UI. Instead, they're generated 1:1 by the platform from APNs messages ("push notifications" in Apple's terms, but they use that term ambiguously for the resulting bits of UI too) as dictated by the Zulip server.
* So, each Zulip message that causes a notification corre

[2018-11-07 23:22] borisyankov commented on #3119
That is an interesting challenge.
We do not need to have 'one silent notification per message read'.
We can batch a lot of message ids into one of these. That will lead to quite a delay but would still be useful.

Dismissing notifications even 10-20 minutes after being delivered is still good, as a phone sitting idly with notifications growing will just pleasantly dismiss most of these before the

[2018-11-07 23:47] gnprice commented on #3119
Yep, I think that's basically the kind of behavior we need -- batched updates limited to 2-3/hr, and actively updating when the app is in the foreground. It'll just require some more wrinkles to implement.

(For example, say we send a "silent notification" that things have been read, and then a minute later the user gets another notification and promptly reads that message too. We don't want to se

[2018-11-08 19:10] borisyankov opened #3120 "Retry failed message sends"
In `trySendMessages` we do send `outbox` messages.
If we fail to send them we are not retrying.

We are 'randomly' retrying by dispatching `dispatch(trySendMessages());` in few places:
 * when a new message is sent
 * on initial message fetch
 * on connectivity state change

We should probably replace all these with a loop that periodically retries, regardless of these specific conditions.

[2018-11-08 21:21] sentry-io[bot] opened #3122 "TypeError: TypeError: undefined is not an object (evaluating 'e.display_recipient')"
Sentry Issue: [ZULIP-MOBILE-QP](https://sentry.io/zulip/zulip-mobile/issues/756829048/)

[code]

[2018-11-09 02:27] jackrzhang opened #3124 "lightbox: Download manager fails to download from {image_url}."
This is a follow-up to #3123 (and *I think* the last step of #2618)!

After a user grants `EXTERNAL_WRITE_STORAGE` permission in order to download an image, this error is thrown (screenshot from an emulator running the debug build):

<img width="300" src="https://user-images.githubusercontent.com/12771126/48239470-dcd57e00-e383-11e8-95c7-4e90499d2790.png">

(@zulipbot add "area: android")
(@zulipb

[2018-11-09 03:44] gnprice commented on #3124
Quick note from our web searching just now:

https://developer.android.com/reference/android/app/DownloadManager.html#STATUS_FAILED

Not a ton of information in that code, but that at least is very likely what the 16 is.

[2018-11-09 20:01] timabbott opened #3126 "Fix "Login with SSO" in the mobile app."
From https://github.com/zulip/zulip/pull/10788#issuecomment-437301602: @gnprice @borisyankov it appears that the mobile implementation of SSO login accidentally has the trailing slash stripped for `/accounts/login/sso`; my guess is the right fix here is to just change that end (since the general convention for the Zulip webapp is trailing slashes in URLS; it'll redirect to add the slash if omitted

[2018-11-09 22:05] gnprice opened #3128 "Numeric emoji don't work in autocomplete or add-reaction"
The emoji :one: , :two: , ..., :keycap_ten: show up in autocomplete and the add-reaction UI when you start typing them as `:1:`, `:2:`, ..., `:10:`. But then
* in add-reaction, if you choose one of them it silently fails -- no reaction appears.
* in autocomplete, if you choose one of them it comes out as a literal `:1:` etc.

The webapp and server seem to call them `:one;`, ..., `:ten:`. Perhaps a

[2018-11-09 22:12] gnprice opened #3129 "Numeric one-digit emoji have too-subtle glyphs"
The emoji `:one:` through `:nine:` don't show up right, in two different ways:
* In a message body, they're just the plain digits, in white -- which makes them totally invisible in light mode!
* In a reaction, they're again just the plain digits, making them much too subtle -- one reaction of `:one:` reads as simply "1 1".

Instead they should display like they do in the webapp, with a background

[2018-11-09 23:36] gnprice commented on #2806
OK, having now read #2983, this is indeed the issue that's aimed to fix. Let's consolidate discussion on the original report #2784 , and the PR.

[2018-11-09 23:36] #2806 closed

[2018-11-09 23:37] gnprice commented on #2784
OK, having now read the code in #2983: that fix matches the pattern I just described.

More detail in #2806 (which I just closed as a dupe of this), including screenshots from Chrome devtools of our malformed requests and the server's responses.

[2018-11-09 23:44] gnprice commented on #2784
I've updated the description at the top.

Another symptom -- I deduced this from the proposed fix in #2983, and just went and quickly reproduced:
* If someone else just reacted to a message while you were looking at it (i.e. while the app already knew about the message, I think), then tapping on the reaction doesn't do anything. It should upvote it.

[2018-11-10 00:49] gnprice opened #3130 "Image upload in stream narrow goes to wrong topic"
Steps:
* Narrow to a stream, and open the compose area.
* Edit the topic.
* Upload an image -- I just now tested with an existing image, but I believe using the camera has the same result.
* The message doesn't go to the topic you asked for! Instead it goes to... the topic of the latest message visible, maybe.

This is a common experience when intending to start a new conversation.

[2018-11-10 00:50] gnprice commented on #3130
#2887 makes a lot of changes to uploading images; I believe one effect is to fix this issue.

[2018-11-10 01:03] gnprice opened #3131 "Stream creation is missing some recent features"
@rishig mentioned that some recently-added features that show up when creating a stream haven't been implemented for mobile.
* One is "private with shared history": #2683
* I don't know what the others are.

@rishig , would you comment with the others you know about?

[2018-11-10 01:15] gnprice opened #3132 "Test out onboarding flows and identify issues (late 2018)"
It's been a while since we spent some time trying out the different flows for a user new to Zulip or to the mobile app. This is an area where we're at high risk of not noticing an issue ourselves or hearing reports from users, because developers and enthusiastic users don't go through these flows in our own normal usage.

Or put another way: this is an area where issues can have an effect way out

[2018-11-10 01:25] gnprice opened #3133 "PMs screen doesn't show many conversations"
The PMs screen shows the PM conversations we've been in recently, but "recently" may be as few as the last 100 PM messages. For a user that heavily uses PMs, this can leave out conversations even from a day or two ago.

One user reported an example as a typical experience: they're looking for a specific conversation, and the last message in it was 3pm yesterday. It's 3:30pm at the time they look,

[2018-11-10 01:37] #3126 closed

[2018-11-10 01:49] timabbott commented on #3133
With in part this issue in mind, the Zulip backend as of Zulip 1.9 added a nice database index for PMs that a given user has received; so we can very quickly do queries on that data.

The really dumb version that could be done with the API today would be to do a `GET /messages` `is:private` narrow query, but that would be a lot of data over the network.  Probably what we should actually do is writ

[2018-11-10 01:50] timabbott commented on #3132
This sounds great.

[2018-11-10 01:57] borisyankov commented on #3133
Yeah, indeed the mobile app does not need the unread data. One of the bug that @rishig encountered was that he knew there were unread PMs (correctly) but couldn't see them because of the 100 messages limit.

It would be great to return the first message's raw content in the response for each PM entry so we can include a 'conversation preview' in the list like most other apps do.

[2018-11-10 03:03] #3115 closed

[2018-11-10 03:13] gnprice commented on #2812
(See #2824 for a PR to do this.)

[2018-11-10 04:07] timabbott commented on #3133
OK; the message raw content feature would be some extra work (it will probably require an extra DB query and thus have a small perf impact) but not too much.  That probably suggests we should use a dict data structure, not a tuple, e.g.
[code]

In any case, I'd probably want to start with a v1 that just provides the data needed for doing the current UI correctly, and then extend from there.

[2018-11-11 11:58] JayjeetAtGithub commented on #3130
I checked just now. This issue is solved

[2018-11-11 12:01] JayjeetAtGithub commented on #3130
I would like to work on this issue

[2018-11-12 06:06] codebit-de commented on #3126
I'll test the next beta app und report my results.

[2018-11-12 14:59] 0rmi opened #3135 "Custom emoji in the emoji picker and auto complete?"
Unless it's some bug in my app, custom emotes don't show up in the auto complete list when you start typing :emotename and also can't be found in the emoji picker. Any plans to implement this? Alternatively, could someone point me in the direction of the piece of code where the app grabs the list of emotes to display for auto complete, and the emote picker, so maybe i can try to implement it in my

[2018-11-12 17:34] gnprice commented on #3135
Thanks @0rmi for the report!

We're tracking this issue as #2846 .

[2018-11-12 17:34] #3135 closed

[2018-11-12 18:17] anoukruhaak commented on #2877
Hello! My community just started using Zulip and though we love it, we have noticed a host of issues around notifications for mobile. Android seems to be worst (no notifications show up for several users), but iOS also only shows notifications when someone is specifically mentioned (and there's never a red badge shown). I am happy to investigate and find a solution, but the notes above seem to pot

[2018-11-12 18:29] borisyankov commented on #2877
@anoukruhaak these problems sound serious but are likely not addressed directly by this issue. We have started working actively on the list above but implementing all of the listed tasks will probably take a few months.

We consider the notifications to be a core functionality and any issue we find and can resolve is of highest priority. So, if let's continue in a separate GitHub issue. We can als

[2018-11-12 19:18] 0rmi commented on #2846
@agzuniverse @gnprice reading through these commits, do I assume correctly that the issue is fixed in agzunierse's fork and I could get working realm emotes already by building his code?

[2018-11-12 20:35] gnprice commented on #2784
Just added label `upstream: other`, because it turns out (as we learned [just now on the PR](https://github.com/zulip/zulip-mobile/pull/2983#issuecomment-438019051)) that the type error at the root of this issue is one that Flow completely fails to catch. :-/  The Flow issue is facebook/flow#6871 .

[2018-11-12 20:39] #2784 closed

[2018-11-12 21:31] jackrzhang commented on #3124
This reproduces only on zulipchat.com, so I bet the issue is that the download isn't being authenticated properly (as documented in #2618).

[2018-11-12 22:50] gnprice commented on #3052
This was most likely fixed the same way as #3053 -- either by switching the input to uncontrolled, or by the RN upgrade just before that :slightly_smiling_face: . Closing, but please reopen if reproduced on master, or on the upcoming 20.0.103 or later.

Thanks again @armaanahluwalia for the report!

[2018-11-12 22:50] #3052 closed

[2018-11-12 23:46] borisyankov commented on #3074
@IvanFon we did merge a fix and did a release about messages not loading a week ago (it was related to a new Chrome version breaking things)

@fileoffset this #3065 should fix the wiping out of text you've typed.

About the mismatch or lag between different messages being shown, loaded, considered unread... it is complicated, but we are working to make them more predictable.

[2018-11-13 04:18] xiaomingplus opened #3138 "Can't click new stream link at chat stream"
ios 12,is it expected? I can't click the  Notification Bot's reminder message stream.

![photo_2018-11-13_12-16-04](https://user-images.githubusercontent.com/7547308/48390625-f12bc900-e73d-11e8-811b-90a819226fa4.jpg)

[2018-11-14 03:30] gnprice commented on #3073
Bumped the priority because completing #2634 will require us to activate this mechanism for old Android clients -- and before we do that we want to complete this change, and get a release with it out to the Play Store, so that when someday we activate this mechanism for a second time the experience is nicer. :)

[2018-11-14 04:26] jackrzhang opened #3139 "message list: Top bar becomes white after switching to landscape orientation from the lightbox."
Here's a screenshot, simulating an iPhone 7 running iOS 12:

<p align="center">
<img alt="top-bar-becomes-white-bug" src="https://user-images.githubusercontent.com/12771126/48460034-a92e9580-e781-11e8-9cdb-46fb8e358c02.gif" />
</p>

(#2962 and #2965 are also observable.)

(@zulipbot add "area: message list" "area: iOS")

[2018-11-14 04:48] jackrzhang commented on #3063
Maybe the [comments icon](https://fontawesome.com/icons/comments?style=regular) could be appropriate here?

![image](https://user-images.githubusercontent.com/12771126/48460801-84d4b800-e785-11e8-96aa-bf155b3a4143.png)

@gnprice Any thoughts?

[2018-11-14 05:40] rishig commented on #3063
I like the idea of the unreads screen being the "Home" screen, and de-emphasizing "All messages".
And we can replace the icon on the webapp as well; the reason it's a Home icon is for historical reasons.

Maybe some options:

The top half of
![image](https://user-images.githubusercontent.com/890911/48462215-2f4fd980-e78c-11e8-8da0-f48202c79c7e.png)

![image](https://user-images.githubusercontent.c

[2018-11-14 07:05] jainkuniya commented on #3139
Just tested will be fixed by #2810.

Thanks @jackrzhang for tracking this in a issue 👍

[2018-11-14 07:08] jackrzhang commented on #3063
I was thinking of the 'Unread' screen.

Just a data point - I've actually never used the 'All messages' feature on neither mobile nor web!

@rishig Are those icons all from font awesome? It's possible that icons from different sets might look a bit odd in conjunction.

[2018-11-14 07:13] jainkuniya commented on #3063
![screenshot_20181114-124229__01](https://user-images.githubusercontent.com/18511177/48466107-d83d1980-e80a-11e8-8cc5-95abb835fb54.jpg)

Slack uses this icon for all threads

[2018-11-14 08:47] borisyankov commented on #3063
BTW, we are using Feather Font for the UI of the mobile app, not Font Awesome.

[2018-11-14 21:40] jackrzhang commented on #3124
Posting the corresponding thread on czo here: https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Android.20auth.20on.20zulipchat.2Ecom

[2018-11-14 21:43] jackrzhang commented on #3063
Ah, thanks for clarifying that!

[2018-11-14 21:46] jackrzhang commented on #3063
I think the image of multiple files aligned in a stack fits, but I'm not convinced that the "map" concept is obvious for this context.

[2018-11-14 22:30] timabbott opened #3142 "Support subdomain changes without user login/logout"
Occasionally, we end up renaming a subdomain on zulipchat.com (often because of the company changing names, being acquired, etc.).  Currently, this results in the mobile app starting to get this error block on the server:
[code]

Empirically, this seems to result in the mobile app posting to the server several times a minute trying to do things, and repeatedly getting this error.  It's also of cou

[2018-11-14 22:46] borisyankov commented on #3142
I am a fan of (3) It is basically an HTTP 301 for the API.
When we get this type of error on an API call we will change the 'realm' value.

We should investigate (1) also, as I suspect we are still not handling gracefully unknown but permanent errors. I guess we should see if we can determine the permanent-ness of an unknown error...

One such error that we are not yet handling - Yago reported in

[2018-11-14 23:36] timabbott commented on #3142
Yeah, I think any "API key invalid" error should probably log the user out assuming their API key was invalidated.  Let's move the API key invalidated version of this to a separate issue.

[2018-11-15 17:56] gnprice commented on #2559
Bumped the priority because we just heard (on support@) from a user who's running into this issue -- making messages unreadable.

[2018-11-16 17:43] jainkuniya opened #3147 "Inconsistency between activity text and activity indicator in title."
<img width="352" alt="image" src="https://user-images.githubusercontent.com/18511177/48637878-f9615e00-e9f4-11e8-8d5b-82d936047299.png">

In the above image, activity text is "Active Now", but indicator color is not green. It should be green.

@zulipbot claim

[2018-11-16 17:54] borisyankov commented on #3147
I suspect the color indicator is the incorrect one 😄

[2018-11-16 17:55] borisyankov commented on #3147
We might want to get rid of the intermediate yellow state altogether and be either no indicator or a green dot.

[2018-11-16 18:48] timabbott commented on #3142
OK.  For (1), I assume one of the folks who do both backend and mobile development will do the PR, since it should be pretty simple on the backend side and it's mostly about actually testing the thing.

[2018-11-16 18:52] timabbott commented on #3142
(I should add that this is a reasonably common situation.  A lot of organizations are importing data from HipChat/Slack/etc., and because a lot of the time folks will try out Zulip first with the reasonable subdomain for their organization, and then want to reuse the subdomain for a "new" organization with all their historical data imported).  We try to mitigate it by telling people they need to r

[2018-11-16 19:00] borisyankov commented on #3142
Good to know that this error is more frequent than what I would have guessed.

I mentioned the "API key invalid" earlier because I think for (1) it is basically the same behavior and we should check if we can treat it like the same case, that is if we do purely a logout.

I am imagining from a coding perspective it might be better to have the response be always an error code with some additional d

[2018-11-16 19:50] kalzekdor opened #3150 "Use a distinct Zulip notification sound, on Android"
I've recently started using the Zulip client for Android. One thing that seems missing is the option to use a custom notification sound. Any notifications use the default notification sound. I heavily prefer having different notification sounds for different things, so I can tell without looking at my phone what's asking for my attention. The ability to customize the notification sound is a major

[2018-11-16 20:34] borisyankov commented on #3150
Thank you for raising this issue. I can see how that is important.
We have thought about that but I don't think we considered this a priority.
The more we hear about a certain feature requested, the more we bump it up.
Do you expect the default sound to be different/better or customizable and be able to be set by you? (I think the first option, being simpler has better chance of being implemented

[2018-11-16 20:42] kalzekdor commented on #3150
I'm not sure what you mean by a different default sound. It's using the default notification sound as dictated by Android. I can change this in the Android settings, so it's not a problem with the particular sound. I would definitely like to be able to set a customized sound particular to Zulip.

Having this on the roadmap is good enough for me. I don't have any experience with Android development

[2018-11-16 20:47] gnprice commented on #2814
Thanks @jainkuniya for reporting this!

I believe it was fixed last month with Boris's 2fd7ba5ef.

[2018-11-16 20:47] #2814 closed

[2018-11-16 20:58] borisyankov commented on #3150
I think I did explain it incorrectly. I meant different default sound for the Zulip app (not the system).

 But if you are interested in trying to do it yourself, would be even cooler. 👍

[2018-11-16 21:09] kalzekdor commented on #3150
No, I was referring to the sound played by the push notifications.

[2018-11-16 21:33] borisyankov commented on #2660
I think that day is today :) (for the PR review part)

[2018-11-16 23:12] #2859 closed

[2018-11-16 23:51] gnprice commented on #2295
The symptoms of this appear to have changed: @borisyankov investigated recent reports of following a notification leading to the screen being blank white except for the compose box, and determined it was caused by this issue.

[2018-11-17 01:38] #3043 closed

[2018-11-17 01:52] #2861 closed

[2018-11-17 02:48] #3103 closed

[2018-11-17 02:56] gnprice commented on #2693
We learned more about this in #2706 ; see comment thread there, and [this chat discussion](https://chat.zulip.org/#narrow/stream/2-general/topic/Unicode.20Emoji.20Accessibility).

[2018-11-17 09:51] jainkuniya opened #3152 "For some private narrow, nav bar is not rendered till message list is not scrolled."
![screenshot_20181117-151718__01](https://user-images.githubusercontent.com/18511177/48659784-463c4780-ea7c-11e8-9e92-6b6aa8564f73.jpg)
 For some narrow, I can reproduce it every time, while for some other PM narrow I can't reproduce.

[2018-11-17 15:36] borisyankov commented on #3152
Yeah, me and @gnprice noticed that weird issue.
That is Android-specific and is almost certainly related to our RN-upgrade + SDK upgrade.
We should investigate https://github.com/facebook/react-native/issues/

[2018-11-19 18:17] gnprice commented on #2374
We just had another report of this. The user was most likely on the latest version (which went out last week), 20.0.103.

[2018-11-20 00:49] jackrzhang opened #3155 "Await compatibility check prior to rendering the rest of the application."
I've noticed this while working on #3073 - the 'Unreads' screen is displayed for a moment, and then the compatibility check is resolved and the compatibility screen pops up:

<p align="center">
<img alt="compatibility-screen-not-awaited" src="https://user-images.githubusercontent.com/12771126/48743975-4bcf9400-ec1a-11e8-8890-e099c2d50bea.gif" />
</p>

This is happening because the `checkCompatibil

[2018-11-20 01:00] jackrzhang commented on #3155
As another piece of context, this is the component hierarchy currently rendered by `ZulipMobile`:
https://github.com/zulip/zulip-mobile/blob/b6bf38a3ce0e561fdba1fc1e55fa360ed2c84d0c/src/ZulipMobile.js#L22-L36

[2018-11-20 01:08] borisyankov commented on #3155
I agree this will be a smoother experience... but only in cases where you fail the compatibility check.
In all the other case about %99.99 of them (currently actually 100% as we haven't used it :) ) there will be a delay in rendering the UI.

[2018-11-20 01:34] jackrzhang commented on #3155
Yeah - the delay would be unavoidable. It be pretty seamless if it fit into the timing of the spinner; I haven't looked at the code for that yet.

[2018-11-20 03:03] #3082 closed

[2018-11-20 22:50] gnprice commented on #3155
The check will inherently sometimes be slow, and so sometimes we're going to get a negative result after we've already displayed the normal UI (unless we delay the UI by a lot when the check is slow, which is a bad tradeoff.) That means this sequence will always be possible.

If there were an easy way to start the check request sooner, that'd be a nice small improvement; but we're already doing it

[2018-11-20 22:50] #3155 closed

[2018-11-21 01:09] #2797 closed

[2018-11-21 01:09] #3139 closed

[2018-11-21 04:21] fileoffset opened #3162 ""No messages" when there are messages"
On Android, latest client from Store.

Seems to be a new bug/regression.

Sometimes when opening the app, and then opening a private conversation, the app shows new messages but when you click through to the private chat, no messages appear and an error is shown.

If you go back, and then re-enter the conversation, the messages reappear.

[2018-11-21 19:16] gnprice commented on #3117
A possible cause of these symptoms would be if we're not getting the `message` events for some reason, e.g. that we've stopped getting events from the queue entirely. That was the effect of last spring/summer's bug mentioned above. If that's what's happening in this issue, then the symptoms will have been greatly mitigated in last week's 20.0.103 release, with #3094.

Alternatively, @borisyankov p

[2018-11-21 19:19] gnprice commented on #3162
Thanks @fileoffset for this report! We've seen a couple of similar reports, but hadn't yet made a proper issue to track it. I'll add our other information here so it's in one place.

We have a possible diagnosis for the bug and are working on a fix; see #3151 .

[2018-11-21 19:30] gnprice commented on #3162
Several people report showing "no messages" in a conversation that definitely has messages, shortly after opening the app.
* Reports of this so far are all on 20.0.103; first one was Nov 14.
* One report was on the "All messages" view.
* In one screenshot, the "1 unread message" banner appears, above "No messages with this person".
* All reports find it's fixed by going back and then re-entering t

[2018-11-22 02:06] gnprice commented on #3015
An update on how to approach this, something I learned from studying `reselect` and `react-redux` after reviewing #2450: in many of these selectors, we really wouldn't get a meaningful benefit from `createSelector` even if we used it correctly! For example:
[code]
This should just be
[code]
(Also it should be renamed by s/Active//.) Even if we used `createSelector` correctly, what the resulting se

[2018-11-27 14:23] armaanahluwalia commented on #2760
@gnprice This is not the most helpful comment but I feel like this should be a high priority issue.

[2018-11-27 15:18] timabbott commented on #2760
I think that actually is a helpful comment; this probably should be on our P1 list.

[2018-11-27 15:34] armaanahluwalia commented on #2623
I just faced this issue. I feel like this would be a great UX improvement. At least for the use-case of being able to reference one conversation from another within the app.

[2018-11-27 23:48] gnprice opened #3169 "Reactions display today's glyph instead of original, when name has changed glyphs"
Here's a reaction from early this year on chat.zulip.org, which used `:smile:` to mean 😄 aka U+1F604 SMILING FACE WITH OPEN MOUTH AND SMILING EYES:
![image](https://user-images.githubusercontent.com/28173/49118585-b9eb0b00-f259-11e8-97cf-7712b82f0dcb.png)
![image](https://user-images.githubusercontent.com/28173/49118639-f4ed3e80-f259-11e8-91cc-26ccbae2cedd.png)

Today, `:smile:` means :relaxed: ak

[2018-11-28 03:04] #2846 closed

[2018-11-28 03:04] #2129 closed

[2018-11-28 03:04] #3129 closed

[2018-11-28 03:04] #3169 closed

[2018-11-28 03:15] gnprice commented on #2956
One example mismatch I noticed while fixing #3129 (described in a9f2666d6):

[code]

[2018-11-28 03:23] gnprice opened #3171 "Support Zulip extra emoji, i.e. `:zulip:`"
The "Zulip extra emoji" -- of which there's just one, namely `:zulip:` -- render fine in message bodies, but don't autocomplete in compose, don't appear in the emoji picker when adding a reaction, and don't render in reactions.

This issue is parallel to #2129 and #2846, which were for "realm emoji" i.e. custom user emoji. The fix will look a lot like the relevant pieces of #3170, which fixed thos

[2018-11-28 07:52] SerekKiri opened #3172 "Messages are not loading properly"
I'm using **xiaomi redmi 4x** with miui **9.6.5.0** for zulip. When I enter the app, I can see notifications that someone send something on one of the topic but when I enter this topic, messages are not loading. I need to click *Mark as read*, after that they're loading properly (It's happening everytime, not just sometimes and I know this issue is not only on my phone).

I can't find issue simila

[2018-11-28 08:38] siddhpant commented on #3172
Sometimes it also says no messages to show (or something like that).

[2018-11-28 08:38] borisyankov commented on #3172
@SerekKiri we are working on an issue that is similar to this one but not exactly the same.

Can you answer these to point us in the right direction:
* When this happens, do you enter the app through a notification?
* By 'not loading' do you mean you are seeing a message loading indication but the messages do not appear or are you seeing messages but they are the old ones and you are not seeing th

[2018-11-28 08:39] borisyankov commented on #3172
The last comment you just did matches the issue we are fixing in #3151

[2018-11-28 08:49] SerekKiri commented on #3172
It's happening by entering app by notifications and just opening it too.
By 'not loading' I mean that I can see old messages, but the new one are loading only after pressing "Mark as read".

[2018-11-28 10:12] siddhpant commented on #3172
@borisyankov Not quite. The PR is about opening the app through notification.

Here, I have opened manually, no notifications and no new messages (but it primarily happens when there are new messages).

![Message not shown](https://i.postimg.cc/T3G9KB0M/Screenshot-2018-11-28-15-35-17-698-com-zulipmobile.png)

The language is Hindi, but it's the same thing.

[2018-11-28 17:38] gnprice commented on #3172
@siddhpant The issue you're describing is #3162 . I just edited the title of @borisyankov 's #3151, which fixes it, to reflect that it's broader than just from notifications :).

For any further discussion of that issue, let's use that issue thread and PR thread.
---

@SerekKiri Thanks for the report! I think this is an issue we haven't seen before.

The fact that hitting "Mark as read" resolves t

[2018-11-28 18:39] SerekKiri commented on #3172
Yes, I'm trying to scoll down. It seems like loading but nothing happend (I was waiting 5 minutes with internet connection ofc) and it's load only after clicking "Mark as read".

[2018-11-28 19:35] siddhpant commented on #3172
@gnprice @borisyankov Here's how it happens... https://imgur.com/a/P36fWuR

Sorry, had to censor out the chats, hope you understand that.

[2018-11-29 09:42] jainkuniya opened #3175 "feature, home screen: Add ability to mark messages in bulk, mute topics etc"
Issue:

Solution:

https://material.io/design/interaction/selection.html

Read more at https://chat.zulip.org/#narrow/stream/48-mobile/topic/muting.20topics.20or.20mark.20as.20read

[2018-11-29 09:49] jainkuniya opened #3176 "home screen: Jitter on Scroll."
@armaanahluwalia reported:

[Link to video](https://streamable.com/4zfjg)

This is a upstream issue.

Read more at https://chat.zulip.org/#narrow/stream/48-mobile/topic/Jitter.20on.20Scroll

[2018-11-29 10:21] borisyankov commented on #3175
The upstream issue is here:
https://github.com/facebook/react-native/pull/22025

This affects our unread screen `UnreadCards`, all users screen and user picker screen (that use the `UserList` component)

[2018-11-29 11:03] borisyankov commented on #3176
The upstream issue is here:
https://github.com/facebook/react-native/pull/22025

This affects our unread screen `UnreadCards`, all users screen and user picker screen (that use the `UserList` component)

[2018-11-30 15:58] mbuotidem opened #3178 "npm run test not working"
I just cloned the latest version of zulip-mobile to work on it and after setting everything up (I.e getting it to run on my android) I decided to run 'npm run test' before making any changes. However, the command does not run and states "Windows Subsystem for Linux has no installed distributions.

I found this weird because I've successfully run the test before so I restored the old version of zul

[2018-11-30 17:33] borisyankov opened #3179 "Tests currently not running on Mac"
Running `flow` gives an error:
[code]

Running `test:lint` gives a different error:
[code]

[2018-11-30 18:13] lukasIO opened #3180 "New messages get loaded again when switching views"
This is probably more of a question:

When I click on a notification to read new messages, it takes a while and the new messages appear on the bottom of the screen.
If I switch the appview now to "All Messages" or switch from a narrow "#example:topic" to the stream "#example", the whole process starts again. the new messages are not there, seemingly triggering a request to the server again to fetc

[2018-11-30 21:18] SunkyeongLee opened #3181 "Some emoji glyphs are missing for reactions on some phones"
When adding a reaction to any post, some emoji icons are not appearing properly.
Still the emoji doesn't appear correctly after being selected to add reaction.
In ios works good but it happens on android version.

![inkedscreenshot_2018-11-30-14-59-15_li](https://user-images.githubusercontent.com/25357982/49315374-1ac15000-f4b3-11e8-867b-f19660fcf482.jpg)
![inkedscreenshot_2018-11-30-15-00-07_li](

[2018-11-30 21:21] vladp commented on #2660
Thx for taking up the challenge of figuring out how to do this for react native.

Nobody is able to solve this problem, within react-native (to add the capability to display latex or MathML).

I have been researching this on and off for a couple of months, and the only thing I could find is  that this need is listed in React-native feature request tracker:

https://react-native.canny.io/feature-re

[2018-11-30 21:29] MikeMason3 opened #3182 "Password field shows blank (but works), sometimes"
When running in debug mode, Using react-native run-android, we have found 3 error when logging into the application:
1- When asked for a password the application will not show the borders around the password or username
2 - The password section will not show the cursor or the enter characters and appears blank
3 - The "Hide" button for the password will not show or hide the password.

Entering the

[2018-11-30 21:46] armaanahluwalia opened #3183 "Emoji added from iPhone adding extra characters"
I noticed that using an apple keyboard emoji on the iPhone ( the shrug emoji in a shade of brown ) adds extra characters after sending. Attaching an image for reference. Can also be seen in [this message](https://chat.zulip.org/#narrow/stream/153-hacker-news/subject/Spectrum.20is.20joining.20GitHub/near/666857)

<img width="299" alt="screen shot 2018-12-01 at 3 09 35 am" src="https://user-images.g

[2018-11-30 21:47] armaanahluwalia commented on #3183
Embarrassingly I also realized at full-screen resolution that the emoji is not my gender ( that would be a PEBKAC error ).

[2018-12-01 00:26] gnprice opened #3184 "feature: upload a file (not just image/video), on Android"
@diolwe mentioned:

in zulip/zulip#10645, by way of background in reporting an issue with the webapp on a mobile browser.

This feature is probably most relevant on Android, where there's a shared filesystem all apps can use.

This isn't a common request, so it isn't currently a priority, but it makes sense as a feature we'll want to add at some point.

[2018-12-01 00:42] gnprice commented on #3179
I don't reproduce the `flow` issue:
[code]

(Just `yarn run flow` isn't working for me at all on this machine, apparently because of an old `yarn` version... working on updating that.)

Can you add more details? E.g. a terminal transcript, with the exact command you're running and the complete output.

The symptom looks like for some reason your Flow isn't seeing the file `flow-typed/globals.js`.

[2018-12-01 00:47] gnprice commented on #3179
Cool, `yarn` upgraded, and `yarn flow` itself works:
[code]

[2018-12-01 00:52] gnprice commented on #3179
I reproduce the other issue. It's because macOS ships a `getopt` command that is literally from the '90s:
[code]
and was an exercise in nostalgia even then, harkening back to... the '80s at latest, maybe '70s?
[code]
Kind of an obvious failure mode in retrospect, though; I should have tested.

I'll sort out a fix. Thanks for the report.

[2018-12-01 01:11] #3179 closed

[2018-12-01 01:11] gnprice commented on #3179
Pushed a fix for the `test:lint` / `getopt` issue -- thanks again!

Let's make the `flow` thing a separate issue, if you're still seeing it.

[2018-12-01 01:39] gnprice opened #3185 "Set `priority: high` in GCM for notifications of messages"
As explained in [upstream GCM reference docs](https://developers.google.com/cloud-messaging/http-server-ref):

and in [a guide doc](https://developers.google.com/cloud-messaging/concept-options#setting-the-priority-of-a-message) linked from there:

We're letting our GCM messages default to "normal" priority; they should be "high".

This is made a little subtle by the fact that we've begun to send

[2018-12-01 01:52] gnprice commented on #3185
(ISTR from when @borisyankov and I dug into this that on the APNs/iOS side, our messages are already being handled appropriately in this respect. In any case for reference here's [the corresponding reference doc for APNs](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_requests_to_apns); the corresponding setting there is an

[2018-12-01 04:30] gnprice commented on #3181
Interesting -- thanks @SunkyeongLee for the report and those screenshots!

These work fine for me -- app version 20.0.103, on stock Android 9.0 (on a Pixel 2 XL). A few questions to help us diagnose:
* What Android version do you have, and what model of phone?
* If you try typing, say, `:ac` into the compose box, do these emoji show up correctly in the autocomplete? What if you send a message with

[2018-12-01 04:31] gnprice commented on #3183
Thanks @armaanahluwalia !

I think this is #1746.

[2018-12-01 04:31] #3183 closed

[2018-12-01 04:32] timabbott commented on #3185
On the backend, it's a slightly different code path for the "new message" vs. "remove message" things anyway, so I don't think it'd be challenging at all to set a different priority level for those two paths.

[2018-12-01 22:00] mbuotidem commented on #3178
@gnprice Happy to help. Before trying these commands I decided to install WSL and see what difference that would make, if any. Here is the result of that effort.

1. From Windows cmd

- The `npm run test` command proceeded to setup a 'flow' server but then failed. Screenshot below :

- Individual runs of `yarn run test:lint`, `yarn run jest`,  and `yarn run test:prettier` all failed.

![npm run te

[2018-12-02 17:31] SunkyeongLee commented on #3181
My android version is 5.0.1 and the model is LG-F240S.
Hope it helps.

![screenshot_2018-12-02-11-24-46](https://user-images.githubusercontent.com/25357982/49342842-c12d6280-f625-11e8-9dc4-90a26d4538b3.png)
![screenshot_2018-12-02-11-27-15](https://user-images.githubusercontent.com/25357982/49342843-c4c0e980-f625-11e8-9536-83bbe90c7263.png)
![screenshot_2018-12-02-11-24-26](https://user-images.git

[2018-12-03 15:12] borisyankov commented on #3179
Killing and restarting the `Flow` process fixed this issue.

[2018-12-03 15:16] zingmars opened #3186 "Cannot cancel unsent messages"
Might have gone overboard with the blurring, but here's a screenshot -
![image](https://user-images.githubusercontent.com/917126/49382321-d1753880-f71e-11e8-8b61-6c9a6375742a.png)

Basically I have two messages that failed to send for some reason and I cannot cancel them (the cancel button in the menu that comes up does nothing). I've tried force closing and clearing the cache (haven't tried reins

[2018-12-03 18:38] borisyankov commented on #3186
I think the 'Cancel' option is a bit misleading here. It is duplicating a functionality that is standard in IOS and means 'Cancel this menu'.
You should see a 'Delete' option and that should work for you.

Restarting the app should trigger a proper resend, though it is a bit weird that you have such old messages that are still not sent.

[2018-12-03 18:40] zingmars commented on #3186
There is no "Delete" option though. All I'm offered are the "Copy to Clipboard", "Share" and "Cancel" options.

[2018-12-03 18:49] borisyankov commented on #3186
Do you mean that they recently got sent? Or at the time you sent them?

So the bad news is we have few bugs around the unsent messages retrying, duplicating, and now I guess not cleaning up. The good news is that they happen rarely so we didn't got many reports about them.

[2018-12-03 18:52] zingmars commented on #3186
I actually have no idea when exactly they got sent. In the other person's log the messages appear to be in the right order though so either they got sent when they should have been or during the initial retry. I'm actually not quite sure why they didn't send in the first place (maybe I had a bad signal?).

Anyway, other than clearing all app data and relogging, how would clear those messages out?

[2018-12-03 19:08] borisyankov commented on #3186
I just did fix another bug, the fix to which I hope will be available soon.
We actually do support the deletion of unsent messages but we incorrectly hide the option!

[2018-12-03 19:09] zingmars commented on #3186
Alright, I'll wait for that then.

[2018-12-03 20:33] armaanahluwalia opened #3191 "Link Previews are missing the Image"
This is similar to #78 except that I'm seeing this on the latest version of the app. The embedded preview for pasted links is missing the image section as described by the websites og tags.

[2018-12-03 22:44] lukasIO commented on #3184
I think the lack of video upload support makes the current situation a lot worse.

[2018-12-04 01:05] gnprice commented on #3178
Thanks @mbuotidem !  I will be curious to hear back on how the instructions I posted go for you. :-)

---

Separately, I am interested in getting a good set of instructions for setting up the dev environment on WSL. We actually have a rough version already:
https://github.com/zulip/zulip-mobile/blob/master/docs/howto/windows.md

If you're interested in WSL, I would love to have you try those setup

[2018-12-05 00:57] anemes commented on #1191
hello, just rolling out a self-hosted self-signed zulip server and wondering if there is a solution to allow the android app to connect?

[2018-12-05 05:14] mbuotidem commented on #3178
@gnprice, It is certainly possible that there might be an unrelated issue in my setup, I will be exploring running these tests in WSL on a different machine.  But for now, I forged ahead with troubleshooting this on my main machine.

I've attached some the log files from running `yarn run flow` and `node_modules/.bin/flow` in WSL.  Both commands failed with the same error. The log files from both

[2018-12-05 05:55] mbuotidem commented on #3178
And here are the logs of the same command run from windows cmd prompt.

[CzCzBUserszBMichaelzBzZulip-mobile.log.txt](https://github.com/zulip/zulip-mobile/files/2647367/CzCzBUserszBMichaelzBzZulip-mobile.log.txt)
[CzCzBUserszBMichaelzBzZulip-mobile.monitor_log.txt](https://github.com/zulip/zulip-mobile/files/2647368/CzCzBUserszBMichaelzBzZulip-mobile.monitor_log.txt)

[2018-12-06 02:35] gnprice commented on #3182
Thanks @MikeMason3 for the report and these screenshots! This is very helpful.

This is a pretty bad bug when a user is first setting up the app; it'd be a great one to fix quickly.

[2018-12-06 20:38] #3162 closed, assigned to nobody

[2018-12-06 20:52] #3130 closed

[2018-12-06 21:06] gnprice commented on #3073
Now complete, with #3158 . Thanks @jackrzhang !

[2018-12-06 21:06] #3073 closed

[2018-12-06 21:17] gnprice commented on #3182
@borisyankov reported reproducing this on iOS, and @jainkuniya reported that he can sometimes reproduce, and sometimes not. So I think this isn't dependent on OS after all; @MikeMason3 was just lucky on an iOS device and less lucky on an Android device.

[2018-12-07 01:44] mbuotidem commented on #3182
@gnprice Yes, we were indeed running a recent version from master. @MikeMason3 is a classmate.

[2018-12-07 02:01] thelaoshi opened #3195 "Support for Client Certificates"
We are using client certificates for our https services and it seems the zulip android app does not support ist ? I have added my certificate to my android (which works with chrome for example) but when I try to connect to zulip with the zulip app I get connection error messages

[2018-12-07 02:32] gnprice commented on #3186
It sounds like the bug here was that the "Delete message" option wasn't showing; that was fixed in #3189.

[2018-12-07 02:32] #3186 closed

[2018-12-07 04:40] timabbott opened #3196 "Make sure the app doesn't break with the new delivery_email field"
As part of adding (hacky) support for not sharing users' real email addresses with everyone in the organization, we've added a new field, `delivery_email` (which in most configurations just equals the `email`, but ).  The basic model is that the `email` field will continue to be a human-readable identifier for a user, and for most client purposes, they can just ignore the `delivery_email` field an

[2018-12-07 22:18] #3182 closed, assigned to borisyankov

[2018-12-09 15:13] jainkuniya commented on #2712
@zulipbot claim

[2018-12-09 21:46] borisyankov commented on #2712
I still think that the UX will be extremely confusing and might not result often (if ever) in an actual refresh of data.

[2018-12-09 21:53] mbuotidem opened #3202 "Unable to build - Could not find com.android.tools:common X issues"
I am unable to build on Ubuntu. I run into this error :

`> Could not resolve all artifacts for configuration ':react-native-image-picker:classpath'.

     Searched in the following locations:
         https://jcenter.bintray.com/com/android/tools/common/25.2.3/common-25.2.3.pom
         https://jcenter.bintray.com/com/android/tools/common/25.2.3/common-25.2.3.jar
     Required by:
         projec

[2018-12-09 23:00] armaanahluwalia commented on #2877
Another strategy might be to fork a wrapper library and use a hack [like this](https://github.com/evollu/react-native-fcm/issues/259) for adding the group notifications feature.

Also want to think about updating to fcm since gcm is being deprecated.

[2018-12-09 23:00] borisyankov opened #3203 "Unsent message stays stuck with spinner even after sent"
@armaanahluwalia observed the following on 20.0.104 (as summarized by @gnprice after some debugging):
"""
* A message didn't send initially,
* but then it did send almost an hour later,
* and we got new messages in that thread (maybe via the event queue, maybe via a fetch when you went back to that narrow, not sure yet) -- including that message itself,
* but we didn't match up that message with t

[2018-12-09 23:02] borisyankov commented on #2877
We don't even need to fork it. As long as we have confidence in the library and it is actively developed we can contribute code to it.
This options is worth evaluating 👍

[2018-12-10 05:28] timabbott opened #3204 "Add support for webapp's new configurable notification sounds feature"
Via https://github.com/zulip/zulip/pull/8061, we recently added Zulip webapp support for picking a notification sound from a set of (currently) 2 choices.  Before doing mobile work on this, we should wait for the server/client API to work how we want it to (right now, we send just a name, e.g. "ding", to tell a client what sound to use, and I think we should instead send a dictionary structure map

[2018-12-10 16:02] borisyankov commented on #3203
I decreased the severity to `P1` as it seems this happens from time-to-time and not always for the people who reported it.
This is pointing to an existing (bad) behavior and not a regression.
I am working on that actively.

[2018-12-10 20:18] borisyankov commented on #3203
@armaanahluwalia we did just discuss this issue with @gnprice and it seems there are two issues, one might happen sometimes but is more minor, the one I describe here.
The other is the server queue is not being reestablished. And this is the thing that causes you to not get any new messages.

[2018-12-10 20:58] gnprice commented on #3203
We dug into the state on @armaanahluwalia 's device, and learned that the issue was not what it seemed!

I'm editing this issue to reflect that report, which is the one we've learned the most about; we'll make a separate issue (or two) for the other reports.

[2018-12-10 21:21] gnprice commented on #3203
After our debugging, my hypothesis for what happened is that: when we eventually sent the message, we didn't have a live event queue.

That would cause us to not get an event for the message -- which would indeed cause us to continue showing the "unsent" message indefinitely.

A couple of things we can do to fix this:
* We shouldn't try to send messages when we don't currently have an event queue

[2018-12-10 23:54] timabbott opened #3205 "Add ultra basic support for the SubMessage-based polls feature"
Zulip has an experimental "polls" feature, which uses the special SubMessage table in the database for its storage (https://zulip.readthedocs.io/en/latest/subsystems/widgets.html#poll-todo-lists-and-games).  You can create one on web by sending a message with `/poll` as the content.  The UI is currently pretty janky; we have a separate issue on web (https://github.com/zulip/zulip/issues/11010) for

[2018-12-11 22:57] jackrzhang commented on #2760
@gnprice @borisyankov Is this currently being worked on - or can I give this a shot?

[2018-12-12 17:47] borisyankov commented on #2760
@jackrzhang I got a branch for this that will turn into a PR maybe tomorrow.

[2018-12-12 21:44] gnprice opened #3209 "Autocomplete sometimes doesn't respond to touch"
When an autocomplete popup appears (for any of @-mentions, stream mentions, or emoji) and I touch one of the results to choose it, sometimes it doesn't work. Instead, the touch seems to go through to whatever's behind the popup -- so the effect might be to hide the keyboard, or take me to the lightbox, or to the info screen for a user, etc.

This doesn't always happen (sometimes it works fine) and

[2018-12-13 00:46] #3209 closed

[2018-12-13 02:12] gnprice commented on #3209
@borisyankov, after fixing the bug, adds:

Labelled accordingly.

[2018-12-14 10:22] jainkuniya commented on #3202
Hi @mbuotidem can you try with the changes which are  in #3201.
I too faced similar issue few days back, and #3201 fixed it.
Fortunately, today I am able to build android without  #3201. :)

[2018-12-14 10:55] jainkuniya commented on #3000
This feature is behind which feature flag?  🤔

[2018-12-14 12:11] aero31aero commented on #3000
I'm sorry, I meant a version check. I believe this is part of the 1.9
release so that should work.

On Fri, Dec 14, 2018, 4:25 PM Vishwesh Jainkuniya <notifications@github.com
wrote:

[2018-12-15 11:29] jainkuniya opened #3216 "Lock app with pin/fingerprint according to server setting."
https://chat.zulip.org/#narrow/stream/48-mobile/topic/block.20with.20pin

On mobile this need to be implemented after https://github.com/zulip/zulip/issues/11049

[2018-12-15 15:01] jainkuniya opened #3218 "Rework on "Remove" option from messageActionSheet."
On current master, on selecting "Reply" option it just re-narrow to that narrow (for PM/topic narrow), narrow to topic if initial narrow is home/stream/special narrow.
Long time back, this option was added to narrow to that topic/pm and focus compose box (pop keyboard).

Now let's rework on it. And I thinks we should remove "Reply" option for PM/topic narrow as focusing  a  compose box is quite ea

[2018-12-15 16:31] borisyankov commented on #3204
I suspect this will be more complicated on mobile than it sounds to be useful if implemented fully flexibly like that.
What if we just supply the files up front and the only option given is one of the names?

[2018-12-15 17:02] timabbott commented on #3204
Well, we can certainly do that for v1, and plan to extend with "if the key is a URL, fetch it".

[2018-12-16 00:00] borisyankov commented on #3218
I would not do any work on the ActionSheet for now.
I think we need to rework it to be more streamlined, likely custom implementation, some icons etc.
Also, I suspect we have more important issues we can work on before these changes.

[2018-12-16 11:34] borisyankov commented on #3205
@timabbott To clarify some aspects that seem to be true:
 * we can differentiate between normal messages and widgets by `submessages.length > 0` ?
 * `msg_type` of a submessage can be only `widget` currently?
 * submessages can only be added to, no update/delete?
 * `content` is always intended to be JSON string?

[2018-12-16 15:49] timabbott commented on #3205
yes.

yes; the client can ignore any other submessage until if/when we change that.

currently, yes, though that could change in the future.

yes.

[2018-12-16 20:04] timabbott commented on #3216
The zulip/zulip issue for adding the setting is easy; I think the right order of development for this would be first to figure out the mobile app side logic for enforcing this, because that's where all the time is going to go for building it, and adding/maintaining a setting that doesn't work yet on the webapp side has some cost.

[2018-12-17 08:49] #3203 closed

[2018-12-17 11:13] gnprice commented on #2877
Yeah definitely. I think they've made it a pretty easy upgrade, so we just need to do it sometime.

Hmm -- taking someone else's low-quality wrapper library is how we got notifications to the state they're currently in. :wink: If a given library doesn't support notification grouping except by hacking it into a fork, that's a clear sign that it is, at best, not really maintained and hasn't been for

[2018-12-17 14:03] pranavpandey1998official commented on #3171
@gnprice is there any unicode assigned to zulip emoji if yes can you tell me if, not I have a workaround it ready to commit

@zulipbot claim

[2018-12-18 11:38] jainkuniya opened #3222 "refactor updateExistingStream: Reduce api calls on changing stream details."
Currently if user changes stream name and description, then we are making two API calls. On the other hand `streams` API endpoint is generic and can handle multiple properties at the same time. So redactor `updateExistingStream` method, so that in such cases only one request is send to server.

https://chat.zulip.org/#narrow/stream/3-backend/topic/api.20.2Fstreams.2F.24.7Bid.7D

@zulipbot claim

[2018-12-18 21:59] k-meister commented on #680
Hi, guys!
So, is there any way to answer with the quote in mobile app?

[2018-12-18 23:56] timabbott opened #3225 "Add mobile support for AzureAD authentication integration"
I think it should be able to use the exact same flow we use for GitHub authentication, since on the backend it's just 2 lines of code inheriting from the same subclass.

This was added in the backend via https://github.com/zulip/zulip/pull/10618.  Eventually, we'll want to rethink the interface through which we communicate about which social auth backends are supported (since they'll all work the

[2018-12-19 18:22] jainkuniya commented on #3089
Here is more info on this issue:
I tested on few devices:
* On Android 9 emulator (Android Pixel XL), can't reproduce.
* But can reproduce on Android 9 running on One Plus 6.
* Can reproduce on on MI phones (not completely sure, but it was Android 8 or lower)

This issue is very critical and can also lead/extends to completely not rendering of MessageList, like:
![image](https://user-images.github

[2018-12-20 01:31] gnprice commented on #3089
One next step that would be quite useful is to go looking in the RN tracker for a report of this issue, and if there is one then link to it here... and if there isn't, then to report it. That repro in a fresh RN app will be very helpful for a bug report.

If there is already a report of an issue that looks like this, then if there's any of this information that isn't already known in the issue thr

[2018-12-20 01:40] #3089 closed

[2018-12-20 11:52] jainkuniya opened #3228 "account screen layout issue: Component under `ComponentList` are not rendered properly."
![image](https://user-images.githubusercontent.com/18511177/50283369-b7a45700-047b-11e9-83b2-9c2d3e07a6de.png)

[2018-12-20 12:13] jainkuniya commented on #680
Hey! @k-meister Currently to don't have any such option. But soon we will be having such options :)
#3218

[2018-12-20 13:03] jainkuniya opened #3230 "Refactor narrow patterns."
Currently for stream narrow, narrow object is like:
[code]

Now the problem is:
What if user is in such narrow and stream name changes? Our `getIsActiveStreamSubscribed` will start returning false. As we are comparing names
[code]

How to reproduce:
* Narrow to any stream.
* Change it's name, via Clicking on info button in nav bar in chatScreen.
* Now navigate back to chat screen after changing na

[2018-12-20 13:57] borisyankov commented on #3230
This is not the only issue. We will be trying to fetch more messages for a non-existing narrow too.

[2018-12-20 13:59] borisyankov commented on #3230
I think the title of this issue is quite generic and misleading, rename to something that better reflects the problem.

[2018-12-20 14:00] borisyankov commented on #3230
`ChatScreen` needs to have its `params.narrow` changed.
What we need to do:
[code]

That will be a bit disruptive UI-wise though, but that is fine for a rare occurrence.

[2018-12-21 00:55] anh2111 commented on #2761
Does this persist? Following steps, I couldn't reproduce it on iOS 12.

[2018-12-21 00:58] rishig commented on #2761
This was fixed on web recently. I don't know if that translated to a fix for this mobile issue as well.

[2018-12-21 08:04] anh2111 commented on #2611
@zulipbot claim

Hi, I am new to Zulip repo and looking for an issue to get started. This one looks doable. I'll follow Wikipedia's language screen on Android and make a WIP PR soon.

[2018-12-21 19:17] timabbott commented on #2761
The fix on web fixed mobile instead

On Thu, Dec 20, 2018, 4:58 PM Rishi Gupta <notifications@github.com wrote:

[2018-12-21 19:18] timabbott commented on #2761
Ack autocorrect.   I meant as well.

On Fri, Dec 21, 2018, 11:17 AM Tim Abbott <tabbott@zulipchat.com wrote:

[2018-12-21 23:09] gnprice commented on #3196
One other aspect of this worth making explicit: the transition from the existing configuration to the new one. When an organization makes this transition, the `email` of every user will change. Because we (mis)use the user's email as an identifier, this would be pretty confusing for the app.

Our planned solution is to have the server expire all event queues for the organization (for mobile client

[2018-12-21 23:34] gnprice commented on #3150
Thanks @kalzekdor for writing in!

Zulip actually has a custom notification sound specific to Zulip, which we've used in the webapp for a long time and which we recently fixed our notifications on iOS to use. There's code in the app that's intended to do this for Android too -- so the fact that it isn't is a bug.

It sounds like if we fixed that bug it would largely cover what you really want here

[2018-12-21 23:34] gnprice commented on #3150
PS: here's that code in the app:
[code]

The sound that's intended to play is `android/app/src/main/res/raw/zulip.mp3`.

[2018-12-22 00:52] jackrzhang commented on #3124
Relaying over information from the conversation in the thread above:
- This bug wasn't reproducing on the dev server, meaning that there's some difference between zulipchat.com and the dev server. Specifically, the Django server on zulipchat.com wasn't recognizing an image download request's `Authorization` header; the server was responding with 401 and logging `unauth`. On the dev server, the hea

[2018-12-22 08:38] pranavpandey1998official commented on #3099
@zulipbot claim

[2018-12-22 13:36] jainkuniya commented on #3150
@zulipbot claim

[2018-12-22 18:46] kalzekdor commented on #3150
@gnprice Sounds good! I tried looking into implementing a setting for a custom sound, but I ran into some problems getting the React framework communicating with native android intents. I unfortunately don't have a lot of time to spare for side projects, so glad to hear about those changes.

[2018-12-23 15:53] jainkuniya commented on #2862
Tested on version `21.2.106`, can't reproduce.

[2018-12-23 15:57] jainkuniya commented on #2862
With this information, I can say that this is fixed by
https://github.com/zulip/zulip-mobile/commit/0baca8fce24f0d6ae80c9965f8f9da98222fabac#diff-aad8f5114a0e6c1b34420bbb30a2635c &
https://github.com/zulip/zulip-mobile/commit/3910f2d69aae86107142781035975371f2b403f1

[2018-12-23 16:49] jainkuniya commented on #2772
For this we need to set `importantForAutofill` property to `no` for textInput/editText.
https://developer.android.com/guide/topics/text/autofill-optimize

There is a open PR for this in react-native, but got staled https://github.com/facebook/react-native/pull/21575.

I am planning to submit new PR only consisting of changes related to `importantForAutofill`.

[2018-12-23 18:37] jainkuniya commented on #2772
Submitted https://github.com/facebook/react-native/pull/22763

[2018-12-24 05:00] anh2111 commented on #2611
The PR is ready for review.

[2018-12-24 05:47] kunall17 commented on #3114
We can use the setting `notification when online` for this one?

[2018-12-24 18:23] jainkuniya opened #3236 "screen, layout: There is some white BG in screen even in dark theme."
Current master:
![image](https://user-images.githubusercontent.com/18511177/50405195-08e37c00-07d7-11e9-9a86-eebb98d9fcb3.png)

Ideally in dark theme, whole screen should have dark theme BG color.

@zulipbot claim

[2018-12-24 19:05] jainkuniya commented on #3216
For Android API >= 21 lollipop, we can do this easily with the help of [createConfirmDeviceCredentialIntent](https://developer.android.com/reference/android/app/KeyguardManager#createConfirmDeviceCredentialIntent)

On launching Zulip app, it will show default lock screen and ask user to enter pin/pattern/fingerprint (kinda System login required)
https://cl.ly/43036b22ab01

If user can not enter, t

[2018-12-24 21:12] jainkuniya commented on #3184
@zulipbot claim

[2018-12-27 06:54] gnprice commented on #3228
Huh fascinating -- thanks for catching and diagnosing this!

I'm curious what broke it. Do you know anything about what caused this to break? You use the term "regression" in your PR, which sounds like saying that you do.

[2018-12-27 06:59] gnprice commented on #3228
Also I get different behavior, even on the parent commit of your PR:
![image](https://user-images.githubusercontent.com/28173/50469516-9d79e580-0961-11e9-9097-71c7d0f52ccb.png)

Still broken layout, but the information is all there; just not spaced appropriately, and the "Send private message" button is missing. That's on both Android 8 and 9, on an emulated Pixel 2 and a real Pixel 2 XL respectiv

[2018-12-27 07:21] #3228 closed

[2018-12-27 07:27] #3236 closed, assigned to nobody

[2018-12-27 08:43] gnprice commented on #2755
#2758 is a previous PR that aimed to fix this issue. (Thanks @Shayan-To !)

That PR didn't get finished because the author has been busy. We'd still love to have this issue resolved. Anyone is welcome to make a try at it -- just mention here first when you start doing so, to reduce the chance of duplicate work.

When attempting this issue, I recommend reading #2758; it looks like it contains a lot

[2018-12-27 17:05] zingmars opened #3242 "Can't use the app offline (when there's no internet connection)"
When trying to access private messages or streams when my phone either has a bad (or no) internet connection internet connection I can't see any messages that might be there (nothing is cached). It just gives me the loading screen spinner.
I.e. -
If I had the private message view open before I disconnected, I can still view the messages and switch between streams and private messages if I want, bu

[2018-12-27 17:56] borisyankov commented on #3242
Thanks for reporting this.
It is expected and somewhat intended behavior but I think we can improve this.

[2018-12-27 18:01] borisyankov commented on #3216
I was also not sure what was the initial request and if it was intended to be implemented like this.
There are security policies supported on OS-level both on Android and iOS and likely the organization needing them might not require any change to our app.

One rather long (but relevant and useful) source of information can be found here:
https://developers.google.com/android/work/overview

[2018-12-27 21:04] zingmars commented on #3242
Can't say I'm a fan of this design. What if I want to view a conversation I've had while in a situation where internet isn't available?

[2018-12-28 04:32] timabbott opened #3244 "Use new support for muting topics by stream ID when available"
Related to https://github.com/zulip/zulip/issues/11126 and https://github.com/zulip/zulip/issues/11136, we now (in master) support sending a `stream_id` in the API for muting/unmuting topics.  We can't take advantage of this in mobile yet since no clients have that code, but I figured it's worth opening the issue for migrating.

I expect several similar changes to be integrated in the server codeb

[2018-12-28 13:15] fzyzcjy opened #3245 "Download >500KB Data Each Time the App Starts"
Hi! Thank you for this wonderful open source project! However, when I am testing it today, I find that it needs to download >500 KB of data each time I start the app. It seems that it is not a perfect experience for the users. Therefore, I think it may be better to fix it. :)

[2018-12-28 15:52] borisyankov commented on #3244
I think the optimal way is to do that once the server supports 'everything by id' and provide this as a value on `server_settings`.

The actual benefit to clients (including mobile) is once we can solely rely on IDs.

One of the major things would be narrowing by IDs. Considering this might be a different format, we might include @gnprice suggestion for more 'readable' narrow format that I remembe

[2018-12-28 16:47] borisyankov commented on #3245
That is a good point :)
We do a full data refresh at start, including user data. If you have been testing the app on https://chat.zulip.org you might have experienced the high data usage because we have a lot of users.

[2018-12-29 17:05] timabbott commented on #3244
Yeah, that's a reasonable plan.  Narrowing by IDs is the main one that hasn't been started, though I think @showell has talked about doing it a few times.  We're probably merging "Send messages to PM recipients by IDs" in the next week or two.

[2018-12-29 21:18] colin-zhou commented on #1191
I meet the same problem, ios app cannot connect the self-hosted and self-signed zulip server, could this be supported in the future?

[2018-12-29 22:03] timabbott opened #3247 "Mobile app is double-sending requests to add a reaction to a message"
We've been occasionally getting a 500 exception (database IntegrityError) from trying to add multiple copies of the same reaction name for a given user on a given message when triggered by ZulipMobile.  I'm fixing the backend to 400 in this case, however, there's definitely a bug in the mobile app here as well.  Here's a anonymized log excerpt for a user who I believe runs the latest version of th

[2018-12-30 19:15] timabbott commented on #3099
Just an update on this: https://github.com/zulip/zulip/pull/11158 was just merged, which did this transition for the webapp and has styling for how to do this.  @synicalsyntax can help with any questions about the styling details.

Aside from this, https://github.com/zulip/zulip/issues/10818 is the only other blocker for the "guest users" feature moving out of beta (and I expect will merge in a co

[2019-01-02 10:39] Xerus2000 commented on #3218
I am really missing quote & reply on mobile! It makes referring to previous messages quite a bit harder!

[2019-01-02 10:41] Xerus2000 commented on #680
Yes it is? Why would I need a button in ActionSheet to focus the input box, if I can just directly click on it?

[2019-01-02 21:06] jmandel opened #3251 "Android: tapping a message notification doesn't open the relevance message"
When I tap on a message notification, Zulip opens but doesn't necessarily take me to the right server or the right message.

[2019-01-02 21:11] timabbott commented on #3251
Does it take you to a blank white screen?  There's a bug in the latest release that results in that failure mode.

[2019-01-02 21:12] jmandel opened #3252 "Androids: Tapping on notification doesn't put the right text entry box in context"
Similar to #3251, sometimes tapping a notification opens the right thread but the text entry box doesn't work until I hit the back button.

[2019-01-02 21:14] jmandel commented on #3251
Not a blanket screen! Could be just the last channel I was in (e.g., a Fchat.fhir.org  publicchannel, when the message notification is for a private message at chat.zulip.org)

[2019-01-05 05:32] gnprice commented on #2611
Now done, with #3231. Thanks again @anh2111 !

[2019-01-05 05:32] #2611 closed

[2019-01-05 16:19] borisyankov opened #3253 "Handle invalid API key by logging the user out"
On a successful login, we receive an API key from the server to be used for API calls.
There are cases where this API key might become invalid.

Currently, one way to do that is to request a new API key from `Settings => Your account => Api key => Show/change your API key`.
There might be other events that might require the API key expiration (security reasons etc).

In any case, when the API key

[2019-01-06 00:59] martinpospech opened #3256 "Feature request: delay notifications until business hours"
I would love to see a setting where I can set business hours and outside of those, all notifications would be either muted or delayed until the next business day.

A switch that lets mentions, channels or mentions in specific channels ignore this would probably be useful too.

[2019-01-08 07:11] daschuer opened #3259 "Message order is not kept during connection lost."
Android App 21.2.106

Post a message with weak internet connection. Look at the spinner.
Post a follow up messahe to the same thread. Get an other spinner.
Internet is back.
The last message appears on top of the old one.

[2019-01-08 13:16] borisyankov commented on #3259
Thanks for this bug report. Looking at the code I see how that can happen.
I think a fix is not hard to do.

[2019-01-08 20:54] timabbott commented on #2374
I think that's correct (the server doesn't use it for that purpose) -- I think because on web, we mostly only retransmit after errors after explicit user request.  If we wanted to have the server handle this for us, we could add a database table for tracking such requests and return an "already sent" 200.

But even with the current server design, I think if the outbox logic only tried to resend th

[2019-01-08 21:10] gnprice opened #3261 "Change "REDACTED" to better text for notifications with content redacted"
We have the following feature:

https://zulip.readthedocs.io/en/latest/production/mobile-push-notifications.html#security-and-privacy

The text "***REDACTED***" isn't really the right text for this, though. It only really makes sense from the perspective of the code that sends it. Instead, we should use text that makes sense in the actual notification the user sees.

See [chat discussion](https://

[2019-01-08 21:49] gnprice commented on #2956
This is a followup to #2868.

Doing this is expected to resolve #3128.

[2019-01-08 22:08] gnprice commented on #2295
In a report today ([chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Notifications.20do.20not.20take.20me.20to.20the.20message/near/679848) -- presumably on 21.2.106, the latest release) that sounds like this issue, the symptoms the user describes are

That would be an improvement over the behavior described above! Namely

and other symptoms before that. So it's possible that a recent c

[2019-01-08 22:38] borisyankov commented on #2295
The blank screen from the previous report is likely to have been fixed by @jainkuniya work to fix rendering of the `ChatScreen` and have probably reversed to the original behavior.

[2019-01-08 23:03] borisyankov commented on #2374
We do track a `isSent` flag on each `Outbox` message which we persist between app restarts.

Even before that we were removing the messages a bit too aggressively from the Outbox, on a successful `POST` even before waiting for the event queue to confirm.

I am curious if the `local_id` of the duplicate messages was the same?

[2019-01-08 23:11] gnprice commented on #2295
Ah indeed, thanks for making that connection! That'd be #3089 .

The reported current behavior is better than we had before that bug too, though:

or before that

[2019-01-10 11:39] jainkuniya opened #3264 "Scroll position got disturbed when keyboard show/hides"
Ideally: When compose box is focussed, keyboard pops and message list should scroll so that content shift upwards.
And then when keyboard hides, again message list should scroll to make sure that content shift downwards.
This behaviour is normal and almost all chat apps follow this.

When this feature was implemented, this was working as expected. But recently, it seems to be broken.
Before it was

[2019-01-10 12:42] luckyraul opened #3265 "Hardware enter"
Is it possible now to send a message via hardware enter on android?

[2019-01-10 12:47] jainkuniya commented on #3265
Do you mean on emulator?

On Thu, Jan 10, 2019, 6:12 PM Nikita <notifications@github.com wrote:

[2019-01-10 13:00] luckyraul commented on #3265
Hardware keyboard

[2019-01-10 16:35] borisyankov commented on #3265
I think Enter intentionally acts as a 'new line' but that would be possible.
@luckyraul how does it work on the other chat apps you've tried?

[2019-01-10 16:52] borisyankov opened #3266 "Support reading and setting own Away status"
This should be in our next release.
The back-end supports most of that, but there are more changes upcoming.
That work will evolve with it.

We should be able to:
* display other users' away status
* set own status
* fetch `user_status` on initial fetch
* be able to set textual 'busy/away' statuses like 'On vacation'
* display these statuses on the user's account page

[2019-01-10 17:58] borisyankov commented on #3264
Another related issue is that the position is affected with `UnreadNotice` shown/hidden.

[2019-01-10 21:15] luckyraul commented on #3265
Almost everywhere a new line. I think it should in the settings.

[2019-01-11 07:21] daschuer opened #3269 "Can't post long messages from landscape mode"
When you have entered a long meassage in portrait view, the post button is hidden.
In this case you can switch to landscape, there is only a ready button but no post but on. After turning the mobile device various time, the post button appears as a green slice at the very bottom. This a tally suits to post the message finally.
This is a quite annoying issue since filing such a long post takes a lo

[2019-01-11 09:23] daschuer opened #3270 "Can't copy and paste from previous messages."
I want to quote single sentences from a previous message.
The mobile client only allows to copy the whole message.
It is quite annoying to delete all the unused stuff from a long copied message.
It would be convenient to enble to select and copy the quoted sentence via the usual way.
With the two blue dots.
I use the Gboard keyboard and Zulip Android 21.2.106

[2019-01-11 15:30] lukasIO commented on #3261
maybe related: https://github.com/zulip/zulip/pull/8076
this is still open - not sure why, but @timabbott rebased and mentioned he knows now how this works.
I assumed the encrypted notification would make the redacted message content basically obsolete...

[2019-01-11 15:34] borisyankov commented on #1897
Sure, if you do it one by one :)
But not in the way you are asking for.

[2019-01-11 16:38] borisyankov commented on #1897
I think it is worth getting @timabbott opinion on this.
Not that hard to implement. Good for onboarding.

[2019-01-11 17:41] daschuer commented on #3269
Sony Experian Z3 compact

Am Fr., 11. Jan. 2019, 08:25 hat Vishwesh Jainkuniya <
notifications@github.com> geschrieben:

[2019-01-11 17:47] borisyankov commented on #3270
I can imagine how we can implement this, but I am not sure of how often people need that.
Are there other chat apps that allow selection of parts of a message?

[2019-01-11 18:13] daschuer commented on #3270
GitHub in Chrome browser can do this.
In Zulip, there are already the markers, but you just cant copy. Please enable it.

Alternative a kind of "Answer Inline" feature will also be great, something that does not allow to mess with the cited text.

[2019-01-11 18:54] timabbott commented on #3270
I would expect this to be particularly useful in Zulip in comparison to other chat apps, because people send a lot more multi-sentence messages in Zulip.

[2019-01-11 18:54] timabbott commented on #3270
(Options for improving this could include making it more convenient to delete the unused stuff from a copied message)

[2019-01-11 18:58] timabbott commented on #1897
I think invitations to the realm itself is probably the reasonable feature to dad here (though multi-use invite links, which will become available on web soon, may also mitigate this problem).  We can open a separate issue for this, but I think it's probably a P2 -- lots of other stuff are more important for daily use of the app.

[2019-01-11 21:55] borisyankov opened #3271 "More sophisticated system for uploading images"
Sending an image message takes two steps:
 * uploading the image
 * sending the message with the image

Two problems with that:
* If the first step fails, the upload is never retried
* we show a message preview only after the image upload succeeds, which is the longer part of the process

Ideally, we will track all image uploads and retry them if they fail.

[2019-01-12 17:54] borisyankov commented on #3270
I could not find any app that does selective copying of text (even half of the apps did not offer any copy). This includes:
 * FB Messenger
 * Slack
 * Discord
 * Twitter
 * Facebook
 * Reddit

(the last two included because they have longer posts)

[2019-01-13 00:35] borisyankov commented on #3270
I am confused about what is the suggested solution?
The text in the compose box can already be selected and deleted in the normal and expected way with draggable handles. I am not sure we can improve much on that.

[2019-01-13 01:11] daschuer commented on #3270
Yes you can, but it is quite annoying, if the source message is a wall of text and you want to cite only a single line, all that on a tiny mobile phone screen with scrolling involved.

The proposed solution is that it should work like here in GiHub (just done):
* scroll to the line you like to quote.
* long press the part you need.
* adjust the marked region in the line in a long message using the

[2019-01-13 13:10] borisyankov commented on #3270
The long-press gesture conflicts with our already existing message menu that we activate on a long-press.

Also, selection would have been very tricky to do but luckily we use a WebView, which makes this selection at least possible.

I am not sure what the best UI that would not conflict with our other interactions.

[2019-01-13 13:21] borisyankov commented on #3270
@jainkuniya about this #1790 issue you fixed long time ago.
How bad was it? Did you decide to fix it yourself or was someone complaining?

[2019-01-13 13:38] borisyankov commented on #3270
A modal is a possibility I didn't think of. Seems a bit heavy-handed but would work, as long as we render the message as HTML of course.

The other implementation I examined is 'Copy to clipboard' to be turned to just 'Copy message' and we actually select the message in the WebView, then the user can copy parts of it.

During experimenting, I managed to start Google Translate, apparently, some of

[2019-01-13 14:54] daschuer commented on #3270
What is on the short press? Can this start the context menu?
If this is not possible, the context menu can be started on the headline only.
I like the soution shown in Zulip in Mobile chrome browser very much.

[2019-01-13 20:13] ftribrunn commented on #117
Is anyone working on this?

[2019-01-14 03:45] borisyankov opened #3273 "Keyboard overlaps the compose box on iOS"
This is a release-blocker issue on `master` and `107`

Discussed here
https://chat.zulip.org/#narrow/stream/48-mobile/topic/Keyboard.20placement.20on.20iOS

[2019-01-14 04:05] jainkuniya commented on #117
Will submit a PR soon for this.

On Mon, Jan 14, 2019, 1:43 AM Fabian Tribrunner <notifications@github.com
wrote:

[2019-01-14 04:07] borisyankov opened #3274 "[Android] Action sheet in Lightbox pops under the footer"
As reported here:
https://chat.zulip.org/#narrow/stream/48-mobile/topic/Android.20click.20image.20more.2C.22cancel.22.20is.20hidden

![](https://chat.zulip.org/user_uploads/2/82/bz4HBhQDmCMyuvnVdIFnrLov/pasted_image.png)

[2019-01-14 17:50] timabbott commented on #3261
I think actually the user who wanted this feature came up with that text as what he wanted, but I agree it doesn't make sense.

As a sidenote, this feature or something like it may be valuable even if we implement encrypting push notifications, because some organizations we've talked to have policies against having any content available on a locked phone screen.

[2019-01-14 18:56] #3274 closed

[2019-01-14 19:56] kanishk98 commented on #2512
Hello,
I’m new to Zulip Mobile, but have worked with both React Native and Android development. I’d love to take this up if the maintainers are okay with it.

[2019-01-14 20:36] borisyankov commented on #2512
@kanishk98 this would be quite nice to have this feature and currently it is not being worked on.
Feel free to work on it, just make sure to discuss anything that is not clear or questionable before that, so we can help and you don't waste effort.
Also, keep up to date with `master` as we do improve our notifications code actively at the moment.

[2019-01-14 20:39] gnprice opened #3277 "Handle sharing from other apps (iOS)"
Same thing as #674, but for iOS.

This feature seems to be less commonly requested on iOS than on Android, but will be useful there too -- at least for sharing links.

[2019-01-14 20:41] gnprice commented on #117
Just edited to make this issue specific to Android, and filed a separate issue #3277 for the iOS side. I expect a lot of the work will be separate between the two platforms; and we hear this request a lot more often for Android than iOS, I think related to the platform conventions making this a more common thing on Android.

Here's upstream docs on the platform feature:
https://developer.android.c

[2019-01-14 20:42] borisyankov commented on #3277
I think #674 will eventually address iOS also. It is just that not yet.
@jainkuniya is using this:
https://github.com/alinz/react-native-share-extension

[2019-01-14 20:44] gnprice commented on #3273
Screenshot:

![image](https://user-images.githubusercontent.com/28173/51139940-126e6b80-17fa-11e9-9729-f52a255c9365.png)

[2019-01-14 21:20] borisyankov opened #3278 "Do not remove outbox messages on logout and account switch"
We should not clear outbox messages on logout and account switch.
This requires that we track what realm/email they were sent through as we really don't want to send them via the wrong account.

[2019-01-14 21:52] borisyankov opened #3279 "Implement API migrations/polyfills"
Implement a middleware layer in the API that migrates the data received (maybe even data sent?) to make sure later our code is referring to the latest data format supported.

For example, old servers would not support submessages and the messages returned will never have this property. We can add `submessages: []` to any message that does not have this key.

[2019-01-15 17:40] daschuer opened #3281 "Message does not load if Internet is back."
If you open a message during weak internet connection, grey bars are displayed instead of the real meassage.
This state lasts forever even if Internet connection is back or change to a WiFi.

It also happens to me that the message was removed from the new message list after turning back. I wanted to go back and forth to trigger reload. I cannot confirm this now though. It is Zulip 21.2.106 on Andr

[2019-01-15 20:09] borisyankov commented on #3281
Thanks for opening an issue for that.
This has always been the behavior, but recently we started adding retry functionality in select places.
I guess this is a great next place to do so.

[2019-01-16 02:59] gnprice opened #3284 ""No messages" on following a notification"
This appears to happen 100% of the time on 22.0.107 if:
* the app isn't already running, and
* it's a conversation we haven't previously seen.

This is the version that's currently the beta on iOS, and went to prod yesterday on Android.

(I think if it's a conversation we *have* seen, we'll show a stale list of messages, i.e. omitting the new one that actually caused the notification. Also bad! No

[2019-01-16 04:25] timabbott opened #3285 "Make use of the new `is_muted` property (equals not in_home_view)"
No immediate action is required, but this is a notification for the mobile team about an API upgrade for stream muting we've been doing in https://github.com/zulip/zulip/pull/10220.  It's completely backwards-compatible and should merge in the next day or so.

Historically, you knew whether a stream was muted by looking at the `in_home_view` property of the `Subscription` object, which is pretty c

[2019-01-16 13:17] borisyankov commented on #3285
We should tag these with something like `api migrations` and implement in a batch.

[2019-01-16 19:34] kanishk98 commented on #2512
@zulipbot  claim

[2019-01-17 03:18] jmandel opened #3286 "Scrolling through topics on iOS is not working"
Trying to scroll, topics jump around and won't stop scrolling. https://photos.app.goo.gl/hK1bj9RmvLTBF8i2A demonstrates the behavior on @vietdnguyen's phone (and @rhausam is experiencing the same).

[2019-01-17 04:44] brianpos opened #3287 "Auth redirect logging in on edge Samsung S9 hangs"
When trying to login to an account with a Google account where the phone has edge set as the default browser hangs.
Just switch to Chrome as the default browser then try connecting works.
Remove connection, rest back to edge and can reproduce it.

[2019-01-17 17:00] jainkuniya opened #3289 "[Autocomplete] People autocomplete doesn't pops if `@` is typed in new line (after enter)."
![image](https://user-images.githubusercontent.com/18511177/51335188-6e115100-1aa7-11e9-954d-ccb17e2d8ccd.png)

https://chat.zulip.org/#narrow/stream/48-mobile/topic/Problems.20mention.20pop.20up.20on.20iOS
@zulipbot claim

[2019-01-17 18:04] jainkuniya opened #3291 "Lightbox: SafeAreaInsets padding is not applied."
<img width="367" alt="image" src="https://user-images.githubusercontent.com/18511177/51338533-17f4db80-1ab0-11e9-91d2-c4f23355fa25.png">

@zulipbot claim

[2019-01-18 04:38] Jigar3 opened #3293 "Running react-native run-android behind a proxy"
On running  `react-native run-android` command behind a proxy, there are errors about network connectivity.
I faced the similar problem myself, this issue is to improve documentation for the same.

[2019-01-18 05:25] Jigar3 opened #3295 "Placeholder Text padding shows irregularity"
![whatsapp image 2019-01-18 at 10 51 59 am](https://user-images.githubusercontent.com/32068121/51367146-3f2ec580-1b0f-11e9-8aa1-a8a78bb7d0b9.jpeg)
The placeholder text padding is not perfect when I opened it for the first time.

![whatsapp image 2019-01-18 at 10 52 00 am](https://user-images.githubusercontent.com/32068121/51367143-3d650200-1b0f-11e9-8a18-ed197937ef8b.jpeg)
After clicking on the in

[2019-01-19 13:17] lukasIO opened #3298 "Images delay new message loading"
Hi,
It's a lot more noticable when I'm on a mobile (slow) network and there were a lot of (>3) larger (>2mb) images recently posted in the stream.
Seemingly the new messages are not loaded until all image information of the old messages is fetched.
Would it be possible to prioritize the text of the messages over the image info? or any other approach that would solve this?
It makes the mobile exper

[2019-01-19 17:11] borisyankov commented on #3295
@timabbott has indicated that this is an important issue to fix quickly.

I suggest we give @Jigar3 a chance to find the issue if he has time in the next few days, if not @jainkuniya you should find and fix the issue 👍

@Jigar3 indeed `git bisect` is your best bet. Also, a great opportunity to learn how it works (I am not assuming you already do, as most people don't).

You can see all the tags wi

[2019-01-19 18:48] Jigar3 commented on #3295
@borisyankov I will definitely try to resolve this issue thanks for the chance

[2019-01-20 18:06] borisyankov commented on #3284
I am re-opening this as is still partially true with the reversion of the commits.
This is a more minor problem now though: we still show "No Messages" but we also fetch for messages and shortly after that we show the messages.

[2019-01-21 10:10] andreasoc commented on #117
is very important this features for Company.. for example photos in high quality make by mobile phone, and sharein Zulip.. now for this we use a cloud solution but Zulip would be more immediate

[2019-01-21 17:25] Be-ing opened #3299 "Attached picture is posted before caption is typed"
When attaching a picture to a post, the picture is posted in its own post before I can type a caption. I wanted to post the picture and caption in the same post, but someone else commented on the picture before seeing the context I provided with the text caption.

[2019-01-21 23:02] borisyankov opened #3301 "Message list scroll position is often slightly messed up"
When showing/hiding `UnreadNotice` the message list scroll position is moved by the height of that panel.

As a result, when you narrow to a conversation with one or a few unread messages and at least a screenful of total messages (which is a very common scenario when staying caught up in a busy org), what you typically see is the screen jumps a couple of times, and then settles scrolled slightly

[2019-01-22 08:04] kanishk98 commented on #2512
@borisyankov I think I've got the work done. I'd just like to know if there is some test server/notification stream used by the mobile team to quickly test these kinds of issues. Would help a lot.

[2019-01-22 08:18] jainkuniya commented on #2512
Hi, you can test in #test here stream on chat.zulip.org or create your
server on zulip.com/new or setup locally (GitHub.com/zulip/zulip).

On Tue, Jan 22, 2019, 1:34 PM Kanishk Kakar <notifications@github.com wrote:

[2019-01-22 11:13] zingmars opened #3303 "Viewing uploaded files fails, or requires logging in again"
Right now if I share a file (i.e. a document) and click on the link that's sent in the Android app it will open a webview asking me to log into the Zulip instance. This is pretty annoying to be honest as the expected behaviour here would be to offer me to download the file instead.

[2019-01-23 09:21] armaanahluwalia commented on #3299
This will be addressed by #2887

[2019-01-23 13:11] AB261 opened #3307 "Enhancing architecture docs"
Many of the folders in the /src directory are not mentioned in the architecture.md file such as lightbox. It would help beginners understand the structure more easily if this was done.

[2019-01-23 13:12] AB261 commented on #3307
@zulipbot claim

[2019-01-24 00:33] #3273 closed

[2019-01-24 16:03] msirkoch opened #3308 "Cannot connect to server - Wildcard SSL cert"
I'm running into the same issue described in #2909 with our hosted Zulip server and connecting to it with the Android app.  My SSL cert is valid and seems to be installed correctly based on what I can tell from the desktop web browser.  One thing to note though, my SSL cert is a wildcard cert.  Does the Android app support wildcard certs?  If so, can someone please point me in the right direction

[2019-01-24 18:19] jainkuniya commented on #3301
#3027 is also in somewhat similar catalog.

[2019-01-25 02:10] #3295 closed, assigned to Jigar3

[2019-01-25 02:17] gnprice commented on #3295
Thanks @Jigar3 for reporting this issue! We'd been noticing it for a little while, but hadn't gotten around to taking care of it. And thanks @jainkuniya for some good systematic debugging and for the fix :smile: .

FTR I'll quote here @jainkuniya 's observations from debugging, as recorded in commit 6351c8e07 which fixed it:

[code]

[2019-01-25 19:55] noemartinez opened #3312 "Android app can no longer connect to secure server trusted by user-added CA"
We have a Zulip server set up with a secure SSL certificate, but the certificate is trusted only by an internal Certificate Authority of ours so far, not yet a public CA.

In previous versions of the Android app, I was able to connect to the server over from the Android app as long as my phone was connected to our VPN and I had [added our internal CA](https://support.google.com/nexus/answer/284483

[2019-01-27 12:02] sentry-io[bot] opened #3315 "Exception in SafariView on non-ASCII URLs ("unsupported scheme")"
Sentry handles this especially poorly -- every individual instance of this exception seems to result in a new "issue" in Sentry, disconnected from all the previous instances.

Sentry Issue: [ZULIP-MOBILE-10G](https://sentry.io/zulip/zulip-mobile/issues/859258093/?referrer=github_integration)

(In the URL, sequences `***` are redactions.)

[code]

[2019-01-28 23:47] gnprice commented on #3251
Hi @jmandel ! Thanks for this report.

In the case where you get a notification that's in a different realm/organization from the one you were last using, this is a known issue (and unfortunately will take some work to fix): #2295 .

If you're sometimes seeing this when that isn't the case, I'd love to see a report with further details on that. I'll close this one because it sounds like it's mainl

[2019-01-28 23:47] #3251 closed

[2019-01-28 23:52] whoodes opened #3318 "Android emoji being horizontally cropped on ending line"
Running on Android, emojis are being cropped incorrectly if they are on the bottom line of the message and written without accompanying text.  The following screenshots demonstrate the issue:

![zulip-emoji-bug1](https://user-images.githubusercontent.com/39782863/51874850-b251ec00-2306-11e9-91f4-5f2fb07ac884.jpg)

![zulip-emoji-bug](https://user-images.githubusercontent.com/39782863/51874853-b67e0

[2019-01-29 00:14] borisyankov commented on #3301
Relevant here is that the Keyboard-avoidance is set differently on Android and iOS.
On Android we do use:
`android:windowSoftInputMode="adjustResize"` in `AndroidManifest.xml`
While in iOS we use
`behavior="padding"` on a `KeyboardAvoidingView`.

[2019-01-29 00:28] gnprice opened #3319 "Complicated loading sequence on following a notification"
This is a sort of continuation of #3284. It applies on 22.1.108 (which has the fix for that issue), and I believe on master.

Again it applies if:
* the app isn't already running, and
* it's a conversation we haven't previously seen.

In this version, what happens is:
* We briefly show "No messages".
* Then it switches to the "loading" animation.
* Then when the messages arrive, they display norma

[2019-01-29 04:11] pranavpandey1998official commented on #3318
i want to work on this issue

[2019-01-30 16:29] SivagiriVisakan opened #3321 "Emoji being shown twice when enclosed within a bold or italic markup"
When a message is sent with an emoji wrapped inside a bold or italic markup , for example as `** :tada: some text**`, then the emoji is shown twice.(see screenshot attached)

![image](https://user-images.githubusercontent.com/27341353/51995219-4e7f1d00-24d8-11e9-8474-b2a2ac2c3759.png)

See discussion: https://chat.zulip.org/#narrow/stream/48-mobile/topic/Emoji.20issue.20when.20enclosed.20within.20

[2019-01-30 23:23] gnprice commented on #2128
I don't know why this was once believed to have been fixed (it's hard to tell because no commit or PR is mentioned), but it's still quite live. Here's some logs from just now:
[code]

The repro is simply to switch back and forth several times between two (or more) different accounts.

The cause is this logic:
[code]
which runs as part of initial fetch, at startup or after logging into or switching

[2019-01-31 00:38] #2128 closed

[2019-01-31 09:24] armaanahluwalia opened #3322 "Add screenshots/GIFs to README.md"
I think it would be helpful for new users to have screenshots/GIFs on the main README file to demonstrate how the app looks and behaves. This gives new/potential users a quick glance at what they would get if they went through the signup/download/install process.

[2019-02-01 00:10] gnprice opened #3323 "Meet 64-bit requirement, by 2019-08 deadline"
Starting 2019-08-01, Google will require all published app updates to provide 64-bit versions of any native code.
https://android-developers.googleblog.com/2019/01/get-your-apps-ready-for-64-bit.html
https://developer.android.com/distribute/best-practices/develop/64-bit

We don't currently meet this, due entirely to a number of libraries built into React Native.

Google originally announced this r

[2019-02-01 18:53] drumilpatel2000 commented on #3303
@zulipbot  claim

[2019-02-04 11:20] tmjordan commented on #2781
i have the same problem

[2019-02-04 18:39] jainkuniya opened #3324 "Self-PM appears in other PM conversations"
Steps to reproduce.
* Open any PM narrow other than self, so that `newer` `caughtup` for that narrow become true.
* Now open self narrow and send new message.
* Now again  narrow back to same narrow which you picked in step 1.

**Observation**
The message which we posted in step two (to self) is also visible in other narrow (which we picked in step 1,3)

Restart the app, all works fine.

Issue is

[2019-02-04 19:18] borisyankov commented on #3324
Is that a bug though? This is how that works in the web app.

[2019-02-04 19:21] jainkuniya commented on #3324
@borisyankov By "all private narrow" , I doesn't mean "All private message".
I mean all other private narrows.

(editing title to ` all other private narrows` )

[2019-02-05 06:48] gnprice commented on #3319
This issue was fixed as a side effect of 9d5c0a73a "notif: Properly delay getting `usersById` from Redux", and more permanently by de4fe9c9b "notif: Drop the use of the `config.startup` mechanism".

As explained in the latter commit, the former already caused us to stop setting our navigation state to the given narrow inside the rehydrate handler, and to rely instead on the `doNarrow` action direc

[2019-02-05 06:48] #3319 closed

[2019-02-05 13:52] devbihari commented on #3322
let me handle this one. :fire:

[2019-02-05 13:57] devZer0 opened #3327 "iOS9 - Device: Zulip on an unknown operating system."
On first login with old iPhone4 (Model MD235D/A) and iOS 9.3.5 (13G36) i'm getting "Device: Zulip on an unknown operating system." in the notification email

[2019-02-07 03:22] #2877 closed

[2019-02-08 17:54] #3185 closed

[2019-02-09 04:09] gnprice opened #3333 "Notifications for unrelated group PMs get grouped as one conversation"
I'm pretty sure this method has literally never worked correctly:
[code]

The truth is that there is never an array of `int` in that spot. There is a string. It looks like `123,456,789` with comma-separated ASCII-decimal user IDs. That's what we get in the GCM message, and we have no code that would go and parse such a thing and produce an array of `int`, and we have never had any such code. Askin

[2019-02-09 04:50] #3333 closed

[2019-02-10 19:09] jainkuniya opened #3334 "lightBox: Sudden splash of the header and footer in & out on pushing route."
Whenever user routes to `Lightbox` screen, just after component renders there is a sudden splash in the footer and header. Header and footer comes into the screen and goes out 2 times before settling down.

@zulipbot claim I have diagnosed this issue and will submit PR soon.

EDIT
To confirm:
* Put a `console.log` in the `render` method. This `log` can be observed multiple times just after pushing

[2019-02-11 05:52] xiaomingplus commented on #1903
I think this is a very valuable feature. I don't have any hints when sending images. I will be very confused and think that I have not sent it. Moreover, users have developed a habit, all im apps have a preview.So, can you prioritize this feature?

[2019-02-11 17:42] borisyankov opened #3338 "'All messages' view fails to show all messages"
For `HOME_NARROW` if there are any unread messages the caught-up logic fails and considers incorrectly that `caughtUp.older` is `true` thus making the app not being able to load older messages.

[2019-02-11 19:41] #3338 closed

[2019-02-11 23:20] gnprice commented on #3015
I've just pushed a handful of commits that make a start on this. See discussion in cc9628e90 and 2d23ea707 and a bit in 31825016e, and additional examples in 61c84e352^..3d9baba57.

Plenty more to do! I count 20 more selectors this applies to, using this search command:
[code]

[2019-02-12 00:30] gnprice opened #3339 "Avoid linear scans through all users, streams, etc."
There are a number of places where we make a linear search through an array of potentially thousands of items, when we really just want a specific item with a known ID or name.

This is a pattern that can be devastating for performance -- in particular, as soon as it happens in a loop, we have quadratic behavior. This is a common class of performance bug found in lots of software:
https://accident

[2019-02-12 00:42] gnprice commented on #3339
I just pushed a series of commits that fix some of these. See the two commits shown above that link to this issue; plus 853bb9508 which sets up one of them by adding a cached selector to construct the appropriate data structure.

If you rerun the search in the OP, you'll find there are still 3 cases of `users.find`, plus all of the `streams.find` and others. So, plenty more to be done!

[2019-02-12 02:47] gnprice commented on #3015
Or, if you find the search UI in VS Code convenient, I just learned that it [supports multiline searches](https://code.visualstudio.com/updates/v1_29#_multiline-search)!

Hit `Ctrl+Shift+F` (for "Search: Find in Files"), then `Alt+R` (to toggle "Use Regular Expressions"; equivalently hit the `.*` icon in the search box); then paste the query `=>\s*createSelector\n?`. (The silly `\n?` is there beca

[2019-02-12 15:14] armaanahluwalia opened #3340 "Mention Autocomplete Popup Visibility Problem"
When I type in a message longer than one line, the mention autocomplete popup does not appear as it should.

May be related to #2917

See attached video for a reference
[Bug Video](https://streamable.com/oi48k)

[2019-02-12 15:29] jainkuniya commented on #3340
#3290 will fix it, Thanks for the report @armaanahluwalia

[2019-02-12 15:43] jainkuniya commented on #3339
I can pick up the rest one.
@gnprice Please assign me this.

@zulipbot claim

[2019-02-12 19:26] borisyankov commented on #3339
That is not entirely correct, because:
* `O(n^2)` might be terrible in theory, but when `n` is a small number and when the operation is fast, then this is not relevant
* often it is not quadratic but `O(n * m)` where `m` is a small number thus not as bad
* only `Users` and maybe `Messages` would be reaching values that it is a problem (Users say 15k * 15k = 225mil obviously)

Selectors are not a u

[2019-02-12 21:04] gnprice commented on #3339
Thanks @jainkuniya -- assigned! :slightly_smiling_face:

[2019-02-12 22:29] gnprice commented on #3339
@borisyankov Indeed, the cases I'm most concerned about are where we search through the list of users, which is the longest of these.

We routinely need to get details about users for things like showing their avatars in a message list, where we might do it for hundreds of messages at once, or for rendering a user picker. Those are a large `m`. And `n * m` is very much a quadratic function. :stuck

[2019-02-13 11:47] lukasIO commented on #3261
Not sure how this works on Android, but for iOS there is an app-specific option to enable or disable the message preview on the lockscreen.
If you disable the message preview you still get a notification to the lockscreen, but without content. If this also exists on Android I guess that would then be the desired behaviour and the "official" way of avoiding content on the lockscreen.

[2019-02-14 00:41] devZer0 commented on #2939
yes please. major annoyance!

[2019-02-14 22:01] gnprice commented on #2917
Closing this in favor of the various more-specific issues.

[2019-02-14 22:01] #2917 closed

[2019-02-14 22:04] gnprice commented on #3340
Thanks @armaanahluwalia for the report and the helpful video!

In fact, following a link from there, it looks like this issue is the same as #3289. Closing this one to avoid duplication.

[2019-02-14 22:04] #3340 closed

[2019-02-14 22:40] gnprice opened #3345 "Clarify and improve autocomplete-parsing logic"
The function `getAutocompleteFilter` controls when we show an autocomplete popup in composing message content. It's currently pretty convoluted and hard to follow, as highlighted in #3290. I see that as the root cause of issue #3289, and I think there are more issues lurking in that logic that are hard to see because of the complexity of the code. So I'd love to see a followup to make it simpler a

[2019-02-14 22:41] #3289 closed

[2019-02-14 22:46] gnprice commented on #2997
This was fixed (back in October) by #3030. The height isn't always right, but it's never enormous, which is a big improvement.

[2019-02-14 22:46] #2997 closed

[2019-02-14 22:49] gnprice commented on #3048
Closing this, per discussion in the companion PR #3049.

[2019-02-14 22:49] #3048 closed

[2019-02-15 00:05] gnprice commented on #3261
Indeed, there certainly is also such a feature on Android. So I think the use of this "REDACTED" feature is primarily to hide it from the bouncer (and Google and Apple), which would be superseded by encryption.

Potentially some organizations would still want it even then, to ensure the info doesn't make it to a lock screen. I'd think an organization that wants that kind of control would, if they'

[2019-02-15 00:18] gnprice commented on #2634
With zulip/zulip#11452, this is done!

[2019-02-15 00:18] #2634 closed

[2019-02-15 00:22] timabbott commented on #2634
I think you got the issue number wrong :)

[2019-02-15 00:36] gnprice commented on #3133
@timabbott This sounds good to me! And that format looks good.

I think including the data in `/register` is best, so that it's all part of the consistent, live-updating snapshot of data.

One optimization: I think we probably want a bound on the number of conversations represented, as well as the number of PMs. E.g., the last <=20 conversations found in the last <=1000 (as you suggested) PMs. Tha

[2019-02-15 00:43] gnprice commented on #2618
#3115 was fixed back in November. #3124 now describes the current status; following a fix to a server issue, it looks like authentication may not be the problem anymore. Anyway, closing in favor of the more-specific #3124. (Thanks again @jackrzhang for your work on all the pieces of this!)

[2019-02-15 00:43] #2618 closed

[2019-02-15 00:45] gnprice commented on #2634
Indeed I had, thanks :)

[2019-02-15 00:50] gnprice commented on #3318
Thanks @whoodes for the report and screenshots! This is #2693.

[2019-02-15 00:50] #3318 closed

[2019-02-15 01:15] timabbott commented on #3133
Yes, that's a good next step.  I think the query we'll want is roughly `UserMessage.objects.filter(user_profile=user_profile, flags=UserMessage.flags.is_private).order_by("-id")[0:1000]` will get the conversations we want, and then we just need to format the data.

[2019-02-15 01:52] gnprice commented on #3191
Hmm interesting. Would you post a screenshot? And actually perhaps more importantly: a concrete repro (e.g. a specific link that triggers the issue) would be an important step for fixing this.

[2019-02-15 11:47] borisyankov commented on #3191
I have sometimes seen images not load but very very rarely and was correlated with non-ideal network conditions.

[2019-02-15 16:53] jainkuniya commented on #2660
hey @vladp!
Yup, we will be rendering latex in the webview itself. In fact our whole message list is webview. :)

[2019-02-16 00:07] gnprice commented on #2660
Bumping the priority because we just got another request for this feature -- with Tim's comment above, I guess that means at least 5 different people asking for it :-) , which is quite a lot.

[2019-02-19 02:11] jainkuniya opened #3352 "Use Progressive Image to display avatar in AccountDetails."
Currently we are showing image with `getMediumAvatar`  as url. But on slow internet connections it takes time to load image and in this time nothing is shown, empty screen. Which doesn't look good. So till image is completely loaded, show a thumbnail image i.e the avatar which we usually show in message list. Also add a smooth transition between real image and the thumbnail image, like https://med

[2019-02-19 02:14] jainkuniya commented on #3352
Demo can be tested here: https://github.com/jainkuniya/zulip-mobile/tree/issue-3352

[2019-02-19 03:21] AB261 opened #3353 "Travis CI build failure due to lint"
The command "tools/test --full --coverage" is exiting with return value 1 and is preventing PR from getting accepted. The problem lies in lint
![lint_problems_zulip_mobile](https://user-images.githubusercontent.com/17261046/52987970-73a1e400-3423-11e9-9ccc-096af9876ff6.png)

[2019-02-19 03:21] AB261 commented on #3353
@zulipbot claim

[2019-02-19 10:57] borisyankov commented on #3352
Related but separate issue: we should be showing a higher resolution avatar in `AccountDetails`.
Would you look into that too?

[2019-02-19 11:01] jainkuniya commented on #3352
By `Higher resolution` you mean the url with `-medium.png` ?

On Tue, Feb 19, 2019, 4:27 PM Boris Yankov <notifications@github.com wrote:

[2019-02-19 11:47] borisyankov commented on #3352
Yeah.  I am not sure if we should be using `medium` there or at all.
I don't remember the details, worked on these too long ago.
Also, it is totally possible that the original decision was not correct :)
All I know is that often when looking at the `AccountDetailsScreen` the avatar looks blurry from the lower-than-ideal resolution we are using.

[2019-02-20 04:38] gnprice commented on #3353
Fixed in #3533. Thanks @AB261 for the report!

[2019-02-20 04:38] #3353 closed

[2019-02-20 15:22] jainkuniya commented on #3321
This is a server side issue #11621. So will be fixed there, no need to do any changes in the `zulip-mobile` codebase.

[2019-02-20 16:40] NidhiKJha opened #3358 "Profile Image is low resolution"
The profile picture of an account when clicked is low resolution and blurry.
Steps to reproduce:

-  click on a Profile
- The profile shows activity status
- And above it, the image is very low quality and blurry

[2019-02-20 17:16] timabbott commented on #3358
On the web, we use the `-medium` size avatar image for large profile pictures.  (Actually, technically, we render the small avatar first while we load the higher-resolution version, to provide a more instant initial rendering)

[2019-02-20 17:32] NidhiKJha commented on #3358
Why is the loading so slow then? I'm on a good Wi-fi connection.

[2019-02-20 18:54] timabbott commented on #3358
I suppose the other possibility here is that we are using the medium size image in the app, and the specific original image you're looking at was just a blurry image.

[2019-02-20 19:12] borisyankov commented on #3358
I have noticed we were showing lower resolution on mobile when a higher resolution was shown on the web.

[2019-02-20 23:16] #2693 closed

[2019-02-21 05:15] NidhiKJha commented on #3358
Can I work on this issue?

[2019-02-21 13:29] jainkuniya commented on #3358
Thanks @NidhiKJha for tracking this down. And ya! sure you can work on it.

Here are few observation of mine:
* This can only be reproduced in gavatar and custom images which is coming via gavatar. like:
@NidhiKJha 's one https://secure.gravatar.com/avatar/8e90b3ef6c589fd41eb5b8c5a61e8489?d=identicon&s=500&version=1&

or mine test account avatar: https://secure.gravatar.com/avatar/54b6910062c636a4

[2019-02-22 14:43] jainkuniya commented on #3352
#3359 is handling this :)

[2019-02-22 15:05] jainkuniya opened #3361 "accountDetails: Presence status is being shown on avatar."
In account details screen, we already show presence status below avatar. So there is no need of showing it on avatar image too.
![image](https://user-images.githubusercontent.com/18511177/53250905-6154ce00-36e1-11e9-92a4-290b9ca3e7b6.png)

@zulipbot claim

[2019-02-22 18:44] downeym commented on #1270
+1 ... it's not obvious that folks don't have to use Google services in order to download and use Zulip. 😄

[2019-02-22 19:10] Serkan-devel commented on #1270
but it's easier to update that way

[2019-02-22 19:20] gnprice commented on #1270
@downeym Thanks for the suggestion/bump! I agree.

I took a quick look at the relevant server code, and it isn't a trivial matter of adding a `<p><a>...` to an HTML template. So I'll file an issue there to see about getting someone to make that change.

[2019-02-24 10:03] NidhiKJha commented on #3358
I get two different errors on running lint and jest
[code]

[code]

[2019-02-24 14:02] AB261 commented on #1469
Hey! This seems like a good issue to get my hands dirty. Can I work on this? Is there anything else I need to know other than to look at that link?

[2019-02-24 15:36] yukiisbored commented on #1469
I suggest reproducing the bug and see if it's still occuring since this is an old issue.

Dim 24 févr 2019, à 15:02, Avakash Bhat a écrit :

--
https://yukiisbo.red

[2019-02-25 19:19] gnprice opened #3367 "Fix Flow interaction with Redux `connect`"
With #2971 nearing completion, we are about to have Flow type coverage on all our Redux selectors! :tada: This was a major part of our uncovered code.

An important area that still lacks coverage, which this highlights, is where our selectors meet our React components: the calls to `connect`, from `react-redux`. These are often effectively untyped, in that we can have a type in `Props` that blatan

[2019-02-25 19:41] gnprice commented on #2971
I believe this is now complete! :tada: Thanks to all the contributors who helped out.

[2019-02-25 19:41] #2971 closed

[2019-02-25 21:20] #3334 closed

[2019-02-25 22:43] gnprice commented on #3324
Thanks @jainkuniya !

Following up on my comments on #3328, here's what I think would make a good fix for this bug:
* Add some unit tests that clearly demonstrate the bug. They should fail if run on master.
* I think the root cause of the bug is that `matchRecipients` is too complicated. So let's fix that.
* I think one of the reasons it became too complicated is that it's handling both 1:1 PMs an

[2019-02-25 22:45] gnprice commented on #3361
Thanks @jainkuniya for reporting this!

@borisyankov , I think one of the changes you had queued up in a PR was going to fix this. Please mention this issue in that commit. :slightly_smiling_face:

[2019-02-26 05:03] armaanahluwalia opened #3369 "Compose box obscured by keyboard on long message, in stream view"
When replying to a message in the stream view, if the message you’re typing is longer than a certain line length, the message gets cut off.

This makes drafting long messages extremely difficult. See [this video](https://streamable.com/m9kho) for a reproduction.

[2019-02-26 21:55] gnprice commented on #2786
Duplicate of #1773 .

[2019-02-26 21:55] #2786 closed

[2019-02-27 00:39] gnprice commented on #3369
Thanks @armaanahluwalia for this report! Very interesting.

To highlight one detail: this specifically happens when narrowed to a whole stream -- it doesn't happen when narrowed to a topic.

To describe here in words the exact symptom: when you type a long (draft) message, the compose box grows to make room... and in the video, it eventually grows to try to use some space that's hidden by the keyb

[2019-02-27 00:42] gnprice commented on #3369
Oh also -- this symptom is reminiscent of #3273 "Keyboard overlaps the compose box on iOS". That one was fixed in 23.0.109, but the history may be a clue for what to look into.

[2019-02-27 00:46] gnprice opened #3370 "Blank strip between compose box and keyboard"
In [this video](https://streamable.com/m9kho) taken by @armaanahluwalia to demonstrate #3369, there's another symptom present:
![](https://user-images.githubusercontent.com/28173/53456805-9d8b7580-39e4-11e9-9f1f-373e9e1d8688.png)

A blank white band between the compose box and the keyboard.

The video is from iOS. (@armaanahluwalia , would you confirm what version of the app it's from?) I don't re

[2019-02-27 00:46] gnprice commented on #3369
(I went and filed #3370 for the blank white band.)

[2019-02-27 17:43] borisyankov opened #3372 "Allow updating own profile"
Implement the functionality that exists on the web at:
https://chat.zulip.org/#settings/your-account

More important parts:
* Email, Full name, Password
* Upload new avatar

Secondary:
* Deactivate account
* Custom profile fields

[2019-02-28 13:58] opensource21 opened #3373 "Warn on @-mentioning someone who won't see it because not subscribed"
Referenced users do not receive notifications from unsubscribed streams. See github issue. Unfortunately there is no warning at mobile-client :-( This is a ugly pitfall if you think you have notice someone, but the person didn't get any information.
See https://chat.zulip.org/#narrow/stream/48-mobile/topic/Referenced.20users.20on.20unsubscribed.20streams/near/709487

[2019-02-28 19:24] timabbott commented on #3373
Yeah, we should fix this.

For this category of things, there's a few parts of the webapp code we may want to study/adapt.
* `exports.notify_local_mixes` in `static/js/notifications.js`  (things we do after you send a message)
* `validate_stream_message_mentions` and the handful of functions after it in `static/js/compose.js` (validation/warnings/etc. we do before you send a message)
* The `$(docu

[2019-02-28 19:27] timabbott opened #3374 "Add support for composing "silent mentions""
We recently added a new markdown syntax for "silent mentions", spelled `@_**Tim Abbott**`.  We should extend the mobile app typeahead to complete that if the user starts their mention typeahead with `@_`.

(The HTML generated is very similar to the HTML for normal mentions, displayed as a bubble around "Tim Abbott" (no `@`) with markup matching a normal mention + an extra `silent` CSS class that w

[2019-02-28 20:37] athena-metis opened #3375 "Show diverse post times for multiple posts from the same user"
In zulip web interface the post times for consecutive posts from the same user are individually time stamped however in zulip-mobile only the time of the first post is listed even if the posts are many hours apart. This behaviour is the same in both portrait and landscape layouts.

**Expected behaviour:** Show time for either:-
- each post (may clutter the interface for faster moving conversation)

[2019-02-28 20:47] athena-metis commented on #3375
Just to confirm this behaviour is also the same in v23.1.110

[2019-02-28 21:15] borisyankov commented on #3375
That is intentional. There is no space to loose on a mobile phone's screen.
We might want to add some way to display this data, but it will definitely not be the same way as web.

[2019-02-28 21:30] athena-metis commented on #3375
I appreciate that space is limited and you wouldn't want to replicate the web approach, but not showing the time for more than the first post when they are hours apart is also not communicating valuable information.

[2019-02-28 21:34] armaanahluwalia commented on #3375
Agree with this feedback. Could probably just add a thin divider with a timestamp centered? Since vertical space isn't as much of an issue.

[2019-02-28 21:45] #3361 closed

[2019-02-28 22:50] jackrzhang commented on #3370
I don't see this on an iPhone 7 with iOS 12.1, though it does reproduce on a simulated iPhone XR - I think that this bug is related to the fact that the shape of the touch screen on the newer iPhone models (as of the writing of this comment) is no longer a rectangle.

The application could be utilizing some value(s) for the height of the screen and by relation, the height of the keyboard, that are

[2019-02-28 23:05] timabbott commented on #3375
I tend to agree with the reporter that we should include the timestamps.  It's often essential information for understanding what someone is communicating to see that they followed up 3 times an hour apart vs. 2 minutes apart.  And as is shown in that screenshot, our integrations are generally designed to not repeat the timestamp of an event because that information is expected to be displayed by

[2019-03-01 01:31] gnprice opened #3376 ""All messages" gets busy and crashes on skimming past tons of messages"
A user reports:

Additional details:

* This is in the "All messages" screen
* > I have Jenkins sending all messages to “Jenkins” stream, but each job creates its own topic, so I want to get it read fast, hence all messages view
* > Also, I saw “mark all as read” in the top right corner, but only two times I think (second one being just now, but before I could press it Zulip crashed) :)

I can't i

[2019-03-02 07:45] jainkuniya opened #3378 "[Android] composeBox: Nothing happens after selecting item in autocomplete pop up."
This is Android specific. On iOS it works absolutely fine.

With the awesome `git` tool, `git bisect` I was able to find out which commit introduced it. And it was my commit only. I have never imagined that just `backgroundColor` can affect in such a way.

Commit which introduced this is: 041ce55e

I guess issue is in RN, when there is `absolute` component inside a `view` which has `backgroundColo

[2019-03-02 10:39] anh2111htd commented on #3372
@zulipbot claim

[2019-03-03 07:45] overide opened #3381 "Cannot scroll to the bottom in buddy list"
When it reaches the halfway, it starts scrolling to the top (or at least seems like it). Please see the video for more detail - https://bit.ly/2Ewj0Rb

[2019-03-03 09:39] lukasIO opened #3382 "Caching of profile image"
I tried out the new release (23.2.111) on the train on a rather slow network.
It became apparent that the profile images of all users that are in the webview are re-loaded from the server when switching from/to a view or narrow.
One of our users had a rather large custom profile image on the web, which then triggered a reload via mobile network on each view that that user was part of.
additionally

[2019-03-04 04:21] AB261 commented on #3345
Is someone working on this? If not can I work on this?

[2019-03-05 01:05] gnprice commented on #3378
Thanks @jainkuniya for tracking this down!

And glad `git bisect` worked well for you. It is indeed a powerful tool -- especially helpful for diagnosing an issue like this one that is triggered by something totally surprising that seems like it shouldn't have any connection. :smile:

One further observation: it's not quite that *nothing* happens when you tap an item in the popup. Instead, the touc

[2019-03-05 01:10] gnprice commented on #3378
The previous issue was #3209 . That one happened only some of the time.

That one was also Android-only, and like this one it was pretty mysterious:

That one was fixed by #3210 aka 3910f2d69 . Hmm, and that fix also involved avoiding `position: 'absolute'`:
[code]

[2019-03-05 01:15] gnprice commented on #3378
Copying back here a comment you made on your PR #3379 to fix this:

[2019-03-05 01:37] gnprice commented on #3378
Given that we've run into probably the same underlying RN issue twice now, it would be a very good use of time to track that underlying bug down and get it fixed.

Trying to reproduce it in a fresh RN project was a very good step. Given that that didn't work, here's the next thing I'd recommend trying:
* Start from our app, in a version where the issue reproduces, and start radically cutting out p

[2019-03-05 01:54] #3378 closed

[2019-03-05 01:59] gnprice opened #3383 "RN issue can make autocomplete popup not respond to touch"
We just fixed #3378, and previously we had an issue #3209. Both had the same symptoms, applied only on Android, and were introduced (and fixed) by changes which seemed like they should have no effect on the behavior. Their effect was pretty bad, too.

So it seems like there's an underlying issue here in RN upstream, which it'd be worth our while to fix -- if it doesn't get fixed, there's a good ch

[2019-03-05 02:05] gnprice commented on #3383
I did a quick search of the upstream tracker for related issues. I didn't find any that appeared to be a match. A few that looked closest:
facebook/react-native#17200
facebook/react-native#14555
facebook/react-native#15823

But it looks like in each of those, the visual rendering was also wrong, in a way that matched the buggy touch behavior. For us, things render correctly visually, and it's only

[2019-03-05 06:28] AB261 commented on #3345
@zulipbot claim

[2019-03-05 19:40] borisyankov opened #3384 "Correctly display user's status when 'unavailable'"
We support the user setting themselves to unavailable, but we don't yet correctly display when a user is unavailable.

This means two things:
* The icon should be the one we've chosen and now have on the web (rather than a gray disk.)
* The user shouldn't be described as "Active now", or "Active 15 minutes ago" etc.

More discussion here:
https://chat.zulip.org/#narrow/stream/48-mobile/topic/user.

[2019-03-05 21:56] ungps commented on #3374
Hello.

I would like to work on this.
@zulipbot claim

[2019-03-06 06:02] armaanahluwalia opened #3385 "Copying Message to Clipboard"
There’s a bug in the way copying to clipboard works in messages. Currently it copies the entire message even if the area we long pressed was a link. In my opinion either this should be changed to copying just the link when pressing on a link and the entire message when pressing outside a link or we just always show two different options in the long press menu.

[2019-03-06 17:40] borisyankov commented on #482
This does not seem to be planned to do any time soon (or ever).
Closing this to reduce noise in 'Issues'.

[2019-03-06 17:40] #482 closed

[2019-03-06 22:39] ungps commented on #3385
Hello.

What about something like this?

https://media.giphy.com/media/348sxe116DjLFFK4aq/giphy.gif

[2019-03-06 22:48] ungps commented on #3385
Hello.

Would something like [this](https://gfycat.com/HideousOffbeatInsect) work?

[2019-03-06 22:50] ungps commented on #3385
Hello.

Would something like [this](https://gfycat.com/HideousOffbeatInsect) work?

[2019-03-06 22:51] ungps commented on #3385
Hello,

Would something like [this](https://gfycat.com/HideousOffbeatInsect) work?

[2019-03-06 23:21] borisyankov commented on #3385
I think we would want the behavior to be on the same menu option.
The long-press menu is already filled with too many items.

[2019-03-07 01:53] gnprice commented on #3025
We keep hearing from users who regularly see stale data and take several seconds, or more, to update. Typically the symptom is reported as simply "Zulip doesn't update with new messages".

Bumping the priority accordingly -- it's long past time we added this basic piece of UI for any networked application.

(Often the reports focus on the message list, not the unreads screen -- particularly after

[2019-03-07 01:55] gnprice opened #3387 "Loading indicator on message list when data is stale"
Similar to #3025, but for the message list. This is an especially important UI surface for this situation because users often start the app by opening a notification, which navigates straight to the message list past the unreads screen.

One simple, good design for an indicator would be a banner a lot like our `OfflineNotice`, but instead of "No Internet connection", saying something like "Connect

[2019-03-07 16:04] schezfaz commented on #3385
Since the long press-menu is already filled with a lot of options, what we could do is directly copy the link to clip-board on long-pressing only the link portion of the message, without adding an intermediate step of selecting the correct option to do so. I believe this would be intuitive to the user as well, similar to how WhatsApp does it.

[2019-03-08 03:05] gnprice opened #3388 "Nav bar for 1:1 PMs on iOS has avatar stacked above name"
This is the issue reported by @jainkuniya in PR #3380 , and fixed in b78b49d62.

Screenshot by @jainkuniya :
![image](https://user-images.githubusercontent.com/28173/54004804-d249ac00-410b-11e9-829a-12262ff53c09.png)

[2019-03-08 03:16] gnprice commented on #3388
The cause of the issue turned out to be that our `Touchable` had different layout behavior between platforms. Fixed that in ec32af1a4.

The root cause was that React Native upstream's components `TouchableHighlight` and `TouchableNativeFeedback` have interfaces which differ in a subtle, and very important, way:
* `TouchableHighlight` makes a wrapper `View` to display the feedback, with (a clone of

[2019-03-08 03:17] #3388 closed

[2019-03-08 22:52] jackrzhang opened #3389 "The upper edge of an iPhone X screen covers part of the UI in landscape orientation."
This really isn't a severe blocker in terms of usability, but I figure it's still worth reporting -

On any iPhone X model, the upper edge of the screen covers part of the application UI in landscape orientation:
<p align="center">
<img src="https://user-images.githubusercontent.com/12771126/54060091-76ddf380-41c9-11e9-9ec6-81b4326f60e7.png" width="610" />
</p>
<p align="center">
<img src="https:/

[2019-03-10 07:20] timabbott commented on #3205
@borisyankov @gnprice how close are we to merging this?  We've been getting complaints from users about the frankly poor situation that polls are invisible in the mobile apps.

[2019-03-10 23:42] borisyankov commented on #3205
@timabbott we have the #3220 ready to merge.
It does support the processing, understanding and storage of submessages.

It visualizes a placeholder that says we do not support 'widgets' yet though.
That is better than just missing the message but not by much.

I have started the next phase in a PR that is very WIP and far from done.

To clarify where I think the effort in implementing it fully lie

[2019-03-11 17:50] andreasoc opened #3394 "Feature request: Upload all type files from Mobile app"
HI
I think it is essential to have the ability to upload from the mobile app, any type of file, in Zulip.
thanks

[2019-03-11 17:58] andreasoc commented on #117
How is the work going ?
thanks!

[2019-03-11 18:01] jainkuniya commented on #117
There is an open PR for this https://github.com/zulip/zulip-mobile/pull/3304

On Mon, Mar 11, 2019, 11:28 PM Andrea <notifications@github.com> wrote:

[2019-03-11 19:19] schezfaz opened #3392 "Redirect user to register page onClick "I am new to Zulip" button"
Currently, onClick of the "I am new to Zulip" button leads to a screen that informs the user that they need to sign up before being able to use the application. However, there is no means for the user to navigate to the register page directly. It would be more convenient if the "help" screen redirects the user to the register page https://chat.zulip.org/register/ in their mobile browser.

![helpSc

[2019-03-11 21:30] timabbott commented on #3205
I chatted with Rishi about this.  I think this is a P1 issue, specifically for just the `/poll` widget.  There's hardly any other widgets today and no other widgets are likely to be important in the next 6+ months, and new widgets we add may involve adding new APIs for them.  So while we generally aim to build things generally, hacking together a solution that covers `/poll` by e.g. copying some c

[2019-03-12 03:22] #3392 closed

[2019-03-12 20:12] ungps opened #3395 "Some emojis (digits and single letters) are displayed as text"
Hello,

When composing a message, although `:0:` `:1:` `:2:`  ... `:10:` emojis are detected by the auto-completion system, they are displayed as plain text, not as emojis (:zero: :one: :two: ... :keycap_ten:). Also, they cannot be added as reactions. It seems that `:zero:` `:one:` `:two:` `:three:` ... `:ten:` work just fine in both cases. [Preview](https://gfycat.com/OilyIdioticAcornwoodpecker)

[2019-03-12 21:24] andersk opened #3397 "Doesn’t update my own avatar"
My mobile app never refetched my avatar after I created it on Gravatar. It still shows the autogenerated pattern in the bottom bar and the user list, although it shows the correct picture with my messages in the message list.

[2019-03-12 21:36] borisyankov commented on #3397
Thanks for reporting this.
I did investigate the issue and luckily it was easy to determine its cause:
https://github.com/zulip/zulip-mobile/blob/master/src/users/usersReducers.js#L33

[2019-03-12 22:39] gnprice opened #3398 "Avatars should be squares with rounded corners, not circles"
Same thing as #205, but round 2 :wink: . The same reasoning applies:

One example: our own bot avatars look quite bad when cropped to a circle, as they now are on the user-profile screen (`AccountDetailsScreen`).

---

Relatedly: we shouldn't have had to have a round 2 of this, and we should avoid a round 3.

One root cause of round 2 is that in round 1 (in #208) we left the "circle" case lying ar

[2019-03-12 22:55] #3398 closed

[2019-03-13 00:10] gnprice opened #3399 "Upgrade to RN v0.59"
React Native 0.59 is out!
https://facebook.github.io/react-native/blog/2019/03/12/releasing-react-native-059

We should upgrade.

This is a big release with a lot of changes. Major things I'm eager to get include (details in above-linked post):
* updated JS implementation on Android, which has been ancient (should help perf; and blocks #3323)
* React Hooks
* CLI improvements

[2019-03-13 09:24] sharaththegeek opened #3400 "3D Touch for quick shortcuts"
I was wondering if we could work on 3D Touch quick action functionality for iOS devices. As in, when you 3D Touch Zulip from the Home Screen, it should show a list of actions.

We could work on this by developing from scratch (as part of GSoC ?!) or we could make use of existing libraries like : https://github.com/jordanbyron/react-native-quick-actions

[2019-03-13 17:03] timabbott commented on #3397
This actually highlights something we should be doing as preparation for the Queue 2.0 project.  Once we move to Queue 2.0, our data structures will no longer be automatically reset all the time by doing new `/register` requests.  As a result, data tracking bugs like this (and another that Greg and I were talking about yesterday with topic editing), which previously might have auto-correct on the

[2019-03-13 17:03] timabbott commented on #3395
@HarshitOnGitHub may remember this issue on the webapp.

[2019-03-13 17:32] 0x4a50 opened #3401 "Notifications on mobile are not granular enough"
Allow user to decide whether a specific notification type (stream vs @ message) makes a noise or a badge or both independently from each other.

Allow notifications only during specific time window of the day.

[2019-03-13 17:33] timabbott commented on #3401
For having notifications only active during a specific part of the day, there's an OS-level "do not disturb" feature on both iOS and Android which you can use to disable notifications for all apps.

[2019-03-13 18:20] schezfaz opened #3402 "Align longPress menu theme to match night mode theme"
Currently, the longPress menu does not comply with the night mode theme. Algining the themes would enahnce the night mode user experience!!

![Screenshot_2019-03-12-09-59-51-372_com zulipmobile debug](https://user-images.githubusercontent.com/28871211/54304152-8eaee080-45ea-11e9-93f5-1dd9cc187cfd.png)

[2019-03-13 18:20] schezfaz commented on #3402
@zulipbot claim

[2019-03-13 19:29] 0x4a50 commented on #3401
I don’t want to disable all apps though.  Some of these matter and need to
stay on.

On Wed, Mar 13, 2019 at 10:33 AM Tim Abbott <notifications@github.com>
wrote:

[2019-03-13 19:59] borisyankov commented on #3401
@0x4a50 do you need that for iOS or Android?
For Android, there is a thing called 'channels' that will allow more flexibility in changing notification's settings per stream or per message type.

[2019-03-13 20:01] HarshitOnGitHub commented on #3395
We need to update emoji code mapping from zulip master. Last update was based on the following commit https://github.com/zulip/zulip/commits/169de2f9cb9c4b0d30b943508d44453d3a4571f9 after which a change to remove number emojis was merged. https://github.com/zulip/zulip/commits/fc7e654d7b247eaf69afa513c62ae1922871f0eb
@jainkuniya FYI

[2019-03-13 20:04] HarshitOnGitHub commented on #3395
Okay just checked #3100 seems a complete fix for these issues. :tada:

[2019-03-13 20:48] borisyankov commented on #3397
That is a good point. I have started the audit and will document anything missing in a new issue.

FYI: I am already working on the users updating code as that is the most important missing functionality for Queue 2.0

[2019-03-13 20:58] 0x4a50 commented on #3401
IOS

On Wed, Mar 13, 2019 at 12:59 PM Boris Yankov <notifications@github.com>
wrote:

[2019-03-14 18:49] ishammahajan commented on #2623
@jainkuniya Could I pick this up? It seems like this is a good issue for getting used to the codebase.

[2019-03-14 20:36] thedeveloperr commented on #3387
New contributor to zulip mobile. Have only worked on zulip backend. Is this a first good issue for new contributor?

[2019-03-15 01:32] ishammahajan commented on #3385
I think this would work well, since it is pretty intuitive as well to press on a link and expect it to go on the clipboard. It is also how things work in Slack. There is another problem of pushing another option on the menu, what will happen if there are two links in the message? It seems like adding another menu to solve this problem isn't good for the UX.

@zulipbot claim

[2019-03-15 07:58] ungps commented on #3385
Oh,

Last night I also worked on it, but It was pretty late and I was tired and forgot to mention that I will edit the first code I sent a preview for at beginning (and submit). Anyway, I went by a different approach. Long-pressing on a link will change the menu option from "Copy to clipboard" to "Copy link to clipboard". (preview)[https://gfycat.com/SilkyEvenBirdofparadise].

[2019-03-16 00:56] gnprice commented on #3384
Thanks @borisyankov for filing this!

I'm going to narrow this issue down to the most critical/urgent points, the better to track getting those taken care of; I'll file a separate issue for the rest.

[2019-03-16 01:04] gnprice opened #3406 "Translate status text suggestions"
This is one of the followups to #3344. For details on this and other followups, see this comment:
https://github.com/zulip/zulip-mobile/pull/3344#issuecomment-468465263

[2019-03-16 16:42] borisyankov opened #3408 "Ensure all server events and their operations are handled"
We are handling almost all server events and the majority of their operations.
The ones not being handled have not been a priority to implement until now.

With the approaching implementation of Queue 2.0 we will stop refreshing our internal state frequently and it will be essential for the state consistency to add handling for the remaining ones.

[2019-03-16 18:49] pulkonet commented on #3402
@schezfaz Hi, please let me know if you're not working on it I would very much like to take this forward.

[2019-03-16 18:52] jainkuniya commented on #3402
Actually this is not straight forward, we are using 3 party library `react-native-action-sheet`. We need to do changes in it. Anyway soon we will be having in house action sheet, so we can take care this in that our own component. :)

[2019-03-16 18:56] pulkonet commented on #3381
I have confirmed this behaviour, I am digging into the code to see what is causing this.

[2019-03-16 19:29] jainkuniya commented on #3381
I guess this issue from RN upstream, when using sticky header. @pulkonet can you once try removing it?

[2019-03-16 19:32] pulkonet commented on #3381
Yes, sure.

[2019-03-16 20:25] pulkonet commented on #3381
@jainkuniya Hi, I tested as you said and it is indeed an issue from RN upstream. The sticky headers aren't performing well. A fix has been submitted but the fix wasn't perfect IMO [PR here](https://github.com/facebook/react-native/issues/20956)

[2019-03-16 21:06] pulkonet commented on #3381
Shall we remove it altogether ?

[2019-03-16 21:12] pulkonet commented on #3381
There was a similar removal of sticky headers from the Unread Messages in #3305.

[2019-03-16 21:57] pulkonet opened #3410 "Message List doesn't scroll up on adding reaction"
Currently, when we add a reaction to the bottom-most message in the list it doesn't automatically scroll up which is the ideal case. Only this much of the emoji is being displayed after being added w/o scrolling.

The list scrolls down when the emoji is removed though.

![Screenshot_20190317-032523](https://user-images.githubusercontent.com/24983958/54482116-7d710880-4864-11e9-989f-4da0469ee901.jp

[2019-03-16 22:03] pulkonet opened #3411 "Invalid emoji name error from server"
While reacting to the messages with some certain emojis the server is returning error code `400` along with the message `Invalid emoji name`.

<img width="575" alt="Screenshot 2019-03-17 at 3 28 11 AM" src="https://user-images.githubusercontent.com/24983958/54482158-00925e80-4865-11e9-8e09-3680ce609e53.png">

Steps of reproduction:

1. React to a message with either of the emojis `0 to 9`
2. Check

[2019-03-16 22:03] pulkonet commented on #3410
@zulipbot claim

[2019-03-16 22:19] pulkonet commented on #2122
@gnprice this issue is still not fixed and there in the production app. I would like to take this forward and close it.

[2019-03-16 22:21] pulkonet commented on #2122
This time I will keep it specific to the `longPress` of image.

[2019-03-16 22:31] pulkonet commented on #2249
@gnprice @borisyankov #3385 is almost a dupe of this. If we can fix it this way we won't have to populate two different action sheets. I can continue with #2278 or submit a fresh PR which will add features to handle both `short` and `long` presses for `images`, `links` and also normal messages.

[2019-03-16 22:41] #3411 closed

[2019-03-16 22:42] pulkonet commented on #3411
Dupe of #3128

[2019-03-17 09:04] schezfaz commented on #3402
Oh, no wonder. For the last 3 days I was trying to figure out how allButtonsRaw, showActionSheet and showActionSheetWithOptions get invoked and where they get styled. Makes sense now!

We could incooperate this change when we put the in-house action sheet into development. Also, similiar changes (aligning the theme to match night-mode) needs to be done for the options menu for images as well (whil

[2019-03-17 09:12] ishammahajan commented on #1336
@borisyankov On WhatsApp there is always a sticky header displayed which displays only the date on which the message on top of the list currently visible was sent. Other headers (non-sticky) contain the date on which the first message below the header was sent.

This seems to be a very good option since we do have a lot of space in the header, as pointed out by @timabbott , which goes unused. Anot

[2019-03-17 14:13] ungps opened #3413 "Edit message from another stream"
Hello,

At the moment it is possible to edit a message in a stream from another stream. This seems to be an effect of #2757 .

Preview:
![issue](https://user-images.githubusercontent.com/24317622/54492338-54855d80-48ce-11e9-8484-862c2b17ac14.gif)

[2019-03-17 14:13] ungps commented on #3413
@zulipbot claim

[2019-03-17 14:18] jainkuniya commented on #3413
This is an old issue.

There are several PR to fix this
https://github.com/zulip/zulip-mobile/pull/2911

[2019-03-17 18:13] ishammahajan commented on #3385
I believe the option for `Copy Link to clipboard` should be left to copy the link of the current conversation to the clipboard so that it can be shared with someone not in the conversation but has access to it as mentioned in [#2623](https://github.com/zulip/zulip-mobile/issues/2623). Open to inputs about it though 😄

[2019-03-17 21:21] borisyankov commented on #1336
@ishammahajan it is not being worked on currently. I did unassign myself from the issue to make this clear.

I think the WhatsApp implementation is feasible but a little weird.
Not sure how the other suggestion you are making would look like :)

This is worth working on!

[2019-03-18 03:32] Hypro999 opened #3414 "Long messages in compose box make it overflow"
Once a message becomes long enough android users tend to face 2 issues:

1. Can't scroll down to view the rest of the message.
2. Can't hit send.

![screenshot](https://user-images.githubusercontent.com/29123352/54505065-5a298480-495c-11e9-8872-735f8f7f98d2.png)

thread (topic) on Zulip to discuss this issue: https://chat.zulip.org/#narrow/stream/48-mobile/topic/Issues.20with.20long.20messages

[2019-03-18 03:36] Hypro999 opened #3415 "User Pills Overflow on Android Devices During a Mention"
When trying to mention another user on Android devices, The user pills tend to overflow if there are a lot of potential users to mention. Subsequently, there is no scroll option and pressing on the person to mention becomes a hassle.

![screenshot](https://user-images.githubusercontent.com/29123352/54505225-f9e71280-495c-11e9-8e07-20bc4c0da335.png)

Thread on Zulip to discuss this issue: https://c

[2019-03-18 08:51] ishammahajan commented on #1336
I'll try and produce mockups of each implementation before implementing them in full.

@zulipbot claim

[2019-03-18 09:58] ungps commented on #3414
@zulipbot claim

[2019-03-18 10:32] ungps commented on #3415
I tried this both on an emulator (1080x1920, where this is an overflow) and on my phone (1080 x 2160, no overflow), but I could not reproduce; the scroll works fine in both cases.

[2019-03-18 11:47] ungps commented on #3414
The send button is still there when writing in a topic, but it disappears when writing a long message in a stream (so the cause is probably the topic input box). I am going to look more into this when I get back from university.

[2019-03-18 12:43] mitulverma13 opened #3416 "Send a predefined message"
I have converted the trivia quiz options as a button, I am able to click it and fetch the value and want to fire the handleSend(); function of ComposeBox.js from webViewEventHandlers

**ComposeBox.js**
handleSend = () => {
    alert('send')
    const { dispatch } = this.props;
    const { message } = this.state;
    dispatch(addToOutbox(this.getDestinationNarrow(), message));

    this.setMessageI

[2019-03-18 12:57] ishammahajan commented on #3414
@ungps how does adding a multiline limit to this sound (referring to WhatsApp for example, which adds 6 lines before it stops expanding the text box)?

[2019-03-18 14:42] AdityaHirapara commented on #3372
I would like to work on this issue

[2019-03-18 14:48] AdityaHirapara commented on #3372
I am thinking of implementing it on profile tab like this:
![Screenshot_2019-03-18-19-20-50-35](https://user-images.githubusercontent.com/27485533/54538534-6f350080-49ba-11e9-9241-154c8ea40480.png)
Then pressing button will navigate to new screen like user status.

@borisyankov any suggestions?

[2019-03-18 16:46] Hypro999 commented on #3415
I'm starting to wonder if this is an error on my end (maybe I didn't scroll the right way or something)... I'll close the issue for now and re-open if I can produce more evidence for it.

[2019-03-18 16:47] #3415 closed

[2019-03-18 17:25] borisyankov commented on #3372
@AdityaHirapara we have some problems with vertical space here - some phone screens might not be high enough to fit this. I have an idea for a different style of 'Edit profile' button, but it is perfectly fine to start working on this with this implementation and we can fix that before merging it.

[2019-03-18 18:02] timabbott commented on #3372
We probably don't need to show local time for your own profile, so there may be some space optimization options available too.

[2019-03-18 18:41] AdityaHirapara commented on #3372
Yes, That can be done.

[2019-03-18 18:57] ishammahajan commented on #1336
@borisyankov made them, here they are

Mockup for implementation in header
https://imgur.com/LRB7dtZ

Mockup for implementation in message itself
https://imgur.com/DW11QQQ

I think the first implementation is better, no?

[2019-03-18 19:00] borisyankov commented on #3372
We probably need this information somewhere though.
If there is a timezone set it is not necessarily what the actual time of the device is.

Also, I haven't had set this for myself so my concern for the space was even without that line.

[2019-03-19 15:25] ishammahajan opened #3419 "Pinned Streams: Should be easily accessible."
Pinned streams exist for one purpose only, to be easily accessible. The current implementation, pinning them on the top, makes it unwieldy for someone with larger phones (a lot of them are large these days, I don't get the craze at all) to reach to the top to click on the stream. This becomes an even bigger problem with people who have relatively smaller hands. This defeats the purpose of pinned s

[2019-03-19 15:56] pulkonet commented on #3419
Another solution would be to rethink the whole UI of the app like the One UI by Samsung, but that would be a much bigger task. A floating window would be absurd IMO if you have more than 5 pinned streams.
We can make mockups and find out.

[2019-03-19 17:19] ishammahajan commented on #3419
A possible solution to that would be a floating window, but with a maximum line and scrolling if it does cross the limit. I don't think a redesign is required though, the current UI is rather good! 🙂

[2019-03-19 17:44] timabbott commented on #3133
I opened the serve issue for this as https://github.com/zulip/zulip/issues/11944

[2019-03-19 19:24] pulkonet commented on #3419
Yes, the current UI is great; and I mentioned the UI overhaul because taller displays were in context. One UI is really killing it there.

[2019-03-20 01:56] gnprice commented on #3375
Thanks @athena-metis for writing this up! I agree -- some way of showing this information is a recurring thing I notice that I wish I had, and we should add it.

FWIW WhatsApp shows the time of every message. They stick it in the lower-right corner of the message's box; they manage to do it so that it takes no horizontal space, except on the last line of the message (which after all doesn't typica

[2019-03-20 02:02] gnprice commented on #1336
Hi @ishammahajan -- thanks for your work on this and the PR #3418 !

That one implemented the "dates in topic bars" design. As I wrote there, though:

I see a couple of possible directions that might work (and there may be others):

* Put dates in topic bars... and then, like the webapp, have more general "recipient bars" appear even when you're in a narrow where the recipient will always be the s

[2019-03-20 06:38] timabbott commented on #3133
I spent this afternoon/evening building the backend that the mobile app will need for this in https://github.com/zulip/zulip/pull/11946.  I want to add some unit tests and get some opinions on the "recent_conversations" name, since I'm worried it's ambiguous and should instead be something that explicitly mentions private messages.

In any case, I've test-deployed that PR on chat.zulip.org, so you

[2019-03-20 06:54] anh2111htd commented on #3372
Hi @AdityaHirapara, I've already been working on this issue :) I claimed 2 weeks ago but didn't update frequently as it took a while to learn the codebase and debug.

For now, user can edit their own full name, I'm working on allowing them to edit avatar and password. @borisyankov can you help me do a quick review for #3421 as it may relate to your PR #3403?

[2019-03-20 10:41] AdityaHirapara commented on #3372
Oh okay, Let me know if I can help you with anything :)

[2019-03-20 20:59] ishammahajan commented on #1336
@gnprice Thank you, Zulip is the first open source project I'm working on, and I must say I'm loving open source! :)

The date should be anchored to one location, in my opinion, and the topic header is one such location. If the date was anchored to the message, as mentioned in #3375, the UI will become very convoluted.

I am in favour of including a header in the narrowed down topic screen as well

[2019-03-20 21:15] ishammahajan commented on #3419
That's interesting, it seems like a very drastic change, but would bring lots of benefits with it. I wonder what the maintainers think about such a change.

cc @gnprice @borisyankov

Top 1/3rd screen is designed to be read-only at launch
![](https://user-images.githubusercontent.com/33200024/54719452-f3d27b00-4b82-11e9-9e5d-49e351c46b14.png)

[2019-03-20 21:58] gnprice commented on #3414
Thanks @ungps for this report!

Take a look at #3369 (and in particular the video there). Does that appear to describe the same issue? Or if not, can you describe how this one is different?

[2019-03-20 22:06] gnprice commented on #3414
Putting a bound on the height is a reasonable direction for solving this, but it's important that we not limit it too tightly. See previous discussion on #3049 :

That was followed with a sketch of the logic we would want:

but it doesn't look like it ever happened. So that would be a good solution.

@ungps , thanks for taking a shot at this with #3420! Want to try implementing the logic described

[2019-03-20 23:08] gnprice commented on #2249
@pulkonet Ah indeed, thanks for flagging that!

I agree, this and #3385 seem to be descriptions of the same issue. I'll consolidate.

@ishammahajan is actively working on #3385 now, in #3404 . So let's hold off on any parallel work until that's done.

[2019-03-20 23:12] gnprice commented on #3385
Thanks to @pulkonet for pointing out that we have an existing issue for this! #2249 . (I remember being surprised that we didn't :stuck_out_tongue: , but didn't spot where we actually did.)

Closing this one as a dup, i.e. just to consolidate the discussion in one place. Everything said recently on this thread still holds just as true as it did before, though.

(And thanks again to @armaanahluwali

[2019-03-20 23:12] #3385 closed

[2019-03-21 00:09] gnprice commented on #3133
Awesome, thanks!

I agree -- `recent_pm_conversations` would be much better. Or possibly `recent_private_conversations`.

In general I like using "conversation" to mean basically a thread, or the smallest unit it makes sense to narrow to and reply to: it's either
* a stream + topic; or
* a group PM conversation, aka a huddle; or
* a 1:1 PM conversation.

Perhaps it'd be helpful to call it `other_u

[2019-03-21 00:19] gnprice commented on #3408
Thanks @borisyankov for writing this up!

I just added a few items; if I see more in this category I'll add them too.

[2019-03-21 00:47] gnprice opened #3423 "Correctly batch marking messages as read"
See server/webapp issue zulip/zulip#11956.

Our code is open to the exact same issue. It's harder to trigger, partly because we just don't fetch as many messages at a time, but there's nothing actually preventing it.

Instead, we should do as described there:

We actually have some logic that looks intended to do something like this, in `queueMarkAsRead.js`:
[code]

But it doesn't quite actually w

[2019-03-21 01:28] gnprice commented on #3376
#3423 describes something that could conceivably be a cause of this. (Though it seems hard to trigger, and it doesn't seem like it should really cause that much client-side work -- so I think the cause is *probably* something unrelated.)

[2019-03-21 02:30] jainkuniya commented on #2691
I am working on this and submitted WIP PR #3407

[2019-03-21 05:11] timabbott commented on #3133
I haven't tested this with the current code, but if I had to guess, it'll include that recipient_id if there are recent messages, and have an empty list of `user_ids`?  I think including it would probably be the correct behavior, certainly (client views could choose to filter it, but one can imagine reasonable client views that display it).

Yes, it's bijective with sets of user_ids as long as we'

[2019-03-21 08:05] fredczj opened #3424 "Auth gets only halfway, on server with custom userprofile setup"
Hi,
On both iOs and Android, the Zulip app is not able to retrieve the information from my Zulip server.
I can connect (setting the URL of my server it validated together with my account settings), but the application turns in the void, running the 'waiting' wheel icon but unable to collect any information.

My Zulip setup has the following specificities:
  - connection is done over port '33666' i

[2019-03-21 16:41] timabbott commented on #3424
We support the LDAP auth model on mobile, but I'm not aware of whether we've tested the mobile app with alternative port numbers; that symptom certainly seems consistent with sending the request to port 443 anyway.

Just to be clear, what did you enter in the server URL prompt?

[2019-03-21 16:43] fredczj commented on #3424
https://myserver.com:33666

Le jeu. 21 mars 2019 à 17:41, Tim Abbott <notifications@github.com> a
écrit :

--
Fred

[2019-03-21 22:28] borisyankov commented on #3414
This is trickier to implement than it seems at first sight.
The ideal solution will consist of no manual calculations but will be only style-based with maybe some components moved around and optionally wrapper `View`s etc. added.

That might not be easy or even possible but is worth exploring.

The alternative is what Greg is saying, not only Keyboard should be considered but layout changes in gen

[2019-03-22 07:22] Hypro999 commented on #3414
@gnprice It's definitely a similar issue though not the exact same. In this case, I can't access the send button at all after a certain point. The topic also becomes completely inaccessible.

![](https://user-images.githubusercontent.com/29123352/54806826-3c805600-4ca1-11e9-85b6-f00bc2d8d0ab.png)
![](https://user-images.githubusercontent.com/29123352/54806829-3c805600-4ca1-11e9-93fa-f1901178aa11.p

[2019-03-22 07:55] fredczj commented on #3424
I have worked a bit on this today, and it sounds not connected to the port binding.
I have switched my port assignation back to a more standard one (no port override, then, 443). but the situation is still the same: my mobile app is still stuck trying to gather data, I guess.
I am still connected anyway (Organization logo, successful login etc..).
If it is no port connected, could it be connected

[2019-03-22 11:19] borisyankov commented on #3423
I can't imagine a case where we will have more than 1000 message IDs sent at the same time.
Typically maximum messages would be about 100.

This might happen on the web app when you go to the 'All messages' narrow and scroll through the whole list, but they would have loaded 1000 messages at the start and we don't.

[2019-03-22 12:00] DominikRobert opened #3425 "Android App Accept User Certs"
Hello, I have the problem that I have a certificate from our CA and want to run zulip. In newer android version the certificates from the user are not used. So is it possible to allow user certifiactes?

The android Manifest should look like:
[code]
and the @xml/network_security_config

[code]

Can creat a pull request, so I paste my code here to solve this issue. Is it possible to integrate this

[2019-03-23 00:27] ishammahajan commented on #3375
WhatsApp's approach works for them, I think, because the `time`s they display are all in different columns with respect to each other. In Zulip, since we don't differentiate between a message the user sent, and others which are coming in, the time will always be in a straight line on the right. While this might not sound bad, I believe the interface will become too cluttered if we started doing so

[2019-03-23 00:33] gnprice commented on #3133
Yeah, that seems like the right behavior to me.

It'd be good to pin down what it in fact does. :-)

In particular I think we've had bits of hairy logic where for the self-PM thread, in some interface or data structure, `user_ids` is *not* empty -- instead it contains the user's own ID -- and client-side app code dealing with that gets messy. That in fact seems like an easy result to end up with b

[2019-03-24 16:14] jainkuniya commented on #3415
I guess we need to track this issue. I am definitely sure it can happen on some device because currently we are hard coding `maxHeight`, ideally it should be decided at run time according to the device.

[code]

[2019-03-24 16:24] jainkuniya commented on #3414
I don't think this will get solved by just setting `maxHeight`.
Few observations:
* This is happening in stream narrow, not in PM.
According to me if it is related to message box height then what it it not happening in topic or PM narrow.

If i would have to guess that this is related to view wrapper or topic input. Because it only happens when topic input is present.

[2019-03-24 19:12] borisyankov opened #3426 "Consider rewriting the Lightbox and embed inside WebView"
Rewriting the Lightbox and embed inside WebView will keep the view inside the HTML browser implementation.

The benefits will be:
 * authentication issues - will be resolved as we already successfully load the image inside the message list
 * caching - we already have the image, no need to reload
 * progressive loading - the default web behavior is better than ours (although caching might even eli