[2019-10-21 14:30] Mnaukal opened #3656 "See stream member list"
I would like to see which members are subscribed to the stream in the mobile app. Propably the best place to add this is the stream info.
![Screenshot_2019-10-21-16-27-37-101_com zulipmobile](https://user-images.githubusercontent.com/9487592/67214412-03b78380-f420-11e9-8d69-0e28c8932ef8.png)

[2019-10-21 16:40] gnprice commented on #3655
Hi @realabbas -- thanks for the report!

Would you come join us [in chat](https://zulip.readthedocs.io/en/latest/contributing/chat-zulip-org.html) and say hello in the `#mobile` stream? I think we'll want to do some interactive debugging and ask you to try different commands to find how to fix this properly, and that'll help make that easier.

When you do, would you also please copy and paste the

[2019-10-21 16:56] gnprice commented on #3655
Also, some potentially helpful background is in this comment: https://github.com/zulip/zulip-mobile/issues/3178#issuecomment-445090750
(Just ran across that again while creating the `a-Windows-dev` label so I could add it to this issue.)

[2019-10-21 17:09] realabbas commented on #3655
Done @gnprice

[2019-10-21 17:12] gnprice commented on #3655
Thanks! Here's a link to the conversation: https://chat.zulip.org/#narrow/stream/48-mobile/topic/Windows.20build/near/792677

We'll circle back here with what we learn there.

[2019-10-21 17:19] gnprice commented on #3656
Thanks @Mnaukal for the feedback! I agree, this is a very reasonable feature request.

Thinking out loud a bit about the UI of it:
* There's a bit of a scaling tradeoff: the most convenient UI for a stream with like 4 subscribers -- perhaps just listing them right on that stream-info screen -- will be cumbersome for one with 12000 of them (real example! On a public organization like chat.zulip.org

[2019-10-21 17:25] jphilipsen05 opened #3657 "Messages not loading until force-quit; new messages not appearing"
When opening messages on iPad OS the messages do not open. I can force quite the app, to get the messages to load after quitting a few times, but it does not load right away until I quit.

The first time I click into any app I get a loading page. Then when I force quit the app it brings the messages back up. When the messages are displayed I can not get new messages until I quit the app again. The

[2019-10-21 17:31] Mnaukal commented on #3656
Well, the desktop/web app has this list on *Stream settings* page (*Stream membership*). It shows just names (and emails), not avatars.

[2019-10-21 17:31] gnprice commented on #3532
Windows certainly has a large market share as a desktop OS! And Zulip very much supports Windows. You can get our desktop app here:
https://zulipchat.com/apps/windows

---

I believe Windows Phone is a very different story. Here's an obituary for it, in 2017:
https://www.vox.com/2017/7/17/15984222/microsoft-windows-phone-mobile-operating-system-android-iphone-ios

Graph from that news story:
![ima

[2019-10-21 17:31] #3532 closed

[2019-10-21 18:02] JasMich commented on #3532
But Windows Phone is not Windows 10. Any Windows UWP-App runs on Windows 10. And Windows 10 is the mostly used Desktop-System worldwide. This would still increase the UX as UWP apps offer native UI.

[2019-10-21 18:13] gnprice commented on #3657
Hmm! Thanks @jphilipsen05 for the report. That is a pretty bad set of symptoms.

Small clarification: do you mean the first time you click into any given conversation?

So to see if I can retell the story -- please say whether I've gotten this right:
* You open up the app.
* You tap on some PM conversation (like in the screenshot), or stream, etc. -- one you haven't looked at in the app before.
*

[2019-10-21 18:17] gnprice commented on #3657
Oh and I almost forgot this part, which is a different and also quite bad symptom. So if I understand the story right -- again, please say whether I've correctly understood:
* [... The steps above, leading to ...]
* This time, you get the messages.
* But: then the other person / another person in the conversation sends a new message...
* and it doesn't show up.
* You force-quit the app, and relaun

[2019-10-21 18:23] jphilipsen05 commented on #3657
Your story outline is correct. I have waited minutes to get the message to come up. I had it open for 10 minutes before I finally decided to stop seeing if it would come up.

So yes your story and actions are correct. The only part I would add in your second list of points is:

* You force-quite the app, and relaunch it again
* You tap on the same PM conversation or stream as before
* Not that new

[2019-10-21 18:30] gnprice commented on #3657
Cool -- that is very thorough, then :slightly_smiling_face: and definitely helps narrow the possibilities for debugging.

Hmm good to know.

FWIW I tried this on an iPhone XR running iOS 13 -- logged out to clear the data, then logged in, and went to a stream and the messages loaded promptly. Also went to a PM conversation and ditto. But it is good to confirm that it works *for you* on an iPhone -

[2019-10-21 18:36] gnprice commented on #3657
Hmm -- I got out an iPad mini 4 running iPadOS 13.1.2 (17A860), and the issue doesn't reproduce for me: messages load promptly as usual, even after logging into an account I hadn't used there before (so it's always the first time I'm looking at a given conversation.)

Cool; that's quite helpful information too. Narrows the set of variables involved for debugging.

[2019-10-21 18:45] gnprice commented on #3657
Still a mystery what the cause is, but given that it didn't reproduce on my iPad it seems less likely it's related to iPadOS (and more to some unknown other variable involved :-/ ). I've edited the title.

[2019-10-21 18:56] gnprice commented on #3657
Also just to further narrow the variables involved: I went and re-attempted the repro on that same iPadOS device, this time with an org on zulipchat.com. (Previous testing was with a different service, chat.zulip.org.) Still didn't repro -- messages loaded promptly as usual.

[2019-10-21 19:01] jphilipsen05 commented on #3657
So I noticed that your version of iPadOS was different then mine so I updated to 13.1.3 (17A878). That seemed to take out the loading issue so I don't have to force quit to see the messages anymore. Now the only issue is as follows.

* Open pm or stream
* read messages
* Send or receive new message
* message does not show up
* have to go out of the converstaion and then back in and they are the ne

[2019-10-21 19:04] gnprice commented on #3532
Have you tried the Zulip Windows app?
https://zulipchat.com/apps/windows

That and the webapp are our two recommended clients for Windows -- same story as on macOS or Linux.

The Zulip mobile app has a UI optimized for mobile-size displays, with a touchscreen and no physical keyboard. The desktop app, like the webapp, has a UI optimized for laptops and desktops with a bigger screen and a real keyb

[2019-10-21 19:07] gnprice commented on #3532
If someone is excited about making the app run with e.g. [`react-native-windows`](https://github.com/microsoft/react-native-windows/blob/master/blog/Roadmap2019.md) (TIL!) I will certainly be curious to see what they come up with :smiley:

I think most likely we would not be keen on merging a PR for it, though -- it'd have to fit in quite cleanly without requiring a lot of changes across the app,

[2019-10-21 20:10] gnprice commented on #3657
Huh! Good to know, then -- and glad that fixed it. Glad also that you mentioned the exact version, which reminded me to do the same :slightly_smiling_face: and made that difference apparent.

I'll look specifically at repro'ing the other symptom, then, where new messages aren't appearing.

[2019-10-21 20:23] gnprice commented on #3657
Tried this one, and it works correctly for me -- the issue didn't reproduce. This was on the same iPad mini 4, now running iPadOS 13.1.3 (17A878) (I'd updated it after this morning's experiments), using zulipchat.com.

What version of the app are you running? I tried both 26.9.132 which is the current production release, and 26.11.134 which is the current beta.

[2019-10-21 20:30] jphilipsen05 commented on #3657
I am currently on v26.11.134.

I just deleted it and downloaded the one from the app store which is v26.9.132

The loading page came back, and I still can't see the messages I send. When I do send the message though it comes up immediately on my other clients. I just still can't see it in the iPad app. I also only loaded one of the two zulip servers to make sure it wasn't something with the multip

[2019-10-21 23:40] ray-kraesig opened #3659 "Notifications not received on Android with app in background"
Repro:

1\. Log in to the Android app as User A.
2\. Navigate to the "PMs with User B" screen.
3\. Press the Home button to go directly to the Home screen. *Do not force-quit the app;* at this stage it should still be running in the background.
4\. As User B, quickly send a PM to User A.

No notification will appear on the Android device.

5\. Bring up the app list. Slide Zulip off into oblivion.

[2019-10-21 23:46] ray-kraesig commented on #3659
_N.B._: This may be related to [a note on the Android Pie changelog](https://developer.android.com/about/versions/pie/android-9.0-changes-28#suspended-apps) describing how notifications from "suspended" apps have hitherto been canceled.

If so, I'd expect that on Pie devices the user will receive one notification containing both the step 4 and step 6 PMs. (In that case we'll probably still want so

[2019-10-21 23:59] gnprice commented on #3659
Thanks for this report!

I didn't repro this on my phone (Pixel 2 XL, running Android 10 and the current Zulip beta) when we tried earlier today.

I'm not sure if we satisfied this bit, though:

How quickly does it seem to need to be to trigger the issue?

[2019-10-22 00:49] ray-kraesig opened #3660 "App returns to starting activity after auto-rotate while debugging"
**Repro:**

1\. Ensure auto-rotate is enabled on the device or emulator.
2\. Start the app via `react-native run-android`.
3\. Select the "subscribed channels" screen (the `#` on the bottom).
4\. Rotate the device. (In the emulator, hit *Ctrl-LeftArrow*.)

The current activity will be canceled, and the device will return to the initial "inbox" screen.

**Expected behavior:**

The current activity

[2019-10-22 01:44] ray-kraesig commented on #3659
I don't recall if you had the PMing user's message-list open, though – I think you might have been at the PMs-list page.

(For reference, I tested on a Samsung with Marshmallow. The emulator had similar issues, but I've found in-emulator notifications to be of questionable reliability anyway.)

I haven't tested this extensively; I've just tried to keep it down to 5s or so.

[2019-10-22 20:51] ray-kraesig commented on #3602
Update: it's much less baffling now.

* The NetInfo API has been updated into something subtly incompatible. The old behavior – which includes not providing `'vpn'` – is preserved if you call it the old way.

* Using the old API actually emits a message to the React console:

  ... which seems to have been ignored or missed, back when it was first applied. :disappointed:

I have a probable fix; it

[2019-10-22 23:03] gnprice commented on #3659
Hmm, yeah.

I just tried again making sure of that step too, though -- so it was steps 1-4 as written above exactly -- and it still didn't reproduce; the notification arrived promptly as usual.

(Same Android 10 device as mentioned above; the app version is 26.11.134.)

I demonstrated for you in person just now, and you added that it reliably reproduces on that Samsung Galaxy J5 running Android 6

[2019-10-23 01:04] gnprice commented on #3563
Merged #3658 and about to send it to beta for wider testing. Let's leave this open until we're done validating it, though.

In particular, over on that thread @ray-kraesig noted:

[2019-10-24 00:03] gnprice commented on #3660
Thanks for recording this! Should be especially helpful for reassurance when someone inevitably notices this in the future, and naturally wonders if it's a regression or has wider impact.

I edited the title a bit to help make it immediately obvious in an issue list that this affects debug builds only. #3010 comes to mind as another issue, with some similar flavor, that affects debug builds only.

[2019-10-24 21:15] ray-kraesig commented on #3563
There are ten weakly-deprecated APIs reported to be in use by our app. Of those, only one has made it onto the Android 10 blacklist.

**TL;DR:** We're probably good for now.

### Used by OkHttp:
- `Lcom/android/org/conscrypt/OpenSSLSocketImpl;->getAlpnSelectedProtocol()[B`
- `Lcom/android/org/conscrypt/OpenSSLSocketImpl;->setAlpnProtocols([B)V`
- `Ldalvik/system/CloseGuard;->get()Ldalvik/system/Cl

[2019-10-25 10:42] locness3 commented on #3433
@alexandraciobica Maybe makign the texts on your screenshots shorter. They're way too long and people will most likely not read them. Do you have the source files of the screenshots ?

[2019-10-25 20:46] gnprice commented on #3602
Dang. Thanks for tracking this down!

Looks like we made the change in #3587, motivated by #3568.

[2019-10-25 21:26] gnprice opened #3665 "Update Android targetSdkVersion to 29 (Android 10), by 2020-11 deadline"
The next round after #3563 (and #3075). We should update our `targetSdkVersion` to 29, aka Android 10.

Deadline is 2020-11-02. But we could do this any time (indeed could have as soon as Android 10 was out last year), and in any case filing an issue to give us a place to track tidbits we learn.

* General docs on this upgrade are [here](https://developer.android.com/distribute/best-practices/deve

[2019-10-25 21:27] gnprice commented on #3563
Cool -- thanks for all these details!

I've just gone and filed an issue (#3665) for the *next* upgrade, so we have a place to record that information.

[2019-10-25 23:12] #3655 closed

[2019-10-26 10:29] realabbas opened #3667 "compileDebugJavaWithJavac FAILED"
On windows machine I mistakenly ran ``` react-native link ``` , I encountered this problem.

[code]

After several lookups on the Internet, I found the solution. The problem was with the **react-native-screens** version. Just downgraded it to ``` 1.0.0-alpha.22 ``` from ``` 1.0.0-alpha.23 ```

After successfully fixing it, I encountered this error during build.

[code]
 then looked up more and fou

[2019-10-28 18:47] gnprice commented on #3649
Release notes, since we don't already have them linked here:
https://reactnavigation.org/blog/2018/11/17/react-navigation-3.0.html

Note that installation has gotten a bit more complicated:
https://reactnavigation.org/docs/en/3.x/getting-started.html#installation
Though not much so if on RN v0.60+ -- so if we do this after #3548 it'll be somewhat simpler.

[2019-10-28 18:48] gnprice commented on #3667
From [debugging in chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Windows.20build/near/794494), we learned that the cause was that you'd run the command `react-native link`, which edits the source code.

In particular, it apparently adds the line `new RNNotificationsPackage(),`, which as you found is not well-typed.

The solution is to not run that command, which doesn't do anything u

[2019-10-28 18:48] #3667 closed

[2019-10-28 18:52] realabbas commented on #3667
Yeah, now I get it,  running react-native link creates a lot of unnecessary mess :grin:

[2019-10-28 19:05] gnprice commented on #3667
Done, in 434d8c472:
https://github.com/zulip/zulip-mobile/blob/master/docs/howto/build-run.md#build-failure-in-react-native-screens-or-at-new-rnnotificationspackage

[2019-10-28 19:05] gnprice commented on #3667
The way I put it about `react-native link` in general is:

[2019-10-28 19:13] realabbas commented on #3667
Yeah, and it will be very useful instruction that you added in the build-run.md

[2019-10-28 22:49] gnprice opened #3670 "Support data-driven auth methods, e.g. SAML"
The server is gaining a new API feature to let `/server_settings` describe auth methods with a bit more detail, making it possible to use auth methods that aren't in a hardcoded list in the client code.

The immediate use case for this is SAML authentication, where there's a single protocol that may have any number of providers with different names, so that it makes less sense than it already does

[2019-10-29 01:11] gnprice opened #3672 "iOS app can send malformed notif tokens to server"
This is a bug that appears to have been present for most of this year. There are no known user-visible symptoms; we spotted it in server records on zulipchat.com.

The symptoms seen on the server are:
* The `zerver_pushdevicetoken` table may have a number of records with `kind = 1` -- meaning APNs -- and `token = '[object Object]'`. Normally `token` should be a 64-digit hex string.
* The value '[o

[2019-10-29 01:21] gnprice commented on #3672
Some thoughts on how to investigate:

* In the app, we basically pass these tokens straight through to the server from whatever the `react-native-notifications` library hands to the callback we register as a `remoteNotificationsRegistered` listener.
  * (This is a rather muddled third-party library that I got rid of on Android around the beginning of this year, but that we still use on iOS.)
  * S

[2019-10-29 07:24] boxybox commented on #1325
Hi,

I can't find the option to mark a message as unread.

Nor can I find it in the documentation here https://zulipchat.com/help/

If this feature was implemented then how can I use it?

[2019-10-29 18:09] #3602 closed

[2019-10-29 22:58] timabbott commented on #3670
The docs updates were merged in https://github.com/zulip/zulip/pull/13339.

[2019-10-31 21:22] gnprice commented on #1325
Hi @boxybox!

This feature isn't part of how Zulip works. For the use case in the issue description:

what we find works very well is to "star" a message:
https://zulipchat.com/help/star-a-message
On mobile, you can do this by long-pressing the message and choosing "Star message" from the popup menu.

Not sure why the issue was closed that way in 2017. The best guess I have is that the author was

[2019-10-31 23:46] gnprice commented on #2295
This is done since #3648 landed, and that was released with version 26.11.134. That should mitigate this issue pretty well for most users.

Still open before this issue is properly fixed are the following pieces (quoting from f8d9da85d ):
 * After switching accounts, we stop at the main "unreads" screen;
   we don't go on to narrow to the proper conversation.
 * If the user has several known accou

[2019-10-31 23:53] gnprice commented on #2660
With #3636 landed, our app infrastructure is now in much better shape to be able to implement this feature! So I'm hoping we'll have this done sometime soon.

[2019-11-01 21:14] gnprice commented on #3670
I'm going through this now to implement the new part of the `server_settings` API -- just for the existing methods like Google and GitHub auth -- since that seems to be up now on chat.zulip.org.

@timabbott what's a way we can test actual SAML auth? I think you said something about a test machine on a DigitalOcean droplet.

Some thoughts on the API as I have my hands in it:
* The name `social_back

[2019-11-01 21:21] gnprice commented on #3670
Smaller thoughts on the API:
* Docs say `display_icon`, but example and czo say `display_logo`.
  * I'm inclined to say "icon" is the better term -- a "logo" is a possible choice for an icon but some icons aren't logos. What's the "logo" for `remoteuser` auth?

* Docs don't mention `name`.

* The `google` method has `"login_url": "/accounts/login/google/"`. The notes I have in a comment say about

[2019-11-01 22:52] mateuszmandera commented on #3670
@gnprice @timabbott

``RemoteUser`` is not a social backend (and it shouldn't be showing in the ``social_backends`` list at /server_settings - if it is showing for you, that'd be a weird bug :thinking: )

What these "social backends" all have in common is that the authentication happens with an external provider (rather than something on the zulip server). And all such auth methods that use an ext

[2019-11-01 22:55] mateuszmandera commented on #3670
Hmm, I think this doesn't play any useful role right now, perhaps it's best to just remove this field from the API dicts.

[2019-11-01 23:16] mateuszmandera commented on #3670
Oh, this is a weird result of the following django urls setup:
[code]

combined with this method of constructing the login url for each backend for the api dicts:
``login_url=reverse('login-social', args=(social_backend.name,)),``
which translates the case with ``social_backend.name = 'google'`` to the old endpoint

Fixed in https://github.com/zulip/zulip/pull/13356

[2019-11-01 23:30] timabbott commented on #3670
Agreed.  @mateuszmandera I think it probably makes sense to just flip the direction for these in the code, so that lower numbers appear first.

Agreed s/logo/icon/ would be an improvement.  @mateuszmandera can you switch this?

We should also keep in mind the existing legacy `authentication_methods` field, which I imagine we'll remove in a year or two but will be with us until then.  I'm not sure

[2019-11-01 23:38] gnprice commented on #3670
That'd be pretty reasonable!

I'd like to probe a little more the `accounts/login/sso/` case, though. From the mobile app's perspective, this actually works 100% exactly the same as all these other auth methods:
* The client doesn't need to know anything about how to do it, except a URL.
* It sends the user to that URL in a browser.
* The server does whatever it wants to do -- in most cases redire

[2019-11-01 23:42] gnprice commented on #3670
This wouldn't necessarily make `external_authentication_methods` an inapt name, either:
* it might be the only one for a long time that doesn't involve redirecting to some other ("external") service;
* even though it doesn't redirect, this method is "external" in another sense: the client doesn't know any of the details, and has to rely on whatever's found at some URL (something "external" to the

[2019-11-01 23:50] gnprice commented on #3670
Hmm. This feels like it's awfully UI-oriented. Which is fine for something aimed at the web frontend, but for something in the API for other clients to use which have their own UIs it doesn't seem like a great fit.

For example, already today on mobile if you go to log into a realm that has both password auth and something else, we show you a button for password auth -- it's no different from the

[2019-11-02 00:05] gnprice commented on #3670
Yeah, not sure it's essential -- I don't expect we'd do much with it in the mobile app, either.

One thing I could see it being potentially useful for is if the client does have (or thinks it has?) any special knowledge about some of the options. For example maybe it sees there's Google auth, and it's the Android app in some future where we've found a way to successfully use the nice system flow f

[2019-11-02 00:47] timabbott commented on #3670
Yeah, agreed, we want the field because it provides opportunity just what Greg describes.

On `authentication_widgets`:

So, the reason I was thinking something more like `authentication_widgets`, is that it's theoretically possible we might want to later migrate `password` authentication to that system (basically moving all the other password/LDAP related keywords into that object), so that it ca

[2019-11-02 00:58] gnprice commented on #3670
Hmm indeed! Good idea. :slightly_smiling_face:

That sounds like a good plan to me.

[2019-11-02 03:57] mateuszmandera commented on #3670
To clarify, what is the first name change we want to go with then?  ``external_authentication_methods`` instead of ``social_backends``?

And in the (possible) future move that to ``authentication_methods`` in a new format, requested through an additional argument, where it'll include all the backends?

[2019-11-03 20:05] timabbott commented on #3670
Yeah, let's go with `external_authentication_methods` for now.

There's a possible future revised version where we don't even send the new data structure unless `extended_authentication_methods=True` is passed, and if it is, we just send it under the name `authentication_methods`.  But we can't go there until we have a plan for migrating the communication about the non-external authentication meth

[2019-11-04 00:01] timabbott commented on #3670
OK, we just merged #13361, which executes the main API changes discussed in this thread:
* `sort_order` is removed from the object and instead just used for sorting :)
* The objects are now called `external_authentication_methods`
* `display_logo` -> `display_icon`
* Documented the `name` field.

I think those are all the easy changes.  We should try to get converting `RemoteUserBackend` to this f

[2019-11-04 20:51] gnprice commented on #3670
Awesome -- thanks to you both!

One small further point I just noticed:
* For `display_icon`, when there's no icon it'd be cleaner to indicate that with the value `null` rather than an empty string.
  * In Python this corresponds to using `None` vs. an empty string.

[2019-11-05 19:11] ray-kraesig commented on #3563
I think we can call this issue resolved.

One concern that has not yet been acted on is the change to initial element focus. This is important for a11y... but we don't really have a coherent a11y strategy or framework at the moment; so presently it's just a technical detail to be kept in mind when we develop them.

Some informal notes on what was considered, copied from my scratchpad, follow. (The

[2019-11-05 19:11] #3563 closed

[2019-11-05 21:06] gnprice commented on #3242
Thanks @zingmars for reporting this!

We've just fixed the PM-conversation-list issue in dfca21f81, thanks to @jainkuniya . As described in that commit message, there was a time when the loading-spinner was necessary because we weren't actually caching some of the important information we needed... but that time was over in mid-2018, so by the time of your original report we could have fixed it by

[2019-11-05 21:06] #3242 closed

[2019-11-05 22:36] juddflamm commented on #3657
I have the exact same problem.  All of it exactly.
![3880A100-80B3-4D5A-A735-BAAF7E0D47F4](https://user-images.githubusercontent.com/599981/68252157-f4b8ff80-ffe1-11e9-9299-5794bccaf7bb.jpeg)

PLEASE help!  I really need this bug fixed so that I can use Zulip.

[2019-11-05 23:25] timabbott commented on #3670
zulip/zulip#13368 should merge with that change shortly.

[2019-11-06 20:39] jainkuniya commented on #3614
This issue is easily reproducible on iOS. On Android it gets automatically scrolled up on typing.

If we revert https://github.com/zulip/zulip-mobile/pull/3595, then it will get fixed. But then #3369 will occur on Android.

Next will try to find out a simple common solution.

[2019-11-06 21:32] gnprice commented on #3614
Thanks @jainkuniya ! Just to make things explicit:

I believe you're saying this issue doesn't reproduce on Android.

The original user report of the issue was on iOS, so that's consistent too.

[2019-11-06 22:00] ray-kraesig commented on #3456
... and as it happens, this was because the 4.4.x system WebViews _couldn't_ be updated. See discussion in PR #3666 for details.

Not coincidentally, that's also the PR in which we dropped KitKat support. Closing as no longer relevant.

[2019-11-06 22:00] #3456 closed

[2019-11-06 22:02] gnprice commented on #2722
This was fixed in 851a13724364730d567e21c3096c8713a281745e, which we merged 2018-07-24, a few days after the last comments above.

With that fix, the symptoms described in this issue should be impossible. If we do lack data about a user in a PM conversation, we'll just not show that conversation on this screen rather than show something bogus.

This possible cause of not having such data still exi

[2019-11-06 22:02] #2722 closed

[2019-11-06 23:29] gnprice commented on #3657
Thanks @juddflamm for the additional report! That is fascinating that it's also on an iPad... given that we have many more people using Zulip on an iPhone than an iPad and we haven't yet heard of this issue happening there, that certainly adds some evidence that it's specific to iPads.

From your helpful screenshot I see you're on an iPad Pro, 3rd gen (i.e. 2018), 12.9". That contrasts with my iPa

[2019-11-07 00:10] gnprice commented on #3657
OK, and I've now reproduced the issue! I used the iOS simulator, simulating the same model of iPad Pro as that last report.

More investigation to do, but that gives us a very nice start.

[2019-11-07 01:20] gnprice commented on #3657
Detailed debugging in [a chat thread](https://chat.zulip.org/#narrow/stream/48-mobile/topic/messages.20don't.20load.2C.20on.20ipad/near/796152). Things learned so far:
* Simulated devices where the issue reproduces:
  * iPad Pro (12.9-inch) (3rd generation)
  * iPad Air (3rd generation)
  * iPad (7th generation)
  * (All of these are the latest of their respective lines.)
* Simulated devices where

[2019-11-07 01:26] gnprice commented on #3657
Likely relevant is our #3572 , which is about the mechanism we use to pass updates to the code inside the webview:

I think the next debugging step will likely look a lot like a simple version of the said wrapper. So the fix may involve going ahead and switching to that wrapper, i.e. resolving #3572.

Done with detailed investigation for the day, but that's the direction I expect to pick up next.

[2019-11-07 01:40] jphilipsen05 commented on #3657
I’m on an iPad Pro 3rd gen also.

[2019-11-07 02:04] ray-kraesig commented on #3659
The notifications are not being displayed because the server is not sending them – and this appears to be [documented behavior](https://zulipchat.com/help/test-mobile-notifications).

Speaking strictly from a user perspective, this was confusing! Off the cuff, I suspect a better approach might be to allow the app to jump the gun, and immediately set itself as "idle" for the purposes of notificatio

[2019-11-07 23:45] #3657 closed

[2019-11-08 00:16] gnprice commented on #3657
And we have a fix! Details in commit f34c98c4d, which also appears in this issue thread just above here.

In short, the difference that triggered the issue turns out to be that on certain models of iPad, the user-agent string now contains no mention at all of iPad or iOS -- instead, every part of it is verbatim something you'll find on a Mac desktop. Reportedly this is intended as a way of getting

[2019-11-08 02:05] gnprice commented on #3657
Sent.

Thanks again @jphilipsen05 and @juddflamm for reporting this issue! The details you both provided were very helpful in tracking it down.

[2019-11-08 20:27] gnprice commented on #3657
OK, and version 26.14.137 is out to the App Store! That has yesterday's fix for this issue.

@jphilipsen05 @juddflamm Please update and try it out, and let us know if that resolves it for you. Thanks again for the reports!

[2019-11-08 21:54] jphilipsen05 commented on #3657
@gnprice

Thank you so much for getting that fixed. I updated my app on the iPad and I am able to see conversations, reply to them and get responses without re-loading the app now.

Thanks!

[2019-11-09 02:44] gnprice commented on #3659
Hmm! I guess it does say:

That doesn't seem like great behavior, thinking about it when put that way.
* Does a notification for the message *eventually* get sent, after a few minutes when you've stayed idle? I think the answer is that it does; but if it doesn't, that's real bad.

* Even if the behavior is the notification eventually gets sent, that feels like not the desired behavior for a mobile

[2019-11-12 01:28] timabbott commented on #3659
Yeah, the tricky thing about this "offline or note" thing is that the simple alternative is that if you're on your computer having a long PM conversation with someone, then every time you they send you a message, your phone in your pocket vibrates and dings, which can be a quite annoying user experience.  It's probably a good idea at the very least to flip the user-level default behavior (so that

[2019-11-12 02:12] gnprice commented on #3098
We tested this out over on #3679 (by @ray-kraesig) -- the branch added a doctype, and I nodded right past that (ah good, yes, we should get out of quirks mode) until I spotted some funny behavior and discovered to my surprise that it was that change that had introduced it :slightly_smiling_face: . Then I remembered we'd looked at this before, i.e. in this thread.

The symptom I found if you just a

[2019-11-12 02:27] gnprice commented on #3659
@ray-kraesig Could this explain the behavior you saw?

Hmm. Yeah, I agree that behavior isn't awesome in that case.

That description brings to mind a comparison data point, though: I'm pretty sure that is exactly the behavior I routinely get with both Facebook Messenger and Google's "Messages". (The latter being the SMS client on stock Android in recent years, and also https://messages.google.com

[2019-11-12 20:16] timabbott commented on #3659
I think those 1:1 chat apps not used for work aren't the right comparison point in that the tradeoffs are different; if the use case for the app is 90% mobile, most activity will be on mobile and the consideration of what to do when the person is at their desk on their computer isn't particularly important.  I would look at apps like Slack or Discord that are more about large group conversations t

[2019-11-12 22:25] gnprice opened #3685 "On logout and re-login, the org-URL screen flashes by"
If you log out of an account, and then from the "switch accounts" screen choose the same account again, there's a quick flash of something before we take you to the "choose how to log in" screen.

That's `RealmScreen` -- what's happening is we take you there, and then it promptly redirects on to the next screen. It fetches from `server_settings` first, which is the main reason we don't just go pas

[2019-11-12 22:29] gnprice commented on #2778
Closing this in favor of the newly-filed #3685. That one describes the underlying problem that the changes described here are intended to address.

[2019-11-12 22:29] #2778 closed

[2019-11-14 00:21] ray-kraesig commented on #3098
(For the record: you do.)

[2019-11-14 12:56] iexcept commented on #1325
@gnprice could you please star your dick!!! okay?

[2019-11-16 00:11] ray-kraesig opened #3689 "Timestamp pills start out visible on stream entry"
Upon entering a stream, timestamp pills for visible messages start out extended, and immediately slide inwards.

`git bisect` suggests this behavior was introduced relatively recently, at commit 8fdb93bd4dac796834b639846867c41296653557, titled
`webview css: move base CSS into actual CSS file` – which should not have been a functional change.

This has been confirmed to occur (on `master`) on iOS 1

[2019-11-16 01:12] ray-kraesig commented on #3689
This is a WebKit bug!

https://stackoverflow.com/a/42969608
https://lab.laukstein.com/bug/input
https://bugs.chromium.org/p/chromium/issues/detail?id=332189
https://bugs.chromium.org/p/chromium/issues/detail?id=167083

(Its invisibility on Lollipop and Marshmallow seems to just have been race-condition-induced.)

[2019-11-16 03:34] gnprice commented on #3689
LGTM! Thanks for the tweak to the comment (from shoulder review.)

I would merge, were it not that I'm about to get up from the keyboard for the day. Please feel free to merge at your convenience, if you look at this on Monday before I do.

[2019-11-16 09:10] kshitijk83 commented on #3631
![Screenshot from 2019-11-16 20-07-48](https://user-images.githubusercontent.com/32035239/68990901-bee80680-087e-11ea-9e20-e88f49d496e6.png)
if I hold touch a topic this popup appears, we can do one thing that full topic can be shown here too above Mute topic option @gnprice

[2019-11-18 06:37] kshitijk83 commented on #3660
I noticed that this action is happening in all tab icons, for example, when I navigate to the settings tab, or any tab, and autorotate the device, tab navigation goes to its initial route (i.e HomeTab), it can be a react-navigation bug in debugging mode or there is some code which refreshes the nav state in some way when auto rotated, I see you have saved orientation key in redux state too @gnpric

[2019-11-18 19:02] #3689 closed

[2019-11-18 22:16] ray-kraesig commented on #3457
Recently I ran across some unusually-consistently-inconsistent behavior that seems like it could be at least closely related to this.

The test case involved repeatedly entering and leaving a stream (with all messages read) containing a handful of unusually-long individual messages. (First lines of Edwardian novels.) This was done on an emulated Android device, connecting to a dev server running o

[2019-11-18 22:24] ray-kraesig opened #3692 "Error messages from server are always in English"
The Zulip server attempts to localize error messages using the language sent in the HTTP `Accept-Language` header. Unfortunately, we don't send that when making API calls.

The fix is probably to ensure that the `locale` value is available in the `Auth` object, so that `apiFetch` (or one of its callees) will have it on hand to construct an appropriate `Accept-Language` header.

[2019-11-18 23:07] gnprice commented on #3457
A very interesting lead! That could well be the cause of this bug.

Reading up on `requestAnimationFrame`:
* https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame
* https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Performance_best_practices_for_Firefox_fe_engineers (for a slightly different context but most of the discussion should apply)

it sounds like it's not th

[2019-11-18 23:19] gnprice commented on #3660
Because this bug only affects debug builds, users who aren't developing the app never see it.

That makes it a low priority, so I'd rather not spend effort trying to diagnose it.

[2019-11-18 23:22] gnprice commented on #3692
Hmm. Yeah, something like this makes sense.

What's the appropriate way to construct an `Accept-Language` header? We'll want to make sure we get the language/locale name into the right form for that.

[2019-11-18 23:29] gnprice commented on #3631
Yeah, to make this concrete, here's a few places we can put this -- we might put it in all of them:
* The popup when you long-press on a topic header, in the message list.
* If you long-press on a truncated topic in the app bar, let's show a toast. (Like I described above from the stock Files app in Android 10.)
* If you long-press on a truncated topic in the topics-list screen for a stream, let's

[2019-11-19 00:00] ray-kraesig commented on #3692
In theory, something along the lines of `Accept-Language: xx[-YY]` (case-insensitive). There are reasonably-full docs [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language), including a multilingual selection feature we probably have neither a use for nor any concern about.

In _practice_, of course, the appropriate way is "whatever the Zulip server expects", which seems

[2019-11-19 01:45] ray-kraesig commented on #3457
That sounds like exactly what we want, though. (At least in `handleInitialLoad`. Notsomuch elsewhere.) If the first paint takes place before we change the scroll location, the first frame will show the top of the message-list page, immediately followed by a flicker to the bottom. _That_ frame, I think, we'd rather drop.

On the other hand, I'm a bit puzzled as to why we're not already causing a re

[2019-11-20 00:11] gnprice opened #3695 "Should resend push token after logout/login"
In general we avoid constantly telling the server our push token (the token provided by APNs or FCM for this app-device pair) again and again, by storing in `ackedPushToken` the token the server has already heard.

But since zulip/zulip@6407d0b1f, if the user [resets their API key](https://zulipchat.com/api/api-keys#invalidate-an-api-key) and so logs out all their devices, the server will also for

[2019-11-20 01:11] #3695 closed

[2019-11-20 23:58] gnprice commented on #3659
(I've edited the title, labels, and top of the description to reflect where this thread went once we understood the cause better.)

[2019-11-21 00:23] gnprice commented on #3659
Just this afternoon I had an alarming experience that it took me a moment to realize was because of this behavior. I actually had the thought "oh no, notifications aren't working"; and if I hadn't specifically known about this behavior, I would have taken that away as my conclusion.

Specifically, I was setting up a new personal phone. Among the many apps to go open up, log into, and make sure eve

[2019-11-21 00:32] gnprice commented on #3659
Some further observations on the current behavior of the "avoid sending" heuristics:
* I repeated the test: moved the webapp's browser window way off to the side where I could be sure to avoid giving it focus even momentarily, then sent a test message. Waited for a notification... waited over 10 minutes, and it never came.
* Went and switched to another tab in that window, so the webapp isn't even

[2019-11-21 00:33] ray-kraesig commented on #3659
I can confirm that this does _not_ require any use of the webapp; I've just tested with a user not currently logged in anywhere but the mobile app.

[2019-11-21 00:35] gnprice commented on #3659
Now past 3 minutes, and no notification.

So it looks like *both* the webapp and the mobile app can (with the heuristics that currently are the default setting) prevent notifications from getting sent, even when they're away in the background.

[2019-11-21 00:50] gnprice commented on #3659
It looks like on the webapp side the behavior is basically
* there's some timeout (perhaps 80-140s as described above) after which it stops affecting notifications;
* but if a message comes in within that timeout, that message *never* produces a notification.

Further observations were:
* I sent another test message, without having changed anything -- the webapp was still in a tab with a different

[2019-11-21 01:14] ray-kraesig commented on #3659
Well, this is different. I recently sent four PMs to the Zulip test user: two before killing the app, two after. As expected (given all the other diagnosis), I received the latter two.

Quite unexpectedly, however, I then also received notifications for the former two a few minutes afterward – about ten minutes after the PMs were first sent.

It may be relevant that I had two devices active.

[2019-11-21 07:36] timabbott commented on #3659
I haven't had a chance to read the full thread here, but I can explain that 10 minutes thing at least.  The backend logic for whether we consider the receiver user "off zulip" has a few parts:
* If the user is idle in presence, we consider them off Zulip (`get_active_presence_idle_user_ids` computed in `zerver/lib/actions.py`).
* If the user has no event queues, we consider them off Zulip (`receiv

[2019-11-21 23:55] gnprice commented on #3659
Very informative, thanks!

In addition to the case Ray observed where he got notifications about 10m after the messages were sent, one or two of my test cases described above were well over 10 minutes, and in none of the cases did I get a belated notification. (There were the couple of cases where there was a notification immediately, and in all other cases I never got a notification.)

In those c

[2019-11-22 00:19] gnprice commented on #3659
These both sound like good changes, and I think they would resolve the cases Ray described.

IIUC they wouldn't have had any effect on some of the cases I described, including the one that alarmed me yesterday and brought me back to this thread. In all of those cases, I'd recently used the webapp and it was still in a tab. So the webapp had me not yet idle, it still had an event queue, and it was

[2019-11-22 00:29] gnprice commented on #3457
Hmm yeah, maybe so.

Yeah, seems like there must be something else that hasn't happened yet when we get a wrong value there.

The different `scrollHeight` values seem like a clue. Do you have a hypothesis for what is making the `scrollHeight` so big initially? Perhaps a bunch of elements that should be hidden are getting included in the height; could be interesting to look at what's supposed to hi

[2019-11-22 01:52] ray-kraesig commented on #3659
This sounds like it would give a false positive if you're active in the webapp, but currently working in a narrow that excludes the new message.

[2019-11-22 01:54] gnprice commented on #3457
(More discussion today [in chat](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/clientHeight.20and.20friends/near/798730).)

[2019-11-22 03:45] gnprice commented on #3457
OK, here are some things we learned in the chat discussion:
* Both in @ray-kraesig 's repro, and when I repro it (both of us in Android emulators), the symptom is we land right about one screenful too high. (To within <2px in Ray's case; about 54px more than a screenful in mine.)
* The observations above, where `scrollHeight` is too big, are kind of puzzling as a cause for that symptom! Because in

[2019-11-22 14:17] sumukhah commented on #3685
@gnprice
can i take this?

[2019-11-22 16:12] sumukhah commented on #3685
@gnprice
![ezgif-2-fc1567eb8ec2](https://user-images.githubusercontent.com/23723464/69441504-de949880-0d70-11ea-93ea-a4b0be0c1fb3.gif)
seems working,
can i make a pull request?

[2019-11-22 21:37] ray-kraesig commented on #3659
@timabbott wrote:

There's the rub. I'm coming to think that the mobile app should count as "presence" for the purpose of sending email notifications, but _not_ for the purpose of sending mobile notifications. Or at least that the mobile app should be better about declaring its lack of presence. (We could possibly put something appropriate in `handleAppStateChange`... but there's a `reportPresence

[2019-11-22 22:56] gnprice commented on #3659
It would mean you get a push notification in that case, yes. Whether that's "false" is more a matter of taste, and of tradeoffs. It's possible there should be an opt-in setting that has more aggressive heuristics to decide you're active and suppress notifications, more like the status-quo default, for people who prefer that tradeoff.

What I want to avoid by default is the situation where we suppr

[2019-11-22 23:03] gnprice commented on #3659
Hmm. There is indeed that:
[code]

But then there's also this:
[code]

That doesn't know anything about being in the background or not. And the `hasFocus` argument to `reportPresence` defaults to true. So one thing that may be happening is
* app is put in background
* `handleAppStateChange` gets called; calls `reportPresence(false)`
* sometime in the next 60 seconds, the timer set up by `doInitial

[2019-11-22 23:06] gnprice opened #3699 "Presence-reporting logic is confused, in overlapping ways"
**EDIT**: Title reflects further discussion in thread below. Previous title:

### ~Failing to report presence inactive when put in background~

and original report from before that:

---

###  ~Can report presence active even after in background~

This is potentially one of the causes of #3659: which would mean it's causing people not to get notifications when they should.

It hasn't been confirme

[2019-11-22 23:08] gnprice commented on #3659
Forked that off as #3699 .

[2019-11-22 23:15] gnprice commented on #3699
(If empirically it turns out this *doesn't* seem to happen, then that'll be interesting and it'd be good to understand why. Also that fact may be a fragile one, dependent on facts about the platforms that aren't evident in our code, and might not be stable over time -- in which case it'd be good to adjust the code so that it definitely behaves right even if those external facts change.)

[2019-11-22 23:20] ray-kraesig commented on #3699
At least on my Android test setup, it's both worse and better than that: the `setInterval()`-triggered `reportPresence` doesn't seem to be firing while the app is inactive... but `handleAppStateChange` isn't kicking off a presence report _at all_.

Looking at the code suggests this is due to the throttling in the middle of `usersActions#reportPresence`. Since it's almost always been less than a mi

[2019-11-22 23:56] gnprice commented on #3699
Oh gosh, indeed. That logic basically doesn't make sense at all in a world where this function has parameters.

A local fix might be to remember the last value we sent for `hasFocus` (and eliminate the other parameter, which is never passed), and bypass the throttling if the new value is different. But this code probably deserves bigger changes than that, too.

[2019-11-23 00:58] gnprice commented on #3585
This is presumably back, now that we've reverted the Sentry upgrade.

[2019-11-23 17:47] hashirsarwar commented on #3631
@zulipbot claim

[2019-11-23 22:14] jainkuniya opened #3700 "Group chat screen is broken when there are many members in the chat."
![Screenshot_20191124-032042](https://user-images.githubusercontent.com/18511177/69485988-9ce91800-0e6c-11ea-87ce-6a7992f67b7d.jpg)

[2019-11-26 09:48] r4mp opened #3703 "Empty topic field"
If the topic field is empty, it is still possible to click the "send"-button, which results in an infinit spinner, but without really sending the message.

[2019-11-26 20:50] ray-kraesig commented on #3703
I haven't been able to reproduce this so far: for me, pressing Send when the topic field is empty results in the posted topic being the string "(no topic)".

* What version of the app are you using (under Settings → Diagnostics), and on what OS?
* Do you know what version of the Zulip server you're connecting to?
* Can you still reproduce this? (It may have been a transient connection issue.)

[2019-11-27 00:42] jainkuniya commented on #3614
This compose box issue is only issue on screen when there are multiple input on the screen, like stream narrow (not topic or PM narrow).

Root cause is: Topic input always try to remain in the window/screen, even when message input expands. So only way left for message input to expand is to expand at bottom, instead of top.

[2019-11-27 01:19] gnprice commented on #3614
Ah interesting. Are there particular experiments you've done, or things you've observed, that lead to this diagnosis?

[2019-11-27 20:55] andersk commented on #3589
This happens to me all the time. I just confirmed that the “All messages” unread counter is counting messages on a muted stream (I have `#test here` muted), even though the messages aren’t shown in either the home view or the “All messages” view.

[2019-12-02 22:36] gnprice opened #3706 "Crash with "Active account not logged in""
One recurring error we see in the crash logs looks like this:
[code]

E.g. it's one of the types of errors in [this "cluster"](https://play.google.com/apps/publish/?account=8060868091387311598#AndroidMetricsErrorsPlace:p=com.zulipmobile&clusterName=apps/com.zulipmobile/clusters/6bb9d321) on the Play Console.

The error message comes from `getAuth`:
[code]

So apparently some code is assuming there

[2019-12-02 23:44] gnprice commented on #3670
@mateuszmandera Do you have time to try moving that over, so that `remoteuser` appears in `external_authentication_methods` when enabled?

If we move it after 2.1 is out, that'll be OK but will just add a few more lines of compatibility code we'll need to carry in the client for as long as 2.1 is around.

[2019-12-02 23:56] ray-kraesig commented on #3706
Filtering the Sentry records to include only iOS results (for which we have coherent stack traces) suggests that this is happening in multiple different places, including but probably not limited to:

* `dispatch(logout(...))` in `fetchActions.js` (3 occurrences)
* `connect`ing the `StreamListCard` after...
  - an orientation change (`handleOrientationChange` in `AppBootHandlers.js`)
  - an app-st

[2019-12-03 01:39] gnprice commented on #3706
Fascinating, thanks!

Do you have links to those records in Sentry? (Naturally they'll work only for members of the core team with Sentry access.) I think that'd be helpful for seeing the context of your observations.

[2019-12-03 02:05] gnprice commented on #3706
Looking at a couple of these in more detail:

This is particularly interesting because `logout()` itself is totally trivial (returns the object literal `{type: 'LOGOUT'}`, so it must be something called by the `dispatch`. The reducers aren't going to call selectors like `getAuth`... perhaps it's some React method invoked via `react-redux`? I don't feel like I actually have a complete handle on wha

[2019-12-03 21:32] mateuszmandera commented on #3670
@gnprice I'll start working on it

[2019-12-03 23:48] #3670 closed

[2019-12-03 23:55] gnprice commented on #3670
@mateuszmandera Excellent, thanks!

Meanwhile I've just merged (with #3675) an implementation of this feature.

Once the `remoteuser` change is in, I'll make the small mobile-side adjustment for that. The mobile code that's now in master (after #3675) will treat `remoteuser` the same way older mobile versions do, so it doesn't add any new compatibility constraints (even if we make a mobile release

[2019-12-04 01:52] gnprice commented on #3614
There were a couple of different attempted fixes in the PR #3690, but they didn't 100% work, and it seems like we don't yet understand the cause of this issue. Let's focus first on investigating the issue, so we can understand what's going on; then once we understand it, we can fix it.

Copying here a version of some of my comments there, as well as more summary of our conversation just now:

For

[2019-12-04 02:11] gnprice commented on #2252
With #3110, this is now implemented! :tada: It'll be in the next release.

(Well, I'm about to promote 26.16.139 from beta, where it hung out for a while due to the Thanksgiving holiday; but this feature will be in the next new release from master.)

[2019-12-04 02:11] #2252 closed

[2019-12-04 02:59] jainkuniya commented on #2252
Excited to see it in the release 😍

On Wed, Dec 4, 2019, 7:41 AM Greg Price <notifications@github.com> wrote:

[2019-12-04 15:55] thosgood commented on #2660
I've just started using Zulip mobile and LaTeX rendering half works: the maths is correctly rendered, but then there's a unicode approximation that follows the rendered maths immediately afterwards.

[2019-12-05 01:13] gnprice opened #3708 "SAML login can require a retry"
This is a followup to #3670 where we implemented SAML auth. I just tried it out on the new beta 26.17.140, on @mateuszmandera's test server https://www.gentoox.net/ which uses Okta for auth. It worked, but there was a hiccup that'd be good to fix.

I'd seen similar symptoms in dev, but didn't find a reliable repro; and when I did get some debugging info, I could see it interacted with how the app

[2019-12-05 01:16] gnprice commented on #3708
Oh FWIW: this was on Android 10 on a Pixel 4.

[2019-12-05 09:08] hmr-it-jr opened #3709 "poll is not showing in the app"
At the moment it's not possible to see the poll in the app on Android.

It would be really helpful if this could be implemented.

Our usecase: we have poll templates for different takeaway food shops. One member of our team drives to the food shop and orders the requested food. Unfortunately he can't use the app and has to make a screen shot everytime.

So please add participating and viewing for

[2019-12-05 15:57] maxandersen opened #3710 "Search people's names modulo diacritics, in autocomplete"
autocomplete seem to not work consistently for characters like `àåä`

If someone is named `ståhle` I can't get that to autocomplete it using `@sta`
but if you are named `stéph` autocomplete works with `@ste`

[2019-12-05 20:17] gnprice commented on #3709
Thanks @hmr-it-jr -- that description of your use case is helpful context!

We already have issue #3205 for tracking this feature. Would you make this comment there instead?

[2019-12-05 20:17] #3709 closed

[2019-12-05 20:58] hmr-it-jr commented on #3205
At the moment it's not possible to see the poll in the app on Android.

It would be really helpful if this could be implemented.

Our usecase: we have poll templates for different takeaway food shops. One member of our team drives to the food shop and orders the requested food. Unfortunately he can't use the app and has to make a screen shot everytime.

So please add participating and viewing for

[2019-12-05 22:55] gnprice commented on #3205
Thanks @hmr-it-jr ! That description of your use case is helpful context.

[2019-12-05 23:29] gnprice commented on #2252
@jmandel @Vamshi99 and everyone: 26.17.140 is now out, with this feature!

It's available now on Android; on iOS it's out in beta, and is in Apple's review queue for the App Store.

[2019-12-05 23:34] gnprice commented on #3585
Fixed by #3702.

[2019-12-05 23:34] #3585 closed

[2019-12-06 00:10] gnprice commented on #3122
Looks like we haven't seen an error with a stack like this one in some months.

(There are other errors we're seeing in Sentry with a similar *message*, but quite different stacks. We can file issues for those in their own right.)

[2019-12-06 00:10] #3122 closed

[2019-12-06 00:34] gnprice commented on #3710
Thanks @maxandersen ! I agree this would be a useful feature.

It looks like the webapp added this feature earlier this year, in zulip/zulip#11183 / zulip/zulip@b7a0a45f0. Before that, it had similar logic which it used for searching for a user in the right sidebar; we probably also want to use similar logic when searching for a user to e.g. start a PM thread.

A note on how to implement this: thi

[2019-12-06 00:55] gnprice commented on #2770
This was fixed by #3254 . It looks like we'd forgotten about this thread; we duplicated the issue as #3253.

[2019-12-06 00:55] #2770 closed

[2019-12-06 00:55] gnprice commented on #3253
This should not have been filed as a new issue; it was a dupe of #2770 .

[2019-12-06 01:38] jmandel commented on #2252
Just tried it out on Android and it works beautifully :-) Thanks so much.

[2019-12-06 19:55] #3570 closed

[2019-12-08 19:51] Vamshi99 commented on #2252
@gnprice Looks good. But some emojis don't show up correctly in the reacted people screen, they are just seen as a question mark for me.
https://imgur.com/a/vGWMtXM

[2019-12-09 06:43] jainkuniya commented on #2252
On which device are you?

On Mon, Dec 9, 2019, 1:21 AM Vamshi Krishna <notifications@github.com>
wrote:

[2019-12-09 16:40] Vamshi99 commented on #2252
@jainkuniya Redmi Note 5 pro, Android 9

[2019-12-09 18:33] gnprice opened #3716 "Some emoji don't render in reactions list"
@Vamshi99 reported (at https://github.com/zulip/zulip-mobile/issues/2252#issuecomment-562986135 ):

That was on a Redmi Note 5 pro, running Android 9. I reproduce on a Pixel 4 running Android 10.

[2019-12-09 18:39] gnprice commented on #3716
See https://chat.zulip.org/#narrow/stream/7-test-here/topic/emoji.20feature.20test/near/114151 for the repro in the images.

One quite odd bit: one of the emoji that doesn't show up right is `:angry:`.

But then I added the same reaction to another message... and when I "See who reacted" on that message, it *does* show up right!

And this persists: I can go back to the reactions-list screen for th

[2019-12-09 18:40] gnprice commented on #2252
Thanks @Vamshi99 for that report! I've gone and filed #3716 to continue the discussion.

[2019-12-09 23:17] gnprice commented on #3699
From discussion [in chat](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/presence.20and.20notifications/near/800153) and on #3704 , having unpacked more clearly how the Zulip presence subsystem works and what the various states of it mean, we reached the conclusion that it doesn't actually make sense to send an `inactive` report!

So really the root bug here is that we have code that

[2019-12-10 13:04] a4men222 opened #3718 "A4MEN"

[2019-12-10 13:46] alan027 opened #3719 "Help !"
so I want to make a website using gulp, when I install npm install to npm install gulp -g everything runs smoothly, but when I will install my "gulp" in Terminal there is an error in File C ... as a result in visual studio My code also can't display dist ... how to fix it

and in the visual studio code that has been installed there are some systems that do not run completely, such as style.css ...

[2019-12-10 21:59] mangral123456789 opened #3720 "c++"
Suppose you have a function, myfib, declared as follows:

int myfib(const int n)

which returns the nth Fibonacci number, using this function:

(a) Write a function, myfibseries, that also takes a single parameter, n, and prints out the entire sequence of Fibonacci numbers up to and including n, with a comma between each (do NOT use loops).

(b) Write a function, myfibseriesR, that also takes a si

[2019-12-10 23:31] gnprice commented on #3719
Hello!

This question doesn't appear to have anything to do with Zulip, as far as I can understand what it's about.

[2019-12-10 23:31] #3719 closed

[2019-12-10 23:32] gnprice commented on #3720
This appears to be a homework problem that has no connection to Zulip.

[2019-12-10 23:32] #3720 closed

[2019-12-10 23:33] #3718 closed

[2019-12-11 04:41] akanowhere opened #3721 "Help me chatbot"
from time import sleep
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
import socket
#import csv

message_text='Ola essa é uma mensagem automatizada

[2019-12-11 04:42] akanowhere commented on #3721
I need help in this code the list in line 13 only read the first phone number and in the second occuried an error.

Please help me

[2019-12-11 05:12] RaviThakkarNAV opened #3722 "Data Migration Management Error - NAV 2015 to Business Central Cloud Upgrade"
After setting up Data Migration Setup using Self Hosted Microsoft Runtime, got some warnings as shown below and also the questions :
1) As there is a limitation of data size at a time is 150 GB, does the LDF file is also considered in the database size while migration ?
2) How can we see the progress of syncing and it if it is really getting synced or not ?
3) What the warnings below says from the

[2019-12-11 05:16] #3721 closed

[2019-12-11 10:17] manzaa739 commented on #3631
Good

[2019-12-11 18:39] gnprice commented on #3722
This question doesn't appear to have anything to do with Zulip.

[2019-12-11 18:39] #3722 closed

[2019-12-11 19:43] ray-kraesig commented on #3710
`remove_diacritics` is greatly simplifiable if we have access to [`String.prototype.normalize`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/normalize):

[code]

(This isn't quite complete; it will notably not remove strokes, such as those found in Ħ, Ł, Đ, or Ð _[sic!]_. Also, we may or may not want it to unify homographs and/or i + ı.)

[2019-12-11 19:47] timabbott commented on #3710
https://github.com/zulip/zulip/pull/13485 is an improved implementation we just merged for the webapp for this.

[2019-12-12 00:09] gnprice opened #3723 "Get `remoteuser` from `external_authentication_methods`"
This is a small followup to #3670 . For details, see:
* https://github.com/zulip/zulip-mobile/issues/3670#issuecomment-560925496
* https://github.com/zulip/zulip-mobile/issues/3670#issuecomment-561411169
* zulip/zulip#13503
* [chat thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/RemoteUser.20SSO.20and.20external_auth_methods/near/801825)

This will ordinarily have no user-visib

[2019-12-12 01:41] gnprice opened #3724 "In notification UI, sort messages by ID"
It's possible for the push messages that tell us to show notifications to reach us out of order. This could happen due to small delays in, I think, any of the Zulip app server, the push bouncer, or the Apple or Google push service (APNs or FCM). With the retries in zulip/zulip#13474 and to come for zulip/zulip#13518, there will be additional opportunities for things to proceed out of order.

To mi

[2019-12-12 02:23] timabbott commented on #3724
Also note that reordering could result in the `remove` notice coming before the `add` notice for a given message.

[2019-12-12 08:28] i-m-vivek commented on #2052
I am new to open source and zulip mobile. Can I start working on this issue?

[2019-12-13 15:40] russp41 commented on #3074
I see this is an old thread, but still open. This report is for Zulip version 26.17.140 on Android 9 on a Samsung Galaxy Note 8.

Last month while traveling in Asia in areas that were somewhat Internet challenged, I experienced the issue described above  "lag between showing the 'X new messages' alert/badge on a conversation, and the messages actually arriving in the chat."

Also, I experienced a

[2019-12-15 18:05] marboxvel opened #3726 "Issues with sharing contents on the android Zulip app"
I used to share contents through the android Zulip app, but suddenly about 2 months ago that feture is not working anymore.

I started receiving the message "Error sending message" every time I try to share something through the app.

The app is the old Android app and is no longer in the play store

The new app has no sharing option. It doesn't show up in the share list when I try to share any co

[2019-12-17 19:53] ray-kraesig commented on #3726
The old Android app is no longer supported. It'd be interesting to know why it suddenly stopped working, but I suspect that would have been a server-side change.

This is another matter, though. It's covered by #117, and ordinarily I'd promptly close-as-duplicate – but since this is a frequently-requested feature, I'll leave this issue open for now, to help keep it on our radar through the holiday

[2019-12-17 23:12] Razzeee commented on #3287
Same seems to happen with firefox preview. Not sure if it's due to me doing something specific during the first login, like loosing connection. But basically I now end up on a white page, when I try to use google, but google keeps sending me an email that there is a new device connected each time I go to that white page.

[2019-12-18 00:27] ray-kraesig opened #3729 "Can't send messages to streams with commas in the name"
If the user attempts to send a message to a stream which has at least one comma in the name, that message will never be sent.

(This is arguably a server-side bug, arising from the Zulip server parsing the `to` field as a comma-separated list even in `stream`-targeted messages. We'll still need a workaround, though.)

[2019-12-18 00:34] Razzeee commented on #3287
With github auth and Firefox preview, I get a different problem. It asks which account to use, then what the orgs URL is, then which account to use. So it's looping.

[2019-12-18 00:39] ray-kraesig opened #3730 "Unsendable messages have frozen spinners"
Unsendable messages appear in the message list with a frozen spinner, as shown below.

![Screenshot_20191217_163124](https://user-images.githubusercontent.com/54861490/71045688-c2bfb080-20ea-11ea-959f-301a0343cd4b.png)

(This is a reprise, but apparently not a duplicate, of #1546.)

[2019-12-18 00:46] ray-kraesig opened #3731 "Permanently unsendable messages are shown with spinners"
If sending a message fails with a 4xx error (indicating that retrying won't help), the mesage still appears in the message list with a spinner, rather than some form of failure UI.

[2019-12-19 11:36] agrawal-d commented on #3593
@zulipbot claim

[2019-12-19 19:19] marboxvel commented on #3726
Thanks @ray-kraesig for shedding some light on the new app issue #117, but it was created 3 years ago and hasn't yet resolved. When do you think we will be able to share through the new app? My group and I use that feature a lot and we are now not able to share anything through Zulip. It is critical to our work. We would appreciate it so much if work on that ticket gets moving because I don't see

[2019-12-20 01:02] ray-kraesig opened #3732 "Typing notifications are mistyped, resulting in rejection (for servers < 2.0)"
Per [the docs for the typing-notifications API](https://zulipchat.com/api/typing), the Zulip server expects `to` to be a list of email addresses, not a list of user IDs. Unfortunately, we're sending the latter.

The current version of the Zulip server appears to accept numeric IDs (@andersk, can you confirm?) but errors in Sentry indicate that responses from servers along the lines of `Bad value f

[2019-12-20 01:47] andersk commented on #3732
The typing notifications API seems to have gained user ID support as a side effect of zulip/zulip#10336 (2.0.0-rc1 and later), although our mypy types didn’t reflect this side effect until zulip/zulip#12950, so I’m not sure if anyone explicitly recognized this at the time.

[2019-12-20 06:05] agrawal-d commented on #3593
**@zulipbot** claim

[2019-12-20 06:30] agrawal-d commented on #3440
@zulipbot claim

[2019-12-20 06:32] agrawal-d commented on #3440
@gnprice zulipbot doesn't seem to have assigned this issue to me. Am I doing something wrong here? This issue is listed as a 'good first issue' by GitHub.

[2019-12-20 06:32] agrawal-d commented on #3440
**@zulipbot** claim

[2019-12-20 06:42] agrawal-d commented on #3440
@zulipbot claim

[2019-12-20 07:55] agrawal-d commented on #3440
@gnprice could you please assign this issue to me?

[2019-12-20 07:59] agrawal-d commented on #3440
@ray-kraesig it seems @gnprice  is on vacation, could you please assign me to this issue?

[2019-12-20 08:01] agrawal-d commented on #3440
@ray-kraesig it seems @gnprice  is on vacation, could you please assign me to this issue?

[2019-12-20 08:19] agrawal-d commented on #3410
@zulipbot claim

[2019-12-20 17:51] ray-kraesig commented on #3440
Done!

Note that the commentary in the OP concerning what devices we support is out of date. Per [our current documentation](https://github.com/zulip/zulip-mobile/blob/master/docs/architecture/platform-versions.md), we currently support iOS 10 and Android Lollipop (API level 21). (While virtually all of our Android users *do* have updated WebViews, we probably still need to ensure there are no sig

[2019-12-20 19:11] ray-kraesig commented on #3730
This is fine in a modern Webview; [per MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/animation#Browser_compatibility) it should only fail on Chrome <43, where the `animation` property isn't supported.

On the other hand, the `-webkit-animation` property *is* supported as early as Chrome 18.

[2019-12-20 20:04] agrawal-d commented on #3440
@ray-kraesig I have created a pull request ( #3736 ) that should handle this. How do I get someone to review it?

[2019-12-24 00:11] ray-kraesig commented on #3726
I'll take a closer look at it if I have some time before New Year's, but I'm sorry to say I'd be surprised to see it before February: we're a little undermanned through the holiday season, and a quick search for existing React Native sharing solutions brings up what looks like a bunch of sharp edges that will have to be taped over (metaphorically speaking).

[2019-12-24 10:47] 22sujata8d opened #3737 "No margin between administrators login options in "Pick a dev account" screen"
As shown in the image below there is no margin between administrators login options.

![Screenshot 2019-12-24 at 3 58 55 PM](https://user-images.githubusercontent.com/43822134/71409693-80591f00-2668-11ea-949a-aa942a2c90a2.png)

[2019-12-24 11:40] 22sujata8d commented on #3737
I have fixed this issue in #3738 using `FlatList` for rendering list of admin accounts.

[2019-12-29 02:43] timabbott commented on #3732
This was definitely an intentional change for Zulip 2.0.  It's correct and preferred to send IDs for Zulip server versions that support doing so.  I think probably the right implementation would be to have `ID -> email` conversion logic that runs only for server versions < 2.0.

[2019-12-29 16:59] agrawal-d commented on #2713
I would like to work on this issue. However, it is unclear to me which component are you referring to by ```message list```.

Do you mean Unread Cards, the screen which is shown on app startup with the list of streams?
Or do you mean the screen with a particular stream?
Or both?
Can you please clarify this?

@ray-kraesig since @gnprice is on vacation, and it may take him some time to respond, coul

[2019-12-30 19:34] ray-kraesig commented on #2713
The component found in `MessageList.js` – that is, the one which displays the list of messages of a stream or other narrow.

(Note that this component is an embedded WebView, which will make almost every subtask of this issue more complicated than it would otherwise be.)

[2019-12-30 23:20] ray-kraesig opened #3743 "Messages with whitespace-only topics should not be sent"
It should not be possible to attempt to send a message with a topic consisting only of whitespace.

----

Note: this bug interacts with #3731. If an attempt is made to post such a message, then – while such messages remain in the outbox – any future messages with *empty* topic will be unified with that topic, instead of being given the topic `(no topic)` as they ordinarily would.

[2019-12-30 23:21] ray-kraesig commented on #3731
One reproduction method here (until #3743 is fixed) is to send a message with an empty or whitespace-only topic.

[2019-12-31 05:56] gnprice opened #3745 "Store server's version number, include in Sentry events"
When an error happens only on certain versions of the Zulip server, that can be a powerful clue for diagnosing it. I've often noticed when looking at Sentry events that I'd like to have that information. #3732 is a recent example that brought this to mind.

In implementing this, one layer is to use the Sentry API to get that information attached. I'm not sure how best to do that; @ray-kraesig has

[2019-12-31 06:07] gnprice commented on #3732
Hmm! Good to catch this.

It looks like on the client side the change happened in c631bdb55 / #3662:
[code]
where I believe the old version would have sent a string like `alice@example.com,bob@example.com`. Seems like I/we missed that change in behavior.

Is the suggestion to condition literally on the server's version number?

We could do that. It's possible it'd be cleaner overall than an altern

[2019-12-31 06:43] gnprice commented on #3631
Fixed by #3714. Thanks @jmandel and @hashirsarwar !

[2019-12-31 06:43] #3631 closed

[2019-12-31 06:50] agrawal-d opened #3746 "Create a documentation website using Github pages"
It is hard to navigate/search within the Github interface to read the docs for zulip-mobile.

Since zulip-mobile has it's own documentation, separate from that of zulip server, it might be helpful if a documentation website were to be set up at the [https://zulip.github.io/zulip-mobile](https://zulip.github.io/zulip-mobile) sub-domain using **Github pages**, perhaps using Jekyll to manage them eas

[2019-12-31 06:53] gnprice commented on #3730
Huh, is this limited to unsendable messages? Or does it apply to all messages -- so e.g. if you're offline or have a slow connection, just enough to observe the spinner for more than a moment, you see the same effect?

I see also #3731 which is about "permanently unsendable" messages; is that the same set of messages?

[2019-12-31 07:08] gnprice commented on #3730
Ah I see, but also this is only on Chrome <43. Copying what I just wrote on the PR #3735 (maybe I should have made the detailed comment here in the first place; oh well):

---
Hmm, this is quite a fair bit of duplication: 23 lines across 8 places in the file. [Which is a perfectly reasonable way of making the fix; it's just the nature of the fix.]

Here's what we say (in `js.js`) about old Chrome

[2019-12-31 07:08] #3730 closed

[2019-12-31 20:55] ray-kraesig commented on #3745
Sounds like a job for either [tags](https://docs.sentry.io/enriching-error-data/context/?platform=javascript#tagging-events) or [extras](https://docs.sentry.io/enriching-error-data/context/?platform=javascript#extra-context). We probably want something like this when handling the `server_settings` response:
[code]

Note that I haven't tried tags out yet, so I'm not sure what they look like in Sent

[2020-01-01 01:17] gnprice commented on #3685
Some thoughts on how to approach this, copied from my and @ray-kraesig 's comments on #3712:

## UI

I think a good UI here would be:
* When the user hits the button, we immediately navigate to the auth screen, and make the request.
* While the request is pending, the auth screen shows a "loading" animation. A simple version of this would be that it's mostly blank, with a spinner.
  * In a fancier

[2020-01-01 01:29] gnprice commented on #3745
Thanks!

Between those two, I agree with your example that we probably want tags. Seems like the main difference is that tags get indexed, searched by, and aggregated on -- all of which sound like useful things for the server version.

Thinking about the search and aggregation, one thing that occurs to me is we likely want several tags here:
* the full version string, for complete information (e.g

[2020-01-01 02:59] gnprice commented on #3724
True! Good point.

A fix for that will be pretty independent of what's described above, so I'll make a separate issue for it.

[2020-01-01 03:06] gnprice opened #3747 "notifs: Save unmatched `remove` push-messages, for a later `add`"
As described in #3724, it's possible for the push messages that tell us to show notifications to reach us out of order -- and there will be additional opportunities for this with some new and upcoming retry loops on the server.

@timabbott points out there that the same thing is true of the `remove` push messages that tell us to *stop* showing a notification: they can arrive before the correspondi

[2020-01-01 03:22] gnprice commented on #2052
@i-m-vivek Certainly! Please do.

This is a project with lots and lots of independent pieces to do, so it's perfect for several people to work on at once.

[2020-01-01 03:32] gnprice commented on #3710
Neat!

Here's the new version there, which is in a very similar spirit to Ray's comment above:
[code]

At that length it'd feel less bad to me to duplicate it. ... But also that change itself illustrates why it'd be better to share it. (The possibility we might add more normalization in the future -- so e.g. "Luk" finds "Łukasz", following on an example above -- is another reason.) Since it should

[2020-01-01 15:42] sumukhah commented on #3685
@gnprice
Can I have one more chance?
Actually I am a newbie, I need some time to understand the codebase.
I will definitely try my level best

[2020-01-02 18:24] ray-kraesig commented on #3745
One reason I'm not sure we want tags is because they may also get *dis*aggregated on – that is, a truly client-side-only issue might end up separated into fifty different issues just because the clients exhibiting it are connected to fifty different server versions.

(The links at the top of [this documentation](https://docs.sentry.io/data-management/event-grouping/) describe ways to customize the

[2020-01-02 21:13] ray-kraesig opened #3749 "internal: private messages exist in `state.narrows`, but not in `state.messages`"
Under as-yet-unknown circumstances, IDs for private messages are listed in `state.narrows[ALL_PRIVATE_NARROW_STR]` which do not exist in `state.messages`.

Known effects of this so far include `getPrivateMessages` returning (in defiance of its explicit type) an array containing one or more `undefined`, which in turn results in various flavors of `TypeError: undefined is not an object (...)` eventu

[2020-01-02 22:57] gnprice opened #3752 "Starred and mentioned narrows can get out of order"
This isn't common, and on a busy long-lived server it's generally fairly difficult to trigger. I haven't observed it directly, but it seems clear in the code.

---

@showell pointed out that `Array#sort` when not passed an explicit comparison function [has surprising behavior](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort):

In particular:
[code]

In g

[2020-01-02 23:31] gnprice commented on #3685
@sumukhah I think trying a different issue would be best. For more discussion on that, the #mobile stream on chat.zulip.org would be a good place.

[2020-01-02 23:46] gnprice commented on #3614
(For cross-reference: we had a very informative chat thread about this [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/compose.20box.20issue.20.23M3614/near/801414).)

[2020-01-02 23:50] gnprice commented on #3749
By chance I just today ran across some code that I suspect causes a very similar bug!

The code quoted in #3752, in our `narrows` reducer:
[code]
is cited there for its buggy use of nullary `Array#sort`, but another thing going on is that it goes and adds some message IDs to a `narrows` array, in a circumstance where I don't believe we necessarily have the corresponding message.

Can't be the caus

[2020-01-02 23:56] #3752 closed

[2020-01-03 01:55] ray-kraesig commented on #3749
Ugh. The fact that this can happen in multiple ways suggests that we may just want to run with it: abandon the idea that `messages` is a superset of everything in `narrows`, and have an explicit `Inbox` (?) type which represents an unreceived message (in the same way that `Outbox` objects are reifications of unsent messages).

[2020-01-03 02:13] ray-kraesig commented on #3731
From offline brainstorming: perhaps there should be an optional `httpResponse` field in Outbox. Items with 4xx codes should be displayed as an :x:; other messages get the spinner.

We could also give `httpResponse` a special non-numeric "too old to send" value (see discussion on #3734) and retain messages that would have been dropped due to age, instead displaying them with an :x: as well.

[2020-01-03 02:51] gnprice commented on #3745
Mmm, I see. I *think* that's not what will happen because the examples include:

and so I expect it to behave like the existing fields of that flavor do: they don't affect how the events get grouped into issues, and instead they get counted up across all the events of an issue to produce the graphs seen at the RHS of an event page.

But yeah, if we get surprised in that respect then we'll figure o

[2020-01-03 17:42] maltokyo commented on #3499
@timabbott is it possible to do this somehow in any other settings?  My users upload 2-3MB JPEG files etc, and then complain that they are "slow to display".  We cant ask users to downsize them before uploading from their phones etc.

[2020-01-03 17:43] maltokyo opened #3754 "Zulip mobile image load display is slow"
Is it possible to create heavily downsized images (after upload from user) in server settings?  My users upload 2-3MB JPEG files etc, and then complain that they are "slow to display".  We cant ask users to downsize them before uploading from their phones etc.

[2020-01-03 19:45] timabbott commented on #3499
@maltokyo unfortunately that isn't currently possible.  We plan to address this in a way that resolves the issue for everyone (without requiring a special setting) when we can.

[2020-01-04 00:53] gnprice opened #3756 "Add a tablet-optimized layout"
Our layout is designed for phones. On a larger screen, like a tablet, it doesn't use the space well: it tends to wind up as some small text, stretched out across long lines, with a lot of empty space.

This is true even on my iPad mini 4, which has a 7.9in screen. It must be even more so on a tablet with a 10in or 13in screen.

To make a great Zulip experience on tablets, we'll need to design and

[2020-01-04 00:54] gnprice commented on #3756
(There was an ancient issue #493 where this was supposedly implemented, but at best we have some small token measures.)

[2020-01-04 00:59] gnprice commented on #3756
Quick brainstorm for easy steps to make the situation better:
* The emptiness of the layout seems strongest on the unreads screen and the streams screen, and similar screens with lists where each item is a line of text.

  Perhaps we should increase the font size in those lists when the screen is big? That might help.

* Also perhaps limit the width of the lists, particularly where there's a name

[2020-01-04 03:42] gnprice opened #3757 "Share code for encoding/decoding narrows as links"
As discussed in the comments at the end of #3739, there's some code in the webapp's `static/js/hash_util.js` that would be good to move into a shared module, perhaps named `narrow_encoding`.

There's one layer of this that should be pretty simple to do, and another that will involve some refactoring:

* The functions `decodeHashComponent` and `encodeHashComponent` are pure, so making them shared s

[2020-01-06 18:34] gnprice commented on #3756
One specific consequence of the current layout: because on a large tablet screen it is "very empty and spacy", it gives a misleading idea of what's going on. One user's experience (reported in chat [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/new.20message.20count.20disappearance/near/805969) and thereafter) was that they overlooked the topics in the unreads view entirely, hit the

[2020-01-07 02:20] chrisbobbe commented on #3703
This looks like it may be addressed further in https://github.com/zulip/zulip-mobile/issues/3743? @ray-kraesig

[2020-01-07 07:56] sumukhah opened #3760 "Button UI in CreateStream is not working properly"
Users get confused whether the button is active or not,
So fixing this issue will solve the problem.
_the actual value is getting updated, but only the UI is not supporting_
![ButtonFixZulip](https://user-images.githubusercontent.com/23723464/71878269-3afd1d00-3151-11ea-8b95-89ee88d2d915.gif)

[2020-01-07 22:58] gnprice opened #3764 "Convert from emails to user IDs to identify users"
This is a meta-issue which covers a large number of independent tasks. Filing it in order to have an identifier (ha) we can use to refer to the overall effort.

In general, Zulip originally used a user's email address as the primary way of identifying the user, throughout the API and the client data structures. This isn't good -- among other reasons, because people change their email addresses. So

[2020-01-08 01:30] gnprice opened #3766 "Fix Pirlo script and re-enable"
See details here: https://github.com/zulip/zulip-mobile/pull/3762#issuecomment-571797214 and in b505a9513 .

@vinayjain404, I think you offered to update the script -- that would be helpful, thanks!

[2020-01-08 01:34] chrisbobbe opened #3767 "Separate StreamList component into two components"
It seems that the StreamList component is reused for two purposes that may be different enough to motivate separating it into two different components. It's used to list streams in both the "Subscribed" tab and the "All streams" tab, on the "streams" screen (accessible from the "#" icon at the bottom). Here are some reasons motivating a separation:

* The component uses a React Native SectionList,

[2020-01-08 01:47] chrisbobbe commented on #3498
From Sentry, it looks like the latest occurrence of this was on November 28th; is it possible that this has been resolved?

[2020-01-08 02:15] ray-kraesig commented on #3703
This is, indeed, very likely a combination of #3743 and #3731, as described in the latter. (Thanks!)

Closing in favor of those, since the former has an active PR.

[2020-01-08 02:15] #3703 closed

[2020-01-08 02:23] ray-kraesig commented on #3756
As little as I like the idea of trying to glark whether a device is a "tablet" or not, it might be better to use a fundamentally different UI on a tablet than on a phone, and split the display on a tablet as is done in the webapp.

A first approximation to such a UI might be to put the entire current app (except the MessageList) in a left-hand pane, and have an initially-empty* MessageList on the

[2020-01-08 02:42] gnprice opened #3768 "Flow loses track of prop types when we say `export default connect(...`"
This appears to be a bug in Flow itself. I can't find a report of it in the Flow tracker -- for example, this search comes up empty:
https://github.com/facebook/flow/issues?utf8=%E2%9C%93&q=is%3Aissue+export+empty
so probably I should turn it into a report there. (Though we shouldn't get our hopes up for that leading to a fix in bounded time.)

The symptom is that Flow winds up identifying many of

[2020-01-08 18:05] ray-kraesig commented on #3768
Note that the converse does not hold – that is, errors of this sort are not suppressed on *all* Redux-connected components. In particular, editing `src/main/MainTabs.js` to give `OwnAvatar` a bogus prop...

[code]

... results in a Flow error, as desired.

[2020-01-08 19:28] m1-key commented on #3746
Can I work on this issue ?

[2020-01-08 20:37] gnprice commented on #3731
With the potential feature described in zulip/zulip#13626, this case may start arising more often.

[2020-01-08 21:03] ray-kraesig commented on #3746
One antifeature of the above solution (as seen at https://github.com/crux-bphc/fest-manager/tree/master/docs) is that, when viewed from the repository itself, links between documents no longer function.

This is not a fatal objection – we've already accepted this downside in the Zulip server repo, as can be seen at https://github.com/zulip/zulip/tree/master/docs – but if there's a reasonable way t

[2020-01-08 21:36] timabbott commented on #3746
With modern ReadTheDocs at least, it's now possible to make those links work on GitHub as well as in ReadTheDocs, as long as they're not to a hash within the page (those links are still broken).  We use that for the Zulip server repo now, and I imagine eventually recommonmark will fix that too.

I suspect we'd prefer using ReadTheDocs than GitHub Pages, if for no other reason than for consistency

[2020-01-08 22:10] ray-kraesig opened #3770 "Formalize Sentry console logging practices"
At present, in contrast to its pre-1.x.x behavior, Sentry does not send console events as breadcrumbs. (It may also not send `console.error` as an error event; this needs to be confirmed.) This was done in [this commit](https://github.com/getsentry/sentry-react-native/commit/2ff3ab372467cf0f86a987d95fafe570371b97df).

There is an issue report open [here](https://github.com/getsentry/sentry-react-n

[2020-01-09 02:02] chrisbobbe opened #3771 "Outbox messages show ZWJ emoji in separated form"
After you tap "send," but before your message has been recorded on the server and returned to the client in an event, a preview of the message is rendered optimistically, along with a loading indicator to show it hasn't been acknowledged yet. This typically shows as a split-second flicker. But the client-side parsed-markdown preview isn't 100% aligned with what the server provides in the event, so

[2020-01-09 02:18] gnprice commented on #3768
Interesting, thanks!

Looking at `OwnAvatar.js`, the default-export looks like this:
[code]

So one possible pattern is that it applies when the argument to `connect` ("mapStateToProps") takes two parameters -- `props` as well as `state` -- rather than just one.

[2020-01-09 02:24] chrisbobbe opened #3772 "Emoji cut off at bottom (again)"
This looks like a reappearance of https://github.com/zulip/zulip-mobile/issues/2693, which had an attempted fix in https://github.com/zulip/zulip-mobile/pull/2693.

I observed that the bottoms of :heart: and other tall emojis are still being cut off, at least in iOS (I haven't tested on Android but I imagine that the problem would also exist there for tall enough emojis). As Greg points out at htt

[2020-01-09 02:24] gnprice commented on #3746
The main question I'd want us to answer before trying this is what we're aiming to gain.

The OP says it's hard to navigate/search; but I don't see any way at all to search on the example docs site https://crux-bphc.github.io/fest-manager/, nor any overall navigation, so it doesn't seem like GitHub Pages is helpful for that.

On the other hand ReadTheDocs would be helpful for that problem statemen

[2020-01-09 05:17] drrosa commented on #3746
@agrawal-d
Notice you can search the zulip-mobile documentation by simply adding a couple of parameters to a normal GitHub search like so: `repo:zulip/zulip-mobile language:Markdown` and you get both [Basic Search](https://github.com/search?utf8=%E2%9C%93&q=repo%3Azulip%2Fzulip-mobile+language%3AMarkdown&type=Code) and [Advanced Search](https://github.com/search/advanced?r=zulip%2Fzulip-mobile&l=M

[2020-01-09 12:16] awasthishubh commented on #3649
@gnprice I would like to do this. Can I?

[2020-01-09 12:39] awasthishubh commented on #3700
@zulipbot claim

[2020-01-09 19:26] gnprice opened #3776 "Build doesn't work from the Windows Command Prompt"
Running a command like `react-native run-android` fails with an error like
[code]

The problem seems to be that our bit of Gradle code that starts the Bash script `tools/build-webview` can't find the `bash` executable to run.

For now, the workaround is to run from the Git Bash prompt rather than the Command Prompt.

But we should also keep the build working smoothly from the Command Prompt. It sh

[2020-01-09 19:29] gnprice opened #3777 "Build fails on Windows: "unexpected destination directory""
We've had several reports recently that the build doesn't work on Windows. (Even when running from Git Bash, so avoiding #3776 .) The error looks like (reformatted for readability):
[code]

Debugging is proceeding in chat on `#mobile`, [here](https://chat.zulip.org/#narrow/stream/48-mobile/near/807906).

[2020-01-09 19:52] chrisbobbe commented on #1746
As mentioned in https://github.com/zulip/zulip/issues/11767#issuecomment-572711161 (pending some investigation on the server), it appears that Unicode emoji that use the ZWJ (e.g., man + skin tone) _do_ work, but only after the first instance in a string of repeated emoji, like this:
![image](https://user-images.githubusercontent.com/22248748/72099123-cb179f80-32d4-11ea-9938-7cfdded96e59.png). Tha

[2020-01-09 19:59] gnprice commented on #3746
Interesting, thanks for the pointer! When playing with Rust and Rust-related projects, I have generally felt that the docs are nicely rendered, so that is a point in favor of that tool.

That's probably a good idea, thanks.

[2020-01-09 20:05] chrisbobbe commented on #3593
Would you say the star should be tappable to toggle starred/unstarred, or is that too small of a target for people to interact with? Currently all message actions are done by long-pressing a message, which makes sense, but I think users generally expect a star on a message to be tappable, as in Gmail, for example.

[2020-01-09 21:04] rheo-chiti opened #3778 "Updating readme for windows machine"
**@zulipbot** claim

[2020-01-09 21:07] rheo-chiti commented on #3778
Can I take this issue?

[2020-01-09 21:11] ray-kraesig commented on #3593
My instinct here is that associating an always-visible ☆ or ★ with every message will exacerbate issue #3632, although tapping a star just to remove it probably wouldn't be a bad idea.

Unrelatedly, I wouldn't necessarily suggest trying to use the webapp's star code: it uses FontAwesome, and while we have that in the app already, I recall there being some annoying subtleties involved in making tha

[2020-01-09 21:32] chrisbobbe commented on #3593
Hmm, are you mostly concerned with vertical space? An always-visible ☆ or ★ wouldn't necessarily have to add vertical space; it could go on the left of the timestamp, as in the web app (as viewed from either mobile or desktop), right:

![image](https://user-images.githubusercontent.com/22248748/72105850-2badd900-32e3-11ea-8f81-3d2a954d611e.png)

As a side note for the web app, it does appear that

[2020-01-09 21:43] gnprice commented on #3746
OK -- I've just pushed 1ec5b640f and 1ec1d6b75. Please take a look, and thanks again @drrosa for the suggestion!

I'm going to close this issue, because I don't think we'll be pursuing a move to GitHub Pages.

[2020-01-09 21:43] #3746 closed

[2020-01-09 22:23] #3777 closed

[2020-01-09 22:25] gnprice commented on #3778
Fixed by @ray-kraesig in #3779.

[2020-01-09 22:25] #3778 closed

[2020-01-09 23:26] rk-for-zulip opened #3780 "Upgrade to Node v12"
At present (2020-01), Node v12 is [the latest active LTS](https://nodejs.org/en/about/releases/). We should probably be ready to move up to v12 before v10 goes into "Maintenance" mode in 2020-04.

[2020-01-09 23:28] ray-kraesig commented on #3780
Current status:
* **Linux:** I've been using Node 12 for the last month or so. Seems OK so far.
* **Windows:** Known to be blocked by facebook/metro#453.
* **macOS**: Untested; unknown.

[2020-01-09 23:34] gnprice commented on #3780
v10 will still be supported (as LTS) up to 2021-04-30. So I think it'd be OK to still be on it up to then, for as long as there's a reason to be.

Definitely it's good to be on current versions of tools when we can, though. So once that blocker on Windows is resolved, we should upgrade unless there's some other blocker in the way.

[2020-01-09 23:37] gnprice commented on #3780
Also, as you may well know but for concreteness here in the thread: what it means that we're currently on Node v10 is
* we use Node 10 in CI (see `.travis.yml`)
* we tell people to use Node 10 in the setup instructions (`docs/howto/build-run.md`)
* if people have build trouble and turn out to be using some other version of Node, we ask them to please use Node 10 instead.

So upgrading is a matter

[2020-01-09 23:44] gnprice opened #3781 "Upgrade to RN v0.61"
~~We won't meaningfully start on this until we complete the upgrade to RN v0.60, #3548. Filing to have an identifier to refer to.~~ (We're now on v0.60.)

Released 2019-09. Release notes here:
https://facebook.github.io/react-native/blog/2019/09/18/version-0.61

Exciting improvements include:
* "Fast Refresh", which replaces both "live reload" and "hot reload", and is supposed to be more complete

[2020-01-09 23:46] gnprice opened #3782 "Upgrade to RN v0.62"
Released 2020-03-26. Release notes:
https://reactnative.dev/blog/2020/03/26/version-0.62
and shorter version: https://github.com/facebook/react-native/releases/tag/v0.62.0

(~~This is for a version that isn't released yet :slightly_smiling_face:, so there's no work to do on it right now. Filing to have an identifier to refer to this upgrade by.~~)

~~We also won't start real work on this upgrade u

[2020-01-09 23:48] gnprice commented on #3780
I went and filed #3782 for that (and #3781 for the upgrade before it), so as to have a central name for it.

Because the comment was labeled "Current status", I took the liberty of updating it accordingly, wiki-style.

[2020-01-10 00:12] gnprice commented on #3649
@awasthishubh I've just assigned you #3700, which you claimed there; let's start with that. :slightly_smiling_face:

[2020-01-10 00:24] #3766 closed

[2020-01-10 00:24] gnprice commented on #3766
Fixed by #3774.

[2020-01-10 01:30] ray-kraesig commented on #3593
(From offline, for the record:)

Not vertical specifically, but yes – and about stealing existing space from text, which would probably also not be great. Placing it to the left of the timestamp would be fine for leading messages, but immediately-subsequent messages by the same user don't have always-visible timestamps; you'd have to do something different for those.

There are many possibilities,

[2020-01-10 02:28] ray-kraesig opened #3784 "Properly handle alien 4xx responses for `/register` calls"
When calling `/register`, it's entirely possible that the server specified as a realm _exists_, but is not a valid Zulip realm... and that it will respond to `/register` with no JSON or with invalid JSON.

Presently, this is not propagated as an `ApiError(404, ...), but as a generic `Error`... which the `tryUntilSuccessful` invoked by `doInitialFetch` fails to understand.

(Possibly related: #3483

[2020-01-10 02:52] gnprice commented on #3440
@ray-kraesig writes at https://github.com/zulip/zulip-mobile/pull/3736#issuecomment-572182178 :

Very interesting!

So the story seems to be that on modern browsers, this just happens by default -- there's no need for us to do anything.

My first reaction was "gosh, I wish I'd linked to the complaints in the issue, oops". :slightly_smiling_face: I went searching through the #mobile history for men

[2020-01-10 02:52] #3440 closed

[2020-01-10 08:56] rheo-chiti opened #3785 "Can send private message to yourself,hide that button"
I don't know whether that's a bug or not but it will be nice if we don't get any "send private message" button when we are viewing our profile

![Screenshot_2020-01-10-14-18-21-53_e2eb6dad386ea79a8c34fb979200da81](https://user-images.githubusercontent.com/43493203/72139577-14d7b700-33b5-11ea-9359-58c4b367c99c.png)

[2020-01-10 08:59] rheo-chiti commented on #3785
Can I work on this issue?

[2020-01-10 10:28] awasthishubh opened #3787 "First attempt to open camers/gallery fails"
On the first run, when we open camera/photos to send an image:

**Expected Behaviour:**
* Ask for permission
* Open Camera or Gallery

**Actual Behaviour:**
* Asks for permission
* Nothing happens after that. Need to tap camera again.

[2020-01-10 18:09] ray-kraesig commented on #3785
This isn't a bug; it's a fully-functional feature. Self-PMs are useful as a scratchpad for testing out Zulip formatting features, or as a notepad for self-reminders.

Closing.

[2020-01-10 18:09] #3785 closed

[2020-01-10 18:29] ray-kraesig opened #3788 "No error message is shown when deletion fails"
If a user tries to delete a message which is too old to be deleted, no error message is shown when the attempt fails.

(See also #2902.)

[2020-01-10 18:31] rheo-chiti commented on #3788
Can I work on this issue?

[2020-01-10 19:13] gnprice commented on #3784
Hmm true!

I think this is a pretty unlikely scenario to get into -- because we only attempt `/register` after the user has successfully logged in, and that requires the server to have played along with `/server_settings` and then with one of the auth flows the client understands. So that means it was... either a Zulip server, or basically some kind of imitation of one, at least at the time we log

[2020-01-10 19:42] rheo-chiti commented on #3767
@chrisbobbe
Can I work on this issue?

[2020-01-10 19:48] gnprice commented on #3788
(Where #2902 was a similar issue affecting *editing* a message, rather than deleting.)

[2020-01-10 20:51] ray-kraesig commented on #3771
This is not quite correct: the skin tone squares are emoji *modifier* codepoints, and require no ZWJ. ([Wikipedia](https://en.wikipedia.org/wiki/Zero-width_joiner), [Unicode spec](http://unicode.org/reports/tr51/#Emoji_Modifiers).)

If we're going that route, we should keep in mind [this proposal](https://github.com/tc39/proposal-regexp-unicode-sequence-properties), which would allow us to do the

[2020-01-10 21:12] ray-kraesig commented on #3784
I should clarify that this is not hypothetical: it's based on Sentry logs. We were fortunate enough to have a small number of such servers respond with parseable JSON.

(I can't easily determine how many of the generic "Bad response from server: undefined" reports are giving us parking pages, but a quick sampling suggests it's probably not many of them.)

[2020-01-10 21:22] gnprice commented on #2876
Ah, this was actually implemented by #2880 back in 2018 -- but it meant something rather narrower than the original title. Closing.

[2020-01-10 21:22] #2876 closed

[2020-01-10 21:24] ray-kraesig commented on #3787
Confirmed on Android (API 29).

What OS and version did you see this behavior on?

[2020-01-10 21:43] gnprice opened #3790 "Use thumbnails in message list"
Images in a chat thread are often big -- for example, photos or screenshots from a modern phone. In particular they often have a lot more pixels than we'll actually show in the message list.

Currently, I believe, we download the original images, no matter how giant, when showing them in the message list. That's often slow, especially on a slow network connection, and also battery-draining.

The Z

[2020-01-10 21:48] gnprice commented on #3499
I've just filed #3790 for a crisper description of what I believe is the main concrete thing to do here: we should be using the server's thumbnailing feature to avoid downloading giant versions of images, in the message list where we only ever show images at up to a certain size anyway.

#2749 covers another possible thing we might do, which is to downsample when we *upload*.

If there are specifi

[2020-01-10 21:48] #3499 closed

[2020-01-10 21:52] gnprice commented on #3754
@maltokyo Thanks for the feedback! I definitely agree that the software should take care of this without asking users to downsize the images first themselves.

I believe the server has at this point grown the core pieces of the functionality we need here, but we haven't connected things up to help the mobile app take advantage of that.

It looks like we haven't previously had an issue crisply trac

[2020-01-10 21:52] #3754 closed

[2020-01-10 21:53] gnprice commented on #3026
See also #3790. The issues are independent, but each one basically multiplies the impact of the other.

[2020-01-10 21:55] gnprice commented on #3555
I agree that those numbers are quite bad!

It's likely that #3026 is part of the cause of this.

[2020-01-10 21:59] chrisbobbe commented on #3767
Sure, thank you! Feel free to open a topic in the mobile stream on chat.zulip.org :)

[2020-01-10 23:21] ray-kraesig opened #3791 "Explicitly logging out doesn't cancel active navigation-capable actions"
To reproduce consistently:

* Start the Zulip app. Log in to a dev server. Stop (kill) the Zulip app *and* the dev server.
* Start the Zulip app again. Wait a moment, until the spinner appears. Click on the user profile and log out. (The Zulip app will show the account selection screen.)
* Start the dev server.

Rather than staying at the account selection screen, the app will complete the initial

[2020-01-10 23:40] gnprice commented on #3784
Ah, that's good to know!

Want to paste a traceback and/or a Sentry link? (Even though the linked-to page won't be publicly readable, it's helpful at least for others of us with access.)

[2020-01-10 23:43] gnprice commented on #3791
Huh interesting. I'm not sure I 100% follow what you're describing, though.

In other words, the app is sitting at AccountPickScreen? And it's just quiescent there. But then when you start the dev server, the app goes and does something else? That's pretty wacky.

But I'm also a bit puzzled at this. Is the idea that you *don't* actually complete logging in the first time?

[2020-01-10 23:44] gnprice commented on #3787
(Aka Android 10, since I had to look that up myself just now :wink: )

[2020-01-10 23:47] gnprice commented on #3787
It's possible this never worked (it's an easy glitch to gloss over, since it only happens once), and also possible it's a regression in the last couple of years; see #3576 for a change that might have introduced it, on Android.

[2020-01-10 23:50] gnprice commented on #3593
Yeah, I agree users will generally expect it to be tappable, and it'd be good to make it tappable.

We should make the touch target big enough. A common pattern is to have a touch target that includes some padding around the icon that identifies it. I'd consult the Material Design guidelines for a value for how big the touch target should be.

(Though also, as long as we *also* leave the long-pres

[2020-01-11 00:21] ray-kraesig commented on #3791
Exactly that.

Well, the server effectively doesn't exist at that point, so yes. ("initial login" is not be the most precise term here – I should probably have said "the initial fetch".)

[2020-01-11 00:25] timabbott commented on #3790
I think #2749 would make a significant difference on this front, because in practice most multi-megabytes image uploads will be from phones (images sourced from somewhere else usually are smaller).

I should add that the third-party library we're using on the server for thumbnailing seems to have failed to do the Python 3 migration, suggesting its unmaintained, and we're likely to need to switch t

[2020-01-11 01:08] gnprice commented on #3790
True, but it's also costly to the user experience: it means that when you e.g. post a photo from your phone, it'll be lower quality, even when people really try to look at the details by opening it up in the lightbox or downloading it. I think in particular some people will regularly be annoyed to find that they can't post original-quality photos.

Oof, that is indeed a bad sign. Thanks for the up

[2020-01-11 01:13] gnprice commented on #3791
Ah, I see. I read "initial login" to mean this :slightly_smiling_face: :

And yeah, the initial fetch is not a login; from a UX perspective, we're "logged in" when the user can see the data without needing to enter auth credentials again. Which in our implementation means concretely that we have the API key. So the initial fetch is something we can only do when we're already logged in.

What actio

[2020-01-11 01:14] gnprice commented on #3791
Oh, one thing that might be very helpful: could you make a little screencast of the sequence you have in mind?

Here's one list of tools that might be helpful for doing that:
https://zulip.readthedocs.io/en/latest/tutorials/screenshot-and-gif-software.html#gif-tools-by-platform

[2020-01-11 02:22] chrisbobbe commented on #3654
Aha! The 'narrows' state is not being updated to reflect the new messages.

Here's why: When a PM arrives, `action.caughtUp[ALL_PRIVATE_NARROW_STR].newer` is used by the narrowsReducer in the eventNewMessage function that handles the EVENT_NEW_MESSAGE action, to decide whether to update the state. `action.caughtUp[ALL_PRIVATE_NARROW_STR].newer` is just taken from the previous state, seen in the 'm

[2020-01-11 02:25] awasthishubh commented on #3787
Os: Android 10
Version: 26.20.143

I'll try to resolve this. :)

[2020-01-11 03:32] amanjn38 commented on #3788
I would like to contribute to this issue.

[2020-01-11 15:30] rheo-chiti commented on #3767
@chrisbobbe  should I make two components ```StreamListCardList``` and ```SubscriptionsCardList``` and then pass the necessary props from ```SubscriptionsCard``` to ```SubscriptionsCardList``` and from ```StreamListCard``` to ```StreamListCardList``` and delete ```StreamList```.

[2020-01-11 21:01] awasthishubh commented on #3787
I looked into the code and found that Image Picker is being handled by react-native-image-picker library and I think issue is from their side.

The problem is with launchCamera function.
I tried and found that It's not executing our callback function on first try. This is a small glitch but I found we are not getting any alert or callback even if user deny or alhave previously denied permission.
U

[2020-01-12 17:34] rheo-chiti opened #3793 "App crashes on pressing share image button for the second time"
When share image button is pressed for the first time ,the image is downloaded and then we are shown the options where to share but on  pressing it the second time,the app crashes

![20200112_230133 (1)](https://user-images.githubusercontent.com/43493203/72222902-9daa4a80-358f-11ea-926b-5a08be20ab92.gif)

[2020-01-13 10:38] agrawal-d commented on #3788
I would like to take this up. @ray-kraesig please can I be assigned to this?

[2020-01-13 10:49] agrawal-d commented on #3788
I have identified where the error is being swallowed. Its in `apiFetch.js:76` Im working to show a meaningful error message instead of a silent ignore.

What is the correct place to discuss the best practices fixes for this. In this issue thread or in the #mobile thread of Zulip community server?

[2020-01-13 10:50] agrawal-d commented on #3788
Catching the error in `src/api/apiFetch.js:76` might also possibly fix other issues where API failures are silently ignored.

[2020-01-13 12:41] agrawal-d commented on #3788
I have created a [PR that should fix this](https://github.com/zulip/zulip-mobile/pull/3795). Please have a look at it.

[2020-01-13 13:23] awasthishubh commented on #3788
@ray-kraesig @gnprice Wouldn't it be better if we can disable edit/delete feature from the client-side as well? (as done by other messaging apps like WhatsApp)

[2020-01-13 13:41] agrawal-d commented on #3788
@awasthishubh I think this can be confusing to users, as they expect a delete message dialog box to be shown. You referred to WhatsApp, which still shows a `delete for me` option on selecting `delete`. Zulip does not have a 'delete for me' feature AFAIK.

An alternative would be to pre-fetch editing time limit at app startup, and to still show the `delete` option, but not actually send the request

[2020-01-13 13:45] agrawal-d commented on #3788
Regardless of how we choose to handle the timeout issue, if the deletion fails due to any reason at all, it is currently unhandled.

The PR that I have made is a catch-all for all possible reasons ( including timeout ).

[2020-01-13 14:01] awasthishubh commented on #3788
@agrawal-d I was just putting an idea of making it a client-side feature as well. Maybe we can just grey-out the text according to time.
In no way, I meant to oppose your PR. Sorry if you felt like that. I too believe `Catch` is needed there. :)

[2020-01-13 14:05] agrawal-d commented on #3788
Please do not apologize! If my PR is not a good solution, the by all means I wouldn't want it to get merged. I was just putting forward my opinion on your suggestion.

[2020-01-13 14:56] parshva-b commented on #2052
Hey, I am Parshva Barbhaya, and am new to open source as well. After reviewing the thread I realized there are multiple people who can work on this issue, so can I also contribute? I want to participate in GSoC 2020.

My areas of interest are JavaScript, React

[2020-01-13 15:06] agrawal-d commented on #3551
The Zulip api currently does not provide any information whether a user is activated or not.
(https://zulipchat.com/api/get-profile) (based on what I was able to find).

Is there any other way we can fetch that information?

[2020-01-13 15:10] parshva-b commented on #1946
Hey, I am Parshva Barbhaya, new to opensource and this community and want to participate in GSoC under this organization. I would like to work on this issue, but do need some guidance.

[2020-01-13 16:26] agrawal-d opened #3796 "Image share from MessageList does not work as expected"
**Steps to reproduce**
1. Long press on an image in message list
2. Tap Share in the ActionSheet.

**What is expected**
The image would be shared.

**What actually happens**
The name of the image file is shared ( the markdown title, if image is posted using the website ).

![report](https://user-images.githubusercontent.com/7714968/72272756-2b00a400-364f-11ea-8476-1be002412bea.gif)

This works fin

[2020-01-13 17:56] agrawal-d commented on #3528
I have created a [PR](https://github.com/zulip/zulip-mobile/pull/3797) that fixes this.

[2020-01-13 18:21] agrawal-d commented on #3776
Running the tests from `./tools/test` in a non-bash command-line ( like cmd ) also fails on Windows.

[2020-01-13 19:02] chrisbobbe commented on #3749
This may be unrelated, but it's noted in https://github.com/zulip/zulip-mobile/issues/3654#issuecomment-573270791 that sometimes private messages do not exist in state.narrows; sometimes this is intended (we don't want to add too-recent messages to a narrow in which we're browsing ancient history), sometimes not, as described in that comment.

Interestingly, at least as I've seen in the buggy case

[2020-01-13 19:18] ray-kraesig commented on #3791
Alternate perspective: in the happy path, the existing behavior appears much like (e.g.) an old-fashioned mostly-offline mail client keeping your username and password around locally, only supplying them to the server for you when it's time to fetch or send mail.

Tap the far right toplevel tab (to display the user profile), then tap the button labeled "Log out".

Possibly! I'll take a look.

[2020-01-13 19:22] ray-kraesig commented on #3784
https://sentry.io/organizations/zulip/issues/1422486962/
https://sentry.io/organizations/zulip/issues/1414991211/
https://sentry.io/organizations/zulip/issues/1412778322/

And perhaps more generally, [the search query](https://sentry.io/organizations/zulip/issues/?project=191284&query=is%3Aunresolved+%22Bad+response+from+server%22) that presently finds these.

[2020-01-13 19:55] chrisbobbe commented on #3768
Looking into this -- will post my findings after lunch :)

[2020-01-13 20:12] rheo-chiti commented on #3796
Similar to issue #3793 ,when the app crashes
Sharing image button is showing unexpected behavior

[2020-01-13 20:16] agrawal-d commented on #3796
@rheo-chiti I think these two are unrelated issues. The problem here is that it's not a bug, but a UX issue, most likely.

[2020-01-13 21:01] chrisbobbe commented on #3768
From a bit of observation, thankfully this does seem to be the case.

I think I've found a workaround, and a small question about how our version of `connect()` works. The Flow bug is definitely still a bug for the reasons you've described, but I believe it may have surfaced because of some inferences we're asking Flow to make.

The correct type checking in uses of <AccountDetails ... /> comes bac

[2020-01-13 21:24] gnprice commented on #3654
Thanks @chrisbobbe for the investigation and that writeup!

Yeah, this sounds like a point where something's already gone wrong, then.

The code that makes that request (fetchPrivateMessages which is dispatched during doInitialFetch in src/message/fetchActions.js, as you said) looks like this:
[code]

where
[code]

and that `api.getMessages` binding looks like
[code]

It sure looks to me like that

[2020-01-13 21:27] ray-kraesig commented on #3503
As an additional data point: the current behavior (and additional behavior suggested by this thread) seems to be in contradiction to Google's [Android navigation guidelines](https://developer.android.com/guide/navigation/navigation-principles).

[2020-01-13 21:42] gnprice commented on #3791
Got it, thanks. OK, rereading the OP with that in mind, I think I understand: IIUC, the point is that you believe the logout is successfully updating the Redux state to erase the API key there -- but there's this closure sitting around which still has the ability to get and display some of that account's data from the server, namely the async action that is the initial fetch (or some piece of it).

[2020-01-13 21:49] ray-kraesig commented on #3654
This may be due to our use of stringified JSON objects as keys in `state.narrows` – unless someone's imposed new restrictions while I wasn't looking, the `JSON.stringify` of two structurally identical objects is not guaranteed to be identical. (I'm not even sure two consecutive serializations of the *same* object are guaranteed to be identical.)

[2020-01-13 22:01] gnprice commented on #3768
Thanks @chrisbobbe !

Yep, agreed.

I think that workaround will be a pretty good one to apply to all our affected `connect` calls, if we don't come up with a narrower one (e.g., one we can make once within our definition of `connect`.) It certainly feels less invasive than the `const y = () => <X />;` workaround described above.

As a small tightening, I'd predict that you can drop the second men

[2020-01-13 23:16] timabbott commented on #3654
I'd certainly expect that the result in `found_newest=true`; if it's not, I can investigate.  It'd be pretty surprising if it didn't; let me know if you see that behavior through logging.

[2020-01-13 23:50] ray-kraesig commented on #3768
The bug appears to be due not so much to the inability to infer `P`, but `SP` – the instantiation `<SelectorProps, _, _>` also works.

This seems to arise from the complicated use-site of SP:
[code]
... where `OwnProps` is a decidedly nontrivial type, including two uses of `$Diff` and one type-level object-spread on types that may not be concretely available yet.

Loosening the type of mapStateToP

[2020-01-14 00:39] chrisbobbe commented on #3654
Hmm, so with some quick logging on the server (let me know if there's a better way to do this or you need something more specific) --

(zerver/views/messages.py, get_messages_backend)
![image](https://user-images.githubusercontent.com/22248748/72303727-0db5e080-3623-11ea-95d9-b12bc7660929.png)

-- I see that it's showing False:

![image](https://user-images.githubusercontent.com/22248748/72303698-

[2020-01-14 00:56] timabbott commented on #3654
Interesting!  I think what's going on is a consequence of your requesting 0 messages as `num_after`, and so the server didn't check whether indeed there are any messages with a newer message ID, and thus cannot prove that it had fetched the latest messages.

Writing more details now.

[2020-01-14 01:18] timabbott commented on #3654
For now, I think against legacy Zulip servers with the current behavior, while the mobile app is using the specific type of query it's using, it should assume `found_newest=true` if it set a max_int style anchor value, because the current behavior is at best confusing, and maybe just wrong.

Here's the relevant code:
[code]

The logic is as follows, roughly:
* We set `found_newest` using `found_ne

[2020-01-14 07:57] awasthishubh commented on #3685
I would like to take this issue.

[2020-01-14 08:53] agrawal-d commented on #3731
I will try to work on resolving this. Here is what I have thought so far:
* After getting a 4xx response, a ⚠ can be shown instead of a spinner. (@ray-kraesig you mentioned ❌, but in my opinion ⚠ is the norm among messaging apps )
* Long-pressing on the failed message will show two options - Retry and Delete.

Does this sound good?

[2020-01-14 09:31] astyltsvig commented on #3624
I cant either do that from android

[2020-01-14 10:48] agrawal-d commented on #3731
Can I work on this issue?

[2020-01-14 11:48] awasthishubh commented on #3685
@ray-kraesig To ignore the fetch result in general can we do something like:
* Assign each request an id (by incrementing a value) and set the current request's id in the state.
* When the request completes, if request-id is not the same as id in the state (i.e a new request has been made), We'll ignore.

[2020-01-14 18:45] ray-kraesig commented on #3685
That's a possibility; but I'm actually working on the RN 0.60 upgrade right now, so it might be better to hold off for a bit.

(In particular, I'm hoping it's feasible to "attach" an AbortController to a React Navigation route, such that when the route is removed from the stack any associated network requests are autocanceled. This approach would solve half of this issue and all of #3791.)

[2020-01-14 19:09] jainkuniya commented on #3716
**Observations:**
- This is reproducible on both Android and iOS
- Same set of emojis have issue on both Android and iOS

**Issue**
In our app code base, we have hard coded `unicodeCodeByName` in `src/emoji/codePointMap.js`

- It is outdated and not based on server (different Zulip server might have different file), latest can be found at https://chat.zulip.org/static/generated/emoji/name_to_codep

[2020-01-14 19:55] awasthishubh commented on #3685
That shouldn't be hard. We just have to execute all request in same component with same abort signal and send abort signal in componentWillUnmount lifecycle.
We have AbortController-polyfill currently but I too think it's worth to wait and update RN.
I would love to work on this if possible in future. :)

[2020-01-14 20:15] awasthishubh commented on #3790
@gnprice Wouldn't it be nice to show an image preloader or a just a greyed-out default image while the original image ( or thumbnail if added) is being loaded?

[2020-01-14 20:24] agrawal-d opened #3798 "Emojis cut-off in Reactions screen when number of unique reactions is large"
![Screenshot_20200115-015143_Zulip](https://user-images.githubusercontent.com/7714968/72379691-d66f2e80-370b-11ea-811c-89df142d4d7e.jpg)

[2020-01-14 20:38] chrisbobbe commented on #3798
Aha, you beat me to it! Thanks for opening this issue @agrawal-d as this was exactly what I was testing for.

The problem also occurs on iOS:

![image](https://user-images.githubusercontent.com/22248748/72380677-c3883a00-36ca-11ea-87f1-6a9cfe5c5156.png)

I'll post more soon.

[2020-01-14 20:39] agrawal-d opened #3799 "People tab not updated on PMing someone for the first time"
I private messaged some person for the first time. After going back to the People screen, I expected to see their name in the list, I even browsed around some random streams for a while, and checked it again, but it appeared only after force closing and restarting the app.

![image](https://user-images.githubusercontent.com/7714968/72383756-1f41da00-3742-11ea-851b-c81443f3b4f0.png)
 ^ This did not

[2020-01-14 20:46] ray-kraesig commented on #3788
For reference, this is #2972 (edit) and #2793 (delete).

[2020-01-14 20:56] chrisbobbe commented on #3798
So I see two ways we could fix this:

1) Let the tabs maintain enough width to show the entire emoji, and allow scrolling through the tabs. This would be an easy fix, mainly adding `scrollEnabled: true` in tabBarConfig in the TabNavigatorConfig (https://reactnavigation.org/docs/en/2.x/material-top-tab-navigator.html#tabnavigatorconfig). I've confirmed that this simple config change works on iOS, t

[2020-01-14 21:18] agrawal-d commented on #3798
This is how Slack does it:
![image](https://user-images.githubusercontent.com/7714968/72383440-7bf0c500-3741-11ea-91de-d2e69ae3a956.png)

[2020-01-14 21:32] ray-kraesig commented on #3799
This is not *quite* a duplicate of #3654 (sent vs. received), but I believe it has the same underlying issue and will be resolved by the same fix.

[2020-01-14 21:33] agrawal-d opened #3800 "New messages simply disappear when starting the app without internet"
A spinner is shown when you were connected when you launched the app, but while staying on the app, became disconnected, and posted a new message
![image](https://user-images.githubusercontent.com/7714968/72384295-25848600-3743-11ea-8636-5b0d57f7df35.png)

However, when starting the app **already disconnected from the internet**, any new message posted **simply disappears**, and no spinner/error i

[2020-01-14 22:29] ray-kraesig commented on #3551
The webapp has no special access to the Zulip server state, as far as I know; there presumably *is* a way to determine this through the API. (I'm not familiar enough with the webapp to quickly discern how it does that, I'm afraid, but it might still be a good starting point.)

[2020-01-14 22:44] gnprice commented on #3784
Thanks! Looking at those three:
* Two are actually at `/server_settings`, not `/register`.
  * [One of those](https://sentry.io/organizations/zulip/issues/1414991211/?project=191284), it looks like the user is just entering something at `RealmScreen` that doesn't work.
  * [The other](https://sentry.io/organizations/zulip/issues/1422486962/?project=191284)... the behavior is kind of bizarre, to th

[2020-01-14 22:44] agrawal-d commented on #3551
Found it. The endpoint is `https://zulipchat.com/api/get-all-users`. One of the response fields is `is_active`: A boolean specifying whether the user is active or not.

API doc: https://zulipchat.com/api/get-all-users

[2020-01-14 22:52] agrawal-d commented on #3551
Can I work on this issue?

[2020-01-14 23:06] ray-kraesig commented on #3528
Shouldn't this option also be removed in PMs?

[2020-01-14 23:40] gnprice opened #3802 ""No messages" when in fact we're loading messages"
This is perhaps the most conspicuous bug I regularly see at present when using the app. I see it on v26.20.143, and I think I've been seeing it on previous versions for weeks at least, perhaps longer.

The typical sequence is:
* You had the app open, and had been looking at some narrow.
* You go do something else, and come back to the app after a while -- like over 10 min. (The time for an event q

[2020-01-14 23:49] timabbott commented on #3551
Right, the data is prefetched; I would expect the `is_active` field to be already available when you click a user's profile.

[2020-01-14 23:49] ray-kraesig commented on #3784
I have some doubts that the timestamps are accurate – I vaguely recall having seen other instances of zero-difference timestamps.

I suspect changes to handle these better wouldn't be particularly intrusive.

I vaguely recall having seen other Sentry reports like this; it may just be that the timestamps are wrong. The rest...  could possibly be explained by the user trying to delete part of the UR

[2020-01-14 23:51] timabbott commented on #3551
While we're working on this, you should look at the precise logic for the webapp's popover; I think it also has some nice display details for bots as well.  `static/templates/user_info_popover_content.hbs` is the HTML source code for it in the webapp for comparison: https://github.com/zulip/zulip/blob/master/static/templates/user_info_popover_content.hbs

[2020-01-14 23:54] timabbott commented on #3716
One possibility is that the mobile app should be fetching `name_to_codepoint.json` and similar details from the server, rather than having a copy embedded in the app.  That file does change from time to time, and the mobile app aims to handle older servers.

[2020-01-15 00:25] chrisbobbe opened #3803 "Blank screen on MessageReactionList when returning to app after 10 minutes"
There's a scenario on the 'message-reactions' route (MessageReactionList.js) in which `state.messages[props.navigation.state.params.messageId]` is undefined, resulting in a crash. Concretely, this means that the messageId param (passed either from a long-press on an existing reaction in the MessageList, or from tapping "See who reacted" from the message action sheet) refers to a message that is no

[2020-01-15 00:59] ray-kraesig commented on #3803
(This is most likely because something went wrong when uploading the source map for the iOS build to Sentry, at build time.)

[2020-01-15 01:23] chrisbobbe opened #3804 "Decouple navigation from Redux"
This won't be a priority until we're closer to upgrading to React Navigation v5 (which currently hasn't been released yet, and we're on v2 now), but React Navigation will eventually stop supporting the pattern of storing navigation state in Redux. Here are the indications:

* The [v2 Redux integration doc](https://reactnavigation.org/docs/en/2.x/redux-integration.html) (the version we're on), rath

[2020-01-15 05:12] agrawal-d commented on #3798
During the design process of this feature, the initially proposed design was similar to that of slack (https://github.com/zulip/zulip-mobile/pull/3110)

[2020-01-15 05:38] agrawal-d opened #3805 "Downloading attachment from the app requires logging in with the default browser"
**Steps to reproduce**
1. In you mobile device, If logged in to Zulip in the default browser, log out of it.
2. Download the attachment from [this narrow](https://chat.zulip.org/#narrow/stream/49-development-help/topic/Database.20schema) using the app.

**What Happens**
A browser window opens up to download the attachment.

**What is expected**
File should automatically download using the device's

[2020-01-15 05:40] agrawal-d commented on #3805
If this can be considered as a duplicate of https://github.com/zulip/zulip-mobile/issues/2816, please close this.

[2020-01-15 06:14] agrawal-d commented on #3528
Shouldn't this option also be removed from narrows where only administrators are allowed to post ( such as #announce in CZO )

[2020-01-15 11:31] andreasoc opened #3806 "Feature request: delete topics"
Some users in my Company use only the APP and the possibility to delete or edit the topics is necessary.
thanks

[2020-01-15 16:15] agrawal-d commented on #3551
I have created a [PR](https://github.com/zulip/zulip-mobile/pull/3807) that resolves this.

[2020-01-15 16:40] agrawal-d commented on #3551
Turns out its not! My PR has the explanation.

[2020-01-15 20:02] chrisbobbe commented on #3798
Good point. I also like this idea, from that discussion; it's similar to the SectionList idea I mentioned but would take less vertical space, since the avatars would be listed horizontally:

(from @gnprice )

It looks like the current layout was influenced by Facebook (see this [screenshot](https://github.com/zulip/zulip-mobile/pull/3110#issuecomment-436488128)), but we face a challenge that Faceb

[2020-01-15 22:13] chrisbobbe commented on #3699
Just a note (and gentle bump) with the update that #3704 was closed and replaced by #3727, which looks like it's paused on a question about whether some tests are unnecessarily thorough. So it seems like a fix is almost ready! 👍

I noticed some of this confusion (a memory leak from setInterval being called multiple times without being cleared; looks fixed in https://github.com/zulip/zulip-mobile/p

[2020-01-15 23:12] gnprice opened #3809 "Sentry missing our source code on iOS"
We've been seeing errors like this one on some Sentry events ([example](https://sentry.io/organizations/zulip/issues/1445808226/?project=191284)):
![image](https://user-images.githubusercontent.com/28173/72479315-227caa80-37c2-11ea-800e-28aa8fd3d29b.png)

That's "Source code was not found". The consequence is that the stack trace is pretty cryptic.

That event was on iOS, on release 26.20.143 whic

[2020-01-15 23:13] gnprice commented on #3803
Hmm, and that was on v26.20.143 -- the latest version. So that seems like something we should debug.

I went and filed #3809 for it.

[2020-01-15 23:15] gnprice commented on #3809
(This may be easiest to debug next week, when I'm in the office and we can examine the log file left behind from that build on the Mac where I made the build; right now I'm traveling and don't have access to it.)

[2020-01-15 23:28] ray-kraesig commented on #3806
Editing topics can be done already: long-press on any message. (The interface could definitely be improved, though.)

Deleting topics... isn't something we support at all, as far as I'm aware. Do you just mean "moving all the messages in one topic into another existing topic"?

[2020-01-16 00:59] #3528 closed

[2020-01-16 01:01] ray-kraesig commented on #3528
Almost certainly. (If you're not an admin, anyway.) That's sufficiently functionally different that I should probably file a new bug.

[2020-01-16 01:05] ray-kraesig opened #3810 "Don't provide 'Reply' option for messages that can't be replied to"
... *e.g.* (and possibly *i.e.*), messages in admin-only streams when the active user is not an admin.

(See also #3528.)

[2020-01-16 01:28] ray-kraesig commented on #3805
This is related to the discussion in #2816, but it's distinct from what was asked for in that issue's opening post.

Closing as a duplicate of #3303 instead!

[2020-01-16 01:28] #3805 closed

[2020-01-16 01:34] ray-kraesig commented on #3798
Careful with this – it's a good way to make the tabs shuffle around while you're trying to hit them. :sweat:

[2020-01-16 02:09] chrisbobbe commented on #3798
Mmm, good point, if we're keeping the tabs. The row of tabs is already a pretty small target to hit, and scroll with, at the top of the screen, which would compound this annoyance with tapping.

If we go the vertical list way (see my previous comment here, and still I think my preference), the shuffling would still affect tap attempts, but it would be noticeably less annoying because there's less

[2020-01-16 02:22] timabbott commented on #3806
We do support that in the webapp these days:

![image](https://user-images.githubusercontent.com/2746074/72487751-db8fb480-37c3-11ea-8695-fe57825831df.png)

The API endpoint is `streams/(?P<stream_id>\d+)/delete_topic`; not part of the documentation yet.

[2020-01-16 05:12] agrawal-d commented on #3810
I'm working on this.

[2020-01-16 05:43] agrawal-d commented on #3810
PR #3811 addresses this.

[2020-01-16 07:36] agrawal-d opened #3812 "Dont show compose box in deactivated user PM screen"
It is not possible to send PMs to deactivated users, and the compose box breaks in the PM screen for such users.

Instead, show a message in a from similar to :
![image](https://user-images.githubusercontent.com/7714968/72503097-ec423800-3860-11ea-890c-f8798e928a6e.png)

[2020-01-16 07:50] chrisbobbe commented on #3503
Discussion at https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/navigation.

[2020-01-16 07:51] andreasoc commented on #3806
I confirm that the topic deletion is present in the desktop app, but not in the mobile app

[2020-01-16 08:02] chrisbobbe commented on #3567
This sounds pretty straightforward, if those are the only required changes.

[2020-01-16 08:56] chrisbobbe commented on #3787
I’ve gone ahead and labeled this “android” after a quick check on iOS that didn’t show the same symptoms; and it seems there’s a permissions issue, and permissions issues tend to surface differently on Android and iOS.

(That same test did reveal a very bad symptom, which I’m about to create an issue for, but it was not the same symptom 😉.)

As a side note, for a different app (iOS only though), I

[2020-01-16 09:12] chrisbobbe opened #3813 "[iOS]: Crash on adding photo from camera if “Access to photos” permission not granted"
I’ll fill this in with more detail tomorrow, but on iOS it seems that we have a crash when trying to add photos from the **camera** (not the media library!) when read access to photos (i.e., the media library) is not granted. Seen on iPhone 6s with iOS 13.3 on v26.20.143.

[2020-01-16 09:23] rheo-chiti commented on #3813
When access is not granted,an alert should be shown asking for permissions

[2020-01-16 09:28] chrisbobbe opened #3814 "iOS: Link to app permissions when necessary"
iOS has a quirk where an app can only display the native alert requesting a specific permission once. If the user declines, and then they retry the action that requires the permission (and on all subsequent retries), it will fail. Currently, we handle this by displaying, e.g., “Error: photo library permissions not granted.” Instead, let’s provide a button that will navigate to the Zulip page in Sy

[2020-01-16 09:39] chrisbobbe commented on #3813
Sure, thank you! There’s one thing I hadn’t pointed out in my initial comment (and I’ll write up something more tomorrow; I’m currently typing on mobile, so not as quickly, and should sleep soon as it’s 1:30 in the morning).

The native alert requesting permissions did actually display correctly, following the iOS quirk I mention in https://github.com/zulip/zulip-mobile/issues/3814, but the crash

[2020-01-16 09:43] rheo-chiti commented on #3813
On android, I cleared my data and didn't gave permissions to access photos but app didn't crashed .
On second time when I tried to add photo,nothing happened and it didn't asked for permissions.

[2020-01-16 10:14] agrawal-d opened #3815 "App bar still retains 'Edit Message' title after discarding edit"
**Steps to reproduce**
1. Try to edit any message.
2. Don't actually edit it. Just press back.

**What happens**
App bar title becomes 'Edit Message' until app restart - even when you change streams etc.

**What is expected**
The title should revert to stream etc. title.

[2020-01-16 17:19] agrawal-d opened #3816 "App crashes on viewing user profile when timezone is unknown"
**Steps to reproduce**:
1. Navigate here in the mobile app https://chat.zulip.org/#narrow/stream/48-mobile/topic/App.20crashing/near/809664
1. Tap on Steve Howell's profile picture.

**What happens**
The app crashes. Doesn't crash on viewing any other user's profile

**Error log** :http://p.ip.fi/ywPP

[2020-01-16 17:21] rheo-chiti commented on #3813
I fixed it for android ,when permissions are not granted initially,permissions can be granted later on.Like this->
![20200116_224615](https://user-images.githubusercontent.com/43493203/72547413-9e562000-38b2-11ea-87aa-3fd3bd1cbf4d.gif)

[2020-01-16 17:45] chrisbobbe commented on #3813
Ok! I believe the issue you’re addressing is slightly different (maybe related to #3787?); this issue describes a complete crash of the app process on iOS, forcing a user to reopen the app, and it seems like that’s not happening on Android.

[2020-01-16 17:48] agrawal-d commented on #3816
**Possible causes?**
1. See https://github.com/necolas/react-native-web/issues/1430#issuecomment-538039400
1. Steve's user profile returns timezone as PRC in the mobile app, but the timezone PRC is not present in timezone_vx.x.x.js. On the other hand, my timezone, Asia/Kolkata is present in the file. That's possibly a cause of the bug?

[2020-01-16 18:19] chrisbobbe commented on #3813
I'll do some digging and see if I can come up with a fix for this today.

[2020-01-16 18:33] chrisbobbe commented on #2973
Hmm, if this is still being considered, I wonder about some UX side effects -- if the user has to grant or deny permissions as their very first interaction with the app, without context of why they're needed, it can be distracting, as discussed in this article:

(https://savvyapps.com/blog/how-to-create-better-user-permission-requests-in-ios-apps)

Unless this is still a necessary change (and perh

[2020-01-16 21:46] ray-kraesig commented on #3548
A list of known dependencies whose update is blocked by the transition to RN v0.60:
* react-native-image-picker
* *(add more as identified)*

[2020-01-16 22:24] gnprice commented on #3816
Fascinating, thanks!

The log linked above says:
[code]

I think the next question is: what is the thing we're trying to get the property `rules` from?

A timezone sounds like a plausible answer to that -- a timezone basically consists of a bunch of "rules" describing what the offset from UTC is for what intervals. So one direction would be to see if choosing that timezone reliably reproduces the

[2020-01-16 22:24] gnprice commented on #3816
See also [chat discussion](https://chat.zulip.org/#narrow/stream/48-mobile/topic/App.20crashing/near/809661).

[2020-01-16 22:45] chrisbobbe commented on #3813
Just made a PR -- looks like fileName is not available when this permission is not granted, and instead of coming through as undefined, which is handled, it's null. The PR lets it handle null.

[2020-01-16 22:48] chrisbobbe commented on #3654
Thanks for the writeup and suggestions, @timabbott! I haven't forgotten about this, but I'd like to check in with @gnprice about it next week when he's in the office.

[2020-01-17 02:26] chrisbobbe opened #3820 "Send button in private messages is disabled"
It looks like https://github.com/zulip/zulip-mobile/commit/a2d6793aeac19259c205a175048f4017bf89ddcb was made to fix https://github.com/zulip/zulip-mobile/pull/3748, but it introduced the side effect of preventing people from sending private messages! Private messages don't have topics, so the added conditional disables the send button.

[2020-01-17 02:44] ray-kraesig commented on #3820
*Mea culpa* – I should have caught this in testing.

(On which note, this strikes me as a good thing to have a Pirlo test for.)

[2020-01-17 17:00] leofidus commented on #3790
@awasthishubh Agreed. In my eyes the ideal user experience would be to load a 16x16px thumbnail as well a regular thumbnail simultaneously. Since the 16x16px thumbnail is tiny it loads quickly and can be shown as preview while the regular thumbnail is still loading. The original image should only load if the user actually clicks the image to view it in a lightbox or to download it.

[2020-01-17 18:11] chrisbobbe commented on #3816
I hope this isn't a distraction, but we have reports of strange activity related to the "last active" time when viewing a user's profile. Possibly related to a timezone issue?

Observed in mobile: https://chat.zulip.org/#narrow/stream/48-mobile/topic/timestamp.20bug
Observed in web: https://chat.zulip.org/#narrow/stream/9-issues/topic/.22last.20active.22.20incorrectly.20says.20.22never.22

[2020-01-17 18:13] chrisbobbe commented on #3793
Hmm, I wasn't able to reproduce this on a quick test on the Android emulator. What device/version are you seeing this on?

[2020-01-17 19:59] chrisbobbe commented on #3803
Ah, I incorrectly [assumed](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/MessageReactionList.20absent.20message.20prop/near/809163) that the [proposed](https://github.com/zulip/zulip-mobile/pull/3822) [fix](https://github.com/zulip/zulip-mobile/pull/3822/commits/0f14ddb3ef52d4d78b564e03ef56fe5d7f0de699) for https://github.com/zulip/zulip-mobile/issues/3802 would also fix this issue.

[2020-01-18 09:04] chrisbobbe commented on #3387
Hmm, once https://github.com/zulip/zulip-mobile/issues/3802 is fixed (which will probably be soon), will this still be a shortcoming in handling the loading state, or will it maybe be time to close this rather old issue and its PR?

[2020-01-18 12:12] agrawal-d commented on #3812
Will work on this once https://github.com/zulip/zulip-mobile/pull/3807 is merged, as it will build on the work done in it.

[2020-01-18 12:29] agrawal-d commented on #3816
**Confirmed - App crashes due to timezone `PRC`**
I changed my timezone to `PRC`. The app crashed on viewing my profile. The timezone `PRC` is not present in `timezone_vx.x.x.js`

I believe we use a third party library to manage timezones?

[2020-01-18 12:48] agrawal-d commented on #3815
Fixed in https://github.com/zulip/zulip-mobile/pull/3823

[2020-01-18 12:57] agrawal-d commented on #3816
The source code of [timezone](https://github.com/bigeasy/timezone) package also does not contain the timezone `PRC`, so updating it wont fix this.

Also, `PRC` **is** a valid tz timezone  (see [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) ) , so our third party library is outdated/incompatible.

[2020-01-18 15:49] agrawal-d commented on #3806
I have made a PR that implements this feature : https://github.com/zulip/zulip-mobile/pull/3824

[2020-01-20 16:39] hashirsarwar commented on #3604
@zulipbot claim

[2020-01-20 17:57] agrawal-d commented on #3497
Fixed in PR#https://github.com/zulip/zulip-mobile/pull/3825

[2020-01-20 20:43] ray-kraesig commented on #3815
This bug is entirely subsumed by #2757 – "Edit Message" remaining in the app bar is actually the less interesting half of the problem.

Closing as duplicate. (This does not imply rejection of the submitted PR.)

[2020-01-20 20:43] #3815 closed

[2020-01-20 21:12] ray-kraesig commented on #3804
Possibly also relevant: the existing "upgrade to v3" issue, #3649.

[2020-01-20 21:24] ray-kraesig commented on #3413
As this is just a symptom of #2757, closing in favor thereof.

[2020-01-20 21:24] #3413 closed

[2020-01-20 21:25] ray-kraesig commented on #2757
As noted in #3413, you can't even exit the "Edit message" state by going to another narrow where it's absent. (It *is* possible to do so by killing the app.)

[2020-01-20 22:08] ray-kraesig commented on #2973
In particular, rather citing than a random blog article, I should point out that this is inconsistent with Apple's [Human Interface Guidelines](https://developer.apple.com/design/human-interface-guidelines/ios/app-architecture/requesting-permission/).

I've amended the issue to only describe the problem it was trying to fix, rather than specifying a solution. If the problem no longer persists (whi

[2020-01-21 00:48] ray-kraesig commented on #3816
Note that even if the Zulip server's time zone library can be updated, we still need to work with older versions of servers. A server-side fix won't be enough to close this issue.

[2020-01-21 01:27] ray-kraesig commented on #3806
For future reference: there's no need to post this sort of thing in the GitHub issue, so long as you've used the magic words in the PR itself (which you have). GitHub's automatic backlink suffices.

[2020-01-21 02:13] ray-kraesig commented on #3387
I don't believe a fix for #3802 would help with this; the user would still be looking at old state for some time after clicking the notification.

[2020-01-21 19:05] chrisbobbe commented on #3387
Mmm, right! The proposed fix for #3802 eliminates the "No messages" message during the period when we are re-registering, by showing the stale data, but it still doesn't indicate that the messages are stale. I like the idea of a banner for this, as mentioned here, since it's still helpful to see even stale messages when possible.

[2020-01-21 20:57] gnprice commented on #2684
I just tested uploading a moderately-big photo (2.5MB), and then a video (24.5MB), for investigating #3624. The video took a little time (at least 5s), which gave me a chance to get a good look at what the message list looks like while we're doing the upload.

There was no spinner during that time. It wasn't a scrolling issue, either -- I had time to try several times to scroll down (in case an ou

[2020-01-21 21:00] gnprice commented on #3624
Hi! Thanks for the reports.

I just tested, and this works for me. (On Android 10 with v26.20.143, the latest.) @maltokyo @astyltsvig can you say in more detail what steps you try, and what result you see?

One thing that may confound this is #2684. Videos tend to be much bigger than photos, so they can naturally take some time to upload (often like 10 seconds, potentially much longer), depending

[2020-01-21 21:40] gnprice opened #3829 "Time out sending a message, and indicate failure"
Currently, when we try to send a message and can't, we keep the message around (as an `Outbox` message) and keep retrying indefinitely until it succeeds.

(Specifically, we do so in a loop with backoff, then at each subsequent message send and at each "initial fetch", so in particular at each launch of the app. See `sendOutbox` and its call sites.)

This isn't great, because most messages are even

[2020-01-21 21:46] gnprice commented on #3271
This is a multi-issue issue, which is better tracked as separate issues. (Something like this could be useful if describing work on a specific system to address the issues, but this one never functioned as that.)

The lack of a preview or other feedback is #2684. For the retry, I'm dubious that just always retrying is the right thing anyway. #3829 describes the foundational thing I think we want h

[2020-01-21 21:46] #3271 closed

[2020-01-21 21:47] gnprice commented on #3829
See also #3731 .

[2020-01-21 22:23] ray-kraesig commented on #3829
Also "Edit message", I think.

That would probably be better than nothing, but ideally we should have a distinction (visible and otherwise) between the two. Notably, if the user sends a message and then mutes the relevant topic, they'll probably still want to be informed that the message couldn't be sent.

[2020-01-22 02:51] chrisbobbe opened #3831 "Possible issue management tweaks (zulipbot, "feature parity" label?)"
@ray-kraesig mentioned that there were a few things blocking the ability to use zulipbot in this repo, as it's being used in zulip/zulip. Maybe this issue can be a place to list the things blocking it.

Also, while it may or may not affect our prioritization rules, I wonder about making issues easier to understand at a glance by adding a "feature parity" label (or some other, more recognizable wor

[2020-01-22 19:12] #3614 closed

[2020-01-22 19:18] chrisbobbe commented on #3829
This may warrant a separate issue, but I wonder if the progressiveTimeout, which is used here, a) might be improved with the option to reject after a certain number of tries, and b) is doing what it's currently intended to do.

a) is more related to this issue. We could handle message sending failures locally, by choosing not to call and await progressiveTimeout. Or, we could build into progressiv

[2020-01-22 19:30] gnprice commented on #3716
I think we probably should be getting that data from the server. That's #2956.

Looking at this issue some more, though, I think that's not the main cause of this problem -- or anyway there's a simpler thing we should also fix that will fix this problem. The key observation is: these same reactions work just fine in the message list! So, what are we doing differently there?

The answer appears to

[2020-01-22 20:23] chrisbobbe commented on #2937
I've just tried removing `console.disableYellowBox = true; // eslint-disable-line` to see these errors, and from some brief interaction with the apps on the iOS and Android simulators, these particular errors don't seem to be happening anymore! 🙂

The `setTimeout` with long durations issue may have been in our code, but I'm familiar with this popping up from a [dependency](https://github.com/fireb

[2020-01-22 21:26] gnprice commented on #3387
Hmm, yeah, this may be the best way to do it. Certainly there's a long tail of screens that show data from the server, and that should have a loading indicator when our data from the server is stale; and it'd be best not to try to handle them one by one.

There are a few screens that shouldn't have this banner, because they aren't about any one server.
* The various onboarding and login screens mi

[2020-01-22 21:46] chrisbobbe commented on #3831
Maybe an "In progress" label too, which I've seen on zulip/zulip? Maybe this comes with Zulipbot automatically, I'm not sure.

[2020-01-22 22:49] chrisbobbe commented on #3622
Hmm. I just ran into this error today while working on https://github.com/zulip/zulip-mobile/pull/3832, except I wasn't typing in the search box, I was typing in the compose box.

It only happened once, and I haven't been able to reproduce it again. It seemed as though (maybe?) clicking the back button shortly after I finished smashing the keyboard might have triggered it, but again it's only happ

[2020-01-22 23:03] chrisbobbe commented on #3829
Hang on. Even if request A succeeds after several increasing progressiveTimeouts, request B's first timeout will not be zero, right — it'll be longer than A's last one!

[2020-01-22 23:46] chrisbobbe commented on #1336
Thanks to @ishammahajan for all your hard work on this!

It appears that this has gone through a few iterations, with https://github.com/zulip/zulip-mobile/pull/3435 becoming https://github.com/zulip/zulip-mobile/pull/3496, which got merged.

The PR that's still open (https://github.com/zulip/zulip-mobile/pull/3496), which would close this issue, looks like it's mostly done! 🙂It would make the dat

[2020-01-23 01:05] chrisbobbe commented on #3593
From our chats in person, we concluded that it would be good to use FontAwesome to be consistent with the web app, but an easy way to do this is blocked by https://github.com/zulip/zulip-mobile/issues/3548.

Because it addresses such a similar UI area, I have to say this is also blocked by https://github.com/zulip/zulip-mobile/pull/3488#issuecomment-577458121 — but that may be an orphaned PR that

[2020-01-23 01:37] chrisbobbe commented on #3618
@luyenlvVNC Are you still seeing this connectivity issue, and if so, are you sure it's an Android mobile issue and not a server issue?

[2020-01-23 01:50] chrisbobbe commented on #3307
Thanks @AB261 for reporting this, and I'm sorry it took so long to respond! As you said at https://github.com/zulip/zulip-mobile/pull/3371#issuecomment-576723345, you're too busy to keep working on this issue right now, which is very understandable because you went so long without receiving feedback.

So, I've closed that PR, and this issue is now open to someone who would like to get more familia

[2020-01-23 01:54] chrisbobbe commented on #3831
So far I've created the labels "a-documentation" and "a-navigation" (and maybe another? I can't remember now...); I couldn't think of any reason not to.

[2020-01-23 01:58] chrisbobbe commented on #3576
Hmm, just to point out that the checklist from #3075 that's quoted here has all of those boxes ticked.

[2020-01-23 02:02] chrisbobbe commented on #3541
Closing as a duplicate of https://github.com/zulip/zulip-mobile/issues/2939.

[2020-01-23 02:02] #3541 closed

[2020-01-23 02:20] chrisbobbe commented on #3624
Hmm; I wasn't aware that attaching video from the camera roll is supported. Maybe it's Android-only, @gnprice ? It sounds like https://github.com/zulip/zulip-mobile/issues/2939 should be updated.

[2020-01-23 07:50] chrisbobbe opened #3833 "Emoji reaction search only checks beginning of name"
Along with https://github.com/zulip/zulip-mobile/issues/2927, this would really improve the ease of reacting with an emoji.

I just noticed that if I enter the term “smile” in the search box for choosing a message reaction emoji, the results are “smile,” “smile_cat,” “smiley,” “smiley_cat,” and “smiley_hacker.” But I’m actually looking for “slight_smile.” To get that to show up in the results, I h

[2020-01-23 15:32] Maskedman99 commented on #3820
fixed issue by changing

``state = { topic: this.props.lastMessageTopic, }``    to ``state = { topic: this.props.lastMessageTopic || 'topic', }`` in class ComposeBox

[2020-01-23 18:07] chrisbobbe commented on #3833
I expect this will be a small, easy change to the predicate passed in the call to `names.filter` in the exported getFilteredEmojiNames function in src/emoji/data.js. Marking as a good first issue. 🙂

Hmm! I just noticed that GitHub has the same limitation. Is there a reason we would want to exclude results where the search term matches something other than the beginning of the name?

[2020-01-23 18:44] sumukhah commented on #3833
Working on the issue

[2020-01-23 18:44] chrisbobbe commented on #3833
Thanks @sumukhah!

[2020-01-23 19:29] chrisbobbe commented on #3833
Hmm, as @gnprice points out, there's a nice feature in the web app where if you start typing an emoji's name in the compose box (not the reaction search box!), it brings up a typeahead to search the emoji:

![image](https://user-images.githubusercontent.com/22248748/73016289-6c711c00-3dd2-11ea-87f6-f18535d31120.png)

The logic for that search is more sophisticated than I originally had in mind for

[2020-01-23 19:29] gnprice opened #3835 "No notification, even with a missed-message email"
We've had a couple of reports recently of not getting notifications, where the user *did* get a missed-message email.

I *think* the detail that there was a missed-message email rules out #3699 / #3659 as the cause -- i.e. that it means we weren't seeing the user as present and suppressing a notification for that reason. Also both of these reports came after zulip/zulip#13512, which means the user

[2020-01-23 19:33] chrisbobbe commented on #3833
(If you're interested, the code for this in the web app is at https://github.com/zulip/zulip/blob/master/static/third/bootstrap-typeahead/typeahead.js#L193, but a simple copy and paste won't be the best approach; you'll want to re-implement this considering the context and code style of the mobile app.)

[2020-01-23 19:52] chrisbobbe commented on #3498
No, it seems like this is still happening! https://sentry.io/organizations/zulip/events/?project=191284&query=nativeFlushQueueImmediate&statsPeriod=90d

[2020-01-23 20:05] Amolith commented on #3835
I'm using Android 10 with ArrowOS and a broken microG installation so Google Services and thus GCM are unavailable. The Zulip app is from F-Droid and version 26.20.143. For Stream messages, I have mobile notifications enabled as well as @all and @everyone. For private messages, @-mentions, and alert words, everything is enabled.

[2020-01-23 20:11] Amolith commented on #3835
@gnprice also sent me a PM at 2:33. I got an email notification for it shortly after but not one on my phone.

[2020-01-23 20:14] chrisbobbe commented on #3745
I can make a PR with the following —

[code]

— and then the other things that depend on the server version (Sentry logging, etc.) can follow, right?

How's this for a workflow: I'll assign this issue to me, submit the PR without a `Fixes:` mark, and un-assign this issue so the rest of the stuff can be done. (I'm happy to do it but it sounds like we have more discussion to do about Sentry, etc.)

[2020-01-23 20:21] timabbott commented on #3833
Hmm, that's Bootstrap typeahead; the logic for prefix-based sorting is actually in our own JS code, in e.g. `static/js/*typeahead*.js`.  We recently did a big refactoring of that JS library code to improve its performance in situations with 10K+ users in an organization, and we're now pretty happy with the implementation's performance at scale properties.

It's possible that we could refactor some

[2020-01-23 21:46] gnprice commented on #3833
Interesting, thanks for that tip!

I definitely think typeahead/autocomplete is an area where it'll very likely be fruitful to share code between web and mobile. As you say, there's a lot of pure logic in here, and it encodes a lot of nuanced product choices that would be a lot of work to reimplement one by one in the mobile app. There's also some annoyances people regularly run into on mobile whi

[2020-01-23 22:15] chrisbobbe commented on #3745
It seems like the server_settings data (whether just the server version or the whole object) would make sense if made part of both the REALM_ADD and REALM_INIT actions; does this seem right conceptually? The alternative is most likely to create a new action.

[2020-01-23 22:19] gnprice commented on #3833
Filed zulip/zulip#13728 for the idea of sharing typeahead code between web and mobile.

[2020-01-23 22:30] #3820 closed

[2020-01-23 22:31] gnprice commented on #3743
Reopened by the revert in #3837.

[2020-01-23 22:31] ray-kraesig commented on #3593
Erratum: the actual blocker for the easy way to use FontAwesome is PR #3744, which augments the `build-webview` script to be (relatively) easily extensible to include new webview asset groups. (In this case, an internal relative symlink to FontAwesome.)

[2020-01-23 22:32] gnprice commented on #3743
The original fix #3748 caused #3820. See https://github.com/zulip/zulip-mobile/pull/3821#issuecomment-577829292 for a bit more discussion on how the logic might work here.

[2020-01-23 23:15] gnprice commented on #1270
Just a quick note that we [heard from](https://chat.zulip.org/#narrow/stream/2-general/topic/Testing.20mobile.20client/near/811328) a user who mentioned they were using the app "from F-Droid", and they explained that they were getting it from the IzzyOnDroid app repository:
https://apt.izzysoft.de/fdroid/index/apk/com.zulipmobile
https://apt.izzysoft.de/fdroid/index/info
But AFAICT the work of get

[2020-01-23 23:21] gnprice commented on #3835
Thanks @Amolith for those follow-up details!

I replied in the chat thread linked above, but to circle back here: it's known that notifications depend on FCM (or APNs, on iOS) and so won't work on an Android phone that doesn't have Google Play Services. It'd be substantial work to build an alternative way of delivering notifications, so that won't change anytime soon, but it'd be helpful for us to

[2020-01-23 23:21] #3835 closed

[2020-01-23 23:31] gnprice opened #3838 "Notifications don't work on Android without Google services"
This will take considerable work to change, and the number of people it affects is small, so it's not something we'll fix soon. But here's an issue to put the fact on record, in the hopes that it saves people some debugging in the future.

For the mobile app to learn when it should show a notification, we rely on FCM (Firebase Cloud Messaging, formerly known as GCM / Google Cloud Messaging) on And

[2020-01-23 23:50] Amolith commented on #3838
I understand that it won't happen for a while but I just want to put it out there that I would like to see FCM-less mobile notifications!

[2020-01-23 23:56] gnprice commented on #3576
Ah, my notation there was maybe a bit too terse, but here's how these look there:

The "filed as #3576" and "-> #3576" are meant to indicate that the reason those boxes are checked is that they were copied here (issue #3576), and this is the new place we're tracking the work they represent. So I think this testing is still open.

(It's not a super high priority; it's been well over a year now sinc

[2020-01-23 23:58] gnprice commented on #3831
Sounds good! There are probably some more area labels that'd be good to add, too.

The companion task that'd be quite helpful to do whenever making a new label is just to go and search through the existing issues and PRs -- the open ones, anyway -- and add it where appropriate. That helps bootstrap the label's usefulness, and also helps make it discoverable.

[2020-01-24 00:07] gnprice commented on #3831
Hmm yeah -- perhaps "webapp parity", or just "webapp feature"? I agree this is often helpful context to know about an issue; it might be useful to have as a label.

That does come with Zulipbot. But also I'm not sure it really adds anything beyond the "assigned" field -- I think basically that label should be present on an issue exactly when there's someone assigned, and the latter already shows u

[2020-01-24 00:15] gnprice commented on #3831
On the original question:

here's a previous discussion in chat: https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/zulipbot/near/642958

Summary [here](https://github.com/zulip/zulipbot/issues/161#issuecomment-422577094); that thread has a bit more discussion too.

I think the basic blocker for enabling it on this repo is the ability to be selective about which features are enabled. Some

[2020-01-24 00:20] chrisbobbe commented on #3745
OK, so from our chat earlier:

Yes, we don't need all that stuff. Just the version number is fine.

Right, those seem to make sense.

[2020-01-24 00:31] gnprice commented on #3622
Yeah, this isn't a name we refer to directly in our code, but it appears in the implementation of `WebView`, and specifically in the implementation of the `postMessage` method, which we do use.

Here's the source code for that error message, in fact:
[code]

Some related discussion in #3572. I guess in particular my comment above:

would mean that fixing #3572 would also fix this issue.

[2020-01-24 00:42] ray-kraesig commented on #3745
Maybe not all of it, but we do want some of them in support of other issues. `realm_icon` is needed for #392, and `realm_uri` is needed to properly fix... er, the issue that #3671 is intended for.

[2020-01-24 00:51] chrisbobbe commented on #3831
Ah, since https://github.com/zulip/zulipbot/issues/161#issuecomment-422577094 is open, I'll close this as a duplicate. Next on my list is to retroactively apply those new area labels I've created.

[2020-01-24 00:51] #3831 closed

[2020-01-24 01:34] gnprice commented on #3816
Agreed. In addition, we need to work with *newer* server versions. New timezones come into existence regularly, so new server versions may have new timezones we don't know about. In general, unknown timezones can happen and we need to behave in a reasonable way.

(BTW it's not quite accurate that `PRC` is a deprecated timezone; "`PRC`" was another name for the timezone `Asia/Shanghai`, which is ve

[2020-01-24 01:39] gnprice commented on #3745
True! I think we don't want to keep the bulk of it, though (which stops being relevant after we log in.) So I think it'll make most sense to pick out the bits we want selectively, as we add code that wants to use them.

[2020-01-24 01:40] chrisbobbe commented on #3745
This risks becoming a tangent, but we do at least pass the entire object in `dispatch(navigateToAuth(serverSettings));` (RealmScreen.js)

[2020-01-24 01:51] chrisbobbe commented on #3745
(As noted in-person, this is a one-off use of it and not really a concern.)

[2020-01-24 02:08] gnprice commented on #3829
The intention is that it backs off up to a maximum interval (10s), then stays there as long as we're in a continuous retry loop; and then in the future, after that retry loop is over and things might be all working again, starts the backoff sequence over from zero.

The 60s thing isn't super principled, but I think it can basically be seen as an attempt to implement "that retry loop finished, one

[2020-01-24 02:09] chrisbobbe commented on #3831
OK! I'll add this to my list of labels to retroactively apply.

Right, no, that makes sense; unassigning would be a better way to mark something as stale.

[2020-01-24 18:42] ray-kraesig commented on #3498
We're still getting events, but [the event metadata](https://sentry.io/organizations/zulip/eventsv2/results/?field=title&field=release&field=timestamp&id=1600&name=Issue+%233498%20%28modified%29&project=191284&query=nativeFlushQueueImmediate&sort=-timestamp&statsPeriod=90d&widths=431&widths=194&widths=-1) shows it's *only* happening on iOS version 23.2.111. The issue metadata is perhaps less relia

[2020-01-24 18:42] #3498 closed

[2020-01-24 19:14] ray-kraesig commented on #2937
N.B.: although suppressed from display in the emulator, yellow-box errors *are* still reported in the React debugger.

[2020-01-24 19:28] chrisbobbe commented on #3829
OK, thanks for the clarification and suggestion! I'm working on an implementation of this; I'll post in a new issue soon. I think I understand the 60s much better now. I believe, with the suggested implementation, "a new retry loop" in

will be determined much more easily and accurately (i.e., when a new backoff machine has been made), so the 60s heuristic won't actually be needed, and it'll all b

[2020-01-24 19:40] chrisbobbe opened #3840 "Clarify / improve progressiveTimeout"
Here's an initial proposal for a new way of handing our progressiveTimeout sleeps, based on a discussion at https://github.com/zulip/zulip-mobile/issues/3829#issuecomment-577962532.

The most important change is that this doesn't use a global state for the sleep duration. We don't usually want the sleeping durations for different, potentially unrelated network requests to interfere with each other

[2020-01-24 19:41] chrisbobbe commented on #3840
[code]

and then callers would look like

[code]

[2020-01-24 19:44] chrisbobbe commented on #3840
@gnprice Would you prefer that I put this in a PR, as it's kind of a large code block here? It's rough, though, so I'd mark it as WIP.

[2020-01-24 19:50] chrisbobbe commented on #3840
I supposed it was clearer to make the timeout duration a function of `calls`, rather than the dynamic approach of calculating one duration using the previous duration (as was done previously), but there may be other considerations I'm not thinking of. Also, I believe I've correctly renamed the constant 2 from "exponent" to "base."

[2020-01-24 20:07] chrisbobbe commented on #3840
Hmm, looking at that last code block (what callers look like), it wouldn't handle well the proposed case where `backoffMachine.wait();` returns a promise that rejects. The most obvious solution is to put `await backoffMachine.wait();` in a `try` block of its own, with a `catch` that breaks the loop if it rejects. But it's already in a `catch` block, so we might have a readability concern there.

[2020-01-24 21:29] chrisbobbe commented on #3840
(Now making changes based on feedback in person — in particular, not making it configurable; instead, the "give up" logic will be handled at call sites.)

[2020-01-24 22:00] chrisbobbe commented on #924
Closing as stale.

[2020-01-24 22:00] #924 closed

[2020-01-24 22:14] gnprice commented on #3124
We heard a fresh report of this today, from a user who'd just started using Zulip with their team. They posted a screenshot showing an error message of exactly the same form as in the description above:
![image](https://user-images.githubusercontent.com/28173/73107854-bbdb4900-3eb3-11ea-8053-69ffe0533a6f.png)

So, a confirmation that this issue is still live and a reminder that it affects people u

[2020-01-24 22:18] chrisbobbe commented on #3178
@ray-kraesig, since it may be fresh in your mind following the Windows build failures a little while ago, do you know if we still need to document Windows development without WSL? My only context for this is the quote above and the fact that this issue is still open; I haven't investigated further. https://github.com/zulip/zulip-mobile/blob/bec6b7ad7e752a8a5b946a8a27bb020ef3d87828/docs/howto/windo

[2020-01-24 22:41] ray-kraesig commented on #3831
I'm aware of one useful search which is possible with an `in progress` label, but not with the assignee field: searching for stale-but-assigned issues. GitHub provides the special search term `no:assignee` as a search parameter for unassigned issues, but it cannot be negated.

[2020-01-25 00:42] gnprice commented on #3768
Ah, well spotted, thanks! That simplifies the workaround further.

Yeah, that sounds unsound if I'm understanding you right: `SP` is supposed to describe props that `mapStateToProps` provides, and which callers won't pass in. So in this issue's running example:
[code]

this would mean allowing references to `props.realm` inside that function, and expecting it to be of type `Realm`.

---

BTW I kno

[2020-01-25 02:26] gnprice commented on #3458
I'm encouraged to see this update about Flow development -- though I'm nearly a year late in spotting it, so it actually predates my filing this issue:
https://medium.com/flow-type/what-the-flow-team-has-been-up-to-54239c62004f

This is exactly what I'd inferred from what's publicly visible. It's encouraging to see them acknowledge it frankly -- and the details in the post sound credible that they

[2020-01-25 02:31] ray-kraesig opened #3843 "Animate appearance of topic entry field when composing a message"
At present the topic-entry field simply pops into existence. It would be visually nicer for it to slide out in an animated fashion.

This would incidentally allow us to remove, or at least significantly simplify, the current focus-state debounce hack for showing the topic field. (See issue #2397 and PR #3832 for relevant discussion and previous issues.)

[2020-01-27 10:57] ashwaniYDV commented on #3833
I would like to work upon this issue.

[2020-01-27 18:38] ray-kraesig commented on #3178
Well, we still *do*. Whether or not we *need* to is a subtly different kettle of fish.

I lean towards "yes": setting up and using WSL seems to still be a complicated enough affair that, if we're going to drop ordinary Windows support for the sake of simpler instructions, we'd probably be better off moving to a Docker-image-for-development strategy like the server. (I haven't actually investigated

[2020-01-27 21:04] chrisbobbe commented on #3178
Ah, I see now. There may still be a tweak that could help the docs: I saw the filename of https://github.com/zulip/zulip-mobile/blob/bec6b7ad7e752a8a5b946a8a27bb020ef3d87828/docs/howto/windows.md and assumed this was the entire doc for developing using Windows. And since that doc doesn't have a heading as large as its first one, "Developing on Windows using WSL," that describes working _without_ W

[2020-01-27 23:16] gnprice commented on #3782
One thing v0.62 is projected to get us is the latest version of the React Developer Tools. See #3801, our docs [here](https://github.com/zulip/zulip-mobile/blob/master/docs/howto/debugging.md#react-devtools), and that version's [release notes](https://reactjs.org/blog/2019/08/15/new-react-devtools.html).

[2020-01-27 23:32] ray-kraesig commented on #3782
RN 0.62 is expected to come with a version of Flow which will, at long last, make exact object types with indexer properties usable. (See notes in [the current jsonable.js](https://github.com/zulip/zulip-mobile/blob/27271d94626fa936a82aa20d5da60ca3b1202d99/src/utils/jsonable.js) for more information.)

[2020-01-27 23:49] gnprice commented on #3831
Huh! Wacky. Indeed, here's what [the docs say](https://help.github.com/en/github/searching-for-information-on-github/searching-issues-and-pull-requests#search-by-assignee):

where the last bit is a link to the spot that documents `no:assignee`. Seems like a silly limitation on GitHub's side. Good to know about.

That does sound like it'd make an `in progress` label potentially useful as part of an

[2020-01-28 01:34] gnprice commented on #3654
Thanks @timabbott for the investigation!

This sounds like a good client-side fix. I think what this comes out to is that whenever we use `LAST_MESSAGE_ANCHOR` as the anchor, we should ignore the `found_newest` the server returns and instead use `true` there.

(And when further we're passing `use_first_unread_anchor: false`? That should always be the case when using `LAST_MESSAGE_ANCHOR` anyway.)

[2020-01-28 01:43] ray-kraesig commented on #3831
`is:issue is:open label:"good first issue" -label:"zz-in progress"`

[2020-01-28 01:59] gnprice commented on #3776
The tests will include the build, so it's expected that if the build fails, the tests will fail.

(If you haven't touched anything in `android/`, then by default a plain `tools/test` skips the Gradle build, so it might pass. But `tools/test --full` will run the build and will fail.)

What does the failure look like when you run `./tools/test`? If there's something else failing in addition to the G

[2020-01-28 02:20] ray-kraesig commented on #3749
From a recent Sentry event:

Field | Data
-- | --
all_ids | `{length: 100, start: [315904, 315908, 315909, 315914, 315969, 316020, 316157, 316158, 316159, 316207], end: [323264, 323266, 323271, 323274, 323275, 323279, 323281, 323288, 323291, 323294]}`
unknown_ids | `[315904, 315908, 315909, 315914, 315969, 316020, 316157, 316158, 316159, 316207, ...]`

Note that the initial values of `unknown_ids`

[2020-01-28 02:27] timabbott commented on #3654
Yeah, `anchor: latest` seems like a reasonable way to declare that interface; it seems a lot cleaner than adding a new parameter or something.

[2020-01-28 02:32] agrawal-d commented on #3776
I do not use Windows; a new developer had asked me for help with running the tests, and I suggested them to use `git bash` instead of `cmd`, and the tests worked.

The error message they got was:
`Program 'test' failed to run:, No application is associated with the specified file for the operation`

[2020-01-28 18:48] chrisbobbe commented on #2914
![Jan-28-2020 10-41-27](https://user-images.githubusercontent.com/22248748/73294614-0b26bf80-41bb-11ea-8cac-049b7fbc4139.gif)

Hmm! It's this, right? I've started to notice this disruption; in a dark room, I like to use night mode so I don't hurt my eyes, and this flicker is quite bright.

I'll open a PR for this soon; it seems to be that the WebView for the message list just shows white by defaul

[2020-01-28 21:39] gnprice commented on #3776
Hmm. OK, I think the best way to proceed on that would be for the person who's seeing the issue to say hello in `#mobile` on chat.zulip.org, and we can debug with them there.

That'll help us effectively figure out specifically what's happening. Then we can open new issues here as needed for anything else that turns out to need fixing.

[2020-01-28 21:46] gnprice commented on #3749
Hmm, so `narrows[ALL_PRIVATE_NARROW_STR]` should be an array of message IDs. In fact that array is the one that's sent, truncated, as `all_ids`.

Then it appears that those IDs are either absent as keys in `messages`, or are keys with the value `undefined`. (I'd guess the former; also the latter would be a type error.)

[2020-01-28 21:49] gnprice commented on #3831
That will be a more compelling use case in a world where the results of just `is:issue is:open label:"good first issue"` don't fit on one page :wink: . (Right now [it gets](https://github.com/zulip/zulip-mobile/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22) three results.) Remember that when things are assigned, that shows up in its own column in the results, so it's quick to visual

[2020-01-29 00:22] gnprice commented on #3026
The original description is a bit loosely worded, which I found confusing when re-reading this today. Here's some clarification, based on rereading the (quite detailed) linked chat thread, and also the code.

We're not in fact having a new React `render()` call that affects the WebView, or re-creating the React `WebView` component, or anything like that. At least, AFAICT there's no sign of that in

[2020-01-29 01:55] gnprice commented on #3548
(Belatedly updating the assignment metadata.)

[2020-01-29 03:02] gnprice commented on #1946
Some quick notes on what this means, partly to refresh myself:
* The only thing we use the old context API for is for a `styles` object. You can find uses with `git grep contextTypes`.
  * There's one exception: `TranslationProvider` uses the old API. A block comment there explains why that one is OK.
  * There are 14 of these left.
* See commit 51dd1b3b2, specifically its changes to `LineSeparato

[2020-01-29 20:10] jcam commented on #3790
Out of curiosity, not knowing the project well, is there any sort of time estimate on this fix?
My group is evaluating chat tools, and this combined with the reload-all-messages-every-time bug caused high enough cell data usage for the whole project to currently be a non-starter (despite how much we like the threading)

[2020-01-29 20:23] timabbott commented on #3654
The server-side change, zulip/zulip/#13747 is merged and deployed on chat.zulip.org.  We went with `oldest` / `newest` / `first_unread` for the supported string parameter values for `anchor`.

Thanks for all the design work on this; that "giant message ID" business has since we first designed the `GET /messages` API the main thing I didn't like about it, and I'm very happy with where we've landed

[2020-01-29 20:30] chrisbobbe commented on #3654
Great! 🙂

We'll store the server version number on login and update it from a /server_settings request done along with every /register request, following https://github.com/zulip/zulip-mobile/pull/3839 (or something to that effect). 🙂

[2020-01-29 21:34] mikeslywka commented on #3498
I had a report of this happening again this morning for a user running iOS 13.3  which I believe is the current iOS version. I'm not sure where you are getting the 23.2.111 version from.
I will see if updating the version of zulip that I am running helps but I wanted to let you know that people are still getting this error and I don't think this issue should be closed.
Thanks

[2020-01-29 23:13] chrisbobbe commented on #3498
@mikeslywka, thanks for this report; we certainly don't want to close an issue prematurely!

I see how this could be confusing — it looks like Ray meant that the logs show that it's only happening on iOS, as opposed to Android (irrespective of the iOS version), and only for users on the [23.2.111 release of the Zulip mobile app](https://github.com/zulip/zulip-mobile/releases/tag/23.2.111).

If you

[2020-01-30 00:35] timabbott commented on #3790
We don't have a timeline on the thumbnailing side.  The caching issue that causes files to get redownloaded is something I expect we'll be investing in fixing relatively soon, however.

[2020-01-30 01:01] #3760 closed

[2020-01-30 01:10] #3551 closed

[2020-01-30 01:29] chrisbobbe commented on #3026
Confirmed with logging. There are two initial React `render()`s (I'm not sure why) but not with updates to messages.

[2020-01-30 01:31] chrisbobbe commented on #3790
Indeed; @gnprice has unblocked https://github.com/zulip/zulip-mobile/issues/3026 (opened Oct. 2018) by clarifying the author's use of the term "re-render." With that in mind, and from Tim's comment, I'm marking #3026 as P1.

[2020-01-30 02:18] chrisbobbe commented on #3833
Thanks @sumukhah for your work on this! As Greg said at https://github.com/zulip/zulip-mobile/pull/3836#issuecomment-578980883, it looks like we're making much faster progress on sharing code between the web app and the mobile app than we originally thought, so, unless something happens that delays that work, I'm afraid I won't be reviewing your pull request, and I'm sorry about that.

You may lik

[2020-01-30 11:39] showell commented on #3710
`remove_diacritics` is now in `static/shared/js/typeahead.js`.

[2020-01-30 21:11] #3768 closed

[2020-01-30 21:28] #3497 closed

[2020-01-30 23:20] gnprice commented on #3548
Good news on the AndroidX upgrade! I sat down yesterday afternoon to try it, and it looks like it will be (a) a small change that (b) does not depend on the RN upgrade, and that in fact we could have done at any time in the last year or so.

I have a draft commit to do this; I think it's most likely complete as is, but there are a few more things I want to test.

Detailed discussion in this (long!

[2020-01-31 00:14] gnprice commented on #3743
Hmm. When the topic input is completely *empty*, we allow sending the message -- the server just turns the topic into "(no topic)". That mirrors the webapp.

Seems like when the topic input consists of whitespace, we should just treat that as an empty topic: you can send just fine, but we'll strip the whitespace, and the server will turn the topic into "(no topic)". More generally, we should strip

[2020-01-31 02:00] gnprice commented on #3551
#3807 (thanks @agrawal-d !) resolved the part of this that's about the user's profile screen.

The part about composing PMs is still open. That's been split out as #3812 .

[2020-01-31 02:01] gnprice commented on #3812
From #3551, here's a screenshot of what this looks like on the webapp:

So we'll want something similar to that.

[2020-01-31 02:25] agrawal-d commented on #3812
@gnprice I think that might look good in the context of the webapp, where the user can add multiple recipients from a list, and selecting a deactivated one shows such an error, but in the mobile app PM screen, where the user actually taps on a button that says 'View private messages', wouldn't it be better to show 'You can't send a message as the user has been deactivated' because saysing the reci

[2020-01-31 03:00] chrisbobbe opened #3851 "MessageList: Avoid entirely replacing html body if possible."
Forking from https://github.com/zulip/zulip-mobile/issues/3026, which is otherwise resolved.

Currently, the entire html body in the WebView is replaced on any change to the message list (a new message is received, a new emoji reaction is made, a message is edited, etc.). While the largest possible symptom of this, the fresh fetching of images every time this happens, has been substantially remedi

[2020-01-31 03:00] chrisbobbe commented on #3026
It appears that an improvement was made to this situation in fade1d3e6 (and [released](https://github.com/zulip/zulip-mobile/releases/tag/25.8.122) in July, 2019), when we upgraded from react-native-webview 2.0.0 to ^5.0.0, since [4.0.0](https://github.com/react-native-community/react-native-webview/releases/tag/v4.0.0) enabled caching in the WebView and turned it on by default. I did some manual

[2020-01-31 15:40] stuntsman commented on #3101
I'd like to bring this feature to your attention.

IOS uses the default tri-tone sound for every single app that doesn't have a custom sound (shame on Apple), which makes it impossible to distinguish the notifications without looking at the phone.

I'd suggest including 5-10 sound effects in the app to choose from. I'd be happy to help even with a research or by creating license free notification

[2020-01-31 20:26] timabbott commented on #3026
The caching issue with the S3 backend is this: https://github.com/zulip/zulip/issues/13088

[2020-01-31 20:36] chrisbobbe commented on #3803
Never mind `#2`; if we're showing a loading indicator, it needs to correspond to `state.fetching[SOME_NARROW]`. I think #3 is best, to reduce unprompted navigations. If the message doesn't exist after the message fetch, we can still navigate back.

[2020-01-31 22:26] gnprice commented on #3654
I think in fact the fix is simpler even than that: we should just start passing that special number, 10000000000000000 (that's 16 zeroes) when we want the latest, instead of the other giant number we use today.

Optionally in the future we can add a conditional to do something else for newer server versions. But the fix for this bug should not block on that.

[2020-01-31 22:31] #3449 closed

[2020-01-31 22:41] #3813 closed

[2020-01-31 22:51] gnprice opened #3853 "Fix caching of uploaded images when server is using S3 backend"
This issue is the counterpart in the mobile app to zulip/zulip#13088. As @timabbott writes there:

In our context, the most common way this arises is when we replace the content of the `body` inside the WebView for the message list. On a server (like chat.zulip.org) that uses the local-file backend for uploads, the browser will retrieve the images from cache, but the S3 redirect apparently defeats

[2020-01-31 22:52] gnprice commented on #3026
Sounds like a good plan! I've just filed #3853 as our counterpart of zulip/zulip#13088, and I think this broader issue can now be closed.

[2020-01-31 22:55] gnprice commented on #3853
We'd also like to stop replacing the whole `body` in most or all the cases where we do; that's #3851. That'll certainly reduce the impact of this issue.

But the most natural solutions to that will still mean that the content of a given message may be replaced repeatedly if it's edited, or each time a reaction is added. If the message has a large image in it, it'd still be nice to avoid re-fetchin

[2020-01-31 22:55] #3026 closed

[2020-02-01 00:18] gnprice commented on #3555
@jcam, I'm curious to hear more about what you wrote at https://github.com/zulip/zulip-mobile/issues/3790#issuecomment-579937583:

What did reload-all-messages-every-time look like for you -- what's "every time", and what does it look like when the messages reload? I'm also curious how you determined what aspect of the app was causing high cell data usage.

I ask because there are several quite di

[2020-02-01 00:25] gnprice commented on #3790
@awasthishubh Sure, that could be a nice small improvement to the UI. It wouldn't really affect this issue, though -- the problem is how long it takes to see the real image, and how much energy and potentially cellular data it consumes.

@leofidus Once we have thumbnailing at all (which is currently blocked on the server supporting it), we can experiment with specifics like that.

@jcam That sound

[2020-02-01 00:42] #3788 closed

[2020-02-01 00:43] #2914 closed

[2020-02-01 01:04] chrisbobbe commented on #3803
Actually doing `#1`, which is technically easier and doesn't make a future change to `#3` more difficult. It's also unlikely for someone to leave the app for 10 minutes and come back expecting to check on the reactions to a particular message.

[2020-02-01 01:07] ray-kraesig commented on #3812
The webapp's wording is a bit problematic, but this does seem to call for *some* sort of text notice to make it clear why the compose box isn't present.

(We may also need slightly different wording or even UI in the case of a group PM with some or all recipients deactivated.)

[2020-02-01 01:35] gnprice commented on #3788
Thanks @ray-kraesig and @agrawal-d !

On this point:

Absolutely so. In general, when there's something the user won't be able to do in certain cases, the way we ideally want to handle it is:
* (a) The client disables that bit of the UI, with an explanation as appropriate.
* (b) If the user does somehow make the request, the server rejects it.
* (c) If the server somehow ends up rejecting a reques

[2020-02-01 01:47] gnprice commented on #3787
Thanks @awasthishubh for that investigation!

The next steps would be:
* Let's try to find an issue for this in that library's issue tracker, and link to it from here.
* Is this issue still present in the newest version of the library? (If we can find an issue thread, that will help answer this question. If not, then we can answer it by pursuing the kind of investigation @awasthishubh did of the c

[2020-02-01 01:56] chrisbobbe commented on #3578
Hmm, could you please try explaining this again? Is this a new feature request? Some screenshots might help me understand what you're looking for, if this is still an issue. 🙂

[2020-02-01 02:03] chrisbobbe commented on #3505
Hi! Are you still seeing the issue with replying to a message? If so, it would be really helpful to get more details; whether you're using iOS or Android, what version of the Zulip mobile app you're on (shown if you press the gear ⚙️icon, then Diagnostics), and some screenshots if you can.

There's an open issue for right-to-left text support [here](https://github.com/zulip/zulip-mobile/issues/275

[2020-02-01 02:12] chrisbobbe commented on #1465
Hmm, there's a chance that this issue is being tracked in https://github.com/zulip/zulip-mobile/issues/3654.

Is this still happening on the latest version of the Zulip mobile app? If so, please let me know.

[2020-02-01 02:37] chrisbobbe commented on #1804
Hmm, there are realms like chat.zulip.org that have very large numbers of users. (GET chat.zulip.org/api/v1/users gives a response of 4.56 MB.)

@gnprice, @timabbott, what do you think? The currently open image caching and thumbnailing issues are more urgent (like https://github.com/zulip/zulip-mobile/issues/3853), and Boris makes a good point about the current API, but I wondered if there'd been

[2020-02-01 02:44] chrisbobbe commented on #3482
I believe this was resolved with https://github.com/zulip/zulip-mobile/pull/3639, which was marked as superseding https://github.com/zulip/zulip-mobile/pull/3484, but please let me know if I'm closing this in error.

[2020-02-01 02:44] #3482 closed

[2020-02-01 08:07] chrisbobbe commented on #3245
Thanks for the report, @fzyzcjy!

Yes, on realms like chat.zulip.org there can be a very large amount of user data downloaded when you open the app, and when you return to the app after 10 minutes of inactivity. This is being tracked in https://github.com/zulip/zulip-mobile/issues/1804, and I’ve pinged Tim and Greg there to see if there’s been any activity I’m not aware of.

Recent private message

[2020-02-01 08:07] #3245 closed

[2020-02-01 08:09] fzyzcjy commented on #3245
@chrisbobbe Add oil!

[2020-02-01 08:57] chrisbobbe commented on #3522
Was this resolved by https://github.com/zulip/zulip/issues/12576#issuecomment-510314120? When I use “!” as in `![IMG_5547.JPG](/path/to/IMG_5547.JPG)`, I see unparsed markdown and no image.

[2020-02-01 09:07] chrisbobbe commented on #3485
It’s working correctly for me on iOS 13.3 with Zulip 26.20.143; the banner appears when I switch on airplane mode, and disappears when I switch it off. Has anyone noticed this still happening, and on which version?

[2020-02-01 09:16] chrisbobbe commented on #3460
Thanks for the report and investigation! As it happens, it looks like we’re very near to resolving this in https://github.com/zulip/zulip-mobile/issues/3654#issuecomment-580938373. Please let me know if I’ve closed this in error; pinging @gnprice to double-check.

[2020-02-01 09:16] #3460 closed

[2020-02-01 09:22] chrisbobbe commented on #3439
Potentially related: https://github.com/zulip/zulip-mobile/issues/3557.

[2020-02-01 09:28] chrisbobbe commented on #3026
It appears that this has been reported; I can track investigations of sharing the cache between message lists there: https://github.com/zulip/zulip-mobile/issues/3180

[2020-02-01 09:35] chrisbobbe commented on #3180
I expect we’ll run into some obstacles with the way navigation works, but I do want to bump the priority of some investigation of this, as it would be a solid contribution to our efforts to reduce data consumption with images, tracked in https://github.com/zulip/zulip-mobile/issues/3853 and https://github.com/zulip/zulip-mobile/issues/3026#issuecomment-581011808

[2020-02-01 12:07] agrawal-d opened #3856 "Opening reactions list from search history results in app crash"
Steps to reproduce:
1. Search for "happy new year" on CZO using the app.
1. Long press on any reaction.

What happens:
App crashes immediately. Doesn't happen in case of all messages, only for certain messages.

What is expected:
I should be able to see the reactions screen.

Error log:
[code]
Complete log: http://p.ip.fi/iAcw

My device is running v26.20.143 (Android Oreo).

[2020-02-01 13:23] agrawal-d commented on #3856
A bit of debugging shows that `reactions` is a property extracted from `message` in `MessageReactionList.js:89`, but `message` here is undefined.

In the `connect` function for `MessageReactionList.js:116`,  there is no message corresponding to the messageId `805764` in `state`, which results in mesage becoming `undefined`.

[2020-02-01 13:38] agrawal-d commented on #3856
Strangely, while I was debugging these crashes, the crashes stopped happening for the messages as time passed. But searching for some other query resulted in a new batch of search results, for which crashes still occurred.

[2020-02-01 13:52] agrawal-d commented on #3856
Also, adding a reaction is not reflected, but the reaction *does* get added, as re-searching shows the reaction.

[2020-02-01 13:55] agrawal-d commented on #3856
I believe the cause of this bug is that search results are rendered using API results, and these messages are no present in `state`, so anything that interacts with the message using `state` will not work, while anything that uses the API results will work.

[2020-02-01 15:24] jainkuniya opened #3857 "Unread notice doesn't shrink completely when composeBox expands full screen."
On iOS:
![image](https://user-images.githubusercontent.com/18511177/73594459-a5c52c80-4534-11ea-83ee-345c06ee7461.png)

This is also reproducible on Android.

*Steps to reproduce*:
1. Open any chat which have unread messages.
2. Press enter many times in compose box message input, so that compose box expands.
3. Unread notice doesn't goes off completely.

[2020-02-01 19:23] Maskedman99 opened #3860 "Colour of Status bar in splash screen doesn't match with the brandcolor"
![Screenshot_20200202-004353_Zulip](https://user-images.githubusercontent.com/31368194/73597787-f5682000-4555-11ea-836f-cc11a893f7b8.jpg)

Change the color of status bar to match with that of the splash screen color.

[2020-02-01 19:29] Maskedman99 commented on #3860
Can I work on this?

[2020-02-01 19:57] chrisbobbe commented on #3856
Thanks for the report, investigation, and writeup! 🙂 https://github.com/zulip/zulip-mobile/pull/3854 is definitely relevant (that's the PR for https://github.com/zulip/zulip-mobile/issues/3803), but it won't completely fix this issue, which describes a case where the reactions list definitely needs to be usable, but currently isn't.

[2020-02-02 16:00] jainkuniya opened #3863 "[debug build] App crashes after entering realm url"
Logs:
[code]

- I am able to reproduce it on current master 31b6af38, by just uninstalling /cleaning app storage and re-installing app from command line or Android studio.

- Not able to reproduce it on release build, downloaded from play store `26.21.144`

[2020-02-02 16:06] jainkuniya commented on #3863
Tried to run app on `26.21.144` locally, but still reproducible. So I guess something is wrong with debug build.

[2020-02-02 16:06] jainkuniya commented on #3863
There is one more exception just above ^ this one

[code]

[2020-02-03 03:11] timabbott commented on #3578
I believe this is a feature request for Zulip to render things like how many SMS apps do with messages sent by the current user justified opposite messages sent by other users.  I suspect we should just close this as wontfix.

[2020-02-03 06:03] timabbott commented on #1804
Just a note: Compressed size is mostly what we care about, not uncompressed size.

We have a plan involving long-lived event queues that covers this issue in a way we expect to be successful long-term.  I'm not sure where the issue is for that, but probably this should be closed and just folded in as a bullet point on that issue/design doc.

[2020-02-03 08:21] chrisbobbe commented on #2623
Is progress on this blocked by https://github.com/zulip/zulip-mobile/issues/3757? If there’s an easy path to supporting this, even before the web app code is shared, it would be good; there have been more requests, at — well, on chat.zulip.org; I’ll link to the message tomorrow, when I’ve got the web app open. 😉

[2020-02-03 19:31] #3816 closed