[2021-06-18 05:09] gnprice commented on #4182
#4163 is merged! This is now ripe for working on.

In the meantime, back when this issue was new (a few hours after it was filed -- thanks again @aleffert for the report!) we [deployed a workaround](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/iOS.20badge.20count/near/926467): the server always sends a badge count of 0. So the current status should be that the app icon is *always* c

[2021-06-18 05:10] gnprice commented on #4241
#4163 is merged!

[2021-06-18 05:10] gnprice commented on #3599
#4163 is merged!

[2021-06-18 05:10] gnprice commented on #3401
#4163 is merged!

[2021-06-18 05:11] gnprice commented on #3119
#4163 is merged!

[2021-06-18 05:11] gnprice commented on #3101
#4163 is merged!

[2021-06-18 05:11] gnprice commented on #438
#4163 is merged!

[2021-06-18 05:15] gnprice commented on #438
So the issue is back in this status:

That bug is #4182. The bug isn't live now, because the feature is disabled (we have the server just always send 0 for the badge count.) But I expect that if we were to just re-enable the current implementation, that bug would reappear with it, so that we'll need to do some debugging.

[2021-06-19 01:12] gnprice opened #4811 "Send "not typing anymore" notifications more"
When the user is typing a PM, we send typing-status notifications.

The semantics is that these expire naturally: if the user keeps typing, we keep sending them periodically, and if a client on the other end sees a timeout interval (15 sec, I think) go by without getting another, then it considers the user no longer typing.

But there are also situations when the user has actively stopped typing.

[2021-06-21 18:45] WesleyAC opened #4814 "Tag text in webview for translation"
We have several strings in the webview that aren't tagged for translation:

* `Oh no! Something went wrong. Try again?`
* `Scroll to bottom`
* `edited ${editedTime} ago`
* `starred`
* `Interactive message`
* `To use, open on web or desktop`
* `Today`, `Yesterday`, and month abbreviations in the `src/utils/date.js` functions

The main infrastructure to do this was added in #4699, now we just need t

[2021-06-21 21:19] WesleyAC commented on #4808
[Some discussion on CZO](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/react.20context.2C.20providers.2C.20hooks.2C.20etc/near/1215384)

[2021-06-21 21:40] timabbott commented on #438
If it'd be useful to re-enable the feature on chat.zulip.org only (for example), that's certainly something we can do.

[2021-06-21 21:49] timabbott commented on #4806
The performance characteristics are clearly different since we have a 400-message window there, but I'll just mention that the `render_window` logic in `static/js/message_list_view.js` is how we handle this in the web app, in case that's helpful inspiration.

[2021-06-21 21:52] timabbott commented on #4655
It could also be reasonable to open a dedicated issue for that remaining work -- I find that sort of remapping to a focused issue can save time in re-reading a long issue for adding a feature that we actually did add (with one detail not right), and make it easier to track and for contributors to work on what remains.

[2021-06-21 21:56] WesleyAC commented on #4726
This was fixed upstream react-native-webview/react-native-webview#1466, which we pulled in in 945848dbbfe8454d957a1eb824dceeeb3573325a. Closing.

[2021-06-21 21:56] #4726 closed

[2021-06-21 22:01] WesleyAC commented on #4337
This should be fixed in the most recent beta release — let us know if you see this problem after updating! (See #4726 for details)

[2021-06-21 22:01] #4337 closed

[2021-06-21 22:01] WesleyAC commented on #4691
This should be fixed in the most recent beta release — let us know if you see this problem after updating! (See #4726 for details)

[2021-06-21 22:01] #4691 closed

[2021-06-21 22:37] WesleyAC commented on #4309
Is this [this issue](https://sentry.io/organizations/zulip/discover/results/?display=daily&field=title&field=release&field=environment&field=user.display&field=timestamp&name=notification+realm_uri+not+found+in+accounts&project=191284&query=issue.id%3A1427685466&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=count_unique%28user%29) in Sentry? If so, it's ha

[2021-06-21 23:40] gnprice opened #4818 "Crash opening notif: `getAccountFromNotificationData` is undefined"
Reported by @AkashDhiman [in chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Notification.20Crash/near/1215247), with `adb logcat` output including a traceback.

Error message:

@WesleyAC found we're seeing this [in Sentry](https://sentry.io/organizations/zulip/discover/zulip-mobile:bc9bf199beba406bb303e18e3d1f7c00), infrequently.

We've investigated (see chat thread), and have enough

[2021-06-22 01:09] #4818 closed

[2021-06-22 02:09] gnprice commented on #4818
Indeed it looks like this was a bug in Metro v0.59.0 (which we're currently using), fixed in Metro v0.60.0 by facebook/metro#540.

We'll take that upgrade as part of the RN v0.64 upgrade, #4426. When we do, we should revert the workaround #4819.

[2021-06-22 02:11] gnprice commented on #4426
One small followup to do after this upgrade (or the relevant part of it): the upgraded Metro should fix the issue that #4819 worked around. So then we should revert the workaround.

[2021-06-22 02:34] WesleyAC opened #4822 "Add "Enter to send" option"
A user on the iOS App Store writes:

This seems like a very reasonable feature to implement and stick in the settings, although we should continue to default to requiring pressing the send button to send.

[2021-06-22 15:07] chrisbobbe commented on #4726
Hmm, are you sure this has been fixed? Your screenshot was from 2021-05-06, and the release containing 945848d, [v27.155](https://github.com/zulip/zulip-mobile/releases/tag/v27.155), went out on 2020-09-23.

[2021-06-22 15:16] WesleyAC commented on #3423
Most of the problems described in this issue were fixed as part of #4620. I think the only part of this issue left to do is the batching.

[2021-06-22 15:53] chrisbobbe commented on #4726
Great, thanks for that investigation! Indeed, the `react-native-webview` PR [says](https://github.com/react-native-webview/react-native-webview/pull/1466#issuecomment-714298176) "This PR is included in version 10.9.3", and we went from 10.8.3 to 10.10.2 in that commit ([link to changed lines in yarn.lock](https://github.com/zulip/zulip-mobile/commit/78a7763bc9500c5f371139473d0debc377474276#diff-51

[2021-06-22 18:23] WesleyAC opened #4823 "Figure out a easy way to profile time-to-interactive"
We currently don't have a simple way to profile time-to-interactive.

This will involve figuring out what the actual thing we want to measure is and how to measure it, as well as probably running against a local server, to make sure that we can control network latency.

Ideally the end result of this issue would be a doc in `docs/` and possibly a tool or patch to make measuring this simple.

[2021-06-22 20:13] WesleyAC opened #4824 "Remove rsync dependency"
The `rsync` dependency (which we use to build the static assets for the webview) causes significant trouble for Windows users. We frequently get support requests from users who have not correctly installed `rsync` and are confused about why the project fails to build.

We're not doing anything super special with it:

[code]

So it probably make sense to just replace that command with something els

[2021-06-22 22:10] WesleyAC opened #4825 "Clicking "mailto" link crashes on iOS"
Clicking a mailto link causes the app to crash on iOS.

[sentry link](https://sentry.io/organizations/zulip/issues/1846198693/events/latest/?project=191284&query=is%3Aunresolved&sort=user&statsPeriod=24h), and I also verified this manually.

[2021-06-24 01:37] WesleyAC opened #4828 "Editing message topic only moves one message"
When you edit a message topic in mobile, it only moves the one message. On web, we give three options:

* Change later messages to this topic
* Change only this message topic
* Change previous and following messages to this topic

We should offer these options. Probably the best UI for this is to just pop up a modal when the user clicks the checkmark button to submit the edit, since I think it's l

[2021-06-24 02:48] WesleyAC opened #4830 "Editing a message topic doesn't move message from old topic"
If you edit a message topic from a topic narrow, the message will then appear in two places: the new topic, and the old topic. This is incorrect, it should only display in the new topic.

[2021-06-24 15:28] matthewlswanson commented on #4484
I have this happening on the beta but with a single account only. I tap the new message notification and nothing happens but the notification goes away. I left beta program and reinstalled and that fixed it. On Samsung Galaxy S10+, latest build

[2021-06-24 16:41] WesleyAC commented on #4484
@matthewlswanson Thanks for reporting this! That's #4818, which is only in beta, and we should have a fix out for soon.

[2021-06-24 16:50] WesleyAC commented on #4825
react-native-webview/react-native-webview#1084 seems likely to be relevant, and describes some possible workarounds.

[2021-06-24 19:22] WesleyAC opened #4832 "Update realm URL on `api.getServerSettings` in `doInitialFetch`"
Servers sometimes change their canonical URLs, while still allowing the use of the old one. This causes problems when the URL used for notifications is different from the URL that we have saved in `state.accounts[].realm`. (See #4309 for the problems that htis causes)

In order to fix this, we should update the URL in `state.accounts[].realm` when we get a `api.getServerSettings` response in `doIn

[2021-06-24 19:27] WesleyAC opened #4833 "Canonicalize URLs entered on login screen"
We have several users with URLs like `https://example.com/join/<invite link hash stuff>` in `state.accounts[].realm`, presumably because they entered that on the login screen.

We should allow people to enter URLs like this (so that they can copy/paste them), but canonicalize them to be just the origin (`https://example.com`) when we store it.

[2021-06-24 19:49] chrisbobbe commented on #4832
Specifically, `state.accounts[0].realm`, for the active account.

[2021-06-24 20:05] WesleyAC commented on #4833
@chrisbobbe points out that this isn't a problem in recent app versions:

Given that, we can just do #4832, and this issue should be taken care of.

[2021-06-24 20:05] #4833 closed

[2021-06-25 00:07] #4657 closed

[2021-06-30 01:59] easaw opened #4835 "Keyboard grinds to a halt when using Zulip"
When using Zulip on two separate Android phones I have found that eventually the keyboard slows down to the point at which it is completely unusable.

I have tried clearing all background apps, or using a 'RAM booster' (Avast) but because the keyboard is a system app (I assume), it isn't 'cleared'.

It also affects other apps, I can't use the keyboard anywhere else after Zulip causes this issue, I

[2021-06-30 02:31] chrisbobbe commented on #4835
Thanks for the detailed report, @easaw!

This reminds me of an upstream issue in React Native that we reported in 2018: https://github.com/facebook/react-native/issues/20119. But there are some symptoms that I think would be surprising if that's what's going on: I wouldn't expect it to affect keyboard performance in other apps, and I wouldn't expect it to be necessary to completely restart the pho

[2021-06-30 17:15] chrisbobbe opened #4837 "Replace `connect` with `useSelector` in all our component definitions."
We've found another reason to do this: it'll help simplify the React Native v0.64 upgrade (#4426). We'll want to get closer to enabling a Flow feature called ["Types-First"](https://flow.org/en/docs/lang/types-first/), and add a few targeted suppressions where that turns out to be substantial work. See https://github.com/zulip/zulip-mobile/issues/4426#issuecomment-767044329.

Having tried Types-Fi

[2021-06-30 20:42] WesleyAC opened #4840 "unreadModel: respond to message topic/stream edits"
We currently don't update unreads when a message topic is edited. We should do so.

See [CZO discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.22No.20messages.20with.20this.20topic.22).

[2021-06-30 20:45] gnprice commented on #4840
Similarly when a message is moved between streams.

Both of these changes come to us in the form of `update_message` events:
https://zulip.com/api/get-events#update_message
We turn those events into Redux actions with type `EVENT_UPDATE_MESSAGE`.

So the place to implement this will be in `src/unread/unreadModel.js`, in `streamsReducer`, which should get a `case EVENT_UPDATE_MESSAGE:` section.

[2021-07-01 04:42] gnprice opened #4841 "Store persistent data in a sound way"
The way we currently store the user's data on the device's storage, between runs of the app, is with the design from redux-persist:
* The units of storage are the top-level subtrees of the Redux state: `state.accounts` is one, `state.users` is another, and so on.
* When something changes, we write out the new version of each top-level subtree that changed: if a user changed their avatar then we wr

[2021-07-01 04:48] gnprice commented on #4841
Some in-progress work to mitigate this issue is in #4694 -- that will arrange things so that when several subtrees get updated, we write out the updates in quick succession, in hopes that that reduces how often we end up with only some of the updates written out so that the data is inconsistent.

I don't have a definite plan for how to properly fix the issue, so the next steps there are some more

[2021-07-01 04:54] gnprice commented on #4841
A couple of related issues are #3408 and #4446. Those are at a different layer -- they're both about properly maintaining the state at the app level, in our reducers. But they have the same property that we currently get to paper over a lot of small bugs there with the fact that we're constantly refreshing the state from scratch, so anything we get wrong in updating the state just gets wiped away

[2021-07-01 06:34] andreasoc commented on #4722
great!

[2021-07-01 16:20] chrisbobbe commented on #4426
Just opened #4843 to get to a version of react-native-webview whose peer-dep range for React Native include v0.64.

I didn't notice any other current third-party dependencies we'll have to do this for! 🎉

[2021-07-02 05:06] #3452 closed

[2021-07-02 05:49] gnprice commented on #4837
Sounds good! There's one place where we know we need `connect` instead of `useSelector` because of the subtle differences in how they actually work; but I guess we've already tucked that inside `withHaveServerDataGate`, so its result isn't directly exported and doesn't affect this.

I've just merged #4838 and #4844, and it looks like `git grep -E '\bconnect\('` is now down to 26 matches, from 36 (

[2021-07-02 22:33] alya opened #4847 "Scroll to next unread topic"
At present, in order to read new messages topic-by-topic, one has to navigate up to the "All unreads" view in order to move on to the next topic.

It would make for a much faster/more convenient reading experience if it was possible to go to the next unread topic by scrolling down past the end of the current topic. The UI feel should be that it takes extra effort to keep going down.

If implementi

[2021-07-02 22:39] alya opened #4848 ""Go to next @-mention" button"
When there are messages below the current viewport, we show a down-carot button that scrolls to the bottom of the message list for the current view.

When the user is @ - mentioned somewhere below the current view, it would be helpful to replace that button with an `@` button that instead scrolls the view to the next place the user is `@` - mentioned. This would make it possible to quickly skip ev

[2021-07-02 23:30] alya opened #4849 "Preserve left-side unread indicator when not marking messages as read"
Within the debug menus, we have an option not to mark messages as read on scroll. We want to make this option more prominent (#4850).

Before doing so, we should fix the fact that the left-side line indicating unread messages still disappears upon scrolling even though messages are not being marked as read.

[2021-07-02 23:34] alya opened #4850 "Make "Do not mark messages read on scroll" option findable"
We have a "Do not mark messages read on scroll" setting, which can be quite useful for certain workflows. At present, this setting is hidden in Gear menu > Diagnostics > Debug.

To make it discoverable, we should move this setting to the top level of the gear menu. It can be placed right below the "Open links with in-app browser" option.

We should fix #4849 before making this setting finable.

[2021-07-02 23:51] alya opened #4851 "Move top navigation bar into left-side drawer menu"
At present, we have both top and bottom navigation menus, which is a non-standard layout and can cause confusion for the user.

We should create a left-side drawer menu, which would allow us to get rid of the top navigation bar. This is in line with the approach take by Slack and Discord mobile apps, among others. The overall plan would be:

* Move "All messages", "Starred messages" and "@-mention

[2021-07-03 00:05] alya opened #4852 "Do not mark messages as read from search, @-mentions and starred views"
There are certain views where a user's primary intent is to find a specific message, not to read all the messages on their screen. In these views, messages should not be marked as read. These views are:

- search
- @-mentions
- starred messages

Note that this behavior has been implemented for search in the web app.

[2021-07-03 00:06] gnprice commented on #4849
To do this, we'll want to pass the value of this setting into the webview. The left-side unread indicators are controlled by the within-webview code, in the function `sendScrollMessage` and its callee `setMessagesReadAttributes`. We'll want to just do nothing there, in the case where this setting is enabled.

[2021-07-03 00:14] alya opened #4853 "Fetch data when notification received"
It is common for a user to open the Zulip app right after receiving a notification. At present, when the user does so, they still have to wait for the app to fetch the message that triggered the notification. This is a confusing and potentially frustrating experience, as it feels to the user as if the app should already "know" about the message.

To improve the experience, we should experiment wit

[2021-07-03 00:28] gnprice commented on #4853
One thing that complicates this is that we currently only store data from the server for one account at a time (aka "the active account"). For purposes of this issue -- which is an optimization anyway -- it'll be enough to have it work in the case when the notification is for the active account.

The native-side notifications code doesn't know which account is the active account, so it'll always w

[2021-07-03 00:29] alya opened #4854 "Add icons to action sheets for messages and topics"
We have fairly long action sheets for messages and topics (accessed via long-click). To make it easier for the user to find the option they need at a glance, we should add icons to the action sheets.

[2021-07-03 00:44] gnprice commented on #4853
A major open question we'll want to answer with this experiment is whether the OSes will tolerate the amount of time, CPU, and network traffic we spend by doing this. Both Android and iOS warn that when your app is in the background and receives a notification, it should take care to finish its work handling the notification quickly, and if it goes too long it'll just get shut down.

The iOS / APN

[2021-07-03 21:52] WesleyAC commented on #4851
We should also move the org switcher directly into the drawer nav, instead of burying it under a menu.

[2021-07-04 17:54] fuzunspm commented on #4144
it’s so sad to see that such an important app like Zulip won’t implement such an easy but very important feature

[2021-07-04 21:59] ConaGo commented on #4811
Hi, this seems like a good first issue and i would like to try and implement the requested changes :)

[2021-07-05 20:12] ConaGo commented on #4811
@zulipbot claim

[2021-07-05 22:42] alya opened #4857 "Add indicator for topics with unread @-mentions in unread topics view"
In the unread topics view, we provide a count of unread messages, but it's still not easy for the user to prioritize which topics to read.

We should add an indicator to show which topics have unread messages where the user is @-mentioned.

We can do this by displaying a red dot to the left of the unread message count for the topic.

[2021-07-05 22:47] alya opened #4858 "Search view should open at the bottom"
At present, the search view opens at the top, i.e. showing the oldest fetched message matching the query. However, it is most likely that the user is looking for a recent message.

We should therefore open the search view at the bottom (most recent messages).

[2021-07-05 22:51] alya opened #4859 "Enable fetching more search results"
At present, we fetch the 20 most recent search results, and do not provide a way for the user to get more. This can lead to a bad experience when the user is looking for an older message. We should:

1. Fetch additional search results when the user scrolls up from the search results that have already been fetched.
2. Consider fetching more results (100?) in the first place, as 20 is quite low when

[2021-07-05 23:07] alya opened #4860 "Custom notification sounds"
We should make it possible to customize notification sounds:

1. Customize the sound for Zulip notifications.
2. Customize the sounds for stream notifications vs. PMs and @-mentions.
3. Customize notification sounds for specific streams.

[2021-07-06 00:07] WesleyAC commented on #4835
Hi @easaw! Thanks for reporting this. I started seeing this as well recently, and will try to debug it. It seems pretty likely that this is react native triggering some sort of Gboard bug, similar to the one @chrisbobbe mentioned above — this problem seems to have gotten significantly worse after a recent React Native upgrade.

In the meantime, a workaround is that you can go to your phone's setti

[2021-07-06 00:21] alya opened #4861 "Reply from notification"
It is common for a user to want to reply to a message they receive a notification about. At present, this requires clicking on the notification to get to the message, which takes some time.

It would be convenient to be able to reply to the message directly from the notification.

[2021-07-06 00:23] alya opened #4862 "React to notification"
It is common for a user to want to acknowledge a message they receive a notification about. At present, this requires clicking on the notification to get to the message, which takes some time.

It would be convenient to be able to reply to react to a message directly from the notification. The highest priority is to be able to give a thumbs up, though we can consider other reactions as well if it'

[2021-07-06 01:10] alya commented on #2623
How close are we to being able to do this? It came up as something that would be very useful during our brainstorming session.

[2021-07-06 01:16] alya opened #4863 "Add "Copy link to topic" to topic action sheet"
It would be very useful to be able to link to topics on mobile. We should add a "Copy link to topic" to the topic action sheet.

Following the web app ordering ("Mute topic" before "Copy link"), we could put the option after "Mute topic".

[2021-07-06 18:12] gnprice commented on #4859
The implementation of this will require some refactoring and be a bit tricky.

For the message list in all cases other than search, we get the messages from our global Redux store, and the way to fetch more is to go and do a fetch that puts the results into the global Redux store. So that's what the `fetchMore` function in `src/webview/handleOutboundEvents.js` does, dispatching a `fetchOlder` or `

[2021-07-06 18:54] alya opened #4866 "Add link to user profile from sender's name"
In the message feed, a user's avatar opens the profile menu, but the sender's name is currently not a link. We should make the name link to the profile menu as well, which is likely what the user expects, and is consistent with the web app UI.

[2021-07-06 19:04] alya opened #4867 "Create drafts view"
We should provide a view for users to access their drafts. It would make it much easier to come back to the message you're composing if you, e.g., have to navigate away to look something up.

The view should have similar functionality to the webapp:
- Addressee header
- Preview of the text
- Date or time last modified
- Can open the draft
- Can delete

If this is implemented before draft syncing b

[2021-07-06 19:58] alya opened #4869 "User search should order prefix matches first"
At present, user search results are shown with all matches in alphabetical order. This doesn't match what the user is trying to do, which is usually to put in the *start* of someone's name. It looks especially "broken" when the user first start typing, as it's unclear why these particular names are being shown, or why the name list didn't seem to change (or change much) when the first letter was t

[2021-07-06 20:10] alya opened #4870 "Use "group" icon in group PM avatar"
At present, the group PM avatar shows first initials of the participants, which doesn't look great and doesn't actually make it easy to figure out at a glance who is in the conversation.

Instead of initials, we should use a simple "group" icon, similar to the huddle icon we show in the left sidebar on desktop. To keep the groups visually distinct, we should continue to use random background color

[2021-07-06 20:34] alya opened #4871 "Use more of the screen for @-mention typeahead suggestions"
At present, the @-mention typeahead suggestions dialog is fairly small. We should make it larger, as it is already unlikely the user can get useful information from other parts of the screen.

[2021-07-06 21:18] gnprice commented on #4871
This would be good.

The one tricky thing here is that we don't want to have it run off the top of the screen, because then the top part of it can't be reached. We had that bug a long time ago, as #2997. We fixed that issue crudely, with a hard-coded max height, which is the behavior you see today.

From discussion at https://github.com/zulip/zulip-mobile/pull/2919#issuecomment-424142491 , here's

[2021-07-06 21:18] alya opened #4872 "Open typeahead immediately when @ is entered"
At present, we open @-mention typeahead suggestions when the user enters `@` (not within a word) followed by another character. Instead, we should pop up typeahead right away without waiting for the first character. This will make it clear to the user that they can use @-mentions in Zulip, and is consistent with expectations from other chat apps (e.g. Slack, Discord).

[2021-07-06 22:13] alya opened #4873 "Full-screen compose box"
At present, the compose box is quite small on mobile. Especially with Zulip's recommended style of slightly longer messages, it would be very helpful to have a full-size compose box option for composing long messages.

The toggle between the small vs. full-size compose box can be double arrows pointing in or out in the corner, a la Slack.

[2021-07-06 23:21] alya opened #4874 "Narrow to compose box topic from interleaved view"
Composing a message from an interleaved view is a confusing experience, as it's hard to understand the context for the message you're sending.

As a follow-up to #4764, we should narrow to the topic the user is composing to when the user clicks into the compose box.

[[CZO thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/compose.20topic.20and.20navigation)]

[2021-07-06 23:28] alya opened #4875 "Focus topic input and open typeahead for new topics"
As a follow up to #4773 / #4764, we should do the following when starting a new topic:

1. Put the cursor in the topic field.
2. Automatically pop up the typeahead. This may come for free with (1).

[2021-07-07 04:26] gnprice opened #4877 "Clean up divergent `.hidden` rules in CSS"
This is a followup from https://github.com/zulip/zulip-mobile/pull/4813#discussion_r665027238 .

We use a `.hidden` CSS class in several places. For some of them we want `display: none`; for another we now use `opacity: 0`, because it's `position: fixed` anyway and because that lets us animate the opacity.

That's fine and good, but the code is potentially confusing: we have `hidden` defined to me

[2021-07-07 21:08] WesleyAC opened #4881 "Allow editing poll question"
The author of a poll should be allowed to edit the question, as they are able to in the webapp.

[2021-07-07 21:09] WesleyAC opened #4882 "Allow viewing who voted on a poll"
We should add a UI to view who responded to a poll with each option.

[2021-07-07 21:09] WesleyAC opened #4883 "Allow adding new poll options"
We should allow people to add new options to polls.

[2021-07-07 21:11] WesleyAC commented on #3205
We've just merged initial support for polls in #M4704! It should land in the app whenever we cut a new release, likely in the next couple weeks.

There's still some more work to do, which is tracked in #4881, #4882, and #4883.

[2021-07-07 21:11] #3205 closed

[2021-07-07 21:25] cmprmsd commented on #3205
Thank you!

[2021-07-07 23:17] alya opened #4884 "Do not immediately send message when attachment is added"
At present, when a user adds an attachment to a message (file, photo on the phone or new photo), the message is immediately sent. This is a bad and unexpected experience. The user may wish to confirm that they attached the right item, or add text to their message.

Rather than sending immediately, we should allow the user to:

1. Add text to the message if desire.
2. Send the message when ready.

[2021-07-07 23:19] alya commented on #4884
Oops, we already have this one! https://github.com/zulip/zulip-mobile/issues/4540

[2021-07-07 23:19] #4884 closed

[2021-07-08 00:40] gnprice commented on #4871
A related point also came up in a review the other day, at https://github.com/zulip/zulip-mobile/pull/4773#discussion_r657513499 :

[2021-07-08 00:46] gnprice commented on #4830
Yeah. I think this is a manifestation of #2688 -- we have the same bug if it's not you but someone else who edits the topic.

That issue is a bit unclearly described and has some out-of-date details, so I'll go edit it some, and close this as a duplicate.

[2021-07-08 00:46] #4830 closed

[2021-07-08 15:06] showell opened #4885 "Prefer "dark mode" to "night mode"."
https://chat.zulip.org/#narrow/stream/9-issues/topic/Browser.20back.20button.20bug.20in.20settings/near/1227229

[2021-07-08 15:13] chrisbobbe opened #4886 "Add release-build option to `tools/run-android`."
So it's easier to test changes (such as those made for a React Native upgrade) that we reasonably expect might cause different behaviors in debug vs. release builds.

[2021-07-08 17:57] alya commented on #4860
Related to #4436.

[2021-07-08 18:10] gnprice commented on #4863
See also #2623, which is for a similar option in the message action sheet.

[2021-07-08 18:12] gnprice commented on #4867
Blocking this on drawer navigation #4851, which will give us a good place to put this.

[2021-07-08 18:20] alya commented on #4872
Implemented in the web app: https://github.com/zulip/zulip/issues/19142

[2021-07-08 18:26] chrisbobbe commented on #4874
In addition to re-narrowing when the topic input loses focus, we could also re-narrow on changes to the topic input, but debounced. In other words, if the topic input still has focus but the user hasn't changed the topic in, say, two seconds, we re-narrow then.

[2021-07-08 18:29] gnprice commented on #4875
This is for the experience when you're composing a new message. When implementing this, we should check that when you're *editing* a message instead, the focus still goes first to the message-content input.

[2021-07-08 19:18] chrisbobbe commented on #3604
See [CZO](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.60state.2Enarrows.60.20and.20message.20consecutiveness/near/1161472) where I described a latent bug where the message list shows messages consecutively, when they aren't actually consecutive.

And some brainstorming for a solution: we need to better keep the invariant that a `state.narrows[narrowKey]` is a contiguous block of m

[2021-07-08 20:04] alya opened #4888 "Characters shown as empty rectangles due to missing monospace font"
A user reports that some characters in code show up as empty rectangles on an Android device, and that this comes up frequently in the Lean community. Example text:

`ℍ[R,c₁,c₂] →ₐ[R] A`

Investigation (see [CZO thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/unicode.20in.20code)) has revealed that this is due to Android not shipping with an appropriate monospace font. We shoul

[2021-07-08 20:21] alya opened #4889 "Ignore fake emails in user search and typeahead"
In organizations where emails are not public, we create fake "emails" with unique user IDs. At present, these emails are queried in user search and typeahead, which is certainly not what the user intends. Along with #4869, it makes user search feel "broken".

If email address visibility for an organization is something other than "everyone", we should ignore the email field in user search.

[2021-07-08 20:40] gnprice commented on #4857
I think the simplest way to do this with acceptable performance is probably to iterate through the list of unread @-mentions in `state.unread.mentions`, and build a nested-`Map` data structure that indexes them by stream and topic.

That will be efficient as long as there aren't a large number of unread @-mentions.

[2021-07-08 20:41] gnprice commented on #4861
On Android, this will build on the APIs we'll start using as part of #2691.

On iOS, I'm not sure if this is possible.

[2021-07-09 01:30] chrisbobbe opened #4890 "Switch to @react-native-async-storage/async-storage."
@react-native-community/async-storage is marked as deprecated ([link](https://www.npmjs.com/package/@react-native-community/async-storage)), with a sign pointing to @react-native-async-storage/async-storage as the project's new home.

[2021-07-09 01:33] chrisbobbe commented on #4890
(This is on the path to #4426 because of a peer-dependency issue.)

[2021-07-09 02:06] chrisbobbe commented on #4426
Hmm, looks like RN v0.64 was released without adding all the needed suppressions, so we'll get dozens of warnings like this:

[code]

Looks like there was a commit to address this, facebook/react-native@bac2c2c80, released in RN v0.65.

[2021-07-09 03:17] chrisbobbe commented on #4426
I've just opened https://github.com/zulip/zulip-mobile/issues/4890 in our repo and send https://github.com/expo/expo/pull/13549 to `jest-expo` to satisfy some peer-dep constraints.

[2021-07-13 00:31] #4849 closed

[2021-07-13 00:31] #4850 closed

[2021-07-13 03:28] #4858 closed

[2021-07-13 05:14] gnprice commented on #4267
(For cross-reference: this was a particularly bad case of the general issue #3066.)

[2021-07-13 09:33] ConaGo commented on #4811
Hi @gnprice, i implemented the change and would love to get some feedback :)

[2021-07-14 14:35] chrisbobbe opened #4897 "ios: Unwanted in-app notification sound when phone is on silent."
@alya [said](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/notification.20sound.20bug/near/1225469):

The purpose of the sound has been to alert the user to a message they might want to know about, while they're in the app but not looking at a view where the message appears.

The sound is being played in an audio channel that isn't affected by the device-level silence-notifications s

[2021-07-14 21:45] chrisbobbe commented on #4659
Greg [says](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M3745.20Server.20version.20to.20Sentry/near/1162054):

[2021-07-14 23:16] timabbott commented on #4571
@chrisbobbe that is correct, these error codes appear when failing authentication with your API key, in addition to when you fail to get an API key due to deactivated accounts/realms.

[2021-07-16 00:24] #4165 closed

[2021-07-16 12:01] jonas-schievink commented on #3555
This is a serious problem for me, please consider improving this.
![photo_2021-07-16_13-58-37](https://user-images.githubusercontent.com/1786438/125944182-efdb0d40-6b7a-4c00-adcc-a2fd86796283.jpg)

[2021-07-16 19:16] chrisbobbe commented on #4890
Added P1 to inherit from #4426.

[2021-07-16 23:25] alya opened #4903 "Support search syntax"
At present, the mobile app does not support search syntax (e.g. `stream:`, `sender:`, etc.).

We should add support for search syntax by reusing the webapp code.

[2021-07-17 00:07] gnprice opened #4904 "Unread-PMs count is blank if too big"
The count we show on the "people" icon that leads to the PMs tab can look like this:
![image](https://user-images.githubusercontent.com/28173/126019048-fcd9943d-cfa7-4690-ab0d-5b0f92b1bbb4.png)
I.e., there's a little bubble there… but instead of having a number inside, it's just blank, and so it looks broken.

I get that when logged in as a test account that has 139 unread PMs. I suspect what's ha

[2021-07-19 17:24] #117 closed

[2021-07-19 21:17] chrisbobbe opened #4907 "Flow: Switch to new "Types-First" mode."
We generally keep our Flow version at the same version as the React Native project uses at the time of the RN release we're using. That's because different Flow versions tend to flag different errors and warnings; this happens naturally as Flow fixes bugs and adds/improves features.

- This means we should aim for Flow v0.137 in the upcoming React Native v0.64 upgrade ([link](https://github.com/fa

[2021-07-20 03:04] jay719 commented on #4866
@zulipbot claim

[2021-07-20 03:48] gnprice opened #4909 "Starred-messages view should show even topic- or stream-muted messages"
This is much like #3472, but for starred messages. I came across it while working on this code, to clean it up and to fix #3472, after looking closer at it as a result of reviewing and merging #4807.

Possibly we should *also* let starred messages break through stream and topic mutes in other views, like @-mentions do. But the web app currently doesn't, so that'd start with a chat thread in #gener

[2021-07-20 04:49] gnprice opened #4911 "Handle wildcard mentions uniformly with direct @-mentions"
Messages come with two different potential flags `mentioned` and `wildcard_mentioned`. See API docs:
https://zulip.com/api/update-message-flags#available-flags

In several of the places where we refer to `mentioned`, we look at `wildcard_mentioned` at the same time, and the overall semantics we get is `mentioned || wildcard_mentioned`.

It's likely that that's actually the semantics we want *every

[2021-07-20 18:58] timabbott opened #4913 "Use the `/settings` endpoint rather than `/settings/notifications` when API_FEATURE_LEVEL >= 80"
See https://chat.zulip.org/api/update-settings, https://github.com/zulip/zulip/pull/19217 and https://chat.zulip.org/#narrow/stream/378-api-design/topic/settings.20endpoints/near/1234765 for details on this migration.

[2021-07-21 18:42] chrisbobbe commented on #4907
OK, I've just made another pass through the errors that appear if I temporarily set `well_formed_exports=true`. A few exports stood out to me as particularly challenging to annotate, and I'll probably start discussions for on CZO once we take care of the easier things:

- `action` export in exampleData.js (we have a comment saying we've explicitly chosen not to annotate this)
- default export of s

[2021-07-21 21:27] #4852 closed

[2021-07-21 22:09] alya opened #4916 "Search syntax auto-complete"
We should offer syntax suggestions for the search box even before the user starts typing. Otherwise, it's much harder to figure out how to use search syntax.

A possible list:
[code]

Further suggestions on how to complete the query should be given when search syntax is inserted, similar to the webapp search.

This issue is blocked on #4903.

[2021-07-21 22:13] alya opened #4917 "Convert starred view into search view"
At present, "Starred" is a special message view.

Once we add support for search syntax in #4903, we will be able to use the search `is:starred` to select starred messages. We should convert the starred view to an `is:starred` search view.

This will make it easy to search within starred messages, and we will no longer have to maintain separate code for showing starred messages.

[2021-07-22 00:28] chrisbobbe opened #4918 "Indicate when trying to connect to a deactivated Zulip Cloud realm."
The web app shows a special `/accounts/deactivated/` page that says "The organization you are trying to join, [name], has been deactivated. Please contact support@zulip.com to reactivate this group."

The mobile app doesn't show a page like that, but it should, so people will know why they can't successfully connect to it.

[2021-07-22 01:03] chrisbobbe commented on #4918
(Discussion at https://chat.zulip.org/#narrow/stream/378-api-design/topic/How.20to.20know.20if.20realm.20deactivated/near/1236093.)

[2021-07-22 01:58] chrisbobbe commented on #4918
I think we'll need https://github.com/zulip/zulip/issues/19347 for this.

[2021-07-22 05:15] alya opened #4919 "Append list of all users to default users view"
The default users view (accessible via bottom navigation) only shows users one has PMed with in the past. This can be confusing in general, and creates an especially bad experience for new users with little or no PM history.

To address this, we should append a list of all users after the list of users one has PMed with, in the same order as they are shown in the user search (active > idle > offli

[2021-07-22 15:15] chrisbobbe opened #4920 "iOS: Narrow sometimes lands very far in the past."
This seems to be happening again on iOS: the initial scroll position (or maybe the scroll position a fraction of a second after opening a narrow) is far higher than it should be. It's not yet clear how this relates to #3457 or #4863, and I don't yet have a clear reproduction recipe.

For anyone wishing to help, a great first step would be to find a good reproduction recipe: a list of steps that I

[2021-07-22 18:07] thisisnitish commented on #4870
@alya I would like to work on this issue but I've some doubts such as what is PM avatar. I've found one group PM when you send personal msg to someone. Is this the same PM are this issue about?

[2021-07-22 19:07] alya commented on #4870
Hi @thisisnitish ! If you start a group PM thread on your Zulip account, you can see how group PMs are displayed when you click on the people icon in the bottom navigation, which takes you to all the recent conversations.

[2021-07-22 21:21] karmanyaahm commented on #3838
<https://unifiedpush.org> is a set of specifications and libraries that is currently being used by other FOSS communication apps like FluffyChat (Matrix), Fedilab (Mastodon), TRIFA (Tox). While, I'm personally not familiar with Zulip, UnifiedPush caters to a similar audience as OpenPush, so I think it might be relevant here. UP also offers FCM fallback, so the app just needs to use one library (fo

[2021-07-23 00:52] timabbott commented on #4911
It is worth mentioning that for email and push notifications, we do have settings that control whether wildcard mentions should trigger emacs/push notifications: https://zulip.com/help/pm-mention-alert-notifications#wildcard-mentions

But UI logic for displaying whether a mention occurred should use that `mentioned || wildcard_mentioned` logic.

[2021-07-23 17:13] chrisbobbe commented on #3624
We're now on 2.3.4 (with plans to upgrade further). Looks like the current `main` branch shows support for `mediaType: 'mixed'` on both iOS and Android, so I'd expect a fix to be pretty simple: https://github.com/react-native-image-picker/react-native-image-picker#options

[2021-07-23 17:26] thisisnitish commented on #4870
Hi @alya I think you are talking about this?
![Simulator Screen Shot - iPhone 11 - 2021-07-23 at 22 50 37](https://user-images.githubusercontent.com/48220369/126819120-686f221e-aedf-4008-a034-ea637eca7fdc.png)

[2021-07-23 17:31] thisisnitish commented on #4870
Hi @alya I understood the problem, the avatar is taking the first initials of the members.

[2021-07-23 17:55] alya commented on #4870
Right, and instead of the icon with first initials, we just want to use the
same people icon as in the webapp (https://fontawesome.com/v4.7/icon/users).

On Fri, Jul 23, 2021 at 10:31 AM Nitish Kumar ***@***.***>
wrote:

[2021-07-23 17:58] thisisnitish commented on #4870
Sure @alya, I'll try to fix this issue as soon as possible 🙂👍🏻

[2021-07-24 03:24] gnprice commented on #4907
Thanks! I took a look at this earlier today, and started a chat thread: https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Flow.20types-first/near/1237897

Here's how I think we can handle those four classes of exports:
* `eg.action`: I [think we can do this](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Flow.20types-first/near/1237928) by just exporting the individual actio

[2021-07-26 19:44] ConaGo commented on #4811
Hey, any updates regarding this?

[2021-07-27 00:11] alya opened #4923 "Add search within a stream to the stream view"
We should make it possible to search within a stream from the stream view, as this is a very natural user flow.

In the current UI, we can do this by adding a search (magnifying glass) icon to the top navigation bar, which would take the user to the search view with the stream filter (`stream: X`) pre-filled.

Note that this feature interacts with the idea of changing the default stream view from

[2021-07-27 05:25] gnprice commented on #1746
Yeah. This is exactly zulip/zulip#11767 .

Once zulip/zulip#11767 is fixed, you'll be able to send these by entering them on your phone's keyboard.

We'd also like to offer them in the autocomplete when you type `:` and start typing an emoji name (though that part matters a lot less on mobile than desktop/web, because on mobile your keyboard supports emoji), and to offer them as emoji reactions. T

[2021-07-27 05:37] gnprice commented on #4923
Variations on this that would also be good to do:
* When in a topic narrow, search within the topic. (May not be important for most conversations, which are short; but some intense discussions can get very long, and other times there's a topic that's used over a long period of time.)
* When in a PM narrow, search within the PM thread. (Can be very valuable with someone you exchange a lot of PMs wi

[2021-07-28 08:35] Po84210 commented on #3838
Using UnifiedPush is a good idea. Really hope it can be implemented soon.

[2021-07-28 17:10] timabbott opened #4925 "Add support for displaying emoji with statuses."
In https://github.com/zulip/zulip/pull/18955, we just merged support for adding emoji to one's user status in the server/webapp, which ranked as our 7th most requested feature on https://github.com/zulip/zulip/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc before being implemented.

We should add mobile support for this!  Most important is displaying it; the API matches that for reaction

[2021-07-29 19:14] AkashDhiman commented on #4862
This might not be possible since the notification UI does not allow interaction with 1 particular message, but rather a particular notification.

A notification corresponds to a particular conversation in topic, pm or group pm, in the design we will be having for #4842. Hence its possible to reply to a notification (the reply just gets added in the conversation) but we cannot have an interaction w

[2021-07-29 20:31] alya opened #4929 "Combine gear and avatar menus"
At present, we have two settings menus, accessed via the gear and the avatar icons.

Instead, we should combine the two by moving the gear menu into the avatar menu. The screen that is currently accessed via the gear should instead be accessed via a "Settings" button in the avatar menu.

This removes the burden from the user to figure out whether the gear or the avatar has the setting they need. I

[2021-07-29 20:45] alya opened #4930 "Replace unread messages banner"
The unread messages banner is not very intuitive or visually appealing in its current form. The first thing to fix is #4526, but we should also experiment with other ideas for improving it. A couple of ideas:

- The banner could become a pill at the *bottom* of the view, which is more intuitive, because unread messages are generally below the viewport. Possible pill wording: "Mark all X unread mes

[2021-07-30 09:45] adityarajsinghvi commented on #4929
Should i work on it?

[2021-07-30 18:39] chrisbobbe commented on #4659
What do we think about letting an `ApiConnection` instance hold the server feature level, not just the `auth`? I've been looking at #4203 and I think that might be a good place for it to be held. Then it's easy to put feature-level conditionals right where we put together a request, without making the caller pass the feature level to the binding as a special favor.

[2021-07-30 19:37] AkashDhiman commented on #4929
@adityarajsinghvi sure, you can definitely try, be sure to read the [mobile dev](https://github.com/zulip/zulip-mobile/tree/master/docs) documentation and send a PR.

[2021-07-30 20:01] timabbott opened #4932 "Add support for synchronizing drafts with the server"
We just merged https://github.com/zulip/zulip/pull/18074, which adds support for synchronizing drafts via the server between multiple clients. It comes with complete API documentation. We haven't done the web app implementation yet, but it should be ready soon.

The main somewhat subtle detail in the API is that the `enable_drafts_synchronization` should be respected by the client.  The server wil

[2021-08-01 22:39] timabbott opened #4933 "Execute the `user_settings` object transition"
In zulip/zulip#19404, we just added the feature level 89 migration to change how we encode user settings in the Zulip API to use a `user_settings` object.

The API documentation should explain the transition clearly.  Here's the recommended strategy:
* Clients can immediately switch from processing the `update_display_settings` and `update_global_notifications` event types and process the `user_se

[2021-08-02 20:09] chrisbobbe commented on #4933
@gnprice it would be great to get your thoughts on https://github.com/zulip/zulip-mobile/issues/4659#issuecomment-890081662 before we proceed with this.

[2021-08-03 13:59] chrisbobbe commented on #4586
We've just had another report of this, [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/PDF.20in.20iOS/near/1242790). Marking as P1.

[2021-08-03 16:45] chrisbobbe opened #4936 "Upgrade to React Navigation v6."
v5 was #4296. v6 was released just a few hours ago; I bet they'll have a blog post soon.

From their handy ["Upgrading from 5.x"](https://reactnavigation.org/docs/upgrading-from-5.x) guide:

There are still several TODOs in that guide, so let's maybe come back to this after those have been dealt with.

[2021-08-03 21:00] alya opened #4939 "Wrong cursor placement when choosing from typeahead"
When the user inserts a typeahead suggestion that already has some message text after it, the cursor doesn't get placed after the suggestion. Instead, it is placed somewhere in the middle of the typeahead suggestion that was selected. This happens for both @ mentions and stream names (`#foo`).

[CZO thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.40.20mention.20cursor)

[2021-08-04 00:26] chrisbobbe commented on #3277
We've just got another report of this, [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/PDF.20in.20iOS/near/1242790). I think this will be easier now that #117 is resolved (there's some added React Native code that we should be able to reuse for this, right?), but this will still take some research into how sharing to Zulip should be handled in the iOS native code.

[2021-08-04 02:09] gnprice commented on #4586
On further discussion, that report was actually a request for #3277, not this feature.

We have once heard a user ask for this feature, a couple of years ago: https://github.com/zulip/zulip-mobile/issues/3184#issuecomment-520081421 It's a reasonable feature but I don't think it's a priority.

[2021-08-04 02:13] gnprice commented on #3277
Marking as a priority because this is a recurring feature request. Happily we added the corresponding feature on Android just a couple of weeks ago (#117), and yeah, we'll definitely want to reuse that JS-side code here. (Possibly with some refactoring, as needed.)

For Apple documentation on how to implement the platform side of this, see those design guidelines and the other docs linked in my co

[2021-08-04 21:39] gnprice commented on #3469
A new report of this issue today:
https://chat.zulip.org/#narrow/stream/48-mobile/topic/receiving.20notifications.20in.20logged.20out.20realm/near/1243574

This fix should be pretty straightforward to do, and we should do it.

It's just a bit trickier than adding a dispatch of `tryStopNotifications`, because the latter is written to act on the active account.

Probably the right fix is:
* refactor

[2021-08-05 07:56] legopin opened #4944 "Render Markdown for Stream Description in Stream Details"
Expected:
When there is a markdown styled link in a stream description, I expect the links to be clickable in the Streams detail view

Current Behavior:
Current

![IMG_8329](https://user-images.githubusercontent.com/15863509/128313276-f41375ac-a068-4913-9931-d3f075f16d65.PNG)

[2021-08-10 19:48] gnprice opened #4951 "Store user ID in accounts state"
Currently for each of the accounts the user is logged in as, we store:
* the URL for that org/realm;
* the user's email that they use to log in there;
* their API key, their secret credential that represents being logged in there;
* a few other bits of metadata.

This is OK, except that instead of email we really want to be identifying a user by their numeric ID: #3764.

And what makes this partic

[2021-08-10 21:23] gnprice commented on #4824
Chat discussion: https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Execution.20failed.20for.20task.20'.3Aapp.3AbuildStaticWebviewAssets'.2E/near/1246053

[2021-08-10 23:19] chrisbobbe opened #4953 "Move away from unmaintained `rn-fetch-blob`."
See https://github.com/joltup/rn-fetch-blob/issues/666, and https://github.com/react-native-community/directory/pull/639, which is a record of the package being moved to new maintainership at `react-native-blob-util` ([npm](https://www.npmjs.com/package/react-native-blob-util), [GitHub](https://github.com/RonRadtke/react-native-blob-util#readme)).

As usual when taking potentially risky dependency

[2021-08-12 21:18] gnprice commented on #4853
Some more discussion starting here about the fetches this will need to do, and why:
https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/fetch.20data.20when.20notification.20received.20.23M4853/near/1246572

We'll want to do something like `doInitialFetch`, and we'll want to invoke `fetchMessagesInNarrow`.

(And all of that only if the notification is for the active account, as I mentioned

[2021-08-17 04:05] gnprice commented on #4828
I agree with that plan about the UI.

Adding this feature should probably block on fixing #2688 (and in particular its symptom #4830.) That issue makes the experience of editing the message topic feel pretty broken -- if you're looking in a topic narrow, the message doesn't actually disappear from the message list -- and so I feel like making it easier / more natural to go editing topics would inc

[2021-08-19 16:25] AkashDhiman opened #4964 "Search only on submit, not as you type"
Currently search is triggered on text change, however it doesn't work on prefixes and so it doesn't make much sense to have it work this way. Rather a better approach would be to trigger search on submit. This will simplify the work on fetching more on search.

We can perhaps revert back to this once the searching algorithm is changed.

[2021-08-19 20:48] #4964 closed

[2021-08-19 20:55] gnprice commented on #4964
I think the search backend's behavior is pretty good in this respect -- I think there wouldn't actually be that much to be gained by making it operate on prefixes so that we can do search-as-you-type. (It'd also require a pretty fundamental overhaul of the search engine; you need completely different data structures to do prefix search efficiently vs. whole words, as it currently does. And the sea

[2021-08-20 21:52] AlaaElden98 commented on #4951
I think i can work on this.

[2021-08-23 09:21] ShristiJain commented on #4951
hey @AlaaElden98 are you still working on this? I would like to work on this. This will be my first open source contribution, any kind of help is welcome.

[2021-08-23 09:42] ShristiJain commented on #4904
hey @gnprice i would like to work on this issue. This will be my first open source contribution, any kind of help is appreciated.

[2021-08-24 17:52] thisisnitish commented on #4929
@alya Looks like no progress has been done so far. Shall I give it a shot 😅?. Also, somewhat I've understood the issue, let me go through this thoroughly and after that I'll update the progress. Thanks 🙂

[2021-08-24 19:01] bjorn3 opened #4966 "Crash"
Just go this crash when I tapped on a notification:

[code]

version: 27.165
os: android

[2021-08-25 13:00] alya commented on #4929
Works for me -- maybe @chrisbobbe  can comment if this issue should be accessible enough, or if a different one would be more approachable.

[2021-08-26 17:52] WesleyAC opened #4969 "Support inserting images via keyboard"
[This API](https://developer.android.com/about/versions/12/features/unified-content-api?hl=sr) is used by Android to let people insert images (stickers, gifs, etc) from their keyboard. It'd be nice to support it.

[2021-08-28 16:13] AkashDhiman commented on #4904
Hello @ShristiJain, you can work on this issue and submit a PR when you think it is ready. You can find all the documentation on how to get started with zulip mobile [here](https://github.com/zulip/zulip-mobile/tree/master/docs). And general zulip documentation [here](https://zulip.readthedocs.io/en/latest/) (you will also find documentation about git which might come in handy).

In case you have

[2021-08-30 18:10] WesleyAC opened #4978 "Don't open two `ChatScreen`s when screen/topic is double-tapped"
Currently, you can double tap a stream/topic/etc quickly, and cause two `ChatScreen`s with the same view to be created. We should instead have the code refuse to open a narrow that it's already trying to open.

[2021-08-30 18:58] thisisnitish commented on #4929
Hello @chrisbobbe! here are the updates so far 🙂
- When I created the button for navigating to the settings screen, I found that the it was written `UNTRANSLATED` in either side of the text of button. So I checked the `ZulipButton` component and found at the end that,
in the `TranslatedText` component it was all written there. So I understood what's going on. Also can I change to `production` from

[2021-08-30 23:00] gnprice commented on #4841
We talked today in the office about this issue, and I think we have a plan for it.
* I looked around recently at SQLite bindings. There's a pretty plausible-looking one for React Native: https://github.com/andpor/react-native-sqlite-storage
  * I made a trivial demo of using it: https://github.com/zulip/zulip-mobile/compare/master...gnprice:dev-sqlite It successfully ran on Android, successfully b

[2021-08-31 22:39] chrisbobbe commented on #4426
It doesn't seem to, experimentally. I think https://github.com/facebook/flow/commit/059fbaf92e7cb76656aaff077ee63c08333a6c8a is the commit where this supposedly happened. I'm not really following what's going on in the OCaml code there.

[2021-08-31 23:05] chrisbobbe commented on #4886
https://github.com/zulip/zulip-mobile/issues/4929#issuecomment-908603249 is somewhere where a user wanted to test something on Android in production mode instead of development.

[2021-08-31 23:17] chrisbobbe commented on #4929
Great! So you found that you have to add the user-facing string to `messages_en.json`; thanks for doing that. 🙂 You can read more in our [doc on translating the app](https://github.com/zulip/zulip-mobile/blob/master/docs/howto/translations.md).

I'm actually not sure what's the preferred way to run locally in release/production mode on Android. I've opened #4886 to find out.

But I don't see a str

[2021-09-01 16:04] alya commented on #161
This should be implemented after #M4851.

[2021-09-01 20:31] WesleyAC opened #4984 "Outbox messages never have "brief" styling"
Outbox messages always show the full user avatar, even when you were the one who sent the last message to the narrow that you're viewing.

Instead, outbox messages should use the same algorithm for choosing whether to display the avatar as normal messages.

[2021-09-02 00:07] WesleyAC commented on #3472
Removing P1 label now that #4807 is merged.

[2021-09-02 00:17] WesleyAC commented on #2956
Bumping the priority on this again, since we expect to do a big emoji update on the server side soon (:crossed_fingers:), and it'll be very awkward to not have this then.

[2021-09-03 22:25] #4907 closed

[2021-09-03 23:57] #4951 closed

[2021-09-03 23:59] gnprice commented on #4631
This is now done!

So we can now proceed to this step:

[2021-09-06 19:07] SilentCruzer commented on #4866
Can I work on this issue?

[2021-09-06 19:18] jay719 commented on #4866
Yes please take it away from me, my computer has not been working for a
while

On Mon, Sep 6, 2021 at 1:07 PM R Adithya Kumar ***@***.***>
wrote:

[2021-09-07 18:39] chrisbobbe commented on #4866
(Discussion has continued [on CZO](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Edit.20WebView/near/1252673).)

[2021-09-08 07:37] gnprice commented on #4659
Yeah, I agree.

[2021-09-08 19:57] #4909 closed

[2021-09-08 19:57] #3472 closed

[2021-09-08 20:00] gnprice commented on #4426
Since we're about to merge #4991 to complete this upgrade :tada: , I just scanned this thread to look for follow-ups. It looks like there's just one:

[2021-09-08 20:02] gnprice commented on #1975
Just a note that we've again heard a user mention this as a salient missing feature in the mobile app.

[2021-09-08 21:57] #4426 closed

[2021-09-08 22:18] WesleyAC opened #4993 "Switch heading styling to reflect web"
Basically, make the same/similar changes as in zulip/zulip#19400

[2021-09-08 22:25] gnprice opened #4994 "Test flake on ZulipAsyncStorage"
Our unit tests for ZulipAsyncStorage have a flake: the round-trip tests occasionally fail.

This happened on #4992, for example -- though I can't seem to find the record of that CI run anymore in GitHub's CI interface, after the PR got updated as part of merging it.

Filing this issue to track fixing it.

[2021-09-08 22:28] gnprice commented on #4993
(Chat thread [here](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Markdown.20headings.20not.20represented/near/1237006).)

[2021-09-10 06:27] maltokyo commented on #3790
hi @gnprice - this continues to plague my users, especially the ones on the other side of the world from where the server is located..  In the meantime, did you hear any good ideas to resolve this?  I would be happy to sponsor a developer to fix this, so it works on web, desktop, and mobile apps, with the creation of (real) small thumbnails (not just downscaled full-sized images)

[2021-09-10 14:46] elgandoz commented on #2126
@borisyankov @pulkonet this bug still happens on the latest version of Zulip (27.170) for both Android and iOS, for every single user of our self hosted server.

On the web app works fine.

I also tried on a test organisation in zulip.org and I get the same behaviour.

Not a network issue, since I'm fibre wifi, just streamed 4k video with no buffer.

Android app.
![Screenshot_20210911-000538_Zulip

[2021-09-10 15:10] elgandoz commented on #2126
One thing I could notice is that in the chat, in the markdown code the link are relative, while in the lightbox (where it works) links are absolute.

Is there anything on the server side we can change?

[2021-09-10 20:10] chrisbobbe commented on #2126
Thanks for the report, @elgandoz! I've opened a debugging thread on CZO, [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Image.20previews.20broken.20.28self-hosted.29/near/1254380). I agree that it doesn't seem to be a network issue.

[2021-09-10 22:27] #4897 closed

[2021-09-10 22:33] alya commented on #4897
Yay!

[2021-09-11 00:40] gnprice commented on #1507
When we introduce this sort of warning, we should also have it apply when the server nominally supports push notifications but is so old that it won't know how to send them in a format that we accept. #4967 will make it the case that this requires at least Zulip Server 1.9, and that minimum may increase in the future.

(I've just added this to the description, too.)

[2021-09-11 23:47] elgandoz commented on #2126
Hi all, as mentioned in the chat, this issues was caused by the old URL format for thumbnail, in an old version of the server (4.0-dev). I'm sorry having re-opened the issue, after trying with the latest stable the problem does not appear, we can close this one for good.

[2021-09-13 16:28] maltokyo opened #4999 "New Bug: Replying to last message in a stream makes new topic "(no topic)""
The previous version on my phone (both ios and android) behaved in this way:

Go into stream, and it shows all topics in the stream. Read them all. Hit reply. It used to take the last topic from the stream, and default that into the reply.

Now, when you do the same thing in the latest mobile app, it DOES NOT default to the last topic upon reply, it rather makes a new topic called "(no topic)", wh

[2021-09-13 17:03] alya commented on #4875
It looks like we have this already? Should this issue be closed?

[2021-09-13 18:02] chrisbobbe commented on #2126
No worries! 🙂 Glad to have learned what was going on, for any future similar bug reports. Please let us know if you run into other issues on the new version.

[2021-09-13 18:02] #2126 closed

[2021-09-13 20:57] gnprice commented on #3998
(I just added to the description another followup opportunity: https://github.com/zulip/zulip-mobile/pull/4899#discussion_r703932340 .)

[2021-09-14 00:39] chrisbobbe commented on #4875
IIUC, we got the compose-new-message part recently, in e21e7dd94 (released in v27.170). I'm not sure about the edit-message behavior that Greg says we should check. From briefly reading the code, I suspect that's still working as intended, but it'd be good to check. Would you mind checking, Alya?

[2021-09-14 21:55] gnprice opened #5001 ""isPersistent is not a function" exception inside react-native, via Sentry"
In the v27.170 release which is currently in beta, we have [a Sentry event](https://sentry.io/organizations/zulip/issues/2642146533/events/bcea6fdf85b84d6294a2ff39fd486606/) with the following trace:
[code]

That's [this line](https://github.com/facebook/react-native/blob/v0.64.2/Libraries/Renderer/implementations/ReactNativeRenderer-prod.js#L597) inside the React Native implemenation:
[code]

So

[2021-09-14 23:13] gnprice commented on #4999
Thanks @maltokyo for the report!

This behavior was introduced in v27.169, and fixed in v27.170: we now focus the topic input first, so that you pick a topic before composing the message, just like in the web app.

Details on the changes are in @chrisbobbe's message here:
https://chat.zulip.org/#narrow/stream/48-mobile/topic/Bug.3A.20Replying.20to.20last.20message.20in.20a.20stream/near/1255035

I

[2021-09-14 23:13] #4999 closed

[2021-09-14 23:38] gnprice commented on #3918
No, unfortunately -- those were just the instances that had specific tasks at the time.

#4333 is the biggest remaining instance of this -- we identify narrows by stream name rather than stream ID. It connects to other instances which may not have specific tasks in our tracker.

#3998 will help, giving us stream IDs on Outbox values. That will let various code that consumes those -- especially all

[2021-09-14 23:48] gnprice commented on #3918
The victory condition for this issue is basically: if you try removing the `name` property from the definitions of the `Stream` and `Subscription` types, Flow should find only a handful of errors (i.e. places we're still using the property), all of which should be purely legitimate uses. (Which basically means just showing the name to the user in the UI.)

One quick approximation to that is to gre

[2021-09-15 15:07] dpo commented on #4586
I use Zulip for teaching and research and exchanging documents (other than photos) seems like a crucial feature to me. I chose Zulip over other apps because of its great features: code highlighting, topics, LaTeX support, etc. However, without document sharing on iOS, its usability is severely limited for my purposes. In particular, we need to exchange PDF documents on a daily basis. Please consid

[2021-09-16 17:41] alya commented on #4586
Thanks for the feedback, @dpo ! Just to check, which of the following features is the most important to you?

1) Attaching files from inside the Zulip app.
2) From other apps (e.g your document viewer) being able to share the file into Zulip?

[2021-09-16 18:45] dpo commented on #4586
Hi @alya ! Speaking for myself, I find 1 to be more immediately important, but given enough time, I'm sure I would miss feature 2 as well.

[2021-09-16 19:04] gnprice commented on #4586
@dpo That's very helpful, thanks!

In that case #3277 is the issue you want to follow. We just recently added the same feature on Android, and we'll be taking a look at adding it for iOS soon.

This issue thread is intended to track feature 1 from that list. It's been ambiguous for several people; I'll try editing it to clarify.

[2021-09-16 19:08] gnprice commented on #3277
Another user request for this feature: https://github.com/zulip/zulip-mobile/issues/4586#issuecomment-921153771

[2021-09-16 22:17] gnprice commented on #1411
I believe the two different issues here have been fixed.

If someone sees symptoms resembling either of them, please file a new issue with details.

[2021-09-16 22:17] #1411 closed

[2021-09-16 22:51] gnprice commented on #4841
OK, and #M4694 is merged!

There's that one open followup https://github.com/zulip/zulip-mobile/pull/4694#discussion_r691735576 , but I think it's orthogonal to the main remaining thing we need to do:

So the next step, replacing the use of `AsyncStorage` with our own use of SQLite in order to provide a similar interface but with transactional `multiSet`, is now ready to be worked on.

[2021-09-16 22:56] gnprice opened #5005 "Store server data for multiple accounts at once"
Currently we store almost all data from the server -- things like what other users exist, what streams, what messages, and how many unreads you have -- for just one account at a time, the "active account" ([see our glossary](https://github.com/zulip/zulip-mobile/blob/2627cfa6fbdc21c2aa3c9e6a9d09695f2893ead8/docs/glossary.md#active-account)). When you switch to look at another account, that one bec

[2021-09-16 23:03] gnprice opened #5006 "Multi-org-compatible schemas for data in Redux and persistent store"
We'd like to store server data for all the accounts the user is logged in as, #5005, instead of just a single "[active account](https://github.com/zulip/zulip-mobile/blob/2627cfa6fbdc21c2aa3c9e6a9d09695f2893ead8/docs/glossary.md#active-account)".

As part of that, we'll need to arrange the data in a way that makes room for data from multiple accounts, both in Redux and in the store that persists b

[2021-09-16 23:03] gnprice commented on #5006
(placeholder first comment)

[2021-09-16 23:07] gnprice commented on #5006
(placeholder second comment, for new design)

[2021-09-17 00:16] gnprice commented on #5006
(placeholder comment for the persistent-state schema)

[2021-09-17 01:01] gnprice commented on #5006
Another question is how to do migration. This was actually the reason we forked/vendored redux-persist in the first place: upstream had a new major version with a new design for migrations, which insisted on doing migrations locally in each subtree and was not compatible with changes that seriously rearranged the subtrees themselves, as we need to do here.

I think the existing migration logic wil

[2021-09-17 10:22] amolvishwakarma opened #5007 "Couldn't connect to server in android applicaion"
Hi everyone,

Can you help me with this to troubleshoot the issue. From web it is working properly , I am using traefik as reverse proxy and it has a valid ssl certificate.

Thanks in advance anyone also facing same issue or resolved please guide me.

[2021-09-17 15:33] guilefoylegaurav commented on #4984
Has this bug been resolved?
Can you kindly provide a bit more detail on this issue?
I want to take this up

[2021-09-17 16:19] SilentCruzer commented on #4873
Can I work on this issue?

[2021-09-17 17:06] alya commented on #4873
@gnprice can commend on how approachable this issue is.

[2021-09-17 17:54] chrisbobbe commented on #5007
Hi @amolvishwakarma, thanks for the report! Could you please provide more detail about what it looks like when you see the problem? For example, a screenshot would be helpful.

[2021-09-17 20:59] gnprice commented on #4600
API discussion is in [this thread](https://chat.zulip.org/#narrow/stream/378-api-design/topic/mark-as-unread.20.28update_message_flags.29/near/1204350) (long).

A server-side draft is at https://github.com/zulip/zulip/pull/19307 .

[2021-09-18 00:05] gnprice commented on #5006
Here's a different aspect that requires some more design and experimentation: what will we want the app *code* to look like?

One part of this, about reducers, is discussed above:

But there's also our UI code, and our selector code (particularly for complex selectors, like those in `unreadSelectors.js` that assemble the data the unreads screen needs), and our code in `fetchActions` and elsewhere

[2021-09-18 00:19] gnprice opened #5009 "Discard fetches when the active account has changed"
When we go and fetch some data from the server, we should be sure to associate the resulting data with the right account, and not with some other of the user's accounts. In particular this should be the case even if the fetch took a while, and if in the interim the user went and switched to look at a different account (the new ["active account"](https://github.com/zulip/zulip-mobile/blob/main/docs

[2021-09-18 00:41] gnprice opened #5010 "Re-login hangs before navigating to auth screen"
If you have an account you've logged out of, and then you go to AccountPickScreen (e.g. with "Switch account") and tap on that account to try to log back into it, the navigation doesn't happen immediately -- it hangs while it waits for the server-settings request to complete.

I think this came as part of our fix to #4604 -- previously we'd immediately navigate, but to a `RealmInputScreen` that di

[2021-09-18 00:42] gnprice commented on #3685
This issue has been fixed, after we duplicated it as #4604 (I'd forgotten about this previous issue thread, oops.)

I'd also forgotten about the nice design in https://github.com/zulip/zulip-mobile/issues/3685#issuecomment-570012096 above, and our fix for #4604 has a bug which that design would avoid. I've just filed #5010 for that new issue. Closing this one.

[2021-09-18 00:42] #3685 closed

[2021-09-20 05:14] amolvishwakarma commented on #5007
I can able to do login from web application and it shows valid ssl but not working from zulip desktop app and android devices not tested in ios , please check below screenshot
[code]
[code]
[code]

If you need any other details please let me know @chrisbobbe

[2021-09-20 15:14] alya commented on #4875
Yep, the focus for editing is still on the message, at least on Android.

[2021-09-20 19:32] gnprice commented on #4391
The introduction of withHaveServerDataGate / useHaveServerDataGate, in #4603, should have fixed this class of bug.

It'd be good to attempt the above repro now, and confirm that the bug is indeed gone.

[2021-09-21 09:40] amolvishwakarma commented on #5007
Hi @chrisbobbe ,
The issue is resolved tested in ssl-labs where it is showing letsencrypt as well as traefik default certificate.
So I added the same label of traefik in zulip container to use the valid ssl rather than traefik default certificate in my docker-compose.yml file.

[code]

[2021-09-21 09:40] #5007 closed

[2021-09-21 18:59] timabbott opened #5014 "Display whether streams are web-public streams in stream name decorations"
As we prepare for it being possible to have web-public streams in a Zulip server (#18532), we should make sure the mobile apps decorate any web-public streams correctly when they are displayed in the UI.  The web application currently does so with a `fa-globe` in the places that the `#` or `fa-lock` icon appears decorating a stream name:
[code]

The purpose of this decoration is to indicate to the

[2021-09-21 20:04] gnprice commented on #5006
I've done some more thinking about what this internal API for the app code to look like, and then I spent yesterday drafting up a branch to move toward that API.

I'll start sending PRs from the work in that branch. At present it's 120 commits long, though some of those changes are experiments we won't need and some will get squashed together in cleaning it up. In addition to branch cleanups, it n

[2021-09-21 22:35] #4994 closed

[2021-09-22 06:08] alya opened #5018 "Make typeahead boxes more visible"
At present, typeahead boxes are not visually distinct from the background in night mode. This is especially problematic when the box opens automatically when the user does not expect it, as it now does for topic typeahead when sending a message from an interleaved view.

Possible solutions are to give the box more of a border or a different background color. The light mode typeahead box has a more

[2021-09-22 06:13] alya opened #5019 "Laggy typeahead"
There is a potential UX problem when the typeahead box for topics does not open immediately when starting to compose in an interleaved view. We should investigate if there is something preventing it from opening immediately.

Personal anecdote: I opened an interleaved view and immediately started typing a message. (I had opened a stream view in order to send a message to that stream.) Because the

[2021-09-23 21:53] alya opened #5020 "User's own name is missing from "share to Zulip""
When sharing to Zulip, the user's own name is missing. This is problematic, as sharing a file with yourself is a reasonable workflow for uploading the file (e.g. a photo) from the phone to the computer.

As @gnprice [describes in the CZO thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/share.20to.20Zulip/near/1258427), the cause of that in the code is that our UserPickerCard com

[2021-09-24 04:21] gnprice opened #5022 "Event-queue polling loop doesn't stop itself on logout"
This is perhaps a special case of #5009; it's a salient one because this is a fetch that we're constantly keeping one of open.

The long-poll loop in `startEventPolling` has some logic to look just after a request comes back and try to check if the user has switched accounts, and if so to bail out because the data we're now keeping around will be for a different account than the data we just got b

[2021-09-24 21:49] gnprice commented on #4391
I reverted the workaround commit, and tried both of the repros from #4388. The app behaved just fine, as expected after #4603. Closing.

[2021-09-24 21:49] #4391 closed

[2021-09-27 19:05] gnprice commented on #3999
(Note that for *some* switches -- and it's not clear what variables are involved here -- there's a further issue that sort of masks this one. In those cases, the switch immediately responds, jumping straight to the other value with no animation; then jumps back; then when/if the request succeeds, jumps once more to the new state. See #3944 for details.)

[2021-09-27 19:37] gnprice commented on #3944
Rereading this thread. It seems like there are several issues:
* When the underlying setting is slow to change -- because it's on the server -- the switch is slow to respond. That's now #3999.
* Some switches aren't getting properly animated: whenever the state changes, they immediately jump to the full on or off position.
  * In particular, the away-status switch (on the "profile" screen you get

[2021-09-27 20:23] gnprice commented on #3944
Yup, here it is in the Android-side implementation, in react-native/ReactAndroid/src/main/java/com/facebook/react/views/switchview/ReactSwitch.java :
[code]

That `super.setChecked` will cause the switch to change state in the UI, even though JS hasn't heard anything yet and the props haven't changed.

Similarly for iOS, in react-native/React/Views/RCTSwitch.m :
[code]

So in both cases, the actua

[2021-09-28 13:25] devZer0 opened #5024 "suddenly need to select topic before replying to post (since 27.1xx)"
hello,

with v27.171 on zulip mobile , i suddenly need to enter or choose topic on reply to every previous post, which differs from behaviour before and also differs from web-client behaviour, and which makes using zulip a pain in the ass on mobile now.

is this a bug or an intentional change ?

[2021-09-28 13:33] devZer0 commented on #2684
yes please.  i see many users accidentally uploading the same image multiple times because they think their upload did not work. before i knew this is by design, i did this, too.    some indication of upload progress would be very nice.

[2021-09-29 22:46] timabbott commented on #4993
https://github.com/zulip/zulip/pull/19831 makes some nice added adjustments that should be incorporated as well.

[2021-09-30 12:58] Mahyar1982 commented on #4936
Hi @chrisbobbe ,
I'd like to contribute on this issue, could I work on it?

[2021-10-01 17:33] timabbott opened #5029 "Migrate to replacement for `can_create_streams`"
In https://github.com/zulip/zulip/pull/17066 (API feature level 102), we split the settings for controlling who can create streams into one for public streams and one for private streams.  The mobile app does not presently use the settings policy attribute `create_stream_policy` directly, but instead the `can_create_streams` helper property that just indicates whether the current user can create s

[2021-10-03 21:48] SilentCruzer commented on #4873
(chat continued on [CZO](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Expand.20compose.20box/near/1261834))

[2021-10-04 22:36] eric-wieser commented on #1975
This is not a particularly appealing solution, especially since it does not generate the message link that the webapp does. I think simply matching the webapp here would be a significant improvement, making the editor UX better can come later.

[2021-10-05 18:02] gnprice opened #5031 "Add types to redux-persist"
Last year in #4047, we incorporated the redux-persist library into our codebase, in order to make changes to it.

The external library doesn't have types, and we haven't yet added them. This makes it a little over 1/3 of the total types-uncovered code #2052 in our codebase (719 expressions, out of 2108 total untyped expressions across the codebase, as found by `yarn run test:flow-coverage`.)

We s

[2021-10-05 18:58] gnprice commented on #2052
I've updated the description with where things stand now.

Note that in some of the files that have only a small number of uncovered expressions, what's happening is in chains of methods like `Array#map` and `Array#filter`, where the elements of the array are being inferred for some reason as types like `any | number` (for example) where they should be `number`. This seems to be harmless -- if you

[2021-10-05 20:24] SilentCruzer commented on #4873
@alya , should I add the expoand icon inside the text-box like this:

![expand](https://user-images.githubusercontent.com/73246484/136096973-83e73c4a-e71b-47c6-88e1-0000e2504f08.png)

The only problem with this is that we need to add padding to the left of the icon, so text-overflow doesn't happen.

[2021-10-05 20:30] alya commented on #4873
@SilentCruzer Yeah, I think that's the right place for it. I think it could be closer to the right edge of the text box in your screenshot.

[2021-10-05 20:45] alya opened #5032 "Automate "Include organization name in subject of message notification emails" setting"
Under **Settings > Notifications**, there is a checkbox setting for whether to "Include organization name in subject of message notification emails". This setting may be difficult to discover when it becomes relevant, however.

For Zulip Cloud users, we can actually make a good guess for the option that will be the best experience for the users. As we say on the [help page](https://zulip.com/help/

[2021-10-06 22:45] alya opened #5034 "Improve stream topic view"
At present, it's possible to view the list of topics in a stream by clicking the three-dot/line icon the stream header bar. We would like to make this view more prominent, likely as a default stream view. As a pre-requisite, we should make some improvements to this view:

1. **Add a stream header bar.** This should be the same as the bar we have in the interleaved stream view, but with a different

[2021-10-07 12:17] bluddy opened #5036 "RTL (right to left) support"
Zulip web supports RTL, but nowadays everyone likes to use apps.
The Zulip mobile app does not currently support RTL.

How hard would it be to make it happen?

EDIT: Seems relevant https://reactnative.dev/blog/2016/08/19/right-to-left-support-for-react-native-apps

[2021-10-07 12:51] #5036 closed

[2021-10-07 18:06] chrisbobbe opened #5037 "ios: Allow having the distributed app and a debug build both installed simultaneously"
It may be as easy as tweaking a unique identifier (the "app identifier?") for debug builds. If we hard-code a relevant identifier in multiple places, we'll want to look into parameterizing it so we don't have to chase down each instance of hard-coding.

[2021-10-07 18:16] alya opened #5038 "Improve search bar UI in stream topic view"
We should make a couple of small improvements to the search bar for topics in the stream topic view:

1. Change the placeholder text to "Search topics" for clarity.
2. Bump up the contrast on the placeholder text, which is quite difficult to see right now

[2021-10-07 19:05] gnprice commented on #4862
Yeah, good point.

I think if we were to do a version of this feature, one behavior that could still make sense is that we'd react to whatever was the latest message we're showing in the notification.

[2021-10-07 22:03] anishwar-007 commented on #5038
Is there any way ,i can work on this issue?

[2021-10-08 00:00] timabbott opened #5042 "Don't send typing notifications unless `send_private_typing_notifications` setting is enabled."
In https://github.com/zulip/zulip/pull/19200, we've added new privacy settings for whether to send typing notifications.

The server will reject typing notification requests if this setting is disabled, so it won't be a user-facing bug to ignore this unless the client-side error handling causes that to be the case.  I'll be deploying the feature to CZO soon.

(Note that we're also adding `send_str

[2021-10-10 21:09] Jumeb commented on #5018
Working on this.

[2021-10-11 04:45] Jumeb commented on #5018
@zulipbot claim

[2021-10-13 04:22] Jumeb commented on #5018
There are two options from [Material Design](https://material.io/design)
1) Change the background color
2) Increase the depth perception by increasing the elevation
I would love to go with the second, reason being, the background of the component is controlled using the useContext hook and the only way will be to modify the background color in the theme.js file which will affect other components.

[2021-10-13 06:31] Jumeb commented on #5018
I tried to increase the elevation to make it stand out but the results were poor so, I had to go back to the first option and this is what I came out with

Screenshots:
![New darkmode](https://user-images.githubusercontent.com/38510556/137078961-eb493afd-64b2-4259-ab12-a00f56ee437a.jpeg)

![New lightmode](https://user-images.githubusercontent.com/38510556/137079027-489d66a5-4ff8-4b8f-8300-3618b3f3

[2021-10-13 18:46] alya commented on #4872
Yeah, I think because of `:` and `#` potentially being used at the start of unrelated words (esp. `#` for issue numbers), let's just do this for `@`. That also has the advantage of being consistent with the webapp. thanks!

[2021-10-14 00:27] merilaclau commented on #5034
Hi @alya
I'd love to try this one out! I have a couple questions though.

1. **Add a stream header bar.** --> Do you mean that after clicking on the three-dot/line icon, there should be a header above the current search bar?
2. **Move search to a separate view.** --> Aside from the search input field, should this view still display the entire list of topics below the input field?
3. Make topics li

[2021-10-14 00:50] alya commented on #5034
1) Yes, though we'll actually remove the current search bar in (2).
2) Yes, I think the topics list can stay the same.
3) Please feel free to try both options and post screenshots for feedback.

Thanks! I'm excited to have your help on this issue!

[2021-10-14 00:54] alya commented on #5018
Hmm, I'm not sure what's best... Could you post on the [CZO thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/compose.20topic.20and.20navigation) for comments from a broader set of folks? Thanks!

[2021-10-18 04:48] alya commented on #4873
@sumj25 please discuss with @SilentCruzer whether they are still working on this issue.

[2021-10-18 17:41] gnprice opened #5055 "Enforce mandatory_topics setting"
Zulip has an org-level setting to require topics (i.e., not an empty topic / "(no topic)"): https://zulip.com/help/require-topics

The mobile app hasn't been enforcing this setting ([report in chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/empty.20topics/near/1267857)). It should.

We're also going to have the server start enforcing the setting, but if the client leads you to think yo

[2021-10-18 22:44] gnprice opened #5057 "Clarify sharing is to one conversation with N people, not N 1:1 conversations"
When you use the "share to Zulip" feature and select PMs, we show you a UI to select one or more users from the list of all the users.

In some other apps, for example Facebook Messenger, when you share to that app there's a pretty similar-looking UI and what it means is that you're choosing a list of conversations to share the photo/file/whatever into. Any group conversations you have will also a

[2021-10-18 22:55] gnprice commented on #3726
Closing this as a duplicate of #117, which happily has in the meantime been resolved.

Thanks @marboxvel for the report!

[2021-10-18 22:55] #3726 closed

[2021-10-19 00:56] merilaclau commented on #5034
Hey @alya
Quick question =)
Started working on subitem 3 first. Just wanted to check with you if the decorators should also be visible on the home screen or if they should only be displayed when accessing the topic list from the stream header button.
Please see screenshots below:
![Screenshot_1634506642](https://user-images.githubusercontent.com/61492149/137826279-b547fd8a-b277-40d9-b3a9-06b27650f

[2021-10-19 02:17] gnprice commented on #4745
FWIW what I found in the chat thread is:

which also aligns with the screenshot you posted there, which happens to be in a group-PM thread.

The diagnosis we found also looks like it's specific to group-PM threads, and the fix in #4812 will only change anything for group PMs. If you are indeed seeing this on 1:1 PM threads, then that is another bug, and we would be glad to see a second bug report

[2021-10-19 02:27] #4745 closed, assigned to nobody

[2021-10-19 02:41] gnprice opened #5058 "Give MentionWarnings a less fragile interface"
This issue is to follow up on #4745 with the refactorings mentioned there, as described originally [in chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Quoting.20exception.20message/near/1169320).

First, consolidate the two props `narrow` and `stream` into just `narrow`:

Then also, that prop should be called instead like `destinationNarrow`:

[2021-10-19 20:24] SilentCruzer commented on #4873
@alya, I have added the expand feature, this is how it looks now:

https://user-images.githubusercontent.com/73246484/137984611-f41bbdba-9a0a-492f-8359-103b48197974.mp4

Can you suggest changes if any?

[2021-10-19 21:39] alya commented on #5034
Good question! I was originally thinking just the one-stream view, but I think it would be worth discussing the home screen question on [a CZO thread](https://chat.zulip.org/#narrow/stream/48-mobile/topic/.23M5034.20stream.20topic.20view).

[2021-10-19 23:34] #4747 closed

[2021-10-19 23:50] #3998 closed

[2021-10-20 00:32] gnprice opened #5060 "Upgrade react-native-image-picker to ≥v3"
We use the library https://npmjs.com/package/react-native-image-picker for letting the user take a photo, or select an existing image from their device, in order to attach it to a Zulip message. It has a new major version, v3.x.

We intend to upgrade to that version shortly, in particular because it promises changes that will work with Android "shared storage", which is becoming a requirement: htt

[2021-10-20 00:37] gnprice commented on #3787
The react-native-image-picker library has a new major version, which we plan to upgrade to soon: #5060.

Once we've done that, it'll be good to check if this issue reproduces, and if so then repeat the investigation steps @awasthishubh described at https://github.com/zulip/zulip-mobile/issues/3787#issuecomment-573354061 . Then we can see about getting it fixed, with the approaches described in my

[2021-10-20 00:50] gnprice opened #5061 "FCM exception in getToken: SERVICE_NOT_AVAILABLE"
Starting with v27.172, we're seeing the following exception [in Sentry](https://sentry.io/organizations/zulip/issues/2722074251/events/cf12de2a0f3349d0ba483bbeddff13ec/?project=191284):
[code]

<details>
[code]
</details>

From a bit of investigation, it looks like this error can be returned by FCM (aka firebase-messaging) when the network connection fails.

We've seen this error a good few times

[2021-10-20 01:51] gnprice opened #5062 "Resource filename collision between rn-fetch-blob and react-native-image-picker"
This is an issue I just noticed while looking at our built manifest in Android Studio with @chrisbobbe. It's an incompatibility between two libraries we use -- rn-fetch-blob and react-native-image-picker -- due to some poor API design by Android upstream, then some pretty roundabout [documentation](https://developer.android.com/reference/androidx/core/content/FileProvider) of that API. Then both o

[2021-10-20 18:40] #5020 closed

[2021-10-20 18:55] gnprice commented on #5062
One other anomaly I forgot to mention yesterday, which is actually what started me looking at this:

In Android Studio, if you look at our manifest file in the "Merged Manifest" view, there are four different `<provider>` elements for four different versions of `FileProvider` from different libraries, including the two mentioned above… but then if you look at where Android Studio is saying the ele

[2021-10-20 19:07] #5061 closed, assigned to gnprice

[2021-10-20 21:36] alya commented on #4873
We should just use different gray tones in light vs dark mode, as we do with many UI elements.

[2021-10-20 23:58] Nadrieril commented on #5057
A way of making this clearer would be that in the "private message" tab of the share dialogue, we show the list of existing private conversations. Then if a user wants to share to N people they can create a new group PM and then share to that. To make this easy the "new PM"/"new group PM" buttons would be available directly from the share dialogue.
I also would really like this because I always sh

[2021-10-21 17:24] alya commented on #5038
Awesome, this is super helpful @AlaaElden98 ! I think both of the new versions (light and dark) look pretty good in all the contexts above. Please ago ahead and submit a PR.

[2021-10-21 19:06] chrisbobbe commented on #4920
This issue only really makes sense to work on if you have an iOS device or you can run an iOS simulator.

To run the simulator, you'll need Xcode, which means you'll need an Apple computer: https://github.com/zulip/zulip-mobile/blob/main/docs/howto/ios-tips.md#running-on-ios-simulator. Do you have one of those?

[2021-10-21 19:34] bjorn3 opened #5068 "Switching between regular and split view restarts the app"
When opening the android app in split view and making it fullscreen or the other way around the app restarts, losing which thread I was reading. This is very annoying when I want to switch away from split view to be easier to read a thread as I will have to navigate back to it. Other apps simply resize their view when switching without losing ui state.

[2021-10-21 23:45] chrisbobbe commented on #4615
See https://chat.zulip.org/#narrow/stream/137-feedback/topic/checking.20edit.20time.20limit/near/1269961 for a summary of some careful thought that went into the web app's implementation of this.

[2021-10-21 23:49] #5060 closed, assigned to chrisbobbe

[2021-10-23 00:36] gnprice commented on #4239
This turned out not to be necessary: the library remains maintained after all, and the maintainer promptly merged last year a PR @chrisbobbe sent to fix this warning:
https://github.com/nikolaiwarner/react-native-text-input-reset/pull/14

We could still cut the library out if we learn that the issue it's meant to work around no longer applies, but that'd take some work to investigate, and there's

[2021-10-23 00:36] #4239 closed

[2021-10-23 00:36] #4283 closed

[2021-10-23 00:36] #4284 closed

[2021-10-23 01:28] gnprice commented on #4239
Well, perhaps I spoke too soon -- @chrisbobbe points out to me that while the library's maintainer did merge that PR, they haven't actually done a release since then: the latest is still (per https://www.npmjs.com/package/react-native-text-input-reset) 1.0.4, from 2019.

[2021-10-23 01:45] chrisbobbe opened #5071 "Offer Sinhala in the language picker UI"
I'm seeing in Transifex that mobile.json is at 54.1% translated: https://www.transifex.com/zulip/zulip/language/si/

[2021-10-23 05:40] gnprice opened #5072 "Keyboard state is wrong after picking @-mention or stream from autocomplete"
This issue appears on Android devices using certain keyboards. It does not occur with Gboard, so it does not occur on a typical Pixel device or emulator image.

I just observed this on v27.173 (the current alpha), on a Samsung J5 (model SM-J510FN) running Android 6.0.1. That's the only non-Google Android device I have lying around, but I [expect](https://github.com/zulip/zulip-mobile/issues/4239#i

[2021-10-26 11:28] joshtriplett opened #5077 "When replying with a quote, the cursor moves back to the beginning once the quote resolves, disrupting ongoing typing"
Steps to reproduce:

- Select a message.
- Make sure the text box isn't currently open (press esc if necessary).
- In quick succession, press `>` and then immediately start typing a reply.
- For a short time, the text box will include a note saying `Quoting` in square brackets, but you can keep typing while that box is present.
- After a moment, the note `Quoting` gets replaced by the quote. When

[2021-10-26 16:41] #5077 closed, assigned to nobody

[2021-10-26 20:12] alya opened #5079 "Make it possible to insert local time"
The [local times widget](https://zulip.com/help/format-your-message-using-markdown#mention-a-time) is very useful, but can be difficult to discover. On mobile, it is *very* difficult to insert a new local time, as it requires manually typing the appropriate syntax, which is not designed to be easy to enter by hand.

 To address these challenges, we should add a compose box button to insert a local

[2021-10-26 20:24] alya opened #5080 "Move compose box buttons into a row below the compose box"
At present, compose box buttons are accessed via a "plus" symbol to the left of the compose box. Clicking on "plus" expands the buttons on the same line as the compose box. This works OK with the buttons we currently have, but is likely to no longer look good as we start adding more buttons (#3427, #5079).

We should try moving the row of buttons below the compose box. We may need to play with the

[2021-10-26 21:06] gnprice opened #5081 "ESLint error when touched a lint-excluded file"
When you run `tools/test` and one of the files that was touched was a file we exclude in our .eslintignore, it fails with an ESLint error.

This doesn't affect CI (with `tools/test --all-files`); only the interactive `tools/test`, including `--diff`.

As discussed at https://github.com/zulip/zulip-mobile/issues/4430#issuecomment-767297445, this is basically due to a bug in the interaction of `tool

[2021-10-26 23:20] #5081 closed, assigned to gnprice

[2021-10-28 01:08] chrisbobbe opened #5086 "Debug and fix massive APK size, new in v27.170."
It's been [reported](https://github.com/zulip/zulip-mobile/issues/1270#issuecomment-949969030) that our APK has gotten _really_ big. The latest beta, [v27.174](https://github.com/zulip/zulip-mobile/releases/tag/v27.174), is 126 MB.

Looking at the GitHub releases, it went from 41.6 MB in v27.169 to 126 MB in v27.170. The most likely-looking thing in the v27.170 release notes is the RN v0.64 upgrad

[2021-10-29 19:06] gnprice opened #5087 "Eliminate unused code for Firebase analytics"
On Android we use Firebase Cloud Messaging (FCM) to deliver push notifications, because for devices with Google Play it's the standard service that lets us get updates promptly without having to keep waking up and draining the user's battery to check for them.

The Firebase folks at Google would like for this to lead us to also use their analytics service. We don't, and indeed have gone out of our

[2021-10-29 19:11] gnprice commented on #1270
Thanks, those details are helpful. Nothing to apologize for. I've filed #5087 as an issue specifically for getting that code out of the build.

I'll reiterate, though, that we do not use Firebase Analytics -- it's not configured, and it's not reporting anything. (Details in that issue #5087, which is also the best place to discuss further.) But it would be nice to remove the code too, so that a sc

[2021-10-29 19:12] gnprice commented on #3838
We'v heard another recommendation of this at https://github.com/zulip/zulip-mobile/issues/1270#issuecomment-954483474:

[2021-10-29 20:22] IzzySoft commented on #1270
I cannot tell that without running some tests, so I'm far from accusing you of this :wink: My library scanner can only tell what is present, not whether it's used (or if it's only a stub). So ideally indeed, removing the code brings confidence: what's not present cannot be used. Above config should take care that the build doesn't include the analytics parts (so my scanner wouldn't report it as it

[2021-10-29 20:30] Jumeb commented on #4930
I would love to work on this task and also experiment with the ideas you have given to see the end results.
Will be sending screenshots in the days ahead.

[2021-10-29 23:02] alya opened #5088 "Display organization name and logo in account picker"
At present, the "Pick account" screen shows the user's account email and organization URLs, but does not provide any other info.

It would be very helpful (and more attractive) to additionally display the organization's name and logo. The layout of an organization card could then be:

* Org logo on the left
* Line 1: [org name] (large)
* Line 2: [org url] (small or medium?)
* Line 3: "Login email:

[2021-10-29 23:18] alya opened #5089 "Add app bar to main views"
At present, the four main views accessible via the bottom navigation buttons do not have an [app bar](https://material.io/components/app-bars-top). This makes it harder to figure out at a glance what you're looking at. Not having one also complicates other UI choices:

* An app bar is also the most natural solution for where to put a button to open the left-side navigation menu (#4851).
* It would

[2021-10-30 08:15] sumj25 commented on #5088
I'm working on this issue and would like to claim it.

[2021-10-31 11:10] Somena1 commented on #4978
@gnprice I'm trying to resolve this issue, I understand Kotlin and js not react, so I'm finding it hard to fix this particular issue, my proposal is.
Add a state property to lock interacting with the list until the onPress callback has completed, then unlock the list, so when a user navigates back, the list will be unlocked.

I'm looking at theses files
https://github.com/zulip/zulip-mobile/blob/m

[2021-11-02 12:18] suehirego commented on #5089
I'm working on this issue and would like to claim it

[2021-11-02 14:53] Jumeb commented on #4930
@alya I read the tread attached to this issue and I think I found origin of the webView jumps.
I did some experiments and I found out that when we animate the scalling, there's some sort of virtual box that is left behind  by the animated component, then we now abruptly change the the display from **flex** to **none** without animation (cannot animate display) then it creates this empty space whic

[2021-11-02 15:18] Jumeb commented on #4526
I think the problem comes from switching the `display` property from **flex** to **none**. I discussed this with @alya [here](https://github.com/zulip/zulip-mobile/issues/4930#issuecomment-957750324)

[2021-11-02 16:57] alya commented on #4930
Since I'm not an engineer, @gnprice  or @chrisbobbe will need to comment on the technical details. :)

[2021-11-02 16:58] alya commented on #4930
It's probably best to have a discussion more interactively on chat.zulip.org.

[2021-11-02 21:57] Jumeb commented on #4930
Thanks for the comment @alya

[2021-11-02 22:12] gnprice commented on #3119
When we implement this, we'll also want to clear old notifications whenever we reach over 400 outstanding notifications. Rationale in this chat thread:
https://chat.zulip.org/#narrow/stream/378-api-design/topic/truncating.20.60remove.60.20push.20notifications/near/1230596

(I'm not sure the OS will even let us get to that many in the first place; and if it does, it's not going to be a good user ex

[2021-11-02 22:19] gnprice opened #5096 "Clear oldest notifications when you have a giant number of them"
On Android, if we find ourselves with over 400 messages' worth of notifications to show you, we should forget the oldest ones to keep it to the latest 400.

(The same thing applies on iOS too, but we don't currently actively manage notifications there at all, so this becomes part of the spec for #3119 which is to do so: see https://github.com/zulip/zulip-mobile/issues/3119#issuecomment-958251758 .

[2021-11-02 22:50] Jumeb commented on #4993
Can I work on this issue??

[2021-11-02 23:38] alya commented on #4993
Seems like a fine issue to pick up to me. :)

[2021-11-03 00:40] chrisbobbe opened #5097 "Share to Android: After sharing once, app opened to "share" screen on startup the next few times"
@timabbott reports that, after sharing to Zulip once, the next few times he opened the app, it had him on the "share" screen.

I just looked at the code, and I don't have a specific diagnosis yet.

I don't think it's a problem with how we're organizing our React Navigation screens; I can say more about this.

I think we're immediately navigating to the sharing screen, from some other initial scree

[2021-11-03 15:32] chetas411 commented on #5080
So I have two approaches, either I pull out the row of buttons part from the composeMenu component and make it a separate component ans use two version of the menu separately or the other way is I add more states in composeBox component and add some logic so that theere remains only single component i.e. composeMenu and I add some logic via props that renders 2 versions on basis of conditions of p

[2021-11-03 19:46] alya commented on #5080
Agreed, the "plus" button should disappear when the buttons are expanded.

[2021-11-03 22:46] gnprice commented on #4930
It looks like this is really about #4526, about making the banner no longer cause the screen to jump. This issue #4930 is about replacing the banner with something else.

In any case, for cross-reference, here's the [chat thread](https://chat.zulip.org/#narrow/stream/48-mobile/topic/.23M4526.20.22Unread.20messages.22.20causes.20screen.20to.20jump/near/1275655) from that comment.

[2021-11-04 17:05] gnprice opened #5101 "Target Android 12 (set targetSdkVersion to 31), by 2022-11 deadline"
This is the successor to #4284 (and #3665 and #3563 and #3075). We should update our `targetSdkVersion` to 31, meaning Android 12.

Based on [the last few years' experience](https://support.google.com/googleplay/android-developer/answer/113469#targetsdk), Google Play will probably set a deadline for this of late 2022. It's been the first business day of November in each of the last few years.

The

[2021-11-04 18:06] chrisbobbe opened #5102 "Don't allow connecting to ancient servers."
We currently have a `ServerCompatBanner` to warn the user if they're connected to a Zulip server that's on a version we don't support anymore, and ask them to nag their admin to upgrade, with a link to instructions. The threshold for showing that nag banner is currently ~2.1.0~ 3.0, since #5334; that version number is meant to be updated along with https://zulip.readthedocs.io/en/stable/overview/r

[2021-11-05 18:05] thisisnitish commented on #4920
Thanks for your patience @chrisbobbe!, I've gone through it. So far I observed is:
* When I click any topic, stream I see narrow goes so much above and when I click any PM then I sometimes and sometimes not.
* Basically, I've observed is, the number of times narrow lands very far in past for topics, streams >> the number of times narrow lands very far in past for PMs.
I haven't found any pattern y

[2021-11-05 22:32] chrisbobbe commented on #5089
Thanks, @suehirego! Please let us know what questions you have, here or on chat.zulip.org.

[2021-11-05 23:23] alya opened #5109 ""Build and run the app" instructions clarification"
In the instructions at https://github.com/zulip/zulip-mobile/blob/main/docs/howto/build-run.md, we say:

"To install the React Native tools, and either Xcode or the Android SDK and Android Studio, follow the helpful instructions from React Native upstream on Setting up the development environment."

Those [instructions](https://reactnative.dev/docs/environment-setup) say specifically to do the fol

[2021-11-07 05:00] kirtanlab commented on #5089
I want to work on this @chrisbobbe

[2021-11-07 05:06] kirtanlab commented on #5089
actually which different components are needed at the top app bar? and what about existing components?

[2021-11-07 09:54] chetas411 commented on #5080
https://user-images.githubusercontent.com/65273718/140638602-70840fe0-7699-4dcb-863d-b5ce5a84cf89.mp4

[2021-11-07 09:55] chetas411 commented on #5080
do we want something like thsi @alya @chrisbobbe ?

[2021-11-08 10:48] abdullahranginwala commented on #5109
Hello! Is this issue open? I would like to work on it if it is.

[2021-11-08 17:06] alya commented on #5080
For the most part, that looks good to me!

I think we need to change the "collapse" (`<`) button, since it no longer has icons to the right of it in the new design. Perhaps just changing it to a `^` would work?

[2021-11-08 17:48] alya commented on #5109
@abdullahranginwala please find an issue with a "good first issue" or "help wanted" label.

[2021-11-08 22:36] chrisbobbe commented on #4540
Also related: #2684

[2021-11-08 22:48] chrisbobbe commented on #3577
Since this was split off from the issue for bumping `targetSdkVersion` to 26, and we've recently moved the `targetSdkVersion` to 30, in #4284, I think this has gone stale. When we resolved #4284, we thoroughly tested all the Android download/share flows we could think of.

[2021-11-08 22:48] #3577 closed

[2021-11-08 23:45] #2691 closed

[2021-11-08 23:50] gnprice commented on #4633
This was accomplished as part of #4842. We actually stopped keeping our own data structure here, leaving it to the OS, and we arranged there for the data to be appropriately separate.

[2021-11-08 23:50] #4633 closed

[2021-11-09 00:46] gnprice opened #5115 "Use org name rather than URL for heading of Android notif group"
From https://github.com/zulip/zulip-mobile/pull/4842#issuecomment-963481595 , a followup after #4842 which gave us nice grouped notifications:

The heading for the whole group of notifications for a given Zulip account identifies the account by the org's URL. Probably this should be the org name instead.

There are two subtasks here: gather the information to make the UI choice of what we do want

[2021-11-09 01:08] gnprice opened #5116 "Better title group PMs in Android notifications"
From https://github.com/zulip/zulip-mobile/pull/4842#issuecomment-963481595 , a followup after #4842 which gave us nice grouped notifications:

For group PMs, the conversation heading is like "from Greg Price with 1 other"; it names the sender (of the latest message) but not any of the other people in the thread.

The "and N others" form is unavoidable at some point when there are lots of people i

[2021-11-09 01:46] gnprice opened #5117 "Read our stored Redux data from Kotlin"
This is something we've talked about in a number of places. Filing this to have a single thread to cross-reference.

The notifications we show on Android are driven by Android-native code, written in Kotlin and running on the JVM, unlike the bulk of our code which runs in JS in the React Native environment. (On iOS we don't involve any of our client-side code at all; at some point we'll build fanc

[2021-11-09 07:53] chetas411 commented on #5080
I have inlcuded the change suggested by you @alya. Please review the PR.

[2021-11-09 09:05] chetas411 commented on #4919
want to try it

[2021-11-09 19:45] thisisnitish commented on #4869
@aly!, I tried a lot with this issue. Could you please explain a little bit more. I still not able to figure out where to start. Thanks 🙂

[2021-11-09 19:49] alya commented on #4869
Hi @thisisnitish , please post any specific questions you have, as it's hard to help with such a general request. See [here](https://jvns.ca/blog/good-questions/) for some tips on asking good questions.

[2021-11-09 19:58] thisisnitish commented on #4869
Thanks @alya!, since we both have worked on some issues, so I thought you will understand.

Sure I'll check it once and I will get back to you. Thanks 😊

[2021-11-09 22:52] gnprice commented on #4860
On Android, part 1 is already available today, through the system settings UI. Here's some OK instructions for it:
https://www.lifewire.com/how-to-change-create-android-notification-sounds-4783114
Those instructions have you navigate to the system notification settings via some apps' own internal settings. But you can do the same thing just as well for any app; here's [a Google help page](https://

[2021-11-10 03:07] gnprice opened #5119 "Notifications can leave a ghostly heading-notification behind"
This is an issue that doesn't exist in any released version; it was introduced with the spiffy new form of notification in #4842, and I discovered it later yesterday while preparing some refactors to that code after merge.

The repro recipe is:
* Have notifications active for several conversations in the same account; e.g., have another user send PMs in two different threads.
* Go read all those c

[2021-11-10 03:13] gnprice opened #5120 "Reading one conversation can cause another one's notification to disappear"
This is an issue that doesn't exist in any released version; it was introduced with the spiffy new form of notification in #4842, and I discovered it today while writing and testing a fix for #5119. It's a sort of inverse to that bug.

A repro recipe is:
* Have notifications active for two conversations in the same account.
* Dismiss one of the notifications, in the notifications UI (e.g. by swipi

[2021-11-10 13:11] AkashDhiman opened #5124 "Scrolling up a lot, and then coming to the latest message, makes `MessageList` partially blank"
Steps to reproduce:
1. Be at any narrow (tested in stream and search_narrow)
2. Scroll up a lot (enough to trigger fetchOlder 2-3 times)
3. come down to the latest message (by using the navigate to latest button in the bottom right corner, or scrolling down)

* Also a thing to note, is that my scroll speed for both up and down was really fast.

Screen capture of the result:
![ScreenShot](https://u

[2021-11-10 15:09] thisisnitish commented on #4869
@alya! Till now, I've observed is, searching of user doesn't starts from the first character it starts from the second character. But in our web app, searching starts from the beginning itself. Correct me if I'm wrong. Thanks 🙂

[2021-11-10 19:14] alya commented on #4869
@thisisnitish Yes, there is a separate issue for changing that behavior on mobile: #4872.

[2021-11-11 00:29] #5068 closed

[2021-11-11 02:41] andersk opened #5126 "Sticky recipient headers don’t scroll out of the way when new ones scroll in"
Looking closely at these screenshots from scrolling the all messages view:

![screenshots](https://user-images.githubusercontent.com/26471/141227709-0e0cfd81-faa0-4c2a-b7bf-2ef96f5819f2.png)

As the #design header scrolls into place, the #commits header should scroll out of the way, but it doesn’t. Since the #design header is a hair taller than the #commits header for whatever reason, the former r

[2021-11-11 06:57] gnprice commented on #5101
Well, here's one blocker:
  https://developer.android.com/about/versions/12/behavior-changes-12#notification-trampolines
We'll need to replace our `NotificationIntentService`, which we use when you tap a notification to open it, with directly opening an Activity. (We learned about this from a lint warning in Android Studio: https://github.com/zulip/zulip-mobile/pull/5121#discussion_r747107709)
* I

[2021-11-12 23:23] dm17 commented on #1270
I would considering Zulip if it was up-to-date on F-DROID.

[2021-11-13 15:05] chetas411 commented on #5080
@chrisbobbe can you review the latest PR ?

[2021-11-14 12:13] SilentCruzer commented on #4939
I would like to work on this issue.

[2021-11-15 18:10] Nadrieril opened #5127 "Sharing to PM is practically unusable"
I have a few private group conversations on Zulip, to which I would like to share stuff from other apps (on Android). Currently every time I share (say an image) to Zulip, I have to individually find and select every member of that group in order for the image to get sent to the right place. If I forget someone then a new group conversation gets created, which is never what I want.
What I would li

[2021-11-16 00:44] alya commented on #5127
Related issue: #5057

[2021-11-16 00:49] alya commented on #5057
Yeah, having the "Choose recipients" button take you to the private messages tab makes sense to me. @AkashDhiman @gnprice does that sound right? How complex is this change?

[2021-11-16 22:15] #5119 closed

[2021-11-16 22:15] #5120 closed

[2021-11-16 23:22] gnprice opened #5128 "Support Android Auto (voice commands) in notifications"
We [heard a feature request](https://chat.zulip.org/#narrow/stream/48-mobile/topic/android.20auto.2Fcarplay.3F/near/1282479) to add support for Android Auto. The purpose of this from a user perspective is

The relevant upstream docs are here:
https://developer.android.com/training/cars/messaging

This will require #4861 as a prerequisite. We'll also need a similar action for "mark as read".

Once

[2021-11-16 23:26] gnprice opened #5129 "Support Apple CarPlay (voice interface)"
We [heard a feature request](https://chat.zulip.org/#narrow/stream/48-mobile/topic/android.20auto.2Fcarplay.3F/near/1282479) to add support for Apple CarPlay. The purpose of this from a user perspective is

The relevant upstream docs are here:
https://developer.apple.com/carplay/
https://developer.apple.com/design/human-interface-guidelines/carplay/overview/messaging-and-voip-apps/

I haven't yet

[2021-11-17 21:38] chrisbobbe commented on #5080
What use cases does (2) answer that (1) doesn't? After looking at those videos (thanks @chetas411!) I'm thinking we may not need a button at all, and we can just do (1).

- I think it's simpler to have just one way to toggle than two. And (1) is maybe more appropriate than (2), since the row gives tools for composing a message, and composing a message is something you're only doing when the messag

[2021-11-17 22:00] alya commented on #5080
If you look at other apps, they do have a `+` button that can be used to attach files/pictures/etc. I think the idea is that the user's mental model might be not, "I want to compose a message", but "I want to send a picture," and in that case putting the cursor into the compose box is not a natural starting point.

[2021-11-18 17:48] chrisbobbe opened #5133 "Migrate to "Expo modules", from `react-native-unimodules`"
—https://blog.expo.dev/whats-new-in-expo-modules-infrastructure-7a7cdda81ebc

The migration guide is [here](https://github.com/expo/fyi/blob/main/expo-modules-migration.md).

We'll want to do the "manual configuration" step because we have nontrivial custom code in `android/` and `ios/` and can't just clear those out and run a command to replace them.

[2021-11-20 02:08] gnprice commented on #3150
I've retitled this to reflect what we actually want to do here, for the reasons I explained at https://github.com/zulip/zulip-mobile/pull/3233#issuecomment-450245374 back in 2018.

New chat discussion here:
https://chat.zulip.org/#narrow/stream/48-mobile/topic/notification.20sound/near/1280133

[2021-11-20 02:09] gnprice commented on #3101
Retitled this issue for the same reason as its Android twin: https://github.com/zulip/zulip-mobile/issues/3150#issuecomment-974575436

[2021-11-20 02:13] gnprice opened #5136 "Give notifications a distinct vibration pattern, on Android"
This is a sort of sibling issue to #3150 -- in addition to using a distinct, recognizable sound, I'd like to use a distinct, recognizable vibration pattern. This is for basically the same reason as the OP of #3150 explained there:

Chat discussion [here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/notification.20vibration.20pattern/near/1280242) with details.

Unlike with sounds, it look

[2021-11-21 13:34] chetas411 commented on #5080
@alya @chrisbobbe so is this change fine or any further changes required for this issue ?

[2021-11-22 18:54] MrMischievousX commented on #5079
Hello, i would like to work on this issue if its not already taken. I have did some of it please check it
![Simulator Screen Shot - iPhone 12 - 2021-11-23 at 00 22 26](https://user-images.githubusercontent.com/721983
![Simulator Screen Shot - iPhone 12 - 2021-11-23 at 00 22 33](https://user-images.githubusercontent.com/72198360/142918971-3449369d-39ef-4150-872d-93bc92e2794d.png)
60/142918961-b6900

[2021-11-22 19:09] alya commented on #5079
@MrMischievousX please play around with the `<time` widget in the Zulip webapp to better understand the required functionality.

[2021-11-22 22:58] chrisbobbe commented on #5080
@alya which apps are you thinking of?

I've just looked at Slack on iOS and Android, and it looks like on both platforms they use an approach like I described in https://github.com/zulip/zulip-mobile/issues/5080#issuecomment-972076840. They have a row of buttons under the message input, and you show or hide the row just by moving the focus in and out of the message input; there isn't a button for

[2021-11-22 23:05] alya commented on #5080
Hmm, what I had in mind is that Slack and Discord (on Android) *always* show the "+" button, even when no other formatting buttons are visible.

Perhaps we should discuss on CZO?
![Screenshot_20211122-150249_Slack](https://user-images.githubusercontent.com/2090066/142948136-8dbe7e4d-dced-41dd-bd18-4ee73e1e847e.jpg)
![Screenshot_20211122-150327_Discord](https://user-images.githubusercontent.com/209

[2021-11-22 23:13] chrisbobbe commented on #5080
Sure: https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M5080.20Move.20compose.20box.20buttons.20into.20a.20row.20below.20the.20compose/near/1285321

[2021-11-23 00:55] thisisnitish commented on #5088
@alya @chrisbobbe  Can I try this issue?

[2021-11-23 01:14] #5136 closed

[2021-11-23 01:28] sumj25 commented on #5088
@thisisnitish Hii this has been resolved, I made a pull request, hope it merged successfully.

[2021-11-23 04:59] MrMischievousX commented on #5079
Something similar to webap

https://user-images.githubusercontent.com/72198360/142973456-7ab73aeb-a49a-4398-8491-26f0bb286101.mov

p

[2021-11-23 17:02] alya commented on #5079
Cool!

We generally follow Material Design for the design of our app, so I think we'll want a different look for the time picker that's consistent with those guidelines.

https://material.io/components/time-pickers
https://material.io/components/date-pickers

When you have the next iteration or if you have questions, you start a thread in [#mobile-team on chat.zulip.org](https://chat.zulip.org/#na

[2021-11-23 20:01] #1507 closed

[2021-11-24 00:40] #4631 closed

[2021-11-24 01:00] thisisnitish commented on #4919
@alya, @chrisbobbe Can I give it a try this issue?

[2021-11-24 01:47] alya commented on #4919
Sure!

[2021-11-24 04:10] alya commented on #5080
Ok, based on the discussion in the CZO thread linked above, let's limit this issue to just the first part:

[2021-11-24 04:25] alya opened #5141 "Make "+" open an action sheet instead of row of buttons"
At present, compose box buttons are accessed via a "plus" symbol to the left of the compose box. Clicking on "plus" expands the buttons on the same line as the compose box. This works OK with the buttons we currently have, but is likely to no longer look good as we start adding more buttons (#3427, #5079).

In #5080, we change this behavior so that putting the cursor into the compose box will open

[2021-11-24 04:50] thisisnitish commented on #4919
Thanks @alya!, I'll start working on this 😊

[2021-11-24 05:28] sumj25 commented on #5141
I'm working on this issue and would like to claim it.

[2021-11-24 13:58] chetas411 commented on #5080
So should I make functionality for `+` button same as before or is this fine as well because anyhow  #5141 will gonna change it again ?

[2021-11-24 18:48] alya commented on #5080
For this PR, we should make the functionality for the `+` button as before when it is shown. We want to make this PR mergeable separately from #5141, and that will be the way to do that.

Thanks!

[2021-11-26 16:54] carlinmack commented on #2900
This would greatly help our organisation where we have a custom field for pronouns (necessary for referring to people). Also, showing emails on mobile would be very helpful as we have many members with the same name and sadly they haven't set a picture.

[2021-11-27 08:17] ARJITMALIK commented on #5126
Hey @andersk , may I know your device specifics because I was not able to reproduce the issue you are having.
For my device headers in the all messages tab sticking perfectly

I tried it on an android device

[2021-11-27 11:03] andersk commented on #5126
This is not a device-specific issue. The thin sliver symptom (as seen in the right screenshot) may depend on the device resolution and font size, but that is not the root issue. The root issue is that sticky headers are supposed to scroll out of the way when new ones scroll in, and these ones do not (as seen in the middle screenshot).

If you are curious, my device is a Pixel 6 with font size and

[2021-11-28 10:37] chetas411 commented on #5080
@alya I have made the changes proposed by you,  can you review ?

https://user-images.githubusercontent.com/65273718/143764414-27ca420c-ff93-41c1-acc2-cb514cb424e1.mp4

[2021-11-29 19:03] thisisnitish commented on #4919
@alya!, I'm done with the logic part but I'm stuck with the UI part. Will try to finish asap. Thanks 🙂

[2021-12-02 19:38] gnprice opened #5143 "Unread-PMs count is below center and can get clipped"
From a report [in chat](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/unread.20count.20is.20not.20visible.20properly.20in.20overlay.2E/near/1286941):
![image](https://user-images.githubusercontent.com/28173/144490956-f0549274-530c-4d70-8c84-5513e6933524.png)

This would be good to fix, because it's pretty broken-looking and can be pretty conspicuous depending on your usage pattern.

[2021-12-02 20:54] andersk commented on #5126
I note that the sticky stream headers in the unread topics view behave correctly.

[2021-12-02 22:14] chrisbobbe opened #5145 "android notif: Replace our `NotificationIntentService` with directly opening MainActivity"
_Originally posted by @gnprice in https://github.com/zulip/zulip-mobile/issues/5101#issuecomment-966039530_

[2021-12-02 22:15] chrisbobbe commented on #5145
I used a handy "reference in new issue" button in the GitHub UI to make this issue, and tweaked the output a bit:

![image](https://user-images.githubusercontent.com/22248748/144511868-c1e8cda0-64ea-4c6c-b273-e160d142ef85.png)

[2021-12-03 00:16] gnprice commented on #5031
This was fixed by #5051.

[2021-12-03 00:16] #5031 closed

[2021-12-03 02:05] chrisbobbe commented on #3624
There's a small problem: on the current latest react-native-image-picker (4.3.0), the response from the image picker doesn't include `fileName` for videos, so our code fails. The fix should be pretty simple, and I've sent a PR: https://github.com/react-native-image-picker/react-native-image-picker/pull/1880 . With that change, it works as I'd expect with `mediaType: 'mixed'`, on iOS. (Haven't test

[2021-12-03 02:55] chrisbobbe opened #5148 "file/image/video uploads: Respect `max_file_upload_size_mib` server setting"
- Store the value in Redux (get it from the `/register` response and realm update events)
- Read the file size of a file/image/video the user wants to upload
- Prevent starting the upload if that size is bigger than the server setting
- (If somehow the user manages to start the upload anyway, and the server gives an error that the file is too big, recognize the error and alert the user appropriate

[2021-12-03 03:29] #5143 closed

[2021-12-03 03:32] gnprice commented on #4904
#5147 replaced the code that was responsible for showing this count, so it may have fixed this issue as a side effect. It'd be good to check whether it still reproduces.

[2021-12-03 19:47] thisisnitish commented on #4919
@alya!, just a quick update, I'm stuck with the below UI. I'll try to solve it asap. Thanks 🙂
![image](https://user-images.githubusercontent.com/48220369/144663900-c235c388-5688-4fe9-84fd-e4e856d2974c.png)

[2021-12-03 20:10] alya opened #5150 "Modals in dark theme should be dark"
At present, our dark theme uses light theme modals, which do not fit with the theme:
![Screenshot_20211203-075257_Zulip](https://user-images.githubusercontent.com/2090066/144666086-da9f3c9e-4dac-4ffe-b123-754dad502ba3.jpg)

Instead, the dark theme should have dark theme modals, similar to the topic selection widget:

![Screenshot_20211203-120730_Zulip](https://user-images.githubusercontent.com/209

[2021-12-03 20:13] alya commented on #4609
Definitely! Dark theme should have dark theme action sheets, similar to the topic selection widget:
![Screenshot_20211203-120730_Zulip](https://user-images.githubusercontent.com/2090066/144666929-ce09a263-a882-4d03-aded-ae02b3fca016.jpg)

[2021-12-03 20:13] alya commented on #5150
Closing as a duplicate of #4609.

[2021-12-03 20:13] #5150 closed

[2021-12-03 22:31] alya opened #5151 "Support /todo widget"
At present, the /todo widget is not supported on mobile. To make this feature fully usable, we should add mobile support.

It should ideally be possible to:

1) View /todo widgets.
2) Check/uncheck tasks.
3) Add new tasks.
4) Keep parity with the web app when additional features in [#20213](https://github.com/zulip/zulip/issues/20213) are implemented.

For the initial version of this feature, it w

[2021-12-04 02:28] chrisbobbe commented on #3624
I've just filed https://github.com/react-native-image-picker/react-native-image-picker/pull/1881 for another issue, then maybe it'll be simple? 🤞

[2021-12-04 05:41] gnprice commented on #3119
In fact, it appears the OS only keeps our latest 100 notifications in the first place!

I recently turned on a notifications firehose for myself by enabling notifications on all my (unmuted) messages in chat.zulip.org, partly in order to better exercise our new Android notifications experience that's set for the next release. As a result I have lots of notifications... particularly on iOS devices

[2021-12-06 20:01] chrisbobbe opened #5152 "Just-opened narrow sometimes flickers "no messages" before fetch has started"
[code]

We fudge `fetching.older` and `fetching.newer` as `false` in `fetchingReducer` when this is a narrow we've just opened; one that `state.fetching` doesn't have info for yet.

`fetchMessagesInNarrow` correctly sets `fetching.older` and `fetching.newer` to `true` when it's called. But by the time it's called, it's too late: the `false` values have already made `sayNoMessages` `true`, wrongly,

[2021-12-06 20:15] chrisbobbe commented on #2366
We've had another report of this: https://chat.zulip.org/#narrow/stream/48-mobile/topic/Bug.20reports/near/1292530

[2021-12-06 20:15] chrisbobbe commented on #4540
We've had another report of this: https://chat.zulip.org/#narrow/stream/48-mobile/topic/Bug.20reports/near/1292530

Marking as P1.

[2021-12-06 20:16] chrisbobbe commented on #2684
We've had another report of this: https://chat.zulip.org/#narrow/stream/48-mobile/topic/Bug.20reports/near/1292548

[2021-12-06 20:42] gnprice commented on #4840
This causes pretty frustrating behavior when it happens: there's a thread in the unreads list, you tap on it to open, and then we fetch and find no messages, producing a nonsensical screen like this (reported [in chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Bug.20reports/near/1291806); discussion below that from [about here](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Bug.

[2021-12-06 20:48] chrisbobbe commented on #5152
Should we be fudging it as `true`, or not fudging it at all?

[2021-12-06 21:15] gnprice opened #5154 "Add "Copy link to stream" to stream action sheet"
Much like #4863, but for streams.

Reported by @jyn514 [in a chat thread](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Bug.20reports/near/1292635).

[2021-12-06 21:17] #4037 closed

[2021-12-06 21:36] gnprice commented on #1773
@jyn514 reported this today [in chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Bug.20reports/near/1292685).

[2021-12-06 21:39] jyn514 commented on #1773
What about the desktop display is inconsistent and not robust?

[2021-12-06 21:52] gnprice commented on #1975
We heard this feature request [in chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Bug.20reports/near/1292716) again today, from @jyn514 and echoed by @timabbott.

(To simplify this thread, I've hidden some comments above that were discussing whether we want this feature at all; at this point I think it's clear that we do.)

[2021-12-06 21:56] gnprice commented on #1975
A neat bonus UI for this feature would be that you can get to it by swiping right on the message -- this is something [Signal and WhatsApp do](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Bug.20reports/near/1292739).

But that can be a follow-up issue after we have the feature in the first place. This issue is for adding this feature as an option in the message action sheet (what you get

[2021-12-06 22:00] gnprice commented on #2688
Reported again today, by @jyn514 [in chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Bug.20reports/near/1292558). I've bumped this to P1, as it's pretty conspicuously broken when it happens.

[2021-12-06 23:42] cyphase commented on #4037
Duplicate of #1975, I believe.

[2021-12-07 01:33] chrisbobbe commented on #4840
Oops, I accidentally assigned myself before remembering that #4980 is in progress. Fixed now.

[2021-12-07 19:19] chrisbobbe opened #5156 ""Mark all as read" button for PMs"
Tim has reported a few times ([here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Mark.20as.20read.20bugs/near/1293359) and [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Mark.20as.20read.20in.20PMs/near/1252998)) a bug where there's no "mark all as read" button for a PM conversation. We should add one.

There isn't an API endpoint for marking a whole PM conversa

[2021-12-07 20:07] timabbott commented on #5156
I think for all practical purposes, the `unread_msgs` data set should have the complete set of unread message IDs; it'll be the most recent 50K message IDs that are unread; the chances that a user is looking at a PM thread that contains unreads that are older than 50K other unreads are very low (and in that situation, the solution is probably a top-level notice to the user in the UI, not a change

[2021-12-07 21:44] gnprice commented on #5156
That strategy sounds good to me.

Once we implement the TODO in that comment quoted above, then the unreads data (what we initialize from `unread_msgs`) will also contain any messages you're looking at now that are unread.

I think the most realistic case where you could have an unread PM that's out of the 50k window is something like: you join some very busy org; you stop being active; you get so

[2021-12-07 22:20] timabbott commented on #5156
Yeah, it's not super common, and also I would expect that having loaded the given narrow would insert into your local `unread_msgs` data structure any unreads in the PM thread, so it'd also have to be the case that you had more unread PMs than fit into the fetch buffer for the view.

(Actually, I have no idea whether the `GET /messages` code for the mobile app does that sort of unread message logi

[2021-12-07 22:25] gnprice commented on #5156
Yeah, we ideally should but currently don't; that's exactly what the TODO comment quoted above is about. (The context of where it appears is that it's exactly the spot where we're maintaining the unreads data structure and are presented with the data from having loaded the messages for some narrow.)

[2021-12-08 21:57] #5145 closed

[2021-12-09 08:38] chrisbobbe opened #5162 "ios: App unusable if "Prefer Cross-Fade Transitions" a11y setting is set"
See diagnosis at https://chat.zulip.org/#narrow/stream/48-mobile/topic/login.20bug/near/1294340, and see https://github.com/facebook/react-native/issues/29974.

I'm putting together a PR; filing this now so that I can give it a `Fixes:` line, as this was a pretty stubborn bug.

The `severe: crash` label is because the usable part of the screen went blank. The only way to undo that was to restart t

[2021-12-10 23:28] alya opened #5165 "Make it possible to move topics and messages"
To match web app functionality, we should make it possible to move topics and messages in the mobile app. Implementing just one of these would be an improvement; they do not have to be done at the same time.

## Moving an entire topic
We should make it possible to move an entire topic by adding a "Move topic" option to the **topic** long-press menu. Selecting this option should open a modal simila

[2021-12-13 14:16] Aaron1011 opened #5166 "Allow copying a username"
While it's possible to copy a particular message to the clipboard, it's not possible to copy a particular user's username. This would be very helpful when a username contains non-ASCII characters.

[2021-12-13 19:18] thisisnitish commented on #4919
@alya!, Thanks for your patience 🙂. I've figured out that how UI is going to be implemented. I've also started implementing.
I'll finish it asap. Thanks 🙂

[2021-12-13 20:22] gnprice commented on #3764
As an update to see (most of) what remains for this task, I tried commenting out the `email` property on `User`:
[code]
and seeing where Flow reported we're still using it.

- In several places we still use emails because old server versions didn't accept user IDs:
  - get-messages
  - sending PMs
  - subscribing other users to streams
  - sending typing status

  I think those are all old enough

[2021-12-13 21:17] gnprice commented on #4840
(I went to add myself as an assignee because I've picked up the PR #4980, but instead it unassigned Wesley. Then I fixed it.)

[2021-12-14 00:34] chrisbobbe commented on #4916
We've had another report of this: https://chat.zulip.org/#narrow/stream/48-mobile/topic/Bug.20reports/near/1296919

[2021-12-14 00:34] chrisbobbe commented on #4903
We've had another report of this: https://chat.zulip.org/#narrow/stream/48-mobile/topic/Bug.20reports/near/1296919

[2021-12-14 20:21] SilentCruzer commented on #5165
This seems like a good feature to have on mobile, can I work on this issue?. I also have one doubt, for these features, I am guessing we have to make a few API calls to update the streams, is there any resources or anywhere that I can refer to on how the API works?.

[2021-12-16 04:51] #4840 closed

[2021-12-16 19:40] alya opened #5169 "Rename "Night mode" to "Dark theme""
In https://github.com/zulip/zulip/issues/20228, we renamed "night mode" to "dark theme" in the web app and the Help center. We should make the mobile app theme name consistent with the web app as well.

[2021-12-16 21:20] #5156 closed

[2021-12-16 22:25] arcadioramos commented on #5169
I'll take it :)

[2021-12-16 22:38] arcadioramos commented on #5169
I've made the pr for this issue

[2021-12-16 23:50] chrisbobbe opened #5171 "Handle stricter length limit on Android toasts when targeting Android 12."
Here's an item that stands out in the list of behavior changes to watch out for when targeting Andriod 12 for the first time:

["Toast redesign"](https://developer.android.com/about/versions/12/behavior-changes-12#toast-redesign), specifically the new limit to two lines of text in a toast. We use `react-native-simple-toast`, which uses the native toast on Android.

One of our longer toast messages

[2021-12-17 00:23] chrisbobbe commented on #5101
A few items stand out in the list of breaking changes. Blank checkboxes are things we need to fix before targeting Android 12.

- I expect "Android App Links", as in ["Android App Links verification changes"](https://developer.android.com/about/versions/12/behavior-changes-12#android-app-links-verification-changes), won't be relevant until we work on #4577. It's something you can use so that your

[2021-12-17 08:20] sumj25 commented on #5154
I'm working on this issue and would like to claim it.

[2021-12-17 23:30] chrisbobbe commented on #5171
For the PM header long-press toast, Greg and I just discussed raising an action sheet on long press instead, like we do for topic recipient headers.

The list of full names makes sense as a title of that action sheet (I'd like to [localize it](https://formatjs.io/docs/react-intl/api/#formatlist); we may have to add some `Intl` polyfills), as long as it can't defeat any interactions by being too lo

[2021-12-21 20:46] #5162 closed

[2021-12-22 00:18] gnprice commented on #3604
Reported again today [in chat](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Bug.20reports/near/1300230) by @jyn514:

Probably the main symptom of this issue is when people follow the "said" links inserted by quote-and-reply. They work OK if the linked-to conversation is very short; but if it's longer, and especially if the link is within the same conversation -- which is very common for q

[2021-12-22 00:20] gnprice commented on #4377
I think this is in fact a report of #3604. In particular, the reference to "a previous message" sounds like it's about an earlier message in the same conversation, perhaps as linked to by the quote-and-reply "said" link.

[2021-12-22 00:20] #4377 closed

[2021-12-22 00:56] #5101 closed

[2021-12-22 00:56] #5171 closed

[2021-12-22 18:09] thisisnitish commented on #4919
@alya, @chrisbobbe!!, Could you please assign this issue to me. I'm working on this. Thanks 🙂

[2021-12-22 19:10] thisisnitish commented on #4919
Thanks @chrisbobbe!! 🙂. We will tackle this issue as well ✌🏻😁.

[2021-12-26 14:35] SilentCruzer commented on #5165
@alya , can I work on this issue? also, is there any API documentation as I mentioned before?

[2021-12-26 20:10] asah opened #5179 "Edit message you just sent"
![Screenshot_20211226-150820_Zulip](https://user-images.githubusercontent.com/140002/147418954-df5c788a-eab0-4c9b-8fd9-9f6ffb935583.jpg)

[2021-12-29 10:53] jaiakash commented on #4969
@zulipbot claim

[2021-12-29 10:59] jaiakash commented on #4824
@zulipbot claim

[2022-01-03 17:14] thisisnitish commented on #4919
@chrisbobbe! I've tried something with this issue and got stuck in this error. Could you please help me out??.
Actually my idea is like this:
In `PmConversationList`:
[code]
**But because of this, I'm getting an error:**
![Simulator Screen Shot - iPhone 12 - 2021-12-16 at 23 04 04](https://user-images.githubusercontent.com/48220369/147958871-c057f534-d499-4b90-90f6-09a36894b6e5.png)

**Now, The qu

[2022-01-04 10:02] plankt3r opened #5185 "Keyboard issue on the "New PM" screen"
Pressing the "New PM" button leads to a screen listing all the users. Once there, you can pick a user and send them a message. For some reason, the keyboard pops up immediately when you land on that page, covering part of the screen. Logically, it should only appear once you have selected a user and activated the compose box, as is implemented on the "New group PM" screen.

See in CZO: [#**mobile>

[2022-01-05 20:14] chrisbobbe commented on #5179
Thanks for the report! I think #4671 is likely to be the relevant bug here. We should offer message editing when you're looking at the "All messages" view.

A workaround is to edit the message from where it appears in the relevant stream or topic view.

[2022-01-05 21:34] alya commented on #5169
@arcadioramos please link the PR to the issue.

[2022-01-05 21:39] alya commented on #5179
Closing as a duplicate of #4671.

[2022-01-05 21:39] #5179 closed

[2022-01-05 21:39] alya commented on #4671
Bad user experience resulting from this reported in #5179.

[2022-01-05 22:02] arcadioramos commented on #5169
Done @alya  :)

[2022-01-06 07:23] WesleyAC commented on #4939
I looked into this a little bit today. This actually is a problem for emojis as well. For instance:

[code]

autocompletes to:

[code]

I think the fix here is to have `getAutocompletedText` return both a string and a selection — that's the place that has the info needed to make a decision about where the cursor should go.

[2022-01-06 23:56] alya commented on #5165
@SilentCruzer you're welcome to work on it; you can ask in the [#backend stream](https://chat.zulip.org/#narrow/stream/3-backend) on chat.zulip.org regarding API documentation.

As described in the [contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html), you can post a comment asking to claim this issue when you're ready:

[2022-01-07 18:34] thisisnitish commented on #4919
@chrisbobbe!, need your suggestion regarding this. Thanks 🙂

[2022-01-07 20:33] chrisbobbe commented on #4919
Hi! Thanks for your patience, @thisisnitish; sorry I didn't get to this earlier.

@alya, is there some design discussion on CZO that I should follow? The list is like the "Private messages" list in the left sidebar in the web app. About its data type, it isn't (and isn't meant to be) a list of users, exactly; it shows PM conversations, 1:1 and group. 1:1 conversations are represented by a single u

[2022-01-10 17:54] ArchitJain1201 commented on #5169
@alya want to confirm if the issue is still available? If yes, Please assign me.

[2022-01-11 18:17] chrisbobbe commented on #5169
@ArchitJain1201, the GitHub UI shows that this issue is assigned to `arcadioramos`.

[2022-01-11 18:45] thisisnitish commented on #4919
Thanks for your patience @chrisbobbe; That is a really good explanation, It took some time to digest 😉.

I also have one doubt regarding this.
If the user comes on the Zulip app for the first time, we already show `Notification Bot` and `Welcome Bot`. I think that is enough to make the user understand that this is a PM Screen and he/she could have more 1:1 PM conversations when he/she will press t

[2022-01-11 22:41] alya commented on #4919
Ah, sorry I forgot to post the link. I added it to the issue description: https://chat.zulip.org/#narrow/stream/48-mobile/topic/feedback.20on.20the.20list.20of.20users

[2022-01-11 22:49] alya commented on #4919
I  don't think we should remove the "New PM" button as part of this issue. At least, we have to have a way to search for users. Scrolling through a list of users to start a PM conversation is convenient in a small org, but would be a painful experience in a large org like CZO.

While in some sense "new" is not totally accurate (even now, you could use those buttons to get to an existing conversati

[2022-01-11 22:49] alya commented on #4919
Anyhow, if you guys have concerns about implementing this issue as described, we should probably continue the discussion in the above CZO thread.

[2022-01-12 12:50] ArchitJain1201 commented on #5038
@alya Can you assign me this issue ?

[2022-01-12 16:45] alya commented on #2941
Closing based on discussion above.

[2022-01-12 16:45] #2941 closed

[2022-01-12 18:38] thisisnitish commented on #4919
@chrisbobbe!,

    {
      title: 'conversations',
      data: conversations,
    },
    {
      title: 'filteredUser',
      data: userByGroup,
    },
  ];

I thought about the above `sections` definition because it will be little bit difficult to implement. So I thought, can we do something like this:
This will be little bit easy to implement.
[code]

I will try this and give you the glimpse. Th

[2022-01-12 22:15] #4687 closed

[2022-01-13 22:12] rbommel opened #5196 "Feature request: phone app could download messages while online"
It sometimes happens to me that I see a Zulip notification on my phone, but I am not in a place where I have internet anymore, and then I cannot read the message that I got. If Zulip can receive notifications on the background, could it maybe be an idea that it also tries to download to content of the message at the same time, so you can access it also when you are not online anymore?

[2022-01-15 05:17] chrisbobbe commented on #4919
Hi @thisisnitish, I'm sorry to say that after further discussion among @alya, @gnprice, and me, we've decided we need to think more about how the conversation screen should work, and it might end up being pretty different from the current proposal.

Thanks for the work you've put into implementing this, and for the screenshot 🙂. But it'd be best to choose a different issue; sorry again.

[2022-01-15 05:52] thisisnitish commented on #4919
Hi @chrisbobbe, It's okay for me, actually I learned a lot from this issue. I'm pretty sure, you people will make something good 😊. You have always worked as a mentor for me. Fine, I'll take the new issue. Thanks 🙂

[2022-01-18 17:54] thisisnitish commented on #5185
@chrisbobbe!, Could you please assign this issue to me. I want to work on it.

[2022-01-18 22:06] chrisbobbe commented on #5185
Sure! First, would you mind describing your plan for how to solve the issue? Thanks!

[2022-01-19 02:22] sumj25 commented on #5034
Hey @alya @merilaclau can i work on this issue?

[2022-01-19 06:28] alya commented on #5034
Looks like @merilaclau hasn't been active for a while on this issue, so assigning it to @sumj25 .

[2022-01-19 17:41] thisisnitish commented on #5185
Sure @chrisbobbe!,

* First, if you move to the users screen, where you see users list. That screen contains a search input.
* That input is already focused. The reason for this is, this screen is using `Screen` component as a wrapper and it has one prop name `autoFocus` and it is `true` as of now. But if we change it to `false`, then this bug can be fixed.
* The reason is, as soon as the screen l

[2022-01-19 23:44] chrisbobbe commented on #5133
OK, I've poked around a bit, trying to understand the changes listed [here](https://github.com/expo/fyi/blob/main/expo-modules-migration.md#manual-configuration) (with instructions to "apply" them to our project, but nothing that helps us understand exactly what'll happen if we do).

My pretty good guess right now is that those diffs are a subset of the changes in a "template app" maintained by Ex

[2022-01-20 20:04] sumj25 opened #5199 "Not Showing any alert if stream name already exist."
If I create a stream with the existing name then it shows no alert. Here's a web app behavior-

![Screenshot from 2022-01-21 00-52-35](https://user-images.githubusercontent.com/59159432/150412597-23c9d97e-4bc2-4bfd-9e5e-8dee8b2f4864.png)
-
We can do something sort of like this. see[CZO](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Not.20showing.20any.20alert.20if.20stream.20name.20a

[2022-01-21 00:58] alya commented on #5196
Thanks for the request @rbommel !

@gnprice would #4853 solve this issue?

[2022-01-21 01:47] rbommel commented on #5196
Thanks for your message! I think this is part of the solution, but ideally one needs more. In #4853, they suggest to only fetch data for active accounts, but in this case it would be better if the data is fetched for all accounts. Another problem is that the app currently sometimes keeps hanging on the loading screen if there is no internet connection. The behaviour that I suggest is that the app

[2022-01-22 01:44] chrisbobbe commented on #5133
This'll be too long for a commit message, so I'll leave it here. We have five `expo-*` modules, and they vary in whether they cut a new major version for the breaking change from "Unimodules" to "Expo modules". (As one effect of this, I haven't bothered to send one of my easy, catch-all `yarn upgrade` PRs in a long time. To get it mergeable, I'd have had to spend time figuring out exactly which Ex

[2022-01-24 14:39] thisisnitish commented on #5185
Thanks @chrisbobbe!, I'll try to finish this asap 🙂

[2022-01-24 19:04] thisisnitish commented on #5185
Thanks @chrisbobbe!, I've raised the PR. Please review it. Thanks 🙂

[2022-01-24 19:31] alya opened #5202 "Make it possible to resolve/unresolve a topic"
At present, it's not possible to resolve/unresolve a topic from the mobile app. For parity with the webapp (https://github.com/zulip/zulip/issues/18751), we should make it possible to resolve/unresolve a topic from the long-press topic menu.

CC @gnprice for any comments on the implementation plan.

[2022-01-24 19:56] mateuszmandera commented on #3195
@chrisbobbe Any idea if this is anywhere on the roadmap? :thinking:  We've received a support request asking about this recently

[2022-01-25 22:35] chrisbobbe commented on #3195
It hasn't been on the near-term roadmap, and I'm not yet finding documentation that I'm confident I understand well, for iOS or Android. I'm also not very familiar with client certificates in general. This might be an issue for someone who understands better than I do, or for me after I've done more reading. 🙂

Here are some things I'm wondering at this point:
- The app will need access to the cli

[2022-01-27 19:16] chrisbobbe commented on #3195
@thelaoshi @ckujau I'm curious about the experience when using client certificates in other non-browser apps. Have you seen other apps implement a good experience with client certificates?

[2022-01-27 20:31] alya opened #5206 "Error for @ mentions in unsubscribed private stream"
When a user has been @-mentioned in a private stream they are no longer subscribed to, this breaks the @-mentions tab (in the current alpha version of the app). The user sees a screen that reports: "Invariant Violation: stream should exist for message," plus additional debugging information.

[2022-01-27 20:53] gnprice commented on #5206
Thanks for the report!

I believe this was a regression introduced in 9d05bbaf6fc9937ac9a776e28cbc988cc3b47b45, which was merged a few weeks ago and is in the new alpha v27.180 but no other published releases.

[2022-01-28 04:19] gnprice opened #5208 "Use updated stream/sender names/avatars on messages"
When we show a message in the message list, we show its sender's name and avatar based on the `sender_full_name` and `avatar_url` properties on the message object itself. (See src/webview/html/message.js.) If we show a recipient header with a stream name (because it's a stream message and we're in an interleaved narrow: all messages, @-mentions, starred messages, or search), the stream name comes

[2022-01-28 04:20] gnprice commented on #5206
Sent a fix as #5207, basically reverting the commit that introduced this regression.

Also wrote up some details on what that commit was trying to do, why that didn't work, and the two basic strategies for how to solve the same problem correctly: #5208.

[2022-01-28 05:01] ckujau commented on #3195
[K-9 Mail](https://github.com/k9mail/k-9) and (of course) [OpenVPN for Android](https://github.com/schwabe/ics-openvpn/) have support for client certificates. Although admittedly, with K-9 it [took a while](https://github.com/k9mail/k-9/issues/793 "Add support for client certificate and password authentication") until this was implemented, but it works now.

[2022-01-28 05:03] gnprice commented on #5208
One annoying thing about the normalized approach, given the fact that we'll sometimes see messages in streams (and probably from senders) that we don't know about, is that it'd mean having two types of stream/user records in our central stream/user data: full records for the ones we can see in the usual way, and skeleton records for the ones we know about only through messages.

The web app goes a

[2022-01-28 05:23] chrisbobbe commented on #5208
It may be simpler to discuss after #5188 is settled, but: should the choice between normalized/denormalized be influenced by how we want `MessageListElement` objects to be put together, e.g., questions like https://github.com/zulip/zulip-mobile/pull/5188#discussion_r793016697 ? If we normalize aggressively, can we still construct `MessageListElement` with all the data belonging to the element, suc

[2022-01-28 05:36] gnprice commented on #5208
Yeah, we certainly could do that.

It might come at some performance cost: we'd be adding a pile of extra properties to each of these `MessageListElement` objects. We construct potentially a lot of those, in a pretty performance-sensitive path, so making them each have like 8 properties instead of 4 could be meaningful additional work.

That points toward one advantage of the denormalized strategy

[2022-01-28 17:17] #5206 closed

[2022-01-28 17:47] #5133 closed

[2022-01-28 19:52] Udit-takkar commented on #5169
I will take this issue as there is no activity on open PR for more than 3 weeks.

[2022-01-29 00:32] gnprice opened #5209 "Action sheets crash on unknown stream"
As we saw in #5206, it's possible to have a message in the message list that's in a stream we don't have in our data structures. (For example: if you were in a stream, got some messages there, then left it, and either it's private (and you're not an admin) or you're a guest. Then find that message in all-messages, in search, or if applicable in @-mentions or starred messages.)

If you long-press o

[2022-01-29 00:51] gnprice opened #5210 "Fix unknown-stream handling in ChatScreen"
As we saw in #5206, it's possible to have a message in the message list that's in a stream we don't have in our data structures. (For example: if you were in a stream, got some messages there, then left it, and either it's private (and you're not an admin) or you're a guest. Then find that message in all-messages, in search, or if applicable in @-mentions or starred messages.) If you tap that reci

[2022-01-29 01:08] gnprice opened #5212 "Stop using bogus data on unknown-stream ChatScreen"
As we saw in #5206, it's possible to have a message in the message list that's in a stream we don't have in our data structures. (For example: if you were in a stream, got some messages there, then left it, and either it's private (and you're not an admin) or you're a guest. Then find that message in all-messages, in search, or if applicable in @-mentions or starred messages.) If you tap that reci

[2022-01-29 01:29] gnprice opened #5213 "Show name of unknown stream on ChatScreen and action sheets"
As we saw in #5206, it's possible to have a message in the message list that's in a stream we don't have in our data structures. (For example: if you were in a stream, got some messages there, then left it, and either it's private (and you're not an admin) or you're a guest. Then find that message in all-messages, in search, or if applicable in @-mentions or starred messages.)

If you tap that rec

[2022-01-29 08:12] Udit-takkar commented on #5151
@alya  This feature looks interesting to me. Can you assign it to me?

[2022-01-29 13:02] Udit-takkar opened #5215 "Bug: I can PM my own profile"
When I logged in with same email in web and then on Android app. I was able to see my name in active users and i was also PM myself.

 I tried this thing in some other open source chat applications. But none of them allowed me to PM myself. Is this a bug?

![Screenshot_20220129-182525](https://user-images.githubusercontent.com/53316345/151662028-dc97c1b6-8924-42d6-8b63-5c9d461e6897.jpg)
![Screensh

[2022-01-29 13:24] AkashDhiman commented on #5215
@Udit-takkar This isn't a bug, it can be useful in some circumstances to be able to private-message yourself, for instance drafting messages or compiling information that you need to keep at hand. I particularly use it to share images, cross platform.
Some other chat apps that also provide such functionality include Signal and Slack.

[2022-01-29 13:24] #5215 closed

[2022-01-29 13:33] Udit-takkar commented on #5215
Oh Okay makes sense

[2022-01-30 11:53] Udit-takkar commented on #5151
@claimbot claim

[2022-01-30 12:11] Udit-takkar commented on #5151
@zulipbot claim

[2022-01-31 11:06] Anshul-9923 commented on #3903
I am working on this issue and would like to claim it.

[2022-01-31 11:12] Anshul-9923 commented on #3903
@zulipbot Claim

[2022-01-31 12:20] Anshul-9923 commented on #2052
@gnprice I would like to work on this issue.

[2022-01-31 12:21] Anshul-9923 commented on #3903
@sumukhah Can you assign this issue to me?

[2022-01-31 12:22] Anshul-9923 commented on #3132
@gnprice I would like to work on this issue. Can you please assign this to me?

[2022-01-31 12:46] Udit-takkar opened #5216 "Bugs in /poll widget"
I created a poll widget with /poll in ios simulator.
When trying to select options in quick succession leads to buggy UI.
Maybe we would have to use debouncing/throttling

Here is a video demonstrating it.

https://user-images.githubusercontent.com/53316345/151795551-66cb8a51-0512-4124-bc10-bb2498f0c5d3.mov

[2022-01-31 19:27] thisisnitish commented on #4919
Hi @chrisbobbe, could you please unassign me from this issue. As we know, this is still in discussion.

[2022-01-31 23:02] Udit-takkar commented on #5216
@chrisbobbe  can you check this out if it's a bug ? So I can start digging for possible solution

[2022-02-01 00:26] #4333 closed

[2022-02-01 05:01] gnprice commented on #3918
OK, with #5205 merged, this is now indeed mostly done!

I went and looked through the codebase for remaining places where we're using the name of a stream. This meant searching the code for the patterns `streamName`, `stream.name`, and `3918`, and also making the `name` property on `Stream` and `Subscription` be write-only/reads-forbidden and seeing where Flow complained.

The results were:
* In n

[2022-02-04 07:45] alya commented on #5151
Thanks for your interest, @Udit-takkar !

Can you describe your plan for how you will approach this issue?

[2022-02-04 15:33] Udit-takkar commented on #5151
Would keep updating here https://chat.zulip.org/#narrow/stream/48-mobile/topic/Add.20todo.20widget
Currently i was just testing how is everything working.

/poll widget is implemented in `/webview` and uses a shared class PollData which has all the necessary functions.
Similarly there is TaskData in the main repo of zulip which is used to manage all the tasks data and new data is sent to `/json/su

[2022-02-04 18:36] chrisbobbe commented on #2956
Wordle is broken on mobile on CZO 😛; see https://chat.zulip.org/#narrow/stream/97-off-topic/topic/Wordle/near/1322606

[2022-02-04 19:05] chrisbobbe commented on #2956
Just filed https://github.com/zulip/zulip/issues/21037; marking as blocked on that.

[2022-02-08 20:45] gnprice commented on #3244
Looks like this was accidentally closed by #4635 -- the original revision of that PR would have resolved this, but in the end it didn't, because https://github.com/zulip/zulip-mobile/pull/4635#discussion_r652455585 .

I'll take care of this in an upcoming followup to #5192, as part of relying on server 2.0+.

[2022-02-09 19:02] #3150 closed

[2022-02-11 21:09] chrisbobbe opened #5228 "Can't paste org URL into add-account input"
See discussion: https://chat.zulip.org/#narrow/stream/48-mobile/topic/can't.20paste.20org.20URL/near/1318402

Quoting myself from there:

[2022-02-14 22:15] gnprice commented on #438
We've had [another request](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/iOS.20badge.20count/near/1328128) for this in chat, and [one more](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/iOS.20badge.20count/near/1280534) back in November:

[2022-02-14 22:31] Fingel opened #5229 "Build fails under Java 17"
When attempting to run the project under Java 17, the build fails with the following error:

[code]

System Information:

openjdk version "17.0.1" 2021-10-19
OpenJDK Runtime Environment (build 17.0.1+12)
OpenJDK 64-Bit Server VM (build 17.0.1+12, mixed mode)
Linux 5.16.8-arch1-1

Steps to reproduce:

1. You'll need to have Java 17 installed, but you probably don't want to get rid of your (working)

[2022-02-15 00:10] gnprice opened #5230 "Upgrade to RN v0.65"
The next round after #4426. This release came out last August:
https://reactnative.dev/blog/2021/08/17/version-065
so it's past time for us to try it out.

(There's actually now a v0.66 and a v0.67, too -- they've been [aiming to make releases more often](https://reactnative.dev/blog/2021/08/19/h2-2021#new-architecture-rollout-and-releases) since last summer.)

The blog post doesn't highlight anyt

[2022-02-15 00:14] gnprice commented on #5229
Thanks for the writeup!

For upgrading React Native to v0.65, I've just filed #5230. It sounds like either that, or a subsequent upgrade (v0.66 and v0.67 are now out too), will resolve this. So we can leave this here and let it be resolved by an upgrade.

[2022-02-15 00:15] gnprice commented on #5230
One thing this may give us is support for Gradle 7 and Java 17: #5229

Chat thread [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Austin's.20setup.20notes/near/1328542).

[2022-02-15 00:18] gnprice opened #5231 "Upgrade to RN v0.66"
The next round after #5230. (Which at present we haven't done yet, but this gives us a place to leave information about this version.) Blog post here:
https://reactnative.dev/blog/2021/10/01/version-066

There's no mention of anything incompatible, so (like v0.65, #5230) this might be an easier upgrade than usual. More-detailed changelog:
https://github.com/facebook/react-native/blob/main/CHANGELO

[2022-02-15 00:21] gnprice commented on #5231
One item in the blog post that stands out as potentially helpful:

I seem to recall us running into that recently, in #5130.

[2022-02-15 00:25] gnprice commented on #5230
The biggest changes highlighted in this release are to Hermes. We don't use Hermes yet, so nothing there is a blocker to this upgrade -- but after this upgrade, that might be the time for us to try it. In particular this version is where Hermes on Android gains support for `Intl`, as we discussed here: https://github.com/zulip/zulip-mobile/commit/9a68ea3eab1acd9c49493e4e794c840a0e84352c

[2022-02-15 00:29] gnprice opened #5232 "Upgrade to RN v0.67"
The next round after #5231. (~~Which at present we haven't done yet, but this gives us a place to leave information about this version.~~ edit: now done.) Blog post here:
https://reactnative.dev/blog/2022/01/19/version-067
and more-detailed changelog:
https://github.com/facebook/react-native/blob/main/CHANGELOG.md#v0670

[2022-02-15 04:58] chrisbobbe commented on #5230
#5234 to cut down on the Flow errors with Flow v0.149 🙂

[2022-02-15 09:32] SilentCruzer commented on #4675
I would like to work on this issue

[2022-02-15 14:26] WesleyAC commented on #4609
Took a quick peek at this — the actionsheet library we're using wants you to use their [containerStyle](https://github.com/expo/react-native-action-sheet#containerstyle-optional) prop for this, they don't have any support for it built in. That means we'll need to pick some colors, and wire through our theme selector bits, but that shouldn't be hard.

[2022-02-16 00:50] chrisbobbe commented on #5230
When I test out with Flow v0.149, I get lots of errors from files in `flow-typed/`. That's probably down to [this](https://github.com/facebook/flow/blob/main/Changelog.md#01430), in Flow 0.143:

The affected libdefs are currently

- `netinfo`
- `@react-navigation` (various)
- `@sentry/react-native`
- `expo-web-browser`
- `react-intl`
- `react-native-safe-area-context`
- `react-native-webview`

Gre

[2022-02-17 01:24] gnprice commented on #5230
Yeah, that sounds like a good idea to me.

In general the big advantage of `.flow.js` files over libdef files is that they are a great deal more pleasant to iterate on changes to, because Flow handles those changes incrementally in the same way it does in any normal part of the codebase. (Whereas on any edit to a libdef file, Flow restarts from scratch.) So if we're going to go about making a bunc

[2022-02-17 01:26] gnprice commented on #5230
From the list of errors you posted at #5234, I get the following summary:
[code]

And then I believe #5236 takes care of the errors there outside of `flow-typed/`.

[2022-02-17 02:10] gnprice commented on #4655
Over in https://github.com/zulip/zulip-mobile/pull/5225#discussion_r803312059 we recently discovered one gap in our muted-users support:
- [ ] When you mute or unmute a user, we don't update an existing message list, if there is one. (We do show it correctly if you load the message list after doing so, or if the message list updates for some other reason.)

That caused me to notice another area th

[2022-02-17 06:01] alya opened #5241 "Option to mark as read only in conversation views"
At present, we have an option not to mark messages as read on mobile. However, it may be more convenient to have the behavior where:

1. Messages *do* get marked as read in conversation views (single topic or PM thread).
2. Messages *do not* get marked as read in interleaved views. The user can take advantage of interleaved views to skim what's happening without losing unread indicators.

We shoul

[2022-02-17 06:18] alya opened #5242 "Click on notification should expand it"
On Android, clicking on a top-level notification currently does not do anything. The user needs to click on the caret menu to expand and show the individual topics, which can then be clicked to open in the app.

To make it easier for the user to open up the notification, clicking on a top-level notification should make it expand to show individual topics.

[CZO discussion](https://chat.zulip.org/#

[2022-02-18 18:22] Fingel commented on #5014
The first half of this issue, just displaying the globe, is addressed in https://github.com/zulip/zulip-mobile/pull/5238

Do we want to split off the part about actual browsing of web-public streams into a new issue?

[2022-02-18 20:12] gnprice opened #5249 "Browse web-public streams without logging in"
In #5014 / #5238 we added support for showing that a stream is web-public, with the same "globe" icon as the web app uses.

@timabbott adds there:

In theory, we could also add web-public stream browsing support to the mobile apps; if that becomes a priority for you, I can do a writeup on what'd be involved. Because most of the work is done at the API level, it might be only of moderate complexity

[2022-02-18 20:19] gnprice opened #5250 "Set a stream web-public, in stream settings"
This is a follow-up on #5014, which was for displaying when a stream is web-public.

In the stream settings screen (which you get to e.g. via the "info" icon in the app bar when looking at the stream narrow), we offer a switch to make the stream private or public.

We should add the option to make it web-public. This probably means replacing the boolean switch UI with a UI to choose from a list.

[2022-02-18 20:22] gnprice commented on #5014
Thanks for taking care of that!

Yeah, definitely; I think it'll be quite a while before it might make sense to take that one on. I've just filed it as #5249.

Also filed as #5250 another followup that just occurred to me. That one is smaller and I think would be a good near-term followup.

Closing this task as complete.

[2022-02-18 20:22] #5014 closed

[2022-02-18 20:27] gnprice commented on #2683
When implementing this, probably best to do so in combination with #5250: there's now a fourth value for a stream's privacy level, namely "web-public".

Note that one of the things we'll get from implementing this feature is to make it possible to *see* in the mobile app (specifically, in the stream settings page) whether a stream is private with shared history vs. with protected history. Currentl

[2022-02-18 23:02] gnprice commented on #5202
I think the main work that will be needed for this is actually to fix a couple of longstanding gaps in how the mobile app handles when messages have their topic (or stream) edited:
* #2688, which is an outright bug
* When you're looking right at a conversation and it gets moved, we should change your current narrow to follow along. We don't seem to have an existing issue for this; I'll go file one

[2022-02-18 23:16] gnprice opened #5251 "Update narrow on topic move"
In the web app, when you're looking at some conversation and it gets moved to a different stream, or the topic gets edited (including by resolving/unresolving the topic), the narrow you're looking at gets updated to follow the messages.

We should do the same thing. Currently the lack of this actually gets papered over a bit by #2688 -- if you're just passively reading, then you actually won't rea

[2022-02-21 16:00] Tusharkhati commented on #5242
Hello. can I work on it? can you please guide me a bit?
Thank you.

[2022-02-21 18:16] thisisnitish commented on #5228
Hi @chrisbobbe!, can I give it a shot to this issue??

[2022-02-22 06:45] alya commented on #5242
@Tusharkhati please refer to the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html#what-makes-a-great-zulip-contributor) and linked resources for some advice no how to ask for help. As mentioned in the guide:

Thanks!

[2022-02-22 18:36] alya opened #5255 "Add "Busy" status to emoji status picker"
In https://github.com/zulip/zulip/issues/21179 / https://github.com/zulip/zulip/pull/21190 we added a "Busy" status to the emoji status picker. We should do this on mobile as well.

@chrisbobbe would you be up for taking care of this, since you've been working on #4925?

[2022-02-22 19:55] chrisbobbe commented on #5255
Yep! 🙂

[2022-02-22 19:56] chrisbobbe commented on #5228
Hi @thisisnitish, thanks for the offer! 🙂 I've actually been working on this one myself. I see I forgot to assign myself in the issue metadata; I've just done so.

[2022-02-23 06:34] alya commented on #5255
Thanks!

[2022-02-23 15:37] thisisnitish commented on #5228
Sure @chrisbobbe, no problem. I'll find some other issue. Thanks 🙂

[2022-02-23 20:49] SilentCruzer commented on #5241
I would like to work on this issue,

I just have one doubt, for the third behavior, do you mean we need to add another option in the settings screen called **Mark Messages read on scroll only in Topic narrow**, to trigger the two behaviors?

[2022-02-28 18:36] thisisnitish commented on #4609
Hi @chrisbobbe!, can I give it a shot to this issue? Thanks 🙂

[2022-03-01 17:17] thisisnitish commented on #4609
Hi @chrisbobbe!, I would like to take this issue. Thanks 😊

[2022-03-01 20:35] gnprice commented on #5230
Another consequence of Gradle 7 support will be the ability to upgrade the Android Gradle Plugin: the next version, AGP 7.0.x, requires Gradle 7.0.2+: https://developer.android.com/studio/releases/gradle-plugin?buildsystem=cmake#7-0-0

[2022-03-01 23:40] gnprice commented on #4857
To do this strategy in a reasonably performant way, we'll first need #4684.

Here's an alternate strategy, though:
https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/unread.20mentions/near/1337462

[2022-03-02 01:50] #2688 closed

[2022-03-02 01:50] #5251 closed

[2022-03-02 05:06] #3918 closed

[2022-03-04 00:44] alya commented on #5241
The option of when/whether messages get marked as read should be controlled by one setting with three possible values.

[2022-03-04 00:46] alya commented on #5241
@SilentCruzer please post a comment describing your proposed approach when you're ready. I can assign the issue to you once you [have a rough plan](https://zulip.readthedocs.io/en/latest/overview/contributing.html#picking-an-issue-to-work-on). Thanks!

[2022-03-04 05:30] thisisnitish opened #5274 "`streamActionSheet` should be in dark theme in night mode"
When we long press any stream name, an action sheet will appear from bottom, that is a `streamActionSheet`. It should be in dark theme in night mode.

- Change the background color of the `streamActionSheet`.
- Text color should also be changed based on the dark theme i.e., it should be white.

![WhatsApp Image 2022-03-04 at 9 25 58 AM (1)](https://user-images.githubusercontent.com/48220369/156704

[2022-03-04 15:23] strifel opened #5275 "Add Big Blue Button video call button"
With #3546 and #4246 resolved and [zulip#16580](https://github.com/zulip/zulip/pull/16580) being closed to being merged, I want to open this issue to request adding support for creating BigBlueButton video calls in the mobile app.

Contrary to Jitsi it is not possible to just generate the link on mobile, but it has to be obtained by a request.
`GET /json/calls/bigbluebutton/create?meeting_name=mee

[2022-03-04 19:19] alya commented on #5274
Similar issue: $4609

[2022-03-04 19:21] alya commented on #4885
Closing in favor of #5169.

[2022-03-04 19:21] #4885 closed

[2022-03-04 20:59] SilentCruzer commented on #5241
@alya , We can just modify the method markRead by adding additional boolean values/types to restrict the method to certain narrows:
https://github.com/zulip/zulip-mobile/blob/777b584a6b066a5daeedb872f252fab33708f73f/src/webview/handleOutboundEvents.js#L185-L198

A new setting can be created like:
**Mark as read on scroll**, which will have a drop down menu on the right having three options:
- all

[2022-03-04 23:21] gnprice commented on #4263
Node 12 is now approaching EOL; 14 and 16 are both LTS.

I've just upgraded to Node 16 on one machine. `tools/test --all` passes. I'll see if any trouble arises somewhere else.

[2022-03-07 21:37] Fingel commented on #4863
Implemented in https://github.com/zulip/zulip-mobile/pull/5271.

[2022-03-07 21:37] #4863 closed

[2022-03-07 22:40] hetanthakkar1 commented on #5274
@alya I would like to take this issue!

[2022-03-07 22:46] SilentCruzer opened #5278 "@-mentions count not positioned correctly"
The count for the total @-mentions displayed in the Top Bar of the homepage is not positioned correctly.

The screenshot below is taken from a pixel 4 emulator. The positioning was also there when tested on oneplus 7T.

Screenshots:
<img src="https://user-images.githubusercontent.com/73246484/157130708-4150b822-87e8-4a16-8193-42c0b6998cdf.png" width=300 height=600>

[2022-03-08 01:31] #5154 closed

[2022-03-08 04:55] alya commented on #5278
Thanks for the report @SilentCruzer !

Related discussion: https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/unread.20count.20is.20not.20visible.20properly.20in.20overlay.2E

[2022-03-08 05:00] alya commented on #5274
Sure! Can you describe your plan for how to approach it, and then I'll go ahead and assign it you? Thanks!

[2022-03-08 20:07] hetanthakkar1 commented on #5274
the app uses @expo/react-native-action-sheet library. This library comes with props such as userInterfaceStyle(for ios), containerStyle(android) and textStyle (android) to change the styling of action sheet. So we probably add those props in this line
https://github.com/zulip/zulip-mobile/blob/588cb0377766b57a3fedea81634c206c9508124b/src/action-sheets/index.js#L547

On adding these lines `textStyl

[2022-03-08 20:49] thisisnitish commented on #5278
Hey @alya, If it's a bug then Can I give it a try to this one. Thanks 😊

[2022-03-08 20:51] thisisnitish commented on #4609
Please refer: https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/message.20action.20sheet/near/1341074

[2022-03-08 21:21] alya commented on #4756
@hetanthakkar1  please post a comment describing your proposed approach when you're ready. I can assign the issue to you once you [have a rough plan](https://zulip.readthedocs.io/en/latest/overview/contributing.html#picking-an-issue-to-work-on). Thanks!

[2022-03-09 01:40] gnprice commented on #5274
@hetanthakkar1 That general plan sounds good. A few points:
* Let's get the colors from our general theme. See `src/styles/theme.js`. More proximately, see the various places we say a line like `const themeContext = useContext(ThemeContext)`, and then the things we do with those `themeContext` values.
* Let's apply the fix to all of our action sheets, not only the one for streams. I've edited the

[2022-03-09 01:41] gnprice commented on #4609
Folding this into the similar #5274.

[2022-03-09 01:41] #4609 closed

[2022-03-09 02:57] #5255 closed

[2022-03-09 13:36] hetanthakkar1 commented on #5166
@gnprice Can I work on this feature!?

[2022-03-09 16:53] thisisnitish commented on #5278
Sure @alya I'll let you know my plan. Thanks 😊

[2022-03-09 18:02] thisisnitish commented on #5278
Hey @alya!, So My plan is like this:

- We are using a component name `CountOverlay` and `CountOverlay` is using `ComponentWithOverlay` which has a prop of `overlaySize`. So we just need to change the size of the overlay.

- Previously, `overlaySize` was `15` and I made it to `19` and It looks pretty good to me. But, if you know any perfect size for this icon then we can also do this. But I don't

[2022-03-09 18:52] chrisbobbe commented on #5278
Thanks, @thisisnitish! Could you please post a screenshot that shows this badge and the unread-PMs badge (in the bottom tab bar) at the same time? You can make the unread-PMs badge appear by having an unread PM, or by changing this line in src/main/MainTabsScreen.js, e.g., like so:

[code]

I think ideally we'd want the badges to match closely, so it's helpful to see them both at the same time.

[2022-03-09 19:00] thisisnitish commented on #5278
Yeah, Sure @chrisbobbe!, Even I checked this scenario and it was perfectly working. I'll post the screenshot. Thanks 😊

[2022-03-09 19:08] thisisnitish commented on #5278
Thanks, @chrisbobbe!, I've posted a Screenshot for both the badges at the same time. Please have a look. Thanks 😊

![Simulator Screen Shot - iPhone 12 - 2022-03-10 at 00 36 51](https://user-images.githubusercontent.com/48220369/157513672-dd3772b0-a24e-490f-b0dd-b316e96e0aad.png)

[2022-03-09 19:40] chrisbobbe commented on #5278
Thanks, that's helpful! There's a pretty noticeable difference in the badge's position relative to the icon. Could you see if there's a nice way to fix that? Ideally we'd look at the implementation of the bottom-tabs badge in `node_modules/@react-navigation/bottom-tabs` and try to match that, I think.

From the [inspector](https://reactnative.dev/docs/0.64/debugging#integration-with-react-native-i

[2022-03-09 19:45] Mihir3 commented on #5229
Hi, so when I was trying to build the app on Android Emulator (Pixel 4 Google Play) via Android Studio on macOS Monterey (v 12.0.1), I ran into the same series of issues as mentioned by @Fingel above. And since the ideal solution is the upgrade of react-native version which is yet in progress, I tried to build the app with Java 15 instead of 17 considering the Gradle 6.9 configuration of the app.

[2022-03-09 22:24] Fingel opened #5286 "No feedback shown when attemping to make a default stream private."
Default streams (streams which new users are subscribed to by default) can not be made private. On web, when trying to change the permissions of a default stream to private, the following error is displayed:

**Save failed: Default streams cannot be made private.**

On mobile, the operation fails silently which may cause the user to believe they have changed the permissions of a stream when in fac

[2022-03-10 01:42] gnprice commented on #5229
@Mihir3 No changes like that should be necessary -- we already have a postinstall script that covers exactly that step.

In general, if you find you have to edit `package.json` or any other file in order to build the app, that's always something we want to resolve in the main repository (either by changing some code, or clarifying something in our setup instructions) so that other contributors don

[2022-03-10 06:57] alya commented on #5166
@hetanthakkar1 please pick an issue with a "help wanted" label; this one doesn't have a clear product plan.

[2022-03-10 09:31] Mihir3 opened #5288 "Build fails under Java 15"
When I tried to build the Zulip app on Android Emulator (Pixel 4 Google Play) via Android Studio on macOS Monterey (v 12.0.1) in Java 15 (OpenJDK Runtime Environment AdoptOpenJDK (build 15.0.2+7)) and Gradle 6.9  with command :

`(base) mihirpamnani@Mihirs-MacBook-Air zulip-mobile % tools/run-android`

I ran into the following issue :

[code]

And as I mentioned in a comment on #5229 :

Looking up

[2022-03-10 09:34] Mihir3 commented on #5229
@gnprice Thanks for the comment. And as suggested, I've opened a new issue #5288 describing the similar compilation issue.

[2022-03-10 17:59] thisisnitish commented on #5278
Sure @chrisbobbe!, I didn't realised that.
One question I've, The badge we are seeing on person icon in `bottom tabs`. I think, we need the same kind of visual on top at `mention` icon....right??

[2022-03-10 18:52] gnprice commented on #4869
Edited title to make explicit that this is about the user-search screen (the one you get from the "New PM" button), and not the typeahead for @-mentions. (The same thing should apply there, but it's a separate implementation.)

[2022-03-10 18:53] alya commented on #4889
Might be solved by #3902?

[2022-03-10 19:01] alya commented on #5166
After a bit of discussion, a good way to solve this issue would be allowing the user to select (and therefore copy) the name in the user profile screen. Currently, it's not possible to select it.

[2022-03-10 19:02] alya commented on #5166
@hetanthakkar1 if you're interested in working on this, please feel free to post your proposed approach here.

[2022-03-10 19:05] thisisnitish commented on #5278
- Hey @chrisbobbe!, I just revisited to the code of `MainTabsScreen` and `HomeScreen` and found that, we are using `react-navigation` for the `Bottom Tabs` in `MainTabsScreen`.

- But, in `HomeScreen` we have our own component named `TopTabButtonGeneral`. It has wrapped the `IconUnreadMentions` component.

- When I further dived into the code I found that It is using `CountOverlay` which is again

[2022-03-11 01:41] chrisbobbe opened #5291 "iOS: Add-video-call button sometimes doesn't insert link"
Well this has been pretty thorny to debug. 😛 I've gotten far enough that I think the best way forward is to fix #5141, and hope it fixes this.

When you tap the add-video-call button in the expandable menu (the menu we'll get rid of in #5141), we immediately make a Jitsi link and try to insert it into the message input. I've discovered that sometimes the link isn't added there, as it should be.

A

[2022-03-11 01:44] chrisbobbe commented on #5291
(In particular, when we fix https://github.com/zulip/zulip-mobile/issues/5141, I suspect we'll just always make the input `multiline`, so it won't switch between `RCTSinglelineTextInputView` and `RCTMultilineTextInputView` underneath.)

[2022-03-11 04:20] gnprice commented on #4863
@jyn514 I agree. For that, see #2623.

(The "link to message" there would be to the message in the context of the topic, just like the link you get in the web app when getting a link to a message.)

[2022-03-11 17:28] thisisnitish commented on #5278
Hey @chrisbobbe!, I made some changes in `ComponentWithOverlay`, actually I was playing with `position` of the badge.
Currently, we have given:
[code]

But, I changed to:
[code]
**Below is the preview:**
![Simulator Screen Shot - iPhone 12 - 2022-03-11 at 22 53 36](https://user-images.githubusercontent.com/48220369/157917040-919d84a1-b576-47fb-90c6-842fa41f61f3.png)

[2022-03-11 23:49] #5202 closed

[2022-03-12 01:21] #4925 closed

[2022-03-12 02:07] #5022 closed

[2022-03-14 13:57] Vatsalsoni13 commented on #4756
Hello @alya,
I tried to find where the bug was so the data in the stream is divided into 3 types: `time` , `header` and `message`. Currently, the header+date(which we see on screen) is provided by the `header` so the messages accompanied under the topic header are getting the date of `header`. My plan is since `time` data is always created when someone messages regardless it belongs to `header` or

[2022-03-14 18:11] thisisnitish commented on #4984
Thanks @WesleyAC!, I'm not able to understand the issue. Could you please explain it more? Thanks 🙂

[2022-03-14 22:15] gnprice commented on #5086
Here's a (belated) write-up of what we learned in that debugging thread, with some small further points. I'll then file specific issues for subtasks.

The figures below are from the latest release, v27.181.

The APK has a total size of 131988583 bytes, 132.0MB. Of that, the sizes reported by `unzip -lv` add up to 131.5MB. (The rest is presumably some combination of alignment-padding and metadata.)

[2022-03-14 22:18] gnprice opened #5295 "Split APK up by ABI"
This should reduce our APKs from 132MB, which is giant, to (for arm64, the most relevant) a bit under 40MB, which is still a bit big but far less so.

See https://github.com/zulip/zulip-mobile/issues/5086#issuecomment-1067355270 for details, and https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/APK.20size.20.23M5086/near/1273706 and https://github.com/zulip/zulip-mobile/issues/1270#issue

[2022-03-14 22:19] gnprice commented on #1270
@IzzySoft Thanks for the ping -- sorry I let this hang.

We did some further debugging on this back in October, which I've just written up at https://github.com/zulip/zulip-mobile/issues/5086#issuecomment-1067355270 . Let's continue discussion of the APK size on that thread.

I'm going to go see about splitting the APKs up as you suggested: #5295 .

[2022-03-14 22:22] gnprice commented on #5086
@IzzySoft I'd be particularly interested in your perspective on this tradeoff, for after we've split the APKs up by ABI:

Which side of that tradeoff do you think would be best?

[2022-03-14 23:03] IzzySoft commented on #5086
I was reading your full text with quite some interest. I've never checked the install part: the APK is kept on-device, but I thought resources were always unpacked. Forgive my ignorance on details here: I'm no Android dev and I never dug into which parts of the APK were unpacked and which not; but there must be a reason why the APK is kept.

We have such per-ABI builds at F-Droid as well. That spl

[2022-03-14 23:04] IzzySoft commented on #1270
Thanks @gnprice – I've already joined the discussion there :smiley:

[2022-03-15 01:47] gnprice commented on #5086
OK, an update: with #5296, the new `armeabi-v7a` APK will be down to 35.1MB. Much smaller than the 132.3MB for the all-in-one APK at main!

Yeah, your instinct that there must be a reason the APK is kept around is right. I believe in general all the Android resources and also the "assets" files remain in the APK and are accessed directly from there, rather than making copies of them elsewhere on t

[2022-03-15 03:24] chrisbobbe commented on #4851
Linking discussion at https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/left-side.20drawer.20nav/near/1311269.

[2022-03-15 03:25] chrisbobbe commented on #5278
Thanks! It looks more similar now. I think that approach is probably fine for the time being, then we can look closer when we reorganize this part of the UI in #4851 (our latest thinking for that is [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/left-side.20drawer.20nav/near/1311269), I think).

[2022-03-15 05:07] #5295 closed

[2022-03-15 08:16] IzzySoft commented on #5086
OK, so we go with that 35M APK for now (so Zulip is at least close to the 30M limit of my repo), and experiment with the 17M version later? If you'd go for the latter, I could increase "versions kept" to 2 (to cover the install issue described above). Or you stick to the 35M to save those 10M (i.e. the size of 2 photos taken) on-device. I'm fine with both – just let me know what you decide for so

[2022-03-15 17:19] thisisnitish commented on #5278
Thanks @chrisbobbe!, I checked #4851 and [our latest thinking](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/left-side.20drawer.20nav/near/1311269). If you confirm, I'll raise the PR and we can use the above approach for the time being. Thanks 😊

[2022-03-15 17:51] chrisbobbe commented on #5278
Yep, sounds good, thank you!

[2022-03-15 19:38] chrisbobbe commented on #5042
It'd be nice to prepare for this with #4933, I think?

[2022-03-15 21:34] chrisbobbe commented on #4933
Just sent #5299 as a first step for this.

[2022-03-16 16:33] omkarg01 commented on #5286
@gnprice @chrisbobbe I want work on this. So, please assign it to me.

[2022-03-16 17:49] #3710 closed

[2022-03-16 17:55] chrisbobbe commented on #4756
I don't think this is is true on `main`; could this have already been fixed somehow? Here's a screenshot with a [message from today](https://chat.zulip.org/#narrow/stream/48-mobile/topic/zulip-mobile.20.2F.20main/near/1346175):

<img width=300 src="https://user-images.githubusercontent.com/22248748/158655644-d20f6eec-c721-4df5-80af-878ee5d50c60.png" />

The "zulip-mobile / main" topic was created

[2022-03-16 18:11] thisisnitish commented on #5278
Thanks @chrisbobbe!, I've raised the PR. Please have a look #5301. Thanks 😊

[2022-03-17 02:23] gnprice commented on #5086
Yeah, we'll have that 35MB APK in the upcoming v27.182 release, and see how that goes.

Then I think the next biggest opportunity for making things smaller will be:

I'm hopeful we'll be able to do that in the next month or two; I'll want to give it a try once we next upgrade our React Native version, to v0.65.

There are some further space-saving opportunities in my comment at https://github.com/

[2022-03-17 02:23] #5086 closed

[2022-03-17 03:24] Vatsalsoni13 commented on #4756
Hello @chrisbobbe,
I think the issue is this
WebApp:
![screen-capture](https://user-images.githubusercontent.com/53573748/158728199-78799c02-6302-458d-bebe-dda90c0f32ef.gif)
For eg: Under the topic 'Jumpy Toggle...', the topic was created on 12th March which shows correctly with that as you can see Alya's message on the 14th March which is updated in the header when it's on the top.
This behaviour

[2022-03-17 18:43] gnprice opened #5303 "Use "list" icon for all-messages, matching web's new icon there"
We currently use a "globe" icon for the button on the main screen that takes you to the all-messages view. This has never been a great icon to use there, but we didn't feel we had a better one -- the web app used a "home" icon, and that seemed like it would put too much emphasis on that view. (Unlike on web, the all-messages view has never been the main view that we present.)

But now web uses a "

[2022-03-17 20:19] IzzySoft commented on #5086
Thanks @gnprice – any yes, looking forward to that! Should you come close to 15 MB (i.e. the half of the 30M limit), be welcome to send me a ping so I reconfigure for keeping 2 versions in my repo, as discussed. I won't look at the byte, so I'd do that also with 16M per APK :wink:

[2022-03-17 23:12] gnprice commented on #3881
That PR was merged (after being split in two: #4753, #4754), so unblocking.

[2022-03-17 23:23] gnprice commented on #3881
I think the next step, when we pick this thread of work up again, will be to take [that chat thread](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M3881.20Sending.20outbox.20messages.20is.20fraught.20with.20issues/near/1076857) from 2020-12 and make a fresh draft of the proposed design. (@chrisbobbe sent a design up at the top of the thread, and then there was further discussion b

[2022-03-18 05:52] Vatsalsoni13 commented on #5303
Can I work on this?

[2022-03-19 04:19] wilsonfurtado2000 commented on #5303
I have created a PR please look into it

[2022-03-19 05:56] wilsonfurtado2000 commented on #5241
can I work on this ??

[2022-03-19 09:02] punitkashyup commented on #5169
@alya Can i work on this ?

[2022-03-19 09:29] VishalSharma2000 commented on #5166
Hello @alya.
If @hetanthakkar1 has not started working on this issue, then I would like to work on this issue.

[2022-03-19 09:30] hetanthakkar1 commented on #5166
Sure go ahed

[2022-03-19 13:26] VishalSharma2000 commented on #5166
Thanks, @hetanthakkar1 :smile:

@alya, here is my approach to solving the issue.
## Approach

### How the Username is being shown.
We have an `AccountDetailsScreen` component that gets rendered when we click on any username. This component is having `AccountDetails` as one of the child components, further `AccountDetails` is rendering the `ZulipText` component as one of the children.
`ZulipText` i

[2022-03-19 13:34] VishalSharma2000 commented on #5166
While working on this issue I found the below.
If I click on my username from the private message chat then it directs me to `AccountDetailsScreen`. But I feel the logged-in user should be directed to its `Profile` Screen right?

Basically, when I click on someone's else username then I should see their account details but If I click on my username then I should see my profile details. But current

[2022-03-20 14:37] omkarg01 commented on #5242
@gnprice would I get help on how to go about solving this issue? I had checked NotificationListener.js, notifOpen.js, notifToken.js files getting no idea where to look for.

[2022-03-20 15:55] dm17 commented on #1270
The cool thing about F-DROID we can freely download stuff and have a certain level of privacy because they screen for such things. Then there is an easy question of "what's the difference between the GitHub and F-DROID release" - and if there is no difference, then we can just use GitHub to have a quicker release cycle. So, existing on F-DROID is kind of a third party review process.

[2022-03-20 16:56] IzzySoft commented on #1270
Hehe… that's the reason why some apps are on F-Droid and in my repo as well (e.g. FairEmail) – quicker release cycle :wink: