[2016-06-23 07:19] neerajwahi opened #2 "Use DevAuthBackend in development mode"
Makes it easier to test different user accounts. This was recently added to the Android app: https://github.com/zulip/zulip-android/pull/65

[2016-06-23 07:21] neerajwahi opened #3 "Render HTML in messages"
The native iOS app uses NSAttributedString which provides a fromHTML option. We don't have that luxury in React Native so we'll either have to write our own parser for a subset of HTML, use an appropriate third-party module, or fallback on a native component for rendering messages.

[2016-06-23 07:25] neerajwahi opened #4 "Add ability to compose new messages"
This is a large task and will require additions to the UI (for a compose bar and text fields) and API logic to send new messages to the server.

[2016-06-23 07:27] neerajwahi opened #5 "Select messages by clicking on them"
Related to https://github.com/zulip/zulip-mobile/issues/4. Clicking on a message in a stream should open the compose view with the stream and thread defaulted to those of the selected message.

[2016-06-23 07:29] neerajwahi opened #6 "Add logic to communicate with server event queue"
Similar to https://github.com/zulip/zulip/blob/master/static/js/server_events.js#L56

[2016-06-23 07:31] neerajwahi opened #7 "Add side menu / drawer with list of streams"
Options should include:
- Narrowing to private messages
- Narrowing to any subscribed stream
- Managing stream subscriptions or opening a new page for subscriptions

[2016-06-23 07:31] neerajwahi opened #8 "Submit pointer updates to server"
This allows the server to keep track of the latest messages that a user has read.

[2016-06-23 08:36] neerajwahi opened #9 "Add side menu / drawer with list of users"
- Presence fetching
- Presence update sending
- Narrowing to PMs with a user via buddy list

[2016-06-23 08:36] neerajwahi opened #10 "Support Google auth"

[2016-07-02 22:48] #2 closed

[2016-07-03 02:16] neerajwahi opened #11 "Add support for multiple user accounts"
Each account can be on a different realm.

[2016-07-06 19:01] timabbott commented on #2
Nice!

[2016-07-09 19:58] #11 closed

[2016-07-11 02:30] neerajwahi opened #12 "Network requests have no timeout"
There's currently no timeout for network requests. For instance, if a user attempts to login to a non-responding server, the UI will lock up.

Fixing the issue will likely involve wrapping the `fetch` promise with a timeout in `ApiClient.js`

[2016-07-11 02:35] neerajwahi opened #13 "Enable hot module reloading in development"
This will speed up the edit refresh cycle by maintaining state (such as logged in accounts) between edits.

[2016-08-16 19:04] timabbott opened #15 "Document how to build the app for Android"
I get `Error:Android Source Generator: [zulip-mobile] AndroidManifest.xml file not found` when I try building it, which probably means I didn't set something up.

[2016-08-17 00:53] timabbott opened #16 "Add GCM and APNS support"
The Zulip server sends push notifications for iOS devices; we should add support for displaying this in zulip-mobile.

[2016-08-19 20:44] rishig commented on #4
Some screenshots from the current android app, as a starting point:
![composebox](https://cloud.githubusercontent.com/assets/890911/17823540/dd8ca2ca-6611-11e6-8d29-886030c495b8.png)
![composeicon](https://cloud.githubusercontent.com/assets/890911/17823751/fd44bebc-6612-11e6-843c-c7769e9ea972.png)

[2016-09-20 22:19] borisyankov commented on #9
I am starting with this one.

[2016-09-21 00:09] timabbott commented on #9
For presence fetching and sending, `focus_ping` at https://github.com/zulip/zulip/blob/master/static/js/activity.js#L354 is the webapp code that connects to the relevant API.  It's sorta an interesting API -- you send your own presence data, and receive in the reply everyone else's.

[2016-09-21 00:16] timabbott opened #18 "Use a clear user agent for requests coming from the React Native app"
This is important to make it easy to debug which requests are coming from the app server-side.

Given the style of how Zulip does User-Agent strings for API integrations / the other apps, I think we probably want something in the format of `ZulipReactNative/0.1.0 (iOS: 7.1.2)`. where 0.1.0 is the version of the app itself and 7.1.2 is the iOS version.

[2016-09-21 00:18] timabbott opened #19 "Display images (both links and file upload images) inline in message feed"
There are two cases that may or may not require different on the app side to implement:
- Auto-display of images corresponding to links included in a message.
- Uploaded image files.

[2016-09-21 00:20] timabbott opened #20 "Add an initial automated test suite"

[2016-09-21 00:21] timabbott commented on #8
http://zulip.readthedocs.io/en/latest/pointer.html explains the spec for how the webapp works today; I think we want to replicate that behavior (or ideally, the described desired behavior, but that will require some work on the Zulip backend to support).

[2016-09-21 00:23] timabbott commented on #16
Note that we don't have an APNS cert configured on zulip.tabbott.net; so for testing this, we'll need to use one of the foo.zulipchat.com servers.

[2016-09-21 00:28] timabbott opened #21 "Submit updates to the server when the user reads messages"
This is different from, but related to, #8; using the `POST /messages/flags` endpoint to send the list of messages not flagged as read that the user read on the device.  Both are required for users who read messages on the app to not be unhappy with the level of synchronization between the webapp and the mobile app.

As part of implementing this, we will need to track the events coming in from the

[2016-09-21 00:29] timabbott opened #22 "Display emoji in message bodies properly"
This may require including the Zulip (really Android) emoji set in the app so that we don't need to fetch the emoji from the network to display them.

[2016-09-21 00:33] timabbott commented on #12
We should be sure to do this in a way that has a reasonable retry strategy (probably wants to have some sort of slow exponential backoff thing, perhaps with a way for the user to override and check now...).

[2016-09-21 04:48] #3 closed

[2016-09-21 04:48] #7 closed

[2016-09-21 04:48] #6 closed

[2016-09-23 09:02] borisyankov commented on #20
I will take care of this.
I already wanted to write few tests for easier debugging, instead of going through emulator, inspectors etc.

First quick steps I'll do:
1. Fix all eslint warnings and enable eslint run
2. Fix all Flow warnings and enable flow
3. Run eslint + flow + mocha  on npm run test
4. Configure and enable Travis to run these

[2016-09-23 21:59] timabbott commented on #20
Sounds great to me!

[2016-09-25 19:37] neerajwahi opened #28 "Save api keys on device for long-lived sessions"
The user currently has to sign in each time when opening the app.

[2016-09-25 20:12] neerajwahi opened #29 "Group messages more intelligently"
Right now we group together consecutive messages with the same stream/topic or recipients but this can be improved in a few ways:
- Don't group together consecutive messages into the same header if it's been a long time
- Group together nearly-simultaneous consecutive messages by the same user (so that we don't display the username and time twice)

[2016-09-25 20:15] neerajwahi opened #30 "Build version of anchor-based scroll view for Android"
The iOS app contains a modified version of RCTScrollView that allows adding elements to both the top and bottom while maintaining scroll position.

We need a version of this for Android.

[2016-09-26 22:04] borisyankov commented on #30
We should consider ListView, which is strongly recommended over ScrollView for rendering larger amounts of data. Maybe it will also be easier to implement the anchoring so need for custom version for Android?

[2016-09-26 22:07] borisyankov opened #32 "Persist login and auto login on next start"
- [x] refactor store creation, add redux-persist
- [x] split userReducers into userReducers and authReducers
- [x] persist authReducers store data
- [x] all reducers use new auth instead of account
- [x] rewire other startup components with new state
- [x] delay app render until store is rehydrated
- [x] create another reducer (appReducer) with global app state like 'loggedIn'
- [x] more flat stor

[2016-09-27 04:53] neerajwahi commented on #30
@borisyankov I tried using ListView initially and it was a bit tricky to get it to support infinite scrolling in both directions (by adding `onStartReached` in addition to `onEndReached`) , so I decided to start with ScrollView. Ultimately we will want to optimize it (perhaps by paging in views like ListView).

I also tried maintaining scroll position without implementing it in a native component.

[2016-09-27 06:12] neerajwahi commented on #28
Merging with #32

[2016-09-27 06:12] #28 closed

[2016-10-01 19:27] neerajwahi opened #35 "Add forced update feature"
This would prevent a user from using the app if the version is too old

We decided the implementation of this should be as follows:
* [ ] We check for an error returned by events_register with some specific error code that means "You need to upgrade"
* [ ] Additionally, we add a new small endpoint on zulipchat.com (or configurable app endpoint) that is passed the current zulip-mobile app version a

[2016-10-01 19:29] neerajwahi opened #36 "Add ability to automatically push new JS/CSS"
A huge advantage of React Native is the ability to update on-the-fly.

See https://github.com/Microsoft/react-native-code-push

[2016-10-01 19:29] neerajwahi opened #37 "Add icons to navigation bar"
Replace 'Streams' and 'Home' with icons

[2016-10-01 19:31] neerajwahi opened #38 "Add search feature"
UI:
- Magnifying glass to the right of the navigation title
- Clicking it reveals a search text field underneath the navigation bar

[2016-10-01 19:46] borisyankov commented on #36
I have actually used code-push, for a cordova project.
So - absolutely not a problem.

When you have new resources or binaries, often you need a full app update, but for code changes - works very well.

Also works very well when you need to enforce a version update.

[2016-10-02 01:19] kmdupr33 commented on #30
I think we can get the infinite scrolling in both directions on Android by just implementing a native module that bridges to Android's `RecyclerView.`

That's the approach I'm going to try out. Hope that's ok.

I think this approach will likely be simpler/neater than copy-pasting the android equivalent of `RCTScrollView`, and, as @borisyankov suggested, it will scale better than a scroll view for

[2016-10-02 01:36] neerajwahi commented on #30
@kmdupr33 It looks like a version of that may exist in the React Native codebase that you may want to check out: https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/views/recyclerview/RecyclerViewBackedScrollView.java

For iOS, the issue is that I needed to modify the bridge (`RCTScrollView`) for our use case (such as changing `contentOffset` when new

[2016-10-02 01:44] kmdupr33 commented on #30
Thanks for pointing that out. I'll check it out.

If we bridge to an Android `RecyclerView,` we actually won't need to worry about the content offset. The `RecyclerView` gives us the ability to preserve the user's current scroll position even when new items are added to the list for free.

[2016-10-02 01:49] neerajwahi commented on #30
Even if they are added at the beginning of the list?

The difference I think is that you're planning on writing a brand new bridge, while for iOS I copy-pasted the existing bridge and made changes to it (because `RCTScrollView` actually has a lot of logic in it that it didn't make sense to rewrite).

[2016-10-02 01:51] kmdupr33 commented on #30
Yes sir. Even if they're added at the beginning of the list.

I suspect that there won't be a lot of logic that I need to reimplement for this. I think the native bridge will be less than 200 LOC. Is it okay if I try it out and then consider the copy-paste option if it turns out to be more complicated?

[2016-10-02 01:57] neerajwahi commented on #30
Sure, but maybe check out `RecyclerViewBackedScrollView` first? No point in doing all that work if you don't need to :)

[2016-10-02 02:01] kmdupr33 commented on #30
Indeed. Doing extra work is almost always not fun :) Unfortunately, it doesn't look like RecyclerViewBackedScrollView is going to give us the notifications when the user reaches the beginning or end of a list. Regardless, it'll definitely be helpful as I try to work on this, so thanks again for pointing it out.

[2016-10-02 02:06] neerajwahi commented on #30
Just curious, why won't it give us the notifications? The way this works in iOS is that we get an onScroll notification at some configurable interval. In that JS callback we determine the user's scroll position and trigger a callback (either `onStartReached` or `onEndReached`) if it passes some threshold in either scroll direction.

See: https://github.com/zulip/zulip-mobile/blob/master/src/stream

[2016-10-02 02:08] kmdupr33 commented on #30
I was actually just looking at the line. Maybe the right play here is to subclass `RecyclerViewBackedScrollView.` Let me look a little closer at this class here to see what's going on.

[2016-10-02 02:34] neerajwahi opened #39 "Add app icon (for home screen)"

[2016-10-02 03:42] kmdupr33 commented on #30
I've tried using the `RecyclerViewBackedScrollView,` along with its `ViewManager` and I'm getting some odd behavior: first, the `RecyclerViewBackedScrollView` isn't sized correctly (it only takes up 3/4ths the width of the screen) and second, the `RecyclerViewBackedScrollView` doesn't appear to be getting touch events, which, in turn, causes the scroll view to fail to scroll.

I'm going to spend s

[2016-10-02 14:33] borisyankov opened #40 "Better structure and refactoring"
Some issues that I will improve on:
- [x] Rename components from ZulipSomething to just Something
- [x] Rename components that are called SomethingView to SomethingScreen or SomethingScene, when they take up the whole screen
- [x] Rename user reducer into account reducer
- [ ] Add more 'container' components, whose job is to wrap more purely presentational/behavioral components. They will get data

[2016-10-02 18:22] neerajwahi commented on #40
@borisyankov why add container components?

[2016-10-02 20:32] borisyankov commented on #40
Mostly for separation of concerns. Sometimes for better reusability, but not always.
I've also used before it to convert from Immutable to plain JS objects, but not sure it was consistently a good idea.

Generally a container will take care of retrieving the data (from Redux, via fetch, etc.) but will just render a single component. The behavior and view will be in this component, but it will be '

[2016-10-02 22:54] borisyankov opened #41 "Tapping twice quickly on the same 'narrow' results in exceptions"

[2016-10-03 00:18] neerajwahi commented on #40
I think we can wait to do this kind of refactoring until it becomes a bigger problem. Thoughts?

[2016-10-03 00:25] neerajwahi commented on #40
Also, I'm not sure it's worthwhile to add Flow types to the API calls. Flow is a static type checker but the API results are dynamic, so it won't really be able to do any checking with those types.

[2016-10-03 02:50] neerajwahi opened #42 "Add an account switcher"
Let users switch between multiple accounts

[2016-10-03 03:44] timabbott commented on #42
It'd be awesome if this could support actually being logged into multiple accounts (potentially on different servers), and show the total unread counts for the accounts you're not logged into in the switcher.  I think it may make sense to implement this without that unread counts feature at first, but it's worth thinking about when we design the switcher to ensure there's space to put the unread c

[2016-10-03 14:28] neerajwahi opened #43 "Use native navigation libary"
https://github.com/wix/react-native-navigation

[2016-10-03 14:32] neerajwahi opened #44 "Move stream list to modal window"
The stream list is currently contained in a sliding drawer (which slides in from the left when the user swipes or clicks a button in the navigation bar).

We could move this feature to a modal window that expands when the user clicks the stream title (or a little arrow next to it). Doing so leaves the left navigation button and left swipe available to be used for a 'back' action.

[2016-10-04 16:23] borisyankov commented on #42
I am working on it right now (in connection with storing multiple accounts information).
It will be available both on startup and while logged in.

My todo:

- [ ] On Start, AccountList not empty => login into last logged in account
- [ ] On Logout if AccountList not empty => show list of accounts to login + button 'Add new account'
- [ ] If Login in stored account fails => Set realm to the one in

[2016-10-04 16:25] borisyankov commented on #42
@timabbott Not sure if supported, but the 'Teams' in Slack have icons and names associated, which are needed to display a nicer list.

[2016-10-04 17:06] borisyankov commented on #40
@neerajwahi Yeah, I wanted to document the goals more than necessarily put it as priority.
New stuff will follow this, but not going to rework everything that was written (did the Zulip removing because it was trivial)

[2016-10-04 19:43] timabbott commented on #42
We have names for organizations, available as `realm_name` in the events register response.  We don't have icons organizations at this time.

[2016-10-04 22:53] borisyankov commented on #43
I did implement the Start screen logic, using the new NavigationExperimental that is replacing NavigationIOS...

Do you think we should use that instead?

[2016-10-07 22:56] borisyankov commented on #44
We should hold off on that before some discussion and maybe design mockups?
I have some suggestions, based off of other popular mobile apps (Facebook Messenger, Skype, Slack)
I totally agree about the direction though. Drawers are not ideal, are not that typical on iOS, and are preferably just one on the left etc. etc.

[2016-10-07 23:13] timabbott commented on #44
Yeah, this seems worth discussing...

[2016-10-07 23:27] borisyankov commented on #10
Working on this now.

[2016-10-08 02:24] kmdupr33 commented on #30
@neerajwahi I've figured out how to get the scrollview to render at the correct size and I've fixed the scrolling issue. However, there's a problem with how the child views are getting rendered within the scroll view. I suspect that I'm going to need to copy paste some code from the RN library in order to fix this, assuming we want to continue on this path.

Alternatively, I could just implement a

[2016-10-08 05:23] neerajwahi commented on #44
Sure, we should definitely discuss. @borisyankov would love to hear your suggestions.

I already have a branch that implements this actually that I quickly wrote up a few days ago. I'll share that as a pull request so you can take a look at the interactions.

[2016-10-08 05:37] neerajwahi commented on #30
@kmdupr33 we may want to fork RN anyway and pull down the forked version (and eventually merge any changes we make upstream) since that's cleaner than copy-pasting `RCTScrollView` like we currently do. Mostly thinking aloud to myself here.

Is the scroll view you got to render at the correct size not backed by `RecyclerView`?

I'm not at all familiar with how RN is implemented for Android so I def

[2016-10-08 12:39] kmdupr33 commented on #30
Awesome. Forking RN seems like a good idea. Seems like a lot of people wind up doing that for reasons similar to ours.

The scrollview that I got to render is backed by a `RecyclerView.` In fact, there's one (small) piece of it that is copy-pasted from the `RecyclerViewBackedScrollView` you pointed me to. However, there's a large piece of code that's responsible for laying out the items within a R

[2016-10-08 16:43] neerajwahi commented on #30
The performance (of the native thread at least) on a physical iPhone is quite good. We're probably going to want to implement something similar to `ListView` where we page rows in and out to reduce memory usage.

I'm not convinced that view recycling is the right approach. In the article you mention, our use case falls under "high variation between rows and a smaller data-source" whereas view recy

[2016-10-08 17:01] kmdupr33 commented on #30
Hmm...That's good that we've tested on a physical device, but I am curious whether we've tested on the lowest-end devices we want to support.

Maybe the stream messages will have a higher variation than what I've seen, but I don't think that differing amounts of text within messages is a big enough difference to neutralize the performance benefits of recycling views. [Facebook found that tradition

[2016-10-08 17:14] borisyankov opened #50 "Send presence updates (focusPings) at correct times"
Tim thinks if we just do the following, we should be good:
- [x] Send when started or restored from suspended state
- [x] Send once per minute while the app is open.

Feedback on how this affect people 'I think activity in the mobile app doesn't mark me as "online" in the Zulip backend. I'm pretty sure that PMs received while I'm online (in the web app) don't trigger emails, yet I'm pretty sure I'

[2016-10-08 17:22] borisyankov commented on #30
I have a hunch that a `ListView` will be much better for a _long_ list of _text_.

BTW, have you had a look at https://github.com/FaridSafi/react-native-gifted-chat/

[2016-10-09 16:37] borisyankov commented on #20
@timabbott this is done (based on it being only 'initial')

[2016-10-09 16:41] borisyankov commented on #9
@neerajwahi Fully resolved by #53

[2016-10-09 17:49] timabbott commented on #20
Yep, sounds good, we can close this.  I figure future issues about tests will be about specific things we want to do with testing.

[2016-10-09 17:49] #20 closed

[2016-10-09 18:35] borisyankov opened #54 "Multi-account support"
- [x] Refactor authReducer into accountsReducer
- [x] Account list screen for initial selection
- [x] Persist all successful logins
- [x] Account list for switching between
- [x] Navigation flow on login, can go back from login
- [x] A selector to pick the active account
- [x] When logged in, account becomes the default one, to be reused on next run
- [x] Can remove an account from the list
- [x]

[2016-10-09 18:47] borisyankov commented on #43
I will evaluate these three:

- NaviationExperimental
- https://github.com/aksonov/react-native-router-flux
- https://github.com/wix/react-native-navigation

NavigationExperimental is not native, but is performant so could be a good choice.

[2016-10-09 20:57] borisyankov commented on #43
Evaluation:
NaviationExperimental looks, works and performs well. The argument for react-native-navigation is not strong.
Proceeding with NavigationExperimental.

[2016-10-10 00:54] neerajwahi commented on #43
👍

We can always reevaluate later if it turns out to be an issue

[2016-10-10 03:32] arpith opened #55 "Crash when tapping "private messages" on iOS"
This is on the RC realm, which is a large organization (and I have quite a few private messages). Will try to reproduce this on the dev realm.

[2016-10-10 04:41] neerajwahi commented on #55
Thanks for the report @arpith! Is there any useful output in the JS console in Chrome when running with the React Native Debugger enabled?

[2016-10-11 05:42] arpith commented on #55
Works with the latest build :)

[2016-10-11 05:42] #55 closed

[2016-10-11 18:43] borisyankov commented on #43
@neerajwahi I am creating another issue, so I can explain it more cleanly. You can close this.

[2016-10-11 19:02] borisyankov opened #57 "App-wide Navigation + Redux with NavigationExperiemental"
- [x] Add NavigationExperiemental ot app
- [x] Link Redux store with it
- [x] < Screen > component to serve as container for all full-screen views
- [x] < ModalNavBar > component
- [x] Login flow uses this navigation

[2016-10-16 03:12] #43 closed

[2016-10-16 03:58] #37 closed

[2016-10-16 18:49] neerajwahi commented on #30
It might be worth exploring view recycling on iOS in the future but for now I think there are a lot of other tasks that are higher priority.

I've been testing on an iPhone 6 (which is now 2 generations old) and the performance has been excellent. The bottleneck is the JS thread. The main benefit of recycling will be reducing memory pressure, but we might be able to get those benefits from using a

[2016-10-16 19:10] borisyankov commented on #30
iPhone 6 is way too high class device to consider it a 'minimum' one.
Apple officially support iPhone 4S which still updates to iOS 10.

According to this:
https://fiksu.com/resources/ios_trackers/
You don't get to the 90% of usage if you don't include iPhone 5s and 5.

And keep in mind Android is much more variable in performance characteristics.

People might be forgiving of a super-modern 3d ga

[2016-10-17 17:25] nmartinez23 opened #60 "Add tests for Logo and Avatar"
I am working on Jest testing and snapshots for Logo.js and Avatar.js. I will be submitting a pull request soon.

[2016-10-17 19:49] borisyankov opened #62 "Global Error Management"
Handle global errors, that might occur at any time.
This is different than one-time handling of same error, like incorrect password on login screen.
- [x] Refactor api functions
- [x] Connection lost - show 'offline' message
- [x] Password incorrect. Reason: User changed password in other app or similar. Action: Go back to login screen
- [ ] Maybe use NetInfo for additional offline detection.

htt

[2016-10-17 21:27] borisyankov opened #63 "Decide on how deep to pass Immutable"
We should discuss and document the outcome of the decision.

Several considerations
- Keep immutables deep, for all components. Pros - simple. Cons - immutables are not as convenient to use for all cases. Good to have a lot of components depend on simple standard types.
- toJS() them everywhere in mapStateToProps - Pros - simple. Cons - is a bad idea. Mentioning it intentionally. Kills performance

[2016-10-19 07:16] #60 closed

[2016-10-20 00:59] borisyankov opened #64 "Polish start & login experience"
- [x] After login, when navigating to 'main' reset previous routes
- [x] If only one auth backend, skip backend pickup screen
- [x] Splash screen
- [x] If no protocol is entered, prepend 'https://'
- [x] No 'flashing' of routes

[2016-10-20 01:20] #9 closed

[2016-10-20 20:47] neerajwahi commented on #63
I think we should avoid Immutable unless we need it. I don't like the pattern of calling `toJS` everywhere. Ideally we shouldn't have to call it at all.

[2016-10-20 23:52] borisyankov commented on #63
Immutable *is* needed. Or any other strategy that will not cause a full render of everything, on any single prop changing. Definitely crucial for expensive to render components like list of items (users, messages, streams)

[2016-10-22 06:45] #32 closed

[2016-10-22 08:27] neerajwahi commented on #63
I don't mean we shouldn't use Immutable at all, but rather that we should only use it where we need it (such as the list of messages) and nowhere else. And if we do use it, we should pass the Immutable container around instead of calling `toJS` and converting it to a JS object.

[2016-10-22 23:05] #57 closed

[2016-10-23 19:41] #42 closed

[2016-10-25 01:42] #54 closed

[2016-10-25 02:42] neerajwahi opened #68 "Move Xcode configuration to a separate file (`xcconfig`)"
Good reference: https://pewpewthespells.com/blog/migrating_code_signing.html

[2016-10-25 02:44] neerajwahi opened #69 "Indicators in scroll view"
Add indicators in the scroll view for:
- Up-to-date (caught up with latest messages)
- No older messages

[2016-10-25 02:46] neerajwahi opened #70 "Render message timestamps intelligently"
We should probably show a time (such as 8:00) when the message is recent (within the last few days), or a month and day otherwise (such as Apr 25)

[2016-10-25 02:47] neerajwahi opened #71 "Add configurable error and crash reporting"

[2016-10-25 02:52] neerajwahi opened #72 "Support push notifications"

[2016-10-25 02:52] neerajwahi opened #73 "Add unread counts to streams"

[2016-10-25 02:54] neerajwahi opened #74 "Add topics to the stream sidebar"

[2016-10-25 02:56] neerajwahi opened #75 "Group recent messages together"
When a user sends multiple messages in succession, we should group them together under one message header (like the web app)

[2016-10-25 02:57] neerajwahi opened #76 "Get new messages as HTML instead of Markdown"
This should be simple. We just need to add an `applyMarkdown` flag to the API call

[2016-10-25 02:57] neerajwahi opened #77 "Support message update events"

[2016-10-25 02:58] neerajwahi opened #78 "Inline previews in messages"
Add rendering of inline previews for embedded content (such as tweets)

[2016-10-25 02:58] neerajwahi opened #79 "Support i18n"

[2016-10-25 02:58] neerajwahi opened #80 "Add message caching"

[2016-10-26 01:26] timabbott commented on #70
I think we should go with the same model we use in the currently planned webapp changes, which is to show the timestamp inline in the message, and dates in the recipient bars (only if the date of the messages is different from the previous recipient bar, or different from today in the case of the floating one at the top).

[2016-10-27 21:56] #39 closed

[2016-10-29 22:53] borisyankov opened #83 "Basic Compose Text"
- [x] Refactor visual component
- [x] Add websocket code
- [x] Auto-adjust height
- [x] Establish websocket connection on login (keep in other branch for later)
- [x] Simple but functional component

[2016-10-31 21:54] meitar opened #86 "Tapping on the "People" icon does not open the user list drawer on right of main screen"
The user list drawer ("sidebar") doesn't open when the "people" icon (at the top-right of the main Zulip stream view) is tapped or pressed:

<img width="371" alt="screen shot 2016-10-31 at oct 31 5 51 27 pm" src="https://cloud.githubusercontent.com/assets/18677/19872955/b0f44910-9f92-11e6-838b-b39a4fa599e9.png">

The top right icon of the two human figures should open the drawer, displaying the li

[2016-11-02 15:31] #64 closed

[2016-11-03 15:34] borisyankov commented on #12
Timeout is implemented.
The 'retry' part would be a more major feature which I'll separate in another issue.
Any unsent message and other similar actions that do not complete successfully, should be persisted and resent next time there is a connection.

[2016-11-03 15:34] #12 closed

[2016-11-04 15:35] borisyankov opened #94 "Improved main UI"
- [x] Tabs to navigate between main sections
- [x] Improved user list
- [x] Private conversations list
- [ ] Improved streams list
- [ ] All streams/subscribe view
- [ ] Home / all streams

[2016-11-05 12:15] borisyankov opened #95 "AccountDetails screen"
- [x] Show on avatar tap
- [x] Show user avatar
- [x] Show name + email
- [x] For self, show 'Logout'
- [x] For other user, show 'Message' button

[2016-11-06 13:02] borisyankov opened #96 "Badges for unread messages"
- [x] For conversations
- [x] For nav buttons
- [x] For streams
- [x] For 'special'
- [x] For tabs

[2016-11-06 21:44] borisyankov opened #98 "Consider using WebView for MessageList/StreamView"
There is a very strong possibility that WebView is a better choice than custom rendering the messages.

* WebView is natural option for rendering html based content
* ScrollView is very inefficient for large lists, I was strongly considering ListView instead (though there were some issues with it too)
* Cross-platform - current implementation is iOS only
* Likely to be more performant for this par

[2016-11-06 21:46] #83 closed

[2016-11-06 21:48] borisyankov opened #99 "Currently shown Narrow scope saved in store"
This allows to send a message for compose onSend.

[2016-11-07 21:05] borisyankov opened #100 "Use all data from initial realm getEvents response and store"
- [ ] presences
- [ ] last_event_id, max_message_id, pointer, queue_id?
- [ ] muted_topics?
- [ ] never_subscribed, unsubscribed
- [ ] realm_bots
- [ ] realm_default_streams
- [ ] realm_name
- [ ] realm_users?

[2016-11-07 21:16] timabbott commented on #100
`email_dict` you probably don't need; it's been removed.  `realm_users` has similar data, and is what you would use for autocomplete to determine which users one can send to.

`presences` is the initial presence state of other users.

`queue_id` is the queue ID and `last_event_id` is the initial `last_event_id` for the event queue that is returned.  I assume we're already using them?

`pointer` is

[2016-11-08 19:21] borisyankov commented on #98
@neerajwahi @timabbott This issue is just as a reference and a think piece. Let the idea sink in. It didn't sound as the best approach initially to me either, but the more I think of it the better it looks. We can discuss this again sometime in P2.

[2016-11-10 20:56] borisyankov opened #101 "Emoji Support"
- [x] Can enter emojis in compose
- [x] Can display normal emojis
- [x] Can parse markdown emojis

[2016-11-13 17:21] borisyankov opened #104 "Auto-complete in compose"
While writing autocomplete:
- [x] Emojis
- [x] User names
- [x] Channels

[2016-11-13 23:51] borisyankov opened #105 "Home Tab/Page"
- [ ] Home
- [ ] All Messages
- [ ] Private Messages
- [ ] Alerted Messages
- [ ] Sent By Me
- [ ] Mentions
- [ ] Starred messages
- [ ] Favorite users (better have server support)
- [ ] Mixed list of last interactions?
- [ ] List of groups

[2016-11-17 00:07] #104 closed

[2016-11-18 20:45] brockwhittaker opened #110 "Markdown rendering <span> should be display: inline equivalent."
As you can see in the code block below, the <span> tags inside of a code block are perhaps being rendered as <text> which needs to have a particular flex attribute list. Something like:

[code]

<img width="487" alt="screen shot 2016-11-18 at 12 32 47 pm" src="https://cloud.githubusercontent.com/assets/10321399/20445983/42c0c1d2-ad8c-11e6-992c-9435d4bd427e.png">

[2016-11-19 12:19] #101 closed

[2016-11-19 12:20] borisyankov commented on #76
Resolved by PR#111

[2016-11-19 12:20] #76 closed

[2016-11-19 12:21] #4 closed

[2016-11-19 17:52] borisyankov opened #112 "Better Message headers and chat header"
- [x] Stream text color becomes white or black depending on background
- [x] Stream - subheaders show only topic, title is stream, has color, has 'private' or not
- [x] Stream+Topic - no message headers, title is stream + topic
- [x] Aggregate (Home/Search etc) - show stream + topic in message headers or private message header, title lists search criteria
- [x] Private chat or group chat - do not

[2016-11-19 21:37] #63 closed

[2016-11-19 21:37] borisyankov opened #113 "Remove Immutable completely"

[2016-11-19 22:16] timabbott commented on #112
For group private message threads, the title area should just show the users' avatars (that's probably the only thing that would fit with 3+ other people).  If you touch the avatars in the title area, it should pop down a list of the people/avatar pairs so you can easily get precise clarity as to who is on the thread.

[2016-11-19 22:25] borisyankov opened #114 "Person Details"
Tapping a user's name/avatar opens a 'Person Details' screen.
Screen has big avatar message, 'Private Message' button etc.

[2016-11-20 15:12] #86 closed

[2016-11-21 07:19] neerajwahi commented on #113
I think Immutable is quite useful for at least the list of messages. Could you elaborate on how we can get rid of it entirely?

[2016-11-21 07:21] neerajwahi commented on #98
@borisyankov I'm moving these more exploratory types of tasks (which we are just discussing and not committed to) to an 'Idea' milestone

[2016-11-22 15:42] borisyankov commented on #113
For the list of messages, I benchmarked and tested how many we do render in normal use, and it is from 20ish to lower hundreds. When new data arrives we will duplicate the array, which of course is just duplicating the refs only, so is performant.

I don't think we will have any perf issues. But will simplify usage a lot.

[2016-11-22 16:08] borisyankov commented on #110
Fixed.

[2016-11-22 16:08] #110 closed

[2016-11-22 16:13] borisyankov commented on #35
@neerajwahi @timabbott We'll treat P1 as non final, so delaying this to P2.

[2016-11-22 16:22] #22 closed

[2016-11-23 19:39] borisyankov opened #116 "Landscape orientation"
Make sure every part of the UI is usable in landscape orientation.

[2016-11-24 20:14] borisyankov opened #117 "Handle sharing from other apps (Android)"
Register app so other apps can send it content (text, urls, photos).

[2016-11-25 14:44] borisyankov opened #118 "Use deep-freeze"
Use [deep-freeze](https://github.com/substack/deep-freeze) in tests to ensure immutability of redux stores.

[2016-11-27 09:14] neerajwahi opened #120 "Clicking on any compose button results in exceptions"
Clicking on the 'picture' icon results in:
[code]

Clicking on other buttons result in future exceptions of this variety when continuing to use the app:
[code]

[2016-11-27 09:26] neerajwahi opened #121 "Add button to logout / switch accounts"
There used to be a button for this in the right sidebar

[2016-11-27 09:29] neerajwahi opened #122 "Messages are sometimes duplicated"
This results in a React Native warning:
[code]

[2016-11-27 09:31] neerajwahi opened #123 "Issue with line spacing in message rendering"
Looks like newlines are being suppressed. I think this is a recent issue

[2016-11-27 09:33] neerajwahi opened #124 "Navigation stack unstability"
Especially noticeable with the login flow

[2016-11-27 09:34] neerajwahi opened #125 "Show message when narrowing to PMs without chat history"
Currently displays an empty feed which makes it appears as if the app is broken. Instead we should display a message like 'no chat history.'

[2016-11-27 19:16] #75 closed

[2016-11-27 19:16] #29 closed

[2016-11-27 19:16] #70 closed

[2016-11-27 20:13] neerajwahi commented on #19
@timabbott I think the current version does this so closing this out

[2016-11-27 20:13] #19 closed

[2016-11-27 20:21] #113 closed

[2016-11-27 20:26] neerajwahi commented on #71
By 'configurable' I mean that it should be easy to set where to send crash reports so that builds can easily set that location

[2016-11-28 20:54] borisyankov commented on #123
@neerajwahi @timabbott I spent few hours on this. Not gonna be fixed easily.
This, I am sure, have never worked. The html parsing code is too simple to handle these case.
It renders a P tag, but needs to parse deeply (the new line is a BR inside a P tag)
The same issue exists for PRE tag for code emebeds.
The solution for these is completely different though.
(or the same, if we implement WebView)

[2016-11-28 21:11] borisyankov opened #128 "Message Render Issues"
A list of message render issues.
Any easy to fix issues were already fixed. These require a much more advanced html parsing and rendering, or WebView which I recommend.

- [x] Italic text is rendered as normal text
- [x] Blockquote do not have grey bar shown (left-border)
- [x] Code block is rendered on a single line
- [x] @ Mentions are not styled correctly
- [x] New lines within the same message

[2016-11-28 21:29] borisyankov commented on #123
Closing that, as it can not be fixed for P1, and without major rework of how message rendering works.
Tracking all issues here:
https://github.com/zulip/zulip-mobile/issues/128

[2016-11-28 21:29] #123 closed

[2016-11-28 21:36] #38 closed

[2016-11-28 21:41] borisyankov opened #129 "Search Feature"
- [x] Opens in a new modal screen
- [x] Searches inside messages

Search messages via 'narrow':
[code]

[2016-11-28 22:39] borisyankov commented on #120
Fixed these exceptions.
The options are not yet ready to be used, so also hid them.

[2016-11-28 22:39] #120 closed

[2016-11-28 23:23] borisyankov commented on #77
Done.

[2016-11-28 23:23] #77 closed

[2016-11-29 22:44] borisyankov commented on #122
I did several fixes regarding messages.
Can not reproduce anymore.

[2016-11-29 22:44] #122 closed

[2016-11-29 23:02] #121 closed

[2016-11-30 05:57] neerajwahi opened #130 "Add command for running on iOS device in release mode"
Right now running the app on a real iOS device on release mode requires opening Xcode and changing the release configuration.

It would be nice to wrap this up into a command (such as `npm run ios-device`)

[2016-12-01 00:03] borisyankov commented on #41
Fixed. Didn't have anything to do with the speed of clicking ;)

[2016-12-01 00:03] #41 closed

[2016-12-02 20:35] timabbott commented on #72
This is the same as #16

[2016-12-02 20:35] #72 closed

[2016-12-03 16:24] borisyankov opened #132 "Compose + message view scroll"
- [ ] When keyboard is popped up, the message list resizes in a way to make the compose box in view.
- [ ] Do not always pop up keyboard.

[2016-12-03 20:24] borisyankov opened #133 "Support authenticated resource requests"

[2016-12-03 21:10] borisyankov opened #134 "Fix switching accounts between realms"
- [x] No exceptions
- [x] Reset stream, message, user list

[2016-12-03 23:03] #133 closed

[2016-12-04 17:20] borisyankov commented on #124
Fixed a couple of more serious issues related to navigation, like scroll from left to right fighting between drawer and previous states etc.

Behavior that I think you mean is unfortunately currently normal for NavigationExperimental, though they might be fixing it.

Also React Router will soon have React Native support and might be an option too.

I'll add another task to revisit this in few week

[2016-12-04 17:20] #124 closed

[2016-12-04 17:25] borisyankov opened #135 "Fix NavigatorExperimental or replace with React Router"
When putting several routes at once, extra animations appear.
We don't want to do that.

Fix either by doing a PR to NavigatorExperimental or by replacing with React Router which will soon have React Native support.

[2016-12-07 21:30] #99 closed

[2016-12-07 23:00] #112 closed

[2016-12-08 17:07] #5 closed

[2016-12-08 22:59] #125 closed

[2016-12-09 10:17] borisyankov opened #138 "Filter Event Message Update"
Do not add all event message updates, only if current narrow would show them.

[2016-12-09 19:05] borisyankov opened #139 "Show list of active private and group chats"

[2016-12-09 20:12] timabbott commented on #138
`message_matches_search_term` in static/js/filter.js may be useful for this.  Arguably you may want to borrow much of that whole module.

[2016-12-10 09:18] #132 closed

[2016-12-12 20:32] #138 closed

[2016-12-15 13:57] #18 closed

[2016-12-17 14:57] #95 closed

[2016-12-17 16:30] borisyankov opened #147 "Fix user list filtering"

[2016-12-17 16:30] #147 closed

[2016-12-17 16:31] #15 closed

[2016-12-18 06:10] #114 closed

[2016-12-19 07:14] neerajwahi opened #149 "Loading indicator always displayed at top of screen"
The loading indicator in the scroll view is always displayed at the top of the screen even if new messages are loaded from the bottom. This is unintuitive and provides a bad UX.

(Also, scrolling stops when the load indicator is encountered. I think it'd be nicer to allow scrolling to continue as new messages get pulled in.)

[2016-12-20 15:46] borisyankov commented on #73
@timabbott Since we are not going to request a 1000 messages on startup, do we have other way to detect unread messages? Or should we delay till some improvement in the API?

[2016-12-20 16:20] borisyankov opened #151 "Subscription Management"
- [x] List of all streams
- [x] Can Unsubscribe From a Stream
- [x] Can Subscribe To a Stream

[2016-12-20 20:11] timabbott commented on #73
Hmm, yeah, I think we'll need to do some backend work to support this.  @showell FYI.  I think maybe a good approach to push forward on this would be for Neeraj and I to discuss in person next week.

[2016-12-21 16:30] borisyankov commented on #149
Agree partially. CCing @timabbott

I was thinking about that...
I will move the progress bar indicator inside the list itself, so it is visible only if the list is at top.
Actually I will investigate in detail how it is handled in other chat apps.

One thing that got very improved over the last few years in UI regard, but I know many of us devs or tech guys that are not UX guys didn't caught up to

[2016-12-21 20:00] timabbott commented on #149
Yeah, I like the idea of moving it into the list itself and displaying it at top or bottom.  What do you think @neerajwahi?  Not sure grey blocks totally makes sense, since we don't know the size; but I think having the single top-of-feed or bottom-of-feed indicator display as a loading indicator if we're trying to fetch more makes a lot of sense (and display as something more definite if we're at

[2016-12-23 06:41] neerajwahi commented on #149
I like the grey block approach for a couple of reasons:
1. I agree that users are conditioned to find loading indicators slow nowadays
2. With placeholders we can let the user continue to scroll uninterrupted (with the blocks filling in with content underneath). I think this will make the app feel a lot snappier (because the user interaction doesn't get interrupted)

@timabbott Definitely agree th

[2016-12-24 14:31] #13 closed

[2016-12-25 20:33] borisyankov opened #154 "Indicator for 'start of messages'"
Most of chat competitors have a clear indicator that there are no older messages.
For users, in Slack there is a text like 'This is the start of your chat history', in Facebook Messenger there is a bigger user avatar and some info about the user.

[2016-12-25 21:14] borisyankov commented on #149
The Facebook feed uses a 'not yet loaded' news type of thing, exactly what I proposed.
It has an animated gradient though. Also it loads super fast so is on screen for a very short time only.

[2016-12-25 21:41] neerajwahi commented on #149
@borisyankov why did you close this? It's still an open issue, no?

[2016-12-25 21:52] borisyankov commented on #149
@neerajwahi I just implemented it. Not yet a PR though.

[2016-12-25 21:55] neerajwahi commented on #149
Cool. Let's leave issues open until merged into master and you can reference it in your PR. Easier to keep track that way :)

[2016-12-26 15:52] borisyankov opened #156 "Improve 'anchoring' of message list"

[2016-12-26 15:53] borisyankov opened #157 "Do not re fetch messages if already reached top"

[2016-12-26 15:53] #157 closed

[2016-12-27 20:37] borisyankov opened #158 "Add a Beta release to the Play Store"

[2016-12-27 21:57] #158 closed

[2016-12-27 21:58] neerajwahi commented on #158
The open source project doesn't do or manage any releases or deployments

[2016-12-29 21:02] #129 closed

[2016-12-30 14:52] borisyankov opened #161 "Display Current Server in a prominent place"
It is quite confusing currently, if you have accounts for several servers.

[2016-12-30 17:36] #134 closed

[2016-12-31 06:20] neerajwahi opened #162 "Rewrite narrow links in messages"
A message can contain a narrow link such as: `https://chat.zulip.org/#narrow/stream/...`. These links redirect users to a particular message when using the web app.

We should rewrite these links in the mobile app so that users jump to the appropriate place in the stream after clicking on them (instead of opening up a browser window with the web app)

[2016-12-31 17:43] timabbott commented on #162
Oh yeah, good idea.

[2017-01-03 00:32] neerajwahi opened #163 "Compose box should allow choosing of topic"
If a message is composed in a stream view, it defaults to 'no-topic' and doesn't allow a topic to be selected

[2017-01-03 00:32] neerajwahi opened #164 "Compose box shown when not usable"
The compose box is shown even when it is not usable. For example, in the home view with multiple streams and topics, the compose box is visible but doesn't have an effect.

[2017-01-03 00:34] neerajwahi opened #165 "Whitespace issue with few messages in a narrow"
Example:
<img width="377" alt="screenshot 2017-01-02 15 30 56" src="https://cloud.githubusercontent.com/assets/4666213/21598027/4e14ce34-d109-11e6-94c4-9f8e86cba4d7.png">

[2017-01-03 00:35] neerajwahi opened #166 "Recipient header takes up full screen with few messages in narrow"
Example:
<img width="377" alt="screenshot 2017-01-02 15 30 31" src="https://cloud.githubusercontent.com/assets/4666213/21598039/7e44aa70-d109-11e6-9352-b4855e01e476.png">

[2017-01-03 00:36] neerajwahi opened #167 "All streams not shown in left sidebar"
The left sidebar stream selector seems to clip the number of streams shown (instead of showing all streams to which a user is subscribed)

[2017-01-03 00:37] neerajwahi opened #168 "Title of account switcher screen is mis-centered"
<img width="377" alt="screenshot 2017-01-02 16 37 09" src="https://cloud.githubusercontent.com/assets/4666213/21598046/c56af3d2-d109-11e6-8fe6-e9eaf835ef18.png">

[2017-01-03 00:39] neerajwahi opened #169 "Choosing a narrow results in multiple fetches"
After choosing a stream in the left sidebar, for example, the stream opens up with an initial fetch for content and then another fetch.

There seem to be two causes that we should address:
1. Move loading indicator behind content (instead of in front)
2. Load content in bigger batches

[2017-01-03 00:44] neerajwahi opened #170 "Remove icons next to streams"
<img width="310" alt="screenshot 2017-01-02 16 44 07" src="https://cloud.githubusercontent.com/assets/4666213/21598087/b2a4bfb6-d10a-11e6-8101-e2199fa37db8.png">

[2017-01-03 00:47] neerajwahi opened #171 "Fix formatting of stream sidebar"
- Add more padding
- Delineate border with main screen (either via border or background color)
- Remove stream icons (and replace with '#')
- Add more boundary between the header (Home, Private Messages, etc...) and individual streams
- Highlight currently selected narrow (if applicable)
- Remove stream descriptions (and eventually move them to modal view visible with a hold-click)

[2017-01-03 00:48] neerajwahi opened #172 "Show both stream and topic in title when narrowed to a topic"
Clicking on the stream name should return to the stream narrow

[2017-01-03 00:49] neerajwahi opened #173 "Add long press on messages"
Available options:
- Narrow to this conversation
- Reply
- Copy message (to clipboard)
- Emoji reaction
- Edit message (if user is the author)

[2017-01-03 00:50] neerajwahi opened #174 "Restore bounce on over-scrolling"
Having a bounce while over-scrolling makes the app feel more responsive

[2017-01-03 00:51] neerajwahi opened #175 "Render emoji reactions"
See https://github.com/zulip/zulip/issues/541

[2017-01-03 00:53] neerajwahi opened #176 "'Add Server' screen (during the login flow) is confusing"
<img width="375" alt="screenshot 2017-01-02 16 52 08" src="https://cloud.githubusercontent.com/assets/4666213/21598136/decc6c64-d10b-11e6-84b5-a462408d857c.png">

The 'Sign in' button is available but doesn't actually do anything here. We should remove this button and instead show the realm name greyed out along with a 'Username' and 'Password' field.

[2017-01-03 00:55] neerajwahi opened #177 "Login modal remains displayed after the login is finished"
After clicking 'Sign in' (having entered all required credentials), the login modal remains in view until it gives way to the main stream view. We should instead immediately present the stream view to the user.

[2017-01-03 00:56] neerajwahi opened #178 "Content offset bug when scrolling to top of stream view"
The content inside of the scroll view is clipped

[2017-01-03 00:57] neerajwahi opened #179 "Search for a user in right sidebar cannot be cancelled"
There's no way to stop the search (and hide the keyboard) when searching for the user in the right sidebar

[2017-01-03 01:00] neerajwahi opened #180 "Keyboard shown in compose box should push stream content up"
Although the scroll view bounds are adjusted when the keyboard is displayed, the content inside of the scroll view is not pushed up.

As a result, the user will no longer be scrolled to the bottom of a stream when the keyboard appears (if they were at the bottom of the stream before the keyboard appeared).

[2017-01-03 01:01] neerajwahi opened #181 "Send icon (in compose box) can end up highlighted after sending a message"

[2017-01-03 01:02] neerajwahi opened #182 "Sticky headers broken on device"
Headers (aka recipient bars) should remain fixed to the top of the scrollview while scrolling. This functionality is fine in the simulator but broken on an actual device.

[2017-01-03 01:04] neerajwahi opened #183 "Improve non-inline code block formatting"
Non-inline code blocks in messages have an extraneous empty block above.

We should also improve the readability of the code blocks with the following tweaks:
- Line wrap adds an extra space at beginning of line (see Slack for example)
- Make font size slightly smaller

[2017-01-03 01:06] neerajwahi opened #184 "Hold-click on a link in a message results in re-flow"
Hold-clicking on a link inside of a message will sometimes result in a reflow (and reformatting) of the whole scrollview

[2017-01-03 01:06] neerajwahi opened #185 "App name should be 'Zulip' not 'ZulipMobile'"
The name of the app on the device (and as visible from the home screen on iOS) should be 'Zulip'

[2017-01-03 01:08] neerajwahi opened #186 "Show placeholder when custom emoji unavailable"
If an inline emoji image is unavailable (and the request 404s), we should display a broken image placeholder to indicate that an image was supposed to appear. Currently nothing is displayed and the desired image takes up no space in the message.

[2017-01-03 01:09] neerajwahi opened #187 "App crashes on device after a lot of scrolling"
We need to run this through the debugger and figure out what's causing this issue. It could be memory pressure.

[2017-01-03 01:10] neerajwahi opened #188 "New messages sometimes end up visible in the wrong narrow"
New messages that come through the event system will sometimes end up visible in narrows in which those messages should not be visible.

[2017-01-03 01:15] timabbott commented on #135
@borisyankov can you explain the impact of this issue with an example?

[2017-01-03 01:18] timabbott commented on #50
@borisyankov I just updated the description with the pieces that I think we need to do; the rest is probably not necessary to provide good data.

[2017-01-03 01:20] timabbott commented on #35
I think we decided the implementation of this should be as follows:
* [ ] We check for an error returned by events_register with some specific error code that means "You need to upgrade"
* [ ] Additionally, we add a new small endpoint on zulipchat.com that is passed the current zulip-mobile app version and returns whether it needs to upgrade or not.  Tim can quickly write the backend endpoint as s

[2017-01-03 01:22] timabbott commented on #156
@borisyankov can you explain in more specific detail what this issue refers to?

[2017-01-03 01:25] timabbott commented on #176
I think we can just copy the interaction design present in the current Android app; that has the right flow, disabling, etc. model.

[2017-01-03 01:27] timabbott commented on #169
For the bigger batches, I think we should move to fetching batches of ~100 (e.g. 50 in each direction); that will probably eliminate this issue.

[2017-01-03 01:27] timabbott commented on #170
Yeah these are unnecessary clutter.  We should still display the lock icon next to private streams, though.

[2017-01-03 01:31] neerajwahi commented on #149
@borisyankov Could you send along the branch as a preview (even if it's not ready)?

[2017-01-03 14:22] borisyankov commented on #149
It is in the `cache` PR.

[2017-01-03 14:29] borisyankov commented on #172
Very unlikely this will fit on a mobile screen.

[2017-01-03 19:29] borisyankov commented on #184
Maybe caused by this?
https://github.com/facebook/react-native/issues/1693

[2017-01-03 19:29] timabbott commented on #172
I would show the full stream name, and then a cutoff version of the topic name (since stream names tend to be short).  We should also have a way to see the full topic name; some ideas include:
(1) Something in the top you can press to see the full name wrapped to multiple lines
(2) Making the area horizontally scrollable.
(3) Making the heading area go to 2 lines of height if it's really long.
(4)

[2017-01-03 23:58] borisyankov commented on #167
Can not reproduce.

[2017-01-03 23:58] borisyankov commented on #188
That is fixed in the `cache` PR.

[2017-01-04 00:02] timabbott commented on #167
@borisyankov try subscribing to all of the streams present in chat.zulip.org.  For us it happened only when there were more than about 30 streams.

[2017-01-04 00:02] borisyankov commented on #165
Elaborate.

[2017-01-04 00:04] timabbott commented on #165
The issue here is that we should display the message at the top of the screen and have whitespace below, similar to how the Zulip webapp works.  That way, when new messages come in, it doesn't require unnecessary scrolling down.

[2017-01-04 00:08] borisyankov commented on #165
That is intentional. It works like that in all major competitors:
* Slack
* Facebook Messenger
* Google Hangouts

[2017-01-04 00:21] timabbott commented on #165
Plenty of other chat tools work this way (with short feeds placed at the top rather than the bottom), e.g. the default Android text messaging app.  But the important thing for Zulip is that we place much more emphasis than other products on actually tracking what you've read (as opposed to just marking entire views as read as soon as you look at them), and that model impacts what the best UI is fo

[2017-01-04 00:36] borisyankov commented on #165
This is how the default messaging app on Android looks like:
https://goo.gl/photos/sya7gFkBoBMWwQy59

[2017-01-04 00:39] borisyankov commented on #165
The sticking to bottom is a completely separate issue that has to be fixed either way.

[2017-01-04 01:05] timabbott commented on #165
Interesting, I seem to have a totally different one.

[2017-01-04 01:11] borisyankov commented on #164
That is intentional. The send button is disabled.
I am not entirely sure if we should hide it (the logic is there since the button disables itself correctly)

[2017-01-04 01:15] borisyankov commented on #182
This might be a bug in ScrollView. Needs investigating.
@timabbott I was actually thinking these sticky headers are not that useful and takeup important space on smaller screens. The messages are short. These should definitely not be used always and in almost all cases messages are rather short.

[2017-01-04 01:17] timabbott commented on #182
I disagree, if you narrow to a stream where the last 200 messages all have the same topic, it's very difficult to find out what the topic of all those messages is without the sticky header!  I am confident if we ship with this implemented as-is that we'll immediately get a lot of complaints about this from our users.

[2017-01-04 01:18] borisyankov commented on #187
This can easily be a memory issue or a layout engine issue. Having thousands of components needing rendering.

[2017-01-04 01:54] borisyankov commented on #182
Good point.

[2017-01-04 07:47] neerajwahi commented on #187
Yep could definitely be memory or layout. Just needs some investigating :)

[2017-01-04 07:50] neerajwahi commented on #184
Hmm at first glance that doesn't seem related. Not getting the `Attempted to transition from state..` warning box

[2017-01-04 07:50] neerajwahi commented on #182
👍 to the importance of sticky headers

[2017-01-04 07:55] neerajwahi commented on #164
I think having a compose bar visible but not usable is very confusing (and a UX anti-pattern).

Better to hide it until it's usable, or let the user choose a stream and topic when clicking into it (this was my original thought)

[2017-01-04 09:38] #185 closed

[2017-01-04 09:39] #174 closed

[2017-01-04 18:04] timabbott commented on #164
Agreed.  We should just let the user choose stream+topic for the compose box in the home view (and choose topic when in a stream narrow).  We may need to make compose a bit more similar to how the existing Android app compose works for these narrows (but I think it's great to have it not require specifying where you're sending to in stream+topic narrows and PM threads, as we currently have it)

[2017-01-04 19:53] borisyankov commented on #178
Elaborate.

[2017-01-04 19:55] borisyankov commented on #169
Improved in `caching` branch.

[2017-01-04 20:54] timabbott commented on #178
@neerajwahi do you have the screenshot for this?  Regardless it was very reproducible, basically the top part of the top message (i.e. who sent it) would be obscured by the main header at the top of the screen after you scroll to the top.

[2017-01-04 22:42] borisyankov commented on #165
What brand of phone do you have?
I am with Nexus 6P - so this is the actual default messaging app coming from Google.
If you have Samsung/Sony etc. they tend to have their own apps.

[2017-01-04 23:22] borisyankov commented on #170
Wouldn't a # work better? I couldn't find such an icon quickly thus put this one temporarily.
Since we use #stream in the messages, and the designs showed a colored # next to the names instead of blocks?

[2017-01-04 23:38] timabbott commented on #170
Oops, you're right, these should just change to `#` since that's the long-term design plan.

[2017-01-04 23:40] timabbott commented on #165
Samsung, this is probably their app.

Regardless, I think for Zulip in particular, because of the potential for multiple layers of headings (if you're narrowed to a stream, for example), it's probably best to have results appear at the top.

[2017-01-05 00:00] borisyankov commented on #178
Reproduced.
Does not exist on `cached` branch (tm)

[2017-01-05 22:28] timabbott opened #196 "Login form improvements"
* We should automatically append https:// to the URL if the user just enters a server name such a chat.zulip.org (without the "https").

* We should probably not allow using `http://` except to connect to localhost (production servers don't support insecure HTTP).

* Invalid password produces a traceback:

![image](https://cloud.githubusercontent.com/assets/2746074/21699963/e0c0733c-d352-11e6-86df

[2017-01-05 22:34] borisyankov commented on #177
On 'Sign In' a fetch_api_key request is sent.
On success we redirect to main. On fail we remain on the screen.
I see no good reason why it should redirect to an empty screen that has no data yet, and in case of wrong password go back?

[2017-01-05 22:51] borisyankov commented on #196
We have https auto append if no http is entered.
I'll look into the error.

[2017-01-08 01:56] neerajwahi commented on #177
When I tested it on device, a successful sign in redirects to main but also pops open the navigation screen (for login) briefly. I meant we should fix that behavior

[2017-01-08 13:23] #164 closed

[2017-01-08 13:25] #166 closed

[2017-01-08 13:26] #168 closed

[2017-01-08 13:26] #170 closed

[2017-01-08 13:27] #172 closed

[2017-01-08 15:41] #156 closed

[2017-01-08 23:52] borisyankov opened #201 "Optimistic UI Updates"
* Send message displays it immediately
* Adding/removing reaction updates UI immediately

[2017-01-09 00:34] timabbott commented on #201
For sending messages, we'll want to borrow the `marked.js` (for markdown rendering) and `local_id` code path that we have in the web client for reconciling locally echoed messages with the copy that later comes down from the server via the events system.

[2017-01-09 06:35] neerajwahi opened #202 "Fetching more messages causes scroll view to jump"
When new messages are fetched, scroll position should be maintained so that scrolling feels smooth.

This is broken right now (both on master and in the `cached` PR). The scroll position jumps to the top when new messages are fetched. Probably an issue with `AnchoredScrollView`

[2017-01-09 11:39] #171 closed

[2017-01-09 12:34] #80 closed

[2017-01-09 20:10] borisyankov commented on #179
Can you not cancel it by clicking outside the control?

It is definitely better for the search itself to be in a separate modal window which you can go back from, thus giving another way to back off - back/cancel button or the standard back button on Android.

[2017-01-10 18:56] #169 closed

[2017-01-11 20:33] #188 closed

[2017-01-11 22:03] timabbott opened #205 "Avatars should be squares with rounded corners, not circles"
Zulip's avatars should be displayed as squares (with rounded corners), not as circles.

This is based on a lot of consideration -- circular avatars are problematic because many images that we'd like to use in avatars (e.g. bot logos) don't actually look good in circular form, whereas just about anything looks good in a rounded square.

[2017-01-11 22:05] timabbott commented on #202
We now have the app in testflight; this is probably the top issue in terms of UX right now.

It may be a more complicated issue than just that; it seems to jolt multiple times when one scrolls to the top of the home view (possibly doing multiple fetches to the server?).

[2017-01-11 22:10] brockwhittaker opened #206 "Recipient rows not showing fully on TestFlight/iOS10.1/iPhone 6s."
Below you can see the tops of the recipient rows and a little bit of the cut off text but not much more than that. This was visible in the narrows that were public when I would scroll up and load more messages.

![Screenshot](https://cloud.githubusercontent.com/assets/10321399/21868421/8d93841a-d807-11e6-8b58-0cf3bbae7fb4.PNG)

[2017-01-11 22:20] borisyankov commented on #206
I think this is fixed in:
https://github.com/zulip/zulip-mobile/pull/204

[2017-01-12 07:21] neerajwahi commented on #202
I think the multiple jolts is because the initial scroll position jump causes the scroll view to cross the data fetch threshold and fetch even more data, causing another scroll position jump and another data fetch, ad infinitum..

[2017-01-12 14:14] #177 closed

[2017-01-12 14:14] #165 closed

[2017-01-12 14:17] #176 closed

[2017-01-12 14:17] #196 closed

[2017-01-12 16:40] #149 closed

[2017-01-12 16:45] borisyankov opened #209 "Better loading/caching of 'later' messages"
Reintroduce 'caughtUp' handling multiple narrows.
Show message loadings at bottom when needed.

[2017-01-13 21:41] #118 closed

[2017-01-13 21:43] #94 closed

[2017-01-13 22:29] borisyankov opened #210 "Conversations List"
- [x] Show list of people with recent private messages
- [x] Show list of recent group messages
- [x] Extract all users in a modal dialog
- [x] Show if any of the users/groups is the currently active narrow

[2017-01-14 04:55] neerajwahi opened #211 "App crashes when responding to private message"
Tested on physical device.

App crashed when I hit send after composing a message to a private narrow (with one recipient).

[2017-01-14 18:33] borisyankov commented on #211
Hmm, can not reproduce on an emulator. Will test on a physical device too.

[2017-01-14 22:19] borisyankov commented on #211
It worked for me on a device too.

[2017-01-14 22:21] borisyankov commented on #182
Latest build tested on device. Sticky headers work.

[2017-01-14 23:22] borisyankov opened #212 "Android Layout Bugs"
- [x] Fix message subheader sizing
- [x] Fix Sidebar crazy spacing
- [ ] Fix compose offset when keyboard pops up

[2017-01-15 21:44] #178 closed

[2017-01-15 21:59] #135 closed

[2017-01-15 22:54] neerajwahi commented on #211
@borisyankov it doesn't work for me though, so let's leave the issue open until I investigate

[2017-01-15 22:56] neerajwahi commented on #139
@borisyankov why did you close this? Let's keep issues open until the fix has landed please.

[2017-01-15 23:00] #181 closed

[2017-01-15 23:09] #205 closed

[2017-01-16 10:50] neerajwahi opened #215 "Use email keyboard type for email field when logging in"
The email keyboard provides easier access to characters like `@` and `.com`

[2017-01-16 10:54] neerajwahi commented on #182
I'm still seeing this issue for the 'Release' configuration on device only. Investigating.

[2017-01-16 11:04] vishwesh3 commented on #215
Can I work on this?

[2017-01-16 11:18] borisyankov commented on #215
Sure. If you have questions, don't hesitate to ask.

[2017-01-16 11:26] neerajwahi commented on #182
My hypothesis is that this occurs because the `type` property used here is not available in Release configuration:  https://github.com/zulip/zulip-mobile/blob/d2accb57db95c13279cd370e392c94cfdd4fd853/src/message-list/MessageList.js#L23

[2017-01-16 11:34] borisyankov commented on #182
That is quite a good guess.

[2017-01-16 12:29] neerajwahi commented on #215
👍 This is a great starter task

[2017-01-16 21:24] neerajwahi opened #218 "Switching accounts intermittently broken"
Switching accounts often results in empty sidebars and a 'No messages on server' message on the home screen. Seems to occur more often than not

Configuration: Release build, on device

[2017-01-16 21:26] neerajwahi opened #219 "Distinguish current active account on 'Switch Accounts'"
The current account should be visually distinguished from the list. Right now each account row looks identical and the only clue to which account is active is its position in the list (position = 0 means the account is active)

[2017-01-16 22:21] borisyankov commented on #219
Visually: background = BRAND_COLOR, text color = 'white', borderRaidus = 2px

[2017-01-17 16:13] #215 closed

[2017-01-18 02:29] timabbott commented on #128
Let's split this into issues for the individual items; some things (like tables) are super not important; whereas other are somewhat important.

[2017-01-18 02:30] timabbott commented on #128
(We can use a label to keep these together if needed)

[2017-01-18 02:39] timabbott commented on #154
I think for v1 we can just show a centered black Zulip logo at the top (like we currently do on chat.zulip.org), which we can use both as the loading indicator space as well as the thing that gets swapped into place if we find we're at the top of the feed.  The important constraint is that the loading indicator have the same height as the top-of-feed marker.  We'll likely revise the design at some

[2017-01-18 14:56] vishwesh3 commented on #219
I would like work on this.

[2017-01-20 04:53] borisyankov commented on #179
Addressed by https://github.com/zulip/zulip-mobile/pull/222

[2017-01-20 21:36] borisyankov opened #224 "Android: set default 'app color' to 'brand color', for scroll end effects etc."

[2017-01-23 00:18] borisyankov commented on #35
@timabbott Is the api ready for this?

[2017-01-23 01:57] timabbott commented on #35
Haven't worked on this yet; what do you think we should call the endpoint?  That's basically the hard part :)

[2017-01-26 00:15] timabbott opened #227 "Offer "declare bankruptcy" option if you're super far behind current"
See https://github.com/zulip/zulip-android/issues/326 for some details on how this should work.

[2017-01-26 19:00] neerajwahi opened #228 "Clicking on narrow doesn't maintain position in stream"
Clicking on a narrow results in the stream jumping to the latest narrow in the message.

The intended behavior (consistent with the web app) is to jump to the message whose header was clicked.

[2017-01-26 19:02] neerajwahi opened #229 "API timeout crashes app"
The `apiCall` function in `apiFetch.js` throws when a network fetch timeouts, but that timeout is not caught in the `try..catch` scope. As a result, the Error bubbles up and crashes the app.

[code]

This appears to be the cause of most of the instability I noticed in testing.

[2017-01-26 19:05] neerajwahi opened #230 "Use pointer from server on initial fetch"
We are jumping to the latest message on the server when the app is loaded (by passing in `Number.MAX_SAFE_INTEGER` as the pointer when fetching messages).

The intended behavior (consistent with the web app) is to place the user where he or she left off in the stream (by using the pointer return from the register events API call).

[2017-01-26 19:06] neerajwahi opened #231 "Messages sent to self have incorrect header"
For example, if a user sends a message to him or herself, the header in the stream view is blank (instead of displaying the user's name)

[2017-01-26 19:09] timabbott commented on #230
http://zulip.readthedocs.io/en/latest/pointer.html documents the correct behavior here.

[2017-01-26 19:11] neerajwahi opened #232 "Animated GIFs use too much memory"
This is a known problem in React Native: https://github.com/facebook/react-native/issues/1968

Each frame of an animated GIF is stored uncompressed memory and animated using CoreAnimation. For large GIFs with many frames, this behavior causes large amounts of memory consumption and app crashes. For example, a 3.8 MB animated GIF with 650 frames could end up using over 2 GB of memory.

The solution

[2017-01-26 19:15] neerajwahi opened #233 "MessageList not clipping subviews"
For an `RCTScrollView` to clip off-screen subviews, the `removeClippedSubview` property must be set to true and each subview must have the `overflow: hidden` property (otherwise a frame might have content on-screen despite residing off-screen).

Not all of the subviews of `MessageList` have `overflow: hidden` set and `removeClippedSubviews` is off as a result.

This issue (along with #232) account

[2017-01-26 19:17] neerajwahi opened #234 "Click area of Avatar in MessageList extends too far vertically"
Each message in the stream has an avatar associated with it (on the left side of the message). Clicking on the avatar shows a screen with details about the user who sent the message.

The current click area for the avatar spans the full length of the message, but should be confined to just the thumbnail of the user.

[2017-01-26 19:21] vishwesh3 commented on #231
Can I work on this?

[2017-01-26 19:21] neerajwahi opened #235 "Avatars not always shown in header on private chat narrows"
An avatar image for users is not always displayed in the navigation header in a private chat narrow.

If the private narrow is a 2 person chat, only the other participant's name is displayed in the navigation header.

If the private narrow is a 3+ person chat, some avatars are not displayed in the navigation header and there is otherwise no indication (in the navigation header) that those people a

[2017-01-26 19:25] neerajwahi opened #236 "Improve message caching logic"
The current message caching logic stores messages in a `messages` dictionary keyed by a narrow object.

A better approach is to store all messages in an array (merging new messages in as fetched) and filter the array when the stream is in a narrowed view. This approach ensures that all messages that are fetched in the Home view are immediately available for narrowed views, and avoids duplication o

[2017-01-26 19:37] borisyankov commented on #235
This I think is fixed in some of the PRs.

[2017-01-26 20:07] borisyankov commented on #231
Should a user even be able to send a message to himself?

[2017-01-26 20:11] neerajwahi commented on #231
I think so. Could be useful for notes and testing. In any case, the server
and web app support it so we should as well
On Thu, Jan 26, 2017 at 12:07 PM Boris Yankov <notifications@github.com>
wrote:

[2017-01-26 20:13] timabbott commented on #231
Yes, we definitely support this.  Slack supports it as well for the same reasons -- it's super nice for testing out how the features work without bothering anyone.

[2017-01-27 05:13] borisyankov commented on #236
`This approach ensures that all messages that are fetched in the Home view are immediately available for narrowed views`

What do you mean? They are also available with the current implementation?

[2017-01-27 05:59] neerajwahi commented on #236
Right now each narrow has its own list of messages: https://github.com/zulip/zulip-mobile/blob/a415373bf85794bfe3226bf1ddd0c64aa90bb5e1/src/chat/chatReducers.js#L37

So there is no cache the first time a narrow is loaded, even if a lot of messages that would have been shown in that narrow were loaded in the home view, for example.

[2017-01-27 07:43] borisyankov opened #237 "Better 'loading messages' indicator"
When loading a new narrow use the current '5 loading messages' visual.
When loading messages from top or bottom, show an ActivityIndicator on top or bottom respectively.

[2017-01-27 07:57] borisyankov opened #238 "Prefetch new messages before reaching the end of the list"
Start fetching new messages before having reached the top or the bottom of the list.
As long as done at the correct time, the messages should load before the user sees a loading indicator.

[2017-01-27 07:58] borisyankov commented on #236
Since we decided to not load 1000 messages at the start, that strategy is much less effective with 50 or 100 messages (which were the last proposed).

[2017-01-27 08:28] borisyankov opened #240 "Animations"
Consider using custom animations in select places to make it clear what changes.

Add ideas to the [Animations To-Do List](../wiki/Animations)

https://medium.com/ux-in-motion/creating-usability-with-motion-the-ux-in-motion-manifesto-a87a4584ddc

[2017-01-27 08:35] #202 closed

[2017-01-27 08:50] neerajwahi commented on #237
I experimented with using the black Zulip loading indicator from the web app. It works pretty well. Will open a PR

[2017-01-27 08:51] #69 closed

[2017-01-27 09:00] neerajwahi opened #242 "Increase size of touchable targets in stream headers"
For instance, the touchable area of the 'topic' part of a stream / topic header does not cover the entire visible area. This means that clicking toward the right side of the stream header has no effect.

[2017-01-27 09:14] #233 closed

[2017-01-27 09:18] #229 closed

[2017-01-27 09:18] borisyankov commented on #242
I did that for the HTML 🥇
Will do next. Will also make private headers a bit larger.

[2017-01-27 09:20] neerajwahi commented on #232
I'm going to disable animated GIFs for now until we come up with a more permanent fix.

Disabling the animation will be a change to our react-native fork (https://github.com/zulip/react-native) so won't be reflected in this codebase.

[2017-01-27 09:26] borisyankov commented on #237
What did you use to load the svg? Or did you use the Logo component?

[2017-01-27 09:32] neerajwahi commented on #236
We could always fetch 50 messages upfront to display a stream quickly and then fetch more in the background to fill in the message cache. Having one list of messages significantly simplifies things in my opinion.

Fetching a list of recent private messages recipients seems to be a bit of a special case anyway. Maybe worth adding an endpoint specifically for this @timabbott ?

[2017-01-27 09:34] borisyankov commented on #236
We should discuss that on video IMHO.

[2017-01-27 09:37] neerajwahi commented on #237
I created a new `Loading` component. I rendered the SVG to PNG and used the Animation API

[2017-01-27 09:42] neerajwahi opened #245 "Change navigation bar color when narrowed to a stream"
Each stream has a color associated with it. It'd be nice to change the background color of the navigation bar to match that color when narrowed.

(This isn't quite bite-sized, but I think this is a nice starter project for anyone interested in contributing)

[2017-01-27 09:44] borisyankov commented on #245
Also, text size needs to be changed accordingly.
Can be black or white, depending on contrast.
Code already exist in codebase.

[2017-01-27 09:45] vishwesh3 commented on #245
Can I work on this?

[2017-01-27 09:48] borisyankov commented on #245
Yes, it is free for grabs. ;)

[2017-01-27 09:50] borisyankov commented on #245
Just make sure to reuse the color code already there.
The function I mentioned is `foregroundColorFromBackground`.

[2017-01-27 09:51] vishwesh3 commented on #245
ok :)

[2017-01-27 10:13] borisyankov opened #246 "Messages go over sticky headers"
This is likely related to latest fork and changes to ScrollView

Some messages, go over the sticky headers when scrolling up.

![image](https://cloud.githubusercontent.com/assets/867242/22367382/f0d4a912-e489-11e6-86b3-be3076374b80.png)

[2017-01-27 10:13] borisyankov commented on #246
@neerajwahi probably you should look into it.

[2017-01-27 10:14] borisyankov commented on #128
@timabbott consider if any of these are critical, if not lets move to M6.

[2017-01-27 10:17] borisyankov commented on #235
This is fixed in https://github.com/zulip/zulip-mobile/pull/222
Lets get it merged?

[2017-01-27 10:26] neerajwahi commented on #246
@borisyankov Trying deleting `node_modules`, running `yarn cache clean` and then `yarn install`

[2017-01-27 10:30] neerajwahi commented on #235
My concern is that the PR adds new features (and it's quite a big PR). The reason I'm wary of adding features right now is that greater surface area usually means more bugs and we've already got our hands full for M5

[2017-01-27 10:31] neerajwahi commented on #235
I'm going to go through and do a detailed review of all the big open PRs anyway and we can decide what to do from there. I won't get to it tonight though :/

[2017-01-27 11:17] borisyankov commented on #235
I think all three #160 #200 #222 are relatively self contained and I work rather well, so I think it is good to merge this weekend.

[2017-01-27 11:18] neerajwahi commented on #187
I think #232 and #233 should resolve this

[2017-01-27 11:18] #187 closed

[2017-01-27 11:21] borisyankov commented on #10
This is the PR that is WIP:
https://github.com/zulip/zulip-mobile/pull/241

It seems the component is not actively supported currently:
https://github.com/devfd/react-native-google-signin/issues

Before finishing we need to consider either forking this.

[2017-01-27 11:27] neerajwahi commented on #246
Let me know if that worked. If not I'll investigate

[2017-01-27 11:29] borisyankov commented on #10
Some started a new repo here:
https://github.com/joonhocho/react-native-google-sign-in
Definitely not a tried and tested one.

[2017-01-27 11:39] borisyankov commented on #246
Yeah. That might have fixed it.
If it reappears I'll reopen.

[2017-01-27 11:39] #246 closed

[2017-01-27 11:51] borisyankov commented on #184
Can not reproduce anymore. Maybe updating react-native fixed it.
@neerajwahi can you reproduce?

[2017-01-27 11:56] borisyankov commented on #232
There is a wrapper for FLAnimatedImage, so this is the best option: https://github.com/nihgwu/react-native-flanimatedimage

Is this iOS specific issue? (since FLAnimatedImage is `Performant animated GIF engine for iOS`)

[2017-01-27 11:59] neerajwahi commented on #184
Nope. Let's close it and we can reopen if necessary

[2017-01-27 11:59] #184 closed

[2017-01-27 12:13] borisyankov commented on #128
@timabbott Actually moving it to M6, but if you find any of these is too important to delay, we can create a new issue for it specifically.

[2017-01-27 17:30] timabbott commented on #236
We can add such an endpoint; we already have something similar for fetching a full list of topics in a stream.

[2017-01-27 17:49] timabbott commented on #128
Yeah that sounds good.

[2017-01-27 17:51] borisyankov commented on #231
I'll work on it, because we are missing to put in in the store correctly. Didn't think of that case.

[2017-01-27 21:25] neerajwahi commented on #211
I think this is fixed

[2017-01-27 21:25] #211 closed

[2017-01-27 21:25] #182 closed

[2017-01-27 21:26] #154 closed

[2017-01-27 21:26] #237 closed

[2017-01-27 21:27] #209 closed

[2017-01-27 23:54] neerajwahi opened #251 "Trigger refetch on app state change"
If the user puts the app in the background, they may miss messages until they return to the app. In that case we should trigger a refetch to make sure we're up to date.

We can do this by resetting `state.chat.caughtUp` on app state change.

[2017-01-28 00:05] timabbott commented on #251
The correct thing to do here is to check the `get_events` query, and if it returns that the queue doesn't exist, trigger a full reload.

[2017-01-28 16:46] obnoxiousorc commented on #212
I've just fixed subheader sizing in addition to the sidebar spacing. Working now on compose offset.

[2017-01-29 05:58] #242 closed

[2017-01-29 05:58] #231 closed

[2017-01-29 08:54] borisyankov opened #254 "Do not show indicator for finished bottom. Fix loading animation."

[2017-01-29 09:38] borisyankov commented on #251
The best way to implement this is a background task.
Currently only supported on Android:
https://facebook.github.io/react-native/docs/headless-js-android.html

[2017-01-29 11:27] borisyankov commented on #251
Another option is to continue fetching while in the background:
https://github.com/transistorsoft/react-native-background-fetch

[2017-01-29 14:06] borisyankov commented on #35
@timabbott Do we intend to use both approaches? events_register and and API call?
Why we need both?

I suggest we have the call called something like 'compatibility`.
We should also do soon the code push part where we upgrade the JS without app needing update.

Additionally we should notify about the optional updates.

So stages are:

1. JS only updates. Silently upgrade.
2. Compatible upgrades. S

[2017-01-29 14:07] borisyankov commented on #35
BTW app version is already passed via the `User-Agent` headers.

[2017-01-29 14:13] borisyankov opened #256 "Handle all server event types"
- [x] message
- [x] update_message
- [x] subscription
- [x] heartbeat
- [x] presence
- [x] update_message_flags

Highly useful:
- [ ] stream (Useful for keeping up-to-date which streams exist or the user is subscribed to for purposes of autocomplete, managing streams drawer, etc.).
 **TODO: Handle EVENT_STREAM_ADD, EVENT_STREAM_REMOVE, EVENT_STREAM_UPDATE**
- [ ] realm_user (Useful for keeping up-

[2017-01-29 14:15] borisyankov commented on #256
@timabbott I found that the `server_events.js` file useful. Is there documentation on what event does what somewhere?

[2017-01-29 14:18] borisyankov commented on #256
Also, see the unchecked events that we do not handle yet. Is there something that is high priority?

[2017-01-29 18:58] timabbott commented on #256
zerver/lib/actions.py has the code paths that send all of these; look for calls to `send_event`.  I'm updating the above with the stories for each.

[2017-01-29 19:20] timabbott opened #257 "clean up UserAgent to match other Zulip apps/scripts"
We should make the User-Agent format start with `ZulipMobile/1.0`; that's the style we use for all of our other apps/integrations/etc., and it's nice to be able to use the same parsing code for them all.

[2017-01-29 19:21] timabbott commented on #35
Opened https://github.com/zulip/zulip-mobile/issues/257 for making the User-Agent match our other stuff.

I'll add a quick endpoint that always returns success at `/compatibility`.

[2017-01-29 19:31] timabbott commented on #251
Continuing to fetch in the background might be the right strategy, since then one can have more of an instant open experience.  If we want to make the background action super cheap, all it really needs to do is keep checking in with the server and save the events in a queue; doesn't need to actually process them until the user opens the app again.

[2017-01-30 00:48] neerajwahi commented on #251
I would consider background fetch as more of an optimization (that we can add later) because it's out of our control when (and if) it runs, so we can't count on it.

For now I think we should trigger a full reload on app state change if there's no queue available. The full reload is necessary because messages may have been edited (along with added), but we can do the reload and silently merge the

[2017-01-30 00:59] timabbott commented on #251
Yeah, we have to do that even if we're doing the background fetch, so let's start with that and then we can add background fetch later.

We can open a separate issue in M6 for background fetch?

[2017-01-30 04:54] neerajwahi commented on #251
👍

[2017-01-30 04:56] neerajwahi opened #259 "Fetch messages while app is in background"
We can use background requests on iOS to periodically drain the Zulip server queue while the app is backgrounded.

See discussion on #251

[2017-01-30 06:30] timabbott commented on #35
I test-deployed https://github.com/timabbott/zulip/commit/d0d7dbfde285228aac3c465850a0a91cd172ccff to chat.zulip.org; can you verify that works @borisyankov?  You can test success as normal, and failure using `ZulipInvalid/5.0` as the User-Agent.  Note that it expects the user-agent format I suggested in #257.

[2017-01-30 06:35] neerajwahi commented on #35
@borisyankov I think we need both `events_register` a separate API call on a fixed endpoint because they serve different use cases. The `events_register` endpoint lets a server admin enforce a minimum version, whereas the API call (to a fixed endpoint) allows an app publisher (for example, Kandra Labs) to force an update for all users regardless of realm.

I agree we eventually want JS only update

[2017-01-30 06:45] neerajwahi commented on #175
@borisyankov seeing this error int the console:
[code]

Can you reproduce?

[2017-01-30 06:49] neerajwahi commented on #236
@borisyankov assuming we add such an endpoint do you still have objections with this approach?

[2017-01-30 18:18] borisyankov commented on #175
Probably a missing Emoji. Closing this and reopening a bug issue.

[2017-01-30 18:18] #175 closed

[2017-01-30 18:20] borisyankov opened #260 "Some emojis are missing compared to main app"
Warning example:
[code]

@timabbott can we auto generate a file in this format (slight difference of how emoji codes are presented):
https://github.com/zulip/zulip-mobile/blob/master/src/emoji/emojiMap.js

[2017-01-30 18:22] #254 closed

[2017-01-30 18:31] #98 closed

[2017-01-30 18:32] borisyankov commented on #78
@neerajwahi What does this mean?

[2017-01-30 18:34] borisyankov commented on #139
This is tracked in the Conversations list issue. Closing.

[2017-01-30 18:34] #139 closed

[2017-01-30 19:29] timabbott commented on #78
Is this about inline image previews?

[2017-01-30 19:36] timabbott commented on #260
Probably; should be a not-too-hard patch to `tools/setup/emoji/build_emoji` in the Zulip backend, which generates static/generated/emoji_codes.js.

[2017-01-30 21:26] borisyankov commented on #236
Yes. First, the memory savings are minimal, just the references are duplicated, meaning for 1000 messages you get a savings of 8kb memory.

Again, the current implementation is how it is cached in the main Zulip app and also in Slack...

Here is a scenario:
1. Get first 20 Home messages.
2. Switch to '#hello' stream. Get 20 messages.
3. Now go back to Home.

At this point your messagesList has 20

[2017-01-31 07:29] neerajwahi commented on #78
Updated the description. I think I had things like tweets in mind when I created this. We already have inline image previews

[2017-01-31 07:36] neerajwahi commented on #232
Yep saw the wrapper. The problem is that it seems hard to integrate it with React Native's Image which we likely want for a couple of reasons:
- We can't truly know if an image is a GIF until we examine the content (and look at its header). We could use a heuristic like looking at the file extension but that's not always correct.
- We have to send additional headers if the image is being fetched f

[2017-01-31 08:15] borisyankov commented on #78
These are heavy html/css responses, and after discussing with Tim, it seems the weight will be on the app, not on the server to make it work. So I am doing a deep-html parsing & rendering that will improve the rendering.

That being said, the twitter styling is very bad IMHO (in the main site). Ideally they will look more like what you get when you embed a tweet.

[2017-01-31 12:24] vishwesh3 opened #261 "Selected Account and button have the same styling in Switch Accounts."
![screenshot_1485633664](https://cloud.githubusercontent.com/assets/18511177/22464653/fadb93ba-e7dd-11e6-88f9-f7265d48d4ea.png)

@neerajwahi @borisyankov Can you please suggest a style for the button. I would like to work on this.

[2017-01-31 18:03] timabbott commented on #78
Yeah, we should do a pass of revisions of our twitter cards on web.  They looked like what tweets did 3 years ago, which is when that twitter card implementation was originally done :).

[2017-02-01 08:18] borisyankov commented on #257
I changed it a bit. Now it says:
`ZulipMobile/1.0 (iOS 10.2)`

Do you mean we should strip the `(iOS 10.2)` part?
Because I think it is useful, at least to differentiate iOS vs Android.

[2017-02-01 08:42] borisyankov opened #264 "Image embeds when clicked on the image should open custom view"
Pressing on an image thumbnail should open a modal view where the image can be zoomed in/out. Optionally shared and downloaded too.

[2017-02-01 08:42] borisyankov opened #265 "Twitter embeds styled better"

[2017-02-01 08:47] timabbott commented on #257
That's great.  We just need the first part to be of a consistent format.

[2017-02-01 09:03] borisyankov commented on #228
@neerajwahi Have you started on this, or can I do it?

[2017-02-01 09:27] neerajwahi commented on #228
You can do it. I left comments on some open PRs though so best if you could address those first

[2017-02-01 09:35] borisyankov opened #267 "Support muting/unmuting"
Event needed is `muted_topics`.

- [ ] Mute topic or stream
- [ ] Unmute topic or stream

[2017-02-01 09:48] borisyankov opened #268 "Message requesting does not work well when few messages exist"
Testing on https://zuliporg.zulipchat.com reveals some issues, very few messages shown, likely no scroll event is fired up and no older messages are fetched up.

[2017-02-01 09:52] borisyankov commented on #268
Hmm, that might be a server issue, or I am misunderstanding something.

@timabbott Why can I see just 4-5 messages in Home in this server, while some streams I am subscribed to have many?

[2017-02-01 18:23] timabbott commented on #268
This is because that server has no traffic.

So the way the server works when you join is that we add to your Home history something like 100 messages of recent history on your initial subscriptions.  If an org were active, you'd get more messages and things would proceed from there.

We also allow you, when narrowed to a public stream, to see the complete all-time history of that stream even from

[2017-02-01 18:26] borisyankov commented on #268
So the app works as expected.

[2017-02-01 18:26] #268 closed

[2017-02-02 08:35] neerajwahi opened #269 "Travis CI build is erroring out"
Looks like it can't find `flow`

[2017-02-02 08:40] neerajwahi commented on #264
Could you elaborate? I'm not sure I understand what this means

[2017-02-02 08:46] #219 closed

[2017-02-02 09:18] neerajwahi commented on #251
This should be an M5 issue -- otherwise the user will see stale data when reloading the app

[2017-02-02 09:22] neerajwahi opened #270 "Show message when app is offline or reconnecting"
Show a message when the app is offline (and when it reconnects)

[2017-02-02 12:23] #257 closed

[2017-02-02 13:48] borisyankov commented on #264
Expanded into the description a bit.

[2017-02-02 19:00] timabbott commented on #230
Yeah this one should be M5.

[2017-02-03 15:20] borisyankov opened #271 "Some use-cases with account management when logged in are not handled"
* Logout
- [x] Clears all store data

* Removing an account:
- [x] If it is the first account, switch account (or maybe can not remove active account?)

* Adding an account:
- [x] Do reset the store data

[2017-02-03 20:18] borisyankov opened #272 "Compatibility server check"
- [x] Add API call to check compatibility with server
- [x] Handle a 404 correctly (servers prior 1.5)
- [x] Check for compatibility on start (and connection to an existing authenticated realm)
- [ ] Check for compatibility on realm add

[2017-02-03 20:31] borisyankov commented on #35
@timabbott What do you think about the last @neerajwahi comment. Is that the intent?
Do we want to differentiate between the `api/register` and `/compatibility` in that sense?

[2017-02-03 20:39] timabbott commented on #35
OK, after thinking about this more I think this is the actual proposal we want:
* `/compatibility` would be queried against `https://zulipchat.com` to allow us as app publishers to force everyone to upgrade from e.g. a broken version.  I guess this should happen in the background on app startup.
* The `/api/v1/register` endpoint would be queried against the actual server they're using (zulip.examp

[2017-02-03 20:43] borisyankov commented on #35
I will add the api call url to the config.js, on fail I'll show a screen that has no `back` button, telling them to upgrade.

[2017-02-04 14:23] borisyankov opened #273 "Voting for a reaction throws exception"

[2017-02-04 15:14] borisyankov opened #275 "Add link to app stores on the 'compatibility fail' screen"

[2017-02-04 18:19] #235 closed

[2017-02-05 01:08] #273 closed

[2017-02-05 14:05] #272 closed

[2017-02-05 15:37] #35 closed

[2017-02-05 15:37] #179 closed

[2017-02-05 23:17] borisyankov opened #280 "Render a new line for <br> tags?"

[2017-02-06 03:04] neerajwahi opened #281 "Clicking on images doesn't open them in browser"
To reproduce, click on an image (not a link) in a message.

[2017-02-06 03:08] neerajwahi opened #282 "Hide status bar when side drawers are open"

[2017-02-06 08:32] neerajwahi opened #284 "Exception when clicking back button from AccountDetails screen"
To reproduce: click on a user avatar in a message to show the account details screen. Then click on the back button in the navigation bar.

Exception:
[code]

[2017-02-06 08:37] #218 closed

[2017-02-06 09:28] borisyankov commented on #282
We should not hide it, but add BRAND_COLOR background behind so they are visible.

[2017-02-06 13:21] #270 closed

[2017-02-06 13:22] #271 closed

[2017-02-06 18:07] borisyankov commented on #260
Assigning to M5. Breaks when missing emoji is used.

[2017-02-06 20:52] brockwhittaker opened #287 "Message headers are visually too large/thick."
The message headers as shown in the screenshot below on the iPhone 5 Simulator are quite large and take up too much space on the screen. Perhaps the height should be closer to around 70% of what it is currently?

<img width="320" alt="screen shot 2017-02-06 at 12 49 48 pm" src="https://cloud.githubusercontent.com/assets/10321399/22665804/f9c1a9c4-ec6a-11e6-8c0f-0a0623eed028.png">

[2017-02-06 20:53] brockwhittaker opened #288 "Font size is too large in the application."
The body font size in the application seems to be much too large such that it doesn't seem to be space efficient. Perhaps decrease the font size by around 20% or so?

<img width="320" alt="screen shot 2017-02-06 at 12 52 32 pm" src="https://cloud.githubusercontent.com/assets/10321399/22665865/369b3928-ec6b-11e6-9e3d-338da8a035a1.png">

[2017-02-06 21:02] brockwhittaker opened #289 "Logout feature does not provide correct login access in development mode."
When a user logs out in development, they are prompted to then enter the username and password of the user to log in as shown below when realistically they should just be going to the view where you choose one of the preset development accounts after choosing the server.

![screen shot 2017-02-06 at 1 00 07 pm](https://cloud.githubusercontent.com/assets/10321399/22666173/7469d9d4-ec6c-11e6-91b6-dd

[2017-02-06 23:22] borisyankov commented on #288
The font size is perfect, you are looking it zoomed in on a mac :D
An iPhone 5 is just a tiny device with small screen.
The font size is exactly the same as Slack.
The headers wouldn't be `tappable` if they were smaller - they are around 44-50px.

[2017-02-06 23:42] brockwhittaker commented on #288
The font size is definitely too large. Here's a comparison of the Slack App on the iPhone 6S and the Zulip Mobile app on the iPhone 6S.
![slack-vs-zulip](https://cloud.githubusercontent.com/assets/10321399/22671337/b10a1848-ec82-11e6-8156-9a7421be9d58.jpg)

[2017-02-07 00:46] brockwhittaker commented on #288
There's something strange going on. When mapping the iPhone 6S and the iPhone 5 outputs it appears as if the iPhone 5 seems to be a larger font size than the 6S relative to the screen. This isn't super high priority right now, I'll passively look into it. Don't worry about it for now. :)

[2017-02-07 01:40] brockwhittaker opened #291 "At different text sizes in iOS the message bar contents do not stay vertically centered."
You can replicate this by choosing the smallest scaling option on your iPhone in Settings > Display & Brightness > Text Size and then the largest and comparing the message headers. Below is what it looks like on the 6S.

![img_0168](https://cloud.githubusercontent.com/assets/10321399/22674140/2a904114-ec93-11e6-9c5c-b76ca7e896f0.PNG)
![img_0167](https://cloud.githubusercontent.com/assets/10321399/

[2017-02-07 11:29] #288 closed

[2017-02-07 11:33] borisyankov commented on #288
I suggest comparing Slack screenshots for iPhone 5/6/6Plus.

[2017-02-08 00:53] timabbott opened #294 "Remove chat.zulip.org default/placeholder in login flow"
Only the Zulip developers are on chat.zulip.org; only a tiny fraction of Zulip users use chat.zulip.org, so we shouldn't suggest it's the default thing to do.

We may also want to edit the copy in the server prompt to make it more clear that you should be entering the domain of your Zulip server (e.g. zulip.example.com).

[2017-02-08 00:53] timabbott opened #295 "Hang while switching servers"
I got a report from one user that first entered chat.zulip.org and then tried to switch to another server that the app hung until he restarted it.

[2017-02-08 09:09] #291 closed

[2017-02-08 09:12] #281 closed

[2017-02-08 12:18] #260 closed

[2017-02-08 12:18] #284 closed

[2017-02-08 12:39] borisyankov commented on #294
Do we want to suggest another domain instead?

[2017-02-08 12:41] borisyankov commented on #289
@timabbott Do we have a web deployed version of Zulip with Dev Login support?
I prefer not to run a version locally, because the Macbook Pro chokes for memory :)

[2017-02-08 12:44] borisyankov commented on #287
We need that size so they are 'tappable'.
Generally the suggested minimal size on iOS is 44px x 44px, and these headers are actually narrower, so I don't think we can go more narrow.

[2017-02-08 17:21] timabbott commented on #294
No, I think we should just not suggest a domain (for users using the zulipchat.com SaaS service, they would still need to ender e.g. customername.zulipchat.com anyway).  So I think the main real optimization we could make is having a ".zulipchat.com" button on the relevant keyboard :).

[2017-02-08 17:33] timabbott commented on #289
Sent you such a server in PMs.

[2017-02-08 17:34] timabbott commented on #287
I think part of what's going on is the overall font size issue from #288 is present in this screenshot; everything is too big there...

[2017-02-08 17:45] borisyankov commented on #287
There is no bug in the screenshot. You are looking at it on a laptop/pc likely. Or at least a big phone.
iPhone 5 is a tiny screen that can fit much less stuff than a 5" phone.
The header is 70px which considering this is 2x retina is equal to 35px.
This is less than the recommended 44px, but I think it is still tappable because it is wide.

[2017-02-08 19:07] timabbott opened #296 "For group private message narrows, support touching the top bar to see a dropdown with the list of users"
Right now, if you don't recognize an avatar, it's not super easy to figure out who it is.

(We may want to have a little caret or or something next to the list of avatars to show it's clickable?)

[2017-02-08 20:21] timabbott commented on #151
Is this resolved via https://github.com/zulip/zulip-mobile/pull/253?

[2017-02-08 20:22] timabbott commented on #128
Should we just close this in favor of #280 for the remaining item?

[2017-02-08 21:23] borisyankov commented on #128
Yeah sure.

[2017-02-08 21:23] #128 closed

[2017-02-08 21:23] borisyankov commented on #151
Yep. Closing.

[2017-02-08 21:23] #151 closed

[2017-02-08 21:30] neerajwahi opened #297 "Enable adding a link on start screen for terms or service and privacy policy"
This should be customizable so that an app distributor (such as Kandra Labs) can plug them in easily.

[2017-02-09 05:22] timabbott commented on #297
Arguably there's a few things we need:
* License for the app itself (which we can probably just put the project's Apache license in for; I wouldn't bother with making this configurable for now, since someone redistributing under a difference license is probably forking anyway).
* ToS/privacy policy for the server.  This is actually already configurable the Zulip server level (and I think the serve

[2017-02-09 14:56] borisyankov commented on #297
App is already licensed under Apache.

ToS - no benefit to over-design it. A link is good enough.
Also no need for it to be extra 'customizable' as it is source code and is infinitely customizable. If the user does not need the ToS, he can delete the single line that is the link to it, or change the URL etc.

[2017-02-09 16:41] borisyankov commented on #297
I guess the ToS is dependent on the server a user connects to?
Should be presented post 'add realm' step?

[2017-02-09 16:42] #287 closed

[2017-02-09 19:01] timabbott opened #299 "Add support for integration with the 1password extension"
I got feedback from a user that they'd like to be able to use the 1password extension with Zulip:

https://support.1password.com/ios-extension/#use-the-1password-extension

It looks like this just requires integrating https://github.com/AgileBits/onepassword-app-extension.

Putting this in the backlog since Google auth is probably higher priority, but this might be easy, so I'd certainly encourage

[2017-02-09 19:34] timabbott commented on #297
Right, so folks accept the ToS when they create an account with a specific server.  So I think we can just do a link in whatever menu we'd put about/settings/etc. post realm add.

The thing I was suggesting is just that we make the server return a "This server doesn't have documented terms of service" thing rather than a 404 if it doesn't have one, to make it not look like the app's ToS/privacy li

[2017-02-09 19:39] vishwesh3 commented on #296
Can I work on this?

[2017-02-09 19:40] timabbott commented on #296
Sure, go for it @vishwesh3!

[2017-02-09 19:50] borisyankov commented on #294
Investigated creating a custom button, it is definitely not trivial. ;)

[2017-02-10 00:57] timabbott opened #302 "Login server page looks broken when screen is rotated."

[2017-02-10 01:08] timabbott commented on #295
Got a second report of this, so definitely worth fixing :)

[2017-02-10 01:17] timabbott commented on #74
I've heard this a few times from folks asking for feedback on the alpha.  Probably this should work like the  Android app's approach (of showing them indented and below the currently open stream in the streams sidebar), with maybe a caret type click target to the right of the stream name to open the list without narrowing?

There's an endpoint on the server that returns topic history that we can u

[2017-02-10 03:08] timabbott commented on #267
I think filtering is M6 priority; muting/unmuting could probably wait.

[2017-02-10 03:09] timabbott opened #303 "Add support for reacting to a message that doesn't have any yet"
We can do this via a longpress menu on a message.

[2017-02-10 03:15] timabbott commented on #21
We need to do more thinking for #73, probably, but this piece probably doesn't require that; we receive the current unread status for a message as soon as we fetch it from the server, and once that's done, we just need to mark it as read and (maybe with some debounce) send the update to the server.  And I think it's probably a good place to start work on unread counts, since it requires doing the

[2017-02-10 03:19] timabbott opened #304 "Optimize initial load performance for `/register` endpoint on large realms"
We can start by not requesting presence info at all in the initial load request (and planning to get that later when we post our own status and see how much that helps.  And then we should identify what other optimizations we need from there.

![pasted_image 15](https://cloud.githubusercontent.com/assets/2746074/22812911/805b591a-eefc-11e6-83ee-b0d2108d5d59.png)

Worth working on this soon since s

[2017-02-10 03:27] timabbott opened #305 "Add a way to get back to e.g. the stream previous view after narrowing to a topic"
There's a really common flow where you see a thread you want to read, click on the thread to read it, and then want to go back to where you were afterwards that we need a way to support on iOS.  I think we should fix this by putting something in the top row; for a stream+topic narrow you can probably just touch the stream up there to go back to the stream, and that's where the issue is most pressi

[2017-02-10 03:28] timabbott opened #306 "Make touching a message body narrow to that stream/topic and reply"
A common piece of alpha feedback is folks not knowing how to compose a message from the home view.  We'll want to add a compose UI from other views at some point, but probably the highest value/time thing would be to make the experience nice for the common case where you want start a reply to something you see (whatever view you see it in).

[2017-02-10 07:58] vishwesh3 opened #307 "Runtime error after some recent merge"
App was running fine, but when I updated my copy with latest master branch it is showing this error
![error](https://cloud.githubusercontent.com/assets/18511177/22818738/c0dc3e26-ef94-11e6-80e7-3e4f59897f69.png)

[2017-02-10 08:37] neerajwahi commented on #307
Ah this is on Android. Thanks for the bug report @vishwesh3 !

@borisyankov do you have an Android emulator set up to take a look at this? I've been focusing on iOS and still need to set up my environment for Android development :)

[2017-02-10 08:39] neerajwahi commented on #302
We need to lock the orientation to portrait mode and that should fix several issues like this

[2017-02-10 13:24] borisyankov commented on #307
Yeah I got Android, and the exception looks to be in the latest emoji code I wrote. Will try to reproduce and fix.

[2017-02-10 18:47] borisyankov commented on #302
Absolutely every other chat app supports landscape orientation, so just locking it to portrait is kind of crutch.
Supporting landscape is likely simple to implement too.

[2017-02-10 18:51] neerajwahi commented on #302
We can discuss whether or not to eventually support it, but it's not true
that every chat app does. Take a look at Slack
On Fri, Feb 10, 2017 at 10:47 AM Boris Yankov <notifications@github.com>
wrote:

[2017-02-10 19:17] borisyankov commented on #302
Slack on Android does support it. And every other chat app that I tested (FB Messenger, Hangouts, Whatsapp, etc.)
10% of people use their phone in Landscape mode.
There is no point to so easily dismiss a trivially implemented improvement to the app.

[2017-02-10 19:35] neerajwahi commented on #302
How am I dismissing it? I said we should discuss it
On Fri, Feb 10, 2017 at 11:17 AM Boris Yankov <notifications@github.com>
wrote:

[2017-02-10 20:30] neerajwahi commented on #302
@borisyankov and to be clear, I don't have objections around supporting landscape mode but I don't want to prioritize it over all the other M5 tasks we have.

if you think landscape mode will be trivial to fix (less than 30 mins of work, for example), we should go ahead and fix it for M5. Otherwise, let's disable landscape mode for now and then I'll add a task to fix it in M6 or M7.

[2017-02-10 20:30] borisyankov commented on #302
Just tested. The only thing that is broken is a bit of misalignment on the login page.
Everything else works. It is not needed to disable landscape for this.
I'll fix next.

[2017-02-10 20:31] neerajwahi commented on #302
Did you test it on iOS as well? Message headers also seem broken when switching between portrait and landscape

[2017-02-10 20:32] borisyankov commented on #302
Yes, trivial. I'll add a more elaborate task for later.
For example on landscape we can hide the statusbar to make it more usable.
For this I'll just fix the layout for password.
Headers look good to me?

[2017-02-10 21:03] borisyankov commented on #307
@vishwesh3 Can you try this PR:
https://github.com/zulip/zulip-mobile/pull/309

[2017-02-10 21:06] borisyankov opened #310 "First-class landscape orientation support"
We are currently supporting landscape, but more can be done.

By using
https://github.com/yamill/react-native-orientation

We can handle hiding the statusbar on iOS.

We should also make sure that everything is usable and takes as little space as possible, since the screen is rather narrow in landscape + keyboard shown.

[2017-02-10 21:13] borisyankov opened #311 "Do performance profiling"
The app is currently performing well.
Still, it is not a bad idea to do some profiling and see if there are easy ways to optimize.

This task is well suited for contributors, that want to learn new things.

A nice guide can be found here:
https://auth0.com/blog/optimizing-react/

I would encourage everyone interested to give it a try.
This is not a task that has to be done by one person exclusivel

[2017-02-10 21:16] vishwesh3 commented on #307
Yes it is working

[2017-02-11 19:55] #307 closed

[2017-02-11 19:56] #294 closed

[2017-02-11 19:58] neerajwahi commented on #282
A lot of similar apps hide the status bar (at least on iOS) but we can revisit this later

[2017-02-11 23:49] #282 closed

[2017-02-11 23:59] #245 closed

[2017-02-12 00:58] neerajwahi commented on #282
I actually think it looks really weird to have the status bar prominently displayed when the drawers are open. Almost every other app with drawers on iOS hides the status bar as the drawer begins opening.

Going to open a PR that adjusts this behavior.

[2017-02-12 01:53] timabbott commented on #304
@zulipbot claim to assign myself the backend piece.

[2017-02-12 01:56] neerajwahi opened #315 "App crashes on new message event"
Occurs occasionally. Noticed on iOS device in Release configuration

[2017-02-12 01:56] neerajwahi commented on #315
@zulipbot claim

[2017-02-12 16:12] borisyankov commented on #295
Not sure if related but I found a thing we are not handling.
In eventActions.js we have this:
    while (true) {
It needs to break if we switch accounts.

[2017-02-12 17:24] vishwesh3 opened #317 "Add app icon for Android"
Add
![ic_launcher](https://cloud.githubusercontent.com/assets/18511177/22864363/2060cb22-f176-11e6-901e-af0605086974.png)

As app icon for android.

Working on this.

[2017-02-12 19:11] borisyankov commented on #305
Not only a back button in the header, but the back button on Android to work, will be the correct behavior.

[2017-02-12 19:13] neerajwahi commented on #295
I'm not sure that's related either but will open an issue for that

[2017-02-12 19:15] neerajwahi opened #319 "Fix event queue processing activation and termination"
Right now the event queue has a `while (true)` condition.

We need to fix two things here:
- Break out of the event queue when the active account changes
- Re-register for the event queue when the queueId is invalid

[2017-02-12 19:20] neerajwahi opened #320 "Show network activity indicator on iOS"
The network activity indicator should be shown whenever there's a pending network request.

The easiest thing to do is probably to instrument `apiFetch` to call `StatusBar.setNetworkActivityIndicatorVisible(...)`

![Network activity indicator](http://storage.chrisrisner.com/images/31iosday28-network-activity-indicator.jpg)

[2017-02-12 20:09] borisyankov opened #321 "Search header"
For 'Search Messages' and 'Search People' use a custom Screen component.
Instead of the search box being below the header, it should be inside the header (look for example at mobile YouTube).

[2017-02-12 23:38] neerajwahi opened #322 "Add test to assert every child of ScrollView has 'overflow: hidden' set"
ScrollView has an important performance optimization called `removeClippedSubviews` which removes subviews outside of the visible bounds from the view hierarchy. This is a big win for memory consumption.

The optimization only kicks in however, when every subview of the ScrollView has the 'overflow: hidden' property set.

We should add a test to make sure no subviews are contained in the main Mess

[2017-02-13 05:21] #317 closed

[2017-02-13 05:39] TomaszKolek commented on #299
I will try to implement it.

[2017-02-13 07:27] TomaszKolek opened #324 "Hamburger menu icon redirects to search people"
Could anybody check it out?
People icon on the right redirects to chat left-side menu
but
Hamburger menu icon redirects to search-people right side menu

[2017-02-13 08:00] TomaszKolek commented on #299
@zulipbot claim-issue

[2017-02-13 08:39] neerajwahi commented on #324
Good catch! This is related to a refactor I landed today

[2017-02-13 08:42] #324 closed

[2017-02-13 11:15] #302 closed

[2017-02-13 12:30] trueskawka opened #326 "messages: Sending a new PM in the app shows up in browser tab."
When sending a private message in the iOS app to another user:
- the web app browser tab shows the new PM icon,
- there is no desktop notification.

The browser tab should not show a new PM icon for the message sender.

[2017-02-13 13:11] trueskawka commented on #320
@zulipbot claim

[2017-02-13 18:31] timabbott commented on #326
Ahh, yeah, one can detect messages sent by you in various ways; what we do on web I think is that we check if 'read' is in message.flags, and only notify you about unread messages.

[2017-02-13 18:31] timabbott commented on #326
(One can also just check if the sender's user_id is yours)

[2017-02-13 18:37] TomaszKolek commented on #299
Sigh...
Its impossible to implement that without an iphone ;-(
https://www.npmjs.com/package/react-native-onepassword (is the lib I tried to integrate)

I have to quit the issue.

[2017-02-13 18:42] TomaszKolek commented on #234
Let's try with it ;-)
@zulipbot claim

[2017-02-13 21:16] borisyankov commented on #326
Is the app missing to do something?

[2017-02-13 21:42] #320 closed

[2017-02-14 05:22] TomaszKolek commented on #74
@zulipbot claim

[2017-02-14 16:49] borisyankov opened #334 "It's way too easy to accidentally swipe left/right to open a sidebar while scrolling up/down."

[2017-02-14 18:45] TomaszKolek commented on #74
@borisyankov @neerajwahi
Please comment my potential approach:
1. Create function to get topics for particular stream
2. execute this function in getting initial info from server
3. create handler for new topic in the stream event from server
4. create state change event and reducer
5. Display on demand

Sounds it reasonable?

[2017-02-14 20:08] borisyankov commented on #74
1. Yes.
2. Execute on narrowing to a Stream
3. Yes. I am not sure if such an event exist though
4. Maybe. Not sure if the details are correct though (should discuss more)
5. Yep.

I think you can do each point in a separate commit/PR.

[2017-02-14 20:10] #234 closed

[2017-02-14 20:14] #228 closed

[2017-02-14 20:14] #230 closed

[2017-02-14 20:30] TomaszKolek commented on #74
Ad 3
If it doesn't we should download topics every time on narrowing?
@timabbott Could you try to help us here?

Ad 4
I'm not familiar enough with React Native so maybe I'm talking nonsense.
Every time we download new topics for a stream we should change the state?

[2017-02-15 04:47] timabbott commented on #74
There's no such thing as a "new topic" event -- topic is more of a field on a message than an object (there's no database table or anything for them).

The webapp just displays those topics that are present in the messages it has in cache from narrowing/scrolling, and one might want to do that to start.  However, there's this endpoint in `zproject/urls.py` that will fetch all historical topics for

[2017-02-15 05:20] borisyankov opened #338 "Misc feedback to be considered before release"
* [ ] There's no way to pick a stream/subject when composing a message, or recipient(s) when composing a DM. All you can do is respond to whatever is in the current view.
* [ ] As a byproduct of the above, you also can't fork a new conversation by modifying the subject.
* [x] There's no long press menu on messages. The old app had a really useful long press menu (eg, reply to stream, reply as DM).

[2017-02-15 05:47] neerajwahi commented on #338
This one is half fixed now. The app takes you to the oldest unread message, but it still doesn't sync the unread state.

[2017-02-15 07:11] timabbott commented on #338
The rest are basically all mainly about issue of "we haven't built a compose box that can send to arbitrary recipients"; we should probably prioritize doing so.

[2017-02-15 07:13] TomaszKolek commented on #321
Will try:
@zulipbot claim

[2017-02-15 08:02] TomaszKolek commented on #321
I'm investigating how it works and I found one thing that I'm not sure about:

In `Screen.js` we execute:
`const { keyboardAvoiding, title, nav, children, popRoute } = this.props;`
the props look like:
[code]
as far as I know `children` is the ReactNative magic prop but what with `nav` and `popRoute`?
`connect` looks like:
[code]

[2017-02-15 15:56] neerajwahi opened #342 "Subscriptions screen shows all streams as muted"
All streams appear muted even if they are not

<img width="371" alt="screen shot 2017-02-15 at 7 55 47 am" src="https://cloud.githubusercontent.com/assets/4666213/22982499/32ff109c-f354-11e6-9281-b4c28ad399f0.png">

[2017-02-15 17:35] vishwesh3 commented on #342
Will try:
@zulipbot claim

[2017-02-15 17:45] borisyankov commented on #342
I did that already. Forgot to assign.

[2017-02-15 17:48] vishwesh3 commented on #342
ok :+1:

[2017-02-15 18:02] #342 closed

[2017-02-15 20:52] vishwesh3 opened #347 "Check device before calling setNetworkActivityIndicatorVisible"
Check device before calling `setNetworkActivityIndicatorVisible` as it is not present in Android.
Here https://github.com/zulip/zulip-mobile/blob/master/src/api/apiFetch.js#L20 and https://github.com/zulip/zulip-mobile/blob/master/src/api/apiFetch.js#L15

[2017-02-15 22:07] #347 closed

[2017-02-15 23:49] borisyankov opened #349 "Indicator for new messages"
If the user had scrolled up and new message arrives, since the view does not scroll, display a bar telling that there are 'new unread messages'.

[2017-02-16 16:02] trueskawka commented on #275
@zulipbot claim

[2017-02-16 16:02] trueskawka commented on #303
@zulipbot claim

[2017-02-16 16:27] trueskawka commented on #326
I think the web app is actually missing something in `static/js/unread.js` - since it's a web app issue, I'll close this one and open a new one in the main repo.

Thanks!

[2017-02-16 16:27] #326 closed

[2017-02-16 20:17] borisyankov commented on #321
Just noticed your question from before...

This part:

[code]

is Flow type definition and is not always up to date.  (we need to improve upon that in future)

Meaning you can pass whatever props you like, even if they are not listed there ;)

[2017-02-16 20:18] borisyankov opened #352 "Better Flow types and checks"
We are currently using Flow but not being too strict about it.
It is quite helpful and also easy to improve.

This is a non-exclusive task - multiple people can work on learning and improving the Flow definitions in the code. Contributions welcome.

[2017-02-16 21:47] timabbott opened #353 "Fix recovery from losing network"
Report from a user: "If I start it up when there's no network (like the phone is hopping between a 4G and LTE), the app doesn't recover. I have to restart it."

Putting this in M5 since it seems like potentially a release blocker (people will have to restart a lot if this is what happens!).

[2017-02-16 21:48] timabbott commented on #353
It sounds like the issue isn't super consistent, so I would look into possibilities like the failure depending on whether your event queue has expired on the server while you were offline (or something)

[2017-02-16 21:57] borisyankov commented on #353
Oh, good catch. That is certainly problematic.
Two potential issues:
* if the initial data requests fail, we should retry
* we need to reconnect to the event polling endpoint

[2017-02-16 21:58] timabbott commented on #353
Here's a comment from another user:

"reproduced issue on new app by turning off wifi on phone, turning it back on again, and sending a message on Chrome on Windows. Message didn't show up in iOS until the app was restarted."

[2017-02-16 22:36] neerajwahi commented on #353
Yep I've noticed this as well. Definitely a blocker.

I'm working on fixing the event queue suspend / reconnect logic

[2017-02-16 22:50] borisyankov commented on #353
Did you not notice I started on it? :)
It does not need a rework.
The solution I come up with is simple and tested it, works.

[2017-02-16 22:59] #306 closed

[2017-02-16 23:31] borisyankov commented on #295
@neerajwahi will your PR address this issue or should I be working on it?

[2017-02-16 23:55] neerajwahi commented on #295
It fixes the event queue not breaking when switching accounts, but not sure if that's the root cause of this issue

[2017-02-16 23:59] #334 closed

[2017-02-17 00:00] borisyankov commented on #295
I haven't encountered the main issue apart from that, so I suggest we treat it as fixed.
If reported again after the release, we can open a new issue.

[2017-02-17 02:28] borisyankov opened #359 "Ensure compatibility with older servers"
We had an incompatibility with the code I wrote for ‘reactions’ not being compatible with older servers.

Adding more people to this task, mostly to point out we should make sure to handle gracefully such conditions.

Tim probably can point to stuff that has been implemented recently, and by ‘recently’ I mean some servers in the wild might not support it.

[2017-02-17 05:17] timabbott commented on #295
I think this is a pretty reproducible flow -- starting with no special state, try logging into one server (but fail) and then switch to another and try to login.  So we should just try that recipe; if it works now, close; otherwise, fix :)

[2017-02-17 06:33] TomaszKolek opened #360 "Change titles to the style where only first letter is capitalized"
Examples:
Search Messages -> Search messages
Find Users -> Find users

[2017-02-17 06:36] timabbott commented on #360
For context, this is how all of our strings work in the webapp at this point, and consistently is nice for i18n and general consistency of user interface.

[2017-02-17 06:42] neerajwahi commented on #360
+1
On Thu, Feb 16, 2017 at 10:36 PM Tim Abbott <notifications@github.com>
wrote:

[2017-02-17 07:40] neerajwahi opened #361 "Date separators in message list not using locale settings"
The date separators in the stream view (for example, '----------- today ------------') seem to be in the wrong place for me (and do not divide actual days in my time zone).

My guess is that we're not checking the user's locale when computing these.

[2017-02-17 14:44] borisyankov commented on #295
Hmmm, that is a very different scenario from what I envisioned. I'll try to reproduce.

[2017-02-17 21:25] timabbott commented on #359
reactions is I think the main one; there's a bunch more subtle things with `user_id` fields having been added to streams etc.

I think it'd be reasonable to just require Zulip 1.5.x for that reason; the main thing I'm working on is making it easy to get the data as to what version a server is running so we have flexibility in the app for what to enforce.

[2017-02-17 21:27] timabbott commented on #16
Based on feedback from users, this is probably one of our top few missing features right now.

[2017-02-17 22:44] borisyankov commented on #359
We fixed the reactions incompatibility very easily and I expect any other similar issue to be very easily fixed; basically some 'ifs' at the right places.

I think it is even simpler to not bother with the concrete version but to try to make sure it works with any reasonable version, even older.

[2017-02-19 18:02] borisyankov opened #368 "Handle failed network request by retrying"
After #353

We need to handle most network requests in more sophisticated way.
The app does not recover when failing to narrow, for example, due to network issues.

[2017-02-19 18:08] borisyankov commented on #353
I am also adding #368
It seems that most network fails bork the app, so after I am finished with this, will make it work for the rest network calls.

[2017-02-19 18:21] #361 closed

[2017-02-19 19:39] timabbott opened #369 "Display lock icon instead of # for invite-only (private) streams that you're subscribed to"
This is I think important for helping users understand the audience for their messages.  The styling we use on web of:
(1) Displaying the lock icon to the left of the stream name in recipient bars
(2) Displaying the lock icon instead of the `#` in stream listings

Is probably reasonable for indicating this clearly to users.

[2017-02-19 20:34] borisyankov commented on #369
A problem with (2) - the stream response does not contain the `is private` type of field, only the subscription response.
Should we add this to the API or am I missing something and it is there already?

[2017-02-19 21:52] timabbott commented on #369
You want the `invite_only` field in the `streams` dicts.

[2017-02-19 22:29] borisyankov commented on #369
Oh, yeah, of course.
Can a user have streams muted, but not currently subscribed to?

[2017-02-20 00:18] timabbott commented on #369
Nope; muted is a subset of subscriptions.

[2017-02-20 01:33] #280 closed

[2017-02-20 01:35] #319 closed

[2017-02-20 05:14] TomaszKolek commented on #360
@zulipbot claim

[2017-02-20 06:00] TomaszKolek commented on #238
@borisyankov
Am I right that we should increase `DEFAULT_START_REACHED_THRESHOLD`/`DEFAULT_END_REACHED_THRESHOLD` in `src/message-list/InfiniteScrollView`?

[2017-02-20 06:35] neerajwahi commented on #238
We already fetch the messages before reaching the top or bottom. We just need to increase the thresholds to tune the performance.

@TomaszKolek that's exactly right.

[2017-02-20 06:37] #360 closed

[2017-02-20 06:56] TomaszKolek commented on #238
@zulipbot claim

[2017-02-20 07:01] TomaszKolek opened #372 "Add possibility to create new message with topic."
Maybe I missed something so please correct me if I'm wrong.

I think we don't have possibility to create new message with custom topic.
Is it intentionally or we should add it?

[2017-02-20 07:19] TomaszKolek commented on #173
@zulipbot claim

[2017-02-20 07:48] timabbott commented on #304
I implemented the subscribers piece in https://github.com/zulip/zulip/pull/3735.

For presence, @showell implemented https://github.com/zulip/zulip/pull/3728.

We are testing both on chat.zulip.org right now.  On chat.zulip.org, presence data points drop from ~1500 to ~250 (This impacts not just initial presence data, but also the presence data that we receive when doing presence updates, and I th

[2017-02-20 07:49] timabbott commented on #372
No, that's just something we haven't built yet.

[2017-02-20 08:05] #238 closed

[2017-02-20 08:06] TomaszKolek commented on #372
Hm... maybe when we click on new message text box we could show another text box above with possibility to add topic.
Just thinking

[2017-02-20 08:38] #21 closed

[2017-02-20 09:07] neerajwahi opened #373 "Use keychain to store api token"
We're currently using AsyncStorage (https://facebook.github.io/react-native/docs/asyncstorage.html) which is unencrypted. We should use the keychain on iOS (and its equivalent on Android) to store this data.

This is probably ok on iOS because apps can only access their own sandbox (and the disk is usually encrypted), but it's best to move to use the keychain. I don't know the story on Android

[2017-02-20 09:17] neerajwahi opened #374 "Debounce posts to `messages/flags`"
Otherwise we run into API usage limits

[2017-02-20 09:19] neerajwahi opened #375 "Open narrows at oldest unread message"
Currently narrowing from the sidebar opens the narrow at the latest message (which in turn marks the latest message as read)

[2017-02-20 10:25] neerajwahi opened #376 "Muted streams not marked as muted in left sidebar"
Noticing this on master. Muted streams are shown with a '#' instead of a mute icon

[2017-02-20 18:24] timabbott commented on #374
Oh, yeah, this is a good call :)

[2017-02-20 18:26] timabbott commented on #373
We definitely get questions about whether the data is encrypted at rest; so once we've at least done this for the crypto material, we should think about doing it for other things.

[2017-02-20 19:18] borisyankov commented on #372
There is a <ComposeOptions> component that will serve to upload images etc. and is currently hidden. This is likely a good place for that option.

[2017-02-20 19:23] borisyankov commented on #373
https://github.com/oblador/react-native-keychain
https://github.com/classapp/react-native-sensitive-info

[2017-02-20 23:14] neerajwahi commented on #373
@timabbott what other things did you have in mind? We're currently not persisting any messages to disk, but iOS uses full-disk encryption so I think it's ok to store that data in the filesystem

[2017-02-21 17:13] TomaszKolek commented on #173
Message has an attribute with html content - is any way to get only text?
I'm asking because of copy to clipboard functionality.

[2017-02-21 19:53] timabbott commented on #173
There's an API endpoint `GET /api/v1/messages/1234` that can get you the raw markdown.  We don't include the data in normal message fetches, since it's rarely accessed.

[2017-02-22 09:50] vishwesh3 commented on #224
@zulipbot claim-issue

[2017-02-23 11:51] timabbott commented on #373
I guess if we're doing caching only in memory, just doing the credentials properly is good enough.  Cool.

[2017-02-23 19:15] #376 closed

[2017-02-23 22:05] borisyankov opened #383 "Search throws 'markAsRead is not a function'"

[2017-02-23 23:51] borisyankov opened #385 "Too many message fetches on start"
There are 10 message fetches happening on start.
Likely the change when to request more messages has something to do with that.

[2017-02-23 23:53] borisyankov commented on #385
This happens not only on start, but on any change of narrow.

[2017-02-24 02:11] timabbott commented on #385
Yikes, that's problematic.  I would consider increasing the number of messages fetched; I feel like we're very conservative about that right now...

[2017-02-24 08:50] #224 closed

[2017-02-24 08:54] #383 closed

[2017-02-24 12:50] #321 closed

[2017-02-25 08:07] #50 closed

[2017-02-26 15:51] borisyankov opened #391 "Possible to use offline"
The app remains usable even when no network is present.
Slack and FB Messenger are good examples of

Currently, we are halfway there.
We need to cache messages, subscriptions, and users from the last run, for this feature to work.

* recognize 'Airplane mode', which is different than 'No Network'
* if the app is offline, do not try to get more messages
* cache images and other resources?
* search

[2017-02-26 20:59] timabbott opened #392 "Use realm icons for quick mobile organization switcher"
We just merged into master and deployed to chat.zulip.org https://github.com/zulip/zulip/pull/3740, which adds support for admin-uploaded realm icons.  Realm icons are the same size as avatars, 100x100.

The URL is available in the /register request request, if we have `realm` in the `want` list, which I assume we already have since it contains useful settings data.

There are 2 fields that adds t

[2017-02-27 11:33] #385 closed

[2017-02-28 03:21] borisyankov commented on #240
https://medium.com/react-native-motion/toolbar-animation-in-react-native-fe89c4f8e4cf#.j3k0uu7t1

[2017-02-28 05:01] neerajwahi opened #393 "Add an 'About' screen"
The About screen should contain:
- Name and version of the app
- Copyright notice
- A mention that this is open source software (and perhaps a link to Github?)
- List of open source libraries used

[2017-02-28 05:06] saketkumar95 commented on #393
@timabbott Can we have this in [zulip-android](https://github.com/zulip/zulip-android) ?

[2017-02-28 05:40] kanhegaonkarsaurabh commented on #393
@zulipbot claim

[2017-03-01 05:03] TomaszKolek commented on #369
@borisyankov I think its done. Isn't it?

[2017-03-02 09:44] #374 closed

[2017-03-02 10:28] nashvail commented on #393
I'm interested in solving this too @timabbott @neerajwahi can I claim this as well?

[2017-03-04 03:05] timabbott commented on #359
Yeah, I think that's reasonable -- best to do this feature-by-feature.

I think maybe what we should do to give confidence in this is setup a development community server that we keep running the oldest version we're going to support with the app (maybe 1.4.2) and then we can test against that version to make sure we won't be breaking things.

Does that seem like a reasonable strategy for forward

[2017-03-04 10:54] kanhegaonkarsaurabh commented on #393
@nashvail It's my bad that I didn't place the WIP PR but I had been working on the issue. I checked your commit and modified my code to include some of your features. Now, except for minor bugs, I guess this issue will be closed sooner or later, so I think you can claim and work on other issues

[2017-03-04 18:35] nashvail commented on #349
@zulipbot claim

[2017-03-05 01:49] huyanhh commented on #299
I have an iPhone so I can try to do it!

[2017-03-05 01:49] huyanhh commented on #299
@zulipbot claim

[2017-03-05 20:10] borisyankov commented on #16
https://github.com/zo0r/react-native-push-notification
https://facebook.github.io/react-native/docs/pushnotificationios.html
https://github.com/nikhilaravi/react-native-push-notifications-tutorial

[2017-03-06 01:50] neerajwahi commented on #315
This should be fixed with latest React Native fork

[2017-03-06 01:50] #315 closed

[2017-03-06 01:51] neerajwahi commented on #251
We now trigger a refresh if the event queue is stale or missing when the app is reopened

[2017-03-06 01:51] #251 closed

[2017-03-06 03:04] kanhegaonkarsaurabh commented on #369
@timabbott @borisyankov  I checked a private stream on RN app in the simulator and there seems to be a lock icon everywhere. Is this issue done? if not, what exactly should I work on, I'm unclear about that.

[2017-03-06 04:57] #259 closed

[2017-03-06 19:27] borisyankov commented on #251
I will open another issue about this. Ideally, we will keep the messages updated while the app is running, but it is quite an involved thing, and am not sure there is good support for that in React Native, so it will be for a future milestone.

[2017-03-06 19:43] borisyankov opened #408 "Keep messages updated even when the app is not in focus."
On Android, using Headless JS:
https://facebook.github.io/react-native/docs/headless-js-android.html

On iOS, using Background Fetch (maybe):
https://github.com/transistorsoft/react-native-background-fetch

[2017-03-06 20:30] borisyankov opened #409 "Custom handling of failed server requests on a case-by-case basis"
By testing extensively on a 'broken connection' one thing is clear: we need to handle each request to the server on a case-by-case basis (and not what we try to do right now).

Requests that need very custom handling:
[ ] Initial realm add, initial login, getting auth types
[ ] Send message (if it fails, we need to indicate this somehow, and not clear the compose box)

Requests that need to be ret

[2017-03-07 11:48] borisyankov commented on #368
This will be resolved when PR #377 is merged.

[2017-03-07 11:48] borisyankov commented on #353
This will be resolved when PR #377 is merged.

[2017-03-07 11:49] borisyankov commented on #10
Mr Bot, this will be resolved with PR #400

[2017-03-07 11:58] kanhegaonkarsaurabh commented on #186
@neerajwahi  @timabbott  I would like to work on this issue. Could you tell me a bit more about how to go about solving it??

[2017-03-07 17:22] nashvail commented on #349
@borisyankov @neerajwahi @timabbott  I am done creating the new message indicator but then I updated my fork with upstream and noticed view scrolls to bottom when new message is received. With that in mind is this issue still relevant?

One thing I'd like to point here is that while a user is scrolling up and a new message arrives it would be a bad UX to scroll the user to the bottom since it'd be

[2017-03-07 17:50] borisyankov commented on #349
@nashvail You are correct. The behavior you describe is exactly what we want.
The scroll down effect is either not intentional, or we did not think it through.
I did not add that, and I don't think Neeraj have added it (or not intentionally).

It makes sense if you remove that scrolling to bottom in your PR too.

PS. For testing you can also chat with yourself.

[2017-03-07 18:17] neerajwahi commented on #349
@borisyankov @nashvail the view should only scroll to the latest message if you're at the bottom of the view already. That behavior was intentional.

Are you noticing it automatically scroll to the bottom when a new message arrives even if the view is not currently at the bottom?

[2017-03-07 18:21] nashvail commented on #349
@neerajwahi yes the view scrolls down even when I am not at the bottom.

@borisyankov yes I kind of figured that late 😅 after flooding the test-here stream

[2017-03-07 18:32] neerajwahi commented on #349
@nashvail that's definitely a bug then. Can you try rebasing onto the latest master, running the following and seeing if it still occurs?
[code]
I updated the app to no longer use a react native fork so I wonder if that update is causing an issue

[2017-03-07 19:13] borisyankov opened #411 "Use Prettier.js"
In a short time Prettier become very popular, and mature.
It smartly auto-formats your js code, saving you time and making conforming to eslint rules easier.
React and other projects are going to soon use it for their code base.

https://github.com/prettier/prettier

[2017-03-07 19:24] borisyankov commented on #369
Yeah, I checked and the private icon is shown correctly everywhere it should.
Closing the issue as done.

[2017-03-07 19:24] #369 closed

[2017-03-08 02:50] kanhegaonkarsaurabh commented on #411
@zulipbot claim

[2017-03-08 05:59] nashvail commented on #349
@neerajwahi I performed the mentioned steps and it doesn't scroll down abruptly anymore 👍

[2017-03-08 10:40] AshishGogna commented on #180
I'd like to fix this... :)

[2017-03-08 10:41] AshishGogna commented on #180
@zulipbot claim

[2017-03-08 11:03] nashvail opened #414 "Components misalign when app orientation is changed with SideBar open"
When orientation of the app is changed with SideBar open following phenomenon is observed.
![](https://puu.sh/uzvuK/4aad1da79e.png)

[2017-03-08 11:04] nashvail commented on #414
@zulipbot claim

[2017-03-08 11:08] kunall17 commented on #267
@zulipbot claim

[2017-03-08 22:51] borisyankov opened #416 "On start, restored message position is incorrect"
Web app and Android app are consistent with each other. Zulip Mobile isn't.

[2017-03-08 23:43] borisyankov opened #417 "Start using Reselect"
Introduce Reselect:
https://github.com/reactjs/reselect
We are already using selectors as a concept.
Using reselect will make sure the performance remains good.

[2017-03-09 00:02] borisyankov opened #418 "Show a star to indicate 'starred message'"
If a message has a 'flags' property (it is an array), and if the flags array contains 'starred', show a star somewhere next to the message.

[2017-03-09 12:49] nashvail commented on #418
@zulipbot claim

[2017-03-09 18:31] #375 closed

[2017-03-09 22:07] timabbott opened #420 "Handle errors where someone enters zulipchat.com as their zulip server"
Apparently a super common error when getting started with the mobile app against zulipchat.com is typing in just "zulipchat.com", not e.g. "recurse.zulipchat.com" as the "Server"; the app just gives an "invalid password" error.

This affects anything with settings.REALMS_HAVE_SUBDOMAINS set on the Zulip server, but that's probably basically just zulipchat.com.

I think we can probably hardcode err

[2017-03-09 22:12] borisyankov commented on #420
We can detect if the server url is really a zulip server or just web server.
The response should differ enough.

[2017-03-09 22:13] timabbott commented on #420
Well the zulipchat.com root domain is a Zulip server in many ways -- you just can't login there.  I think the right protocol model is to just add something to the "supported auth backends" response.

[2017-03-09 22:19] borisyankov commented on #420
Just tested it.
The server returns 'password' and 'google' as auth backends.

Let's keep the request, but just return an empty array?
Then we can handle this as 'not a server Zulip can connect to'.

[2017-03-09 22:26] borisyankov opened #421 "When switching accounts, messages from previous account might still come in"
We should make sure the event loop is terminated correctly on account switch.

[2017-03-09 23:52] timabbott commented on #420
I'll add a special key for this specific situation, since it's a bit different from "no valid auth backends".

[2017-03-10 05:45] timabbott commented on #420
I just merged and deployed everywhere https://github.com/zulip/zulip/commit/c2bee5a89b6ca1a1e3e273b56808289efdb77f1b, which does the server-side changes needed to do this right.  Now the app will get an JSON error returned when trying to connect to the root domain on a subdomains server such as zulipchat.com.

[2017-03-10 05:45] timabbott commented on #420
(Also fixed the fact that invalid subdomains wouldn't return an error)

[2017-03-10 21:18] dannybd opened #422 "App consistently showing me 2-year-old messages"
Launching the iOS app shows me my Zephyr feed from February 20, 2015, at 9:57AM. [This is the message in view](https://zephyr.zulipchat.com/#narrow/near/35413914). Scrolling works, and I can see what my friends and I were talking about on this day as if it were 2 years ago.

Clicking the hamburger button in the upper left hangs for a few seconds, then opens the left drawer. Clicking Home there bri

[2017-03-10 21:21] timabbott commented on #422
@dannybd how many streams are you subscribed to?  If there are tons of them, that's likely to be the cause of the perf problem.

[2017-03-10 21:23] dannybd commented on #422
I am subscribed to a bunch of streams, so that would explain that slowness. I can live with that; I just mentioned it because it seemed to be longer when trying to load from 2015's messages than from today's messages.

[2017-03-10 21:36] timabbott commented on #422
Yeah, makes sense.  Definitely a bug that it's trying to show you stuff from 2015.

[2017-03-11 00:58] borisyankov commented on #422
That is likely related to #416

[2017-03-11 06:16] AshishGogna commented on #180
Can i somehow un-assign myself from this issue?
Would like to un-claim this.

[2017-03-11 06:16] AshishGogna commented on #180
@zulipbot unclaim

[2017-03-12 02:01] huyanhh commented on #299
Hi Mr. Robot, my pull request is here: #423

[2017-03-12 16:44] borisyankov commented on #411
The correct approach to this issue is to split it into three steps (and maybe two PRs):

1. Investigate if prettier.js fits well with our current ESLint rules and our current formatting (it should).
2. Create a PR that implements the prettier.js formatting, any documentation needed, any ESLint changes done.
3. Do a PR with purely code reformatting with prettier.js

Step 3 is trickiest because it w

[2017-03-12 21:45] borisyankov opened #426 "Conversation list is not recalculated on account switching"

[2017-03-13 02:01] huyanhh commented on #322
@zulipbot claim

[2017-03-13 17:57] vishwesh3 opened #427 "Messages are not rendered properly in Android"
![screenshot_20170313-232428](https://cloud.githubusercontent.com/assets/18511177/23868222/9f71c580-0844-11e7-8ffe-ffd844327bce.jpg)

[2017-03-13 17:58] vishwesh3 commented on #427
@zulipbot label "design"

[2017-03-13 18:26] timabbott commented on #422
This is I think caused by having unread messages on 2-year-old muted topics.  I think we need to fix this in the server, not the app.

[2017-03-13 22:56] borisyankov opened #428 "Handle presence update events"
When a presence event comes, update the redux store.

(I thought we had this implemented long ago, but apparently not)

[2017-03-13 23:41] borisyankov opened #429 "Perform action on a message press"
We are not having a clear story on the 'act on a message' group of actions.
Let's use this issue to discuss and plan.

We probably don't want to do anything on a simple 'press'. We have 'Reply to message' on a press (implemented by me).
This certainly clashes with the 'long press' action. We should have only 'long press'. Also, maybe we don't want the touching to be visible (using TouchableWithout

[2017-03-13 23:52] borisyankov commented on #429
Ok, the 'visible' part now seems obvious. We should have a light down arrow on all messages that will open the same menu that opens on a long press.

Same as Facebook news feed (on the right):

![http://i2.wp.com/www.johnhaydon.com/wp-content/uploads/2015/11/Facebook-Donate-Button-in-Newsfeed.jpg?resize=800%2C671](http://i2.wp.com/www.johnhaydon.com/wp-content/uploads/2015/11/Facebook-Donate-Butto

[2017-03-14 05:38] timabbott commented on #429
That arrow spot in Facebook is where we currently put the message timestamp, which is problematic (unless we want to go with touching the timestamp)

From a practical perspective, all actions other than narrow and reply are pretty rare, so we might want to have optimized ways to do those two things, and just put everything else in a long press (or caret) menu.

[2017-03-14 18:13] borisyankov opened #430 "Better request retry strategy"
* Do not retry on non-network errors
* Better retry strategy, extracted into reusable function
* Include event loop retrying too

[2017-03-15 06:46] nashvail commented on #349
@zulipbot yes, I am still working on this!

[2017-03-15 18:09] #414 closed

[2017-03-16 14:09] nashvail commented on #418
Yes I am still working on it.

[2017-03-16 20:04] vishwesh3 opened #435 "Change StatusBar color to darker color associated with each stream in Android"
Generally in Android StatusBar color is 2, 3 shades darker than color of toolbar. Like in Gmail app
![a229a558-4512-432a-b289-a510a51468e7](https://cloud.githubusercontent.com/assets/18511177/24016264/7c5a3b94-0ab1-11e7-8b9e-7805e25cd303.jpg)

In the same way we can set StatusBar color when narrowed to Streams (we are already changing toolbar color to stream color)
![429694fd-02f8-42ae-8357-971179

[2017-03-16 20:05] vishwesh3 commented on #435
@zulipbot claim

[2017-03-16 20:57] vishwesh3 commented on #427
@zulipbot label "android"

[2017-03-16 23:00] #421 closed

[2017-03-17 17:24] vishwesh3 commented on #427
@zulipbot label "android"

[2017-03-17 17:24] vishwesh3 commented on #435
@zulipbot label "android"

[2017-03-17 17:36] timabbott opened #438 "Add unread messages badge on app icon"
As part of our effort to display unread message counts, we should make sure to include an unread messages bad on the app icon.

[2017-03-17 22:03] huyanhh commented on #322
Is there an easier way to test styles using Jest? I was looking up trying to do it but it seems Jest doesn't support checking styles out of the box:

http://stackoverflow.com/questions/28267481/how-to-unit-test-a-style-of-a-react-component-using-jest-js

I can try doing something like this, but that would require adding even more testing libraries. Any thoughts? Is there another way that you were

[2017-03-18 06:14] vishwesh3 opened #440 "Continuous change in StatusBar state when keyboard pops up"
![ezgif com-video-to-gif 11](https://cloud.githubusercontent.com/assets/18511177/24069530/20e0003a-0bd0-11e7-974a-54e559fb77d2.gif)

[2017-03-18 06:14] vishwesh3 commented on #440
@zulipbot label "android"

@zulipbot label "design"

@zulipbot claim

[2017-03-18 06:21] vishwesh3 commented on #440
@zulipbot label "android" "design"

[2017-03-18 06:21] vishwesh3 commented on #440
@zulipbot claim

[2017-03-18 07:07] huyanhh commented on #310
@zulipbot claim

[2017-03-18 16:53] borisyankov commented on #427
It seems for a fix, Android needs 'TaggedView' and 'AnchoredScrollView' components.

[2017-03-18 20:42] feorlen opened #443 "iOS: debug build crashes on launch"
I just installed on a 5s device with xcode, and if I'm running from the device (not started through xcode) most of the time the app crashes on launch. I get a white screen for about 20 seconds and then it crashes. The crash logs all look similar:

[code]

[2017-03-18 20:45] feorlen commented on #443
full crash log:

[ios_crash.txt](https://github.com/zulip/zulip-mobile/files/852733/ios_crash.txt)

device log at the time of launch/crash

[ios_device.txt](https://github.com/zulip/zulip-mobile/files/852734/ios_device.txt)

[2017-03-18 21:10] feorlen opened #444 "iOS: font size change only detected at launch"
If I change my dynamic type font size while the app is running, the font stays the same until the next launch. Only then does it reflect the new size. For native apps, you know this happens if you listen for UIContentSizeCategoryDidChangeNotification, not sure how it should work here.

https://developer.apple.com/reference/uikit/uicontentsizecategorydidchangenotification

[2017-03-18 21:30] feorlen opened #445 "iOS: sign in view doesn't handle large fonts"
Various elements overlap so you can't read all the text. It still functions, however. (Shown at an accessible extra-large size approximately 75% of maximum size.)

![zulip_ios_welcome_view](https://cloud.githubusercontent.com/assets/95028/24076141/fa59d2d0-0be6-11e7-8553-4aadf3b4f865.PNG)

[2017-03-18 22:30] feorlen commented on #445
Here's the realm entry view too

![zulip_ios_realm_selection_view](https://cloud.githubusercontent.com/assets/95028/24076500/c60377da-0bef-11e7-9a5d-fdbcb7ef8fa8.PNG)

[2017-03-18 23:02] feorlen opened #446 "iOS: home view doesn't load correctly on first launch"
When I first install the app on my device from xcode, it launches and I enter my server and credentials, but then the home view never displays messages. I get this instead:

![zulip_ios_no_messages](https://cloud.githubusercontent.com/assets/95028/24076650/6d5997aa-0bf3-11e7-9232-b1afc09e8953.PNG)

The server gets two requests, but then nothing more
[code]

At this time, the app is logging like th

[2017-03-18 23:18] borisyankov commented on #446
I see the app is making the requests...
Two things I am thinking might be happening:
* It is either working, but is slowed down a lot by logging - I see you are running in debug mode.
* Some exception happens, preventing the rendering.

For the first option, can you try running in Release?

[2017-03-18 23:26] feorlen commented on #446
I get the same behavior with a release build.

[2017-03-18 23:27] feorlen commented on #443
This doesn't happen with a release build, only debug.

[2017-03-19 00:12] feorlen opened #447 "iOS: streams in left menu difficult to scroll in landscape"
In the left menu, only the list of streams scrolls. Landscape orientation restricts how many streams are visible, and with large fonts it's even fewer. At the largest accessible sizes, the left side menu doesn't display any streams.

A better option would be to not have the top items fixed, but allow the entire menu to scroll.

This example displays one stream in the menu, and the scrollable area

[2017-03-19 17:39] neerajwahi commented on #416
This is an issue with the server implementation of `use_first_unread`

[2017-03-19 19:33] borisyankov opened #450 "Extensive testing and unit tests for state and property resets on account switch"

[2017-03-20 07:02] vishwesh3 commented on #212
@zulipbot label "android"

[2017-03-20 07:03] vishwesh3 commented on #212
@zulipbot label "android"

[2017-03-20 07:03] vishwesh3 commented on #212
Can I claim this?

[2017-03-20 23:00] #440 closed

[2017-03-21 18:18] jhurwitz commented on #422
@timabbott cherry-picked and deployed https://github.com/zulip/zulip/pull/4151, and I verified that it resolves the issue for me. Once I write a better test, we can merge that PR for real.

[2017-03-21 18:20] jhurwitz commented on #416
@neerajwahi I believe the `use_first_unread` bug you're describing is #422. I'm pretty sure this bug is completely separate -- even after fixing #422, I can still repro this bug.

My repro from this morning, as c/p from a Zulip thread I had about it:

When I last used Zulip web, my pointer was on a message from 10:00, and the last message visible in the viewport (and therefore, probably, the last

[2017-03-22 17:27] borisyankov opened #454 "While adding a new account, if signed in already API requests fail"

[2017-03-22 17:28] borisyankov commented on #416
I also had the impression it is different, as when reproduced locally didn't match the behavior of #422.

[2017-03-22 19:04] borisyankov commented on #430
Working on it, no worries, bot.

[2017-03-23 16:01] kanhegaonkarsaurabh commented on #411
@zulipbot claim

[2017-03-24 06:59] saketkumar95 opened #456 "Android: Improving the login flow of the app."
**Actual Behaviour**

Currently the login flow of the app is quite normal.

**Expected Behaviour**

Re-desiging the login flow same as it was in java android app along with adding the some intro tutorial sliders for the app.

**Would you like to work on the issue?**

Yes.

[2017-03-24 07:01] saketkumar95 commented on #456
@zulipbot claim

[2017-03-24 07:03] vishwesh3 commented on #212
@zulipbot claim

[2017-03-24 13:27] nashvail commented on #418
I am working on it bot, waiting for @borisyankov to review the code :).

[2017-03-24 15:20] borisyankov commented on #456
Hey, @saketkumar95 you probably want to give more specific examples of what exactly in the flow you want to improve.
'Intro tutorial sliders' - is another task that might have been planned and/or worked already by someone else (under the name of 'onboarding').

So, in any case, the 'login flow' and 'onboarding' will be two different tasks.

[2017-03-24 18:06] saketkumar95 commented on #456
@borisyankov By login flow i meant adding

 - Intro tutorial sliders
 - Register and forgot password option
 - Improving some UI experiences same as it was in Java android app.

For more information :
From this
![whatsapp image 2017-03-24 at 11 28 37 pm](https://cloud.githubusercontent.com/assets/21558765/24307463/466c04f6-10ea-11e7-9bc0-a266adaa520b.jpeg)

To this :

![3](https://cloud.githubuser

[2017-03-24 19:22] timabbott commented on #456
@saketkumar95 let's split this into two projects.  This one can be about adding things like register/forgot password; and we can open another issue for a tutorial.  And you should only work on only one of the two at a time -- it's more important to get things finished and merge than to start on lots of things, since users only benefit when things are finished :).

[2017-03-24 19:46] vishwesh3 opened #458 "Server URL Input should not be scrollable"
![ezgif com-video-to-gif 12](https://cloud.githubusercontent.com/assets/18511177/24311101/ae057468-10f8-11e7-8ffd-3ea7748b93fe.gif)

[2017-03-24 19:46] vishwesh3 commented on #458
@zulipbot claim

[2017-03-24 20:59] kunall17 commented on #420
This can be closed now as the app handles the error's now!

<img width="200" alt="screen shot 2017-03-25 at 2 26 05 am" src="https://cloud.githubusercontent.com/assets/12700799/24313342/71f7abda-1102-11e7-902e-3d91c5dc58fc.png">

[2017-03-24 21:04] timabbott commented on #420
I think we could make a nicer version of the flow where if you enter `zulipchat.com`, and it gets that error, it moves `zulipchat.com` to be the RHS of a text box where you just need to enter the domain (and we could have a "which subdomain on zulipchat.com is your organization"), similar to how Slack's login flow works on mobile.  I think that would be a nice touch.  Maybe worth moving that to a

[2017-03-24 21:32] saketkumar95 commented on #456
@timabbott yeah cool. :) I will open another issue for a intro slider tutorial. :)

[2017-03-24 21:37] saketkumar95 opened #459 "Intro slider tutorial for new users"
Currently  the app does not contain a intro sliders tutorial at its first run and the features in Zulip may be intimidating for few users. To make sure that every user knows all the features of the Zulip-mobile app There should be a tutorial about all the tools the app provides to increase user’s productivity.

And also having an option to access this tutorials again in future.

Guidance to new pe

[2017-03-24 21:40] saketkumar95 commented on #459
@zulipbot label "android"

[2017-03-24 21:41] saketkumar95 commented on #459
@zulipbot label "enhancement"

[2017-03-24 21:46] saketkumar95 commented on #456
Opened another issue for tutorial sliders here https://github.com/zulip/zulip-mobile/issues/459

[2017-03-24 21:54] borisyankov commented on #458
Good catch! Also worth checking all other input controls for the same issue.

[2017-03-24 21:57] borisyankov commented on #459
This is definitely a feature that should be for both iOS and Android.

[2017-03-24 22:00] saketkumar95 commented on #459
@zulipbot label "iOS"

[2017-03-24 22:31] kunall17 commented on #420
@timabbott Yeah, that would look nice, will work on it later on, should I create an Issue for it or we should use this one?

[2017-03-25 01:25] timabbott commented on #420
Let's create an issue for that, since this issue is somewhat cluttered with irrelevant details.

[2017-03-25 01:25] #420 closed

[2017-03-25 05:05] huyanhh commented on #322
I can still work on this issue.

[2017-03-25 05:52] vihanggodbole commented on #459
@zulipbot claim

[2017-03-25 22:51] #71 closed

[2017-03-25 22:54] #368 closed

[2017-03-25 22:54] #353 closed

[2017-03-26 02:07] synicalsyntax commented on #180
Hello @, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something else, simpl

[2017-03-26 02:07] synicalsyntax commented on #212
Hello @vishwesh3, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something el

[2017-03-26 02:07] synicalsyntax commented on #267
Hello @kunall17, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something els

[2017-03-26 02:07] synicalsyntax commented on #310
Hello @huyanhh, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something else

[2017-03-26 02:07] synicalsyntax commented on #322
Hello @huyanhh, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something else

[2017-03-26 02:07] synicalsyntax commented on #349
Hello @nashvail, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something els

[2017-03-26 02:07] synicalsyntax commented on #411
Hello @kanhegaonkarsaurabh, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on so

[2017-03-26 02:07] synicalsyntax commented on #416
Hello @neerajwahi, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something e

[2017-03-26 02:07] synicalsyntax commented on #418
Hello @nashvail, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something els

[2017-03-26 02:07] synicalsyntax commented on #427
Hello @borisyankov, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something

[2017-03-26 02:07] synicalsyntax commented on #428
Hello @borisyankov, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something

[2017-03-26 02:07] synicalsyntax commented on #430
Hello @borisyankov, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something

[2017-03-26 02:07] synicalsyntax commented on #435
Hello @vishwesh3, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something el

[2017-03-26 02:07] synicalsyntax commented on #450
Hello @borisyankov, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something

[2017-03-26 02:07] synicalsyntax commented on #456
Hello @saketkumar95, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something

[2017-03-26 02:07] synicalsyntax commented on #458
Hello @vishwesh3, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something el

[2017-03-26 02:07] synicalsyntax commented on #459
Hello @vihanggodbole, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on somethin

[2017-03-26 02:44] vihanggodbole commented on #459
I claimed this issue just yesterday and this issue too was raised just yesterday. I am definitely working on this issue!

Vihang

On 26 Mar 2017, 7:37 AM +0530, Cynthia Lin <notifications@github.com>, wrote:

[2017-03-26 02:45] timabbott commented on #459
Yeah that notice was a zulipbot bug :(

[2017-03-26 02:46] synicalsyntax commented on #459
@vihanggodbole Sorry about that, please reclaim the issue by posting `@zulipbot claim`

[2017-03-26 02:47] vihanggodbole commented on #459
Oh alright never mind :)
Are there any specific instructions or graphics that I **must** include in the intro?
If possible I'd like to discuss it with  you guys on the chat.

[2017-03-26 02:47] vihanggodbole commented on #459
@zulipbot claim

[2017-03-26 04:31] vihanggodbole opened #462 "NavigationExperimental is deprecated"
Going through the docs I found that `NavigationExperimental` [is deprecated](http://facebook.github.io/react-native/docs/navigation.html#navigationexperimental) as of version 0.43 and will be removed from the codebase later on.
We should switch to other components like the `Navigator` or `NavigatorIOS` to avoid issues in the future.

[2017-03-26 04:32] vihanggodbole commented on #462
@zulipbot label "bug"

[2017-03-26 06:29] huyanhh commented on #462
Could this be a potential replacement? [Wix 60fps Navigation](https://github.com/wix/react-native-navigation)

[2017-03-26 06:30] huyanhh commented on #310
Yep, still working on it!

[2017-03-26 06:33] vihanggodbole commented on #462
@huyanhh Yes! I'll look into that. Thank you.

[2017-03-26 11:46] nashvail commented on #447
@timabbott @borisyankov @neerajwahi I was wondering if the left SideBar can be left exclusively for streams and the main 4 navigations (Home, Private Messages, Starred & Mentions) could be moved to a [TabBar](https://developer.apple.com/ios/human-interface-guidelines/ui-bars/tab-bars/).

[2017-03-26 14:09] borisyankov opened #464 "Display typing indicator"

[2017-03-26 14:14] borisyankov commented on #447
Not only that! I am pushing for more tabs :) There is some work done in 'main-tabs' folder though it was long ago and not sure if it is even working at the moment.

I don't forsee this to be something to be implemented immediately, but I would push for that after we have stable iOS and Android apps in the app store.

[2017-03-26 14:36] vishwesh3 commented on #458
Same issue with `email` input field in the `Sign in` page.

[2017-03-26 18:47] borisyankov commented on #462
The first candidate would be [React Navigation](https://github.com/react-community/react-navigation). Others are Wix, AirBnB, ReactRouter.

We do not need to replace immediately. Most other good solutions are still maturing and finalizing.

Wix's one is being rewritten for 2.0, React Navigation is not yet at v1 etc.

[2017-03-27 03:46] Sam1301 commented on #264
@zulipbot claim

[2017-03-28 21:51] #428 closed

[2017-03-29 11:15] nashvail commented on #240
Claiming issue to work on
"On selecting a new account in 'Switch Account' animate selected to move first in list"
@zulipbot claim

[2017-03-29 11:58] borisyankov opened #469 "When server returns 0 messages on 'message get' loading progress remains"

[2017-03-29 15:41] borisyankov commented on #240
Cool. Now that I think of it, not 100% sure it is a good idea to even display such an animation. What do you think? :)

Also, feel free to suggest much more ideas for animations. I haven't thought about it too much, so the list is very far from exhaustive.

[2017-03-29 16:05] nashvail commented on #240
I am skeptical about the usefulness this animation as well. Thought I'd make my point stronger with the implemented version, but I'll just let myself go here.

To show the animation of an account transitioning up the list only delays the final outcome of user's action, which here is to switch accounts. I think the current implementation of direct tap and switch account is good. Moreover I haven't

[2017-03-29 17:10] borisyankov commented on #240
Maybe I was thinking of this animation when the drawer was not hiding automatically (which was a bug).
I'd say skip this, but do some other animations you can think of.

[2017-03-29 17:38] nashvail commented on #240
Absolutely! I'll suggest and imple,emt some animations that i think can be added to the app.

[2017-03-30 18:52] #450 closed

[2017-03-30 23:03] borisyankov opened #472 "Reject requests done against a previously selected account"
Currently, if an outstanding request (for example get messages) is resolved after user switches accounts, the request is accepted and processed as if it came from current account, thus mixing up data from two different accounts.

[2017-03-31 05:30] Sam1301 commented on #173
Claiming the "add emoji reaction" part
@zulipbot claim

[2017-03-31 17:26] #469 closed

[2017-03-31 17:38] #295 closed

[2017-03-31 17:40] borisyankov commented on #430
The critical part of it is done. Moving to M6 for the rest.

[2017-03-31 21:09] vishwesh3 opened #474 "Regarding soft keyboard"
1) Hide soft keyboard on submission (after entering server URL & email id and password). So, if there is an error it can be easily seen by user. And user will not think that app is not responding (as error is hidden by keyboard on small screen devices.)

2) Enable submission by done button of keyboard.

[2017-03-31 21:09] vishwesh3 commented on #474
@zulipbot claim

[2017-03-31 21:40] prati0100 opened #475 "Entire button on the log in screen is not selectable"
When logging in, the user is prompted to enter the server URL. The button for "Enter" is supposedly the entire green area, but actually it does nothing when tapped on the green area. It only works when the user taps the text "Enter". The same happens for the following screens where you have to enter the username and password.

![1](https://cloud.githubusercontent.com/assets/8817931/24570256/295f4a

[2017-03-31 21:55] Sam1301 opened #476 "iOS: Message search results incorrectly overlap."
Tested on iPhone 6-iOS 10.3 simulator
The message search results incorrectly overlap over each other.

Heres a short [video](https://drive.google.com/open?id=0B4jK5QX65b0ZbnkydlBFVDRRajA).

[2017-04-01 03:29] borisyankov commented on #476
A curious effect. :)
Thanks for reporting.

[2017-04-01 04:30] saketkumar95 commented on #475
@zulipbot claim

[2017-04-03 00:26] huyanhh opened #478 "iOS (design): Consistency in colors for text and buttons"
According to the [Apple Human Interface Guidelines](https://developer.apple.com/ios/human-interface-guidelines/visual-design/color/), we think closely about what colors to use for text and buttons.

I've messed up a few times trying to navigate through the topics and thought this is probably something other people also experience. For instance, on the Home Screen, there is a home icon to the left

[2017-04-03 00:39] borisyankov commented on #478
Neeraj @neerajwahi did change the color from white text on 'brand green' background to the reverse. I think our original approach was better and wasn't suggesting 'tappability'.

[2017-04-03 05:22] whoyawn opened #479 "iOS: Long titles cover the "users" icon"
For stream narrows longer than the width of the navigation bar, the right nav button disappears.

![screen shot 2017-04-02 at 7 04 26](https://cloud.githubusercontent.com/assets/15709918/24596214/74e0f396-17f2-11e7-9167-9ba972694bc2.png)

Expected: nav button should still be there
How to reproduce: Switch into any stream title with a long name

[2017-04-03 05:47] vishwesh3 commented on #479
How about splitting stream (title) and topic (subtitle) in different lines. Using [ellipsizeMode](https://facebook.github.io/react-native/docs/text.html#ellipsizemode) for the topic (subtitle). Or using [MarqueeLabel](https://github.com/remobile/react-native-marquee)

[2017-04-04 07:59] nashvail commented on #240
Starting to work on
"On reaction added, animate the count number from top to bottom (like in Slack)". I think it's a nice little delightful detail.

@borisyankov the list looks a little jumbled and has redundant items. Also is there a way for others to add animations to this list. Maybe link to an external document would do?

[2017-04-04 16:05] borisyankov commented on #240
Maybe use the wiki?

[2017-04-04 16:09] borisyankov commented on #240
I created a wiki and moved the items there. See the new item I added for conversations.
Feel free to add as many as you think of, put most important on top.
We might never implement some that are at the bottom.

[2017-04-04 20:07] timabbott commented on #479
It's possible that just using elipses to cut off the topic is reasonable here (maybe with some way to touch the heading and see the full version); I suspect it's rarely the case the end of the super long topic is important to be able to see in the heading.

[2017-04-05 00:11] timabbott commented on #472
Ideally, long-term, we'll want our multi-account support to have really fast switching between accounts where we potentially maintain state for more than 1 account handy.  But at the very least it seems worth adding an account ID field in our requests that we can use to keep track of which account it goes with; for now it can just ignore the response, but long-term we'll want it just process for t

[2017-04-05 02:37] vishwesh3 commented on #479
@zulipbot claim

[2017-04-05 17:03] borisyankov opened #482 "Better icon for 'group chats' in conversation list"
For group conversations, we are currently showing a pseudo-icon created from the initials of all participants.

A better approach is a composite icon consisting of all recipients avatars.

The first step to this task is to explore how it is achieved in other apps and discuss the approach we will use. (for example, Skype and FB Messenger uses a circle split into parts, and some other was showing it

[2017-04-05 21:54] #476 closed

[2017-04-05 21:56] borisyankov commented on #472
We can have a full state copy per account.
That is a rather custom use of Redux, but that seems like the right approach.
I wonder if there is any benefit to keep polling events from more than one server at a time. What do you think @timabbott?

[2017-04-05 22:50] timabbott commented on #472
I think it'd potentially make sense to keep polling events for multiple servers -- if a user is switching back and forth over the course of a session, we could save a lot of time that way.

[2017-04-06 04:29] #426 closed

[2017-04-06 12:17] vishwesh3 commented on #482
For two people in group
![two](https://cloud.githubusercontent.com/assets/18511177/24753512/11944378-1af0-11e7-83a1-365ae961b812.png)

for three
![three](https://cloud.githubusercontent.com/assets/18511177/24753520/1b2f8654-1af0-11e7-926c-5f7ef78782f4.png)

for four
![four](https://cloud.githubusercontent.com/assets/18511177/24753528/21ffc16a-1af0-11e7-89cc-11215df3d35e.png)

for more than four
![

[2017-04-08 15:57] nashvail commented on #240
@borisyankov could you elaborate a little on exactly what needs to happen in the animation "When receiving or sending a private message, the conversation moves to top"?

[2017-04-08 16:16] borisyankov commented on #240
I was referring to the Conversation list to the right. If I write to you and you are looking at the list, I will move to the top instantly. Many chat apps animate that item transition.

[2017-04-08 16:17] borisyankov commented on #240
BTW We might start using the new list components, have a look:
https://facebook.github.io/react-native/blog/2017/03/13/better-list-views.html

[2017-04-08 17:01] borisyankov opened #489 "Make sure search results behave correctly"
* [x] If narrowing, close the search results screen.

[2017-04-08 17:02] #130 closed

[2017-04-08 17:03] #78 closed

[2017-04-08 17:08] borisyankov commented on #482
That looks nice. We can also have  overlapping.
Need few more iterations.

[2017-04-08 17:08] #183 closed

[2017-04-08 17:08] #210 closed

[2017-04-08 17:11] #236 closed

[2017-04-08 17:14] #265 closed

[2017-04-08 17:17] borisyankov commented on #173
@Sam1301 maybe create a new issue with the 'Add Emoji Reaction' since technically one can not claim parts of an issue :)

[2017-04-08 17:28] borisyankov opened #491 "Publish a Beta to Android Play Store"

[2017-04-09 21:06] borisyankov opened #493 "Tablet-friendly layout"
Make sure the layout adapts to accommodate the larger surface area.

[2017-04-09 21:42] #458 closed

[2017-04-09 23:28] #427 closed

[2017-04-09 23:34] borisyankov commented on #475
@saketkumar95 any progress on this?

[2017-04-09 23:42] borisyankov opened #495 "Android Public Release"
- [ ] Everything for iOS #586
- [ ] Compose box correct sizing #457
- [ ] Performance issues, unknown cause #587
- [ ] Choppy Drawer animations. Will be fixed with #504
- [ ] Android 4.1-4.4 support #544

[2017-04-10 02:55] vishwesh3 commented on #495
Compose box correct sizing is fixed in https://github.com/zulip/zulip-mobile/pull/457

[2017-04-10 22:57] borisyankov opened #496 "Offline-first behavior"
* cache data and use if there is no connection
* implement cache invalidation and 'catching up' strategies

Useful library to investigate:
https://github.com/jevakallio/redux-offline

[2017-04-10 23:02] borisyankov opened #497 "Encrypt persisted store"
This is currently not needed.
We don't yet cache anything besides logged in accounts (which we might encrypt with the device keychain).

Possibly use:
https://www.npmjs.com/package/redux-persist-transform-encrypt

[2017-04-11 00:01] borisyankov opened #498 "Optimistic update of sent message"
* Use an optimistic redux library or handcraft
* Format text with markdown (or skip for v1)
* If message fails, replace with a new MessageFailed component that has a 'resend' button

[2017-04-11 03:52] #338 closed

[2017-04-11 03:54] borisyankov commented on #416
Closing this, after a lot of testing.
Our implementation is correct. Tim confirmed it is backend issue, fix is committed, not deployed.

[2017-04-11 03:54] #416 closed

[2017-04-11 03:58] #62 closed

[2017-04-11 03:59] borisyankov opened #500 "Special-case handling of offline mode"
* use NetInfo for offline detection
* behave differently with api requests (maybe not issue them?)
* errors should be aware of this

[2017-04-11 06:26] nashvail commented on #498
@zulipbot claim

[2017-04-11 17:28] #464 closed

[2017-04-11 19:55] borisyankov opened #503 "Replace ListView with FlatList and SectionList"
* requires React-Native 0.43
* has better API than ListView
* is faster
* in future ListView will be deprecated in favor of these

[2017-04-11 20:22] borisyankov opened #504 "Implement React Navigation"
React Navigation is our best option, it seems.

* is officially supported by people from Facebook and Exponent, gaining momentum
* Wix's navigation is being rewritten for 2.0, can't really consider it seriously
* AirBnB's navigation is also cool but in early stages

[2017-04-11 22:45] vishwesh3 commented on #482
Horizontal overloaping.
for two
![overlap 2](https://cloud.githubusercontent.com/assets/18511177/24933676/22eb4d9e-1f35-11e7-89cf-225061d0e96a.png)
for three
![overlap 3](https://cloud.githubusercontent.com/assets/18511177/24933932/9af94844-1f36-11e7-9ab9-f504244654bc.png)

Showing at most 3 or 4 avatars. If there are more people then overlap a count view (eg +6 in above images.)

Thoughts?

[2017-04-13 21:09] jainkuniya opened #510 "Android: Make headers to float/stick on top."
![ezgif com-crop 6](https://cloud.githubusercontent.com/assets/18511177/25024380/5d91644c-20bb-11e7-9c9a-d3a9f76c4adc.gif)

[2017-04-14 20:38] borisyankov commented on #510
Hmmm, how did you achieve this?
It is working fine for me.

[2017-04-14 20:43] borisyankov opened #512 "Upgrade to React Native 0.43"
Stoppers:

- [x] Some 3rd party components were rising warnings on day 1 of release, as React did some maintenance changes. This is not a bug but breaks the build. This is mostly a wait-and-see when they are fixed.
- [x] We should ensure nothing breaks the app (usually nothing does in RN upgrades)
- [ ] NavigationExperimental is deprecated. I'll be replacing it with React Navigation.

[2017-04-15 00:10] vishwesh3 commented on #510
normal run on Android.

[2017-04-15 00:27] vishwesh3 opened #514 "Change NavigationBar color to Stream color when narrowed to topic."
Currently, color changes in the stream narrow, but in topic narrow it is white. It doesn't look nice that stream narrow is colorful but topic narrow doesn't (topic narrow is sub-part of stream narrow).

[2017-04-15 00:28] vishwesh3 commented on #514
@zulipbot claim

[2017-04-15 14:50] nashvail commented on #512
Even new list components FlatList, SectionList e.t.c (https://facebook.github.io/react-native/blog/2017/03/13/better-list-views.html) depend on RN 0.43, will we be making a swtich to them as well?

[2017-04-15 21:35] #514 closed

[2017-04-15 23:31] borisyankov opened #516 "Automatically replace common emoji shortcuts to actual emojis"
While composing a message, replace emoji text representations with actual unicode emojis:

:) to 😄
:P to 😛

* Have a map of strokes to emoji conversion
* On each change event in the ComposeText component, check if latest symbols are in the map

[2017-04-15 23:59] #8 closed

[2017-04-16 00:10] borisyankov commented on #240
https://medium.com/ux-in-motion/creating-usability-with-motion-the-ux-in-motion-manifesto-a87a4584ddc

[2017-04-16 05:02] borisyankov opened #517 "Thumbs up button when no text in compose box"
A popular feature in FB Messenger is the 'Thumbs Up' button that is shown when no text is entered.
We might want to consider adding this.

[2017-04-16 05:02] borisyankov commented on #517
@timabbott 👍 || 👎

[2017-04-16 05:06] borisyankov opened #518 "'No Messages' is not being displayed"
'No Messages' should be displayed when there are no messages and no fetching is in progress. (it used to work)

[2017-04-16 06:54] vishwesh3 commented on #518
@zulipbot claim

[2017-04-16 16:01] divs4debu commented on #516
One simple approach can be having map of these text -> emoji's and before sending the message we can parse it and then replace the text with emoji's.

2nd approach can be instead of parsing the text before sending we can have a buffer which will store the current typed word _(i.e. which will empty evertime the space bar is pressed.)_ and then find is that word in the map. This approach will provid

[2017-04-16 16:05] borisyankov commented on #516
#1 sounds the best.
We would do it live, while the user types.

[2017-04-16 18:52] timabbott commented on #516
Do we want to do this on the backend?  There's an open issue for that.

[2017-04-16 18:53] timabbott commented on #517
Hmm, I worry that might encourage messages containing :+1: rather than using emoji reactions.  While both have their place (basically whether you want to create an unread count for other users), I feel like this maybe deserves a discussion in #design.

[2017-04-16 18:57] borisyankov commented on #516
Maybe we want to do it both on back-end and front-end?

[2017-04-18 16:06] timabbott commented on #516
Possibly, if we're doing some sort of inline preview.  But I guess this suggests we should do it in the backend first? :)

[2017-04-18 16:12] borisyankov commented on #516
I just noticed FB Messenger does not do the replacement in the compose box, neither in the web app or in the mobile app. I guess it is good enough to be done server-side, but we also want the optimistic update to be fully rendered.

[2017-04-18 20:39] timabbott commented on #516
Maybe worth doing the refactor in the webapp to split the local-echo related pieces of `echo.js` from the rendering pieces (which are likely reusable here).

[2017-04-19 03:17] divs4debu commented on #510
@vishwesh3 @borisyankov I searched little about it and found that this feature will be implemented in react-native 0.44 [https://github.com/facebook/react-native/issues/2700](url).
One solution can be changing the android specific code in android generated files and implement scroll listeners .

[2017-04-19 04:21] huyanhh commented on #322
@zulipbot abandon, couldn't figure out how to replicate all the data being passed :(

[2017-04-19 04:42] #422 closed

[2017-04-19 15:53] borisyankov commented on #510
Cool, thanks for finding it.
I wasn't even aware it is not yet supported. Rather good timing I must admit ;)
We can definitely wait till 0.44 which will release in 15-20 days.

Also, we will be investigating if we can replace the ScrollView for MessageList with the new SectionList.

[2017-04-22 06:03] #518 closed

[2017-04-22 15:19] Sam1301 opened #523 "Narrow doesn't work as expect for message header clicks"
This seems to be a recent regression (probably after #492).

When message headers are clicked, user isn't narrowed to the specific message. Instead it takes user to the end of the narrowed message list.
I am not sure if this change is intentional, but seems different from the behaviour on the web :).

[2017-04-22 15:32] borisyankov commented on #523
I noticed that, but I don't think it has ever worked.

[2017-04-22 15:51] divs4debu commented on #495
I have solved the 2 bugs that are marked should i send the pic ? @borisyankov

[2017-04-22 16:50] Sam1301 commented on #523
oh right, sorry for the confusion :).
I actually meant that we had this functionality before
https://drive.google.com/open?id=0B4jK5QX65b0ZaHFlMkF6NEJXOEU

but currently this happens when message header is clicked.
https://drive.google.com/open?id=0B4jK5QX65b0ZQlRZWFpQTDU3T1k

[2017-04-22 17:02] borisyankov commented on #523
Hmm, interesting ;)
When I was doing the #492 I noticed that the code had some intent for this to work, but at this point it wasn't working anymore, and I thought maybe it had never worked. I guess it broke at some point before that.

[2017-04-22 18:21] divs4debu commented on #495
@borisyankov  have a look on this -
![satuts-bar](https://cloud.githubusercontent.com/assets/9443348/25306989/9462de86-27b6-11e7-83a9-4bc3cf6f2bdd.png)
![status-navigation](https://cloud.githubusercontent.com/assets/9443348/25306990/9463ceea-27b6-11e7-8e66-fefc3b48eef8.png)
Does they look fine?

[2017-04-23 04:53] divs4debu commented on #495
@borisyankov  I have some updates Please review -
![device-2017-04-23-101958](https://cloud.githubusercontent.com/assets/9443348/25310906/bf8124b2-280e-11e7-95f6-29e1acdd5be7.png)
![device-2017-04-23-102015](https://cloud.githubusercontent.com/assets/9443348/25310907/bf817fe8-280e-11e7-8bef-6c4c92c61d61.png)
![device-2017-04-23-102040](https://cloud.githubusercontent.com/assets/9443348/25310908/bf

[2017-04-23 14:12] borisyankov commented on #495
@divs4debu the issues that are checked are already resolved.

[2017-04-23 14:16] divs4debu commented on #495
@borisyankov arent they merge yet ?

[2017-04-23 14:32] divs4debu commented on #438
@timabbott  While searching for this i found this stackoverflow link - [http://stackoverflow.com/questions/17565307/how-to-display-count-of-notifications-in-app-launcher-icon](url)
It says we could it using widgets as vanilla android doesnot allow you to draw on app icon. What are your thoughts?

[2017-04-23 16:55] timabbott commented on #438
There seem to be a number of apps that do this on Android without requiring the user to install a widget; it's probably worth doing a bit more research into options for doing this.

[2017-04-23 17:01] borisyankov commented on #495
They are. The difference being that the statusbar for white header does not change color I think.

[2017-04-23 17:06] borisyankov commented on #438
@divs4debu Note the date of the question on StackOverflow. Things move fast on mobile and 4 years is definitely an eternity.

I actually have not seen an app on stock Android doing the badges (while it is a standard feature on iOS). Maybe it is very dependent on what launcher the user has?!?

In any way, there are prerequisites to be implemented before this is even possible. We need to add mechani

[2017-04-23 17:22] divs4debu commented on #495
When i look around the code i noticed that in MainNavbar -
`<StatusBar
          barStyle={textColor === 'white' ? 'light-content' : 'dark-content'}
        />`
now if text color isnt white it will switch to dark-content and background color is black by default and hence they are not visible. what we can do is
`barStyle = "Default"`
link - [https://facebook.github.io/react-native/docs/statusbar.ht

[2017-04-23 17:32] divs4debu commented on #438
@borisyankov  the mechanism for app to pull messages while not running could be -
- https://facebook.github.io/react-native/docs/native-modules-android.html
currently i found this i will do a bit more research as suggested by you and @timabbott.
@timabbott can you mention some apps that does that i would like to do specific research on app that does that.

[2017-04-23 17:35] vishwesh3 commented on #438
facebook app is a good example.

[2017-04-23 18:07] borisyankov commented on #438
@vishwesh3 what is Facebook an example for? Not sure I follow.

@divs4debu ideally the solution will be both for Android and iOS.

Related issue:
https://github.com/zulip/zulip-mobile/issues/408

[2017-04-23 18:17] vishwesh3 commented on #438
Showing counts on icon

[2017-04-23 18:19] divs4debu commented on #438
@vishwesh3 i just downloaded the facebook app but it doesnt show any badge and i have 11 notification 2 messages on facebook . This might be due to some mobile provide this function and some not .

[2017-04-23 18:20] divs4debu commented on #438
@borisyankov  Using headless.js would help only if app is not focus but wont help when app is closed .

[2017-04-23 18:21] vishwesh3 commented on #438
ok. This might depend on phone UI or launcher.

[2017-04-23 18:36] vishwesh3 commented on #438
yup! it depends on mobile launcher
In my default launcher it is showing
![89a473b1-de93-4387-b5fd-d6f66c205825](https://cloud.githubusercontent.com/assets/18511177/25316285/d0d1f43a-2881-11e7-9125-105d82835de9.jpg)
but not showing in google now launcher

[2017-04-24 08:44] vishwesh3 commented on #482
@zulipbot claim

[2017-04-24 11:08] borisyankov commented on #482
I think the first option was definitely better, but not ideal yet.
Can you test several mobile apps and see what they do and submit screenshots?
Then we'll decide on which one you should implement.

[2017-04-24 16:25] borisyankov opened #528 "Element and font sizes on different devices"
The majority of this task is testing competing apps on differently sized devices.

Some things to compare:
* avatar sizes
* font sizes in chat
* font sizes in other UI elements
* button sizes
* anything else

[2017-04-24 16:37] borisyankov commented on #495
Aaah, the StatusBar PR is not yet merged.

[2017-04-24 17:10] vishwesh3 commented on #482
Something like this
1)
![circle-1](https://cloud.githubusercontent.com/assets/18511177/25349100/35135e40-293e-11e7-9d60-3df11ef86501.png)

2)
![individual-circles](https://cloud.githubusercontent.com/assets/18511177/25349128/521ba682-293e-11e7-9c75-82d9294744f4.png)

3)
![overlap](https://cloud.githubusercontent.com/assets/18511177/25349129/5222408c-293e-11e7-9f4a-a30f646bf57f.png)

@zulip/react-n

[2017-04-24 18:03] divs4debu commented on #516
Well i tried to do this and here are the result - A short video please comment need suggestions.
[https://drive.google.com/open?id=0BzZnaFq4F3EdVXhpU25oV2ZRMUU](url)

![emoji](https://cloud.githubusercontent.com/assets/9443348/25351405/3994fbce-2946-11e7-8846-1b6f0f1a6aa7.png)

[2017-04-24 18:09] lonerz commented on #482
@zulipbot claim

[2017-04-24 18:09] lonerz commented on #482
@zulipbot abandon

[2017-04-24 18:15] vishwesh3 commented on #482
@zulipbot claim

[2017-04-25 19:38] vishwesh3 opened #530 "Font color is black in iOS but Gray/Grey in Android"
In Android all text color (time, sender name, message) are grey. Which doesn't look good.
![5c895738-ad74-4aa6-8312-215ac9457316](https://cloud.githubusercontent.com/assets/18511177/25403957/cde728ee-2a1b-11e7-913b-9ba786bbfe2f.jpg)
![2083035f-213d-477b-9f33-a37604ee3e6c](https://cloud.githubusercontent.com/assets/18511177/25403959/ce4ec5b2-2a1b-11e7-87eb-e256b928f1ce.jpg)

[2017-04-25 19:38] vishwesh3 commented on #530
@zulipbot claim

[2017-04-25 19:47] saketkumar95 opened #531 "Toggling secureTextEntry between true and false"
Adding a feature of show/hide password in login page

[2017-04-25 19:47] saketkumar95 commented on #531
@zulipbot claim

[2017-04-26 05:13] borisyankov commented on #530
This might be considered fixed by #519

[2017-04-26 12:20] #162 closed

[2017-04-26 16:43] divs4debu opened #532 "Some messages can not be rendered"
****Steps to reproduce****
- open _test here_ stream .
- scroll to bottom
- try to write something
- app crashes

****ScreenShot****
![crash](https://cloud.githubusercontent.com/assets/9443348/25445097/0634f8fc-2acb-11e7-8240-e167b1b1fe47.png)

****Log****
[code]
****Stacktrace****
![crash-stacktrace](https://cloud.githubusercontent.com/assets/9443348/25445435/0bc39246-2acc-11e7-9330-00ae65849e02.

[2017-04-26 16:44] divs4debu commented on #532
@borisyankov  Please review this issue

[2017-04-26 16:44] divs4debu commented on #532
@borisyankov Please review this issue

[2017-04-26 16:46] divs4debu commented on #516
@zulipbot claim

[2017-04-26 17:39] divs4debu commented on #516
@borisyankov  @timabbott there is a problem i am facing when i update the emoji in composeText and hit send send then the emoji dont appear on the send message
****Written the emoji in ComposeText****
![emoji-not-appear](https://cloud.githubusercontent.com/assets/9443348/25448154/2b534940-2ad5-11e7-9c04-545fc44f0fb6.png)
****Emoiji Donot appear****
![emoji-not-appear2](https://cloud.githubusercont

[2017-04-26 17:55] divs4debu commented on #516
I think its problem at zulip-mobile app side because i saw correct result on zulip-android application.
![emoji-not-appear3](https://cloud.githubusercontent.com/assets/9443348/25448886/a3383c2a-2ad7-11e7-8f02-ec4cec148faf.png)

[2017-04-26 18:34] vishwesh3 commented on #530
Yup! it is fixed.

[2017-04-26 18:34] #530 closed

[2017-04-26 20:01] borisyankov opened #533 "Internationalization"
Add multi-lingual support

- [x] Get new strings into Transifex
- [x] Get translations from Transifex
- [x] Evaluate translation components for RN
- [x] Make all components translation aware
- [ ] Add a way to change language (a Settings screen?)

[2017-04-27 11:56] borisyankov commented on #532
This is caused by the html rendering code. It is not Android specific, same bug is on iOS.
I am trying to rewrite message rendering to avoid this issue.